[2022-11-03 20:51] TylerHelmuth commented on #15658
@dmitryax thanks.

[2022-11-03 21:34] atoulme commented on #14315
The behavior of the collector, coupled with the new release of gopsutil, should now fix the issue. I will mark this closed and I look forward to the next release of the collector.

[2022-11-03 21:34] #14315 closed

[2022-11-03 22:53] jamesmoessis commented on #16032
@austinlparker thanks for uploading the logs - To me it looks like it's working as expected:

[code]

The metric you mentioned `container.cpu.percent` is grouped under that resource.

To me it looks like the docker stats receiver is working as expected. Perhaps there's something else in your pipeline which is affecting resource attributes.

[2022-11-03 22:55] austinlparker commented on #16032
Hm, maybe there's something in the Prometheus exporter about applying resource attributes to metrics. I'll have to take a look.

[2022-11-03 22:57] jamesmoessis commented on #16032
Ooo yep, you commented back before I edited my comment saying it could be the prom exporter 😆

[2022-11-04 00:06] #15654 closed

[2022-11-04 01:47] nicolasgere commented on #9588
Did you found a solution there?

[2022-11-04 03:08] #16028 closed

[2022-11-04 05:31] dmitryax commented on #4623
This feature request makes sense but we don't have enough capacity to work on it at this point. Any help is appreciated. Should be implemented once we have e2e tests in place tho https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/15651

[2022-11-04 06:16] dmitryax commented on #3179
The bug was fixed in 0.25.0

[2022-11-04 06:16] #3179 closed

[2022-11-04 06:17] dmitryax commented on #3180
The bug was fixed in 0.25.0

[2022-11-04 06:17] #3180 closed

[2022-11-04 06:22] genebean commented on #4987
Still relevant

[2022-11-04 06:39] dmitryax commented on #12982
Another occurrence https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3391336351/jobs/5636411997

[2022-11-04 06:39] #12982 closed

[2022-11-04 07:20] navin-rai commented on #15291
Even I am facing the same issue, @shrutich91 , did you find any solution ?

[2022-11-04 08:42] frzifus commented on #15291
@navin-rai did you try to run the collector out side of Docker as @jpkrohling has proposed?

[2022-11-04 08:56] navin-rai commented on #15291
I have deployed OTEL-COLLECTOR-Contrib on Kubernetes (locally [docker-desktop]) and I have spinned `jegaer:all-in-one` in docker, still facing the same issue.

[2022-11-04 09:10] frzifus commented on #15291
in Kubernetes or docker-desktop? Could you verify that both container (collector and jaeger instance) run in the same docker network and the jaeger instance is reachable with the hostname `jaeger`? I guess you can use `docker inspect` for that.

I assume its a network issue, since connecting from a local build works fine.

**Start Jaeger**
[code]

**Run local collector**
[code]
**Config**
[code]

[2022-11-04 09:44] #15690 closed

[2022-11-04 09:54] weyert commented on #2286
Yes, still relevant

[2022-11-04 10:24] Dongqi-Guo commented on #16045
@djaglowski
I encountered another problem.
I built a custom package included logstransform. when I started, also met a new issue as below:

2022-11-04T18:16:36.114+0800    info    logstransformprocessor@v0.63.0/processor.go:56  Stopping logs transform processor       {"kind": "processor", "name": "logstransform", "pipeline": "logs"}
panic: runtime error: invalid memory address or nil pointer deref

[2022-11-04 10:27] lukestoward opened #16075 "[exporter/awsxray] Favour semconv attributes when populating Queue URL and Table Name"
### Component(s)

exporter/awsxray

### Describe the issue you're reporting

Currently the `awsxray` exporter is looking for X-Ray custom attribute keys when populating the `queueURL` and `tableName` properties during the translation between OTel and X-Ray formats. Some instrumentation libraries, such as the `aws-sdk-go-v2/otelaws` do not set the X-Ray custom attributes, but instead set the releva

[2022-11-04 11:33] hanjm commented on #3164
done by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/9791

[2022-11-04 11:33] #3164 closed

[2022-11-04 12:00] rajumakade commented on #14878
Hi @evan-bradley,
Request you to please help with this issue.

[2022-11-04 12:52] julealgon opened #16077 "'invalid memory address or nil pointer dereference' error in Datadog Logs exporter"
### Component(s)

exporter/datadog

### What happened?

## Description

`invalid memory address or nil pointer dereference` runtime error happened for no apparent reason in the Datadog Logs exporter as per the trace info.

## Steps to Reproduce

Unknown (we have the collector running in the VM and when I logged into the machine today to check something else, it was stopped with this error in the c

[2022-11-04 13:17] aboguszewski-sumo commented on #14791
The changes have been merged, but they are behind feature gates. I don't know what's the policy here, but I suggest to leave this issue open until the feature gates are gone.

[2022-11-04 13:24] djaglowski commented on #16045
@Dongqi-Guo, please open a new issue for the new error. Please include your configuration as well.

[2022-11-04 13:24] #16045 closed

[2022-11-04 14:23] evan-bradley commented on #14878
I see you're using the logging exporter in your metrics and logs pipelines, can you set the log level to `debug` and see if the same issue occurs in the Collector's logs?

[2022-11-04 14:52] RobertFloor opened #16078 "Cannot unmarshal Kafka record received"
### Component(s)

receiver/kafka

### What happened?

We are attempting to read a Confluent Kafka Audit topic of our organization in the open telemetery collector. This contains audit events which we would like to ingest into the Open telemetry collector. We would like to read the topic and send it to Splunk. We can connect to confluent cloud , but are getting a format error. I have tried all sugg

[2022-11-04 15:32] tigrannajaryan commented on #4620
Depends on https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/5036

[2022-11-04 15:34] tigrannajaryan commented on #2537
There is now an experimental OTLP/JSON file format in the spec: https://github.com/open-telemetry/opentelemetry-specification/blob/740524363835162bb9ff6b017e66f3a0b150a73c/experimental/serialization/json.md

[2022-11-04 15:56] #14713 closed

[2022-11-04 17:19] dmitryax commented on #5006
This is currently in progress

[2022-11-04 19:17] Aneurysm9 commented on #4743
I believe this issue is no longer applicable.  https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6708 added tests that ensure we're handling untyped metrics as gauges.  Please re-open if further issues are discovered.

[2022-11-04 19:17] #4743 closed

[2022-11-04 19:17] #6083 closed

[2022-11-04 19:22] seankhliao commented on #15290
Thinking about doing this, do I need to make the attribute the peer address configurable?
[`net.sock.peer.addr`](https://github.com/open-telemetry/opentelemetry-specification/blob/main/semantic_conventions/trace/general.yaml#L49) seems to be the semconv name for the address, but there's the risk of overwriting an existing attribute.

[2022-11-04 20:11] dmitryax commented on #15290
@seankhliao Maybe instead of introducing another attribute, we can follow the same approach as done for tracing where the source ip is passed in a client request context. Please take a look into that

[2022-11-04 20:39] seankhliao commented on #15290
Once parsed, the statsd receiver mixes everything into a few maps for aggregation. The metrics are only passed on the next consumer on flush intervals disassociated with the incoming requests.
I don't really see a place to store the connection context, or a way to group the metrics by context before passing to the next consumer.

[2022-11-05 03:58] Bhogayata-Keval opened #16087 "k8s.node.uid not available"
### Component(s)

receiver/kubeletstats

### Describe the issue you're reporting

kubeletstats receiver does not provide "k8s.node.uid" as a resource attribute, which is considered recommended field at https://opentelemetry.io/docs/reference/specification/resource/semantic_conventions/k8s/.
I was hoping to get this value to co-relate data between k8sclusterreceiver & kubeletstatsreceiver.
Q1: Is U

[2022-11-05 23:01] saurabhdes opened #16090 "Demo example not working on Mac M1 Pro"
### Component(s)

Examples/demo

### What happened?

## Description
Demo example not working on Mac M1 Pro. Specifically demo-server and demo-client are not starting on Mac M1 Pro.

## Steps to Reproduce

1. Clone the repo and go to examples/demo folder
2. Run `docker compose up -d` to launch the demo app

## Expected Result
demo-server and demo-client docker containers start successfully

## Actu

[2022-11-06 22:27] michelleN opened #16092 "otel collector failing to collect/export metrics when datadog exporter is unable to retrieve host metadata using gohai"
### Component(s)

exporter/datadog

### What happened?

## Description
I'm not sure if this is a bug of if I am using datadog

## Steps to Reproduce
Run otel collector using datadog exporter

## Expected Result
Run without errors

## Actual Result
The collector starts up fine and later I see errors related to being unable to fetch host metadata and I'm seeing that the metrics are neither being col

[2022-11-06 23:08] dineshg13 commented on #16092
This is duplicate of https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/14186 , we will look into this and fix asap.

[2022-11-06 23:41] jamesmoessis commented on #16032
For any triager: the tl;dr is that this can be closed. It's not an issue with the dockerstats receiver.

[2022-11-07 00:28] MovieStoreGuy commented on #16078
Hey @RobertFloor,

Just taking a look at this now,

So the receiver `receiver/kafka` is intended to Open Telemetry events with a given set of encoding, I suspect these audit events don't match the expected encodings.

Is there any docs you could provide with regards to the audit logs just so I can understand what is needed?

[2022-11-07 01:41] MovieStoreGuy opened #16093 "[Host Metrics Receiver] Extend documentation for running in docker"
### Component(s)

_No response_

### Is your feature request related to a problem? Please describe.

With reference to https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/16026,

The PR is making changes to ensure that it can operate within a docker container and still capture the host metrics _as if_ it were running natively on the host and in the default linux namespace(s). Th

[2022-11-07 04:54] #4914 closed

[2022-11-07 06:44] RobertFloor commented on #16078
Hi thanks for your reply, this [URL](https://docs.confluent.io/platform/current/security/audit-logs/audit-logs-concepts.html#audit-log-content) provides an example entry:

[code]

[2022-11-07 08:03] davidji99 opened #16095 "[receiver/elasticsearchreceiver]: Add additional node metrics around request cache, process, and clusterinfo"
### Component(s)

receiver/elasticsearch

### Is your feature request related to a problem? Please describe.

Enhancing the elasticsearchreceiver with the following node metrics:

* `request_cache` - Contains statistics about the request cache across all shards assigned to the node.
* `shard_stats` - Contains statistics about all shards assigned to the node.
* `process ` - Contains statistics abou

[2022-11-07 10:06] mx-psi commented on #6227
I think we can close this, we already have a policy for unmantained components. Feel free to reopen if you disagree

[2022-11-07 10:06] #6227 closed

[2022-11-07 10:07] mx-psi commented on #6455
@tanner-bruce if you are still interested please open a PR exposing the part that you need and we can discuss there.

[2022-11-07 10:08] bertysentry commented on #6498
@jpkrohling Is the installation of **goporto** still a prerequisite for building the project? If so, this issue still needs to be fixed. I have very little knowledge on the build script of the project and I don't feel I'll be able to fix the `Makefile` with a proper error message...

[2022-11-07 10:17] mx-psi commented on #6498
AFAICT this is still a problem, removing the Stale label

[2022-11-07 10:19] mx-psi commented on #5313
Bug was identified as a configuration issue.

@bd-clara please open a new issue for the FR if you are still interested

[2022-11-07 10:19] #5313 closed

[2022-11-07 10:28] bertysentry commented on #6498
Actually, it looks like the error message has been updated:

In **.github\workflows\build-and-test.yml**:

[code]

So we would simply need to update some documentation on the technical prerequisites to build the project. I couldn't find any information on building the project anywhere. Is there such thing?

[2022-11-07 10:33] bertysentry commented on #6498
So, the main issue was apparently fixed in PR #8099 by @bogdandrutu

[2022-11-07 10:34] mx-psi commented on #6498
We have [this page](https://github.com/open-telemetry/opentelemetry-collector/blob/main/CONTRIBUTING.md#required-tools) and [porto is installed by `make install-tools`](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/261a3e7e438fe6c8e70cfb0b02641f92649ef555/Makefile#L236) so maybe there is nothing to do after all :)

I will leave it up to you @bertysentry whether to close th

[2022-11-07 10:35] mx-psi commented on #6426
Looks like we missed this. Sorry for the very late response, but is this still a problem @indrekj ?

[2022-11-07 10:37] mx-psi commented on #16092
Thanks for reporting @michelleN, I am closing as a duplicate of #14186; feel free to add aditional details over there

[2022-11-07 10:37] #16092 closed

[2022-11-07 10:39] bertysentry commented on #6498
You're right, @mx-psi! **porto** is now installed with `make install-tools`. This was fixed by @codeboten in PR #7902, so we're good! 👌

[2022-11-07 10:39] #6498 closed

[2022-11-07 10:41] kovrus commented on #3746
@maxsivkov The routing processor is able to do that with both conventional configuration and OTTL statements, see [Readme](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/routingprocessor#tech-preview-opentelemetry-transformation-language-statements-as-routing-conditions).

@jpkrohling can you please close the issue?

[2022-11-07 10:48] albertteoh commented on #2179
This was done in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6503.

[2022-11-07 10:48] #2179 closed

[2022-11-07 10:48] indrekj commented on #6426
We ended up with not adding the logs link at all. Basically we're just copying the trace ID and pasting it to Kibana. Not the most efficient solution but we're kind of used to it now already. So unless somebody else needs it I'm okay if this is closed.

[2022-11-07 10:52] albertteoh commented on #2796
This is no longer an issue; fixed by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/11884.

[2022-11-07 10:52] #2796 closed

[2022-11-07 11:28] mx-psi commented on #6426
Okay, we can keep this open in case someone else shows up :)

[2022-11-07 11:29] kovrus commented on #4744
Please assign it to me.

[2022-11-07 11:36] linjunzhe opened #16098 "[processor/transformprocessor] Allow external functions register to functions in transform processor"
### Component(s)

processor/transform

### Is your feature request related to a problem? Please describe.

Although there are many useful functions in `pkg/ottl/ottlfuncs`, it's not enough for us in some complicated use cases. For example, `/var/log/secure.log` has many different patterns log lines. I want to parse `/var/log/secure.log` with different patterns and extract some key values to `attri

[2022-11-07 12:26] rajumakade commented on #14878
Hi @evan-bradley ,
I have checked by setting log level to debug but not able to locate cause of issue . it will be helpful if get any help.
Please note tried with  AggregationTemporality: Cumulative as well.
Log as follows
<img width="766" alt="image" src="https://user-images.githubusercontent.com/88999028/200309562-9d67eebb-291c-4912-b1da-1c55b1878b30.png">

[2022-11-07 12:56] pavolloffay commented on #16078
The message does not seem to be a supported type that the collector can read.

@RobertFloor this is not a bug, but rather a feature request.

[2022-11-07 13:20] gabrielgiussi opened #16099 "How to insert new label from an existing one?"
### Component(s)

processor/attributes, processor/metricstransform

### Is your feature request related to a problem? Please describe.

I can't find a way to create a label from an existing one as I need to.
I have the existing label `envoy_response_code`, e.g. `envoy_response_code=200` and I want to extract a label `status_class` from it with only the first digit and the rest being replaced with

[2022-11-07 13:22] kovrus commented on #15386
@Jontem @zirain you are right, it seems like a bug. Do you want to open a pull request with a fix?

[2022-11-07 13:24] RobertFloor commented on #16078
Thank you for you help, can I find he supported message type somewhere? Maybe we can change the message ?

[2022-11-07 13:28] pavolloffay commented on #16078
See the `encoding` https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/kafkareceiver

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/kafkareceiver/unmarshaler.go#L54

[2022-11-07 13:30] RobertFloor commented on #16078
Thanks :)

[2022-11-07 13:30] #16078 closed

[2022-11-07 14:42] mx-psi commented on #16090
@JaredTan95 could you have a look at this one?

[2022-11-07 15:22] evan-bradley commented on #14878
Unfortunately the screenshot only includes one data point, so I can't tell for sure whether the value is being reset in the logging exporter output. If you allow the service to emit multiple data points for the metric, do you see the value reset in the logs? If so, then it's likely that you are having an issue with your instrumentation code and not with the Collector.

[2022-11-07 16:08] evan-bradley commented on #16098
Hi @linjunzhe, thanks for the detailed request. I think this is an area that could use some attention if transform processor users need highly specific functionality in addition to the functions provided out-of-the-box.

The transform processor already has the basis of functionality you are describing with the `Functions` function in the package for each context. [Here is the function](https://git

[2022-11-07 16:10] #7571 closed

[2022-11-07 16:13] TylerHelmuth commented on #16098
@evan-bradley are you imaging the transform processor be extendable?  Like building a customer processor using the transform processor, and all this this custom processor really does is register more functions?

[2022-11-07 16:21] evan-bradley commented on #16098
Yeah, that's the first approach I can think of that would allow users to easily take advantage of a `Register` function. Since the transform processor is already distributed as a Go package, it would be relatively easy to provide a `NewCustomFactory` or something similar in the transform processor that makes the custom processor a pretty thin layer.

[2022-11-07 16:23] TylerHelmuth commented on #16098
@open-telemetry/collector-contrib-approvers @open-telemetry/collector-contrib-maintainers do we have any components today that can be used as a "base component" for other components?

[2022-11-07 16:54] cpheps commented on #12786
@atoulme I'm looking at using the Azure Event Hub receiver but the stability says `in development`. Is it safe to use fully and should it be considered have an `alpha` stability level?

[2022-11-07 17:13] bgranetzke commented on #14514
@MovieStoreGuy I have created a new [PR](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/16100) using a different approach to testing.  I consider it minimally invasive to the existing design.  Please provide feedback.

[2022-11-07 17:59] alanwest commented on #4341
@mx-psi this issue can be closed. The `newrelicexporter` has been deprecated and removed from this repository.

[2022-11-07 18:32] dmitryax commented on #16031
One more occurrence https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3408681141/jobs/5669548351

[2022-11-07 20:14] #4341 closed

[2022-11-07 21:14] #14975 closed

[2022-11-07 21:34] codeboten opened #16164 "Deprecation warnings causing upgrade issues"
### Component(s)

exporter/googlecloud

### Describe the issue you're reporting

See https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3414029757/jobs/5681565005

[code]

[2022-11-07 22:43] Aneurysm9 commented on #16098
I think it is reasonable to make the transform processor extensible, but before we go down that path perhaps we should back up and look at the request being made here:

This reads to me like a request for log parsing and pattern matching.  Don't we already have receiver components responsible for this type of functionality?  I'm not sure that it belongs in the transform processor, which I would te

[2022-11-07 22:46] #6085 closed

[2022-11-07 22:47] #6087 closed

[2022-11-07 22:47] #6400 closed

[2022-11-07 22:47] #6090 closed

[2022-11-07 22:48] #6000 closed

[2022-11-07 23:38] TylerHelmuth commented on #16098
@Aneurysm9 I would say for logs especially that parsing is best done via receivers whenever possible.  For instances when a receiver cannot be made to do it, then the logstransformprocessor is the next best option as it uses all the libraries that the receivers use. Curious on @djaglowski thoughts on this stance.

So if @linjunzhe goal is better log parsing there may be better options that the tra

[2022-11-07 23:43] #4750 closed

[2022-11-08 01:23] jamesmoessis commented on #5879
@dmitryax as the PR is now merged. Can close this 🙂

[2022-11-08 02:53] newly12 commented on #16098
@TylerHelmuth is `logstransformprocessor` intend to replace all `operators` in filelog receiver(aka stanza)? In our use case, we are using regex to match the log body and derive key value pairs when matched, we actually explored the option which is registering customized `operator` in stanza, and leverage its [DSL/expression](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/m

[2022-11-08 03:31] TylerHelmuth commented on #16098
@newly12 you just got me all hyped with transformprocessor performance haha

Long term the logstransformprocessor would go away and be replaced by the transform processor, but that is so so so so far off.  In the meantime I don't think @djaglowski has any plan to replace anything in filelog receiver with logstransformprocessor.

For registering custom components I think it will always require a cu

[2022-11-08 03:32] TylerHelmuth commented on #16098
But I think no matter what a user who wants to use custom functions is going to have to make a custom component.  I can't quickly think of a secure way to add custom functions to a transformprocessor thats already built into a collector.

[2022-11-08 04:08] willarmiros commented on #1534
Hi @andrewhsu and other maintainers, it seems several valid feature requests for the X-ray exporter were recently marked stale, can they be exempted?

[2022-11-08 04:45] fatsheep9146 commented on #9401
I think this may also be blocked by #15651 ? @dmitryax

[2022-11-08 06:34] PassionateDeveloper86 commented on #16090
Hi,

its not only mac, I have a W11 and exactly the same error :)

[2022-11-08 07:45] jstaffans commented on #7789
This is important for feature parity with Prometheus in agent mode.

[2022-11-08 09:01] mx-psi commented on #1698
Thanks to the improvements by @open-telemetry/collector-contrib-triagers I think the only thing missing here is to allow adding the component labels to PRs as well as issues. This would allow approvers/maintainers to more easily ping code owners. I think this would amount to changing the triggering conditions here https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/eee0daf88dec9

[2022-11-08 09:02] mx-psi commented on #6944
Not stale and not done yet

[2022-11-08 10:07] mx-psi commented on #15720
Thanks for the PR and the investigation @indrekj :bow: Is there anything else to be done on this issue? I guess

this is something we could do on the exporter, I will defer to @gbbr's opinion on how should we handle it

[2022-11-08 11:27] gabrielgiussi commented on #16099
I found an alternative using `experimental_match_labels` although it requires an entry per status code.
[code]

Besides being more verbose I have the feeling that could be less performant than the `value_actions` but of course I couldn't say. Do you think this is a viable option meanwhile?

[2022-11-08 11:42] mdelapenya commented on #9939
👋 Hi from testcontainers! We would like to know if we can be of any help if a migration to testcontainers eventually happens.

[2022-11-08 13:05] #2730 closed

[2022-11-08 13:45] evan-bradley commented on #1698
This was also requested in https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/16036 and an implementation for automatically assigning code owners without write access was tested in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14582. I'll take a look into implementing something to help solve this.

[2022-11-08 14:00] TylerHelmuth commented on #1698
I think the reason my PR falls short is bc it causes us to have to maintain a second CODEOWNERS file essentially to take advantage of existing actions.

It would be good to try a solution that uses the existing CODEOWNERS file and is able to detect the directory changes in the PR on every push.

[2022-11-08 14:02] TylerHelmuth commented on #1698
Also I haven't found an existing workflow yet that can automatically assign/request review for CODEOWNERS using the CODEOWNERS file. In general this problem is harder than what we've done for issues bc of the permissions needed to interact with a PR.

[2022-11-08 14:16] djaglowski commented on #9939
Hi @mdelapenya. I do believe we should standardize on `testcontainers`. It would be great to have some help with this if you have capacity.

It appears there are 6 modules that use `containertest`. I propose we migrate these to `testcontainers` one at a time. Then we can look at deprecating `containertest`.

- [ ] `extension/observer/dockerobserver`
- [ ] `receiver/aerospikereceiver`
- [ ] `receiv

[2022-11-08 14:48] mx-psi commented on #3870
I opened #16174 that will close this issue :tada:

The rest of components not in CODEOWNERs are either unmantained, deprecated or are packages with common functionality used by many components. We can have a discussion in the future about the common components, but I don't think this issue is the proper way of doing it.

[2022-11-08 17:37] felixscheinost opened #16178 "awsxray exporter can't handle certain database/sql attributes"
### Component(s)

exporter/awsxray

### What happened?

## Description

Some spans which have certain values for the `db.*` attributes don't get displayed on AWS.

Our setup is: AWS OTel Java agent -> AWS OTel collector -> AWS X-Ray

## Steps to Reproduce

I exported the following attributes from a locally running Jaeger instance. This is a span which doesn't show up in production on AWS.

| attri

[2022-11-08 17:46] dmitryax commented on #16036
Sounds good. Thanks for adding the support of PRs!

[2022-11-08 17:52] #16164 closed

[2022-11-08 18:22] #8273 closed

[2022-11-08 18:28] dmitryax commented on #16099
@gabrielgiussi I believe this is the correct solution using the metricstransform processor. Keep in mind that this processor going forward will be replaced by the [transform processor](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/transformprocessor) which is currently under active development. So I'd encourage you to take a look at that processor, and check

[2022-11-08 18:57] #3870 closed

[2022-11-08 19:48] codeboten opened #16182 "mongodbreceiver integration test failing w/ latest mongodb driver update"
### Component(s)

receiver/mongodb

### Describe the issue you're reporting

See https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3422093006/jobs/5700027979

[code]

[2022-11-08 19:53] schmikei commented on #16182
The mongo go driver dropped support for 2.6 in 1.11.0

https://github.com/mongodb/mongo-go-driver/tree/v1.11.0

We should probably drop support as well going forward as it is a fairly dated release at this point. Was mostly supported during the development to support default installations of some popular OSes.

[2022-11-08 19:54] djaglowski commented on #16182
Looks like [mongo dropped support for versions < 3.6](https://github.com/mongodb/mongo-go-driver/releases). I think we'll need to do the same in order to upgrade the driver.

Looks like [anything prior to 4.2 is EOL already](https://www.mongodb.com/support-policy/lifecycles). 4.0 went EOL earlier this year, so it seems reasonable to retain support for that, but I'm thinking we should drop 3.x enti

[2022-11-08 20:08] abarganier opened #16186 "[exporter/awsemf] batch requests to fit AWS EMF guidelines in CloudWatch"
### Component(s)

exporter/awsemf

### Is your feature request related to a problem? Please describe.

When attempting to use the awsemfexporter to send metrics data to Amazon CloudWatch, we encountered cryptic issues on the AWS CloudWatch side once the data was ingested. We could see the log payloads in CloudWatch containing the EMF logs containing the metric payloads, but we were unable to succe

[2022-11-08 21:23] dmitryax commented on #14335
This is a part of a bigger issue where we have attribute processor config interface and behavior completely misaligned at least for metrics. Besides unimplemented support of `attributes` config field, the code supports `expr` filtering but it's not exposed in the config. I would like to make sure that configuration interface in attributes processor is reused with other components where the filteri

[2022-11-08 22:26] TylerHelmuth commented on #16099
@gabrielgiussi if you choose to use the transform processor believe the statements would look like this

[code]

Getting more generic you could do

[code]

[2022-11-09 01:16] seankhliao commented on #15290
The statsd reporters I've seen are usually unaware of their own identity.
Resource attribute would make sense except that I don't think there's a place to store resource attributes? unless we add a new member to https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/statsdreceiver/protocol/statsd_parser.go#L119
Per metric attribute will probably work if combined with

[2022-11-09 03:08] hardproblems opened #16207 "prometheusremotewrite: support for converting OTLP exponential histogram to Prometheus Native Histograms"
### Component(s)

exporter/prometheusremotewrite

### Is your feature request related to a problem? Please describe.

Prometheus native histograms have just been released (https://github.com/prometheus/prometheus/releases/tag/v2.40.0). They can be converted to/from OTLP exponential histograms losslessly. Right now prometheusremotewriteexporter simply drops all OTLP exponential histogram metrics. T

[2022-11-09 04:24] #12413 closed

[2022-11-09 05:57] felixscheinost commented on #16178
I activated debug logging in the collector and extracted the following from the logs:

The segment that is created for my test code above is:

[code]

The response from X-Ray then is:

[code]

Looking into the docs, this makes sense: https://docs.aws.amazon.com/xray/latest/devguide/xray-api-segmentdocuments.html#api-segmentdocuments-fields

[2022-11-09 06:02] felixscheinost commented on #16178
So, what's weird then is that why does the following code, without `db.name` but with a `?` in the span name work?

[code]

It seems like something is automatically removing illegal characters from the span name because the span is exported to X-Ray without the `?`, successfully.

Would that make sense in this case as well?

[2022-11-09 07:53] bravecobra commented on #16032
Strange as I can't seem to get it to work without adding that extra config. I understand that it should work without that line?

[2022-11-09 08:25] mx-psi commented on #11867
@deepto98 do you plan to continue working on this or should I unassign you?

[2022-11-09 08:38] sweetpotato0 opened #16208 "[receiver/prometheusreceiver] relabel config is not working as documented"
### Component(s)

receiver/prometheus

### Describe the issue you're reporting

My otel yaml is as below:

[code]

my otel version is `0.61.0`

[2022-11-09 08:47] mhausenblas commented on #9984
/label -Stale

[2022-11-09 08:59] albertteoh commented on #7171
Great, thanks for confirming @vjsamuel 👍🏼 Are you able to close this ticket please?

[2022-11-09 09:06] mx-psi commented on #10428
This part was done in #10427

[2022-11-09 09:06] #10428 closed

[2022-11-09 09:21] mdelapenya commented on #9939
I think we can work on small PRs updating one module at a time, so that we get feedback during the process.

[2022-11-09 09:40] mx-psi commented on #11791
The dockerstatsreceiver also queries the Docker socket and thus suffers from the same problem https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/dockerstatsreceiver#configuration

[2022-11-09 09:55] lindhe commented on #9361
Keep open

[2022-11-09 11:28] #15387 closed

[2022-11-09 12:09] mar4uk commented on #14190
@kago-dk thank you! I see it now when I run query in json format: "{example_http_status_code="500"} | json"
I did some investigation and found out that loki translator converts otlp log records into loki log records this way.
lokiEntry struct type has attributes and resources nested fields, that's why loki entry is sent to loki with nested attributes and resources fields.
https://github.com/open-t

[2022-11-09 13:36] dashpole commented on #16208
Please add what the output was, and what you expected to see.

One possibility is that you are using `relabel_configs` instead of `metric_relabel_configs`.  `relabel_configs` is used to determine _what_ is scraped, and `metric_relabel_configs` is used to modify metrics after they are scraped.  It looks like you are trying to add a label, which you would need to use `metric_relabel_configs` to do.

[2022-11-09 13:38] #12079 closed

[2022-11-09 13:41] dashpole commented on #12072
marking as fixed, since the issue was closed in the other repository.

[2022-11-09 13:41] #12072 closed

[2022-11-09 13:57] dashpole commented on #3677
The limit has since been updated to 30 labels.  It can also differ per-metric-domain (the prefix on metrics), which is why we generally don't try to enforce the API's limits.  Sorry I didn't see this until now.

I agree that correctly using retry_on_failure is what we should be doing.

[2022-11-09 13:58] djaglowski commented on #12485
TCP framing was added in #15358

[2022-11-09 13:58] #12485 closed

[2022-11-09 13:59] djaglowski commented on #10898
Closing this, as there appears to be no action to take.

[2022-11-09 13:59] #10898 closed

[2022-11-09 14:05] dashpole commented on #8249
The overall issue is fixed.  The `googlecloud` exporter can be used for logs.

[2022-11-09 14:05] #8249 closed

[2022-11-09 15:24] wombat9000 commented on #3665
Hi All, are there any updates regarding this? We'd love this feature 🥹

Also, to make sure i understand correctly, this is what currently prevents transmission of data recorded via span.addEvent(...) and span.recordException(...) ?

Cheers

[2022-11-09 15:33] djaglowski opened #16212 "[pkg/stanza/adapter] Missing storage extension causes panic during shutdown"
### Component(s)

pkg/stanza

### What happened?

## Steps to Reproduce
[code]

## Expected Result
[code]

## Actual Result
[code]

### Collector version

v0.63.1

### Environment information

_No response_

### OpenTelemetry Collector configuration

_No response_

### Log output

_No response_

### Additional context

_No response_

[2022-11-09 15:39] gabrielgiussi opened #16214 "[processor/transform] Add the capability to scale a metric value"
### Component(s)

processor/transform

### Is your feature request related to a problem? Please describe.

Currently the metricstransformer already supports [scaling a value](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/metricstransformprocessor#scale-value) and a [recent PR](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/15691) even

[2022-11-09 16:07] kovrus commented on #13759
@TylerHelmuth @kentquirk if you are not working on it, do you mind assigning it to me?

[2022-11-09 16:23] atoulme commented on #12786
It should be considered alpha now. I'll open a PR to update.

[2022-11-09 16:36] mircohaug opened #16218 "[exporter/awsemf] Exporter ignores the first batch of a metric send to cloudwatch"
### Component(s)

exporter/awsemf

### What happened?

## Description

The `awsemf` exporter of the ADOT distribution of OTEL sends faulty data for the first batch of a metric send to AWS Cloudwatch.

## Steps to reproduce
0. The code is checked in at https://github.com/mircohaug/otel-awsemf-reproduction-ignored-first-batch
1. Authenticate your shell against an AWS account with the `default` profi

[2022-11-09 16:48] TylerHelmuth commented on #13759
@kovrus its yours.

[2022-11-09 17:09] TylerHelmuth commented on #16214
A solution for this may have some overlap with https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/16067

[2022-11-09 17:16] #16099 closed

[2022-11-09 17:16] TylerHelmuth commented on #16214
@gabrielgiussi yes the transform processor should be able to handle this.  I think we can make a generic function that takes a float or int and scales it based on a factor.  Instead of `scale` setting the value itself, though, I think it would work better as a Factory Function (a function that modifies data and then returns it) would be best so that the result can be used anywhere.

Function signa

[2022-11-09 17:46] gabrielgiussi commented on #16099
@TylerHelmuth I'm trying to migrate my current config to use the transform but I'm facing some missing features, should I open tickets for all of them?
- scale value like in metricstransformer (I've already created https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/16214)
- create new metrics from existing ones (I can use set(metric.name) to rename but I didn't find a way to

[2022-11-09 17:59] TylerHelmuth commented on #16099
@gabrielgiussi we currently have nothing tracking the feature gaps between metricstransformprocessor and transformprocessor, but would gladly welcome it.  Can you create individual issues for use cases but also an overarching issue to track them all in one place?

[2022-11-09 18:00] jmacd commented on #10897
I think this may have been fixed by changes in the PRW exporter since June.

[2022-11-09 18:17] Raushan-Sapiens opened #16220 "failed to create "jmx" receiver, in pipeline "metrics": jmx error validating `jar_path`: error hashing file: open /opt/opentelemetry-java-contrib-jmx-metrics.jar: no such file or directory"
### Component(s)

cmd/otelcontribcol

### Describe the issue you're reporting

Hi,
I'm trying to get JVM metrics using opentelemetry-collector-contrib https://github.com/open-telemetry/opentelemetry-java-contrib/blob/main/jmx-metrics/docs/target-systems/jvm.md
For this, i created side car opentelemetry collector whose config is below:

[code]
When i run this, it gives the error:

Error:
[code]
App

[2022-11-09 18:25] gabrielgiussi opened #16221 "[processor/transform] Create new metrics from existing ones"
### Component(s)

processor/transform

### Is your feature request related to a problem? Please describe.

The metricstransformer allow us to [create new metrics from existing ones](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/metricstransformprocessor#create-a-new-metric-from-an-existing-metric) using the action insert, e.g.
[code]

Currently we can change

[2022-11-09 18:31] gabrielgiussi opened #16222 "[processor/transform] Allow extracting multiple attributes from an existing one using regex and capture groups"
### Component(s)

processor/transform

### Is your feature request related to a problem? Please describe.

The attributesprocessor already allows to extract multiple attributes from an existing one using regex and capture groups, e.g.
[code]

### Describe the solution you'd like

A function similar to the one provided by attributesprocessor
[code]

### Describe alternatives you've considered

_No

[2022-11-09 18:34] hsmatulisgoogle commented on #11447
This has already been addressed by the PR

[2022-11-09 18:34] #11447 closed

[2022-11-09 18:34] gabrielgiussi opened #16223 "[processor/transform] Replicate metricstransform features"
### Component(s)

processor/transform

### Is your feature request related to a problem? Please describe.

Replicate existing features in other providers

#### metricstransformer
- [x] https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/16221
- [x] https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/16214
- [x] https://github.com/open-telemetry/opentelemet

[2022-11-09 18:49] gabrielgiussi opened #16224 "[processor/transform] Aggregate metrics grouping by label"
### Component(s)

processor/transform

### Is your feature request related to a problem? Please describe.

The metricstransform already provides [this](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/metricstransformprocessor#aggregate-labels) but there is no way to do it in the transform processor.
e.g.

[code]

With this we can go from
[code]

to this
[code]

[2022-11-09 19:03] #1698 closed

[2022-11-09 19:07] #14313 closed

[2022-11-09 19:36] dmitryax commented on #9361
All the links in signalfxexporter README were fixed in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/11151

[2022-11-09 19:36] #9361 closed

[2022-11-09 19:47] stephenhong opened #16226 "Enhance metrics collection in Host Metrics receiver"
### Component(s)

receiver/hostmetrics

### Is your feature request related to a problem? Please describe.

The Host Metrics receiver generates metrics about the host system scraped from various sources and I noticed that some metrics are present with the New Relic infrastructure agent and not with the Opentelemetry collector.
e.g.
host.disk.totalBytes
host.disk.usedPercent
host.disk.freePercent
h

[2022-11-09 20:09] dmitryax commented on #16226
Hi @stephenhong, please take a look at filesystem metrics https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/documentation.md and see if there is still anything not covered

[2022-11-09 21:24] dmitryax commented on #14708
One more https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3431416984/jobs/5719553179

[2022-11-09 21:33] awiddersheim commented on #10897
@jmacd Thats awesome! Any chance you have a link to the PR that fixes it?

[2022-11-09 21:36] dmitryax commented on #9370
@TylerHelmuth please correct me if I'm wrong, but I believe [transform processor](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/transformprocessor) already can conditionally drop resource attributes.

[2022-11-09 21:36] awiddersheim commented on #10897
There are a few other issues that seem related:

https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/5187
https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/5250
https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/4909
https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/11434

[2022-11-09 21:41] TylerHelmuth commented on #9370
Yes we now have a [delete_key](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/pkg/ottl/ottlfuncs#delete_key) function that can be used to remove attributes.

[2022-11-09 22:56] #9370 closed

[2022-11-10 01:10] sweetpotato0 commented on #16208
output like below:
[code]

my yaml config is：
[code]
my consul config like below:

![image](https://user-images.githubusercontent.com/9434508/200975807-fb05aa0c-9ef1-4cbe-849b-6104c04ee1c6.png)

[2022-11-10 01:26] sweetpotato0 commented on #16208
there is now added label `resource_id`

[2022-11-10 03:54] hanjm commented on #13843
resolved

[2022-11-10 03:55] hanjm commented on #11558
no stale

[2022-11-10 04:04] dgcom commented on #12482
What a coincidence - I was actually checking changes in hostmetrics receiver when the bot posted 60 day notice...

I see that `process.open_file_descriptors` and `process.threads` are now available:
[opentelemetry-collector-contrib/documentation.md at main · open-telemetry/opentelemetry-collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/hostmetr

[2022-11-10 05:01] dmitryax commented on #13843
@gen-xu please reopen if the issue is not resolved

[2022-11-10 05:01] #13843 closed

[2022-11-10 05:45] dmitryax commented on #9401
Right. We desperately need e2e tests before we introduce any new changes to k8s components

[2022-11-10 05:48] dmitryax commented on #15651
@povilasv please let us know if you have time to work on this, otherwise, we will look if someone else can take it

[2022-11-10 05:52] dmitryax commented on #13119
@rajatvig @hanikesn can you please check if you still experience the issue in the latest collector versions?

[2022-11-10 05:53] dmitryax commented on #12591
Must be fixed by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/13928

[2022-11-10 05:53] #12591 closed

[2022-11-10 06:15] #11435 closed

[2022-11-10 07:01] TylerHelmuth commented on #9730
The functions now support logging so this issue can be worked.

[2022-11-10 07:02] TylerHelmuth commented on #9994
Closing as this capability now exists.

[2022-11-10 07:02] #9994 closed

[2022-11-10 07:04] TylerHelmuth commented on #13578
I am actively working on this issue again.

[2022-11-10 07:21] wisre opened #16231 "[spanmetrics] spanmetrics processor throughput is around 300"
### Component(s)

processor/spanmetrics

### Describe the issue you're reporting

when i use spanmetrics plugin,  i found processor throughput Dropped from 2000 to 800, which lead agent packet dropped.

#### otel-col config
[code]
#### throughput trend

<img width="860" alt="image" src="https://user-images.githubusercontent.com/15846757/201025422-6b2df922-2eb9-4827-aaca-1ec07b0a0e19.png">

i read

[2022-11-10 07:44] dmitryax commented on #12641
Not needed anymore

[2022-11-10 08:58] mx-psi commented on #7931
Is this still a thing @povilasv? Or did #13844 fix it?

[2022-11-10 10:31] frzifus commented on #7931
@mx-psi yes its still a thing. d397c9878974186e6cf66f904b364d7fc983b691
[code]

[2022-11-10 10:35] mx-psi commented on #7931
Okay, I have labeled this as `exporter/coralogix` instead of Jaeger, AIUI the fix needs to be done in the Coralogix exporter.

[2022-11-10 11:00] frzifus commented on #13573
Its done

[2022-11-10 12:39] jsumners opened #16235 "Automated workflows should only run in org"
### Component(s)

_No response_

### Describe the issue you're reporting

Actions like the "mark issues as stale" action should have a conditional that allows them to only run from within the `open-telemetry` org. As it stands, forks are running such jobs and generating failed events in the forks.

https://docs.github.com/en/actions/using-jobs/using-conditions-to-control-job-execution

[2022-11-10 14:15] djaglowski commented on #13661
Closed by #13662

[2022-11-10 14:15] #13661 closed

[2022-11-10 14:22] #16182 closed

[2022-11-10 14:48] evan-bradley commented on #12482
@dgcom I wasn't able to add process handles as part of my work, as I don't have a Windows environment to test with. I will leave this issue available for someone else to pick that up.

[2022-11-10 14:59] jeromeinsf commented on #8353
What's left to do after https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14132 ?

[2022-11-10 15:02] straussb commented on #5373
This is still relevant.

[2022-11-10 15:05] #8353 closed

[2022-11-10 15:06] TylerHelmuth opened #16237 "[pkg/ottl] Allow arithmetic operations between int and float."
I think we might want to reconsider this constraint. It reflects the underlying language, but will cause usability issues for people who do things like divide a float attribute by 2, rather than 2.0.

I think that the parser could instead automatically convert integers to floats in mixed expressions. Or at least allow int literals to be converted to float automatically.

But I also think we could

[2022-11-10 15:25] TylerHelmuth commented on #16237
Ended up handling in original PR

[2022-11-10 15:29] dashpole commented on #13420
What happens if you enable the normalization feature-gate?  Is this just a request to graduate that to beta?

[2022-11-10 15:36] dashpole commented on #13451
I think this is fixed by https://github.com/open-telemetry/opentelemetry-collector-contrib/commit/ea70008ccfe4d88efe78eec949944a471c3d1949

[2022-11-10 15:36] #13451 closed

[2022-11-10 16:10] emileturcotte commented on #13225
Any update on this ?
Pinging code owners: @pcwiese

[2022-11-10 18:46] dgcom commented on #12482
@evan-bradley Ok, that's fine, thank you for covering Linux side of things! I'll see if I finally get some time to dig into this myself by the end of the year... Unless someone else will be kind enough to pick this up before that.

[2022-11-10 19:16] mattsains commented on #7532
There are quite a lot of cases where [MetricTypeEmpty](https://github.com/open-telemetry/opentelemetry-collector/blob/main/pdata/pmetric/metrics.go#L106) is not handled by switch statements. eg: https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/processor/attributesprocessor/attributes_metric.go#L73

So we'd need to update all of that code to have a case for Empty / have a

[2022-11-10 19:55] #14578 closed

[2022-11-10 19:55] #15675 closed

[2022-11-10 20:01] Aneurysm9 commented on #13420
That's how it reads to me.  I think I'm okay with doing that.  We haven't had reports of significant issues with the gate enabled and still nobody has come forth with an explanation for the original difference in behavior.

[2022-11-10 20:22] mar4uk commented on #13649
pkg/translator/loki was created https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14106. This issue could be close

[2022-11-10 21:27] mar4uk commented on #14938
After merging the [promtail receiver](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14632) pipeline_stages will be available the same way they are available in promtail itself.
Just checked it and it works. Here is config:

[code]

So when using promtail receiver -> loki exporter labels will work out of the box.
If another receiver is used then I agree that extraction belo

[2022-11-10 23:17] #16235 closed

[2022-11-11 02:37] dmitryax opened #16256 "[pkg/stanza] Flaky test TestStartAtEndNewFile"
Flaky test https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3441823176/jobs/5741775600

[code]

[2022-11-11 05:49] MovieStoreGuy opened #16259 "[AWS Kinesis Exporter] Missing setting region on startup"
### Component(s)

exporter/awskinesis

### What happened?

## Description

When setting the field
[code]
this is ignore and the SDK default configuration takes place.

## Steps to Reproduce

Apply above config

## Expected Result

It should be configured to use the expected region

## Actual Result

It will use the default region or region that is found within specified AWS config paths.

### Coll

[2022-11-11 07:57] JorTurFer opened #16260 "[Azure Monitor Exporter] Span Events support"
### Component(s)

exporter/azuremonitor

### Is your feature request related to a problem? Please describe.

Open Telemetry supports Span Events, and we use them in our applications because they are used for sending exceptions (as the protocol says at least for dotnet).  We are checking the collector to remove the process in the apps but azure monitor exporter doesn't support any type of Span Even

[2022-11-11 08:51] maokitty opened #16261 "[pkg/stanza/operator/parser/json] json parse error"
### Component(s)

pkg/stanza

### What happened?

## Description
if the content contains '\n' ,the parser will report an error
## Steps to Reproduce
[code]
## Expected Result
map[body:a
 b]

## Actual Result
ReadString: invalid control character found: 10, error found in #9 byte of ...|{"body":"a
 b"}|..., bigger context ...|{"body":"a
 b"}|...

### Collector version

0.61.0

### Environment infor

[2022-11-11 08:52] #11460 closed

[2022-11-11 09:07] lukestoward commented on #16075
Associated PR #16076 has been merged. Issue resolved.

[2022-11-11 09:07] #16075 closed

[2022-11-11 09:31] VasuLax commented on #14133
@atoulme,
Great. It helped. Thanks for sharing the right file to configure.

[2022-11-11 09:31] #14133 closed

[2022-11-11 10:20] mx-psi commented on #15695
Closing as a duplicate of open-telemetry/opentelemetry-collector/issues/6420 which was fixed on v0.64.1

[2022-11-11 10:20] #15695 closed

[2022-11-11 10:40] Frapschen opened #16262 "[processor/servicegraph] Failed to find dimensions for key xxx"
### Component(s)

processor/servicegraph

### What happened?

## Description
I get an error in my app when it sent span to a otel collector which configed a servicegraph processor

the error cause by:
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/9166107431795fb5a7433ffea78c9ab3ddde208c/processor/servicegraphprocessor/processor.go#L365-L384

a relate bug discuss at https:/

[2022-11-11 10:59] JaredTan95 commented on #16262
looks like the same issue https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/16024 ?

[2022-11-11 11:44] husseinraoouf commented on #14186
I think this issue should be with higher priority, the datadog exporter is essentially broken for metrics

at least there should be a workaround until the issue is fixed

[2022-11-11 11:55] #13649 closed

[2022-11-11 13:44] maokitty opened #16266 "[pkg/stanza/fileconsumer/fingerprint] the way to iidentify a file"
### Component(s)

pkg/stanza

### Is your feature request related to a problem? Please describe.

There is a possibility of different file have the same first N bytes,while the default value of N is 1kb(It's hard to findout the reason  when problem is  happend)

### Describe the solution you'd like

Add the filePath to fingerprint
Maybe the create time of file can be added too

### Describe altern

[2022-11-11 14:01] dashpole commented on #13420
Sounds good.  Lets flip to beta after we have https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/16071.

[2022-11-11 14:15] djaglowski commented on #16261
I believe this is the correct behavior. According to the json specification, newline characters must be escaped.

You can read more about this [here](https://stackoverflow.com/a/42073). The first comment on the accepted answer states it quite well:

`... the JSON spec at [ietf.org/rfc/rfc4627.txt](http://www.ietf.org/rfc/rfc4627.txt) contains this sentence in section 2.5: "All Unicode characters m

[2022-11-11 14:22] djaglowski commented on #16266
[Here](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/pkg/stanza/fileconsumer/design.md#deduplication-of-files) is the design document section pertaining to fingerprints.

You are correct that multiple files with the same first `N` bytes will not be differentiated. There are cases where `N` needs to be larger than the default, in which case you can use the `fingerprint

[2022-11-11 14:36] dineshg13 commented on #14186
@husseinraoouf sorry for delay in fixing this. I will be taking this on priority and fix same.

[2022-11-11 15:40] djaglowski opened #16267 "[receiver/solace] Flaky Test - TestReceiverDialFailureContinue (windows)"
### Component(s)

_No response_

### What happened?

Observed here: https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3445016616/jobs/5748248417#step:8:3135

### Collector version

main

### Environment information

Windows CI

### OpenTelemetry Collector configuration

_No response_

### Log output

_No response_

### Additional context

_No response_

[2022-11-11 16:03] atoulme commented on #16064
Occurred again here: https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3443462966/jobs/5745018567

[2022-11-11 16:26] mplachter commented on #5373
@straussb does a blank file at the location defined by `ecs_observer.result_file` solve this problem?

If so I think maybe the docs should be updated in `ecs_observer.result_file` declaring a blank file be present for `Prometheus`, my thought is, it does validate on startup that the file path is defined and reachable on startup which isn't bad behavior.

[2022-11-11 16:31] djaglowski commented on #14938
It is intended that `logstransformprocessor` will be deprecated as soon as its functionality is available in `transformprocessor`, so I would recommend any new functionality should be added to `transformprocessor`.

[2022-11-11 16:39] maxsargentdev opened #16268 "k8sattributes processor - sidecar mode"
### Component(s)

processor/k8sattributes

### Describe the issue you're reporting

Hi

I would of messaged on slack, but I cannot access the slack workspace.

---

Does the k8sattributes processor support the sidecar mode of the opentelemetry collector?

The go docs are not very clear, it says:

[code]

Does this mean its only the ability to detect containers in the same pod that doesnt work?

If

[2022-11-11 17:42] #7171 closed

[2022-11-11 18:24] BinaryFissionGames opened #16270 "[exporter/googlecloud] Support mapping log resource attributes to labels"
### Component(s)

exporter/googlecloud

### Is your feature request related to a problem? Please describe.

When exporting to GCP, resource attributes on the log are dropped if they aren't a specific subset of labels that map to a monitoring resource.

These resource attributes are sometimes key to understanding where your logs are coming from, so having them completely dropped means that the logs

[2022-11-11 18:39] damemi commented on #16270
I don't see a problem with this, especially with a flag to turn it on like you suggested @BinaryFissionGames

@dashpole can you think of any reason for us not to add it?

[2022-11-11 19:04] dashpole commented on #16270
Seems reasonable to me.

[2022-11-11 20:34] fredthomsen opened #16271 "New component: AWS Timestream Exporter"
### The purpose and use-cases of the new component

AWS Timestream Exporter send data to the AWS Timestream metric store.  Timestream is a time-series serverless database for storing and analyzing metrics in the AWS platform.  There are a number of analytics use cases, for example the data stored in Timestream can be used by various AWS products, like SageMaker, and/or visualized in Graphana.  Lif

[2022-11-11 21:01] husseinraoouf commented on #14186
Thank you for the quick response

[2022-11-11 21:47] adam-kiss-sg commented on #13573
With 0.64.0, im getting all kind of strange errors (see below). Could this be some kind of race condition?

[code]

[2022-11-12 05:08] Bruno-DaSilva commented on #9018
Experiencing the exact same behaviour as above post. Ran into `value not found in metricKeyToDimensions cache by key` logs, upgraded versions to the 'fix' in v0.59.0, log messages disappeared. But it still stops processing incoming spans at a certain point.

Is it possible the fix just bandaided the log emission but didn't fix the root cause? I'm having to setup a job that restarts our deployment

[2022-11-12 07:32] atoulme opened #16273 "[receiver/mongodb] Flaky test integration test"
### Component(s)

_No response_

### What happened?

## Description
See this build https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3449973778/jobs/5758295362

## Steps to Reproduce
Run the build
## Expected Result
The build passes
## Actual Result
The build fails with:
[code]

### Collector version

latest

### Environment information

## Environment
OS: (e.g., "Ubun

[2022-11-12 07:48] MovieStoreGuy commented on #7942
Yeah, I don't think this is a good idea.

[2022-11-12 07:48] #7942 closed

[2022-11-12 09:44] dmitryax opened #16274 "See if we can use dyladan/component-owners instead of CODEOWNERS"
We rely on the CODEOWNERS file a lot and built a lot of tooling on top of it.

Looks like https://github.com/dyladan/component-owners can be a good fit for our use case. I also like the YAML format, no need for manual parsing of the CODEOWNERS file anymore.

cc @evan-bradley @TylerHelmuth

[2022-11-12 15:30] TylerHelmuth commented on #16274
I love that this action does both assigned and reviewers, the ones I found only did reviewers.

I think my primary concern would be if GitHub starts using the CODEOWNERS file for something else and then we don't have it. But it's not a big concern bc we could just add it back.

[2022-11-13 21:23] MovieStoreGuy opened #16276 "[processor/metricstransform] Include Splitby operation"
### Component(s)

processor/metricstransform

### Is your feature request related to a problem? Please describe.

In the components current form, it is not possible without some complicated aggregation logic to convert an attribute to a new metric.

### Describe the solution you'd like

What I'd like to do is the following:

[code]

### Describe alternatives you've considered

At this point in tim

[2022-11-14 02:05] gnozil commented on #9018
We finally removed the otel-colllector from our environment. Originally we supposed the traces metrics from otel-collector will be useful for Jeager-UI Monitor tab, however, it showed that Monitor tab in Jeager-UI is much less useful -- there is not filter function there and the metrics from different environment mixed, that made the data meaningless at all. As we got rid of Jaeger-UI Monitor func

[2022-11-14 05:47] simshengqin commented on #16259
any updates regarding this? I am facing the same issue and will appreciate an update, thank you!

[2022-11-14 06:12] wzy531a opened #16277 "[receiver/vcenter]collect VMs panic nil pointer"
### Component(s)

receiver/vcenter

### What happened?

## Description
I found a nil pointer exception when we run vcenter receriver.

## Steps to Reproduce

## Expected Result
An error occurred when collecting VMs, and I do not want the opentelemetry-collector process to stop

## Actual Result
panic nil pointer exception

### Collector version

v0.63.0

### Environment information

## Environment

[2022-11-14 09:36] gbbr commented on #15689
Since there are no objections here, I'm going to start working on this.

[2022-11-14 12:26] astencel-sumo commented on #16226
Here's a related issue:

- https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/14117

In [this comment](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/14117#issuecomment-1265535792) on that issue, I describe how to find:
- number of free inodes on a mount - possibly this would be `host.disk.inodesFree`
- total number of inodes - this is probably `host

[2022-11-14 12:34] astencel-sumo commented on #16208
@sweetpotato0 does this mean changing `relabel_configs` to `metric_relabel_configs` fixed the issue for you? Can this issue be closed?

[2022-11-14 12:55] #13409 closed

[2022-11-14 14:24] sandy2008 opened #16281 "Removing the jar files in testdata"
### Component(s)

receiver/jmx

### Describe the issue you're reporting

In https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/jmxreceiver/testdata, we can find multiple jar files in the folder which will eventually create security issues and make the repo larger with the binaries.

Can we put everything in a Dockerfile and make it into an image?

[2022-11-14 14:30] astencel-sumo commented on #16090
This error is actually caused by trying to run a binary that's linked to glibc on Alpine (admittedly, the error message "no such file or directory" is not very helpful).

One way to fix this is to add the `GCO_ENABLED=0` go build flag, let me create a change for this.

[2022-11-14 14:56] straussb commented on #5373
Disclosure, I don't work on OTel projects anymore, but I have [notified](https://github.com/aws-observability/aws-otel-collector/issues/1636) the owners of the repo that motivated this issue.

[2022-11-14 14:57] jsirianni commented on #15290
I would love to have this. Right now I am trying to combine statsd with Kubernetes Attributes Processor, which can use a pod ip address to lookup additional metadata, like pod name and such. This would be useful when using statsd in a kubernetes environment.

[2022-11-14 14:58] astencel-sumo commented on #16090
/label -needs-triage

[2022-11-14 15:19] jsirianni commented on #15290
Additionally, it would be nice if the resource key was configurable. the K8s attributes processor can look for `k8s.pod.ip`, which would mean renaming `net.sock.peer.addr` (or whatever ends up being implemented. Not a big deal.

[2022-11-14 15:56] loomis-relativity opened #16283 "[receiver/azureeventhub] Use attributes/fields to represent Azure logs"
### Component(s)

receiver/azureeventhub

### Is your feature request related to a problem? Please describe.

The current implementation dumps the entire Azure log into the body of the OpenTelemetry log record as a byte array. This causes the log to be complete opaque and unusable in our storage backends (one of which happens to be New Relic).

### Describe the solution you'd like

Given that the

[2022-11-14 16:03] djaglowski commented on #16283
I think it makes sense that the receiver would be able to parse the logs into the OTel data model.

@loomis-relativity, any thoughts on how the configuration would need to change in order to support either mode?

[2022-11-14 16:12] djaglowski commented on #16283
This makes sense to me. Which behavior should be the default? (I tend to think it should be whichever requires less user configuration in order to be useful.)

[2022-11-14 16:14] atoulme commented on #16283
I think once the `azureresourcelog` has landed and is validated, it should be default, I'd make it a separate PR.

[2022-11-14 16:14] loomis-relativity commented on #16283
@djaglowski @atoulme I think having a simple switch for the behavior is fine. Once the log has been translated to OpenTelemetry format, users can use processors to do further transformations if they need it; no need to add switches for that here.
I'm fine with either one being the default.

[2022-11-14 16:15] atoulme commented on #16283
@loomis-relativity so to be super clear: your contribution is most welcome. That's a great development :D

[2022-11-14 16:17] schmikei opened #16284 "[receiver/mongodbatlas] Polling alerts sometimes does not have hostname field"
### Component(s)

receiver/mongodbatlas

### What happened?

## Description

The receiver in poll mode runs into issues for some alerts.

## Steps to Reproduce

Run polls against active alerts that do not fall into `HOST, HOST_METRIC, and REPLICA_SET`

## Expected Result

No error

## Actual Result

[code]

### Collector version

v0.64.0

### Environment information

## Environment
OS: (e.g., "Ubu

[2022-11-14 16:17] djaglowski opened #16285 "[exporter/splunkhec] Flaky test - TestConsumeMetricsData/large_batch"
### Component(s)

exporter/splunkhec

### What happened?

[code]

Observed here: https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3460029827/jobs/5776100283#step:8:5386

And here: https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3450053627/jobs/5758404911#step:8:5395

### Collector version

main

### Environment information

## Environmen

[2022-11-14 16:18] loomis-relativity commented on #16283
@atoulme We'll have to get it pulled into a sprint, but there's no problem in principle for us to do the work. Legal has already approved contributions to OpenTelemetry, so there shouldn't be further delays once we've got something. Don't wait on us though, if you want to tackle it.

[2022-11-14 16:24] atoulme commented on #16283
There's several things to do, so let's just make a list here and whoever can take this can take some of it rather than the brunt of the work:
* [ ] Add a config option allowing to change encoding, with one option `raw` that is default
* [ ] Add a translation logic that does azure resource log to native otel log (this is where you can help the most @loomis-relativity)
* [ ] Add a new codec `azurere

[2022-11-14 16:32] atoulme commented on #16285
I note this specifically happens on Windows unit tests. I recommend we disable this test on Windows for now, thoughts?

[2022-11-14 16:39] #14122 closed

[2022-11-14 17:06] djaglowski commented on #16285
I think so - it appears to be happening frequently

[2022-11-14 17:19] lrivera-verimatrix commented on #14030
I wanted to know if supporting TLS was being worked on, but it seems it is not. I hope someone does soon because having encryption of data in transit is a must for production pipelines. Without it I cannot really use the collector or logging pipelines.

[2022-11-14 17:40] dineshg13 commented on #14186
@husseinraoouf to clarify, this error message shouldn't stop datadog exporter from reporting metrics or have any other issues. This is happening as the docker image doesn't have required dependencies.

There are few routes we can take.
1. Classify the warning as info, with additional information that it doesn't impact the exporter.  (preferred )
2. Add the dependencies to the official built , migh

[2022-11-14 17:46] dmitryax commented on #14030
Hey. @nunojca , @lrivera-verimatrix . I don't have any spare cycles to work on this issue. So any help is appreciated

[2022-11-14 17:54] dmitryax commented on #16285
@atoulme seems like it started after the recent refactoring to count correct gzip payload. It might worth taking a deeper look. Number of active goroutines is concerning

[2022-11-14 19:39] loomis-relativity commented on #16283
@atoulme @djaglowski Below is a proposed mapping between the [Azure resource logs schema](https://learn.microsoft.com/en-us/azure/azure-monitor/essentials/resource-logs-schema) and OpenTelemetry. Comments?

Azure | OpenTelemetry | OpenTelemetry Location | comments
-- | -- | -- | --
time (required) | time_unix_nano | field |  
resourceId (required) | resourceId | resource attribute | map to service

[2022-11-14 19:40] #13838 closed

[2022-11-14 19:45] damemi commented on #16270
Created a PR to add this downstream https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/pull/531
Will close this issue once that is released and updated here
/assign

[2022-11-14 19:54] Aneurysm9 commented on #16285
Another instance: https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3442836564/jobs/5743782681#step:8:5383

[2022-11-14 20:03] BinaryFissionGames commented on #16270
Thanks @damemi!

[2022-11-14 20:13] atoulme commented on #16285
Understood. Sorry for this - I will get a PR out ASAP to disable on Windows and take a look.

[2022-11-14 20:32] #16284 closed

[2022-11-14 20:50] atoulme commented on #16283
At a glance, it makes sense to me. But I'm not the right person to review this. I recommend that you look at the existing mappings here: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/logs/data-model.md#splunk-hec and open a PR under the specification repository with this table for review.

[2022-11-14 21:28] #14708 closed

[2022-11-14 21:39] stephenhong commented on #16226
@dmitryax @astencel-sumo Thank you for the references. The filesystem metrics [documentation](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/documentation.md) lists only three metrics that are scrapped by the filesystem scrapper: system.filesystem.inodes.usage, system.filesystem.usage, system.filesystem.ut

[2022-11-14 21:39] mattsains commented on #6641
I'm working on this issue. I've noticed that a lot of code in contrib defines different timeout values, and a lot of them are shared across packages, so I'm thinking a lot of the explicit timeout setting is just copy-pasting. Anyway, I'm going to preserve these changes in my PR because I can't know whether these timeouts are intentional or not.

I have a lot of work to do to update all the tests s

[2022-11-14 21:43] codeboten commented on #16271
@Aneurysm9 @bryan-aguilar is this a component folks from AWS would be interested in sponsoring?

[2022-11-15 00:04] codeboten opened #16299 "updating prometheus library causes problems"
### Component(s)

receiver/prometheus

### Describe the issue you're reporting

The suggested [dependabot update](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/16289) to the prometheus library causes problems:

[code]

[2022-11-15 00:43] Aneurysm9 commented on #11438
I really think it does.

Are you on EKS using Fargate for compute?  Have you not set CPU requests or limits?  We have recently seen this configuration resulting in dropped metrics as a result of .25vCPU being allocated by default.

Are you on ECS running the collector as a sidecar and shipping it metrics that don't have sufficiently identifying resource attributes and are not using the ECS resourc

[2022-11-15 00:57] dashpole commented on #16299
Cool!  I guess that means we can begin ingesting prometheus sparse/native/exponential histograms.  We should probably just add a NoOp implementation to start to fix the dependency problem.

[2022-11-15 01:15] mattsains commented on #6641
here's the progress I've made so far. The vast majority of the work is tests, which I'll continue burning through tomorrow:

https://github.com/open-telemetry/opentelemetry-collector-contrib/compare/main...mattsains:opentelemetry-collector-contrib:6641?expand=1

Please let me know if you see any issues with this because I'm repeating the same pattern hundreds of times so it would be good to know e

[2022-11-15 02:40] liurui-1 opened #16303 "Require resource attributes about the host for hostmetricsreceiver"
### Component(s)

receiver/hostmetrics

### Is your feature request related to a problem? Please describe.

Right now the `hostmetrics` receiver does not provide any resource attributes. (Only the `process` ResourceMetrics has some resource attributes about that particular collector process which we do not need).
We need those resource attributes recommended at [https://opentelemetry.io/docs/refer

[2022-11-15 06:05] dmitryax opened #16304 "[receiver/chronyreceiver] Flaky test TestGettingTrackingData"
### Component(s)

receiver/chrony

### What happened?

See https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3466820571/jobs/5791461370

[code]

### Collector version

latest

### Environment information

## Environment
OS: (e.g., "Ubuntu 20.04")
Compiler(if manually compiled): (e.g., "go 14.2")

### OpenTelemetry Collector configuration

_No response_

### Log output

[2022-11-15 06:21] atoulme commented on #16285
Reviewing the code - it's manifest it's not closing the HTTP servers used during testing. I think I can at least try that to see if that frees up resources, especially goroutines. https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/16305 is the PR for this.

[2022-11-15 07:03] MovieStoreGuy commented on #16304
Pants.

I am currently travelling for work atm but I can see about resolving this flaky test.

[2022-11-15 07:23] dmitryax commented on #16285
Thanks @atoulme!

[2022-11-15 09:32] mx-psi commented on #16303
You can use the resource detection processor (e.g. the [`system`](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/resourcedetectionprocessor/internal/system) detector) for this (but maybe we also need something specific in the host metrics receiver, I will leave that decision to Dmitrii)

[2022-11-15 09:40] liurui-1 opened #16307 "receiver/hostmetrics reports metrics about the container instead of the host"
### Component(s)

receiver/hostmetrics

### What happened?

## Description
Some of the metrics got by `receiver/hostmetrics` are the metrics of the container itself. While we need the metrics for the host who owns the container. One typical example is `system.filesystem.usage` metric from `filesystem` ResourceMetrics. Here is the example, you can see it is the metric for the container not for the

[2022-11-15 11:02] astencel-sumo commented on #16226
As I said above, you should be able to get all information from the available metrics. Let's break down this [UsageStat](https://github.com/shirou/gopsutil/blob/v3.22.10/disk/disk.go#L12-L23) structure:

| UsageStat field | Host Metrics receiver equivalent | Reference |
|---|---|---|
| `Path` | `mountpoint` attribute | [link](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/v

[2022-11-15 11:48] #16220 closed

[2022-11-15 11:56] canhnt opened #16310 "elasticsearchexporter-v0.64 is incompatible with ES server 7.10.2"
### Component(s)

exporter/elasticsearch

### What happened?

## Description
The elasticsearch exporter v0.64.0 that uses [go-elasticsearch v8.4](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/v0.64.0/exporter/elasticsearchexporter/go.mod#L7). Because of compatibility issue, it cannot deliver logs to elasticsearch-server old version 7.10.2

## Steps to Reproduce

1. Run ote

[2022-11-15 12:35] albertteoh commented on #9018
@Bruno-DaSilva @forestsword @greut the bug indeed hasn't yet been fixed and https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/11149 was just a speculative attempt at a fix without being able to reproduce the problem. The spanmetrics processor was still propagating the error out of the processor, so I'm not sure why the error wasn't being logged anymore in v0.59.0.

Fortunately

[2022-11-15 12:41] Bhogayata-Keval opened #16312 "CPU core information missing in kubeletstatsreceiver"
### Component(s)

_No response_

### Describe the issue you're reporting

k8s.node.cpu.utilization --- does not have "cpu" as attribute,
The values I am getting for my cluster is around 184-190
am I supposed to divide this data by CPU cores, (If yes, how can I get kubernetes node CPU cores  ?)

[2022-11-15 14:11] rmfitzpatrick commented on #16281
@sandy2008 these aren't actual jars (hence the `fake_` prefix) are used to test functionality added in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/9985

[2022-11-15 15:10] greut commented on #9018
Same, otelcontrib instead of the jaeger-agent on the host and then jaeger-collector. Hoping for a best future of the fully integrated jaeger-collector 2

[2022-11-15 15:21] evan-bradley opened #16313 "Centralize contrib component definitions"
Follow up to [this PR comment](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/15721#issuecomment-1297643066).

We currently have the following places where we have to maintain a list of components within the contrib repo:
- `versions.yaml`
- `.github/CODEOWNERS`
- `.github/dependabot.yml`

It would be helpful to have a single definition for these lists with a Make target to

[2022-11-15 15:47] djaglowski commented on #9939
Closed by #16264

[2022-11-15 15:47] #9939 closed

[2022-11-15 15:51] evan-bradley commented on #16274
I think this action would work well for us. We would likely want to also implement adding component labels and assigning an approver to the PR to either this action or to another action working from the same component definition file. Additionally, if we use this action, we should either look to move to using a common format for component definitions (see https://github.com/open-telemetry/opentele

[2022-11-15 15:55] schmikei opened #16314 "[pkg/stanza] Functionality to delete files once processed"
### Component(s)

pkg/stanza, receiver/filelog

### Is your feature request related to a problem? Please describe.

One use case that has come up is the ability to specify to the receiver that once a file has been fully read and processed by the collector that it should be removed from the host system.

Some users would argue that this feature would greatly increase usage of the `filelogreceiver`

[2022-11-15 18:17] stephenhong commented on #16226
I see. I want to make sure I'm understanding this correctly. There is no need to add fields in the filesystem metadata, such as **system.filesystem.inodes.total** or **system.filesystem.inodes.utilization**, since it can be inferred by existing metrics (i.e. inodes total = system.filesystem.inodes.usage{state="used"} + system.filesystem.inodes.usage{state="free"}). Is the design here to have end u

[2022-11-15 19:24] stephenhong commented on #16226
I see. I want to make sure I'm understanding this correctly. Are you telling me that there is no need to add fields in the filesystem metadata, such as **system.filesystem.inodes.total** or **system.filesystem.inodes.utilization**, since it can be inferred by existing metrics (i.e. inodes total = system.filesystem.inodes.usage{state="used"} + system.filesystem.inodes.usage{state="free"})? Is the d

[2022-11-15 19:37] dmitryax commented on #16285
@atoulme looks like the fix didn't help. I still see the error https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3473353302/jobs/5805283472

[2022-11-15 19:43] dmitryax commented on #16307
This is expected behavior. If you run the receiver from a container -> container is a host. If you need to collect host metrics from a container, see https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/hostmetricsreceiver#collecting-host-metrics-from-inside-a-container-linux-only

[2022-11-15 19:43] #16307 closed

[2022-11-15 19:45] dmitryax commented on #16307
Closing the issue as answered, feel free to reopen otherwise

[2022-11-15 19:51] evan-bradley commented on #8188
I can work on this.

To summarize the discussion so far, there's consensus that we would like the following attributes to have filters:
- `process.command_line`
- `process.executable.name`

I'm not sure whether there is consensus on adding filters for `process.pid` or `process.owner`.

- `process.pid`: @davidmirza408 can you describe the use case for this one? It's not immediately clear to me how

[2022-11-15 21:31] TylerHelmuth opened #16320 "[pkg/ottl] Unable to use ottl lists in a Getter"
### Component(s)

pkg/ottl

### What happened?

## Description
While trying to set an attribute to a list of strings I ran into an issue trying to use `set` with OTTL lists.  The exact statement was

[code]

which resulted in a parsing error during collector startup.  Digging into the issue it looks like `newGetter` doesn't know how to handle `val.List`.

I see two solutions:
1. Update `newGetter`

[2022-11-15 21:32] TylerHelmuth commented on #16320
@evan-bradley do you have time to look at this?

[2022-11-15 22:11] dmitryax commented on #16036
@evan-bradley I see that PRs are getting labels automatically

[2022-11-15 22:22] atoulme commented on #16285
Understood. Less goroutines, but still seeing it. I welcome any help - this is still only happening on Windows.

[2022-11-15 22:29] evan-bradley commented on #16036
Do you have an example where it isn't requesting a review? I have seen a few instances where code owners aren't added to a PR, which I believe is because someone in the request isn't part of the OpenTelemetry organization. For normal cases it appears to add code owners when it adds the label.

[2022-11-15 22:31] evan-bradley commented on #16320
I'll look into this. I agree that option 2 is better here.

[2022-11-15 23:28] atoulme commented on #16285
On Linux:
[code]
On a Windows successful build:
[code]

We send 65000 metric events through.

I think this is a bit beyond the scope of the unit test and this test feels heavy, so I have another PR to try to make this test less flaky yet still testing things:
https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/16322

[2022-11-16 00:58] MovieStoreGuy commented on #16304
@dmitryax , this should be fine to close now right?

[2022-11-16 01:01] dmitryax commented on #16304
Sure, we can close now, thanks!

[2022-11-16 01:01] #16304 closed

[2022-11-16 01:31] dmitryax commented on #16036
You're right. They are not members of the organization. For example, I submitted https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/16302 and none of the 3 code owners weren't notified. I think we should ping them if we cannot assign reviewers

[2022-11-16 05:23] dmitryax commented on #16276
I think this should be implemented as new functionality in the transform processor instead of metricstransform processor. @TylerHelmuth do you have any ideas on how this can be done?

[2022-11-16 07:13] atoulme commented on #12667
I'd be interested to see this one happen. How can I help?

[2022-11-16 08:24] adam-kiss-sg opened #16325 "[processor/transform] Add option for aggregating metrics with same metric identity (resolving Identity Conflict)"
### Component(s)

processor/transform

### Is your feature request related to a problem? Please describe.

I have metrics produced by spanmetrics processor, which has an attribute for the http status code. I would like to instead have status classes (eg: 2xx, 4xx, 5xx). If i rename the labels of the metrics, it would lead to [Identity Conflict](https://github.com/open-telemetry/opentelemetry-colle

[2022-11-16 08:56] #16090 closed

[2022-11-16 09:24] secustor commented on #6437
IMO still a valuable change @open-telemetry/collector-contrib-triagers

[2022-11-16 11:08] fatsheep9146 commented on #8816
Although https://github.com/open-telemetry/opentelemetry-collector/pull/5304 is closed, but I think this enhancement is still needed, right?
@jpkrohling

[2022-11-16 11:17] foxlegend commented on #7945
I am sorry for the late reply.

In fact, I was not able to use the extension, as I expected to use a label instead of context metadata to send the metric to a specific tenant, as what https://github.com/blind-oracle/cortex-tenant proposes.

If you have any hint about how to do this, it would be really helpful.

[2022-11-16 11:17] MovieStoreGuy commented on #16259
@evan-bradley feel free to assign this to me

[2022-11-16 11:22] MovieStoreGuy commented on #12667
Hey @atoulme ,

Sorry, I've been meaning to come back to this one. What I wanted to do is take the existing internal python scripts we use to monitor splunk and upstream it for everyone to use. We are currently using Splunk 8 and looking forward to Splunk 9.

What would be really helpful is any external documentation on monitor endpoints, associated runbooks, and potentially help validating if thi

[2022-11-16 11:52] matthewmodestino commented on #7396
Bump. Still need this.

[2022-11-16 13:14] aaronrenner commented on #1909
I agree Datadog's custom span tags aren't documented anywhere. However I did find a list of known span tags in the python datadog client

https://github.com/DataDog/dd-trace-py/blob/41437bd11de1974cfda7b623a277656fcc3094a7/ddtrace/opentracer/tags.py#L16-L23

I think to control the span type, you'll use the `span.type` attribute and can set it to `web`,  `db`, `custom`, etc. I just looked at the Ty

[2022-11-16 14:11] evan-bradley opened #16326 "Ping code owners who are not OpenTelemetry organization members in PRs"
### Component(s)

_No response_

### Is your feature request related to a problem? Please describe.

Code owners who are not members of the OpenTelemetry organization cannot be added as reviewers to PRs. We would still like these users to be aware of and review changes to the components they own.

### Describe the solution you'd like

When a request to add code owners to a PR fails, ping all code

[2022-11-16 14:13] Bigguy34 opened #16327 "XRay exporter throwing errors on Name"
### Component(s)

exporter/awsxray

### What happened?

## Description
The [SqlClientInstrumentation](https://github.com/open-telemetry/opentelemetry-dotnet/tree/main/src/OpenTelemetry.Instrumentation.SqlClient) will send the [database name with the port](https://learn.microsoft.com/en-us/dotnet/api/system.data.sqlclient.sqlconnection.connectionstring?view=dotnet-plat-ext-7.0) as the activity disp

[2022-11-16 14:14] evan-bradley commented on #16036
That makes sense to me. It's a little more involved than adding them as reviewers, so I've opened an issue here to outline approaches we can take: https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/16326.

[2022-11-16 14:15] Bigguy34 commented on #16327
Is there a work around for this? I am hitting this right now. I assume there is some magic I can preform to a span to fix the display name of the activity.

[2022-11-16 14:24] mkielar commented on #8274
Bad, bad bot :P
The issue is still relevant, and I'd still like to see that implemented. I believe having `aws.ecs.task.id` explicitly exported makes sense, and improves internal consistency of the whole software package, because it makes various components within the package (like `emfexporter`) cooperate better without having to do extra configuration steps.

[2022-11-16 14:34] djaglowski commented on #7298
This is still relevant, but should wait until a final decision on the [ECS OTEP](https://github.com/open-telemetry/oteps/pull/199).

[2022-11-16 15:12] djaglowski commented on #6437
I think this is a good idea in general. This issue is a bit old and it looks like a couple things may be out of date, so to clarify where things are at now:

The default target `all` contains the following:
[code]

`all-common` runs the following for each module:
[code]

The point here, is that `lint` is presently included when running `make`, so we only need to look at adding `goporto` and `multi

[2022-11-16 15:48] cijothomas commented on #3665
https://github.com/Azure/azure-sdk-for-js/pull/21968/files
https://github.com/microsoft/ApplicationInsights-Java/pull/1834/files

Implementations in official Microsoft repos. For reference, if this is being fixed here too.

[2022-11-16 16:18] TylerHelmuth commented on #16276
I'm struggle to imaging what it's like to build a metric out of an attribute, but I'm sure the transform processor could be made to do it now.

[2022-11-16 17:02] TylerHelmuth commented on #9410
I am starting to take a look at this, starting with the json_parser functionality.

[2022-11-16 17:20] codeboten commented on #16058
I believe this issue may be caused by https://github.com/open-telemetry/opentelemetry-collector/issues/6420, @geoffreytran can you confirm whether this is reproducible with the latest version of the collector?

[2022-11-16 17:22] codeboten commented on #16281
It appears the files are negligible in size, is this still a problem?

[code]

[2022-11-16 17:30] slavomirs commented on #13552
there is an open PR ( #14916 ), anyone willing/able to review?

[2022-11-16 17:52] djaglowski opened #16331 "[pkg/stanza/fileconsumer] Flaky rotation tests on WIndows"
### Component(s)

pkg/stanza

### Describe the issue you're reporting

Several rotation tests have been intermittently failing on Windows.

Although these tests have never been perfectly deterministic, they were until recently quite stable. Until they are investigated and fixed, I will disable them.

Related issues:
- #16256
- #16064
- #16040

[2022-11-16 17:53] astencel-sumo commented on #1631
I suppose this can be closed now, what do you think @evan-bradley? Given that the [release.md](https://github.com/open-telemetry/opentelemetry-collector/blob/main/docs/release.md) file now includes the release schedule table at the bottom.

[2022-11-16 17:56] astencel-sumo commented on #2379
I believe this is now done. Can we close this @evan-bradley?

The contrib image includes the ARM64 version, as you can see in Docker Hub: https://hub.docker.com/r/otel/opentelemetry-collector-contrib/tags.
![image](https://user-images.githubusercontent.com/70892616/202256782-5431ec4d-81ca-49d7-a0af-3a248b9f698f.png)

[2022-11-16 19:23] pcwiese commented on #3665
I'll start on a PR for this feature.

On Wed, Nov 16, 2022 at 8:48 AM Peter Wiese ***@***.***> wrote:

[2022-11-16 19:31] #16036 closed

[2022-11-16 21:01] djaglowski commented on #16314
I think this functionality would be valuable for some use cases. As noted in today's SIG, there is at least one other log agent that supports this ([logstash](https://www.elastic.co/guide/en/logstash/current/plugins-inputs-file.html#plugins-inputs-file-file_completed_action)).

The main concern here is security. The worst case scenario is that a malicious actor is able to delete important files. I

[2022-11-16 21:16] schmikei opened #16336 "[pkg/stanza] Severity Parser `isRange` decode is expecting wrong type"
### Component(s)

pkg/stanza

### What happened?

## Description

I believe this is a regression due to #14553 because now it appears that the keys of a severity mapping is now decoding to `map[string]interface{}` but the code is expecting a decoded `map[interface{}]interface{}`

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/52edaea6d00df10fead2ca2651c51cb3b6af7831/pkg/sta

[2022-11-16 21:18] schmikei commented on #16336
\cc @djaglowski

[2022-11-16 21:19] MovieStoreGuy commented on #12667
If you're happy to wait the weekend, my goal this week was to port our internal stuff to the collector to then share upstream.

Also happy to talk more on slack

[2022-11-16 21:32] mattsains commented on #8393
I added the following lines to the `generateMetricData` function and caused [TestAttributes_FilterMetrics](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/1b4d33f6eb5b3d774a946866405cc4e11025b5cd/processor/attributesprocessor/attributes_metric_test.go#L188) to fail:

[code]

The reason the tests pass without this change is that the `attrs` parameter to `generateMetricData` i

[2022-11-16 21:36] mattsains commented on #8393
Btw it looks like all the tests that don't specify a `Resources` filter pass just fine when adding data points to the metrics object

[2022-11-16 21:52] TylerHelmuth opened #16337 "[pkg/ottl] Update contexts to properly handle map values in attributes"
### Component(s)

pkg/ottl

### Is your feature request related to a problem? Please describe.

Currently the OTTL contexts do not know how to support maps in attributes

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/f36fd9d1882036a516dc6056ee1381aef312c466/pkg/ottl/contexts/internal/ottlcommon/value.go#L89

This doesn't cause many problems today, but may cause issues when

[2022-11-16 22:11] atoulme commented on #12667
No rush here.

[2022-11-16 23:35] Aneurysm9 commented on #14139
This appears to duplicate #10358.  If that is not the case, please re-open with additional details.

[2022-11-16 23:35] #14139 closed

[2022-11-17 02:29] atoulme commented on #16285
Closing. Please reopen if you see more occurrences of this issue.

[2022-11-17 06:59] TylerHelmuth commented on #14142
@atoulme math has been added to the OTTL. Does it solve this issue?

[2022-11-17 10:30] adam-kiss-sg opened #16344 "[processor/spanmetrics] Allow turning off default dimensions"
### Component(s)

processor/spanmetrics

### Is your feature request related to a problem? Please describe.

I would like to use the spanmetrics processor to extract http call metrics. I'm not intrested in the operation/status.code dimensions.

### Describe the solution you'd like

I would like an option to turn off default dimensions (service.name, operation, span.kind, status.code), preferably o

[2022-11-17 10:46] mark8s commented on #12975
@wajika what reason? I had the same problem

[2022-11-17 10:51] mark8s opened #16345 "cannot start pipelines: listen tcp: address http://prometheus:9090: too many colons in address"
### Component(s)

_No response_

### Describe the issue you're reporting

![image](https://user-images.githubusercontent.com/47961301/202427021-c0652215-9e16-4dc7-82c2-b3488b7986b0.png)

When the service started, this error was reported, what is the reason? How should I fill in this endpoint?

[code]

My env ：
[code]

[2022-11-17 11:31] Bhogayata-Keval commented on #16312
/label question

[2022-11-17 12:17] #14593 closed

[2022-11-17 12:22] atingchen commented on #14638
@djaglowski Can we accept this receiver?

[2022-11-17 12:50] evan-bradley commented on #2379
Closing as completed. Thanks for the screenshot @astencel-sumo.

[2022-11-17 12:53] evan-bradley commented on #1631
I would agree, closing this as completed. Thanks @astencel-sumo.

[2022-11-17 12:53] #1631 closed

[2022-11-17 14:09] djaglowski commented on #14638
I'm willing to sponsor this component without the replay functionality and would be open adding replay oriented features later.

[2022-11-17 14:48] Depechie opened #16348 "Unable to start agent with oauth2client extension"
### Component(s)

extension/oauth2clientauth

### What happened?

## Description

Trying to have 2 opentelemetry collectors talk to each other using the oauth2client extension ( agent < > server ).

## Steps to Reproduce

Docker compose file

services:
  otel-agent:
    image: otel/opentelemetry-collector-contrib:0.64.1
    container_name: otel-agent
    hostname: secure-otel
    restart: unless-s

[2022-11-17 16:11] pavankrish123 commented on #16348
Looking into this.

[2022-11-17 17:14] architjugran opened #16349 "Mask lock stats PII in CloudSpannerReceiver"
### Component(s)

receiver/googlecloudspanner

### Is your feature request related to a problem? Please describe.

Feature request:
When monitoring Cloud Spanner statics by using Cloud Spanner receiver , one of our customers would like to mask PII information which included labels metrics as row_range_start_key so that development engineers can tune or debug Cloud Spanner based on statics metrics

[2022-11-17 19:30] pcwiese commented on #3665
See [exporter/azuremonitor] Support span and exception events by pcwiese ·
Pull Request #16354 · open-telemetry/opentelemetry-collector-contrib
(github.com)
<https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/16354>

On Wed, Nov 16, 2022 at 11:23 AM Peter Wiese ***@***.***> wrote:

[2022-11-17 19:51] rapphil commented on #7596
This is still relevant

[2022-11-17 20:18] jmacd commented on #7962
Discussed in the 11/17/22 Sampling SIG.

This would be addressed by the proposal dicsussed in https://github.com/open-telemetry/opentelemetry-specification/issues/1413, which would take advantage of 7 definite bytes of randomness per TraceID.

[2022-11-17 21:12] geukhan commented on #14742
Hi @edenkoveshi, I have a few questions if you don't mind:

- What attributes do you want to extract?
- Do you mean you want to extract "attributes" of a pod within a specific namespace, a namespace name being "RoleBinding"? I am not sure if I got that.
- What do you mean by not needing a cluster role binding, why would you need a role binding in the first place?

I appreciate if you can elaborate

[2022-11-17 21:20] evan-bradley opened #16355 "[pkg/ottl] Ensure arrays in attribute values are homogeneous"
### Component(s)

pkg/ottl

### Is your feature request related to a problem? Please describe.

Arrays in attribute values [are required to be homogeneous](https://opentelemetry.io/docs/reference/specification/common/#attribute) by the specification. While OTLP does support heterogeneous arrays for attribute values, backends are expecting spec-compliant data, so we should ensure the OTTL conforms

[2022-11-17 21:30] edenkoveshi commented on #14742
From the documentation
`The processor uses the kubernetes API to discover all pods running in a cluster, keeps a record of their IP addresses, pod UIDs and interesting metadata.`
It queries the API for pods within the entire cluster, which requires ClusterRoleBinding

I want to achieve the same thing but not for pods in the entire cluster (I only want some labels actually but it doesn't really mat

[2022-11-17 21:37] geukhan commented on #14742
@edenkoveshi thanks, this explains everything I needed to understand. I will fiddle with it and will let you know if I end up creating a PR to address this (unless someone who is already member picks it up before that). Cheers!

[2022-11-17 21:42] loomis-relativity commented on #16283
@atoulme @djaglowski See the PR (#16357) for an initial implementation. I'll pull this into our custom collector to test it. Unfortunately, that will happen after the Thanksgiving break. In the meantime, any feedback on the PR is welcome. You should be able to modify the PR if necessary.

[2022-11-17 21:53] Depechie commented on #16348
Hey @pavankrish123
So I added following section to the otel collector config for the agent:

[code]

But is that enough, because the logs don't seem to be different?

[code]

[2022-11-17 23:17] codeboten commented on #16345
@mark8s if you follow the documentation here: https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/prometheusexporter#getting-started it will lead you to the HTTPServerSetting documentation https://github.com/open-telemetry/opentelemetry-collector/tree/main/config/confighttp#client-configuration which shows endpoint as `address:port`. This should work without the sc

[2022-11-18 01:27] mark8s commented on #16345
@codeboten ok, thank you, your reply is very helpful to me~

[2022-11-18 01:28] #16345 closed

[2022-11-18 01:57] fatsheep9146 commented on #14742
I think this is also block by #15651, we should solve that first. cc @dmitryax

[2022-11-18 02:28] MovieStoreGuy commented on #16276
We are currently using the `SignalFx Exporter` to do this for us, but effectively the logic is:

[code]

[2022-11-18 02:43] TylerHelmuth commented on #16276
Yes I think a function could be added to do that. It would probably be best to do it at the Metric context, but it's possible to do at the DataPoint Context. The caveat with doing it at the datapoint level is that you shouldn't remove items from the datapoint list.

[2022-11-18 02:59] #16277 closed

[2022-11-18 03:40] #15701 closed

[2022-11-18 04:13] #7962 closed

[2022-11-18 06:08] Depechie commented on #16348
If it would help, I can also pass all the south settings data... it is just a test app registration in Azure.
So can easily delete it when this is fixed/working.

Just let me know if that is needed or not.

[2022-11-18 07:05] dmitryax opened #16363 "[receiver\mongodb] Falky test TestScraperLifecycle"
### Component(s)

receiver/mongodb

### What happened?

See https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3494329092/jobs/5850031320

[code]

### Collector version

latest

### Environment information

## Environment
OS: (e.g., "Ubuntu 20.04")
Compiler(if manually compiled): (e.g., "go 14.2")

### OpenTelemetry Collector configuration

_No response_

### Log output

[2022-11-18 07:37] dmitryax commented on #16064
Seen here as well https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3494900649/jobs/5851105462

[2022-11-18 07:39] pavankrish123 commented on #16348
Thanks @Depechie. I was looking for these grpc logs

[code]

Is it possible to enable grpc debug logging by setting [these environment variables as specified ](https://github.com/grpc/grpc-go/blob/master/examples/features/debugging/README.md?plain=1#L11)

[code]

Also Quick question, curious any reason why we have inferred that oauth2client extension is causing the crash? logs indicate that shutdo

[2022-11-18 07:44] Depechie commented on #16348
Well @pavankrish123 if I create 2 ( agent & server ) services in the docker compose file that just leave out the
[code]
part, everything just works.
It's as soon as I add the configuration for oauth and use the extension, the agent crashes. The server keeps working.
If I leave out the oauth2client part only at agent level, the agent stays active and if I then send trace info, I get following log l

[2022-11-18 07:58] Depechie commented on #16348
[code]

Logs:
[code]

[2022-11-18 09:50] fatsheep9146 commented on #16355
May I try this issue? @evan-bradley

[2022-11-18 09:51] rinormaloku opened #16365 "Combine multiple labels of a metric into a single label"
### Component(s)

 metricstransform

### Is your feature request related to a problem? Please describe.

Frequently, we have a set of labels that we want to combine. For example, pick the `deploy` and `namespace` and combine those into `<deploy>.<namespace>`

So we would go from this metric:
[code]

To:
[code]

### Describe the solution you'd like

I think this would be possible if we could refer

[2022-11-18 10:14] JaredTan95 commented on #16344
Did you have tried with empty dimensions like:
[code]

[2022-11-18 10:16] pavankrish123 commented on #16348
Thanks @Depechie  I think I can reproduce the error, need to get to the bottom of it - I am guessing recent changes to core collector service lifecycle management is causing this issue.

Just FYI, I was able to reproduce this on local machine directly
Steps : downloaded 0.64.1 version of otel-collector and started it with the following collector config yaml

[code]
[code]

caused the entire proces

[2022-11-18 10:17] astencel-sumo commented on #16226
My opinion is it wouldn't hurt for the Host Metrics receiver to expose optional metrics like these. But I'm afraid it's not a popular opinion.

[2022-11-18 10:24] rinormaloku opened #16366 "Transform metric_statements fails with "invalid keys""
### Component(s)

_No response_

### What happened?

## Description

Using the transformation as documented:
[code]

Fails with the following error:

[code]

Using the latest image: `otel/opentelemetry-collector-contrib:0.64.1`

### Collector version

image: otel/opentelemetry-collector-contrib:0.64.1

### Environment information

_No response_

### OpenTelemetry Collector configuration

[code]

#

[2022-11-18 10:42] pavankrish123 commented on #16348
As a matter of fact any client auth extensions is causing the crash :(

example 1: enabling basic auth extension is also causing the same crash

[code]

[code]

@Depechie  can you please validate this in your end and adjust the bug description accordingly.

[2022-11-18 12:13] Depechie commented on #16348
@pavankrish123 confirmed

[2022-11-18 12:39] adam-kiss-sg commented on #16344
@JaredTan95 that only controls the "extra" dimensions, the default dimensions are always added.

In the docs:
[code]

In the code:

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/24ac3f844c3caa3d13a236f68ed301e5360280df/processor/spanmetricsprocessor/processor.go#L462

[code]

[2022-11-18 14:13] #16363 closed

[2022-11-18 14:19] evan-bradley commented on #16355
That would be great. It's yours.

[2022-11-18 15:21] stephenhong commented on #16226
Understood. I did more research and I found that the following process metrics are not available with the receiver:
**host.process.ioReadBytesPerSecond
host.process.ioReadCountPerSecond
host.process.ioWriteBytesPerSecond
host.process.ioWriteCountPerSecond
host.process.ioTotalReadCount
host.process.ioTotalWriteCount**
_(the naming convention comes from New Relic metric data)_

Currently, the only a

[2022-11-18 15:26] TylerHelmuth commented on #16366
@rinormaloku that syntax will be correct starting with 0.65.0 that will be released early next week.

In the meantime you can use the old syntax:

[code]

[2022-11-18 17:12] nlamirault opened #16368 "FluentBit - Collector - Loki : Failed to transform logs into Loki log streams"
### Component(s)

exporter/loki, receiver/fluentforward

### What happened?

## Description

I deploy on a Kubernetes cluster FluentBit, OpenTelemetry Collector and Loki. It seems i can't send logs to Loki

## Steps to Reproduce

## Expected Result

## Actual Result

With debug output :

[code]

Configuration :

[code]

### Collector version

0.64.0

### Environment information

## Environment
OS:

[2022-11-18 17:28] pavankrish123 commented on #16348
@Depechie an update

If you remove `tls.insecure` section in `exporter.otlp ` you should not see any issue. (for all the collectors).

So here is what is happening setting `tls.insecure` on OTEL exporter usually lead to an error on OTEL collector and collector used to die of gracefully.

Logs from 0.62.0 version

[code]

for some reason instead of failing gracefully the collector is crashing now.

[2022-11-18 17:32] Depechie commented on #16348
Well... I would love to try that. But on local docker container install, without insecure the stack does not work ☹️
I do not have a HTTPS cert available.

[2022-11-18 17:40] Depechie commented on #16348
Ok will try that next week :) thx for the details!!

[2022-11-18 18:20] #16337 closed

[2022-11-18 21:15] ajsaclayan commented on #13169
Bumping this can be this reconsidered?

[2022-11-19 00:10] dmitryax opened #16371 "[receiver/kafkametrics] Flaky test TestIntegrationSingleNode"
See https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3500780149/jobs/5863827525

[code]

[2022-11-19 01:05] dmitryax opened #16373 "[metrics builder] Add ability to enable/disable resource attributes"
User should be able to enable and disable resource attributes the same way as it's currently done for metrics:

### metadata.yaml interface changes for receiver authors

All resource attributes should get an additional field `enabled`. For now, let's keep all the existing attributes enabled by default, but receiver authors will be able to add (or turn existing) resource attributes into optional at

[2022-11-19 01:31] dmitryax opened #16374 "[metrics builder] Ability to re-aggregate metric by attributes"
We need to provide users with the ability to change a set of attributes emitted by a metrics receiver by applying an automatic re-aggregation of the data points. For example, `system.cpu.time` is emitted by default with `state` and `cpu` attributes. Many users don't need metrics per CPU core, so they would like to get metrics per host and state instead. Currently, they would need to set up an addi

[2022-11-19 01:32] tnsardesai commented on #8274
We also have a similar setup with app mesh + ecs fargate and are seeing the same issue. Thanks for also including the workaround @mkielar. I agree that `aws.ecs.task.id` should be explicitly exported especially because it is listed here https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/awsemfexporter#exporter-configuration.

[2022-11-19 02:00] dmitryax opened #16375 "[Metrics builder] Generate tests to cover the generated code"
Generate `internal/metadata/generated_metrics_test.go`

[2022-11-19 07:21] MovieStoreGuy commented on #16371
@pavolloffay ,

I am going to be out for two weeks, are you able to have a look at this?
Or I can quickly skip this test if it is blocking CI.

[2022-11-19 07:25] MovieStoreGuy commented on #8495
Sorry, I am back to working on this. I just need to rebase and catch up on what i have missed.

[2022-11-19 07:26] MovieStoreGuy commented on #6144
It looks like this issue has been resolved.

[2022-11-19 07:26] #6144 closed

[2022-11-19 07:28] MovieStoreGuy commented on #16276
That is fair, it would help unblock our dependancy on signalfx exporter performing this operation.

[2022-11-20 00:19] hamidp555 opened #16380 "[exporter/datadog] Logs export fails with '414 Request-URI Too Large'"
### Component(s)

exporter/datadog

### What happened?

## Description
Datadog exporter throws "414 Request-URI Too Large" error after exporting a few logs

Here is. error log:
2022-11-19T11:22:42.930Z error Failed to send logs {"kind": "exporter", "data_type": "logs", "name": "datadog/logs", "error": "414 Request-URI Too Large", "msg": "\r\n<title>414 Request-URI Too Large</title>\r\n\r\n

## Ste

[2022-11-20 11:05] albertteoh commented on #16344
@adam-kiss-sg have you tried:  `make docker-otelcontribcol` and referencing the `otelcontribcol` tag of the built image in docker/docker-compose?

[2022-11-20 23:38] kportertx commented on #14598
6.2 has been released with ARM support: https://download.aerospike.com/download/server/notes.html#6.2.0.0

[2022-11-21 03:38] MovieStoreGuy commented on #16310
Are you aware if there is an open issue for github.com/elastic/go-elasticsearch that related to this?

[2022-11-21 04:18] jamesmoessis commented on #13848
Looks like that PR went stale.

[2022-11-21 07:31] fatsheep9146 commented on #14124
@frzifus hi, any update on this issue ?

[2022-11-21 08:51] mottibec commented on #13929
@jpkrohling we can close this as #11505 fixes this

[2022-11-21 09:15] astencel-sumo commented on #16226
As for the process disk IO read/write bytes per second, I believe this is just the `process.disk.io` metric with a rate operator applied.

As for the process disk IO read/write operations, this one is indeed missing.

I proposed this metric to be added `process.disk.operations` https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14566, but the semantic convention proposal for th

[2022-11-21 09:51] adam-kiss-sg opened #16387 "[processor/filter] Add ability to filter out data points"
### Component(s)

processor/filter

### Is your feature request related to a problem? Please describe.

I would like to be able to drop specific datapoints from a metric.

To be more specifix, i would like to be able to only keep datapoints emitted from spanmetrics processor that has a `span.kind: "SPAN_KIND_SERVER"` attribute on the datapoints.

My current config:

[code]

Example metrics:
[code]

[2022-11-21 10:00] adam-kiss-sg opened #16388 "[processor/spanmetrics] Please group datapoints into metrics by dimensions"
### Component(s)

processor/spanmetrics

### Is your feature request related to a problem? Please describe.

Currently there is no way to filter out specific spans from the metrics. Previously it was possible to do this with the filter processor, but after #16102 this is no longer possible (see: #16387)

### Describe the solution you'd like

Group datapoints by attributes into separate metrics, so

[2022-11-21 10:05] adam-kiss-sg commented on #16344
@albertteoh

Thanks, using that method I could test it and the timestamp issue is resolved.

Unfortunately the same commit caused another issue for me: #16387 and #16388

[2022-11-21 10:49] #14186 closed

[2022-11-21 11:52] atingchen commented on #14638
Hi @pmcollins. Do you still have time to support this recently?

[2022-11-21 13:26] sumo-drosiek commented on #15378
@djaglowski @cpheps, I made my own investigation and the flow for processor is more less the following:

1. [processor.processLogs](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/d4a66ed376660ab6014daf6fcfd28fc79071ae79/processor/logstransformprocessor/processor.go#L123)
1. [fromPdataConverter.Batch](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/d4a

[2022-11-21 14:58] kumachop2 opened #16391 "[processor/logstransform] Issue with replace_pattern transform function"
### Component(s)

processor/logstransform

### Describe the issue you're reporting

We are using below transform processor rule to replace phone number. It is working fine with regex101 but some issues with splunk client v0.61.0 or v0.63.0 process (AKS). Here are the details. Please check and advice

rule: - replace_pattern(body.message, "([\\\"> ])?([0-9]{3})[- ]*([0-9]{3})[- ]*([0-9]{4})([\\\"<

[2022-11-21 15:28] dineshg13 commented on #16380
@hamidp555 , could you please enable debug logging for collector and send the output.

[code]
This would print the url, and post body it is sending to the datadog backend.Please remove any sensitive information , and share the log along with error. This would be helpful in debugging and fixing the issue.

[2022-11-21 15:35] mattsains commented on #11867
if @deepto98 isn't working on this anymore, I'd like to take it on instead

[2022-11-21 16:16] codeboten opened #16392 "remove //nolint:errcheck add in #16377"
This is a follow up item to #16377 to ensure the `//nolint:errcheck` added are addressed.

_Originally posted by @bogdandrutu in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/16377#discussion_r1028214654_

[2022-11-21 17:49] jpkrohling commented on #3405
@mar4uk, could you please take a look at this one, closing if it's not relevant anymore?

[2022-11-21 17:50] pmcollins commented on #14638
Hi @atingchen, I'd be happy to provide an initial implementation (JSON, metrics, no compression) based on the work we have already done [here](https://github.com/pmcollins/opentelemetry-collector-contrib/tree/hack-1468/receiver/replayreceiver). Additional features would need to be done separately.

Hi @djaglowski, regarding replay functionality, I'm envisioning making available: 1) reading the tim

[2022-11-21 17:55] jpkrohling commented on #4340
@mar4uk, would you be able to work on this one?

[2022-11-21 17:58] jpkrohling commented on #3447
I just became aware of this issue. Some things might have changed, especially the metrics generation based on trace data. I'll have internal discussions about this one, but I would be grateful if you could share any up-to-date information you might have about this one.

[2022-11-21 18:02] jpkrohling commented on #3166
@jean, I believe this is beyond the scope of the Loki exporter. Translating between Traces and Logs (or the other way around) is something that should be done at a different level, perhaps using the proposed "connectors" feature (cc @djaglowski). I'm closing this issue, but feel free to reopen if you think there's something specific about Loki that I'm not considering.

cc @mar4uk

[2022-11-21 18:02] #3166 closed

[2022-11-21 18:02] jpkrohling commented on #2290
cc @mar4uk

[2022-11-21 18:03] #16077 closed

[2022-11-21 18:57] jpkrohling commented on #5060
@dmitryax, my recollection is that this is not somethin we want to pursue, right? With that in mind, I'm closing this issue, but feel free to reopen if my recollection is wrong.

[2022-11-21 19:04] dmitryax commented on #16064
One more https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3516900868/jobs/5894041737

[2022-11-21 19:15] jpkrohling commented on #4741
cc @frzifus

[2022-11-21 19:33] hamidp555 commented on #16380
@dineshg13 , I enabled DEBUG;  First export is successful. Here is part of the log for the first export `            "message": "2022-11-21T19:16:41.863Z\tinfo\tLogs sender initialized\t{\"kind\": \"exporter\", \"data_type\": \"logs\", \"name\": \"datadog/logs\", \"endpoint\": \"https://http-intake.logs.datadoghq.com\"}"`

However, next logs get transformed with many backslashes, here is part of t

[2022-11-21 22:52] TylerHelmuth opened #16413 "[processor/filter] Ensure OTTL configuration provides same features as existing configuration"
### Component(s)

processor/filter

### Is your feature request related to a problem? Please describe.

The OTTL package is being added to the filterprocessor to support generic filtering of spans, span events, metrics, data points, and log records.  To simplify the filterprocessor and its config, I propose that only the OTTL is needed, but before any existing configuration can be deprecated and r

[2022-11-21 22:55] #7151 closed

[2022-11-21 22:55] #13578 closed

[2022-11-21 22:55] #13579 closed

[2022-11-21 22:55] #13580 closed

[2022-11-21 22:55] #5679 closed

[2022-11-21 22:55] #13581 closed

[2022-11-21 23:45] TylerHelmuth commented on #16413
The filterprocessor configuration for spans, metrics, and logs allows for `include` conditions and `exclude` conditions.

From the README:
- `include`: Any names NOT matching filters are excluded from remainder of pipeline
- `exclude`: Any names matching filters are excluded from remainder of pipeline

The OTTL implementation acts like `exclude`; if telemetry matches the OTTL condition, then it is

[2022-11-22 00:14] dmitryax opened #16417 "[CICD] Failing "Generate component labels" job"
See https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3519178163/jobs/5898850305

[code]

[2022-11-22 00:15] dmitryax commented on #16417
@evan-bradley can you please take a look? The job shouldn't fail due lo long attribute names, right?

[2022-11-22 00:20] TylerHelmuth commented on #16413
When filtering span, the filterprocessor has access to service name, span name, attributes, scopes, resource attributes, and span kind.  Both strict and regex is supported.  When checking attributes, converting attribute values from bool, double, and int to string is supported

The OTTL has access to each of these properties.  The Factory Function, `IsMatch`, can be used to perform regex matching,

[2022-11-22 00:36] TylerHelmuth commented on #16413
When filtering logs, the filterprocessor configuration allows matching by resource attributes, attributes, severity text, body, and severity number.   Both strict and regex is supported. When checking attributes, converting attribute values from bool, double, and int to string is supported.  When matching severity number, a minimum log severity can be used and any values equal to or greater than t

[2022-11-22 00:54] TylerHelmuth commented on #16413
When filtering metrics the filter processor configuration allows matching by metric name, resource attributes and datapoint attributes via expressions.  When checking attributes, converting attribute values from bool, double, and int to string is supported.  The expression allows for checking a datapoint's attribute value or the presence of an attribute.  If any datapoint within a metric matches t

[2022-11-22 01:22] dmitryax opened #16419 "[metrics builder] Non-string support for enum attributes"
Currently, only strings can be specified in [`attribute.enum` field](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/cmd/mdatagen/metric-metadata.yaml#L28). We need a way to set different enum values when type is not a string. The type must be validated against the [`type` field](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/cmd/mdatagen/me

[2022-11-22 01:38] bogdandrutu commented on #16413
I agree about the "OTTL needs to be able to perform regex where the input is converted to the string if it is a bool, int, or double.".

I do understand the difference between include/exclude which were added because we could not do "!=" in the filters language. But we the current OTTL this seem reasonable to me `'resource.attributes["service.name"] != "app_3"'`.

"The OTTL will need to be able to

[2022-11-22 05:21] fatsheep9146 commented on #16355
I think this work should be after #16338 is merged, right? @evan-bradley

[2022-11-22 09:27] #16208 closed

[2022-11-22 10:41] gfes980615 opened #16426 "[kafkaexporter] Failed authentication with /INTERNAL_IP"
### Component(s)

exporter/kafka

### What happened?

## Description
I got the error message on the broker logs
[code]
## Steps to Reproduce
1. Use AWS MSK
2. Set the IAM authentication type
3. Execute otel collector
## Expected Result
otel collector can start success
## Actual Result
otel collector start failed

### Collector version

v0.64.0

### Environment information

_No response_

### OpenT

[2022-11-22 13:14] evan-bradley commented on #16417
GitHub doesn't allow labels to have more than 50 characters, which is causing the job to fail. I have an open PR make sure our workflows are aware of this limit: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/16244.

[2022-11-22 14:04] #16349 closed

[2022-11-22 14:06] architjugran opened #16430 "Support for query and transaction percentile-latency statistics"
### Component(s)

receiver/googlecloudspanner

### Is your feature request related to a problem? Please describe.

Recently Cloud Spanner Stats tables added [Latency distributions](https://cloud.google.com/spanner/docs/release-notes#September_28_2022) which made possible to see the percentiles of latencies using the SPANNER_SYS.DISTRIBUTION_PERCENTILE GoogleSQL function.
Our customers have been de

[2022-11-22 14:11] architjugran commented on #16430
I am unable to find the option to edit labels.

I want to remove the "needs triage" label and add the "receiver/googlecloudspanner" label

[2022-11-22 14:20] ty-elastic opened #16431 "[processor/k8sattributes] setting container.id on traces"
### Component(s)

processor/k8sattributes

### Describe the issue you're reporting

Hi, I'm using the k8sattributes processor to enrich `container.id` on OTEL traces using `k8s.pod.ip` or `k8s.pod.uid` to match the pod and `k8s.container.name` and `k8s.container.restart_count` to match the container within the pod.

I can appreciate that `k8s.container.restart_count` allows me to definitively matc

[2022-11-22 14:23] evan-bradley commented on #16355
The implementation doesn't have a hard dependency on that PR since the validation should probably be performed in the attributes setters which aren't touched there. However, being able to use lists in Getters will make live testing easier.

[2022-11-22 14:25] hamidp555 commented on #16380
This is part of the payload that datadog exporter is trying to send, the payload is an array and the following is an item in it
`{
            "ddsource": "masked-otel",
            "ddtags": "datacenter_access_type:Public,datacenter_type:maskedPublic,infrastructure_name:developer-masked-dev-masked,maas_datacenter_id:gke-gcp-us-central1-a,maas_id:masked-dev,org_id:hamidtest,peb_type:cloud,service:

[2022-11-22 14:26] tomasfreund commented on #13899
/label -Stale

[2022-11-22 14:41] djaglowski commented on #14598
Thank you @kportertx!

Not sure the image is published yet, so I'll leave this open until we update the integration test.

[2022-11-22 15:23] geoffreytran commented on #16058
Looks very similar given I also have logLevel debug set, so latest release probably resolved it. Testing out 0.65.0 now.

[2022-11-22 15:31] tigrannajaryan opened #16462 "Create opamp extension"
See [design document](https://docs.google.com/document/d/1KtH5atZQUs9Achbce6LiOaJxLbksNJenvgvyKLsJrkc/edit#heading=h.ioikt02qpy5f).

Depends on:
- https://github.com/open-telemetry/opentelemetry-collector/issues/6596
- https://github.com/open-telemetry/opentelemetry-collector/issues/6599

Todo
- [x] #16618
- [x] #16619
- [x] open-telemetry/opentelemetry-collector-contrib#32452
- [x] #27293
- [x] h

[2022-11-22 15:41] tigrannajaryan opened #32452 "Add OpAMP client and connect to the OpAMP server, send AgentDescription to the server"
Use https://pkg.go.dev/github.com/open-telemetry/opamp-go@v0.4.0/client

See also example https://github.com/open-telemetry/opamp-go/tree/main/internal/examples/agent

[2022-11-22 15:56] jpkrohling commented on #14751
I'm reopening this, closing #10358, as this fits better as a proposal for a new component, while that has served its purpose as a place to have some discussions on the idea for this component.

[2022-11-22 15:57] jpkrohling commented on #14751
I believe @kovrus is going to volunteer for working on this soon, if he hasn't already. He'll be the code owner, and I'm a sponsor for this.

[2022-11-22 16:00] TylerHelmuth commented on #16067
@bogdandrutu [had the idea](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/16359#discussion_r1026761436) to change the time accessors in the ottl contexts to return and accept `time.Time` values instead of int64.  This has the advantage of standardizing how time is returned and set and should solve any potential problems when setting a time with a different precision.  It w

[2022-11-22 16:12] TylerHelmuth opened #16434 "[pkg/ottl] update IsMatch to convert bool, double, and int to string."
### Component(s)

pkg/ottl

### Is your feature request related to a problem? Please describe.

The `IsMatch` function, which is an important function for OTTL conditions, very strictly expects a string to be returned from its Getter otherwise the function returns `nil`.  Since this function is commonly used with attributes, it often comes across non-string types.

### Describe the solution you'd

[2022-11-22 16:15] kportertx commented on #14598
The images published by us are available:
- [Aerospike Server Community 6.2.0.0](https://hub.docker.com/layers/aerospike/aerospike-server/6.2.0.0/images/sha256-4ac019b1b3f2e4aa4138b87a607bf05158a85034cdb7ce0844083986eb11583d?context=explore)
- [Aerospike Server Enterprise 6.2.0.0](https://hub.docker.com/layers/aerospike/aerospike-server-enterprise/6.2.0.0/images/sha256-ac33275fde0e8ea53e518d866bef

[2022-11-22 16:41] TylerHelmuth commented on #14335
@ajsaclayan @dmitryax the transform processor can handle this situation exactly:

[code]

[2022-11-22 18:01] djaglowski commented on #15378
Thank for the detailed investigation @sumo-drosiek.

I think currently we are not backpropagating anything between operators, but it makes sense to me that we should, either a boolean or checkable error. The other option would be to emit `[]*entry.Entry` to `writer.Write`, and check for empty slices down the line.

[2022-11-22 18:08] dmitryax commented on #16267
Seen here as well https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3525726228/jobs/5912800313

[2022-11-22 18:35] pmcollins commented on #14638
Ah, got it. Will do it like that then, thanks.

[2022-11-22 19:02] #16375 closed

[2022-11-22 19:07] jpkrohling commented on #14190
True, it happens here:
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/cc0c784a993a6d52ad1cb5e596fe0780ab1dd915/pkg/translator/loki/encode.go#L88-L97

This is on purpose, as we might have clashes between values under the same key at both the resources and record attributes. I'm not sure what would be the most appropriate for this situation. Perhaps use the key name, and the

[2022-11-22 19:09] jpkrohling commented on #14760
Thanks, I'm adding this to my review queue.

[2022-11-22 20:52] mattsains commented on #11867
I've managed to update the build to use a manifest file I've written, but the manifest contains a lot of repetitive configuration which I think would be worth generating as part of the build. It's just a list of all the projects within the contrib repo, so I was thinking of using the Makefile variables like `RECEIVER_MODS`, `PROCESSOR_MODS`, etc., to fill in a yaml template which would be used by

[2022-11-22 21:08] RangelReale opened #16442 "[exporter/datadog] source provider loading takes too long and timeouts lambda initialization"
### Component(s)

exporter/datadog

### What happened?

## Description
When using the Datadog exporter in a lambda environment, I get these messages on both the trace and metrics initialization:

[code]

Then the lambda initialization times out, and never starts successfully.

If I disable one of the exporter, for example, the traces one, leaving only the metrics one enabled, then it takes less ti

[2022-11-23 07:38] dmitryax opened #16450 "[gh-actions] build-package jobs are failing on the ubuntu-22.04 runners"
GitHub actions runner `ubuntu-latest` tag was recently upgraded from Ubuntu 20.04.5 to Ubuntu 22.04.1.

The `build-package` job is failing now. We need to investigate and update it to work on the latest Ubuntu version.

Failing job examples:
- https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3528442298/jobs/5918829725#logs
- https://github.com/open-telemetry/opentelem

[2022-11-23 10:23] mar4uk commented on #3405
@jpkrohling yes, this issue should be closed. It was solved in this PR https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/3418

[2022-11-23 10:36] mx-psi commented on #16442
Thanks for reporting @RangelReale! A workaround for this is to set the `hostname` setting to hardcode the fallback hostname to a custom value and prevent the source provider from running, but we acknowledge that the current running time can be too long in some setups. Could I ask what lambda environment are you using?

[2022-11-23 10:44] mx-psi commented on #16442
To expand on this: in the general case we don't know what your pipeline looks like and how your data is transformed before reaching the Datadog exporter. Since a missing source identifier (be it a hostname or a task id) results in incomplete data and a bad experience we want to have a fallback value so that if there is no resource processor or it is misconfigured, we can still add some id to it. T

[2022-11-23 10:52] mx-psi commented on #16380
If I understand correctly, the problem is that you are sending the Collector logs via the Datadog exporter, and the Datadog exporter is logging these logs, which means it will repeatedly escape the logs until we reach the maximum payload size.

A short-term workaround while we figure out a solution is to make the Collector log level info or higher. Could you try this out @hamidp555 ?

[2022-11-23 11:41] mar4uk commented on #4340
@jpkrohling `lokiexporter` public API looks good. No work needs to be done. Could you please mark it as done (I don't have permissions to mark it)?

[2022-11-23 11:46] #4340 closed

[2022-11-23 12:09] RangelReale commented on #16442
I'm running Go and Python services in docker images, using `provided.al2`.

[2022-11-23 12:11] RangelReale commented on #16442
Probably there should be a configuration on what source providers you want to run, or a client-side resource detector that adds these fields, and the exporter checks to see if these fields are available.

[2022-11-23 12:14] frzifus commented on #4741
Hi @Betula-L @hriddhighosh4 what collector versions are you using? In the current version the jaeger receiver dropped the support for remote sampling. There is now a new [jaeger remote sampling extention](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/v0.65.0/extension/jaegerremotesampling/README.md).

[2022-11-23 12:32] sumo-drosiek commented on #15378
@djaglowski I am making an attempt to fix it in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/16452. Please make conceptional review of the approach

I think checkable error require less changes and make it more readable for operators which are not a writers, but on the other way its overloading the error

[2022-11-23 12:43] mx-psi commented on #11867
Automatically generating the list sounds good to me, it's what we already do in other places, see e.g. [this script](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/.github/workflows/scripts/add-component-options.sh)

[2022-11-23 12:44] mx-psi commented on #16442
That is a reasonable suggestion, but we first need to figure out how to provide this flexibility in a way that does not have lots of papercuts. For now, setting the `hostname` option will skip the source resolution process entirely, so it should be an acceptable workaround.

[2022-11-23 12:47] avishefi commented on #14124
This was fixed after upgrading to Jaeger 1.38.1 and otel collector 0.62.0.

[2022-11-23 12:47] #14124 closed

[2022-11-23 12:58] jpkrohling opened #16453 "Work with the Loki team to reduce the number of replaces directives"
One of the concerns when working on #14632 was that it would inherit the replaces directives from the Loki project into the promtail receiver, affecting both contrib and, later down the stream, on builder manifests. We (@mar4uk and myself) should work with the Loki team at Grafana Labs to try to reduce the number of replaces directives as much as possible.

[2022-11-23 13:06] djaglowski commented on #15378
I think your assessment and approach look reasonable to me.

The signature returning `(bool, error)` seems unusual and makes me wonder if we're missing something idiomatic here, but I can't immediately identify anything better.

Given the unusual signature, I think it will be especially important to include a decent comment to explain how to interpret each value. My understanding is:
- `ok` is fal

[2022-11-23 13:22] #3405 closed

[2022-11-23 13:30] jpkrohling commented on #12965
cc @Chinwendu20, this is likely relevant for your Outreachy project.

[2022-11-23 13:51] #13929 closed

[2022-11-23 14:38] Tsovak opened #16455 "otel collector panics in specific `exporters: prometheus" endpont"
### Component(s)

exporter/prometheus

### What happened?

## Description
otel collector panics in specific `exporters: prometheus" endpont

## Steps to Reproduce

docker compose

[code]
` docker compose up `

prometheus-config.yaml
[code]

image details
[code]
and
[code]

## Expected Result
log error message and exit

## Actual Result
the application panics without error message

### Collector ve

[2022-11-23 15:00] zirain commented on #15386
cc @kovrus #16088

[2022-11-23 15:45] jpkrohling commented on #9888
Has this been implemented or discussed more broadly with the @open-telemetry/collector-contrib-approvers? The guidelines are looking good to me.

[2022-11-23 15:47] jpkrohling commented on #13530
Was a new issue created for this? I have talked about this with different people, like @djaglowski, @kovrus and @mar4uk, and I think this would be great to have once the connectors feature is implemented.

[2022-11-23 15:52] jpkrohling commented on #1590
@Aneurysm9, is this something your team would be interested in working on?

[2022-11-23 15:54] jpkrohling commented on #9121
@serkan-ozal, do you think it's possible to historical data for a specific workflow and cause the CI to fail in case it shows a significant performance degradation?

[2022-11-23 16:16] jpkrohling opened #16456 "Change the hashing algorithm for probabilistic sampler"
In the probabilistic sampler, we seem to use a hashing algorithm of our own, instead of relying on a library to do so, as it's done in other modules. We should try to follow the guideline we have on this:

https://github.com/open-telemetry/opentelemetry-collector/blob/main/CONTRIBUTING.md#recommended-libraries--defaults

_Originally posted by @MovieStoreGuy in https://github.com/open-telemetry/ope

[2022-11-23 16:35] djaglowski commented on #9888
For the most part I think we are following these guidelines in both contrib and core.

I drafted this when working through some performance and consistency problems in our Makefiles but haven't heard any feedback other than what's on this thread.

I'm happy to discuss in the next SIG if anyone wants. Otherwise, I can add these into documentation and we can validate finer points on the PR.

[2022-11-23 16:51] hamidp555 commented on #16380
@mx-psi That is correct. I tried the info level logs and the after almost an hour and half the same errors appeared. The following is the logs with info level turned on. As you can see, the first few exports are fine and then 400 error, and later 414 error.

`2022-11-23T14:59:41.020Z	info	Starting scrape manager	{"kind": "receiver", "name": "prometheus", "pipeline": "metrics"}
2022-11-23T14:59:41.

[2022-11-23 17:05] djaglowski commented on #15378
Perhaps we should return the number of logs emitted.

[2022-11-23 17:16] jpkrohling commented on #16368
cc @mar4uk

[2022-11-23 17:32] jpkrohling commented on #7596
@kovrus, do you think this would be suitable for the header setter?

[2022-11-23 17:34] jpkrohling commented on #7396
@kovrus, @djaglowski, is this doable today with OTTL?

[2022-11-23 17:35] Aneurysm9 commented on #1590
I'm not sure I see the need for, or value in, sharing implementations here.  Would like to hear from other @open-telemetry/go-approvers, but I would currently lean toward closing this issue.

[2022-11-23 17:40] Aneurysm9 commented on #16455
This is in the Prometheus receiver, not the exporter, as evidenced by the top of the included stack trace.  This will be fixed by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/16211.

[code]

[2022-11-23 17:43] jpkrohling commented on #8816
Yes, I believe so.

[2022-11-23 17:50] mx-psi commented on #16380
I also wanted to mention: if sharing the file is hard for you or there are sensitive details in it, feel free to reach out through support (support@datadoghq.com) and mention this issue

[2022-11-23 17:51] jpkrohling commented on #7931
I'm in favor of disabling the coralogix exporter until this is fixed. The component owners had enough time to fix this already.

[2022-11-23 17:52] TylerHelmuth commented on #7396
@matthewmodestino checkout the [transform processor](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/transformprocessor) and the function [replace_pattern](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/pkg/ottl/ottlfuncs#replace_pattern). Does that fit your needs?

[2022-11-23 17:53] Depechie commented on #16348
@jpkrohling and @pavankrish123 is there any possibility you are able to help out with that local sample I'm trying to work out? In the meantime?
The @jpkrohling example blog post does a local install of OpenTelemetry outside docker it seems?

If not no worries...

[2022-11-23 17:58] kovrus commented on #7396
👍 `replace_pattern(body, regex, "")` probably can address that.

[2022-11-23 18:09] matthewmodestino commented on #7396
Will give it a shot! Thanks!

[2022-11-23 18:40] TylerHelmuth opened #16459 "[exporter/splunkhec] Flaky Test - TestReceiveTracesBatches"
### Component(s)

exporter/splunkhec

### What happened?

[code]

Observed here: https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3534429805/jobs/5931286758

### Collector version

latest

### Environment information

## Environment
OS: (e.g., "Ubuntu 20.04")
Compiler(if manually compiled): (e.g., "go 14.2")

### OpenTelemetry Collector configuration

_No response_

#

[2022-11-23 18:53] pavankrish123 commented on #16348
Thanks @jpkrohling - will issue a PR soon. Looks like a regression

[code]

[2022-11-23 18:57] pavankrish123 commented on #16348
Will try few things on my end and get back to you soon @Depechie. Been busy last couple of days.

[2022-11-23 19:20] disfluxly commented on #14882
Any update on this by chance. You effectively can't build a collector using builder that has both the Loki Exporter & the Prometheus Exporter/Receiver in it at this time.

[2022-11-23 19:36] nlamirault commented on #16368
Thanks @jpkrohling i will try This configuration

[2022-11-23 19:39] jpkrohling commented on #16348
I'm not familiar with Docker compose enough to be helpful. If you can reproduce the problem using your local machine instead, I can probably help you.

[2022-11-23 19:59] #14760 closed

[2022-11-23 20:02] jpkrohling commented on #14030
I'm picking this for myself, but it might take a while for me to send in a PR. I'll leave another comment here once I start, until then it's up for grabs.

[2022-11-23 21:11] dackroyd commented on #1590
Happy for the issue to be closed. Clear to me that there is a need for each to be implemented separately

[2022-11-23 22:06] tigrannajaryan commented on #16462
@open-telemetry/collector-contrib-approvers is anyone interested in being the sponsor for this component?

I believe @portertech is interested in implementing it (provided we agree on the design) and I am happy to be a co-owner of the extension and will also review the PRs.

[2022-11-23 22:22] evan-bradley commented on #16462
I'll sponsor this.

[2022-11-23 22:24] dmitryax commented on #16462
I can help with reviewing PRs. @portertech feel free to ping me as well

[2022-11-23 22:33] #16320 closed

[2022-11-23 23:08] #13119 closed

[2022-11-23 23:24] kovrus commented on #7596
@jpkrohling It could be a good place to implement that, we can change the header setter config to look like the following:

[code]

[2022-11-23 23:28] dmitryax opened #16463 "[CICD] Run Windows-only tests on each PR"
We disabled Windows tests in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/16460 but there are Windows only tests with `// +build: windows` tag. Those still need to be run on every PR to get full tests coverage.

[2022-11-24 00:35] ethanresnick commented on #1909
Maybe I'm misunderstanding something fundamental but... isn't the `span_name_as_resource_name` flag introduced in #6611 misnamed? I.e., I think this uses the span name as the _operation name_, not as the resource name.

[2022-11-24 06:54] serkan-ozal commented on #9121
Hi @jpkrohling,

Thanks for bringing this requirement into our attention. That was indeed one of the features we discussed before and put our roadmap already. So it is good to see that this is also related to a real use case by OTEL.

That is definitely possible. We are also about to release an improvement for our PR comment feature which will post results about such workflow or test oriented perf

[2022-11-24 06:59] jean commented on #3166
@jpkrohling I'm fine with closing this. The better way is probably just to enable sending logs from the web client.

[2022-11-24 08:30] nlamirault commented on #16368
thanks @jpkrohling it works now :

[code]

I've got another problem/question : in Loki, i can choose only one filter : `exporter=OTLP`
How can i add to filter list : namespace, pod, app, .... (aka Kubernetes labels)

![2022-11-24_09-29](https://user-images.githubusercontent.com/29233/203731910-a4a05f59-508e-4f42-aaef-29ff1ce656e8.png)

[2022-11-24 09:06] ecourreges-orange opened #16467 "oidc without auto discovery"
### Component(s)

extension/oidcauth

### Is your feature request related to a problem? Please describe.

I have an oauth2 client credentials flow auth server with JWT and should work with oidcauth / go-oidc, but doesn't currently provide the file `.well-known/openid-configuration`, so I see no way to make it work with the current code as of 0.64.0

All api software we use has allowed setting oidc

[2022-11-24 10:37] gbbr commented on #1909
You are 100% right. It is very badly named. We'll look into either updating our documentation or changing these for a better name.

[2022-11-24 11:49] tuhao1020 opened #16468 "The type of kafka_producer_connection_count keeps changing between counter and gauge"
### Component(s)

cmd/otelcontribcol, exporter/prometheus, processor/servicegraph

### What happened?

The type of kafka_producer_connection_count keeps changing between counter and gauge

[code]

[code]

### Collector version

0.66.0

### Environment information

_No response_

### OpenTelemetry Collector configuration

[code]

### Log output

[code]

### Additional context

_No response_

[2022-11-24 11:54] tuhao1020 commented on #16468
use javaagent to directly export metrics to prometheus, the `kafka_producer_connection_count` is like below:
[code]

[2022-11-24 11:56] jpkrohling commented on #16368
You'd have to add a hint with the attributes to be promoted to labels:

[code]

After that, add it to the pipeline:

[code]

For more details on this, refer to the readme part of the Loki exporter. I'm closing this, but feel free if you think the original problem hasn't been addressed.

[2022-11-24 11:56] #16368 closed

[2022-11-24 11:57] tuhao1020 commented on #16468
https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/7302

[2022-11-24 11:58] jpkrohling commented on #9121
It does make sense. I'll keep this open to keep track of this idea, please keep us posted on Foresight's progress related to this.

[2022-11-24 12:06] jpkrohling commented on #13531
@mar4uk, would you like to take this one?

[2022-11-24 12:13] povilasv opened #16469 "[prometheusreceiver] Panic on shutdown"
### Component(s)

receiver/prometheus

### What happened?

## Description

Sometimes collector panics on shutdown with the following:

[code]

## Steps to Reproduce

Run collector v0.66 with my config

## Expected Result

## Actual Result

### Collector version

v0.66.0

### Environment information

## Environment
OS: (e.g., "Ubuntu 20.04")
Compiler(if manually compiled): (e.g., "go 14.2")

### Op

[2022-11-24 12:24] povilasv opened #16471 "[zipkinreceiver] panic on shutdown"
### Component(s)

receiver/zipkin

### What happened?

## Description

Sometimes collector panics on shutdown with the following:

[code]

## Steps to Reproduce

Run Collector with the config.

## Expected Result

## Actual Result

### Collector version

v0.66.0

### Environment information

## Environment
OS: (e.g., "Ubuntu 20.04")
Compiler(if manually compiled): (e.g., "go 14.2")

### OpenTeleme

[2022-11-24 12:44] ecourreges-orange commented on #16467
Actually I realize that for my use case, https://github.com/open-telemetry/opentelemetry-specification/issues/1344 needs to be resolved before I have real use for this, as I would like to have apps with auto-instrumentation to authenticate their traces.
Right now this would work from collector to collector, but it changes the desired architecture/deployment pattern.

[2022-11-24 13:13] jpkrohling commented on #16468
@mapno, are those metrics generated by the service graph processor? I don't see this pattern in the readme, but I'm not sure which other place would generate this kind of metric.

[2022-11-24 13:20] #16471 closed

[2022-11-24 13:21] #16469 closed

[2022-11-24 13:23] jpkrohling commented on #7596
I wouldn't be against another rename, given that it's an organic evolution of the component. Consider also the `upsert` and `update` operations, in addition to `insert` and `drop`.

[2022-11-24 13:53] kovrus commented on #7596
I'll open an issue for the proposed change.

[2022-11-24 14:03] #1590 closed

[2022-11-24 14:08] mapno commented on #16468
Hi @tuhao1020. It seems that those metrics come from a different component than the ones listed in the collector config, is that possible?

[2022-11-24 14:11] jpkrohling commented on #13635
I'm closing this as I believe this has been fully addressed. If you still require clarifications, feel free to reopen.

[2022-11-24 14:11] #13635 closed

[2022-11-24 14:12] #13435 closed

[2022-11-24 14:19] jpkrohling commented on #5874
I don't remember seeing this failing lately, but it would be good to have a positive confirmation that something was done/fixed before letting this be closed due to inactivity.

[2022-11-24 14:21] #7250 closed

[2022-11-24 14:24] jpkrohling commented on #6883
@kovrus, do you know if the transform processor supports this?

[2022-11-24 14:34] jpkrohling commented on #11888
How would you declare when a trace ends?

[2022-11-24 15:04] sumo-drosiek commented on #15378
I changed signature to return number of entries and error eventually. PR is ready for review

[2022-11-24 15:09] tuhao1020 commented on #16468
@mapno metrics come from javaagent.  when I change `OTEL_METRICS_EXPORTER` to `prometheus`,  the type of `kafka_producer_connection_count` will not change.

 Here is my docker-compose file:
[code]

[2022-11-24 16:02] kovrus commented on #6883
Based on SpanContext source code - yes, see  https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/pkg/ottl/contexts/internal/ottlcommon/span.go#L280-L292 and  https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/pkg/ottl/contexts/internal/ottlcommon/span.go#L81, but I can double check and verify that.

[2022-11-24 17:43] jpkrohling commented on #1411
I don't remember seeing this lately, but a double-check would certainly be appreciated.

[2022-11-24 18:04] nlamirault opened #16475 "[exporter/loki] Promote nested attribute to label"
### Component(s)

exporter/loki, receiver/fluentforward

### What happened?

## Description

I would like to have some labels into Grafana/Loki UI.
But i've got only `exporter` label and `OPTLP` value

## Steps to Reproduce

## Expected Result

## Actual Result

### Collector version

v0.64.0

### Environment information

## Environment
OS: (e.g., "Ubuntu 20.04") : K3S
Compiler(if manually compile

[2022-11-24 19:50] jpkrohling commented on #16475
Based on the conversation on Slack, the problem is that nested attributes cannot be used as labels.

[2022-11-24 19:56] jpkrohling commented on #9119
It looks like this might have been fixed, but a positive confirmation from the code owner(s) is desirable.

[2022-11-24 20:01] jpkrohling commented on #4131
I'm closing this, as I believe this has been included already. Feel free to reopen if it's not the case.

[2022-11-24 20:01] #4131 closed

[2022-11-24 20:22] mar4uk commented on #13531
@jpkrohling yes, please assign it to me

[2022-11-25 00:03] kovrus commented on #9124
@jpkrohling please assign it to me.

[2022-11-25 01:54] JaredTan95 commented on #8059
@object any progress mentioned above about sharing some documents in Elasticsearch?

[2022-11-25 02:58] tuhao1020 commented on #16468
@jpkrohling  It doesn't seem to have anything to do with servicegraph processor
[code]
use above configuration, the problem can be reproduced
![2022-11-25_10-49-49 (1)](https://user-images.githubusercontent.com/26807520/203891087-19ce8ece-46a6-4124-b17c-aca9df88a065.gif)

[2022-11-25 03:38] pavankrish123 commented on #16462
Thanks for starting this @tigrannajaryan and @dmitryax. Are we planning this to implement this as an extension or as a config provider?

[2022-11-25 07:08] Frapschen opened #16478 "[exporter/clickhouse] Sent metrics to clickhouse"
### Component(s)

exporter/clickhouse

### Is your feature request related to a problem? Please describe.

support sent metrics to clickhouse.

### Describe the solution you'd like

Clickhouse exporter receives metrics from the pipeline and inserts them into different clickhouse tables by metrics type.

current support metrics type:
- sum
- gauge
- histogram
- exponential histogram
- summary

###

[2022-11-25 07:14] Frapschen commented on #11558
@hanjm If you have not time to do it, I can work on it. https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/16478

[2022-11-25 07:20] JaredTan95 commented on #16478
@Frapschen from your description, seems you already implemented this feature?

[2022-11-25 07:25] Frapschen commented on #16478
yes, but need more test.

[2022-11-25 08:19] omrozowicz-splunk opened #16479 "Add health endpoint to Splunk HEC exporter"
### Component(s)

exporter/splunkhec

### Is your feature request related to a problem? Please describe.

Splunk HEC has an API health endpoint `/services/collector/health`, which returns `200` if the service is up. Currently, we don't make use of that in the exporter, we only send a chunk of data and observe if it was successful or not.
Would be good to run one call to the health endpoint when th

[2022-11-25 08:45] adam-kiss-sg commented on #16387
Closed by #16369

[2022-11-25 08:45] #16387 closed

[2022-11-25 10:11] gbbr commented on #16380
Hi @hamidp555! I'll try to help while @mx-psi is away. Please bare with me. It looks like the `fileexporter` can be added by adding it to the list of exporters, along with a path where the output should be dumped. For example:
[code]
Then, in your logs pipeline, simply add the exporter to your already existing list of exporters. There is no need for a separate pipeline, it is just an additional ex

[2022-11-25 10:26] praveenchoudhari007 opened #16484 "prometheus receiver issue"
**Describe the bug**
I tried to use prometheus receiver and was using kubernetes_sd_config to scrape host metrics. Below is the receiver config on openTelemetry

[code]

I have created necessary clusterRole and clusterRolebinding on default service account of open telemetry agent.
I get below error on Open telemetry

2022-11-25T10:18:36.553Z	debug	scrape/scrape.go:1320	Scrape failed	{"kind": "rece

[2022-11-25 12:11] jpkrohling commented on #8374
Based on the last message, I assume this has been sorted out. I'm closing this issue.

[2022-11-25 12:11] #8374 closed

[2022-11-25 15:31] iateya commented on #13119
@rajatvig
Which collector version did you test the fix on?
I am still seeing the issue with version 0.64 and 0.66

[2022-11-25 15:31] barclayadam opened #16499 "Go panic in OLTP exporter"
**Describe the bug**
Go is periodically producing a panic log and restarting (with an exit code of 2) with one of 2 outputs:

[code]

[code]

**Steps to reproduce**

I've only noticed this in logs recently trying to understand why I'm seeing duplicate logs being published via OLTP end so I do not have reproduction or what part of my configuration could be causing this

**What version did you use?*

[2022-11-25 17:28] rajatvig commented on #13119
We are on 0.64 now and the issue isn't there anymore.

[2022-11-25 20:04] AlexLi88 opened #16485 "[Exporter/loki] include InstrumentationScope to Log object"
### Component(s)

exporter/loki

### Is your feature request related to a problem? Please describe.

Currently, the `InstrumentationScope` object is not being include in the Loki logs object, can we add this feature to include this object in the log data.

### Describe the solution you'd like

Better user experience, user can query logs by Java class name. Also this is nice to have since the `Inst

[2022-11-25 23:42] tmeadon opened #16486 "Azure Data Explorer Exporter Stability"
### Component(s)

exporter/azuredataexplorer

### Describe the issue you're reporting

This is more of a question than an issue to be honest.  I’ve come across the Azure Data Explorer exporter and it looks like it will be perfect for a project I’m currently scoping out for a customer.

I can see it’s currently in alpha - are you able to give me a sense of when it might be ‘production ready’ please

[2022-11-26 01:42] hamidp555 commented on #16380
Hi @gbbr I am running the otel collector in a public cloud and don't have access to the underlying node to be able to copy the file that file exporter creates. Furthermore, I tried to exec into the otel container and no executable for sh or bash found, and cannot exec into the container to cp the file. Please let me know if you know a workaround to access the file that file exporter creates inside

[2022-11-26 13:35] hamidp555 commented on #16380
Hi @gbbr @mx-psi , I just sent the file exporter output `file.json` via email with the title `opentelmetry-collector-contrib datagoexporter  github bug #16380` Thank you

[2022-11-27 13:26] alexvanboxel opened #16487 "[receiver/filelog] loops forever with large log lines"
### Component(s)

receiver/filelog

### What happened?

## Description
The filelog receiver loops forever if a single logline is too large. It happens at the default `1MiB` but can be reproduced when setting the `max_log_size: 17Kib` on smaller lines.

## Steps to Reproduce

1. Set the `max_log_size` above the minimum of 16KiB, example : `17KiB` (see example config)
2. Create a log file with a lin

[2022-11-28 00:24] bryan-aguilar opened #16488 "[processor/filter] OTTL config field does not match example"
### Component(s)

processor/filter

### What happened?

## Description
 Filter processor [OTTL config section](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/filterprocessor#ottl) has a table that lists `spans.span` as the correct config field for `Span` context. . The sample shown has `traces.span` instead though. The table also lists `logs.log` but the exam

[2022-11-28 00:59] TylerHelmuth commented on #16488
I can fix the README tomorrow.

[2022-11-28 02:58] gfes980615 commented on #6096
hi, @MovieStoreGuy could you share with me how you solve this issue?
I have the same issue as you.

[2022-11-28 03:47] ag-ramachandran commented on #16486
@tmeadon , thanks for reaching out.This was the first release we made for the component & hence the default was chosen as alpha to initially look at adoption. We will make this into stable soon with internal changes that we are doing on the GO-SDK internally (for migration to MSAL). This however should have no effect on using in Production. We have some customers who are trying this in production

[2022-11-28 04:05] JaredTan95 commented on #16430
/label receiver/googlecloudspanner

[2022-11-28 05:22] JaredTan95 commented on #11752
/label -stale

[2022-11-28 06:35] alexvanboxel commented on #16487
@djaglowski I want to help on this if needed; for us, this is a blocker to go "GA" for our log collection through the collector. But I first like to discuss strategy.

[2022-11-28 07:53] tmeadon commented on #16486
That's great news!  Thanks for clarifying.

[2022-11-28 07:53] #16486 closed

[2022-11-28 08:14] willianpc commented on #14602
Hi @sweetxiaodai,

After the PR with a fix was reviewed, we learned that the built-in ca_file from the Collector itself should be enough.
Since you already tested with the built in one, I would like to suggest a few things:

1. Could you update the collector to the latest version and check once more? Since our initial conversation, many updates were made in the collector, so that might at least mi

[2022-11-28 08:54] povilasv opened #16489 "contrib image is missing k8sobjects receiver"
### Component(s)

receiver/k8sobjects

### What happened?

## Description

When trying to configure k8sobjectsreceiver I get:
[code]

## Steps to Reproduce

## Expected Result

## Actual Result

### Collector version

v0.66.0

### Environment information

## Environment
OS: (e.g., "Ubuntu 20.04")
Compiler(if manually compiled): (e.g., "go 14.2")

Kubernetes

### OpenTelemetry Collector configurati

[2022-11-28 08:59] erichsueh3 opened #16490 "[extension/sigv4authextension] Add `Unmarshal()` to `sigv4auth` extension"
### Component(s)

extension/sigv4auth

### Describe the issue you're reporting

As per [this](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14630#discussion_r988652103) comment, `Validate()` should not modify the configuration that it is validating, and that code should instead exist in  `Unmarshal()`.

[2022-11-28 09:20] willianpc commented on #14602
Hi @sweetxiaodai ,
Another thing that you could try to help us triage the issue is to test the other way around of what I suggested previously.
Which is, to call the server from a different client. For instance from cURL or your client of preference:

[code]

If you could also try this test, we would be curious to know what is the output.

BR,
_ Willian

[2022-11-28 10:21] gbbr commented on #16380
I created a PR which suppresses the payload dump at debug level, which may be the cause for 414 too. @hamidp555 please let us know if you can try it out.

[2022-11-28 11:13] adirmatzkin commented on #10572
Hi @mcardy 👋
I was just wondering if this receiver (which uses Azure's go client for AMQP) can serve the same need @corentinaltepe presented in [issue 10592](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/10592).

If it is very similar, maybe we could talk about making it a bit more general and not vendor-specific so we will have a general AMQP Receiver?

[2022-11-28 13:46] mcardy commented on #10572
Hi @adirmatzkin,

Unfortunately I don't think the Solace receiver can serve the same purpose of 10592. The AMQP transport is only a portion of the puzzle. Any AMQP receiver based component needs to map the incoming message data to OpenTelemetry models as well as report relevant stats and make decisions around upgrade scenarios. This accounts for the majority of the code within the Solace Receiver

[2022-11-28 14:31] dashpole commented on #16484
Are you able to reproduce this with the prometheus server?  We import the prometheus servers' service discovery and scrape logic, so it should the same.

You would just need to change the image to the prometheus server image, and make the config only the srape_configs portion.

[2022-11-28 14:49] dashpole commented on #9119
This has been reenabled for a few months without complaint

[2022-11-28 14:49] #9119 closed

[2022-11-28 16:01] schmikei opened #16495 "[exporter/googlecloud] Exporter for Logs should follow Data Model"
### Component(s)

exporter/googlecloud

### Describe the issue you're reporting

## The Main Issue

Since the Google Cloud Exporter is treating the Body of the message differently than other exporters, it makes receivers/users have to be cognizant of which exporter they are going to and cannot be universally applied to all telemetry pipelines.

The main issues that are strongly apparent is that:

[2022-11-28 16:10] TylerHelmuth commented on #11752
Closing based on @JaredTan95 comment.  @jsirianni please reopen if the issue is not fix.

[2022-11-28 16:51] #16488 closed

[2022-11-28 17:05] djaglowski commented on #16487
@alexvanboxel, I have limited capacity this week so will not be able to investigate in detail. If you have time to work out a fix, I will prioritize giving feedback.

[2022-11-28 18:07] #16499 closed

[2022-11-28 19:07] #15386 closed

[2022-11-28 21:30] alexvanboxel commented on #16487
I'm almost afraid, that it would mean moving from Scanner to Reader, with means a lot of work. But I like a second opinion. We have had this problem for a while, so it can wait: I prefer to talk it over before beginning work.

[2022-11-28 22:28] dmitryax commented on #16489
https://github.com/open-telemetry/opentelemetry-collector-releases/pull/243 is merged, it will be included the next build

[2022-11-28 22:28] #16489 closed

[2022-11-28 23:21] gburek-fastly opened #16508 "Panic on collector start when using otlp exporter with `tls: insecure: true` and `headers_setter` extension"
### Component(s)

extension/headerssetter

### What happened?

## Description
When using the headers_setter extension with an otlp exporter, configured with `tls: insecure: true`, the contrib collector panics on start. Removing the `tls: insecure: true` or the `headers_setter` extension from the exporter config, allows start up to succeed.

## Steps to Reproduce
Using the attached config.yaml, run

[2022-11-29 00:16] djaglowski commented on #16487
I think you are probably right about what it would require to fix.

[2022-11-29 01:03] pavankrish123 commented on #16508
This is related to https://github.com/open-telemetry/opentelemetry-collector/issues/6619.

[2022-11-29 01:14] gburek-fastly commented on #16508
@pavankrish123 That seems right, but a pain to require TLS for dynamic headers.

Further background is that we use a linkerd service mesh to provide mTLS connections between kubernetes components, so the requirement of adding TLS inside the service mesh TLS, to use an auth extension seems extremely strict.

[2022-11-29 01:48] pavankrish123 commented on #16508
@gburek-fastly, I think the [behavior is expected ](https://github.com/grpc/grpc-go/blob/0fe49e823fcd9904afba6cd5e5980da4390d1899/clientconn.go#L92) from underlying grpc.

Adding @jpkrohling for additional suggestions on how to go about this.

[2022-11-29 03:20] gburek-fastly commented on #16508
Your comment sparked a thought and I have found the `otlphttp` exporter appears to work with the linkerd provided tunnel:
[code]

[2022-11-29 05:52] #16000 closed

[2022-11-29 10:20] praveenchoudhari007 commented on #16484
Thanks for the response. Not sure if I understand here. In my otel yaml config, I have below image configuration

**image:
  repository: otel/opentelemetry-collector-contrib
  pullPolicy: IfNotPresent
imagePullSecrets: []**
..
..

I don't include any prometheus server image.

As I mentioned, the pod scraping (role: pod) works fine. It just the node part of kubernetes_sd_config (role: node) which d

[2022-11-29 10:24] ecourreges-orange commented on #16467
I will test in the next few days a modified otelcol-contrib with the newer go-oidc v3+ which allows inputting manual settings, and maybe will send a PR for it.

[2022-11-29 10:28] MovieStoreGuy commented on #16259
This issue should be resolved within the next release.

[2022-11-29 10:28] #16259 closed

[2022-11-29 12:29] #14323 closed

[2022-11-29 14:14] hamidp555 commented on #16380
I have tried the fix, unfortunately, I am still getting the 414 error after a few hours
`2022-11-29T14:12:12.284Z	error	Failed to send logs	{"kind": "exporter", "data_type": "logs", "name": "datadog/logs", "error": "414 Request-URI Too Large", "msg": "<html>\r\n<head><title>414 Request-URI Too Large</title></head>\r\n<body>\r\n<center><h1>414 Request-URI Too Large</h1></center>\r\n</body>\r\n</htm

[2022-11-29 14:16] gbbr commented on #16380
😞 Will look into it. Is the backslash problem solved though?

[2022-11-29 14:35] jpkrohling commented on #15714
This is a feature of the collector core, I'm pretty sure we have this tracked there already. Please look at the issues/PRs we have there and let me know if you can't find them.

https://github.com/open-telemetry/opentelemetry-collector/issues?q=is%3Aissue+is%3Aopen+reload

[2022-11-29 14:35] #15714 closed

[2022-11-29 14:44] jpkrohling commented on #1302
Looks like you want receivers to have tracing instrumentation. It should be doable with the obsreport facility we have in the core.

[2022-11-29 14:51] jpkrohling commented on #15365
@kovrus, are you handling this one?

[2022-11-29 14:54] jpkrohling commented on #15653
@kovrus, should I assign this to you or should it go to @mar4uk ?

[2022-11-29 14:56] jpkrohling commented on #15295
I think we have a tracker for this already. If you want to give it a shot, feel free to assign me as a reviewer for the PR!

[2022-11-29 14:57] jpkrohling commented on #15677
@disfluxly, I'm closing this, as it seems that you figured it out despite finding another issue in the process. I'm closing this, but feel free to reopen if there's still anything pending for this issue here.

[2022-11-29 14:57] #15677 closed

[2022-11-29 15:14] astencel-sumo commented on #16508
/label -needs-triage

[2022-11-29 15:18] hamidp555 commented on #16380
Yes the backslash issue is solved, thank you

[2022-11-29 15:20] TylerHelmuth opened #16519 "[pkg/ottl] Improve Errors from Functions"
@bogdandrutu I think OTTL needs a larger discussion about errors since most functions were made before errors could be returned.

One argument is that functions should always return errors when something undesirable occurs, like  the wrong type being returned by a  Getter. This allows the components that use OTTL to decide what to do with the error.

Another argument is that functions should ignor

[2022-11-29 15:22] TylerHelmuth commented on #16519
Continuing conversation from thread:

That's fair, being unable to parse a string as json is essentially the same as trying to parse a number. Maybe a better example would be something like an error returned from a Setter/Getter, which would indicate an issue interacting with the underlying telemetry.

It's also possible that errors are just errors and the user should handle them all the same. I t

[2022-11-29 15:52] tigrannajaryan commented on #15295
Closing this in favour of an approach that uses an extension: https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/16462

[2022-11-29 15:52] #15295 closed

[2022-11-29 15:59] evan-bradley commented on #16519
I think this should probably be the default behavior for the transform processor. The one consideration is that if transformation has important implications later on such as in routing or in rules in the backend, users should be made aware that they will need to perform additional validation, or we should allow configuring what happens if an error occurs.

[2022-11-29 16:02] TylerHelmuth commented on #16519
@evan-bradley thats a good point.  I think the transformprocessor can be made to continue on err by default, but can be configurable if the user wants something stricter.

[2022-11-29 16:48] pavankrish123 commented on #16508
The panic issue is fixed. We can close this now.

[2022-11-29 16:51] jpkrohling commented on #16508
While this might have the same underlying cause, I think this deserves a bit more attention:

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/f19ae1452addc463f5e1998047166b2f1e589136/extension/headerssetterextension/extension.go#L93-L95

@kovrus, do you remember whether there's a reason for us to require secure transport here? The header setter is not necessarily sending aut

[2022-11-29 16:59] jpkrohling commented on #5749
I just ran the same commands today, and these are the components that need to be wired up. I know that at least one of them is still under development, so, it's not supposed to be there yet. A confirmation from the remaining code owners would be good to have, to determine whether the other components should be wired up already.

* logicmonitorexporter
* azureblobreceiver
* purefareceiver (under de

[2022-11-29 17:09] jpkrohling commented on #14113
@mar4uk, can you keep this in your radar?

[2022-11-29 17:15] #9117 closed

[2022-11-29 17:17] jpkrohling commented on #6467
I'm closing this, as we have previously talked about this and decided not to pursue this route.

[2022-11-29 17:17] #6467 closed

[2022-11-29 17:34] jpkrohling commented on #5779
It's hard to tell what's going on. Please add the `logging` exporter with `verbosity: detailed` and report back. It's unclear if the problem is the lack of received log entries or a connection to the remote endpoint.

For reference, I was testing a local service I'm building and I didn't have problems with the OTLP HTTP Exporter for Logs. My configuration was something like:

[code]

[2022-11-29 17:35] jpkrohling commented on #6136
@VineethReddy02, are you still interested in this?

[2022-11-29 17:37] jpkrohling commented on #6209
I'm closing this, as I understand the initial proposal was completed.

[2022-11-29 17:37] #6209 closed

[2022-11-29 17:39] jpkrohling commented on #6540
@rmfitzpatrick, do you know whether the linked PRs completely satisfy the original request from this issue?

[2022-11-29 17:43] jpkrohling commented on #16468
If this metric is created by the Java Agent, you might want to report this in another repository. Probably this: https://github.com/open-telemetry/opentelemetry-java-instrumentation

[2022-11-29 17:46] jpkrohling commented on #16485
Sounds like a good idea. @mar4uk, what do you think?

[2022-11-29 17:48] jpkrohling commented on #4752
@mwear, I believe you fixed this already, right?

[2022-11-29 18:02] djaglowski commented on #5749
`logstransformprocessor` is correctly omitted. See https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/16045#issuecomment-1302110798

[2022-11-29 18:03] #9888 closed

[2022-11-29 18:26] mplachter commented on #4968
A little bump for an update here.

Something like this would reduce the complexity of the otel config for using this for cronjobs and lambda functions.
Yes this could be done with the `metricstransform` by aggregating based on a label but it causes some extra implementation on the dev side or more complex otel config.

[2022-11-29 18:39] #16270 closed

[2022-11-29 18:54] #15658 closed

[2022-11-29 19:00] rmfitzpatrick commented on #6540
Closing as resolved.

[2022-11-29 19:00] #6540 closed

[2022-11-29 19:33] evan-bradley commented on #5879
Closing as completed via #16026.

[2022-11-29 19:33] #5879 closed

[2022-11-29 19:51] jpkrohling commented on #6998
We haven't heard other users asking for this, but I'm willing to leave this open so folks can give their opinions.

[2022-11-29 19:54] jpkrohling commented on #6908
I'm open to being an sponsor for this.

[2022-11-29 19:56] jpkrohling commented on #7184
I'm closing this, as I don't think this is relevant anymore.

[2022-11-29 19:56] #7184 closed

[2022-11-29 20:08] #16434 closed

[2022-11-29 20:19] jpkrohling commented on #7585
Closing this, as this doesn't seem relevant anymore.

[2022-11-29 20:19] #7585 closed

[2022-11-29 20:53] mwei0210 opened #16527 "[exporter/datadog] Metrics not getting exported"
### Component(s)

exporter/datadog

### What happened?

## Description
I have a go microservice with multiple pods sitting in k8s with `service.instance.id` set and sending metrics to otel collector sitting in same cluster, the otel collector is having OTLP>Batch>Datadog&Logging&awsemf pipeline for metrics. In logging I could see all the metrics from microservices in logging exporter like below, b

[2022-11-29 21:14] danielgblanco commented on #4968
The `transformprocessor` cannot aggregate metrics on consistent intervals in its current form though, as it's stateless. It can only aggregate metrics handled as part of a single batch, not across batches (i.e. exports for different clients).

[2022-11-29 21:18] atoulme opened #16528 "Upgrade doublestar on pkg/stanza"
### Component(s)

pkg/stanza

### Is your feature request related to a problem? Please describe.

pkg/stanza uses [doublestar v](https://github.com/bmatcuk/doublestar) v3 which has been released a while ago.

### Describe the solution you'd like

v4 has been out for a little while, featuring better performance and fixes for Windows.

### Describe alternatives you've considered

_No response_

###

[2022-11-29 21:39] joe-elliott opened #16530 "Zipkin translator not respecting "error" tag correctly"
### Component(s)

receiver/zipkin

### What happened?

## Description
When consuming Zipkin data the translation layer does not correctly translate the "error" tag into a status of error unless the string is exactly "true". Conventionally if a Zipkin span has the "error" tag with any valid data it should be considered an errored span.

This logic likely needs to be updated to accept values other t

[2022-11-29 22:03] mplachter commented on #4968
@alolita @amanbrar1999 @JasonXZLiu any update on this?

[2022-11-29 22:12] dmitryax commented on #14311
Yes, it does. The process scraper collects metrics per process running on the host, but, since you run the collector in a container, you have only one process.

@MarioAlexis I'm trying to see what the problem is, and why you don't see metrics anymore. I see that you report different errors:
- `error reading parent pid for process` in the issue title
- `error reading username for process` in the lo

[2022-11-29 22:34] kovrus commented on #16508
Actually, I do not remember, it probably should be safe to not require a secure transport for this extension. I'll open a PR for it.

[2022-11-29 23:24] sbracegirdle commented on #16380
Hello, I'm also experiencing the same issue and I'm happy to help test any fix. For me the problem starts after about 5 minutes of collector runtime. There doesn't seem to be anything in the content of the log that changed from the previous log before it starts happening.

[2022-11-29 23:47] djaglowski commented on #16528
Assuming there are no breaking changes to the syntax, this sounds like a welcome improvement.

[2022-11-30 00:41] atoulme commented on #16528
Feels like a good ticket for someone to get started with OpenTelemetry - there should be enough test coverage to detect regressions, right?

[2022-11-30 01:28] tuhao1020 commented on #16468
@jpkrohling

[2022-11-30 01:40] jmacd commented on #13626
Hi @atingchen. Thank you and sorry for the delay in answering. I agree with your analysis that feistel cannot be applied in a format-preserving way to non-utf-8-formatted data, so numbers won't work. In my prototype work on this topic, I simply did not obfuscate number data, since I was reasonably sure in this case that numeric data would not leak sensitive information. Since feistel's obfuscation

[2022-11-30 02:41] atoulme opened #16538 "Prometheus receiver panics if no configuration is given"
### Component(s)

receiver/prometheus

### What happened?

## Description
Run the OpenTelemetry Collector with a prometheus receiver with no configuration settings. The collector panics.

## Steps to Reproduce

## Expected Result
No panic - an error with a meaningful message and a exit code 1.

## Actual Result
Panics, see output

### Collector version

0.66.0

### Environment information

## Envi

[2022-11-30 03:25] sbracegirdle commented on #16380
The client appears to be appending `ddtags` on every log request to those sent with the previous request. (see  https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/exporter/datadogexporter/internal/logs/sender.go#L75).

Since these end up as query parameters in the API call to DD, could it be possible these are growing with each request until the API URI limit is hit? (http

[2022-11-30 03:55] sbracegirdle commented on #16380
I added some debug logging to `ddtags` on each log submit and have confirmed that the ddtags continues to grow with each submit.

For example, here's dd tags from one of the earlier requests:

[code]

and then again from a later request (note the growth and duplication of tags):

[code]

[2022-11-30 04:31] sbracegirdle commented on #16380
The attached PR fixes the issue in my case, but would appreciate some input from someone more familiar with the project to ensure it doesn't lead to any other side effects.

[2022-11-30 04:54] MovieStoreGuy commented on #11846
Hey @curlyromania ,

Is this still an issue you're experiencing?

[2022-11-30 09:12] #14185 closed

[2022-11-30 09:35] khyatigandhi6 commented on #5749
Hey @jpkrohling,
_logicmonitorexporter_ is under development. So no need to be wired.

[2022-11-30 10:21] assafaa opened #16541 ""File Storage" extension online compaction doesn't work with default values"
### Component(s)

"File Storage" extension

### What happened?

## Description

We have started to use a persistent queue in our OTEL exporter.
The used database 'Bolt' is allocating space and doesn't reclaim it, which is by design.
According to the 'Readme' file, an online (i.e., on_rebound) compaction mechanism for Bolt is supported.
We followed the documentation guidelines and kept the default

[2022-11-30 11:05] harshit-splunk opened #16542 "`event.name` attribute is empty when using watch mode"
### Component(s)

receiver/k8sobjects

### What happened?

## Description
`event.name` attribute is empty when collecting any resource using watch mode.

## Steps to Reproduce

Setup otel agent with following config
[code]

## Expected Result

`event.name` attribute should have a non-empty value for all the logs

## Actual Result

`event.name` attribute is empty when using watch mode

### Collecto

[2022-11-30 11:41] mar4uk commented on #16485
agree, sounds good. @AlexLi88 would you like to create a PR?

[2022-11-30 11:50] mar4uk commented on #15653
@jpkrohling I think it should be assigned to me

[2022-11-30 12:42] jpkrohling commented on #10348
@jrcamp @Aneurysm9 @dashpole, is this still relevant?

[2022-11-30 12:44] jpkrohling commented on #10368
I don't remember seeing this issue happening anymore, but I also don't remember having this fixed. I'm leaving it open for some more time.

[2022-11-30 12:51] jpkrohling commented on #16530
It seems reasonable to me, and matches the logic we have in the Jaeger translator:

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/870f39933828dd7e9280fd567f632aa9daae43bd/pkg/translator/jaeger/jaegerproto_to_traces.go#L267-L279

In summary: if it's a boolean, and if it's `true`, then set the error flag to true and remove the attribute. Otherwise, leave it as is.

[2022-11-30 12:54] jpkrohling commented on #14568
Should this be closed? I believe this is already the case, as I added a few labels for different components on the issue below, and the different code owners were pinged in different comments:

https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/5749#event-7914612828

[2022-11-30 13:39] mx-psi commented on #7931
We got no answer here or in the email, thus I added this to today's SIG agenda. cc @oded-dd @ofirshmuel @jpkrohling

[2022-11-30 13:50] dgoscn commented on #10368
great @jpkrohling

[2022-11-30 13:51] #3746 closed

[2022-11-30 13:52] jpkrohling commented on #10205
@dgoscn, are you still available to work on this one?

[2022-11-30 13:53] jpkrohling commented on #16468
Thank you for confirming. I'm closing this issue here, please open one with the Java Agent repository.

[2022-11-30 13:53] #16468 closed

[2022-11-30 13:54] jpkrohling commented on #9126
@dgoscn, are you still available to work on this one?

[2022-11-30 14:01] jpkrohling commented on #5375
The tail sampling processor will discard the data not selected for sampling.

[2022-11-30 14:01] #5375 closed

[2022-11-30 14:02] jpkrohling commented on #2972
The string attribute now has an `invert_match` attribute that allows you to achieve this.

[2022-11-30 14:02] #2972 closed

[2022-11-30 14:05] jpkrohling commented on #16161
We now have the "and" policy, along with the "composite". I believe they allow you to achieve the mentioned scenarios. If you think there's still something missing, feel free to reopen this.

[2022-11-30 14:05] #16161 closed

[2022-11-30 14:11] jpkrohling commented on #8843
@dgoscn, are you still available to work on this one?

[2022-11-30 14:28] dineshg13 commented on #16380
@sbracegirdle Thanks for debugging and creating the PR. I have added a comment

[2022-11-30 15:06] dashpole commented on #10348
Yes, this is still relevant.

[2022-11-30 15:14] damemi commented on #16495
Thanks for the detailed issue description @schmikei!

I think the main friction here is that the log receivers/transform processors parse to `attributes` by default instead of `body`. This can be changed with `parse_to: body`, which produces a JSON payload like you expect.

That was an intentional decision (https://github.com/open-telemetry/opentelemetry-log-collection/issues/431) in order to make

[2022-11-30 16:04] tmeadon opened #16546 "Azure Data Explorer Exporter time formatting"
### Component(s)

exporter/azuredataexplorer

### Describe the issue you're reporting

Due to the use of `RFC3339` formatting in the ADX exporter, timestamps in spans, metrics, and logs do not include milliseconds or nanoseconds, despite this level of precision being present in the telemetry emitted by the SDK (.NET in my case).  This makes it impossible to sort spans in a given trace when they al

[2022-11-30 16:53] jonatan-ivanov commented on #16530
Fwiw, this is also defined in the zipkin exporter specs: https://opentelemetry.io/docs/reference/specification/trace/sdk_exporters/zipkin/#status

[2022-11-30 16:57] jonatan-ivanov commented on #16530
I think this behavior would be weird. This means that if I throw an exception/error with an error message `"true"`, it would not be an error anymore. Zipkin does not have any special treatment for this tag, if it has a value, the span failed, if it does not it was successful, the value does not matter after that.

[2022-11-30 17:36] loomis-relativity opened #16549 "[receiver/azureeventhub] change default log formatter"
### Component(s)

receiver/azureeventhub

### Describe the issue you're reporting

Switch the default log formatter from "raw" to "azure".

[2022-11-30 17:37] mx-psi opened #16550 "[exporter/coralogix] Component is unmaintained"
### Component(s)

exporter/coralogix

### Describe the issue you're reporting

This component is owned by @oded-dd and @povilasv. As stated on #16548, an issue related to this component has not received an answer within the time specified in our [guidelines](https://github.com/open-telemetry/opentelemetry-collector#unmaintained), therefore we are marking it as unmaintained.

If this component's is

[2022-11-30 17:38] djaglowski commented on #14568
Before we close this, I'm curious if anyone (maybe @evan-bradley) agrees with the second suggestion, that we should include the component name in the ping message. It's minor improvement in my opinion.

"Pinging code owners for receiver/foo: @djaglowski. See [Adding Labels via Comments](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/CONTRIBUTING.md#adding-labels-via-co

[2022-11-30 18:14] MarioAlexis commented on #14311
Hi @dmitryax

You're right. I must have discarded a portion of the output while formating the text. I have updated the description of the issue with, this time, the good output. Sorry about that.

I will update the issue title by adding `error reading username for process`, since there's 2 errors on a single output.

This is still reproducible on version `0.66.0`

I was thinking that maybe the err

[2022-11-30 18:36] joe-elliott commented on #16530
The span would still be in error b/c the OTLP span would be have its status code set to error. Presumably on translating from OTLP back to Zipkin you would have to add error="true" if the otlp error status was set and there was no error attribute.

I proposed the behavior only to keep it backwards compatible with existing, but don't have strong opinions.

[2022-11-30 18:45] evan-bradley commented on #14568
@djaglowski I agree, we are already doing this in other ping messages. I've created a PR for this: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/16552.

[2022-11-30 19:33] eedorenko commented on #5749
Hey @jpkrohling,
_azureblobreceiver_ should be wired up

[2022-11-30 20:55] #14568 closed

[2022-11-30 20:56] vchirikov opened #16555 "[processor/routing] OTTL statements doesn't work without `from_attribute`"
### Component(s)

processor/routing

### What happened?

## Description

According to the docs
We should be able to use OTTL statements without `from_attribute` and other "conventional routing items"

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/fa262b405e5e10ed398379db680e58438e6778f9/processor/routingprocessor/README.md?plain=1#L66-L85

But if I try to use it without `f

[2022-11-30 21:49] theEyeD opened #16557 "azuremonitorexporter Logs missing CustomDementions"
### Component(s)

exporter/azuremonitor

### What happened?

## Description
When mapping Logs to App Insights traces, it is not mapping Attributes to CustomDementions like it does for spans. This loses data when using formatted logging.

## Steps to Reproduce
Log data using formatted logs.
[code]

## Expected Result
Attributes (log args) display as CustomDimensions.

## Actual Result
CustomDimensi

[2022-11-30 22:03] mattsains commented on #11867
I've been working on a script to generate the manifest file within opentelemetry-collector-contrib. However, I am having doubts about whether I can use the makefile variables I mentioned earlier.

For one thing, those variables are simply all the directories under the `receiver/`, `processor/` etc directories. This is quite different from the information in [the manifest file in opentelemetry-coll

[2022-11-30 22:39] tmeadon commented on #16546
/label exporter/azuredataexplorer

[2022-11-30 22:41] tmeadon commented on #16546
Looks like the new issue workflow failed so pinging code owners manually.  Hey @asaharan, @ag-ramachandran 👋

[2022-11-30 23:46] dmitryax commented on #14311
The logged error is expected because you run the collector in a container that has only one process without any parent process or username. This is not a typical usage of this scraper, this scraper is expected to be run on a Linux host collecting metrics from all other processes.

What's your use case? Do you need to get CPU/memory metrics of the collector? In that case, you can use hostmetrics me