[2022-07-25 08:37] Harnoor-se7en commented on #9251
@MovieStoreGuy can this issue https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/12208 be linked with the above?

[2022-07-25 15:09] mx-psi commented on #12644
Do we know of any workaround that would prevent this?

[2022-07-25 15:17] #7397 closed

[2022-07-25 16:00] JonathanWamsley opened #12672 "[receiver/mongodbreceiver] Mongodbreceiver Component Enhancements"
**Is your feature request related to a problem? Please describe.**

Mongodbreceiver can benefit from adding more metrics such as
[code]

**Describe the solution you'd like**
I like to add the new metrics for mongodbreceiver

**Additional context**
I'm  happy to attempt a draft PR before anyone signs off on this

[2022-07-25 16:11] TylerHelmuth commented on #12476
@evan-bradley, the factory function will probably need to accept Getters instead of strings, this way functions and paths can be used.  I don't think the grammar supports arrays of getters yet, but it could be made to do so.  That would be an update to `pkg/telemetryquerylanguage`, and should be a separate PR.

[2022-07-25 17:52] dmitryax commented on #12667
I don't work on Splunk Enterprise (I believe no one involved in OTel does), but I can sponsor this receiver

[2022-07-25 18:23] sebastianhaeni commented on #10839
Alright. I contacted the vendor (Icinga) and they responded that they do not have enough long-term resources available at the moment to maintain this receiver. If nobody takes on the sponsor role, I accept that this receiver might not not see the daylight as being part of the `-contrib` distribution.

[2022-07-25 19:15] jpkrohling commented on #11457
I wasn't able to reproduce this yet. If the problem is with the Jaeger receiver, it should have been evident with this configuration:

[code]

I ran Jaeger's tracegen for 5 minutes and 10ms pause, and then for 5 more minutes with 1ms pause and nothing suspicious happened:

![image](https://user-images.githubusercontent.com/13387/180856382-a38e4965-3400-448a-9ef4-6c7a05117d9e.png)

![image](https:/

[2022-07-25 20:07] MovieStoreGuy commented on #12667
Thank you @dmitryax.

We have a few custom checks that existing with the SignalFx agent, however, I don't believe what we are doing is unique to just Atlassian so I am happy to upstream our work.

[2022-07-25 20:10] jpkrohling commented on #11780
Thanks for this investigation and sorry for taking so long to take a look at this.

This is likely because we still haven't made our internal observability ready for wider consumption by other components. But I think this specific characteristic should indeed be documented somewhere. Where do you think you would have found it more naturally?

I think they could/should share the same metric. If it'

[2022-07-25 20:11] jpkrohling commented on #11780
In any case, if just switching from Start to End would provide a good solution for the short term, I'm all for it.

[2022-07-25 20:11] dmitryax commented on #12667
What do you mean? Is there a Signalfx agent monitor for Spunk Enterprise?

[2022-07-25 20:14] MovieStoreGuy commented on #12667
As in we've written a custom python monitor that currently monitors are hosted splunk platform

[2022-07-25 20:17] dmitryax commented on #12667
Oh I see. Makes sense. It would be nice to have a native OTel collector receiver for that

[2022-07-25 23:53] singku commented on #2568
@dmitryax Any chance we can review this issue and related PR again?

[2022-07-26 03:13] anarwal opened #12725 "k8sattributeProcessor Docs"
**Describe the bug**
I have been trying to setup config for k8sattribute processor and was unable to get it to work as the docs are incomplete

**Steps to reproduce**

I have used the following configmap:

[code]

However, I couldn't get it to work without adding operator as mentioned here: https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/examples/kubernetes/otel-collect

[2022-07-26 05:02] fatsheep9146 commented on #12725
I think maybe your config file is wrong, the processors `k8sattributes` you used have no content, but  processor`k8sattributes/2` does have contents

so change the following part
[code]
into following
[code]

and try it again?

[2022-07-26 09:48] c-christophe commented on #5373
Any news on this issue ?

[2022-07-26 11:07] albertteoh commented on #12644
A possible workaround (I have not tried this) is to not configure additional spanmetricsprocessor dimensions on top of the defaults, if it's acceptable to the use case. This is because the panic comes from trying to fetch a span's attributes to populate the additional custom dimensions. For example, in this issue, the spanmetrics config contains:

[code]

So the _possible_ workaround (again, if ac

[2022-07-26 12:16] amoscatelli commented on #12644
Sadly, it's not a workaroud for us

[2022-07-26 12:32] dyladan opened #12726 "[otlp/http/json receiver]: `scopeSpan` no longer recognized as a valid field"
This is a high priority bug for JS users. On the most recent release of collector-contrib our JSON span exporter stopped working (unknown if metrics still works). Is it possible there was some sort of change in the http receiver which disallowed `camelCase` identifiers?

Sorry I was not sure if I should create this on the contrib or core collector repo. The failing component is in the core repo, b

[2022-07-26 12:32] yusufcemalcelebi opened #12727 "[receiver/k8s_cluster] condition_network_unavailable metric negative value"
**Describe the bug**
I'm using k8s_cluster receiver to receive node conditions on the EKS cluster. But I'm receiving a negative value (-1) for the `k8s.node.condition_network_unavailable` metric on the Datadog. I'm getting correct values for the receiver's other metrics.

**Steps to reproduce**
I'm using following configuration:
[code]

**What did you expect to see?**
I expect to see 0 value for t

[2022-07-26 13:36] ItsLastDay commented on #11780
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/extension/healthcheckextension/README.md would be good. Smth like "It only supports monitoring exporter failures, and only exporters which use [`exporterhelper`](https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/exporterhelper)".

Yeah, I agree that would make more sense. I'll leave it up to you

[2022-07-26 13:53] dyladan commented on #12726
It turns out this isn't actually happening. The `latest` tag on dockerhub is just out of date. I'll create another issue to track that since it's mostly unrelated.

[2022-07-26 13:53] #12726 closed

[2022-07-26 13:56] dyladan opened #12729 "`otel/opentelemetry-collector-contrib:latest` out of date on dockerhub"
While trying to debug #12726 it was discovered that the image tagged `otel/opentelemetry-collector-contrib:latest` points to a 7 month old version of the collector instead of the actual latest version. The release automation should be updated to point `latest` to the actual latest version, or if `latest` isn't meant to be used it should be removed.

https://hub.docker.com/layers/opentelemetry-coll

[2022-07-26 13:58] dyladan commented on #12729
I don't have permission to tag issues but I think this should be a fairly high priority like p2 at least if not p1 since it is very easy and is a common pattern to use the `latest` tag in docker when trying out a new image and the latest OTel sdks will completely fail to export data to it.

[2022-07-26 14:37] TylerHelmuth commented on #12729
The latest tag has been broken for a while :/ see https://github.com/open-telemetry/opentelemetry-collector-releases/issues/73

[2022-07-26 14:45] TylerHelmuth opened #12731 "[chore] Track unmaintained issues"
With the creation of the [Unmaintained stability level](https://github.com/open-telemetry/opentelemetry-collector#unmaintained) and the ability to [automatically ping code owners when a component label is added](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12411), we need a way to keep track of issues that do not get any responses from the code owner.

I think it would be

[2022-07-26 15:01] dyladan commented on #12729
Hmm that is extremely frustrating. Thanks for the info.

[2022-07-26 16:13] dmitryax commented on #2568
@singku, this processor will be eventually replaced by transform processor. So we would like to avoid any new features to metricstransform processor. Please take a look at transform processor to see if it already does what you want.

[2022-07-26 16:27] tjiuming commented on #12518
Sorry, I dont have a windows computer to locate the issue

[2022-07-26 16:44] anarwal commented on #12725
I dont think that is how it works @fatsheep9146. It should work with `k8sattributes`.

I was looking at this https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/7912 issue and saw comment from @dmitryax. My setup is exactly same to the example. I am using `filelogreceiver` for receiving logs from `var/log/containers/` and would like to use `k8sattributes` to enrich logs. The p

[2022-07-26 17:09] dmitryax commented on #12725
k8sattributes processor works for traces only with the default configuration . I'm not sure it works for logs with the default configuration. This is something we would want to address in one of the following ways:
- adjust default configuration to work for logs.
- provide a k8sprocessor configuration specifically for logs in the docs.

[2022-07-26 17:13] anarwal commented on #12725
Got it @dmitryax , so for now we have to use it as explained in the example here: https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/k8sattributesprocessor?

[2022-07-26 17:34] dmitryax commented on #12725
@anarwal, right

[2022-07-26 17:58] dmitryax commented on #11048
Hey @mdrakiburrahman. k8sprocessor needs to somehow identify a pod where the logs are coming from. Otherwise it cannot fetch any additional information about the pod from k8s API.

The `connection` source works perfectly when data is being sent directly from the original pods - this is a usual thing for traces. But this won't work from logs that are collected by fluenbit. If we merge https://githu

[2022-07-26 18:03] jmacd commented on #12300
There appears to be a "single-writer principle" violation happening. I understand the desire to opt-out, but can we somehow address the underlying problem as well?

[2022-07-26 18:18] tjiuming opened #12734 "[receiver/pulsar] Tests are failing on Windows with -race check"
[code]

https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7524678839?check_suite_focus=true

[2022-07-26 20:08] erichsueh3 opened #12736 "[extension/sigv4authextension] Add a separate region for STS for cross region auth"
There is an issue with cross region authentication, where STS is used in one region to assume a configured role, but the service being exported to is in another region. A new region, in the `assume_role` config should be added so users can specify this if needed.

[2022-07-26 20:42] gautam-nutalapati commented on #7591
I tried the latest version, and it has been fixed 🎉
Thank you for the fix!!

[2022-07-26 20:42] #7591 closed

[2022-07-26 20:49] dmitryax commented on #12727
@yusufcemalcelebi can you please confirm that it's not caused by the datadog exporter? In order to do that you'd need to replace `datadog` exporter with `logging` exporter with the following configuration and look at the value in the collector's logs:

[code]

[2022-07-26 20:51] codeboten commented on #10607
@philipcwhite is this component still something you're actively working on? if not i'd be happy to take it over.

[2022-07-26 20:55] philipcwhite commented on #10607
Alex, I would appreciate it if you could take this over.  Thank you.

[2022-07-26 22:22] #9408 closed

[2022-07-26 23:39] bogdandrutu commented on #11751
@TylerHelmuth I think the primary users of this package are other processors when they want to "select" a subset of the telemetry to apply some transformation/processing. I don't necessary think it is important to not depend on pdata.

[2022-07-26 23:58] TylerHelmuth commented on #11751
@bogdandrutu i agree that the primary users will be other processors, but if it continues to live in pkg instead of internal I think we have to support the package in a neutral way. Adding functions that expect pcommon.Map as the returned value of a target for example wouldn't work for someone using the TQL for processing outside the collector (unless of course they are also using pdata).

I think

[2022-07-27 01:09] hardproblems commented on #12300
we have a setup where the otlp sender is responsible for always sending a timeseries to the same collector in the replicaset (using consistent hashing), therefore our otlp sender doesn't append info like the sender's k8s pod name as a resource attribute. There can be hundreds of otlp senders. If we added pod name it would increase the cardinality of the timeseries by 2x when the senders are redepl

[2022-07-27 01:37] hardproblems commented on #12300
This is kind of similar to https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/11870. There seem to be use cases where for one reason or another, the sender's unique ID isn't necessary or desirable as a resource attribute. But not having unique sender ID would always result in the target metric from multiple senders conflicting. Hence the need to either disable target metric,

[2022-07-27 03:12] anarwal commented on #12725
@dmitryax I am a bit confused with docs, it says:
[code]
Link: https://pkg.go.dev/github.com/open-telemetry/opentelemetry-collector-contrib/processor/k8sattributesprocessor#pkg-overview

Do you think docs are incorrect when they say it can be used with logs?

[2022-07-27 03:30] dmitryax commented on #12725
The document was written when the processor supported traces only. It was correct at that point, now needs to be updated

[2022-07-27 03:39] anarwal commented on #12725
Can I help with this? I need to be able to attach metadata to logs collected from `filelogreceiver`. What are you looking for in terms of logs?

[2022-07-27 04:40] dmitryax commented on #12725
Just updating documentation would be great for now. Did you have a chance to make it work following this example https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/examples/kubernetes/otel-collector.yaml ?

[2022-07-27 07:49] yusufcemalcelebi commented on #12727
@dmitryax
I removed Datadog expor from pipeline and added logging like you said. I'm sharing the log. It seems -1 refers to an unknown state but why it's unknown? Can you help me with that?
[code]

[2022-07-27 11:15] ag-ramachandran commented on #11830
Hello @codeboten , we just opened a PR for this new component as well. Is there something as a next step we can do so that we can add this component in.

Thank you

[2022-07-27 11:34] DavidPessoa opened #12745 "Span count sampler throws null pointer exception"
**Describe the bug**
Span count sampler is throwing null pointer exception when used alongside with an AND policy in the tailsampling processor

**Steps to reproduce**
Configure tailsampling processor to utilize an AND policy in conjunction with Span count sampler.

**What did you expect to see?**
No errors.

**What did you see instead?**
Null pointer exception.

**What version did you use?**
v0.5

[2022-07-27 12:02] balintzs opened #12746 "[receiver/prometheusreceiver] Metric datapoint reset when new attribute value introduced"
**Describe the bug**
The prometheus receiver incorrectly handles changes in the list of datapoints. It resets the start timestamp of existing datapoints when a new datapoint is introduced with a different attribute value.

**Steps to reproduce**
Make the following scrapes:
1. Scrape 1 at `timestamp1`:
[code]
1. Scrape 2 at `timestamp2`:
[code]

**What did you expect to see?**
Expect the following

[2022-07-27 12:10] balintzs commented on #12746
I identified the root cause and managed to apply a fix locally. I'll submit a PR shortly.

[2022-07-27 12:53] overmeulen opened #12747 "[exporter/splunkhecexporter] "host.name" attribute in metric attributes not taken into account when computing HECEvent host"
**Describe the bug**
I have a metric with a "host.name" attribute in the resource attributes.
I have another metric with a "host.name" attribute in the metric attributes, not the resource ones.
In Splunk I end up with my hostname being in the tag "host" for the first metric.
While for the second one it is in "host.name"

**What did you expect to see?**
I expect to always get my hostname in the tag

[2022-07-27 13:12] dashpole commented on #12300
Is that actually the case?  Won't it only increase the cardinality of the target_info series?  I wouldn't expect that series to represent a meaningful portion of overall cardinality  in most cases.

[2022-07-27 13:13] dashpole commented on #12746
Thanks @balintzs!

[2022-07-27 13:32] anarwal commented on #12725
I did try the example and it worked. However, in that example we can parse the file name to pull some necessary data but not all. I am looking to get labels and annotations attached to the logs collected from a certain pod. Does this functionality exist in any form with the current version of `k8sattribute`. If not, I can work on that along with documentation update.

[2022-07-27 14:00] djaglowski commented on #10839
We can leave the issue open in case a sponsor emerges at some point. In the meantime, perhaps your organization would like to host the component in another repository.

[2022-07-27 14:51] djaglowski commented on #12653
"logs": "...Raw logs here",
  "kubernetes": {
    "filePath": "filePath here",
    "clusterName": "cluster name here"
  }
}

All log receivers emit data as [`plog.Logs`](https://github.com/open-telemetry/opentelemetry-collector/blob/de51f9e800a1d8a562fb792efccd4d301f69f55a/consumer/logs.go#L28), so it is necessary to have more context on where this json struct would be placed.

---

Possibly some

[2022-07-27 15:05] frzifus commented on #8273
Hi guys, I had a look on that and created a pr to the best of my knowledge. Would be nice to get some feedback. https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12753

[2022-07-27 15:15] #12431 closed

[2022-07-27 15:23] djaglowski commented on #12648
Will you please share the full receiver configuration and an exact line of text that is being read from the log file?

---

    "t": "2022-07-05T14:58:04.985Z",
    "message": "{\"t\":\"2022-07-05T14:58:04.985Z\",\"message\":\"Sent SQS notification to queue",
    "log.file.name": "ansible-json.log",
    "log.file.path.resolved": "/home/ec2-user/ansible-json.log",
    "log": "{\"t\":\"2022-07-05T14

[2022-07-27 15:32] #12647 closed

[2022-07-27 15:32] dmitryax commented on #12727
Ok, so it's working as expected then. How can I help you?

[2022-07-27 15:33] dmitryax commented on #12727
Please run `kubectl describe` on that node and see what's up with the network

[2022-07-27 15:34] frzifus commented on #7931
seems to be still a thing in dc19b911d0bf1f5169e1baf665858b3ad2e11cb5. @ofirshmuel are you going to continue your pr? otherwise i could would like to try.

[2022-07-27 15:46] yusufcemalcelebi commented on #12727
It seems there is no status for network condition

[2022-07-27 15:47] jmacd commented on #12300
I'm not convinced that the implementation of `target_info` is correct. I believe the single-writer principle is broken by the current behavior. The single-writer principle is consistent with Prometheus requirements, and it should be much harder to break than this. 😁

(I couldn't find where the specification talks about this detail, does it? Forgive me if the following is incorrect.)

From inspecti

[2022-07-27 15:56] yusufcemalcelebi commented on #12727
Okay, thanks for your support! I'll close the issue.

[2022-07-27 15:56] #12727 closed

[2022-07-27 16:28] dashpole commented on #12300
Job and instance are converted to service.name and service.instance.id in the prometheus receiver, and are converted back (and added as metric labels) in the PRW exporter, so they should be correctly preserved on the target_info metric.  In the issue above, job + instance were not unique (e.g. instance was `localhost:10694`, and was the same for many collectors), which caused this issue.

That is

[2022-07-27 16:57] codeboten commented on #2835
pmm-sumo is no longer involved in the project, a new sponsor is needed before the s3 exporter component will be merged into the contrib repo.

[2022-07-27 17:04] djaglowski commented on #12731
I like this proposal in general, but I think we do not necessarily need to cross reference code owners directly.

I think it might make sense to do the following:
- Apply the `Stale` label more aggressively to issues (but do not close issues based on staleness).
- Ping code owners whenever the `Stale` label is applied.

For the higher level goal of detecting unmaintained components, we can identif

[2022-07-27 17:06] jmacd commented on #12300
Thank you @dashpole. Sorry for mis-reading the code. I reviewed prom->otlp and otlp->prom specs and remembered 2381 (however, will add that the string "target_info" does not appear in the spec today?).

@hardproblems it sounds like you are looking for ["Safe attribute removal" in the collector](https://github.com/open-telemetry/opentelemetry-specification/issues/1297), but I'm still a bit confused

[2022-07-27 17:13] TylerHelmuth commented on #12731
I thought about this too, but the tricky thing is that the label would come off whenever anyone comments on the issue.  I may be overthinking things, but we could find ourselves in a situation where an issue is opened and people interested in the issue periodically comment on the issue, but the code owner hasn't responded.  In this scenario the issue never gets marked `Stale` but it should have (S

[2022-07-27 17:29] djaglowski commented on #12417
My preferred path forward would be to do the following:
1. Add a `pull_request` field to the template.
2. Validate that at least one of `issues` or `pull_request` is specified.
3. Update the changelog template to call out both issues and PR explicitly:
[code]

This accomplishes the following:
- Creating issues is optional
- "Followup" commits for adding the PR number are optional
- Changelog is cl

[2022-07-27 17:32] codeboten opened #12757 "Update stability level of `dotnetdiagnosticsreceiver` as unmaintained"
The `dotnetdiagnosticsreceiver` component has an open PR and issues that have not received any update from code owners after being pinged multiple times. As per the [stability level guidelines](https://github.com/open-telemetry/opentelemetry-collector#unmaintained), this component should be marked unmaintained.

Issues:
https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/3535

[2022-07-27 17:43] raphaelauv opened #12759 "processors : groupby sum metrics"
**Is your feature request related to a problem? Please describe.**

I have a level of granularity to high ( that mean to many metrics )

I would like to groupby and sum the values to reduce the number of metrics

my use case is that I have a prometheus endpoint giving the kafka consumer_lag metrics for each consumer_group on each topic and each partition

but I only need the consumer_lag of each c

[2022-07-27 17:49] hardproblems commented on #12300
Correct, we use consistent hash to ensure a unique timeseries is only ever sent to one collector so we only see out of order samples on the `target` metric. We run hundreds of OTLP senders which send millions of metrics time series, so adding unique sender ID and causing sender deploys to 2x the cardinality is something we'd like to avoid.

Safe removal of attributes is a possible alternative, if

[2022-07-27 17:51] dashpole commented on #12300
Yes, I even managed to confuse myself on that front: https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/12079#issuecomment-1183189066.  I'll update the spec to reference target_info (rather than an info-typed metric in the `target` MetricFamily).

[2022-07-27 18:03] jmacd commented on #12300
Sending to a unique collector does not necessarily avoid a single-writer violation. Since your metrics are exiting the collector through PRW, I assume they end up in a database where you will ask PromQL queries? Single-writer violations can still show up at this point. You are either vulnerable to this, or you have somehow ensured that your timeseries do not overlap aside from `job` and `instance`

[2022-07-27 18:15] hardproblems commented on #12300
oh i meant that we're using consistent hashing upstream of the collector to maintain the uniqueness guarantee. A time series (unique combinations of metric name and label values)'s data points from multiple senders will only get sent to one collector. An example of a metric sender is a pod in a replicated load-balanced service that want to report the latency of requests that it served. We don't ca

[2022-07-27 18:26] jmacd commented on #12300
I don't think you've explained how this avoids the single-writer violation. It sounds like you might have invalid timeseries data, if multiple collectors receive overlapping data and write it to the same Prometheus remote-write backend. Prometheus cannot correctly compute rates from interleaved timeseries (actually overlapping).

I understand now, and I support the option to not generate target_in

[2022-07-27 20:28] hardproblems commented on #12300
Would you please link to the doc on single-writer principle? My understanding of that is a unique time series should only be sent by a single writer, which we can guarantee in our environment.

[2022-07-27 21:14] jmacd commented on #12300
Here it is: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/data-model.md#single-writer

I don't want to make it sound like you're doing something wrong, I was just having trouble understanding how your series are unique when `instance` and `job` are not unique. This is possible when each distinct process ensures its attributes are somehow globally uni

[2022-07-27 23:22] hardproblems commented on #12300
application pods --> metric aggregator pods --> per-pod otel-collector is a very high level description of our setup.
Our metrics aggregators receive statsd metrics from applications. They aggregate metrics across application pods in order to remove application pod name as a label. Application pods use consistent hashing to ensure that for a unique time series, its datapoints are only sent to one

[2022-07-28 00:15] jmacd commented on #12300
That makes sense. Thank you for being specific and bearing with me. We've fully explained why only the `target_info` metric is a problem and your setup is a reason we should support suppressing target information.

Definitely, the intention behind a "safe attribute removal processor" is to support what you're doing in the aggregator pods as an otel-collector pipeline instead. Thanks!

[2022-07-28 01:28] atoulme commented on #12747
@overmeulen thank you for the report. I have opened this PR to address the bug: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12762

[2022-07-28 04:53] mskhan-devops opened #12763 "Can Multiple Filter Processors Be Used For POD Level Metrics"
Hi,
Can **multiple** `Filter Processors` be used for POD level metrics?  What I want to do is to include metrics `pod_network_rx_bytes` for the POD `mysql-db` and  metrics `pod_memory_utilization_over_pod_limit` for POD `microService`.

I am using the following config:
[code]

This configuration does not work. When I remove one of the above filters, it starts scraping metrics nicely.

I am using

[2022-07-28 05:40] fatsheep9146 commented on #12631
IIUC, for now, we should design a new function which could change the key's name that matches the regex expression dynamically, such as  `replace_all_key_patterns` ? @TylerHelmuth

[2022-07-28 10:16] julian-zhu96 commented on #12645
I had a similar problem, and I found it's because metrics description `The number of logs queued` is different from the metrics description `The number of spans queued` of the same name previous send to prometheus.
I think this can be fix in `prometheusexporter` or `metricstransformprocessor`

[2022-07-28 12:51] aboguszewski-sumo opened #12766 "[pkg/stanza] Creating `unsafeReader` returns an error when initialised with `fromBeginning` set to `false`"
**Describe the bug**
When a new `Reader` is created by using a `readerBuilder` for a file not set to be read from the beginning, `readerBuilder` overwrites tries to determine the offset in the `build()` function. In particular, this happens when `unsafeReader` is called on the `readerFactory`. This bug caused the `filelog` receiver to crash after restarting.

**Additional context**
This bug has be

[2022-07-28 12:52] aboguszewski-sumo commented on #12766
I've already fixed it and I'll send the PR in a few minutes, this issue was made only to link it in the changelog.

[2022-07-28 14:35] #12766 closed

[2022-07-28 15:07] TylerHelmuth commented on #12631
Yes a new function could do it.  It would be very similar to `replace_all_patterns`.

[2022-07-28 15:38] fatsheep9146 commented on #12631
I'd love try this, could you assign to me?

[2022-07-28 16:05] TylerHelmuth commented on #12631
@fatsheep9146 its yours.  Forewarned, accepting the function will probably be depended on some of the PRs in #11751 being merged first.

[2022-07-28 17:59] djaglowski opened #12769 "[receiver/filelog] "start_at: end" should be disregarded when loading offsets from storage"
**Describe the bug**
When using a storage extension, the receiver should be able to seamlessly resume log file consumption after a restart. However, current behavior will skip lines that were added to a file while the collector was not running. In order to correct the behavior, the receiver should use ignore the `start_at` setting for files who's offsets are retrieved from a storage extension.

**

[2022-07-28 18:00] lchopfpt opened #12782 "prometheus exporter adding new labels on each scrape"
Metrics exported as 'prometheus' exporter saw additional labels added on each scrape, and each label containing an additional prepended 'exported_' string to it.

Installed 0.56 otelcol (not contrib) with a basic config of scraping a local node_exporter, and exporting as prometheus.

**Expected to see**
Expected a relatively static number of metrics and labels.

** Saw instead **
Instead there was

[2022-07-28 18:48] dwelch-spike opened #12770 "[receiver/aerospikereceiver] Support TLS."
**Is your feature request related to a problem? Please describe.**
The aerospikereceiver should support a TLS config and TLS authentication between the embedded Aerospike go client and Aerospike servers. This should include support for non-mutual, mutual, and PKI auth. Aerospike also supports LDAP but that can come later.

**Describe the solution you'd like**
Support a configtls.TLSClientSetting i

[2022-07-28 23:21] jspaleta commented on #1426
pardon,
Looking at the testutil function being used to determine available ports.... it looks like the testutil function has tcp baked in.  But this test is meant to be a udp service.

Does the testutil function  `findAvailableAddress` appears to have `tcp` hardcoded in the `net.listen` call.

There doesn't appear to be a way to instruct the testutil functions to search for a free udp port.

https

[2022-07-28 23:22] jspaleta commented on #10916
pardon,
Looking at the testutil function being used to determine available ports.... it looks like the testutil function has tcp baked in.  But this test is meant to be a udp service.

Does the testutil function  `findAvailableAddress` appears to have `tcp` hardcoded in the `net.listen` call.

There doesn't appear to be a way to instruct the testutil functions to search for a free udp port.

https

[2022-07-28 23:51] codeboten commented on #9808
fixed by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/11857

[2022-07-28 23:51] #9808 closed

[2022-07-28 23:51] codeboten commented on #9807
Fixed by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/11858

[2022-07-28 23:51] #9807 closed

[2022-07-29 01:13] nanorobocop commented on #12621
Thanks for comment!

My implementation consists of 2 parts:
*  [exporter/kafka] Support sending individual log records #12657
*  [exporter/kafka] Send log record attributes marshaler (for custom schema) #12658

Custom schema implemented just by sending Attributes (which is dynamic map, could be constructed during Processing phase). So similar approach could be done in other exporters as well.

[2022-07-29 06:39] perrinj3 opened #12776 "Does OpenTelemetry Collector have a Prometheus Receiver for Remote Writes"
I'm using the K6 Prometheus remote writer extension to generate metrics and want to know if there is an Otel Collector receiver that will work with this.
You have to start Prometheus with the flag --enable-feature=remote-writer-receiver to allow it to receive.
In this configuration Prometheus doesn't need a  scraper config. It just receives.
K6 then has an extension which allows it to act as a Pro

[2022-07-29 13:13] djaglowski commented on #10916
@jspaleta, thanks for looking into this. Are you willing to submit a PR for this? If so, I will assign the issue to you.

[2022-07-29 13:35] ramyasree0299 opened #12777 "[exporter/prometheusremotewrite] Collector crashes while Scraping Histogram Metrics"
**Describe the bug**
I'm running Opentelemetry collector contrib v0.56.0 Windows Amd64 binary with OTLP Receiver in Windows machine and I have a client application in Spring boot v2.6.9 using Micrometer Registry OTLP v1.9.2 to publish metrics to collector binary in OTLP Format. But as soon as client application starts publishing the metrics, the collector Crashes.
Related to #7149

**Steps to repr

[2022-07-29 14:47] hanjm commented on #11558
working in progress about otlp metrics to clickhouse

[2022-07-29 14:53] sathishsoundharajan opened #12778 "OTEL Collector not able to connect to Elastic APM | Docker"
**Describe the bug**
OTEL Collector not able to connect to elastic-apm

**Steps to reproduce**

Please follow the instructions here, it is simple App
https://github.com/sathishsoundharajan/otel-elastic-apm

**What did you expect to see?**
i'm expecting to see the tracing logs to be sent both to zipkin and elastic-apm server.

**What did you see instead?**
[code]

**What version did you use?**
otel

[2022-07-29 15:01] dloucasfx opened #12779 "Azure metadata "compute-name" is lost when resource-detector `host.name` attribute is overwritten by other detectors"
**Describe the bug**

The "Azure resource detector" stores the compute name in the `host.name` attribute [Ref.](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/processor/resourcedetectionprocessor/internal/azure/azure.go#L64).
The `host.name` attribute is not unique to the "Azure resource detector" and can be overwritten by other detectors, for valid reasons; for instan

[2022-07-29 16:14] philipcwhite opened #12781 "New component: Cilium Hubble"
## The purpose and use-cases of the new component

Purpose: To collect trace data from Cilium Hubble.
Use Case: Hubble provides trace data for L3-L7 network flows within Cilium instrumented (Kubernetes) environments.  This data is extremely useful to troubleshoot network data within clusters. Cilium currently has their own one-off build of the Otel collector specifically built for Hubble data extr

[2022-07-29 16:44] alvinhom commented on #10300
It maybe helpful to explore storing attributes using the JSON object type with dynamic subcolumns:

https://clickhouse.com/docs/en/guides/developer/working-with-json/json-semi-structured

That way the data should be stored in the optimal format with the inferred type and queries can just use the dot notation like select event.tag.db.host from spans instead of using the string array notation.

[2022-07-29 17:06] codeboten commented on #12779
@mx-psi can you take a look as the owner of `processor/resourcedetectionprocessor/internal/azure`

[2022-07-29 17:06] frzifus commented on #6694
hey, i would like to work on that :)

[2022-07-29 17:07] codeboten commented on #12778
This looks like the backend isn't there, can you connect to it directly?

[2022-07-29 17:10] codeboten commented on #12777
Pinging @dashpole @bertysentry as well as owners of the translator

[2022-07-29 17:15] dloucasfx commented on #12779
Also note that Azure Compute Name is not always the same as the VM Hostname.
They are only the same when you create Azure VM "without" setting hostname at creation or after creating the VM.

Here is an example where hostname is changed after VM is created, notice that they are different. `SQLVMTEST` vs `SQLVM` .

[code]
 Although OTEL resources are well defined w/ semantic conventions and one can

[2022-07-29 17:21] codeboten commented on #12763
If you're combining these two filters on the same pipeline, it would make sense for all metrics to be dropped as everything but the first filter would be dropped, and then the second filter would drop everything else.

A suggestion from @dyladan would be to use two different pipelines here.

[2022-07-29 17:24] codeboten commented on #12759
@raphaelauv have you tried using https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/groupbyattrsprocessor?

[2022-07-29 17:26] codeboten commented on #12746
Fixed by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12765

[2022-07-29 17:26] #12746 closed

[2022-07-29 17:31] dyladan commented on #12763
Just figured I'd add some clarity to my suggestion. It's hard to tell without the full config but I assume you're using both of these processors in the same pipeline. The issue is that the one that comes first is dropping any metrics which doesn't match its regex, then the output of that is fed into the second one. Because there is no overlap in the regular expressions, it drops everything. My sug

[2022-07-29 17:45] cpheps commented on #9235
@pmm-sumo I'd like to volunteer to take this if it's not already being worked on.

[2022-07-29 17:55] bogdandrutu commented on #12623
An individual "log record" is incorrect to be sent, since lots of informations about that record are in the Resource and Scope.

[2022-07-29 18:07] tigrannajaryan commented on #12623
One way sending individual log records would be acceptable is if somehow the Resource and Scope information was merged into the LogRecord. Essentially have a flat record which contains all the information. That however would be a totally different encoding, different from the `otlp_proto` and `otlp_json` supported encodings.

The elastic exporter for example does exactly what I described above: it

[2022-07-29 18:45] jspaleta commented on #10916
Hey,
I'm sort of new in the otel space.  My preference would be to fix up the common testing utilities so it can work with udp(or any network the net.listen supports) as well, but that's a potential breaking change across a lot of tests as I would need to extend the logic of the testing utility so you can/must specify the network you want to listen on. I guess I could have it fallback to tcp if un

[2022-07-29 19:12] dgoscn commented on #12591
Can I take this one

[2022-07-29 19:13] jpkrohling commented on #12591
It's yoursz

[2022-07-29 19:26] #12769 closed

[2022-07-29 23:00] crobert-1 commented on #12641
Dmitrii and I discussed this problem and decided the best way to solve this is to modify the translation logic to operate on all metrics at once.

Currently the `translateAndFilter` method within the `exporter/signalfxexporter/internal/translation/converter.go` is called for each metric, so operations can only be done on datapoints within the same metric. Changing the logic to allow operations on

[2022-07-30 00:39] hanjm commented on #10300
It is a excited experiment feature, currently it's advantage is extracting JSON fields into dedicated columns, store as seperate native columns, useful for create primary/order key for specific column. but it cannot create secondary index like map, the map type could use bloom filter secondary index.
IMO, the object('json') suitable for the common semantic convention attribute,  if object('json')

[2022-07-30 01:28] atoulme opened #12786 "New component: Azure Event Hub Receiver"
## The purpose and use-cases of the new component
The Azure Event Hub receiver listens to logs emitted by Azure Event hubs.

## Example configuration for the component
[code]

## Telemetry data types supported
logs

## Is this a vendor-specific component? If so, are you proposing to contribute this as a representative of the vendor?
This is an Azure component - I am not a representative of the ven

[2022-07-30 04:40] sathishsoundharajan commented on #12778
Yes @codeboten i logged into the container using `docker exec -it <container_id> sh` and executed `curl http://localhost:8200/` and got response "Ok" and build_number. But not able to somehow access it outside the container and also OTEL is not able to connect. Am i missing something very obvious.

[2022-07-30 08:04] sathishsoundharajan commented on #12778
I have added more information in these threads:
https://discuss.elastic.co/t/elastic-apm-not-accessible-outside-docker-container/311026
https://stackoverflow.com/questions/73173816/otel-collector-not-able-to-connect-to-elastic-apm-docker

[2022-07-30 22:05] frzifus commented on #7931
I am surprised that it this exporter workes. :no_good:. There are two definitions of `jaeger.api_v2.PostSpansRequest`, `jaeger` and `coralogix`. For me it looks like `carologix` is adding the message `Metadata` it the request.

[code]

[code]

[2022-07-30 22:27] frzifus commented on #7931
I am surprised that it this exporter workes. :no_good:. There are two definitions of `jaeger.api_v2.PostSpansRequest`, `jaeger` and `coralogix`. For me it looks like `carologix` is adding the message `Metadata` it the request.

[code]
As far as I understand, this leads to a few problems:
1. it is not clear which of the two messages is registered first. Seems to be decided at each program start. As

[2022-07-30 22:43] frzifus commented on #6633
hey @jpkrohling, can i work on that?

[2022-07-30 22:58] frzifus commented on #7931
/help-wanted

[2022-07-31 08:06] oded-dd commented on #7931
@frzifus thank you for your help. Adding @povilasv to the thread. He'll probably also attend it soon, and could give you all the insights you need.

[2022-07-31 22:02] bertysentry commented on #12777
This is the offending code in function *addSingleHistogramDataPoint()* in `/pkg/translator/prometheusremotewrite/helper.go`:

[code]

This part of the code is out of my scope of expertise, I'm sorry! @Aneurysm9 @dmitryax Any idea?

[2022-08-01 05:34] fatsheep9146 commented on #9749
@mx-psi I summarized the status of this pr,

following checkboxes can be closed
- exporter/honeycombexporter
- internal/aws/awsutil
- internal/aws/cwlogs
- internal/aws/k8s
- internal/aws/proxy
- internal/aws/xray
- internal/containertest
- internal/docker
- receiver/awsecscontainermetricsreceiver
- receiver/collectdreceiver
- receiver/fluentforwardreceiver
- receiver/googlecloudpubsubreceiver
- r

[2022-08-01 07:13] Doron-Bargo commented on #9998
Any update on this issue?
We try to build our own otel collector and the fix in #12215 worked ( run over a week on cluster with 60 nodes )

[2022-08-01 10:11] frzifus commented on #4742
## tldr
that issue can not be reproduced in the current collector version.

<details>
  <summary>[Config used to test - replaced jaeger with logging exporter]</summary>

[code]
</details>

## Test v0.24.0 and a new version (v0.54.0)

Using v0.54.0 everything works fine.
[code]

When using v0.24.0 sending and sending a `SIGINT` the collector starts to hang.
[code]
<details>
  <summary>Details after

[2022-08-01 11:32] sathishsoundharajan commented on #12778
Fixing the host parameter in apm-server.yml to "0.0.0.0:8200" worked.

[2022-08-01 11:34] sathishsoundharajan commented on #12778
But as mentioned in other threads, i have tried to use the latest elastic exporter

[code]

docker-compose.yml

[code]

When i start the containers i getting

[code]

[2022-08-01 11:34] sathishsoundharajan commented on #12778
Have updated the repro repo with latest configuration to reproduce

[2022-08-01 14:59] jpkrohling commented on #11780
@open-telemetry/collector-approvers , what do you think about this? Should all signals share a single metric to report failure to send data? We can still have one label per signal, but keeping the same metric would make more sense to me.

[2022-08-01 15:17] jpkrohling commented on #6633
It's yours

[2022-08-01 15:24] jpkrohling commented on #4742
Thank you for your investigation, @frzifus!

@Betula-L, I'm closing this, but if this is still happening, feel free to reopen.

[2022-08-01 15:24] #4742 closed

[2022-08-01 15:41] dloucasfx opened #12799 "hostmetrics -> network scraper fails the conntrack collection on distros where the conntrack is not loaded"
**Describe the bug**
The `hostmetrics` receiver throws the below "benign" error when the `network` scraper tries to collect `conntrack` metrics from Linux distros that are missing the `conntrack` module. Example: Amazon Linux 2

[code]

Although this error is "partial/benign" and the remaining hostmetrics will still be collected/emitted, I don't think we should log errors like this on every poll a

[2022-08-01 16:07] TylerHelmuth commented on #12649
@frzifus its yours.  Forewarned, accepting any changes to functions right now is dependent on some of [these PRs](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/11751) being merged

[2022-08-01 17:16] jpkrohling commented on #11457
I'm closing this as I don't have enough information to keep working on this.

[2022-08-01 17:16] #11457 closed

[2022-08-01 17:27] dmitryax commented on #12799
The metrics are already optional. We need to read the metrics configuration and don’t touch the conntrack API if it’s not enabled by user

[2022-08-01 18:03] dashpole commented on #12777
Looks like it can panic on histograms without any buckets

[2022-08-01 18:16] bputt-e commented on #10300
we're experimenting with map atm to determine its long-term usefulness. We're staying away from json atm because it isn't supported for distributed tables which is what something like this would benefit from

A potential problem with json is that if you're dealing with multiple customers and one decides to name their tag xxx and accidentally puts in a numeric value and it gets generated as a new c

[2022-08-01 18:26] dashpole commented on #12777
Fix: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12854

[2022-08-01 18:57] jspaleta commented on #10916
@djaglowski you can assign me, I think I'm up to speed enough know to do a PR to extend the test suite.

[2022-08-01 19:25] TylerHelmuth opened #12872 "[pkg/telemetryquerylanguage] Update metrics context to be more efficient with slices"
The Metrics Context has several paths that get and set using slices.  With the introduction of [pdata immutable slices](https://github.com/open-telemetry/opentelemetry-collector/issues/5263), the context is now performing a copy of the slice data whenever doing a `get` or `set`.

The context should be updated to `get` and `set` the underlying pdata type instead of the raw data.  This will keep the

[2022-08-01 19:42] jpkrohling opened #12873 "[exporter/loki] Refactor component, reducing configuration"
In preparation for having a possible OTLP endpoint in Loki to ingest logs, we need to refactor the Loki exporter to have minimal configuration, potentially with only the endpoint. All other configuration options would be hints to be provided as resource or regular attributes, like the following:

[code]

We still have questions about the tenant information. We could either have a generic solution

[2022-08-01 21:00] djaglowski commented on #11563
Closed by #11877

[2022-08-01 21:00] #11563 closed

[2022-08-01 21:33] #12777 closed

[2022-08-01 22:37] Jaskaranbir opened #12885 "[exporter/googlecloud] Correctly translate exception-events from OpenTelemetry to Google Trace format"
The OpenTelemtry spec provides info on exception-handling that is based adding exception-info as Event: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/exceptions.md

Currently, the exception-events passthrough as-is without any extra processing, which leads to following representation in Trace UI:
![image](https://user-images.github

[2022-08-02 00:34] alvinhom commented on #10300
According to the Clickhouse documentation, the type inference will do type coercion:

"This sort of coercion is supported for most types that have variable representation e.g. Int, Float. If necessary, ClickHouse will unify to the higher bit type that allows all current values to be represented. If necessary, converting to a String represents the least precise definition."

I am not sure how putti

[2022-08-02 00:41] alvinhom commented on #10300
BTW, for those that understand Mandarin Chinese, there is a video by BiliBili on how they are using Clickhouse for large scale for logs (trace is very similar).

https://www.youtube.com/watch?v=nSfzu8Q0B4I

They are using implicit maps, which basically flattens very key/value pair into separate columns.  Which is basically what the JSON data type is doing.  They have some performance number attach

[2022-08-02 01:52] spencergilbert commented on #9597
I didn't see a separate issue for `telemetrygen logs` - should that be included here or raised in another issue?

[2022-08-02 07:22] jspaleta commented on #10916
@djaglowski
PR #12888 is up now with refactored testutil.
The carbon and statsd tests will need to be modified after this PR is merged to make use of the new testutil function provided in the PR.

[2022-08-02 08:09] gouthamve commented on #12782
Hi, this is not a bug. What is happening is this:

[code]

i.e, the metrics "exported" by OTel Collector are being scraped by OTel Collector itself. This is like making Prometheus scrape its own federate endpoint which would cause the same behaviour.

Rather you should do the following:

[code]

Use `localhost:8888` to scrape metrics about the Collector.

[2022-08-02 08:50] gouthamve commented on #12645
From what I understand, you have different services exposing the same metric `queueSize` but with different descriptions. Honestly not sure how to handle this case tbh. I've reached out to the Prometheus community to understand what the right behavior should be.

[2022-08-02 12:53] Duncan-dsf commented on #4973
How is this issue going now? I also need to relate to this issue.

[2022-08-02 12:55] Duncan-dsf commented on #4973
Can we build a extension to expose metrics in prometheus.DefaultGatherer?

[2022-08-02 13:19] djaglowski commented on #9761
Again here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7631967283?check_suite_focus=true

[2022-08-02 14:18] dashpole commented on #4973
Thats not a bad idea short-term, but long-term we probably want to unify the self-observability of components long-term.

[2022-08-02 14:24] djaglowski commented on #12607
I've been looking into this a bit more, and noticed this near the beginning of the failed step:
[code]

From there, it downloads and extracts many packages, and abruptly fails for what may just be a timeout:

[code]

Based on the first bit, `Trying build command make`, and the error, `/bin/sh: 1: addlicense: not found`, I've noticed that the default make target should require `install-tools`. I'll

[2022-08-02 14:51] ItsLastDay commented on #2568
@dmitryax Does that mean that if I want some feature (for example, this particular issue "resource attribute to label support") to be implemented in metricstransform processor, I'll need to propose that feature to transform processor instead? In other words, is it true that I'll commit the same code, but into another folder? :)

[2022-08-02 15:24] jspaleta commented on #10916
okay with this merged, I can now open the PRs to fix up the disabled tests for carbon an statsd

[2022-08-02 15:51] jpkrohling opened #12897 "[exporter/loki] Deprecate the format option, remove the "body" encoding"
I would like to remove the "format" attribute. It's rarely the right thing to do, with the JSON encoding being the recommended one.

Before deprecating and eventually removing it, I would like to hear about use cases from the current users of the Loki Exporter. The current plan is to deprecate this option by v0.57.0, removing it by v0.60.0.

Relates to #12873, but I split this from that as we shou

[2022-08-02 15:54] #12799 closed

[2022-08-02 15:57] #10996 closed

[2022-08-02 15:58] zhrebicek opened #12898 "New component: zabbix receiver"
## The purpose and use-cases of the new component
Receive [zabbix](https://www.zabbix.com/) metrics and whatnot by otlp collector.

It is aimed to be pull based receiver hooked on [zabix-api](https://www.zabbix.com/documentation/current/en/manual/api)

## Example configuration for the component
* endpoint
* username
* password
* collection_interval (in seconds)
* scrape_toggles
  * metrics (boolea

[2022-08-02 16:04] dmitryax commented on #2568
Yes, correct.

It's not the same code. They are completely different codebases providing similar functionality using different configuration approaches.

[2022-08-02 16:30] jspaleta commented on #10916
@djaglowski
PR #12901 is up now with the changes to re-enable the udp listen service test for carbon and statsd receivers

[2022-08-02 19:11] atoulme opened #12906 "[exporter/splunkhecexporter] traces and metrics pipeline use log content length config key."
**Describe the bug**
traces and metrics pipeline use log content length config key.

**Steps to reproduce**
The usage should not have a direct impact unless I missed something around the way we initialize the buffer for gzipping data.

**What did you expect to see?**
Content length set for metrics and traces properly.

**What did you see instead?**
The code uses the content length used by logs.

*

[2022-08-02 19:42] #12644 closed

[2022-08-02 20:03] djaglowski commented on #10286
Closed by #11076

[2022-08-02 20:03] #10286 closed

[2022-08-02 20:25] dmitryax commented on #11815
@codeboten can we slow down the adoption of the new metrics a bit? We are having troubles on Splunk Observability side to provide the backward compatibility. Can we introduce the new metrics feature-gated in silent mode for a few more releases, then start the transition in a more relaxed schedule? I believe our backend might be not the only one trying to do it gracefully.

I'll be back in a week a

[2022-08-02 21:23] codeboten commented on #11815
👍🏻 sure no problem

[2022-08-02 23:38] bogdandrutu commented on #10916
@jspaleta PR does not have the effect we want, reverting now.

[2022-08-03 00:05] jspaleta commented on #10916
@bogdandrutu,
oh no that's unfortunate.
Is there a test log with error output I can look at with go file line context for where the failure is happening.  The UDP issue was definitely a real race issue..but there maybe another race.

[2022-08-03 00:06] jspaleta commented on #10916
@bogdandrutu
is the problem happening for both carbon and statsd receiver?

[2022-08-03 01:44] jspaleta commented on #10916
Okay I've identified a bug in the reciever tests. It has noth ing to do with the udp port binding, which was a potential other problem.

The new test failure happens when the UDPserver reads in a 0 byte length message from its UDP packet connection. The deferred waitGroup.Done(), but there is not msg copied into the msg channel.

I'll work on refactoring the tests now to catch this.

[2022-08-03 03:30] mskhan-devops commented on #12763
Hi @dyladan

Thanks for providing the details. You're right, I used both filters in the same pipeline, which caused everything to drop and no metrics were exported.

Based on your suggestion, I implemented these filters in two pipelines that shared the same receiver and exporter, and it worked perfectly.

Could you please let me know if defining two or more pipelines will have any overhead on the

[2022-08-03 04:56] codeboten opened #12915 "Support go 1.19"
The latest version of go is out, this issue tracks the work required to support it:

- [x] #12917
- [x] update CI check to require 1.19 build and remove requirement on 1.17 build
- [x] #12916

[2022-08-03 04:56] codeboten opened #12916 "update minimum go version in go modules & remove 1.17 test target"

[2022-08-03 04:57] codeboten opened #12917 "add go 1.19 tests to CI"

[2022-08-03 05:43] jspaleta commented on #10916
@djaglowski
new PR up #12919  with additional race condition protection in place.

[2022-08-03 06:51] odidev opened #12920 "Add ARM64 CI tests"
Hi Team,

I'm interested in adding arm64 support in the ci to this repository.

**Is your feature request related to a problem? Please describe.**
This repository doesn’t have arm64 testing support in the GitHub actions ci.

**Describe the solution you'd like**
I have explored the repository and CI being used, arm64 builds can be added in the GitHub actions CI to enable test for arm64.

**Describe

[2022-08-03 07:22] gillg commented on #11895
@jpkrohling maybe it's related to this bigger discussion?
https://github.com/open-telemetry/opentelemetry-collector/issues/2588

The receivers for logs are not all consistent

[2022-08-03 07:52] zhrebicek commented on #12898
Created this issue to work on it, also added linked PR draft.
Should make it ready to review based on https://github.com/open-telemetry/opentelemetry-collector/blob/main/CONTRIBUTING.md#when-adding-a-new-component hopefully this week.

[2022-08-03 08:37] mx-psi commented on #9749
Thanks @fatsheep9146, I updated the issue checklist

[2022-08-03 08:39] neelayu commented on #10851
#12921

[2022-08-03 09:10] mx-psi commented on #9597
I think this should be a separate issue

[2022-08-03 09:27] kovrus opened #12922 "New component: Headers Setter extension for exporters"
## The purpose and use-cases of the new component

The `headers_setter` extension implements `configauth.GRPCClientAuthenticator`
and is used to set requests headers in `gRPC` / `HTTP` exporters with values
provided via extension configurations or requests metadata (context).

Use cases include but are not limited to enabling multi-tenancy for observability
backends such as [Tempo](https://grafana

[2022-08-03 09:34] Tornhoof commented on #11895
I'm getting the same error message, just with logs exported from .NET.
I worked around by adding the following
line to the labels configuration:
[code]
That attribute is always available, as it is the LoggerName in .NET.

[2022-08-03 09:40] mx-psi commented on #12779
IMO the problem here is that the semantics of `host.name` are not entirely clear and there are cases like this in which there are several possible valid values of `host.name`. I believe the value currently used is within what the spec allows, but I see that this can cause problems. It also seems like it would be good to discuss this at the specification level first, so that other OpenTelemetry com

[2022-08-03 09:49] #8265 closed

[2022-08-03 11:00] mx-psi commented on #12920
@odidev Thanks for the request!

Note that we already ensure the Collector builds on ARM through cross-compilation, so I assume this is about unit tests? Or did you have a different use case in mind?

How can this be done? I tried reading actions/virtual-environments/issues/2552 but found it a bit confusing and I am not sure that this is natively supported by Github. Could you share a bit more abo

[2022-08-03 12:25] #12897 closed

[2022-08-03 13:19] djaglowski commented on #10916
Thanks for digging into this @jspaleta.

[2022-08-03 13:28] gfonseca-tc commented on #10912
I'm experiencing the same issue. Was the problem identified during the ticket? How was it fixed?

[2022-08-03 13:31] djaglowski commented on #10915
Based on additional discussion on [(collector)#5784](https://github.com/open-telemetry/opentelemetry-collector/pull/5784#discussion_r936009614), I'm proposing that we standardize on Przemek's original proposal of requiring explicit configuration to attach a storage extension to another component. This means deprecating the current "autoattach" behavior on the stanza-based receivers. These are stil

[2022-08-03 13:33] bogdandrutu opened #12924 "Adapt tql::metrics::flags to the new flags API"

[2022-08-03 13:34] bogdandrutu opened #12925 "metricstransformprocessor handle correctly the new FlagsStruct API"
See groupHistogramDataPoints and groupExponentialHistogramDataPoints for the `flagsValue` hack.

[2022-08-03 13:45] spencergilbert opened #12927 "telemetrygen subcommand to generate OTLP log events"
**Is your feature request related to a problem? Please describe.**

Easily running integration tests for [Vector's](https://github.com/vectordotdev/vector) OTLP logs.

**Describe the solution you'd like**

The WIP `telemetrygen` currently has documented (WIP) support for traces and metrics, we should track in the implementation of logs as well.

**Describe alternatives you've considered**

Today I

[2022-08-03 14:09] Migueljfs commented on #10912
Still going back and forth with customer support. I will share the solution here if we find it

[2022-08-03 14:19] gregoryfranklin commented on #12873
Loki only has a concept of labels, not resource labels and attribute labels.

So, would you not just want the key to be `loki.labels`?
[code]

At the moment (as far as I'm aware), the attribute processor wouldn't meet the requirements in the current form - it does not support setting a key to a list of values, it does not support resource attributes and it cannot extract non-attribute fields such

[2022-08-03 14:45] gregoryfranklin opened #12930 "[exporter/loki] Consider 400 response to be a permanent err"
**Is your feature request related to a problem? Please describe.**
Currently, if loki returns a 400 error code the request will be retried even though its never going to succeed.  In extreme cases all the sending queue workers can be kept busy doing retries (which block the worker) preventing valid log messages from being processed.

In my case, this is being triggered by a client sending log mess

[2022-08-03 14:56] jmacd commented on #9998
I commented in #12215 -- have we investigated why the garbage collection support in the metrics adjuster does not appear to work?

Support for start time is serious business. Prometheus has a heuristic that makes it unable to correctly calculate rates at restarts. OTLP makes it possible to correctly calculate rates around restarts, but that will be broken by the proposed fix to disable the adjuste

[2022-08-03 15:13] TylerHelmuth commented on #12924
Closing as PR is merged

[2022-08-03 15:19] TylerHelmuth commented on #12925
Closing as PR was merged

[2022-08-03 16:12] djaglowski commented on #12786
I'll sponsor this.

[2022-08-03 16:16] atoulme commented on #12786
Superb!

[2022-08-03 16:36] djaglowski commented on #10915
A summary of a conversation about this topic in the Collector SIG today is [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12871#issuecomment-1204198890).

[2022-08-03 17:29] crobert-1 commented on #12332
This is referenced in #12203. It looks like we may need to keep increasing the timeout level, or figure out another way to implement the `TestOracleDBIntegration` test that requires the longer timeout.

[2022-08-03 17:41] bogdandrutu commented on #12925
@TylerHelmuth what I implemented is a bit of a hack :) someone needs to do the right thing. Like maybe we need a "get as int" the flags.

[2022-08-03 17:42] bogdandrutu commented on #12924
@TylerHelmuth what I implemented is a bit of a hack :) You need to probably have "flags_no_record_value" func that works with `bool` and later we add other "flags_foo" instead of working on a int64

[2022-08-03 17:54] TylerHelmuth commented on #12924
Ah ok, I thought this issue was only tracking the switch to the new fields.  I'll probably hold off any removing the hack until `Flags` is completely removed and `FlagsStruct` is gets renamed to `Flags`

[2022-08-03 17:54] gregoryfranklin commented on #7151
I was taking a bit of a look at what would been needed to add this to the transform processor (since I also need the ability to drop span events from spans).

It looks like a new function would be required, which could potentially look something like (similar to the delete_matching_keys function)
[code]
eg
[code]

The problem I'm running into is that functions cannot take a path as an argument.  I

[2022-08-03 18:43] jpkrohling opened #12934 "Dependencies on github.com/outcaste-io/ristretto v0.2.0 are failing"
Apparently, we have a dependency on a specific tag for the module "github.com/outcaste-io/ristretto", but that version does not exist. This has been failing for a few days for me, but it didn't fail on CI. When releasing contrib, it did fail again.

[2022-08-03 18:45] jpkrohling commented on #12934
Related to: https://github.com/DataDog/datadog-agent/pull/12992

[2022-08-03 18:58] dmitryax opened #12936 "[processor/k8sattributes] k8s.deployment.name attribute can be set to a wrong value"
`k8s.deployment.name` attribute value is taken from the pod name using regexp. This is not a robust approach. In some scenarios it can set the attribute to a wrong value. For example a Stateful Set called `sts-test` will create a pod called `sts-test-1`, telemetry from that pod will get the attribute `k8s.deployment.name: sts` which is incorrect, `k8s.deployment.name` should not be set for such po

[2022-08-03 19:00] TylerHelmuth commented on #12934
@jpkrohling is this a release blocker?

[2022-08-03 19:49] evan-bradley commented on #12482
@dgcom Just to clarify, are you talking about the Windows concept of a process handle? If so, I do not believe the library that the hostmetricsreceiver uses to gather process data currently supports getting this information.

The other metrics can be easily scraped. I will be adding voluntary and involuntary context switch counts and a open file descriptor count.

[2022-08-03 20:42] dgcom commented on #12482
For Windows, handles count is "\Process(*)\Handle Count" perfmon counter.
In PowerShell this is available with this example:
[code]
For thread count, it is "\Process(*)\Thread Count"
Windows does not have file descriptors counter, so this should be available only for Linux.

Looking at the library used by the receiver - [leoluk/perflib_exporter: perflib-based Prometheus exporter for Windows and lo

[2022-08-03 20:55] dmitryax commented on #12332
2 option would be the best to try first. This takes currently takes too much time

[2022-08-03 21:08] secustor opened #12938 "[receivers/prometheusreceiver] ensure that TA scrapeconfigs are merged with statically defined ones"
**Is your feature request related to a problem? Please describe.**
The imported code of Prometheus does not work with scrape configs which happen to conflicting each other.
There there has to be a mechanism to prevent this.

**Describe the solution you'd like**

**Describe alternatives you've considered**
An alternative would be to simply not allow mixed operation of static configs and job retriev

[2022-08-03 21:51] alvinhom commented on #10300
It should be easy to just filter out null values in the query.  I wrote a Python programs to load some of my trace spans from Elasticsearch into Clickhouse using the JSON schema, and the query with attributes are quite natural.  The query looks something like this:

SELECT
        **event.tags.code.namespace,**
        count(*) AS total_count,
        avg(duration) AS avg_duration,
        quantil

[2022-08-03 22:06] bputt-e commented on #10300
The null concern was around performance because the number of columns would increase based on the distinct number of attributes....I suppose it might be a non-issue, though, clickhouse prefers an empty string over null

[2022-08-03 22:10] alvinhom commented on #10300
I don't think null or empty value will cause much storage bloat since it is columnar db and column can use run length encoding or other compression to compress empty/null values.

Query performance with separate columns (even with lots of null values) will be much better than a map.

[2022-08-03 22:19] junhaoyu-aws opened #12939 "New component: pkg/s3mapprovider"
## The purpose and use-cases of the new component

An implementation of ConfigMapProvider for Amazon S3 (`s3mapprovider`) allows OTEL Collector the ability to load configuration for itself by fetching and reading config files stored in Amazon S3.

## Telemetry data types supported

Since this is just for config loading so it could be any. Keep the same as what [yaml/file/envproviders](https://gith

[2022-08-04 00:50] jpkrohling commented on #12934
Not really, I'm preparing the release with a change to the go.mod containing a "replace" directive.

[2022-08-04 01:56] fatsheep9146 commented on #12936
I'd love to help with this, could I have a try? @dmitryax

[2022-08-04 01:58] dineshg13 opened #12944 "[exporter/datadog] host info is empty for all the hosts"
**Is your feature request related to a problem? Please describe.**
When using datadog exporter, we are unable to see host information for any host on the Datadog UI.

We can easily verify this by using sample config below.

[code]

Once we have host in the UI, we can navigate to the `infrastructure List` to see the details of the host. One the details of page, we currently don't see any informatio

[2022-08-04 07:52] mx-psi commented on #12934
DataDog/datadog-agent/pull/12992 got merged, but I can't upgrade the modules used here yet because of other issues.

There is a workaround for most users, which is to run:

[code]

to enforce usage of the official Go proxy. This is not available in certain regions (e.g. China) or when having certain network restrictions, so I recognize that this remains an issue even with the workaround and I am w

[2022-08-04 10:23] mx-psi commented on #12939
Is `pkg` the right place for this? I would argue we want this under `confmap/provider`

[2022-08-04 13:01] jsirianni commented on #7298
Has there been any movement on this? If not, I would be happy to jump in. I have been working on integrating Journald into a few projects and it has been frustrating trying to move all fields over to attributes.

[2022-08-04 13:15] djaglowski commented on #11445
Again here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7651685515?check_suite_focus=true#step:8:2762

[2022-08-04 13:22] djaglowski commented on #11445
@Mrod1598, I am disabling this test because this has not been addressed.

[2022-08-04 13:26] djaglowski commented on #7298
I don't see any reason why this shouldn't move forward. Putting this info in attributes is clearly an improvement in terms of respecting the data model.

[2022-08-04 13:50] gregoryfranklin commented on #7298
I had a go at this a while back but the decision was to open an issue against the specification to get the missing semantic conventions defined.
You'll see in the PR (https://github.com/open-telemetry/opentelemetry-log-collection/pull/353) that I identified all the well-defined fields from journald and which of them could be mapped to existing semantic conventions.

But, I've not had time to follo

[2022-08-04 14:05] BinaryFissionGames opened #12959 "[processor/filter] Add the ability to filter SeverityNumber below a certain severity"
**Is your feature request related to a problem? Please describe.**
Commonly, you want to reduce the amount of logs that you are sending, and a common way to do this is to filter logs under a certain severity level (e.g. only log "info" level and higher). Currently, there is no way to do that.

**Describe the solution you'd like**
Add a `min_sev` field to the logs portion of the `filterprocessor` (

[2022-08-04 14:14] djaglowski commented on #7298
There is an [ongoing discussion](https://github.com/open-telemetry/opentelemetry-specification/issues/2610#issuecomment-1190784629) about whether and how semantic conventions should be defined on a per component basis, so it is not even fully settled that these attributes will ever be codified. At this point, I don't think we should be waiting on semantic conventions. Many other components are mov

[2022-08-04 14:34] evan-bradley commented on #12482
Thank you for the clarification. Most process metrics are generated using data obtained from [gopsutil](https://github.com/shirou/gopsutil), which is the library I was referring to that doesn't yet support getting a process handle count.

It does look like perflib_exporter should be able to retrieve this information. I have limited working knowledge around Windows and do not have a Windows environ

[2022-08-04 15:02] schmikei commented on #12338
@djaglowski I initially attempted to get metrics in first thinking it was going to be more additive (#12889)  before breaking stuff out into their respective resource attributes but I think you may be right that this might be the preferred approach. I'll go ahead and see if I can cut a breaking change PR for that. Will keep you posted!

[2022-08-04 15:11] schmikei opened #12960 "[receiver/postgresql] Fix Collection To Use Resource Attributes"
**Is your feature request related to a problem? Please describe.**
According to the [resource specification]( https://github.com/open-telemetry/opentelemetry-specification/blob/141a3ef0bf1eba0b6d260335bbe0ce7af9387cfc/specification/metrics/data-model.md#resource-attributes-1), the receiver metrics should not specify identifying information such as tables or databases on the metrics. The metric att

[2022-08-04 15:14] dmitryax commented on #12936
@fatsheep9146 sure, it's yours

[2022-08-04 15:14] NareshChinnusamy opened #12961 "AwsXray Exporter send request failed"
**Im trying to export xray metrics using aws otel collector**

1. Configured VPC endpoint for x-ray service.
2. Running it as a sidecar container in ECS cluster.
3. Container starts running successfully.
4. After a few seconds I was faced with this error.
`exporterhelper/queued_retry.go:149	Exporting failed. Try enabling retry_on_failure config option.	{
    "kind": "exporter",
    "name": "awsxra

[2022-08-04 15:43] #10285 closed

[2022-08-04 16:16] NareshChinnusamy commented on #12961
Hi @boostchicken, Can you help me with this?

[2022-08-04 16:19] #12917 closed

[2022-08-04 16:27] NareshChinnusamy opened #12964 "AwsXray Exporter send request failed"
**Im trying to export xray metrics using aws otel collector**

1. Configured VPC endpoint for x-ray service.
2. Running it as a sidecar container in ECS cluster.
3. Container starts running successfully.
4. After a few minutes, I was faced with this error.
`exporterhelper/queued_retry.go:149 Exporting failed. Try enabling retry_on_failure config option. { "kind": "exporter", "name": "awsxray", "er

[2022-08-04 16:30] dgcom commented on #12482
I looked at [gopsutil](https://github.com/shirou/gopsutil) and it does not use performance counters at all, which explains why it only supports cpu, memory and limited number of IO counters.
The best option would be to change process scraper implementation to use perflib_exporter, which provides more per-process data and that data is compatible with many other Windows monitoring implementations.
A

[2022-08-04 17:04] jspaleta opened #12965 "Introduce noop skeleton component directories as starting points for new component contributors"
**Is your feature request related to a problem? Please describe.**
To lower the bar to component development for new contributors with an itch to scratch, it would be useful to have skeleton noop components that include commented boilerplate / factory calls. Contributors could copy and edit (following the hints in the comments) as a starting point for new component development.

**Describe the sol

[2022-08-04 17:19] crobertson-conga commented on #7250
I think this is now fixed with #9891

[2022-08-04 17:24] junhaoyu-aws commented on #12939
Because it is a vendor-specific component, so both me and my teammates think it is the right place :)

[2022-08-04 18:20] #12934 closed

[2022-08-04 18:21] #11751 closed

[2022-08-04 18:46] dmitryax commented on #141
@povilasv thanks for taking the issue. Do you want me to assign it to you?

[2022-08-04 18:59] dmitryax commented on #141
I would make a correction to the original request.

- <strike>hostName</strike> - this seems like beyond k8s attribute processor responsibilities. If user wants that attribute taken from an underlying node, they should install collector as daemonset and use a regular attributes processor with downward k8s API.
- <strike>containerName</strike> - this is an identifying attribute of a container withi

[2022-08-04 19:05] pmcollins opened #12969 "[exporter/signalfx] attempts to divide by zero during translation are logged as warnings"
**Describe the bug**
The SignalFx exporter can produce noisy log entries about translation rules finding a zero in the denominator in what would be a division operation. The operation is skipped, so no spurious values are actually created, but the warning that gets logged has been reported to be a hindrance that is not actionable to users.

**Steps to reproduce**
Unable to reproduce organically, b

[2022-08-04 19:22] jspaleta commented on #11753
@djaglowski I think all the prom receiver flaky tests are symptoms of a race condition in how the commonly used testComponent func and the http server routine associated with mockPrometheus object operates for all the tests.

Can you assign me to this and the other open flaky prom receiver tests?  I think the fix is similar to what i did for the carbon receiver, need to put in a timeout,tick wait

[2022-08-04 19:51] jspaleta commented on #11753
Okay I think I found it.
There may be a wait group being used incorrectly in the Mock Prometheus server, with the Done call being done in a racy way. I'm going to try to sythetically produce a race locally and then fix.

[2022-08-04 20:18] djaglowski commented on #12607
After merging #12891, the error I had noticed is resolved. However, the action still times out due to the default make target being extremely long.

I've looked into this some more and believe I've pinned down the problem in #12968. Successful run here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7678886296?check_suite_focus=true#step:6:339

[2022-08-04 20:21] djaglowski commented on #11753
Thanks for looking into these flaky tests! I've assigned this one to you. If there are others you think are related, please call them out specifically and I can assign those as well.

[2022-08-04 20:23] djaglowski commented on #12960
@schmikei, please review the issue description. It appears incomplete.

[2022-08-04 20:25] schmikei commented on #12960
Ahh sorry about that, thanks for the catch!

[2022-08-04 20:36] djaglowski commented on #12960
Since the component is beta stability, you will need to use feature gates to control this change. Here is an example:
https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12404/files

I believe it would be sufficient to have one pair of gates for the set of changes.

[2022-08-04 20:45] schmikei commented on #12960
Okay yeah sounds good; I'll look into implementing this in the PR. Just confirming, but is the window of time for the featuregate for this receiver going to be the same?

 I.e. 2 releases for `resource_attributes` and further changes to be hidden behind featuregates, 2 releases for it to become the default and 2 more releases until it becomes the only behavior?

[2022-08-04 22:28] TylerHelmuth commented on #12631
@fatsheep9146 the issue is closed. You should add the new function to pkg/telemetryquerylanguage

[2022-08-04 22:28] TylerHelmuth commented on #12649
@frzifus the issue is closed. You should add the new function to pkg/telemetryquerylanguage

[2022-08-04 22:35] #12607 closed

[2022-08-04 23:50] nanorobocop commented on #12623
Resource and Scope attributes could be merged into LogRecord attributes (in attribute processor, for example).
Individual LogRecords are usually what is expected by backend storage.

[2022-08-04 23:53] nanorobocop commented on #12623
Right, that is what I'm proposing - to have different encodings: `logRecordJSON` [encoding](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12657/files#diff-dd624142e6681519789b3a3e47af1638c82ba09e6aadd3949ad743535cae4c4dR83) and `logRecordAttributesJSON` [encoding](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12658/files#diff-dd624142e6681519789b3a

[2022-08-04 23:57] gramidt commented on #12930
@jpkrohling - What are your thoughts?

[2022-08-05 01:53] nanorobocop opened #12974 "Add custom time format configuration option"
**Is your feature request related to a problem? Please describe.**
Opentelemetry stores time in [timestamps with nanoseconds](https://github.com/open-telemetry/opentelemetry-collector/blob/main/pdata/internal/data/protogen/logs/v1/logs.pb.go#L351).
But different storages or later processing may expect time in some different format.
This is request to add custom time format to telemetry data.
Custo

[2022-08-05 02:51] nanorobocop commented on #12623
That could be an option, but I think problem is nested structure with arrays []ResourceLog:[]ScopeLog:[]LogRecords, which is unnecessary in this case.
Backed would need to go 3 levels deep to get LogRecord's Timestamp and Body.

As noticed above, many exporters implement sending individual LogRecords and have [such 3 for loops pattern](https://github.com/open-telemetry/opentelemetry-collector-cont

[2022-08-05 03:04] wajika opened #12975 "cannot assign requested address"
This error is not a bug.
After I start the otel container there is an error, I don't know if this error is from k8s or bare metal.
can someone give me some advice?

![image](https://user-images.githubusercontent.com/17058349/182992381-16f09123-2a77-4d4b-990a-b9a9e4d51589.png)

otel: 0.56
prometheus: 2.36.1
kubernetes: v1.20.4

[code]

[2022-08-05 05:38] jjmm0312 opened #12976 "[receiver/prometheusreceiver] Can't scrape histogram and summary at the same time (Prometheus receiver)"
Hello. I want to collect histogram and summary at the same time.
Prometheus exports the metric, but opentelemetry says error message.

**Prometheus Metrics** (I removed another labels like host, remote.)
`lettuce_command_completion_seconds{command="SET",quantile="0.5",} 0.0`
`lettuce_command_completion_seconds{command="SET",quantile="0.9",} 0.0 `

`lettuce_command_completion_seconds_bucket{command

[2022-08-05 05:54] dmitryax commented on #141
Makes sense. Let's add Job and CronJob as optional attributes as well 👍

[2022-08-05 07:09] jspaleta commented on #11753
Okay I can reproduce the problem locally quite easily with a one line change in the tests.

Here's the reproducer change:
I synthetically slow down the ServeHTTP function by introducing a short `time.Sleep(500 * time.Millisecond)` into the function:
[code]
With this change I can reproduce the problem locally on every run, with every test marked flaky.

Not only that but the test http server servin

[2022-08-05 07:28] mx-psi commented on #12939
Being vendor-specific means it should be on opentelemetry-collector-contrib, but does not prescribe what folder it should be on. For components we generally copy the folder structure of opentelemetry-collector (e.g. exporters live under the `exporters` folder on both repositories), so I think we should also copy the repository structure in this case, and place this under `confmap/provider` on this

[2022-08-05 08:11] nanorobocop commented on #12974
Added implementation of this idea - https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12977

[2022-08-05 09:43] stanmarsh2 commented on #9566
@dmitryax is it possible to contribute the fix? Will you accept/review it please?
If yes, maybe you can point out links to some contributor's guidelines.

[2022-08-05 13:02] djaglowski commented on #12974
If I'm understanding correctly, you want a mechanism that will format a timestamp according to a custom format and write the resulting string value to a specified field.

I think this functionality would need to be implemented in the transformprocessor, and that it would need to be generic enough to apply to any pdata.Timestamp field. (Logs, metrics, and traces all have more than one timestamp fie

[2022-08-05 14:00] dashpole commented on #12976
How are you producing those metrics?  It looks like you are trying to have a single metric which is both a histogram and a summary, which isn't possible in prometheus.  What `# TYPE` comment do you have on that metric?

[2022-08-05 14:12] TylerHelmuth commented on #12974
I think a factory function could be created in the telemetry query language that could take a Path that returns a timestamp and converts it to a string based on a supplied format.

[2022-08-05 14:25] mx-psi commented on #12965
Relates to open-telemetry/opentelemetry-collector/issues/5675

[2022-08-05 15:31] #12916 closed

[2022-08-05 15:39] BinaryFissionGames commented on #12959
Gave these questions some further thought; Here's my opinion:
1. We should support at least using the aliases (using e.g. DEBUG, INFO, INFO2, case insensitive). As a user, there's no chance I'm remembering that INFO is 12 off the top of my head. I think initially just using the aliases is the way to go.
2. Records with no severity should not match if the severity filter is specified. The filter do

[2022-08-05 15:46] djaglowski commented on #12960
@dmitryax, do you have an opinion on how to handle this situation?

We have a data point attribute that should be changed a resource attribute.

I think this could be broken into two separate changes:
1. Add the resource attribute. It's not entirely clear to me if this needs to be considered a breaking change, but if so a feature gate could toggle whether `EmitForResource` is called with or withou

[2022-08-05 16:06] #10830 closed

[2022-08-05 16:32] dwelch-spike commented on #12770
Resolved in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12963

[2022-08-05 16:32] #12770 closed

[2022-08-05 16:34] dmitryax commented on #9566
Hey @stanmarsh2.

Are the `severity_text`, `trace_id`, `span_id` standard in fluent format? Or at least defined somewhere in the docs? These are the fields that maybe makes sense trying to fetch, but we need to find good corresponding fields.

fluent format doesn't have any notion of service AFAIK. So we cannot guess, but we may predefine some otel specific field e.g. `otel.service.name`

Anyway,

[2022-08-05 16:58] dmitryax commented on #12960
I wouldn't go to the route when we assume that zero attribute value means no attribute. It may work for strings, but not for int or bool attributes.

I would suggest just adding a file to the `internal/metadata` directory with a customized functionality that you need for feature gates instead of modifying `mdatagen`.

[2022-08-05 17:05] TylerHelmuth commented on #12776
Does this issue cover your needs: https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/10358

[2022-08-05 17:12] TylerHelmuth commented on #12906
closing based on linked PR

[2022-08-05 17:12] #12906 closed

[2022-08-05 17:25] #12964 closed

[2022-08-05 17:25] TylerHelmuth commented on #12964
tracking in https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/12961 instead

[2022-08-05 17:27] TylerHelmuth commented on #12961
@NareshChinnusamy this feels like a networking issue in AWS and not an issue with the collector itself.  Maybe @Aneurysm9 can help out.

[2022-08-05 17:31] evan-bradley commented on #12975
It looks like you have port 9090 exported for your `prometheus-operatord` ClusterIP and `prometheus-k8s` NodePort. Could this be your issue?

[2022-08-05 17:31] dwelch-spike opened #12979 "[receiver/aerospikereceiver] Single node mode with authentication crashes if auth fails."
**Describe the bug**
When running a pipeline with the Aerospike receiver with `collect_cluster_metrics` set to false and `username` and `password` empty, the receiver will crash if auth fails with Aerospike error NOT_AUTHENTICATED. Incorrect passwords are fine but no user/pass gets NOT_AUTHENTICATED

**Steps to reproduce**

1. Configure the receiver with collect_cluster_metrics == false and no use

[2022-08-05 17:31] dwelch-spike commented on #12979
I'm working on a fix for this now.

[2022-08-05 17:51] atoulme opened #12980 "[CI] Stability tests failure"
**Describe the bug**
Stability test is flaky.

**Steps to reproduce**
See https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7696203557?check_suite_focus=true#step:8:7

**What did you expect to see?**
A passing test.

**What did you see instead?**
The test fails to run with:
[code]
Then the build fails when trying to upload tests:

[code]
**What version did you use?**
latest ma

[2022-08-05 18:08] atoulme opened #12981 "[receiver/mongodb] Integration tests failure"
**Describe the bug**
Flaky test.

**Steps to reproduce**
https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7685164989?check_suite_focus=true

**What did you expect to see?**
Passing test

**What did you see instead?**
[code]

**What version did you use?**
latest main

[2022-08-05 18:12] atoulme opened #12982 "[receiver/filelog] Flaky test TestReadRotatingFiles/MoveCreateSequential on Windows"
**Describe the bug**
A test related to the filelogreceiver component failed, then passed later with the same code changes.

**Steps to reproduce**
https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7685135690?check_suite_focus=true

**What did you expect to see?**
Passing test.

**What did you see instead?**
[code]

**What version did you use?**
latest main

[2022-08-05 18:17] atoulme opened #12983 "Build go cache became slow and took hours"
**Describe the bug**
During a build, go cache behaved slowly, taking hours to run.
The build kept going and had to be eventually cancelled.

**Steps to reproduce**
https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7682176276?check_suite_focus=true

**What did you expect to see?**
A passing build, or at least, a reasonable timeout.

**What did you see instead?**
The build went

[2022-08-05 18:31] atoulme opened #12984 "Load test set-up environment timed out"
**Describe the bug**
During a build, the load test set-up environment step timed out after 15 minutes.

**Steps to reproduce**
https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7663937443?check_suite_focus=true

**What did you expect to see?**
The test should pass. It passed the second time around.

**What did you see instead?**
The build was canceled after 15 minutes.

[2022-08-05 18:51] djaglowski commented on #12984
The 15m timeout was added on #12755 and extended to 30m yesterday on #12958. I'll close this since I believe it is now resolved.

[2022-08-05 18:51] #12984 closed

[2022-08-05 18:59] djaglowski commented on #12983
This is due to https://github.com/Azure/azure-sdk-for-js/issues/22321.

#10289 has some additional history.

[2022-08-05 18:59] #12983 closed

[2022-08-05 19:06] djaglowski commented on #12980
@open-telemetry/collector-contrib-approvers, stability tests were disabled nearly two years ago, yet we have continued to run this workflow on every PR. Any reservations with deleting the workflow at this point?

[2022-08-05 19:18] djaglowski commented on #12981
Looking into this, I noticed that we are running five tests in parallel. Each test runs a separate container, but they all expose the same port. Perhaps we are lucky this works as often as it does.

@JonathanWamsley, is this an issue you could take on?

[2022-08-05 19:22] dmitryax commented on #12980
No objection from my side. I believe we discussed some plans to replace it with cpu/memory utilization dashboards based on benchmarks from every commit.

[2022-08-05 19:38] TylerHelmuth commented on #12980
If the workflow is doing nothing then I support disabling it.

[2022-08-05 20:08] dashpole commented on #12885
The description of `/stacktrace` in the docs you reference looks like it only applies to the v1 API, while we use the v2 API:
`JSON-formatted stack trace. Stack traces aren't indexed for search.This label is displayed in the Call Stack table.The /stacktrace label is only used by the V1 API.For the V2 API, the span contains a stackTrace field.`

So it looks like we would actually want to support se

[2022-08-05 20:12] jspaleta commented on #11753
As promised, here a commented branch with the reproducer sleep in place and including additional diagnostic logging to try to understand what is going on with.

https://github.com/jspaleta/opentelemetry-collector-contrib/tree/js/diagnose-flaky-prom-tests

Someone who has a better understanding of how the receiver's http connections work should take a look a this. I really get the feeling the recei

[2022-08-05 20:21] junhaoyu-aws commented on #12939
That makes sense to me, thank you!! I will do that when I submit my PR.

[2022-08-05 20:31] jspaleta commented on #11753
Okay I refactor the new waitFor function to use the Server's pov about when it thinks its served enough requests to let the tests run.

The diagnostic order of operations look better but there is still a problem,

[code]

[2022-08-05 21:35] Jaskaranbir commented on #12885
Thanks for the response @dashpole. I see that StackTrace constitutes the StackFrame here: https://github.com/googleapis/go-genproto/blob/01dd62135a58/googleapis/devtools/cloudtrace/v2/trace.pb.go#L1226

With my limited context, is it still as complex if the client can be expected to handle transforming raw stacktrace into stackframes object above, and pass the structured response via attribute? Ev

[2022-08-05 21:49] atoulme commented on #12980
This happened here as well: https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/2784117327

[2022-08-05 22:34] jspaleta commented on #11753
Okay good news.

This looks like config that can be tuned.
there is a config called scrape_interval that is too tight.. this needs to be increased for the test situation.

I just don't know how to set that...yet.
Here's the promethus config being passed to the ScrapeManager object.
[code]

[2022-08-05 22:42] jspaleta commented on #11753
Okay I think I have this sorted out now.
I'm going to prep a PR with the changes to scrape_interval and scrape_timeout so they allow for some slowness in the production server tests

[2022-08-05 23:08] jspaleta commented on #11753
@djaglowski
PR #12986  up with proposed fix

[2022-08-05 23:21] perrinj3 commented on #12776
Hi Tyle
Yes it does cover our needs. Thanks for letting me know. I’ll track the issue. Hopefully someone will write the receiver  soon.
Regards,
John

From: Tyler Helmuth ***@***.***>
Sent: Saturday, August 6, 2022 3:06 AM
To: open-telemetry/opentelemetry-collector-contrib ***@***.***>
Cc: John Perrin ***@***.***>; Author ***@***.***>
Subject: Re: [open-telemetry/opentelemetry-collector-contrib] D

[2022-08-06 00:54] axw commented on #12778
We have been discussing this at https://discuss.elastic.co/t/elastic-apm-not-accessible-outside-docker-container/311026, and I believe this is a configuration issue. I suggest we close this, continue the discussion on the linked forum post if necessary, and reopen if there turns out to be a bug.

[2022-08-06 01:31] fatsheep9146 commented on #10466
@mx-psi I have checked all component, for `gocritic` only two components are still not resolved, others can all be checked

- [ ] exporter/datadogexporter: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12988
- [ ] receiver/awscontainerinsightreceiver: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12325

[2022-08-06 14:35] JonathanWamsley commented on #12981
Yeah, I can take care of this.

[2022-08-06 19:33] dmitryax commented on #12747
`host.name` is [a resource attribute](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/resource/semantic_conventions/host.md#host) not a metric attribute. It's expected that they are not translated.

@overmeulen how come that you've got `host.name` as a part of a metric? What receivers do you use? If there are scraping receivers setting `host.name` as a metric

[2022-08-07 09:28] jjmm0312 commented on #12976
I just use Spring boot library <micrometer-registry-prometheus> which exposes promethues type metrics.
I want to collect histogrm and summary. Because I want to compare the value, but I'm not sure if it is impossible with opentelemetry to scrape both metrics.

[2022-08-07 20:20] vasireddy99 commented on #12638
The fix to this issue has been fixed in this [PR](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/11666) and is in out on [#v0.57.2](https://github.com/open-telemetry/opentelemetry-collector-contrib/releases/tag/v0.57.2).

[2022-08-08 00:03] nanorobocop commented on #12974
Thanks for suggestions!
Let me take a closer look at TQL.

[2022-08-08 00:42] jjmm0312 commented on #12976
I use Spring boot library "micrometer-registry-prometheus" which exposes prometheus type metrics.
The type is `# TYPE lettuce_command_completion_seconds histogram`

But the metric has quantile label or bucket label. The format looks like summary and histogram.
I use default setting, so I'm not sure if it is impossible with opentelemetry to scrape both metrics.

[2022-08-08 01:59] wajika commented on #12975
Sorry, this is my fault, this ticket can be closed.

[2022-08-08 01:59] #12975 closed

[2022-08-08 03:20] wajika commented on #5854
index: should support ILM or template...

[2022-08-08 06:39] NareshChinnusamy commented on #12961
@TylerHelmuth I found out that the ports for the collector are not exposed and rectified it. Thanks

[2022-08-08 06:39] #12961 closed

[2022-08-08 06:44] xiangtianyu commented on #5847
Is there a sequel to this?

[2022-08-08 10:18] kovrus commented on #9734
@TylerHelmuth can you assign it to me?

[2022-08-08 10:51] 8 opened #12998 "Cannot get PrometheusRemoteWriteExporter to retry on failure"
Hi,

**Describe the bug**

I have an issue with the `prometheusremotewriteexporter` in that I cannot get it to retry on errors.
Every error during export is immediately treated as a permanent error and the data is dropped without any retry.

In my test-setup I am using promscale with timescaledb as the backend and sending metrics works fine.

**Steps to reproduce**

1. Setup `prometheusremotewrite

[2022-08-08 13:13] djaglowski commented on #11753
Closing based on #12986

[2022-08-08 13:13] #11753 closed

[2022-08-08 13:18] djaglowski commented on #12980
Sounds good. I'll make a PR to remove this workflow.

@dmitryax, I believe you may be referring to https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/9107, which is similar but was in regards to load tests, which at least are actually running.

[2022-08-08 13:18] djaglowski commented on #9374
Closed by #12197

[2022-08-08 13:18] #9374 closed

[2022-08-08 13:38] AndriiChuzhynov opened #13000 "New component: Syslog exporter"
## The purpose and use-cases of the new component
Syslog is still widely used in the industry to receive logs from remote servers.
Even the opentelemetry-collector has a Syslog receiver.
This exporter will help connect  observability stack with Syslog receivers

This exporter will send logs to the Syslog server in [rfc5424](https://datatracker.ietf.org/doc/html/rfc5424) format.
It's will be possib

[2022-08-08 14:05] dashpole commented on #12976
OpenTelemetry doesn't currently have a data format which is both a histogram and a summary, so i'm not sure we can correctly represent the histogram + summary "combo" metric you have.

There are a few things that we might be able to do:

1. Since your type comment asked for a histogram, and you provided all of the histogram series, we should be able to completely construct the histogram.  We could

[2022-08-08 15:02] #6694 closed

[2022-08-08 15:11] jpkrohling commented on #11895
@Tornhoof, your problem seems related to the comment I made earlier in this thread:

This won't be necessary anymore after the refactoring of the Loki exporter that is underway, see https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/12873

[2022-08-08 15:15] jpkrohling commented on #12873
The exporter would need to know whether a specific attribute is part of the resource or regular attributes. While we can parse both and return the most specific one (regular, when both regular and resource are present), allowing users to be explicit would reduce confusion and would allow for a small optimization on the lookup.

There's the resource processor for that.

I'll do some PoC, but wouldn

[2022-08-08 15:30] jpkrohling commented on #8273
@markdingram, are you suggesting a change to the [nginx-opentracing](https://github.com/opentracing-contrib/nginx-opentracing) repository?

[2022-08-08 15:31] jpkrohling commented on #9998
@Mario-Hofstaetter, @holograph, @Doron-Bargo, could you give 0.57.2 a try? It was released last week.

[2022-08-08 15:54] dashpole commented on #12885
I don't know if that would be a great contract for the exporter to have.  It would be fairly difficult for clients to implement correctly, so I would prefer having something in the exporter.  I'm wondering if starting with something as simple as "split the stacktrace into one attribute for each line" (e.g. `exception.stacktrace.0`, `exception.stacktrace.1`) would make this useable while we figure

[2022-08-08 16:02] ecourreges-orange commented on #8273
I think @markdingram is suggesting to add the same logic of nginx-opentracing to opentelemetry-collector-contrib, which could be nice indeed to avoid too many unjustified error=true,  but this is a nice to have that goes above the requirements of my issue, and applies for cases where the error is not yet set in the span.

But @jpkrohling I also agree with you in the sense that if the error status

[2022-08-08 16:21] jpkrohling commented on #12930
Sounds reasonable to me!

[2022-08-08 16:33] jpkrohling opened #13005 "[extension/jaegerremotesampling] Mark as alpha"
This component is new and hasn't had exposure to production workloads yet. As such, it should be classified as alpha instead of beta.

[2022-08-08 16:33] jpkrohling commented on #13005
@frzifus, are you interested in this?

[2022-08-08 16:45] jpkrohling commented on #10832
I'm closing this as I don't think we are ready to declare this stable.

[2022-08-08 16:45] #10832 closed

[2022-08-08 16:50] jpkrohling commented on #12965
I think it would make sense to have a tool like `ocb` for bootstrapping a component.

[2022-08-08 17:01] BinaryFissionGames opened #13007 "[receiver/couchdb]: Partial errors are not correctly recorded"
**Describe the bug**
Partial errors are not properly recorded if the payload returned by couchdb does not contain an expected metric.

This is because the scraper passes the ScrapeErrors struct into functions, instead of a pointer to the ScrapeErrors.
See:
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/d117c679d763375091c306936f81b3156545f9b4/receiver/couchdbreceiver/scrape

[2022-08-08 17:06] BinaryFissionGames opened #13009 "[receiver/mysql]: Partial errors are not correctly recorded"
**Describe the bug**
Partial errors are not properly recorded if the payload returned by mysql does not contain a metric in the expected format.

This is because the scraper passes the ScrapeErrors struct into functions, instead of a pointer to the ScrapeErrors.
See:
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/0429c10610da477d1f64b3d795e50ab05927beec/receiver/mysqlreceiv

[2022-08-08 17:14] BinaryFissionGames commented on #13007
I'll be working on this issue.

[2022-08-08 17:14] BinaryFissionGames commented on #13009
I'll be working on this issue.

[2022-08-08 17:42] #12930 closed

[2022-08-08 17:44] codeboten commented on #12778
Thanks @axw

[2022-08-08 17:44] #12778 closed

[2022-08-08 18:00] frzifus commented on #13005
Sure, thanks. I will have a more detailed look by the end of the week.

[2022-08-08 18:10] #12980 closed

[2022-08-08 18:13] BinaryFissionGames commented on #9761
Seeing this failure again here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7731126143?check_suite_focus=true#step:7:1220

[2022-08-08 20:00] schmikei opened #13087 "[receiver/postgresql] Client Refactor"
**Is your feature request related to a problem? Please describe.**

In order for postgres to use resource attributes in #12967, we need a way of performing queries that contain multi database results and eventually emit to the same resource.

**Describe the solution you'd like**
A refactor to the client that returns a map-like object so that we can emit metrics per database orderly.

**Describe al

[2022-08-08 20:01] schmikei commented on #13087
I'll be working on this

[2022-08-08 20:02] BinaryFissionGames commented on #13009
Resolved by #13072

[2022-08-08 20:02] #13009 closed

[2022-08-08 20:23] bputt-e commented on #10300
Wondering if this should omit certain attributes (KvlistValue, ArrayValue, BytesValue) similar to elastic's exporter when they were a part of otel
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/4a72901b7b7bea01a15a814f1c13961b7336069c/exporter/elasticexporter/internal/translator/elastic/utils.go#L31

Attribute listing
https://github.com/open-telemetry/opentelemetry-collecto

[2022-08-08 20:53] JonathanWamsley opened #13108 "[receiver/mongodbreceiver]: Partial errors are not correctly recorded"
**Describe the bug**
Like #13007 , partial scraper errors are not being recorded because a pointer is not used when passing a struct into a function. Partial errors are being created for different mongodb versions for each integration test. A versioning check is required for metrics before recording. All  documentation for metrics that depend on a version has been added to the readme.

[2022-08-09 01:02] deejaybanban opened #13110 "New component:"
## The purpose and use-cases of the new component

## Example configuration for the component

## Telemetry data types supported

## Is this a vendor-specific component? If so, are you proposing to contribute this as a representative of the vendor?

## Sponsor (Optional)

[2022-08-09 01:12] jspaleta commented on #12126
This test is probably fixed by #12986
I'm going to prepare a PR that re-enables all the flaky tests that are currently skipped

[2022-08-09 01:25] jjmm0312 commented on #12976
I think first one is better for me. Because I can't collect all metrics because of the histogram metric.
I'll use metric_relabel_configs until the feature is added. Thanks.

[2022-08-09 01:53] #13110 closed

[2022-08-09 04:34] erenming commented on #9716
Hi, i'd like to solve this issue, could assign it to me?

[2022-08-09 04:47] dmitryax commented on #9716
@erenming, assigned. Thank you!

[2022-08-09 05:51] fatsheep9146 commented on #12936
To extend the two ways of solving the problem.

- Make the [regexp](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/processor/k8sattributesprocessor/internal/kube/client.go#L64) more strict.

I think we could first check whether the owner reference kind is ReplicaSet, if so, we then use regexp to extract the deployment name. But this may not cover the corner case that t

[2022-08-09 05:52] truekonrads opened #13114 "Kafka exporter attempts to connect to localhost despite broker specified in config"
**Describe the bug**
Kafka exporter attempts to connect to localhost despite broker specified in config. The brokers setting in the configuration file is specified and the configuration is being read (e.g. if I specify an invalid broker value the collector won't start at all). The error message is:
`
2022-08-09T05:48:32.018Z        info    exporterhelper/queued_retry.go:215      Exporting failed.

[2022-08-09 06:38] davidji99 opened #13115 "[receiver/elasticsearchreceiver]: Add more metrics"
### Enhancement

Add the following metrics for the `elasticsearchreceiver`:

* `indexing_pressure`
(object) Contains [indexing pressure](https://www.elastic.co/guide/en/elasticsearch/reference/current/index-modules-indexing-pressure.html) statistics for the node.
* `discovery`
(object) Contains node discovery statistics for the node.
* `ingest`
(object) Contains ingest statistics for the node.
* `

[2022-08-09 07:29] Mario-Hofstaetter commented on #9998
@jpkrohling The release notes do not mention neither this (#9998) nor the PR (#12215) ?
Has the new option been released? Or have there been other changes that might reduce momory consumption?

Has anyone looked at the memory dumps yet? It does not appear so, therefore it is still unclear if the memory usage (without disabling the start timestamp) is buggy?

[2022-08-09 07:47] #12944 closed

[2022-08-09 08:37] newly12 opened #13117 "prometheusreceiver: possible incorrect metric name for cumulative metrics"
**Describe the bug**
given metrics like the following, exported metrics will only be `envoy_cluster_upstream_rq`
[code]

when `envoy_cluster_upstream_rq` appears first, the family name will be `envoy_cluster_upstream_rq`, [normalizeMetricName](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/b33c86d56a36875a6848bb95135d5756c9a8b3e3/receiver/prometheusreceiver/internal/util.go

[2022-08-09 09:45] liuqingyangsensetime opened #13118 "kafkareceiver: kafka: client has run out of available brokers to talk to: EOF"
the kafkareceiver can not start when init the opentelemetry collector:
"
Error: cannot build pipelines: failed to create "kafka" receiver, in pipeline "logs": kafka: client has run out of available brokers to talk to: EOF
2022/08/09 09:27:43 collector server run finished with error: cannot build pipelines: failed to create "kafka" receiver, in pipeline "logs": kafka: client has run out of availabl

[2022-08-09 09:56] rajatvig opened #13119 "k8sattributesprocessor missing to consistently fetch pod attributes"
**Describe the bug**
A clear and concise description of what the bug is.

Seems like post 0.55.0 release of the Collector, the k8sattributesprocessor is behaving a little inconsistently when it comes to capturing resource metrics from pods. It was working fine in the 0.54.0 release.

Looking at the commit log between the 2 releases - https://github.com/open-telemetry/opentelemetry-collector-contri

[2022-08-09 09:57] mx-psi commented on #10466
Nice! Looks like `pkg/telemetryquerylanguage/contexts/tqlmetrics/metrics.go` is also missing, otherwise we are almost finished :)

[2022-08-09 10:03] #13118 closed

[2022-08-09 11:35] overmeulen commented on #12747
@dmitryax we have an in-house python process that generates metrics for a bunch of services. That's why we have the host.name as a metric attribute and not a resource one. I know each service is supposed to emit its own metrics but this is a huge legacy application and instrumenting all the services would be way too costly at the moment.
Note that you already override resource attributes by metric

[2022-08-09 13:01] jmacd commented on #9998
My understanding of this problem is that the OTel collector maintains a duplicative map of every active counter/histogram/summary timeseries in order to establish the start time of each series.

This is incredibly wasteful.

The Prometheus scrape manager includes the necessary map already, and IMO a good solution would be to extend the Prometheus scrape manager to include a small amount of new inf

[2022-08-09 13:10] BinaryFissionGames commented on #13007
Resolved by #13011

[2022-08-09 13:10] #13007 closed

[2022-08-09 14:29] djaglowski commented on #12417
After playing with my proposed implementation, I found the categorized links eg. `(Issue: #1111) (PR: #2222)` to be too noisy. I ended up trying a variation that just asks for `github_nums` and keeps the concise format we currently use. See https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/13121

[2022-08-09 14:41] djaglowski commented on #10837
Closed by #10922

[2022-08-09 14:41] #10837 closed

[2022-08-09 16:20] BinaryFissionGames commented on #11116
May or may not be related to this specific issue, but another flake on the same test: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7749964411?check_suite_focus=true#step:7:2794

[code]

[2022-08-09 16:46] Jaskaranbir commented on #12885
That sounds good enough as starting point to me.

[2022-08-09 17:24] dmitryax commented on #12936
@fatsheep9146 Option 1 looks good to me. And we are fetching the replicaset name from the owners already

[2022-08-09 17:32] dmitryax commented on #12747
@dmitryax we have an in-house python process that generates metrics for a bunch of services. That's why we have the host.name as a metric attribute and not a resource one. I know each service is supposed to emit its own metrics but this is a huge legacy application and instrumenting all the services would be way too costly at the moment.

Can you utilize [groupbyattr](https://github.com/open-telem

[2022-08-09 18:16] #13087 closed

[2022-08-09 18:33] dmitryax commented on #13119
Hi @rajatvig. Thanks for reporting the issue.

It's possible that the issue is caused by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/8465 . It changed the internal cache key structure.

@rajatvig if you can provide any more guidance on how to reproduce the issue, that would be awesome.

@sumo-drosiek please let us know if you have a chance to look into this. Otherwise I

[2022-08-09 18:44] dashpole commented on #12885
A teammate pointed me to https://cloud.google.com/trace/docs/quotas, which says we are limited to 32 attributes per-span.  I'm worried that the multiple-attribute approach would hit that limit ~instantly, and just end up causing other attributes to be dropped...

[2022-08-09 19:09] rajatvig commented on #13119
@dmitryax What we have a very straightforward Otel Collector Setup with Collectors running as DaemonSets with passThrough on, which send to collectors running as a Gateway that add the rest. The RBAC is as documentation and there is very little load in some clusters.

[Podinfo](https://github.com/stefanprodan/podinfo) is the sample application we have deployed and we see misses for one of the two

[2022-08-09 19:16] Jaskaranbir commented on #12885
The limit does make sense.

Referring back to a previous comment about having a defined contract for stacktrace, would it be an option to have provisions, based on some configurable options of the exporter, for allowing users to either format their own stacktrace or allowing them to pass a raw stacktrace and attempting to format it?

Since stacktrace format isnt standardized across languages and t

[2022-08-09 19:30] dashpole commented on #12885
I could totally see that working for an SDK exporter (e.g. provide a string -> StackTrace function), but that sounds hard to do in the collector via yaml config.

[2022-08-09 20:00] JonathanWamsley opened #13133 "[receiver/apachereceiver]: Partial errors are not correctly recorded"
**Describe the bug**

Partial errors are not properly recorded. This is because the scraper passes the ScrapeErrors struct into functions, instead of a pointer to the ScrapeErrors when recording partial errors.

See:
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/4dd1595a0f4d3ada8f400a9efef5969227b8f1c0/receiver/apachereceiver/scraper.go#L73
and:
https://github.com/open-tel

[2022-08-09 20:08] JonathanWamsley commented on #13133
It be working on this issue.

[2022-08-09 20:12] dmitryax commented on #13119
Thank you for providing the details, @rajatvig . I will take a look into this

[2022-08-09 21:03] JonathanWamsley opened #13155 "[receiver/mongodbreceiver]: Add metric version & storage engine check before recording metrics"
**Describe the bug**
Partial errors are being recorded in integration tests when they don't have to be. Before metrics are recorded, the mongodb version and storage engine should be checked instead of emitting a partial error.

**Steps to reproduce**
Run integration test and check for partial errors before scrape returns.
At the end of scrape, running an integration test like 5.0 I would expect no

[2022-08-09 21:04] JonathanWamsley commented on #13155
I'll be working on this issue.

[2022-08-09 22:03] gfonseca-tc opened #13158 "[processor/routing] Allows routing by values that are not string"
**Is your feature request related to a problem? Please describe.**

When routing data using the collector pipelines the routing processor [only allows us to match against strings](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/5996d882b11580bb9d0bfc130f99f33e4bc6760e/processor/routingprocessor/config.go#L102). It would be very useful if we could also match by other types or

[2022-08-10 00:24] Jaskaranbir commented on #12885
I was thinking about an implementation where the formatted stacktrace is structured and added as a tag containing JSON data. The JSON structure could even be what V1 API uses for stacktraces:

[code]

So the exporter receives a defined tag with this JSON structure and uses it to build the V2-API call-stack. On the configuration side for the exporter, there's option to either parse the data from th

[2022-08-10 03:56] dmitryax commented on #11873
https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12217 doesn't seem like introduce multi arch image

[2022-08-10 06:51] newly12 commented on #9998
@Mario-Hofstaetter I think @jpkrohling was referring #12765 which seems to be promising.

[2022-08-10 10:58] Mario-Hofstaetter commented on #9998
Well, I'll be damned. I ran my test scenario with Release `otelcol 0.57.2` vanilla, and it looks like (for our scenario at least) the memory consumption has IMPROVED DRAMATICALLY and is fixed so to speak ✔

Big shoutout to @balintzs if #12765 was the golden change 👌🏻

On our biggest instance after running my test, `otelcol` process uses less memory than `prometheus` in agent mode.
Will try again w

[2022-08-10 11:45] newly12 commented on #13117
by looking at the code, I understand the need to trim the prefix so to group metrics together for histogram & summary, not quite sure why sum/counter type is needed?

[2022-08-10 13:04] #12745 closed

[2022-08-10 13:13] jpkrohling commented on #9998
I think @jmacd has concerns about the current way we do things, so I'd either open a new issue to address his specific concerns and close this, or keep this one here open until his point is addressed.

[2022-08-10 13:54] JonathanWamsley commented on #13108
Resolved with #13109

[2022-08-10 13:54] #13108 closed

[2022-08-10 13:55] JonathanWamsley commented on #13133
Resolved with #13135

[2022-08-10 13:55] #13133 closed

[2022-08-10 15:06] #12922 closed

[2022-08-10 15:30] jpOlivo-uala opened #13163 "signalfx exporter unknow on aws-otel-collector (using opentelemetry-collector v0.56.0)"
**Describe the bug**
I am using the lambda layer `arn:aws:lambda:us-east-1:901920570463:layer:aws-otel-collector-arm64-ver-0-56-0:1` which contains [ADOT Collector for Lambda v0.20.0](https://github.com/aws-observability/aws-otel-collector/blob/v0.20.0/README.md). This implementation uses opentelemetry-collector v0.56.0

According to documentation on v0.20.0 the signalfx exporter is supported, but

[2022-08-10 15:55] jpkrohling commented on #13158
Just to confirm my understanding: in the example you've given, would you like data to be sent to backend1 if this attribute has true as the value?

[2022-08-10 16:41] gfonseca-tc commented on #13158
Yes @jpkrohling , exactly. A complete example would become too verbose but this is the main idea. I would have an ingest pipeline that would run several TSQL queries adding attributes as necessary and the data would then be fanned out to other pipelines, each one containing a routing processor like the one I provided and a backend. If the key used for that backend is set to true it passes through,

[2022-08-10 16:48] Frapschen commented on #12998
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/3340115a2e67f95693c7b040d7fd92a428539698/exporter/prometheusremotewriteexporter/exporter.go#L138

I think it should call the `consumererror.NewMetrics()`

[2022-08-10 17:02] dmitryax commented on #12936
We need to evaluate how big is the overhead for option 2. Based on that we can either do not add `k8s.deployment.uid` or go with the option 2.

@povilasv @fatsheep9146 WDYT?

[2022-08-10 17:34] #12652 closed

[2022-08-10 18:19] #12960 closed

[2022-08-10 18:22] djaglowski commented on #13165
@kushal-ti, the [logstransformprocessor](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/logstransformprocessor) allows you to use `json_parser` and the other operators that are available in `filelogreceiver`.

In the longer term the capability will reimplemented as a function on the `transformprocessor`.

[2022-08-10 18:40] jpkrohling commented on #12873
@gregoryfranklin, I just checked and you are right, the attributes processor does not support slices in its current form:

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/29a3e3345290e4cf4f45f325b5fe25d000dd5514/internal/coreinternal/processor/filterhelper/filterhelper.go#L24-L39

However, `pcommon` seems to allow it:
https://github.com/open-telemetry/opentelemetry-collector

[2022-08-10 19:29] #12969 closed

[2022-08-10 20:56] schmikei opened #13167 "[receiver/postgresql] Add Index Metrics"
**Is your feature request related to a problem? Please describe.**

Planning on distilling the changes implemented in #12889 into more manageable chunks

The current receiver is missing index metrics which are important to monitor for index maintenance and overall disk usage.

**Describe the solution you'd like**
Add a resource attribute:

[code]

and emit the following metrics:

[code]

which wil

[2022-08-10 20:56] schmikei commented on #13167
I will be working on this

[2022-08-10 21:16] ajsaclayan opened #13169 "[processor/filter] Add metrics for dropped telemetry"
**Is your feature request related to a problem? Please describe.**
We have a dashboard that shows the success rate of data flowing through a collector pipeline. We use four metrics to determine success rate:
1. Receiver accepted data point
2. Receiver refused data point
3. Processor dropped data point
4. Exporter sent data point

We have a filter processor configured for telemetry we don't care ab

[2022-08-10 23:30] fatsheep9146 commented on #12936
I do not encounter the use case that need deployment.uid, so @povilasv can help describe your use case =D

In terms of overhead, I think it definitely  contains the memory consumption of cached deployment data for informer locally and maybe cached deployment data for processor itself. The cpu overhead contains the logic of handler of deployment add, update, delete events, but I think this may be n

[2022-08-11 00:14] dmitryax commented on #12936
Yes we can start with option 1. Then can evaluate option 2 with addition of `k8s.deployment.uid` attribute.

[2022-08-11 01:11] jamesmoessis opened #13171 "[receiver/expvar] Metrics are incorrect for mCacheSys and mSpanSys"
**Describe the bug**
* `mCacheSys` is not reported
* `mSpanSys` has an incorrect value

The fix is simple and I will have it up shortly.

[2022-08-11 05:36] RalphSu commented on #12898
push mode grpc receiver would also be great, specifically for migration usecases

[2022-08-11 05:42] newly12 commented on #12520
yes, I had `resource_to_telemetry_conversion` enabled in PRW so they are added as metric labels.

[code]

yep this might be one option, but it may mean another processor that does the reversion? A relevant question, if we don't care about the target/target_info metric for this use case, maybe for now filter processor can be used to simply drop them?

[2022-08-11 06:13] newly12 commented on #12498
yeah that's valid concern, any suggestion for handling this kind of issue? is there a way to drop only colliding metrics instead of failing all scrapped metrics in one batch/group?

[2022-08-11 06:15] zhrebicek commented on #12898
@RalphSu it would make sense, can you elaborate on how do you export data from zabbix with grpc? Doc link would be enough.

[2022-08-11 06:33] sumo-drosiek commented on #13119
@dmitryax I was off until Today and will be off next week, so not much time to investigate :/
Thank you for looking into this

[2022-08-11 08:13] mx-psi commented on #13163
As the error message says, the ADOT Collector for Lambda does not have this exporter. The list of available components on that distro is https://github.com/aws-observability/aws-otel-lambda#adot-lambda-layer-available-components.

A possible solution is described here https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/8109#issuecomment-1050062665.

Since this is issue is not

[2022-08-11 08:13] #13163 closed

[2022-08-11 08:32] #8834 closed

[2022-08-11 10:55] bilbof commented on #12114
Just want to bump this to ask whether folks would be comfortable with me implementing this and submitting a PR? We have quite a few applications instrumented with APM and it would be a substantial effort to migrate them all to OpenTelemetry immediately (though that is the long term goal).

[2022-08-11 11:07] RalphSu commented on #12898
We have some legacy zabbix monitoring, which use https://www.zabbix.com/documentation/current/en/manual/config/items/itemtypes/trapper item type.

I'm still figuring out the exact api that zabbix exposed for the pushed data.

[2022-08-11 11:11] RalphSu commented on #12898
https://www.zabbix.com/documentation/current/en/manual/appendix/items/trapper here looks the doc. Will try to test it upcoming days.

[2022-08-11 11:23] oded-dd commented on #12898
@RalphSu is Zabbix support push data? interesting, I was not familiar with it

[2022-08-11 12:48] djaglowski commented on #11116
Again here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7777139651?check_suite_focus=true#step:7:2901

[2022-08-11 12:49] #13167 closed

[2022-08-11 13:16] djaglowski commented on #12981
Again here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7787365963?check_suite_focus=true#step:5:746

[2022-08-11 13:17] djaglowski commented on #12981
Both failures observed so far appear to be specifically on the `Running_mongodb_4.0_as_LPU` test.

[2022-08-11 13:27] djaglowski commented on #9761
Again here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7787595836?check_suite_focus=true#step:7:1292

[2022-08-11 13:29] djaglowski commented on #11116
Here too: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7787492747?check_suite_focus=true#step:7:2962

[2022-08-11 13:40] djaglowski commented on #11116
Escalating this to a p2 due to https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/13220

[2022-08-11 13:49] bogdandrutu opened #13221 "Update github.com/alecthomas/participle/v2 to beta version"
https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/13192

[2022-08-11 13:57] kovrus commented on #7945
Hi @foxlegend, can you take a look at https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12892 would that address your use case?

[2022-08-11 13:59] bogdandrutu opened #13224 "Change componets config tests to use `confmaptest`"
An example from core can be found here https://github.com/open-telemetry/opentelemetry-collector/pull/5895

- [x] Change receivers
- [x] Change processors
- [x] Change exporters
- [x] Change extensions

[2022-08-11 14:59] dashpole commented on #12498
I think thats already the behavior today... Does it seem to be behaving differently?

Overall, I would recommend using the metricstransform processor to aggregate the label away (you can sum, or average the colliding metrics), rather than dropping the dimension in prom relabel rules: https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/metricstransformprocessor#met

[2022-08-11 15:10] emileturcotte opened #13225 "Implement AAD Integration for the Azure Monitor exporter"
**Is your feature request related to a problem? Please describe.**
According to the Components Developer guideline, components should use encryption and authentication by default.
When using Azure Application Insights, it is possible to disable local authentication, effectively enforcing Azure RBAC on all communications between the exporter and Azure Monitor.

However, as far as I can see, the Azu

[2022-08-11 15:13] dashpole commented on #12520
The target_info metric is a metric-representation of the resource, so it can't be filtered out without filtering out your resource attributes.  It is a (preferred) alternative to resource_to_telemetry_conversion.  https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12724 is probably the right thing to do to address this.

[2022-08-11 18:21] schmikei opened #13228 "[receiver/postgresql] Add More Table Metrics"
**Is your feature request related to a problem? Please describe.**
Looking to add these metrics:

- postgresql.database.count
- postgresql.table.count
- postgresql.table.size
- postgresql.table.vacuum.count

**Describe the solution you'd like**
Adds a top level metric for the number of databases: `postgresql.database.count`

Adds a database level metric for number of tables: `postgresql.table.coun

[2022-08-11 18:21] schmikei commented on #13228
I will be working on this

[2022-08-11 18:35] BinaryFissionGames commented on #12959
Resolved by #13002

[2022-08-11 18:35] #12959 closed

[2022-08-11 19:24] mwear commented on #11815
@dmitryax I'm happy to help push this work forward, and adjust the transition plan in whatever way makes the most sense. It sounds like it would be best if we:

* Implement the feature gates in each receiver, but leave them undocumented, and continue to emit metrics with direction attributes
* Once the feature gates exist for each receiver
  * Publish a revised transition plan
  * Document the gat

[2022-08-11 20:34] eulisesquidel opened #13251 "open telemetry can't ingest dynatrace from aws lambda function with AWS Distro for OpenTelemetry"
We use AWS Distro for OpenTelemetry in lambda function:
arn:aws:lambda:us-east-1:901920570463:layer:aws-otel-nodejs-amd64-ver-1-5-0:1

We did a basic aws lambda function in nodejs:

exports.handler = async (event) => {
let response
console.log('[START] - OpenTelemetry / Dynatrace');
try {
response = await axios({
method: 'post', url:url
});
console.log('**************', response?.data)
} catch (er

[2022-08-11 20:44] atoulme opened #13252 "[receiver/kafka] Add support for logs with raw data"
**Is your feature request related to a problem? Please describe.**
Currently, we allow to ingest log data in the kafka receiver if it is encoded in OTLP format.
However, we see folks sending logs as data directly to Kafka, with no encoding.

**Describe the solution you'd like**
The Kafka receiver should support receiving entries and interpreting them as raw data to be encoded as log bodies.

**Des

[2022-08-11 20:53] dmitryax commented on #11815
Hi @mwear, this is exactly what I envisioned. Thanks for putting the plan together. Let's follow it

[2022-08-11 21:00] mwear commented on #11815
Great. One followup question. I think the answer is yes, but I wanted to clarify. Should we remove documentation about the feature gates and transition plan from the readmes where they are currently documented as well as any existing deprecation messages?

[2022-08-11 21:33] dmitryax commented on #11815
Yes, let's remove it for now

[2022-08-11 23:02] bogdandrutu commented on #13252
How would we decode that?

[2022-08-11 23:09] atoulme commented on #13252
Something very simple:
[code]

[2022-08-11 23:19] bogdandrutu commented on #13252
You may want to at least batch few of them.

[2022-08-11 23:23] atoulme commented on #13252
I'd love to but... what if there's just one event every 5 minutes?
Isn't batching what the batch processor does?

[2022-08-11 23:41] dwelch-spike commented on #12979
resolved by merged PR

[2022-08-11 23:41] #12979 closed

[2022-08-11 23:47] dwelch-spike opened #13255 "[receiver/aerospikereceiver] Expand scraped metrics."
**Is your feature request related to a problem? Please describe.**
Currently the Aerospike receiver scrapes a subset of the [key monitoring metrics](https://docs.aerospike.com/server/operations/monitor/key_metrics). This should be expanded to include a metric set similar to the Aerospike Prometheus exporter.

**Describe the solution you'd like**
Add new metrics until the scraped set is similar to

[2022-08-11 23:48] dwelch-spike commented on #13255
I have started on the query metrics here https://github.com/dwelch-spike/opentelemetry-collector-contrib/tree/aerospikereceiver-metrics

[2022-08-11 23:52] bogdandrutu commented on #13252
Batching at source (if available, so read as many messages as possible) is cheaper than batch processor in terms of allocs etc.

[2022-08-12 00:26] RalphSu commented on #12898
Yes, there is "item type" call "zabbix trapper" which is to accept pushed data, check above document.

Overview
Trapper items accept incoming data instead of querying for it.

It is useful for any data you might want to "push" into Zabbix.

To use a trapper item you must:

have a trapper item set up in Zabbix
send in the data into Zabbix

[2022-08-12 00:30] atoulme commented on #13252
The unmarshaler interface does not allow to batch when unmarshaling however.
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/0fbb1a3ca83403936ff1607e0fa541c8a600aa6f/receiver/kafkareceiver/kafka_receiver.go#L551

Some refactoring required there then. Is that OK? Is the unmarshaler a good place to keep state?

[2022-08-12 01:48] kentquirk commented on #12491
@TylerHelmuth I have been implementing this, and I'm having second thoughts about a couple of things:

* the idea that all comparisons return false for noncomparable types. I now am thinking that `!=` Not Equals should have the inverted sense here -- `3 != "hello"` should be `true` (but `3 < "hello"` and `3 > "hello"` are both false).  I am arguing for this one.
* whether an empty Bytes should com

[2022-08-12 07:05] dmitryax commented on #11116
ANother instance https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7800282398?check_suite_focus=true

[2022-08-12 07:42] zhrebicek commented on #12898
So it is something server is receiving not something server is able to push out.

In other words receiver would need to "look like zabbix server" but it seems over specific to * something called sender https://www.zabbix.com/documentation/current/en/manual/concepts/sender
* not containing all data coming to zabbix from agents

Other option might be to implement https://www.zabbix.com/documentation

[2022-08-12 10:00] kovrus commented on #13158
Maybe we can use [tql](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/pkg/telemetryquerylanguage) expressions in the routing table of the routing processor as it is used in the transform processor. Then it should be possible to solve the use case described above with the following configurations:

[code]

With [tql](https://github.com/open-telemetry/opentelemetry-colle

[2022-08-12 10:51] mskhan-devops commented on #12763
Hi @dyladan ,

As I asked you above, I would appreciate if you could shed some light on this.

Could you please let me know if defining two or more pipelines will have any overhead on the system. As I want to export different metrics for different apps, such as those for microservices, kafka-connectors, and databases.

As I receive an answer, I will close this issue.

Thank you

[2022-08-12 14:10] kovrus commented on #13224
@bogdandrutu can I take over ` Change processors`?

[2022-08-12 14:14] BinaryFissionGames opened #13263 "[pkg/stanza] SeverityText is not properly preserved"
**Describe the bug**
SeverityText is held on the stanza entry, but during conversion, is dropped for a SeverityText derived from the SeverityNumber.

**Steps to reproduce**
Using the following config:
<details>
  <summary>Config</summary>

[code]
</details>

<details>
  <summary>Sample Log</summary>

[code]
</details>

**What did you expect to see?**
I expect SeverityText on the emitted log record

[2022-08-12 14:27] dyladan commented on #13251
Can you verify if the spans are making it to the collector by trying to use a console exporter or something along those lines?

[2022-08-12 14:32] atoulme opened #13264 "[exporter/splunk_hec] Add min and max data points to metric data points sent for histogram"
**Is your feature request related to a problem? Please describe.**
The Splunk HEC exporter maps from the OTLP data model to the Splunk metric events system.

Currently, it doesn't map min and max, which are optional, on histogram.

**Describe the solution you'd like**
Consider adding min and max data points as additional points to send to HEC.

**Describe alternatives you've considered**

**Additi

[2022-08-12 14:39] JonathanWamsley commented on #12981
Ok, I'll look to improve the script for `Running_mongodb_4.0_as_LPU`

[2022-08-12 14:55] bogdandrutu commented on #13224
Go for it, see the new PR I merge, I feel that model is easier to use than what I did in core.

[2022-08-12 16:08] #13228 closed

[2022-08-12 16:27] bogdandrutu commented on #11116
The initial problem (race condition) was fixed before @djaglowski disabled the test :)) https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/13257

Lucky the test is still flaky for a different reason, see https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7802139871?check_suite_focus=true

@djaglowski can you update the issue please ?

[2022-08-12 16:48] djaglowski commented on #11116
Issue updated.

[2022-08-12 17:12] jspaleta commented on #13251
are there good instructions somewhere on diagnosing if a receiver ingest is working.
Its easy to assume its some other step in a pipeline thats not working, when its really something wrong with receiver ingest.

[2022-08-12 17:13] #13171 closed

[2022-08-12 17:15] dyladan commented on #13251
I usually just try another simpler exporter (like console)

[2022-08-12 17:21] dmitryax commented on #12998
@Frapschen do you want to work on this one by a chance?

[2022-08-12 17:24] dmitryax commented on #12976
I'm not sure we want to do anything to support this use case.

@Aneurysm9 @dashpole WDYT? Can we close the issue?

[2022-08-12 17:26] dmitryax commented on #12938
@secustor do you have a chance to work on this issue?

[2022-08-12 17:46] dmitryax commented on #13169
We are moving towards using OpenTelemetry SDK for reporting Collector metrics. I'm not sure if we want to add more metrics reported by OpenCensus it this point. Maybe we can wait for adoption of OTel SDK before tackling this issue, but It's not clear how long it'll take.

[2022-08-12 18:42] Jaskaranbir commented on #12885
Sorry, was busy in last few days. Though I think some major languages already seem to include stacktrace parsers to an extent. For example, [Go](https://go.dev/src/internal/trace/parser.go), [Ruby](https://stackoverflow.com/questions/3829157/how-to-get-a-stack-trace-object-in-ruby), [Dotnet](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.stacktrace?view=net-6.0), JavaScript (albit

[2022-08-12 18:52] secustor commented on #12938
I habe some other tasks to do first, so not immediately.

[2022-08-12 19:29] eulisesquidel commented on #13251
Thanks for all your replies.
I don't know how to use console exporter in AWS lambda function.
I will appreciate if you have a minimal example on this topic.
About spans, we try to do a minimal trace example, a nodejs client app that call our lambda function. the nodejs client app ingest ok in our dynatrace server.

Node JS Client App

![image](https://user-images.githubusercontent.com/13561758/184

[2022-08-12 19:34] #10851 closed

[2022-08-12 19:34] dmitryax commented on #10851
Thanks for the contribution @neelayu

[2022-08-12 20:48] dmitryax commented on #12938
Sure, just wanted to see if this can be assigned to you

[2022-08-12 21:27] dashpole commented on #12976
I looked at the implementation, and it looks like it should have been sending the histogram-portion of the metric correctly already.  The error described above just drops the summary point.

[2022-08-12 21:29] dashpole commented on #12976
I opened https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/13317 to improve the error message, but I don't think there is more we can do

[2022-08-12 21:53] dmitryax commented on #11116
@bogdandrutu looks like it's still happening https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7814063100?check_suite_focus=true

[2022-08-12 21:54] djaglowski opened #13318 "[lint] Import groupings not being enforced"
**Describe the bug**
Golang import groupings are not being enforced by the linter.

**Steps to reproduce**
There are probably other scenarios, but I observed in multiple files that an import from the 3rd group may be positioned as an extra group in between the 1st and 2nd groups.

**What did you expect to see?**
An error pointing out the lint violation.

See https://github.com/open-telemetry/opent

[2022-08-13 03:42] #12976 closed

[2022-08-14 09:12] RalphSu commented on #12898
not containing all data coming to zabbix from agents
---
True, build the trapper api, means custom metrics who sent to zabbix server can be accepted. but not include zabbix agent built ones.

https://www.zabbix.com/documentation/current/en/manual/appendix/protocols/server_proxy and https://www.zabbix.com/documentation/current/en/manual/appendix/protocols/real_time_export seems be an option for pro

[2022-08-14 10:52] CoderPoet commented on #12318
Yes, I also do tail sampling in kafka consumers, so I modified kafka exporter

[2022-08-15 05:17] dgoscn commented on #12591
Hi @dmitryax I have commited this stretch on my forked repo. How it is my first time, I am studying how to submit this to PR.
Can you check if this achieve with expect to solve this problem at this issue?

**commit**  for [TestProtoBatchesToInternalTrace](https://github.com/open-telemetry/opentelemetry-collector-contrib/commit/2c329df49ea1598fd11229a2fc855a367b3ca6b9)

Regards

[2022-08-15 05:21] newly12 opened #13322 "[pkg/translator/prometheus] __ in metric name becomes _"
**Describe the bug**
metric `envoy__rule_engine_zlib_buf_error` becomes `envoy_rule_engine_zlib_buf_error` after prometheus translator

**Steps to reproduce**
in this [test](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/pkg/translator/prometheus/normalize_name_test.go#L154-L161), add following and execute
[code]

[code]

**What did you expect to see?**
`envoy__rule_en

[2022-08-15 07:13] wajika opened #13323 "Why is elasticexporter missing from version 0.58?"
https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/release/v0.58.x/exporter/elasticexporter
https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/release/v0.56.x/exporter/elasticexporter

[2022-08-15 07:18] #12776 closed

[2022-08-15 07:54] Frapschen commented on #12998
I would like help to it :)

[2022-08-15 12:49] rooque commented on #12611
@dmitryax did you have a chance to look into this issue? If you need more information please let me know

[2022-08-15 13:14] djaglowski commented on #11116
A couple more times:
https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7816211433?check_suite_focus=true
https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7819464925?check_suite_focus=true#step:7:2597

[2022-08-15 13:54] gouthamve commented on #9998
Coming to this very late, but could others also verify if `otelcol 0.57.2` fixes things for others as well? If yes, we can close this issue as we are still doing start time tracking but less buggily :)

Long-term though, I @jmacd is right that we should be doing this in Prometheus itself: https://github.com/prometheus/prometheus/issues/10164#issuecomment-1215037396

I'll update this issue once I h

[2022-08-15 14:55] schmikei opened #13327 "[receiver/postgresql] Add `bgwriter` Metrics"
**Is your feature request related to a problem? Please describe.**
Adding more metrics initially spun up from #12338

These are the `bgwriter` metrics related to the background process introduced in postgres 8.0 that occasionally flushes modified pages out of the shared buffer pool.

More information on the source of these metrics can be found [here](https://www.postgresql.org/docs/current/monitor

[2022-08-15 14:55] schmikei commented on #13327
I will be working on this!

[2022-08-15 15:16] jmacd commented on #9998
@gouthamve This sounds great! Thank you for the link.

[2022-08-15 15:26] bogdandrutu commented on #11116
All of them are for `TestRollingUpdatesWhenConsumeTraces` not for `TestRollingUpdatesWhenConsumeLogs`. Looks like a problem on the Traces.

[2022-08-15 16:28] dmitryax opened #13331 "[exporter/loadbalancing] Flaky Test - TestRollingUpdatesWhenConsumeTraces"
https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7826691480?check_suite_focus=true

[code]

[2022-08-15 16:29] dmitryax commented on #11116
Right. I created another issue for traces https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/13331

[2022-08-15 16:29] #11116 closed

[2022-08-15 16:34] dmitryax commented on #12591
Hey @dgoscn . Looks like you changed it to check length of the spans not spans themselves. We still need to validate that spans are equal, just allow them to come in different order I believe.

[2022-08-15 16:42] dmitryax commented on #12998
Thanks @Frapschen! Assigned to you

[2022-08-15 16:47] jdgeisler opened #13332 "[processor/attributes] resource attributes sent to incorrect tenant"
**Describe the bug**
multi-tenant use cases in the Loki exporter were introduced through https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12415, which allows setting and creating tenantIDs from resource attribute values. This is awesome and is the exact functionality we are looking for, but we are somehow seeing attribute values being sent to the wrong tenant, especially when

[2022-08-15 16:51] wiardvanrij commented on #13332
fyi @jpkrohling

[2022-08-15 17:37] dgoscn commented on #12591
Hi @dmitryax yes. Thanks, this is great! I am already working for this validation are equal. In soon I will be pushing the changes. Thanks.

[2022-08-15 17:38] #13221 closed

[2022-08-15 17:41] kago-dk commented on #13323
@wajika  Based on what I have read, the exporter has been deprecated due to Elastic APM Server supporting native OTLP ingestion as part of https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/13173.

The old readme
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/002c6436fa37b288c3fc8c7ade569dc14b5821f6/exporter/elasticexporter/README.md

[2022-08-15 17:45] TylerHelmuth commented on #12491
I think this makes sense.

When the PR is ready let me know and I'll take an in-depth look.

[2022-08-15 18:12] dmitryax commented on #12611
Hi @rooque I think it should be fixed already in 0.58.0 version. Please try upgrading the collector

[2022-08-15 18:13] djaglowski commented on #9680
Closed by #9893

[2022-08-15 18:13] #9680 closed

[2022-08-15 18:13] djaglowski commented on #9715
Closed by #10121

[2022-08-15 18:13] #9715 closed

[2022-08-15 18:15] djaglowski commented on #8377
Closed by #9224

[2022-08-15 18:15] #8377 closed

[2022-08-15 18:17] djaglowski commented on #10287
Closed by #13294

[2022-08-15 18:17] #10287 closed

[2022-08-15 18:20] djaglowski commented on #9136
@BinaryFissionGames, I think this can be closed, but can you double check me?

[2022-08-15 18:35] mwear commented on #12191
I can work on this. Can someone assign this to me?

[2022-08-15 18:35] mwear commented on #12187
I can work on this. Can someone assign this to me?

[2022-08-15 18:55] BinaryFissionGames commented on #9136
@djaglowski yep, this was solved by #9138, closing as completed

[2022-08-15 18:55] #9136 closed

[2022-08-15 19:10] BinaryFissionGames commented on #9136
Looking back, the first one was solved, but the second one was not. If we want this functionality (`value_type` option), I think it should be a separate issue as a feature request.

[2022-08-15 19:17] bogdandrutu commented on #13331
See also https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7843882409?check_suite_focus=true

[2022-08-15 19:24] willarmiros commented on #7781
I believe this is resolved by #12643, let's keep this open til someone can verify the fix with the latest collector version

[2022-08-15 19:31] #13327 closed

[2022-08-15 19:45] JonathanWamsley opened #13367 "[receiver/mongodbreceiver] Add partial error handling"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.
Mongodbreceiver is not testing partial error cases and the generic error response when an error occurs does not tell you what metric had the partial error failure.

**Describe the solution you'd like**
When partial errors occur, I'd like to see a logger warning and partial err

[2022-08-15 21:07] mwear commented on #11815
Is this work impacted by: https://github.com/open-telemetry/opentelemetry-specification/issues/2726. If so, should we continue with it, or wait for a resolution?

[2022-08-15 21:28] dmitryax commented on #12936
I will keep this open until we move to Option 2 or decide to reject it

[2022-08-15 21:33] rooque commented on #12611
Tested with 0.58.0 and got the same results

READ METRICS

[code]

EXPORTED METRICS (after aggregate_labels)
[code]

Maybe I'm doing something wrong?

CONFIG

[code]

[2022-08-15 21:34] #7142 closed

[2022-08-16 02:37] wajika commented on #13323
Thank you for your answer, I understand.

[2022-08-16 02:37] #13323 closed

[2022-08-16 03:02] CatherineF-dev commented on #9998
Patched https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12765 into v0.55 and it's amazing...

Cpu reduced from 100m to 7m, and memory reduced from 1GiB to 500MiB.

QQ: is it possible to cherry-pick https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12765 into older otel versions? For example, v0.28?

[2022-08-16 06:22] newly12 opened #13377 "[pkg/stanza] support parsing CRI-O logs"
**Is your feature request related to a problem? Please describe.**
container logs from k8s are in CRI-O log format, i.e. something like following
[code]

it will be nice to support parsing such logs and set timestamp, body, etc fields accordingly out of the box

**Describe the solution you'd like**
an input or a parser.

**Describe alternatives you've considered**
n/a

**Additional context**

[2022-08-16 06:43] AndersClausen commented on #9016
You missed out on 'attributes' in the processors/resource example above

[2022-08-16 06:51] pranay01 commented on #11772
hey @TylerHelmuth @anuraaga Just checking if this was picked up and being actively worked upon currently?

[2022-08-16 12:47] djaglowski commented on #13318
Closed by #13376

[2022-08-16 12:47] #13318 closed

[2022-08-16 13:01] djaglowski commented on #6243
Again here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7847031428?check_suite_focus=true#step:8:1200

[2022-08-16 13:32] #12981 closed

[2022-08-16 13:33] likedustg commented on #12961
Can you please give more details?

[2022-08-16 13:49] BT-22 commented on #7781
Hi @willarmiros Just to make sure I understand the release schedule correctly -
The latest ADOT Collector release is v0.20.0 and this fix is not there yet; we'll need v0.21.0 perhaps to test with an official release?

[2022-08-16 14:57] TylerHelmuth commented on #11772
@pranay01 it is not.  @anuraaga is no longer proposing this component.  If you would like to see a component like this please open a new issue using the new component template.

[2022-08-16 15:05] schmikei opened #13382 "[receiver/postgresql] Query Metrics"
**Is your feature request related to a problem? Please describe.**

Metrics can be sources from [`pg_stat_statements`](https://www.postgresql.org/docs/current/pgstatstatements.html#id-1.11.7.39.6)  however it comes with some design implications.

**Describe the solution you'd like**

First of all is the topology of a given query metric. My initial thoughts were something like this

resource attrib

[2022-08-16 15:17] pmcollins opened #13384 "Improve doc comments on configuration structs and fields"
**Describe the bug**
Doc comments on structs (such as [this one](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/kubeletstatsreceiver/config.go)) and their members (as well as on type definitions used by config structs, recursively) get picked up by the [configschema library](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/cmd/config

[2022-08-16 15:46] willarmiros commented on #7781
Yes that's right, sorry for being unclear. The next (unreleased as of yet) ADOT Collector release should include this fix.

[2022-08-16 16:21] pranay01 commented on #11772
Got it, thanks

[2022-08-16 20:13] evan-bradley opened #13390 "[pkg/telemetryquerylanguage] Concat factory should log when passed unprintable values"
**Describe the bug**
The Concat factory function added in #13120 does not log if non-printable values are passed to it.

**Steps to reproduce**
Pass a map or an array to the Concat factory function. Nothing is inserted into the resulting string, but the user is not notified.

**What did you expect to see?**
A log message should be printed informing the user that one of the values they passed is no

[2022-08-16 20:28] evan-bradley opened #13391 "[pkg/telemetryquerylanguage] Add list values to the TQL grammar"
**Is your feature request related to a problem? Please describe.**

The TQL grammar does not support list values. Variadic arguments are currently supported to be declared by functions and parsed by TQL, but do not actually exist within the grammar. In addition to limiting expressivity, this has a few additional impacts as currently implemented.

There is currently no way to pass multiple sequence

[2022-08-16 20:44] dmitryax commented on #13384
I'm still not sure that the format that we get as [the result](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/redisreceiver/config.md) is what we would like to keep going forward.

I'm curious if regular yaml would be an option to consider instead, e.g.:

[code]

@pmcollins @mx-psi Do you have any other ideas on how to improve readability?

cc @open-telemetry/

[2022-08-16 20:45] evan-bradley commented on #9730
The implementation of this will likely be related to #12649, since some changes will be required to inject a `zap.Logger` instance into the functions. If we want to track this separately from #12649, I can take this issue.

[2022-08-16 21:57] atoulme commented on #13252
@bogdandrutu the way the code is built doesn't allow batching, as there is an atomic ack for each kafka message. In case of error, the kafka message is tagged.

[2022-08-16 22:05] dmitryax commented on #11815
It is indeed. Let's hold off until it's resolved

[2022-08-17 03:56] dmitryax commented on #12611
@rooque I cannot reproduce the issue.

I run a simple http server that exposes the prom metrics that you provided, run collector with the initial configuration, and I get the following output under http://localhost:9464/metrics:

[code]

The second configuration that you posted doesn't make a lot of sense to me. Not sure why you are sending the data through two pipelines. I suspect you checked `:9

[2022-08-17 12:19] rooque commented on #12611
@dmitryax

The second config I posted is transforming OTLP metrics into Prometheus first then reading this raw Prometheus to transform it.

Like this:

<img width="1009" alt="image" src="https://user-images.githubusercontent.com/8527149/185115518-e0297fe2-425e-4552-8f3c-994bbef3d62b.png">

I did this way because I did not manage to transform OTLP metrics direct. But I think this should not be a pr

[2022-08-17 13:13] benewen-brav commented on #11435
I'm also experiencing this issue on `otel/opentelemetry-collector-contrib:0.58.0`

Can also confirm that the fix above works for me.

@Bhogayata-Keval I noticed your SO post describing the issue also: https://stackoverflow.com/questions/72709477/can-i-use-fluent-logger-with-otel-fluentforwardreceiver

Glad to see you found it possible to directly use the fluentforward receiver as the log driver fo

[2022-08-17 13:43] nr-jbiggley opened #13394 "[pkg/stanza] filelog operator file_output blocks pipeline build with "unsupported type""
**Describe the bug**
Using the `filelog` receiver, the `file_output` operator blocks the creation of the pipeline(s) referencing that receiver. Removing the `file_output` operator allows for the pipelines to be built without error even when using another operator (e.g. `regex_parser`)

**Steps to reproduce**
[code]

**What did you expect to see?**
A log file generated at the receiver to troublesho

[2022-08-17 13:49] nr-jbiggley commented on #13394
Updated formatting for better readability.

[2022-08-17 13:52] hickeyma opened #13395 "New component: Instana Exporter"
## The purpose and use-cases of the new component

The Instana exporter converts OpenTelemetry trace data to Instana content and then sends it to the [Instana Backend](https://www.ibm.com/docs/en/instana-observability/current?topic=references-getting-started-instana).

## Example configuration for the component

The configuration parameters are:

- endpoint: The Instana backend endpoint that the E

[2022-08-17 14:53] djaglowski commented on #13382
I'm not sure whether it makes sense to add these metrics. They could be useful in some contexts, but there are some considerable challenges with the data modeling & configurability.

The number of queries would have to be limited, and as you've noted, this requires an ordering strategy. It also means that you're dealing with sparse data, in the sense that over time some queries will pop in and out

[2022-08-17 15:59] schmikei commented on #13382
That all makes sense to me, I'll do some rethinking about how we want to correctly process this information. Going to do some thinking on it, do you want me to close this issue in the meanwhile or would you prefer to keep it open?

[2022-08-17 16:17] bogdandrutu commented on #13395
We will do round robin for this since it is a vendor component. We will only do after Instana folks are agreeing to have this since in the past they did not want this.

[2022-08-17 16:32] dmitryax commented on #12611
`metricstransform` processor doesn't keep any state, so it aggregates data from each particular scrape only. Do you see the aggregated data from the SCRAPE 2 under `:9465`?

[2022-08-17 16:36] dmitryax commented on #11435
@Bhogayata-Keval @benewen-brav since we have the solution suggested already, does any of you want to submit a PR?

[2022-08-17 16:49] #13394 closed

[2022-08-17 17:32] schmikei opened #13399 "[receiver/postgresql] Add More Metrics (Replication and Max Connection metrics)"
**Is your feature request related to a problem? Please describe.**
Proposing to add metrics for postgres replication, mostly sourced from `pg_stat_replication`

Metrics attempting to add:
- postgresql.replication.data_delay
- postgresql.wal.age
- postgresql.wal.lag
- postgresql.connection.max

**Describe the solution you'd like**
Looking to utilize the [pg_stat_replication](https://www.postgresql.

[2022-08-17 17:36] rooque commented on #12611
@dmitryax I made a video, I think it's better to show what's happening and also show every scrape.

[metrics_exemple.webm](https://user-images.githubusercontent.com/8527149/185205367-9e2fa593-4483-45fd-8748-c29f5d82220f.webm)

[2022-08-17 18:54] evan-bradley commented on #13251
To use the [logging exporter](https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/loggingexporter), which logs to the console, update your Collector configuration to include it in the list of exporters so that it looks something like this:

[code]

This will cause the Collector to print logs for each trace received; if no logs appear, the Collector is not receiving them.

[2022-08-17 19:05] JonathanWamsley commented on #13155
resolved with #13329

[2022-08-17 19:05] #13155 closed

[2022-08-17 19:22] anarwal commented on #2835
@codeboten what is the process to become a sponsor?

[2022-08-17 19:40] eulisesquidel commented on #13251
Hi Evan,
Thanks for your answer.
Let's try it with your suggestions. I will comment soon.

[2022-08-17 21:21] evan-bradley commented on #13390
I can take this issue.

[2022-08-17 21:23] evan-bradley commented on #13391
If the approach in the issue description sounds good, I can work on an implementation for this.

[2022-08-17 21:41] dmitryax commented on #12611
I found the root cause. `metricstransform` processor doesn't aggregate metrics with different start time. Prometheus receiver sets the start time to the timestamp when the metric seen first. Start time is only available in OTLP format, that why it's not seen your tests.

Let me submit a PR to not aggregate by start time

[2022-08-18 01:52] qiansheng91 commented on #3429
@codeboten  Hi, Merging PR #13393 will fix this issue

[2022-08-18 03:40] dmitryax commented on #12611
@rooque so the problem is caused by scraping the metrics from prometheus exporter. If you really need both prom endpoint, you can use the following pipeline instead:

[code]

Please let us know if this config produces expected aggregated metrics

[2022-08-18 03:41] dmitryax commented on #12611
Can you elaborate what was the problem with that?

[2022-08-18 11:06] tamir-michaeli opened #13409 "New component: SNMP Receiver"
## The purpose and use-cases of the new component

The SNMP Receiver will use polling to gather metrics from SNMP agents. Similar to Telegraf's [SNMP input plugin](https://github.com/influxdata/telegraf/tree/master/plugins/inputs/snmp)

## Example configuration for the component

[code]

## Telemetry data types supported

Metrics.

## Sponsor (Optional)

None.

[2022-08-18 13:33] JonathanWamsley commented on #13367
Completed with #13369

[2022-08-18 13:33] #13367 closed

[2022-08-18 15:22] hughluo commented on #13395
Hi folks, Yinchi Luo here from Instana Product Management Team, we would like to add the exporter to the community.

[2022-08-18 15:31] wiardvanrij commented on #13332
I think it has to do with: https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/exporter/lokiexporter/internal/tenant/attribute.go#L29

It infers the tenant from the 'log object' - while in reality it should infer it per log stream as batched here: https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/exporter/lokiexporter/exporter.go#L240

Basically ev

[2022-08-18 15:35] frzifus commented on #13005
Another thing, currently `extention/jaegerremotesampling` is not a [registered component](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/v0.56.0/internal/components/components.go#L176). On what does the registration depend?

[2022-08-18 15:44] keep94 opened #13417 "exporter/tanzuobservabilityexporter should use latest wavefront-sdk-go API"
**Describe the bug**
exporter/tanzuobservabilityexporter should depend on the v0.10.2 of the wavefront-sdk-go API.

[2022-08-18 15:59] raphaelauv commented on #12759
thanks @codeboten

I do not see how I can sum the metrics with the groupbyattrsprocessor

is it really possible with this processor ?

[2022-08-18 16:33] djaglowski commented on #13409
I believe @StefanKurek is working on a similar proposal.

One thing I would like to see with such a component is that it is possible to fully define the data model of each metric, similar to how [windowsperfcountersreceiver](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/windowsperfcountersreceiver#configuration) works.

[2022-08-18 16:34] #13399 closed

[2022-08-18 16:46] goto1134 opened #13420 "Prometheus metric name normalization disabled: inconsistent metrics naming"
**Describe the bug**
Metric name normalization is disabled by default (https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/pkg/translator/prometheus#full-normalization)

**Steps to reproduce**
I have a spring app with grpc that uses micrometer grpc meter binder.

When I use  opentelemetry javaagent v0.16.0 with prometheus exporter, I get a counter metric named `grpc_server_

[2022-08-18 17:33] stephenhong opened #13422 "Resource detection for EC2 partially works if collector is running as a systemd service on an EC2"
**Describe the bug**
Hello team, I'm running the Otel collector as a systemd service on an ec2 instance. I have resource detection processor enabled on the collector with `detectors: ["ec2"]` and added configuration to gather tags for the EC2 instance. However it does not detect the EC2 information.

- If I run the collector plainly on the instance host and not as a systemd service
or
- If I run t

[2022-08-18 18:36] KevinSnyderCodes opened #13424 "SIGSEGV when using Prometheus receiver without scrape_configs"
**Describe the bug**
SIGSEGV when using Prometheus receiver without `scrape_configs`.

**Steps to reproduce**
Enable the Prometheus receiver with minimal configuration (see below).

**What did you expect to see?**
"Error: field `scrape_configs` is required" or some other more graceful handling.

**What did you see instead?**
OpenTelemetry collector crashes with the following output:

[code]

**Wha

[2022-08-18 19:19] #10274 closed

[2022-08-18 19:32] rooque commented on #12611
Nice! It will be in the next release?

As I need to aggregate values from multiple instances and this processor is stateless, if I use raw OTLP direct, exported metrics will be overwritten every time an instance reports its metrics. So I made this method of using 2 pipelines, 1 to "save" raw data from multiple instances and another to read these "saved" metrics and aggregate them.

I used Promethe

[2022-08-18 21:00] TylerHelmuth commented on #9994
I believe this will be fixed by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12991

[2022-08-18 21:13] dmitryax commented on #12611
This is a pretty interesting and valid use case ^. We probably need to think about an OTel collector native solution instead of using the hack with prometheus exporter.

cc @open-telemetry/collector-contrib-approvers

[2022-08-18 21:17] #12611 closed

[2022-08-18 21:23] dmitryax commented on #12611
Yes, it's merged now and will be available in the next release.

May I please ask you to submit another issue for the problem that you have with aggregation of OTLP metrics? I believe more people will be running into this issue during OTel metrics adoption.

[2022-08-18 23:06] Dylan-M commented on #10275
I would point out that it isn't always the first line that is the header. For example, from IIS 10, it is the 4th line, and it has a "#Fields:" prefix:
[code]

[2022-08-18 23:11] Dylan-M opened #13427 "[pkg/stanza] csv_parser: Add additional information to the error log message for mismatching field numbers"
When debugging code, the error message simply states: `wrong number of fields`.

The desired additional information consists of the following:
- Expected number fields
- Actual number of fields encountered
- Line number in the file being read

The alternative we used today was to manually count the number of fields by piping the log lines through `wc` one at a time, or on Windows using the word co

[2022-08-18 23:29] dwelch-spike opened #13429 "[receiver/aerospikereceiver] Improve integration test metric coverage."
**Is your feature request related to a problem? Please describe.**
The Aerospike receiver's integration tests currently leave many metrics empty making the tests less effective.

**Describe the solution you'd like**
The integration tests should be improved so that predictable load is put on the Aerospike server and metric reporting can be verified. This will probably involve making various request

[2022-08-19 09:29] #12178 closed

[2022-08-19 09:29] sunnycalsoft commented on #12178
Issue resolved

[2022-08-19 14:41] #13427 closed

[2022-08-19 17:39] lpegoraro opened #13435 "AttributeProcessor Action Builder"
**Is your feature request related to a problem? Please describe.**
I would like to add actions to the AttributeProcessor with the Config package, because I would like to create the pipelines within runtime.

**Describe the solution you'd like**
I have the code here, I did it before to validate a POC that I am working in integrating the opentelemetry-collector with a project that I work with.
This

[2022-08-19 17:48] lpegoraro commented on #13435
I have a branch ready to open a PR too.

[2022-08-19 18:18] #12184 closed

[2022-08-19 18:19] #12189 closed

[2022-08-20 19:42] #7944 closed

[2022-08-20 22:09] jaronoff97 opened #13443 "failed to translate metric from otel-python histogram using prometheusexporter"
Seeing this error message:
[code]

And it looks like this is due to a histogram metric being reported by the `PeriodicExportingMetricReader` exporting my histogram metric which hasn't had any data reported in the past period. Below is the output from a file exporter for some more debugging information. I believe this will be fixed by #9006 but let me know if that is incorrect.

<details>
<summary>

[2022-08-20 22:17] jaronoff97 commented on #13443
code example
[code]

if this is an issue with the python SDK please let me know :)

[2022-08-21 06:31] tonychoe commented on #12326
@jrcamp @Aneurysm9 @dashpole can you be a sponsor?

[2022-08-21 12:07] tamir-michaeli commented on #13409
@djaglowski something like the following?

[code]

And maybe @StefanKurek will be interested in being a sponsor?

[2022-08-21 12:52] holograph commented on #9998
I jumped straight from 0.55 to 0.58, been running for the last 5 hours or so. So far memory utilization went down by about 30% and I'm not observing an upward trend, however the slow creep upwards in memory utilization is only observable after a much longer period of time (24 hours or so) so I'm still tracking. Fingers crossed!

[2022-08-21 23:09] holograph commented on #9998
Well over 12 hours in, I'm ready to call this a win:
<img width="1292" alt="image" src="https://user-images.githubusercontent.com/1114848/185814578-1b196b36-66b6-4b3b-95ac-512b2e6f1d63.png">

The yellow graph represents the memory utilization of the previous 0.55 instance, stabilizing around the 2GB mark and then slowly creeping to the 2.4GB range over the course of a few days. The green line is 0

[2022-08-22 04:26] manjunath-batakurki opened #13447 "vCenter Receiver : tls settings for vCenter receiver doesn't work as expected."
**Describe the bug**

vCenter receiver throws an error even after the tls settings are set as follows(Please note that this is only for verification, we would have tls settings enabled in Prod Environments)
**tls:
      insecure: true
      insecure_skip_verify: true**

Strange thing is that, this error gets reported after some amount of time and the the only way so far to recover is to kill the d

[2022-08-22 07:36] mcdoker18 commented on #9013
@rogercoll @codeboten

I'd like to complete this task, but I have several questions:
* Should I add [env_vars_to_metric_labels](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/0d628ed9febd778b86de73ce79265b2308337e78/receiver/dockerstatsreceiver/config.go) to podman as well?
* What do you think about moving [podman client](https://github.com/open-telemetry/opentelemetry-coll

[2022-08-22 12:44] jpkrohling commented on #13395
It's my turn to be the sponsor for a vendor-specific component. Ping me whenever the PR is open, and please include me in the codeowners section.

[2022-08-22 13:20] AndriiChuzhynov commented on #13000
Here is a PR with the initial version of the exporter
https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/13448

[2022-08-22 13:28] swiatekm-sumo opened #13449 "[extension/filestorage] Compaction fails if the target directory is on a different filesystem"
**Describe the bug**
File storage [compaction](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/extension/storage/filestorage#compaction) uses a mid-step directory for storing the compacted DB before moving it back to the storage path. This move is implemented as an `os.Rename` (https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/0d628ed9febd778b86de73

[2022-08-22 13:29] swiatekm-sumo commented on #13449
FYI @djaglowski I'm planning to submit a PR to fix this, opened the issue so I don't forget. I think the fix is simply to fall back to a Truncate + Copy if the Rename fails, but I'm open to alternatives.

[2022-08-22 13:50] hickeyma commented on #13395
Great, thanks  @jpkrohling

[2022-08-22 14:21] jpkrohling commented on #13331
I see that there was some movement around this last week. Was this addressed as a whole, or is it still missing something?

[2022-08-22 14:28] djaglowski commented on #13449
I agree the current behavior is incorrect.

I wonder if a more robust solution would be to use something like a blue/green pattern, where the client alternates between two file names. This would mean we do not need to depend on any renaming, but also that we are not leaking files. Very roughly in pseudocode:

[code]

[2022-08-22 14:29] #10278 closed

[2022-08-22 14:29] #13263 closed

[2022-08-22 14:30] jpkrohling commented on #13332
This is mentioned in the readme, https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/lokiexporter#tenant-information

This is because breaking it down on a per-stream level would cause highly inefficient usage of the network. It's preferable to group them by an attribute first, while still letting potentially multiple streams be released at once.

cc @kovrus

[2022-08-22 14:32] jpkrohling commented on #13005
This step is done at the same logical step as adding to a distribution. In the past, this would be required to have the component as part of the binary, while today I think it's mostly for convenience during tests.

[2022-08-22 14:40] wiardvanrij commented on #13332
@jpkrohling  you mean like:
[code]

as described in the first comment? ;)

Please do let us know if we do something wrong regardless. Thanks for taking a look 👍

[2022-08-22 14:45] dashpole opened #13451 "Reduce memory usage of Prometheus Receiver caches"
Forked from https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12215#issuecomment-1205439627.  We currently calculate a string timeseries signature: https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/prometheusreceiver/internal/otlp_metrics_adjuster.go#L103, which is quite long.  It would be more memory efficient to use the [storage.SeriesRef](

[2022-08-22 14:47] dashpole commented on #9998
Given the successful memory reductions, I think we can close this issue.  I've opened https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/13451 to track lowering the memory used by caches in the prometheus receiver.

[2022-08-22 14:47] #9998 closed

[2022-08-22 14:51] jpkrohling commented on #13000
Please review the following doc in case you haven't yet: https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/CONTRIBUTING.md#adding-new-components

[2022-08-22 14:53] jpkrohling commented on #13332
Sorry, I missed that part. I'll take a look.

[2022-08-22 14:54] CatherineF-dev commented on #13451
QQ: do we have some metrics to know the memory usage of receiver caches?

[2022-08-22 14:55] jpkrohling commented on #13332
Before I do that though: you seem to be grouping by record attributes while we use resource attributes. This would explain the mismatch.

[2022-08-22 15:00] dashpole commented on #13451
I think https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/9998#issuecomment-1178752819 is the best we have to go off of right now.  But we already reduced some of that in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12765.

[2022-08-22 15:02] #13005 closed

[2022-08-22 15:32] swiatekm-sumo commented on #13449
That'd be easier to get right, but it has the downside of requiring both files to be on the same filesystem. One situation where compaction is useful is if we run out of space on the device, and then compacting to a different device and moving the file back allows us to actually reclaim the space. With this proposal, we'd simply be unable to compact at all.

On the other hand, it's tricky to get t

[2022-08-22 15:37] djaglowski commented on #13449
Good points. I think you are more tuned into the compaction use case, so I'm happy to review the implementation you think is most appropriate here.

[2022-08-22 15:53] dmitryax commented on #13331
The tests are still failing pretty often. They are skipped for now

[2022-08-22 16:13] jpkrohling commented on #13331
I'll take a look

[2022-08-22 17:11] #10364 closed

[2022-08-22 17:29] djaglowski commented on #9113
This failed again here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7957402089?check_suite_focus=true#step:8:940

[2022-08-22 17:34] wiardvanrij commented on #13332
As for reproducing, so please bear with me as I lack expertise knowledge and merely did some basic testing. I've made a test-case here: https://github.com/open-telemetry/opentelemetry-collector-contrib/compare/main...wiardvanrij:opentelemetry-collector-contrib:main

From my understanding, we should end up with 10 streams, not 1.

To clarify a bit more: https://github.com/open-telemetry/opentelemet

[2022-08-22 17:37] jpkrohling opened #13455 "[exporter/loadbalancing] Flaky test - TestPeriodicallyResolveFailure"
Seen here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7843882409?check_suite_focus=true

This issue was forked from https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/13331

[2022-08-22 17:54] djaglowski commented on #13447
cc @schmikei

[2022-08-22 18:27] schmikei commented on #13447
Thanks for the bug report @manjunath-batakurki!

I might not be able to get to this until next week, but I will be looking into this!

In the meanwhile I'm going to see if I can replicate. I'm guessing it has something to do with the session cookies that vCenter uses for its SOAP API and it is using the x509 as a fallback auth mechanism which may not be setup and leads to a poor error message. My

[2022-08-22 18:56] #13455 closed

[2022-08-22 19:13] manjunath-batakurki commented on #13447
Thank you @schmikei  for the response. I do not know the exact time as such as the issue is seen inconsistency. But in general, issue is seen after at least 30 minz

Please let me know if you need more details

[2022-08-22 19:31] jpkrohling commented on #13331
@frzifus, are you interested in picking this up?

[2022-08-22 19:34] jpkrohling commented on #9113
cc @frzifus, I think I pinged you on the wrong issue. I wanted to ping you on this one here. Sorry about the noise.

[2022-08-22 19:47] jpkrohling commented on #13332
That's true, but only because the Loki Exporter received different tenants as part of the same batch. The groupbyattr should have split this into ten batches, one per tenant, resulting in 10 calls to the Loki exporter, each building one HTTP request with one stream to Loki.

Sorry, I should have been clearer here. I'm calling a "batch" an instance of `plog.Logs` as received by the Loki Exporter fr

[2022-08-22 19:48] frzifus commented on #9113
Sure, i can take over :)

[2022-08-22 20:16] ConnorSMaynes commented on #11895
Hi, I am facing the same error. I am using a **filelog** receiver. I am struggling to find some config which will work.

Does anyone have any suggestions?

Config:
[code]

[2022-08-22 20:22] JonathanWamsley commented on #12672
resolved with #12673

[2022-08-22 20:22] #12672 closed

[2022-08-22 20:58] jpkrohling commented on #13332
I just pushed an image with extra debug logging here:
https://hub.docker.com/repository/docker/jpkroehling/loki-exporter-issue-13332

This is built using the OpenTelemetry Collector Builder, with the following manifests:
https://github.com/jpkrohling/loki-exporter-issue-13332

And this is the branch being used for the Loki Exporter:
https://github.com/jpkrohling/opentelemetry-collector-contrib/tre

[2022-08-22 21:05] jdgeisler commented on #13332
Thank you, sounds great!

We will test this out and come back with the results 😄

[2022-08-23 06:49] rogercoll commented on #9013
Definitely, anything that approximates the features of both receivers is welcomed. The env_vars_to_metrics_labels could be a good starting point.

For now, I would not move the podman client to the internal package as it is not used in any other component. What do you think?

Regarding the image matcher I was thinking to move it into a new package common for container components: `internal/common/

[2022-08-23 12:04] AndriiChuzhynov commented on #13000
Hi @jpkrohling, thanks for the answer!
Yes, I've reviewed the doc, and tried to follow it, if I missed something, pleased let me know.
But I've found that Contributing guide in the main repo [link](https://github.com/open-telemetry/opentelemetry-collector/blob/main/CONTRIBUTING.md#when-adding-a-new-component), required slit PR to smaller pieces.
I think it's a good idea, do you want me to do it?

[2022-08-23 14:43] jpkrohling commented on #11895
Do you have `container_name` and `container_id` as part of your log entry? If you do not have any attributes, you can try to use the resource processor to add a property, and use it in the loki exporter.

[2022-08-23 14:45] jpkrohling commented on #13000
Did you find a spondor for this already?

[2022-08-23 15:02] AndriiChuzhynov commented on #13000
No

[2022-08-23 16:17] TylerHelmuth commented on #13158
Love this use of the TQL

[2022-08-23 16:19] yeya24 opened #13530 "Logs derived metrics processor"
**Is your feature request related to a problem? Please describe.**

I'd like to have the ability to derive metrics from incoming logs so that the calculated metrics can be exported using metrics exporters.

This ability is very similar to `spanmetricsprocessor` and Promtail `metrics` stage https://grafana.com/docs/loki/latest/clients/promtail/stages/metrics/.

**Describe the solution you'd like**

[2022-08-23 16:22] jpkrohling commented on #13332
Just to record some results: we confirmed that the Loki Exporter got batches with multiple tenants, indicating that the problem might then lie in components coming before it.

[2022-08-23 16:25] jpkrohling commented on #6510
@frzifus, is there anything else pending on this?

[2022-08-23 16:31] jpkrohling commented on #10368
@frzifus, would you like to pick this one up?

[2022-08-23 16:32] jpkrohling commented on #9381
@kovrus, would you like to work on this one? I believe this component should be "beta", given that there are folks using it in production.

[2022-08-23 16:33] StefanKurek commented on #13409
@tamir-michaeli Hello. I have been working on a possible configuration for a SNMP Receiver. I'll post it here and you can let me know what you think. It's a little different (OTEL First config) than what you proposed (SNMP First config). Let me know what your thoughts are.

### Connection Configuration
<meta charset="utf-8"><b style="font-weight:normal;" id="docs-internal-guid-5f2b49ee-7fff-6958-2

[2022-08-23 16:33] jpkrohling commented on #9519
Looks like this is done: https://github.com/open-telemetry/opentelemetry-collector/tree/main/extension/zpagesextension

[2022-08-23 16:33] #9519 closed

[2022-08-23 16:35] jpkrohling commented on #6925
I'm unassigning this from me, as I do not have the intention or resources to work on this.

[2022-08-23 16:43] jpkrohling opened #13531 "[exporter/loki] Flatten the entry's JSON"
Right now, the Loki entry in the exporter looks like this:

[code]

If the body itself is a json object, we might end up with a json embedded into a json. @cyriltovena has suggested inlining the body if it's a json, so that we have only one level, making it easier to run queries against this data.

[2022-08-23 16:44] TylerHelmuth commented on #13158
Quick mock up of how TQL could expose only conditions

[code]

[2022-08-23 17:22] jmacd commented on #13443
Note the error message `{"kind": "exporter", "data_type": "metrics", "name": "prometheus", "data_type": "\u0000", "metric_name": "graphql.api.request.time"}` contains type entries for `"data_type"`, the second one being unrecognized. Seems like `prometheusexporter` is falling through into "failed to translate metric" where it might better print "unrecognized data type".

[2022-08-23 17:56] dmitryax commented on #12936
@fatsheep9146 will you work on trying the Option 2?

[2022-08-23 18:03] lpegoraro commented on #13435
@jpkrohling I opened this issue, I have the PR ready too

[2022-08-23 18:50] Blackbaud-LeoWanderer commented on #7151
I just looked at the linked PR and got the same issue with Istio/Envoy span events. I found out other span events were created by developers and I'd like to keep those, so having the ability to filter span events by name would be great. The ones that are a problem for me at the moment are `cr` and `ss` since they account for a big chunk of events and I'm getting charged for those 😢

Has there been

[2022-08-23 19:10] jaronoff97 commented on #13443
oh interesting! How can a map contain two entries for the same key? Either way, the issue seems to be that no data is associated with the second histogram point. Definitely some better error messages would be helpful though.

[2022-08-23 19:33] #12476 closed

[2022-08-23 19:34] djaglowski commented on #13409
@StefanKurek, the config makes sense to me.

@tamir-michaeli, any feedback on this proposal?

[2022-08-23 19:41] gillg commented on #11895
You create dummy resources attributes but you convert attributes as labels instead of resource attributes.
You must use exporters.loki.labels.resources instead of exporters.loki.labeld.attributes.

That should work.

[2022-08-23 21:21] jmacd commented on #13443
Maps are (for performance reasons) represented as lists in the OTLP protocol; and the duplicate is meant to be resolved by taking the last value, which is how protobuf defines the situation for maps as well. There's something incorrect about the data type here, but I wouldn't want to guess how come.

[2022-08-23 22:34] TylerHelmuth opened #13545 "[pkg/ottl] expose a parser explicitly for parsing conditions"
**Is your feature request related to a problem? Please describe.**
The OTTL package provides a function for parsing Queries, but that is all. There is no solution for parsing only a OTTL condition. This limits other components to requiring functions where they may only need a condition.

**Describe the solution you'd like**
Refactor the tql package to provide NewParsers to parse Queries and Condit

[2022-08-23 22:37] TylerHelmuth commented on #13545
/cc @kentquirk @bogdandrutu

[2022-08-23 22:54] crobert-1 opened #13546 "[SQL receivers] Remove duplicate SQL functionality"
**Is your feature request related to a problem? Please describe.**
We are starting to run into having logic duplicated in a few places with SQL receivers. The receivers in question are:
[code]
All three of these receivers are used to create database connections, and then use queries to return data in the form of metrics.

**Describe the solution you'd like**
The [sqlqueryreceiver](https://github.c

[2022-08-24 00:00] ConnorSMaynes commented on #11895
I updated the exporters section, but got the same error.

[code]

[2022-08-24 00:27] crobert-1 opened #13547 "[SQL receivers] Establish common practice for default metric queries"
**Context**
This is related to issue #13546. There are already a few receivers that are used to query SQL databases that convert the query results into metrics. This issue to try to define best practices around user-experience for default queries.

For any SQL database system that the collector get metrics from, it can be expected that there is a default list metrics that we'd want from the SQL db

[2022-08-24 00:42] fatsheep9146 commented on #12936
No problem, I will start working on this.

[2022-08-24 07:03] Duncan-dsf opened #13548 "prometheusreceiver transaction enable label cache"
**Is your feature request related to a problem? Please describe.**
The [prometheusreceiver transaction](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/prometheusreceiver/internal/otlp_transaction.go#L76) always returns 0 to disable label caching.
This causes the same series to be parsed multiple times by promParser, making the memory occupied by `promParser.Me

[2022-08-24 08:12] JaredTan95 opened #13550 "[receiver/skywalking] remove receiver warning message."
After nearly 6 months of testing, and the involvement of other contributors, `skywalking receiver` are finally ready for production

[2022-08-24 08:42] tamir-michaeli commented on #13409
@djaglowski @StefanKurek Makes more sense than my proposal. Do we have an ETA for it?

[2022-08-24 12:21] marouanelkhebir opened #13551 "prometheus exporter : has invalid keys: enable_open_metrics"
I m trying to use enable_open_metrics for prometheus
`
exporters:
  prometheus:
    endpoint: "1.2.3.4:1234"
    send_timestamps: true
    metric_expiration: 180m
    enable_open_metrics: true
    resource_to_telemetry_conversion:
      enabled: true`

 and un got an error.

`Error: failed to get config: cannot unmarshal the configuration: error reading exporters configuration for "prometheus": 1

[2022-08-24 12:57] djaglowski commented on #13409
I'll sponsor this.

Since it's a fairly complex component, would you both be interested in being code owners?

[2022-08-24 13:02] StefanKurek commented on #13409
@djaglowski sounds good to me.

@tamir-michaeli I do not currently have an ETA. I may not be able to get to this for a few weeks actually, so if you would like to start on it sooner, I can at least be on the lookout for PRs. Let me know what you think.

[2022-08-24 14:00] stevehipwell opened #13552 "I'd like to be able to export metrics to Azure Monitor or Azure Application Insights"
**Is your feature request related to a problem? Please describe.**
I need to be able to export metrics to Azure Monitor or Azure Application Insights so I don't need to install the OMS agent in my AKS cluster.

**Describe the solution you'd like**
I'd like the azuremonitorexporter to support metrics.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2022-08-24 15:37] ajsaclayan opened #13573 "[processor/filter] panic: interface conversion: interface {} is string, not bool"
**Describe the bug**
Using the filter processor, we have a collector configured to route metrics to a pipeline that have a specific label. We have noticed this error happens intermittently:
[code]

**Steps to reproduce**
Simplified collector config with:
1. otlp receiver
2. filter processor
3. logging exporter
[code]
**What did you expect to see?**

**What did you see instead?**
For some telemetry

[2022-08-24 16:01] neyp opened #13574 "[exporter/prometheusremotewrite] Support dynamic AMP workspaces in endpoint"
**Is your feature request related to a problem? Please describe.**
The exporter doesn't provide a way to assign a different Amazon Managed Service for Prometheus workspace according to incoming metrics.

**Describe the solution you'd like**
Route to different workspaces.

[2022-08-24 16:40] bogdandrutu opened #13575 "Upgrade to github.com/prometheus/prometheus @ 0.38.0"
The 0.37 -> 0.38 has some breaking changes.

[2022-08-24 17:10] TylerHelmuth commented on #13545
#13544 introduces a parser refactor that will be necessary for the refactor this issue requires.

[2022-08-24 18:37] dmitryax opened #13578 "[processor/transform] Add `drop` action support"
`drop` action is pretty important functionality to replace filter processors. It's already being mentioned in the docs but not implemented yet.

Subtasks per data type:

- [ ] #13579
- [ ] #13580
- [ ] #13581

[2022-08-24 18:38] dmitryax opened #13579 "[pkg/telemetryquerylanguage] Add `drop` action support for metrics"

[2022-08-24 18:38] dmitryax opened #13580 "[pkg/telemetryquerylanguage] Add `drop` action support for traces"

[2022-08-24 18:38] dmitryax opened #13581 "[pkg/telemetryquerylanguage] Add `drop` action support for logs"

[2022-08-24 18:49] bogdandrutu opened #13583 "exporter/tanzuobservabilityexporter remove deprecated calls, see nolint:staticcheck"

[2022-08-24 18:49] TylerHelmuth commented on #13578
@dmitryax for metrics, should we drop the data point, the entire metric?

[2022-08-24 18:50] bogdandrutu commented on #13583
/cc @oppegard @thepeterstone @keep94

[2022-08-24 18:53] TylerHelmuth commented on #13579
Metrics context already has access to the datapoint's metric and scope metrics slice so it is ready to be used with a general drop function

[2022-08-24 18:55] TylerHelmuth commented on #13580
To support dropping spans the Traces context will need updated to have access to the current span slice.  Implementation will look similar to the metric's context.

[2022-08-24 18:55] TylerHelmuth commented on #13581
To support dropping logs the Logs context will need updated to have access to the current logs slice.  Implementation will look similar to the metric's context.

[2022-08-24 19:00] dmitryax commented on #13578
I believe it would be based on what we have in the `where` clause, right? So if we filter by attribute, it's data points. But if we filter by metric name or metric type, it's entire metric. Also I believe we should drop the whole metric if all datapoint were dropped as the result of applying the action. Same rule ideally should be propagated further: e.g. if all metrics are dropped, ScopeMetrics o

[2022-08-24 19:01] dmitryax commented on #13579
@TylerHelmuth should this be closed given that `drop` action is not supported yet?

[2022-08-24 19:05] TylerHelmuth commented on #13579
I slightly modified these subtasks to reflect the context's abilities to handle a function like `drop`.  The new drop function will be generic to any context and can get registered to the transform processor's common function registry once each context has access to the telemetry slice.

[2022-08-24 19:13] TylerHelmuth commented on #13578
I like the concept, but we don't currently have a way to relate the query's condition with the telemetry's context.  Currently the ParsedQueries are used like `If condiiontion() then Function()`, with no intelligence relating the 2.  We could add a parameter to the function that indicates which level to start the drop at.  I think doing a "rolling up drop" is also possible.

Some of these requirem

[2022-08-24 19:23] TylerHelmuth commented on #13579
Based on a potential need to access the scoped metrics slice I am going to reopen this for now

[2022-08-24 19:25] dmitryax commented on #13578
If we cannot do that, we potentially can ask user to be more specific using `drop` action, e.g. `drop(metric)`, `drop(metric.data_point)`

[2022-08-24 19:31] TylerHelmuth commented on #13578
Yes I think we'll have to either pass in a parameter or have functions like `drop_metric`, `drop_span`, `drop_datapoint`

[2022-08-24 19:37] jpkrohling commented on #11895
I'm closing this, as it's clear by now that all of the reports have the same root cause and a workaround is available. As part of #13572 , this workaround should not be required anymore.

[2022-08-24 19:37] #11895 closed

[2022-08-24 20:44] dmitryax commented on #13547
For the context: We are planning to add another receiver for Oracle BD that where we need to fetch metrics from the database the same way as done in postgresqlreceiver and mysqlreceiver. But given that now we have a generic `sqlquery` receiver, we are considering reusing it in one of the following ways:

1. Reuse the existing `sqlquery` receiver and have a set of statically predefined queries to f

[2022-08-24 20:52] mwear commented on #4973
I would like to know if a metric is scraped by the prometheus receiver, and from what scrape target. Most receivers set the instrumentation scope name to the receiver name (e.g. `otelcol/postgresqlreceiver`). It doesn't appear that the prometheus receiver sets the instrumentation scope at all. I have noticed that it creates a resource to represent the scrape target, which is enough to answer the s

[2022-08-24 20:57] TylerHelmuth commented on #13578
@dmitryax experimenting with this today I think it'll be best to have a `drop` function for the "Item" level of each context (which for us is datapoint, span, and log) and the a separate `drop_metric` function to specifically drop metrics.  With different functions we can make assumptions that the thing being dropped is in the current context.  I also think they will have to be specific to the tra

[2022-08-24 20:57] dashpole commented on #4973
I would recommend opening a separate issue.  I think that would be a good idea.  It is also related to https://github.com/open-telemetry/opentelemetry-specification/pull/2703

[2022-08-24 21:04] dmitryax commented on #13578
Makes sense. Should we call it explicitly for all the items not jus `drop` for dp span and log record?

[2022-08-24 21:20] tamir-michaeli commented on #13409
@StefanKurek Sounds good. I'll start working on it.

[2022-08-24 21:20] TylerHelmuth commented on #13578
Yes I think we should

[2022-08-24 21:26] TylerHelmuth commented on #13578
@dmitryax testing showed that removing items from the list while iterating through the list does have side-effects.  For example, if we drop the first datapoint in a DataPointSlice, the items all "shift", but the index doesn't, resulting in the item that was directly next to the dropped item being missed.

I don't have a clever solution for this yet.  We might have to leak responsibility into the

[2022-08-24 21:45] dmitryax commented on #13578
What do you need index for? can you point me to the code part please?

[2022-08-24 21:55] TylerHelmuth commented on #13578
@dmitryax here is the code I'm referring to for metrics (although traces and logs work similarly)

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/88efd62d1e486484c6aac93c539be8e0068f6bca/processor/transformprocessor/internal/metrics/processor.go#L96-L99

If any of the functions called for a data point drop the data point, the remaining functions called would be meaningless,

[2022-08-24 21:56] michalsteyn commented on #2651
Hi @mx-psi, would it be possible to get a progress update on this? As documented the community is investing a lot of effort to make OTEL logging work with DD while we wait for the official support. It is risky for all of us to invest time into this, as DD might announce any day that it now supports OTEL Logging in the exporter.

And kind of roadmap update, even if it is merely a rough estimate wou