[2021-09-23 15:53] mx-psi commented on #5420
Hey @grzn thanks for your issue. For visibility, the 'context deadline exceeded' error is tracked on #2353, but we can keep this issue open for the FR on exposing the retry queue settings. We will add this to our internal backlog and work on this at some point. I would also be happy to review a PR adding this feature.

[2021-09-23 16:32] dmitryax commented on #5388
@djaglowski sorry, could you please clarify? Is my suggestion reasonable or existing behavior? :)

[2021-09-23 16:38] djaglowski commented on #5388
@dmitryax, you're suggested change seems reasonable to me.

[2021-09-23 16:46] dmitryax commented on #5388
Thanks! I'll create a PR

[2021-09-23 17:59] stanosamek commented on #5414
Of course. I'm using nonroot security context. Below is description of that security context.

Name:                                           nonroot
Priority:                                       <none>
Access:
  Users:                                       system:serviceaccount:opentelemetry:otel-collector
  Groups:                                       <none>
Settings:
  Allow Privileged:

[2021-09-23 18:05] grzn commented on #5420
@mx-psi  here you go https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5422

[2021-09-23 19:07] codeboten opened #5425 "make test fails with duplicate symbol"
**Describe the bug**
Running `make test` fails on MacOS arm64 with a duplicate symbol error.

[code]

**Steps to reproduce**
1. Clone the repo on a MacOS arm64 machine
2. Run `make test`

**What did you expect to see?**
The tests passing.

**What did you see instead?**
The error pasted above.

**What version did you use?**
This has been happening for some time, but I tested it last w/ `main` at ve

[2021-09-23 23:41] dmitryax opened #5427 "Splunk HEC exporter doesn't support AccessTokenPassthrough"
Splunk HEC receiver has AccessTokenPassthrough option. If enabled, access token from a request header goes to a Resource attribute `com.splunk.hec.access_token`, but Splunk HEC exporter doesn't handle that attribute. We need to add AccessTokenPassthrough support to the Splunk HEC exporter as well.

[2021-09-24 07:45] mx-psi commented on #5425
Reported on open-telemetry/opentelemetry-collector/discussions/4018. I think it makes more sense to keep this issue and close the other discussion since it seems to be a contrib-only problem.

[2021-09-24 15:05] owais commented on #5414
@stanosamek do you have a way to test if this change solves the problem: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5430

[2021-09-24 15:21] stanosamek commented on #5414
@owais Yes, no problem

[2021-09-24 15:39] mx-psi commented on #5425
After some `git bisect` it seems like it starts happening after #4386 (I am guessing the culprit is some dependency, maybe `golang.org/x/sys`?) and it only happens with Go 1.17 (which is why we didn't notice before).

[2021-09-24 16:02] codeboten commented on #5425
Can confirm this appears to be MacOS specific. I just ran the tests inside a Docker container on my mac and it appears to be fine:
[code]

[2021-09-24 19:37] Aneurysm9 commented on #5425
It seems to be related to the https://github.com/shirou/gopsutil library used by the host metrics receiver.  It can be avoided by setting `CGOENABLED=0`, though I'm not sure that's the correct resolution.

[2021-09-24 19:48] Aneurysm9 opened #5433 "Remove squash on `configtls.TLSClientSetting` in contrib"
**Describe the issue**

Based on this PR (https://github.com/open-telemetry/opentelemetry-collector/pull/4063) in collector repo, configtls.TLSClientSetting should be defined as `mapstructure: "tls,omitempty"`.

Below links are files where changes are needed:

- [x] [/internal/aws/proxy/cfg.go](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/5e4c6d6c91f3ca9aed5464de9a28c29d6

[2021-09-24 19:49] hyunuk commented on #5433
@Aneurysm9 , please assign me this issue!

[2021-09-24 23:09] ganga-sah commented on #5385
"insecure: false" worked for me in previous image: otel/opentelemetry-collector-contrib:0.35.0 but fails with error below in next/latest version 0.36.0. Would like to see this fixed in latest version.

[2021-09-25 08:52] #5419 closed

[2021-09-26 06:54] Frefreak opened #5436 "prometheusexporter has duplicated obsreport stats."
**Describe the bug**
Currently for every one data point, the prometheusexporter's obsreport count 2.

**Steps to reproduce**
1. start collector with prometheusexporter as metric exporter (and logging, for comparison)
2. send one metric message with one data point (e.g. by sending to otlp receiver)

**What did you expect to see?**
With default collector option, `curl -s localhost:8888/metrics  | gr

[2021-09-26 07:48] bogdandrutu commented on #5436
Per your configuration you have 2 exporters, so both are independently tracking this.

[2021-09-26 07:56] Frefreak commented on #5436
But shouldn't the prometheus line (`exporter="prometheus"`) has the same value as logging exporter?

[2021-09-26 17:15] bogdandrutu commented on #5436
@Frefreak

This is a good point, we should try to improve this, we have already defined some errors like https://github.com/open-telemetry/opentelemetry-collector/blob/main/consumer/consumererror/signalerrors.go. Probably we should look into the error and not treat all as failed in case of an error.

[2021-09-26 17:57] #5388 closed

[2021-09-27 00:03] MovieStoreGuy commented on #4714
Being able to create external resources is rather powerful thing, I worry adding something like this could mean that users could spawn too many resources for them to be easily managed, maintained and leading to them being orphaned.

[2021-09-27 01:36] Frefreak commented on #5436
Hi, I was proposing adding a option to disable obsreport in exporterhelper in the collector repo(https://github.com/open-telemetry/opentelemetry-collector/pull/4110), but the idea of using error to indicate # of trace/metric/log succeeded sounds better. From a quick view of signalerrors.go it seems we might need a way to attach a number to the error though. I can try to help implementing this but

[2021-09-27 11:25] bogdandrutu commented on #5436
If we want to ensure some kind of consistent reporting of metrics I think it is better to "enforce" that the obsreport is always called in the helper.

@Frefreak I think in this case when we talk about "translation" errors, those are permanent, so probably would be good to change the Permanent error to have an "failedItems" which will be "Spans/LogRecords/MetricDataPoints". What do you think? As a

[2021-09-27 11:27] bogdandrutu commented on #5436
@Frefreak I saw the proposal, but I am trying to brainstorm to see if other options like the error is better to achieve consistent reporting and ensure that is always available :)

[2021-09-27 12:02] Frefreak commented on #5436
@bogdandrutu I agree that the error way (or maybe some other ways to tell the helper about the success/fail stat) feels like the correct direction. Closing the PR...
But for the error type, I believe there are also cases that are not "permanent" which need to be considered, like network error.  But that's another topic. As far as this issue is concerned, I think its ok to close now, or should we l

[2021-09-27 13:55] #5244 closed

[2021-09-27 13:55] #5414 closed

[2021-09-27 13:55] #5241 closed

[2021-09-27 13:55] #5245 closed

[2021-09-27 14:03] bogdandrutu commented on #5436
Let https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5438 close this issue, in the meantime we can start discussing the solution somewhere, maybe an issue in the core repository?

[2021-09-27 14:04] bogdandrutu opened #5441 "Rename component.DefaultBuildInfo -> component.NewDefaultBuildInfo"
For consistency with other factory funcs.

[2021-09-27 14:23] Frefreak commented on #5436
@bogdandrutu I have opened a new issue in the core repo 😃

[2021-09-28 02:39] pragmaticivan commented on #4968
Howdy! @huyan0 Was there any progress towards implementing that proposal?

I'm currently validating a standalone (multiple workloads) Otel collector for `single page apps/client/StatsD`(Metric)  collection but found that was not very clear.

I have taken a look at:
- https://github.com/prometheus/statsd_exporter
- https://github.com/weaveworks/prom-aggregation-gateway

Those projects aims to mitig

[2021-09-28 17:00] floyola commented on #4914
Any update or workaround about this? 😥

It would be a great feature in the collector.

[2021-09-28 17:06] bogdandrutu commented on #1839
Not going to fix since we will no longer produce OpenCensus data.

[2021-09-28 17:06] #1839 closed

[2021-09-28 17:31] tnevolin opened #5472 "Windows Docker demo: default port is restricted"
This is not a bug but an inconvenience.
Docker demo tries to bind `demo_otel-collector_1` container at `55670` port. I have standard Windows 10 edition without any special configuration and it seems that this port is reserved for administrative usage. See below. Actually, a lot of 5???? ports are reserved. That probably can be circumvented by manually enabling this port usage (which requires fiddl

[2021-09-28 20:20] tnevolin opened #5475 "Windows Docker Desktop collector demo problem"
Following steps here: https://opentelemetry.io/docs/collector/getting-started/#demo

All containers in docker-compose starts but then demo_demo-server_1 exits with following error in console output:
[code]

Then demo_demo-client_1 exits with this output:
[code]

[2021-09-28 20:25] #4616 closed

[2021-09-29 00:56] #5436 closed

[2021-09-29 03:55] #5235 closed

[2021-09-29 10:52] mx-psi commented on #5420
The feature has been added (thanks again @grzn!), closing this. For the bug related to this error message, please use the issue linked above

[2021-09-29 10:52] #5420 closed

[2021-09-29 14:25] mx-psi opened #5510 "Update gopsutil to v3"
Several components use gopsutil v2, which is being discontinued (shirou/gopsutil/issues/1078). We should switch them to use version 3 to be able to get security fixes. Currently the components are:

[code]

To use version 3 import paths should have a `/v3` ending (even if using a `v3.X.Y.Z` tag).

- [ ] Update gopsutil on `signalfxexporter`
- [ ] Update gopsutil on `hostobserver`
- [ ] Update gops

[2021-09-29 16:13] codeboten commented on #5425
@mx-psi nice! I will give it a try later today.

[2021-09-30 05:32] alolita commented on #5316
@rmfitzpatrick Let's chat more on this requirement.

[2021-09-30 05:48] #4862 closed

[2021-09-30 06:12] #3021 closed

[2021-09-30 06:20] #2467 closed

[2021-09-30 06:28] alolita commented on #4367
@bogdandrutu @jrcamp what else needs to be completed for this issue? please clarify. Thx.

[2021-09-30 06:31] #765 closed

[2021-09-30 13:51] mx-psi commented on #5510
That's great @mustafain117, I would do a PR for each component (you don't need to do every single one yourself, focus on one at first and continue later if you want to). [Here](https://github.com/shirou/gopsutil/blob/master/_tools/v3migration/v3Changes.md) there is more info about the changes between the v2 and v3 of gopsutil

[2021-09-30 17:11] jmacd commented on #2566
This was done.

[2021-09-30 17:11] #2566 closed

[2021-09-30 17:11] jmacd commented on #3431
Done.

[2021-09-30 17:11] #3431 closed

[2021-09-30 17:16] jmacd opened #5515 "Statsdreceiver reporting percentiles as quantiles"
**Describe the bug**
The OTLP Summary data point stores Quantiles in the range [0,1].
The statsdreceiver is writing Percentiles in the range [0,100].

**Steps to reproduce**
See here:
[code]

**What did you expect to see?**
[code]
**What did you see instead?**
[code]

**What version did you use?**
HEAD

**What config did you use?**
any

**Environment**
any

**Additional context**
The `.proto` comm

[2021-09-30 17:36] opentelemetry-bot opened #5529 "Bug report for failed CircleCI build (job: loadtest-with-github-reports)"
Auto-generated report for `loadtest-with-github-reports` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/165110

#### Test Failures
-  TestBallastMemory

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-09-30 17:47] PaurushGarg commented on #5415
@alolita Can I please work on this issue.

[2021-09-30 17:50] alolita commented on #4045
@owais are you still planning to work on this issue or can someone else work on this?

[2021-09-30 21:15] astencel-sumo opened #5538 "routingprocessor: use resource attributes instead of context"
**Is your feature request related to a problem? Please describe.**

Hi everyone,

I would like to use the [routingprocessor](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/routingprocessor) to route my records to different exporters based on a resource attribute value.
Currently, the routingprocessor uses context to find the attribute.

**Describe the solutio

[2021-10-01 00:24] mxiamxia commented on #5180
'awscontainerinsightreceiver' looks are not enabled in `otelcontribcol` distributions yet. It is only enabled in [AWS Distro for OpenTelemetry Collector](https://github.com/aws-observability/aws-otel-collector) now.

I don't think this is intended, will submit a fix to enable it in `otelcontribcol`.

[2021-10-01 15:07] opentelemetry-bot opened #5566 "Bug report for failed CircleCI build (job: loadtest-with-github-reports)"
Auto-generated report for `loadtest-with-github-reports` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/165431

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-10-01 15:52] pmalek-sumo commented on #5279
https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5418 has been merged so I believe this can be closed now.

[2021-10-01 15:52] #5279 closed

[2021-10-01 16:13] mustafain117 commented on #4045
@alolita I can work on this!

[2021-10-01 16:14] alolita commented on #4045
Hi @mustafain117 thanks! Assigned to you.

[2021-10-01 16:43] PaurushGarg commented on #5415
After looking into the latest code, seems like this issue was fixed under this pr #5432 https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5432/files  . The expected RAM was bumped up.
Tag @alolita

[2021-10-01 19:36] ctreatma commented on #4667
I found this issue while digging into options for the Jaeger exporter.  In my case, I need to ship traces from the OpenTelemetry collector to a Jaeger collector, not an agent.  Due to limitations of the platform on which we're running our collectors, the Jaeger collector cannot receive HTTP/2 connections, which means it cannot receive gRPC connections, so the removal of the Jaeger Thrift exporter

[2021-10-03 03:25] jasondeutsch commented on #4965
I would like to work on this issue as a first issue, please assign this to me.

[2021-10-04 07:35] stanosamek opened #5573 "Changing attribute in span is not working"
I would like to change in spans attribute with name transaction.type and value from unknown to database. I have this configuration but it's not working. I'm using Collector in version 0.34.0

  attributes/test:
    include:
      match_type: strict
      attributes:
      - key: transaction.type
        value: unknown
    actions:
      - key: transaction.type
        action: update
        value:

[2021-10-04 10:13] almeidaalex commented on #5377
I've changed  my config to:
[code]
Now it's not complaining about this error

[2021-10-04 12:54] HuBaX opened #5576 "Deprecating SHA-1 as hashing algorithm in the attributesprocessor"
**Is your feature request related to a problem? Please describe.**
My organization wants to obscure the content of some attributes in spans for privacy reasons. However, the attributes that contain sensitive data should not be deleted. They want to be able to recognize a correlation between certain values and an error case despite the obscured data. At the moment it is possible to hash certain att

[2021-10-04 13:02] HuBaX commented on #2972
Is anyone working on this? I'm asking because I'd like to implement this.

[2021-10-04 13:25] William-LP opened #5577 "collector cannot be started using logzio exporter"
The collector ends up in error when providing a `logzio` exporter :
[code]
Output :
[code]

I'm using `otel/opentelemetry-collector:latest` docker image as a collector, mounting my config file as a volume :
[code]

I followed this tutorial : https://docs.logz.io/shipping/tracing-sources/opentelemetry.html#local-host

Please let me know if important information are missing.

[2021-10-04 13:37] #4141 closed

[2021-10-04 13:58] mx-psi commented on #5577
You need to use a distro that includes that exporter, such as the contrib one. The docker image for the contrib distro is `otel/opentelemetry-collector-contrib` (it has the same tagging scheme as the core distro docker image, so you can also use `latest` if you want).

[2021-10-04 13:58] #5577 closed

[2021-10-04 14:37] ericmustin commented on #5036
hello frens, just checking in on this, we're looking into adding schemaUrl support for opentelemetry-ruby, and wanted to see where the rest of the components described in OTEP-152 stand. As far as I can tell there's nothing in prog on a 'schemaUrl transformation' type processor at the moment? Totally fine, just want to understand where I can track work here, or which SIG mtgs would be the right pl

[2021-10-04 16:01] gingerwizard opened #5580 "[k8sclusterreceiver] node/pod resource limits"
The https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/k8sclusterreceiver doesnt seem to provide resource limits for pods or nodes with respect to memory or cpu. This typically forces users to use other solutions such kube state metrics to understand if pods are approaching limits.

Request equivalence with https://docs.splunk.com/Observability/gdi/kubernetes-clus

[2021-10-04 17:01] Aneurysm9 commented on #5036
Tigran has started work on a parser for schema instances at https://github.com/open-telemetry/opentelemetry-go/pull/2267. I think this would be the first step toward building a translation library that would be usable in both the Go SDK and the collector.  When we have that in place building this processor should be relatively straightforward.

[2021-10-04 17:13] gingerwizard commented on #5580
This seems to be available at a container level - possibly allowing pod limits to be computed. Node level limits still missing however.

[2021-10-04 17:20] codebien opened #5582 "influxdbreceiver: Unexpected response status code"
**Describe the bug**
The `influxdbreceiver` endpoint returns a `202 Accepted` status code instead of the expected `204 No Content` as defined from the [InfluxDB API reference](https://docs.influxdata.com/influxdb/v1.8/tools/api/#summary-table-1).

**What version did you use?**
Version: `v0.36.0`

[2021-10-04 20:47] PaurushGarg commented on #5233
Test Failure in file TestIdleMode is fixed already, as the expected performance value of CPU has been increased. Test Failures for TestLog10kDPS/OTLP-HTTP and TestMetric10kDPS/SignalFx are also fixed with other commits by increasing the expected RAM limit.

[2021-10-04 23:26] opentelemetry-bot opened #5636 "Bug report for failed CircleCI build (job: loadtest-with-github-reports)"
Auto-generated report for `loadtest-with-github-reports` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/166320

#### Test Failures
-  TestMetricResourceProcessor
-  TestMetricResourceProcessor/update_and_rename_existing_attributes

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added

[2021-10-05 10:14] gingerwizard commented on #5278
@ankitnayan did you find any good solution here?

[2021-10-05 10:18] jpkrohling commented on #4667
HTTP/2 is compatible with HTTP 1.1. Can you provide more details about your scenario? What kind of limitations are you encountering?

[2021-10-05 15:23] ctreatma commented on #4667
Our Jaeger collectors are running in Cloud Foundry, which does not support HTTP/2 or gRPC.  While there is work in progress to add that support, there will likely be a fairly long delay between when a Cloud Foundry version exists that can serve gRPC traffic and when our platforms are upgraded to that version.

https://github.com/cloudfoundry/routing-release/issues/200

[2021-10-05 19:10] mjallday opened #5838 "Dropping and Filtering Spans from Within a Trace"
**Is your feature request related to a problem? Please describe.**

We need a feature to allow for dropping/filtering spans from third party services which are out of our control.

**Describe the solution you'd like**

Being able to use a syntax similar to the [logs and metrics filterprocessor](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/57a2ef2644c55fbfd43437afceeebb669

[2021-10-05 22:41] #3289 closed

[2021-10-06 02:19] rashmichandrashekar opened #5663 "prometheusreceiver: Unable to relabel job and instance labels using relabel_configs and metric_relabel_configs in prometheus receiver"
**Describe the bug**
When using relabel_config to relabel job or using metric_relabel_configs to relabel job/instance labels, the collector fails to scrape metrics

**Steps to reproduce**
Provide target_label as job in the relabel_config or job/instance in metric_relabel_configs.

**What did you expect to see?**
Job/instance label should be replaced with the desired replacement value

**What did y

[2021-10-06 11:45] jpkrohling commented on #4667
@ctreatma, that's unfortunate. I'm convinced that we need to reinstate that exporter, with a big warning that it should only be used in corner cases like yours. Would you be open to creating a PR with the code we had?

[2021-10-06 13:22] jpkrohling commented on #5005
The linked repository doesn't seem to be available anymore. In any case, it looks like the original demo might have missed the attribute `span.kind`: Jaeger does generate a notation for external services if both `peer.service` and `span.kind=client` are set, like this:

![image](https://user-images.githubusercontent.com/13387/136210568-8acdc0c7-d64f-4d52-9445-6f89fe411dbb.png)

This is based on th

[2021-10-06 13:23] jpkrohling commented on #5005
I'm closing this, as I believe there's nothing missing, but feel free to reopen if I'm missing something.

[2021-10-06 13:23] #5005 closed

[2021-10-06 13:39] #5004 closed

[2021-10-06 13:46] jpkrohling commented on #5003
Removed the `comp:jaeger` label, as I don't think this is specific to Jaeger, but rather, to configgrpc. I'm looking into this anyway.

[2021-10-06 15:14] ctreatma commented on #4667
Sounds good.  I'll open a PR to restore the exporter & add guidelines for the rare cases when it can be used.

[2021-10-06 16:15] #5515 closed

[2021-10-06 17:17] gillg commented on #2332
Regarding the final feature I don't see any missing things if we use the remote journalctl interface instead of the binary journalctl.

If you want expose journald in a readable format, journalctl is the way localy and journald-gateway is the way remotely.

Final possible solution :
* We use a sidecar pattern container (called "journald-gateway" as exemple) built with something like that :
[code]

[2021-10-06 18:10] #5433 closed

[2021-10-06 18:11] #5385 closed

[2021-10-06 18:11] #4045 closed

[2021-10-06 20:14] pmcollins commented on #5313
@bd-clara from what I can tell there isn't a bug here, just a misconfiguration.

The detector ordering should be `[azure, system]` -- the first detector to set the hostname wins, and since the hostname from the system perspective is `localhost`, if that detector is listed first, its value will win. Sounds like you want the value from the Azure API to win, so that detector should be listed first.

[2021-10-06 21:35] jfmyers9 opened #5668 "Datadog Exporter should allow custom resource attributes that do not map to conventions."
**Is your feature request related to a problem? Please describe.**

We would like to rely on the Datadog convention mapping to translate OTEL specification resource attributes to Datadog metric tags. This is only available when `ResourceAttributesAsTags` is `false`.

However, we use the OTEL pipeline to map org specific labels and annotations to custom tags for metrics. For example, we rely on a t

[2021-10-07 08:20] jpkrohling opened #5669 "Flaky test - TestEndToEnd from prometheusexecreceiver"
The test TestEndToEnd from the referenced receiver is intermittently failing with:

[code]

Seen here:
https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5511/checks?check_run_id=3824282958

[2021-10-07 09:28] cyrille-leclerc commented on #4432
Hello @leewoobin789 , this bug on metrics was fixed in Elastic 7.15, please upgrade your Elastic cluster to geka metrics properly ingested.

----

Fixed in Elastic 7.15.0 see https://www.elastic.co/guide/en/apm//server/current/release-notes-7.15.html

[2021-10-07 09:45] #4432 closed

[2021-10-07 09:46] leewoobin789 commented on #4432
Hello @cyrille-leclerc  i left a comment regarding this already fixed issues: https://github.com/elastic/apm-server/issues/6185
i close this issue. Thanks!

[2021-10-07 12:29] jpkrohling commented on #1690
I believe this was addressed by the linked PR. Closing.

[2021-10-07 12:46] ydrozhdzhal opened #5671 "Flaky test - TestTraceBallast1kSPSAddAttrs from loadtest job"
The test TestTraceBallast1kSPSAddAttrs from loadtest job is intermittently failing.

Seen here:
https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/20979/workflows/5c305175-1f63-4597-a7f9-0d9821ef16d5/jobs/167040/tests#failed-test-0

[2021-10-07 13:35] ydrozhdzhal opened #5673 "Flaky test - TestBallastMemory|TestLog10kDPS from load test job"
The test TestBallastMemory|TestLog10kDPS from loadtest job is intermittently failing.

Seen here:
https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5672/checks?check_run_id=3827555642

[2021-10-07 14:57] jpkrohling commented on #1679
Closing this as outdated. If this is still desirable, we can consider doing this.

[2021-10-07 15:33] sumo-drosiek opened #5674 "Add ability to fluent receiver to handle more complex structures"
**Is your feature request related to a problem? Please describe.**
While sending more structured logs, which have been parsed using json parser, they are rejected by otelcol

**Describe the solution you'd like**
I would like to handle more complex logs by fluentforwardreceiver

**Describe alternatives you've considered**
N/A

**Additional context**

example log:
[code]

fluent-bit output:
[code]
e

[2021-10-08 11:28] albertteoh opened #5678 "Flaky Test - tailsamplingprocess alive goroutines exceeded"
**Describe the bug**

Occurred in PR #4624 on commit 1849592.

The line containing the error in the unit test run of the PR: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/4624/checks?check_run_id=3761226239#step:7:550

**Steps to reproduce**

Not sure how to reproduce. The failure doesn't appear to be related to the PR or commit as the failure is for a different processor.

[2021-10-08 11:52] sumo-drosiek opened #5679 "Add ability to filter log records by body (maybe expr language)"
**Is your feature request related to a problem? Please describe.**

I want to filter in/out logs by specific body content

**Describe the solution you'd like**
I can see two solutions. All of them should be implemented in [filterprocessor](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/0ba52a57f2345f13c16715418108aa8c57019e1f/processor/filterprocessor)

 - Simple solution:

[2021-10-08 13:00] jpkrohling opened #5682 "Split load tests into its own workflow"
When a load test fails, as it's currently often the case (again), triggering it again causes the whole workflow to be restarted. Ideally, only the load tests would be restarted.

[2021-10-08 18:24] pmcollins commented on #5313
Thanks @bd-clara. The collector implementation is a direct port of the SignalFx Smart Agent's logic for generating a unique ID in an Azure environment:

https://github.com/signalfx/signalfx-agent/blob/main/pkg/core/hostid/azure.go#L63

By using the same logic, the collector provides continuity on this dimension for customers migrating from the Smart Agent.

I suppose changing how the ID is generat

[2021-10-11 23:08] pavankrish123 opened #5715 "[Filter Processor] Ability to filter telemetry based on instrumentation library meta data"
In some scenario where there are multiple telemetry sources producing the data in same format, we may have  allow/block the telemetry from known/unknown sources in order. This helps in saving some processing cycles in the back-ends which don't know  what to do with these metrics from unidentified/unwanted sources or versions of sources

**Describe the solution you'd like**
something like

[code]

[2021-10-12 00:38] ericmustin commented on #5036
have a rough implementation up in ruby (for ref: https://github.com/open-telemetry/opentelemetry-ruby/pull/979, any reviews/feedback super welcome :) ) .

It's actually a bit unclear to me whether we should be building out the sort've "parser for schema instances" support in language clients too? Like is opentelemetry-go just a nice home for this parser or is the plan that this translation/convers

[2021-10-12 09:13] mx-psi commented on #1698
@open-telemetry/collector-contrib-maintainer should we try adding read access to test if notifications work?

[2021-10-12 23:32] codeboten opened #5720 "review debug output in prometheusreceiver"
Follow up to the discussion in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5185#discussion_r707816231

[2021-10-13 02:09] tonnyadhi opened #5721 "Sentry Exporter Distributed Span Returning Invalid Span ID"
**Describe the bug**
Probabaly  this related with  #4141 which  has been closed. I try  to build  and use  latest  fix from #4141  by  building  my  own docker  image  from  opentelemetry-collector-contrib  main branch  (dd44390).
But sentry can not displayed the entire traces  and returning invalid  span id, like in  the  picture  bellow

![Cuplikan layar dari 2021-10-13 09-00-35](https://user-im

[2021-10-13 15:04] tigrannajaryan opened #5726 "awsxrayproxy: TestFactory_CreateExtension failed"
Test failed here: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5694/checks?check_run_id=3881454973

[code]

[2021-10-13 17:29] tigrannajaryan commented on #2628
https://github.com/open-telemetry/opentelemetry-specification/pull/1945 resolved the `run_id` attribute.

https://github.com/open-telemetry/opentelemetry-specification/pull/1980 is open to clarify `container.name` and `k8s.container.name`. Please review/comment.

The `stream` attribute is not addressed at all yet.

[2021-10-13 17:40] tigrannajaryan commented on #2332
Resolved by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5160

If there is an additional interest in discussing the docker packaging please open a separate issue.

[2021-10-13 17:40] #2332 closed

[2021-10-13 18:51] djaglowski opened #5741 "Extract scraper test code into common package"
The newly added receivers for [httpd](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/httpdreceiver/scraper_test.go#L85:L172) and [mysql](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/mysqlreceiver/scraper_test.go#L56:L137) have essentially the same test code for validating an expected result.

This code may be useful else

[2021-10-13 20:57] tigrannajaryan commented on #5726
Happened again: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5694#issuecomment-942700349

[2021-10-14 08:33] jpkrohling opened #5749 "Check components that aren't yet wired up"
As seen in #5725, it is possible that components that have been completed already aren't wired up in the list of components. Currently, this seems to be the list of exporters and receivers that haven't been wired up yet as of 29-Nov-2022:

- [x] logicmonitorexporter (under development, should not be wired up)
- [x] #16567
- [x] purefareceiver (under development, should not be wired up)
- [x] snowf

[2021-10-14 11:24] leewoobin789 opened #5751 "Delegation mechanism for scraper-based metrics"
**Is your feature request related to a problem? Please describe.**
In case of multiple replicas of a central collector, that is scraping / receiving scraper-based metrics such as kafkametricsreceiver, you will receive in total as many duplicated metrics as the replica number, which you define in k8s deployment.
For sake of high availability & scalability, the number of replicas with the cpu / memo

[2021-10-14 14:55] pmalek-sumo opened #5752 "Flaky test: prometheusreceiver: TestStartTimeMetricRegex failing"
**Describe the bug**
`TestStartTimeMetricRegex` is failing, (it was rerun since, will add a link to a failed workflow run when it happens again)

[code]

**Steps to reproduce**
N/A

**What did you expect to see?**
No test failure

**What did you see instead?**
Test failure

**What version did you use?**
Version: https://github.com/open-telemetry/opentelemetry-collector-contrib/commit/52f5f2b111dfd

[2021-10-14 15:33] skonto opened #5753 "Question: configure which otel special resource attributes are added by default"
Is it possible to avoid the [injection/translation](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/9d729d282feeff238bb8add32b011419415f56ca/pkg/translator/opencensus/oc_to_resource.go#L95) of some default attributes like `service.name` (conventions.AttributeServiceName) when metrics are shipped from opencensus and are exported at the collector side? We have an integration i

[2021-10-14 20:58] rashmichandrashekar opened #5757 "Prometheus Receiver - honor_labels set to true doesnt work with federation"
**Describe the bug**
When using federation, honor_labels set to true doesnt work since the source prometheus server's job name is not found in the list of targets in the destination prometheus config

**Steps to reproduce**
Using federation, try to scrape metrics from another prometheus server with honor_labels set to true.

**What did you expect to see?**
Metrics collected correctly by the otel c

[2021-10-14 23:06] opentelemetry-bot opened #5762 "Bug report for failed CircleCI build (job: loadtest-with-github-reports)"
Auto-generated report for `loadtest-with-github-reports` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/168626

#### Test Failures
-  TestMetricResourceProcessor
-  TestMetricResourceProcessor/update_and_rename_existing_attributes

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added

[2021-10-15 08:08] koneko096 commented on #5749
may i take this?

[2021-10-15 13:54] #5538 closed

[2021-10-15 16:27] NathanielRN opened #5766 "awsxrayexporter is expecting out of date attributes from traces generated instrumented AWS SDK"
**Describe the bug**

The `awsxrayexporter` is using out-of-date attributes when determining the attributes on the final trace that is exported.

For example:

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/dd44390a4a3b64b3a9c9a1ca57e95903282765ac/exporter/awsxrayexporter/internal/translator/segment.go#L123-L129

This code is using `aws.service` to determine the `namespace`

[2021-10-15 17:58] codeboten opened #5770 "add job to verify multimod version file"
Currently the `versions.yaml` used by `multimod` can get out of sync with the repo. A potential solution would be to add a job as part of the CICD to validate the config on every change.

[2021-10-15 17:59] bogdandrutu commented on #5770
Indeed, and if identifies any module that is missing then fails

[2021-10-15 19:49] NathanielRN commented on #5766
We discussed with @mxiamxia and found that the solution should involving checking _both_ that `rpc.system` is set to `aws-api`, **and** if `aws.service` is set. In that order.

Cheking `rpc.system` makes sense when you see [the changes that were need to match the new Python trace](https://github.com/aws-observability/aws-otel-test-framework/pull/349).

This should ensure that we know the traces ar

[2021-10-15 23:03] #5770 closed

[2021-10-17 05:33] lchayoun opened #5778 "Missing assets from latest release"
The latest release is missing all the assets.

[2021-10-17 08:40] navneet1075 opened #5779 "otlphttp exporter not able to export logs to the service endpoint"
**Describe the bug**
otlphttp exporter  does not work .

**Steps to reproduce**
used the filelog receiver to retrieve files and then send the ouput to a sink using otlphttp exporter.

**What did you expect to see?**
exporter able to send logs .

**What did you see instead?**
i dont see any logs being sent after reading from files.

this is the log i see for the collector container

[code]

i dont

[2021-10-17 13:48] carlreid commented on #2651
@ericmustin Were there any agreements/plans? Think it would be a shame not to build on top of the work already in place. Especially because then the community could at the least maintain the exporter on any changes that might happen from the experimental state

[2021-10-17 18:41] ankitnayan commented on #2838
I tried doing this. This does not work either. Your last bucket value takes the place of Math.MaxFloat64.
Did you guys find a workaround?

[2021-10-17 18:42] ankitnayan commented on #4975
@albertteoh Could you make this work? Or any workaround?

[2021-10-18 15:08] djaglowski commented on #2333
@jmwilliams89 is working on this.

[2021-10-18 18:13] bogdandrutu commented on #5778
Fixed

[2021-10-18 22:09] bogdandrutu commented on #5778
Done

[2021-10-18 22:09] #5778 closed

[2021-10-18 22:38] friasandres opened #5823 "Docker image: newrelic environment variable"
Hello.
I'm currently trying  to deploy the otel collector  in kubernetes.
I want to use New Relic, so I'd need to declare the apikey for it.  I was trying to declare it as an env in the k8s manifest, but didn't know the name of the image's env.
As I couldn't find it anywhere else in the documentation, I wonder if there is a variable for what I need? i.e. NEW_RELIC_API_KEY
Thanks

[2021-10-19 19:28] ericmustin commented on #1852
@boostchicken Hey, I don't want to mislead you on next steps as I am no longer a Datadog employee, so I would need to defer to the Datadog team on this. I'm forwarding this to my former colleagues there and I'm sure they will be able to reply promptly. All the best.

[2021-10-19 21:07] sethAmazon commented on #5671
Taking a look

[2021-10-20 07:09] hprajapati-splunk commented on #5047
Here's the Proposed Design Document for the `k8seventsreceiver`: https://docs.google.com/document/d/1M9M6alW0ftmsBPBftKtH4h3eewpq263Ep678qU0YlB4/edit?usp=sharing

[2021-10-20 14:10] gillg opened #5842 "[prometheusremotewrite] - Prioritize "external_labels" on prometheusremotewrite exporer"
**Is your feature request related to a problem? Please describe.**
Actualy the final label set pushed to prometheus is constructed with :
1. `external_labels` config
2. OTEL resources (marked as "usefull")
3. OTEL attributes

See : https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/140f00a919201c75a19724c4f36e96d116dab29f/exporter/prometheusremotewriteexporter/helper.go#L115

*

[2021-10-20 15:40] #5766 closed

[2021-10-21 00:18] MovieStoreGuy opened #5847 "kafkaexporter: Allowed for a keyed producer"
**Is your feature request related to a problem? Please describe.**
The idea being that there is a way that data can be keyed when sending to Kafka to allow for ordered messages. It could be potentially useful who use an ordered dependant system and can not easily reconcile out of order data.

**Describe the solution you'd like**
The ability to set the key data field(s) within the kafka exporter co

[2021-10-21 04:32] knvpk commented on #2835
This feature is very nice, so that we can archive so much of instrumentation data but still queryable.

[2021-10-21 07:06] anuraaga opened #5852 "ecs resourcedetection enabled causes collector to not start outside of ecs"
Currently, enabling the ecs resource detector seems to require an environment variable usually set by ECS, and if I set it to a dummy value such as `ECS_CONTAINER_METADATA_URI_V4=http://aws.amazon.com`, it panics at startup with something like

[code]

I think it should still be possible to run a collector with the same config locally when troubleshooting, and this could be logged as an error with

[2021-10-21 07:34] xp-1000 opened #5853 "Drop labels of metrics"
**Is your feature request related to a problem? Please describe.**
In some cases we could need to drop undesired dimension present at metrics level.

For example the squid prometheus exporter explicitly add a `host` label for the `up` metric (not all others) https://github.com/boynux/squid-exporter/blob/master/collector/metrics.go#L80

[code]

While the `host` dimension can cause conflict with the

[2021-10-21 08:17] leewoobin789 opened #5854 "Elasticsearchexporter: dynamic index"
**Is your feature request related to a problem? Please describe.**
For future usecase:
According to the existing readme of Elasticsearchexporter, which is inactivated in the current collector version , there seems to be no dynamic index capability e.g. overwriting index name with prefix and namespace etc.
This feature would make another integration component like logstash obsolete and simplifies t

[2021-10-21 12:05] pmalek-sumo opened #5859 "Flaky test - prometheusexecreceiver: TestEndToEnd UT failure"
**Describe the bug**
`TestEndToEnd` failed in an unrelated PR https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5857/checks?check_run_id=3963335983

**Steps to reproduce**
N/A

**What did you expect to see?**
Test to pass

**What did you see instead?**
Test failure:

[code]

**What version did you use?**
Version: ed6dc5dba91389bbd13727de0bd3c854fed75343

**What config did you

[2021-10-21 17:45] mstumpfx commented on #4446
I'm still working on this! Can we re-open?

[2021-10-22 09:23] KSerrania opened #5873 "[datadogexporter] Remove `report_buckets` custom error message"
**Is your feature request related to a problem? Please describe.**

In https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5858, a custom error message has been added when `metrics::report_buckets` is set to tell users to use the new config option, `metrics::histograms::mode`, instead.

**Describe the solution you'd like**

This custom error can be removed two releases after `v0

[2021-10-22 10:43] jpkrohling opened #5874 "Flaky test: TestJMXReceiverHappyPath from jmxreceiver"
Seen on https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/3974469960?check_suite_focus=true

[code]

[2021-10-22 12:02] jpkrohling opened #5875 "Flaky test: TestMetrics from k8sattributesprocessor"
Seen here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/3974794107?check_suite_focus=true

[code]

[2021-10-22 18:04] alanwest opened #5876 "[cumulativetodeltaprocessor] Convert non-monotonic sums"
This is more of a question of whether the cumulative to delta processor should allow for converting non-monotonic sums.

#4444 originally had a setting for converting non-monotonic cumulative sums (defaulted to only converting monotonic metrics). Systems supporting delta temporality usually treat non-monotonic sums as gauges, so the setting was removed.

In light of https://github.com/open-telemet

[2021-10-22 18:23] alanwest opened #5877 "[cumulativetodeltaprocessor] Improve metric name configuration"
#4444 originally changed the cumulative to delta processor to default to converting all cumulative metrics to delta. This behavior was reverted and currently the configuration requires a user identify each cumulative metric by exact name for conversion to delta.

One proposal is to implement regex support https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/4444#discussion_r71455

[2021-10-23 18:29] dmitryax opened #5879 "Ability to scrape filesystem host metrics from a container"
**Use case**:

Scraping underlying host metrics from a container

Existing approach to scrape host metrics from container:
1. Mount host filesystem `/` path to some path inside container, e.g. `/hostfs`.
2. Setup [env variables supported by gosutil](https://github.com/shirou/gopsutil#usage) to point it to different locations, e.g. `HOST_PROC=/hostfs/proc`

**Problem description**:

The described a

[2021-10-25 05:12] MartinDai opened #5883 "Supplement local development instructions in CONTRIBUTING.md"
**Is your feature request related to a problem? Please describe.**
When i want debug project in GoLand, it throw error info in console
![image](https://user-images.githubusercontent.com/11816720/138636999-106e34ed-74c2-487d-844b-ef687130dade.png)

But the issue #5425 is mentioned this problem, and provided the solution(The Makefile also used this solution).
That is add environment variable `CGO_EN

[2021-10-25 15:20] punya opened #5887 "Evaluate antonmedv/expr for use in filters and transforms"
#5680 introduces a [DSL](https://pkg.go.dev/github.com/antonmedv/expr) for filtering logs, and based on prior discussions we want to consider a similar approach for metric transforms/filters too. Before committing to this approach and this library, we'd like to do a deeper evaluation:

* overall performance impact of evaluating DSL at runtime
* comparison with other DSL approaches
* can we handle

[2021-10-25 21:39] rushirg opened #5908 "[kafkareceiver] failed to unmarshal messages from kafka/Azure event hub"
**Describe the bug**
I've created two traces pipelines (traces, traces/2). In "traces" pipeline, I've configured to receive the traces from otlpreceiver and exported to Azure Event Hub (kafka surface enabled) using kafkexporter, and in "traces/2" pipeline I am trying to receive the same traces from the same Azure Event Hub using kafkareceiver and then logging to stdout.
However I am hitting an err

[2021-10-25 22:30] tigrannajaryan opened #5909 "Audit all receivers to make sure the follow the correct order operations"
See https://github.com/open-telemetry/opentelemetry-collector/pull/4262

[2021-10-26 12:56] opentelemetry-bot opened #5924 "Bug report for failed CircleCI build (job: loadtest-with-github-reports)"
Auto-generated report for `loadtest-with-github-reports` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/171360

#### Test Failures
-  TestBallastMemory

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-10-26 20:25] sethAmazon opened #5928 "Request faster pr unit test"
**Is your feature request related to a problem? Please describe.**
Pr unit test runtime is too long.

**Describe the solution you'd like**
Create a go script that will only unit test modules that have been changes and modules that have a dependency on changed modules.

**Describe alternatives you've considered**
None at the moment.

**Additional context**
I'm under the assumption there are no circ

[2021-10-26 22:30] benbek opened #5935 "Meter values sent to Elastic APM are missing labels"
**Describe the bug**
I don't see _any_ labels when I look at a meter record in my APM metric index. I send multiple labels – a numeric attribute and two strings – but none of them appear.
When the same go code points directly to the APM server, labels do appear.

**Steps to reproduce**
Running [this gist](https://gist.github.com/benbek/1375cd7c5f217361d1ab0b5f357ca9a6) should bump up two counters

[2021-10-27 02:16] MovieStoreGuy opened #5930 "Add support for ASAP Authentication"
**Describe the solution you'd like**
With the current extensions such as OIDC and OAuth2, we would like to add in [ASAP](https://s2sauth.bitbucket.io/) to allow for services to communicate securely.

**Describe alternatives you've considered**
While there is existing authentication means within the collector contrib already, we are not able to adopt them since our platform primarily supports the u

[2021-10-28 14:30] Yayotron opened #5969 "Datadog exporter doesn't include the original trace id"
**Describe the bug**
Datadog uses its own format for trace id, however there's no (easy) way to obtain the original trace id from the generated trace.

**Steps to reproduce**
1. Configure open telemetry to use datadog exporter
2. Send a trace
3. Go to datadog APM and look for your trace

**What did you expect to see?**
The original trace id, preferably as a tag, so I could relate this with my logs

[2021-10-28 15:44] codeboten opened #5971 "Automate dependabot workflow"
Currently dependabot opens many PRs against this repo, but the checks fail because `make gotidy` needs to be run in order for all the dependencies to be updated. This makes for additional work on the maintainers which ideally could be automated away.

It would be great to solve this problem.

[2021-10-28 18:37] jpkrohling opened #5973 "Flaky test on k8sclusterreceiver"
Seen on https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4031747516?check_suite_focus=true

[code]

[2021-10-29 06:13] dmitryax opened #5982 "k8sattributes processor: support flexible labels/annotation regex mapping"
[This PR](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5780) adds ability to fetch pod/namespace annotations and labels based on regex. Attribute values created as the result have only one predefined form `k8s.pod(namespace).label.$0`.

This issue is to track a follow up improvement to support more flexible construction of the attribute values as suggested in [this commen

[2021-10-29 07:25] jpkrohling opened #5983 "Flaky test - dockerstatsreceiver TestDefaultMetricsIntegration"
Seen here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4038604844?check_suite_focus=true

[code]

[2021-10-29 08:28] jpkrohling opened #5987 "Flaky test - fluentforwardreceiver TestBodyConversion"
Seen here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4044206024?check_suite_focus=true

[code]

[2021-10-29 08:47] jpkrohling opened #5988 "Flaky test testbed Metric10kDPS/OpenCensus"
Seen here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4042983670?check_suite_focus=true

[code]

[2021-10-29 18:20] #5741 closed

[2021-10-29 18:21] #5678 closed

[2021-10-29 18:34] jpkrohling commented on #5983
There are no such secrets defined for this project. Should I just set my own credentials for now?

[2021-10-29 21:42] mustafain117 opened #5995 "Add test for honor_labels configuration for Prometheus Receiver"
**Is your feature request related to a problem? Please describe.**
We want to ensure that the Prometheus receiver handles label conflicts based on the honor_labels value set in the scrape config.

**Describe the solution you'd like**

We propose the following solution:
To test if the Prometheus receiver handles honor labels configuration, we can configure the receiver to scrape data with existing

[2021-10-29 21:46] #5987 closed

[2021-10-29 21:49] mustafain117 opened #5996 "Add test for Prometheus Receiver to verify timeseries with empty label values are supported"
**Is your feature request related to a problem? Please describe.**
We want to ensure that the Prometheus receiver supports timeseries with empty label values. According to Prometheus documentation (https://prometheus.io/docs/concepts/data_model/), a label with an empty label value is considered equivalent to a label that does not exist.
**Describe the solution you'd like**
We propose the following

[2021-10-29 21:54] mustafain117 opened #5997 "Add tests for label limits specifically for label_limit, label_name_length_limit & label_value_length_limit configuration values for Prometheus Receiver"
**Is your feature request related to a problem? Please describe.**
We want to ensure that Prometheus receiver honors label_limit, label_name_length_limit & label_value_length_limit configuration values.

**Describe the solution you'd like**
We propose the following solution:

* [x] Add one test for label_limit configuration
* [x] Add one test for label_name_length_limit configuration
* [ ] Add one

[2021-10-29 22:00] mustafain117 opened #5998 "Add test for Job and Instance Labels for Prometheus receiver"
**Is your feature request related to a problem? Please describe.**
Currently, the Prometheus receiver test for labels only checks for the presence of external labels. We want to validate the presence of job and instance labels in every timeseries.

**Describe the solution you'd like**
We propose the following solution:

Similar to the test for external labels https://github.com/open-telemetry/open

[2021-10-30 00:34] PaurushGarg opened #6000 "[Prometheus Receiver ] Modify existing test to validate core metric types"
**Is your feature request related to a problem? Please describe.**
Problem Statement:
The [existing test](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/60b6af27bb52ae83b64ed9b3b1b0d1c802cce843/receiver/prometheusreceiver/metrics_receiver_test.go#L1295) checks for core metric types (gauge, counter, histogram, and summary) and their values. The validation part of this test i

[2021-10-30 05:35] ndrwrbgs opened #6001 "[Feature] [Loki] Support for Severity, TraceID, etc (LogRecord first class citizens) as Attributes"
**Is your feature request related to a problem? Please describe.**
Loki data is being sent to the UI and then lacking basic info like Severity. It seems the problem is the Loki exporter only has capacity to pipe through `resource` and `attributes`, and ignores the OpenTel API first class citizens.

**Describe the solution you'd like**
Loki exporter supports the following fields from `LogRecord` an

[2021-10-30 23:06] vincentfree commented on #1800
I have tried to add the component locally, logs and traces seem to work but the thing that I need which is metrics is still not there. Any update on the timelines and if I can contribute?

[2021-11-01 08:06] #4667 closed

[2021-11-01 09:01] arnitolog opened #6079 "kafkaexporter compression"
it will be good to have the ability to set Compression and CompressionLevel for Kafkaexporter. This will allow reducing the amount of data transferred over the network. according to the documentation it is already supported options in sarama library: https://pkg.go.dev/github.com/shopify/sarama#Config

[2021-11-01 15:03] PaurushGarg opened #6083 "[Prometheus Receiver] Add test to validate ‘Untyped’ Metric type"
**Is your feature request related to a problem? Please describe.**
In order to verify that the Prometheus receiver is functioning as expected for Prometheus to OTLP data transformations, a test is required for validating all Prometheus supported metric types - specifically Gauge, Counter, Summary,  Histogram, and Untyped. The current Prometheus receiver test do not check for ‘Untyped’ metric type

[2021-11-01 17:47] rmfitzpatrick commented on #3188
Opened https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5994 to meet this requirement

[2021-11-01 17:49] Yayotron commented on #5969
Keeping the original ids as tags will be extremely helpful 🙂

[2021-11-01 18:23] PaurushGarg opened #6085 "[Prometheus Receiver] Add test to validate Honor timestamps configuration"
**Is your feature request related to a problem? Please describe.**
Add a new Prometheus Receiver test to ensure `honor_timestamps` configurations are honored. `honor_timestamps` controls whether Prometheus respects the timestamps present in scraped data.

The `honor_timestamps` is a boolean that can be set to “true” or “false” inside `scrape_configs` of Prometheus Receiver configuration in OTEL co

[2021-11-01 20:23] PaurushGarg opened #6087 "[Prometheus Receiver] Add test to validate StaleNaNs, NormalNaNs, and +-Inf are correctly passed through"
**Is your feature request related to a problem? Please describe.**

In order to verify that the Prometheus receiver is functioning as expected for Prometheus to OTLP data transformations, a new test is needed to validate that the `StaleNaN`, `NormalNaN`, and +-Inf are correctly handled by Prometheus Receiver and is transformed to OTLP data.

**Describe the solution you'd like**
Add new following t

[2021-11-01 20:57] codeboten opened #6088 "prometheus-compliance-tests failure"
The `prometheus-compliance-tests` step is failing with the following reported error:

[code]

See https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4071763859?check_suite_focus=true

[2021-11-01 22:14] PaurushGarg opened #6090 "[Prometheus Receiver] Add test to validate metrics renaming as per configuration"
**Is your feature request related to a problem? Please describe.**
In order to verify that the Prometheus receiver is functioning as expected, a new test is needed to verify that Prometheus receiver renames the metric as per `metric_relabel_configs` configuration  provided in `scrap_configs` of Prometheus Receiver configuration in OTEL collector configuration yaml file.
Create testcases for:

- [

[2021-11-01 22:15] etiennejournet commented on #4974
Hello, I also might have the same problem, running 0.37.1. @gillg have you been able to find a solution ?

 See the metrics points missing :
![image](https://user-images.githubusercontent.com/49070410/139748454-5313b95d-6e2e-4b68-9afc-fdee1f53f096.png)

In this I'm trying to scrape `container_cpu_usage_seconds_total` (which is a counter).

Might be unrelated but : I'm running the collector in stan

[2021-11-01 22:20] gillg commented on #4974
Hello @etiennejournet for now I don't have any solution about dropped counters. But this scenario seems not match with your graph. In your case you have dropped points and not dropped entire time serie.
I suspect in your case #memorylea

[2021-11-01 22:26] codeboten commented on #5726
The same problem seems to be happening again https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4073583210?check_suite_focus=true#step:8:5057

[2021-11-01 22:36] etiennejournet commented on #4974
Thanks for you answer ;)

I don't think it's the memory leak problem, I had a careful look to your other thread about that and my opentelemetry setup doesn't show any sign of refused/dropped metrics endpoints in the receiver or exporters, I don't even see the memory leak in my own monitoring.

I'm going to dig that further, thanks for your time ;)

[2021-11-01 23:12] codeboten opened #6092 "Build deb/rpm/msi are failing"
The following build jobs are failing in multiple builds.

<img width="400" alt="Screen Shot 2021-11-01 at 4 12 01 PM" src="https://user-images.githubusercontent.com/223565/139753985-4ff8f828-074c-4eb3-9b63-457c393ea6f5.png">

[2021-11-01 23:13] codeboten commented on #6092
The problem began as a result of this change being merged https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5666

[2021-11-01 23:23] #6088 closed

[2021-11-01 23:32] spiliopoulos commented on #1958
Same as above. Has there been any progress here? Why is this issue in the contrib repo instead of https://github.com/open-telemetry/opentelemetry-collector?

[2021-11-02 00:00] MovieStoreGuy opened #6094 "awskinesisexporter: Add support for KPL aggregation"
**Is your feature request related to a problem? Please describe.**
With the most recent updates into the exporter, KPL aggregation was one thing that was dropped and I would like to see come back.

**Describe the solution you'd like**
Can implement this: https://docs.aws.amazon.com/streams/latest/dev/kinesis-kpl-concepts.html#kinesis-kpl-concepts-aggretation

**Describe alternatives you've conside

[2021-11-02 01:54] MovieStoreGuy opened #6096 "kafkaexporter: Unable to use MSK IAM SASL auth due to TLS not being enabled"
**Describe the bug**
There is an important part of the MSK IAM Auth missed is that it requires TLS communication between the two peers.

**Steps to reproduce**
Trying to connect to the MSK cluster with IAM auth set will result in error

**What did you expect to see?**
The kafkaexporter freely able to send data to Kafka without issue trying to use the configured authentication means.

**What did yo

[2021-11-02 01:59] MovieStoreGuy commented on #6096
Following the details listed out here for reference: https://github.com/aws/aws-msk-iam-auth#configuring-a-kafka-client-to-use-aws-iam

Slightly easier to reconcile than the official AWS docs.

[2021-11-02 02:45] MovieStoreGuy commented on #6096
There is an upstream issue to support this https://github.com/Shopify/sarama/issues/1985

[2021-11-02 08:49] albertteoh commented on #403
@halayli could you elaborate more on what you mean, particularly about extraction and span events?

[2021-11-02 10:56] etiennejournet opened #6100 "[Prometheus]Inconsistent metrics in backend"
Hi,

I have a problem of consistency running the collector. See the metrics points missing :
![image](https://user-images.githubusercontent.com/49070410/139748454-5313b95d-6e2e-4b68-9afc-fdee1f53f096.png)

In this I'm trying to scrape `container_cpu_usage_seconds_total` (which is a counter).

There is no error in the logs.
I'm running the collector in standalone mode (single replica) and I noticed

[2021-11-02 11:10] mx-psi opened #6101 "CI failure on package builds"
**Describe the bug**

Since 12b27b7b09f864427e99ae3d2474eef53ff7528b package build CI tests consistently fail on main.

**Steps to reproduce**

Open a PR that includes this commit on its history but does no changes.

**What did you expect to see?**

CI tests pass

**What did you see instead?**

Windows MSI validation fails with

[code]

RPM and deb packages validation fail with

[code]

cc @skyduo

[2021-11-02 12:36] awsiv commented on #1562
Related (AWS/X-Ray):

https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/4625

[2021-11-02 12:41] #6092 closed

[2021-11-02 13:17] jpkrohling commented on #6101
Aren't the checks verifying the code from the PR? The checks did pass for that PR:

![image](https://user-images.githubusercontent.com/13387/139854231-5d17ea68-5481-4c79-aa6b-67a2474dbb27.png)

[2021-11-02 13:21] mx-psi commented on #6101
Seems like this was fixed on #6091

[2021-11-02 13:21] #6101 closed

[2021-11-02 13:28] jpkrohling commented on #6092
Thanks for fixing this, @codeboten. My bad, should have not ignored the check failures in that PR.

[2021-11-02 15:19] codeboten commented on #6092
No problem... It's a side effect of too many checks failing :(

[2021-11-02 17:18] mustafain117 opened #6106 "Add Prometheus Receiver test for running Open Metrics test cases"
**Is your feature request related to a problem? Please describe.**
**Problem Statement**:
In order to verify that the Prometheus receiver is functioning as expected for transforming Prometheus to OTLP format, a test needs to be added for negative test cases from the OpenMetrics project to validate all Prometheus supported metric types being ingested by the receiver.
The OpenMetrics repository prov

[2021-11-02 21:00] bogdandrutu opened #6108 "Convert carbonexporter to not use opencensus"
Assigned to @pjanotti as the owner of the config, if not done in 2 weeks the component will be deleted.

[2021-11-02 21:42] NathanielRN opened #6109 "AWS X-Ray Exporter should map `rpc` values to `aws` values"
**Is your feature request related to a problem? Please describe.**

Follow up to #5766 where we fixed the logic used to set the namespace on an AWS X-Ray segment created from OTel traces.

The current X-Ray exporter will simply send `rpc.*` values to the AWS X-Ray backend and not transform them. This resulted in a regression in the OTel Python + AWS X-Ray experience as documented here: https://git

[2021-11-02 21:43] NathanielRN commented on #6109
cc @anuraaga @mxiamxia @willarmiros @wangzlei @alolita

[2021-11-02 22:54] codeboten commented on #5983
Decided to test out using ghcr.io instead to see if it makes a difference. see https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6110

[2021-11-02 23:13] rushirg commented on #5908
Any update here?

[2021-11-03 02:00] alolita commented on #5636
Hi @vasireddy99 I've assigned this to you - please take a look to see why these tests are failing.

[2021-11-03 02:04] alolita commented on #5671
Fixed. Closing issue.

[2021-11-03 02:04] #5671 closed

[2021-11-03 02:04] alolita commented on #4965
Any updates on a PR @jasondeutsch?

[2021-11-03 02:05] rltoSD commented on #5749
Hi @alolita can you please assign me this issue?

[2021-11-03 02:05] alolita commented on #5749
@rltoSD assigned. Thx.

[2021-11-03 02:06] alolita commented on #1077
Fixed. Closing issue.

[2021-11-03 02:06] #1077 closed

[2021-11-03 02:07] alolita commented on #5971
Fixed. Closing issue.

[2021-11-03 06:22] ydrozhdzhal commented on #5673
@alolita , was this issue fixed also in scope of https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/5671 ? Or is it something similar?

[2021-11-03 07:28] liqiangz opened #6116 "Track the conversion of the benchmark to a real benchmark in skywalking exporter."
Refer to #5690.  This issue is to track the benchmark of skywalking exporter.

[2021-11-03 07:29] liqiangz commented on #6116
@jpkrohling

[2021-11-03 09:12] jpkrohling commented on #5983
I'll set my own credentials for now, and let's see how it compares. If it still causes a problem, we should definitely go for your proposal.

[2021-11-03 09:24] jpkrohling opened #6118 "CodeQL failing for runs on the main branch"
Since #5956, we are having CodeQL failing for commits reaching the main branch.

[2021-11-03 09:39] jpkrohling commented on #5983
Both DOCKER_USERNAME and DOCKER_PASSWORD are now available as a secret.

[2021-11-03 10:02] #6118 closed

[2021-11-03 10:20] opentelemetry-bot opened #6119 "Bug report for failed CircleCI build (job: loadtest-with-github-reports)"
Auto-generated report for `loadtest-with-github-reports` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/173916

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-11-03 14:51] gbbr commented on #5969
Cool, I'm fine with that. One thing I can't figure out is how useful this is, in order to answer the question on whether we should have this on by default, or if it should be off by default and enabled by config.

[2021-11-03 16:10] rmfitzpatrick commented on #5316
After taking https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/5316#issuecomment-925545114 into consideration and reviewing the existing observer I think a separate task/sidecar observer is the way to go to avoid unnecessary config/deployment reconciliation and opened https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6121.

Per a discussion w/ @alolita I

[2021-11-03 18:06] mustafain117 commented on #5997
@alolita please assign this to me!

[2021-11-03 18:07] mustafain117 commented on #5996
@alolita please assign this issue to me.

[2021-11-03 18:07] mustafain117 commented on #5995
@alolita please assign this issue to me.

[2021-11-03 18:08] mustafain117 commented on #5998
@alolita please assign this issue to me.

[2021-11-03 19:08] PaurushGarg commented on #6090
@alolita please assign this issue to me. I would like to work on this one.

[2021-11-03 19:08] PaurushGarg commented on #6087
@alolita please assign this issue to me. I would like to work on this one.

[2021-11-03 19:09] PaurushGarg commented on #6083
@alolita please assign this issue to me. I would like to work on this one.

[2021-11-04 00:07] vasireddy99 commented on #6116
@liqiangz Can you provide more information about this issue, I would like to give it a try :)

[2021-11-04 04:34] anuraaga commented on #5971
There isn't a linked PR that fixed this and I couldn't find one with a quick skim of recent PRs. Please link in the fix and close again if that actually has happened.

[2021-11-04 05:03] perrinj3 opened #6126 "Does OpenTelemetry Kafka Exporter support encodings other than protobuf for metrics"
Hello, We are wanting to trial exporting metrics from OpenTelemetry to Kafka via the OpenTel Kafka exporter. However our Kafka team don't support the Protobuf format at this time.
Can I please confirm what format the Kafka exporter uses for sending metrics? Is it protobuf? Does it support avro or json?

[2021-11-04 08:07] jpkrohling commented on #6116
Sure! This file contains a test that is measuring the time it takes for some operations:

exporter/skywalkingexporter/skywalking_benchmark_test.go

This thread is relevant for this task: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5690/files#r739082935

Ideally, we would be using real Go benchmarks, as described here: https://pkg.go.dev/testing#hdr-Benchmarks

If benchma

[2021-11-04 10:50] emilgelman opened #6129 "Histogram distributions are not being exported to Datadog"
Using `otel/opentelemetry-collector-contrib:0.38.0`
I'm trying to export a `Histogram` instrument using `HistogramDistribution`, and it looks like it's not being exported to Datadog.

**Collector configuration:**
[code]

**Example to reproduce:**

[code]

**stdout exporter output:**
[code]

@mx-psi thanks for looking into it!

[2021-11-04 11:38] mx-psi commented on #2353
Hi all, we recently added support for modifying the timeout on our exporter processing, as part of our support for [`exporterhelper` settings](https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/exporterhelper#configuration). I would recommend increasing the `timeout` value from the default of 5 seconds to something like 30 seconds (that would be, setting `timeout: 30s` in

[2021-11-04 16:29] Yayotron commented on #5969
Having the original trace id is quite important for observability/troubleshooting as it covers two key requirements (which I think are needed by a big portion of developers):
1. We must have a way correlate traces with logs, which usually means searching for the original trace id in the logs.
2. We must be able to request downstream systems information about a request, which usually means sending

[2021-11-04 16:32] vasireddy99 commented on #6116
Hi @alolita, Please assign this to me. I would like to start working on this.

[2021-11-04 16:32] jpkrohling commented on #6116
Assigned.

[2021-11-04 16:59] jpkrohling opened #6136 "Align usage of hashing functions"
Some parts of the code base are using custom-made hashing functions, others are using `hash/fnv`, while others are using other things. I believe we should unify that as much as possible, hopefully with `hash/fnv` as it's very performant and good enough for non-cryptographic usage.

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/6e2b67b56fe8e9f9af4b9cc16c1fa0e38fcc4fad/proce

[2021-11-04 18:14] mustafain117 commented on #5752
@Aneurysm9 Can you assign this to me? I would like to work on this.

[2021-11-04 18:36] codeboten commented on #3870
Updated the listed components as of f7e2459cc215ab6273ed8e9b4dbf0c94c73faf91

[2021-11-04 22:56] bertysentry opened #6142 "[prometheusexecreceiver] Backslash and quotes processing is broken on Windows"
## Problem

On Windows, **prometheusexecreceiver** seems to be interpreting quotes, spaces and backslashes in the *exec* configuration field in strange and unpredictable ways, which cause the execution to fail.

## Steps to reproduce

When configuring the **prometheusexecreceiver** with OpenTelemetry Collector **v0.38.0** as below:

[code]

...we get this `"output": "'c:\\Program' is not recognize

[2021-11-04 23:13] bertysentry commented on #6142
I strongly suspect the problem comes from [subprocessmanager/manager.go#L40](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/d133d6eae48406fe17fbc72c960ff1859a2487d2/receiver/prometheusexecreceiver/subprocessmanager/manager.go#L40).

On Windows, [it is recommended not to pass arguments as a separate parameter of the *Command* function](https://pkg.go.dev/os/exec#Command).

S

[2021-11-04 23:45] MovieStoreGuy opened #6144 "Make testbed does not work MacOS"
**Describe the bug**
Trying to replicate issues the load test to see what needs to be fixed within the CI however, running it on my local machine, it contains a few nil pointer exception.

**Steps to reproduce**
Using an MacOS machine:
[code]

**What did you expect to see?**
An output that matches what is run inside the CI

**What did you see instead?**
[code]

**What version did you use?**
Versio

[2021-11-05 04:27] VineethReddy02 commented on #6136
Looking into this! :)

[2021-11-05 08:03] jpkrohling commented on #5752
Assigned!

[2021-11-05 08:14] gbbr commented on #5969
Makes absolute sense. Thanks for providing the details. I have created a ticket internally to add this.

[2021-11-05 08:38] cuichenli commented on #6144
hey @MovieStoreGuy , you need to run `make otelcontribcol` before running the load tests so it can build the agent to be executed.

but the error message is indeed confusing, guess we can add some pre-check on if the binary exists.

[2021-11-05 09:07] jpkrohling opened #6147 "Flaky test - awsproxy - TestFactory_CreateExtension"
Seen here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4107918114?check_suite_focus=true (#5999)

cc @anuraaga @Aneurysm9 @mxiamxia (as code owners)

[code]

[2021-11-05 09:11] jpkrohling commented on #5874
Failed again: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4111456360?check_suite_focus=true as part of #6143.

@rmfitzpatrick, are you able to take a look at this one?

[2021-11-05 09:13] jpkrohling commented on #6108
@jcchavezs, are you interested in working on this one?

[2021-11-05 09:22] jpkrohling commented on #6136
There might be cases where it's OK to deviate from the standard, like for #5981. As @ydrozhdzhal [mentioned](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5981#discussion_r743104087):

[2021-11-05 12:19] boostchicken commented on #1852
@mx-psi I am working on the CLA.  I was going to do individual but some of it was on company time and resources.  FYI,  I work over at Sony Interactive Entertainment (PlayStation).  I finalized the request to our OSS board today and will keep you posted.  If any more review comments come in the PR I will update them.

[2021-11-05 12:34] mx-psi commented on #6129
Hey there @emilgelman, thanks for the report!

Similar to what we discussed on https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/5378#issuecomment-950732800, OpenTelemetry instrumentation libraries generate cumulative histograms by default. Since Datadog is delta-based and we can't currently indicate when a 'reset' happens, we calculate the difference between fields when we

[2021-11-05 12:36] mx-psi commented on #1852
Thanks for letting me know @boostchicken! I will give a look to the PR in the near future then

[2021-11-05 13:30] anuraaga commented on #6147
I think there was a similar issue but can't find it.

I don't have any ideas for improving the test, other than using a polling assertion since it may just take some time for the endpoint to start up. I couldn't find a similar pattern in other tests but also don't profess to being a golang expert - can anyone give me a pointer?

[2021-11-05 13:36] rmfitzpatrick commented on #5874
@jpkrohling I missed the initial notification on this and will be sure to look into it.

[2021-11-05 14:40] aateeqi commented on #4296
Hi @robbie-unlikelyai could you post what counter metric looks like along with any other associated logs?

[2021-11-05 14:43] robbie-unlikelyai commented on #4296
@aateeqi - great to see you're picking this up 😄  Unfortunately, I'm really sorry but I don't have that information available any more 😢  There's quite a bit in the initial description though - maybe that's enough? And when I was looking at this, it was reproducible 100% of the time if you follow the steps above.

[2021-11-05 14:45] aateeqi commented on #4296
Hey @robbie-unlikelyai thanks for getting back. No problem, I'll go ahead and work to reproduce this.

[2021-11-05 15:44] jpkrohling commented on #6147
[`assert.Eventually`](https://pkg.go.dev/github.com/stretchr/testify/assert#Eventually) could be used here then?

[2021-11-05 17:48] rltoSD commented on #5749
@jpkrohling Hi! I was just wondering if the best way to approach this would be to look at the code base and identify if these exporters/receivers have individual tests for them in order to verify that they are completed. Thanks!

[2021-11-05 19:23] PaurushGarg opened #6151 "[Prometheus Receiver] Modify existing tests to validate metrics using OTLP format instead of OpenCensus format"
**Describe the Problem**
[Existing Prometheus Receiver test](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/93a9885459c9406db8ac446f77f290b02542e8d5/receiver/prometheusreceiver/metrics_receiver_test.go#L1295) translates [OTLP format metrics to OpenCensus format](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/93a9885459c9406db8ac446f77f290b02542e8d5/r

[2021-11-05 19:23] PaurushGarg commented on #6151
@alolita please assign this issue to me. I would like to work on this one.

[2021-11-08 03:51] MovieStoreGuy commented on #6096
:sigh: It looks like the issue was a result of a missing CA cert.

However, the error did not indicate that well.

[2021-11-08 04:00] MovieStoreGuy commented on #6144
@cuichenli , I would have hoped that would have been done as part of the makefile. Anyway that we can include that in the make target's dependencies ?

[2021-11-08 08:24] jpkrohling commented on #5749
The first step is to get an up-to-date list of components that aren't wired up. Perhaps the list has changed since I checked. Then, you can go two ways:

1. the easy thing would be to create subtasks to this issue, one for each component, and ping the owners of the component, as listed in the [.github/CODEOWNERS](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/.github/C

[2021-11-08 10:36] gbbr commented on #5969
I've set up a PR. @Yayotron would love for you to confirm that this is what you're after.

[2021-11-08 16:22] #5969 closed

[2021-11-08 16:57] codeboten opened #6161 "Fix publish-dev/publish-stable build steps"
The credentials for pushing images to docker hub are invalid as seen here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4120828339?check_suite_focus=true

Additionally we should be using the docker login action.

[2021-11-08 17:50] #6161 closed

[2021-11-08 20:57] djaglowski opened #6206 "Rename httpdreceiver to apachereceiver"
The new `httpdreceiver` scrapes metrics from Apache Web Server. Most monitoring solutions refer to this technology as simply "apache", including [Prometheus](https://github.com/Lusitaniae/apache_exporter#collectors), [Telegraf](https://github.com/influxdata/telegraf/blob/release-1.15/plugins/inputs/apache/README.md#measurements--fields), [Munin](https://gallery.munin-monitoring.org/plugins/munin/a

[2021-11-09 00:33] MovieStoreGuy opened #6209 "Reviewers guideline for Pull Request"
Having reviewed a few pull requests, the quality and the approach on how things are done vary a lot and it raised some questions that I wanted to see if we can clarify to help making the PR process easier.

There is a few things I wanted to highlight as such:
- Added code is not go idiomatic (lack of concise variables, naming conventions, stuttering within definitions)
- Mocking external integrati

[2021-11-09 00:34] MovieStoreGuy commented on #6209
@bogdandrutu , @jpkrohling , @codeboten, @tigrannajaryan,

Could I ask for your input on this as the maintainers of the project 🥺 ?

[2021-11-09 01:35] willarmiros opened #6210 "[awsxrayexporter] Replace hardcoded strings with sem conv values"
We should replace all hardcoded strings in the [X-Ray exporter segment translator](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/ae3a556549ab666bccfb1812730f7818915ea764/exporter/awsxrayexporter/internal/translator/segment.go) references to their semantic convention resource attributes when the next version of sem convs are available in the collector.

For example:

[code]

[2021-11-09 02:50] MovieStoreGuy commented on #6096
Turns out this was all human error and can be ignored.

[2021-11-09 02:50] #6096 closed

[2021-11-09 05:20] PaurushGarg opened #6212 "[Prometheus Receiver] Modify existing TestStartTimeMetricRegex, TestExternalLabels, and TestStartTimeMetric to validate metrics using OTLP format and enable compatability with Staleness Markers"
**Describe the Problem**
[Existing Prometheus Receiver test](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/93a9885459c9406db8ac446f77f290b02542e8d5/receiver/prometheusreceiver/metrics_receiver_test.go#L1295) translates [OTLP format metrics to OpenCensus format](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/93a9885459c9406db8ac446f77f290b02542e8d5/r

[2021-11-09 05:26] PaurushGarg commented on #6212
@alolita please assign this issue to me. I would like to work on this one.

[2021-11-09 09:14] jpkrohling commented on #6209
It would be great to have a review guideline! The review guidelines would help not only reviewers but also what contributors can expect from us.

I would add to your list which library to use for hashing (see #6136).

[2021-11-09 13:47] benbek opened #6492 "Meter values sent to Elastic APM are missing labels"
**Describe the bug**
I don't see _any_ labels when I look at a meter record in my APM metric index. I send multiple labels – a numeric attribute and two strings – but none of them appear.
When the same go code points directly to the APM server, labels do appear.

Note: this bug is also opened in the [contrib repo](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/5935) but i

[2021-11-09 15:08] ShiranAvidov opened #6215 "Azure monitor receiver"
Are you planning or in the middle of creating an Azure monitor receiver, for getting metrics from Azure resources?

[2021-11-09 16:52] tigrannajaryan commented on #6209
We have this https://github.com/open-telemetry/opentelemetry-collector/blob/main/CONTRIBUTING.md#coding-guidelines recommendation which reffers to https://golang.org/doc/effective_go.html, perhaps we need to explain more.

[2021-11-09 17:01] codeboten opened #6216 "Update docker credentials in the repository"
The `publish-dev` and `publish-stable` require updated credentials to be configured in order to successfully publish new docker images.

[2021-11-10 01:41] yeqown opened #6218 "Could not use enable the sentry exporter"
**Describe the bug**
A clear and concise description of what the bug is.

[code]

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.

**What did you expect to see?**
collector startup

**What did you see instead?**
collector failed to startup

**What version did you use?**
Version: `otel/opentelemetry-collector:0.38.0`

**What config did you use?**
Config:

[code]

**E

[2021-11-10 07:11] cuichenli commented on #6218
Hey @yeqown , as the sentry exporter is now in the contrib repository, the default built otel is not including this exporter. To use the exporter you need to build one customized otel with the otel-builder. https://github.com/open-telemetry/opentelemetry-collector/tree/main/cmd/builder

I built it locally with the following configuration and it is working fine.
[code]

[2021-11-10 08:32] cuichenli commented on #5988
I feel this issue is now resolved with https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6134 by increasing the ram limit to 100

[2021-11-10 09:27] jpkrohling commented on #5988
I'm closing this for now, thanks!

[2021-11-10 09:27] #5988 closed

[2021-11-10 09:57] jlegoff opened #6221 "[hostmetrics receiver] add utilization metrics"
The [semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/system-metrics.md) for system metrics mention several `.utilization` metrics:
* `system.cpu.utilization`
* `system.memory.utilization`
* `system.paging.utilization`
* `system.filesystem.utilization`

However, these metrics are currently not provided by the c

[2021-11-10 11:13] arnitolog opened #6222 "[kafkareceiver] commit unprocessed messages"
**Describe the bug**
it looks like Kafkareceiver commits even un-processed (or processed with error) messages.

**Steps to reproduce**
configure kafkareciver with the below config:
[code]
Push traces into jaeger-spans topic and check LAG for otel-collector consumer group.

**What did you expect to see?**
LAG should constantly grow as we can't complete the pipeline due to the exporters endpoint is

[2021-11-10 13:10] jpkrohling commented on #5874
Another failure here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4162606020?check_suite_focus=true

[2021-11-10 13:22] tomkerkhove opened #6224 "How do we use Metrics Transform Processor?"
Being new to processors, I was wondering how I can use the "Metrics Transform Processor" in the OTLP collector?

[2021-11-10 13:38] jpkrohling commented on #5669
And again here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4165561716?check_suite_focus=true

[2021-11-10 17:06] djaglowski commented on #5875
Another failure [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4166523235?check_suite_focus=true#step:8:9255)

[2021-11-10 17:13] yotamloe opened #6226 "Feature request: Add cloudwatch metrics receiver"
**Is your feature request related to a problem? Please describe.**
We need an easy solution to import metric data from cloudwatch to Prometheus remote write compatible backend without using an exporter

**Describe the solution you'd like**
A receiver component That uses cloudwatch getmeticstatistics/getmetricdata API
reference:
* [get-metric-statistics](https://docs.aws.amazon.com/cli/latest/refer

[2021-11-10 17:46] tigrannajaryan opened #6227 "Refine policy for unmaintained components"
In a SIG meeting today we discussed the need to have a more precise policy about maintaining contributed components. This is also important in the context of having stable tests. Some components have flaky tests and we don't have a policy about who and when is supposed to fix the tests.

One possible approach is this:
- Introduce the concept of "unmaintained" components.
- If the component's autho

[2021-11-10 17:46] djaglowski opened #6228 "Flaky Test - prometheusexporter.TestEndToEndSummarySupport"
Seen [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4168636998?check_suite_focus=true#step:8:3463).

[code]

No code owner is currently assigned for this component.

[2021-11-10 17:52] tigrannajaryan commented on #6227
cc @open-telemetry/collector-contrib-approvers @open-telemetry/collector-contrib-maintainer

[2021-11-10 18:10] #5752 closed

[2021-11-10 18:51] alolita commented on #6227
@tigrannajaryan I suggest we add documentation listing maintainers for each component in contrib. I can create a component-owners.md and link to https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/README.md

[2021-11-10 19:14] alolita commented on #6108
@bogdandrutu just clarifying - the component will be removed from the collector contrib build not remove the source code - right?

[2021-11-10 19:26] jcchavezs commented on #6108
Indeed I am interested on working on this.

On Wed, Nov 10, 2021, 20:14 Alolita Sharma ***@***.***> wrote:

[2021-11-10 23:00] MovieStoreGuy commented on #6209
I did miss that @tigrannajaryan, thanks for sharing.

Perhaps it would be worth extending it to include what is the suggestion in order to do _X_  and contribute that back to CONTRIBUTING.md ?

I think it would go some way when reviewing and help ask better clarification.

Is that a sensible way to go about it?

[2021-11-10 23:23] tigrannajaryan commented on #6227
@alolita good point. What if we change this a bit and say that we don't accept new feature PRs from component authors until they deal with the maintenance backlog for their components, which includes flacky tests? Other contributors can still submit PRs against unmaintained components, but authors should show they are committed to maintenance.

[2021-11-11 00:19] bertysentry opened #6232 "Add support for metrics in groupbyattrsprocessor"
# Use Case
When ingesting Prometheus metrics with the **prometheusreceiver**, all metrics are associated to the same *Resource*, which is simply the scraped target host (which happens to be *localhost* if you're using **prometheusexecreceiver**).

But the ingested Prometheus metrics may have a label that indicates that the metric relates to a different host (not the one where the Prometheus export

[2021-11-11 00:27] MovieStoreGuy commented on #6209
I should also that using requiring CGO should be made clear as part of the package.

[2021-11-11 01:40] yeqown commented on #6218
@cuichenli Thank you very much, I have no idea about building collector by myself since I missed this part in the document and I started to know about `otel-collector` yesterday, so many things I don't know ~

[2021-11-11 06:30] ananthmeka opened #6234 "build fails with duplicate symbol errors in Mac"
Code cloned from opentelemetry-collector-contrib repository is failing while building in Mac
The build errors generated with make are :
     duplicate symbol '_get_temperature' , duplicate symbol '_open_smc', duplicate symbol '_close_smc

Trace log of the build is provided below:

go test -race -timeout 300s --tags="" ./...
?   	github.com/open-telemetry/opentelemetry-collector-contrib/cmd/otelcon

[2021-11-11 06:41] yeqown commented on #6218
Resolved

[2021-11-11 06:41] #6218 closed

[2021-11-11 08:07] cuichenli commented on #6234
duplicated to https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/5425#issuecomment-943128529

this is an upstream issue.
https://github.com/shirou/gopsutil/issues/1175

[2021-11-11 09:54] jpkrohling commented on #5875
cc @owais, @dmitryax and @pmm-sumo

[2021-11-11 10:21] jpkrohling commented on #6227
Change it to 8 weeks, and I'm OK with the proposal. I do take 4 weeks PTOs from time to time, and while I hope other folks would take care of a component I'm the sole owner, I would find a shame to come back from PTO and find my component as unmaintained :-)

[2021-11-11 10:41] #5252 closed

[2021-11-11 12:39] Prabakaranmkd opened #6235 "datadogexporter : TLS and mTLS settings"
**Describe the bug**
TLS and mTLS settings are not available for datadogexporter

is there any option like insecure_skip_verify: false

[2021-11-11 17:12] #1395 closed

[2021-11-11 19:05] arundathi-nirmata opened #6238 "Failed to create containerd task: Exec: "/otelcontribcol": permission denied: unknown - when running the container as non root"
We are running otel-collector deployment on cluster v1.21.1  with nonroot specific security context.

Facing issue of runContainerError and eventually pod goes to CrashLoopBackOff with the below error

`Error: failed to create containerd task: failed to create shim: OCI runtime create failed: container_linux.go:380: starting container process caused: exec: "/otelcontribcol": permission denied: unk

[2021-11-11 21:16] alolita commented on #5180
This is fixed. Closing.

[2021-11-11 21:16] #5180 closed

[2021-11-11 23:33] rmtobin commented on #6238
This also is an issue when attempting to run the demo locally as provided in the [documentation](https://opentelemetry.io/docs/collector/getting-started/).

Running the demo command as written in the docs errors out with `ERROR: for otel-collector  Cannot start service otel-collector: OCI runtime create failed: container_linux.go:380: starting container process caused: exec: "/otelcontribcol": per

[2021-11-12 03:58] MovieStoreGuy opened #6241 "New Exporter: Simplified local developer view"
**Is your feature request related to a problem? Please describe.**
In order to reduce the resource contention on a local developer's machine, having a simplified view resource data in the collector via a web UI that allows for easy filtering instead of using the `fileexporter` and using unix string search tools to examine the data.

**Describe the solution you'd like**
An exporter that keeps a rin

[2021-11-12 04:30] anuraaga commented on #6241
I believe this is the zpages extension

https://github.com/open-telemetry/opentelemetry-collector/tree/main/extension/zpagesextension

The TraceZ endpoint is basically a ring buffer with a web UI. I haven't used the collector one myself, but the SDK one behaves like that, for reference

https://github.com/open-telemetry/opentelemetry-java/tree/main/sdk-extensions/zpages

[2021-11-12 04:50] locmai commented on #4916
We are having the same issue with Windows hosts as well on our production. Do we have some updates on this one?

[2021-11-12 06:31] locmai commented on #4916
Our case is the otel collector going up to 26GB for one instance, and the rate is around 1GB per day.

[2021-11-12 12:53] jpkrohling opened #6243 "Flaky test - prometheusreceiver - TestStalenessMarkersEndToEnd"
Seen on a local run:

[code]

[2021-11-12 14:20] #4849 closed

[2021-11-12 14:21] #4628 closed

[2021-11-12 15:00] #6109 closed

[2021-11-12 16:21] aateeqi commented on #4714
@alolita could you assign me to this?

[2021-11-12 19:13] alolita commented on #4714
Assigned @aateeqi

[2021-11-13 15:35] emilgelman commented on #6129
Thank you @mx-psi for the detailed response.
I've tried to reproduce your example and unfortunately did not receive the expected results.

<details>
  <summary>logging exporter output</summary>

[code]
</details>

No metric named `test.histograms.distributions.new2` is visible in the webapp. Is there anything else we could try?
Attaching complete code again just for reference:

<details>
  <summar

[2021-11-13 19:15] edude03 commented on #5757
Running into the same issue, is anyone facing this aware of a workaround?

[2021-11-14 16:07] PaurushGarg commented on #6228
@alolita  please assign this issue to me. I would like to work on this one.

[2021-11-15 03:16] khanhntd commented on #6226
Hey @alolita would it possible for me to try this?

[2021-11-15 05:07] guilledipa opened #6303 "collectd receiver – "The start time must be before the end time""
**Describe the bug**

OpenTelemetry is returning the following error (this is one example among other distribution type system metrics being received from Collectd):

[code]

**Steps to reproduce**
Configure Collectd using the http_write plugin pointing it to the otel-contrib collectd receiver.

**What did you expect to see?**
Distribution type metrics being received and in this case, sent to GCP

[2021-11-15 06:29] guilledipa commented on #6303
I *think* I found a solution for this which could be to compute a `start_time` based on the collectd `interval` value, I'd be happy to send a PR if you folks think the solution is reasonable.

[code]

[2021-11-15 11:33] locmai commented on #4916
So I have followed this guide https://blog.detectify.com/2019/09/05/how-we-tracked-down-a-memory-leak-in-one-of-our-go-microservices/
After doing all the chasing after the heap profile, I see that the memory allocated for otel is not even peak the memory allocated for the service.

And the final solution of the article works for me: Set the `GODEBUG=madvdontneed=1` env var for the runtime and rest

[2021-11-15 14:00] jcadavez commented on #6238
Same here, having trouble running it on Github Actions on an Ubuntu runner.

What's the latest version of this container I can use temporarily?

[2021-11-15 19:26] dmitryax opened #6314 "[k8scluster receiver] Extract container.image.tag from container.image.name"
According to [OTel Semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.8.0/specification/resource/semantic_conventions/container.md) `container.image.name`attribute should include name of the image, and the tag part should go to `container.image.tag` attribute.

Right now k8s cluster receiver reports container image name along with the image tag under `conta

[2021-11-15 22:02] codeboten opened #6315 "`configschema` dependency not updated correctly"
The linked comment points out that the collector dependencies were not updated for `configschema`. Adding an issue to fix this, I believe this is so because `for-all` skips `configschema`.

_Originally posted by @Aneurysm9 in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6313#discussion_r749672717_

[2021-11-15 22:06] hypnoce opened #6316 "Add file exporter"
**Is your feature request related to a problem? Please describe.**
The current file exporter/receiver lacks many features that can make it usable in more scenarios than debug :
* mirroring a log directory on another machine
* ability to write all types (logs, metrics and spans) of telemetry data on disk and readback in scenarios like https://github.com/open-telemetry/opentelemetry-collector-contri

[2021-11-15 22:45] codeboten opened #6318 "flaky test - googlecloudspannerreceiver - TestStatsReaders_Read"
[code]

As seen here https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4217936092?check_suite_focus=true#step:8:13922

[2021-11-15 22:51] MovieStoreGuy commented on #6241
Sweet, thanks @anuraaga :)

Had completely missed it, let me close this off for now and anything more specific I am missing, I will raise as a feature request.

[2021-11-15 22:51] #6241 closed

[2021-11-16 00:12] tigrannajaryan commented on #6209
Definitely worth extending.

[2021-11-16 01:42] codeboten opened #6337 "publish-stable fails to create github release"
The copy operation of the `publish-stable` job fails. See logs here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4219110874?check_suite_focus=true

[2021-11-16 02:29] kw7oe commented on #6238
@jcadavez  I think the latest working version is: [`otel/opentelemetry-collector-contrib-dev:93a9885459c9406db8ac446f77f290b02542e8d5`](https://hub.docker.com/layers/otel/opentelemetry-collector-contrib-dev/93a9885459c9406db8ac446f77f290b02542e8d5/images/sha256-50d17a221bd252bdca9727415024409fbacb3961cd404ad42dd88a272e5b91c9?context=explore)

[2021-11-16 03:33] boostchicken opened #6338 "receiver/datadogreceiver: Span creation performance testing"
**Describe the bug**
Currently the datadogreceiver uses AppendEmpty() to add a new span for every iteration during translation.  It might be faster to count all the spans and size the InstrumentationLibrarySpans.Spans element to the known span size
**Steps to reproduce**
Ingest spans using Datadog

**What did you expect to see?**
Behavior will be the same between the two, a performance difference

[2021-11-16 06:40] boostchicken commented on #5035
That sounds like a sampling processor enhancement.  I am about to write a filter processor enhancement that drops Span's based on tag matching, however what you want sounds like it should be a special type of sampler

[2021-11-16 10:12] indrekj commented on #6238
We were fine with: `0.37.1` and `0.38.0`, but when we changed to `v0.39.0` we started getting:
[code]

[2021-11-16 10:13] mx-psi commented on #6227
This proposal sounds great to me. I would also suggest pinning an issue on this repo with a list of unmaintained components (something like #3870?) so that it's easier for people to find which components are unmaintained (both for end-users and for prospective owners)

[2021-11-16 10:16] robbie-unlikelyai opened #6342 "`LongValueRecorder` doesn't pick up dimension from `resourcedetection/environment`"
**Describe the bug**
We use open-telemetry to send metrics from a Java service to AWS Cloudwatch. We try to add an `env` dimension to all of our metrics using the following method:
* Run our open-telemetry container with the environment variable `OTEL_RESOURCE_ATTRIBUTES` set to `env=test`.
* Run the `resourcedetection` processor with the `env` detector to convert the environment variable into an

[2021-11-16 10:20] robbie-unlikelyai commented on #4296
@aateeqi - as an FYI I've just raised https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/6342 which may also be related. Ultimately, it seems like the labels / dimensions aren't propagated properly for value recorders.

[2021-11-16 11:47] indrekj commented on #6238
Inspected the filesystems of both docker images `0.38.0` and `v0.39.0`.

In `0.38.0`:
[code]

In `v0.39.0`:
[code]

So it looks that otelcontribcol is not marked as executable in `v0.39.0` docker image.

Running `make docker-otelcontribcol` on main branch seemed to build a docker image with executable file correctly, so not sure what happened with the `v0.39.0` build.

[2021-11-16 12:18] robertsben opened #6343 "0.39.0 docker image does not run"
**Describe the bug**
There is a permissions issue for the executable that has been shipped in 0.39.0 of the opentelemetry-collector-contrib docker image.

[code]

**Steps to reproduce**
```docker run otel/opentelemetry-collector-contrib:v0.39.0```

**What did you expect to see?**
The otelcontribcol executable should run normally. Below there is no config found, but this shows that the executable r

[2021-11-16 12:34] mx-psi commented on #6343
I can reproduce this (same macOS and Docker version, though I doubt that matters). cc @codeboten since you did last release

[2021-11-16 12:35] indrekj commented on #6343
It seems to be because otelcontribcol is not executable. My findings so far: https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/6238#issuecomment-970192993

[2021-11-16 14:31] philipcwhite commented on #6343
I have the same issue in GKE with kubernetes.

[2021-11-16 14:53] tigrannajaryan commented on #6316
Let's make sure we approach this from the perspective of the actual real-world use cases.

This does not seem to be a Collector job. There are other tools that can do this (e.g. rsync), not clear why it needs to be a Collector feature.

Both of these use-cases likely can be served with one standardized file format. These do not appear to require the file format to be customizable by the end user i

[2021-11-16 16:49] boostchicken commented on #5035
See my PR here https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6341

You could chain that in a custom pipeline with static sampling

[2021-11-16 16:49] secustor opened #6345 "Support configuration based on PrometheusOperator CRDs"
**Is your feature request related to a problem? Please describe.**
A widely used pattern regarding metric collection in Kubernetes is the usage of the PrometheusOperator.
This Operator provides multiple CRDs to define targets which should be scraped.
The two most used ones are `ServiceMonitor` and `PodMonitor` which are mostly provided by applications themselves.

To enable the easy usage of the c

[2021-11-16 16:58] codeboten commented on #6343
Investigating now, this was the first release to be pushed using the github action instead of the circle ci job.

[2021-11-16 17:47] codeboten opened #6347 "Docker image tag prefixed w/ `v`"
The docker image released for 0.39.0 contains a `v` prefix which it should not. This was caused by the change to publish from circle ci to github actions, the circle CI job trimmed the release version correctly.

[2021-11-16 18:19] #6347 closed

[2021-11-16 18:44] #6337 closed

[2021-11-16 19:09] mustafain117 commented on #6106
@alolita please assign this issue to me.

[2021-11-16 20:14] codeboten commented on #6343
Confirmed the issue is caused by the step which is downloading the binaries https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/3c2ca7d46b4fd656160dbb1ad359cb789a0367a4/.github/workflows/build-and-test.yml#L428

The fix in #6352 ensures the executable flag is set. We should add a step to validate the image before publishing it, will open an issue.

[2021-11-16 20:16] codeboten opened #6354 "Add validation step in the build for docker image"
To avoid regression in the docker image, we should ensure there is a validation step as part of the build before publishing docker images.

https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/6343 is an example of an issue that could have been prevented with such a validation step.

[2021-11-16 20:21] #6343 closed

[2021-11-16 23:54] NathanielRN commented on #6238
Should probably be closed as a duplicate of https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/6343

[2021-11-17 04:39] #5427 closed

[2021-11-17 10:10] mx-psi commented on #6129
@emilgelman Thanks for having a look. The `controller` has two different settings with a very similar name: [`controller.WithCollectPeriod`](https://pkg.go.dev/go.opentelemetry.io/otel/sdk/metric/controller/basic?utm_source=gopls#WithCollectPeriod) and [`controller.WithCollectTimeout`](https://pkg.go.dev/go.opentelemetry.io/otel/sdk/metric/controller/basic?utm_source=gopls#WithCollectTimeout). The

[2021-11-17 15:50] PaurushGarg opened #6360 "[Prometheus Receiver] Incorrect start_timestamp of Summary and Histogram metrics after a failed scrape"
***Describe the bug***

We want to ensure OpenMetrics / Prometheus compatibility in the OpenTelemetry Collector. We have been building compatibility tests to verify the OpenMetrics spec is fully supported on both the OpenTelemetry Collector Prometheus receiver and PRW exporter as well as in Prometheus itself.

In order to verify that the Prometheus receiver is functioning as expected for Prometheu

[2021-11-17 17:08] #6315 closed

[2021-11-17 19:51] ajsaclayan opened #6365 "kafkareceiver: kafka metrics not being generated"
**Describe the bug**
[Kafka metrics](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/kafkareceiver/metrics.go#L26-L31) are not being generated when using the `kafkareceiver` component. This was missed when porting the kafkareceiver from the opentelemetry-collector to the contrib repository.

https://github.com/open-telemetry/opentelemetry-collector/blob/v0.33.0

[2021-11-17 20:30] #6238 closed

[2021-11-17 22:11] #6126 closed

[2021-11-17 22:11] perrinj3 commented on #6126
Looks like its only protobuf

[2021-11-17 22:18] alolita commented on #6212
Fixed.

[2021-11-17 22:18] #6212 closed

[2021-11-17 22:19] alolita commented on #6151
See issue #6360 for more details. Closing this issue.

[2021-11-17 22:19] #6151 closed

[2021-11-18 01:06] codeboten commented on #6210
The new semconv will be available when this https://github.com/open-telemetry/opentelemetry-collector/pull/4452 is merged.

[2021-11-18 09:01] FuyuanChu opened #6387 "NewRelicExporter failed with error: unsupported metric otelcol_processor_batch_batch_send_size (Histogram)"
**Describe the bug**

There are errors in otel-collector's log

[code]
What happened when this error occurs？Does the error cause data losses?

**Steps to reproduce**

Using configuration below to setup a otel-colletor deployment:

[code]

[2021-11-18 09:25] jpkrohling opened #6370 "redisreceiver uses removed API InitFromMap"
The redisreceiver is currently using `InitFromMap` from pdata, removed as part of https://github.com/open-telemetry/opentelemetry-collector/pull/3936.

[2021-11-18 09:38] jpkrohling opened #6371 "Flaky Test - tailsamplingprocess alive goroutines exceeded"
Seen on https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4243284022?check_suite_focus=true

Reincarnation of #5678.

Full logs: [logs_18069.zip](https://github.com/open-telemetry/opentelemetry-collector-contrib/files/7561721/logs_18069.zip)

[code]

[2021-11-18 17:40] #6370 closed

[2021-11-18 18:39] bogdandrutu opened #6375 "Install the JS tool to assign codeowners for components PRs"
Assigned to @dyladan to give us instructions.

[2021-11-18 18:42] dyladan commented on #6375
Currently the bot is very "dumb". All it really does is assign and request reviews from specified people. When I see that those people have approved, I merge pull request. We currently only use it in contrib because the SDK/API need a little more maintainer oversight. If we want to have it automatically add labels and even merge, then that would require changes to the tooling.

[2021-11-18 19:19] PaurushGarg opened #6376 "[Prometheus Receiver] Histogram and Summary metric count value outputs minInt64 for non-numerical input values"
**Describe the bug**

We want to ensure OpenMetrics / Prometheus compatibility in the OpenTelemetry Collector. We have been building compatibility tests to verify the OpenMetrics spec is fully supported on both the OpenTelemetry Collector Prometheus receiver and PRW exporter as well as in Prometheus itself.

Prometheus Receiver should assign a metric  `staleNaN` value, if the metric is missing in

[2021-11-18 20:05] tigrannajaryan commented on #5874
Failed again: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4256134172?check_suite_focus=true

[2021-11-18 20:42] oppegard commented on #6354
I can take a shot at this.

[2021-11-18 21:56] #6354 closed

[2021-11-19 02:15] tonglil commented on #1909
# Instrumentation library as span name

As another data point, the naming of spans based on instrumentation library is so long that it is pretty much useless when looking at it by default.

In a simple Go application using [Gorilla mux Otel contrib instrumentation](https://github.com/open-telemetry/opentelemetry-go-contrib/blob/main/instrumentation/github.com/gorilla/mux/otelmux/mux.go) and making

[2021-11-19 09:14] jpkrohling commented on #5874
@rmfitzpatrick, should we just disable this test while you figure it out?

[2021-11-19 09:55] mx-psi commented on #6235
Hey @Prabakaranmkd, thanks for reporting this. While we don't have the `insecure_skip_verify` option, you can modify the endpoints to use http like so:

[code]

Could you try this out and see if it works?

[2021-11-19 12:08] jpkrohling commented on #6371
I'll leave this open to track the occurrences, but I do have the intention of at least refactoring this processor, as I've seen concurrency issues previously during my performance tests.

[2021-11-19 14:33] rmfitzpatrick commented on #5874
That seems reasonable until I have a chance to finish https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5429.

[2021-11-19 15:39] ericmustin commented on #1909
@tonglil Hey! Took a quick look, sounds like reasonable feedback, that being said I'm no longer employed at Datadog, last I left it there was some backlog items internally to make this more flexible, but as I'm no longer involved, support@datadoghq.com would be the optimal place to get actionable feedback or movement on this issue. All the best!

[2021-11-19 16:23] mx-psi commented on #1909
Thanks for your detailed message @tonglil; I will also try to flag this internally (and thanks @ericmustin for pointing them to support!). While I am assigned to this issue I am not involved in the APM-side of Datadog so I can't directly help with code, but I want to try to at least try to move this forward.

I have tried to list down the Datadog exporter-specific problems that you mention on the

[2021-11-19 16:45] bogdandrutu commented on #6376
@PaurushGarg I agree, the prometheus receiver should not set that "NaN" value but instead should use the OTLP native no-value present for that (for all metrics not just for histograms).

[2021-11-19 16:47] #6234 closed

[2021-11-19 16:55] PaurushGarg commented on #6376
@bogdandrutu thanks. Is there a tracking issue for Prometheus Receiver to directly use OTLP format in metric builder? If not, do we need to create one?

[2021-11-19 17:56] jack-berg commented on #6387
The newrelic exporter doesn't support histograms. Instead, we recommend you use the [otlpexporter](https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/otlpexporter) and export to New Relic's OTLP endpoint, as [described here](https://docs.newrelic.com/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/opentelemetry-quick-start/#export).

Note that New

[2021-11-20 00:18] #3361 closed

[2021-11-20 00:18] #3441 closed

[2021-11-20 00:18] #3495 closed

[2021-11-20 00:18] #3657 closed

[2021-11-20 00:18] #3730 closed

[2021-11-20 00:18] #3845 closed

[2021-11-20 00:18] #4114 closed

[2021-11-20 00:18] #4281 closed

[2021-11-20 00:18] #4372 closed

[2021-11-20 00:18] #2927 closed

[2021-11-20 00:18] #2994 closed

[2021-11-20 00:18] #3076 closed

[2021-11-20 00:19] #1012 closed

[2021-11-20 00:19] #1147 closed

[2021-11-20 00:19] #1683 closed

[2021-11-20 00:19] #2289 closed

[2021-11-20 00:19] #2455 closed

[2021-11-20 00:19] #2565 closed

[2021-11-20 01:20] khanhntd commented on #4988
Hey @alolita, can I possibly try this one?

[2021-11-20 01:36] tonglil commented on #1909
@mx-psi

1. yes, this is correct
2. yes, this is correct
3. yes, this is correct, and additionally, we have to continuously restart the agent to pickup the changes, and distributing this data to multiple collectors that could be running out there (not under centralized control) - perhaps it would be better to set these mappings in Datadog's APM settings UI (since this config is already specific to

[2021-11-20 13:00] cemo commented on #1909
It is very sad that such a critical issue is not tried to be addressed so far. This issue is much worse in java land since it has more instrumentation support.

I think this can be even solved in the server side. Span has the information of tracing libraries. It can be formatted according to each library. Is this doable on server side? Am I missing something?

[2021-11-20 21:36] khanhntd commented on #4971
Hi @kiahmed , thanks for waiting so long to receive an answer. The reasons why you have this error is because the received metrics from the app is [an invalid type](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/exporter/prometheusremotewriteexporter/exporter.go#L124-L128). One of the way to get through this is to send you a debug adot collector to know which metrics a

[2021-11-22 01:34] FuyuanChu commented on #6387
Very thanks, I'll try the otlpexporter.

[2021-11-22 01:34] #6387 closed

[2021-11-22 10:09] mx-psi opened #6396 "[cmd/mdatagen] mdatagen should fail on unrecognized keys"
#6220 renamed the `labels` section on `mdatagen` configuration files to `attributes`, but forgot to change it on mongodbatlasreceiver (addressed by #6395).

A simple way to have caught this would be for `mdatagen` to fail when the YAML metadata file contains unknown keys. This would also then be checked on CI as part of the lint job.

[2021-11-22 17:47] willarmiros commented on #5266
Hi @errordeveloper,

This is not true. X-Ray annotations only support key-value pairs, with supported value types of string, number, and boolean. Only metadata (which is never indexed) can contain arbitrary JSON structures such as deeply nested maps. For more, you can see the X-Ray docs: https://docs.aws.amazon.com/xray/latest/devguide/xray-concepts.html#xray-concepts-annotations

Does this mean e

[2021-11-22 17:59] PaurushGarg opened #6400 "[Prometheus Receiver] Modify existing MetricBuilder to accept unorganized datapoints from Prometheus ScrapeLoop"
**Describe the bug**
Existing OTEL Prometheus Receiver `metricBuilder` expects [Prometheus scrape loop](https://github.com/prometheus/prometheus/blob/f08c89e569b2421bcc8ef7caf585fd8d3c2ccaba/scrape/scrape.go#L1420) to send data-points organized and grouped by `metricName`. Currently, Prometheus doesn’t provide data-point organized and grouped by metric name for failed scrapes, and this causes non-

[2021-11-22 18:01] PaurushGarg commented on #6400
@alolita please assign this issue to me. I would like to work on this one.

[2021-11-22 18:23] PaurushGarg opened #6405 "[Prometheus Receiver] Incorrect Start_Timestamp for counter metric when explicit timestamp is present"
***Describe the bug***

With `honor_timestamps` config set to true, the explicit timestamp read by the counter metric causes incorrect `start_timestamp` for the counter metric.
In presence of explicit timestamp, counter metric `start_timestamp` is always set to the explicit timestamp provided to the first metric seen in the scrape. This `start_timestamp` also does not reset upon encountering count

[2021-11-22 21:22] perrinj3 opened #6408 "Cannot connect OpenTelemetry to Confluent Kafka using TLS"
I'm trying to use the Kafka exporter to connect to an enterprise implementation of kafka which requires TLS authentication.
I've tested the Kafka exporter with a local version of kafka (without auth) and it writes messages fine.
I'm running OpenTel on a Windows 2012 server.
I'm using an internally created certificate and have tested this by loading it into the Java Key store and truststore and usi

[2021-11-22 22:27] errordeveloper commented on #5266
I was referring to OpenTelemetry annotations, lot XRay ones, but I did also find out after creating this issue that is is not something the spec recommends... It just appears to be possible to encode arbitrarily deep data using protobufs, but that falls into a grey area of the spec...

Yes, something like that, perhaps.

Good to know! This was just one of the suggestions...

That sounds like a goo

[2021-11-23 01:34] rockb1017 commented on #4953
Closing since PR for it is merged. Thanks

[2021-11-23 01:34] #4953 closed

[2021-11-23 01:34] #2947 closed

[2021-11-23 06:47] rockb1017 commented on #2655
this `split_by_attribute` is what is missing in the `combine` operator from log library. https://github.com/open-telemetry/opentelemetry-log-collection/issues/276

[2021-11-23 06:48] rockb1017 commented on #2655
Should i start with requirements and design doc first?

[2021-11-23 09:17] jpkrohling commented on #6408
You should explicitly provide the path to the relevant files. I don't think we have support for Windows Cert Store in the collector though.

[2021-11-23 12:26] mx-psi commented on #5673
Failure on #6414 https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4298017609?check_suite_focus=true:

[code]

[2021-11-23 16:04] #5971 closed

[2021-11-23 16:16] Doron-Bargo commented on #3535
Hi any update on this issue?

[2021-11-23 20:47] TomasLongo opened #6417 "Exporting Kubernetes Logs via OTLPHTTP-Exporter"
Hi all,

I'm currently trying to export Kubernetes container logs (aka node logs) with the otlphttp-exporter (The functionality is enabled through the helm chart) and the following agent config

[code]

the behaviour I observe with this config:

* the logs are properly  exported to STDOUT with the log exporter.
* The otlphttp exporter sends an empty body to the destination
  * I verified this by e

[2021-11-24 01:52] klxfeiyang opened #6424 "tanzuobservability exporter type unknown"
**Describe the bug**
[code]

**Steps to reproduce**
Deploy opentelemetry binary using tanzuobservability as an exporter

**What did you expect to see?**
opentelemetry binary to recognize `tanzuobservability` as a compatible exporter type

**What did you see instead?**
A clear and concise description of what you saw instead.

**What version did you use?**
Version: opentelemetry-collector:0.38.0

**

[2021-11-24 07:10] rahuls2 opened #6425 "Prometheus Exporter - Gauge counter metrics dropped with error 'failed to translate metric'"
**Describe the bug**
I'm using an opentelemetry collector setup to receive metrics from an app. From the opentelemetry collector, these metrics are being exported to Prometheus. The datatype of these metrics is gauge. Looking through the logs, I see a series of errors pertaining to a random subset of the metrics showing up periodically (assumedly during export attempts for these specific metrics).

[2021-11-24 10:35] mx-psi commented on #6424
@klxfeiyang The `opentelemetry-collector` distro does not contain vendor-specific components. You should use a distro that includes the `tanzuobservability` exporter, such as `opentelemetry-collector-contrib`

[2021-11-24 14:18] jpkrohling commented on #6417
I'm kinda lost here. Do you have an OpenTelemetry Collector instance running in your cluster, responsible for collecting logs from kubelets? And in that scenario, you can get them all ingested, but using the logging exporter works, whereas the OTLP HTTP doesn't? In that case, how does your config look like? Can you reproduce it with a simpler workload?

[2021-11-24 14:30] indrekj opened #6426 "Adding a tag which includes trace hex ID"
**Is your feature request related to a problem? Please describe.**

We're using DataDog APM but we're using our own hosted Kibana. The recommended approach by DataDog was to add a logs link to the traces so it would be possible to quickly navigate to Kibana from the DD UI. Something like (`https://logs?q...trace_id:$HEX_TRACE_ID`). To my knowledge, this currently is not possible.

My initial idea

[2021-11-24 17:37] samanthawalter opened #6427 "[kafkareceiver] Log metrics emitted as span metrics"
**Describe the bug**
The kafka log receiver accepted and refused counts are emitted as `receiver_accepted_spans` and `receiver_refused_spans` as opposed to the expected `receiver_accepted_log_records` and `receiver_refused_log_records`.

**Steps to reproduce**
1. Setup and configure a kafka instance
2. Configure a logs collector pipeline with a `kafkareceiver` receiver component.
3. Expose port 88

[2021-11-24 19:48] dmitryax opened #6429 "Improve scrapers/mdatagen tool to produce more user-friendly code and configuration"
## Goals for this issue

### Provide a user-friendly interface for metrics reporting from mdatagen tool

Currently mdatagen tool produces `generated_metrics.go` files that contain mostly definitions of the metrics taken from `metadata.yaml` files. Scraper authors have to add some amount of repetitive code to each of the scrapers to fill the metrics with data points and send them downstream. We wan

[2021-11-24 20:27] #5996 closed

[2021-11-24 21:26] perrinj3 commented on #6408
@jpkrohling Thanks for that reply. I specified the TLS authentication as follows and it seems to be working ok now. The help is a little confusing as it suggests the cert_file and the ca_file should only have values if insecure = true. However in our case insecure needs to be false. The exporter still reads the cert files even when insecure=false. So all good.
[code]

[2021-11-24 21:26] #6408 closed

[2021-11-25 09:13] jpkrohling commented on #6206
For the record, I'm not sure I agree with this change. Apache is the foundation under which the `Apache httpd` project exists. I would rather have renamed it to `apachehttpdreceiver` if a rename was really required. In any case, I'm closing this as the rename was made already.

[2021-11-25 09:13] #6206 closed

[2021-11-25 10:02] gbbr commented on #5969
FYI I'm proposing this change to the original fix: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6432. It is better to group everything under the `otel` group, rather than create a new one. Hope that's ok.

[2021-11-25 10:15] bertysentry commented on #6224
In your config yaml file, you simply specify the transforms, like in the example below:

[code]

[More details about possible metric transforms are documented here](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/metricstransformprocessor).

[2021-11-25 10:32] tomkerkhove commented on #6224
I wasn't able to get it working but will try again, thank you!

[2021-11-25 10:32] #6224 closed

[2021-11-25 10:33] jpkrohling commented on #6224
I have a full example as part of this repo:

https://github.com/jpkrohling/opentelemetry-collector-deployment-patterns/blob/main/pattern-2-normalizer

[2021-11-25 10:47] jpkrohling commented on #6427
Nice catch!

[2021-11-25 10:58] jpkrohling commented on #6426
This should be doable. The commit you linked is attempting to add a prefix, perhaps you can just add a trace ID? Have you tried that?

[2021-11-25 11:00] jpkrohling commented on #6424
I'm closing this, as this should be available in the contrib distribution. Feel free to reopen if you still have problems.

[2021-11-25 11:00] #6424 closed

[2021-11-25 11:23] jpkrohling opened #6434 "Update changelog for v0.40.0"
When releasing v0.40.0, I missed the step about updating the changelog.

List of changes:
https://github.com/open-telemetry/opentelemetry-collector-contrib/compare/v0.39.0...v0.40.0

[2021-11-25 11:31] indrekj commented on #6426
The attributes don't include trace ID. E.g., one of the requests has these attributes `map[http.method:GET http.status_code:404 http.url:/engagement_requests]`.

Do you mean like a new configuration option: `AppendTraceId: true`?

[2021-11-25 12:14] jpkrohling commented on #6426
I mean, an option to include the trace ID as an attribute to the spans.

[2021-11-25 12:38] indrekj commented on #6426
Sorry, I'm still confused about the proposed solution. (also very new to golang)

[a.attrProc.Process()](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/c3f0a18341b728bed91ddd0f303b3f612722bd4f/processor/attributesprocessor/attributes_trace.go#L59) is also used by [resourceprocessor](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/441dbd2ec131d61e39e62

[2021-11-25 12:54] jpkrohling commented on #6426
I thought you didn't have access to the trace ID in the backend you are using, but re-reading the original description, you do seem to have it.

About adding a `logs_url` to the spans: not sure this would be a good idea. This is certainly going to cause your spans to become larger, having a considerable effect on your systems/backend, given that you are adding it to every span.

Good point, they a

[2021-11-25 15:04] pmalek-sumo commented on #5887
Is there anyone working on this? Have we done any of the research mentioned in the description?

[2021-11-25 15:09] gbbr commented on #5969
@Yayotron what do you think about the latest PR? Would it be terrible if we changed this already released tag? I am thinking that it's not looking too good as it is, and I've missed that the first time around.

![APM Traces  Datadog 2021-11-25 at 10 40 18 AM](https://user-images.githubusercontent.com/6686356/143465278-02ebc61a-077c-44ed-99d3-7dad91a346fc.png)

If you think it'd be bad to make this

[2021-11-25 15:56] #6434 closed

[2021-11-25 17:35] arminru commented on #4875
Hi @sumitdhameja! Sorry for the late answer, I just discovered your issue.
For traces we offer an ingest endpoint that supports OTLP natively, so you can just use the OTLP/HTTP exporter coming with the OTel collector out of the box.
More details and instructions can be found here:
https://www.dynatrace.com/support/help/extend-dynatrace/opentelemetry/#ingest-trace-data
https://www.dynatrace.com/sup

[2021-11-25 23:04] Yayotron commented on #5969
I'm fine with that, we're still not using this feature and I agree it'll be better this way.

[2021-11-26 14:56] gouthamve commented on #6425
Hi, I am new to the project and I am trying to reproduce this. I have a few questions:

Does this mean setting the collector period to 30secs? Like this:
[code]

What do you mean by not have any values recorded every once in a while? I am recording the value for the gauge every 120s, like this:

[code]

I am unable to reproduce this issue with this setup though.

[2021-11-26 15:47] secustor opened #6437 "Add additional tests to `make all`"
**Is your feature request related to a problem? Please describe.**
Currently not all tests, which are run in Github Actions, are executed when running `make`.

This leads to confusion for new contributors as `make` will succeed, but the pipelines will not.

**Describe the solution you'd like**
add sub commands `golint`, `goporto` and `multimod-verify` to `all`

Not sure about `integration-tests-wi

[2021-11-26 19:29] gfonseca-tc commented on #5261
I'm facing the same issue here and it looks to me that it should always be set to the span name. I don't see how this could be set to the instrumentation library name according to the [OTel specifications](https://github.com/open-telemetry/opentelemetry-proto/blob/b43e9b18b76abf3ee040164b55b9c355217151f3/opentelemetry/proto/trace/v1/trace.proto#L125). Is this a good first issue? I can give it a tr

[2021-11-26 20:10] gfonseca-tc commented on #1909
+1 for an option of using otel span name instead of IL+kind. It would be much useful than how it is now. Will also send a request to support@datadoghq.com to help getting it prioritized. I could also help with a PR.

[2021-11-26 23:56] rahuls2 commented on #6425
Hey Goutham, thanks for checking.

I was able to do identify the root cause of the log error, and it seems this is the expected behavior for the circumstance I described.

Answers to your questions ->

"Does this mean setting the collector period to 30secs?": yes

"What do you mean by not have any values recorded every once in a while?": I should have been clearer in my description about this. Bef

[2021-11-26 23:56] #6425 closed

[2021-11-29 01:12] MovieStoreGuy commented on #6209
@tigrannajaryan if you wanna assign this to me, I'll have a PR to iterate over by the end of the day.

[2021-11-29 11:18] gouthamve commented on #6425
Which SDK are you using? I cannot see any method to do the same in the Golang SDK.

[2021-11-29 15:41] mustafain117 opened #6439 "[Prometheus Receiver] Sync test data with the OpenMetrics repository"
**Is your feature request related to a problem? Please describe.**
PR #6409 adds a copy of openmetrics test data to receiver/prometheusreceiver/testdata from the OpenMetrics repository.
Link to test data: https://github.com/OpenObservability/OpenMetrics/tree/main/tests/testdata/parsers
We need a way to keep the test data in sync with the OpenMetrics tests to avoid being out of sync with any change

[2021-11-29 18:03] errordeveloper commented on #5266
SGTM!

I don't think I will get to it, as I have already wrapped up my OTel-related project (https://github.com/cilium/hubble-otel) and will be starting something new.

[2021-11-29 18:25] tanner-bruce opened #6455 "coreinternal package external use"
**Is your feature request related to a problem? Please describe.**
A large chunk of the functionality inside the `coreinternal` package would be useful for people who are running customer collector distributions with their own custom components. Having this functionality blocked inside of an `internal` package forces you to fork the contrib package, or duplicate the code, which is a fairly poor ex

[2021-11-29 21:05] #5995 closed

[2021-11-29 21:06] #5997 closed

[2021-11-29 21:51] #6106 closed

[2021-11-29 22:27] rmfitzpatrick commented on #3188
This has been resolved by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5994

[2021-11-30 02:22] pingleig commented on #3188
@rmfitzpatrick thanks!

[2021-11-30 02:22] #3188 closed

[2021-11-30 02:57] rahuls2 commented on #6425
I used an adaptation of the Python SDK that had the option to clear instruments after exporting to Prometheus.

[2021-11-30 08:49] indrekj commented on #6426
I do agree, but that was the suggestion by the DataDog team. There's currently no other way to move from the traces view to kibana otherwise in the DD. Maybe it would be possible to add that link only to the root span, but that would make this change even more complicated.

[2021-11-30 09:04] indrekj commented on #6426
@KSerrania @mx-psi @gbbr @knusbaum (DataDog exporter codeowners), would you accept a PR to the datadog exporter to add logs URL only to the **root** spans? Basically an exporter setting `logs_url` which then is appended by the trace id?

[2021-11-30 15:27] mx-psi opened #6465 "[Prometheus receiver] `host.name` attribute set to `0.0.0.0`"
**Describe the bug**

When scraping internal metrics as documented [here](https://github.com/open-telemetry/opentelemetry-collector/blob/7ed3f75ef84d9e9d11b175a0859060f765faca0b/docs/troubleshooting.md#metrics) the metrics have a `0.0.0.0` hostname attribute set. The `host.name` semantic convention [is described in the OpenTelemetry specification](https://github.com/open-telemetry/opentelemetry-sp

[2021-11-30 15:32] mx-psi commented on #6455
I think moving the whole `coreinternal` out of internal exposes a whole lot of public API that we probably don't want to maintain indefinitely. It may be easier to argue for individual packages to be moved out of internal, so I would recommend to make a list of specific functionality you need (is it just the two examples you mention, or are there others?)

[2021-11-30 15:45] tanner-bruce commented on #6455
I would start with the two I mentioned, particularly the filterconfig. The testdata is easy to work around and we already have the functions written on our end, but filterconfig requires full duplication right now.

Thanks for the quick 👀

[2021-11-30 16:34] jpkrohling commented on #6465
I had a similar discussion on a [recent PR](https://github.com/open-telemetry/opentelemetry-operator/pull/574#discussion_r756047759), and the takeaway is that `0.0.0.0` on the client-side can be safely switched by `127.0.0.1`, as it's the one IP that is always present. Given that `0.0.0.0` represents all the IPs on the host, `127.0.0.1` is part of that set.

[2021-11-30 17:06] NassimBtk opened #6467 "Create subprocess extension"
# Use case
The [prometheusexecreceiver](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/prometheusexecreceiver) launches the specified Prometheus Exporter as a new process (through specified command line) then scrapes it periodically.
We need to launch an OTLP-instrumented process, that will push the metrics (and traces and logs) it collects to the local OTLP r

[2021-11-30 20:16] #6142 closed

[2021-12-01 09:17] jpkrohling commented on #6467
@rmfitzpatrick, is this something that you'd benefit from for the JMX Receiver?

[2021-12-01 09:41] mx-psi commented on #6235
@Prabakaranmkd the above solution will only work if you are using a proxy. If you are not, I would like to hear a bit more about your use case to make sure this is the right solution.

[2021-12-01 09:47] NassimBtk commented on #6467
Sure! creating the command, managing the state, stopping the process is almost the same.

[2021-12-01 16:47] #4747 closed

[2021-12-01 16:48] rmfitzpatrick commented on #6467
I think this would be helpful, and a core set of subprocess management helpers could be used underneath as potentially provided by this issue: https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/5060

[2021-12-01 17:06] rmfitzpatrick opened #6480 "Standardized testdata config filepath pattern"
**Is your feature request related to a problem? Please describe.**
As mentioned in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6459#discussion_r759550623, there is a current test pattern for specifying config files of the form:

[code]

This invocation is slightly problematic for two reasons:

1. the initial "." is unnecessary.
2. `path.Join()` hardcodes the separator as

[2021-12-01 17:07] aateeqi commented on #4296
Hey @robbie-unlikelyai so I built out those metrics with a similar config on the newest version of opentelemetry-collector and it seems like my metrics are showing up as expected. This may have been due to some changes in `DoubleValueRecorder` (which is now `DoubleHistogram`) and other metrics as well.

Could you upgrade your opentelemetry-collector to the newest version and use the `DoubleHistogr

[2021-12-01 17:12] aateeqi commented on #6342
Hey @robbie-unlikelyai based on the discussion in [4296](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/4296#issuecomment-983847970), I believe using the latest version of opentelemetry and upgrading to SDK to 1.7 which uses the `LongCounter` or 'LongHistogram` will be able to solve the issue.

[2021-12-01 17:38] sumitdhameja commented on #4875
Thank you @arminru

[2021-12-01 17:38] #4875 closed

[2021-12-01 20:16] dmitryax opened #6483 "[kubeletstats receiver] Add support for read-only kubelet endpoint"
**Is your feature request related to a problem? Please describe.**
Some of the kubernetes distributions (e.g. GKE Autopilot) block access to secure kubelet endpoint which is exposed at 10250 port by default. Most of the metrics collected by the kubeletstats receiver can also be fetched from read-only kubelet endpoint which is exposed at 10255 port by default. But kubeletstats receiver's configurat

[2021-12-01 20:16] dmitryax commented on #6483
cc @SergeyKanzhelev

[2021-12-01 20:52] SergeyKanzhelev commented on #6483
+1. Since k8s doesn't provide a granular permissions control on secure port, readonly port is often used to prevent overexposure of permissions. It also easy to get started with the readonly port. So I'd advice to allow http to be configured for the reciever.

[2021-12-01 23:44] jamesmoessis opened #6484 "[spanmetricsprocessor] Delta metrics support in spanmetricsprocessor"
**Is your feature request related to a problem? Please describe.**

Currently the `spanmetricsprocessor` only supports cumulative metrics. This ticket is intended to track work related to enabling configuration of delta aggregation temporality for this processor.

We did consider using the current `spanmetricsprocessor` in conjunction with the `cumulativetodeltaprocessor`, however this unfortunate

[2021-12-02 00:36] sirianni opened #6485 "[datadogexporter] `.count` and `.sum` metrics not being exported for Summary type"
**Describe the bug**
For a `Summary` metric `foo`, I only see the `foo.quantile` metric in datadog.  I do not see the `foo.count` and `foo.sum` metrics.

**Steps to reproduce**
Send a `Summary` metric to the OTel Collector configured with the Datadog exporter.

**What did you expect to see?**
I expected to see the following metrics:
* `foo.sum`
* `foo.count`
* `foo.quantile`

**What did you see in

[2021-12-02 02:03] rashmichandrashekar commented on #5663
@dashpole - Sorry for the delay. I tried it with prometheus and I see that the metadata seems to be available when i tried a few targets. I queries the target metadata api to view the metadata. Was that what you were looking for?
For one of the tests I configured 2 scrape jobs for the metrics_path - /metrics/cadvisor - one with job relabelled and the other without and I see metadata for both -
![i

[2021-12-02 04:09] hstan opened #6486 "[spanmetricsprocessor] All metrics extracted from spans has the same resource attributes, despite the spans' resources are different"
**Describe the bug**
In the span metrics processor, all metrics extracted from spans are sharing the same resource, even when the spans have different resources. (https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/processor/spanmetricsprocessor/processor.go#L234).
This only makes sense when there's no resource labels on the metrics. Once we decided to attach resource label

[2021-12-02 08:32] jpkrohling commented on #6486
@albertteoh, are you interested in looking into this?

[2021-12-02 08:34] jpkrohling commented on #6480
Your proposed solution seems simple and effective enough.

[2021-12-02 08:38] jpkrohling commented on #6484
cc @albertteoh

[2021-12-02 11:20] KSerrania commented on #6485
Hi @sirianni,

Thanks for raising this issue!

To help us investigate, could you share the code you used to generate the summary metrics, as well as the output of the logging exporter? If possible, could you also enable the [file exporter](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/fileexporter) and send us its output?

I've tried reproducing your issue us

[2021-12-02 11:37] bkabrda opened #6491 "RPM package doesn't properly mark config files"
**Describe the bug**
The built RPM packages, e.g. https://github.com/open-telemetry/opentelemetry-collector-contrib/releases/download/v0.40.0/otel-contrib-collector-0.40.0-1.x86_64.rpm, don't properly mark files under /etc/otel-contrib-collector as config files. This leads to human-modified configuration files being overwritten on update/reinstall.

**Steps to reproduce**
[code]

**What did you ex

[2021-12-02 11:48] mx-psi commented on #6491
cc @jpkrohling, probably a builder issue that also affects the core distro

[2021-12-02 12:11] jpkrohling commented on #6491
We do not use the builder (yet) for the contrib repository. We do set the `config` directives for the config files for the core distribution, so, it should not be a problem there:

https://github.com/open-telemetry/opentelemetry-collector-releases/blob/24a0eeeca07ecf09c01b87af3cdb9515d0f07b88/.goreleaser.yaml#L75-L80

[2021-12-02 12:48] mx-psi commented on #5425
@anuraaga shirou/gopsutil#1176 may solve the issues on the symbols mentioned on your last message. Would you mind checking if the issue still happens to you on main, and, if so, if the issue is fixed by bumping gopsutil to v3.21.11?

[2021-12-02 13:09] jcchavezs commented on #6108
I am working on this BTW

On Thu, Nov 11, 2021, 11:22 Juraci Paixão Kröhling ***@***.***>
wrote:

[2021-12-02 14:05] jpkrohling commented on #6492
Issue migrated.

[2021-12-02 14:36] djaglowski opened #6493 "[internal/scrapertest] Add capability to ignore specific attribute values in comparison functions"
In some cases, scraper integration test results may contain an unpredictable attribute value. For example, a `server_name` label is commonly pulled from the runtime, and may be different every time the test runs.

[2021-12-02 18:11] bertysentry opened #6498 "Improve build instructions about `porto` and `make goporto`"
## Issue

The build may fail with the below error message:

[code]

The message is wrong, it should recommend running `make goporto`.

## How to reproduce

Commit a new Go source file like below:

[code]

and run `make ci`. You should get the wrong error message.

Then try running `make goporto`, which will fail with an error message complaining about not finding *porto*.

## Expected behavior

Er

[2021-12-02 19:27] sirianni commented on #6485
Hi @KSerrania thanks for the quick response!

I think the issue may be that we are configuring the OTLP exporter in our application with `DELTA` temporality
[code]

That said, we've set the instrument selector to `InstrumentType.COUNTER` so it shouldn't affect `Summary` (or `ValueRecorder`) instruments.

My guess is that this appears to be causing the `count` and `sum` fields in the Summary to be

[2021-12-02 21:23] dashpole commented on #5663
Thats really interesting.  In theory, we should be querying the target metadata when we go check for metadata.  It probably needs more digging

[2021-12-02 23:25] jamesmoessis commented on #6484
See https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6489

[2021-12-03 01:34] tonglil commented on #1909
Just ran across this scenario where Datadog does something different that makes things harder.

If the request is redirected, the hack above of using no longer works, and DD will show the resource/span name as the _original_ `req.URL.Path` and not the _redirected_ path because it's based on the `route` attribute, which I cannot set after a redirect (unless I rewrite the go otelhttp library to add

[2021-12-03 03:17] p120ph37 opened #6504 "[metricstransformprocessor] Summary datapoint merging is not handled."
**Describe the bug**
In `datapoint_aggregation.go`, the `MetricDescriptor_SUMMARY` type is not handled.

**Steps to reproduce**
1. Get a Summary metric into the pipeline.  For example, the `http.server.requests` metric emitted from Spring Boot + `micrometer-registry-statsd` is a "timer" type, and becomes a "summary" when received by the `statsdreceiver`, with this config:
[code]
2. Apply a `metric

[2021-12-03 04:46] anuraaga commented on #5425
@mx-psi Thanks for the note, `make test` seems to work fine for me now on a Mac! Though lately I've switched to using remote development against a Linux VM so may not find future regressions :P

[2021-12-03 04:46] #5425 closed

[2021-12-03 04:49] anuraaga opened #6505 "Attempt to use unknown class when running make test on Mac"
Running `make test`, I get this dump (different from the old #5425 problem).

[code]

**Environment**
OS: Mac OS X 12.0.1
Compiler(if manually compiled):1.17.2

[2021-12-03 06:00] perrinj3 opened #6506 "influxdbreceiver: Unexpected response status code"
**Describe the bug**
The influxdbreceiver endpoint returns a "202 Accepted status code" instead of the expected "204 No Content" as defined from the InfluxDB API reference.

https://docs.influxdata.com/influxdb/v1.8/tools/api/#status-codes-and-responses-2

**Steps to reproduce**
The error occurs when K6 is configured to output test results to the InfluxdbReceiver endpoint. K6 expects a "HTTP/1.1 2

[2021-12-03 06:35] mjindalmotiv8 opened #6508 "Otel-contrib-collector arm64 is not getting installed on AWS graviton instances"
**Describe the bug**
Otel-contrib-collector arm64 is not getting installed on AWS graviton instances and is returning the error intended for a different architecture.

**Steps to reproduce**
1. Launch an EC2 instance using 64 bit ARM  AMI. For my test, I had used the following `Amazon Linux 2 AMI (HVM) - Kernel 5.10, SSD Volume Type - ami-00f7e5c52c0f43726 (64-bit x86) / ami-0c8ae7b6508eff3f4 (64-

[2021-12-03 09:37] albertteoh commented on #4975
Hi @ankitnayan, my workaround was to filter out any latencies > 24 hours, which isn't nice but it does the job for my use case at least.

[2021-12-03 09:41] jpkrohling commented on #6508
Questions:

- Is the same happening with the non-RPM version of it? https://github.com/open-telemetry/opentelemetry-collector-contrib/releases/download/v0.40.0/otelcontribcol_linux_arm64
- Is the same happening with the core distribution? https://github.com/open-telemetry/opentelemetry-collector-releases/releases/download/v0.40.0/otelcol_0.40.0_linux_arm64.rpm
- Are you able to run it if you compi

[2021-12-03 09:50] jpkrohling commented on #6506
cc @jacobmarble, @8none1

[2021-12-03 09:55] jpkrohling commented on #6504
@james-bebbington, are you still the code owner for this component?

[2021-12-03 11:24] albertteoh commented on #6486
Yup, I can take a look at this.

[2021-12-03 13:16] jpkrohling opened #6510 "Split remote sampling feature from the Jaeger receiver"
As discussed during the latest GC call with @bogdandrutu, it could be beneficial to other components to split the remote sampling proxy from the Jaeger receiver into its own extension.

[2021-12-03 16:57] mjindalmotiv8 commented on #6508
- Is the same happening with the non-RPM version of it? https://github.com/open-telemetry/opentelemetry-collector-contrib/releases/download/v0.40.0/otelcontribcol_linux_arm64
The binary runs fine.

- Is the same happening with the core distribution? https://github.com/open-telemetry/opentelemetry-collector-releases/releases/download/v0.40.0/otelcol_0.40.0_linux_arm64.rpm
I do not see a rom install

[2021-12-03 17:19] dmitryax commented on #3870
I can take the following:
- receiver/fluentforwardreceiver
- receiver/zookeeperreceiver
- internal/kubelet

[2021-12-03 20:03] bogdandrutu commented on #3870
@dmitryax please do a PR :)

[2021-12-04 12:38] boostchicken commented on #3870
exporter/awscloudwatchlogsexporter I am an AWS expert, I can handole that I am sure

[2021-12-05 02:00] boostchicken commented on #6338
This is now changed and fixed.

[2021-12-05 02:00] #6338 closed

[2021-12-05 13:15] robbie-unlikelyai commented on #4296
@aateeqi - I just had a look at upgrading our version, but `DoubleHistogram` is quite different to `DoubleValueRecorder`. Is there no way of recording a value without having it split into histogram buckets any more? It looks like `Gauge` exists, but I'm not sure what state that is in at the moment. Could you possibly give any guidance on the best way to handle this migration?

[2021-12-06 03:57] chenzhihao commented on #6486
hey @albertteoh, I wonder have you got a chance to check this?

[2021-12-06 09:34] mx-psi commented on #3870
Updated the list as of 42a06f91316730473b00cee4284acaddd88bd3ff, there are a lot of components with no codeowner after we moved them from core to contrib

[2021-12-06 09:45] mx-psi commented on #6498
@jcchavezs would you want to take this one?

[2021-12-06 10:27] bertysentry commented on #6498
Actually, if there was a `make prepare` command that would run all checks necessary before submitting a PR, that would be awesome.

[2021-12-06 10:29] jpkrohling commented on #6498
I understand this issue here is only about the documentation/error message. A new feature would deserve a new issue ;-)

[2021-12-06 12:18] albertteoh commented on #6486
At a high-level, this makes sense to me. Please go ahead and create the PR when you get the chance.

[2021-12-06 12:45] jpkrohling opened #6532 "Flaky test - `prometheusreceiver` - TestExternalLabels"
Seen here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4430141105?check_suite_focus=true#logs

Logs:

[code]

[2021-12-06 12:50] hprajapati-splunk opened #6641 "Use `confighttp.NewDefaultClientConfig` function to create object of `confighttp.ClientConfig`"
In [config/confighttp/confighttp.go](https://github.com/open-telemetry/opentelemetry-collector/blob/c27c673a5cd4928b34b71f784c0fb5cee477fa10/config/confighttp/confighttp.go) file 4 new pointer type variables (MaxIdleConns, MaxIdleConnsPerHost, MaxConnsPerHost, IdleConnTimeout) has been introduced. The pointer type is used in order to distinguish the user provided input with no-input as discussed [

[2021-12-06 14:44] boostchicken opened #6535 "TestBallastMemory randomly fails still, even with the old fix"
**Describe the bug**
TestMemoryBallast fails.  The output of the test failure is meaningless as well.  It does not always fail, but I just saw one fail in a pull request because the functionality we wrote to "give it some leeway" said "I expected nothing higher than 88, the value was 89" and it failed the whole PR.

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.
Ju

[2021-12-06 14:46] boostchicken commented on #6535
PS. Happy to be part of the re-write of this

[2021-12-06 14:47] boostchicken commented on #6535
The log from one of my runs

[code]

[2021-12-06 14:49] boostchicken opened #6536 "Many unit tests fail on windows simply because we sent SIGTERM to end the agent or a process"
**Describe the bug**
Run the trace stability tests on windows, all of them will fail because Windows does not support SIGTERM.  Our process handling code in tests should be cross platform if we are.

**Steps to reproduce**
Run any part of the testbed on Windows

**What did you expect to see?**
My test succeed

**What did you see instead?**
I was able to see that my test did succeed by read the log

[2021-12-06 14:53] boostchicken commented on #6536
![image](https://user-images.githubusercontent.com/427295/144867803-b02d3c37-697f-4bae-8a47-ce0d62843b9b.png)

[2021-12-06 15:28] #6465 closed

[2021-12-06 15:29] jpkrohling commented on #6536
Fancy opening a PR fixing it?

[2021-12-06 15:43] jpkrohling commented on #6535
Is the limit currently 80, with a 10% margin?

[2021-12-06 16:05] rmfitzpatrick opened #6540 "k8s_observer node detection"
**Is your feature request related to a problem? Please describe.**
Currently the `k8s_observer` endpoint discovery is limited to pods (and their ports) on a [single node](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/eacfde3fcbd46ba60a6db0e9a41977390c4883bd/extension/observer/k8sobserver/config.go#L28).  This restriction is constrictive in that it requires the "agent" mode

[2021-12-06 16:27] jpkrohling commented on #6540
How would it look like to the end-user, in terms of config?

[2021-12-06 16:44] rmfitzpatrick commented on #6540
@jpkrohling I've added a proposed endpoint here: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6541.

For the `k8s_observer` config update my initial thought was to add two new options:

`observe_nodes` (default false)
`observe_pods` (default true)

And make the existing `node` field optional, where not providing one will lead to setting the `fields.Everything()` selector

[2021-12-06 19:06] aateeqi commented on #3697
@alolita can you assign me to this?

[2021-12-06 19:48] boostchicken commented on #6536
@jpkrohling I do, i've tried many methods and all are ugly. the problem is it always causes the agent to exit with a non zero exist status which these tests see as a failure, are we comfortable saying if they agent started thats enough, it doesnt really matter how it died (as long as that dying was controlled by us)

[2021-12-06 19:49] boostchicken commented on #6536
the code isnt ugly, its just the windows binary doesnt listen to tskill, taskkill, anything since its built to be a service, so you have to HARD kill windows always, unix is a bit more elegant but in either situation its always non zero exit codes

[2021-12-06 19:50] boostchicken commented on #6535
It seems to the be case it does 1.1 multiplier i believe there is a better way here though. what is the ballast and its purpose?

[2021-12-06 20:00] aateeqi commented on #4296
Hey @robbie-unlikelyai from reading [DoubleGaugeBuilder](https://github.com/open-telemetry/opentelemetry-java/blob/main/api/all/src/main/java/io/opentelemetry/api/metrics/DoubleGaugeBuilder.java), it does look like something that you'd be able to use. Note that its an asynchronous instrument and accepts a callback function. More on that [here](https://github.com/open-telemetry/opentelemetry-specif

[2021-12-07 09:15] jpkrohling commented on #6535
Ballast is a general strategy for Go (and other languages?) to trick the GC, so that it runs in a pattern that is closer to how the application behaves. This might help understand it: https://blog.twitch.tv/en/2019/04/10/go-memory-ballast-how-i-learnt-to-stop-worrying-and-love-the-heap/

But if you mean our ballast extension, here it is: https://github.com/open-telemetry/opentelemetry-collector/tr

[2021-12-07 09:18] jpkrohling commented on #6536
Is the new code going to be specific to Windows? If so, that's good enough for me, especially as I'm confident we don't have any maintainers familiar enough with Windows. Any help in this area is welcome.

[2021-12-07 12:18] gfonseca-tc commented on #1909
Hey everyone! I've created my first pull request to this repo adding the option discussed in this issue. Let me know if anything else is needed to get this PR approved!

[2021-12-07 13:33] KSerrania commented on #6485
Hey again @sirianni,

As you mentioned, Summary points do not have any aggregation temporality, so we consider Summary counts and sums to be cumulative in the Datadog exporter.

However, in the points that you are sending, the `StartTimestamp` changes every time, which triggers a reset in our cumulative points cache: https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/34a38f6a52

[2021-12-07 13:50] sirianni commented on #6485
This supports the suspicion that the points are being sent as deltas.  If it

Hi @KSerrania .  I am using a `LongValueRecorder`.  We are still on a somewhat old version of the Java SDK.  It's possible there is a bug in the OTLP exporter for how summaries are exported.

[2021-12-07 13:50] jpkrohling opened #6618 "`lokiexporter`: add complete log record to body"
At the moment, the Loki exporter ignores the log record properties like `Severity` and `TraceID`, causing these to be lost during the translation. While it makes sense to not add them as fields to the Loki record, they could be added as key/value pairs within the body itself, making them be recognized as fields by Loki.

[2021-12-07 14:58] jpkrohling commented on #6508
Thanks, I sent in a PR to fix the problem with the otelcol core service not starting properly. It should be fixed for 0.41.0. That still won't solve the problem with the packaged arm64 problem you reported originally though.

It's strange that the binary you downloaded from the releases page works fine, while the binary within the package does not. I'll try to figure this out, but let me know if y

[2021-12-07 16:11] jpkrohling commented on #6508
I guess I'll have to defer to someone with access to that instance type. @alolita, is this someone on your team could help debug and fix?

[2021-12-07 17:48] JamesJHPark opened #6620 "[Prometheus Remote Write Exporter] Ensure Prometheus Remote Write Exporter respond to OTLP data format from Prometheus Receiver"
**Is your feature request related to a problem? Please describe.**
In regards to the issue [#6376](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/6376), the metric builder does not assign `staleNaN` values to the histogram and summary values for failed scrapes from Prometheus scrape loop. Therefore, the proposed possible solution is to use the OTLP format in the OTLP Prom

[2021-12-07 19:55] Prabakaranmkd opened #6625 "Filelog Receiver output is not as JSON format"
I'm trying to export application log file to datadog using opentelemetery filelog receiver and oltphttp exporter

**Steps to reproduce**
[code]

**What did you expect to see?**

Expecting JSON format log like
[code]

**What did you see instead?**

getting log output as plain text
[code]

[2021-12-07 23:27] khanhntd commented on #4988
Hey @rakyll, good news is that the current prometheusremotewriteexpoter has the [retry and timeout setting](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/34a38f6a52af70f7de946738eda21ca6a1b2c452/exporter/prometheusremotewriteexporter/config.go#L30-L31).

[2021-12-07 23:28] khanhntd commented on #4988
Hey @alolita. please help me close this issue since the feature has existed.

[2021-12-08 05:27] boostchicken commented on #6536
@jpkrohling I was thinking that,  use the +build flags for the compiler and just make two child process management modules.

[2021-12-08 05:28] boostchicken commented on #6535
Ahhh ok, thank you for the education.  I have read that before, never had use for it, I can see how its critical here.  How do we test this better?  If my PR's fail on it what do I do?

[2021-12-08 08:22] jpkrohling commented on #6535
We've been simply bumping this from time to time, with the idea that we'd catch big (>10% regressions) from individual PRs. The price to pay is that regular tests would start failing after some time, as our memory footprint increases naturally.

I'm not sure if there's a threshold where we would stop and investigate why we are consuming ~90MB of memory, as I'm not sure we should really be recommen

[2021-12-08 08:35] jpkrohling commented on #6625
That's the logging exporter in action, not related to the Datadog exporter in any way. Or are you saying that you see this in Datadog?

[2021-12-08 08:40] #4988 closed

[2021-12-08 09:09] boostchicken commented on #1852
@mx-psi it's all done and all checks are passing, please give the PR some love and we can merge it in :)

[2021-12-08 09:13] boostchicken commented on #6535
I agree, nobody should take the kitchen sink.  There are distro builders for this very purpose though?  Or do we need to develop a way to help people pick and chose better with the contrib repo?

[2021-12-08 09:31] jpkrohling commented on #6535
There was a discussion in the past, perhaps even recorded as an issue, about building a web interface for the builder, a la https://code.quarkus.io, where people can pick and choose the components they want/need and get a binary as a result. We are still a bit far from that, though.

[2021-12-08 10:24] Prabakaranmkd commented on #6625
Yes, each line exported to datadog as different log entry

<img width="733" alt="datadog-screen" src="https://user-images.githubusercontent.com/94117390/145191967-73cf0f06-b857-4215-a8e9-812d8d77aba9.png">

[2021-12-08 10:25] Prabakaranmkd commented on #6625
I want to put them all as single log entry with JSON format

[2021-12-08 12:17] jpkrohling commented on #6625
I believe this might be some config problem on your side, but I'll tag someone from datadog to help you further. Perhaps @mx-psi? Or @KSerrania?

[2021-12-08 12:20] jpkrohling commented on #5859
Happened again:
https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4455720915?check_suite_focus=true

[2021-12-08 12:21] jpkrohling commented on #5859
@keitwb, are you able to look into this?

[2021-12-08 13:05] jpkrohling opened #6631 "Create the initial skeleton"

[2021-12-08 13:05] jpkrohling opened #6632 "Add the HTTP server"

[2021-12-08 13:05] jpkrohling opened #6633 "Remove remote sampling endpoint from the Jaeger receiver"

[2021-12-08 13:27] jpkrohling commented on #6228
Seen here as well: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4457605222?check_suite_focus=true

[2021-12-08 13:27] jpkrohling commented on #6228
@PaurushGarg, do you have any progress to share?

[2021-12-08 15:04] djaglowski opened #6636 "[mysqlreceiver] - Client is only initialized in start function"
**Describe the bug**
The mysqlreceiver only initializes a client in its start function. This leaves it vulnerable to transient errors.

**What did you expect to see?**
Client should be initialized in the scrape function.

[2021-12-08 15:06] djaglowski opened #6637 "[apachereceiver] - Client is only initialized in start function"
**Describe the bug**
The apachereceiver only initializes a client in its start function. This leaves it vulnerable to transient errors.

**What did you expect to see?**
Client should be initialized in the scrape function.

[2021-12-08 17:57] #6631 closed

[2021-12-08 18:01] PaurushGarg commented on #6228
@jpkrohling I have raised a PR for this on open-o11y for approval by @Aneurysm9 before I raise it here.. Link for OR: https://github.com/open-o11y/opentelemetry-collector-contrib/pull/1026. As per my understanding, this is happening because intention of this test is respond to have HttpTest server respond to at least 8 requests --- but it only responds to first 8 requests because of the way select

[2021-12-08 18:10] #4892 closed

[2021-12-08 21:53] #6508 closed

[2021-12-08 21:53] xibz opened #6662 "status code parsing in awsxrayexporter should parse strings"
Java tracing libraries like brave, which is widely used in the Java community, set all tag key and values as strings. This breaks the current implementation of the AWS Xray exporter as it expects status code to be an int. However, since we know the type of the value, we should check to see if it is a string, and if so, parse.

[2021-12-08 23:23] bogdandrutu commented on #6662
Brave emits "zipkin" format, so you probably use the zipkin "reeiver" to receive data from Brave. I think the zipkin receiver should do this work and inside collector we should have the status as int.

[2021-12-08 23:59] xibz commented on #6662
Hmmm, that's also a good place to do it. It definitely makes it consistent across all things considering.

[2021-12-09 00:25] xibz commented on #6662
So realized there's a `parse_string_tags` in zipkin receiver's config. Closing! Sorry for the noise.

[2021-12-09 00:25] #6662 closed

[2021-12-09 01:56] amccool commented on #1800
`ILoggerProvider` implementation using rx.net and batching https://github.com/amccool/AM.Extensions.Logging.ElasticSearch

[2021-12-09 08:25] jpkrohling opened #6667 "Contribution guideline - add new component to tests"
New components are expected to be enabled in the related component-specific tests like done in this PR:
https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6517

We do not seem to have this documented anywhere at this moment and we should. This improvement to the docs should come accompanied by reference PRs for new components. For instance, a new extension could have its first

[2021-12-09 08:25] jpkrohling commented on #6667
I can work on this, but it's open for grabs in case someone else is interested. You did something similar recently, @MovieStoreGuy. Would you like to work on this?

[2021-12-09 08:49] jpkrohling opened #6668 "Add missing extensions to extensions test"
Relates to #6667, the components tests need to be synchronized. At least the following extensions are missing from the extensions test:

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/5da06f3b04a2e8f9900b7644f1dd8095520f1a6b/internal/components/extensions_test.go

- OIDC auth
- OAuth2 client auth
- ASAP client auth
- Jaeger remote sampling (not completed yet)

[2021-12-09 08:52] jpkrohling opened #6669 "ASAP client auth missing on the list of components"
The ASAP client auth extension was added as part of the PR #6627, but it's missing from the list of components here:

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/internal/components/components.go

It should also be added to the extensions test (#6668 and #6667).

[2021-12-09 08:52] jpkrohling commented on #6669
@jamesmoessis, would you like to work on this one?

[2021-12-09 08:59] jamesmoessis commented on #6669
@jpkrohling sure thing I can pick this up

[2021-12-09 09:01] jamesmoessis commented on #5930
@MovieStoreGuy this is implemented now, can be closed

[2021-12-09 10:08] jpkrohling opened #6671 "Add OTLP HTTP support for tracegen"
During the SIG Collector meeting, @bogdandrutu suggested the tracegen to add support for transmitting data using OTLP HTTP as an option. The default should still be gRPC though.

[2021-12-09 10:14] jpkrohling commented on #3870
@pavolloffay, as the original author of the `kafkaexporter`, would you be open to being its code owner?

https://github.com/open-telemetry/opentelemetry-collector/pull/1439

[2021-12-09 10:41] gillg opened #6672 "Journaldreceiver - Add documentation and build an "official" docker image for journald-gateway"
**Is your feature request related to a problem? Please describe.**
Journald receiver has been implemented in a non trivial way in https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/2332 now according to https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/2332#issuecomment-936726272 we should help users to use it.

**Describe the solution you'd like**

**S

[2021-12-09 11:04] pavolloffay commented on #3870
I can take care of it

[2021-12-09 18:52] MrAlias opened #6675 "Jaeger translation of span status to pdata incorrectly parsed as integer"
## Description

The `jaegerthrift` receiver parses the `otel.status_code` tag as an integer.

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/3de607f6cd38673924397f8a3c9158d89b491207/pkg/translator/jaeger/jaegerproto_to_traces.go#L261

The [OpenTelemetry specification](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.8.0/specification/trace/sdk_exporters

[2021-12-09 19:25] JamesJHPark opened #6676 "JS Docs are not getting updated"
The docs on github.io are published with releases. Currently, the OpenTelemetry SDK [Reference](https://open-telemetry.github.io/opentelemetry-js/) does not reference the recent changes after prior release, including the updates to links, compatibility matrix, and upgrade guidelines, documented in the READ.md file. The OpenTelemetry SDK Reference doc needs to be updated to reflect the released pac

[2021-12-09 19:26] jpkrohling commented on #6676
This is probably the wrong repository for this issue.

[2021-12-09 20:46] MrAlias commented on #6675
I'm working on a resolution for this.

[2021-12-09 23:01] cyrille-leclerc commented on #6492
@benbek sorry to hear you are facing a problem. As your issue seems to be located in the Elastic OTLP ingest layer, can you please create a ticket on https://github.com/elastic/apm-server ? The problem doesn't seem to be related to the OTel Collector.

[2021-12-09 23:03] cyrille-leclerc commented on #5573
Hello @stanosamek,
The Otel Collector Export for Elastic has been deprecated and is replaced by the native support of OTLP in Elastic.
Can you verify you use the OTLP exporter? The migration is documented on https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/elasticexporter

[2021-12-09 23:04] cyrille-leclerc commented on #5935
Please see comment https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/6492#issuecomment-990380452

[2021-12-09 23:16] benbek commented on #6492
Hi @cyrille-leclerc, first of all thank you for responding. Seeing the issue does _not_ reproduce if, as I mentioned, the metrics are sent directly to the apm server, are you still certain the apm server is the culprit? If so, could you please elaborate on why do you think that's the case?

Appreciate your assistance 😄

[2021-12-10 00:47] MovieStoreGuy commented on #6667
For sure, please assign it to me :)

[2021-12-10 01:26] bogdandrutu commented on #6667
@MovieStoreGuy one extra example https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6680#pullrequestreview-828358434 :)

[2021-12-10 01:28] MovieStoreGuy commented on #6667
No worries, I can also work with @jamesmoessis on that PR since we are on the same team in Atlassian.

[2021-12-10 01:28] bogdandrutu commented on #3870
@mx-psi don't let people to have second thoughts :)) when they say yes for a component, quickly add them to the list.

[2021-12-10 01:30] bogdandrutu commented on #6667
@jpkrohling we have this in core: https://github.com/open-telemetry/opentelemetry-collector/blob/main/CONTRIBUTING.md#when-adding-a-new-component

[2021-12-10 01:44] MovieStoreGuy commented on #6667
From my understanding of the issue, we should make it clear that extensions (and additional components) are subjected to the integration compliance testing and require a reasonable excuse as to why they are not involved.

To be honest, I wasn't aware of this until I read further into the PRs linked that it was an expectation.

[2021-12-10 08:19] jpkrohling commented on #6667
Same here, when reading the following, I thought about unit tests of related to the component itself:

Or did you mean something else, @bogdandrutu?

[2021-12-10 09:01] jpkrohling commented on #5573
cc @boostchicken, as code owner for the attributes processor.

[2021-12-10 09:38] jpkrohling opened #6688 "Adopt a pattern for PR titles"
In order to facilitate the release process, I wanted to propose a guideline for PR titles. Feedback from @open-telemetry/collector-contrib-approvers is appreciated.

There are currently two main patterns I'm seeing related to PR titles, in addition to the "free format" that most are following. The two patterns are:

1. `componentnametype`: description
1. [type/componentname] description

Examples:

[2021-12-10 09:39] jpkrohling opened #6689 "Require changelog entry for every PR"
Similar to what we have already in the core repository, every change should be accompanied by a changelog entry. Exceptions are marked with the "Skip changelog" label in the PR.

If @open-telemetry/collector-contrib-approvers agree with this proposal, I'll send in a PR implementing this check based on what we have for the core repository.

[2021-12-10 09:40] jpkrohling opened #6690 "Require sponsor for new components"
As discussed during the last SIG call, new components will only be accepted with a new code owner and one sponsor, in case the code owner isn't an approver or maintainer. The sponsor is responsible for reviewing PRs for that component. For vendor-related components, if a volunteer cannot be found to be the sponsor, one approver will be selected in a round-robin fashion, starting in alphabetical or

[2021-12-10 09:58] cyrille-leclerc commented on #5573
Thanks @stanosamek . Feel free to reach out on the elastic/apm-server repository if you face issues in our otlp intake.

[2021-12-10 10:05] morigs commented on #6492
Yeah, this is definitely an otlp/elastic exporter issue. This should be either fixed or the exporter should be marked as deprecated IMO.

[2021-12-10 10:27] jpkrohling commented on #6492
cc @axw @simitt @jalvz

[2021-12-10 10:28] jpkrohling commented on #6532
Any news about this flaky test?

[2021-12-10 11:01] cyrille-leclerc commented on #6492
Thanks @morigs from what I understand, the `otlp/elastic` exporter is the standard OpenTelemetry OTLP exporter so I'm wondering if the problem would reside in the Otel Collector or in the Elastic OTLP intake.

@benbek regarding your statement

Do _"directly"_  means:
* A plain Otel Collector _without_ the [Attributes Processor](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree

[2021-12-10 14:40] benbek commented on #6492
Hi everyone, thank you for getting back to this issue.

In my statement, "directly" meant the second option:

I did not try that. The only processors enabled according to the configuration are `memory_limiter`, `batch` and `resource/pii`. I'm told they are very common. Let me know if you think disabling them would help.

[2021-12-10 15:00] dashpole commented on #6532
I'll take a look today

[2021-12-10 15:50] jpkrohling opened #6694 "Add the gRPC server"

[2021-12-10 15:50] jpkrohling opened #6695 "Tie the client config manager proxy"

[2021-12-10 16:41] tigrannajaryan commented on #6688
I have a slight preference for `componentnametype: description` since it is easier to copy/paste the directory name.

[2021-12-10 16:51] cyrille-leclerc commented on #6492
@benbek could you please test disabling the processors, particularly the `resource/pii` and `batch` processors? Can you please also test with a fresh version of the Otel Collector (>=0.40)?

[2021-12-10 16:59] djaglowski commented on #6672
Can we separate the issue of adding support for `journald-gateway` from the question of what we should do to help users with deploying the dependencies?

I agree that it makes sense to enhance to the log-collection library to enable usage of `journald-gateway`. I'm not clear on whether this should be within the same `journald_input` operator or not. I think this would largely depend on how much th

[2021-12-10 20:36] tmorrisonsfx opened #6702 "Update example configuration for metrics transform processor"
The configuration on https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/processor/metricstransformprocessor/README.md#configuration appears to be missing `metricstransform:` before ` transforms:`. This is confusing to customers.

[2021-12-10 21:05] #6483 closed

[2021-12-10 21:06] dmitryax commented on #6483
Resolved in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6488

[2021-12-10 23:16] Aneurysm9 commented on #6688
I have a slight preference for `type/componentname` since it reflects the directory structure and points to where the changes can be found, but I would be fine with either.

[2021-12-10 23:17] pavankrish123 opened #6704 "[oidcauthextension] Implement newly added HTTP methods in ServerAuth extension Interface."
PR open-telemetry/opentelemetry-collector#4506 adds support to enable authentication for HTTP Receivers and adds new HTTPInterceptor method to extension interface.  We need to implement the missing HTTP Methods.

There is only one server side auth extension today

- OIDC.

cc: @jpkrohling

[2021-12-10 23:18] pavankrish123 commented on #6704
@jpkrohling I can take a jab at this if you  haven't already started on this - Please and thank you.

[2021-12-10 23:19] dmitryax commented on #6688
I have a slight preference for "[type/componentname] description". It is easier to read for me.

[2021-12-10 23:29] pavankrish123 commented on #6704
Never mind - I found the PR #6513 . Closing this request then.

[2021-12-10 23:29] #6704 closed

[2021-12-11 00:17] #6535 closed

[2021-12-11 02:48] knvpk commented on #2835
what is the progress on this feature?

[2021-12-11 16:25] lchayoun opened #6714 "Assets for release 0.41.0"
Please add the missing assets

[2021-12-11 20:21] KingJ commented on #6714
I've been trying to trace back why they weren't published automatically.

[Here's the build output for the v0.41.0 tag](https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4474550370?check_suite_focus=true). The "Push Docker Image" and "Create Github Release" steps were skipped, as the "Verify Distribution Files Exist" step output the following error;

[code]

The earlier "Downl

[2021-12-12 08:58] benbek commented on #6492
Hi,
It is going to take a while before I could dabble in doing that – the latest Collector version in the helm chart is 0.37.1 right now. I would need to wait until they release a new version.

[2021-12-12 15:18] nemoshlag commented on #6671
Hi 👋  So I guess exposing it as an optional flag? You can assign it to me :)

[2021-12-12 21:26] cyrille-leclerc commented on #6492
@benbek 0.37.1 is Oct 2021, it should be ok, I thought the collector had a slower release cadence.
Please tell us what's the result of your test with 0.37.1

[2021-12-13 09:14] jpkrohling commented on #6671
It's yours! Controlling this as a flag is certainly the way to go.

[2021-12-13 09:25] jpkrohling commented on #6688
I have a strong preference for a decision, so I would vote for @dmitryax's proposal, as I can copy/paste the directory and just have to remove the final part of the path to clean it up if needed:

- [extension/jaegerremotesampling], no need to clean up anything
- [extension/oidcauth], removed suffix "extension"

[2021-12-13 09:47] mx-psi commented on #6689
#6093 would address this, but I share @anuraaga's concerns here https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6093#pullrequestreview-794851722: with the current approach and repo's activity this means a lot more merge conflicts

[2021-12-13 09:54] mx-psi commented on #6688
I have been using `[type/componentnametype]` which is a direct copy-paste of the directory name, but a bit repetitive; @dmitryax's alternative is simpler and still points to the directory in some way so I would favor that one.

A remaining question is what to do with PRs that deal with several components or that deal with non-component modules (e.g. testbed or internal modules).

[2021-12-13 10:56] jpkrohling commented on #6688
We can treat them as exceptions, like these ones we had during the last release:

- Remap arm64 to aarch64 on rpm/deb packages (6635)
- Update log-collection library to v0.23.0 (6593)

[2021-12-13 10:56] jpkrohling commented on #6689
Not only that, but each PR has to be opened in two steps: send in the PR, get a PR number, update the changelog with the PR number.

[2021-12-13 14:34] tamir-michaeli opened #6720 "Invalid config examples in windowsperfcountersreceiver README.md"
**Describe the bug**
Documentation issue:
The provided config examples in the windowsperfcountersreceiver README are invalid. All having the same mistake of using "counters" instead of "perfcounters".
For example, this is an invalid config taken from the readme.

[code]

valid config can be seen under testdata:
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/eacfde3fcbd46ba6

[2021-12-13 14:57] tigrannajaryan commented on #6688
"[type/componentname] description" works for me, I don't mind. Let's choose and one stick with it.

[2021-12-13 15:18] tigrannajaryan opened #6721 "Review fluentbitextension from security perspective"
fluentbitextension allows executing flientbit executable and accepts the command line to execute.

This is potentially a security problem, especially coupled with upcoming remote configuration capabilities. We need to make sure the Collector cannot be compelled to execute arbitrary code.

[2021-12-13 15:19] tigrannajaryan opened #6722 "Review prometheusexecreceiver from security perspective"
prometheusexecreceiver allows executing prometheus exporters and accepts the command line to execute.

This is potentially a security problem, especially coupled with upcoming remote configuration capabilities. We need to make sure the Collector cannot be compelled to execute arbitrary code.

[2021-12-13 15:24] benbek commented on #6492
I can confirm version 0.37.1 is working _with_ the processors 🎉
Many thanks for anyone involved!

[2021-12-13 15:24] #6492 closed

[2021-12-13 15:25] benbek commented on #5935
Working with helm chart 0.8.1 / app version 0.37.1 🎊

[2021-12-13 15:25] #5935 closed

[2021-12-13 15:28] tigrannajaryan commented on #6722
@open-telemetry/collector-contrib-approvers @keitwb I think we have a dangerous functionality in prometheusexecreceiver. It allows executing arbitrary commands with arbitrary parameters.

Some possible ways we can reduce the risks:
- Disallow executing arbitrary commands. Limit them to a certain directory location and/or filename pattern, which can match only Prometheus exporters.
- Disallow passi

[2021-12-13 15:29] tigrannajaryan commented on #6721
See also related https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/6722

[2021-12-13 15:40] tigrannajaryan commented on #6721
This is similar to what I posted in #6697

@open-telemetry/collector-contrib-approvers I think we have a dangerous functionality in fluentbitextension. It allows executing arbitrary commands with arbitrary parameters.

Some possible ways we can reduce the risks:
- Disallow executing arbitrary commands. Limit them to a certain directory location and/or filename pattern, which can match only Fluentb

[2021-12-13 16:03] jpkrohling commented on #6721
This specially sensitive after the log4j CVE. I'll take a look at this extension and provide my feedback soon.

[2021-12-13 16:12] keitwb commented on #6722
Another possibility is to make these receivers work when the config is hardcoded into the config file used directly by the collector, but disable them when there is any kind of remote config going on.  Not sure how easy this would be to distinguish but it would mitigate concerns for potential remote config exploits.  Presumably if somebody can alter the config file on disk directly, they probably

[2021-12-13 17:48] Aneurysm9 commented on #6722
I'm not sure that we can distinguish between configuration sources at an individual configuration item level.  Even if we could, I'm not sure that it is helpful given that network filesystems exist.  As for whether the ability to modify the configuration is equivalent to the ability to run executables, I'm not sure that is the case.  In the event that the collector is running as a user with elevat

[2021-12-13 17:49] Aneurysm9 commented on #6721
@tigrannajaryan is this the right link?  I don't see anything related there.

[2021-12-13 17:51] rmfitzpatrick opened #6723 "Prefix Kubernetes specific observer endpoint types with "k8s.""
The existing pod and port endpoint types are only applicable for Kubernetes but aren't prefixed with `k8s` like the existing class of resource attributes are: https://github.com/open-telemetry/opentelemetry-specification/blob/v1.8.0/specification/resource/semantic_conventions/k8s.md. This isn't necessarily a problem in itself, but as more endpoint types are added in the future conflicts are more l

[2021-12-13 18:05] tigrannajaryan commented on #6721
Wrong link. It should be https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/6722

[2021-12-13 18:15] Aneurysm9 opened #6750 "Review `jmxreceiver` from a security perspective"
`jmxreceiver` allows executing Java applications and accepts the JAR to execute as well as arbitrary Groovy script.

This is potentially a security problem, especially coupled with upcoming remote configuration capabilities. We need to make sure the Collector cannot be compelled to execute arbitrary code.

See also: #6721 #6722

[2021-12-13 19:27] #4446 closed

[2021-12-13 23:03] alolita commented on #6439
This is complete. Closing.

[2021-12-13 23:03] #6439 closed

[2021-12-14 03:03] Nuatu commented on #6210
I'd like to work on this.  This will be my first contribution to this repo.

Just read through the contribution docs and signed the CLA.

I read through the relevant files/comments in collector-contrib [PR#6141](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6141/files) and collector [PR#4452](https://github.com/open-telemetry/opentelemetry-collector/pull/4452/files).

Shou

[2021-12-14 05:22] MovieStoreGuy commented on #3870
I am happy to be added as a code owner for kafka.

[2021-12-14 06:17] MovieStoreGuy commented on #5930
Hey @jpkrohling,

I can see that it has been added into the collector (include the tests for extensions) here https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6680.

Could I ask that you mark this as done ? (Not sure that is a github state, I am just so use to Jira I don't know any different).

[2021-12-14 06:58] atoulme commented on #2835
Hey folks, I added a file exporter here: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6712
This is just outputting pipeline data as JSON.

[2021-12-14 07:00] atoulme commented on #2835
Because this format is not well suited for s3, I have started working on Parquet support for OpenTelemetry.
Here is a draft PR: https://github.com/open-telemetry/opentelemetry-proto/pull/346

Once OpenTelemetry data can be serialized in Parquet support, we can create a receiver and exporter for Parquet files.

[2021-12-14 07:09] delanym opened #6796 "tracing example broken"
The docker-compose tracing example doesn't work.

- The otel-collector is binding port 9411, but this port is already taken by the zipkin service
- The config file also includes the jaeger-thrift exporter, which I see has been removed

It would also be nice to have an example that comes up immediately. All the examples build the collector from source. The collector fails to build in the tracing ex

[2021-12-14 08:29] lchayoun commented on #6714
I think this issue should be reopened.
The issue is fixed for future versions, but not for 0.41.0

[2021-12-14 08:55] jpkrohling commented on #6796
Are you open to sending in a PR with the fixes and improvements?

[2021-12-14 09:00] delanym commented on #6796
Im a new user learning the basics. Why else would I be looking at the demos?

On Tue, 14 Dec 2021 at 10:55, Juraci Paixão Kröhling <
***@***.***> wrote:

[2021-12-14 09:31] #5930 closed

[2021-12-14 09:34] jpkrohling commented on #6796
That's fine, it was worth the question. Many newcomers do end up getting into a working state and are open to contributing back fixes to the documentation.

[2021-12-14 09:42] jpkrohling commented on #2835
I'm open to being a sponsor for the Parquet components on contrib. I think it would be a great addition.

[2021-12-14 10:53] jpkrohling opened #6801 "`lokiexporter`: verify resources and attributes encoding for JSON"
When using the JSON encoding, the lokiexporter might not be taking the resources and attributes into consideration, making them not be recognized as fields in the backend/UI.

[2021-12-14 11:06] #6618 closed

[2021-12-14 11:09] HuBaX opened #6802 "AND policy"
Currently, in the tailsamplingprocessor only one of the given policies has to be fulfilled for a trace to be sampled. With this approach, however, it is not possible to define complex rules for sampling a trace. It is not possible to combine multiple policies to build much more complex policies out of the existing policies. The composite policy only offers the possibility to link rate limiting wit

[2021-12-14 11:13] jpkrohling commented on #6802
@pmm-sumo, was it you that had something similar ready as well?

[2021-12-14 11:15] jpkrohling commented on #6702
@james-bebbington, I'm assigning this to you as you are listed as the owner of this component. Feel free to unassign if inappropriate.

[2021-12-14 11:15] jpkrohling commented on #6702
@tmorrisonsfx, if you have a working solution, would you mind opening a PR with the fix?

[2021-12-14 11:21] pmm-sumo commented on #6802
@jpkrohling yes, we went with a slightly different way with [cascadingfilterprocessor](https://github.com/SumoLogic/opentelemetry-collector-contrib/tree/main/processor/cascadingfilterprocessor). Each policy (which we now call "trace accept rule") has a number of attributes which can be set and if present, are considered "AND". By having several policies, one could also achieve "OR" (either one pol

[2021-12-14 12:17] arminru commented on #6714
@jpkrohling v0.41.0 is the latest release and it's not available on Docker Hub (https://hub.docker.com/r/otel/opentelemetry-collector-contrib/tags), for example. Would it be possible to trigger the workflow manually or would one need to wait for the v0.42.0 release?

[2021-12-14 12:25] lchayoun commented on #6714
Also in the releases page, all the assets are missing

[2021-12-14 12:28] jpkrohling commented on #6714
I understand that, but my question is if you need anything that is *only* available as part of 0.41.0, or if you can wait for 0.42.0. I'm not sure the workflows can be triggered manually from the main branch outside of the release tag (0.41.0). I would rather create 0.41.1 instead, but that does involve some work which I would try to avoid unless absolutely necessary.

Once we start producing the

[2021-12-14 12:33] jpkrohling commented on #6720
Would you be open to opening a PR addressing this?

[2021-12-14 12:37] tamir-michaeli commented on #6720
Sure. Im having issues with finding working config for metricstransform processor with this receiver as well, so once i will figure it out i will open a PR.

[2021-12-14 16:58] arminru commented on #6714
I see. We don't intend to use that particular version but pull in all releases from Docker Hub for our integration tests. If the assets for 0.41.0 are not available anywhere though we can skip that one as likely no one will be using that particular version unless they build it themselves, so it should be fine. No need from our end to put extra work into publishing it properly then.

[2021-12-14 17:48] bogdandrutu commented on #6636
Is the client not smart enough to "reconnect" in case of a transient error?

[2021-12-14 19:38] alolita commented on #6620
Completed. Closing.

[2021-12-14 19:38] #6620 closed

[2021-12-14 20:06] djaglowski commented on #6636
You're right, the client manages a pool of connections, creates new ones as necessary, etc. As long as instantiation of the client succeeds, it will not fail on transient errors.

Given the above, I still wanted to understand whether it is appropriate that a failure to instantiate the client should make the collector fail to run. In short, it is correct in the case of the `go-sql-driver/mysql` dri

[2021-12-14 20:06] #6636 closed

[2021-12-14 20:08] djaglowski opened #6804 "[receiver/mysql] Add integration tests"
Metric scrapers such as `nginxreceiver` and `jmxreceiver` include container-based integration tests. This component should contain one as well. Without such a test, we are not exercising the scraper's client code.

[2021-12-14 22:21] gandhipr commented on #6505
https://github.com/golang/go/issues/49138 check if they're related.

[2021-12-14 22:51] hyunuk opened #6805 "[Prometheus Exporter] Ensure Prometheus Exporter respond to OTLP data format from Prometheus Receiver"
_This issue is identical with #6620 but for Prometheus Exporter._

**Is your feature request related to a problem? Please describe.**
In regards to the issue #6376, the metric builder does not assign staleNaN values to the histogram and summary values for failed scrapes from Prometheus scrape loop. Therefore, the proposed possible solution is to use the OTLP format in the OTLP Prometheus Receiver

[2021-12-14 23:23] codeboten commented on #6216
This was done.

[2021-12-14 23:23] #6216 closed

[2021-12-14 23:24] bertysentry commented on #6722
I understand the security concerns with remote config, but this remote config feature (as I understand it) is not present yet.

WRT the security issue of having a file that defines commands to be executed, I fail to see how this is any different than any shell script, which is literally a text file containing commands to be executed. It's the sysadmin's responsibility to make sure these files cann

[2021-12-15 07:45] NathanielRN opened #6808 "SerializationException in awsxrayexporter if you alternate between compliant X-Ray Trace IDs"
**Describe the bug**

If you configure your OTel SDK to generate AWS X-Ray compliant Trace IDs, but then later a child trace uses a non-compliant X-Ray Trace ID (i.e. W3C format), the Collector will crash due to a `SerializationException` error in the `awsxrayexporter`.

This behavior has a notable use case for AWS Lambda users. When their Lambda function starts, they may already be executing with

[2021-12-15 08:40] lchayoun commented on #6714
Any reason not to create the assets for version 0.41.0?

[2021-12-15 10:27] jpkrohling commented on #6714
The assets are created during the release process, out of a tag (0.41.0). We'd need a new tag, 0.41.1, and go through the regular release process, which takes a couple of approvals on a couple of PRs.

Generating them manually and attaching them manually to the release *might* work, but I need to do some investigation. Doing that prevents me from doing other work, hence the question about the crit

[2021-12-15 10:37] jpkrohling commented on #1380
I'm closing, as this particular one seems to have been fixed.

[2021-12-15 10:37] #1380 closed

[2021-12-15 10:42] jpkrohling opened #6809 "Flaky test - TestTrace10kSPS/JaegerGRPC"
Seen here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4523233118?check_suite_focus=true

[code]

[2021-12-15 12:34] mx-psi commented on #6625
Hey there @Prabakaranmkd! We currently do not support sending OTLP logs directly to Datadog (neither on the `http-intake.logs.us3.datadoghq.com/api/v2/logs` endpoint nor in any other endpoint). To send logs to Datadog, they need to be in [this documented API format](https://docs.datadoghq.com/api/latest/logs/#send-logs).

#2651 tracks logs support for our Datadog exporter and there is a community

[2021-12-15 12:34] #6625 closed

[2021-12-15 12:51] jpkrohling commented on #6417
Can you reproduce the problem by using the same config outside of Kubernetes, with the filelog receiver pointing to a local file?

[2021-12-15 13:07] jpkrohling commented on #6808
@anuraaga, I'm assigning this to you as you are a code owner for this component.

[2021-12-15 13:24] jpkrohling commented on #6722
My focus on the review is to make sure that *users* cannot trick the collector into running untrusted code. Components that spawn processes are intrinsically more prone to errors in this area.

[2021-12-15 13:31] jpkrohling commented on #6667
@MovieStoreGuy I believe this is completely done now, but do reopen if there's still something missing.

[2021-12-15 13:31] #6667 closed

[2021-12-15 14:03] jpkrohling opened #6813 "[exporter/signalfx] hostmetadata fails to compile on multiple platforms"
When building the contrib distribution as part of the releases repository, the signalfx exporter fails to compile, due to:

[code]

cc @pmcollins @asuresh4 @dmitryax

[2021-12-15 14:05] jpkrohling commented on #6813
.Note: I was able to run `goreleaser` locally without problems, so, not sure this is happening only in the CI

[2021-12-15 14:42] sethAmazon commented on #6808
I'll take a look. Please assign yo me.

[2021-12-15 14:52] djaglowski opened #6814 "[receiver/zookeeper] Validate expected scraper test results with scrapertest package"
Validation of scraper test results has traditionally been very inconsistent and incomplete. The scrapertest package provides an easy way to validate the result much more thoroughly, and also has the benefit of providing a clear commit history when the expected result changes.

[2021-12-15 15:13] tigrannajaryan commented on #6722
@bertysentry This is currently work in progress, with 2 separate initiatives likely bringing some sort of ability to get configuration from a remote source. We need to prepare for this.

If you look at this issue in isolation, only as an ability to specify commands in a file, sure, it appears equivalent to a shell script. However combined with remote configuration it is a different story. If our c

[2021-12-15 15:16] tigrannajaryan commented on #6722
@jpkrohling  Are you thinking about users who have access to local configuration files of the Collector? This scenario was not part of the security threats I was thinking about. Are you assuming a user who has less privileges than the Collector process but who can edit the Collector's config file? Isn't this a very bad sysadmin practice to allow editing a config file of a privileged process? Do we

[2021-12-15 15:25] jpkrohling commented on #6722
No, I'm thinking about non-sanitized input consumed by those components.

[2021-12-15 15:59] tigrannajaryan commented on #6722
I see. That's a different valid attack vector. I am not sure why you think externally executed processes are more prone to errors to validate/sanitize their input compared to the code that lives in the Collector process, can you clarify?

[2021-12-15 16:05] jpkrohling commented on #6722
When using user-provided input as part of a string that does to, say, a log body, there's no problem if it's concatenated with safe input. When loading files or executing external processes (via `os.Exec`), a non-sanitized input might mean that a different file will be loaded/executed. It's quite possible that none of those components are mixing trusted with untrusted inputs when dealing with file

[2021-12-15 17:08] #6809 closed

[2021-12-15 17:12] jpkrohling commented on #6702
@punya, are you stepping in for the metrics transform processor?

[2021-12-15 17:40] dashpole commented on #6532
Panic fixed by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6476.  This can be closed.

[2021-12-15 17:41] codeboten commented on #6688
"[type/componentname] description" works for me as well, to make it easy for releases, are we ok with the same pattern in the changelog/release notes?

[2021-12-15 17:53] dashpole commented on #6228
This is fixed

[2021-12-15 18:06] bertysentry commented on #6722
We are on the same page!

Personally, I think that remote configuration introduces serious potential security breaches for a monitoring/observability tool, that are not limited to trigger the execution of an arbitrary command line, like for example:

* stop logs pipelines so that the attackers actions are not visible
* declare a new exporter to send trace data to the attacker, to analyze the inter

[2021-12-15 18:12] #6228 closed

[2021-12-15 19:25] keep94 opened #6819 "[tanzuobservability] Send internal metrics through OTEL instead of directly to tanzuobservability"
**Is your feature request related to a problem? Please describe.**
Currently the tanzuobservability exporter sends internal metrics directly to tanzuobservability.  What if customers want to send these internal metrics somewhere else?

**Describe the solution you'd like**
tanzuobservability internal metrics should be sent using the open telemetry API so that customer can control where they are sen

[2021-12-15 21:05] #6532 closed

[2021-12-16 07:49] imrenagi opened #6824 "Data from OTLP receiver does not show up on Prometheus Exporter"
Hi,

I'm trying to use otel-collector to send observability data to those platform:
* newrelic (both trace and metrics)
* prometheus (metrics only)

I managed to send both trace and metrics data to newrelic. I can confirm the trace and metrics can be seen from newrelic console. But Im unable to see similar metrics on prometheus endpoint exposed on the collector. Per my understanding, if we are usi