[2020-10-29 20:10] tigrannajaryan opened #1419 "stanzareceiver: log is flooded when the input line does not match the expected regexp"
I have stanza receiver configured to read a text file. The input lines don't match the config.

Input is like:
[code]

Stanza config is:
[code]

**What did you expect to see?**
Collector logs should not be flooded with error messages. Increment an internal metric counter when we have an error in the input data instead. Optionally log the error with very high sampling ratio (e.g. once every 10 seco

[2020-10-29 20:12] tigrannajaryan commented on #1419
@djaglowski please have a look when you can.

Also, please consider applying for Otel membership so that I can assign issues directly to you. See https://github.com/open-telemetry/community/blob/master/community-membership.md#member

I will support.

[2020-10-29 20:55] tigrannajaryan opened #1420 "stanzareceiver: Otel standard severity levels are not recognized"
**Steps to reproduce**
Collect a file input with lines like this:
[code]

and config file like this:
[code]

**What did you expect to see?**
Log records collected should have SeverityText="INFO3" and SeverityNumber=11

**What did you see instead?**
Log records collected have SeverityText="Undefined" and SeverityNumber=0

We need to correctly recognize standard Otel severity numbers. We also need t

[2020-10-29 20:55] tigrannajaryan commented on #1420
@djaglowski FYI.

[2020-10-29 21:14] djaglowski commented on #1382
@tigrannajaryan My understanding of the root cause was incorrect. I will have a closer look at this tomorrow.

[2020-10-29 22:53] tigrannajaryan opened #1426 "statsdreceiver: Test_statsdreceiver_EndToEnd and Test_Server_ListenAndServe are unstable"
See https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/5686/workflows/147bbc6a-664d-4402-b869-53eb0fba3ede/jobs/43784

[code]

[2020-10-29 23:27] tigrannajaryan commented on #1426
@sonofachamp you contributed this test and it failed. Please have a look at the failure. We need a fix for this.

[2020-10-29 23:49] sonofachamp commented on #1426
@tigrannajaryan I'm not able to contribute further to the statsdreceiver. I see changes pushed via https://github.com/open-telemetry/opentelemetry-collector-contrib/commit/cd2e9be1611f2b72b33f61cc1f6946acf057466a ~1hr ago are the most recent changes to anything in the statsdreceiver. Are changes in the dependency update causing these failures? It seems to be inconsistent and windows only from what

[2020-10-30 00:16] tigrannajaryan commented on #1426
@sonofachamp the maintenance of contributed components is the responsibility of the contributors as it is [explained here](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/master/CONTRIBUTING.md#adding-new-components):

Will you be able to find someone else who can maintain the component? If there is no-one then we may be forced to remove it from this repo.

[2020-10-30 00:50] sonofachamp commented on #1426
@hossain-rayhan @gavindoudou please see above

[2020-10-30 01:07] gavindoudou commented on #1426
Thanks, are taking a look

[2020-10-30 01:32] PettitWesley commented on #1426
Based on the error message, I am guessing that the tests run in parallel and that another test tried to use the same port.

[2020-10-30 01:53] gavindoudou commented on #1426
Tests running locally succeed. Cannot find that port `50409`or `50408` in code. Do you have any clue?

[2020-10-30 02:04] PettitWesley commented on #1426
@tigrannajaryan Do these tests run in parallel?

The error message heavily implies (I think) that those ports were already in use.

@gavindoudou The ports are not static, they are dynamic, selected here: https://github.com/open-telemetry/opentelemetry-collector-contrib/blame/master/receiver/statsdreceiver/receiver_test.go#L104

It does seem possible that there could be an occasional race condition

[2020-10-30 10:49] jpkrohling commented on #1410
Let me know once you finish it. I have also a couple of things to work on this processor, but they'll probably conflict with your changes.

[2020-10-30 13:36] djaglowski commented on #1419
Thanks @tigrannajaryan. I will apply today if I can find a second sponsor.

@bogdandrutu would you also support? Thanks.

[2020-10-30 14:27] djaglowski commented on #1419
@camdencheek Do you mind taking this one?

[2020-10-30 14:46] camdencheek commented on #1419
@djaglowski For sure. Actually, just a few days ago, we [merged](https://github.com/observIQ/stanza/pull/168) sampling into master (5 per second, then 1% after that). Once a new version is cut, the flooding should be better, but we may want to tune those numbers to be even more strict.

@tigrannajaryan It looks like the collector is [already using](https://github.com/open-telemetry/opentelemetry-c

[2020-10-30 15:15] tigrannajaryan opened #1431 "Create docker image for unstable executable and publish as "unstable" to Docker"
We now have the unstable executable. Need to also have a Docker image for it.

[2020-10-30 15:33] tigrannajaryan commented on #1419
@camdencheek the default logger's sampling is very conservative in order not too loose important messages. Components which know they log messages that do not need to be repeatedly logged must use much smaller sampling fractions. See for example how queuedRetrySender does it https://github.com/open-telemetry/opentelemetry-collector/blob/07d7a1f9f4613ec8f896429ee4d6af2ea4556018/exporter/exporterhel

[2020-10-30 15:34] djaglowski commented on #1420
We have designed a small set of changes to stanza that will allow for supporting this. This are noted in the issues referenced above. We should have a new PR within the next few days.

[2020-10-30 15:35] hossain-rayhan commented on #1359
As I mentioned in the PR description, we had a discussion in our first conversation:
`In Wednesdays (10/22) OpenTelemetry Metrics SIG meeting, we (@bogdandrutu and others) got a suggestion to implement a common utility for all Non-OTLP exporters which will convert all resource attributes to metric labels by default. If customers need to exclude any resource attributes, they can use the resourcepro

[2020-10-30 15:45] tigrannajaryan commented on #1426
@PettitWesley From what I see they are not marked to run parallel using t.Parallel(), so no they don't.

[2020-10-30 16:34] camdencheek commented on #1419
@tigrannajaryan Thanks for all the additional context -- I'll go ahead and update the sampling in stanza to mitigate the flooding

[2020-10-30 17:14] tigrannajaryan opened #1435 "stanzareceiver: original log message is not preserved when regex_parser is used"
When using regex_parser there is does not seem to be a way to preserve the original log message.

**Steps to reproduce**
Use config:
[code]

Input log record:
[code]

Output record:
[code]

**What did you expect to see?**
I expect to see "2010-01-02 INFO hello world, this is a log message" as the Body of the output record.

**What did you see instead?**
The Body is an empty map.

[2020-10-30 17:58] wangzlei opened #1437 "Support credential profiles in AWS exporter"
**Is your feature request related to a problem? Please describe.**
AWS supports credential profiles to deploy multiple credentials on one host, users can specify a profile option in creating session. See [doc](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/guide_credentials_profiles.html).

Both `awsemfexporter` and `awsxrayexporter` in Collector use aws go SDK to create AWS service co

[2020-10-30 18:19] tigrannajaryan opened #1438 "Remove confusing term "pipeline" from stanzareceiver config"
The configuration currently uses the term "pipeline" to describe operations that happen with the log record in the receiver. This may be confusing for the user since "pipeline" already means something else in the Collector.

I suggest we re-work slightly the config to look like this:
[code]

This eliminates the word "pipeline" and the added benefit is that it makes impossible to do a mistake and p

[2020-10-30 18:38] keitwb commented on #1438
We could go even farther with this and have `inputs` + `parsers` to encourage people to not using any of the "general purpose" operators in stanza since those heavily overlap with the Collector processors.

It does seem good to avoid overloading the term _pipeline_ but another alternative could be to just call it `stanza_pipeline` even though it is repetitive with the `stanza` key above it would b

[2020-10-30 19:46] camdencheek commented on #1435
@tigrannajaryan It looks like you've discovered the somewhat unexpected result of trying to use `preserve` when the `Record` object is a string (the default for reading lines from a file). I've filed an issue on the stanza repo for this problem, and the issue report contains an explanation as well as a couple of workarounds.

[2020-10-30 20:15] jmacd commented on #1359
I believe this has reached the level of a specification-level problem. We agree that generally resource attributes should ideally be preserved _somehow_ when exporting metrics, and we acknowledge that: (1) some protocols have a place for resources, which is nice, and (2) some services have a limit on the number of metric attributes ([labels](https://github.com/open-telemetry/opentelemetry-specific

[2020-10-30 20:33] djaglowski commented on #1438
It does seems reasonable that the overloaded term "pipeline" should be renamed. Perhaps "operators", "graph", or "log_pipeline" would be acceptable.

In regards to the suggested bucketization of stanza operators though, I think there are some implications here that need to be considered more carefully.

At a high level, OpenTelemetry's concept of a pipeline is more constrained that stanza's. Unlik

[2020-10-30 20:36] hossain-rayhan commented on #1359
@jmacd thanks for some good points. Reading all these comments, wondering would it be a good idea to have another look to our previous proposed solution (#1337) which extends the `metricstransform` processor?

It does not modify existing resource attributes rather adds some new metric labels (values are taken from resources). Also, user will have the control to choose which resource attributes the

[2020-10-30 21:02] vikrambe commented on #1410
@jpkrohling Sure, i will open PR in next few hours. thanks

[2020-10-30 21:36] hossain-rayhan commented on #1359
Also, to be more specific I am listing all the available options to us-

[1] Extend `metricstransform` processor which creates new metric labels from selected resource attributes (#1337). This does not modify any resource attributes.

[2] Write a whole new processor (`resourcetometricsattributes`) to convert some selected resource attributes to metrics attributes (labels). This also does not modif

[2020-10-30 23:08] dgrozenok opened #5005 "Jaeger exporter does not generate processes for each peer.service"
**Describe the bug**
JaegerExport does not generate Jaeger processes for separate peer.service attributes. As a result in the Jaeger UI all the spans named from a single service.

**Steps to reproduce**
- Clone the repository https://github.com/dgrozenok/OtlpDemo
- Run `docker-compose up`
- Start the solution
- Navigate to https://localhost:5001/WeatherForecast
- Open Jaeger and see that both Web

[2020-10-30 23:21] vikrambe commented on #1410
@jpkrohling PR Open

[2020-10-31 03:08] anuraaga commented on #1437
@wangzlei Did we ever find why the standard `AWS_PROFILE` env var doesn't work?

[2020-11-01 15:22] bogdandrutu opened #1443 "Revert #1442"
I reverted #1433 in #1442

The PR breaks the ability to run make gotidy or go mod tidy on the main package because that generates a diff compare to go generate in the go.sum. It looks some missing dependencies that are not tracked are added when running go generate.

[2020-11-01 16:51] #873 closed

[2020-11-01 17:27] owais opened #1444 "Bug report for failed CircleCI build (job: loadtest)"
Auto-generated report for `loadtest` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/44542

#### Test Failures

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-11-01 17:56] owais commented on #1444
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/44558

#### Test Failures

[2020-11-02 07:25] wangzlei commented on #1437
Thanks for your remind, the environment variable `AWS_PROFILE` works. Cancel this feature request.

[2020-11-02 07:25] #1437 closed

[2020-11-02 07:39] irisgve commented on #1305
👋🏻 Hi! Just bringing up the discussion here from https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/1403 specifically the mentioned addtl functions in the exporter required to not break existing clients:

For our case, we have a requirement that batches are published as they come in OTLP byte format for metrics and traces. The approach that the `kafkaexporter` in the core distr

[2020-11-02 08:29] aishvaryaps opened #1448 "Send metric to SignalFx via opentelemetry"
Hello,
I have configured open telemetry on a machine and have configured the otel collector to report the metric and traces to SignalFx ( have provided token and ingest URL)

I can see my Application traces being reported to SignalFx via otel
I cannot see metric being reported to SignalFx via otel.
Without otel if I configure my agent to report metric to SignalFx I can see metrics in SignalFx
I be

[2020-11-02 15:50] owais commented on #1444
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/44677

#### Test Failures

[2020-11-02 20:24] gavindoudou commented on #1426
I upload a copy of master, it passed all tests: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/1450
How may I re-produce this error? Or it is okay to ignore the error?

[2020-11-02 20:53] owais commented on #1444
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/44763

#### Test Failures

[2020-11-02 21:52] owais opened #1479 "Bug report for failed CircleCI build (job: loadtest)"
Auto-generated report for `loadtest` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/44809

#### Test Failures

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-11-03 00:09] owais commented on #1479
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/45419

#### Test Failures

[2020-11-03 00:43] owais commented on #1479
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/45470

#### Test Failures

[2020-11-03 03:41] owais commented on #1479
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/45699

#### Test Failures

[2020-11-03 06:28] james-bebbington commented on #1088
A much more simplified variant of the second option is to just use regexp substitution tospecify label names, i.e. the above becomes:

[code]

I will start with this and we can add more complex alternatives in the future if needed.

[2020-11-03 14:12] tigrannajaryan commented on #1426
@gavindoudou it doesn't fail every time. It is unstable and failed on CircleCI (the link is in the description). I do not know how to reproduce the error, I did not look into it. It is not OK to ignore the error, we need to make sure our test suite is highly stable. Any failures need to be investigated and root cause found, fixed or additional diagnostics added so that next time it fails the neces

[2020-11-03 18:12] owais commented on #1479
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/45852

#### Test Failures

[2020-11-03 18:44] PettitWesley commented on #1426
@tigrannajaryan We aren't ignoring this test failure. Gavin and I have both spent time investigating it, and given that the failures are occasional (only one confirmed case in months so far, right?) and that it can not be reproduced locally- our hypothesis is that it is port conflict from tests running in parallel.

Thus, it seems this may be more of an issue with the testing framework itself. Can

[2020-11-03 19:18] tigrannajaryan commented on #1426
@PettitWesley Since it is very rare and you already spent considerable time on it I suggest we pause the efforts for now, keep an eye on it and if it happens again we can take a more thorough look. I will keep this issue open for now.

[2020-11-04 10:57] sumo-drosiek opened #1491 "Add support for partials in exporter helpers (metrics and logs)"
**Is your feature request related to a problem? Please describe.**
 - [PartialError](https://github.com/open-telemetry/opentelemetry-collector/blob/de104da4f136c8798971d66eecdc60e0fb339743/consumer/consumererror/partialerror.go#L21-L24) doesn't support the logs and metrics.
 - Helpers for [metrics](https://github.com/open-telemetry/opentelemetry-collector/blob/master/exporter/exporterhelper/metric

[2020-11-04 11:12] sumo-drosiek commented on #1491
I created issue in invalid repository

[2020-11-04 11:12] #1491 closed

[2020-11-04 14:10] stephenhong commented on #1336
May I ask when the Datadog exporter will be released to the prod build?

[2020-11-04 14:25] mx-psi commented on #1336
@stephenhong, the Datadog exporter should be available in the upcoming 0.14 release, which should happen soon. Following the normal release schedule 0.14 should have been released yesterday but it has been delayed, but hopefully it will happen later this week. I will let you all know when it is finally released.

[2020-11-04 20:00] MikeGoldsmith commented on #1339
I like the idea of auto-assigning a single approver per PR to help reduce the noise generated to the whole group. However, we have seen two cases where a vendor span exporter has had PRs merged without approval from a vendor representative.

https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/291
https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/1162

There

[2020-11-04 21:34] asuresh4 commented on #1049
I've not been able to reproduce this error locally and also it appears like this failure was a one off (I was not able to find other occurrences on CircleCI). We've also upgraded the k8s API to `1.19.3`, if at all this error had something to do with the specific version of the API.

@tigrannajaryan - can we close this issue for now? I will address if we see this again in the future.

[2020-11-04 23:06] jrcamp opened #1495 "[exporter/signalfx] Permanent error is not returned in non-retryable cases"
When the server returns 400 Bad Request we retry sending even though it will likely be rejected each time:

[code]

Needs some digging to see if it's only 400 that should be returned as permanent or if there are others. (Or maybe just all 4xx)

[2020-11-05 00:31] bogdandrutu commented on #1395
@jrcamp can you please comment and propose a solution here?

[2020-11-05 00:40] jrcamp commented on #1395
Take a look at:

https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/master/extension/observer
https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/master/receiver/receivercreator

I think you should be able to add an ecs observer that works with receiver_creator to dynamically create a prometheus_simple receiver. Would this do what you want?

Also take a look

[2020-11-05 02:59] #1049 closed

[2020-11-05 08:45] jpkrohling commented on #1398
This is still happening: https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/5949/workflows/e2506093-59d4-47ea-9c22-f62d91f52e0f/jobs/46630

[2020-11-05 09:05] jpkrohling commented on #1093
This is still failing:
https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/5949/workflows/e2506093-59d4-47ea-9c22-f62d91f52e0f/jobs/46628

[2020-11-05 09:05] jpkrohling commented on #1374
This is a duplicate of #1093.

[2020-11-05 09:06] jpkrohling commented on #1093
cc owners (@owais @dmitryax @pmm-sumo)

[2020-11-05 09:13] jpkrohling commented on #1339
In the meantime, the following query works for me to find out which reviews are waiting for me individually:

[code]

[2020-11-05 09:15] ericmustin commented on #1374
Ok no worries thanks for pointing that out, had been asked to file this by some other maintainers in the gitter, but as long as it's being track by #1093 can close. Cheers!

[2020-11-05 09:15] #1374 closed

[2020-11-05 13:07] sumo-drosiek opened #1498 "Add Sumo Logic exporter"
**Is your feature request related to a problem? Please describe.**

I added this issue to track progress of initial implementation of the [Sumo Logic](https://www.sumologic.com/) exporter:

List of planned PRs:
 - init PR (configuration, README.md) #1565
 - add filtering structure to manage and extract metadata from OTC attributes #1681
 - add sender #1693
 - add compression to the sender #1747
 -

[2020-11-05 16:15] andrewhsu commented on #1443
This PR needs to be reverted: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/1442

[2020-11-05 16:22] andrewhsu commented on #1367
from the triage mtg today, closing this issue

[2020-11-05 16:22] #1367 closed

[2020-11-05 16:23] andrewhsu commented on #1346
from triage mtg, assigning to tigran for now

[2020-11-05 16:25] andrewhsu commented on #1336
from the triage mtg today, closing this issue

[2020-11-05 16:25] #1336 closed

[2020-11-05 16:31] andrewhsu commented on #1087
from the triage mtg today, looks like this can be closed because #1200 merged. feel free to reopen if not the case.

[2020-11-05 16:31] #1087 closed

[2020-11-05 16:32] andrewhsu commented on #1053
closing this as a dup of https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/1217#issuecomment-708304231

[2020-11-05 16:32] #1053 closed

[2020-11-05 16:36] andrewhsu commented on #1217
from the triage mtg, was able to prioritize, but ran out of time today to apply a `spec` label, so feel free to apply the appropriate when suitable (if this applies to a specific spec label)

[2020-11-05 18:42] #1292 closed

[2020-11-05 22:17] kohrapha commented on #1395
Thanks @jrcamp for the suggestion! I looked into this and it looks like it might suit our use case. How expensive would it be to dynamically create new receivers based on each newly discovered scrape target? Our original proposal would only require one Prometheus receiver where we would just update its scrape targets in the config file. Is this overhead significant?

[2020-11-06 03:13] Vemmy124 opened #1504 "Goroutines leak in groupbytraceprocessor"
**Describe the bug**
This function produces goroutines leak if timeout is reached
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/aa834815fb48cbbb33b8c7bb20652eebccbe165a/processor/groupbytraceprocessor/event.go#L254-L268

**Steps to reproduce**
Just a playground proof
https://play.golang.org/p/_Q8gP9EVcFQ

**Additional context**
Why this is crucial: when the trace is releas

[2020-11-06 08:57] jpkrohling commented on #1217
This issue isn't tied to a specific spec (metrics/logs/traces), it's part of the project's setup. From the triage meeting, I understand that we do have a goal of making each component individually consumable. Right now, there are a few modules (like the mentioned here) that depend on other modules in the same repository. When tagging this repository, those dependencies aren't changed, causing cons

[2020-11-06 14:56] jgarces21 opened #1507 "Azure Application Insights Metrics Exporter"
**Is your feature request related to a problem? Please describe.**
At the moment I can not export the metrics received by otel collector to Azure Application Insights.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
There should be an exporter that can send the metrics related info to Azure Application Insights.

**Describe alternatives you've cons

[2020-11-06 14:58] jpkrohling commented on #1500
@annanay25 , I think you are one of the consumers of this processor. What's your preference?
@chris-smith-zocdoc , are you using this processor as well?

[2020-11-06 15:05] annanay25 commented on #1500
Will be a consumer once horizontally scalable tail sampling processor is merged :) I would prefer option 2 because it saves processing cycles.

[2020-11-06 16:05] chris-smith-zocdoc commented on #1500
Yes I'm using the processor. I think either
- respect the sampling decision in dropTrace
Or
- modify the method signature to not return a sampling decision

would be fine. Changing the processor to block/apply back pressure is a much larger change that requires a separate design discussion imo

[2020-11-06 16:11] jchengsfx opened #1509 "TestRemovedContainerRemovesRecordsIntegration intermittent failure"
**Describe the bug**
Circleci integration test failure: https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/5999/workflows/d8f8c3da-6f2e-4d50-a935-290f57421cbc/jobs/47073/steps

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.

**What did you expect to see?**
A clear and concise description of what you expected to see.

**What did

[2020-11-06 16:15] jpkrohling commented on #1509
cc codeowner (@rmfitzpatrick)

[2020-11-06 16:48] andrewhsu commented on #646
from the issue triage mtg today, looks like this test was removed so closing this issue

[2020-11-06 16:48] #646 closed

[2020-11-06 16:50] andrewhsu commented on #400
from the triage mtg today, this issue looks really old and going to close it, but feel free to reopen if this is still a problem that needs to be addressed

[2020-11-06 16:50] #400 closed

[2020-11-06 16:51] andrewhsu commented on #387
from the issue triage meeting today, looks like this issue is old and has not been observed as of late. closing this, but if it's still a problem feel free to reopen.

[2020-11-06 16:51] #387 closed

[2020-11-06 17:30] jrcamp commented on #1395
@kohrapha In general these dynamic receivers should not have much overhead. I can't say for sure about the Prometheus receiver because it's quite complex. In the future we will probably simplify the prometheus_simple receiver to only support the Prometheus protocol instead of wrapping the prometheus receiver which has a lot of functionality and overhead we don't need. (Prometheus is basically an a

[2020-11-06 17:46] bogdandrutu opened #1510 "Fix awsemfexporter after the support for Summary was added."

[2020-11-06 17:47] bogdandrutu commented on #1510
/cc @anuraaga @shaochengwang @mxiamxia since some of you are not members of the otel community (maybe should apply for that)

[2020-11-06 18:01] tigrannajaryan commented on #1346
@atoulme will you be able to look into this?

[2020-11-06 18:14] tigrannajaryan commented on #1438
@djaglowski looking at the couchbase I do not fully understand how the stanza pipeline is supposed to work. Are items listed in the pipeline connected by default sequentially, but if there is an `output` setting specified then this default connection is not made and whatever is specified in the `output` setting of the step overrides it? Does `{{.output}}` signify the very end of the pipeline? Is t

[2020-11-06 21:25] kohrapha commented on #1395
@jrcamp the number of Prometheus targets is highly dependent on the customer's configuration. We can expect a single agent to retrieve metrics from 2000 targets. Having one receiver per target might be a bit overkill and resource-intensive.

[2020-11-07 00:19] atoulme commented on #1346
We have had a few changes in the exporter recently, and have 2 open PRs against it. We still use a HTTP server for testing - and I just opened an other PR using HTTP.
For right now, can we update the limit? What do you think Tigran?
Once we have landed the next couple PRs, I could possibly look at moving tests involving a HTTP server to integration tests.

[2020-11-08 22:28] pkositsyn opened #1515 "Use goroutine leak finding tool in the project"
**Is your feature request related to a problem? Please describe.**
There is a critical problem with goroutines leak now. See #1504. Would be useful to prevent such bugs using some tool.

**Describe the solution you'd like**
Currently we know about  https://github.com/uber-go/goleak, which compares goroutines before and after tests to discover leak. This approach is arguable, so it might be better

[2020-11-09 14:55] owais commented on #1479
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/48029

#### Test Failures
-  TestMetric10kDPS
-  TestMetric10kDPS/SignalFx

[2020-11-09 15:18] djaglowski commented on #1438
@tigrannajaryan You've got the right idea. If an operator does not have an explicit `output` field, then it will output to the next operator.

`{{ .output }}` is only valid in plugins. This is saying that a parameter named `output` can be expected, and that value will be inserted in place. The value of `output` is set according to the same rules. The only difference really is that this value is th

[2020-11-09 16:47] dennisyuan98 opened #1534 "awsxrayexporter can send its telemetry data via xray:PutTelemetryRecords"
As xray service team, we'd like to collect metrics from client side to understand what version of collector the customer is using and the type of errors the customer has observed using xray.  AWS X-Ray has an API [PutTelemetryRecords](https://docs.aws.amazon.com/xray/latest/api/API_PutTelemetryRecords.html) can be used to collect the error metrics; the version info can be built into the user agent

[2020-11-09 16:53] tigrannajaryan commented on #1438
@djaglowski I understand. I agree, the flexibility of forming a DAG may be very useful, so let's keep it for now. I suggest that for now we just do the simple renaming of "pipeline" to "operations" (or similar).

[2020-11-09 18:31] imccarten1 opened #10584 "OpenCensue: GAUGE_DISTRIBUTION metric not exported"
**Describe the bug**
I was trying to use a custom receiver module to export some metrics converted from the opencensus-proto format with internaldata.OCSliceToMetrics. I discovered that it does not export metrics of type MetricDescriptor_GAUGE_DISTRIBUTION.

**Steps to reproduce**
Create a metric in opencensus-proto format of type MetricDescriptor_GAUGE_DISTRIBUTION and try to convert it using int

[2020-11-09 19:21] djaglowski commented on #1438
Here's some improved documentation on the stanza pipeline: https://github.com/observIQ/stanza/blob/master/docs/pipeline.md

And a bit more clarity on how plugins work: https://github.com/observIQ/stanza/blob/master/docs/plugins.md#using-plugins

[2020-11-09 19:38] hossain-rayhan commented on #1359
Addressed by this PR [2060](https://github.com/open-telemetry/opentelemetry-collector/pull/2060)

[2020-11-09 19:38] #1359 closed

[2020-11-09 20:12] kohrapha commented on #1395
@jrcamp thinking more about this approach, would it be possible instead to just spawn one Prometheus receiver at init time and then only perform updates to that receiver via the update endpoint API? This method requires that a Prometheus receiver can have multiple targets, but it _seems_ like currently we can only configure one target per endpoint/receiver?

[2020-11-09 21:41] jrcamp commented on #1395
receiver_creator is built around having a single instance per-target for purposes of starting and stoping scraping as well as for adding additional resource attributes linked above. Changing that assumption will require non-trivial changes.

Before we go down that path we should validate whether 2000 targets are a problem. It's not clear to me that whether you have 2000 receivers scraping 1 host e

[2020-11-10 03:47] hossain-rayhan commented on #1343
Resource attributes to metrics labels conversion should reside in the `exporterhelper` of core collector. Closing this one. If needed we can extend that feature.
Check the PR [2060](https://github.com/open-telemetry/opentelemetry-collector/pull/2060).

[2020-11-10 03:47] #1343 closed

[2020-11-10 03:48] hossain-rayhan commented on #1297
This feature is implemented in the `exporterhelper` of core collector. Check the PR [2060](https://github.com/open-telemetry/opentelemetry-collector/pull/2060).

[2020-11-10 03:48] #1297 closed

[2020-11-10 03:49] hossain-rayhan commented on #1281
This was supported by this PR [2060](https://github.com/open-telemetry/opentelemetry-collector/pull/2060).

[2020-11-10 03:49] #1281 closed

[2020-11-10 10:37] #1504 closed

[2020-11-10 10:44] jpkrohling opened #1541 "Replace traceKey with traceID in processors that map spans"
The tail-sampling and group-by-trace processors hold a map of spans grouped by trace ID. Previously, the trace ID was a simple [16]byte array, which made these processors use custom types or conversions as the map key. This is not necessary anymore, so, the code for those processors can be simplified.

[2020-11-10 10:45] jpkrohling commented on #1541
I have the code for this issue already, but I'm waiting for #1540 to get merged, as that's the base for this branch.

[2020-11-10 13:08] jpkrohling commented on #1398
This is still happening:
https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/6136/workflows/6d0f2b4f-3add-48ac-b0c3-f5eaa811f666/jobs/48479

[2020-11-10 17:00] #1500 closed

[2020-11-10 19:16] atoulme commented on #1346
This commit https://github.com/open-telemetry/opentelemetry-collector-contrib/commit/6e84f5221c9119e40ff4d8719cdc154c11ccbdc9 changes timeouts to a smaller value. This should help.

[2020-11-10 20:43] #1541 closed

[2020-11-11 16:13] #1382 closed

[2020-11-11 16:13] #1419 closed

[2020-11-11 16:13] #1420 closed

[2020-11-11 16:13] #1435 closed

[2020-11-11 16:13] #1438 closed

[2020-11-11 20:07] hossain-rayhan opened #1551 "[awsemf-exporter] Enable Resource_Attributes_To_Telemetry_Conversion option"
**Is your feature request related to a problem? Please describe.**
Recently a PR [2060](https://github.com/open-telemetry/opentelemetry-collector/pull/2060) was merged in the core `opentelemetry-collector` repo for converting resource attributes to metric labels. This was added as a utility option in the `exporterhelper` module so that any exporter can easily opt-in. We need to enable this setting

[2020-11-11 21:16] hossain-rayhan commented on #1551
Closed by #1552

[2020-11-11 21:16] #1551 closed

[2020-11-11 21:17] hossain-rayhan commented on #1122
Closed by #1536

[2020-11-11 21:17] #1122 closed

[2020-11-12 09:07] axw commented on #1277
@cyrille-leclerc I don't see this coming any time soon. I'm inclined to close as WONTFIX and document the limitation for now, and consider implementing span processors for each of the SDKs to calculate and report the relevant metrics. WDYT?

[2020-11-12 09:09] axw commented on #1275
@cyrille-leclerc as mentioned above, I don't think we can fix this with the current exporter approach. We would instead need to ingest OTLP in APM Server, or otherwise bypass APM Server altogether. I suggest we close and document the limitation for now.

[2020-11-12 20:30] ntyrewalla opened #1562 "Dynamic sampling in Collector"
At present, we have static head based sampling for tracing. We would like to extend that and support dynamic sampling based on configuration passed on from the control plane. For example, customers should be able to change this sampling rate on the fly based on the current issue they are seeing in the production environment. Once the issue is resolved, customers should be able to revert it back to

[2020-11-12 22:21] tigrannajaryan commented on #1562
This is a Collector feature request, moved to the appropriate repo.

[2020-11-13 15:48] tigrannajaryan commented on #1562
This is a non-trivial feature that requires a design document. It is not a feature on our roadmap, so it is unlikely that maintainers work on this. If a contributor submits a design document we will review and decide if the feature is appropriate for the Collector.

[2020-11-13 23:55] jrcamp opened #1586 "[processor/resourcedetection] ecs detector uses log package instead of zap"
ecs detector is using Go log package instead of zap.

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/22f0f30aeffa1df10a8cb8890b067424178ed37e/processor/resourcedetectionprocessor/internal/aws/ecs/metadata_ecs.go#L77

see https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/1585#discussion_r523289593_

[2020-11-13 23:57] jrcamp commented on #1586
Originally added in #1360 by @willarmiros

[2020-11-14 03:00] alolita commented on #1562
@tigrannajaryan Agree - this is non-trivial. We would like to discuss dynamic sampling features. It would be great to restart the sampling SIG to discuss. @tedsuo what is the process to restart the sampling SIG which used to be held on Fridays? Please advise. @ntyrewalla and other AWS engineers are interested in participating and running the SIG meeting as community members.

[2020-11-16 02:34] flands commented on #1495
Can't be all 4xx right? `429` should retry.

[2020-11-16 02:39] flands commented on #1448
`8888` is the port the Collector exposes for its own Prometheus metrics. It appears you have the Smart Agent configured to send to this port. Instead, you should configure it to the `signalfx` receiver ports as defined here: https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/master/receiver/signalfxreceiver (port is `9943`). Please also be aware that the `http_forwarder` extens

[2020-11-16 02:54] dackroyd opened #1590 "Duplication of Resource Detectors with opentelemetry-go-contrib"
**Is your feature request related to a problem? Please describe.**

Resource detectors implemented in this repository duplicate those available in opentelemetry-go-contrib, or otherwise would benefit from being included there.

**Describe the solution you'd like**

Rather than maintaining independent implementations in both places, with inconsistencies and requiring maintenance in both places, res

[2020-11-16 10:13] cyrille-leclerc commented on #1277
Thanks @axw . Closing for the moment as "won't fix" sounds good to me.

[2020-11-16 10:14] cyrille-leclerc commented on #1277
Close as won't fix for the moment.

[2020-11-16 10:14] #1277 closed

[2020-11-16 10:15] cyrille-leclerc commented on #1275
Close as won't fix for the moment.

[2020-11-16 10:15] #1275 closed

[2020-11-16 15:26] cyrille-leclerc opened #1610 "Elastic Exporter: Metrics: `DoubleValueRecorder` and `LongValueRecorder` are silently ignored"
**Describe the bug**

`DoubleValueRecorder` and `LongValueRecorder` are silently ignored. We could document it and maybe emit a least one warning message per metric waiting to add support for it.

**Steps to reproduce**

Create a `DoubleValueRecorder`with the OpenTelemetry SDK and export the metrics to Elastic. The metric will not appear

[code]

**What did you expect to see?**

An histogram metri

[2020-11-16 18:06] kohrapha opened #1611 "receivercreator gives created receivers a Nop logger"
**Describe the bug**
When creating a new receiver, the `receivercreator` passes in a `zap.NewNop` logger as part of the new receiver's params:
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/50593285c23eb7e42fce6f2c3f510f3436901c1d/receiver/receivercreator/runner.go#L109

This caused unnecessary headache in debugging the code to figure out why I wasn't getting any output log

[2020-11-17 00:22] dashpole opened #4980 "Support verbatim prometheus configurations"
**Is your feature request related to a problem? Please describe.**

As a new user, I copied the [example configuration for kuberntes](https://github.com/prometheus/prometheus/blob/master/documentation/examples/prometheus-kubernetes.yml) from prometheus/prometheus (see [my copy here](https://github.com/prometheus/prometheus/blob/master/documentation/examples/prometheus-kubernetes.yml)), but it prod

[2020-11-17 09:13] ZhengHe-MD opened #1621 "loadbalancing: "sending_queue" causes OTLP exporter to not work"
**Describe the bug**
I'm not quite sure if this is a real bug, but I will describe what I've found.

I set up the otel-agent with loadbalancing exporter as the [README](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/master/exporter/loadbalancingexporter/README.md) suggests. And I trigger a trace report through a simple jaeger-instrumented http app. The otel-collector, which

[2020-11-17 09:14] ZhengHe-MD commented on #1621
@jpkrohling please take a look when you are convenient. thanks

[2020-11-17 13:10] cyrille-leclerc opened #1630 "Exporter for Elasticsearch"
**Is your feature request related to a problem? Please describe.**

The problem is to export OpenTelemetry data, primarily logs, to Elasticsearch the same way many observability collectors can send data to Elasticsearch.

**Describe the solution you'd like**

The solution would be an OpenTelemetry Collector Exporter for Elasticsearch.

This exporter should try to support 6.8+ versions of Elasticse

[2020-11-17 14:42] jpkrohling commented on #1621
@ZhengHe-MD I'll take a closer look at your ticket soon, but here's a quick test I did that worked:

[code]

Here are the metrics on the load balancer side: https://paste.centos.org/view/79c75544
And on Jaeger's side: https://paste.centos.org/view/d813cc38

I need to check if the numbers match, but looks like the load balancer does send data to the backend.

[2020-11-17 15:54] ZhengHe-MD commented on #1621
@jpkrohling thanks for your reply first.

and problems seems to narrow down to otlp config. I repeat my experiments with the protocol part of your loadbalancing config, which is the following:

[code]

It magically worked. And I switch back to the default protocol config:

[code]

nothing shows up at the backend side.

[2020-11-17 16:03] ZhengHe-MD commented on #1621
and problems seems to narrow down to otlp config. I repeat my experiments with the protocol part of your loadbalancing config, which is the following:
[code]

It magically works. And I switch back to the default protocol config:

[code]

nothing shows up at the backend side.

I do more experiments and find that it should be due to the `sending_queue` config, if it is enabled, then nothing got rece

[2020-11-17 19:25] #1088 closed

[2020-11-17 20:27] dashpole opened #4973 "Improve Prometheus receiver observability"
**Is your feature request related to a problem? Please describe.**
The current set of otelcol receiver observability metrics seem to be `otelcol_receiver_accepted_metric_points` and `otelcol_receiver_refused_metric_points`.  Compared with running a prometheus server, this is missing a lot of metrics which are useful for debugging.  For example, the `prometheus_sd_discovered_targets` can tell me wh

[2020-11-17 20:41] paulosman commented on #1562
I'd be interested in helping with this as well if you're looking for more participation.

[2020-11-17 22:13] dackroyd commented on #1590
I was looking into adding resource attributes for AWS and Kubernetes to applications running on that infrastructure. These could be detected at the application level, but that adds complexity and dependencies at that level which are likely undesirable.

For example, using the OpenTelemetry-go-contrib implementation from the application to detect AWS attributes requires a dependency on the AWS SDK,

[2020-11-18 00:13] kohrapha commented on #1395
Hi @jrcamp, I spent some time this week to come up with an experiment to test the above hypothesis. In this experiment, I have 2 set ups:
1. Setup 1 has one receiver per endpoint, in which I used the k8sobserver + receivercreator
[code]
2. Setup 2 has one receiver for all endpoints, where I used the in-built k8s service discovery in the Prometheus receiver
[code]

I tested this on EKS and ran the

[2020-11-18 11:57] mx-psi opened #1627 "[resourcedetectionprocessor] Gather EC2 tags"
**Is your feature request related to a problem? Please describe.**

When using AWS resources like EC2 instances it is common to [tag them with metadata](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Using_Tags.html) that can help identify a specific instance by e.g. owner or environment. Having this information together with telemetry can help in discoverability and enrich their context.

**

[2020-11-18 15:55] Vemmy124 opened #1629 "tailsamplingprocessor ratelimiting works incorrectly with loadbalancingexporter"
**Describe the bug**
I have been thinking about ratelimiting on sampling and this seems to work not as intended right now. I did no tests, but this is a totally idiomatic issue.

Imagine you want to sample traces with span rate limit `1000 spans / s` and usually you get `1 trace / s` with 500 spans. Having one collector, you save the trace and everything is fine. Scaling up to 10 collectors, you h

[2020-11-18 19:11] tigrannajaryan commented on #1630
There is already an Elastic exporter for traces and metrics: https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/master/exporter/elasticexporter
Logs likely should be added to it, I don't think we want a different exporter for logs.

[2020-11-18 19:22] alolita opened #1631 "Publish release cadence for collector-contrib"
What is the release cadence for the collector-contrib binaries? We'd like to get the latest merged changes in a collector-contrib release.

Can you please publish the release cadence for collector-contrib and the Collector (e.g. every week, 2 weeks) for when to expect a new release? This helps us test with published artifacts instead of cherry-picking commits to build artifacts.

Can this release

[2020-11-18 23:13] stephenhong opened #1644 "Error traces sent to New Relic and Datadog are not being recognized as errors"
**Describe the bug**
I have a Node.js application sending traces to New Relic and Datadog. I'm using the latest release (0.14.0) of the OpenTelemetry Collector. I generated a 500 error with my app and the trace data was sent to both New Relic and Datadog. In both tools, the trace displayed the stack trace. However, neither tools recognized the trace as an error trace

**Steps to reproduce**
Node.j

[2020-11-19 06:34] alolita commented on #1562
@paulosman Great! Will ping you once I get the day and time set up for the SIG meetings.

[2020-11-19 14:15] tigrannajaryan commented on #1631
Collector core and contrib are released biweekly (today is a release day). The release process is described here https://github.com/open-telemetry/opentelemetry-collector/blob/master/docs/release.md
Further automation of the process is very welcome.

[2020-11-19 18:57] willarmiros opened #1645 "Pass zap logger instance to resource detector components"
It would be nice to log more specific messages about a resource detector's failure, or that it's disabled because it can't find the required metadata. This needs to be done with a zap logger instance, which has to be passed in from the resource detection processor `factory` to each of the `NewDetector` methods.

Probably just need to change the interface of the `NewDetector` method [here](https://

[2020-11-19 18:58] willarmiros commented on #1645
Related: #1586

[2020-11-19 19:18] CeeBeeCee opened #1646 "XRay exporter not sending traces"
**Describe the bug**
I am running OTel collector v0.14 on an us-east-1 EC2 instance. The collector is configured to receive traces in otlp format and export to us-east-1 xray. The logging exporter tells me that it is receiving traces and zpages shows an incrementing count of traces exported to XRay. But the traces do not show up in XRay(us-east-1) and the logs dont show any errors. Is this working

[2020-11-19 19:34] MrAlias commented on #1644
Thanks for filing the issue @stephenhong, we recently merged an update to our status code handling [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/1587). I'm wondering if that change addressed your issue. Can you return with the recently release v0.15.0 version (that should include #1587)?

[2020-11-19 19:36] CeeBeeCee commented on #1646
Interestingly, the same configs work on the same Ec2 instance if I use the AWS distro docker.io/amazon/aws-otel-collector image instead of otel/opentelemetry-collector-contrib

I cant use the distro because I need zipkin and jaeger and the distro doesnt seem to support these. Please advise.

[2020-11-19 19:36] CeeBeeCee commented on #1646
@anuraaga

[2020-11-19 20:53] steeling opened #1647 "azuremonitor exporter requires secret in configmap"
The azuremonitor exporter requires the instrumentation key to be placed directly in the configmap. Instead, we should be able to reference a secret name and key.

[2020-11-20 03:59] vangarp opened #1648 "loadbalancing exporter: Allow specifying port when using DNS resolver"
**Problem**
Currently when DNS resolver is used with loadbalancing exporter, there is no option to specify a port and we always assume OTLP receiver port as 55680. On the other hand when using static resolver, we can specify arbitrary ports.

**Proposal**
I propose adding another field to the dns resolver config to allow specifying a port. Something like

[code]

[2020-11-20 06:02] vangarp commented on #1648
@jpkrohling  what do you think? I can send a PR unless you have any objections

[2020-11-20 08:31] jpkrohling commented on #1648
I completely agree with your idea :)

https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/1628#pullrequestreview-533855818

Please, coordinate with @ZhengHe-MD, as they are the author of the above mentioned PR.

[2020-11-20 11:04] ZhengHe-MD commented on #1648
I'm happy with that, if you want to. @vangarp . Then I'll safely close my PR

[2020-11-20 11:12] ericmustin commented on #1644
@stephenhong I'm not able to recreate this on my end with errors from a node client. I am using the [opentelemetry-js](https://github.com/open-telemetry/opentelemetry-js) library for instrumenting a sample node app. I'm not very familiar with `signalfx-tracing`, quick questions.

- what format does it export traces to OpenTelemetry-collector, and additionally
- what `receiver` is being used here?

[2020-11-20 11:13] ericmustin commented on #1644
@bogdandrutu feel free to re-assign from @mx-psi to me for the `datadog` tracing related stuffs 🙇

[2020-11-20 16:17] chris-smith-zocdoc opened #1651 "Tail Sampler: Improve Rate Limit Algorithm"
**Describe the solution you'd like**
The current [rate_limiting](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/91515337878dc5677fb7fd5e247e2fa5c01cc2bd/processor/tailsamplingprocessor/sampling/rate_limiting.go) algorithm enforces a strict spans per second limit which has a couple of flaws:
- Traces with more spans than the span/sec limit cannot be sampled, they are always

[2020-11-20 17:18] vangarp commented on #1648
Thanks @jpkrohling and @ZhengHe-MD have created a PR #1650 for this

[2020-11-20 17:31] rmfitzpatrick commented on #1495
If we set any error as permanent, the combined error will be deemed permanent and all retries are prevented.  I think we need to implement a partial error and the associated handler in the queued processor: https://github.com/open-telemetry/opentelemetry-collector/blob/8ceddba7ea03216b077582bab5d0e949a3297f5b/processor/queuedprocessor/queued_processor.go#L152

[2020-11-20 18:56] stephenhong commented on #1644
@MrAlias I tried sending the same trace using the recently release v0.15.0 version but I got the same result. Error traces are still not being recognized by NR and DD.

@ericmustin The signalfx-tracing library sends traces in Zipkin format and I am using the Zipkin receiver with the OpenTelemetry Collector. In the collector log, I see that the error attribute is set to true. Is there a way for the

[2020-11-20 19:12] hossain-rayhan opened #1662 "[awsemf-exporter] replace placeholder pattern "{{ }}" wit "{ }""
AWS EMF Exporter supports placeholders for `ClusterName` and `TaskId` in the logGroup and logStream name. The placeholder pattern we used `{{ }}` is not supported in AWS SSM parameter. When we add our config as SSM parameter, it throws an error.

Suggested solution: replace `{{ }}` with `{ }`

[2020-11-20 19:47] ericmustin commented on #1644
@stephenhong thanks for the additional context...I'd certainly be open to updating things at the exporter level but I think that doesn't solve the root cause here which is that, if i understand correctly, the zipkin receiver isn't setting span status like it shoud be. I also want to make sure you can send traces to NR 🙂

@bogdandrutu do you want me to add support for marking a span as an `error` b

[2020-11-20 19:55] stephenhong commented on #1644
@ericmustin Yes, I am able to send traces to both NR and DD. This is the NR permalink of the error trace: https://one.nr/0ERPZvlQ and this is the DD link of the error trace: https://capone-nonprod.datadoghq.com/apm/trace/198547648939945912?spanID=5605010049747798061&env=powerup-tech-qa&sort=time&colorBy=service&spanViewType=metadata&graphType=flamegraph&shouldShowLegend=true

[2020-11-20 19:55] ericmustin commented on #1644
@stephenhong sorry , misphrasing on my part, i mean i want to make sure you're traces are marked as errors correctly in both vendors

[2020-11-20 19:57] stephenhong commented on #1644
@ericmustin No, neither NR and DD are recognizing the traces as errors

[2020-11-20 20:11] rmfitzpatrick opened #5010 "Allow specifying sarama.Config in kafka receiver consumer group"
**Is your feature request related to a problem? Please describe.**
Being able to tune the kafka receiver consumer group's settings (Net, Consumer.Group, etc.) would be helpful for different environments without having to add individual fields in the receiver's config to pass through.

**Describe the solution you'd like**
Providing a `sarama_config` option with embedded config struct would be helpf

[2020-11-20 20:50] ericmustin commented on #1644
@stephenhong yup I think we're on the same page. Working to get this fixed 👍

**Investigation**
It looks like the zipkin translation code _used_ to rely on the `error` tag, see: https://github.com/open-telemetry/opentelemetry-collector/pull/1002/files#diff-e8c9e4b66e4631dea1b8be1094a17e31ec8037ba033074ce310341bbdf9860a3L495

but now relies on, I think, a different tag, depending on whether using z

[2020-11-21 10:05] Vemmy124 commented on #1621
@jpkrohling I also experience an issue with `sending_queue` config. Enabled - not traces, disabled - everything is fine. I believe it's a real problem

[2020-11-21 10:44] ZhengHe-MD commented on #1648
@vangarp hi~ I have a little side question. How did you pass the EasyCLA? I'm new to this and I've signed the paper but my PR is still blocked. I used to believe that it's because I'm not a member of this project.

[2020-11-21 14:51] vangarp commented on #1648
@ZhengHe-MD the pdf one didn’t help me. I clicked through the link the EasyCLA bot gave, and once I signed that form it immediately went green.

[2020-11-21 23:22] bogdandrutu commented on #1495
PR #1672 will partially fix this, because we need a way to group requests by access token before adding to the queue, so that we can send the entire data in one request, otherwise we need to return permanent error for some data, throttle error for others, and maybe we can use partial error but that may complicate things.

For the moment just return the error with the idea that it is only one Resou

[2020-11-22 00:56] ZhengHe-MD commented on #1648
@vangarp thanks. That's exactly what I did, click through the link given by EasyCLA bot, choose the Individual tab, then sign the paper, fill up my posting address and email, automatically jump back to the PR page, only to find that nothing happened.😅

[2020-11-23 08:10] ZhengHe-MD opened #1677 "loadbalancingexporter: periodicallyResolve don't work as expected"
**Describe the bug**

`periodicallyResolve` will only resolve the dns once, and the ip addresses won't change thereafter.

**Steps to reproduce**

very easy. just add logs to `periodicallyResolve` method in `exporter/loadbalancingexporter/resolver_dns.go`, you will see that only run once.

**What did you expect to see?**

dnsResolver will request the dns server periodically

**What did you see ins

[2020-11-23 08:12] ZhengHe-MD commented on #1677
@jpkrohling please have a look when you're convenient.

[2020-11-23 08:36] jpkrohling commented on #1677
Interesting, I do remember fixing this during the PR reviews. I remember testing it using coredns locally to play with the DNS changes and confirmed that it worked, but perhaps that change went missing... In any case, as you have a PR and the unit test, feel free to submit it!

[2020-11-23 08:47] Vemmy124 opened #1679 "loadbalancingexporter: do batch consume in parallel"
**Is your feature request related to a problem? Please describe.**
I see some problems with the speed of spans delivery on highload. Batches split by trace id are sent sequentially, which could be the degradation point

**Describe the solution you'd like**
Do requests in separate goroutines

[2020-11-23 10:03] jpkrohling commented on #1621
Thanks for the feedback, @Vemmy124. Do you have the same problem with a regular OTLP exporter, with the same `sending_queue` configuration? I'm trying to establish whether the problem is in the load balancing exporter or whether this is in the underlying OTLP exporter.

[2020-11-23 10:04] jpkrohling commented on #1648
For the record, I went through the process with @ZhengHe-MD and it does look weird. I asked in the #easycla channel on CNCF's Slack about it.

[2020-11-23 12:14] Vemmy124 commented on #1621
The exact same settings with static resolver. These are good and enabling queue produces the problem.
[code]

Currently I'm using OTLP exporter in a custom loadbalancing exporter and it works fine with and without queue

[2020-11-23 12:34] jpkrohling commented on #1621
Sorry, I meant using the OTLP exporter directly, not as part of the loadbalancing exporter. In any case, I think I might have the info I need to debug this, unless you'd want to give it a try yourself.

[2020-11-23 13:58] pmatyjasek-sumo commented on #1146
I'm starting work on that.

[2020-11-23 15:15] owais opened #1683 "Bug report for failed CircleCI build (job: loadtest)"
Auto-generated report for `loadtest` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/53437

#### Test Failures
-  TestTrace10kSPS
-  TestTrace10kSPS/OTLP

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-11-23 18:27] #1662 closed

[2020-11-23 19:15] dustyhorizon opened #1684 "datadog backend treats all traces as errors"
**Describe the bug**
I am getting `CANCELLED: HTTP status code: 200` trace errors on datadog

**Steps to reproduce**
Unknown

**What did you expect to see?**
Traces should not be logged as errors if they completed successfully

**What did you see instead?**
Traces logged as errors on datadog

**What version did you use?**
Version: OTEL Collector Contrib v0.15.0, OTEL-go v0.14.0

otel-collector wit

[2020-11-23 20:59] ericmustin commented on #1684
@dustyhorizon Hey there, thanks for reaching out on this.

So, to be clear, the issue is that you see these traces in datadog's backend but they are marked as errors, is that correct? Could you share the full debug log output? If possible, Can you install the logging exporter and copy-paste the output for one of the traces?

Additionally, any context you have on how these traces are generated woul

[2020-11-23 20:59] ericmustin commented on #1684
@bogdandrutu 👋 would you mind assigning this to me as well? cheers

[2020-11-23 23:09] sirianni opened #1688 "[datadog exporter] Counter metrics are being sent as Gauges"
**Describe the bug**
Counter metrics are incorrectly being reported to Datadog as Gauge metrics

**Steps to reproduce**
Create a `LongCounter` metric.  Send it to datadog using the exporter.

**What did you expect to see?**
I expected to see delta values sent to datadog such that in the Datadog UI each datapoint represents the count within that interval.

**What did you see instead?**
 I see a mon

[2020-11-23 23:16] jrcamp commented on #1395
@kohrapha Thanks for running the numbers. I think if we want to optimize it the right thing to do is write a "native" OpenTelemetry collector receiver for the Prometheus protocol. It would then behave like all of our other scraping receivers. I think it should be even more performant than Setup 2 because it will be able to do less translation.

While I understand that having the single Prometheus

[2020-11-24 08:38] dustyhorizon commented on #1684
From which service do you require the full debug log output? I am only aware of exporting the debug log through the `logging` exporter

Attached is the full debug log as requested

[code]

Currently the requests are fronted by a graphQL and instrumented by otelhttp which will then be propagated to otelgrpc.

Datadog backend is showing this trace as an error

![image](https://user-images.githubuser

[2020-11-24 09:08] ericmustin commented on #1684
@dustyhorizon thank you, that's helpful. I am relatively sure the issue is related to the change made here: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/1489

Either OpenTelemetry-Go needs to be updated to account for the new status code settings, or the datadogexporter does. I'm going to attempt to reproduce this today and hopefully narrow down the root cause here, and i

[2020-11-24 09:14] dustyhorizon commented on #1684
Yes I am using the OTLP exporter to otel-collector-contrib v0.15.0.

I forgot to mention but I was on the previous version of opentelemetry-go v0.13.0 and opentelemetry-go-contrib v0.13.0 and the datadog UI was functioning fine then.

Thanks for the help!

[2020-11-24 09:18] mx-psi commented on #1688
Hi @sirianni, thanks for bringing this up. This is intentional but I agree it is confusing and I apologize for that. in order to avoid calculating the delta values in the client and keep state in the exporter we send the raw monotonically increasing values, so manual action in the webapp is currently required to have a sensible chart.

In particular, to recover the value per second of the metric a

[2020-11-24 09:25] ericmustin commented on #1684
@dustyhorizon ah, that's super helpful! ty ty. will try to update here by EOD with some more clarity

[2020-11-24 12:12] ZhengHe-MD opened #1690 "Rolling update of collector can prevent the DNS to be updated in loadbalancingexporter"
**Describe the bug**

Following description is extracted from discussions [1](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/1678#issuecomment-732790261) [2](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/1678#issuecomment-732638083):

The following pods are returned for the "otelcol" hostname: ["otelcol-abc", "otelcol-def", "otelcol-ghi"]. This repr

[2020-11-24 12:16] ZhengHe-MD commented on #1690
@jpkrohling see if there is any additional information is needed?

[2020-11-24 13:48] Vemmy124 commented on #1621
Without exporters Start function the queue for exporting wasn't initialized, so the PR above solves the problem

[2020-11-24 18:01] #1621 closed

[2020-11-24 18:45] sirianni commented on #1688
Hi @mx-psi - thanks for the quick and detailed response.  The suggested workaround is not working properly for me.  When I apply the `derivative` function to the counter value I'm getting values like `0.021` and `3.7e-3` which don't represent the delta in the raw counter value over the time granularity in question.

More broadly speaking, this seems like quite a gap in functionality.  I understand

[2020-11-24 21:22] jodeev opened #1695 "[exporter / newrelicexporter] Add support for queued retries"
Queued_retry processor is being deprecated: https://github.com/open-telemetry/opentelemetry-collector/tree/master/processor/queuedprocessor

The recommendation is to use the exporter queue and retry options, but that doesn’t seem to have been coded in yet to the newrelicexporter.

See an exporter conf that has implemented it: https://github.com/open-telemetry/opentelemetry-collector/blob/cb6014387

[2020-11-24 21:25] jodeev commented on #1695
@MrAlias

[2020-11-25 01:50] ZhengHe-MD commented on #1648
@jpkrohling I believe it's because the email shown in my commit is my company email, while the email I registered at EasyCLA is a gmail account.

[2020-11-25 01:52] ZhengHe-MD commented on #1690
@jpkrohling if there is no better way, I can create a PR with the solution suggested above.

[2020-11-25 03:13] rakyll commented on #1627
@mx-psi do you need a solution where you add the tag keys you want to the config file and the resourcedetectionprocessor fetches and adds them as resources? Or are you looking for something else?

[2020-11-25 08:56] jpkrohling commented on #1690
From @Vemmy124:

Thinking about this problem some more, I think the ideal solution is to return an error from our ConsumeTraces, based on the error we receive from the underlying ConsumeTraces. We should then also add `exporterhelper.TimeoutSettings`, `exporterhelper.QueueSettings` and `exporterhelper.RetrySettings` to the load balancer exporter.

This would allow people to still have a per-backen

[2020-11-25 08:57] mx-psi commented on #1627
@rakyll Thanks for having a look at this!

That could definitely work, but I think it would be easier to set up for end users if all available tags are added (if that is technically possible and you see no concerns)

[2020-11-25 09:05] mx-psi commented on #1688
Sorry, I did not write that properly in first message. `derivative` gets you the rate per second (so, not the deltas of the values sent to the exporter). [`diff`](https://docs.datadoghq.com/dashboards/functions/rate/#delta-value) should get you the delta values. In the event that `diff` doesn't give back what you expected, could you give me some more details about your environment so I can try to

[2020-11-25 10:48] ericmustin commented on #1684
@dustyhorizon I put up a PR that fixes things, tl;dr there were updates made to the way span status code works this specific vendor exporter didn't get updated to account for that due to some unusual timing issues around when this work got merged. Tested the above PR locally and it resolves the issue you were seeing

[2020-11-25 11:00] dustyhorizon commented on #1684
Haha thats great! Thanks for the fixes @ericmustin

[2020-11-25 15:39] #1648 closed

[2020-11-25 15:42] bogdandrutu opened #1697 "Inconsistent config in loadbalancer exporter"
**Describe the bug**
Config miss alignment in loadbalancer

**Steps to reproduce**
See the new way of defining dns added in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/1650

**What did you expect to see?**
A single consistent way to specify addresses using "endpoint"

**What did you see instead?**
To specify endpoint for dns resolver user has to specify hostname + port

[2020-11-25 16:04] MikeGoldsmith opened #1698 "Issue/PR auto-assign is making us miss contributions"
**Describe the bug**

We have seen on a number of occasions where the auto-assign feature combined with CODEOWNERS does not notify all parties of a new issue / PR, against a sub-directory we should be. Myself, @paulosman & @lizthegrey are all in the CODEOWNERS file alongside the @open-telemetry/collector-contrib-approvers, for the Honeycomb exporter but the auto-assign feature picks someone from t

[2020-11-25 16:35] courageJ opened #1700 "Add support for retry and sending queue for Stackdriver exporter"
**Is your feature request related to a problem? Please describe.**
When the request sent to Stackdriver fails, especially due to network connection issue, I would see the request is retried instead of being dropped right away.

**Describe the solution you'd like**
Since stackdriver exporter is created via exporter_helper, the solution is to leverage the sending_queue and retry mechanism in exporte

[2020-11-25 17:47] mx-psi commented on #1698
We (@mx-psi, @ericmustin and @KSerrania) are having similar issues with PRs made against the Datadog exporter.

[2020-11-25 20:24] jpkrohling commented on #1339
Ping @tigrannajaryan, @bogdandrutu

[2020-11-25 20:28] jpkrohling commented on #1697
It isn't consistent because the values mean different things.

The DNS resolver accepts a hostname to send a DNS A/AAAA query in order to resolve the list of backends. For each one of those results, an endpoint will be built based on the IP + the port specified in the config.

The static resolver, on the other hand, accept a list of endpoints (not hostnames), which is a complete specification of h

[2020-11-25 20:28] #1697 closed

[2020-11-25 20:31] #1677 closed

[2020-11-26 13:42] cyrille-leclerc commented on #1630
Thanks for the guidance @tigrannajaryan and @bogdandrutu . I'll close this issue and we will ship logs to Elasticsearch through the OpenTelemetry Collector exporter for Elastic.

[2020-11-26 13:42] #1630 closed

[2020-11-27 01:38] ZhengHe-MD commented on #1690
If we do async export, there is nothing the lb-exporter can do about the traces data, unless we have other means of communicating with the underlying exporter. If we do synchronous export, we have to put the queuing and retry logic in lb-exporter, which will take the right ip address after next resolution, but will certainly destroy current design.

But in our case, our systems in production envir

[2020-11-27 14:01] jpkrohling commented on #1690
Not really: there's already a timeout/retry facility that we can try to make use of: https://github.com/open-telemetry/opentelemetry-collector/blob/618095055f4514cbf3066b39ac63281e2f95de9d/exporter/otlpexporter/factory.go#L68-L75

This shouldn't happen. Are you thinking about using the load balancer as an agent? I see the load balancer as an extra layer in your deployment architecture:

client (yo

[2020-11-27 14:25] ZhengHe-MD commented on #1690
@jpkrohling

yes, you're right, we don't need to implement retry/timeout logic in the case of synchronous export.

yes. I replace jaeger-agent by otel-collector with loadbalancing exporter enabled. Is there anything bad with this setting? or Is there anything good with using two layers of collectors, with the first layer doing loadbalancing export while the second tail-based sampling.

[2020-11-27 14:33] jpkrohling commented on #1690
The biggest downside I see is very close to the concern you mentioned: ensuring a consistent cluster view across load balancers is critical in getting all the traceIDs sent to the correct collectors. The more load balancers you have, the higher the chances that the cluster view is going to be different.

I thought about having scalable load balancers (ie, with consistent cluster views using some c

[2020-11-27 14:33] pkositsyn commented on #1690
If you ask me, I also don't understand the need in extra layer. It just produces more traffic. You can try to compare your offered configuration to the following:
1. Agent: batch -> load balancing
2. Collectors: *do any work where the full trace isn't needed* -> groupbytrace -> *do some stuff with full traces* -> batch -> your favourite exporter

[2020-11-27 14:35] pkositsyn commented on #1690
Yes, need to mention, that with static resolver this seems certainly better to me

[2020-11-27 14:38] pkositsyn commented on #1690
And anyway, having only one instance of loadbalancer isn't fault tolerant at all. Anyway there is a need in synchronization with many instances

[2020-11-27 14:43] ZhengHe-MD commented on #1690
@pkositsyn I'm also concerned about extra traffic, and what I've done in production is pretty close to what you suggested, with some additional customized processors to spot interesting spans, and a tail-sampling processor to actually do the sampling.

[2020-11-27 14:47] ZhengHe-MD commented on #1690
@jpkrohling see, now I can understand why you want have an extra layer of collectors in your mind. the only concern I have is that this can make the solution a bit heavier.

[2020-11-27 14:47] jpkrohling commented on #1690
Yes: https://github.com/open-telemetry/opentelemetry-collector/issues/1724#issuecomment-691904210
I think you are the users we were looking for :-)

What would you rather use as the source of information? Zookeeper, etcd, something else? Or gossip between the existing instances?

[2020-11-27 15:20] ZhengHe-MD commented on #1690
I don't know what data consistency level the DNS service supply, let's say it is eventual consistency, then how to build an extra layer of strong consistency when you can receive different versions of data out of order. If it is strong consistency, then it's the same with what etcd or Zookeeper can supply.

[2020-11-27 15:30] jpkrohling commented on #1690
Sorry, by consistency I mean at the level of the load balancers. The problem in having multiple instances of the load balancer is that each one of them will do a DNS query at their own discretion, meaning that one DNS changes might take up to almost 2x the time interval to be reflected upon all load balancer instances.

Ensuring a consistent view across the cluster means that all clients have to r

[2020-11-28 18:38] nachomdo opened #1708 "Empty X-Ray traces when instrumenting Kafka consumer/producers"
**Describe the bug**

It seems that the current implementation only consider root segments if span kind is SERVER. This makes that other span types (i.e. CONSUMER or PRODUCER) are always considered a subsegment and even though they are exported to X-Ray their information is always empty

[code]

**Steps to reproduce**

Use the opentelemetry java autoinstrumentation agent and Kafka project with som

[2020-11-28 23:00] pkositsyn opened #1710 "improve groupbytraceprocessor performance"
**Is your feature request related to a problem? Please describe.**
Groupbytrace processor uses only one goroutine to handle events. This **might** be the issue for performance. Actually I have no problems, just would be nice to improve performance.

**Describe the solution you'd like**
I think this issue is mostly addressed to @jpkrohling, any suggestions are welcome though.

You can see that give

[2020-11-29 01:20] ZhengHe-MD commented on #1690
@jpkrohling
if we have a consensus algorithm built inside load balancer instances, that's not gonna work because what we want is a consistent view over all instances, not a quorum. and what we really want is simultaneously switching to new set of ip addresses, which is just like a two-generals problem.
if we use `etcd`, by notifying the consumers, it is indeed better than polling a consistent dns

[2020-11-29 10:32] pkositsyn commented on #1690
There is theoretically no way to guarantee 100% of complete traces via only lb patches. Given that spans from one trace can be split into batches (at least because they can come from different nodes), one batch can be sent to collector instance, then the backend disappears forever and there is nowhere to send second batch to keep the trace complete. To solve this general problem batches themselves

[2020-11-29 14:16] #1708 closed

[2020-11-29 15:58] yyyogev opened #1711 "Metrics exporter for Logz.io"
Logz.io is an ELK based observability platform. I'm interested in adding an OT metrics exporter for it to metrics to Logz.io

[2020-11-30 06:16] alolita commented on #1631
Hi @tigrannajaryan Thanks for the link. I looked at release.md but it doesn't seem to state the release frequency for the Collector builds to be available. I'm working with @AzfaarQureshi and @shovnik on migrating the Collector release workflows from CircleCI to GitHub Actions. Feel free to ping me if there are other workflows you have in mind that we can automate for nightly  and stable release b

[2020-11-30 11:02] jpkrohling commented on #1710
While this makes sense for the current implementation, the processor was made with the idea of extending it to have disk storage in the future. In that case, the delete operation will likely be a IO blocking operation.

If you think it would still be worth proposing the changes in a PR even with the idea of disk storage being implemented in the future, go ahead! A benchmark test would also help co

[2020-11-30 12:31] jpkrohling commented on #1690
The consensus is mostly to elect a leader, which will then establish what's the "right" view of the cluster and coordinate the changes with the other nodes. Without leader(s), we have no way of knowing which view is the correct one.

We can't ever guarantee that. Even with the most perfect solution, clocks could still be out of sync, making changes happen at apparently the same clock time and yet,

[2020-11-30 13:08] ZhengHe-MD commented on #1690
Yes, totally agree. and what I said "we", it is really representing your proposal, which suggest to maintain a consistent view of backends among load balancers. I think this is an overkill, and my issue is not really about that. I also certainly agree that

and this is exactly what I do:

that's enough for my specific use case. and let's repeat the issue title, "rolling update of collector can sto

[2020-11-30 13:16] jpkrohling commented on #1690
Sorry, I guess we sidetracked this issue quite a bit :-) To recap: this issue can be addressed by using the sending queue that we discussed earlier, right? There's still a question about what to do when only some items from the batch fail, and I think I would return "success" but record a metric with the number of traces/spans that were "silently" dropped.

[2020-11-30 15:53] ZhengHe-MD commented on #1690
@jpkrohling
this issue can be simply addressed by move the read lock acquiring logic around these two lines

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/0bf52151c029f7c37485ff240bedf94f04b31c96/exporter/loadbalancingexporter/exporter.go#L209-L210

and the periodical check will keep going. this is at least what we can do. but that may cause the traces/spans being dropped

[2020-11-30 17:33] rakyll commented on #1627
We probably don't want to attach all the available tags because there might be way too many of them and user can't always can alter/optimize tags for OpenTelemetry collector.

[2020-12-01 00:10] nicks opened #4972 "prometheusremotewrite emits noisy errors on empty data points"
**Describe the bug**
Here's the error message:

[code]

Here's the metric descriptor emitted by logging exporter for the same metric:

[code]

I don't know enough about the contracts here to know if this is a bug in the opencensus code that I'm using to send the metric, or in the batcher, or in the prometheusremotewrite exporter, or something else entirely.

**What did you expect to see?**
No erro

[2020-12-01 02:41] flands commented on #1448
Assuming this is good so closing for now -- please re-open if still experiencing issues.

[2020-12-01 02:41] #1448 closed

[2020-12-01 08:33] mx-psi commented on #1627
I see, having a list of tag keys to be added works then

[2020-12-01 09:23] jpkrohling commented on #1690
True, but note that this is about the sending queue for the underlying OTLP exporter. People using the sending queue for the load balancer itself aren't affected.

True. The best we can do is to record a data point whenever we receive an error from the underlying exporter.

[2020-12-01 11:07] ZhengHe-MD commented on #1690
yes, if it is the sending queue for load balancer, then it's possible to record more detailed metrics. this is a great point! maybe we should always disable the sending_queue in the underlying OTLP exporter, and make use of it in the load balancer exporter. I get your idea.

[2020-12-01 14:25] cpcloud opened #1733 "Honeycomb exporter sample_rate/sample_rate_attribute config values have undesirable behavior"
**Describe the bug**
The Honeycomb exporter sends events using the [`SendPresampled` method](https://github.com/honeycombio/libhoney-go/blob/3bfcd4dd123e0fb94015b8d1baf2fa0bdf81d270/libhoney.go#L759) which assumes that sampling has already taken place.

The `sample_rate`/`sample_rate_attribute` configuration values appear to have almost the opposite effect, which is that since the collector isn't

[2020-12-01 14:28] cpcloud commented on #1733
It's possible that I'm misunderstanding the way in which this is supposed to be used, and in fact this is expected behavior.

[2020-12-01 15:04] sbernierlacapitale opened #1734 "exporter/stackdriver: allow credentials file"
**Is your feature request related to a problem? Please describe.**
Traces are exported to Google Cloud Trace to the application's project. It is currently impossible (?) to specify another project as the target for these traces, or to use a specific service account.

For example, the traces sent to a collector hosted on GKE cannot easily be exported to Cloud Trace in another project, using another

[2020-12-01 16:04] amanbrar1999 commented on #1627
Is the idea here that the collector is running in an EC2 instance and we want to get the EC2 instance's tags? or the data ingested by the collector came from an EC2 instance?

[2020-12-01 16:37] mx-psi commented on #1627
@amanbrar1999 the former: the Collector is running in an EC2 instance and we want to get the tags associated to that instance.

[2020-12-01 16:46] mx-psi commented on #1627
@rakyll It looks like at Datadog we [optionally pull all tags](https://docs.datadoghq.com/integrations/faq/how-do-i-pull-my-ec2-tags-without-using-the-aws-integration/?tab=agentv6v7) and we have users that use this successfully, so it might not be a bad idea to at least have the option to add all tags.

The [relevant code of the Datadog Agent](https://github.com/DataDog/datadog-agent/blob/67407c6f

[2020-12-02 07:25] wilguo opened #1739 "X-Ray Exporter is treating HTTP 200 as a fault"
**Describe the bug**
When exporting traces to AWS X-Ray, an HTTP status code of 200 is triggering a fault because the `status.description` is being populated with "HTTP status code: 200". Whenever X-Ray sees a message in `status.description` it will throw a fault.

**What did you see instead?**
`status.description` should not be populated with a message.

**Additional context**
I'm currently tryin

[2020-12-02 13:05] #1739 closed

[2020-12-02 13:55] bogdandrutu commented on #1698
Any solution?

[2020-12-02 13:58] #1684 closed

[2020-12-02 14:26] bogdandrutu commented on #1647
/cc @pcwiese

[2020-12-02 14:26] bogdandrutu commented on #1646
/cc @kbrockhoff

[2020-12-02 15:03] ericmustin commented on #1644
@bogdandrutu we're blocked here by @owais on the above referenced issue, is there anything I can do to help here?

[2020-12-02 15:03] bogdandrutu commented on #1610
/cc @axw @simitt @jalvz

[2020-12-02 15:24] ericmustin commented on #1684
we're still waiting for a release here i believe

[2020-12-02 16:01] anuraaga commented on #1646
Sorry for missing this issue @CeeBeeCee - are you still seeing problems? I'm surprised by the difference with the AWS distro since we don't change that much there.

/cc @mxiamxia

[2020-12-02 16:27] rakyll opened #1749 "Assert the sigv4 signature in awsprometheusreciever tests"
cc @amanbrar1999 @JasonXZLiu @alolita

[2020-12-02 16:31] rakyll opened #1750 "Add negative signature assertion test to the awsprometheusremotewriterexporter"
cc @amanbrar1999 @JasonXZLiu @alolita

[2020-12-02 16:32] rakyll opened #1751 "Add comments in awsprometheusremotewriterexporter tests to ensure users don't copy/paste environment variables to pass credentials in tests"
cc @amanbrar1999 @JasonXZLiu @alolita

[2020-12-02 17:49] #1611 closed

[2020-12-02 18:07] bogdandrutu commented on #1590
@dackroyd completely agree, I think collector should be used for resource detection in general.

[2020-12-02 18:08] bogdandrutu commented on #1444
No longer happening.

[2020-12-02 18:08] #1444 closed

[2020-12-02 19:48] espower commented on #1562
Since the xray javaagent is failing to trace queries that go through an ALB we switched to using the otel javaagent and everything lights up rather nicely.  Unfortunately, as stated above, there is no dynamic controls for ingestion the way the xray agent does, where adjusting the sampling rules would allow us to bump up the number of ingested traces or tune it back to little/none

The biggest sell

[2020-12-02 20:30] CeeBeeCee commented on #1646
No worries @anuraaga . I just pulled v0.16.0 version and I see the same thing. The exporter seems to have exported the traces to XRay but they don't show up.

docker pull otel/opentelemetry-collector-contrib:0.16.0

REPOSITORY                                                          TAG
docker.io/otel/opentelemetry-collector-contrib   0.16.0

Log sample :
Dec 02 15:27:27 2020-12-02T20:27:27.835Z

[2020-12-02 20:35] CeeBeeCee commented on #1646
I have the collector running in the debug mode (--log-level DEBUG) but I dont see any debug logs for the AWS exporter. Is there another way to turn on debug logging?

[2020-12-02 20:53] tigrannajaryan commented on #1562
I have an internal design document for remote configurability of the Collector. Let me see if I can make it available publicly.

[2020-12-02 23:41] zl4bv commented on #1646
Hiya, I'm seeing similar symptoms however I'm running the aws-otel-collector distro v0.4.0 - multiple spans/segments are reported to have been successfully exported to X-Ray from the collector but they never show up in X-Ray.

I'm running the [default config](https://github.com/aws-observability/aws-otel-collector/blob/main/config.yaml) from the AWS distro with the metrics processors and exporters

[2020-12-03 00:24] anuraaga commented on #1646
@zl4bv Thanks for the logs. It looks like you are using `opentelemetry-go` (bawsed on the `go.opentelemetry.io/contrib/instrumentation/github.com/gin-gonic/gin/otelgin semver` in there), and the trace ID is not starting with a unix timestamp, which is required for X-Ray. We're currently working on submitting a custom ID generator for `opentelemetry-go` which would then allow you to use it with X-R

[2020-12-03 00:55] axw commented on #1610
Thanks for the ping. There are some enhancements required on the backend before we can support this.

Cross-referencing: https://github.com/elastic/apm/issues/377

[2020-12-03 02:04] #1586 closed

[2020-12-03 02:04] #1645 closed

[2020-12-03 02:19] CeeBeeCee commented on #1646
@anuraaga : I have 3 apps ( Python, Java and JS) instrumented with Opentelemetry (not AWS Distro) which are emitting traces. Traces for all three apps seem to be processed by the collector but don't make it to Aws. They so show up in Jaeger which I'm using as a second exporter.

[2020-12-03 02:21] CeeBeeCee commented on #1646
I will send some samples traces from the logging exporter tomorrow. Meanwhile if there is a way to turn on debug level logs for the AWS exporter, please let me know

[2020-12-03 02:47] anuraaga commented on #1646
Thanks @CeeBeeCee - you helped me find this spot that is clearly lacking an important debug log statement

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/master/exporter/awsxrayexporter/awsxray.go#L64

For the issue, it seems to be the same - you will need to either use the AWS Distro for instrumentation which is preconfigured for use with x-ray, or manually enable the x-ra

[2020-12-03 04:40] zl4bv commented on #1646
@anuraaga thanks for the clarification about trace IDs not starting with a UNIX timestamp.

I have 2 apps (Go and JS) - I'll wait for the ID generator changes and try the Go app again later. As for the JavaScript app it appears to be working now with your suggestion to manually enable the X-Ray ID generator in the JS SDK. Thanks heaps!

[2020-12-03 05:01] alolita commented on #1562
Adding link to other issue with more details on Sampling SIG setup - https://github.com/open-telemetry/community/issues/577#issuecomment-737663366

[2020-12-03 19:27] CeeBeeCee commented on #1646
@anuraaga : I updated my Python code to use AwsXRayIdsGenerator and I can now see the traces in XRay using opentelemetry-collector-contrib. Thanks so much for your help!

trace.set_tracer_provider(TracerProvider(resource=resource,**ids_generator=AwsXRayIdsGenerator()**))

**Side question :** I have a team asking if we can use OTel with AWS Step Functions instead of XRay. What's your take on this?

[2020-12-04 13:47] altieresfreitas opened #5009 "Add SASL/SCRAM authentication to Kafka receiver and exporter"
**Is your feature request related to a problem? Please describe.**
I would like to use SASL/SCRAM authentication mechanism on kafka receiver and exporter.
The current authentication mechanisms implemented on collector are not supported by AWS MSK

**Describe the solution you'd like**

SASL/SCRAM authentication mechanism is already supported by [sarama](https://github.com/Shopify/sarama/tree/master

[2020-12-07 05:42] rakyll opened #4979 "Allow remote write tuning for the prometheusremotewriteexporter"
Prometheus server provides a variety of options for the users to fine tune the remote write API calls. These parameters are summarized at https://prometheus.io/docs/practices/remote_write/. prometheusremotewriteexporter should allow users to tweak the exporter in a similar fashion where possible.

cc @jeromeinsf @alolita

[2020-12-07 05:44] rakyll opened #1779 "Allow remote write tuning for the awsprometheusremotewriteexporter"
This is a tracking bug for https://github.com/open-telemetry/opentelemetry-collector/issues/2259 changes to be propagated to the awsprometheusremotewriteexporter.

[2020-12-07 06:32] ZhengHe-MD commented on #1690
@jpkrohling

It's been several days, so, how about firstly narrow down the critical area, fix this issue first, and then introduce queuing settings to loadbalancing exporter, with more fine-grained metrics, and enforce the underlying OTLP exporter to disable queuing. If we consent on this, I'd be glad to create PR for this.

[2020-12-07 09:47] jpkrohling commented on #1690
I'm OK with that!

[2020-12-07 13:04] MikeGoldsmith commented on #1698
I think we need to review the auto-assign feature being used to select an individual from the pool of reviewers. Ideally it would pick one from the (first) **collector-contrib-approvers** team, and subsequent entries in the CODEOWNERS file ass approvers. However, I'm not sure that is possible.

An alternative would be manual process, where whenever any PR that directly affects a vendor managed exp

[2020-12-07 13:12] mx-psi commented on #1698
I don't think this would work for this repo, Github docs [say](https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners)

which would not be the case here.

[2020-12-07 14:24] MikeGoldsmith commented on #1698
Interesting, so CODEOWNERS only works with users who have write permissions.

With that in mind, I think a general process of getting approval from a vendor contributor should be required before merging, alongside an approval from the OTel contrib approvers of course.

[2020-12-07 15:52] adamantike opened #1781 "[awsxrayexporter] Allow aliases for X-Ray indexed attributes"
**Is your feature request related to a problem? Please describe.**

Currently, with the implementation of #808, resource and span attributes can be listed to be sent to X-Ray as annotations instead of metadata, which allows filtering by them in X-Ray. An example configuration is:

[code]

With this configuration, a filter like `annotation.otel_resource_service_environment = "prod"` works in X-Ray.

[2020-12-07 18:35] rakyll opened #1783 "Honor retry, queue and timeout settings in awsprometheusremotewriteexporter"
This is a tracking bug to propagate documentation changes once https://github.com/open-telemetry/opentelemetry-collector/issues/2266 is merged.

[2020-12-07 18:36] rakyll opened #1784 "Fix the inaccurate mention of headers in awsprometheusremotewriteexporter"
This is a tracking bug to propagate changes once https://github.com/open-telemetry/opentelemetry-collector/issues/2268 is merged.

[2020-12-07 20:25] courageJ opened #5012 "Optional normalizing metric name in prometheus receiver"
**Is your feature request related to a problem? Please describe.**
If one metric is the prefix of another metric, they will be combined into one metric family and the labels are merged. For example, metric_a_sum, and metric_a, they will be converted to one metric, and the sum metric is added to the Sum field in the metric proto. There is a case that two metrics are named as metric_a_sum and metric

[2020-12-08 00:46] atoulme commented on #965
@nebffa Is this issue now resolved? OK to close?

[2020-12-08 00:49] nebffa commented on #965
@atoulme yes this issue is now resolved. I suppose I can close it with this comment? Let me try...

[2020-12-08 00:49] #965 closed

[2020-12-08 15:58] chitrartha opened #1787 "elastic exporter not recognized"
**Describe the bug**
Attempting to configure elastic as an exporter but keeps getting an error complaining that it is an unknown exporters type

**Steps to reproduce**
Add elastic as an exporter and start otel collector using the repo from otel-collector_0.16.0_amd64.deb

**What did you expect to see?**
The collector running with elastic exporter with no issues

**What did you see instead?**
The c

[2020-12-08 16:28] mx-psi opened #1789 "[statsdreceiver] Counters are marked as monotonic"
**Describe the bug**

Statsd count metrics are being reported as monotonic when they are not. This can cause other components to incorrectly assume monotonicity (currently the SignalFx exporter and in the future the Datadog exporter).

**Steps to reproduce**

Run an OpenTelemetry Collector with the statsd receiver and send a count metric to it.

**What did you expect to see?**

Statsd metrics bein

[2020-12-08 23:46] rakyll commented on #1783
Closing for the reasons I've closed https://github.com/open-telemetry/opentelemetry-collector/issues/2266.

[2020-12-08 23:46] #1783 closed

[2020-12-09 08:11] mx-psi commented on #1789
cc @keitwb @jmacd since you are CODEOWNERS of this component.

[2020-12-09 13:40] cyrille-leclerc commented on #1787
@chitrartha could you be using the "trimmed" OpenTelemetry Collector package rather than the "contrib" package? The "contrib" package include the vendor exporters such as the Elastic" exporter.

* the package you use: otel-collector_0.16.0_amd64.deb
* the contrib package: [otel-contrib-collector_0.16.0_amd64.deb](https://github.com/open-telemetry/opentelemetry-collector-contrib/releases/download/v

[2020-12-09 15:54] chitrartha commented on #1787
@cyrille-leclerc Thank you so much. It works now!!

[2020-12-09 17:41] #1787 closed

[2020-12-09 17:49] andrewhsu commented on #1734
from the triage session at the sig mtg today, @dashpole volunteered to be assignee of this issue

[2020-12-10 02:59] james-bebbington commented on #570
Apologies for no updates on this for some time. We intend to get to this in the next month or two. If this is a blocker for you in the meantime, you could try writing your own detector based on: https://github.com/open-telemetry/opentelemetry-go-contrib/blob/master/detectors/gcp/gke.go

[2020-12-10 03:15] james-bebbington commented on #1700
This is definitely on our list of things to get to

[2020-12-10 03:50] nilebox commented on #709
The error clearly says that you're missing labels:
[code]

Let's have a look at the "cluster_name" for example.
You have a mapping in the config:
[code]

But where is the `contrib.opencensus.io/exporter/stackdriver/cluster_name` source resource attribute being produced?
Does it get produced by the OpenCensus receiver?
I'd suggest to use the [Logging exporter ](https://github.com/open-telemetry/ope

[2020-12-10 05:50] albertteoh commented on #403
I've put together a Proof of Concept. Here's a screenshot:
<img width="1725" alt="Screen Shot 2020-10-26 at 9 07 30 pm" src="https://user-images.githubusercontent.com/26584478/101727044-d63c0680-3b07-11eb-90c9-0dacb6910e6c.png">

[2020-12-10 07:09] albertteoh commented on #403
Wondering if I could get some early feedback on this from the community, particularly, the approach taken to transform trace telemetry to metrics, which I've illustrated here:

![Metrics from trace processor 3 pipelines (1)](https://user-images.githubusercontent.com/26584478/101728714-fde09e00-3b0a-11eb-8c26-f228c0b74ead.png)

The approach is to have a common trace receiver that feeds two pipeline

[2020-12-10 07:09] nilebox commented on #709
I'm closing the issue since it doesn't have enough details on what is the exact issue and how to reproduce it.

Feel free to reopen it and add missing details.

[2020-12-10 07:09] #709 closed

[2020-12-10 10:48] jpkrohling opened #1797 "Discuss the possibility of deprecating the tail-based sampling processor"
As discussed during yesterday's SIG Collector meeting, I would like to start planning the deprecation of the tail-based sampling. The replacement would be:

1. (exists) `groupbytrace` processor, which replaces the part of the tail-based sampling that holds spans in memory for a specific amount of time
1. (doesn't exist yet) `attributesamplingprocessor`, replacing the `string` and `int` policies fr

[2020-12-10 10:57] jpkrohling commented on #1797
@tigrannajaryan, once you enable "Discussions" for this repository (it's under settings), please convert this to a discussion.

[2020-12-10 11:59] ZhengHe-MD commented on #1797
I agree with the new design. and what I'm trying now is to use different customized processors to tag span, using two special tags, `sampling.priority` and `sampling.reason`. and use only one numeric attribute policy in tail-based sampler:

[code]

[2020-12-10 15:04] tigrannajaryan commented on #1797
Otel is still deciding whether to have separate "Discussions" per repo: https://github.com/open-telemetry/community/discussions/583

[2020-12-10 16:59] objectiser commented on #403
@albertteoh Could there be a concept of a `local` metrics receiver, that any component could generate metrics for? So then the `spanmetrics` processor could be part of the normal trace pipeline, and the `local` metrics receiver could be used to trigger a single metrics pipeline.

[code]

[2020-12-10 19:42] chris-smith-zocdoc commented on #1733
@cpcloud this is working as intended. You should configure a sampling processor to perform the actual trace sampling

The [Probabilistic Sampling Processor](https://github.com/open-telemetry/opentelemetry-collector/blob/master/processor/samplingprocessor/probabilisticsamplerprocessor/README.md) is the easiest to get started with.

Internally we are using a custom processor in combination with the

[2020-12-10 19:52] chris-smith-zocdoc commented on #1797
Internally we already are using a separate processor for sampling and it works well enough; though we are using the tail sampler + always_sample instead of groupbytrace

Before migrating to groupbytrace I'd like to see how it performs compared to the tail sampler. There are these loadtest results in the main repo but I'm not sure the last time they've been updated https://github.com/open-telemetry

[2020-12-10 20:42] pmm-sumo commented on #1797
I think the tail-sampling in its current form has a limited usability and the plan sounds great, though splitting the procedure across several processors also expands the configuration section, which might be somewhat error prone and verbose.

One alternative to tail-sampling processor I would like to throw-in is (essentially) a fork I was working on: [cascadingfilterprocessor](https://github.com/

[2020-12-10 22:31] stephenhong opened #1799 "Unable to export traces & metrics from one collector to another collector"
**Describe the bug**
I have two EC2 instances (let's call them A & B), each hosting a collector. A is also hosting a Node.js application which sends traces & metrics to collector on A. I have sapm exporter configured for collector on A and sapm receiver configured for collector on B. When I run my Node.js application, the collector log shows that there is a 403 error and collector on A is unable t

[2020-12-11 00:44] kohrapha commented on #1395
@jrcamp I took a look at your skeleton and wrote a minimal POC for the native Prometheus receiver that exports only gauges and counters. You can check it out [here](https://github.com/hdj630/opentelemetry-collector-contrib/pull/150/files).

I ran the same experiment as before on this setup and got the following results, where "Setup 3" is contains the native Prometheus receiver POC:

**CPU Utiliza

[2020-12-11 01:25] amanbrar1999 commented on #1751
should be resolved by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/1755/files

[2020-12-11 02:11] rakyll commented on #1751
Yes, closing this.

[2020-12-11 02:11] #1751 closed

[2020-12-11 02:58] rakyll opened #4988 "Set reasonable defaults to the prometheusremotewriteexporter"
prometheusremotewriteexporter doesn't have Prometheus-specific default retry settings at this moment and we should set better defaults. This is impacting the overall retry strategy and how aggressive retries should be.

[2020-12-11 03:00] rakyll commented on #1627
@mx-psi We can make it an opt-in. If user provide a setting explicitly, we can pull them all. @amanbrar1999 what do you think?

[2020-12-11 03:06] amanbrar1999 commented on #1627
For sure that can be done. My proposal is to add optional configs for each detector, so within the EC2 detectors config we can provide both options to pull all tags or provide a list of tags. I have the idea in mind but haven’t quite gotten around to coding it, hopefully will have some more time next week.

[2020-12-11 03:15] rakyll opened #1800 "Add logging support to the Elasticsearch exporter"
This issue is moved here from https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/1630 as a tracking bug.

@cyrille-leclerc Let me know if anyone is already working on this. This future is on our TODO list and we can help if no one is actively working on it.

[2020-12-11 08:56] albertteoh commented on #403
Thanks @objectiser, that config looks cleaner. Please correct me if I'm wrong; I think the `spanmetrics` processor still needs an exporter as they expose the `ConsumeMetrics` function for sending metrics (i.e. to trigger a pipeline), whereas receivers don't offer such means.

Your suggestion got me thinking though... I'd like to understand the motivation for [needing at least one receiver in a pip

[2020-12-11 09:07] mx-psi commented on #1627
👍, that sounds good to me

[2020-12-11 09:07] objectiser commented on #403
@albertteoh My suggestions were not based on the current internal implementation, but focusing first on how it might be simplified for configuration - and then address how to deal with this "local" receiver as a second consideration.

I like your updated suggestion as well - my only comment would be that it would not allow any processors to be defined on the metrics generated by the `spanmetrics`

[2020-12-11 09:34] jpkrohling commented on #1797
One thing that is missing from the original proposal is that we'll need a library with a base context key to hold the current decision for the trace: sample, drop, undecided. Most processors would set either `sample` or `undecided`, but processors like the `ratelimiting` would return either `drop` or `undecided`. A finalizer will then be needed, to effectively sample or drop.

[2020-12-11 11:58] alexvanboxel opened #1802 "OTLP over Google Pubsub exporter/receiver"
**Is your feature request related to a problem? Please describe.**
Have the possibility to send OTLP data over Google Pubsub.

**Describe the solution you'd like**
Have both a receiver and exporter that sends data over Google Pubsub, configuring the subscribers and topics for each type (trace/metric/logging)

**Additional context**
A PR will soon be provided that does this. We're using data pipeli

[2020-12-11 12:46] paulgrav opened #1803 "Elastic exporter discards exception data"
**Describe the bug**

I have instrumented a JaxRS Java app with opentelemetry-java-instrumentation. opentelemetry-collector-contrib is configured to receive `otlp` and to export `elastic` + `loggin`. Elastic-APM is configured to output to console and Kibana.

I can see in the logs that the the collector is receiving trace data containing expection data in the span, but the `elastic` exporter drops

[2020-12-11 13:15] realwoobinlee opened #1804 "StatusCodeUnset using Zipkin Receiver and ElasticAPM Exporter"
**Describe the bug**
If Webservices send traces to collector using Zipkin receiver and the traces have to be exported to ElasticAPM, i face the problem that "otel.status_code =0" is being adopted instead of "http.status_code". as a result we see on Kibana Dashboard "Status_Code_Unset".

**Steps to reproduce**
My suggestion is just to get rid of this otel.status_code.

**What did you expect to see?

[2020-12-11 16:59] #1799 closed

[2020-12-11 17:00] stephenhong commented on #1799
It was a proxy issue. The problem is solved now.

[2020-12-11 17:29] jmealo commented on #717
@perljusback: The opentelemetry-azure-monitor-js just removed the ability to change outgoing telemetry. (The release that does this is on the master branch, it's not published, the version published on NPM has critical issues that crash the process under observation). There are a ton of fields in AI that I was unable to populate no matter how I sent them. (Device information and user location seem

[2020-12-11 17:52] jrcamp commented on #1395
@kohrapha thanks for running the numbers. Can you join next week's SIG to discuss?

[2020-12-11 18:05] kohrapha commented on #1395
@jrcamp sure, see you there!

[2020-12-11 22:23] pkositsyn opened #1807 "Groupbytraceprocessor gets overloaded in heavy pipeline"
**Describe the bug**
In https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/1504 the leak of goroutines was fixed. It occured when there was heavy following processing. But still there is another issue - even though goroutines aren't leaked, `doWithTimeout` function waits for the processing (at most 1s but it is a lot). This overloads the processing queue resulting in an infin

[2020-12-11 23:32] pkositsyn commented on #1797
There are some questions to the finalizer. How can it decide anything if traces can be modified? For example, using batch processor. Not obvious, how the decision should be made for a batch (its context is not propagated to the next processor). I see only one workaround - manually prohibit some processors in between.

[2020-12-14 09:50] jpkrohling commented on #1807
I took a look at the PR, and I'm not sure running the `onTraceReleased` on a separate go routine is the best solution. All events are processed by the machine as part of the same thread, and that changes with the PR. Async processing should probably made in the callback.

[2020-12-14 09:52] jpkrohling commented on #1797
That's what I had in mind.

[2020-12-14 09:53] cyrille-leclerc commented on #1800
Thanks Janaa. I'll clarify by midweek how we are moving forward on on adding logs support to the Elastic exporter.

[2020-12-14 10:07] pkositsyn commented on #1807
This is the last event, so I don't see any problem in making it async - no work with queue should be done there. However, I agree, that for consistency it would be better to do as you said.

If we agree, that no work with queue should be done in `onTraceReleased`, then I think there's still no purpose in running this with observability.

[2020-12-14 10:17] jpkrohling commented on #1807
The problem isn't the observability itself, but that it synchronously waits for the onTraceReleased results, right? If you need to fire and forget, it might be better to add a new config option instead, no?

[2020-12-14 10:24] pkositsyn commented on #1807
To be honest, I don't like additional config option for whether showing 5 additional metrics or not. I'd better leave observability as it is now

[2020-12-14 12:47] jpkrohling commented on #1797
@tigrannajaryan, is the plan sound enough to deprecate the tail-based sampling?

[2020-12-14 19:33] MarkSeufert commented on #1800
Currently working on a logs[ Elasticsearch exporter](https://github.com/open-telemetry/opentelemetry-cpp/pull/444) for the C++ repo, it'd be useful to see how the collector defines the mapping between OTEL log fields to Elasticsearch so that we can stay consistent.

[2020-12-14 22:13] james-bebbington commented on #688
@nilebox can this be closed now?

[2020-12-14 22:29] nilebox commented on #688
We have used #1010 as a workaround, so this issue can be closed.

[2020-12-14 22:29] #688 closed

[2020-12-15 06:00] pavankrish123 opened #1839 "Add proper opencensus.resourcetypes for kubelet stats metrics"
**Is your feature request related to a problem? Please describe.**
All the metrics derived from kubeletstats receiver are marked with opencensus.resourcetypes as "k8".

However the semantics have defined different resource types for pods, container and nodes. It would be beneficial to have correct resource type marked for different metrics for pod (k8s.pod.* metrics) nodes (k8.node.*) and containe

[2020-12-16 03:06] boostchicken opened #1852 "DataDog APM Trace Agent Receiver Support"
**Is your feature request related to a problem? Please describe.**
I need to intake traces from the Datadog APM agent and export them to a variety of places

**Describe the solution you'd like**
Create a Datadog Trace Agent Receiver that translates the v0.3, v0.4, and v0.5 API traces to OpenTelemetry format that is suitable for any exporter

**Describe alternatives you've considered**
Asking Datad

[2020-12-16 15:03] cyrille-leclerc commented on #1803
I had a question that may be connected: do we capture the OpenTelemetry span events?

Example of Otel event that I didn't see in Elastic APM

[code]

https://github.com/cyrille-leclerc/my-shopping-cart/blob/08f33761010d268793edb6e1d2101eaa579d830f/frontend-java/src/main/java/com/mycompany/ecommerce/controller/OrderController.java#L96

[2020-12-16 15:36] paulgrav commented on #1803
@cyrille-leclerc I’m guessing it’s related to this: https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/91cbf1fd7f4eeea0087fdf782e3ff5b04e3ac90f/exporter/elasticexporter/internal/translator/elastic/traces.go#L88

The stacktraces that I’m missing are sent in the span events.

[2020-12-16 16:21] tigrannajaryan commented on #1797
I have concerns about ease-of-configuration of this proposal. What does a typical configuration going to look like compared to an equivalent configuration when using existing tailbasedsampling processor?

Normally I am for composable behavior and for breaking down into smaller processors that can be composed in some other ways. However, I would like to understand in what other ways can these 3 new

[2020-12-16 21:06] dashpole opened #5001 "Renaming metrics with prometheus receiver produces unknown-type metrics"
**Describe the bug**
If the `__name__` label is changed using prometheus relabel configs, the prometheus receiver fails to populate metric metadata.

The root cause is that the prometheus receiver [looks up metric metadata](https://github.com/open-telemetry/opentelemetry-collector/blob/575600b8b63e448c7d1e6559b90b971b8fd58949/receiver/prometheusreceiver/internal/metricfamily.go#L53) using the _fin

[2020-12-17 00:59] djaglowski commented on #403
[Here is a very rough draft of an alternate proposal](https://docs.google.com/document/d/1zPq--oeHEjQbGLQTDhwPf2ByZ4vzW3mYwQRawAnO0yQ/edit?usp=sharing). I'm providing here in case it may generate useful discussion or ideas.

[2020-12-17 01:44] axw commented on #1803
@paulgrav thanks very much for the detailed error report!

Indeed this is related to the fact that we don't/can't currently capture arbitrary span events. We should, however, be able to translate exceptions to Elastic APM's "error" model. We'll look into doing this.

[2020-12-17 08:44] jpkrohling commented on #1797
I'll work on this in January, but I'm also not entirely convinced at this point. To recap: this started once I changed the current tail-based sampling to remove features that exist as dedicated processors, like the groupbytrace. All that was left was the policy part, which I extracted as a new `policysamplingprocessor` (#1786), while the `tailsamplingprocessor` is kept for a while for backwards co

[2020-12-17 09:48] cyrille-leclerc commented on #1800
Thanks for your patience @rakyll and @MarkSeufert.

Elastic plans to work on the OpenTelemetry Collector exporter toward Elasticsearch right now and it should not be a very long task.

We were doing a PoC when we opened https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/1630 and we are just starting a new release iteration, it's the right time for us to  implement.

**@rakyll

[2020-12-17 11:21] objectiser commented on #403
@djaglowski Sounds reasonable - although for clarity could you add an example OTC config that addresses this use case, for example:
* tracing data, processed to derive metrics
* tracing data then needs to be further processed before being exported
* derived metrics then exported to another metrics pipeline that maybe does additional processing before exporting to the desired backend

[2020-12-17 14:44] djaglowski commented on #403
@objectiser, I've updated the doc to include your example scenario and a possible configuration for it. This example highlights a gap in my proposal, which I've also addressed at the end. Thanks for reviewing, and for the suggestion.

[2020-12-17 14:59] juldou commented on #1695
is there any workaround till the feature will be implemented?

[2020-12-17 15:58] objectiser commented on #403
@djaglowski Looks good, thanks for the update.

[2020-12-17 21:32] kohrapha commented on #1395
Made a draft PR #1793 for the native simple Prometheus receiver POC I implemented based off of @jrcamp's template above. In case anyone wants to develop and iterate on this idea further.

[2020-12-17 21:34] kohrapha commented on #1395
Also, following yesterday's discussion during the SIG meeting, our team will contribute a new ECS observer that will _eventually_ perform service discovery using the observer/receiver creator framework that @jrcamp outlined above. However, for our short-term needs, we will first be implementing the proposal I outlined earlier (i.e. writing to an SD config file for Prometheus to read from).

cc: @m

[2020-12-18 08:54] juldou opened #1860 "Opencensus exporter is using queued retry from not yet implement exporterhelper"
**Describe the bug**
I have bumped opentelemetry-collector-contrib from v0.7.0 to v0.17.0, seemed everything worked fine till agents tried to retry of sending the data. We are using queued_processor, which is deprecated now, but as far as I understand, it should work. From error logs, it seems that it tries to run retry from exporterhelper, but exporterhelper isn't implemented into opencensus expo

[2020-12-19 04:26] ericmustin commented on #1644
👋 @stephenhong just wanted to ping here to let you know we have a PR approved upstream (see above) that should be merged soon and ideally available in next release. Definitely let us know if you have any other questions/issues with collector export, feel free to open an issue and tag us or reach out over the gitters as well. Cheers!

[2020-12-21 11:11] albertteoh commented on #403
Thanks for putting together the proposal, @djaglowski.

I feel an important requirement for trace -> metrics aggregation is having access to all span data before any filtering (like tail-based sampling) and potentially after span modification processors are applied.

If I understand correctly, the signal translators are implemented as exporters, which I believe would be subject to all processors i

[2020-12-22 14:27] ericmustin commented on #1852
👋 Hey @boostchicken, thanks for filing this. glad to see folks interested in OTEL. A few quick thoughts here, as we're running a bit light over the holidays but I didn't want to leave you hanging.

- I'm an IC over at datadog but i'll try to speak from the position of datadog as an org here. Apologies in advance if I sound like a politician, not my intention. Anyway.
- Datadog definitely understan

[2020-12-22 15:45] djaglowski commented on #403
@albertteoh I believe my proposal covers this, though the usability may be a bit poor.

In the example shown in the doc, copied below, `pipeline a` is a forking mechanism for the raw traces, so that they can be 1) passed along to `pipeline b` without modification, and 2) processed into metrics and passed to `pipeline c`.

[code]

[2020-12-22 17:40] djaglowski commented on #403
A new type of component would simplify the above proposal. I've expanded upon this in the doc, but here is the high level idea:
[code]

![image](https://user-images.githubusercontent.com/5255616/102917224-d1098080-4452-11eb-8751-f1cf33b52b20.png)

[2020-12-22 19:22] objectiser commented on #403
@djaglowski Haven't looked in the doc, so possibly explained there - but what is the purpose of the `Traces to Traces Translater`? Seems redundant as just dealing with the trace pipeline.

[2020-12-22 19:38] djaglowski commented on #403
@objectiser It would probably make more sense if described as a `Traces Forwarder`. The reasoning for this to be included here at all, is that it would be a bridge between pipelines.

Ultimately, this is all in the context of trying to work with the existing pipeline format, where a fan out happens before Exporters. A "Translator" would be an abstraction of an Exporter/Receiver combo that bridges

[2020-12-22 19:45] objectiser commented on #403
@djaglowski Ok thanks for the explanation - I'm not familiar with the internals of the collector so may be wrong - but I thought `Traces Receiver` could just be shared by pipeline A and B (i.e. also used as the receiver for pipeline B instead of the `Traces to Traces Translator`) to achieve the same result?

[2020-12-22 19:54] djaglowski commented on #403
@objectiser You might be right about being able to reuse components.

However, for the purpose of chaining together pipelines, I believe it would become ambiguous which pipeline you intend to emit to.

The `Traces Forwarder` would be an abstraction on both a receiver and an exporter, both of which are configured to communicate on a specific port.
![image](https://user-images.githubusercontent.com/

[2020-12-23 00:20] KKelvinLo opened #1893 "Add parsing of Go stack traces to AWS X-Ray Exporter"
**Is your feature request related to a problem? Please describe.**
Currently the OpenTelemetry Go SDK does not contain the attributes in its span for a stack trace exception nor does it throw one. See [Issue#764](https://github.com/open-telemetry/opentelemetry-specification/issues/764).

**Describe the solution you'd like**
Implement the parsing of Go Exceptions and Errors in the awsxrayexporter w

[2020-12-23 02:44] gramidt opened #1894 "Export logs to Loki"
**Is your feature request related to a problem? Please describe.**
I would like to send log data to Loki (https://grafana.com/docs/loki/latest/)

**Describe the solution you'd like**
Have an exporter that sends log data to Loki.

**Additional context**
A PR will soon be provided that accomplishes this request. The primary driver for Loki is that its design is similar to that of Cortex and reduces

[2020-12-23 05:57] cemo opened #1896 "[Datadog] Deploment Tracking is not working"
**Describe the bug**
Deployment tracking is not working on Datadog Exporter

**Steps to reproduce**
Add a value to *service.version*

**What did you expect to see?**
Deployments on Datadog side.

**What did you see instead?**
![image](https://user-images.githubusercontent.com/44156/102964335-6a40a180-44fc-11eb-8eee-119bd8f7ed3d.png)

**What version did you use?**
0.17.9

**Additional context**
Her

[2020-12-23 14:00] ericmustin commented on #1896
👋 Hey there. @cemo  We're running a bit light over the holidays but wanted to try to help

A couple things to check quickly that could be culprits here

- Do you have a resource attribute `service.name` ? or are you setting the `service` setting in the datadog exporter config? I believe we rely on `service.name` and not `service.namespace` here when looking at resource attributes

- Do you have a

[2020-12-23 14:39] cemo commented on #1896
Hi @ericmustin,

Our all environments (production, staging and test) are on the same kubernetes cluster. That is why we are not using datadog exporter config.

We are setting deployment.environment, service.name and service.version (You can see on our previous comment).

![image](https://user-images.githubusercontent.com/44156/103007811-20c87480-4545-11eb-87dc-bb7695430ab1.png)

1.  We set `servic

[2020-12-23 16:56] ericmustin commented on #1896
@cemo Indeed, taking a look at some of your traces in the backend it seems like environment, service, and version are being correctly added to the traces. It's possible there is some additional work needed on the exporter's use of datadog-agent specific packages to ensure that the `version` tag is correctly appended to your trace related metrics. I am investigating this internally now, will try to

[2020-12-23 17:34] cemo commented on #1896
thanks @ericmustin, I guessed same because datadog agent can set it. I will be waiting your answer.

[2020-12-24 15:38] #1803 closed

[2020-12-24 16:23] cemo opened #1908 "[NewRelic] Matching Logs with Trace"
**Is your feature request related to a problem? Please describe.**
We would like to match our traces with logs.

**Describe the solution you'd like**
I can see trace ids on our logs. I think something must be on new relic side to match these logs.

[2020-12-25 00:54] boostchicken commented on #1852
@ericmustin it's pretty critical our use case.  Would it be valuable to reach out through my Account Rep to get this conversation started?  I am certainly happy to write it myself but could use some guidance along the way probably.

As far as going from the DD-Clien to the DD-Agent -> OTEL, I suppose it works, however there are significant cost implications for organizations at my scale.  I would

[2020-12-25 01:08] boostchicken commented on #1852
Updated my comment to be a bit more clear on what I am looking for

[2020-12-25 01:12] boostchicken commented on #1852
Also, probably out of scope of anything going on here, but it would be awesome to be able to submit to your SaaS directly and not have to use the DD Trace Agent.  If all of the logic got ported to OTEL processors that would be awesome.

[2020-12-25 03:49] boostchicken commented on #1852
https://github.com/boostchicken/opentelemetry-collector-contrib/tree/datadog-receiver

Feel free to poke around, it's super raw right now, the code needs lots of organization and tests, however this works.  It will take DDAPM and handle it appropriately.

[2020-12-25 03:56] boostchicken commented on #1852
Also, note your pb/exportable pkg does not include the functions needed to deserialized v0.5 format requests.  This led to me copy and pasting that code and slightly modifying it.  Would be great to see an adjustment on your side with that.

[2020-12-25 04:22] boostchicken commented on #1852
Also an other question, will all the trace.* metrics still get made if it is not going through an APM agent?

[2020-12-25 14:22] ericmustin commented on #1852
@boostchicken thanks for the additional info, will try to get you full answers to everything when I’m back from holidays and back at laptop (am on mobile so apologies for any typos).

Thanks for sending over the repo, I’ll take a look. And also yes please do chat with ur rep here, having that additional context helps us as an org understand client needs and prioritize this work accordingly.

real

[2020-12-26 11:43] cemo opened #1909 "[Datadog] Semantic conventions for spans"
**Describe the bug**
The current way of displaying spans is not conforming to spec.

![image](https://user-images.githubusercontent.com/44156/103150745-eac70280-4787-11eb-990d-96e2b3b36562.png)

**Steps to reproduce**
Use opentelemetry-java-instrumentation and opentelemetry-collector-contrib

**What did you expect to see?**
I am expecing to see name's of spans conforming spec such as:
- HTTP GET/P

[2020-12-28 17:50] rakyll commented on #1784
Closed via https://github.com/open-telemetry/opentelemetry-collector/issues/2268.

[2020-12-28 17:50] #1784 closed

[2020-12-29 04:00] cpcloud commented on #1733
What I was looking to achieve here was actually sampling specific spans, but it sounds like that has to be done elsewhere. I will close the issue then. Thanks!

[2020-12-29 04:00] #1733 closed

[2020-12-29 07:20] albertteoh commented on #403
Thanks for the additional details @djaglowski. I like the translator/forwarder/bridge concept, especially given it tightly couples the exporter and receiver link between pipelines which avoids ambiguity on where exporters will route requests to, and hence a better user experience. It satisfies the requirement for chaining pipelines and "mixed" telemetry type pipelines, while IIUC, maintaining back

[2020-12-29 07:55] boostchicken commented on #1852
Eric,

Merry Christmas and Happy Holidays. Thank you for the response so fast.  You're answers are extremely helpful.  I will begin tackling this again in the 2nd week in Jan.  I will be reaching out to my Datadog account rep also to start a more formal discussion, do you mind if I mention you by name and reference this issue?

Thanks!

John

[2020-12-30 15:43] gramidt commented on #1860
Thank you so much for filing this issue, @juldou!

To help the Otel community and myself diagnose this issue, could you provide your Otel configuration?

[2020-12-31 16:58] ericmustin commented on #1852
@boostchicken feel free to reference me and link to this issue as well.

[2020-12-31 21:11] rakyll commented on #1800
@cyrille-leclerc would you be interested in contributing an exporter. We can help you to validate the scheme mapping. Sorry for opening #1801. I was just looking into Elastic for the first time and wanted to draft a change to note I was looking into it but didn't have time. I'd be happy if you can take over.

[2021-01-02 20:03] cemo opened #1925 "[Datadog] Payload too large"
**Describe the bug**
We are hitting  "Payload too large"

**What did you see instead?**
[code]
**What version did you use?**
0.17.0

We are hitting these errors. How can we configure it?

[2021-01-03 16:31] #1688 closed

[2021-01-04 12:41] PatrikSteuer opened #1945 "[exporters/dynatraceexporter] add exporter to cmd"
**Is your feature request related to a problem? Please describe.**
Consuming the `dynatraceexporter` requires a dedicated build. This reduces the comfort in consuming the exporter. It should be possible to use the dynatrace exporter using the default docker image otel/opentelemetry-collector-contrib.

**Describe the solution you'd like**
Adding the `dynatraceexporter` component to the otelcontribc

[2021-01-04 13:52] ericmustin commented on #1925
@cemo 👋 hello there again, thanks for creating this issue. Would you be able to provide a copy of your configuration yaml? I believe the [`batch` processor](https://github.com/open-telemetry/opentelemetry-collector/tree/master/processor/batchprocessor) can be configured via the processor's `send_batch_size` and `send_batch_max_size` configuration options and added to your trace pipeline to prevent

[2021-01-04 21:36] boostchicken commented on #1852
@ericmustin will do! I am going to reach out today as we are back at work. Thanks!

[2021-01-04 22:37] ericmustin commented on #1909
Thanks for filing this. We recently merged in work to improve datadog span operation and span resource naming here: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/1861

The semantic conventions you're referring to are `OpenTelemetry` Semantic Conventions, which differ from the current format of Datadog traces. In our exporter we attempt to retain all of this information in

[2021-01-05 09:13] cemo commented on #1909
thanks @ericmustin for clarification. Would you accept an optional parameter at collector for otel compatible naming?

[2021-01-05 15:40] ericmustin commented on #1909
@cemo I think that's a thoughtful suggestion but i'm just trying to understand the use case here? `otel span name` != `datadog span operation name` and setting the operation name as the `otel span name` would create a number of issues in the datadog tracing UI and backend. `Otel span name` _is_ equivalent to a `datadog span resource` however.

Perhaps the root cause here is that the length of `ins

[2021-01-05 18:52] cemo commented on #1925
we reduced size by batch processor. It is working now. However if the payload limit is 10mb, why send_batch_size default value, 8mb,  is causing errors?

[2021-01-05 19:31] cemo commented on #1909
Hi @ericmustin, I am just trying to have more readable spans.

1)  I would definitely happy to see as `spring_webmvc.internal`.

2. I would like to share a sample from datadog's newsletter. :)

![image](https://user-images.githubusercontent.com/44156/103686897-88001300-4fa0-11eb-834d-106f9e013fb9.png)

I think this is more similar to opentelemetry conventions. Current situation is simply unreadabl

[2021-01-05 20:15] ericmustin commented on #1909
1. @cemo Ok thats good to hear.  I do want to work to expose a way to make this more readable both for your use case and generally.

2. The reference you're pointing to (datadog's instrumentation) is a good example of how we'd prefer the data be formatted, and is how datadog specific tracing sdk's format things (`dd-trace-java`, for ex). Unfortunately, in OpenTelemetry, we have to work with the in

[2021-01-05 20:41] ericmustin commented on #1909
@cemo one thought I had is that in interim, if the `instrumentation_library.name` is not being actively used in other parts of your pipeline, is to apply a `resource` processor that could modify the instrumentation library names to your liking:

- https://github.com/open-telemetry/opentelemetry-collector/tree/master/processor/resourceprocessor
- https://github.com/open-telemetry/opentelemetry-coll

[2021-01-05 21:16] cemo commented on #1909
Thank you so much for detailed explanation @ericmustin. I will add a process to mitigate issue however what I want is actually to have a similar experience as datadog native agent. As you can see in the subsection of previous Datadog's example, http traces are named with specific part for their endpoints such as `/users`.

![image](https://user-images.githubusercontent.com/44156/103695832-57bf7100

[2021-01-06 15:40] tigrannajaryan commented on #1346
Closing this, assuming https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/1514 fixed it. Should reopen if we see this again.

[2021-01-06 15:40] #1346 closed

[2021-01-06 16:25] tigrannajaryan commented on #403
@djaglowski I commented on the design doc.

[2021-01-07 08:35] mx-psi commented on #1909
Hi @andrewhsu, can you assign @ericmustin instead? Traces issues and features requests are generally handled by Eric

[2021-01-07 08:36] mx-psi commented on #1896
Hi, generally the same comments apply here https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/1909#issuecomment-755969384 Traces issues are (for the most part) handled by Eric

[2021-01-07 08:36] mx-psi commented on #1925
Hi, generally the same comments apply here https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/1909#issuecomment-755969384 Traces issues are (for the most part) handled by Eric

[2021-01-07 13:07] sanjaygopinath89 opened #1958 "metric not available for Monitoring"
**Describe the bug**
As described in https://github.com/open-telemetry/opentelemetry-collector/blob/master/docs/monitoring.md I am trying to setup monitoring for OTEL collector/agent.

I am staring the controller with metric level as DETAILED(command shown below), but i am not able to find most of the metric given in above doc . I can only find some basic metric like CPU, Memory , Process up time

[2021-01-08 05:03] ericmustin commented on #1909
@cemo

Yes, I think this is a good approach and should help the broad majority of users. I'll try to update this thread when there's a PR up, I am not sure what the timeline is on that at this time.

[2021-01-08 05:06] ericmustin commented on #1925
I think for this specific user the issue is solved but this will continue to pop up for future users until addressed, and the above mitigation is imprecise. let's keep this open until the work for

is complete.

[2021-01-08 12:53] bhupesh-sf opened #1961 "Elastic exporter not picking up DB queries"
I am using elastic exporter and when I go to elastic it shows me trace and shows only one pg query whereas it has 4-5 queries. If I use elastic agent it shows me all.

**Steps to reproduce**
My flow is I call a facade from postman which calls a service which makes DB request 3-4 times and then calls another service which again calls db and then fails.

**What did you expect to see?**
I should be s

[2021-01-08 18:30] JohnWu20 opened #1963 "[Discussion]Export OTel data to AWS S3 (exporter S3)"
**Is your feature request related to a problem? Please describe.**

S3 is a very cheap way to store the data. Create a S3 exporter to export the traces, metrics and log data to AWS S3 bucket.

**Describe the solution you'd like**

Data format in S3

Traces :  Each OTLP format span will send to S3 as a JSON object, and each span will be delimited by a new line.
Metrics: Each OTLP metric will send t

[2021-01-09 02:06] anuraaga commented on #1963
I think file exporter of traces would be great. It'd probably be better if it's possible to use a storage abstraction so it can work with normal disk or any cloud, maybe stow (I think there are a few of these libraries, don't know which is best)

https://github.com/graymeta/stow

It would be good to measure the performance of writing individual spans va traces first - I don't know if span writing

[2021-01-10 23:13] gramidt opened #1964 "Export data to F5 Cloud"
**Is your feature request related to a problem? Please describe.**
I would like the possibility to send metric, trace, and log data to [F5 Cloud](https://portal.cloudservices.f5.com/)

**Describe the solution you'd like**
Have an exporter that sends metric, trace, and log data to F5 Cloud.

**Additional context**
A PR will soon be provided that accomplishes this request.

[2021-01-11 00:12] gramidt commented on #1894
Update: PR #1952 will be finished and ready for review this coming week.

[2021-01-11 16:36] gramidt commented on #1963
Would this be meant just for archiving purposes? If not, what sort of tooling would you use to query and analyze this data?

Depending on the tooling you would like to use, you could use [Cortex](https://github.com/cortexproject/cortex) for metrics, [Tempo](https://github.com/grafana/tempo) for traces, and [Loki](https://github.com/grafana/loki) for logs (A Loki exporter is currently a WIP, but I

[2021-01-11 20:44] tigrannajaryan opened #1990 "stanzareceiver docs are not correct regarding "pipeline" setting"
After https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/1535/files was done the README is no longer correct and testdata/config.yaml is also wrong.

We need to fix the README and also add tests for config that verify testdata/config.yaml.

[2021-01-11 21:25] urso commented on #1800
As has been pointed out by @cyrille-leclerc, the current elastic exporter does not ingest data right into Elasticsearch, but forwards metrics and traces to the [Elastic APM Server](https://www.elastic.co/guide/en/apm/server/current/index.html). The APM server applies some additional processing before indexing traces and metrics as documents in Elasticsearch.

In addition to forwarding APM-Server,

[2021-01-11 22:54] rakyll commented on #1800
cc @alolita

[2021-01-12 01:17] gavindoudou commented on #1789
Thanks for that, the new version has changed the type already: https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/master/receiver/statsdreceiver/protocol/statsd_parser.go#L220
Please take a look if the issue can be resolved.

[2021-01-12 03:37] anuraaga commented on #1963
@gramidt I think all of those have ingestion APIs IIUC. I figured this was more about getting things saved, to take advantage of the global/high scale of cloud object storage ingestion frontends. I would probably have a lambda-type of object change listener to then forward it on to a backend like Zipkin or Tempo, probably using a tail-based lower sampling rate because it's not scaled out as much a

[2021-01-12 03:55] gramidt commented on #1963
@anuraaga - That's an interesting concept! Curious how this approach would compare to a pub sub implementation if object storage was only used as a means of ingestion.

[2021-01-12 04:40] anuraaga commented on #1963
@gramidt With straight-to-storage, I guess the difference is it's both injection+archival. Links to traces from logs, for example, could probably work just fine even if just reading from the store, with no real latency to be made available, as soon as it's saved it's fetchable. If it's possible to have 100% saved to storage, and accessible by clicking on a link from a log, while having X% accessib

[2021-01-12 05:02] gramidt commented on #1963
@anuraaga - Having injection+archival is definitely intriguing. 🤔

From a processing perspective care will need to be taken when determining how writing should work. Systems like Cortex, Tempo, and Loki take great care in buffering and how they write to storage to keep the costs low. In fact early on in Cortex development, Cortex primarily used S3 and writing in compressed "chunks", but users foun

[2021-01-12 12:33] bhupesh-sf commented on #1961
Any update here?

[2021-01-13 05:42] ericmustin commented on #1896
@cemo 👋 hey there, just wanted to ping that we've put in a PR that should address this, and will aim to have this included as soon as possible, pending review https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/2010

[2021-01-13 18:41] alolita commented on #1562
@tigrannajaryan any progress in getting the design doc available for remote configurability of the Collector? I'd like the Sampling SIG to be set up sooner than later and would like to add this area as one of the topics for discussion.

[2021-01-13 22:11] jrcamp opened #2015 "observer endpoint type "port" is only for k8s container ports"
See https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/2004#discussion_r556873351_

This would be a breaking change so consider doing same time as possible changes to how endpoint type filtering works.

[2021-01-13 22:47] #1990 closed

[2021-01-13 22:48] bogdandrutu commented on #1990
Fixed by #2000

[2021-01-14 00:07] andrewhsu commented on #1961
from the collector sig triage today, cc @axw @simitt @jalvz for this issue because it is related to elasticexporter

[2021-01-14 02:11] axw commented on #1961
Thanks for the ping @andrewhsu!

@bhupesh-sf can you please add a logging exporter to the traces pipeline, capture the output, and point out which spans are not being captured in Elastic APM? Providing a screenshot of a trace waterfall in Elastic APM may also be helpful.

[2021-01-14 12:17] lchayoun opened #2016 "[Datadog] All metrics exported with "otel." prefix"
**Describe the bug**
We are using the collector to proxy metrics from carbon to DataDog
All of the metrics are prefixed with "otel."

**Steps to reproduce**
Run the collector with any receiver and DataDog exporter

**What did you expect to see?**
The metrics as they were send to the collector

**What did you see instead?**
"otel." prefixed metrics

**What version did you use?**
Version: v0.17.0

[2021-01-14 15:03] tigrannajaryan commented on #1958
Did you try the `--new-metrics` command line option? The doc says:

[2021-01-14 16:42] jrcamp commented on #2015
https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/2004#discussion_r557535037

[2021-01-14 20:09] rgarcia commented on #457
Is there a way to convert metric attributes to span resource attributes? Trying to configure the collector to pull in ECS metadata like task IDs and put them into traces...

[2021-01-15 11:05] vmihailenco opened #2021 "Export data to Uptrace.dev"
**Is your feature request related to a problem? Please describe.**
I would like the possibility to send trace data to [Uptrace.dev](https://uptrace.dev)

**Describe the solution you'd like**
I have an exporter that sends trace data to Uptrace.dev.

**Additional context**
A PR will soon be provided that accomplishes this request.

[2021-01-15 20:53] tomwilkie commented on #1894
/cc @slim-bean can you take a look?

[2021-01-16 00:47] atoulme opened #2025 "Splunk HEC receiver path is too specific"
**Describe the bug**
The Splunk HEC receiver listens to the path `/services/collector`.
Some libraries use specific paths such as `/services/collector/event/1.0`. The Docker logging driver hardcodes that path in its implementation.

**Steps to reproduce**
Set up a pipeline with the Otel Collector and send data to HEC:
[code]

**What did you expect to see?**
A 200 response with the text "OK".

**Wh

[2021-01-16 00:49] atoulme commented on #2025
I think the best fix is to be a lot more flexible regarding how we set up the endpoint path, with a very easy default setting.
* We should allow to set the path of the receiver, with a potential glob such as `/event/collector/*`
* We should set the default to `/*`

[2021-01-16 01:19] atoulme commented on #2025
I am also noticing that some libraries like the Splunk Node.js SDK explicitly send data as `application/x-www-form-urlencoded` when we validate for a Content-Type header of `application/json`. We probably want to relax this requirement and not look at the Content-Type header, or at least allow `application/x-www-form-urlencoded`.

Reference: https://github.com/splunk/splunk-javascript-logging/blob

[2021-01-19 18:29] owais opened #2132 "Bug report for failed CircleCI build (job: loadtest)"
Auto-generated report for `loadtest` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/70101

#### Test Failures
-  TestTrace10kSPS
-  TestTrace10kSPS/OTLP

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-01-19 19:59] pmcollins opened #2136 "Redis receiver improvements (PR feedback)"
* [ ] Create DataPoints() then Resize instead of using Append https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/1889#discussion_r551591997
* [ ] Use pdata types to create static counters https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/1889#discussion_r551596159
* [x] Populate a metadata.yaml

[2021-01-20 11:21] alexvanboxel opened #2148 "Resourcedetection fails on hostnames with period (".")"
**Describe the bug**
Resourcedetection fails to start pipeline on a system with hostnames with period (".") with **failed getting FQDN**. Yes it's allowed: `Host names may contain only alphanumeric characters, minus signs ("-"), and periods (".")`( from:
https://man7.org/linux/man-pages/man5/hosts.5.html )

**Steps to reproduce**
Set the hostname of a system to something that includes a `.`.
Add a

[2021-01-20 11:31] mx-psi commented on #2148
It might be a different thing but I suspect this is related to this known issue: https://github.com/Showmax/go-fqdn#known-issues from the package that we use for getting the FQDN. If it is indeed this issue, since the OpenTelemetry Collector does not allow for the use of cgo I think the only alternatives are either

1. disabling the FQDN on macOS or
2. finding an alternative package for getting th

[2021-01-20 13:39] alexvanboxel commented on #2148
Thanks, I didn't realize it was a Mac problem only. So with your remark, I stepped through the code and I found a workaround to make it not crash (adding the name to the hostnames file), not perfect but that's why it's called a workaround. I'll see that I can add it to the README.

[2021-01-20 16:19] gramidt commented on #1964
Initial exporter is now complete. Future enhancement will follow the standard contributions flow [Issue -> PR -> Review](https://github.com/open-telemetry/opentelemetry-collector/blob/master/CONTRIBUTING.md#report-a-bug-or-requesting-feature).

@andrewhsu - Should we add an `enhancement`  label for this issue?

[2021-01-20 17:44] andrewhsu commented on #1964
closing this because resolved with PRs

[2021-01-20 17:44] #1964 closed

[2021-01-20 17:59] andrewhsu commented on #1711
closing this because it has been addressed in code

[2021-01-20 17:59] #1711 closed

[2021-01-20 22:43] atoulme commented on #2025
Both issues are fixed and this issue can now be closed.

[2021-01-20 22:43] #2025 closed

[2021-01-20 22:46] atoulme opened #2158 "Splunk HEC message time field can be sent as a String"
**Describe the bug**
Splunk HEC consumes an optional time field that represents the time of the event or metric.
The latest versions of HEC recommend to use a number representing the number of seconds since epoch with a precision of 3 decimals. Some libraries, such as Docker logging, use a string representation of the time field instead of a number.

**Steps to reproduce**
Use Docker logging point

[2021-01-21 10:06] jpkrohling commented on #1710
@pkositsyn should we keep this one open until we have other backing storages?

[2021-01-21 11:14] pkositsyn commented on #1710
@jpkrohling We need to do something if people experience problems with single-goroutine managed queue. In my fork there is a processor that creates a couple of instances of this processor and shards all the data by trace id. This approach can be discussed, but I don't think it is perfect generally

[2021-01-21 11:15] pkositsyn commented on #1710
And currently it is a single point of failure indeed because queue explodes periodically

[2021-01-21 12:12] jpkrohling commented on #1710
Is this a real problem you are facing? Based on the issue description, looks like it's more of a theoretical concern than a real one, but if you are indeed having issues, we certainly should discuss solutions.

Could you remind me what kind of workload you have? I think it was around 200k spans/sec, right?

Sorry if this was discussed before, but this would be a real problem IMO. Do you have more

[2021-01-21 13:20] pkositsyn commented on #1710
This is what happens: collector blows up and all the goroutines (investigated via pprof) are in the fire function of groupbytrace processor

<img width="973" alt="Screenshot 2021-01-21 at 16 16 00" src="https://user-images.githubusercontent.com/37667546/105356044-f4ffe380-5c03-11eb-8716-6020cf8b6b10.png">

This is clearly the same problem as above.

Yes, like that for a single collector

[2021-01-21 14:31] jpkrohling commented on #1710
I like your idea of sharding per trace ID. This is a good use case for [jumphash](https://arxiv.org/abs/1406.2294), so, a new config option could determine the number of routines to create. Should relatively simple to implement, want to give it a try?

[2021-01-21 14:32] loomis opened #4989 "prometheus receiver is not setting receiver and transport attributes"
**Describe the bug**

Unlike other receivers, the prometheus receiver is not setting the receiver and transport attributes on the metrics that it collects.

**Steps to reproduce**

Docker compose file:

[code]

See below for collector configuration.

 1. Run with `docker-compose up -d`.
 2. Wait for metrics to be scraped (looking at log messages from container).
 3. Dump the file system (`docker e

[2021-01-21 14:53] pkositsyn commented on #1710
Let's do this. I see this as an additional config parameter `shards_num`. Implementation - create n instances of the processor (they share the same consumer) and do processing in the appropriate one.

Alternatively, sharding can be done inside the machine. Having only 1 real processor makes us not think about metrics consistency.

[2021-01-21 15:04] jpkrohling commented on #1710
This. You can probably have a map or slice of channels, and the hashing algorithm would give you which channel to use based on the trace ID.

[2021-01-21 22:06] rakyll opened #2164 "Rename Kinesis exporter to awskinesisexporter"
In order to have consistency with other Amazon/AWS exporters, move the kinesisexporter into awskinesisexporter.

The official name for Kinesis is Amazon Kinesis, but we named Amazon Managed Service for Prometheus exporter as "awsprometheusremotewriteexporter". For consistency, I think it's ok to use "aws" as a prefix.

[2021-01-21 23:53] bogdandrutu commented on #2164
I think it is ok because Kinesis is an AWS product only :)

[2021-01-21 23:55] MrAlias commented on #1908
Can we assign this to @RichVanderwal please?

[2021-01-22 14:40] mx-psi commented on #1789
Closing since I can no longer reproduce the issue. Thanks for the fix!

[2021-01-22 14:40] #1789 closed

[2021-01-22 17:10] jmacd commented on #1789
Hmmm. I think the correct output point for a Statsd counter should be the non-monotonic delta sum, not the gauge, but we can revisit this.

[2021-01-22 23:03] albertteoh opened #2179 "Periodic reset of spanmetricsprocessor metric maps"
**Is your feature request related to a problem? Please describe.**
The maps storing the metrics data in the [spanmetricsprocessor](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/master/processor/spanmetricsprocessor) will grow indefinitely, hence leading to growing memory usage, and felt more with high cardinality dimensions in metrics. It's worth noting though, that with l

[2021-01-26 18:12] owais commented on #2132
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/74392

#### Test Failures

[2021-01-28 00:14] andrewhsu commented on #2158
Closing this because taken care of in PR #2159

[2021-01-28 00:14] #2158 closed

[2021-01-28 16:04] dyladan commented on #1945
This was fixed by #2002 and can be closed

[2021-01-28 16:20] PatrikSteuer commented on #1945
Thanks a lot

[2021-01-28 16:26] #1945 closed

[2021-01-28 23:16] tigrannajaryan commented on #403
Is this now done or more work is planned?

[2021-01-29 00:26] albertteoh commented on #403
@tigrannajaryan, I've been following the [contributing guidelines](https://github.com/open-telemetry/opentelemetry-collector/blob/main/CONTRIBUTING.md) so there's one last PR required which is to enable the spanmetrics processor component, if you're happy for me to go ahead with it.

[2021-01-29 15:06] #403 closed

[2021-01-29 16:22] pkositsyn commented on #1807
Done

[2021-01-29 16:22] #1807 closed

[2021-01-29 19:20] jrcamp opened #2226 "[extension/observers] Rename Port to PodPort"
Rename Port to PodPort in observer endpoints since it is k8s specific.

_Originally posted by @tigrannajaryan in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/2155#discussion_r566955176_

[2021-01-29 20:56] jrcamp opened #2227 "Remove service_name from receiver/redis"
service.name can be specified in resource_attributes now in receiver_creator. For static receivers can use resource processor.

- [ ] Remove service_name from redis receiver
- [ ] Update examples in receivercreator README.md that has service_name

_Originally posted by @tigrannajaryan in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/2155#discussion_r566959678_

[2021-01-30 03:52] alolita opened #2230 "datadogexporter: Add warning to user for insecure storage of user credentials at rest"
**Is your feature request related to a problem? Please describe.**

When using the the datadogexporter to connect with the backend service the user has to input API tokens in plain text which is exposed at rest. This is a security exposure that needs to be communicated to the user.

**Describe the solution you'd like**

The solution proposed includes -
* adding a warning which is actively communic

[2021-01-30 04:00] alolita opened #2231 "dynatraceexporter: Add warning to user for insecure storage of user credentials at rest"
**Is your feature request related to a problem? Please describe.**
When using the the dynatraceexporter to connect with the vendor backend service the user has to input API tokens in plain text which is exposed at rest. This is a security exposure that needs to be communicated to the user.

**Describe the solution you'd like**
The solution proposed includes -
* adding a warning which is actively c

[2021-01-30 04:05] alolita opened #2232 "sapmexporter: Add warning to user for insecure storage of user credentials at rest"
**Is your feature request related to a problem? Please describe.**
When using the the sapmexporter to connect with the vendor backend service, the user has to input API tokens in plain text which is exposed at rest. This is a security exposure that needs to be communicated to the user.

**Describe the solution you'd like**
The solution proposed includes -
* adding a warning which is actively commu

[2021-01-30 04:12] alolita opened #2233 "newrelicexporter: Add warning to user for insecure storage of user credentials at rest"
**Is your feature request related to a problem? Please describe.**
When using the the newrelicexporter to connect with the vendor backend service the user has to input API tokens in plain text which is exposed at rest. This is a security exposure that needs to be communicated to the user as use at their own risk.

**Describe the solution you'd like**
The proposed solution includes -
* adding a war

[2021-02-01 03:38] flands commented on #313
No longer relevant given #397

[2021-02-01 03:38] #313 closed

[2021-02-01 03:39] flands commented on #312
Receiver done in #1021 -- exporter remains

[2021-02-01 16:54] tigrannajaryan commented on #1426
I saw this a few more times recently, e.g. :https://github.com/open-telemetry/opentelemetry-collector/pull/2410/checks?check_run_id=1772492903

Increasing the priority a bit.

[2021-02-01 19:59] tigrannajaryan opened #2264 "Add basic log collection capabilities"
This is a checklist issue that captures all work that needs to be done for us to have basic log collection features based on the newly contributed https://github.com/open-telemetry/opentelemetry-log-collection codebase.

- [x] Change dependency from github.com/observiq/stanza to github.com/open-telemetry/opentelemetry-log-collection: #2273
- [x] Refactor stanzareceiver to allow splitting into sepa

[2021-02-01 20:02] tigrannajaryan opened #2265 "Refactor stanzareceiver to allow splitting into separate receivers"
We would like to separate the "source" of the log from the "operators" (it is currently one list in stanzareceiver). The goal is to be able to do this in the config:

[code]

[code]

[code]

[2021-02-01 20:08] tigrannajaryan opened #2266 "Add support for collecting Kubernetes pod log file in nodes"
We need to be able to collect logs from Kubernetes. It may be implemented as a separate receiver or as a filelog receiver with a plugin that defines the settings for collecting Kubernetes logs. This needs to be discussed.

What we want to collect:
1. Required: pod logs that Kubernetes makes [available on the nodes](https://kubernetes.io/docs/concepts/cluster-administration/logging/#logging-at-the-

[2021-02-01 21:09] tigrannajaryan opened #2268 "Add filelog receiver"
Implement "filelog" receiver. The configuration should allow specifying the input and the list of operators (like stanzareceiver does).

An example config is this:
[code]

[2021-02-02 15:14] tigrannajaryan opened #2273 "Change stanza reciever dependency to opentelemetry-log-collection"
We have the new library now. We need to change stanza receiver dependency from github.com/observiq/stanza to github.com/open-telemetry/opentelemetry-log-collection

[2021-02-02 15:50] mx-psi commented on #2016
Hi @lchayoun, thanks for reporting this and apologies for the late response. While this was intended (see #1483) we have discussed this internally and we will change this behavior in an upcoming release.

Once this issue is addressed, the `otel.` prefix will only be added to metrics produced by the hostmetrics receiver, since these metrics can easily clash with the Datadog Agent system check which

[2021-02-02 16:04] lchayoun commented on #2016
Sounds great, thank you for the update!

[2021-02-02 16:43] ericmustin opened #2274 "Define K8s_Processor RBAC Setup requirements"
Hello friends,

As we approach the "1.0" phase of tracing, we've noticed a fair number of users looking to leverage the k8s_processor in the collector setup. RBAC is a common pain point here, it would be good to improve the documentation and define what requirements are needed. it seems like there are some open TODOs in this regard and if there's any clarity on timeline or roadmap here that would

[2021-02-02 17:05] jrcamp opened #2276 "issuegenerator does not work for windows in circleci"
It tries to run issuegenerator but it's not installed.

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/9354/workflows/0ddde697-706f-48f0-a970-7bfe4bb53e60/jobs/77180

[2021-02-02 17:20] mx-psi commented on #2276
For the specific issue on this job log see #2272 for a fix

[2021-02-02 23:26] #312 closed

[2021-02-02 23:27] #2164 closed

[2021-02-03 14:54] tigrannajaryan commented on #2132
Tests pass now. Was temporary slow down of CircleCI.

[2021-02-03 14:54] #2132 closed

[2021-02-03 18:09] djaglowski opened #2282 "Make sure regex, json, timestamp, severity parser operators are supported for all log receivers."
Sub-issue of #2264.

This will is likely to be solved as part of #2265.

[2021-02-03 19:30] #2273 closed

[2021-02-05 13:22] ocervell opened #2286 "Cloud Monitoring (Stackdriver) receiver"
**Is your feature request related to a problem? Please describe.**
Query metrics from Cloud Monitoring (ex-Stackdriver) and forward push them into any export destination that OpenTelemetry support.

**Describe the solution you'd like**
Implementation of a Cloud Monitoring receiver scraping Cloud Monitoring API every X seconds.

**Describe alternatives you've considered**
Exporting metrics included

[2021-02-05 19:34] djaglowski opened #2287 "Design and implement persistence mechanism for log receivers"
Related to #2264

stanzareceiver currently supports persistence of log ingestion state (e.g. tracking how much of a file has been tailed) into a bbolt database file.

With the migration to multiple log receivers, we will need to decide how to manage persistence.
- Will each receiver have the ability to point to a persistence file?
- Is it ok for receivers to specify the same file? (I think so, but

[2021-02-06 15:18] DanTulovsky opened #2288 "k8sclusterreceiver: crash on startup"
**Describe the bug**
Crash on startup after adding collector:

[code]

**Steps to reproduce**
Start binary with below config.

**What did you expect to see?**
Working binary.

**What did you see instead?**
Crash looping.

**What version did you use?**
Version: v0.19.0

**What config did you use?**
Config:

[code]

**Environment**
OS: Digital Ocean Kubernetes

**Additional context**
[code]

[2021-02-07 16:25] flands commented on #2232
@alolita this may or may not be true depending on how the user has configured the system and I am also unsure how you could confirm whether this is the case or not. In k8s you could use something like https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/. In addition, assuming the collector runs standalone (i.e. no application running in same location), which is the recommendation toda

[2021-02-07 16:25] flands commented on #2274
@owais @jrcamp can we get this added?

[2021-02-07 16:26] flands commented on #2288
@jrcamp

[2021-02-07 17:21] owais opened #2289 "Bug report for failed CircleCI build (job: loadtest)"
Auto-generated report for `loadtest` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/78139

#### Test Failures
-  TestMetric10kDPS
-  TestMetric10kDPS/OTLP
-  TestMetric10kDPS/SignalFx
-  TestTrace10kSPS
-  TestTrace10kSPS/OTLP

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as c

[2021-02-07 17:53] gramidt opened #2290 "lokiexporter: Support dynamic attributes for labels"
**Is your feature request related to a problem? Please describe.**
The Loki exporter by design forces a user to explicitly configure the attributes they want to allow as labels within Loki. This is a safety net to help prevent accidentally adding dynamic labels that may significantly increase cardinality, thus having a performance impact on their Loki instances. However, users may trust their down

[2021-02-07 17:56] gramidt commented on #2290
@andrewhsu - Could you assign this to me?

[2021-02-07 17:57] gramidt commented on #1894
@andrewhsu - Could you assign this to me?

[2021-02-07 21:17] gramidt commented on #2289
#2262 is also currently experiencing this.

[2021-02-07 21:35] gramidt opened #2291 "f5cloudexporter: Add User-Agent header with version to requests"
**Is your feature request related to a problem? Please describe.**
We would like to know what version/build of collector is making requests.

**Describe the solution you'd like**
Set 'User-Agent' header with value of 'opentelemetry-collector-contrib VERSION' when not provided by user in config.

**Describe alternatives you've considered**
- Just have users set the 'User-Agent' to this suggested va

[2021-02-07 22:28] gramidt commented on #2291
@andrewhsu - Could you assign this to me?

[2021-02-08 15:10] ohadravid opened #2305 "Support sending arbitrary tracing events to Elastic APM Server"
**Is your feature request related to a problem? Please describe.**
When using the Elasticsearch exporter, tracing events generated as part of a span are not sent to Elasticsearch.
For example, this code:
[code]
will only generate the `my_span` span, while `my_event` will be ignored.

This is line with [this comment](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/master/expo

[2021-02-08 17:20] sanjaygopinath89 commented on #1958
@tigrannajaryan  I tried the --new-metrics option in collector version 0.17 but it shows "unknown flag"

`
[ ~]# otelcontribcol --new-metrics --config=/home/otel-config.yaml --metrics-level=DETAILED

Error: unknown flag: --new-metrics
2021/02/08 09:16:27 application run finished with error: unknown flag: --new-metrics
`

[2021-02-08 19:12] tigrannajaryan commented on #1958
You are right. `--new-metrics`` flag is removed. We now have only new metrics, legacy metrics are gone: https://github.com/open-telemetry/opentelemetry-collector/pull/2105

This issue appears to be a real bug that needs to be fixed. I am keeping this open.

[2021-02-09 01:07] pxaws opened #2307 "Support AWS cloudwatch container insight metrics for EKS/ECS clusters"
**Background**
[Cloudwatch container insight](https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/ContainerInsights.html) is a AWS monitoring solution for EKS and ECS clusters. It can collect, aggregate, and summarize metrics and logs from containerized applications and microservices. Currently the metrics and logs are collected by Cloudwatch agent running as a daemon set. We want to mi

[2021-02-09 10:57] albertteoh opened #2309 "Request for minor release 0.20.0"
I would like to request for a new minor tag release `0.20.0`. @tigrannajaryan advised that the opentelemetry-collector-contrib [release cadence is bi-weekly](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/1631#issuecomment-730403692) and the last release tag [`0.19.0`](https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.19.0) was 14 days ago, so it l

[2021-02-09 18:04] #2016 closed

[2021-02-09 20:16] EliyaCohen opened #5008 "FileExporter file separation"
I want to use the FileExporter to transfer files from places where I don't have direct network access to the main collector. For example, when using a DMZ that only allows file transfers.
The current exporter only allows writing to a single file, so it can't be used reliably to send the file through the DMZ (The file will always be locked under large workloads)

I'd like that the FileExporter will

[2021-02-10 00:26] gramidt commented on #2289
This issue appears to have been resolved; however, I do not see a specific commit that specifically addressed this...

[2021-02-10 06:42] alolita commented on #2232
Hi @flands I agree there are multiple scenarios of how the user has configured their system. Agree TLS is another alternative. Our security guidance for the sapmexporter is to add documentation about alerting the user to store their credentials securely at rest. This guidance also applies to other OTel Exporters since we're seeing exposed credentials for other components too. Let me know if you ne

[2021-02-10 09:20] mx-psi commented on #2232
Hi all, since this is an issue that affects several exporters (see #2230, #2231, #2233) I am interested in finding a common solution, such as a docs page with security recommendations for the deployment of the OpenTelemetry Collector that we can link from each exporter's documentation and/or some sort of automated warning.

I agree with @flands that this might not be an issue depending on the syst

[2021-02-10 11:43] mx-psi commented on #2309
See #2319

[2021-02-10 14:24] morigs opened #2320 "Clickhouse exporter"
I would be interested to hear opinions about the [clickhouse](https://clickhouse.tech) exporter.
This is a controversial question, as the clickhouse is not an observability tool. It is more of an analytical platform
How does such an exporter fit into the scope of opentelemetry?

[2021-02-10 14:26] jpkrohling commented on #1797
This seems to be blocked, so, here's my proposal to unblock this:

1. proceed with splitting the policy part from the current tail based sampling processor
2. run a benchmark comparing the current solution (tail based sampling processor) vs. the new one (groupbytrace plus policy sampling processor)
3. if the new one proves to be better, deprecate the tail based sampling processor processor
4. adap

[2021-02-10 15:13] mx-psi commented on #2230
@alolita I replied on issue #2232 to see if we can find a solution shared across exporters with similar needs.

[2021-02-10 15:52] djaglowski opened #2321 "Move and rename stanzareceiver"
Related to #2264 and #2306.

Since `stanzareceiver` is becoming a helper package, it should be moved and renamed.

Current suggestion is `internal/logreceiverhelper`.

Open question - should code be managed as a seperate go module?

[2021-02-10 16:58] pmatyjasek-sumo opened #2322 "Metrics in k8s processor needs refactor"
**Describe the bug**
Metrics exposed by k8s processor lacks meaningful description, and have invalid format.

**Additional context**
As mentioned in comment https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/2199#discussion_r573754727 there is need to provide some additional information about meaning of those metrics. Also need to change their format to fit standard.

[2021-02-10 19:31] sodabrew commented on #2309
Since the 0.20 release is out for this repo now, I'll note here that the tag isn't up yet on GitHub... ;) I'm looking forward to using https://github.com/open-telemetry/opentelemetry-collector-builder to build my local binary! This whole thing is really coming together! :)

@albertteoh awesome work towards the spanmetrics processor. I read over https://github.com/open-telemetry/opentelemetry-colle

[2021-02-11 00:36] albertteoh commented on #2309
Thanks @mx-psi @sodabrew :)

[2021-02-11 09:49] mx-psi opened #2326 "[resourcedetectionprocessor] Azure resource detector"
**Is your feature request related to a problem? Please describe.**

The resource detection processor has support for gathering metadata from AWS and GCE cloud services. It would be useful to also have support for Azure metadata: there are already some Azure-specific semantic conventions [on the specification](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/res

[2021-02-11 10:14] georlav opened #2327 "[NewRelic Exporter] Errors are not decorated"
**Describe the bug**
Errors are not decorated and its hard to identify them at newrelic UI
Docs: https://docs.newrelic.com/docs/understand-dependencies/distributed-tracing/trace-api/trace-api-decorate-spans-attributes

Newrelic exporter does this by appending extra error attributes to the span
https://github.com/newrelic/opentelemetry-exporter-go/blob/7c24e335d64821f6aaec96e1c48d478bcb290d70/newre

[2021-02-11 10:49] arminru commented on #2231
Thanks for bringing this up @alolita.
Following the discussion on #2232, I agree that we should aim for a common solution to make users aware of the risks and provide guidance. I suggest adding a link to the security document being added in https://github.com/open-telemetry/opentelemetry-collector/pull/2461 to `exporter/dynatraceexporter/README.md` (as well as the other exporters) once it is merge

[2021-02-11 14:12] djaglowski commented on #2265
Reopening because this was only partially addressed by #2306

[2021-02-11 14:47] jrcamp commented on #2288
@asuresh4 ptal

[2021-02-11 18:43] djaglowski opened #2328 "Add compressed file collection support to filelog receiver"

[2021-02-11 18:44] djaglowski opened #2329 "Add double-star mutli-level directory glob matching to filelog receiver"

[2021-02-11 18:59] djaglowski opened #2330 "Log receivers - Improve translation to pdata, avoid emitting entire pdata.Logs for each log record."
Currently this translation is 1:1. Need to define and implement a more efficient translation.

[2021-02-11 19:03] djaglowski opened #2331 "Add syslog receiver"
Dependent on #2268 and https://github.com/open-telemetry/opentelemetry-log-collection/issues/13

[2021-02-11 19:04] djaglowski opened #2332 "Add journald receiver"
Dependent on #2268

[2021-02-11 19:04] djaglowski opened #2333 "Add winlog receiver"
Dependent on #2268

[2021-02-11 19:15] tigrannajaryan commented on #2287
Maybe optionally, but I would prefer that the default location works out of the box.

(Question: do we need a different location for Mac or just use the same as Linux? On Mac I think that should be /Library/otelcol or something?)

I would say this is probably preferably for end user, provided that internally we can handle synchronization correctly.

I'd prefer not to. What do we gain by that?

I w

[2021-02-11 19:22] djaglowski opened #10287 "[pkg/stanza] Add mapstructure support to syslog_input operator configuration"
Dependent on open-telemetry/opentelemetry-log-collection#13.

This will allow explicit embedding in the collector's `syslogreceiver`. (See [#2231](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/2331))
- Should not affect functionality of configuration
- Ideally would not remove support for yaml unmarshaling
- This change should perhaps be preceded by enhanced test cases o

[2021-02-11 19:35] djaglowski opened #2334 "Log receivers - embed log-collection operator configurations directly into receiver configs"
Log receiver based on [opentelemetry-log-collection](https://github.com/open-telemetry/opentelemetry-log-collection) do not yet support mapstructure for unmarshaling from yaml configs. This makes the new log receiver configs quite difficult to test, and probably to maintain as well.

I believe the correct solution to this would be to add support for mapstructure to the log-collection operator conf

[2021-02-11 20:14] djaglowski commented on #2287
I agree with the above, except that I'm not sure we can allow users to specify a persistence file for each receiver without also allowing multiple persistence files.

It might complicate implementation to support independent persistence files but the alternatives seem awkward at best.

[2021-02-11 20:50] tigrannajaryan commented on #2287
Can we assume that in vast majority of case the default locations are good enough? Then we can make choosing the non-default somewhat awkward. Possible options:
- Allow any receiver to override the default location. Receivers can specify different locations. I assume implementation wise this is not difficult?
- Allow receivers to override the default location. They must all specify the same locati

[2021-02-11 20:56] djaglowski commented on #2287
Yes, I think so.

This would be my preferred, until we have a use case that requires otherwise.

[2021-02-11 21:15] pmm-sumo commented on #2266
I have some ideas how to tackle that and some experience with doing it via Fluentbit & co. Would be happy to work on the design and implementation

[2021-02-11 23:07] gramidt commented on #2291
This just needs the proper labels and can be closed.

[2021-02-12 01:29] djaglowski opened #2335 "filelogreceiver - update readme"
The readme is badly out of date and still reflects the old `stanzareceiver`.

[2021-02-12 03:41] albertteoh commented on #2309
Looks like [0.20.0](https://github.com/open-telemetry/opentelemetry-collector-contrib/releases/tag/v0.20.0) is released, tagged and docker images available. Thanks everyone!

[2021-02-12 03:41] #2309 closed

[2021-02-12 15:04] tigrannajaryan commented on #2266
@pmm-sumo great! Please go ahead, once you have the design please submit here and let's review it.

[2021-02-13 21:34] owais commented on #2289
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/79657

#### Test Failures
-  TestMetric10kDPS
-  TestMetric10kDPS/OTLP

[2021-02-14 01:12] gramidt commented on #2291
@andrewhsu @bogdandrutu - This just needs to the proper labels for tracking and can be closed, since the PR was merged.

[2021-02-15 06:19] dustyhorizon opened #2353 "Datadog exporter constantly producing error log"
**Describe the bug**
Datadog exporter is constantly complaining the the context has expired.

However, traces seem to appear on datadog just fine so I am not too sure what is the issue here.

**Steps to reproduce**
Use datadog exporter

**What did you expect to see?**
No errors.

**What did you see instead?**
[code]

**What version did you use?**
Version: `v.0.20.0`

[2021-02-16 07:04] ericmustin commented on #2353
@dustyhorizon 👋 hey there. that's no good. We've seen a few reports of this so would love to get more info here and resolve for you. Since i'm likely going to need you to add the `logging` exporter to your traces pipeline and set `logLevel` to debug, it's possible that information could include some PII, so would it be possible to gather those logs and include it when opening a support ticket with

[2021-02-16 16:00] ajsaclayan opened #2364 "Exposing queue length as a property on the receiver"
Hi OpenTelemetry community!

"As an OpenTelemetry receiver, I would like to know if the number of incoming metrics is at or close to the queue length, so I can send a 429 to the client to avoid the collector from being overloaded."

We have Prometheus data that accumulates on the client until a receiver is integrated to receive metrics. What we're seeing is that the client may send a weeks worth o

[2021-02-17 03:30] #2230 closed

[2021-02-17 03:30] #2231 closed

[2021-02-17 03:30] #2232 closed

[2021-02-17 03:30] #2233 closed

[2021-02-17 08:41] pmalek-sumo commented on #2329
I can pick this one up if no one is working on this yet.

I believe this boils down to
* changing this https://github.com/open-telemetry/opentelemetry-log-collection/blob/7d6eb19cfb2594307554ed7c0418e410770dfc3f/operator/builtin/input/file/file.go#L183
* changing config validation https://github.com/open-telemetry/opentelemetry-log-collection/blob/7d6eb19cfb2594307554ed7c0418e410770dfc3f/operator/

[2021-02-17 13:14] djaglowski commented on #2329
@pmalek-sumo That looks correct to me. Thanks for picking this up!

[2021-02-17 15:04] sirianni commented on #1217
Is the workaround using a `replace` directive in the consuming project's `go.mod`? For example:
[code]

[2021-02-17 22:09] tigrannajaryan opened #10286 "[pkg/stanza] Make log rotation awareness and file tailing usable as independent features"
There are uses cases other that log file collection that needs these capabilities. See for example https://github.com/open-telemetry/opentelemetry-collector/discussions/2457

It would be nice to refactor the codebase to allow using just these features without the need to collect logs from files.

This likely requires tailing binary files, so not a line-oriented tailing.

[2021-02-17 22:20] #2265 closed

[2021-02-17 22:20] #2268 closed

[2021-02-17 22:20] #2282 closed

[2021-02-17 23:57] slim-bean commented on #1894
Apologies @gramidt have not forgotten about this but haven't had a chance just yet to follow up!

[2021-02-18 16:34] adityasundaramurthy-maersk opened #2375 "[exporter/datadog] Support exporting to in-cluster agents"
**Is your feature request related to a problem? Please describe.**
The collector in its current state only supports exporting directly to Datadog. It is not possible to export telemetry to an in-cluster agent as the collector failed at the key validation step.

**Describe the solution you'd like**
I have Datadog agents deployed in Kubernetes clusters. The dd-java-agent support exporting to both th

[2021-02-18 18:30] tigrannajaryan commented on #2321
Since it is an internal package it cannot be consumed outside this repo so we should be able to make it a separate module easily in the future if needed. So, I suggest we just keep it in the main module for now.

[2021-02-18 18:32] djaglowski commented on #2321
I'm fine with that. I noticed that other packages in internal used their own modules, so just followed that pattern.

[2021-02-18 18:47] tigrannajaryan commented on #2321
You are right, I did not know that. Some packages do. Up to you, I don't have a strong opinion. I think for internal packages it doesn't really matter since they are not consumable as modules anyway, right? I may be missing something.

[2021-02-18 18:50] #2321 closed

[2021-02-18 18:51] gramidt commented on #1894
No worries at all, @slim-bean! I appreciate you taking the time to review and ensure that the implementation is the best it can be.

On a side note, I would love https://github.com/grafana/loki-client-go to have an official versioned release, and assurance that it will be kept in sync, so that this implementation can use it for the generated protos and maybe eventually use the client pieces too.

[2021-02-18 20:15] ericmustin commented on #2375
@adityasundaramurthy-maersk 👋 hey there, i'm a bit confused on the use case. you want to export from the opentelemetry-collector to a datadog-agent? Is the main reason here the api key management bit or is there specific metadata that gets added by the datadog-agent that we're missing in the opentelemetry-collector datadogexporter?

For context, we're discussing internally exposing an OTLP ingest

[2021-02-18 21:01] arpitmalhotra opened #2379 "Missing ARM64 docker images for opentelemetry-collector-contrib"
Can we please provider a docker image for opentelemetry-collector-contrib ARM64 architectures. Seems like we have the binaries and support for it but no arm64 images here

https://hub.docker.com/r/otel/opentelemetry-collector-contrib/tags?page=1&ordering=last_updated

Also if not possible please advise on steps to build that image locally.

[2021-02-19 01:14] gramidt commented on #2379
Hi @arpitmalhotra -

I quickly hacked up a Dockerfile for you to test out. I have not tested it, but hopefully it's mostly complete for a quick PoC.

https://gist.github.com/gramidt/d54b104af1d06649b4d77f8d5504fac8

@bogdandrutu - What are your thoughts on adding an official image? I'm happy to contribute this if this is something the community would like.

[2021-02-19 04:58] anuraaga commented on #2379
+1 for a multiarch image :)

I use the docker build action to generate one for a similar daemon and it works great

https://github.com/aws/aws-xray-daemon/blob/master/.github/workflows/continuous-build.yml#L93

In that gist, actually there's no need to use an arm base image just for wget, the exact same Dockerfile can work as long as the file that's copied into scratch is parameterized by the plat

[2021-02-19 07:38] gramidt commented on #2379
That's an excellent point, @anuraaga! I used the ARM images for the certs and wget so the image could be built on an ARM node. This however is not as common as building it on another platform and deploying on ARM, so if that's the case, only the final image needs to be ARM compatible like you mentioned. I'll update the gist to include another Dockerfile that follows that common approach.

[2021-02-19 17:10] pmm-sumo commented on #2266
Here's [draft design doc link](https://docs.google.com/document/d/1YQJzuDe3C9OaSkHZXQyxALAI1UOUuLdcDpiYDahhv7w/edit#) and a gist with (sample config)[https://gist.github.com/sumo-drosiek/c7b9d812cc3279062b0fe74e13aea64e]

[2021-02-19 19:35] arpitmalhotra commented on #2379
Thanks @gramidt @anuraaga for the updates. @gramidt seems like we are copying COPY otelcontribcol /
from alpine and wget both. which one should be done ?

The docker file as is fails to build. i am using buildx with experimental features on docker desktop

[2021-02-19 19:51] gramidt commented on #2379
Absolutely, @arpitmalhotra!

Based on your setup, I have updated and tested the Gist to work for you.

Let me know if you have any additional issues with it.

[2021-02-19 21:12] arpitmalhotra commented on #2379
Thanks @gramidt ! that seems to work now, verified on an ARM 64 instance :)

[2021-02-19 21:15] gramidt commented on #2379
That's great news, @arpitmalhotra! Thank you for keeping us in the loop.

Once I receive further feedback from the community, I will create a PR to add additional images for the releases of both the collector and collector contrib.

[2021-02-20 22:43] gramidt opened #2386 "lokiexporter: Replace logprotos with 'loki-client-go' when a version is released"
**Is your feature request related to a problem? Please describe.**
In #2385 github.com/grafana/loki was replaced by copied 'logproto' files from the repository, due to incompatible dependency issues. At this time,  the 'loki-client-go' is marked experimental and has not released a version yet. Once this project has released a supported version, we should remove the files added in #2385 and depend

[2021-02-20 23:30] bogdandrutu commented on #2379
Please send the PR, and try to avoid duplicate code per @anuraaga suggestions :)

[2021-02-20 23:32] gramidt commented on #2379
Sounds like a plan, @bogdandrutu!

[2021-02-20 23:51] pingleig opened #2388 "[exporter/awsemf] Metric type IntHistogram is not supported"
**Is your feature request related to a problem? Please describe.**

When generating IntHistogram using `Int64ValueRecorder` the metric data type is `MetricDataTypeIntHistogram`. Current conversion logic in emf exporter supports all the other metrics types except int histogram.

Is it limitation on cloudwatch backend or just missed during implementation?

https://github.com/open-telemetry/opentelem

[2021-02-20 23:58] gramidt commented on #2290
@bogdandrutu - Could you assign this to me?

[2021-02-20 23:59] gramidt commented on #2291
@bogdandrutu - Could you add the proper labels for tracking? Once added, I will close the issue.

[2021-02-21 16:03] gramidt opened #2390 "Codecov doesn't ignore 'third_party' directories"
**Is your feature request related to a problem? Please describe.**
Within the [Makefile.common](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/Makefile.Common#L5) we ignore 'third_party' directories from 'ALL_SRC'. This enables different components to add third-party code and rely on it being stable without re-writing the tests for it. Some components such as the [wind

[2021-02-21 16:48] gramidt opened #2392 "Unit test coverage upload failed in CircleCI and reported invalid results for the coverage check"
**Describe the bug**
In #2385 I added third-party code in a directory that should have caused the code coverage check to fail, but it did not. My code passed the checks and was able to be merged. It turns out there was an error in the 'Upload unit test coverage step' and it didn't report it correctly ( https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/9774/wo

[2021-02-22 04:12] vikrambe opened #2396 "AWS XRayExporter - Unable to transform Zipkin/Jaeger TraceIDs to AWS X Ray TraceIds"
**Describe the bug**
Unable to ship Jaeger/Zipkin traces to AWS Xray. TraceIds are not getting transformed to X-Ray traceID format for below reason.

1. Here is the sample: Jaeger/Zipkin TraceId “00000000000000004548c0766ce4105a”, when AWS XrayExporter receives this format following condition fails https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/exporter/awsxrayexporter

[2021-02-22 04:14] vikrambe commented on #2396
+ @alolita

[2021-02-22 04:15] anuraaga commented on #2396
Hi @vikrambe - what are you using to instrument your app? opentracing or zipkin? And which language?

For zipkin instrumentation, you can generally configure 128-bit trace IDs and in most languages, but not all, they are compatible with x-ray. I don't think this is true for opentracing though.

We provide a java agent with an ID generator packed in so you can use OpenTelemetry with x-ray, is this

[2021-02-22 04:20] vikrambe commented on #2396
@anuraaga We use opentracing implementation of Zipkin and Jaeger, We also have some services in python and NodeJS not all libraries we use support 128-bit traceIds. Can AWS Xray support lower bit traceIds?
We have many services that already use jaeger/zipkin libs and it will not be possible for us to use aws-otel-java-instrumentation at the moment

[2021-02-22 04:31] anuraaga commented on #2396
XRay can't support 64-bit trace IDs unfortunately and there is a more specific requirement on the format of the trace IDs which is only handled out of the box by zipkin instrumentation (brave, zipkin-go, py-zipkin) but not opentracing. With OpenTelemetry, it is an extension in some of the languages and will be supported in more, for example the Java one is

https://github.com/open-telemetry/opente

[2021-02-22 13:34] jkowall commented on #2396
Sorry, I had to chime in here, we have observability vendor code in the SDKs now? That seems like an antipattern versus using the collector to transform the OLTP to vendor.

[2021-02-22 13:52] anuraaga commented on #2396
@jkowall Unfortunately IDs need to be propagated so they are at a later the collector can't get to. Because of that the otel spec requires ID customization.

[2021-02-22 13:58] jkowall commented on #2396
@anuraaga Ah yes, makes sense. That's the downside of manual instrumentation :(

[2021-02-22 14:09] ericmustin commented on #2353
@dustyhorizon 👋 Hey there just following up, hope all is well. Were you able to create a support ticket or review the questions I had above? If you did make a ticket, just let me know the id, i can make sure it gets escalated to me directly.

[2021-02-22 14:53] anuraaga commented on #2396
@jkowall It's also sort of a downside of X-Ray for sure though. I hope the ID restriction can be lifted at some point but I don't expect it for a few years.

[2021-02-22 18:59] alokmajumder opened #2434 "io.opentelemetry.exporter.otlp.trace.OtlpGrpcSpanExporter$1 onFailure"
Hi I am trying to send trace data from an application using otlp exporter, but getting error

Have configured the collector in GKE cluster and sending some trace data to the collector but getting error
------------------------
[BatchSpanProcessor_WorkerThread-1] WARN io.opentelemetry.exporter.otlp.trace.OtlpGrpcSpanExporter - Failed to export spans. Error message: UNAVAILABLE: io exception
[grpc-d

[2021-02-22 20:04] gramidt commented on #2392
@bogdandrutu - This issue is for tracking what happened with the code coverage check in #2385

[2021-02-22 20:05] gramidt commented on #2390
@bogdandrutu - Just needed labelled for tracking and can be closed.

[2021-02-23 02:40] bogdandrutu commented on #2396
@jkowall we don't have any vendor code in the SDK we offer a plugin to customize the id generator and by default we generate w3c compatible IDs.

[2021-02-23 08:37] WPH95 commented on #2332
could assign this one to me if no one is working on it.

I saw OTel-log-collection supported journaled_input, which seems to use internal/stanze/createLogsReceiver can resolved this issue

[2021-02-23 17:47] #2288 closed

[2021-02-23 19:43] gramidt commented on #1894
The exporter has been added to the binary. Other enhancements for the exporter exist as other GH issues. Closing this issue.

[2021-02-23 19:43] #1894 closed

[2021-02-23 20:30] owais opened #2455 "Bug report for failed CircleCI build (job: loadtest)"
Auto-generated report for `loadtest` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/84539

#### Test Failures
-  TestTrace10kSPS
-  TestTrace10kSPS/OTLP

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-02-23 21:34] gramidt commented on #2379
Putting this on hold until https://github.com/open-telemetry/opentelemetry-collector/issues/1234 is complete, so effort is not duplicated between CircleCI and GH Actions.

[2021-02-23 23:39] #2335 closed

[2021-02-24 14:31] tigrannajaryan commented on #2266
@pmm-sumo thank you for the research and the design. Here is what I think would be good to do so that the k8s support is complete:

1. Since the design uses the filelog exporter there is no new receiver type to be added. However the config to collect k8s logs is quite complicated and needs to have automated tests on its own. I would want to see an automated test that uses the proposed configuratio

[2021-02-24 23:42] joshuali925 opened #2463 "Problem running lokiexporter example with flog"
**Describe the bug**
Tried to run the docker compose example for [lokiexporter](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/exporter/lokiexporter/example/docker-compose.yml). After `docker-compose up`, I'm seeing this warning message from docker, and seems no logs are being generated.
[code]
There are suggestions of setting `fluentd-async-connect` to true to fix the

[2021-02-25 08:34] alokmajumder commented on #2434
Hello no body answered. :) was the issue not explained clearly? Anyways Root cause is You can not use javaagent jar along with manual instrumentation to change parameter like endpoint. I was trying to change the endpoint which i achieved by following code:

Cause: Using manual instrumentation along with javaagent to point to collector endpoint.
Solution: javaagent jar can not be used to pass runti

[2021-02-25 12:54] pmm-sumo commented on #2266
The kudos should go to @sumo-drosiek, who did all the hard work here :)

There are more details in the document, but we've started doing performance tests with simply tailing a local file having content such as (BTW, I would like these to become fully automated):
[code]

The results are following:
[code]

I am wondering if they should be considered OK for this phase or if rather we should first op

[2021-02-25 14:04] tigrannajaryan commented on #2266
@pmm-sumo can you also add CPU usage numbers for each case?

The logs/sec look quite low to me. As a comparison we can do 10,000 log records / second when reading simple filelog and only consuming about 20% of CPU: https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/10180/workflows/fcb249dc-bd31-4b20-b8b3-7d31956ccce3/jobs/85000

[2021-02-25 14:48] stephenhong opened #2467 "How does the opentelemetry-collector-contrib use exporters, receivers, processors, etc. of opentelemetry-collector?"
I am aware that the opentelemetry-collector-contrib repository and its releases are a superset of the core repository but how does it work? For example, the hostmetricsreceiver is only in the opentelemetry-collector repository but when I run the otel collector with otelcontribcol_linux_amd64 (binary of opentelemetry-collector-contrib), I'm able to use hostmetricsreceiver when it doesn't exist in t

[2021-02-25 15:52] sumo-drosiek commented on #2266
@tigrannajaryan Tests should be rather consider in relative to each other. Rather to show ratio between using different configurations (autodetect k8s format, etc)

I will add some tests to the `make e2e tests` :+1:

[2021-02-25 16:14] BinaryHexer opened #2470 "loadbalancing exporter: Add support for logs"
**Is your feature request related to a problem? Please describe.**
Allow logs to be exported based on the same logic as traces (using traceID hashing) to enable tail sampling for distributed logs for requests spanning multiple services.

**Describe the solution you'd like**
Add implementation for the `component.LogExporter` interface to the existing `loadbalancingexporter`.

**Describe alternative

[2021-02-25 16:18] djaglowski commented on #2332
Thank you @WPH95. We'll happily accept the help.

You've got the idea exactly right. [internal/stanza](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/internal/stanza) should make it fairly easy to create the new receiver, which will look very similar to [filelogreceiver](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/filelogreceive

[2021-02-25 16:50] djaglowski commented on #2266
@tigrannajaryan To summary stanza's implementation of plugins:

- The functionality primarily depends on golang's [text/template](https://golang.org/pkg/text/template/) package. [Here](https://github.com/open-telemetry/opentelemetry-log-collection/blob/4954610ac3b6a3a5e9f121603e9d094a4eb32663/plugin/plugin.go#L63) is where plugins are actually rendered.
- Plugin files are expected to be `.yaml`, e

[2021-02-25 17:02] tigrannajaryan commented on #2266
@sumo-drosiek thank you for doing the tests.

Just to make it clear: I want to understand how slow our k8s log reading implementation is compared to the potential maximum we can get if we hand-code the parsing of k8s formats. The upper bound for that maximum is approximately what we get with the simplest filelog receiving test. I believe it is important to know how much worse our k8s solution is d

[2021-02-25 17:40] tigrannajaryan opened #2471 "Add support for plugins / predefined formats."
Support Stanza-like plugins for log format, see https://github.com/observIQ/stanza/blob/master/docs/plugins.md

Preferably this should be a generic mechanism for importing templated configurations that can be used not just with logs but for other data types, and generally with any configuration section.

Details TBD.

[2021-02-25 18:36] owais commented on #2455
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/85146

#### Test Failures
-  TestMetric10kDPS
-  TestMetric10kDPS/OTLP

[2021-02-25 19:39] #1146 closed

[2021-02-26 13:42] fpaparoni opened #2476 "Jaeger gRPC receiver doesn't work properly"
**Describe the bug**
Jaeger gRPC receiver doesn't work properly

**Steps to reproduce**
I'm using the collector as agent to Jaeger HTTP Thrift endpoint. I'm connecting from opentelemetry client sending traces to 14250 gRPC port and I setup export to 14268 Jaeger thrift endoint

**What did you expect to see?**
Traces in Jaeger

**What did you see instead?**
From the opentelemetry client I receive t

[2021-02-26 16:03] bogdandrutu commented on #2476
/cc @jkwatson @iNikem I think this is similar with the problem discussed on Slack

[2021-02-26 16:04] bogdandrutu commented on #2471
I think this is a "config" change, so probably needs to be in core?

[2021-02-26 16:14] bogdandrutu commented on #2476
/cc @jpkrohling we were talking about removing this and you said that this exporter is not used :)

[2021-02-27 12:24] iNikem commented on #2476
@bogdandrutu what Slack discussion do you have in mind? Can you give a link?

[2021-03-01 15:47] jpkrohling commented on #2476
No no no, we talked about removing the Jaeger Thrift HTTP Exporter :-) The gRPC receiver is the most used way to consume data in Jaeger, being the preferred channel for the agent -> collector for quite a long time now.

https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/jaegerthrifthttpexporter

[2021-03-01 17:33] sumo-drosiek commented on #2266
@tigrannajaryan @djaglowski I performed more tests Today, and here is a result:

---
### table

[code]

---

### summary

filelog: `149226` lps
containerd regex: `130231` lps
auto detection (using ifs): `35773` lps
auto detection (using routed) `39602` lps
auto detection (using routed; without parsing filepath; without moving attributes): `86442` lps
auto detection (using routed; with parsing file

[2021-03-01 19:09] tigrannajaryan commented on #2266
@sumo-drosiek excellent, thank you for doing the tests.

So, to make it clear: the most feature-rich version, that autodetects the format, correctly parses filepath and puts attributes where they belong performs about 3x slower than a simple filelog. This is not great, but it is not terrible. It is something we can work with and improve and optimize.

[2021-03-01 19:10] tigrannajaryan commented on #2266
@djaglowski is this expected or there is a better way to achieve this that has less performance impact?

[2021-03-01 20:11] djaglowski commented on #2266
@sumo-drosiek Thanks for the detailed findings. This will be very helpful in optimizing. I'm confident we can improve it quite a bit.

@tigrannajaryan I'm a little surprised, but I'm hopeful that much of this can be improved substantially and rapidly in the codebase. I don't think 30% is going to end up as a typical cost for most operators.

Unfortunately, I'm not aware of any immediate config cha

[2021-03-01 20:36] tigrannajaryan commented on #2266
OK, to summarize: we have a solution for k8s pod log that works and is not too bad performance-wise.

@sumo-drosiek will you be able to submit a PR with your k8s perf tests to the repo and add a k8s collection config to the examples directory? I think we should use the most complete autodetect config even if it is slowest. It would be nice to include perf numbers in the README of the example.

Onc

[2021-03-01 20:58] tigrannajaryan commented on #2331
@WPH95 is working on this (can't assign because they are not Otel Github member).

[2021-03-01 21:37] pmm-sumo commented on #2266
I was thinking about caching the regex too (which perhaps can be invalidated e.g. when it doesn't match the line)

In either case - after submitting the PR, do you think it's the time to move on to Helm chart support @tigrannajaryan ?

[2021-03-01 21:47] djaglowski commented on #2331
@WPH95 open-telemetry/opentelemetry-log-collection#13 is resolved an available in version `v0.15.1`.

[2021-03-01 22:04] tigrannajaryan commented on #2266
Yes, I think so. Great progress! :-)

[2021-03-02 01:22] WPH95 opened #2528 "Add syslog receiver perf test"
Dependent on https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/2482 and https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/2331