[2022-03-25 16:35] djaglowski opened #8850 "Proposal to merge opentelemetry-log-collection"
### Background

[opentelemetry-log-collection](https://github.com/open-telemetry/opentelemetry-log-collection) provides substantial functionality for several log receivers in the contrib collector. It exists as a separate repository based on the original [proposal to contribute stanza](https://github.com/open-telemetry/community/issues/605) to OpenTelemetry.

Since the contribution, the repository

[2022-03-25 16:37] jpkrohling commented on #8843
Good catch!

@bogdandrutu, @codeboten, @tigrannajaryan, do you think calling an exporter's shutdown on a separate Go routine would be in line with the function semantics?

[2022-03-25 16:38] jpkrohling commented on #7407
Yes

[2022-03-25 16:42] jkowall commented on #8850
Parsing log data which is not generated from OpenTelemetry seems critical to me and to this contribution. I would like to see us get the schema incorporated before this happens: https://github.com/open-telemetry/oteps/pull/199 This makes the logging far more useful and relevant when it comes to log correlation.

[2022-03-25 16:42] jpkrohling commented on #8553
The way I typically solved this in the past is by removing the deprecated/old check, merging the PR, adding the new required check.

[2022-03-25 17:01] djaglowski commented on #8850
This isn't proposing a contribution - only a change in code management. In any case, parsing log data which is not generated from OpenTelemetry is exactly what this code base does, aside from collecting log data. This capability is currently built into every log receiver that uses the log-collection library.

As far as I can tell, your concern is orthogonal to this proposal. I 100% would like to s

[2022-03-25 17:06] tigrannajaryan commented on #8843
Side comment: it is quite confusing that an exporter manages other exporters. We need to improve our pipelines so that this can be a processor.

As for the specifics the shutdown calls/implementation. I believe Shutdown() itself is implemented incorrectly. It sets a flag and exits where the Shutdown contract says:

[code]

So, I think the Shutdown itself needs to be fixed first of all.

If the abo

[2022-03-25 17:11] jpkrohling commented on #8843
Agree with all your points, especially about the load balancing being an exporter that has direct access to other components. Until the collector has the pieces in place that allows for a migration, I'll migrate this component.

Thanks, I think this clarifies it.

@ralphgj, you can probably tweak the retry logic for the inner OTLP exporter, so that it fails faster. I suspect the backend is offline

[2022-03-25 17:42] djaglowski commented on #8833
I'll sponsor this.

[2022-03-25 19:02] vasigorc opened #8851 "Can't see metrics nor traces in opentelemetry collector"
**Describe the bug**
We have an app that exports traces and metrics and that is now instrumented as described in [this comment](https://github.com/open-telemetry/opentelemetry-java/discussions/4298#discussioncomment-2439537). Previously we used `opentelemetry-collector-contrib` version `0.38.0` and we were seeing both metrics and traces come through. Since the upgrade to `0.46.0` this has broken.

[2022-03-26 02:31] ericmustin commented on #8819
@pmm-sumo thanks for the work around. I went with a custom processor as I'd prefer to avoid doing multiple operations. I think of the long term fixes you mentioned

Seems like the most reasonable (ie, have the `capture groups:attribute_key` mapping in a separate config option). But frankly i'd prefer to just see this work done in the `transform` processor, which seems to be a more flexible long te

[2022-03-26 02:35] ericmustin commented on #8819
@mx-psi also to answer your question (@anuraaga and i spoke on slack), the transform processor doesn't allow for regex matching at the moment, although you can define a custom function as an extension that can be referenced in the `transform` processor expression, which could accomplish this. but nothing pure yaml yet.

There are a few PRs in flight that would make this feature easier to accomplis

[2022-03-26 13:50] caoheyang opened #8854 "skywalking exporter"
I'd like to confirm if we offer skywalking exporter now regarding the trace part, and if not, would it be a good idea to consider offering it? My current application is collecting trace information via opentelemetry java agent and I want to display it via skywalking.

thanks,
Regards.
Heyang

[2022-03-28 03:18] dmitryax commented on #8850
I support this proposal

[2022-03-28 05:14] JaredTan95 commented on #8854
The current otpl data can not be converted into skywalking protocol data.

[2022-03-28 06:25] caoheyang commented on #8854
Hi Jared,

Thanks for your reply😃.  So ,do we have a plan to realization it ? I think this is needed for many people.

regards,

Heyang

[2022-03-28 07:20] rubenruizdegauna opened #8856 "[receiver/hostmetricsreceiver] CPU utilization uses inaccurate time delta"
**Describe the bug**
`system.cpu.utilization` delta time is calculated using timestamps read in each scrape. These timestamp reads are not directly related to the cpu times reads so the used delta time to calculate utilization is not aligned with the delta time from times values. This makes `system.cpu.utilization` inacurate.

As cpu utilization relies on cpu times, the delta time should be calcul

[2022-03-28 07:44] bogdandrutu commented on #8850
+1

[2022-03-28 08:41] gillg commented on #8265
Hi @dashpole I have a little question around your plans to prepare the migration on my side.
Do you plan to deprecate `resource_to_telemetry_conversion` on prometheus exporter, or this config will be in charge to "enable" the `target_info` metric ?

[2022-03-28 09:01] gillg commented on #8265
Additional question, does attributes will be happened if the metric target_info already exists ?

Exemple 1:
`Prometheus receiver where target_info already present > resource enrichement on all metrics > prometheus exporter`

Exemple 2:
`OTLP receiver with a metric target present > resource enrichement on all metrics > prometheus exporter`

Does `target_info` at prometheus expoter side will have o

[2022-03-28 11:13] pmm-sumo commented on #8854
FYI @liqiangz

[2022-03-28 14:29] dashpole commented on #8265
I think that would be the correct thing to do, but we should discuss with the wider group.

Resource attributes are dropped in the PRW exporter.

In example 1, the incoming target_info will be translated into resource attributes.  Then the attributes are modified, then the resource is translated into target info.  The only difference between the initial target_info metric and the final one will be

[2022-03-28 17:03] Aneurysm9 commented on #8265
PRW also supports `resource_to_telemetry`, so it should likely share a fate with that capability from the `prometheus` exporter.

[2022-03-28 18:22] #8851 closed

[2022-03-28 18:23] vasigorc commented on #8851
Re-opened previous discussion on the api side: https://github.com/open-telemetry/opentelemetry-java/discussions/4298

[2022-03-28 18:34] gillg commented on #8265
@Aneurysm9 good catch, the readme is not up to date :)

[2022-03-28 22:35] codeboten commented on #7952
Another instance of this https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5728237436?check_suite_focus=true

[2022-03-29 04:04] ralphgj commented on #8843
Thanks all!  @jpkrohling  Your suspect is correctly. The problem described above would happened when we redeployed the sampling collector (trace data -> load balancing collector -> sampling collector).

The retry logic seems for the situation on sampling collector can't be reached. So tweak the retry logic maybe not suit this problem. Could you give us some other suggestions?

[2022-03-29 04:13] ralphgj commented on #8843
Another question, now the queue seems included in endpoint exporters, and consume trace need to select an endpoint. So the consume process will be blocked by the select endpoint process. Why not put trace in queue when consume process and then drain the trace from queue for sending to remote by load balancer?

[2022-03-29 06:44] pureklkl commented on #8252
I need following features for the metric side, and I think they are already supported for the span(feel free to to correct me):
- Promote a metric label to a resource
- Rename a promoted metric label
- Replace a value for a resource attribute based on a condition
- Keep selected metric labels only (i.e. only preserve 'foo' and 'bar' labels)

I am wondering what is the timeline to add support for m

[2022-03-29 08:02] suiluj opened #8948 "Exporter for Machine Learning Pipeline: Webdataset with batched MessagePack protobuf binary data (for PyTorch)"
**Is your feature request related to a problem? Please describe.**

I am planning to analyse trace data with pytorch. At the moment there is no efficient way to create a dataset.

This issue is meant for open discussion if my planned approach is reasonable.

So far I used the fileexporter which saves traces in a file line by line as json protobuf:
  - disadvantages:
    - single file
    - json en

[2022-03-29 14:24] dashpole opened #8950 "[prometheusreceiver/prometheusexporter] Handle units in prometheus metric names"
After https://github.com/open-telemetry/opentelemetry-specification/pull/2440, prometheus exporters must add units to as a suffix to the metric name (before type suffixes), and the prometheus receiver must trim a unit suffix after trimming type suffixes.  I.e.:

[code]
is broken down into OTLP
[code]

[2022-03-29 19:53] djaglowski commented on #8850
observIQ has some builds that use the log-collection repo, but pinned to older releases so no forwarding is necessary in this case. I'm fairly certain this is only outside consumer of the library.

[2022-03-29 21:19] hydeenoble commented on #8815
@dmitryax I would like to pick this up if no one is currently working on it.

PS: I am open to ideas for the variable name :)

[2022-03-29 21:23] dmitryax commented on #8815
Hi @hydeenoble . Thanks. Picking up a variable name is the biggest part of the work :) feel free to suggest any in your PR.

[2022-03-30 05:18] anuraaga commented on #8252
Hi @pureklkl - indeed I think they are supported or would only require some small tweaks.

I am currently working on a change to make the core function handling logic generic, instead of only working with spans, which will enable adding the metrics data model. Should be able to send it out this week and it will hopefully be relatively mechanical to get metrics in after that.

[2022-03-30 06:57] matthewmodestino commented on #7396
Bump.

Any progress on transform processor?

Would be really handy to have the `if` style expressions that the log collection `operators` support.

[2022-03-30 07:11] anuraaga commented on #7396
Hi @jpkrohling sorry for not responding to the question - yes replacement, possibly with SED syntax or something equivalent, is a function we'd want in the transform processor.

@matthewmodestino Sorry for the delay, just sent #8972 with a big step in being able to add logs support

[2022-03-30 07:28] matthewmodestino commented on #7396
Sweet!

In the logs signal, we would likely need to apply this conditionally,ie. based on resource or attribute values. Looking forward to seeing how this turns out!

[2022-03-30 08:30] hickeyma commented on #8546
@Aneurysm9  Does the response in https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/8546#issuecomment-1078432565 cover the points you raised in https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/8546#issuecomment-1076758646?

[2022-03-30 13:03] pmm-sumo commented on #7766
Implemented through #7768

[2022-03-30 13:08] djaglowski opened #10274 "[pkg/stanza] Parser "body" block"
That is the idea, though there's nothing requiring that `msg` be moved back to body. Some may wish to preserve the original body.

As a possible future feature, we could add a `body` block onto parsers, since this will be such a common workflow.

[code]

_Originally posted by @djaglowski in https://github.com/open-telemetry/opentelemetry-log-collection/issues/431#issuecomment-1065427281_

[2022-03-30 14:55] jpkrohling commented on #8843
The queued retry component does not know about the load balancer, nor the load balancer about the queued retry. Once the load balancer sent the data to the exporter, it will only get back upon a failure or success from the underlying exporter, which will only return once the retries have been exhausted.

One option would be to have the queued retry to be used by the load balancer in some way or fo

[2022-03-30 15:11] jpkrohling commented on #8948
Would this all be a single exporter?

[2022-03-30 15:36] mwear commented on #8816
I suppose introducing a recoverable error (instead of using permanent) as you hinted at earliee might be a little more straightforward and less disruptive to add. I might go that route first if there aren't any objections.

[2022-03-30 15:36] suiluj commented on #8948
No. At the moment the exporter would only create a folder and create many messagepack files inside.

the files get splitted after a defined number of export messages and the file names consists of:

- a timestamp
- type string: trace, metric, log
- random string of defined length (in case there are multiple collectors and the files should get merged for a big dataset)

In case you want to create a

[2022-03-30 16:49] jpkrohling commented on #8816
We had a discussion about it today during the SIG call. The error we have is in the consumer package, which isn't suitable for this. The proposal is then to change the component.Host to allow components to report its state (and continue reporting it), adding another function allowing components to register for callbacks, to be called whenever there's a report. This way, components such as the load

[2022-03-30 17:08] davidmirza408 opened #8976 "ability to filter processes in hostmetricsreceiver based on uptime"
**Is your feature request related to a problem? Please describe.**
HostMetricsReceiver collects telemetry data on all processes running in a system by default.  It would be helpful to be able to filter out short lived processes that may be up for only a few seconds but result in a lot of noise bing reported.

**Describe the solution you'd like**
I would like to create a filter that allows the user

[2022-03-30 17:37] syamalaids opened #8978 "collector as a service does not receive data"
Same executable when running via command line, receives data, whereas while running as a "windows service" (by installing the msi) does not. I ensured the same receiving port (grpc protocol port)  is open in both modes.

Is running the collector-contrib as a windows service enabled?

**I could not figure where the logs are stored when running as a service.**

Any additional pointers to debug this

[2022-03-30 18:09] mx-psi commented on #35
@jpkrohling should this be closed, given that we have opentelemetry-collector-releases?

[2022-03-30 20:24] mx-psi commented on #1217
I think this has been fixed for a long time so I am closing this. If you disagree please comment so that we reopen it

[2022-03-30 20:24] #1217 closed

[2022-03-30 22:47] Aneurysm9 commented on #8546
So, is there actually an issue here, then?  If `make update-otel` is hitting all of the component modules then we should be good, right?

[2022-03-31 01:22] matthewmodestino opened #8982 "Add dockerattributesprocessor to enrich docker logs collected with filelog receiver"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

As an OTel native logging user, I would like to collect docker logs and have them enriched the same way we do for k8s logs

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

I would like dock

[2022-03-31 02:30] politician commented on #3121
@jean This was posted a year ago, I am curious to know what you ended up doing for your use case?

@gillg The `tenant_id_from` would be perfect for this use case. But Tempo (OTLP Exporter) also makes use of `X-Scope-OrgID` header, just like Loki (and maybe other exporters have similar needs?).

So, how about a more generic solution that could be implemented in other exporters as well as Loki?

For

[2022-03-31 02:33] politician commented on #7945
Possible solution posted [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/3121#issuecomment-1084007399)

[2022-03-31 07:59] mkielar commented on #8271
Looks like this has been released in 0.48.0, but the CHANGELOG.md edit refers to 0.47.0, and as an effect this is not mentioned either in 0.47.0 or 0.48.0 release notes:

See:
- 0.48.0 vs 0.47.0 diff: https://github.com/open-telemetry/opentelemetry-collector-contrib/compare/v0.47.0...v0.48.0
- https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.47.0
- https://github.com/open-

[2022-03-31 08:08] hickeyma commented on #8546
Seems to me. Dopes this cover the issue for you @mx-psi ?

[2022-03-31 08:38] jean commented on #3121
@politician we're sending directly to Loki, not using OTel.

[2022-03-31 10:42] gillg commented on #3121
I like it. To see with other maintainers if it's not too bad to do this kind of transformations outside processors.

[2022-03-31 11:37] jpkrohling commented on #35
Yes

[2022-03-31 11:37] #35 closed

[2022-03-31 13:29] otaviocarvalho commented on #3121
@jpkrohling looking at this one, please assign it to me

[2022-03-31 13:40] mx-psi commented on #8546
I made a bad job of explaining this, sorry about that. My intention is to avoid the following situation:

1. Someone creates a PR adding a new `examplemodule` module, targeting Collector core vN module
2. Weeks pass, it gets reviewed and merged just before the vN+3 contrib release
3. The release manager for vN+3 has then to manually update the `examplemodule` module code to be compatible with vN+3

[2022-03-31 13:59] dehaansa opened #8983 "[cmd/mdatagen] documentation of attributes is limited"
The documentation of metadata.yaml attributes is limited, and in a way that feels incorrect from an end-user perspective. The primary issue is that it lists the attribute key from metadata.yaml as the "name", with no reference to the "value" field that will actually be represented on the metrics observed by end users. It also does not list the enumerated values when relevant.

[2022-03-31 14:45] #7528 closed

[2022-03-31 15:44] codeboten commented on #4131
@leonsp-ai are there any pending PRs needed before adding this to the contrib manifest?

[2022-03-31 18:13] satwika007 opened #8988 "Service specific sampling configuration"
Hi Team,
Our tracing infra looks like this - otel-loadbalancer -> otel-sampler -> jaeger-collector
Currently otel-sampler supports same sampling configuration for all services. We want to have service specific overrides i.e.,
different sampling configurations for different services(different rate limiting, http status code checks for different applications). Has anyone tried this? Or if you have a

[2022-03-31 18:53] pmalek-sumo commented on #7407
@jpkrohling Here's the PR: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/8990

[2022-03-31 20:09] philipcwhite opened #8992 "Minimal config.yaml Proposal"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
When I first started using the collector the config.yaml file was quite minimal.  I realize it hasn't grown substantially but I would prefer it was kept simple.

**Describe the solution you'd like**
A clear and concise description of what y

[2022-03-31 22:17] pavankrish123 opened #8994 "Rename default value of `Attribute` configuration parameter to `Authorization` from `authorization`"
Prior Art:  https://github.com/open-telemetry/opentelemetry-collector/issues/4982

The client libraries (OAuth2) usually set the authorization tokens as "Authorization: <>". Currently, by default OIDC extension looks for "authorization" header key.

[2022-04-01 01:45] Mrod1598 opened #8997 "[cmd/mdatagen] limited access to metric information"
**Is your feature request related to a problem? Please describe.**
In order to support better metaprogramming based on the defined metric metadata, that metadata needs to be accessible. In addition, that metadata should be referenceable by metric name. All of this will ensure less required repetition of metric metadata and duplicated code in the client & scraper logic

**Describe the solution you'

[2022-04-01 03:11] JaredTan95 opened #8998 "[Processor] is there a way to calculate service topology with processor?"
Hi, I was recently learning about `optelemetry-collecotr-contrib` and I found that we now have `spanmetricsprocessor ` already, which can generate metrics as follows:

[code]

So, I wonder if there's a way to compute the service topology, like the effect of `service dependencies` in `jaeger`.
But through the `prometheus metric` and it might be necessary to reference the `spanmetricsprocessor ` and

[2022-04-01 03:28] politician opened #8999 "Cannot export using otlp with basic auth"
**Describe the bug**
I would like to export traces to a Tempo instance hosted on Grafana Cloud. This requires authentication with basic auth, but I cannot make it work using the `basicauth` extension, it seems only supported when receiving traces via otlp but not exporting.

It works when using basic auth headers.

**Steps to reproduce**

[code]

**What did you expect to see?**

Traces sent to Tem

[2022-04-01 03:55] yeya24 commented on #8998
I think there is no such feature in the opentelemetry collector contrib now. But Grafana agent supports this kind of feature to generate service topos from traces. Please take a look at https://grafana.com/docs/tempo/next/grafana-agent/service-graphs/#how-they-work.

I guess https://github.com/grafana/agent/blob/main/pkg/traces/servicegraphprocessor/processor.go is what you want.

[2022-04-01 04:45] JaredTan95 commented on #8850
+1
This makes sense to me

[2022-04-01 07:01] StuCurry opened #9000 "unknown receivers type "skywalking" error in v0.48.0"
**Describe the bug**
unknown receivers type "skywalking" error in v0.48.0

**Steps to reproduce**
unknown receivers type "skywalking" error in v0.48.0

**What did you expect to see?**
otel-collector running use skywalking receivers

**What did you see instead?**
[code]

**What version did you use?**
Version: v0.48.0

**What config did you use?**
receivers:
      skywalking:
        protocols:

[2022-04-01 09:06] jpkrohling commented on #8994
As mentioned in the other issue, just changing from "A" to "a" would break gRPC. We'd need a way to match this header in a case-insensitive manner.

[2022-04-01 09:15] jpkrohling commented on #3121
As we briefly discussed via Slack, we might not even need any code changes. If you can get it working with the current options already, that would be great. Otherwise, we can make this exporter aware of the recent changes to the client package: if the user has specified that the source of the tenant information is the original request, we could try to get it from the client from the context.

http

[2022-04-01 09:25] jpkrohling opened #9001 "Flaky test - internal/aws/k8s/k8sclient"
[code]

Seen here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5770630548?check_suite_focus=true#logs

[2022-04-01 09:25] jpkrohling commented on #9001
cc @anuraaga @mxiamxia

[2022-04-01 09:28] jpkrohling commented on #8988
I need to play with the "and" policy, but perhaps @mottibec has the answer?

[2022-04-01 09:36] jpkrohling commented on #8997
cc @dmitryax

[2022-04-01 09:37] politician commented on #3121
@jpkrohling can you please show an example yaml config of how to use it if there are no code changes?

An example of using a k8s workspace as tenant like I've shown in my snippet would be great since it's kind of a standard use case.

[2022-04-01 09:38] jpkrohling commented on #8999
The basic auth extension is only for incoming requests, not for outgoing. There's a plan to add support for basic auth on the client side, but it hasn't been merged yet (see #8847). As such, I'm closing this, as work is being tracked there.

[2022-04-01 09:38] #8999 closed

[2022-04-01 09:43] jpkrohling commented on #9000
Looks like this component isn't on the distribution yet:

https://github.com/open-telemetry/opentelemetry-collector-releases/blob/49633b3cb894d6f77ce520e7540a309e267751e2/distributions/otelcol-contrib/manifest.yaml#L137-L141

cc @JaredTan95

[2022-04-01 09:44] jpkrohling commented on #3121
Sorry, my comment was meant to @otaviocarvalho. He'd be the one trying to get a working config, and if he can't, we'll do some code changes.

[2022-04-01 09:47] jpkrohling opened #9002 "Flaky test - TestReceiver at k8sclusterreceiver"
[code]

Seen here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5785311188?check_suite_focus=true

cc @dmitryax

[2022-04-01 09:50] JaredTan95 commented on #8998
@yeya24  Thanks, It's a coincidence that I just saw the handling of the `service graph` in the Grafna Agent.

[2022-04-01 09:50] swiatekm-sumo opened #9003 "[extensions/file_storage] Change bbolt settings for better performance on large DB files"
**Is your feature request related to a problem? Please describe.**
File storage performance degrades significantly depending on the maximum size of the bbolt DB over its lifetime. Notably, this is true even if the DB is empty, as bbolt never frees disk space unless manually instructed to compact it (which is tricky to do online). The reason for the performance degradation is that bbolt keeps a fre

[2022-04-01 09:53] jpkrohling commented on #9003
cc @djaglowski

[2022-04-01 09:59] JaredTan95 commented on #8998
@mapno hi, Is there any plan for contributing to this upstream repo. :-)

[2022-04-01 14:14] matthewmodestino commented on #8982
I may have found a way forward by using the metadata that the docker `json-file` driver will embed, then just using existing `filelog` operators/processors to add the docker meta to `resource` / `attributes`. Will try it now...

[2022-04-01 14:25] mapno commented on #8998
Hey! That's right, we developed a solution to recreate a system's topology by deriving metrics from ingested traces. This solution is built as an OTel processor, and currently lives in the Grafana Agent. We're working on adding this same feature to Tempo as well.

The processor is built very ad-hoc to work with the Grafana Agent (and Tempo soon) and Grafana, but it could be modified to make it agn

[2022-04-01 14:57] jpkrohling commented on #8998
If this turns out to become a new component, I'll sponsor it.

[2022-04-01 15:09] JaredTan95 commented on #8998
@mapno Thanks for your description, If you have no time, I think I can have a look at  `service graph` processor(Grafana Agent).
And then, I'm happy to work on contributing this after I have fully understood the logic in `Grafana Agent`.  cc @jpkrohling

[2022-04-01 16:36] pavankrish123 commented on #8994
Got it! @jpkrohling I would like to implement this special case insensitivity only for default (Auth and fallback auth). In other cases I am planning to make it case sensitive. Does this sound good?

[2022-04-01 17:51] #7140 closed

[2022-04-01 20:52] jessberg opened #9009 "sending_queue is full despite large queue size"
**Describe the bug**
I am trying to run the collector with the group by trace processor, and Jaeger exporter.  I have an application that is producing 500 traces per second, and I have set the sending_queue to have a size of 10,000.  In my view, that should never overwhelm the queue because 500 traces per second, even with random bursts and noise, shouldn't overwhelm a queue of size 10,000.  Howev

[2022-04-01 21:10] Aneurysm9 commented on #9009
A 10,000 span queue will provide 20 seconds of runway at 500 spans per second.  The default retry settings used by the queued retry helper have a 5s initial interval and 30s max interval with a 5 minute maximum elapsed time.  Your queue should be at least 150,000 to accommodate 500 inbound spans per second over a five minute period.  Though, realistically, that isn't enough at that rate and timeou

[2022-04-01 21:15] jessberg commented on #9009
What do you mean by "seconds of runway"?  Are you saying that the queue is keeping things around for 5 minutes?  I thought when the backend was functional, the queue should remain drained at all times.

Also, if you are keeping them around for 5 minutes, why wouldn't 150,000 be enough?  How do you know how fast the spans will be cleared from the queue?

[2022-04-01 21:44] Aneurysm9 commented on #9009
I mean that if the arrival rate is 500/s and the exit rate is 0/s, the queue will be full in 20s.  The queue will retain items until they are consumed.  The consumer in this case may only consume items at a rate of 1 every 5min.  That would be pathological behavior only expected to exhibit when the backend is unavailable or severely degraded.

It is, however, possible that the exit rate could be l

[2022-04-01 21:57] jessberg commented on #9009
I did just try it with 150,000 queue size, and it worked for 8 minutes, then returned the old error.  From this I believe that has to be the case;  the exit rate is probably less than the arrival rate.  Is there some way to monitor the exit rate to see what the limits are?  Are there any guidelines for expected throughput?  I'd ideally like to be able to process thousands of traces per second;  is

[2022-04-01 22:11] Aneurysm9 commented on #9009
The collector emits some metrics on port `:8080` by default.  You can look at those, including `otelcol_receiver_accepted_spans` and `otecol_exporter_sent_spans` to gauge the arrival and exit rates, respectively.

It should be possible to process thousands of spans per second, but probably not with 200 millicores of CPU allocated to your Jaeger service instance.  Ensure that your systems are appro

[2022-04-01 23:07] jessberg commented on #9009
Thank you, that's very helpful!  I'll try to figure out what the rates are there then.  Is there anything I have to do to enable that?  I added 8080 to the list of ports in my kubernetes service but I'm getting connection refused when I try to access it.

[2022-04-02 00:33] dmitryax commented on #8997
@Mrod1598 can you please describe your use case why do you need more access to metrics information

[2022-04-02 03:55] r3h0 commented on #7905
In case anyone is wondering, here's the exact error message:

I know this because I set everything up only to find that I can't use it because of this.

I guess this is my +1 😭

Thanks for the hard work y'all are putting into OpenTelemetry. I've been following the project since the first announcement, and I'm looking forward to being a user of it someday.

[2022-04-02 09:55] ayu-programer opened #9012 "[exporter/kafka] tls not work"
**Describe the bug**
i want to export the collected link data to Kafka by the opentelemetry-collector，and my kafka  protocol is tls
and my config was  as below

[code]

but it will report an error client has run out of available brokers to talk to (Is your cluster reachable

so as for me,how can i connect to the  kafka cluster?
if i want to ignore the tls config，How should I configure it？if i conf

[2022-04-02 10:01] rogercoll opened #9013 "[receiver/podman] Add functionalities to Podman based on Docker stats receiver"
The current implementation of the [docker stats receiver](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/dockerstatsreceiver) provides more configurable options and robustness structure than the Podman receiver. For example, the Podman receiver does not include any filtering option, like excluding containers by its image name.
The goal of this issue is to note

[2022-04-02 20:10] Mrod1598 commented on #8997
A use case I'm currently working on is for The[ IIS receiver](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/8832/files#diff-f7357a65213f8b912c7e3ac21e1f8763679cbff4b1aedb9bbaa88f49ccda6366R42). I need access to the metric metadata to be able to build the config information for the imbedded windowsperformance counter receiver.

[2022-04-03 10:32] mottibec commented on #8988
You should be able to use the "and" policy to achieve this behavior, we are running this in production but with the probabilistic policy, but the rate-limiting should work just the same way.

[2022-04-03 16:18] ransoor2 opened #9015 "[exporter/datadog] Tags should not be case sensitive"
**Describe the bug**
Tags are case sensitive in DD exporter, which results in tags duplication in DD

**Steps to reproduce**
For example : metric enters the collector with tag `namespace:prod-default`. Collector with `resource` processor overrides with `NAMESPACE:prod_default`

**What did you expect to see?**
I expect to see in DD the same thing I see in the collector's logging exporter - `NAMESPA

[2022-04-04 05:17] satwika007 commented on #8988
Thanks for your response @mottibec!

@jpkrohling @mottibec
As of now latency sampling policy is based on time taken by trace. Can we have latency tag available for each span, so that sampling can be done based on each span duration as well?

[2022-04-04 06:26] syamalaids commented on #8978
Any pointers please?

[2022-04-04 08:04] swiatekm-sumo commented on #9003
I didn't know this while submitting this issue, but apparently the settings I proposed are also what etcd uses by default.

[2022-04-04 10:06] binjip978 commented on #7905
Hi, our storage solution is based on opendistro, so we have similar issue with elastic rest client. I already forked elasticsearchexporter https://github.com/binjip978/opentelemetry-collector-contrib/tree/opensearch-exporter/exporter/opensearchexporter and it works for our case.

But it still require proper documentation and some factoring on common code in both exporters. @jpkrohling not sure wha

[2022-04-04 10:50] mx-psi commented on #9015
Hi @ransoor2 thanks for taking the time to open the issue. It would be helpful to have your logging exporter output (in particular, do you see both `NAMESPACE:prod_default` and `namespace:prod-default`?)

[2022-04-04 10:54] mx-psi opened #9016 "[exporter/datadog] Remove `env` setting"
### What will change?

The `env` setting from the Datadog exporter will be removed in favor of using the [`deployment.environment` semantic convention](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.9.0/specification/resource/semantic_conventions/deployment_environment.md).

### Who is affected?

You are affected if you use the `env` setting from the exporter. If you are aff

[2022-04-04 11:13] greut opened #9018 "metricKeyToDimensions cache is printing many stack traces"
**Describe the bug**

https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6503 the additions of this LRU cache treats the missing key as an error, and prints a big stacktrace in the logs.

**Steps to reproduce**

Have either high dimensions or small `dimensions_cache_size`

**What did you expect to see?**

Either a metric for cache/hit ratio or a much lower log level, such as de

[2022-04-04 11:33] pmm-sumo commented on #9009
I believe part of the issue here might be lack of batching after `groupbytrace` processor is being used. It is highly recommended to have [batch](https://github.com/open-telemetry/opentelemetry-collector/tree/main/processor/batchprocessor) processor set in the pipeline. With Jaeger exporter, further reduction of requests might be achieved by using [groupbyattrs](https://github.com/open-telemetry/o

[2022-04-04 12:08] ransoor2 commented on #9015
Hi Pablo @mx-psi ,
In the logging exporter I saw only `NAMESPACE:prod_default` (which means the override succeeded)
In DD exporter's output I saw both `NAMESPACE:prod_default` `namespace:prod-default` in the tags list, which correct me if im wrong but this is not the expected behavior

[2022-04-04 12:14] mx-psi commented on #9015
@ransoor2 Yes, this is not the expected behavior, although I can't think of any likely explanation out of the top of my head.  I will try to reproduce at some point this week; if you don't mind copy-pasting the logging exporter output, it will be helpful to nail down what's happening (e.g. it could be because of other attributes you have or because of resource attributes vs datapoint-level attribu

[2022-04-04 12:15] ransoor2 commented on #9015
I will try to provide a full config example + client code to reproduce the issue

[2022-04-04 13:44] ransoor2 commented on #9015
Well, when I reproduced it locally then I also get duplications in the logging exporter.
So im guessing this is the expected behavior in DD exporter as well? Which will result in tags duplication in DD

[2022-04-04 14:39] djaglowski opened #9020 "[testbed] Flaky Test - MetricsFromFile"
[code]

This test is failing on many PRs due to a violation of the max configured RAM.

From what I can tell, this test is not testing actual collector functionality - only exercising testbed capabilities. It's not clear that its performance footprint needs to be carefully managed, except to the extent that it could create unexpected load when running other tests. Therefore, I suggest the limit ca

[2022-04-04 15:18] djaglowski opened #9022 "[testbed] Flaky Test - Log10kDPS/filelog"
This test is [failing](https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5818571084?check_suite_focus=true#step:14:316) due to a slight violation of the RAM constraint.

This is not entirely unexpected because of recent changes to the data model. The constraint should be raised accordingly.

[2022-04-04 16:03] #9020 closed

[2022-04-04 16:07] hickeyma commented on #3871
@eundoosong I see you have pushed #4137 to fix this issue. Do you think that you will return to the PR or will I finish it off for you?

[2022-04-04 16:22] Aneurysm9 commented on #9009
This is why I should never trust my memory!

[2022-04-04 18:00] #9022 closed

[2022-04-04 21:23] codeboten opened #9067 "[exporter/sapm] example still uses `ballast_size_mib`"
The example configuration for sapmexporter still uses a deprecated option, similar to what is shown in the comment here: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/9066/files#r842143351

See:

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/26585b2ec92f49f5cc1101bb4e077edf5064567e/exporter/sapmexporter/examples/signalfx-collector.yaml#L56

https:/

[2022-04-05 09:07] ransoor2 commented on #9015
Thanks Pablo
Closing the ticket

[2022-04-05 09:07] #9015 closed

[2022-04-05 09:47] syamalaids commented on #8978
I noticed the logs are showing up in event viewer. I reinstalled my application and it is all working fine.

[2022-04-05 09:47] #8978 closed

[2022-04-05 13:27] #5757 closed

[2022-04-05 14:17] greut opened #9086 "Jaeger remote sampling to be exposed no GRPC port"
**Is your feature request related to a problem? Please describe.**

With the following confuguration; the remote sampling data are available on port 5778 but not using the GRPC interface, the port 14250.

[code]

**Describe the solution you'd like**

That the behavior on the HTTP proxy, on port 5778 works similarly on the GRPC endpoint.

**Describe alternatives you've considered**

As an alternati

[2022-04-05 16:26] mapno commented on #8998
Hey, I'll be able to dedicate some time to contributing this myself. I'm happy to work with anyone who is interesting in helping as well.

From what I see, the first step for new components is opening an issue outlining the component ([docs](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/CONTRIBUTING.md#adding-new-components)). I'll see to starting that initial convers

[2022-04-05 16:46] bryan-aguilar commented on #7055
`make crosslink` is not available to automatically insert replace statements. I think this can be closed now @codeboten.

[2022-04-05 17:03] codeboten opened #9091 "Flaky test - internal/aws/k8s/k8sclient"
[code]

See https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5836932460?check_suite_focus=true

[2022-04-05 18:01] TylerHelmuth opened #9094 "Flaky Test - load-test (TestLog10kDPS)"
**Describe the bug**
The TestLog10kDPS test within the load-test workflow is failing intermittently.  Here are some examples:

- https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5792413929?check_suite_focus=true
- https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5821659089?check_suite_focus=true
- https://github.com/open-telemetry/opentelemetry-collector

[2022-04-05 19:34] #9067 closed

[2022-04-05 20:51] jpkrohling commented on #7055
"is not", or "is now"?

[2022-04-05 20:56] bryan-aguilar commented on #7055
Oops! Fixed! `is now`. I think it's time for a new keyboard! ha.

[2022-04-05 21:03] codeboten commented on #7055
Can this issue remain open until crosslink is for the entire repo? Ideally this would be run in the CI as well to notify us when someone has missed replaced lines

[2022-04-05 21:07] bryan-aguilar commented on #7055
Definitely, sounds good to me!

[2022-04-06 07:01] JaredTan95 commented on #8998
Okay, It would be nice to see this feature merged into upstream.

[2022-04-06 11:22] mx-psi opened #9099 "[exporter/datadog] Create `host_metadata` section to group related settings"

[2022-04-06 11:49] jpkrohling commented on #3382
I believe this should now be closed. If this is still a concern, feel free to reopen.

[2022-04-06 11:49] #3382 closed

[2022-04-06 12:46] ayu-programer commented on #9012
Who has encountered this problem and knows how to deal with it?

[2022-04-06 12:47] jpkrohling commented on #8994
Perhaps. Note that the RFC for the HTTP spec states that headers are case insensitive. So, a user specifying "authorization" would correctly expect we match both "authorization" and "auTHOrization".

Perhaps we should do an optimistic lookup first, and do a case-insensitive search if no values are found?

[2022-04-06 12:55] jpkrohling commented on #7905
From https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/CONTRIBUTING.md#adding-new-components :

[2022-04-06 12:57] jpkrohling commented on #9018
cc @albertteoh

[2022-04-06 13:01] jpkrohling commented on #8850
That's more like what I had in mind.

[2022-04-06 13:46] #6721 closed

[2022-04-06 13:50] jpkrohling commented on #9091
cc @anuraaga @mxiamxia

[2022-04-06 13:53] jpkrohling commented on #9094
@open-telemetry/collector-contrib-approvers, @open-telemetry/collector-approvers, the load tests have always been a source of test failures for us. All we always do is increase the limits once we start hitting them more frequently. I don't remember ever seeing a true positive out of those tests. Are those tests providing value to us? Or are they just sources of noise?

[2022-04-06 14:04] mx-psi commented on #9094
I agree that the current tests don't add a lot of value and are a frequent source of flakes.

For something unrelated, I recently had a look at what the Rust compiler process is for this, which can maybe be interesting for this discussion. The process is as follows:

1. PRs are benchmarked out-of-band and a bot post a comments when there are regressions and tags the PR with ‘perf-regression’ ([exa

[2022-04-06 15:48] #6722 closed

[2022-04-06 16:23] codeboten commented on #9091
Another failure:
[code]

[2022-04-06 16:34] djaglowski commented on #9094
Responding narrowly to the immediate issue - this specific test expectation was "fixed" in #9023, with the standard approach of raising the limit.

[2022-04-06 16:39] codeboten commented on #6750
As discussed in Apr 6 SIG meeting, @djaglowski will put together a proposal to move this component forward.

[2022-04-06 16:42] codeboten commented on #8823
@reyang @lzchen any chance someone over at Microsoft is available to sponsor this component?

[2022-04-06 16:42] codeboten commented on #8834
@reyang @lzchen any chance someone over at Microsoft is available to sponsor this component?

[2022-04-06 16:51] TylerHelmuth commented on #9094
@djaglowski it looks like that PR "fixed" the test named "filelog" within the `TestLog10kDPS` suite but the list of failures in this issue is the test named "OTLP"

Should I submit a PR to the OTLP test limit and continue the discussion around a more proper solution in a different PR?

[2022-04-06 17:05] TylerHelmuth commented on #9094
Ok I will do that.  Should I go ahead an up all the values (memory and CPU) for all the tests in this suite?  Would probably go a long way to making PRs have green checks instead of red Xs.

[2022-04-06 17:12] djaglowski commented on #9094
The rule of thumb that has been followed so far is that when establishing the limits, set them at roughly 15% above observed values. We should probably stick to that until there's consensus on the larger question.

[2022-04-06 17:12] reyang commented on #8834
Not that I'm aware of.

[2022-04-06 17:13] reyang commented on #8823
Not that I'm aware of.

[2022-04-06 19:00] #8841 closed

[2022-04-06 19:03] davidmirza408 commented on #8976
This is what I had in mind: https://github.com/davidmirza408/opentelemetry-collector-contrib/pull/5

[2022-04-06 19:04] kuriouscoder opened #9102 "Error: Duplicate span IDs; skipping clock skew adjustment"
Hi Team,

While making use of [routingprocessor](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/routingprocessor), I am facing an issue where i observe the traces from otel-sampler are being routed to all the backend collectors. The routing rule i have set is based on service.name , can you let me know if I am missing something here?
Updating configuration in

[2022-04-06 19:06] kuriouscoder commented on #9102
@jpkrohling can you please check above?

[2022-04-06 20:13] bogdandrutu commented on #8850
We missed the opportunity to do the demo (maybe later), but I think we should move forward with this. @djaglowski happy to review a PR.

[2022-04-06 22:30] davidmirza408 opened #9106 "ability to aggregate telemetry data of child process into parent"
**Is your feature request related to a problem? Please describe.**
The volume of data generated by hostmetricsreceiver for process monitoring can be overwhelming on buys systems with multiple child processes.

**Describe the solution you'd like**
In an effort to reduce the volume of data, i would like to propose that we make available a config setting that aggregates the metrics of a child process

[2022-04-06 22:44] davidmirza408 commented on #9106
This would be implemented as a top level config setting.  E.g.
[code]
this means that regardless of which filter resulted in the process being reported on, the metrics will be aggregated.

For the case where a filter results in the inclusion of the parent process but not the child process, the metrics of the child will be ignored when aggregating data.

[2022-04-07 01:11] djaglowski opened #9107 "[CI] Reassess value of load tests"

[2022-04-07 01:16] djaglowski commented on #9094
I've opened #9107 to capture the higher level discussion here. This issue will be closed by #9105.

[2022-04-07 09:30] berylshow commented on #9102
I use container JMeter for performance test. In k8s, I use otel collector to send it to Jaeger and also find this problem: "invalid parent span IDS = 716ef42737eac829; skipping clock skew adjustment"

[2022-04-07 10:01] mx-psi opened #9109 "[all] Enable more linters on this repository"
The opentelemetry-collector repository has two checks that are not enabled here. This is a meta issue to track these.

## Linters

### Errcheck

- [x] #9750
- [x] #9749

### Gocritic

- [x] #10465
- [x] #10466

### Depguard (for sync/atomic):

See more context at open-telemetry/opentelemetry-collector#5215.

- [x] #9810
- [x] #9778

### Exhaustive

We also have an existing issue for checking cover

[2022-04-07 10:34] gagansingh355 opened #9110 "Fluentforward receiver not releasing port for reloading of OTEL collector"
**Describe the bug**
When OTEL collector is reloaded using WatchForUpdate() and fluentforward receiver is present in config, it fails to reload as listener port is not released at shutdown.

**Steps to reproduce**
Use fluentforward as receiver and use WatchForUpdate() at config update.

**What did you expect to see?**
We expected a clean reload with updated config file.

**What did you see instead

[2022-04-07 12:57] jpkrohling commented on #9012
cc @pavolloffay @MovieStoreGuy as code owners

[2022-04-07 13:17] #9094 closed

[2022-04-07 13:54] jpkrohling opened #9113 "[extension/jaegerremotesampling] Flaky test - TestStartAndShutdownRemote"
Logs:

[code]

[2022-04-07 16:44] codeboten commented on #9107
We've talked about this in the past and there was some discussion of running the load tests less frequently, maybe on a daily basis. I'd prefer continuing to run the load tests on every build, record their results, and if possible, emit some sort of report (ie. codecov) instead of having intermittent failures in the build.

I think it's more important to be able to see the historical results of th

[2022-04-07 17:18] djaglowski commented on #9107
I fully agree with @codeboten's assessment and suggestion. It's valuable information but can be non-blocking without much risk.

[2022-04-07 17:36] bertysentry commented on #2651
Hey guys, now that Log data model is stable, will we get support for Logs in the Datadog exporter? Thank you!

[2022-04-07 18:35] djaglowski commented on #8377
I think you are talking about static configuration values such as total memory, right? What about dynamic metric values like used memory?

[2022-04-07 18:50] djaglowski commented on #8850
@jpkrohling I'm happy to give a brief overview in next week's SIG.

[2022-04-07 18:52] djaglowski commented on #8850
@bogdandrutu I'm wrapping up a few more changes for the final release of log-collection, then will have a couple PRs to execute the merge.

[2022-04-07 18:57] djaglowski commented on #6750
As a first step, I have opened [282 (java-contrib)](https://github.com/open-telemetry/opentelemetry-java-contrib/issues/282) to clarify constraints on the interface between the collector and the JMX Metric Gatherer. Please tag anyone who you think may have an opinion on the issue.

[2022-04-07 18:58] schmikei commented on #8377
Properties are not necessarily always static they get periodically updated. Here is a link for example the [Virtual Machine Documentation](https://vdc-repo.vmware.com/vmwb-repository/dcr-public/9fd87c06-14a3-41e5-b28d-277864a80f29/d6112c2a-b124-4fa5-96d7-9fb4b6f1bb50/doc/vim.vm.Summary.QuickStats.html)  that you retrieve via the Property Collector which in the cases I am thinking of are updated in

[2022-04-07 19:05] djaglowski commented on #8377
Thanks for clarifying @schmikei.

Do these APIs share an endpoint & authentication?

That's great. Seems it is sufficiently testable then.

[2022-04-07 19:17] schmikei commented on #8377
Most of it is handled via [authenticated user session authentication in govmomi](https://github.com/vmware/govmomi/blob/9054158bb458f8c383422253709b56dc318ba2c0/session/manager.go#L87) which gives a central authenticated client to go off of to make the API calls.

As far as endpoints are concerned there are multiple `routes` that govmomi will reach out to when making the underlying calls but commu

[2022-04-07 19:20] djaglowski commented on #8377
Ok, sounds like the metric receiver can operator on one endpoint and one set of credentials then.

[2022-04-07 19:25] djaglowski commented on #8377
This looks like it will be a somewhat complicated receiver, but it seems fully testable. VMware support in the collector would be a great addition. I'm happy to sponsor this.

Will you submit the metrics and logs parts separately?

[2022-04-08 02:37] ayu-programer commented on #9012
i try to ignore the tls config，and it  is not  work,  and my  configure as below:
kafka:
    topic: otel-spans
    brokers:
      - "broker-4475-0.strimzi.kafka.mid:443"
      - "broker-4475-1.strimzi.kafka.mid:443"
      - "broker-4475-2.strimzi.kafka.mid:443"
    auth:
      tls:
        insecure: false
        insecure_skip_verify: true

[2022-04-08 06:57] atoulme opened #9117 "Support log sampling"
**Is your feature request related to a problem? Please describe.**
Similar to what is offered with Probabilistic Sampling Processor, offer a log sampler.

**Describe the solution you'd like**
Ideally, the exact same config as the trace equivalent, with the addition of being able to sample logs according to their severity.

**Describe alternatives you've considered**
None come to mind.

**Additiona

[2022-04-08 12:06] jpkrohling opened #9119 "Flaky test - prometheusreceiver - TestOpenMetricsNegative"
Seen here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5869686660?check_suite_focus=true#logs

[code]

cc @Aneurysm9 @dashpole

[2022-04-08 12:09] jpkrohling commented on #9119
And here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5860025725?check_suite_focus=true

[2022-04-08 12:12] jpkrohling commented on #9107
If we end up having something like the Python repo, the value from the load tests becomes huge.

[2022-04-08 13:24] jessberg commented on #9009
Sorry for the late reply!  I am still having a bit of trouble accessing the statistics.  When I go to :8888, I get 404 Page Not Found.  This is the same as I got with zpages, but I fixed that by going to specific endpoints.  Is there analogous documentation on how to find the specific metrics?

[2022-04-08 15:29] codeboten opened #9121 "Produce performance report on every build"
As discussed in [this issue](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/9107#issuecomment-1091972066), it would be beneficial to publish the results from the load tests for the collector.

This issue tracks the work to accomplish the first part of what's proposed in that discussion, producing a report and publishing it to a github page for the repository, similar to t

[2022-04-08 15:30] ljmsc opened #9122 "[exporter/datadog] Possibly incorrect json identifier for host aliases"
**Describe the bug**
The json name for host aliases is called `host-aliases` in the datadog exporter but its called `host_aliases` in the datadog agent. Could it be that the name is wrong? I also have issues getting host aliases into datadog via the otel collector.

**Steps to reproduce**
try to export host infos with host aliases

**What did you expect to see?**
host aliases in datadog

**What di

[2022-04-08 15:31] ljmsc commented on #9122
@mx-psi fyi

[2022-04-08 16:19] jpkrohling opened #9123 "Replace mock traces exporter with consumertest.TracesSink"
I think we have a test facility native to the collector that we could use, right? Doesn't have to be changed on this PR, but perhaps it would make sense to open an issue to track this?

_Originally posted by @jpkrohling in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/8990#discussion_r846148040_

[2022-04-08 16:20] jpkrohling commented on #9123
This is the facility I had in mind: https://github.com/open-telemetry/opentelemetry-collector/blob/main/consumer/consumertest/sink.go#L25-L45

[2022-04-08 16:22] jpkrohling commented on #9113
And here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5887191395?check_suite_focus=true

[2022-04-08 16:32] mx-psi commented on #9122
I will take a look next week, thanks for the report!

[2022-04-08 16:59] jessberg commented on #9009
I got it!  I believe from this there are many many spans gotten by the receiver:

[code]
And much less sent by the exporters:

[code]

This seems pretty bad;  I seem to be overloading it by a factor of 3.  Can you explain what exactly is happening with the sending_queue here?  I understand I am overloading it, but would increasing the number of consumers help?  Are the requests to Jaeger pipelined

[2022-04-08 17:27] dashpole commented on #7546
I was able to implement the change for the prometheus receiver and prometheus remote write exporter easily.  I've opened https://github.com/prometheus/client_golang/issues/1023 to try and make it possible in the prometheus exporter.

[2022-04-08 17:36] pmm-sumo commented on #9009
This are relatively low-endish numbers (assuming the collector was operating for more than a couple of seconds). It's surprising to see issues with such volume of data. Will try to reproduce this locally. What are the parameters that you supply to your version of `tracegen`?

Also, noticed that your collector version is rather old (v0.37.1 was released approx 6 months ago). I am not sure if there

[2022-04-08 17:41] jessberg commented on #9009
I have the following for my deployment file for tracegen;  I made the image public so this should work out of the box
[code]

It was only working for a few seconds, but I noticed that the logging exporter was able to keep up with the load much more than Jaeger was.  Also I might be using the num_consumers incorrectly; I put 100 in for Jaeger, but I'm not sure what exactly that does.

[2022-04-08 17:48] #8546 closed

[2022-04-08 17:50] jpkrohling commented on #6986
Once more here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5888404798?check_suite_focus=true

[code]

[2022-04-08 17:53] jpkrohling opened #9124 "Flaky test - prometheusremotewriteexporter - Test_PushMetrics/WAL"
Seen here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5884764908?check_suite_focus=true

[code]

[2022-04-08 17:54] jpkrohling commented on #9124
cc code owners: @anuraaga @Aneurysm9 @alolita

[2022-04-08 18:21] #4332 closed

[2022-04-08 18:21] pmalek-sumo opened #9125 "routingprocessor: use native trace sink for tests"
I think we have a test facility native to the collector that we could use, right? Doesn't have to be changed on this PR, but perhaps it would make sense to open an issue to track this?

_Originally posted by @jpkrohling in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/8990#discussion_r846148040_

[2022-04-08 18:21] pmalek-sumo commented on #9125
@jpkrohling

[2022-04-08 18:57] pmm-sumo commented on #9009
@jessberg I did a test (though locally, so local network stack connection). I observed a couple of things

First of all, you might want to check this metric:
[code]

It describes the current queue size. TLDR, if it grows then the backend is not able to keep up with the requests coming from the collector. This might be due to a number of reasons though

Secondly, I *suspect* the problems you're obs

[2022-04-08 19:25] jpkrohling opened #9126 "Flaky test - tailsamplingprocessor - TestConcurrentTraceMapSize"
Seen here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5889481381?check_suite_focus=true

[code]

[2022-04-08 19:26] jpkrohling commented on #9124
And here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5889572864?check_suite_focus=true

[2022-04-08 19:28] jessberg commented on #9009
After a few seconds, I get
[code]
That seems to confirm it is the queue that's the problem!  What is request fragmentation?  I know that batching and groupbyattrs might help, but with groupbyattrs, I am still concerned about negating the effect of groupbytrace for my other exporter.  I did try batching with the config you put above, along with extra millicores for Jaeger as Aneurysm9 recommended;

[2022-04-08 20:09] jpkrohling commented on #7952
And here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5890618010?check_suite_focus=true

[2022-04-09 01:36] djaglowski commented on #8364
Closed by #8548

[2022-04-09 01:36] #8364 closed

[2022-04-09 03:27] #7145 closed

[2022-04-09 03:27] #8831 closed

[2022-04-09 17:36] pmm-sumo commented on #9009
TLDR, Jaeger exporter is [creating a separate batch/request for each ResourceSpans](
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/pkg/translator/jaeger/traces_to_jaegerproto.go#L35-L44). So when there are multiple ResourceSpans objects in the batch (even if effectively pointing to the same Resource Attributes values), it will create multiple requests.

By using `grou

[2022-04-09 17:56] djaglowski opened #9129 "[internal/stanza] Timestamp fields need to be converted properly"
**Describe the bug**
A second timestamp was recently added to the log data model (`ObservedTimestamp`), and the original `Timestamp` field was redefined, such that it should not be initialized unless a timestamp can be extracted to represent the event time.

The problem is that the conversion code still just copies the `Timestamp` field. When this value is uninitialized, it sets the `pdata.LogReco

[2022-04-09 18:25] djaglowski opened #9130 "[exporter/<logs>] Update timestamp processing logic"
The log data model was recently update to include a second timestamp. In order for logging exporters to maintain their current functionality, they must be updated to use `Timestamp` when it is present, and `ObservedTimestamp` otherwise.

A quick search appears to show that the following exporters may be affected:
- `azuremonitorexporter`
- `observiqexporter`
- `lokiexporter`

This issue is depende

[2022-04-11 00:13] dehaansa opened #9133 "New component: logs operators processor"
## The purpose and use-cases of the new component
Currently logs operators from [opentelemetry-log-collection](https://github.com/open-telemetry/opentelemetry-log-collection) are only available when leveraging a logs receiver that is configured to support them (and uses opentelemetry-log-collection under the hood). Other logging receivers should also be able to leverage the logs operators, and the

[2022-04-11 05:47] kuriouscoder commented on #9102
The issue for me turned out to be with the sampler routing configuration, I changed my pipeline as just below, instead of three pipelines which fixed the issue:

[code]

[2022-04-11 05:55] XiaoWeiKIN commented on #8854
mark

[2022-04-11 06:00] XiaoWeiKIN commented on #8854
I wonder why that is? since we plan to migrate Skywaking to OPTL, we want to be able to collect traces to SkyWalking Server through the Otel Agent.

[2022-04-11 13:07] pmm-sumo commented on #9113
Here as well: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5972401892?check_suite_focus=true

[2022-04-11 13:49] jessberg commented on #9009
That makes sense for the general case;  however, the traces in my trace generator have one span per resource.  I'm not sure it would result in any savings there.  I've tried anyway with the latest build;  the config above gave the error
[code]
I added `host.name` as a key in the config to deal with that and ran it with just groupbyattr, batch, and memory limiter, and it worked :).  However when I

[2022-04-11 13:56] pmm-sumo commented on #9124
This seems to be another occurrence of that here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5973225036?check_suite_focus=true

[2022-04-11 14:23] jpkrohling commented on #9125
Thanks for creating this! I ended up creating one as well, but looks like I forgot to link it there: https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/9123

I'm then closing this in favor of that other one.

[2022-04-11 14:23] #9125 closed

[2022-04-11 14:30] jpkrohling commented on #9130
cc @mar4uk

[2022-04-11 14:45] cpheps opened #9135 "[extension/filestorage] Mark as Beta"
# Proposal
I would like to propose to update the [filestorage extension](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/extension/storage/filestorage) to be in beta rather than alpha. The extension has gone through minimal changes in the past two months and appears fairly stable. Updating it to beta status will give users more assurance and confidence in using the exte

[2022-04-11 14:50] jsirianni commented on #9135
:+1: The storage extension is critical for log pipelines.

[2022-04-11 15:16] pmm-sumo commented on #9009
Yeap, still relevant, even more so when used in conjuction with groupbytrace processor, which will break down the batches into smaller chunks

This must have been some older build. The change is there since v0.46.0. Could you double check? I was using it for some time and did not see this error

It's tricky but the above is in wrong order. `memory_limiter` should be always first. `groupbyattrs` sh

[2022-04-11 15:32] jessberg commented on #9009
I just tried that config;  it worked!!  Just so I understand what's going on here, was the issue that having a separate ResourceAttribute for every span took too much memory, and that clogged up the sending_queue?  What exactly was the problem?

[2022-04-11 15:39] djaglowski commented on #9135
Checking through other components of the collector, I believe the only status that is strictly defined is "stable", so alpha vs beta as I understand it is a good faith description of maturity.

The component has been exercised quite a lot with minimal changes, so I would subjectively describe it as Beta.

[2022-04-11 15:43] BinaryFissionGames opened #9136 "[receiver/windowsperfcountersreceiver] Windows Performance Counter Metrics should be of type float64, not int64"
**Describe the bug**
In https://github.com/open-telemetry/opentelemetry-collector-contrib/commit/ba8c7977b5b9f17900e326a07d76ecefbb205807 , the windowsperfcounters receiver was changed to emit metrics with an integral data type instead of a double data type. This change will lose specificity of some counter data.

The windowsperfcounters uses the PDH api (https://docs.microsoft.com/en-us/windows/w

[2022-04-11 15:55] pmm-sumo commented on #9009
Great to hear that @jessberg! What I believe was happening is that there was a lot of small requests due to data fragmentation and Jaeger exporter specifics. Regardless of sendind_queue size, there was just too many small requests.

To give you some numbers, let's assume that you were generating 500 traces per second, each with 10 spans on average (so 5000 spans/s). Typically, with batch processor

[2022-04-11 16:00] pmm-sumo commented on #9009
Having said that, the example discussed in this issue might be an extreme one (only one Resource present). I think in very large environments in might be tricky and the number of unique Resources per trace might be comparable to number of spans in it

[2022-04-11 16:06] pmm-sumo commented on #9135
@cpheps great benchmark and it's great to see persistent buffering out in the wild!
Out of curiosity, did you perhaps use the version with [recent performance improvements](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/9003)?

I agree it should be marked as Beta. Also, as two followup questions:
* what do you think about moving the implementation to core?
* do you think

[2022-04-11 16:13] pmm-sumo commented on #9009
Yeah, I think that it's a fair way to look at this

[2022-04-11 16:14] jessberg commented on #9009
Thanks so much for your help!!  I will mark this as resolved.

[2022-04-11 16:28] djaglowski commented on #9136
Thanks for writing this up @BinaryFissionGames.

It looks like we need two things to address this, which I think can be separate issues:
1) Immediate fix - Don't cast values as ints.
2) Usability improvement - Add a `value_type` configuration option to the `metric` structs to allow individual metrics to be marked as ints.

[2022-04-11 16:32] BinaryFissionGames commented on #9136
@djaglowski I'll take care of the quick fix, changing the metric datapoints to be double.

[2022-04-11 16:37] jessberg commented on #9009
@pmm-sumo Sorry, just one last question.  Why is it so infeasible to have so many requests?  Is it a limit on the amount of time we keep the requests hanging around?  Surely if you can keep traces around for 10 seconds in the groupbytrace processor, you should be able to keep them around while you wait for a response from the storage backend.

[2022-04-11 16:56] cpheps commented on #9135
@pmm-sumo

Yes we did test with those changes.

I think keeping it as an extension makes sense. There's a good [interface](https://github.com/open-telemetry/opentelemetry-collector/blob/main/extension/experimental/storage/storage.go) in core that allows any type of storage to implement. I don't think `filestorage` should be special.

I'm honestly not sure on this. I think per @djaglowski's comment

[2022-04-11 17:08] tigrannajaryan commented on #9135
We have a few components in the core marked "Beta": https://github.com/open-telemetry/opentelemetry-collector#status so there is some precedent there.

I am in favour of declaring the filestorage as "Beta" now that we have one more confirmation that it works well. Before making the declaration I would advise to go over the filestorage config setting to make sure we are happy with setting names, va

[2022-04-11 17:35] jpkrohling commented on #9124
Another one: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5976410911?check_suite_focus=true

[2022-04-11 18:21] pmm-sumo commented on #9135
Yeah, [I actually extracted the interface](https://github.com/open-telemetry/opentelemetry-collector/pull/3425) out of @djaglowski work :) Though I recall our idea back then was that the filestorage extension could follow some time after. I believe one of the reasons is that we could then add persistent buffering to `batchprocessor`.

We don't need to do it right away but I think it would be good

[2022-04-11 18:27] djaglowski commented on #9136
Thanks @BinaryFissionGames.

@Mrod1598 I'm going to assign this to you, for the second part.

[2022-04-11 19:15] pmm-sumo commented on #9133
That's a good call @djaglowski I think that in ideal work [general purpose operators](https://github.com/open-telemetry/opentelemetry-log-collection/tree/main/docs/operators#what-operators-are-available) of `opentelemetry-log-collection` and the `transformprocessor` should converge functionality-wise

FYI @anuraaga

[2022-04-11 19:55] devrimdemiroz commented on #8998
Used it with grafana agent. Works perfectly! It is one of the key functionality that was missing in oss. I value it as the second biggest enhancement towards becoming APM after spanmetrics. As an end-user would be looking forward to having it via otelcol.

[2022-04-11 20:12] dmitryax commented on #8997
Given the new approach you took in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/8832, I believe this issue can be closed, right?

[2022-04-11 20:14] Mrod1598 commented on #8997
Yes that should be correct

[2022-04-11 20:14] #8997 closed

[2022-04-11 20:19] dmitryax commented on #8844
@newly12 thanks for submitting the issue.

@pmm-sumo given that we already have issue to add support for regexp match groups, I don't think we should add another configuration option for prefix here.

@newly12 please take a look at this issue https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/5982 and see if it solves your problem. If it does, I recommend addressing that issu

[2022-04-11 20:34] dmitryax commented on #9133
I think the log operators from the logs-collection library provide a lot of functionality that would require a lot of time to be replicated by the generic transform processor.

Another point to support this proposal: I hope that bringing operators into a processor may help to better integrate the logs-collection library's model with the collector's pipeline data model, or at least uncover more iss

[2022-04-11 20:35] jpkrohling commented on #9009
@pmm-sumo, is there something we should be doing as part of the Jaeger exporter here natively? Or perhaps something we should recommend as part of its readme?

[2022-04-11 20:38] jpkrohling commented on #8823
@open-telemetry/collector-contrib-approvers, looks like we don't have any volunteers for this. How should we seed the round-robin list? I guess this is the first time we couldn't actually find a sponsor for a component.

[2022-04-11 20:42] reyang commented on #8823
What's the general direction here? Is it possible to leverage some general binding, e.g. Dapr https://docs.dapr.io/reference/components-reference/supported-bindings/localstorage/.

[2022-04-11 20:50] eedorenko commented on #8823
The component, along with #8834, is used to collect traces and logs from [disconnected IoT Edge devices](https://github.com/Azure-Samples/iotedge-logging-and-monitoring-solution/blob/main/docs/iot-edge-distributed-tracing.md#offline-iot-edge-devices).

[2022-04-11 20:57] gouthamve commented on #9119
Looks like it will be fixed in the next release of Go: https://github.com/golang/go/issues/47056#issuecomment-1080968395

[2022-04-11 21:43] gouthamve commented on #4982
Hi, is this still an issue? I've run a `node_exporter` and then start scraping using the OTel Collector, and I can see the absolute values. I am not sure this issue is still relevant.

[2022-04-11 21:44] gouthamve commented on #4973
Hi, the collector already exposes internal metrics on `:8888`, why not add these metrics there?

[2022-04-11 22:59] dmitryax commented on #9119
https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5980689286

[2022-04-11 23:34] dmitryax commented on #7952
https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5981229417

[2022-04-11 23:34] dmitryax commented on #7952
I'm going to work on it this week

[2022-04-12 05:33] gillg commented on #4982
I think it has been addressed since the refactoring. I agree I never had a new issue in recent versions.

[2022-04-12 05:36] vishiy commented on #4982
This was fixed. Can be closed

[2022-04-12 06:39] newly12 commented on #8844
@dmitryax make sense. If I am reading the issue/comment correctly, I assume the approach is that, when KeyRegex is used, tagName could be something like regex that has reference to captured groups from KeyRegex, if tagName is not defined, it defaults to the current default value i.e. `k8s.pod.labels.$0`. Please correct me if anything.

[2022-04-12 07:11] prashant-shahi commented on #7023
@jpkrohling Encountered a similar issue when running the `docker_stats` receiver in OtelCollector Agent running in a container.

I had to do a couple of things to resolve from my end:
- `chmod 666 /var/run/docker.sock`
- volume bind `/var/run/docker.sock` from host to container

[2022-04-12 09:21] pmm-sumo commented on #8844
I am not sure if I'm following, please correct me if I'm wrong here. Is the idea that when named capture group is used, the name of the capture group would be the prefix for the tag name?

So having something akin to:

[code]

When encountering tag like "some.tag.foo=bar" we would anticipate outputting it as "myprefixfoo=bar"?

If that's the idea then unfortunately we hit the limitation of regexp

[2022-04-12 10:28] pmm-sumo commented on #9009
The problem is with volume of new requests each second. In the extreme example above I put above we had 10 large requests vs 5000 very small requests per second.

IIRC in your exporter you had 100 consumers set. This means it has a budget of 100 reqs-s/s (within one second they can handle up to 100 requests, 1s each or 1000 requests, 100ms each)

Let's say that the overall (network + server) laten

[2022-04-12 13:14] dashpole commented on #4973
That may be possible.  The promhttp.HandlerFor() method provides a single handler for a single gatherer, but we might be able to implement a composite handler to add both to the same endpoint.

I think we would want to only add the prometheus server metrics if a prometheus receiver is being used.  Otherwise, it's a lot of extra metrics without benefit.

[2022-04-12 13:34] #9129 closed

[2022-04-12 13:41] dyladan commented on #7933
Dynatrace cannot accept NaN values. The logging has been modified so that it will not print the error stack trace. I believe this issue can be closed but I don't have permission to close it.

[2022-04-12 13:48] willarmiros commented on #8271
@Aneurysm9 I believe this is patched and can be closed from #8790, but it might need to be included in the above release notes

[2022-04-12 14:21] TomasLongo commented on #7905
@r3h0 Nice! This is exactly what I was looking for. I tried to build your fork of the repo, but am not able to configure  the opensearch-exporter properly. You mentioned that it works for you.

How did you configure the exporter? What key did you use in your `otel-config.yaml`?

Thanks in advance for your kind help. Cheers, Tomas.

[2022-04-12 15:25] lancerdima commented on #7933
@dyladan, due to the issue, Dynatrace not just reject metric with the NaN value, but all metrics that share the same name.
Consider this list of metrics below. None of the metrics gets delivered to Dynatrace.
[code]
That does not seem a valid behavior.

[2022-04-12 15:38] #4982 closed

[2022-04-12 15:44] jpkrohling commented on #7023
`chmod 666 /var/run/docker.sock` should never be part of the solution, at least not for a production setup. Perhaps you should just add the relevant user to the docker user group?

[2022-04-12 15:46] jpkrohling commented on #9009
I think it's a good idea.

I have a feeling that this is somewhat specific to Jaeger, but we can certainly start with Jaeger and share the findings with the remaining of the SIG.

[2022-04-12 15:48] jpkrohling commented on #7595
It just happened again:
https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5983147705?check_suite_focus=true

[2022-04-12 15:54] jpkrohling commented on #4973
We had a few discussions in the past about handling our "own" telemetry reporting. I have a task to document what component owners should do, but I'm blocked by the current state of otel-go SDK. The main idea is that we want component owners to use the otel-api for instrumentation, and allow operators to specify a special telemetry pipeline to send the collector's own pipeline.

https://github.com

[2022-04-12 16:28] tigrannajaryan commented on #9119
Failed again https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5993262462?check_suite_focus=true

[2022-04-12 16:50] mapno opened #9232 "New component: Service graphs processor"
## The purpose and use-cases of the new component

The service graphs processor is a traces processor that builds a map representing the interrelationships between various services in a system. The processor will analyse trace data and generate metrics describing the relationship between the services. These metrics can be used by data visualization apps (e.g. Grafana) to draw a service graph.

Ser

[2022-04-12 16:52] mapno commented on #8998
Opened an issue describing a new component: https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/9232. I believe we will be able to start the implementation shortly.

[2022-04-12 16:58] tigrannajaryan commented on #9119
4 failures in 4 days. I think we need to disable the test until it is fixed.

[2022-04-12 16:59] r3h0 commented on #7905
Not me, @TomasLongo. @binjip978's the one who built it

[2022-04-12 17:24] #8983 closed

[2022-04-12 17:33] tigrannajaryan commented on #9002
Again https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5994286583?check_suite_focus=true
I think there is no other way, we need to disable it for now.

[2022-04-12 17:42] pmm-sumo opened #9235 "[processor/filter] extend log filtering capabilities with body and severity"
**Is your feature request related to a problem? Please describe.**

Filter processor currently has very limited log record filtering capabilities (only by matching a record basing on some attributes or resources). We could easily extend it to filter by body or severity though.

**Describe the solution you'd like**

[filterlog](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/

[2022-04-12 17:54] gouthamve commented on #9124
So I'm looking into this and running this on a M1 Mac:

[code]

The above command fails almost always (1-2 failures in the 10 count) with:
[code]

From this thread https://github.com/golang/go/issues/43547, it could be because a background goroutine is writing to the directory even after the end of the test. I tried using `goleak` to check:

[code]

And the failures ALL stopped, even with count=10

[2022-04-12 18:15] gouthamve commented on #9124
I take it back, extra goroutines that are running:

[code]

[2022-04-12 18:28] jpkrohling commented on #7952
This is the same underlying cause as #9002.

[2022-04-12 18:29] Mrod1598 opened #9238 "[pkg/winperfcounters] wildcard handling is not working"
**Describe the bug**
Multiple counter values are returned when `*` is set as the instance. They are not accounted for in the Scrapedata function.

**Steps to reproduce**
Pass in '*' as the instance for a windows performance counter that has multiple instances.

**What did you expect to see?**
multiple values with different instance names attached as attributes

**What did you see instead?**
an err

[2022-04-12 18:38] gouthamve commented on #5663
@dashpole I believe this can be closed now.

[2022-04-12 18:38] #5663 closed

[2022-04-12 19:20] jpkrohling commented on #8365
And here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5996006951?check_suite_focus=true

[2022-04-12 19:32] rkukura opened #9241 "Attributes processor from_context should provide access to AuthData attributes"
**Is your feature request related to a problem? Please describe.**
`ServerAuthenticator` extensions such as BasicAuth and OIDC store `client.AuthData` interface implementations containing attributes describing the authenticated client as `client.Info.Auth`. Attributes processor actions using `from_context` can create span attributes from `client.Info.Metadata`, but not from `client.Info.Auth`. The

[2022-04-12 19:54] jkowall commented on #9232
Looks interesting, what will this export specifically? This is one of the challenges in the Jaeger project we solve with Spark jobs or Kafka Streams. Not ideal, and this seems like a better solution if we can get the data we need generated for the Jaeger UI.

[2022-04-12 20:10] jpkrohling commented on #9126
@gouthamve's other flaky hunting reminded me of goleak, and I used it to try to figure out what's going on here. Not sure yet this is relevant, but there's indeed a leak of two goroutines:

[code]

There's not much we can do for the opencensus one, but the other one indeed is suspicious. I'll keep looking into this.

[2022-04-12 20:26] gouthamve commented on #7831
The issue has now been fixed. You can relabel the `job` label now :)

@dashpole I believe this can be closed as well!

[2022-04-12 20:28] #7831 closed

[2022-04-12 20:28] TylerHelmuth opened #9242 "[processor/k8sattribute] Improve documentation"
**Is your feature request related to a problem? Please describe.**
There was some confusion in the [otel-collector CNCF channel](https://cloud-native.slack.com/archives/C01N6P7KR6W/p1649782995315409) on how to properly configure the k8sattributes processor.  The issue stemmed around how to properly configure `pod_associations` and extract k8s.cluster.name

**Describe the solution you'd like**
k8sa

[2022-04-12 20:32] gouthamve commented on #4973
I believe we can already do that: https://github.com/open-telemetry/opentelemetry-go/blob/main/exporters/prometheus/prometheus.go#L89-L123

I beleive that by doing the following:

[code]

This will provide us with a MeterProvider which we can use in the OTel pipeline. I'll need to double-check how to use this meter provider though.

[2022-04-12 20:35] dashpole commented on #4973
I think that lets you go OTel -> prometheus, not the other way around.

[2022-04-12 20:36] TylerHelmuth commented on #9242
Turns out the documentation I wanted added is already in [doc.go](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/processor/k8sattributesprocessor/doc.go), but I don't see it on [pkg.go.dev linked from the readme](https://pkg.go.dev/github.com/open-telemetry/opentelemetry-collector-contrib/processor/k8sattributesprocessor).

[2022-04-12 20:55] gouthamve commented on #4973
🤦 You are right! I always thought by passing `prometheus.DefaultGatherer` in the config, the metrics in there will be exposed.

I'll have to see how to get a `MeterProvider` out of a `Prometheus.Registry`. Hrm.

[2022-04-12 21:34] #9242 closed

[2022-04-12 22:51] prashant-shahi commented on #7023
@jpkrohling Yes, agreed. I do understand the security implications of it and turned to it as last resort to get `docker_stats` to work inside of a container.

Just for confirmation, do you mean adding the currently logged-in user to the docker group using `usermod`?
If yes, I have already done that and it still returned the same permission error.

[2022-04-13 01:16] JaredTan95 commented on #8998
Great, I will close this issue, and following https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/9232

[2022-04-13 01:16] #8998 closed

[2022-04-13 01:35] JaredTan95 commented on #9232
[code]

 👍 The `dimensions` functionality is great, and the k8s environment is very suitable

[2022-04-13 01:57] gouthamve commented on #8365
So, debugging this (with some debug logging config added):

[code]

Basically we scrape a test server 8 times with a scrape-interval (and hence timeout) of `10ms`. If the 8th scrape fails, then we fail the test with the error:
[code]

Proof (I added a `fmt.Println("currentScrapeIndex", currentScrapeIndex)`):
[code]

I propose increasing the timeout to `100ms`. Sending a PR for the same.

[2022-04-13 09:17] Alanasking opened #9247 "[mysqlreceiver]How to config the mysql Cluster receiver and prometheus exporters"
**Is your feature request related to a problem? Please describe.**
Currently, only one MySQL endpoint can be configured，But usually MySQL is a cluster
receivers:
  mysql:
    **endpoint: localhost:3306**
    username: otel
    password: $MYSQL_PASSWORD
    database: otel
    collection_interval: 10s

**Describe the solution you'd like**
hostname1，hostname2，hostname3  are the three members of the M

[2022-04-13 10:27] albertteoh commented on #9018
For posterity, please refer to this related discussion: https://cloud-native.slack.com/archives/C01N6P7KR6W/p1649330166040589.

[2022-04-13 12:13] cpheps commented on #9135
@tigrannajaryan and @pmm-sumo Just wanted to follow up on next steps for this as it seems like there is a general consensus that changing the extension to beta is an acceptable move. The config has been vetted so I'm wondering what are next steps?

[2022-04-13 12:25] djaglowski commented on #9135
@cpheps, open a PR that updates the component's readme. Final consensus can be confirmed via review process.

[2022-04-13 13:41] ajsaclayan opened #9251 "sending_queue full when exporting data to backend"
**Describe the bug**
Hi team, we are having an issue sending telemetry to a backend. In our case the backend is event hub using the [kafkaexporter](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/kafkaexporter).
The error happens on the batch processor:
`batchprocessor/batch_processor.go:185	Sender failed	{"kind": "processor", "name": "batch", "pipeline": "trac

[2022-04-13 13:56] #8355 closed

[2022-04-13 13:56] #8365 closed

[2022-04-13 14:03] ZhouZhongzhi commented on #9247
You can try to configure multiple receivers of the same type.
**example:**
receivers:
  mysql/1:
    endpoint: 192.168.101.1:3306
    username: otel
    password: $MYSQL_PASSWORD
    database: otel
    collection_interval: 10s
  mysql/2:
    endpoint: 192.168.101.2:3306
    username: otel
    password: $MYSQL_PASSWORD
    database: otel
    collection_interval: 10s

......

service:
  pipelines:

[2022-04-13 14:58] armstrmi opened #9254 "Change of Couchbase Metric Collection Method"
**Is your feature request related to a problem? Please describe.**

The way that Couchbase metric receiver is currently set up is to scrape the REST API as the method of metric collection. This API has some caveats though as it returns arrays of data points over the last minute and most of them are precomputed rate metrics. Using this API it's not possible to grab the raw counter metrics that woul

[2022-04-13 14:59] pmm-sumo opened #9255 "Flaky test - awsxrayexporter - TestW3CSpanTraceResourceExtraction"
**Describe the bug**

[code]

Seen in: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6006863912?check_suite_focus=true

[2022-04-13 15:00] pmm-sumo commented on #9255
Also seen here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6008716923?check_suite_focus=true

[2022-04-13 15:24] dmitryax commented on #9255
https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6010002391

[2022-04-13 15:54] jessberg commented on #7509
For the documentation on service accounts, I had the same issue, except with Google Cloud Platform.  I wrote out how I fixed it at the end of issue #7377.  I found that tutorial there very helpful;  maybe it is a good idea to link to that tutorial, and to note that it often takes a few hours for service account changes to propagate?

[2022-04-13 16:21] dmitryax commented on #9255
Looks like it's always failing now starting from today

[2022-04-13 16:31] gouthamve opened #9256 "[prometheusexporter] `honor_labels: true` doesn't send proper internal scrape metrics"
**Reproduce**

1. Run a **Prometheus** with the following config:
[code]

2. Run a **collector** with the following config:
[code]

3. Go to `localhost:9091/metrics` and you'll see:
[code]

You should see this:
[code]

I initially had trouble wrapping my head around what shoud actually appear, only to realise, even the numbers are wrong 🙃

This is on commit: 0328a79ec6d13896f053ab9d05231f02d0eb7b0

[2022-04-13 16:55] tigrannajaryan opened #9258 "azuremonitorexporter: remove usage of LogRecord.Name field"
LogRecord.Name field is obsolete in this repo and will be deleted soon (already deleted from OTLP).

The field is [currently used](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/6cb401f1f25d2affcf5a10e737ad1c7e10912206/exporter/azuremonitorexporter/log_to_envelope.go#L63) by azuremonitorexporter.

Please eliminate all references to LogRecord Name()/SetName() in azuremonitor

[2022-04-13 16:55] tigrannajaryan commented on #9258
@pcwiese as a codeowner of azuremonitorexporter can you help with this?

[2022-04-13 16:56] cpheps commented on #9254
I'm work with @armstrmi on this and am in favor of removing the original REST API client code I wrote and wrapping the prometheus receiver.

We're looking to see if the community see's any issues with this or if this is an acceptable way to move forward and get a couchbase receiver into the collector.

[2022-04-13 17:00] jpkrohling commented on #9241
This would be my preference. Would you be interested in contributing code for this change?

[2022-04-13 17:04] jpkrohling commented on #9255
And here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6011467158?check_suite_focus=true

[2022-04-13 17:28] gouthamve commented on #4986
Just want to add a note that this is still happening, even on 0328a79ec6d13896f053ab9d05231f02d0eb7b08

[2022-04-13 17:41] rkukura commented on #9241
Yes - sign me up!

[2022-04-13 17:48] jpkrohling commented on #9255
There's something strange going on. Running `git bisect` tells us that this problem is with `6da3bd294cdf38e1e9c6df221647f631312a5cd9`, which is the commit right after the one I marked as "good" (v0.48.0). Perhaps we are using a dependency pointing to a branch, which got changed affecting us?

[code]

[2022-04-13 18:08] pmm-sumo commented on #9255
[Looking at the commit](https://github.com/open-telemetry/opentelemetry-collector-contrib/commit/6da3bd294cdf38e1e9c6df221647f631312a5cd9), it seems to change receiver/hostmetricsreceiver only

[2022-04-13 18:31] dmitryax opened #9263 "Prepare contrib release v0.49.0"

[2022-04-13 18:31] dmitryax opened #9264 "Release contrib v0.49.0"

[2022-04-13 19:11] dmitryax opened #9259 "Flaky test - asapauthextension - TestRoundTripper"
Seen here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6013119950?check_suite_focus=true

[code]

Cannot reproduce locally

[2022-04-13 19:32] #9135 closed

[2022-04-13 19:52] djaglowski commented on #9133
Glad to hear others think this would be useful. I'm happy to sponsor it.

[2022-04-13 19:54] jpkrohling commented on #9259
cc @jamesmoessis @MovieStoreGuy

[2022-04-13 19:59] jsirianni opened #9260 "New component: Environment Extension"
## The purpose and use-cases of the new component

Allow the collector to set environment variables at runtime, limited to its process only.

Usecases
- Setting `GOOGLE_APPLICATION_CREDENTIALS` instead of configuring a systemd override / windows system variable
- Proxy variables
- Recently, a user asked about [setting variable defaults on slack](https://cloud-native.slack.com/archives/C01N6P7KR6W/

[2022-04-13 20:27] jsirianni commented on #9260
Good question. I believe using the config provider to read environment variables makes a lot of sense for things that should not be hard coded into the configuration, such as credentials for a receiver.

I could see both being used when sensitive values must be injected into the config, but kept out of git.

In this example, Rabbitmq credentials are read from the environment while the location of

[2022-04-13 21:41] jamesmoessis commented on #9259
I will have a look into this

[2022-04-14 00:40] JaredTan95 commented on #9000
I will add it into distribution.

[2022-04-14 03:55] #9263 closed

[2022-04-14 06:08] #9264 closed

[2022-04-14 08:49] mx-psi commented on #9260
I feel like the correct solution for this particular case is for the Google Cloud exporter to allow setting the credentials through a field in configuration instead of always requiring an environment variable.

I understand the intent of forcing an environment variable (preventing people from putting their credentials in a possibly unsecure way), but I think this should be solved differently (shou

[2022-04-14 09:11] mar4uk commented on #9130
@djaglowski Do you plan to work on this issue by yourself? Or I can assign it to myself and do it?

[2022-04-14 13:38] jsirianni commented on #9260
It is my understanding that the idea of adding a `credentials` field to the Google exporter was rejected.

[2022-04-14 14:04] djaglowski commented on #9130
@mar4uk, your help would be very appreciated, thank you! ! I'll assign it to you.

[2022-04-14 14:07] djaglowski commented on #5859
Again here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6024956622?check_suite_focus=true#step:8:17340

[2022-04-14 15:34] TylerHelmuth commented on #7407
@open-telemetry/collector-contrib-approvers can this issue be closed?

[2022-04-14 15:37] djaglowski commented on #8242
Closed by #8547

[2022-04-14 15:51] codeboten opened #9278 "Potential memory leak in prometheus receiver"
Investigate whether the prometheus receiver is impacted by the memory leak addressed by the following fix: https://github.com/prometheus/prometheus/pull/10590

**Note: the 0.49.0 release is blocked pending the investigation**

[2022-04-14 15:51] codeboten commented on #9278
@gouthamve is investigating

[2022-04-14 16:01] Aneurysm9 commented on #9278
We have already tagged `v0.49.0`.  If we need to include the upstream reversion then we need to `retract` `v0.49.0` and ship `v0.49.1`.

[2022-04-14 16:03] #7407 closed

[2022-04-14 16:31] TylerHelmuth commented on #7144
I can take a look at this

[2022-04-14 16:33] dmitryax commented on #7144
@TylerHelmuth Thanks! Assigned to you

[2022-04-14 16:36] cpheps commented on #9260
Just to add more context, I was in the meeting when we at observIQ proposed this to Google. From what I remember there's a hierarchy of logic the exporter uses to figure out your credentials that allows it to work easily on GCP hosted boxes. They preferred having customers set the `GOOGLE_APPLICATION_CREDENTIALS` since it was already part of that credential flow rather than injecting something new

[2022-04-14 17:15] djaglowski opened #9280 "[github-actions] Determine why caching of tools failed and decide whether it should be readded."
**Describe the bug**
All PRs began failing at some point in the last 24 hours. Failure error messages indicate that the tools installed by `make install-tools` cannot be found. Typically, these are installed once per workflow by the `setup-environment` job, and then restored in each subsequent job that uses them, via the github actions cache. The root cause has not yet been determined.

#9276 is a

[2022-04-14 17:37] djaglowski commented on #9280
Closing this issue with the following understanding:

Tools are cached with a hash key generated from `internal/tools/go.mod`. Somehow, the contents of this cache entry appear to have been corrupted, though it is not entirely clear how this happened. Any job restoring from this particular cache entry was pulling an invalid tool set.

Altering the tools module results in generating a new hash key f

[2022-04-14 18:24] dmitryax commented on #9280
Looks like it's some rase condition happened, and a cache entry stuck in "reserved" state with no content in it. Here is a comment for a similar issue that we had: https://github.com/actions/cache/issues/485#issuecomment-744145040

[2022-04-14 18:38] dmitryax commented on #9280
From https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6018985784?check_suite_focus=true:

/usr/bin/tar --posix --use-compress-program zstd -T0 -cf cache.tzst -P -C /home/runner/work/opentelemetry-collector-contrib/opentelemetry-collector-contrib --files-from manifest.txt
Unable to reserve cache with key v1-tools-Linux-0630015e[2](https://github.com/open-telemetry/opentelemetr

[2022-04-14 18:41] djaglowski commented on #9124
Here again: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6028883054?check_suite_focus=true#step:8:3832

[2022-04-14 19:14] dmitryax commented on #9278
@gouthamve was the potential memory leak introduced after v0.48.0? I see only this dependency update https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/8780/files#diff-cbc1780ee44619ffeeb078f84991774b14445d3a192c34b6acc709f00788b421R390

[2022-04-14 21:42] Aneurysm9 commented on #9278
Yes, that dependency update was to pull in https://github.com/prometheus/prometheus/pull/10450 and https://github.com/prometheus/prometheus/pull/10473 to allow access to target info and metric metadata even after `job` and `instance` have been relabeled.

[2022-04-15 06:53] newly12 commented on #8844
Can I assume that it will take quite some time if we are going to enhance golang regex package? if that's the case, any idea how we can move forward on this one?

[2022-04-15 07:06] pmm-sumo commented on #8844
@dmitryax what do you think? I am not sure if I understand the suggestion how to achieve this differently and there's a good chance I'm missing something and we could still do it more elegantly than defining prefix (or making it a more generic "template")

[2022-04-15 07:50] mx-psi commented on #9122
Hi again! You are right that the Datadog exporter is using an incorrect identifier for this field ([Agent code](https://github.com/DataDog/datadog-agent/blob/5a2ce199bc5811ff7b7adefe3b495b934a70fe03/pkg/metadata/host/payload.go#L27) vs [Exporter code](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/8f6dd0c3a2ccdbe097c865d5f0071dd423c8a7e8/exporter/datadogexporter/internal/me

[2022-04-15 08:52] mx-psi commented on #9260
Thanks both for giving more context on why the GCP exporter works like this; I think it's up to each vendor to decide on how their components' configuration works and I am glad that that conversation took place. However the implementation of a single component (are there more components that work like this?) should not be the sole basis for adding this new extension; I believe we have to explore w

[2022-04-15 08:56] ljmsc commented on #9122
Hi, thanks for checking.

Indead we have issues caused by this bug. The cloud metrics (shipped via datadog cloud integration) are not „merged“ with the trace and metric data shipped with the collector.
Can we discuss a quick fix or temporary solution for this? Should we reach out to our internal datadog contact or can we discuss with you?

[2022-04-15 09:08] mx-psi commented on #9122
Please reach out to your internal contact, yes :) A possible solution is to provide this temporarily via a feature flag, but I want to make sure this is the best way to fix this.

[2022-04-15 09:14] ljmsc commented on #9122
Will do. Thanks man.

[2022-04-15 12:22] mx-psi commented on #9278
We should retract both the main module as well as (at least) the modules that depend on prometheus

[2022-04-15 13:27] cpheps commented on #9260
I wasn't aware of the environment variable expansion and I do like the arbitrary expansion. Expansion is great when you need the value of an existing environment variable in the config. I think the use case we're trying to solve is when the credentials (or any config parameter really) can come from an environment variable directly bypassing the config.

I don't see any AWS Technology metric scrape

[2022-04-15 13:32] djaglowski commented on #9002
Here again: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6038443724?check_suite_focus=true#step:8:16418

[2022-04-15 13:32] djaglowski commented on #7952
Here again: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6038443724?check_suite_focus=true#step:8:16418

[2022-04-15 13:38] djaglowski opened #9326 "Flaky test - k8seventsreceiver - TestReceiverTimesOutAfterStartup"
Seen here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6038443724?check_suite_focus=true#step:8:16417

[code]

Same underlying cause as #9002 and #6986

[2022-04-15 13:40] mx-psi commented on #9260
To be clear, this is just my (possibly incorrect or short-sighted) opinion :) I would love for more people to chime in on this

[2022-04-15 13:48] cpheps commented on #9260
Yeah sorry if my last response was a bit strong. Mostly just trying to lay out all my thoughts on this. Appreciate your feedback so far. 😄

[2022-04-15 15:33] dyladan commented on #7933
hmm no that is not a valid behavior, thanks for the clarification

[2022-04-15 19:51] dmitryax commented on #9278
@gouthamve do you have any update on this?

[2022-04-15 20:02] djaglowski commented on #6318
Again on a related test [`TestStatsReaders_Read/Interval_stats_reader_without_backfill_with_max_rows_limit`] (https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6042005818?check_suite_focus=true#step:8:15783)

[2022-04-15 20:30] djaglowski commented on #9001
Another in this package: [TestPodClient_NamespaceToRunningPodNum](https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6042429317?check_suite_focus=true#step:8:7393)

[2022-04-15 21:30] djaglowski commented on #5983
Here again: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6043053360?check_suite_focus=true#step:7:161

[2022-04-17 02:15] davidmirza408 commented on #9106
This is what I have in mind https://github.com/davidmirza408/opentelemetry-collector-contrib/pull/6
CC: @dmitryax

[2022-04-17 06:25] tonycody opened #9338 "Skywalking Receiver/Exporter How to use it ?"
https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/skywalkingreceiver
https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/skywalkingexporter

I've been trying for a long time, but I can't figure out how to use it? Skywalking UI never had data.

I'm using a mirror image: otel/opentelemetry-collector-contrib-dev:latest

[code]

[2022-04-17 12:18] fatsheep9146 commented on #9109
I'd love to help with this. If ok, you can assign this to me. @mx-psi

[2022-04-18 04:07] Alanasking commented on #9247
Thank you for your reply!@ZhouZhongzhi
I configured it according to what you said, but prometheus export can only display the metric of one mysql/1
-----------------------------------
My config.yaml:
receivers:
   mysql/1:
       endpoint: mysql-node1.mysqlservice.svc.cluyster.local:3306
       username: root
       password: $MYSQL_PASSWORD
       collection_interval: 10s
    mysql/2:
       endp

[2022-04-18 09:13] mapno commented on #9232
I've noticed that the section _How it works_ isn't clear enough. I've rewritten it a bit to answer that question. In summary, the processor records metrics. These metrics represent edges in the graphs, while nodes in the graphs are recorded as `client` and `server` labels in the metric.

The current processor generates metrics based on a specification so it works with Grafana. Since all the effort

[2022-04-18 13:53] jpkrohling commented on #9124
And here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6032198410?check_suite_focus=true

[2022-04-18 14:30] #6986 closed

[2022-04-18 14:30] #9002 closed

[2022-04-18 14:30] #9326 closed

[2022-04-18 14:33] #7952 closed

[2022-04-18 14:50] djaglowski commented on #9254
Withholding my opinion on this for a moment, a few thoughts about the process:
- I am the sponsor of this component but it hasn't yet been implemented as originally proposed. Since this is proposing a very different approach, I think it akin to a proposal for a new component, so requires sponsorship to be reestablished.
- If the approach is not accepted or if no sponsor is found, then I think the

[2022-04-18 14:52] codeboten commented on #9338
@JaredTan95 @liqiangz

[2022-04-18 16:52] abarganier commented on #7402
I am in support of this - `send_failed_metric_points{exporter="datadog"}` and `send_failed_spans{exporter="datadog"}` should increment when telemetry fails to export to Datadog.

I've noticed that if I have an otel collector up-and-running with a Datadog exporter successfully exporting metrics, and then I revoke the API key, `otelcol_exporter_send_failed_metric_points{exporter="datadog"}` does not

[2022-04-18 17:49] #9259 closed

[2022-04-18 20:30] jpkrohling commented on #9086
It looks like I can't reproduce this. I built a client to retrieve the remote sampling configs:

[code]

This is my collector config:

[code]

And I'm starting Jaeger with:

[code]

When running the client, I get this:

[code]

Changing the client to get the data straight from Jaeger (14250 on line 15 from the client, instead of 14251) gets me this:

[code]

There's something odd with the sampling

[2022-04-18 22:30] bogdandrutu commented on #9133
Please make sure we don't have a name conflict, and have a good separation of concerns.

See https://github.com/open-telemetry/opentelemetry-collector-contrib/pulls?q=is%3Apr+is%3Aopen+transform+ make sure no duplicate work, and capabilities are clearly separated between this and the generic transform processor.

[2022-04-19 02:20] newly12 commented on #8844
@dmitryax could you help check the questions?

[2022-04-19 03:50] liqiangz commented on #9338
@tonycody Now skywalking exporter does not support trace data, only for metric and log.

[2022-04-19 07:30] lindhe opened #9361 "Broken links in README of signalfxexporter"
There's a broken link at [line 55 of the signalfxexporter's README](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/e62787567cf7aeec18bfe3e7c77ffa1cd2e3a593/exporter/signalfxexporter/README.md?plain=1#L55).

I'm guessing it should lead to `./internal/translation/default_metrics.go` instead of `./translation/default_metrics.go`, but I don't know for sure.

There may be more b

[2022-04-19 10:51] #9110 closed

[2022-04-19 13:57] carlosalberto commented on #6750
Any news on this @djaglowski after the related Java issue was closed? Happy to help to make progress on this one.

[2022-04-19 16:21] TylerHelmuth commented on #7143
I can work on this

[2022-04-19 16:24] cpheps commented on #9254
@djaglowski I can answer the first two questions.

So this is mostly just pairing down what is presented to he user. The scraper config has a lot of options for users and if you're not familiar with Prometheus it can be overwhelming. For Couchbase a vast majority of those options are not applicable so we can omit them.

Authorization is a good example, there are several options in Prometheus to au

[2022-04-19 16:36] bogdandrutu commented on #9258
@reyang can you find an owner for the `azuremonitorexporter`?

[2022-04-19 16:39] pcwiese commented on #9258
I can take it, been busy with other stuff. This exporter isn't directly supported by MSFT

[2022-04-19 17:32] jpkrohling commented on #9086
I'm closing this, but feel free to ping me or reopen if this is happening and you can provide a reproducer based on the previous comment.

[2022-04-19 17:32] #9086 closed

[2022-04-19 17:33] jpkrohling commented on #8988
This sounds like a new request/issue. While I think it might be a good idea to have a new property for that, I'll close this one here as I think the main topic has been addressed. Feel free to open a new issue for the span duration question/suggestion.

[2022-04-19 17:34] #8988 closed

[2022-04-19 18:35] djaglowski commented on #6750
Apologies for the delay @carlosalberto. Here is my proposal. Feedback is most welcome.

---

The main goal of this proposal is to identify a set of changes to the `jmxreceiver` and the underlying `JMX Metric Gatherer` ("MG") such that implementation will 1) greatly increase confidence in the security of the component, and 2) be completed within a reasonably short timeframe.

## Suggested Changes

[2022-04-19 19:17] tigrannajaryan commented on #9258
Thanks @pcwiese, please do. I will assign this issue to you.

[2022-04-19 20:10] TylerHelmuth commented on #7143
This receiver is currently setting several different scopes for the metrics it collects.

- [Nodes](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/e13ed6d60fe4914b609e74512944ce63ffa578c3/receiver/kubeletstatsreceiver/internal/kubelet/accumulator.go#L70)
- [Pods](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/e13ed6d60fe4914b609e74512944ce63ffa578c3/

[2022-04-19 20:30] TylerHelmuth opened #9366 "[processor/transform] Add ability to truncate and/or limit attributes"
**Is your feature request related to a problem? Please describe.**
The [specification recommends SDKs be able to truncate and limit attributes](https://opentelemetry.io/docs/reference/specification/common/common/#attribute-limits).  Doing the truncation in the instrumentation is always most efficient, but not all languages instrumentation supports this feature.  Customer may also wish to handle al

[2022-04-19 21:56] codeboten commented on #6750
Thanks for the proposal @djaglowski, i think we could cover a lot of security concerns by implementing the suggested changes.

This makes sense to me, regarding the size of the jar, so long as the validation is done at start, i don't imagine we'll run into size issues.

I agree we should remove these

[2022-04-19 23:38] carlosalberto commented on #6750
Thanks a lot @djaglowski - really love the detailed proposal, and sounds great to me.

+1 (at least for now - once/if we have a declarative approach, we can add support for external resource files).

Also +1 to not doing it (at least now - it can be done as a follow up if/as needed).

Other than that, happy to provide review and/or coding cycles (in order to assist @dehaansa )

[2022-04-19 23:40] carlosalberto commented on #6750
@Aneurysm9 @jpkrohling opinion on this proposal?

[2022-04-20 04:54] dmitryax commented on #8844
Yes, you got it right. The idea is to support simple captured groups by numbers when KeyRegex is specified. I don't think we need named groups.

`$0` would always be replaced with whole label/annotation, `$1`, `$2` etc should be replaced with captured groups from `KeyRegex` if they exist, otherwise fail.

E.g for your use case, you would need to setup:

[code]

Or, if I want all labels starting wi

[2022-04-20 11:26] pmm-sumo commented on #8844
Thanks for the clarification @dmitryax So the idea is to overload `tag_name` (since we don't have `name`, I guess that you intended `tag_name`, correct?) and [change this section of code](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/v0.49.0/processor/k8sattributesprocessor/options.go#L158-L165) so that when `tag_name` is provided and it's a pattern, it should be filled wi

[2022-04-20 11:39] TomasLongo commented on #7905
Hey everyone. We successfully integrated the opensearchexporter into the otel-collector based on the fork of @binjip978.

We would be more than happy to contribute it back to the project if there is any interest.

[2022-04-20 12:01] Fydon opened #9370 "[resourceprocessor] Specify list of resource attributes allowed to reach exporters"
**Is your feature request related to a problem? Please describe.**
As exporters can use [resource_to_telemetry_conversion](https://github.com/open-telemetry/opentelemetry-collector/blob/main/exporter/exporterhelper/README.md) to convert resource attributes into metric labels, ideally there should be a way to easily filter resource attributes.

**Describe the solution you'd like**
It is possible us

[2022-04-20 12:59] #7144 closed

[2022-04-20 13:33] jpkrohling commented on #9366
Perhaps the transform processor would be a better place? cc @anuraaga

[2022-04-20 13:44] #7933 closed

[2022-04-20 13:52] pmm-sumo opened #9371 "[processor/resourcedetection] docker detector is not wired"
**Describe the bug**

As [reported on CNCF Slack](https://cloud-native.slack.com/archives/C01N6P7KR6W/p1649949788590829), when `docker` detector is configured, it returns an error while initialisation:

[code]

This happens due to Docker detector [not being wired in the factor](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/processor/resourcedetectionprocessor/factory.

[2022-04-20 14:40] djaglowski opened #9373 "[receiver/sqlserver] Installation of SQL Server dependency hangs occasionally"
**Describe the bug**
A step was added to the `build-and-test-windows` workflow recently to allow integration testing of the `sqlserverreceiver`. Unfortunately, it appears to hang indefinitely on occasion.
Examples:
- https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/2194282600
- https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6093157711?check_sui

[2022-04-20 14:40] TylerHelmuth commented on #9366
I looks like the transform processor could be extended to meet the same goal.  There is a lot of overlap between the attributes processor and the transform processor.  I think it would be best to add it to whichever processor is going to stay long-term.  If they are both going to stay, I lean more towards the attributes processor because I think more people use it and it is easier to find.

[2022-04-20 14:41] djaglowski opened #9374 "[receiver/sqlserver] - Simulate counters"
_Originally posted by @djaglowski in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/9359#discussion_r854161716_

[2022-04-20 15:11] Fydon commented on #9370
Is the include and exclude in attributesprocessor just determining whether the processor is processing it? Therefore if it is excluded by all processors, it is included in the data to the exporters?

What I essentially want is an allow list so that I can just list off what is going to the exporters.

[2022-04-20 15:44] dmitryax commented on #8844
Yes, sorry, it's `tag_name`. I've updated the snippets

[2022-04-20 16:24] Aneurysm9 commented on #9133
If the purpose of this processor is to provide structure to unstructured logs, would `logstructure` be a better name for it?  That would seem to provide some clarity about what separates it from the `transform` processor.

[2022-04-20 16:28] codeboten opened #9377 "Review components to give users an indication of the level of support"
As we do in the core component, we should label the components in the contrib repository to give users an insight as to what components are planned on being supported for the long term, versus which are experimental.

This requires a definition of what experimental, alpha, beta, stable for components in contrib. This would also need a dimension to specify components supported by a vendor.

Sub-tas

[2022-04-20 16:41] codeboten commented on #9377
The information to be captured:

[code]

[2022-04-20 16:42] codeboten commented on #9377
The definition for stability should include the interface with the user, the yaml configuration.

[2022-04-20 16:56] djaglowski commented on #9133
This was discussed in the Collector SIG today. Decision is that more due diligence must be done to estimate what may be necessary to expose equivalent functionality in the `transform` processor. If this functionality cannot be done in a relatively short timeframe, then this component may be added. However, it will be necessary to specify that the component is experimental and will likely be deprec

[2022-04-20 17:39] jpkrohling commented on #6750
If it doesn't require Java at all and won't spawn an external process, it could certainly be integrated with our collector, can't it?

Apart from that, I have a couple of questions:

- should we recommend users to deploy the gatherer in a standalone manner whenever possible?
- should we continue shipping the jmx receiver with contrib, or should we consider a new distribution? We briefly discussed

[2022-04-20 17:42] jsirianni commented on #9133
I would love to have this processor. Today I was hoping I would be able to use operators with the k8sevents receiver, unfortunately I cannot. This processor (or some alternative) is exactly what I need to move forward with some of my configurations.

Currently I leverage filelogreceiver's `operators` option but it seems awkward to do it there and not with a processor.

[2022-04-20 17:45] jpkrohling opened #9380 "Define the stability and support level for the Loki Exporter"

[2022-04-20 17:45] jpkrohling opened #9381 "Define the stability and support level for the Routing exporter"

[2022-04-20 17:45] jpkrohling opened #9382 "Define the stability and support level for the Load balancing exporter"

[2022-04-20 18:05] pcwiese commented on #9258
@[eedorenko](https://github.com/open-telemetry/opentelemetry-collector-contrib/commits?author=eedorenko)
Is this something you can take a look at given that you added support for logs? I'm not familiar with the properties you are setting on the envelope for logs/traces. Can this be removed entirely?

[2022-04-20 18:06] djaglowski commented on #3129
Closed by [log-collection#431](https://github.com/open-telemetry/opentelemetry-log-collection/issues/431)

[2022-04-20 18:06] #3129 closed

[2022-04-20 19:05] dmitryax commented on #9278
Cross posting update from @gouthamve in CNCF Slack:

[2022-04-20 19:40] djaglowski commented on #6750
@jpkrohling, `nrjmx` also executes a Java process.

My hope with this proposal is that we can confidently recommend using the jmxreceiver. I think the main purpose of the receiver is to provide a better usability experience by not requiring the user to configure and run a second executable.

[2022-04-20 19:49] Aneurysm9 commented on #6750
I think this is a good proposal and definitely moves us in the right direction.  I'm not sure if there's some inconsistency in how property handling is defined here, though.  Would all of the properties written to the property file come from the collector itself, based on config values?  Is the prohibition on arbitrary properties only applicable to keys?  Does anything need to be done to constrain

[2022-04-20 19:52] dmitryax commented on #7952
The tests are still skipped. I believe we need to reenable them to verify

[2022-04-20 19:56] dmitryax commented on #7952
NVM, I got confused. They are not skipped

[2022-04-20 20:09] TylerHelmuth commented on #9366
Based on discussion in the SIG meeting transform processor is the correct place as it is the planned long-term processor.  I have updated this feature request.

[2022-04-20 20:10] TylerHelmuth commented on #9366
You can assign this to me, I plan to implement it.

[2022-04-20 20:32] djaglowski commented on #6750
That's what I had in mind, with the main idea being that this mechanism of configuration removes user configuration values from the command that starts the subprocess.

I see your point here. It does seem there may be a way to inject additional properties if not restricted. Something like:
[code]

could in theory give us
[code]

My initial thought is that this shouldn't be too difficult to sanitiz

[2022-04-20 20:47] bogdandrutu commented on #9133
@jsirianni which `operators` did you need (give me the top 2 most useful)?

[2022-04-20 21:01] jsirianni commented on #9133
Generally speaking, all of the parser operators are important. We can already leverage them with the filelog and syslog receivers, which is where they would be used most.

The [add](https://github.com/open-telemetry/opentelemetry-log-collection/blob/main/docs/operators/add.md) operator is very useful for adding arbitrary key=value pairs. I was hoping to add some "metadata" to the Kubernetes Events

[2022-04-20 21:07] djaglowski commented on #9133
@Aneurysm9, I think there's more to it, but the purpose might be described as _increasing_ the structure of logs.

I'm going to spend more time on this tomorrow, but I'll describe briefly the classes of operators as I see them.

First, there's a set of operators that are very strictly for parsing/decoding well defined text formats such as json, csv, key/value, etc. There are also a couple parsing

[2022-04-20 21:15] djaglowski commented on #9133
@jsirianni, I think what you are describing is in line with where we all want to end up. The question is primarily what form these operations should take, and whether they should be divided and/or duplicated between multiple processors or not.

I will also point out that there is at least some value in allows operators within receivers. Namely that different log receivers often need to perform ver

[2022-04-20 23:18] tillig opened #9387 "Question: How do you set a resource tag based on a span tag?"
I am working with OpenTelemetry Collector in Istio and I have Istio adding a custom trace span tag `sidecar_name` to outbound OpenCensus trace spans.

I would like that to be the `service.name` resource tag value. I have tried setting up a `resourceprocessor` configuration like this:

[code]

I've added that processor to my `traces` pipeline. However, it doesn't appear the `sidecar_name` tag is av

[2022-04-20 23:24] tillig commented on #9387
I have a similar issue where things like `pod_name` get added to spans by Istio and I'd like to translate those into `k8s.pod.name` resource tags.

[2022-04-21 07:08] caoheyang commented on #8854
Is there any update here?

Thanks & Regards,
Heyang

[2022-04-21 09:27] Donnerbart opened #9391 "[exporter/datadog] Broken link in README.md"
**Describe the bug**
The link to the custom sampler example is broken. There is also a typo in the same paragraph (superfluous whitespace in front of a comma).

**Steps to reproduce**
* Open https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/datadogexporter#recommended-samplers
* Click on the link to the custom sampler example: [/examples/example_custom_sampler](h

[2022-04-21 10:48] JaredTan95 commented on #9338
yes, from your description, You may wait to `skywalking/exporter` support `trcing` data.

[2022-04-21 13:50] mx-psi commented on #7402
This part sounds like a different issue from the one posted by OP; what I would expect in this situation (at least for metrics, the part that I work on) is the following:

1. on the logs, an info log should be reported [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/df63d49cf2747896218eb8501102231453187a55/exporter/datadogexporter/internal/utils/retrier.go#L83-L87) an

[2022-04-21 15:05] TylerHelmuth commented on #7143
@dmitryax what do you think?

[2022-04-21 15:13] #9391 closed

[2022-04-21 16:41] #5877 closed

[2022-04-21 16:55] bogdandrutu opened #9394 "Uncomment code to upgrade semconv"
See https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/internal/buildscripts/update-dep, the semconv upgrade is commented because the `main` version of the repo is based on `v0.49.0` which was not released for `semconv`. Before the next release (but after core release) this needs to be uncommented and run when upgrading to core `v0.50.0`.

[2022-04-21 17:21] bogdandrutu opened #9396 "Add check for semconv in check-collector-module-version after core v0.50.0 release"

[2022-04-21 17:23] bogdandrutu commented on #9387
@anuraaga ?

[2022-04-21 18:55] dmitryax commented on #9278
Decision was made during the SIG meeting to not block the release by this issue. The warning about this issue was added to the 0.49.0 release notes.

[2022-04-21 19:16] dmitryax commented on #7143
Are you sure they split by scopes? I looked at the code and looks like they split on resource level which is supported by the new metrics builder with `EmitForResource` function

[2022-04-21 19:19] dmitryax commented on #7143
Oh you saying that Scope name is different. I think we should apply the same scope naming in this scraper as done for all other scrapers. This should be done separately. I see it's tracked in this issue https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/8362

[2022-04-21 19:21] rogercoll opened #9397 "[receiver/podman] Invalid stats error handler"
I was working on a new feature for the podman receiver and I noticed that if the containers stats API endpoint returns an error, the receiver panics:

[code]

The error is because the actual structure used to unmarshal the api response:

[code]

As the Podman API documentation describes, the Error is a structure with three attributes:
https://docs.podman.io/en/latest/_static/api.html#operation/Con

[2022-04-21 19:22] dmitryax opened #9398 "Update receiver/kafkametrics to set consistent scope name"
Scope name should be set to `otelcol/kafkametricsreceiver`

[2022-04-21 19:22] dmitryax opened #9399 "update receiver/kubeletstats to use NewMetricData"

[2022-04-21 19:25] dmitryax commented on #7143
Created a ticket that should be handled before this PR for cleaner git history https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/9399

[2022-04-21 22:07] TylerHelmuth commented on #7143
The code also currently [sets the names of the metrics differently](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/f5f05d5ca4bacef9573fd173a0eafb020f91e3ba/receiver/kubeletstatsreceiver/internal/kubelet/utils.go#L26) than the new metrics builder by including a prefix.  For example, the CPU for pods is being set as `k8s.pod.cpu.utilization` but the metrics builder's generate

[2022-04-21 22:15] harnitsignalfx opened #9401 "k8sclusterreceiver: Fetch namespace scoped metrics from the Master API"
**Is your feature request related to a problem? Please describe.**
The k8sclusterreceiver today is set to fetch metrics from the k8s master API at the cluster scope level. In cases where we'd like to deploy the otel-collector as a sidecar, there is no mechanism to fetch metrics scoped to the namespace level. E.g. The pod phases and pod restarts for the namespace the collector is deployed in as a s

[2022-04-21 22:58] dmitryax commented on #7143
We need to change https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/f5f05d5ca4bacef9573fd173a0eafb020f91e3ba/receiver/kubeletstatsreceiver/metadata.yaml to contain all the metrics exactly how they are emitted. We also have [the metrics documentation](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/f5f05d5ca4bacef9573fd173a0eafb020f91e3ba/receiver/kubelet

[2022-04-21 23:02] dmitryax commented on #7143
This one appeared to be more involved than others. Let me know if you don't want to dig into that. I can also handle it soon

[2022-04-21 23:04] TylerHelmuth commented on #7143
I'm using these issues to help me wrap my head around OTEL metrics and pdata, so I'll stick with it for now. As long as you're ok with all my questions lol

[2022-04-21 23:30] mwear commented on #8349
This was addressed in #8817.

[2022-04-21 23:30] #8349 closed

[2022-04-22 01:48] JaredTan95 commented on #9398
hi, I can handle this. pls assign to me. :)

[2022-04-22 03:35] Superskyyy commented on #8854
@caoheyang
https://github.com/apache/skywalking/issues/7848 There have been many discussions on the idea, just letting you know the reasons and current blocks.
I suppose it could happen based on the discussion but will need careful thought and implementations.

[2022-04-22 04:20] dmitryax commented on #9398
Thanks @JaredTan95 . Assigned

[2022-04-22 12:22] #9130 closed

[2022-04-22 14:12] #9398 closed

[2022-04-22 14:40] pmcollins opened #9408 "New component: SQL Receiver"
## The purpose and use-cases of the new component

The SQL Receiver will use custom SQL queries to generate metrics from a database connection. Its configuration and general functionality are derived from the SignalFx SmartAgent's [SQL Monitor](https://github.com/signalfx/signalfx-agent/tree/main/pkg/monitors/sql).

## Example configuration for the component

[code]

## Telemetry data types suppor

[2022-04-22 15:09] MaticDiba opened #9409 "Datadog exporter missing support for logs datatype"
**Is your feature request related to a problem? Please describe.**
When trying to use datadog exporter for logs I got this error:
[code]

**Describe the solution you'd like**
Is it possible for Datadog exporter to also include logs with respective `trace_id` to be received and sent with the exporter?

Is there another approach to consuming logs, traces, and metrics in datadog with the use of OpenT

[2022-04-22 15:20] djaglowski opened #9410 "[processor/transform] - Log processing capabilities"
This is a very rough draft analysis of how the transformprocessor could be enhanced to support the log processing capabilities of the log-collection library. Certainly more careful design would be warranted, but the suggestions and examples are a starting point for conversation.

#### Path expressions vs "field syntax"

log-collection defines a [field syntax](https://github.com/open-telemetry/open

[2022-04-22 15:21] djaglowski commented on #9410
cc: @anuraaga @bogdandrutu @dehaansa

[2022-04-22 15:57] djaglowski commented on #9133
I wrote up some thoughts on what it might look like to integrate log-collection into the generic transform processor in #9410.

My sense is that much of the functionality could port over in a sensible way. However, there are a couple issues around the flat vs grouped data models that are unclear to me.

Assuming those points could be addressed, I think the next issue is that wrapping individual lo

[2022-04-22 17:18] dmitryax commented on #9387
You can try this processor https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/groupbyattrsprocessor to move span attributes to resource attributes

[2022-04-22 17:23] #9371 closed

[2022-04-22 17:29] tillig commented on #9387
@dmitryax Looking at that, it'd be a two-step process, where I do something like:

[code]

Does that sound right?

[2022-04-22 17:32] TylerHelmuth commented on #9370
Is this the end goal you are trying to reach: "Add a specific set of resource attributes as attributes on metrics" ?

[2022-04-22 17:34] dmitryax commented on #9387
@tillig yes, it looks right

[2022-04-22 18:21] Fydon commented on #9370
Yes

[2022-04-22 19:42] TylerHelmuth commented on #9370
@jpkrohling @anuraaga is the ability to copy resource attributes to metrics something that could be added to the transform processor?  It feels weird that the capability currently exists in the exporthelper and I feel like it should be moved to a processor.

[2022-04-22 19:46] tillig commented on #9387
Yup, this totally works. Thanks @dmitryax I would never have thought to use `groupbyattrs` to promote attributes to the resource!

[2022-04-22 19:46] #9387 closed

[2022-04-22 19:48] TylerHelmuth opened #9413 "[receiver/kubeletstats] Update metadata.yaml to explicitly detail metrics emitted"
We need to change https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/f5f05d5ca4bacef9573fd173a0eafb020f91e3ba/receiver/kubeletstatsreceiver/metadata.yaml to contain all the metrics exactly how they are emitted. We also have [the metrics documentation](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/f5f05d5ca4bacef9573fd173a0eafb020f91e3ba/receiver/kubelet

[2022-04-22 19:49] #9373 closed

[2022-04-22 20:04] dmitryax opened #9414 "[receiver/k8scluster] Dropped support of k8s cluster version earlier than 1.21"
After https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/7406 k8scluster receiver works only with 1.21+ versions k8s server API.

If k8s server version is 1.20 or lower, the following error messages are thrown and no metrics are collected:

[code]

Even if 1.20 is EOL'd already, all the cloud providers like EKS, AKS and GKE still support it.

[2022-04-22 21:27] davidmirza408 opened #9415 "Add thread count to metrics reported by hostmetricsreceiver"
**Is your feature request related to a problem? Please describe.**
It would be useful to know the thread count of processes reported on by hostmetricsreceiver

**Describe the solution you'd like**
Add thread count to metrics reported by hostmetricsreceiver

cc @dmitryax

[2022-04-22 21:28] #8815 closed

[2022-04-25 09:20] mx-psi commented on #9409
👋 thanks for taking the time to open the issue. This is a duplicate of #2651, could you ':+1:' that issue instead? That will help us track user interest.

I am closing this to keep things centralized in a single issue, but if there is something not mentioned in that issue that you think is important, please add a comment!

[2022-04-25 09:20] #9409 closed

[2022-04-25 10:44] mx-psi commented on #8372
Updated description to reflect our new plan: remove all deprecated functionality together in one future minor version.

[2022-04-25 11:55] resdenia opened #9424 "[exporter/prometheusremotewrite] [receiver/docker_stats] error: Permanent error: invalid temporality and type combination"
I've been set up collector for metrics using exporter:prometheusremotewrite and  receiver:docker_stats,
I receiving metrics, but when metrics is sends i expiriencing that error:
`error   exporterhelper/queued_retry.go:183      Exporting failed. The error is not retryable. Dropping data.  {"kind": "exporter", "name": "prometheusremotewrite", "error": "Permanent error: invalid temporality and type c

[2022-04-25 15:10] gnozil commented on #9018
Also hit this issue when tried to use Jaeger Monitor function in jeagertracing 1.33. @albertteoh, I cannot access the cloud-native slack channel, could you paste the discussion here ? Thanks.

[2022-04-25 17:26] BT-22 commented on #7781
Hello, is there an update for this issue?

While in the code mentioned above it is clear that in order to get the stack trace, the span has to be set to error status, I think in a way it probably defeats the purpose of `recordException` if we are not getting the stack trace.

But, why would one record an exception but not wish to set the span in error?
One use case is in one's retry logic, we may

[2022-04-25 18:56] jpkrohling opened #9518 "Add a command that lists components and their stability and support-levels"

[2022-04-25 18:56] jpkrohling opened #9519 "Add zpages information with the components' stability and support levels"

[2022-04-25 21:14] TylerHelmuth commented on #9107
As part of an [ongoing discussion in the Go SIG](https://github.com/open-telemetry/opentelemetry-go/issues/2791) around performance tests, I have requested a machine so that we can test out if private hardware will solve test inconsistencies.  I plan to experiment with the Contrib's load test as well.

If private hardware is a solution, then hopefully we can find a way to run the tests on the mach

[2022-04-26 01:31] StefanKurek opened #9522 "[receiver/sqlserverreceiver] Bug - Gauge Metrics Actual Monotonic Sums"
**Describe the bug**
sqlserver.transaction_log.growth.count and sqlserver.transaction_log.shrink.count are both currently gauges. They should actually be monotonic sums.

**Steps to reproduce**
Run collection with sqlserver metric receiver configured.

**What did you expect to see?**
sqlserver.transaction_log.growth.count and sqlserver.transaction_log.shrink.count as Monotonic Sums.

**What did yo

[2022-04-26 07:11] pdelewski commented on #2835
Recently, I started working on s3 exporter using this work as a baseline. Is anyone working on that actively?

[2022-04-26 08:33] mx-psi commented on #9377
To be done/discuss: add template for components to fill out https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/9412#discussion_r857500184

[2022-04-26 09:18] rogercoll commented on #7417
Another possible solution would be to add a new memory metric only for this purpose, as making any change on the current states would break the sum assumption.

The memory system scrapper will generate the following metrics:

[code]

Any thoughts?

[2022-04-26 12:02] jpkrohling commented on #2835
I don't think anyone is working on this. If you decide to work on this, make sure you have a sponsor first, in order for this component to be accepted as part of the contrib repository.

[2022-04-26 12:11] omamoo commented on #8556
@mx-psi After upgrading to newest OpenTelemetry Nugets the issue has been solved

[2022-04-26 12:11] #8556 closed

[2022-04-26 12:30] mx-psi commented on #8556
@omamoo Great! Glad to see your issue is fixed and thanks for following up with me 🙇

[2022-04-26 13:00] tigrannajaryan commented on #9258
@pcwiese @eedorenko will you be able to have a look at this? This is blocking a change that we need to make in the codebase. The LogRecord Name will be deleted and we can't until it is no longer referenced from anywhere.

[2022-04-26 13:42] jpkrohling commented on #8834
I scheduled some time to talk about this during the next SIG call, given that we don't seem to have volunteers for this. Could you please confirm you are affiliated with Azure and that this is a component backed by a vendor (Microsoft)?

[2022-04-26 13:55] TylerHelmuth commented on #7417
Is this the same as your proposed solution 1?

I like the idea of adding a new metric; allows those who currently rely on `used` to continue to use it, while providing a more accurate measure for those who want it.

[2022-04-26 14:40] rogercoll commented on #7417
@TylerHelmuth No, thanks for pointing that out. It would be a new proposal, let me update the comment.

Proposals 1 and 2 are based on the "state" attribute used in usage and utilization metrics. Proposal 3 won't do any modification on the state neither the current metrics, instead, add a new one.

[2022-04-26 16:05] jmacd commented on #2835
:wave: I have a personal interest in seeing OTC be able to write telemetry to S3. I feel that not many vendors have this interest, but for a user who wants to store years worth of telemetry and cares about costs, S3 looks like a good path forward.

[2022-04-26 16:56] pcwiese commented on #9258
I just commented out the use of it. I'm not sure what the replacement, if any, should be but it should not block forward progress in this repo.

[2022-04-26 17:53] jpkrohling commented on #8843
I won't be able to look at this one in detail for the next two months. I'm therefore unassigning this. This is now up for grabs. If nothing happens in two months, I might be able to take a look again.

[2022-04-26 17:56] jpkrohling commented on #9102
Given your last comment, I'm closing this, but feel free to reopen if it there's something to be done here.

[2022-04-26 20:20] antonblock opened #9549 "New component: Aerospike Receiver"
## The purpose and use-cases of the new component

The Aerospike Receiver would collect metrics from Aerospike using their API. It would use their official [golang client](https://github.com/aerospike/aerospike-client-go/tree/v5/). It would collect KPIs as [recommended](https://docs.aerospike.com/server/operations/monitor/key_metrics) by Aerospike; mainly memory utilization and connections to clie

[2022-04-26 20:50] TylerHelmuth opened #9550 "Flaky test - testbed/tests"
**Describe the bug**
[code]

Seen here:
- https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6182727477?check_suite_focus=true
- https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6182605642?check_suite_focus=true
- https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6180071238?check_suite_focus=true
- https://github.com/open-telemetry/ope

[2022-04-26 21:41] Konig-Corey opened #9551 "SpanMetrics continuously increase."
**Issue**
When using the spanmetric processor the output metrics are supposed to be metrics of the spans seen by the collection agent. When using the prometheus as storage for these metrics I have noticed the metrics are appear to continue to grow when the rate of spans is not.

**Reproducing  / Config**

Key Notes on Setup:
- Running collection agent per instance, multiple instance behind a singl

[2022-04-26 22:15] atoulme commented on #2835
I work on a parquet exporter, but no time recently.

[2022-04-26 23:02] dmitryax commented on #7417
Adding another metric `system.memory.available` maybe be a good solution to one the problems described in this issue. But it's still unclear how to solve the total mismatch issue and also adding this metric brings confusion to end user questioning what's the difference between `system.memory.available` and `system.memory.usage`.

Potentially, we can solve both problems by introducing a concept of

[2022-04-26 23:28] tillig opened #9553 "[processor/tailsamplingprocessor] `and` policy appears to ignore `string_attribute` match results"
**Describe the bug**

Given a tailsamplingprocessor with an `and` policy that has both `string_attribute` and `probabilistic` sampling, the `and` policy appears to ignore the results of the `string_attribute` match and falls back on only the `probabilistic` results.

I have a service in Kubernetes that is getting scraped with Prometheus. I am trying to configure tail sampling to:

- Keep all "slow

[2022-04-27 10:59] albertteoh commented on #9018
Wondering if someone could please point me to an existing example where the otel-collector emits metrics about itself for a particular component?

Related issue: https://github.com/open-telemetry/opentelemetry-collector/issues/4198

I think the proposal is to use [otel-go ](https://github.com/open-telemetry/opentelemetry-go) to emit collector self-metrics, but the otel-go SDK is not quite ready fo

[2022-04-27 13:39] TylerHelmuth opened #9555 "[processor/transform] Add function parameter validation"
The parser currently always returns an `int64` because it doesn't know semantics yet, which is what's passed here. So indeed, validation here would be good - currently the factories return `ExprFunc` but it seems they should actually be `ExprFunc, error`

_Originally posted by @anuraaga in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/9546#discussion_r859487338_

Functions

[2022-04-27 14:53] mottibec commented on #9553
Hey @tillig, unfortunately, the `and` policy cannot support the invert match atm. as a quick workaround, I can suggest you implement the same functionality using a negative match with regex. so for example the rule for metrics would be changed to something like this `^(?!metrics).*$`

[2022-04-27 14:56] tillig commented on #9553
OOOOOH that makes sense, then. Might be good to include that in the README somewhere, it had me totally stumped. I'll switch to this and see how she goes. Thanks!

[2022-04-27 15:47] #8259 closed

[2022-04-27 15:47] #8370 closed

[2022-04-27 15:48] #9238 closed

[2022-04-27 16:17] tillig commented on #9553
It appears negative lookahead is not supported, either. I tried using `(?!\/metrics)` as the expression (to ensure it's `/metrics` and not `/some-metrics-thing`). The pod won't start and the log says:

[code]

Looks like I may be stuck until the `and` policy supports the inverted match, unless there's something I'm misunderstanding as to how to make this regex compile. For example, I've seen you h

[2022-04-27 16:18] pmm-sumo commented on #8834
I will be happy to help with the initiative as the sponsor

[2022-04-27 16:25] codeboten opened #9557 "Failing tests: TestHarness_MetricsGoldenData/otlp-otlp"
This test has been failing intermittently, see example:

https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6196786412?check_suite_focus=true

[code]

[2022-04-27 18:06] eedorenko commented on #8834
@pmm-sumo Thanks a lot!

[2022-04-27 19:00] TylerHelmuth commented on #9133
Are you saying each function in the transform processor that would apply to log data would need to be able to handle both pdata and the log-collector data format?  If so, thats probably less overall work than option 2 (because transform processor is small), but I don't love the idea of adding a complex layer to the transform processor that we'd hope to remove some day.  If option 2 is unrealistic

[2022-04-27 19:13] TylerHelmuth commented on #9410
This is an awesome write-up.  My main take away is that there is quite a bit of overlap between logs-collection and transformprocessor, with logs-collection being the more mature, feature-rich component.

If the goal is to consolidate processors into the transform processor then logs-collection should be merged in, with gaps in functionality in the transform processor being filled so that the logs

[2022-04-27 19:27] armstrmi opened #9560 "[receiver/riak] - Fix issue where user configured metric settings were ignored"
**Describe the bug**
Riak receiver's newScraper method currently uses  `DefaultMeticsSettings` when instantiating a metrics builder

**What did you expect to see?**
[code]
**What did you see instead?**
check out [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/1c4dd67f7af084c467ce5378115fa151f7276547/receiver/riakreceiver/scraper.go#L49)

**What version did you use?**

[2022-04-27 20:34] nslaughter opened #9562 "collector does not include nginx receiver"
**Describe the bug**

The collector does not include the nginx receiver, which you'll notice if you configure `nginx` it among receivers.

**Steps to reproduce**

Add an entry for `nginx:` to receivers in the collector's config `.yaml`

**What did you expect to see?**

Successful run of the collector returning metrics for nginx when configuration is right for the environment or reporting on other

[2022-04-27 20:48] TylerHelmuth commented on #9562
/cc @djaglowski

[2022-04-27 20:49] TylerHelmuth commented on #9555
This can be assigned to me

[2022-04-28 01:02] crobertson-conga commented on #7250
I replicate this when EndTime is before StartTime on the spans.  A negative value for duration causes the binary search to overflow and try to find a value greater than the max duration already set.

I think a sane option here might just be to check for the case where the index is out of bounds and drop the data point.  i.e. on line 387 of the current processor do something like
[code]

[2022-04-28 02:51] laiyunong opened #9567 "Error: cannot build exporters: pipeline "traces" of data type "traces" has an exporter clickhouse, which does not support that type"
exporters:
  logging:
    logLevel: debug
  clickhouse:
    dsn: tcp://10.10.110.97:9000

service:
  pipelines:
    traces:
      receivers: [otlp, opencensus, jaeger, zipkin]
      processors: [batch]
      exporters: [logging,clickhouse]

[2022-04-28 03:07] dmitryax commented on #9557
Seen here as well https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6202444837?check_suite_focus=true

[2022-04-28 07:57] ItsLastDay opened #9565 "Export `dirty` metric from hostmetricsreceiver/memory for Linux"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
hostmetricsreceiver/memory currently exports a number of [memory metrics](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/v0.47.0/receiver/hostmetricsreceiver/internal/scraper/memoryscraper/metadata.yaml#L6): `[buffered, cached, inactive, free, slab_reclaimable, slab_

[2022-04-28 11:17] stanmarsh2 opened #9566 "[receiver/fluentforwardreceiver] Resource, TraceId, SpanId and SeverityText fields are parsed incorrectly"
**Is your feature request related to a problem? Please describe.**
The fluentforwardreceiver's log parser lacks correct parsing of several important fields.
By default they're parsed as attributes, but there are special fields in protocol for them `resource`, `severity_text`,  `trace_id`, `span_id` [here](https://github.com/open-telemetry/opentelemetry-proto/blob/main/opentelemetry/proto/logs/v1/l

[2022-04-28 11:51] #9567 closed

[2022-04-28 13:52] ZhouZhongzhi commented on #9247
I tested this configuration using two mysql instances.
The root cause of this problem is that mysql-recevier does not add the 'instance' tag when collecting data.

Use two mysql-receivers to collect mysql metrics at the same time,the two receivers will transmit the same  metricName<label> to subsequent pipelines. Because they are the same metricName<label> combination, the last data overwrites the

[2022-04-28 14:03] schmikei opened #9568 "New component: receiver/nsxtreceiver"
I'd like to author a component that receives metrics and logs for [NSX-T](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/index.html).

## The purpose and use-cases of the new component
The receiver should be able to receive metrics important to run virtual networking using NSX-T. The receiver is planned to ingest metrics via the [NSX Rest API](https://docs.vmware.com/en/VMware-NSX-Data-Center

[2022-04-28 17:12] raphaelauv opened #9570 "basicauth with receiver prometheus_simple"
I have a Prometheus endpoint that use basic_auth :

https://help.aiven.io/en/articles/2473061-using-aiven-with-prometheus

![Screenshot from 2022-04-28 19-10-00](https://user-images.githubusercontent.com/10202690/165807526-953d3657-05b1-4813-be45-01ddebd5712d.png)

[code]

give an error , but I don't know what to do

[code]

is the doc https://github.com/open-telemetry/opentelemetry-collector-cont

[2022-04-28 17:32] raphaelauv commented on #9570
look like https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/8847 is not part of release 0.49

I have to wait for a 0.50 , is that correct ?

[2022-04-28 17:37] jpkrohling commented on #9570
Correct. I'll close this, but do reopen if that still doesn't work. v0.50.0 should be available in the next few days.

[2022-04-28 17:38] raphaelauv commented on #9570
but there is no other way ? Directly by setting the header ?

[code]

[2022-04-28 17:39] jpkrohling commented on #9570
I'm not 100% familiar with this specific component, but if it uses the standard HTTP Client Settings, that would indeed work.

[2022-04-28 17:41] raphaelauv commented on #9570
I'm sorry I'm not familiar with otel, where can I find an example or the doc of the HTTP client settings ?

Thanks again

[2022-04-28 17:46] jpkrohling commented on #9570
My bad, I should have provided the complete information :-) In general, HTTP Clients built by the components (simple prometheus receiver here) would use this: https://github.com/open-telemetry/opentelemetry-collector/tree/main/config/confighttp#client-configuration

Looks like this receiver is **not** using it though: https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/4259a2bd8

[2022-04-28 17:49] jpkrohling commented on #9570
Actually, I think it's cleaner to just open a new issue.

[2022-04-28 17:49] #9570 closed

[2022-04-28 17:51] jpkrohling opened #9571 "Simple Prometheus receiver should use HTTP Client Settings"
As seen on #9570, the simple Prometheus receiver should make use of the standard HTTP Client Settings, so that it can take advantage of the standard features that it provides, such as access to the client authenticators.

[2022-04-28 18:49] davidmirza408 opened #9578 "Hostmetricsreceiver: config setting to allow obfuscating of parameters"
**Is your feature request related to a problem? Please describe.**
I would like to add a config setting to allow users to obfuscate command line parameters if desired.

**Describe the solution you'd like**
The config setting would allow the user to specify a parameter to obfuscate.  For example if the command line is:
"myprogram -password mypassword"
the obfuscated command line would be:
"myprogra

[2022-04-28 21:05] #9000 closed

[2022-04-28 21:32] #9394 closed

[2022-04-28 21:34] TylerHelmuth commented on #8252
I can start working on adding the metrics data model

[2022-04-29 00:51] #9396 closed

[2022-04-29 01:20] #9414 closed

[2022-04-29 05:23] csmehta opened #9588 "metricstransformprocessor: Snap timestamps to the previous second/minute"
**Is your feature request related to a problem? Please describe.**
I am trying to group by metrics coming from different workers to the collector.
[code]
But for this to be effective timestamps have to match as well.

**Describe the solution you'd like**
Ability to snap timestamp to nearest second/minute based on config.
[code]

**Describe alternatives you've considered**
None

**Additional contex

[2022-04-29 10:22] pmm-sumo commented on #9247
There are several solutions. Also curious what @djaglowski thinks

What I would do is using separate pipelines, e.g.

[code]

I think we currently do not have attribute describing the MySQL instance. If we would have one, the above would be probably not required (or made more elegantly with transformprocessor)

[2022-04-29 13:19] ZhouZhongzhi commented on #9247
I agree with you.

I want to add the instance lable in mysql-receiver, what do you think about that?

@pmm-sumo

[2022-04-29 17:56] dashpole commented on #5001
I don't think we have proper support for untyped metrics right now.  There is some discussion here about how best to accomplish that: https://github.com/open-telemetry/wg-prometheus/issues/69

[2022-04-29 18:40] davidmirza408 commented on #9578
Here is the PR I would add once this issue is approved https://github.com/davidmirza408/opentelemetry-collector-contrib/pull/12/files

[2022-04-29 19:09] bloodsper commented on #3869
Was this ever finished somewhere? If not; have people been setting up an insane amount of sentry exporters?

[2022-05-01 22:41] bertysentry commented on #8950
Is this ever going to be implemented? I think it's a very important feature to make sure metric naming conventions are followed on both OpenTelemetry **and** Prometheus.

But when this will be implemented, it will be a breaking change on the receiving end! (think of a Grafana dashboard relying on Otel metrics named after the Otel metrics convention, that would suddenly break once this is merged in

[2022-05-02 01:17] jamesmoessis opened #9592 "New component: receiver/expvarreceiver"
## The purpose and use-cases of the new component

An Expvar Receiver scrapes metrics from [expvar](https://pkg.go.dev/expvar), which exposes data in JSON format from an HTTP endpoint. The metrics are extracted from the `expvar` variable [memstats](https://pkg.go.dev/runtime#MemStats), which exposes various information about the Go runtime.

## Example configuration for the component

In the past

[2022-05-02 01:20] MovieStoreGuy commented on #9592
I am happy to sponsor this

[2022-05-02 02:00] MovieStoreGuy opened #9593 "New Component: `ethtool receiver`"
# The purpose and use-cases of the new component
when monitor network bound compute nodes, it becomes important to understand per network interface statistics to check for saturation.

# Example configuration for the component
Looking to make transitioning from the [telegraf agent]( https://github.com/influxdata/telegraf/blob/master/plugins/inputs/ethtool/README.md) to Open Telemetry collector sim

[2022-05-02 05:22] dmitryax opened #9595 "[Metric builder] Replace attributes value enums with typed constants"
`Record...DataPoint` functions should accept one of predefined attribute value instead of any string, if the attribute has enum field defined in metadata.yaml. This significantly reduces chance of passing wrong attribute values

[2022-05-02 08:26] anuraaga commented on #8252
Thanks @TylerHelmuth - just one point about metrics which you may have already realized is we would scope the transformations to a point so need to expose the metrics descriptor as well in the field expressions, this is briefly mentioned in the design doc.

https://github.com/open-telemetry/opentelemetry-collector/blob/main/docs/processing.md#telemetry-query-language

Let me know if anything's not

[2022-05-02 08:32] mottibec commented on #9553
the go regex engine does not support negative lookahead.
I will try to get to this next week, but if you want to try and work on this yourself you are very welcome to submit a PR.

😄

[2022-05-02 10:30] mx-psi opened #9597 "New component: telemetrygen"
*Writing this as a new component proposal, even though this is a separate tool like [tracegen](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/tracegen) and **not** something that would be added to the collector binary*

## The purpose and use-cases of the new component

Similar to `tracegen` (see #955) a new `telemetrygen` tool with support for metrics would be useful

[2022-05-02 10:35] mx-psi commented on #9597
@open-telemetry/collector-contrib-approvers, two questions about this:

1. Do you think this needs a sponsor (given it is not a component but a separate tool)? If it needs one, should be someone other than me (or at least a separate approver that says 'this makes sense to add to this repo')? I will review PRs and be a codeowner regardless, but it feels weird to write a proposal and automatically a

[2022-05-02 11:54] dashpole commented on #8950
Yes, this will definitely be implemented eventually, and I agree with the urgency.  It is just a matter of people having time to do the work.  You can see the full set of prom-spec items here: https://github.com/open-telemetry/opentelemetry-collector-contrib/issues?q=is%3Aopen+label%3Acomp%3Aprometheus+label%3Aspec%3Ametrics+

[2022-05-02 13:10] djaglowski opened #9598 "[receiver/couchdb] User configured metric settings are ignored"
**Describe the bug**
User configured settings for enabling/disabling metrics are [ignored](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/814c3a9e4a3d4d4f8bbba140fed0156616dfa765/receiver/couchdbreceiver/scraper.go#L43)

See #9560

[2022-05-02 13:19] bertysentry commented on #8950
At some point, my company will need this feature in **prometheusexporter** so we'll probably give it a try. However, I'm concerned with the many edge cases where appending Otel metrics will have adverse effects (when the metric name already contains the unit, or when the unit is a long string, etc.)

[2022-05-02 14:33] djaglowski commented on #9247
Adding an instance label makes sense to me.

[2022-05-02 15:09] tigrannajaryan commented on #9258
Resolved by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/9544

[2022-05-02 15:09] #9258 closed

[2022-05-02 15:23] billmeyer opened #9599 "New component: Mezmo Log Exporter"
## The purpose and use-cases of the new component

Mezmo exporter enables the ability to export log telemetry from an OpenTelemetry collector to the LogDNA platform (https://logdna.com) for further analysis, alerting and retention.

Supported pipeline types: logs

## Example configuration for the component

Two configuration entries are required:

- `ingest_url` (Required): The endpoint which to e

[2022-05-02 15:29] djaglowski commented on #9133
I think you have the general sense of what I mean, but in order to be a little more precise I'll use an example.

Suppose we want to integrate two capabilities from log-collection into `transformprocessor`. Let's say `strptime` and `severity`. The log-collection capabilities are behind a signature of `func Parse(entry.Entry) error`, where `entry.Entry` is log-collection's representation of a singl

[2022-05-02 15:44] TylerHelmuth commented on #9133
Thats a great explanation.  Thinking about the `transformprocessor`, going from `pdata.Logs` -> `[]entry.Entry` and then back to `pdata.Logs` specifically for logs-collection functions wouldn't be too complex I don't think. But I still don't like the extra layer of transformation that would be inefficient (would always have to go back to `pdata.Logs`) and would be a layer we'd want to remove somed

[2022-05-02 16:10] TylerHelmuth commented on #8252
That helps a lot.  Where did `descriptor` originate?  I anticipated using `metric.name`, `metric.description`, `metric.unit`, and `metric.data` for the fields on `Metric`.  Also, how are you thinking we should get access to some of the fields specific to a data type?  For example, how should we access `Sum. aggregation_temporality` or `Sum.is_montonic`?  Feels like we might need another virtual, o

[2022-05-02 16:52] codeboten commented on #6750
@djaglowski just looping back here, is the right thing to move this forward to create separate issues for each suggested change and close this issue?

[2022-05-02 17:03] djaglowski commented on #7417
I think we should aim for a design that adheres to the specification's aggregation expectations (ie. data points sum to a meaningful total). Supporting metrics that violate these expectations seems like the wrong approach to me.

There seem to be two layers to the problem here:
1. What is the correct data model for this situation?
2. How do we migrate from a flawed data model to the correct one?

[2022-05-02 17:30] djaglowski commented on #8398
Closed by #9252

[2022-05-02 17:30] #8398 closed

[2022-05-02 17:48] StefanKurek opened #9601 "[receiver/sqlserver] Should some metrics be int instead of double?"
**Describe the bug**
The question came up on whether some of the metrics in this receiver should be an int rather than a double. They were initially created as doubles as that's how the Windows performance counter monitor tool presented them. Some may actually be ok if changed to an integer though.

**Steps to reproduce**
Run collection with sqlserver receiver configured.

**What did you expect to

[2022-05-02 18:37] djaglowski commented on #6750
Yes, I think so. @dehaansa, since you'll be doing the work, do you want to decompose this in a way that corresponds to the way you see this being implemented?

[2022-05-02 18:45] djaglowski opened #9676 "[receiver/<scrapers>] Add to components.go"
The following scrapers are not under active development and I believe should be included in the contrib release:
- `apachereceiver`
- `couchdbreceiver`
- `elasticsearchreceiver`
- `mongodbreceiver`
- `nginxreceiver`
- `rabbitmqreceiver`

[2022-05-02 19:12] dehaansa commented on #6750
Yup, happy to do that.

[2022-05-02 20:07] lstephe opened #9681 "Open Telemetry - Skywalkingexporter Question"
Does the skywalkingexporter export traces?

[2022-05-02 20:29] StefanKurek opened #9680 "New component: Big-IP Receiver"
## The purpose and use-cases of the new component
The F5 Big-IP Metric Receiver would pull KPI statistics from F5's iControl REST API (https://clouddocs.f5.com/api/icontrol-rest/). It will focus on the LTM Module for Big-IP and collect throughput, connection, session, and availability metrics for LTM Virtual Servers, Pools, Pool Members, and Nodes.

Targeting version 11.6.5+ (https://support.f5.co

[2022-05-02 20:30] #9681 closed

[2022-05-02 20:45] dashpole opened #9682 "GKE Resource detection doesn't work well with workload identity"
**Describe the bug**

Create a GKE cluster with workload identity enabled.  Try using the GCE resource detector.  It produces error messages because of missing fields.  Try to use the GKE resource detector instead.  Now you are missing important resource information.

The GKE resource detector should set zone/region based on the cluster-location metadata attribute instead.

[2022-05-02 20:45] dashpole commented on #9682
In general, the GKE resource detector should only set one of [zone, region] since a cluster with the same name can exist in both zonal and regional form within the same project.

[2022-05-02 21:38] dehaansa opened #9685 "[receiver/jmxreceiver] Remove generic properties and user-defined groovyscript parameters"
**Is your feature request related to a problem? Please describe.**
This issue is a portion of the effort to reduce the potential security risks of running the JMX Metrics Gatherer as a separate executable.

**Describe the solution you'd like**
Remove the ability to define java properties without limitations. Also remove the ability to execute any user-defined groovy script. Any required java prope

[2022-05-02 21:44] dehaansa opened #9686 "[receiver/jmxreceiver] Communicate with the JMX Metrics Gatherer using a Properties File"
**Is your feature request related to a problem? Please describe.**
This issue is a portion of the effort to reduce the potential security risks of running the JMX Metrics Gatherer as a separate executable.

**Describe the solution you'd like**
Communicate with the metrics gatherer using a Java Properties file, which is already supported by the Metrics Gatherer. This is intended to reduce the risk

[2022-05-02 21:46] dehaansa opened #9687 "[receiver/jmxreceiver] Only accept versions of the JMX Metrics Gatherer jar or additional dependencies with known hashes"
**Is your feature request related to a problem? Please describe.**
This issue is a portion of the effort to reduce the potential security risks of running the JMX Metrics Gatherer as a separate executable.

**Describe the solution you'd like**
Hash the known & supported versions of the JMX Metrics Gatherer, then at runtime compare the hash of the found Jar from user input to that list of known has

[2022-05-02 21:52] dehaansa commented on #6750
I've created tickets for capturing the work that seems to cover the intended changes, see the references above.

I haven't captured the "longer term" concepts at this time. Declarative configured is [already an issue](https://github.com/open-telemetry/opentelemetry-java-contrib/issues/5) and the other two issues weren't as concretely defined to me. If anyone has any other thoughts feel free to pro

[2022-05-03 13:27] Konig-Corey commented on #9551
Adding additional information,

It appears that if I forcibly add a unique attribute on the spanmetric processor the resulting metrics appear to be correct without that abnormal increase shown above. This makes me think that this was intended to be used by a single collection agent instead of one agent per host in a service. This model does not particularly work for us so any suggestions to how to

[2022-05-03 16:54] JonathanWamsley opened #9715 "New component: Apache Flink Metric Receiver"
## The purpose and use-cases of the new component
This Apache Flink Metric Receiver will use the Flink [REST API](https://nightlies.apache.org/flink/flink-docs-release-1.14/docs/ops/metrics/#rest-api-integration) to collect Jobmanager, Taskmanager, Job, Task and Operator metrics.

Targeting versions 1.13.6, 1.14.4
The current latest stable release is 1.14.4 and Flink supports the current and previ

[2022-05-03 17:25] dmitryax commented on #9408
I can sponsor this receiver

[2022-05-03 18:07] dmitryax opened #9716 "[processor/k8sattributes] Apply strict regex matching on the full length of labels/annotations"
As discussed in [this thread](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/9525#discussion_r863292338 ) we should apply `key_regex` value to the full length of annotations and labels. For example:
- `key_regex: an*` should not match `annotation1` pod label, but match `annn` label.
- `key_regex: .*` should match any pod label.

[2022-05-03 18:34] #9413 closed

[2022-05-03 18:49] TylerHelmuth commented on #7143
With the existing metadata.yaml now updated to be more explicit, I will get back to updating to the v2 metrics.

[2022-05-03 18:52] dmitryax commented on #9408
Given that we have too many SQL ... receivers already, maybe `sql_query` receiver would be a better name?

[2022-05-03 19:35] TylerHelmuth commented on #8252
@anuraaga what do you think will be the best way to do the access functions for the data points themselves since there are multiple?  Unlike traces and logs, `attributes` would apply to all data points on a `Metric`.  Should the `getter` return a slice of all the attribute maps, with the position in the slice matching the position in the DataPoints slice, and the setter take a slice of attribute m

[2022-05-03 19:51] TylerHelmuth commented on #8252
Also, in the design doc the metrics are accessed by name:

`create_gauge("pod.cpu.utilized", read_gauge("pod.cpu.usage") / read_gauge("node.cpu.limit")`

In a situation like this, it looks like the read_gauge function needs access to the Gauge() of a metric with a name of "pod.cpu.usage".  How would our switch statement handle a situation like this?

[2022-05-03 21:50] #9278 closed

[2022-05-03 22:03] TylerHelmuth commented on #8252
I went forward with the `DataPoint` approach.  I also see now why "descriptor" was chosen as the virtual.  The draft PR can be found [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/9719).  Would love feedback.

[2022-05-04 00:48] dehaansa opened #9720 "[receiver/jmxreceiver] SSL properties are not used by JMX Metrics Gatherer"
**Describe the bug**
The JMX Receiver config defines several java Keystore & Truststore properties. None of them are then set as JVM properties to communicate the SSL parameters down to the metrics gatherer.

[code]

**What did you expect to see?**
JVM properties set appropriately to use SSL. Given the changes currently being made to the contract between contrib-collector and metrics gatherer thes

[2022-05-04 09:39] ovidiubuligan commented on #8998
grafana tempo 1.4 was released and if you happen to use it you can enable the metrics generation from there instead of otel collector : https://grafana.com/blog/2022/05/02/new-in-grafana-tempo-1.4-introducing-the-metrics-generator/

Generated metrics are pushed with Prometheus remote write

[2022-05-04 12:41] bogdandrutu commented on #9715
I would suggest to name it "flinkmetrics" to be consistent with kafka, if there is any chance that we may have a receiver that receives telemetry via "flink" (not an expert, seems unlikely)

[2022-05-04 13:28] #9595 closed

[2022-05-04 14:43] alfianabdi commented on #2529
Hi, I think I have similar problem.

These are the output from fluentbit
[code]

These are the sample logging output from collector
[code]

The body part is not consistent.

[2022-05-04 14:45] djaglowski opened #9729 "Flaky Test - TestMetric10kDPS/Carbon"
Examples:
- https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6280480097?check_suite_focus=true#step:14:22
- https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6290813014?check_suite_focus=true#step:14:22

[code]

[2022-05-04 14:58] TylerHelmuth opened #9730 "[processor/transform] Write log if truncation or limiting is performed"
Any functions in the transform processor that truncate or limit attributes should write out a log, following the [specification](https://opentelemetry.io/docs/reference/specification/common/common/#attribute-limits).  Currently there are 2 functions, `truncate_all` and `limit` that do this.  Those functions, and any functions added in the future, should be able to write a log once per record on wh

[2022-05-04 15:10] codeboten commented on #9597
I think having this become a `telemetrygen` makes sense to me, as it's likely the same tool would also be useful for logs. I'm happy to sponsor it.

[2022-05-04 16:06] IvanTopolcic opened #9733 "Incorrect conversion behavior going from AWS X-Ray trace ID to Datadog trace ID"
**Describe the bug**

Datadog trace IDs are using 64 bits of data instead of 63 bits. This is usually not an issue, but in the case where we're converting from x-ray trace to a datadog trace, we're not using the same format that we use internally, which is 63 bits of information from the AWS trace ID.

Given a sample X-Ray trace ID, `1-58406520-a006649127e371903a2de979`, we want to grab the last 1

[2022-05-04 16:11] TylerHelmuth commented on #9597
Publishing an image would be awesome

[2022-05-04 16:20] djaglowski commented on #9133
Discussed today in Collector SIG. This component can move forward, but it should eventually be absorbed into `transformprocessor`.

[2022-05-04 16:34] djaglowski commented on #9549
I'll sponsor this.

[2022-05-04 16:36] #9598 closed

[2022-05-04 17:06] TylerHelmuth opened #9734 "[processor/transform] Add ability to specify attributes that aren't allowed to be dropped during limiting"
**Is your feature request related to a problem? Please describe.**
As part of the `limit` function being added in #9552, which attributes are dropped as part of limiting is random.  This could result in priority attributes being dropped.

**Describe the solution you'd like**
The `limit` function should be updated so that users can specify a list of attribute names that should never be dropped duri

[2022-05-04 17:23] dmitryax opened #9735 "Failing load test Metric10kDPS/SignalFx"
[code]

[2022-05-04 17:54] djaglowski commented on #9735
This is likely due to creeping memory baseload, as described and resolved by #9684

[2022-05-04 18:05] bogdandrutu commented on #9735
per @djaglowski closing this

[2022-05-04 18:05] #9735 closed

[2022-05-04 20:34] #6365 closed

[2022-05-04 20:45] dashpole commented on #9599
I'll sponsor this component.  Please open the PR and i'll review it.

[2022-05-05 03:41] howardyoo opened #9746 "[processor/metricstransform] support of regex group in new_value of label operations (e.g. add_label)"
**Problem**
I have a requirement that I need to convert a part of my metrics name to be added as a label. For example, let's say I have a metric that has a name of xyz.abc.efg. The part xyz is a prefix of the metric name, and thus I would like to convert that part into a new label called 'prefix'. Currently the rule does not proper convert the $${1} into the value, but I see `_1` as the value when

[2022-05-05 08:38] mx-psi opened #9749 "Enable errcheck in missing components"
Follow up to #9726. Remaining modules where at least some files are excluded:

- [x] Enable errcheck in examples/demo/server
- [x] Enable errcheck in exporter/awscloudwatchlogsexporter
- [x] Enable errcheck in exporter/awsemfexporter
- [x] Enable errcheck in exporter/awsxrayexporter
- [x] Enable errcheck in exporter/carbonexporter
- [x] Enable errcheck in exporter/coralogixexporter
- [x] Enable er

[2022-05-05 08:41] mx-psi opened #9750 "[all] Enable `errcheck` linter on golangci-lint for all components that pass"

[2022-05-05 08:54] mx-psi commented on #9749
Note that @fatsheep9146 is working on the parent issue, so if you are going to work on this please contact them to avoid duplicate work!

[2022-05-05 12:59] megelatim commented on #8460
No longer considering this

[2022-05-05 12:59] #8460 closed

[2022-05-05 13:04] fatsheep9146 commented on #9749
Can you assign this to me? @mx-psi

[2022-05-05 13:04] #9750 closed

[2022-05-05 13:06] djaglowski commented on #6750
Closing this issue in favor of the detailed tracking issues.

[2022-05-05 13:06] #6750 closed

[2022-05-05 13:11] Alanasking commented on #9247
That's great. @ZhouZhongzhi.
By the way, does this problem also exist in redis, pg, influxdb  database clusters?

[2022-05-05 13:20] pmm-sumo commented on #9247
Looking at the currently available attributes ([example for pg](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/postgresqlreceiver/documentation.md)), this seems to be the case. We might leverage [host](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/resource/semantic_conventions/host.md) semantic conventions (perhaps `host

[2022-05-05 13:37] dashpole commented on #9565
cc @dmitryax, codeowner of the hostmetricsreceiver component

[2022-05-05 13:38] Alanasking commented on #9247
I think define database resources semantic conventions may be better, especially in container environment

[2022-05-05 13:56] ZhouZhongzhi commented on #9247
`func (mb *MetricsBuilder) Emit(endPoint string, ro ...ResourceOption) pmetric.Metrics {
	mb.EmitForResource(ro...)
	metrics := pmetric.NewMetrics()
	mb.metricsBuffer.MoveTo(metrics)
	metricSlice := metrics.ResourceMetrics()
	for i := 0; i < metricSlice.Len(); i++ {
		sm := metricSlice.At(i).InstrumentationLibraryMetrics()
		for j := 0; j < metricSlice.Len(); j++ {
			ms := sm.At(j).Metrics()
			f

[2022-05-05 13:59] ZhouZhongzhi commented on #9247
@pmm-sumo I think instance is an appropriate attribute. This attribute is added when prometheus-Receiver collects data. They are similar in nature, both are ip:port of the called party.

[2022-05-05 14:02] ZhouZhongzhi commented on #9247
In a common Grafana dashboard, the instance label is often thought of as a tag that is used to distinguish between different instances of data collect

[2022-05-05 15:47] dashpole commented on #4992
`initial.GetSummaryValue().Count.GetValue()` (now `summary.Count()`) can't return nil anymore, so I don't think this should still be a problem

[2022-05-05 15:55] #7402 closed

[2022-05-05 19:23] pmm-sumo commented on #9522
Fixed through #9520

If you believe this issue was not addressed, feel free to reopen it

[2022-05-05 19:23] #9522 closed

[2022-05-05 19:41] pmm-sumo commented on #9247
Assuming that we want to do it in the `mysqlreceiver`, there are a couple of points. The `Emit` function is actually autogenerated. It should not be edited. However, it can be used with `ResourceOption` (adding resource-level attributes). I believe that data about instance is a good fit there. One example of doing that is [saphanareceiver](https://github.com/open-telemetry/opentelemetry-collector-

[2022-05-05 19:42] dmitryax opened #9760 "[receiver/mongodb] Cleanup setting of database attribute"
- `database` attribute is being set on resource and data points. This seems like unnecessary duplication. Resource should be the only place for the attribute
- `database` is not specific enough name for resource. It probably should be renamed to something like `mongodb.database.name`.

[2022-05-05 20:29] dmitryax opened #9761 "[processor/logstransform] Flaky test - TestLogsTransformProcessor/simpleTest"
[code]

Seen in https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6313031997?check_suite_focus=true

[2022-05-05 20:30] dmitryax commented on #9761
Looks like introduced after https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/9335

@dehaansa can you please take a look?

[2022-05-05 20:33] #8362 closed

[2022-05-05 20:55] djaglowski opened #9763 "[Makefile/checklicense] Scalability limit on files to check"
This issue was noticed while attempting to bring the log-collection library into contrib. This change would bring in a substantial number of files, but as it turns out, the `checklicense` target [fails](https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6312997349?check_suite_focus=true#step:8:8) due to an argument list that is too long. The failure message is very unhelpful as

[2022-05-05 23:32] #9241 closed

[2022-05-05 23:40] gouthamve commented on #8810
Hi, I opened a PR #9239 to fix this, but could you elaborate on your usecase @jixiuf? What would you like to achieve that is not possible right now?

[2022-05-06 00:29] dmitryax commented on #9761
Another failure in main branch https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6315386021?check_suite_focus=true

[2022-05-06 00:34] tillig commented on #9553
@mottibec I put in PR #9768 to add invert support. It... seemed really simple, like, one-liner simple. So... yay! 🎉

[2022-05-06 01:17] jixiuf commented on #8810
that PR is ok for me， thanks.

[2022-05-06 01:17] #8810 closed

[2022-05-06 01:44] dmitryax commented on #9761
one more https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6315241814?check_suite_focus=true

[2022-05-06 01:54] #8844 closed

[2022-05-06 01:54] #5982 closed

[2022-05-06 02:15] JaredTan95 commented on #9232
Hi, @mapno Any update on this new processor? :-)

[2022-05-06 07:38] ItsLastDay commented on #9565
Note that I am willing to contribute code to implement this metric.

[2022-05-06 08:59] NanyinK opened #9772 "Can not see container logs"
Hello,

I would like to enable container logs and I've enabled the values like shown below :
{
mode: daemonset

containerLogs:
  enabled: true

image:
  repository: otel/opentelemetry-collector-contrib

command:
  name: otelcol-contrib
}

but after my agent & standalone are running, there are no contents in the path I mount.( yet I can see the container & log folders were created )

I can see the

[2022-05-06 17:11] dmitryax commented on #9760
@djaglowski I assign it to you as a code owner

[2022-05-06 17:14] dmitryax commented on #9746
Ideally it should go to transform processor, but that can take time. We don't want to introduce more feature to the processors that will be replaced by transform processor

[2022-05-06 17:17] dmitryax commented on #9733
cc @mx-psi as code owner

[2022-05-06 17:36] dmitryax commented on #9682
@dashpole do we have someone who can on this?

[2022-05-06 17:50] dashpole commented on #9682
I plan to work on this as soon as I can find time.

[2022-05-06 18:19] bogdandrutu opened #9778 "Remove sync/atomic usage in missing components"

[2022-05-06 20:28] djaglowski commented on #9126
Occurred again here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6328566314?check_suite_focus=true#step:8:11728

[2022-05-06 20:38] howardyoo commented on #9746
Cool, I didn’t know about the transform processor - will definitely check it out.

Howard

Sent from my iPhone

[2022-05-06 20:59] #9555 closed

[2022-05-07 02:44] forest003 opened #9786 "An exception occurs (tracing: skywalking-receiver to zipkin-exporter )"
**Describe the bug**
I want to convert skywalking format of tracing to zipkin format, but something is wrong.

**What did you expect to see?**
I want to convert skywalking format of tracing to zipkin format.

**What did you see instead?**
2022-05-07T10:17:51.697+0800        error        exporterhelper/queued_retry.go:183        Exporting failed. The error is not retryable. Dropping data.        {"

[2022-05-07 17:16] raphaelauv commented on #9571
@fatsheep9146 thanks ! Let me know if you need a beta tester 👍

[2022-05-08 04:55] #868 closed

[2022-05-08 04:57] dmitryax opened #9790 "Flaky test - TestSegmentsPassedToConsumer"
[code]

Seen in https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6335373401?check_suite_focus=true

[2022-05-08 19:40] Mario-Hofstaetter opened #9998 "Understanding high memory usage of otelcol (prometheusreceiver / prometheusexporter)"
**Describe the bug**

I am infrequently observing high memory usage of `otelcol.exe` on Windows Systems.
The memory is however within the set bounds of `memory_limiter` (see config below). But I am not sure if this memory usage is intended behavior, since there is negligible load on the systems. I am not experienced in golang so please excuse my lack of knowledge.

My planned actions to counteract

[2022-05-08 23:49] jamesmoessis opened #9794 "[receiver/dockerstatsreceiver] Improvements proposal for dockerstatsreceiver"
Looking to invest in the `dockerstatsreceiver`, and I noticed there are a couple of improvements that we could make to the component. I am happy to implement the below improvements once discussed here.

EDIT: This list below is the initial list. See my below comment for a refined list.

1. Configuration ability to turn certain metrics on/off. Similar to `hostmetricsreceiver`. A set of default metr

[2022-05-08 23:49] jamesmoessis commented on #9794
@rmfitzpatrick as the codeowner of this component, I would really appreciate your feedback and thoughts on this :)

[2022-05-09 02:14] JaredTan95 commented on #9786
thx, I will check it soon or later.

[2022-05-09 03:52] tjiuming opened #9795 "[new component] Add apache pulsar exporter support"
## The purpose and use-cases of the new component
Pulsar exporter exports logs, metrics, and traces to Pulsar. This exporter uses a synchronous producer
that blocks and able to batch messages(configurable).

Supported pipeline types: logs, metrics, traces

## Example configuration for the component
[code]

## Telemetry data types supported

traces, metrics and logs

[2022-05-09 03:55] tjiuming opened #9796 "[new component] add apache pulsar receiver support"
## The purpose and use-cases of the new component
Pulsar receiver receives logs, metrics, and traces from Pulsar.

Supported pipeline types: logs, metrics, traces

## Example configuration for the component
[code]

## Telemetry data types supported

Supported pipeline types: logs, metrics, traces

[2022-05-09 05:16] DiptoChakrabarty commented on #9749
Hi @mx-psi  can you assign me too I can work on some of these

[2022-05-09 09:08] mx-psi commented on #9733
Thanks Dmitrii! @gbbr is working on this

[2022-05-09 09:09] vipuljain24 opened #9798 "Sqlserverreceiver detailed sample configuration link doesn't work in README.md"
**Describe the bug**
In directory "opentelemetry-collector-contrib/receiver/sqlserverreceiver/", in README.md file, there is a link to detailed sample configurations. On clicking it, it throws 404 error.

**Steps to reproduce**
Navigate to "opentelemetry-collector-contrib/receiver/sqlserverreceiver/README.md", and click on the link mentioned in configuration section for detailed sample configurati

[2022-05-09 09:18] fbuetler opened #9800 "New component: receiver/promtailreceiver"
## The purpose and use-cases of the new component

The Promtail receiver implements the [Loki push api](https://grafana.com/docs/loki/latest/clients/promtail/#loki-push-api) as specified [here](https://grafana.com/docs/loki/latest/api/#get-lokiapiv1tail). It allows Promtail instances to specify the open telemetry collector as their `lokiAddress`.

The implementation may be done analogously to [flu

[2022-05-09 15:16] djaglowski commented on #9715
I'll sponsor this.

[2022-05-09 15:21] djaglowski commented on #9800
I'll sponsor this.

[2022-05-09 17:03] djaglowski opened #9805 "[cmd/mdatagen] Remove usage of deprecated strings.Title"
See #9782

[2022-05-09 17:04] djaglowski opened #9806 "[receiver/awsxray] Remove usage of deprecated net.Error.Temporary"
See #9782

[2022-05-09 17:04] djaglowski opened #9807 "[receiver/carbon] Remove usage of deprecated net.Error.Temporary"
See #9782

[2022-05-09 17:05] djaglowski opened #9808 "[receiver/statsd] Remove usage of deprecated net.Error.Temporary"
See #9782

[2022-05-09 17:19] bogdandrutu opened #9810 "[all] Enable <code class="notranslate">depguard` linter on golangci-lint"

[2022-05-09 17:30] TylerHelmuth opened #9815 "Code Owners not being requested for review unless they have write permission"
I noticed today that Code Owners that do not have write permissions (so it seems) to the repository do not get automatically requested for review on PRs for which they are a code owner.
<img width="656" alt="Screen Shot 2022-05-09 at 11 29 28 AM" src="https://user-images.githubusercontent.com/12352919/167464866-de2127b6-79c2-4123-b004-e4243737d871.png">
[This PR](https://github.com/open-telemetry/

[2022-05-09 17:38] bogdandrutu commented on #9815
Nope, this is a known limitation of GH. I also proposed https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/7063 but the AWS folks seem to not make any progress.

[2022-05-09 17:42] TylerHelmuth commented on #9815
Nvm, my experiment won't work with a fork.  I'll test another way.

I have a suspicion that `read` access is enough, but you have to be explicitly added in the `Collaborators and teams` section.

[2022-05-09 17:46] TylerHelmuth commented on #9815
My suspicion was wrong :( definitely need write access, even as a user.

[2022-05-09 17:59] dmitryax opened #9816 "Flaky test - Test_metricTracker_sweeper"
[code]

Seen in https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6356624585?check_suite_focus=true

[2022-05-09 18:13] #9763 closed

[2022-05-09 19:59] codeboten opened #9886 "`k8sclusterreceiver` & `k8sattributesreceiver` no longer have `ClusterName`"
With recent changes to the k8s api, the `ClusterName` field has been removed. See the following change for more details:
https://github.com/open-telemetry/opentelemetry-collector-contrib/commit/6cdd63f91273803bc81e756cd0973bc153c18bd2

This field was reset by the system and never used as per: https://github.com/kubernetes/apimachinery/commit/430b920312ca0fa10eca95967764ff08f34083a3#diff-35c0c43414

[2022-05-09 20:01] codeboten commented on #9886
@dmitryax assigned to you as a codeowner for both components. pinging @pmm-sumo as well

Please close this issue if the change implemented in the PR to update dependencies is good enough.

[2022-05-09 21:26] djaglowski opened #9888 "Proposed guidelines for scoping of Make targets"
It would be helpful to clarify the intended roles of `Makefile` and `Makefile.Common`. In particular, it would be helpful to establish some explicit guidelines around how to decide whether a given piece of functionality should be "common" or not. To that end, I propose we adopt the following:

### Common targets
* Common targets are those that can be run for _any individual_ module.
* Common targe

[2022-05-10 06:28] jvilhuber commented on #9018
I'm also experiencing a significant flood of these errors (at time > 600/sec). If these are harmless, can they be lowered to info or debug?

If I read the comment above correctly, there's some changes coming that would get rid if the code emitting these errors (right?), but if this is still a ways out, reducing the level of the log seems easy and quick enough. As is, this is preventing me from usi

[2022-05-10 07:22] sarahsporck commented on #9232
@mapno Are you already working on this? I was already implementing something similar for my company, when I found this issue and would be interested to help by implementing this component. :)

[2022-05-10 08:51] mar4uk commented on #9800
Hi! I also has started working on promtailreceiver component. I was thinking to implement this component using opentelemetry-log-collection repo. The config would look like:

[code]

And the new input operator would be added to opentelemetry-log-collection repo. Here what I have done so far https://github.com/mar4uk/opentelemetry-log-collection/pull/1 (draft). And in openelemetry-contrib repo it w

[2022-05-10 15:26] mar4uk commented on #9800
I think it should be the same receiver, we can just add loki_push_api section to config:
[code]
took this example from [Example Push Config](https://grafana.com/docs/loki/latest/clients/promtail/configuration/#example-push-config)

[2022-05-10 16:55] tchernomax opened #9895 "hostmetricsreceiver/filesystem: don't monitor bind mount"
hostmetricsreceiver/filesystem fail to monitor bindmount (in k8s).

I am using quay.io/signalfx/splunk-otel-collector:0.50.0

When hostmetricsreceiver/filesystem is enable I get:
[code]
(I tried changing runAsUser to "root", without success).

On the node:
[code]
→ it's a bind mount.

**Steps to reproduce**

[code]
Run hostmetricsreceiver/filesystem .

**What did you expect to see?**

No warning m

[2022-05-10 17:42] #9778 closed

[2022-05-10 18:08] BinaryFissionGames commented on #9254
Hey @djaglowski, circling back on this with a proposal here -

I'd propose a config with these options:

[code]

This config would scrape http://localhost:8901/metrics for prometheus metrics (this would be the default)

This is significantly reduced/simplified from the config of the prometheus exporter, and much easier to configure scraping from couchbase.

@cpheps already provided some good examp

[2022-05-10 18:50] djaglowski commented on #9254
Thanks for the additional details @BinaryFissionGames. This is probably worth discussing in the Collector SIG tomorrow, if you can make it. I'm not a prometheus expert, so maybe some others there can help evaluate the proposal.

Just to clarify, doesn't the user still need to configure a prometheus exporter in addition to this receiver? Did you mean to say this receiver would be simpler than the p

[2022-05-10 18:56] dmitryax commented on #8856
@rubenruizdegauna this is fixed now, right?

[2022-05-10 19:00] dmitryax commented on #9565
Just adding emitting more datapoints with additional attribute would be a breaking change. This will make one of the issues described in https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/7417 even worse.

But it'll work well if we introduce a concept of optional attributes as proposed in https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/7417#issuecomme

[2022-05-10 19:08] BinaryFissionGames commented on #9254
Right, that's what I meant, oops.

An exporter needs to be configured for v6.x and below, couchbase has a prometheus endpoint by default as of v7.0:
https://docs.couchbase.com/operator/current/howto-prometheus.html#couchbase-prometheus-endpoint
[code]

I'll bring it up at the SIG tomorrow.

[2022-05-10 19:23] bogdandrutu opened #9939 "Clarify usage between testcontainer and containertest"
Right now, half of our intergration tests are using the internal package `github.com/open-telemetry/opentelemetry-collector-contrib/internal/containertest` and the other half are using the external package `https://github.com/testcontainers/testcontainers-go`

I think we should consolidate on one of the packages.

[2022-05-10 20:35] #9601 closed

[2022-05-11 04:12] chenluo1234 commented on #4968
@huyan0 @alolita @amanbrar1999 @JasonXZLiu Any progress on this issue?

One use case we are having is using statsd receiver and prometheusremotewriteexporter together. Given that statsd receiver produces delta metrics, we will need this processor to convert them into cumulative metrics before handing over to prometheusremotewriteexporter, which only accepts cumulative metrics.

[2022-05-11 06:35] dmitryax commented on #7417
That's true, we should always aim to have meaningful total values. Proposing optional attribute values, I imply that the sum of attribute values enabled by default should represent the most reasonable total value. At the same time, I can think of use cases when user wants to disable some attributes values or add others optional ones and have their own custom meaningful sums out of them. In this ca

[2022-05-11 07:46] rubenruizdegauna commented on #8856
Yes, sorry I didn't remember to close the issue :( , closing...

[2022-05-11 07:46] #8856 closed

[2022-05-11 09:04] ItsLastDay commented on #9565
Sounds reasonable, thanks!

From the discussion in #7417 I understood that those optional attributes are still in a brainstorming phase. Is that correct?

Does any other receiver have a similar feature/concept?

I'll subscribe to #7417 to keep track of the updates.

[2022-05-11 13:31] djaglowski opened #9950 "[pkg/stanza] Remove repo-level files"
Followup to #9922, which ports over the log-collection codebase without any cleanup.

Chore is to remove files and directories that existed only for the purpose of managing the codebase as a standalone repo.

[2022-05-11 14:04] djaglowski opened #9951 "[pkg/stanza] Remove exclusion from versions.yaml"
Followup to #9922

[2022-05-11 14:06] djaglowski opened #9952 "[pkg/stanza] Remove exclusion from check-collector-module-version.sh"
Followup to #9922

Remove exclusion from `.github/workflows/scripts/check-collector-module-version.sh`'s `mod_files`

[2022-05-11 14:07] djaglowski opened #9953 "[pkg/stanza] Remove exclusion from Makefile's ALL_MODULES"
Followup to #9922

Remove exclusion from `Makefile`'s `ALL_MODULES`

[2022-05-11 14:15] djaglowski opened #9954 "[pkg/stanza] Rename module in files"
Followup to #9922

Module is currently listed as `github.com/open-telemetry/opentelemetry-log-collection` but should be changed to `github.com/open-telemetry/opentelemetry-collector-contrib/pkg/stanza`

[2022-05-11 14:17] djaglowski opened #9955 "[pkg/stanza] Remove pkg/stanza/internal/tools module"
Followup to #9922

`pkg/stanza` should use this repo's tools.

[2022-05-11 14:36] djaglowski commented on #9953
Because there will be many lint errors, it will likely make sense to temporarily add `exclude-rules` for this module in `.golangci.yml`. Those rules can then be removed and resolved one at a time.

[2022-05-11 14:40] djaglowski opened #9956 "[pkg/stanza] Replace dependency on log-collection in components"
This should be done once all cleanup issues from #9922 have been resolved.

- [ ] `filelogreceiver`
- [ ] `journaldreceiver`
- [ ] `syslogreceiver`
- [ ] `tcplogreceiver`
- [ ] `udplogreceiver`
- [ ] `windowseventlogreceiver`
- [ ] `logstransformprocessor`

[2022-05-11 14:43] djaglowski opened #9957 "[pkg/stanza] Move internal/stanza to pkg/stanza/adapter"
Followup to #9956

These modules are so closely related that they should be combined.

[2022-05-11 14:50] djaglowski opened #9958 "[pkg/stanza] Migrate issues from log-collection"

[2022-05-11 14:51] djaglowski opened #9959 "[pkg/stanza] Archive log-collection repo"

[2022-05-11 14:52] djaglowski opened #9960 "[pkg/stanza] Tracking issue for integration into contrib"
Initial clean tasks:
- #9950
- #9951
- #9952
- #9953
- #9954
- #9955

Integration into existing components:
- #9956

Followup tasks:
- #9957
- #9958
- #9959
- #10012

[2022-05-11 15:47] mapno commented on #9232
Hey! Apologies for the delay. I've been busy the last couple of weeks. I want to open a PR by the end of the week or next week. My intention is porting the current implementation from Tempo to the collector. Reviews and new ideas will be very welcome :)

[2022-05-11 16:22] codeboten opened #9962 "Add note about semantic conventions in the stability"
As a result of a discussion in the May 11 Collector SIG, it was agreed that a telemetry producing component should not be marked stable until semantic conventions exist for the telemetry produced. This issue tracks adding this to the stability levels: https://github.com/open-telemetry/opentelemetry-collector-contrib#stability-levels

[2022-05-11 16:24] codeboten opened #9963 "Add per metric stability"
As discussed in May 11th SIG call, it was discussed that there should be stability levels for individual metrics generated for each component.

[2022-05-11 16:49] dashpole opened #9967 "Round-tripping prometheus metrics can produce unexpected extra labels"
This was raised by @bogdandrutu at the sig meeting today (5/11).

**Describe the issue**
The prometheus receiver splits `instance` into `net.host.name` and `net.port.name`, and also adds `http.scheme`.  If you are running on kubernetes, it also adds many k8s.* resource attributes based on the service discovery labels.

If you use a prometheus receiver, and a prometheus exporter with `resource_to_t