[2021-06-08 15:41] gramidt commented on #3665
Since @pcwiese is the code owner, I'll let them respond.

[2021-06-08 17:03] djaglowski opened #3744 "Extract API from internal/stanza"
**Is your feature request related to a problem? Please describe.**
The `internal/stanza` package allows one to easily build a log receiver from an [otel-log-col](https://github.com/open-telemetry/opentelemetry-log-collection) operator. However, because it is an internal package, it cannot be used outside of the contrib collector.

**Describe the solution you'd like**
Extract an API from the packag

[2021-06-08 21:46] gramidt commented on #3736
Reference link to the Slack thread where this being discussed: https://cloud-native.slack.com/archives/C01N6P7KR6W/p1623081945118600

[2021-06-08 21:58] gramidt commented on #3537
@urso @faec @blakerouse - I quickly took a look and noticed that the "elasticsearchexporter" was not in the components file. Is this intentional?

[2021-06-08 23:55] puckpuck opened #4914 "attributes processor - regex replace action"
**Is your feature request related to a problem? Please describe.**
I have a need to remove only certain URL parameters from the `http.url` attribute. Some parameters such as email, user, etc can leak PII data.

**Describe the solution you'd like**
A way to rewrite the `http.url` attribute removing only the PII parameters. This could be accomplished with a "regex_replace" type of action that will a

[2021-06-09 14:15] maxsivkov opened #3746 "Allow to specify resource label as 'from_attribute' in routingprocessor"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Currently *from_attribute* can reference http header only. Allowing to specify resource label (from the ResourceSpansSlice struct) as *from_attribute* allows to route traces based on attributes gathered earlier. For example to route trace to specific exporter based on a pod name (gathered by

[2021-06-10 11:53] urso commented on #3537
Yes, it is still in development. Although events can already be send, not all feature can be configured, which will result in a panic.

[2021-06-10 16:42] gramidt commented on #3730
@bogdandrutu @tigrannajaryan - The v0.28.0 release was not published due to this failure.

[2021-06-10 16:44] Aneurysm9 commented on #3277
I believe this issue can be closed.  There was apparently a question regarding whether the values in the `BuildInfo` initialized by `otelcontribcol` were appropriate, but they seem fine and nobody has made a clear case for changing them.  Feel free to re-open or create a new issue if this needs to be revisited.

[2021-06-10 16:44] #3277 closed

[2021-06-10 17:47] hossain-rayhan opened #3751 "[Design] New Processors to calculate rate from Cumulative Sum metrics"
Design doc [link](https://docs.google.com/document/d/1NjeqzamzooqQP26hy5BWPvNsONLvdmV1bWqGwhMFoS4/edit#heading=h.br6h8f8h77c6).

**Use case**
I am looking for a way to calculate rate metrics from incoming cumulative data points. For example, to calculate the cpu usage rate metrics, we need to get the usage difference of current data point and previous data point, and then divide the usage differen

[2021-06-11 13:17] jpkrohling commented on #2532
This might be related:

[code]

[2021-06-11 13:56] tigrannajaryan commented on #3730
@sumo-drosiek TestLog10kDPS/udp fails quite a lot. As an author will you be able to look into this and make it stable?

[2021-06-11 19:58] ttomsu commented on #1217
Just hit this trying to use the `filelogreceiver` with v0.28.0.

[2021-06-13 13:40] seanyu4296 opened #3758 "Inserting wrong `trace_id` in logs because of datadog exporter"
**Describe the bug**

### Inserting wrong `trace_id` for Datadog exporter
Hi I am inserting `trace_id` and `span_id` in my service's logs through https://github.com/open-telemetry/opentelemetry-js-contrib/pull/432/files, but i am getting a different `trace_id` (e.g. `88fbc3df6201cf40ca3de6411f0f456e` instead of `14573057136609150318`

I digged into it and I think it is because of this
https://gith

[2021-06-14 02:32] seanyu4296 commented on #3758
later found this as suggested https://docs.datadoghq.com/tracing/connect_logs_and_traces/opentelemetry/

[2021-06-14 05:56] sumo-drosiek commented on #3730
@tigrannajaryan I can look at this, but I'm afraid the reason is UDP itself. I will perform some network investigation to check if this is really the issue. What can we do if using UDP is the issue? Can we make the test optional?

[2021-06-14 06:28] jpkrohling commented on #1339
The latest changes did have an effect, and I'm now getting manageable levels of notifications! Thank you!

[2021-06-14 06:28] #1339 closed

[2021-06-14 15:47] aallrd opened #3784 "Failure to run `go list -mod=readonly -m -u -json all`"
**Describe the bug**
I am not able to run `go list -mod=readonly -m -u -json all` successfully on this project.

**Steps to reproduce**
Clone the main branch.
[code]

**What did you expect to see?**
I am not expecting to get a return code 1 from this command.

**What did you see instead?**
[code]

**What version did you use?**
Version: main branch
Can also be reproduced on tags v0.27.0 or v0.28.0

[2021-06-14 15:49] tigrannajaryan commented on #3730
Do you mean the UDP receiver has a bug?

[2021-06-14 19:22] jrcamp commented on #2835
Could this be a generic object storage using a library like https://github.com/chartmuseum/storage (not advocating this particular one, just as an example). Authentication methods may vary across cloud providers so maybe config options may still need to be cloud specific or something like that but using a library that already abstracts across the providers may still make it easier to extend to oth

[2021-06-14 23:49] jrcamp commented on #3751
Can it be a new action in `metrics_transform_processor` or its successor instead of separate processor?

[2021-06-15 05:38] sumo-drosiek commented on #3730
@tigrannajaryan I mean, UDP doesn't guarantee reliability, so some packets can be loss by definition

https://en.wikipedia.org/wiki/User_Datagram_Protocol#Reliability_and_congestion_control_solutions

[2021-06-15 09:33] jack161641 opened #4913 "use exporters kafka with sasl get error"
**Describe the bug**
A clear and concise description of what the bug is.
Error: cannot build pipelines: cannot build builtExporters: error creating kafka exporter: kafka: client has run out of available brokers to talk to (Is your cluster reachable?)
2021/06/15 17:25:48 application run finished with error: cannot build pipelines: cannot build builtExporters: error creating kafka exporter: kafka: c

[2021-06-15 12:06] robertlynch2020 opened #3789 "Sending Data to Splunk the Host it not Defined in the exportor"
**Describe the bug**

We are generating OpenTelemety Data and we are sending it via HEC/ HTTP into Splunk using an exporter 0.26.0.
The data is arriving and we can see "source", "sourcetype" etc... but the "Host" is not defined. Splunk is reading this as unknown when it arrives.

![image](https://user-images.githubusercontent.com/85939450/122048223-eabfcb00-cdd8-11eb-8d4a-7a3873e7670f.png)

I can

[2021-06-15 15:47] tigrannajaryan commented on #3730
Yes, it is possible but should not normally happen on localhost connections. It can happen in edge cases (e.g. overwhelming kernel queues or something), but in regular tests we should not be observing this.

Again, I think it is possible the UDP packets are lost but I believe a more plausible explanation is that something is wrong in our implementation.

I would want to see a more detailed investi

[2021-06-15 16:21] jrcamp commented on #3789
Need to set host.name resource attribute somewhere using something like resourcedetection processor or resource processor.

[2021-06-15 16:21] #3789 closed

[2021-06-15 16:45] punya opened #5030 "receiver/hostmetrics: Paging device is populated on Windows but not other platforms"
**Describe the bug**
When the host metrics receiver is enabled with the paging scraper, it produces metric data points describing paging usage. According to the [metadata](https://github.com/open-telemetry/opentelemetry-collector/blob/05f16c5b13710bfa43c23cad0ad192127f9e5e1f/receiver/hostmetricsreceiver/metadata.yaml#L296-L303)

[code]

it's supposed to have a label for the paging device. In reali

[2021-06-15 17:02] robertlynch2020 commented on #3789
Hi

Thanks for your reply, however, I am confused.

So I get this when I try that.

Error: cannot load configuration's parser: error loading config file
"otelcol-gateway-config.yml": unable to read the file
otelcol-gateway-config.yml: While parsing config: yaml: line 10: did not
find expected key
2021/06/15 19:00:59 application run finished with error: cannot load
configuration's parser: error loa

[2021-06-15 18:11] jrcamp commented on #3789
Can you post the whole config

[2021-06-15 18:24] robertlynch2020 commented on #3789
Hi

Thanks for your help with this. The part in bold is the new part that I
have added.

otelcol-gateway-config.yml

receivers:
  otlp: # pushed by clients
    protocols:
      grpc:
        endpoint: :${OTLP_RECEIVER_PORT}

processors:
  batch:
    timeout: 1s

*  resource:    attributes:     key: host.name <http://host.name>
 value: "TEST1"     action: insert*

exporters:
  prometheus: # pulled

[2021-06-15 20:38] jrcamp commented on #3789
attributes is a list of actions. See https://github.com/open-telemetry/opentelemetry-collector/tree/main/processor/resourceprocessor for example. Also you need to add resource processor to your pipeline `processors: [batch, resource]`

[2021-06-16 09:24] robertlynch2020 commented on #3789
HI

This worded and thanks.

The file code is below.

receivers:
  otlp: # pushed by clients
    protocols:
      grpc:
        endpoint: :${OTLP_RECEIVER_PORT}

processors:
  batch:
    timeout: 1s
  resource:
    attributes:
     key: host.name
     value: "TEST1"
     action: insert

exporters:
  prometheus: # pulled by prometheus
    endpoint: :${PROMETHEUS_EXPORTER_PORT}
  splunk_hec: # pushe

[2021-06-16 12:48] #3758 closed

[2021-06-16 18:42] chaitanyaphalak commented on #3430
Closed as part of https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/3384

[2021-06-16 18:42] #3430 closed

[2021-06-16 18:45] chaitanyaphalak commented on #3499
Hey @deepakkhetwal your config is incorrect. Please look at this example and try again
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/processor/k8sprocessor/testdata/config.yaml
Thanks

[2021-06-17 00:02] Aditya-Gollapudi opened #3795 "The Repo Doesn't Build"
The repo won't build from lib or from tree after the most recent pull. I'm on Mac if that matters. The error is the following: processor/metricstransformprocessor/operation_scale_value.go:24:110: op.configOperation.Scale undefined (type Operation has no field or method Scale)
processor/metricstransformprocessor/operation_scale_value.go:26:98: op.configOperation.Scale undefined (type Operation has

[2021-06-17 07:28] mx-psi commented on #3795
Hi, can you double check that you are on the right branch? 4906c262cf9a833059973acb059dbbf2ab29a3f7 builds correctly for me (and it also builds on CI)

[2021-06-17 10:05] AJ-54 commented on #3744
Hi, Are there any updates on this?

[2021-06-17 10:09] AJ-54 commented on #3495
Can I know what needs to be done if this is still active, I can take this one.

[2021-06-17 18:14] Aditya-Gollapudi commented on #3795
I'm on the main branch with the most recent commit being 9c6bc6e00097d81ac59528d4b03fae88f26bb4f6 by Bogdan.

After doing another fresh clone and redownloading al the dependencies building from lib works but building from tree still fails (although with a different error)

GO111MODULE=on CGO_ENABLED=0 go build -trimpath -o ./bin/otelcontribcol_darwin_amd64 \
		-ldflags "-X github.com/open-telemetr

[2021-06-18 13:10] ttomsu commented on #2332
Any progress on this? Would love be able to pull in `journald` entries into our logging solution!

[2021-06-18 13:57] neoaisac opened #3804 "Documentation to export to DataDog Agent (docker)"
Looking at documentation both in the OpenTelemetry Collector and in the DataDog Agent sites, it seems that there is a possibility of either using the OpenTelemetry Collector to send data directly to DataDog's cloud, or to run a local DataDog Agent but bypass OpenTelemetry (use native integration with DataDog).

How would one go about using OpenTelemetry to export application traces in an open form

[2021-06-18 15:14] ttomsu opened #3805 "Add operators config block to `tcplog` receiver"
**Describe the solution you'd like**
Much like the `operators` block in the [filelog receiver](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/filelogreceiver#operators), it'd be really nice to reuse all the operators from `opentelemetry-log-collection` on the tcplog input.

cc @djaglowski

[2021-06-18 16:09] djaglowski commented on #2332
@ttomsu, thanks for bringing this up. I think the next steps are to address Tigran's points.

If we end up depending on `journalctl`, the effort should be fairly straightforward.

To that end:

I believe the short answer is Yes. `journald` and `journalctl` are both part of `systemd`. You can see `journald*` files and `journalctl.c` in the same source directory [here](https://github.com/systemd/sys

[2021-06-18 16:09] jsirianni commented on #2332
We bundle systemd (which includes journalctl) into [Stanza image.](https://github.com/observIQ/stanza/blob/master/Dockerfile)

Before that, we required CGO. The decision was made that relying on a binary (inside the docker image) was preferable.

[2021-06-18 16:26] djaglowski commented on #3805
Good new, I believe this is just a documentation issue. See #3806

[2021-06-18 18:06] jrcamp opened #3807 "[exporters/splunkhec] TraceID and SpanID aren't included in log events"
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/fa68c59476a33009aecbb925d4f1304e95d6e3ec/exporter/splunkhecexporter/logdata_to_splunk.go#L41

@breedx-splk reports neither `TraceID` nor `SpanID` on the `LogRecords` are sent. Need to decide what to name them in the HEC field.

@tigrannajaryan thoughts on naming these for the HEC output? I didn't see a semantic convention for t

[2021-06-19 08:51] uds5501 opened #3809 "[exporters/sentryexporter] Recorded errors in spans not being exported in Sentry"
**Describe the bug**
When we record errors and/or exceptions via opentelemetry sdk / api. The exceptions are stored as an event (in Go sdk) within the span Events.
When the conversion between input span to sentry spans occur, there is no conversion of these exceptions to sentry events, which needs to be there to leverage full capabilities of Sentry's distributed tracing suite.

**Steps to reproduc

[2021-06-19 08:52] uds5501 commented on #3809
PS : I have a fix for this inspired by how `elastic-exporter` uses the event handling and have created a local fix for this, and I would love to push that for a review @bogdandrutu @tigrannajaryan

[2021-06-20 20:52] ilaif commented on #1800
Hey guys, what's the status of the exporter? Couldn't determine if it's "released" yet. Didn't find any documentation.
Thanks!

[2021-06-21 12:30] opentelemetry-bot opened #3845 "Bug report for failed CircleCI build (job: loadtest-with-github-reports)"
Auto-generated report for `loadtest-with-github-reports` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/134974

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-06-21 14:13] #3736 closed

[2021-06-21 16:19] AbhiPrasad commented on #3809
Hey @uds5501 I wrote the Sentry exporter. If you're interested, I would be more than happy to review a possible PR and discuss how we can bring this into the exporter.

We've discussed in the past to have the exporter convert span events to Sentry breadcrumbs, but we didn't end up implementing that for the first instance of the exporter. Maybe we can leverage your fix to make that happen?

[2021-06-21 16:50] breedx-splk commented on #3807
Hey @jrcamp the current thought is to [follow the spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/logs/overview.md#trace-context-in-legacy-formats) and use underscores. Cool?

[2021-06-21 16:53] uds5501 commented on #3809
@AbhiPrasad That sounds awesome, I will send over a PR by tomorrow showing my fix specific for the error part. We can extend it to include all span events from there!

[2021-06-21 17:07] pmalek-sumo opened #3849 "metricstransformprocessor doesn't rename metric names properly using regexp groups"
**Describe the bug**
When a regexp group is used to match a part of metric name the capture group is not available in the result (when specified in the `new_name` configuration option).

**Steps to reproduce**

* Use the config mentioned below
* Observe below described non effect

**What did you expect to see?**

Metrics called `CPU_LoadAvg_1`, `CPU_LoadAvg_5`, `CPU_LoadAvg_15`

**What did you see

[2021-06-21 17:36] je-al commented on #457
Or to use the properties elsewhere? e.g. in the self scrapped internal metrics from the collector...

[2021-06-21 19:40] tigrannajaryan commented on #3807
See https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/logs/overview.md#trace-context-in-legacy-formats

[2021-06-21 22:44] #3807 closed

[2021-06-22 14:15] #2227 closed

[2021-06-22 14:16] #3805 closed

[2021-06-23 17:27] djaglowski commented on #2946
Resolved by [opentelemetry-log-collection#182](https://github.com/open-telemetry/opentelemetry-log-collection/pull/182), and included in collector contrib release 0.29.0

[2021-06-23 17:27] #2946 closed

[2021-06-23 20:45] sodabrew opened #3869 "Sentry: mapping OTLP service.name to DSNs for multiple Sentry Projects"
**Is your feature request related to a problem? Please describe.**

The Sentry exporter takes a DSN argument which maps to a single Project, but I wouldn't want to run a separate OpenTelemetry Collector process for each of my projects.
https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/sentryexporter

**Describe the solution you'd like**
Ideally, Sentry itself cou

[2021-06-23 22:43] AbhiPrasad commented on #3869
I think this is a very reasonable request - in fact we’ve tracked a similar issue in our fork of the SDK. https://github.com/getsentry/opentelemetry-collector-contrib/issues/10

I’ll assign myself there and see if I can push out a patch. Thanks for reporting!

[2021-06-23 23:05] sodabrew commented on #3869
Thank you!

[2021-06-23 23:57] tonglil commented on #3654
Thanks for elaborating on this here.

I ran into this and spent a lot of time thinking it was something wrong with my collectors:

Why is that so? I've changed my app to count and emit one single counter value per execution so I don't have to do aggregation in Datadog, however this value is dropped because it's the only value being emitted.

FWIW I ended up switching to a updowncounter because of

[2021-06-24 01:13] emeraldbay commented on #2835
But I think this exporter is specific to S3

[2021-06-24 01:14] emeraldbay commented on #2835
Initial code to kick off the discussion

https://github.com/emeraldbay/opentelemetry-collector-contrib/commit/faf3268e9bbad8973e776e75685d0c261ae02f5e

[2021-06-24 07:49] mx-psi commented on #3654
Datadog counts expect a fixed interval (i.e. report the count every 10 seconds) but OpenTelemetry cumulative monotonic sums do not need to have this (they can have an arbitrary interval). The instrumentation APIs report with a fixed frequency but the first value may be for a larger interval in some cases. To avoid a possible weird-looking peak on the first point, we took the decision (on OpenMetri

[2021-06-24 09:53] mx-psi opened #3870 "Some components are missing CODEOWNERS"
Some components do not have owners listed on CODEOWNERS; this makes it hard to have someone to ping in case we need something.

The list of components missing a CODEOWNER is available [**here**](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/.github/ALLOWLIST).

If you want to maintain any of these components, please **open a PR** to add yourself as a CODEOWNER and rem

[2021-06-24 10:08] mx-psi opened #3871 "Check for CODEOWNERS on CI"
We have no automatic check for CODEOWNERS on CI.

A CI check can be added so that
1. every component has a CODEOWNERS line and
2. every component listed on CODEOWNERS actually exists (to prevent typos).

[2021-06-24 15:55] jrcamp commented on #2835
@emeraldbay why must it be s3 specific?

[2021-06-24 16:14] Aneurysm9 commented on #3870
I can be listed as an owner for `receiver/awscontainerinsightreceiver`.  Seeking to confirm a second engineer and will update this comment when I've done so.

[2021-06-24 16:36] djaglowski opened #10285 "[pkg/stanza] file_input: Process queuedMatches asap, rather than waiting for subsequent polling cycles"
When the file_input operator matches a number of files larger than `max_concurrent_files`, it saves some of the files to a queue, and processes up to `max_concurrent_files` during each subsequent poll cycle, until the queue is emptied.

There is really no need to depend upon the polling cycle to trigger the processing of subsequent files, so long as the number of open files can be managed to not e

[2021-06-24 16:50] pavankrish123 commented on #3870
I am fine being owner for `extension/oauth2clientauthextension` once #3848 is merged. Thanks.

[2021-06-25 12:08] rodrigo-garcia-edo opened #3878 "Silent awsxrayexporter problems does not allow debugging (maybe is a bug not a feature, not sure)"
**Is your feature request related to a problem? Please describe.**
I am trying to configure otel-collector awsxrayexporter to send traces to XRay but it silently fails (basically it looks like it works without any console debug errors or http://localhost:55679/debug/tracez logs available)

Note1: using AWS-CLI xray service with the same credentials works fine and a trace is generated.
Note2: I als

[2021-06-25 16:42] mxiamxia commented on #3878
Hi @rodrigo-garcia-edo , can you try enable `debug` logs by updating the `command:` setting in your setup config? AWSXRayExporter seems printing the API response error logs in `debug` mode that's why you feel it failed silently.

`command: [ "--config=/etc/otel-collector-config.yml", "--mem-ballast-size-mib=100", ""--log-level=DEBUG"]`

[2021-06-25 17:24] mxiamxia commented on #3751
Hi @hossain-rayhan, This seems to be a common use case in AWS. We have implemented a common cumulative metrics rate/delta calculation utils under `aws/internal` folder. It provides a default metrics delta value calculation implementation and the other component can also define their own custom Delta calculation func.

Q: do we really need a new processor to do the delta calculation? or the current

[2021-06-25 19:35] tech4gk commented on #3164
Hi, @hanjm
 Thanks for doing this. This is a very important piece of the puzzle that is missing for lot of use cases.
Any ETA on when this feature will be available for us to test it out ? I would be very happy to part of testing and validating the framework. Thanks

[2021-06-25 20:06] hossain-rayhan commented on #3751
Hi @jrcamp and @mxiamxia , This is a pretty common requirement asked by multiple vendors. I discussed this in our weekly meetings couple of times and reviewed the design. The suggestion actually came from Bogdan and Josh McDoland. They felt making two different processors would be ideal here-

1. Cumulative to Delta Processor
2. Delta to Rate Processor

Also, @mxiamxia where do you suggest to put

[2021-06-26 06:41] eundoosong commented on #3871
Hello,
I'd like to take this and have some questions before going on.

How to get the list of every component? Should I check all directories in root such as `/exporter`, `/extension` , `./internal` and so on?

I think it's enough to check the existence of each directory for every component listed on CODEOWNERS.
Is this ok?

Where should I put a check script in .github/workflows?  Can I add a job

[2021-06-28 06:48] rodrigo-garcia-edo commented on #3878
You are absolutely right Min! I was so focused on the exporter logging log level that i totally missed the log level on the collector.
Thanks a lot!

[2021-06-28 06:48] #3878 closed

[2021-06-28 07:50] mx-psi commented on #3871
That's awesome @eundoosong :) Please take into account that the final decision on whether to merge this is not mine to make, so you may want to wait for a maintainer's '👍'  on this. Also, the check will fail because some components are currently missing a CODEOWNER (see #3870).

Every Go module is a component, so you can search for `go.mod` files; the parent folder of each `go.mod` file will be a

[2021-06-28 09:41] pmalek-sumo commented on #3849
It seems that in order to use the value captured from the regex one needs to use double `$` like so (using single `$` to get env variables):

[code]

Curly braces are required if the placeholder is not the list thing in the `new_name`.

[2021-06-28 13:47] bogdandrutu commented on #3871
You can also see https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/Makefile#L18

[2021-06-28 14:17] HashemTaheriSonos opened #4036 "faulty conversion of x-ray to Jaeger"
**Describe the bug**
I'm exporting traces to both AWS and Jaeger. I set up an otel-collector which receives in the x-ray format and export to Jaeger. The traces are fully shown in the Jaeger but the dependency graph is not showing anything and cannot compute the tree. as I checked that's because these traces, do not have any `references` value set, that's why from the jaeger side [it cannot comput

[2021-06-28 15:57] gillg commented on #3090
Implementation of out-of-order toleration underway on Loki side ! 🎉

[2021-06-28 20:00] jrcamp opened #3977 "Investigate multiple scraper performance"
As part of https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/1395#issuecomment-747715986 there were performance issues discovered with having hundreds (thousands?) of scrapers.

Current theory is due to each scraper having its own ticker.

[2021-06-29 12:17] aallrd commented on #3784
Seems that it's a known issue in Golang 1.16: https://github.com/golang/go/issues/45305

[2021-06-29 12:17] #3784 closed

[2021-06-29 12:56] albertteoh opened #4027 "[spanmetrics] Support resource dimensions"
**Is your feature request related to a problem? Please describe.**
Add resource dimensions to span metrics such as `ip`, `hostname`, `region`, etc.

**Describe the solution you'd like**
Along with building the metrics key based on a span's `Attributes()`, the span metrics processor should also permit searching for the configured dimensions in the `Resource()` list of attributes. The configuration

[2021-06-29 14:02] BinaryFissionGames opened #4029 "CircleCI Windows build uses go1.15 instead of go1.16"
**Describe the bug**
CircleCI uses go1.15 for it's Windows build instead of using go1.16.

**Steps to reproduce**
Put any code specific to go1.16 (e.g. using one of the functions moved out from the ioutil package, such as io.ReadAll) in a PR; this code will fail to build for this step.

**What did you expect to see?**
Code builds for Windows on CircleCI

**What did you see instead?**
Code fails to

[2021-06-29 15:45] #4029 closed

[2021-06-29 23:19] bogdandrutu opened #4034 "groupbytraceprocessor test flaky on windows"
[code]

See https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/16095/workflows/d72e1b69-fc8f-4e9c-8c08-be39f75762eb/jobs/140089

[2021-06-29 23:33] bogdandrutu commented on #4034
This also started to be flaky after @mx-psi PR to upgrade to golang 1.16

[2021-06-30 00:17] #4034 closed

[2021-06-30 05:50] alolita opened #4757 "Implement redesigned Collector Metrics Processor"
The metrics processor redesign discussion is in progress. See related issue open-telemetry/opentelemetry-collector#3185 for proposed design.

[2021-06-30 05:58] alolita opened #4891 "[Tracker Issue] Prometheus receiver evaluate design and optimize implementation"
The Prometheus receiver needs to be redesigned to be focused on scraping metrics in a reliable and scalable way.

Related issues tracking Prometheus receiver redesign and implementation are in tracked in this list by the Prometheus workgroup at https://github.com/open-telemetry/wg-prometheus/issues?q=is%3Aopen+is%3Aissue+label%3Aprom-receiver

[2021-06-30 06:26] anuraaga commented on #4036
@alolita This issue seems to be about jaeger exporter so the core repo was appropriate I think

[2021-06-30 07:31] albertteoh commented on #2838
@bogdandrutu should the spanmetrics processor even create a `Math.MaxFloat64` bucket as an overflow? Or can we assume everything else will correctly fall into the `+Inf` bucket for both `prometheus` and `prometheusremotewrite` exporter?

[2021-06-30 12:35] HashemTaheriSonos commented on #4036
@anuraaga I changed the configuration and removed the `awsxray` as an exporter/receiver between the adot agent and adot collector but as expected didn't solve the issue, and basically didn't make any changes to the traces.

[2021-06-30 16:07] juanma-cvega opened #4038 "influxdb exporter, failed to convert OTLP metric to line protocol: unsupported sum aggregation temporality AGGREGATION_TEMPORALITY_DELTA"
**Describe the bug**
I'm currently using Micrometer in a Spring Boot application with the Statsd implementation to send metrics to the collector. I've already tried using the AWS CloudWatch EMF exporter but now I'm trying to send metrics to InfluxDB instead. When the collector tries to send the metrics to the database, I get the error

After enabling debug level for the logs, I can see entries lik

[2021-06-30 16:12] courageJ opened #4756 "Configure prometheus receiver garbage collection interval"
**Is your feature request related to a problem? Please describe.**
For prometheus receivers which disable UseStartTimeMetric to scrape endpoints sampling metrics every 2+ minutes, the timeseries are always reset as the initial, and no metrics will be passed to nextConsumer.

**Describe the solution you'd like**
Provide an option in prometheus receiver to configure the gc interval

[2021-06-30 16:21] opentelemetry-bot opened #4040 "Bug report for failed CircleCI build (job: windows-test-with-github-reports)"
Auto-generated report for `windows-test-with-github-reports` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/140293

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-06-30 16:22] #4040 closed

[2021-06-30 16:45] bogdandrutu opened #4042 "Flaky ecsobserver tests TestExtensionStartStop on windows"
[code]

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/16115/workflows/5bd64a83-ae1d-4309-8a7b-5b534b7c3134/jobs/140322

[2021-06-30 16:45] bogdandrutu commented on #4042
/cc @alolita please help with this

[2021-06-30 16:46] bogdandrutu opened #4043 "Flaky tests loadbalancingexporter on windows golang 1.16"
[code]

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/16109/workflows/81fec083-22e5-47a7-bda2-ab0c7b83a948/jobs/140344

[2021-06-30 17:36] bogdandrutu opened #4045 "Split stability tests in a separate GA workflow"
* easier to enable/disable
* smaller build-and-test.yml file

[2021-06-30 17:43] jrcamp commented on #1495
This was fixed in #1672

[2021-06-30 17:43] #1495 closed

[2021-06-30 18:22] jrcamp commented on #2148
We fallback to using the plain hostname if fqdn lookup fails as of #3099. Closing since it's not a fatal error now and we rely on go-fqdn to do the fqdn magic.

[2021-06-30 18:22] #2148 closed

[2021-06-30 18:48] jrcamp commented on #2226
Dupe of #2015

[2021-06-30 18:48] #2226 closed

[2021-06-30 19:44] jrcamp commented on #2015
It's going to be difficult to change this in a backwards compatible way. I think maybe we keep with `port` and if a user decides to use two different observers both with port type (unlikely) they need to add a disambiguating rule like `type == "port" && observer.type == "k8s" ...`. We don't have `observer.*` today though so that would be the net-new.

[2021-06-30 20:42] codeboten commented on #3795
I couldn't reproduce this building from `main`, is it still a problem?

[2021-06-30 21:14] juanma-cvega commented on #4038
After going through the list of issues, could my problem be related to https://github.com/open-telemetry/opentelemetry-specification/issues/731? I assume other systems like Telegraf must be doing the aggregation internally for them to work with InfluxDB.

[2021-07-01 06:29] fabiomdiniz opened #4051 "[spanmetricsprocessor] latency_histogram_buckets only supports buckets >= 1ms"
**Describe the bug**
It seems that any sub-millisecond bucket in latency_histogram_buckets  (e.g. ``0.1ms or 1us``) is ignored by spanmetricsprocessor

**Steps to reproduce**
Define a sub-msec bucket and send metrics:

[code]

and see that for this sample config only buckets 1ms and 10ms are created

[2021-07-01 10:50] mx-psi commented on #4043
Fixed by #4039. Likely root cause of this is golang/go#44343

[2021-07-01 10:50] #4043 closed

[2021-07-01 14:06] mx-psi opened #4055 "[Tracker Issue] Review public API of components"
This is a meta issue to track the review of the different components public API before we hit GA.

The proposed 'VERSIONING.md' document for `opentelemetry-collector` and `opentelemetry-collector-contrib` on open-telemetry/opentelemetry-collector#3476 implies that components in these repositories need to have a stable public Go API.

Any methods, constants, structs, fields, interfaces or functions

[2021-07-01 14:21] mx-psi commented on #4055
Pinging @asuresh4, @anuraaga, @jpkrohling, @pmcollins, @owais and @jrcamp since you are mentioned 5 or more times on the CODEOWNERS. Could you check the components you own and either create a new issue for them if work needs to be done or mark them as done (by editing the list if you can or by commenting if you can't)? Thanks!

[2021-07-01 14:34] mx-psi opened #4056 "Review public API for `datadogexporter`"

[2021-07-01 14:36] mx-psi commented on #4056
@ericmustin I am assigning this to you since there are a couple of traces things we can make private:
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/fba0e93eb5216812fd683660384642f323c88088/exporter/datadogexporter/translate_traces.go#L61
and

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/fba0e93eb5216812fd683660384642f323c88088/exporter/datadogexpo

[2021-07-01 14:47] mx-psi opened #4057 "Review public API for `tanzuobservabilityexporter`"
cc @oppegard @thepeterstone see the parent issue for context. Can I assign this to either of you?

I think you can make some things private e.g. this
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/fba0e93eb5216812fd683660384642f323c88088/exporter/tanzuobservabilityexporter/transformer.go#L47

[2021-07-01 15:32] oppegard commented on #4057
@mx-psi you can assign this to me.

[2021-07-01 15:39] Aditya-Gollapudi commented on #3795
It was a problem with my local env

[2021-07-01 15:39] #3795 closed

[2021-07-01 16:17] jrcamp opened #4059 "Review public API for `signalfxexporter`"
See base issue #4055

[2021-07-01 16:17] jrcamp opened #4060 "Review public API for `splunkhecexporter`"
See base issue #4055

[2021-07-01 16:18] jrcamp opened #4061 "Review public API for `sapmexporter`"
See base issue #4055

[2021-07-01 16:18] jrcamp opened #4062 "Review public API for `signalfxreceiver`"
See base issue #4055

[2021-07-01 16:19] jrcamp opened #4063 "Review public API for `sapmreceiver`"
See base issue #4055

[2021-07-01 16:19] jrcamp opened #4064 "Review public API for `splunkhecreceiver`"
See base issue #4055

[2021-07-01 16:20] jrcamp opened #4065 "Review public API for `simpleprometheusreceiver`"
See base issue #4055

[2021-07-01 17:27] jrcamp opened #4066 "Review public API for `k8sclusterreceiver`"
See base issue #4055

[2021-07-01 17:27] jrcamp opened #4067 "Review public API for `kubeletstatsreceiver`"
See base issue #4055

[2021-07-01 17:28] jrcamp opened #4068 "Review public API for `jmxreceiver`"
See base issue #4055

[2021-07-01 17:28] jrcamp opened #4069 "Review public API for `receivercreator`"
See base issue #4055

[2021-07-01 23:24] #3090 closed

[2021-07-02 02:47] anuraaga opened #4075 "Review public API for `awsprometheusremotewriteexporter`"
See base issue #4055

[2021-07-02 02:47] anuraaga commented on #4075
@alolita Can you assign anyone from the AMP team to review this component's API to ensure nothing is public except for the collector plugin implementations? Thanks!

[2021-07-02 02:48] anuraaga opened #4076 "Review public API for `awsxrayexporter`"

[2021-07-02 02:49] anuraaga opened #4077 "Review public API for `awsxrayreceiver`"
See base issue #4055

[2021-07-02 02:49] anuraaga opened #4078 "Review public API for `awscontainerinsightreceiver`"
See base issue #4055

[2021-07-02 02:51] anuraaga commented on #4078
@pxaws I tried to keep an eye out while reviewing, but it's time to do a through scrub to make sure this receiver doesn't have any unnecessary public API. Can you check it out? Thanks!

[2021-07-02 02:55] anuraaga commented on #4078
/cc @mxiamxia

[2021-07-02 02:55] anuraaga opened #4079 "Review public API for `awsemfexporter`"

[2021-07-02 02:55] anuraaga opened #4080 "Review public API for `awsecscontainermetricsreceiver`"

[2021-07-02 02:57] anuraaga commented on #4080
@JohnWu20 Can you do a scrub of the awsecscontainermetricsreceiver to make sure all API is private unless it needs to be public (only collector interface implementations should need to be public)? Thanks!

/cc @mxiamxia

[2021-07-02 02:59] anuraaga commented on #4077
@bhautikpip Do you mind reviewing the awsxrayreceiver and making sure it exposes no API that shouldn't be public? Only component interface implementations should need to be public. Thanks!

[2021-07-02 07:43] hossain-rayhan opened #4081 "Rename multiple metrics using Substitution doesn't work"
**Describe the bug**
I am using the `metricstransformprocessor` to rename multiple metrics using `substitution`. I tried to follow the given example in the [README](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/metricstransformprocessor#rename-multiple-metrics-using-substitution). But it didn't work for me.
[code]

I have a metric nane `new_container_memory_

[2021-07-02 08:14] anuraaga commented on #4075
Nevermind, was simple enough to verify with the godoc. Looks good

https://pkg.go.dev/github.com/open-telemetry/opentelemetry-collector-contrib/exporter/awsprometheusremotewriteexporter

[2021-07-02 08:14] #4075 closed

[2021-07-02 10:57] jpkrohling opened #4083 "Review public API for `jaegerthrifthttpexporter`"
Jaeger Agents do not offer the ability to send data to the Jaeger Collector using HTTP Thrift for more than a year now (v1.18, May 2020). I think it's safe to assume that we can also remove this exporter from the contrib.

[2021-07-02 11:02] jpkrohling opened #4084 "Review public API for `loadbalancingexporter`"

[2021-07-02 11:03] jpkrohling opened #4085 "Review public API for `pkg/batchpertrace`"

[2021-07-02 11:08] jpkrohling opened #4086 "Review public API for `groupbytraceprocessor`"

[2021-07-02 11:09] jpkrohling opened #4087 "Review public API for `routingprocessor`"

[2021-07-02 11:10] jpkrohling opened #4088 "Review public API for `tailsamplingprocessor`"

[2021-07-02 11:51] albertteoh opened #4090 "Review public API for `spanmetricsprocessor`"
Relates to #4055

[2021-07-02 16:24] #4083 closed

[2021-07-02 16:25] #4076 closed

[2021-07-02 18:20] opentelemetry-bot opened #4114 "Bug report for failed CircleCI build (job: loadtest-with-github-reports)"
Auto-generated report for `loadtest-with-github-reports` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/141554

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-07-02 21:22] pxaws commented on #4078
I did a check with the code. Since all our logic are inside the `internal` folder, the receiver doesn't expose any unnecessary public APIs.

[2021-07-03 03:18] anuraaga commented on #4078
@pxaws Do New and MetricsProvider need to be exposed?

https://pkg.go.dev/github.com/open-telemetry/opentelemetry-collector-contrib/receiver/awscontainerinsightreceiver#New

[2021-07-03 03:51] pxaws commented on #4078
I see. I will remove them.

[2021-07-03 17:06] alolita commented on #4075
Thanks @anuraaga - the awsprometheusremotewriteexporter is just a wrapper for sigv4 support.

[2021-07-05 12:58] yorikya opened #4124 "[exporter/datadog] `ValueRecorder` won't appears in Datadog Cloud when using OTLP exporter"
**Describe the bug**
Hi, we are using  OpenTelemetry SDK (Golang) to submit metrics from a service.
Our Openetelemetry Topology is:

Service (OpenTelemetry SDK Golang) -- (OTLP) --> OpenTelemetryCollector (runs on the same host) -- (DatadogExporter) --> DataDogCloud (UI)

When I am using the [`OTLP`](https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/otlpexporter) exporte

[2021-07-06 10:33] iNikem opened #4754 "Allow to set span's Status"
OpenTelemetry spec currently says the following in [the description of `Span.SetStatus` method](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#set-status):

From the previous discussions on this topic I assumed that the way for `Operator` to set span status is by using Collector. Unfortunately, Collector does not support setting span status atm.

[2021-07-06 20:50] leonsp-ai opened #4131 "Processor to enforce an allowlist schema for redaction and compliance"
**Is your feature request related to a problem? Please describe.**
We need to be able to redact span attributes or tags based on key names, key values, and value size. Some attributes are sensitive (e.g. `date_of_birth`, `credit_card`) and for legal compliance reasons cannot be allowed in a trace. The best practice for preventing accidental leaks of sensitive values is to explicitly allow known go

[2021-07-06 21:31] hossain-rayhan commented on #4081
@bogdandrutu @jrcamp any hints?

[2021-07-06 22:01] hossain-rayhan commented on #4081
**Solution:**
`$` is being treated as a special character. We need to use double dollar sign `$$` instead of a single `$`.

Following cofig worked for me:
[code]

[2021-07-06 22:01] #4081 closed

[2021-07-06 23:49] alolita opened #4755 "Ensure full Prometheus support"
Complete phase 2 of all backlog items for https://github.com/open-telemetry/wg-prometheus/milestone/3

[2021-07-07 18:01] skyduo opened #4134 "New awsecshealthcheckextension need to get obsreportconfig/obsmetrics from opentelemetry-collector/internal"
As we want to add the new `awsecshealthcheckextension` to the `opentelemetry-collector-contrib` repo due to this is AWS ECS specific extension, there is a issue that the `obsreportconfig` package is located inside the internal folder in the `opentelemetry-collector`, so we cannot get the `obsreportconfig/obsmetrics` which is need to build our own view.

Here is what we need to create in the new ex

[2021-07-07 18:03] #4134 closed

[2021-07-08 01:26] pramenn commented on #3448
@deepakkhetwal which otel collector image are you using? If you are using `opentelemetry-collector` you might have to switch to `opentelemetry-collector-contrib`.

[2021-07-08 05:38] colin-sitehost commented on #1217
it is deeply troubling that these packages are broken and have stayed broken for most of their lifetimes. if these packages are not intended to be imported, they should be hidden behind an `/internal/`, otherwise they should go-get and go-build.

I am interested in resolving this, and happy to help. I see two paths forward:
- change your workflow to stagger changes
  - this is what [google does](h

[2021-07-08 07:30] hossain-rayhan commented on #2722
The experimental processor is now available in the contrib repo.

[2021-07-08 07:30] #2722 closed

[2021-07-08 07:33] hossain-rayhan commented on #1342
Convert resource attributes to metric labels was added as an exporter helper function. Any exporter can opt-in for this.

[2021-07-08 07:33] #1342 closed

[2021-07-08 08:24] jpkrohling commented on #1217
We are working on potentially reorganizing the repositories we have today as part of https://github.com/open-telemetry/opentelemetry-collector/issues/3474, and I think we should address it there.

[2021-07-08 14:29] alanrdel opened #4136 "Dynatrace exporter not recognized"
**Describe the bug**
Attempting to configure dynatrace as an exporter but keeps getting an error complaining that it is an unknown exporters type

**Steps to reproduce**
1º - I followed the [link ](https://aws-otel.github.io/docs/getting-started/lambda/lambda-js) to enable the AWS Distro for OpenTelemetry Lambda.
2° Create a config.yaml, describe in "what config did you use", as the [link ](https:

[2021-07-08 17:54] william-tran commented on #4131
Could we use JSON schema to define these known good values?

[2021-07-08 22:49] colin-sitehost commented on #1217
awesome; out of curiosity what timeline is that work slated for, and what of the listed options seem to fit this project best?

[2021-07-08 22:53] #4051 closed

[2021-07-09 03:00] albertteoh commented on #4136
@alanrdel Please see: https://github.com/aws-observability/aws-otel-lambda/issues/103#issuecomment-865431233

Basically, although the [AWS Distro for OpenTelemetry Collector docs](https://aws-otel.github.io/docs/releases#whats-included-in-the-aws-distro-for-opentelemetry-collector) indicate that the `dynatrace` exporter is an available component in the distro, the collector components supported in

[2021-07-09 07:07] jpkrohling commented on #1217
That discussion is happening right now and should be completed by GA, which is happening very soon. I'm not quite sure which of the solutions would work best, to be honest.

[2021-07-09 07:17] bhwanip opened #4141 "Sentry Exporter not exporting traces to sentry"
**Describe the bug**
I have my services sending tracing using opentellimetry api to the collector (config below),
Collector works well with zipkin and sends traces there.
But these tracing are not being sent to sentry, we need to use sentry in our organisation.

For my sentry project, we also have sentry environments like dev, staging and prod, but seems exporter has no config to specify the env i

[2021-07-09 10:15] roson9527 commented on #4141
I also have the same problem here. In the nginx log of sentry, the printed log is"POST /api/2/envelope/ HTTP/1.1" 400 128 "-" "sentry-go/0.11.0" "-"

[2021-07-09 10:48] jkowall commented on #4136
Echoing @albertteoh on this one, but you should open an issue in the ADOT repo not here, since you are using the AWS distribution this is not an upstream issue.

[2021-07-09 12:35] jpkrohling commented on #4084
Reviewed, and no actions were required.

[2021-07-09 12:35] #4084 closed

[2021-07-09 13:37] jpkrohling commented on #4087
Reviewed and no actions were required.

[2021-07-09 13:37] #4087 closed

[2021-07-09 13:42] jpkrohling commented on #4086
Reviewed and no actions were required.

[2021-07-09 13:42] #4086 closed

[2021-07-09 13:43] jpkrohling commented on #4085
Reviewed and no actions were required.

[2021-07-09 13:43] #4085 closed

[2021-07-09 14:26] pmalek-sumo commented on #3849
It seems that most of this has been covered by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/4132 but there's still the question of using/not using braces.

This becomes problematic when someone wants to use a match group number/name and use it not as the last part in `new_name`. Given this:

[code]

and the metric called `net_bytes_recv`, we have the following set of resu

[2021-07-09 19:14] alanrdel commented on #4136
Tks for the answers, I'm closing this issue to open other one in ADOT page.

[2021-07-09 19:14] #4136 closed

[2021-07-09 20:42] bogdandrutu opened #4147 "Update github.com/GoogleCloudPlatform/opentelemetry-operations-go deps to a released tag"
github.com/GoogleCloudPlatform/opentelemetry-operations-go was changed to the "latest commit" in order to be able to make progress on the otel-trace usage in components.

When a tag will be released that includes the latest dependencies it must be updated here, since dependabot will not do automatic upgrades.

[2021-07-11 14:36] locmai opened #4153 "Counter type from statsdreceiver being dropped by prometheusexporter"
**Describe the bug**
The counting-type metric from StatsD receiver will always be dropped by the prometheusexporter

**Steps to reproduce**
- Set the config..yaml as the one below the Config section
- Build from source and run the binary / Run on k8s cluster
- Send a simple `c` metric: `echo "locmai.test:30|c" | nc -w 1 -v -u 0.0.0.0 8127`

**What did you expect to see?**
The locmai_test metric be

[2021-07-11 16:04] #4088 closed

[2021-07-11 21:19] colin-sitehost commented on #1217
sounds good, I will use the replace trick from [above](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/1217#issuecomment-780617732), until this gets resolved shortly; let me know if there is anything else I can do to assist.

[2021-07-12 06:35] roson9527 commented on #4141
The problem was found because the eventID was not assigned and sentry did not respond。

line 316: transaction.EventID = eventID()

`
func eventID() sentry.EventID {
	id,_:=uuid.NewV4()
	out:=make([]byte, 32, 32)
	hex.Encode(out, id.Bytes())
	return sentry.EventID(out)
}
`

[2021-07-12 13:18] kvrhdn commented on #1797
Hi, just came across this issue and I was wondering what the status of this effort is?
I was contributing a couple of new policies to the current tail sampling processor, but if we wish to replace the processor all together I'd prefer to contribute to the new design. Is there something we can work on to move this discussion along?

cc/ @mapno

[2021-07-12 13:26] jpkrohling commented on #1797
Given that this processor is part of the contrib, it can be deprecated in the future without huge problems. Given that we are focused on releasing the main distribution v1 soon, we are likely going to take a look at this again only in a few months.

That said: I'm convinced that there are some reliability issues with the current tail-based sampling processor but I'm not convinced they are not solv

[2021-07-12 17:38] locmai commented on #3269
Hi @hossain-rayhan , I noticed that since the metric transform processor using OpenCensus metric type, it will also drop some properties (while doing add_label, update metric ...) of the OTLP metrics on the processing way, since you had taking a look, could we somehow bypass that?

For example, there are some properties like IsMonotonic and AggregationTemporality being drop. This will make the agg

[2021-07-12 18:00] hossain-rayhan commented on #3269
Hi @locmai , did you mean bypassing the drop of OTLP properties like IsMonotonic/AggregationTemporality? If so, I don't have an answer for that right now.

Also, if the whole plugin is rewritten using OTLP metric type, this won't be an issue anymore, right? If you have other concerns, we can also discuss in our weekly SIG meeting.

[2021-07-12 18:02] locmai commented on #3269
Yes, this is the best I think, is there a near-future plan for that?

[2021-07-12 18:05] hossain-rayhan commented on #3269
Upstream is actively working on the plan but I don't have an ETA.

[2021-07-12 18:07] locmai commented on #3269
Thank you for being so responsive :D looking forward to the change! (going to 👀 on the upstream :D )

[2021-07-12 19:27] mxiamxia commented on #4079
This issue can be resolved now.

[2021-07-12 20:44] leonsp-ai commented on #4131
@william-tran I think [JSON schema](https://json-schema.org/learn/getting-started-step-by-step) is the wrong tool. JSON schemas are aimed more at type enforcement. The JSON schema syntax is heavy and not domain specific enough when type enforcement is not the focus. The intermediate trace form in OpenTelemetry Collector is also not natively in JSON format but rather in Go structs.

The usual way t

[2021-07-13 00:45] bhwanip commented on #4141
When will this be fixed pls??

[2021-07-13 00:45] bhwanip commented on #4141
When will this be fixed pls??

[2021-07-13 09:46] jpkrohling commented on #3184
Closing, as this seems to be fixed already. I don't remember seeing a CI failure for a long time, and I couldn't reproduce it locally:

[code]

[2021-07-13 09:46] #3184 closed

[2021-07-13 13:22] joe-elliott opened #4183 "[Processor] Add new trace logging processor"
**Is your feature request related to a problem? Please describe.**
We have two needs that that could be addressed by a trace logging processor:
- Correlation of traces and logs
- Debugging a trace pipeline by providing additional data about what is passing through it

**Describe the solution you'd like**
We would like a new processor that logged all traces as they passed through it. The processor

[2021-07-13 13:46] wtcampos opened #4184 "Oauth2client extension"
**Describe the bug**
I'm trying to use this extension [OAuth2 Client Credentials](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/extension/oauth2clientauthextension) but I'm getting an error using the latest version.  I found on docs calling this extension as `oauth2clientcredentials` [here](https://opentelemetry.io/docs/collector/configuration/#authentication) and `oa

[2021-07-13 13:57] #4184 closed

[2021-07-13 19:15] pmalek-sumo opened #4187 "Add copy operator to internal/stanza used by filelogreceiver"
**Is your feature request related to a problem? Please describe.**

`internal/stanza` [imports](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/0170fa4e2506483fa13ace13351028251e7918d8/internal/stanza/register.go#L17-L29) several `opentelemetry-log-collection` operators but not (and that makes sense) but I'm not sure why can't we extend this set to include also [`copy` opera

[2021-07-13 19:15] pmalek-sumo commented on #4187
Here's my PR which adds `copy` operator: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/4188

[2021-07-13 22:22] bogdandrutu opened #4189 "Remove golint exclude rule for Resize deprecation"
See https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/4181

[2021-07-14 02:26] RyanSiu1995 commented on #3869
Upvote for this.
Instead of getting API key, the exporter maybe can also respect a custom field, which contains DSN, inside the trace data.
Otherwise, we need to have a ton of sentry exporters inside the cluster.

[2021-07-14 15:53] pmalek-sumo commented on #2568
I'd love to see this type of feature as well.

Some of the features of `metricstransformprocessor` can be achieved with `resourceprocessor` (granted the attributes are at resource level like described in this issue) but without the metric name matching capability (unless it's there but I wasn't able to find it) which might produce unwanted effects (amending metrics that were not supposed to be cha

[2021-07-14 17:28] maxedmands opened #4194 "[metrics_transform_processor] Support extracting a new metric from a label"
**Describe the bug**
[The documentation of `metricstransformprocessor` seems to indicate](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/metricstransformprocessor#readme) that it should be possible to extract a timeseries from an existing metric into a new, separately named metric.

For example, if someone is using the `hostmetrics` receiver which produces a

[2021-07-14 18:31] hossain-rayhan commented on #4080
checking in. will send a PR.

[2021-07-14 18:46] JohnWu20 commented on #4080
Sorry that I missed this message. I can help too.

[2021-07-14 22:40] jrcamp commented on #4062
Verified only factory & config are exported with no subpackages: https://pkg.go.dev/github.com/open-telemetry/opentelemetry-collector-contrib/receiver/signalfxreceiver

[2021-07-14 22:40] #4062 closed

[2021-07-14 23:10] jrcamp commented on #4061
https://pkg.go.dev/github.com/open-telemetry/opentelemetry-collector-contrib/exporter/sapmexporter only factory & config are exposed with no subpackages.

[2021-07-14 23:10] #4061 closed

[2021-07-14 23:51] jrcamp commented on #4065
Only config & factory exposed.

[2021-07-14 23:51] #4065 closed

[2021-07-14 23:53] jrcamp opened #4202 "Review public API for `kafkametricsreceiver`"

[2021-07-14 23:53] jrcamp commented on #4202
Only config & factory.

[2021-07-14 23:53] #4202 closed

[2021-07-14 23:55] jrcamp commented on #4069
Only config & factory.

[2021-07-14 23:55] #4069 closed

[2021-07-15 08:26] #4079 closed

[2021-07-15 08:26] #4078 closed

[2021-07-15 10:53] KSerrania commented on #4124
Hi @yorikya,

Thanks for reporting this issue!

If I understand correctly how `ValueRecorder` works, an `Int64ValueRecorder` would be converted to `IntHistogram` data points (as these test files show: https://github.com/open-telemetry/opentelemetry-go/blob/12f737c7a563746b5ccb488832afee1e901d844c/exporters/otlp/otlpmetric/exporter_test.go#L240-L289).

In the Datadog exporter, these `IntHistogram`

[2021-07-15 11:11] albertteoh commented on #4090
Reviewed; only the `Config`-related structs are exported, which don't appear to need any action.

[2021-07-15 11:11] #4090 closed

[2021-07-15 13:44] yorikya commented on #4124
Hi @KSerrania , thanks for the response, I have checked the DataDog metrics dashboard and I cannot find the `io.write.bytes.count` or `io.write.bytes.sum`

[2021-07-15 18:05] #4060 closed

[2021-07-15 18:06] #4068 closed

[2021-07-15 18:07] #4063 closed

[2021-07-15 18:08] #4064 closed

[2021-07-15 18:08] #4059 closed

[2021-07-15 20:18] #4067 closed

[2021-07-15 20:49] jrcamp opened #4207 "Review public API for `resourcedetectionprocessor`"
See base issue #4055

[2021-07-15 21:24] #4066 closed

[2021-07-16 11:54] weyert commented on #2286
Yes, this would be nice to have

[2021-07-16 16:36] jrcamp commented on #4207
Only factory & config already.

[2021-07-16 16:36] #4207 closed

[2021-07-16 18:18] adriangb commented on #2651
Hi @ericmustin , could you update here when there's any progress made? I too would like to test whenever you have an early version out

[2021-07-16 18:40] nayasam opened #4753 ""failed to translate metric" errors at the PrometheusExporter with metric_name="""
We observed the following error in the stdout/log of the opentelemetry collector when grabbing Prometheus metrics from a HTTP endpoint (by the PrometheusReceiver), and subsequently exporting them to a Prometheus backend (using the PrometheusExporter). The Prometheus metrics at the HTTP endpoint are those sent using the Prometheus client (Python). We are not sending any metric (using the Prometheus

[2021-07-17 13:13] pratimsc commented on #3804
It will be great if someone from Datadog can provide an answer to this.
This is a good pattern which allows all the apps to use the OTEL API to export the traces and metrics to using OTEL client to OpenTelemetry (Agent or Collector) and the Collector can send it to existing DataDog agents install in the Kubernetes cluster.

App OTEL Client --> OTEL Agent/Collection --> DD Agent --> DD Remote/Cloud

[2021-07-19 05:31] adriangb commented on #3031
Is this fixed @rockb1017 ? Might want to close the issue if so 😄

[2021-07-19 05:32] #3031 closed

[2021-07-19 05:57] adriangb opened #4214 "k8s_tagger not adding metadata/extracted fields"
**Env**
MacOS 11.5.1, cluster running via Minikube (v1.22.0, k8s v1.21.2) or Kind (0.11.1, k8s v1.21.1).
Issue is resolved if using Calico networking on Minikube.

**Problem**
`k8s_tagger` is not adding metadata or extracting data from annotations.

**Code**
Here is an example repo w/ Helm charts & other config: https://github.com/adriangb/otel-test

For the setup above, looking at the collector's

[2021-07-19 18:17] gavindoudou commented on #2566
Can we close that?

[2021-07-19 18:17] gavindoudou commented on #3431
Cam we close that?

[2021-07-20 03:58] snowsword opened #4752 "Image can't start when kafka is down"
**Describe the bug**
I use kafka as exporter. But the image exits when kafka is down.
Got error:
otel-agent_1  | Error: cannot build pipelines: cannot build builtExporters: error creating kafka exporter: kafka: client has run out of available brokers to talk to (Is your cluster reachable?)
otel-agent_1  | 2021/07/20 00:11:39 application run finished with error: cannot build pipelines: cannot build

[2021-07-20 13:05] tonnyadhi commented on #4141
Is there any updates on this ? I'm also experiencing same problem according to the above description ?

[2021-07-20 17:04] opentelemetry-bot opened #4281 "Bug report for failed CircleCI build (job: loadtest-with-github-reports)"
Auto-generated report for `loadtest-with-github-reports` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/145062

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/filelog
-  TestLog10kDPS/filelog_checkpoints
-  TestMetric10kDPS
-  TestMetric10kDPS/OTLP

**Note**: Information about any subsequent build failures that happen while
this issue

[2021-07-20 22:46] robbie-unlikelyai opened #4296 "DoubleValueRecorder with ECS resource labels incorrectly exported to Cloudwatch"
**Describe the bug**
When a DoubleValueRecorder metric is sent from an application to Cloudwatch through the Collector (using the `awsemf` exporter) with ECS resource labels, the metric does not show up in Cloudwatch Metrics.

**Steps to reproduce**
Run a Java service in ECS, with the Java SDK build in. In that service, setup one DoubleCounter and one DoubleValueRecorder metric as shown below:
[co

[2021-07-21 01:28] odeke-em opened #4750 "receiver/prometheus: finish TODO about not adding +Inf in buckets"
Coming here from a PR translating from Prometheus->OTLP instead of Prometheus->OpenCensusProto->OTLP, @bogdandrutu replied to a TODO that has existed for ages per https://github.com/open-telemetry/opentelemetry-collector/pull/3667#discussion_r672686819

This issue is to follow up on that TODO later on, to avoid parity changes because that'd mean a change of behaviour yet the PR is for a migration.

[2021-07-21 02:32] tonnyadhi commented on #4141
Apparently this issue start on otel collector contrib 0.28.0 . I try to use 0.27.0, and still can send traces to sentry. Looks like a regression left unchecked

[2021-07-21 06:26] lastchiliarch commented on #4056
@mx-psi  It looks like an easy task. If it still active, May I have a try?

[2021-07-21 06:31] ericmustin commented on #4056
@lastchiliarch absolutely, tbh i don't have bandwidth here in the short term, but can definitely review pr!

[2021-07-21 12:19] avocadomaster opened #4298 "`awsxrayexporter` not checking cloud platform according to the Opentelemetry Specification"
**Describe the bug**
Using resource detectors for ECS does not seem to work for exported AWS X-ray segments.

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/c76229eb5330aeb9fd49eba4df264d0012af13d0/exporter/awsxrayexporter/internal/translator/aws.go#L176

As far as I understand the checks here should use the [Opentelemetry Specification](https://github.com/open-telemetry/op

[2021-07-22 06:28] dmitryax commented on #4214
This is expected behavior. We cannot assume that all the pods in cluster have all the annotations that we expect.

Regarding the issue with `k8s_tagger` not setting additional attributes, I cannot reproduce it using the provided details on the latest collector versions. I'm getting `k8s.pod.name` and `wontpopulate` correctly populated. Only `service.name` is not being overridden from was set by an

[2021-07-22 14:35] KSerrania commented on #4124
Hi again @yorikya,

Thanks for the response! To help reproducing your issue, would you have an example go program you could share that showcases this issue?

Moreover, does this problem also happen if you change the instrument used (eg. with an `UpDownCounter` instead of a `ValueRecorder`)?

[2021-07-22 15:05] adriangb commented on #4214
Here's a self contained example: https://github.com/adriangb/otel-test

The output I see is:

[code]

[2021-07-22 15:56] ttomsu commented on #2332
Friendly ping - we have users interested in this functionality.

[2021-07-22 21:43] bhautikpip commented on #4077
Audited `awsxrayreceiver` to validate exposed APIs, struct, interfaces and variables from [public docs]( https://pkg.go.dev/github.com/open-telemetry/opentelemetry-collector-contrib/receiver/awsxrayreceiver)

Summary of auditing:

**root package**
[type Config](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/receiver/awsxrayreceiver/v0.30.0/receiver/awsxrayreceiver/config.go

[2021-07-23 04:27] anuraaga commented on #4077
Thanks!

[2021-07-23 10:52] sumo-drosiek opened #4309 "k8sprocessor: enrich metadata if only pod name and pod namespace are available"
**Is your feature request related to a problem? Please describe.**
k8sprocessor enriches metadata only for `podUid` or `pod ip`. I have a case when only pod name and pod namespace are obtained by the receiver. In that case I'm unable to enrich metadata using this processor

**Describe the solution you'd like**
I would like to store metadata in additional key [here](https://github.com/open-telemetr

[2021-07-23 11:36] sumo-drosiek commented on #4309
cc: @dashpole

[2021-07-23 17:46] djaglowski opened #4313 "Include all useful operators from opentelemetry-log-collection"
**Is your feature request related to a problem? Please describe.**
Several useful log processing operations are available in the `opentelemetry-log-collection` library, but are not yet available for use in the log receivers.

**Describe the solution you'd like**
Import the useful operators.

[2021-07-23 17:55] djaglowski opened #4314 "internal/stanza: Severity mapping inconsistencies"
**Describe the bug**
The predefined mapping from opentelemetry-log-collection's severity system to OTel's is incorrect in some cases.

**What did you expect to see?**
"warning" => "Warn" pdata.SeverityNumberWARN
"emergency" => "Error", pdata.SeverityNumberError4 // Error1,2,3 are used by "error", "critical", and "alert" respectively

**What did you see instead?**
"warning" => "Info4" pdata.Severit

[2021-07-24 12:11] fourbytes commented on #4141
I'm also experiencing this issue with 0.30.0, and downgrading to 0.27.0 works.

[2021-07-25 10:10] yorikya commented on #4124
I didn't check the `UpDownCounter` but we are tested with the `Int64Counter` and it's working fine.

The code example:

The metric:
[code]

The exporter :
[OTLP Doesn't work]

[code]

[DataDog Statsd working example]

[code]

[2021-07-25 16:34] bogdandrutu opened #4322 "Some metrics in zookeeperreceiver are defined as Gauge, but they are non-monotonic sums"
E.g. `zookeeper.connections_alive`

[2021-07-25 16:36] bogdandrutu opened #4323 "Some metrics in memcachedreceiver are defined as Gauge, but they are non-monotonic sums"
E.g. `memcached.current_connections`

[2021-07-25 16:40] bogdandrutu opened #4326 "Some metrics in nginxreceiver are defined as Gauge, but they are non-monotonic sums"
E.g. `nginx.connections_current`

[2021-07-25 16:41] bogdandrutu opened #4327 "Some metrics in kafkametricsreceiver are defined as Gauge, but they are non-monotonic sums"
E.g. `kafka.consumer_group.members`

[2021-07-26 08:38] mx-psi commented on #4056
@lastchiliarch thanks for doing this and thanks to Eric for handling this while I was on PTO :) I am closing this since the PR was merged

[2021-07-26 08:38] #4056 closed

[2021-07-26 09:49] mx-psi opened #4329 "Review public API for `alibabacloudlogserviceexporter`"
See base issue for details. cc @shabicheng @kongluoxing @qiansheng91, can I assign this to any of you?

[2021-07-26 09:50] mx-psi opened #4330 "Review public API for `azuremonitorexporter`"
See base issue. @pcwiese can I assign this to you?

[2021-07-26 09:50] mx-psi opened #4331 "Review public API for `carbonexporter`"
See base issue for details. Assigning to @pjanotti

[2021-07-26 09:53] mx-psi opened #4332 "Review public API for `dynatraceexporter`"
See base issue for details. cc @dyladan @arminru

[2021-07-26 09:53] mx-psi opened #4333 "Review public API for `elasticexporter`"
See base issue. cc @axw @simitt @jalvz. Can I assign this to any of you?

[2021-07-26 09:53] mx-psi opened #4334 "Review public API for `elasticsearchexporter`"
See base issue for details. cc @urso @faec @blakerouse, can I assign this to any of you?

[2021-07-26 09:57] mx-psi opened #4335 "Review public API for `f5cloudexporter`"
See base issue for details. cc @gramidt

[2021-07-26 09:57] mx-psi opened #4336 "Review public API for `honeycombexporter`"
See base issue for details. cc @paulosman @lizthegrey @MikeGoldsmith

[2021-07-26 09:57] mx-psi opened #4337 "Review public API for `humioexporter`"
See base issue for details. cc @xitric, can I assign this to you?

[2021-07-26 09:57] mx-psi opened #4338 "Review public API for `awskinesisexporter`"
See base issue for details. cc @owais @anuraaga

[2021-07-26 10:06] mx-psi opened #4339 "Review public API for `logzioexporter`"
See base issue for details. cc @yyyogev @jkowall @albertteoh can I assign this to any of you?

[2021-07-26 10:06] mx-psi opened #4340 "Review public API for `lokiexporter`"
See base issue for details. According to the README it looks like this only does logs so there may be nothing to do here but I want a CODEOWNER to confirm this. cc @gramidt

[2021-07-26 10:06] mx-psi opened #4341 "Review public API for `newrelicexporter`"
See base issue for details. cc @alanwest @a-feld @jack-berg @nrcventura

[2021-07-26 11:33] mx-psi commented on #3870
I updated the list based on the output from #4137

[2021-07-26 15:29] vchirikov opened #4343 "dotnet_diagnostics + receiver_creator don't work together."
Hello, I need some help to figure out how dotnet_diagnostics should work with receiver_creator, because I think they don't work together under k8s env.

First of all I'll try to explain what I want to do. I want to create opentelemetry-collector  under "agent mode" and deployed as `DaemonSet` that should inspect (via dotnet_diagnostics + receiver_creator ) dotnet processes.

First of all I tried t

[2021-07-26 18:56] #4314 closed

[2021-07-26 18:57] #4313 closed

[2021-07-26 21:27] jrcamp opened #4367 "Convert k8s_cluster to metadata.yaml and pdata"
1. Convert to pdata
1. Populate metadata.yaml

_Originally posted by @owais in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/4342#discussion_r676839351_

[2021-07-26 22:18] ericmustin commented on #3804
👋 The upcoming release of the datadog-agent (v7.30) will include experimental support for OTLP for Traces. I can update on this issue when it's out.

OTLP support in the datadog-agent for Metrics and Logs is on the roadmap but we have no timeline at this time.

Upon the next release, the support for OTEL and datadog will include:

1. > App OTEL Client --> OTEL Agent/Collection --> DD Remote/Cloud

[2021-07-26 23:05] jrcamp commented on #4343
Unfortunately it's not easy to get the list of endpoints. :( Maybe try `process_name matches "dotnet"` in case it has a path in it or something?

[2021-07-26 23:12] owais commented on #4367
@jrcamp could you pelase link to an example of metadata.yaml? Not sure what this is about.

[2021-07-27 01:14] opentelemetry-bot opened #4372 "Bug report for failed CircleCI build (job: loadtest-with-github-reports)"
Auto-generated report for `loadtest-with-github-reports` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/146722

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-07-27 07:13] vchirikov commented on #4343
`process_name matches "dotnet"` doesn't work.

I tried to use `dotnet_diagnostics` without `receiver_creator` with explicit pid 24037 and it doesn't work too.

[code]

Container with dotnet didn't change, and it is available from the otel collector container ( `hostPID` and `hostIPC` are `true`, I showed it in screenshot with `ps` and `ls` )).

Sorry I don't understand what kind of endpoint do you

[2021-07-27 09:52] pratimsc commented on #3804
Thanks @ericmustin.

Do you have any example for :
`App OTEL Client --> DD Agent --> DD Remote/Cloud Server`
Is it by using https://github.com/Datadog/dd-opentelemetry-exporter-js , for NodeJS application?
The advice from Datadog is to move away from it, as go the OTEL Agent/Collector route (ref: https://github.com/DataDog/dd-opentelemetry-exporter-js/issues/15)

I agree that both 1 and 2 (if 2 is

[2021-07-27 12:03] gumshoe2020 commented on #3804
We are looking at this same problem now.

Is there any documentation on how to get this to work in the interim? What kind of keyword are we looking for?  "OpenTelemetry Collector Forwarding"?

[2021-07-27 12:34] ericmustin commented on #3804
-----

@gumshoe2020 @pratimsc Per my previous response

So, when [that work](https://github.com/DataDog/datadog-agent/pull/8079) is released, we'll also release documentation and examples for

It's not out yet, ideally in the next week or two it should be out and I can update this issue then.

I hope that's clear enough for now. I don't work on the same team as the datadog-agent folks so I can't g

[2021-07-27 12:40] gumshoe2020 commented on #3804
Yep, I can do that, thanks!

[2021-07-27 15:37] jrcamp commented on #4367
https://github.com/open-telemetry/opentelemetry-collector/blob/main/docs/metric-metadata.md

[2021-07-27 17:01] odeke-em opened #4751 "exporter/prometheusremotewrite: add a WriteAheadLog (WAL)"
Coming here from https://github.com/open-telemetry/wg-prometheus/issues/9, this issue is to match up for GA stability (cc @alolita) but essentially we need to add a WAL. We'll already had some PRs merged related and I have some more work to get done.

[2021-07-27 18:45] jrcamp commented on #4343
Oh I meant there's not a good way of querying the observer to get a list of what endpoints it's discovered to make sure you're matching against the right things in the rule.

Ah, yeah I guess something bigger is wrong then.

[2021-07-27 18:46] jrcamp commented on #4343
@pmcollins did you test on Linux or Windows?

[2021-07-27 18:47] paulosman commented on #4336
@MikeGoldsmith will be looking at this.

[2021-07-27 18:50] pmcollins commented on #4343
Tested on Linux and Mac. IIRC doesn't work with receiver creator though -- will need some modifications. Looks like docs need to be updated to reflect that. Will take a look this week.

[2021-07-27 20:21] bogdandrutu opened #4381 "containerinsight: Metrics conversion for uint/uint32/uint64 seems wrong. Should it be intGauge?"
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/internal/aws/containerinsight/utils.go#L199

[2021-07-27 21:47] gracewehner opened #4749 "Publish the prometheus version that the prometheus receiver and other components are using"
**Is your feature request related to a problem? Please describe.**
Prometheus has different configuration settings based off of the [Prometheus version](https://prometheus.io/docs/prometheus/latest/configuration/configuration/). It would be good to know exactly which Prometheus version will work with the collector, or else using a setting in the Prometheus config that has changed between versions

[2021-07-28 02:34] a-feld opened #4748 "Prometheus staleness markers are generated for metrics that aren't stale."
**Describe the bug**

Staleness markers may be incorrectly generated for replicated services (jobs with multiple targets).

_Setup_
* 2 replicated prometheus endpoints (same metric set, except for service_instance_id)
* Example configuration:
[code]

**Steps to reproduce**
* Deploy 2 instances of the opentelemetry-collector.
* Configure the prometheus receiver to scrape both instances.
* Configure

[2021-07-28 07:52] mx-psi commented on #4056
@alolita Pinging you to let you know the Datadog exporter public API has been reviewed

[2021-07-28 09:38] gionapaolini opened #4385 "K8s: Collector hangs in not-ready state and no logs"
**Describe the bug**
Collector hangs in not ready state, and there are no logs when inspecting the deployment

**Steps to reproduce**
I'm deploying the collector in k8s with the following yaml definition:
[code]

**What did you expect to see?**
Collector should be running or at least display error logs when doing `kubectl logs deployments/otel-collector`

**What did you see instead?**
Collector ha

[2021-07-28 20:33] dashpole commented on #4309
This makes sense in general, since pod name and namespace are far more common than IP or UID.  The only thing to be wary of is that pod name and namespace are not unique across time.  For example, I could have two pods, run sequentially, with the same name + namespace, but different pod IPs, etc.  I'm not familiar enough with the k8sprocessor to know if that matters.

[2021-07-29 07:20] sumo-drosiek commented on #4309
Yes, the assumption is that you take always metadata from newest `pod`, `namespace` pair. We can consider looking at timestamp as well, and it should resolve the issue, but it will slightly complicate code and performance. WDYT?

[2021-07-29 13:44] ericmustin commented on #2651
@adriangb sure, we've synced on slack but just reposting here for anyone else, that we have nothing to update at this time and original answer still applies. I'm discussing internally on when this work might get accomplished but nothing to share publicly yet unfort

[2021-07-29 13:58] alexvanboxel commented on #2651
If someone is interested, we have a completely unsupproted branch that we use for pushing logs to datadog: https://github.com/collibra/opentelemetry-collector-contrib/tree/feature/datadoglog

Expect, force pushes on this branch, and as stated. no support

[2021-07-29 14:06] dashpole commented on #4309
I think the current approach is probably fine to start.  It is maybe just worth noting in documentation that an outdated watch cache can potentially cause telemetry to be assigned to the wrong pod.

[2021-07-29 14:10] ericmustin commented on #2651
cool stuff @alexvanboxel , took a quick look i think this probably is something folks can use with some level of confidence, and covers a lot of the special cases/reserved attribs specific to datadog. But yes, to re-iterate, this isn't maintained or supported by datadog. Normally I'd encourage you to contribute upstream (and i could work with you on getting it merged) but i need to get some intern

[2021-07-29 15:26] ralphabouhaidar opened #4390 "metricstransform processor removing instrumentationLibrary values"
**Describe the bug**
The `metricstransform` processor is being used to add a label on all metrics. The labels are correctly being added on all metrics however, when using it the `instrumentationLibrary` values are removed from the metrics on which we perform this operation.

**Steps to reproduce**
- Use the config provided below

**What did you expect to see?**
The added label on all metrics,

**W

[2021-07-30 10:49] MikeGoldsmith commented on #4336
Hey @mx-psi - I've reviewed the HoneycombExporter and am happy the public API is as concise as possible.

The only custom public function is [RunErrorLogger](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/exporter/honeycombexporter/honeycomb.go#L274) which sets up a response queue reader. This is an optional call users can call if wanted.

[2021-07-30 11:36] jpkrohling commented on #4336
Closing then.

[2021-07-30 11:36] #4336 closed

[2021-08-02 18:27] jkowall commented on #4339
I will get you someone, sorry for missing this.

[2021-08-02 18:54] Doron-Bargo commented on #4339
Hi @mx-psi , kindly please assign @yotamloe for this as he is the maintainer for logzio exporter

[2021-08-02 21:51] ohamuy opened #4429 "Incorrect Exception Translator Logic"
**Describe the bug**
This is a small issue with the AWS X-Ray translator for the function` fillJavaScriptStacktrace()`.

The issue occurs on this line:
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/ec03e5cde3031e980d3e0f6fe68afaec0c0d10f6/exporter/awsxrayexporter/internal/translator/cause.go#L398

The comment above the line states that it must only add the line to the stac

[2021-08-02 23:16] jkowall commented on #4339
Will fix with https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/4430

[2021-08-03 07:40] mx-psi commented on #4339
I will, but I can't assign them until they comment here :)

[2021-08-03 08:04] yotamloe commented on #4339
@mx-psi I'm here :)

[2021-08-03 11:30] realwoobinlee opened #4432 "Value of kafkametricsreceiver not correctly transformed on otlp/elastic"
**Describe the bug**
Values of Kafka metrics scrapers are somehow not correctly transformed when using otlp/elastic exporter
Therefore the results of Logging exporter do not match the results shown on kibana.
ex) *logging Exporter*;;; Value: 486 => *oltp/elastic Exporter*;;; "kafka.consumer_group.offset_sum": [0]

**Steps to reproduce**

- Result: Logging Exporter

[code]
   - Result: Kibana JSON

[2021-08-03 17:29] tbarker25 opened #4747 "Include additional process states in processses_scraper"
**Is your feature request related to a problem? Please describe.**
Google's Collectd-based Ops Agent has a agent.googleapis.com/processes/count_by_state metric. This has many more states in it then the Otel-based agent. For the sake of feature parity, we would like to have the same functionality in the OTel-based Ops agent.

**Describe the solution you'd like**
For receiver/hostmetricsreceiver/int

[2021-08-03 19:55] chenqi0805 opened #4433 "checkSum failed at the current main HEAD"
**Describe the bug**
For the current main HEAD, at the project root

[code]

**Steps to reproduce**
Even if I remove go.sum and run go clean -modcache, and then rerun `go mod -tidy`, it results in

[code]

**What did you expect to see?**
go mod -tidy should succeed

**What did you see instead?**
It failed

**What version did you use?**
current main HEAD

**What config did you use?**
Config: (e.g.

[2021-08-04 08:21] mx-psi commented on #4433
Related to StackExchange/wmi#62 but I can't reproduce locally nor does this appear to happen on CI. Maybe it's related to your `GONOPROXY`, `GONOSUMDB` and `GOPRIVATE` configuration?

[2021-08-04 09:39] tigrannajaryan commented on #4433
@bogdandrutu saw the exact [same problem](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/4434) and he says:

[2021-08-04 14:20] chenqi0805 commented on #4433
Does not work in my case. Tried
[code]
but `go mod tidy -v` still fails

[2021-08-04 14:58] chenqi0805 commented on #4433
Also tried on go version go1.16.6 linux/amd64, same error

[2021-08-04 15:42] chenqi0805 commented on #4433
Turns out adding

[code]
into both go.mod and exporter/logzioexporter/go.mod works.

[2021-08-04 15:48] #4339 closed

[2021-08-04 15:55] gumshoe2020 commented on #3804
It looks like this got merged: https://github.com/DataDog/datadog-agent/pull/8079
Any outlook on when 7.30.0 is going to be released?

[2021-08-04 15:59] ericmustin commented on #3804
@gumshoe2020 coming weeks, the test and release process for the agent has some variability so it's hard to be more specific than that. I can absolutely ping this thread when it's out though.

[2021-08-04 17:00] japoorv opened #4740 "Ability to add sarama kafka producer configs"
## Important (read before submitting)
We are currently preparing for the upcoming 1.0 GA release. Feature requests that are not aligned with
the current roadmap https://github.com/open-telemetry/opentelemetry-collector/blob/main/docs/roadmap.md
and are not aimed at stabilizing and preparing the Collector for the release will not be prioritized.

_Delete this paragraph before submitting._

**Is you

[2021-08-04 17:07] mx-psi commented on #4124
Hi again, we have so far unfortunately not been able to reproduce this. I am going to share an full example that works for us on the latest available version of the opentelemetry-go library, based on the most recent opentelemetry-go "otel-collector" example. I have changed it to work on the latest version and through the HTTP exporter.

Could you try this with the latest Collector version (v0.31.0

[2021-08-04 20:36] jrcamp opened #4446 "Create docker observer"
Implement observer interface for Docker containers. @mstumpfx

[2021-08-04 20:37] mstumpfx commented on #4446
👋 I'll take this one!

[2021-08-04 21:59] hoffoo commented on #3519
Thanks!

[2021-08-04 21:59] #3519 closed

[2021-08-05 01:35] bogdandrutu commented on #4433
I removed the whole go folder

[2021-08-05 18:57] seankhliao commented on #4433
See https://github.com/StackExchange/wmi/pull/58#issuecomment-877265586 where the `v1.2.0` tag moved
Which version you get depends on the proxy you're using, since proxy.golang.org is both default and is high traffic, in most cases it will cache the version before it was moved. sum.golang.org will also serve the checksum for the cached version. Other lower traffic proxies might only cache versions

[2021-08-06 12:26] stephenhong opened #4460 "Is it possible to send collector logs to Splunk?"
I'm not referring to sending application logs to Splunk using Splunk HEC exporter. When you have logging exporter configured on your collector, your terminal shows collector logs such as

`2021-08-09T12:55:28.110Z info healthcheck/handler.go:128 Health Check state change {"component_kind": "extension", "component_type": "health_check", "component_name": "health_check", "status": "ready"} 2021-08-0

[2021-08-06 12:49] adriangb commented on #4214
Hi @dmitryax , the issue got marked as stale. Can you please take a look? Thanks

[2021-08-07 06:50] odeke-em opened #4746 "receiver/prometheus, exporter/prometheus: recognize SIGHUP to reload configurations as Prometheus server does"
Prometheus' server recognizes uses a SIGHUP signal sent to it, to reload configurations when they are changed.
Essentially Prometheus says per https://prometheus.io/docs/prometheus/latest/configuration/configuration/
***Prometheus can reload configurations by sending SIGHUP or by visiting the /-/reload endpoint with —web.enable-lifecycle flag is enabled***
<img width="619" alt="Screen Shot 2021-08

[2021-08-07 23:39] hossain-rayhan opened #4465 "awsemf exporter: replace logGroup and logStream pattern with metric labels"
**Description:**
This is a requirement for EKS Fargate Container Insights.

In the AWS EMF exporter config, customers can use some patterns in the logGroup and logStream name. Those pattern supports a specific set of keys like `{ClusterName}`, `{NodeName}`, `{TaskId}` etc. The exporter automatically looks into resource attributes and replaces those patterns with real values. However, for EKS Farga

[2021-08-07 23:39] hossain-rayhan commented on #4465
Development is DONE. Will send a PR soon.

[2021-08-08 21:44] #4429 closed

[2021-08-09 08:01] tigrannajaryan opened #4965 "TestMetricResourceProcessor is unstable"
See failure https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector/8980/workflows/62df5a55-a6d7-4dcb-9bcf-eeb7bf251281/jobs/94590

Test output:
[code]

Agent log:
[code]

Looks like the agent crashed on startup and exit code is -1. Or it was stuck during startup and was terminated by the testbed, perhaps? Unclear and this seems to be a unstable behavior since most of the

[2021-08-09 15:43] #4057 closed

[2021-08-09 19:35] dashpole commented on #392
Would something like NVidia's dcgm exporter work?  https://github.com/NVIDIA/gpu-monitoring-tools.  It can attach pod info as well.

[2021-08-10 01:42] anuraaga commented on #4080
Was fixed in #4204

[2021-08-10 01:42] #4080 closed

[2021-08-10 01:43] anuraaga commented on #4077
Was verified to be fine

[2021-08-10 01:43] #4077 closed

[2021-08-10 02:42] tydhot opened #4745 "why collector kafka exporter didn't print kafka error reason in log?"
We have used collector in production env to export metric data to kafka. We have found a problem that when collector export to kafka failed and it will not print any log about the reason. It will be a challenge to figure out the reason  when the kafka is only for collector in prod env. Can I know why collector didn't print any log about it?

[2021-08-10 06:46] dmitryax commented on #4214
Hi @adriangb , sorry for the delayed response.

Yes, it should be possible but with [resource processor](https://github.com/open-telemetry/opentelemetry-collector/tree/main/processor/resourceprocessor).

It looks like there is some issue with kind cluster network that k8s_tagger cannot work with. I tried your demo app in a regular k8s cluster v1.20 and it works fine for me, I can see all the k8s r

[2021-08-10 06:50] dmitryax commented on #4214
Feel free to update this ticket if you want it to be further investigated specifically for kind cluster.

[2021-08-10 08:10] HashemTaheriSonos commented on #4036
@bogdandrutu I don't know if you are experiencing the same issue or not, but in my case this has been solved. The root of my issue was in the usage of java agent. otherwise this pipeline setup is working and we can have traces in both aws and jaeger.

[2021-08-10 18:13] adriangb commented on #4214
I tried in Minikube and I'm seeing the same thing. What output are you seeing exactly under `Resource labels:`?

[2021-08-10 20:40] Aneurysm9 commented on #4381
I'm not sure either one is really correct.  Maybe `uint32` can be safely represented by `int64`, but `uint64` and `uint` (when using >32 bits) can't.  Do we have general guidance for component authors regarding such type conversions?

[2021-08-10 20:41] dmitryax commented on #4214
I saw all the fields populated that configured in k8s_tagger->extract.

What's the env you run the minikube in? Can you run it with calico networking and use virtualbox if your are not using linux?

[code]

[2021-08-10 21:07] codeboten opened #4744 "MetricDataTypeSummary not handled in some cases"
There are multiple places in the code where a switch statement handles cases like the following example but is missing case pdata.MetricDataTypeSummary.

https://github.com/open-telemetry/opentelemetry-collector/blob/8038673eba9e9d32c5b7bd5bb6a0be94b2ec60cb/exporter/exporterhelper/resource_to_label.go#L74-L79

[2021-08-10 22:09] adriangb commented on #4214
Bingo, using calico networking did the trick (I tested just that in isolation). I also switched back and forth, seems reproducible. Thank you for the expert guidance 😄, it goes a long way!

This solves my immediate problem, although I do not fully understand the underlaying moving pieces. Please let me know if I should close this issue or if you want to keep it open.

[2021-08-10 23:49] dmitryax commented on #4214
Feel free to update the ticket with the env specific details or create a new one instead.

[2021-08-10 23:52] adriangb commented on #4214
Sure, the env is just MacOS 11.5.1. I put it in the OP. Let me know if there's any other info that's needed.

[2021-08-11 00:33] edinardo opened #4595 "How to map TraceId/SpanId using the Filelog Receiver"
Based on the [Log and Event Record Definition](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/logs/data-model.md#log-and-event-record-definition)  `TraceId` and `SpanId` are "root" fields like `Timestamp` but I can't find in the documentation how to parse or map it to the respective fields, so they end up inside the `Body`.

Starting from the regex_parse, whe

[2021-08-11 00:44] dmitryax commented on #4214
I mean k8s environment where this issue can be seen. Current bug says that it's a generic k8s_tagger bug

[2021-08-11 00:57] adriangb commented on #4214
Got it, I added the versions for Minikube, Kind and k8s (for each)

[2021-08-12 15:02] Aneurysm9 commented on #4189
Done in #4211.

[2021-08-12 15:02] #4189 closed

[2021-08-12 23:34] dloucasfx opened #4616 "OTEL fails to start if at least one resourcedetection detector returned an error"
**Describe the bug**
The [resourcedetection](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/processor/resourcedetectionprocessor/internal/resourcedetection.go#L129
) processor is designed in a way where if a detector failed, it stops processing the remaining detectors and returns an error causing the caller to quit the startup process and in turn the agent process fail

[2021-08-12 23:34] dloucasfx commented on #4616
cc: @rmfitzpatrick @flands

[2021-08-13 05:56] anuraaga commented on #4433
As 1.2.1 has been released, I think we can do

`replace github.com/StackExchange/wmi v1.2.0 => github.com/StackExchange/wmi v1.2.1`

Is this something that makes sense to add to our files? As far as I can tell, this is a transitive dependency so we need to use a replace to fix ourselves as needed. I've tried deleting my pkg cache to no avail, probably hitting what @seankhliao's is mentioning.

[2021-08-13 07:30] opentelemetry-bot opened #4618 "Bug report for failed CircleCI build (job: loadtest-with-github-reports)"
Auto-generated report for `loadtest-with-github-reports` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/151395

#### Test Failures
-  TestMetric10kDPS
-  TestMetric10kDPS/OTLP

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-08-13 07:48] mx-psi commented on #4433
@anuraaga can you check if #4619 fixes the issue for you?

[2021-08-13 07:51] tigrannajaryan opened #4620 "Implement merging of Resources with different schemas in resourcedetectionprocessor/internal/resourcedetection.go"
resourcedetectionprocessor modifies the Resources that pass through it by merging it with the Resources
it detected. This merging is valid when the schemas of the original Resource and the merged Resource
are the same, but it is generally speaking incorrect when the schemas are different.

Proposed OTEP 0161 defines how Resources of different schemas can be merged correctly by leveraging
schema co

[2021-08-13 12:55] rmfitzpatrick commented on #4616
For the particular issue discovered I wonder if expanding the availability check is needed (https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/processor/resourcedetectionprocessor/internal/aws/ec2/metadata.go#L43) to ensure the detector doesn't proceed in that environment, but overall I agree detectors shouldn't halt startup.  It can be useful to list all possible detector

[2021-08-13 21:43] gebn opened #4623 "[k8sprocessor] Watch pods in a set of namespaces"
**Is your feature request related to a problem? Please describe.**

The processor is currently able to watch pods in a single namespace, on a single node, or across the entire cluster. In multi-tenant clusters, watching every pod is at best inefficient and worst forbidden, while looking at a single node is best-suited for DaemonSet deployments. This means the only option left is to have a processo

[2021-08-15 02:05] NathanielRN opened #4739 "Hostmetrics Load Scraper does not have even 1 Label - `awsemf` exporter filtering depends on 1+ labels"
**Is your feature request related to a problem? Please describe.**

The `hostmetrics` `cpu` scraper will produce a metric like this (using the file exporter):

[code]

but the `hostmetrics` `load` scraper will produce a metric like this:

[code]

It has no labels. Without this label, the `awsemf` exporter will produce the follow output for the CloudWatch (CW) backend for the `cpu` metric:

[code]

[2021-08-16 12:39] overmeulen opened #4627 "filelog receiver can't filter on severity"
**Describe the bug**
Filtering log entries on their severity doesn't work

**Steps to reproduce**
Log file:
[code]
Collector config:
[code]

**What did you expect to see?**
A single log entry being exported

**What did you see instead?**
The collector fails to start with the following exception:

Seems like "$severity" is considered as an env variable and replace by an empty string upon collector

[2021-08-16 12:54] overmeulen opened #4628 "filelog receiver include doesn't support multiple directory levels"
**Describe the bug**
Using ** in the filelog receiver include pattern only picks up 1 directory level

**Steps to reproduce**
Collector config:
[code]

**What did you expect to see?**
/data/A/B/test.log being watched by the filelog receiver

**What did you see instead?**
/data/A/test.log being watched but not /data/A/B/test.log (check the collector logs)

**What version did you use?**
opentelemetr

[2021-08-16 22:13] hossain-rayhan commented on #4465
Closed with #4466

[2021-08-16 22:13] #4465 closed

[2021-08-16 22:30] chengtangzheng2021 opened #4667 "why jaegerthrifthttpexporter got removed?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I used version 29 with jaegerthrifthttpexporter, it is working well, I used jaeger gRPC exporter, it is crashing the jaeger collector at big test request volume.
**Describe the solution you'd like**
A clear and concise description of what y

[2021-08-17 07:59] mx-psi commented on #4667
See #4083, cc @jpkrohling

[2021-08-17 14:05] chengtangzheng2021 commented on #4667
#4083 said "Jaeger Agents do not offer the ability to send data to the Jaeger Collector using HTTP Thrift for more than a year now"
About this comment, the function of otel collector is the same as Jaeger agent regarding as a tracing buffer, good practice is that otel collector sends tracing to jaeger collector directly, with otel collector being there, no need to have a Jaeger agent to be there.

[2021-08-17 15:06] chengtangzheng2021 commented on #4667
{"level":"info","ts":1629211743.3203762,"caller":"server/grpc.go:76","msg":"Starting jaeger-collector gRPC server","grpc.host-port":":14250"}
{"level":"info","ts":1629211743.3203762,"caller":"server/http.go:48","msg":"Starting jaeger-collector HTTP server","http host-port":":14268"}
Just download Jaeger and started it, it started a http thrift server with 14268 and a gRPC server at 14250
So the cu

[2021-08-17 18:00] opentelemetry-bot opened #4682 "Bug report for failed CircleCI build (job: loadtest-with-github-reports)"
Auto-generated report for `loadtest-with-github-reports` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/152136

#### Test Failures
-  TestTrace10kSPS
-  TestTrace10kSPS/SAPM

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-08-17 18:08] errordeveloper opened #4683 "AWS CloudWatch logs exporter is not yet functional"
There appears to be two issues right now.

Firstly, due to that `QueueSize` is unset, the queue is being blocked.

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/64a13751e3a1702c25569b436ff8e283d4579a16/exporter/awscloudwatchlogsexporter/factory.go#L54-L57

So any attempt to use the exporter results in messages like:

[code]

Secondly, `Start` and `Shutdown` method are not

[2021-08-17 19:00] gumshoe2020 commented on #3804
Thanks, we will begin integrating and testing it now.  I'll let our Datadog CSM know too.

[2021-08-17 23:42] gracewehner opened #4743 "Prometheus receiver doesn't support untyped metrics"
**Describe the bug**
Prometheus receiver does not convert metrics without the TYPE hint to OTLP correctly and treats them as invalid, whereas Prometheus will treat these metrics as a gauge.

**Steps to reproduce**
Scrape an endpoint that has metrics without the `# TYPE <metric name> <metric type>` hint.

**What did you expect to see?**
Prometheus receiver matching Prometheus functionality and trea

[2021-08-18 01:15] bogdandrutu commented on #4433
@mx-psi your PR broke core tests for contrib see https://github.com/open-telemetry/opentelemetry-collector/runs/3356294535

[code]

I think this is not how we should fix this.

[2021-08-18 04:27] Betula-L opened #4742 "Jaeger receiver UDP transport can not be closed"
**Describe the bug**
Jaeger receiver UDP transport can not be closed

**Steps to reproduce**
Run otel with below config
[code]

Then give it a signal interrupt.

**What did you expect to see?**
Otel should be closed gracefully.

**What did you see instead?**
Otel was not closed and hang.

**What version did you use?**
Version: 1e1f24b462e58b141ce967f744aa60efeeb349c7

**Additional context**
I trie

[2021-08-18 07:45] cyrille-leclerc commented on #4432
Hello @realwoobinlee, can you please indicate which version of Elastic Observability you use executing `apm-server version` ? cc @axw

[2021-08-18 08:05] leewoobin789 commented on #4432
@cyrille-leclerc
the entire cluster is based on the version 7.13.3.

[2021-08-18 08:38] axw commented on #4432
Thanks for the details @realwoobinlee / @leewoobin789.

I've created https://github.com/elastic/apm-server/issues/5960, as the bug is most likely there. The collector is just forwarding OTLP on to Elastic APM; translation to Elasticsearch docs happens there. Let's close this and continue over in the new issue.

[2021-08-18 09:11] mx-psi commented on #4433
@bogdandrutu Sorry about that, I am taking a look.

FWIW, reverting the PR does not seem to fix the issue locally, so it may not be my PR (or just my PR):

<details>

<summary>Terminal session testing the revert of commit 6ca7e9711 </summary>

[code]

</details>

[2021-08-18 09:15] mx-psi commented on #4433
@bogdandrutu Looking a bit closer, you can see the error on the Github Actions run for commit open-telemetry/opentelemetry-collector@632ed32, which is from August 11, prior to my PR being merged: https://github.com/open-telemetry/opentelemetry-collector/runs/3303527335. So this looks like an unrelated issue to me.

[2021-08-18 09:34] mx-psi commented on #4433
It's hard to tell where the issue started since contrib-tests were failing for other reasons. It may have started after open-telemetry/opentelemetry-collector#3766 (I tried testing this on open-telemetry/opentelemetry-collector#3857 but it's hard to revert this since gopsutil was bumped in many places).

In any case, I think this issue can be closed and we can open a different one on the core repo

[2021-08-18 14:17] errordeveloper opened #4714 "AWS CloudWatch logs exporter should have an option to automatically create log group/stream"
**Is your feature request related to a problem? Please describe.**

Currently log exporter relies on having an existing log group and log steam, it would be more convenient if auto-create option was available. Being able to set TTL would be nice also.

**Describe the solution you'd like**

Add an auto-create option to the exporter config, it would be nice if it was enabled by default.

**Describe

[2021-08-18 14:48] Konig-Corey opened #4716 "ResourceDetector should be able to pull information about AutoScalingGroup for AWS resources"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
When using the resourcedetection processor I would like to be able to get resource information about the resources auto scaling group

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Have ano

[2021-08-18 15:06] errordeveloper commented on #4683
Having test #4698, I realised there is at one more issue:

[code]

It appears that `steam.UploadSequenceToke` is actually `nil`.

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/32eebfe5bf68bd66d0d481900a65d9ca190e9ed2/exporter/awscloudwatchlogsexporter/exporter.go#L76

I'll have a look at the docs and see how a token can be obtained... Could this be because my log stream is

[2021-08-18 15:12] errordeveloper commented on #4683
From the SDK docs:

[code]
So it looks this logic needs to reworked... I'll aim to open another PR to address this.

[2021-08-18 15:27] jpkrohling commented on #4667
Could you please define "crashing"? We should fix that instead of reinstating an exporter that isn't going the default option in Jaeger itself.

The point was that the gRPC transport between the agent and the collector has been the default for a long time and is tried/tested.

[2021-08-18 17:55] mxiamxia opened #4721 "AWSCWLogs Exporter enhancements"
**Is your feature request related to a problem? Please describe.**

Create an issue to list the enhancements need to be done for AWSCWLogsExporter

1. Batch log events and make sure the batch size is less then 1MB when calls PutLogsEvent API
2. Each single logs event size should be less than 256KB. Need to trim or drop if it reaches the maximum size limits.
3. Create Log Group/Stream in flight fro

[2021-08-19 04:26] hossain-rayhan commented on #3751
All PRs got merged for two new processors. Closing this one.

[2021-08-19 04:26] #3751 closed

[2021-08-19 08:23] errordeveloper commented on #4721
I've also opened https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/4714 regarding this, but it's more from the user's perspective. Feel free to close in favour of this, or track as a subtask here.

[2021-08-19 08:24] errordeveloper commented on #4683
Closing since quite few fixed had been merged, and remaining improvements are tracked in https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/4721.

[2021-08-19 08:24] #4683 closed

[2021-08-19 08:32] errordeveloper commented on #4714
xref #4721

[2021-08-19 10:33] Betula-L opened #4741 "Fix jaeger receiver collector remote sampling strategies in gRPC endpoint"
**Describe the bug**
We are trying to replace jaeger agent to opentelemetry-collector as following described,
![image](https://user-images.githubusercontent.com/6059935/130062917-a4cb65f7-144d-44a8-b894-f61cfb8c143a.png)

However, we encountered some troubles for java programs. As recent PR https://github.com/open-telemetry/opentelemetry-java/pull/3368, java SDK only supports request remote sampli

[2021-08-19 15:28] Konig-Corey opened #4734 "Configuring EMF exporter Dimensions"
### Discussed in https://github.com/open-telemetry/opentelemetry-collector-contrib/discussions/4728

<div type='discussions-op-text'>

<sup>Originally posted by **Konig-Corey** August 18, 2021</sup>
There are a few options out of the box that the emf exporter offers for metric rollup. Aside from that there is an option to manually set the dimension sets you would like to use when sending to cloudd

[2021-08-19 17:52] mxiamxia commented on #4381
Thanks, we'll change it to `int64`, it still has a risk to lose the value precision on `uint64` and `uint`. Not sure what's the best way to handle it for now.

[2021-08-19 18:18] chengtangzheng2021 commented on #4667
the jaeger collector start two servers, one is of gRPC/http server, one is of thrift/http server.
those two servers are started by default.
Having two exporters there is much better, if one is not working, then can use another one.
Of gRPC exporter to be working well, the exporter and the jaeger collector has to be configured well and there are lots of configure parameter.
My use of gRPC exporter

[2021-08-19 18:20] jpkrohling commented on #4667
I agree with that, but having two exporters means twice the number of exporters to support.

I'm really more interested in fixing whatever might be broken instead. Can you please share the steps I have to take to reproduce the issues you are having?

[2021-08-19 18:25] chengtangzheng2021 commented on #4667
2021-08-19T14:25:24.56-0400 [APP/PROC/WEB/0] ERR io.grpc.StatusRuntimeException: DEADLINE_EXCEEDED: deadline exceeded after 9.999074503s. [remote_addr=proxy-aus.dell.com/10.170.20.117:80]
   2021-08-19T14:25:24.56-0400 [APP/PROC/WEB/0] ERR     at io.grpc.Status.asRuntimeException(Status.java:535)
   2021-08-19T14:25:24.56-0400 [APP/PROC/WEB/0] ERR     at io.grpc.stub.ClientCalls$UnaryStreamToFutur

[2021-08-19 18:28] chengtangzheng2021 commented on #4667
this got running simple test request,

[2021-08-19 18:33] chengtangzheng2021 commented on #4667
with and without batch process config got this error now.
before was just Jmeter test got error and made the jaeger collector down.
But some apps using gRPC are working, some apps are not.

[2021-08-19 18:35] chengtangzheng2021 commented on #4667
2021-08-19T14:35:12.31-0400 [APP/PROC/WEB/1] ERR [otel.javaagent 2021-08-19 18:35:12:311 +0000] [grpc-default-executor-5] WARN io.opentelemetry.exporter.jaeger.JaegerGrpcSpanExporter - Failed to export spans

[2021-08-19 18:43] chengtangzheng2021 commented on #4667
your comment: I agree with that, but having two exporters means twice the number of exporters to support.
More exporter being there, means the product is more powerful, if no jaeger thrift exporter being there, our apps will be able to use otel collector.

[2021-08-19 18:46] chengtangzheng2021 commented on #4667
the above error is from javaagent gRPC jaeger exporter.
let me try to retrieve the otel gRPC exporter error.

[2021-08-19 18:50] chengtangzheng2021 commented on #4667
this is the error from otel collector gRPC exporter:
   2021-06-22T15:36:52.38-0400 [APP/PROC/WEB/0] ERR 2021-06-22T19:36:52.380Z    debug   jaegerexporter/exporter.go:131  failed to push trace data to Jaeger     {"kind": "exporter", "name": "jaeger", "error": "rpc error: code = Unavailable desc = connection error: desc = \"transport: Error while dialing dial tcp 10.176.195.3:14250: connect: conne

[2021-08-19 18:58] chengtangzheng2021 commented on #4667
Our apps using otel jaeger thrift exporter, passed performance test going to get deployed to prod in days, so hope new version of otel collector still have it there. we are using otel collector version 29

[2021-08-19 19:06] chengtangzheng2021 commented on #4667
Run Jmeter test, run for a while, the connect: connection refused error will occur.

[2021-08-19 19:14] chengtangzheng2021 commented on #4667
And of node js openTelemetry's jaeger export, it only support thrift protocol, with using otel collector jaeger thrift exporter, no protocol changing in the collector, it will be more efficient.

[2021-08-19 19:17] dmitryax opened #4735 "Signafx exporter mutates original log attributes causing collector crashes"
**Describe the bug**
Signafx exporter mutates original log attributes which is causing collector to crash when there are more than one exporter in the pipeline. Code parts where the mutation happens:
- https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/abd11c161b5f85be047258453f3f897acb3741f4/exporter/signalfxexporter/internal/translation/logdata_to_signalfxv2.go#L61
- https://

[2021-08-19 19:36] chengtangzheng2021 commented on #4667
Got error from javaagent gRPC exporter and otel collector gRPC exporter, looks the issue is that the jaeger gRPC server is not mature.

[2021-08-20 01:04] FPAX opened #4760 "Enhance tail-sampling to have other processors' features to make it much more powerful"
When trying to optimize volume and traffic for logged spans, it's useful to be able to log only a portion of the spans that comply with some particular rule. Also, for tail-sampling, it's useful to be able to add exclusion rules besides inclusion ones. Also, tail-sampling does not recognize items like serviceName, operationName and others.

If Tail-sampling processor is enhanced to:
- allow to set

[2021-08-20 01:26] vikrambe commented on #4758
https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/4396 -> Planning to work on the review comments over the weekend.

[2021-08-20 03:58] alexperez52 opened #4765 "Re-enable linter after core migration"
**Is your feature request related to a problem? Please describe.**
Linter has been disabled temporarily in order to merge the migration of collector-core to collector-contrib

**Describe the solution you'd like**
This linter should be re-enabled once #4764 is merged and modified.
This can be done by adding `impi` back into `.github/workflows/build-and-test.yml` line 122 as such:
`        run: make

[2021-08-20 07:47] jpkrohling commented on #4667
There's quite a lot to process here, but the TL;DR is: please, provide step-by-step instructions on what you are doing, with source code and commands, that reproduces the performance issue. Without that, I can't help you much.

We are not reinstating the Jaeger Thrift exporter unless we have a good reason. So far, this ticket isn't providing a good reason.

Are you saying that the Jaeger Collector

[2021-08-20 15:20] chengtangzheng2021 commented on #4667
The Jaeger collector is owned by another team, my team just used their jaeger collectors, the gPRC exporter not working issue, blocked the development for some weeks, they said their Jaeger collector are good, and had been there running with no issue for a round a year, but all their clients are not using otel collector.
we tried the jaeger thrift exporter, and it is working well, so we took using

[2021-08-20 15:51] jpkrohling commented on #4667
That's fair. In any case, there's still very little that I can use in this ticket. I can try to use `tracegen` to generate spans to otelcol and exported spans via gRPC to Jaeger, but I'm sure I've done it in the past.

My request to you once again: please provide a runnable test case demonstrating the problem.

[2021-08-20 15:53] chengtangzheng2021 commented on #4667
My Jmeter test also made the jaeger gui dashboard down, I'm not allowed to run Jmeter test to bring down their collector again. Before, my Jmeter test made their jaeger collector not working, I was not allowed to use their collector for sometime, they said they were going to set up new jaeger collector for me, but they had not get it done for months.
And don't have story to work on this issue, bec

[2021-08-20 16:03] chengtangzheng2021 commented on #4667
receivers:
  jaeger:
    protocols:
      grpc:
        endpoint: 0.0.0.0:8080
        #default value for this buffer is 32KB
        write_buffer_size: 128000
        #default value for this buffer is 32KB.
        read_buffer_size: 128000
  jaeger/2:
    protocols:
      thrift_http:
        endpoint: 0.0.0.0:8081
processors:
  batch:
    #default = 8192 Number of spans, metric data points, or l

[2021-08-20 18:59] opentelemetry-bot opened #4807 "Bug report for failed CircleCI build (job: loadtest-with-github-reports)"
Auto-generated report for `loadtest-with-github-reports` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/153943

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/filelog
-  TestLog10kDPS/filelog_checkpoints

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more

[2021-08-20 23:32] Aneurysm9 opened #4826 "Investigate why #4779 broke unit tests"
https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/4779 caused the following test failures to appeas:

[code]

[2021-08-21 02:38] rashmichandrashekar opened #4862 "Add further validation to prometheus receivers validate method to make it more robust"
Problem -
The current implementation of the prometheus receiver's validate method does some basic validation to check if there are any scrape configs present at all and a renaming fix. If I were to run this validate method before running the collector to make sure it doesnt crash at runtime, it wouldn't catch all the issues and collector will crash at runtime.
https://github.com/open-telemetry/ope

[2021-08-23 06:38] piffall opened #4861 "Re-evaluate the config for sarama producer on kafka exporter."
Re-evaluate if/how to provide sarama configuration parameters through exporter configuration.

_Originally posted by @bogdandrutu in https://github.com/open-telemetry/opentelemetry-collector/pull/3777#discussion_r692575795_

[2021-08-23 15:28] chengtangzheng2021 commented on #4667
There are lots real world cases, can be managed and can not be managed.
Good product like otel collector, should just able to be used in all these cases, not just in simple case.
Out jaeger collector may not configured well, but the owner of it had worked on it for months, and still was not able to make it work.
And the jaeger thrift exporter is working well and come to rescue.
I think jaeger's th

[2021-08-23 15:40] #4735 closed

[2021-08-23 16:21] jpkrohling commented on #4667
Please provide a runnable test case demonstrating the problem.

[2021-08-23 16:28] dmitryax opened #4835 "Signalfx exporter: event exporter uses only first access token from the logs batch"
`BatchPerResourceMetrics` is applied for metrics to make sure that metrics with different access tokens pushed separately. The same approach must be added to [signalfx events/logs](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/exporter/signalfxexporter/eventclient.go#L47) . Otherwise `batch` processor added to the signalfx events pipeline breaks the Access token passt

[2021-08-23 17:28] chengtangzheng2021 commented on #4667
the jeager collector automatically start a http thrift server and a gRPC server.
Even using gRPC exporter to send tracing to jaeger colleter, with jaeger thrift exporter being there, it will be a very good fallback solution, any time or any case the gRPC protocol not working, can just make an otel collector configure file change to switch to the jaeger thrift exporter.

[2021-08-23 23:00] edinardo opened #4841 "Loki exporter failed to transform logs into Loki log streams"
OpenTelemetry Collector Contrib receives logs from `Filelog`, processes them as `Batch`, and exports them to `Logging` + `Loki`.
On the `Logging` exporter everything seems good:
[code]
But for the `Loki` exporter we have the following error:
[code]

A similar simple setting using `promtail` sends the same log without errors.

Collector version: v0.33.0

Configuration:
[code]

Environment:
  OS: "U

[2021-08-24 05:27] polarG opened #4849 "filelog receiver: the last event of every data file was lost"
**Describe the bug**
A clear and concise description of what the bug is.
The last event of every data files are lost.
Component with this issue: filelog

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.
Data ingestion:

- File number: 648
- Quantity of event: 20,000,000

Test setup:
otel agent ---> otel agent (forwarder) ----> Splunk

- otel agent to otel agent (forw

[2021-08-24 05:42] polarG opened #4850 "filelog receiver: the memory hit the boundary and cause massive event loss"
**Describe the bug**
A clear and concise description of what the bug is.
component with this issue: filelog receiver.
When use 3 filelog receivers in the use case, the otel will show error message "the memory hit the boundary and cause massive event loss". But if only 1 filelog receiver is used, no error come up.

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.
Data

[2021-08-24 11:40] grzn commented on #1925
We encountered this issue as well; with the default send_batch_size/send_batch_max_size of 8192/0 we're hitting this error, with values of 256/512 everything is working, but we're not sure if these are the optimal values for datadog.

What are the recommended values / max values that datadog support?

[2021-08-24 14:15] gumshoe2020 commented on #3804
Question for you, where is the `experimental` tag supposed to go in the `datadog-agent-daemonset.yaml`?

[2021-08-24 15:06] samanthawalter opened #4860 "[attributeprocessor] Support sourcing attribute value from current timestamp"
**Is your feature request related to a problem? Please describe.**
We would like to be able to add an attribute to traces/metrics/logs whose value is the time at which it passed through the collector.

**Describe the solution you'd like**
Implement this change in the AttrProc whose logic is shared by both the Attribute Processor and Resource Processor.

In addition to sourcing the attribute value

[2021-08-24 15:07] samanthawalter opened #4859 "[attributeprocessor] Support applying an action conditionally on the existence of another attribute"
**Is your feature request related to a problem? Please describe.**
We would like to be able to apply an insert/update/upsert action only if another specified attribute exists.

**Describe the solution you'd like**
Implement this change in the AttrProc whose logic is shared by both the Attribute Processor and Resource Processor.

Add the ability to configure an attribute key which must exist for th

[2021-08-24 15:08] samanthawalter opened #4858 "[attributeprocessor] Support applying actions to only a sample percentage of traces/metrics/logs"
**Is your feature request related to a problem? Please describe.**
We would like to be able to apply an insert/update/upsert action to only a sample percentage of traces/metrics/logs in order to curb attribute bloating on all telemetry.

**Describe the solution you'd like**
To the Attribute Processor and Resource Processor, add the ability to configure the percent probability that a piece of telem

[2021-08-24 15:14] ericmustin commented on #3804
@gumshoe2020 i think you could either set the env vars in the Daemonset container spec, or it would be (i think, i usually use env vars) top level in the yaml file, per: https://github.com/DataDog/datadog-agent/blob/edc9a3076e9869008a551cd0fa7c43121de1e545/pkg/trace/config/testdata/full.yaml#L70-L73

[2021-08-24 16:15] chengtangzheng2021 commented on #4667
exporters:
  jaeger:
    endpoint: DTINWR2CSVC01.xxx.com:14250
    insecure: true
  jaeger/2:
    endpoint: DTINWR2CSVC04.xxx:14250
    insecure: true
Changed it to be gRPC exporter and run Jmeter, test, the issue doesn't occur for this test,
It has been not stable, the issue, has been intermittent.
The cause of the issue may not with otel gRPC exporter, may be with the jaeger gRPC server.
Using j

[2021-08-24 21:11] alanisaac commented on #1909
I also initially had questions on the instrumentation library prefix, but that part makes sense to me now for the reasons given above.  Thanks for the explanation!

That said, I have a case where I'm using a server framework that does not make it easy to get a route template for an endpoint.  Instead, we opted to use `"HTTP {METHOD} {ClassName}"` as our span name, where `{ClassName}` is the class

[2021-08-24 22:07] ericmustin commented on #1909
@alanisaac appreciate the feedback. I guess there's a few things here but, generally speaking, if folks want to just use `s.Name()` as the goto for their resource name instead of using our heuristics/translation (which ought to enhance things but, as you point out, can have cases where it does not), i'm not really looking to die on this hill and don't want to be a blocker for that. I think it's re

[2021-08-24 22:15] alanisaac commented on #1909
@ericmustin

Thank you for the incredibly fast response.  Something like `use_otel_span_name_as_datadog_resource_name` would be a great solution for our use case.

[2021-08-25 06:13] kdroukman commented on #4754
Adding my vote to this. The rigid specification around the span status doesn't allow for a variety of use cases in the real world, with the most common request being the ability to override error classification of 4xx status codes.

[2021-08-25 06:43] iNikem commented on #4754
@bogdandrutu why did you move this issue into contrib? Changing attribute values is the core functionality of the Collector. Changing status value should be the same, no?

[2021-08-25 17:31] sumitdhameja opened #4875 "Dynatrace - exporter for traces"
**Is your feature request related to a problem? Please describe.**
I am able to export metrics to dynatrace using dynatrace exporter. However, when I tried to export traces from service mesh to dynatrace, noticed that there's no exporter for traces.

**Describe the solution you'd like**
Have a tracer exporter for dynatrace

Is there a way to export traces to dynatrace using otel collector?

[2021-08-27 10:13] gillg opened #4907 "[prometheusreceiver] - Critical regression since 0.30.0"
**Describe the bug**
Hello, I just discovered a regression since the 0.30.0 release.
Lot of my metrics has values "NaN" since the version 0.30.0 ! (I tested lot of versions one by one...)

The problem(s) is probably in this list : https://github.com/open-telemetry/opentelemetry-collector/compare/e8aeafa28e6557e93b41d587a0d8cdb94224bec7...79816e7ed788aa9fdc8da9d9002275376a53366f

Workflow :
`node e

[2021-08-27 16:24] opentelemetry-bot opened #4911 "Bug report for failed CircleCI build (job: loadtest-with-github-reports)"
Auto-generated report for `loadtest-with-github-reports` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/156596

#### Test Failures
-  TestIdleMode

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-08-28 01:27] rockb1017 opened #4953 "k8sTagger - support regex for selecting annotations and labels"
**Is your feature request related to a problem? Please describe.**
Instead of specifying list of annotations and labels to collect, I would like to configure it to get all.

**Describe the solution you'd like**
support regex match for annotations and labels so that when i use `.*`, it would get all annotations and labels.

**Describe alternatives you've considered**
make it default to get all unle

[2021-08-28 02:19] odeke-em commented on #4748
I can reproduce this failure with this test that end to end implements the described situation
[code]

[2021-08-28 22:17] cvestre-cisco commented on #2353
+1 on this. Using the collector in `v0.33.0`.

Traces are definitely making it to DD.

[code]

[2021-08-29 07:42] gillg opened #4955 "Problems to use otel-collector as log pipeline"
**Use case sample**
Syslogreceiver > Lokiexporter

**Is your feature request related to a problem? Please describe.**
Hello, as discussed in previous issues (I will search and attach them later) otel logs can have a structured body, and/or attributes. In different case we have very different results.
Ex: fluent forward receiver don't fill any body... We only have attributes.
In opposite, syslogrec

[2021-08-29 08:39] gillg commented on #4628
I tried it some days ago and it was working for me.
Are you sure you didn't missed to mount your host log folder in you collector container (if you use docker).
Have you a log in console saying it can't find a file with the pattern ?

[2021-08-30 03:13] jadencodes opened #4959 "Allow sampling at span level"
**Is your feature request related to a problem? Please describe.**
It would be great to be able to sample spans and not just traces.  We have been following the recommended setup of running an agent on every machine and sending traces to a central collector. This setup should allow us to control sampling by simply changing the collector instead of each application or agent. At this collector we us

[2021-08-30 04:12] fourbytes commented on #4141
I've been looking into this further and while my PR did fix root spans being sent, there seems to be a broader issue with the logic of the sentry exporter.

According to the [sentry documentation](https://docs.sentry.io/product/sentry-basics/tracing/distributed-tracing/#traces-transactions-and-spans):

Using OpenTelemetry on a Rust (actix web) backend, and the Sentry SDK with a React client, the r

[2021-08-30 06:49] yorikya commented on #4124
Thank you very much,  I will try it soon.

[2021-08-30 09:01] yorikya commented on #4124
Thanks again @mx-psi !

The code example above is working fine for me.

The only difference between you and my code is: I am using the `NewWithInexpensiveDistribution` processor when you are using the `NewWithExactDistribution`.

I will change our internal library to work with the `NewWithExactDistribution` processor, thanks 🙏

[2021-08-30 14:17] zalegrala opened #4961 "Unable to get github.com/open-telemetry/opentelemetry-collector-contrib/pkg/translator/jaeger"
**Describe the bug**

I'm looking to use the translation code for Jaeger and unable to include it in my project due to a versioning issue.

**Steps to reproduce**
[code]

**What did you expect to see?**
I expected the code to download and update my go.mod for including the new module.

**What did you see instead?**

An error describing the revision mentioned in the go.mod for the package is not kn

[2021-08-30 16:05] tigrannajaryan commented on #4850
@polarG can you please attach the full Collector log?

[2021-08-30 16:06] tigrannajaryan commented on #4850
@djaglowski any ideas on what may be causing this? I can't find the error message anywhere in our code base.

[2021-08-30 16:07] tigrannajaryan commented on #4849
@djaglowski this sounds like a filelog bug, I suspect it may be losing the first or the last event in a file. Will you be able to look into this?

[2021-08-30 16:47] kuberkaul opened #4962 "Allow attribute processor to work on resource resource attributes for traces"
While attempting to follow [semantic convention](https://github.com/open-telemetry/opentelemetry-specification/tree/c35c212315223a0a0045d103318ca1bc40704fce/specification) for otel , we are setting multiple resource attribute

`resource.attributes.cloud: true`

We want to check if this resource attribute is set correctly then add a span attribute :

`span.attribute.retain: true`

This can then be

[2021-08-30 17:06] djaglowski commented on #4849
@tigrannajaryan I agree it sounds like a bug.

I'm OOO until Thursday but will look into then.

[2021-08-30 17:10] tigrannajaryan commented on #4849
@djaglowski thanks, I'll assign this to you.

[2021-08-30 17:50] tsologub opened #4967 "[QUESTION] Possibility to use duration as policy for tail-based sampling"
Does Otel collector provide a possibility to use `duration` as a policy?
I am trying to achieve that with the following collector configuration:
[code]

[2021-08-30 17:56] huyan0 opened #4968 "Proposal: Metric Aggregation Processor"
# Metric Aggregation Processor Proposal

## Objectives

The objective of the metric aggregation processor is to provide OpenTelemetry (OT) Collector users the ability to use exporters to send cumulative metrics to backend systems like Prometheus.

## Background

Currently, the Prometheus exporter for the OT Collector is not functioning as expected. This is because OTLP Exporter in the SDK is pass

[2021-08-30 17:57] allanvmat opened #4969 "Metrics Exporter continuing to show last value after disconnection"
I am testing opentelemetry collector with metrics(Prometheus) and encountered an issue.
Suppose a client connected to an opentelemetry collector, sends metrics to the otelcol and then disconnects (for some reason) the value from the previous metrics at the otelcol endpoint (/metrics) still persists instead of showing an empty metric page, may I know if:

1. it's possible to default it to a value i

[2021-08-30 18:13] opentelemetry-bot opened #4999 "Bug report for failed CircleCI build (job: loadtest-with-github-reports)"
Auto-generated report for `loadtest-with-github-reports` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/157134

#### Test Failures
-  TestTraceBallast1kSPSAddAttrs
-  TestTraceBallast1kSPSAddAttrs/10*1000bytes

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more

[2021-08-30 18:15] mx-psi opened #5002 "Jaegerreceiver should validate ports sooner"
**Issue description**:

open-telemetry/opentelemetry-collector#2541 is adding a `Validate` method to configuration structs in which the configuration of a given component is validated. This will be useful for doing dry-runs where one only wants to validate the configuration.

The factory function for creating a Jaeger receiver does some parsing and checks that could be done sooner like the followi

[2021-08-30 18:15] heruv1m opened #5003 "gRPC balancing doesn't work with exporter"
I have configuration as [documentation](https://github.com/grpc/grpc/blob/master/doc/naming.md) says
`exporters:
  jaeger:
    endpoint: "ipv4:firstHost:14250,secondHost:14250"
    balancer_name: "round_robin"`

Collector produces error.
How I can configure collector to balance exporter for sending requests in different backends?

[2021-08-30 18:17] yurishkuro opened #5006 "Automated way to expose configuration schema"
**Is your feature request related to a problem? Please describe.**

Unless I am missing something, there is no authoritative way to generate documentation for the schema of configuration file. There is some manually maintained doc pages with examples, but the authoritative source is the source code of the config structs (e.g. [pprof extension](https://github.com/open-telemetry/opentelemetry-collec

[2021-08-30 18:30] olagacek opened #5011 "Incorrect receiver label in prometheus receiver observability metrics"
**Describe the bug**

In version 0.20.0 of opentelemetry collector observability metrics coming from prometheus receiver do not contain proper label "receiver" with receiver name - it is set to empty string, instead of "prometheus"

**Steps to reproduce**

Run Open Telemetry app with prometheus receiver enabled, then scrape localhost:8888 metrics and inspect the returned response.

**What did you

[2021-08-30 22:09] rmfitzpatrick opened #5032 "SAPM Exporter - stable component request"
The [SAPM Exporter](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/exporter/sapmexporter/README.md) has been feature complete since 12/20 and without non-proto based changes since 5/21.  It is the recommended tracing format for reporting distributed traces to Splunk APM and part of all default configurations of the Splunk OpenTelemetry Collector distribution.

This is

[2021-08-31 00:40] bogdandrutu commented on #4745
Merged the PR

[2021-08-31 00:40] #4745 closed

[2021-08-31 00:42] #1443 closed

[2021-08-31 07:48] #4124 closed

[2021-08-31 08:26] jack161641 opened #5035 "Filter trace based on span attribute"
**Is your feature request related to a problem? Please describe.**

I want to filter traces based on the span attribute. For example, traces with errors use a 100% sampling rate and traces without errors use a 10% sampling rate. However, I found that the filter processor can only filter metrics

**Describe the solution you'd like**
Filter processor support traces

**Describe alternatives you've co

[2021-08-31 12:31] tigrannajaryan commented on #5032
+1. @bogdandrutu do we already have a system of marking components stable?

[2021-08-31 13:44] yorikya commented on #4124
@mx-psi Everything working as expected for me except the `controller.WithResource(res)` option

I have added the resources like this:

[code]

When I am using the `logging` exporter I can see the resources

[code]

But those labels are missing in the Datodog Metrics Dashboard.

May I am doing something wrong?

[2021-08-31 13:50] mx-psi commented on #4124
Resource attributes are not added by default to metrics; you can enable it by using the `resource_attributes_as_tags` setting. A minimal configuration of the exporter with that setting enabled would be:

[code]

[2021-08-31 15:20] Aneurysm9 opened #5036 "Semantic convention translation processor"
**Is your feature request related to a problem? Please describe.**
We need a processor that can perform the translation between semantic convention schema versions outlined in [OTEP-152](https://github.com/open-telemetry/oteps/blob/main/text/0152-telemetry-schemas.md).

**Describe the solution you'd like**
A processor should be implemented that can be configured with a target schema version.  The

[2021-08-31 17:05] rockb1017 commented on #2332
we will be working on this.

[2021-08-31 17:33] #4765 closed

[2021-08-31 20:27] rockb1017 opened #5047 "Need to add k8sEventReceiver"
using
https://github.com/open-telemetry/opentelemetry-log-collection/blob/main/docs/operators/k8s_event_input.md
to collect k8s objects/events

[2021-08-31 22:09] #4381 closed

[2021-08-31 22:15] odeke-em commented on #4907
@gillg thank you for the report! Given that you have the setup and you know what you look for, can you perhaps binary bissect the offending commit, essentially: start with the commit at the very bottom of the stack of suspect commits; if it doesn't have the regression, go to mid between the top and bottom; once mid way, if it doesn't have the regression, go to half of half; if it did, then go lowe

[2021-09-01 00:11] rashmichandrashekar commented on #4862
Have submitted a PR with the proposed changes here - https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5052

[2021-09-01 05:53] adirmatzkin commented on #5008
Having the same need, I was wondering if there is any new progress ? @EliyaCohen  @bogdandrutu
I'm willing to help of course ☺️

[2021-09-01 06:23] yorikya commented on #4124
Thanks @mx-psi  again 🙏

Yes, now it is work correctly, thank you for your attention

[2021-09-01 07:16] gillg commented on #4907
@odeke-em I will don't have time to dissect and recompile every versions. I try to do my best to help and contribute, I already have a lot of issues with metrics and logs collection to workaround for now 😅
But going deeper I highly suspect this commit to be guilty https://github.com/open-telemetry/opentelemetry-collector/commit/8b79380c1eff5925a3f576cef416d85ac718e253 ! I can test before and after

[2021-09-01 07:19] odeke-em commented on #4907
Thanks Gill! If you try out the commit before my change and it returns a desirable result then that helps rule out the cause. As for delaying stale markers, we are trying to emulate what Prometheus does so I'll run end to end tests with Prometheus then compare results. I have a PR to fix staleness markers for replicated/multiple instances but that isn't what's happening for your issue.

[2021-09-01 07:59] jpkrohling commented on #5004
I missed this from my radar, I'll take a look soon.

[2021-09-01 13:54] pratimsc commented on #3804
@ericmustin  - Any timelines on when this feature in *Datadog-Agent v7.30 * will be promoted to Mainstream from experimental.

This meets our requirement. Sadly, in my present organisation the tag of experimental is makes it a difficult sell in prod env.

[2021-09-01 15:42] sumo-drosiek commented on #5007
Is there planned any progress with that issue?
I have similar problem now, I would like to be able to route records basing on the resource attributes.

[2021-09-01 18:04] dmitryax opened #5060 "Expose subprocess and use it in prometheusexecreceiver"
Expose https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/jmxreceiver/internal/subprocess and replace https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/prometheusexecreceiver/subprocessmanager with it

[2021-09-01 23:07] dashpole commented on #4907
@gillg I think i might have found a solution, but I haven't tested it against your issue: #5062.  Would it be possible for you to try building from my PR, and letting me know if that fixes your issue?

[2021-09-02 06:28] gillg commented on #4907
@dashpole thank you a lot ! I will try to test it today !

[2021-09-02 13:24] StreetStrider commented on #2353
Hello. I had been seeing this error as well. I can't confirm that due to this error my traces are actually was sent to the datadog, I can't see them there either. The [image I was using](https://hub.docker.com/r/otel/opentelemetry-collector-contrib-dev) had been updated recently and now I see no errors, however, the traces still don't show in the datadog UI.

I will investigate what may be wrong o

[2021-09-02 14:35] mx-psi commented on #1644
This should be fixed, if you are still having issues feel free to reopen it!

[2021-09-02 14:35] #1644 closed

[2021-09-02 14:40] mx-psi commented on #1896
This should be fixed, if you are still having issues feel free to reopen it!

[2021-09-02 14:40] #1896 closed

[2021-09-02 14:54] mx-psi commented on #3656
@muneernet did you get to solve your issue? If not, can you look at Eric's message above?

[2021-09-02 15:10] ericmustin commented on #2676
There's been some work done to remediate this and open discussion is better done on the original issue, so closing this https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/2676 https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/1925

[2021-09-02 15:10] #2676 closed

[2021-09-02 15:14] ericmustin commented on #1909
So I spoke a bit with my team here, i think there's some open questions we have around how this confg  should work and how much flexibility should be built into it, and in the immediate term i'm not sure this will be prioritised in the upcoming few sprints, but I've added this feature request to our tracking internally and will try to update if/when it becomes available.

[2021-09-02 15:18] ericmustin commented on #3804
No timeline at this time, off the top of my head i'd say it will probably be at least 1, if not 2, more datadog-agent releases before anything here is marked GA on our side. The Datadog-agent doesn't have a set release schedule, but back of envelope i'd say there's usually a month or two between releases.  Again, for those interested, please sync with `support@datadoghq.com` for tracking.

Anyways

[2021-09-02 15:19] ericmustin commented on #2375
This is probably going to encompass this issue and will be the right place to stay up to date on work here: https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/3804

[2021-09-02 15:48] ericmustin commented on #1925
@grzn I think at this time the recommendation is, because `send_batch_size` is based on span count, but the datadog api intake is based on payload size, that you will need to tune this specific to your environment and size of spans being emitted by your instrumentation. There's some roadmap work to split payloads automatically that we'll update this issue with when it's being worked on, but nothin

[2021-09-02 15:50] ericmustin commented on #2353
`network unreachable` is an indication that there's a network issue not specific to datadog. That being said `Support@datadoghq.com` is the best place to go for triaging this issue if it continues to pop up, as we'd need to collect your configuration info and may need to work with your organisation to diagnose/troubleshoot.

[2021-09-02 15:52] StreetStrider commented on #2353
@ericmustin my error is not network unreachable. My error is as the topicstarter, so I posted here.
[code]

[2021-09-02 15:56] djaglowski commented on #4849
Here's what I believe is going on:
- The `filelog` receiver consumes one log at a time. Before it can consume a log, it must conclude that it has found a complete log.
- In the simple (default) case, a newline tells the receiver that the log is complete.
- When using `multiline.line_start_pattern`, the receiver uses the specified pattern to determine that the previous log is complete.
- When the l

[2021-09-02 16:21] ericmustin commented on #2353
@StreetStrider gotcha ty for clarifying. support email linked above is still the appropriate avenue here.

[2021-09-02 17:33] harnitsignalfx opened #5069 "receiver_creator/host with the `port` option is not working as expected"
I tried enabling the receiver_creator/host with a "hostport" rule and a port specified. The port doesn't seem to be getting picked up, the logs indicate that Config.port is not specified.

Rule:
[code]

Logs:
[code]

Couple of additional notes:
1. Setting the `is_ipv6 == "true"` in the rule causes the error to go away. However, it seems like a no-op. There are no metrics that get gathered and no l

[2021-09-02 17:41] harnitsignalfx commented on #5069
I've been kindly informed that this is a bug in the smart-agent receiver. Closing this out from the otel side.

[2021-09-02 17:41] #5069 closed

[2021-09-02 17:57] tigrannajaryan commented on #4849
Thanks for analysis. Perhaps we can just make `force_flush_period` non-zero by default regardless of `multiline` setting. I don't see huge downsides and it keeps things simple. I do not expect any log writers to write part of a log line, wait for a very long time then write the rest of the log line. Something around a few hundred ms should be enough for any log writer to write a complete log recor

[2021-09-02 18:02] djaglowski commented on #4849
@tigrannajaryan Good point. I like the simpler version too, and agree there's little downside.

@sumo-drosiek, Can I ask your opinion on this, since you had the original use case and implemented the feature?

[2021-09-02 18:13] djaglowski commented on #4850
@polarG Can you attach the collector log? I also cannot find this error message, or one like it, anywhere in the code base. I'll need more context to look into this further.

[2021-09-02 18:45] overmeulen commented on #4628
I'm not using docker in this case, and there is nothing in the console...

[2021-09-02 18:48] gillg commented on #4628
If there is nothing on the console it's strange. You should have at least something saying there is no files in the given path. Have you add it on the pipelines section ? 🤔

[2021-09-02 19:12] mxiamxia commented on #4298
This issue should be fixed in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/4384

[2021-09-02 19:43] jwimmersplk opened #5072 "BodyProcessor: Move fields from Resource to Body"
**Is your feature request related to a problem? Please describe.**
As a user of the SplunkHecExporter, I want to modify the payload before being sent to this exporter.  I want to move fields from the Resource object into the Body so when they are ingested by Splunk, they are not indexed fields like they are today.  I would prefer to create a kubernetes map that Splunk can extract at search time ra

[2021-09-02 20:29] rockb1017 commented on #5072
there doesn't exist a processor that we can modify `LogRecord.Body`.
it would be great to build a processor for general use case.

**Adding/removing a field**
When adding a field, we have to consider the type of `Body` first.
- when it is a Map, then it is straight forward to add a key value pair.
- when it is any other type such as String, it has to be wrapped into a default or user specified fie

[2021-09-02 21:49] odeke-em commented on #4990
@ipstatic I believe that code got released in the latest release. @alolita or @Aneurysm9 can we please close this issue?

[2021-09-02 22:01] #4990 closed

[2021-09-02 23:03] rockb1017 commented on #2332
We are implementing it with `journalctl` binary dependency in the image.
@WPH95 Thanks for providing that Dockerfile. Really helpful.
I just needed to add this line
`COPY --from=journal /bin/journalctl /bin/journalctl`
to your Dockerfile to make it work.
Should I update the dockerfile with this PR?
this is the size difference between 2 images.
[code]
`latest` tag is the one with journalctl added.

[2021-09-03 00:42] odeke-em commented on #4991
@marcdejonge it's been almost 4 months :-) Your example fails because you are referencing "hist_test" whose type is exactly declared as a Histogram at the very top
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/9a150e1cae63ef69a961fa093d625edee2ef5894/receiver/prometheusreceiver/internal/metricsbuilder_test.go#L36-L56

Regardless of how you modify those values, if your poin

[2021-09-03 06:49] ankitnayan opened #5075 "Not able to get resource metrics as labels in prometheus exporter"
**Describe the bug**
Not able to get resource metrics using below config in `prometheus` exporter
[code]

**Steps to reproduce**
otel-collector-config.yml looks like
[code]
**Current Behaviour**
[code]

**What did you expect to see?**
I expected to see resource metrics as labels exported.

**What version did you use?**
Running otel-collector version 0.26.0 and 0.34.0, both seem to have the same pr

[2021-09-03 10:54] sumo-drosiek commented on #4849
@djaglowski @tigrannajaryan
I agree that most of cases should be handled by relatively low value of `force_flush_period`. It has been set to `0` to keep backward compatibility, but it doesn't have much sense in real life, especially if files are being rotated, or nobody is writing to them at all.

There is no need in my opinion to make it dynamic, I would left it as simple value.

[2021-09-03 14:31] gillg commented on #4907
@dashpole Tested and approved !!!
It's definitely better, no more exception traces in logs and no more NaN values !

[2021-09-03 23:44] mtwo commented on #4953
A common use case that I've heard at customer meetings is applying a common set of pod labels as dimensions / annotations on metrics, traces, and logs. Users can custom-define these labels, and there are often too many to efficiently apply all of them, but it would be nice if the Collector captured some common / built-in ones. For example, Datadog's agent does a nice job of this: https://docs.data

[2021-09-05 08:15] odeke-em commented on #4907
@alolita @Aneurysm9 @gillg please help close this issue.

[2021-09-05 23:10] odeke-em commented on #1398
@jpkrohling this issue hasn't happened in a very long while since your report. Could we please close this issue @alolita?

[2021-09-05 23:28] odeke-em commented on #4980
I've mailed out this PR https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5080, please take a look.

[2021-09-06 07:23] andreas-ahman opened #5081 "receivercreator passing `endpoint` to receiver config even if not specified"
When using receivercreator to create a prometheusreceiver, the prometheus receiver crashes during startup complaining that it cannot parse config, invalid keys endpoint

[code]

This even if endpoint is not configured in the prometheus config section

[code]

**Steps to reproduce**
Try to start a prometheusreceiver

**What did you expect to see?**
Endpoint not passed into prometheus config

**What

[2021-09-06 15:22] #4907 closed

[2021-09-06 18:38] andreatosato opened #5133 "Not work HTTP receiver (404 response)"
Hi,
I have this config:
[code]

I have this docker file
[code]

I have this log:

[code]

I use Angular and @jufab/opentelemetry-angular-interceptor
this is request:
[code]

This is sample: https://github.com/andreatosato/Dapr.Osservability.Sample

[2021-09-07 04:01] zekaluo opened #5134 "Counter discontinuous when using otel sdk/collector and prometheus backend"
**Describe the bug**
We use opentelemetry metric sdk to collect counter metric and push to prometheus with prometheusremotewriteexporter or pull by prometheus through prometheusexporter. Problem occured when we are trying to capture some sporadic counter indicator such as fatal error which may happen again with in minitues, hours or even days/months after the last update.  The original counter tim

[2021-09-07 16:23] Saber-W commented on #4917
@C4RTON I'm not working on this. Feel free to implement this feature. You can also refer to my implementation [here](https://github.com/open-telemetry/opentelemetry-collector/pull/3295).

[2021-09-07 17:43] codeboten commented on #4748
Was this issue addressed by #5062?

[2021-09-07 20:27] mxiamxia commented on #1893
This issue should have been fixed by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/4670

[2021-09-07 23:15] #1893 closed

[2021-09-08 08:03] zekaluo commented on #5134
Problem seems to be fixed by setting processor.WithMemory(true) in client SDK, indicating that the processor will report metric instruments and label sets that were previously reported but not updated in the most recent interval.

[2021-09-08 09:43] #1398 closed

[2021-09-08 10:29] ankitnayan commented on #5075
Anyone checking this issue?

[2021-09-08 14:54] ymotongpoo opened #5166 "`number_of_workers` doesn't work in googlecloudexporter"
**Describe the bug**
The attributes `number_of_workers` described in [`googlecloudexporter` documentation](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/googlecloudexporter/README.md) doesn't work.

**Steps to reproduce**
Try running `opentelemetry-collector-contrib` binary with the following config.yaml that is documented as an example:

[code]

**What did y

[2021-09-08 18:51] opentelemetry-bot opened #5171 "Bug report for failed CircleCI build (job: loadtest-with-github-reports)"
Auto-generated report for `loadtest-with-github-reports` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/159524

#### Test Failures
-  TestIdleMode

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-09-08 23:44] punya commented on #5133
Can you also include the full HTTP response you receive from the collector, and anything that's logged during that request?

[2021-09-09 00:14] punya commented on #5075
@ankitnayan collector receivers (including the host metrics receiver) don't automatically detect/attach host-related resource attributes -- see https://github.com/open-telemetry/opentelemetry-collector/issues/871 for details. You can add the resource detection processor to your pipeline if you need that behavior.

Please feel free to reopen this issue if you run into other problems.

[2021-09-09 00:14] #5075 closed

[2021-09-09 00:18] punya commented on #5047
Could you add some details about the use case for this receiver, and what sort of OTel data it will produce?

[2021-09-09 00:28] punya commented on #4961
@zalegrala could you try again? v0.34.0 of both these modules was tagged soon after you created this issue, and it looks like it sets the dependencies correctly.

Please reopen this issue if the issue continues to appear.

[2021-09-09 00:28] #4961 closed

[2021-09-09 00:34] punya commented on #4955
Hi @gillg! Would you mind linking the previous issues relevant to this topic? Also, it would be helpful to call out specific enhancements that you're looking for, with as much precision and concrete use cases as possible.

[2021-09-09 03:44] #5166 closed

[2021-09-09 04:34] andreatosato commented on #5133
Response is 404 and body:

**404 page not found**

No other informations

[2021-09-09 05:50] gillg commented on #4955
Hi @punya thanks for the reminder ! 😅
A similar issue / brainstorming was on https://github.com/open-telemetry/opentelemetry-collector/issues/2588
It's initially related to https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/2529

A PR is in progress on Loki exporter to allow a better mapping between otel / Loki but it was not plan to be able to map body attributes to Loki lab

[2021-09-09 05:55] gillg commented on #4955
Maybe, an alternative to these pr could be to extend the attributesprocessor (or a new thing) to manipulate a structured body as AttributeMap and be able to move data from attributes to body and vice versa.

[2021-09-09 08:11] gillg commented on #2332
Hello, like said in the associated PR, maybe an alternative to the dirty docker trick could be to propose install `systemd-journal-remote` to the user as we need to install rsyslog to use syslog receiver ?
In this case instead of read local files with journalctl we bind an HTTP endpoint to receive the journal content in a pre-translated format (json probably).

What do you think about that ? The c

[2021-09-09 11:03] sumo-drosiek commented on #2332
@gillg What in case, user doesn't have/want to modify systemd configuration, for example on kubernetes nodes?
adding complementary pod/container which will read systemd logs and forward them to OTC instance?

[2021-09-09 11:26] gillg commented on #2332
It can be a solution, seems a little bit tricky.
But in my opinion, if someone care about host logs in journald he's probably not a simple kubernetes user. And in this case if he wants collect system logs (for compliance, audit or diag) it seems legit to fine tune systemd config. So add this gateway on the base node template seems acceptable no ?

Else, we could provide help with a dedicated daemo

[2021-09-09 13:58] jsirianni commented on #2332
Journald is used for many Kubernetes deployments, for example:
- Kubelet logs
- OpenShift uses Journald by default for all container logs

[2021-09-09 17:29] anneelisabethlelievre opened #5177 "Add the TraceId to the metric exemplar on the span metric processor"
# Proposal
The Span Metric Processor seems currently does not show the TraceId info in the metric. I propose to add the TraceId when the metrics are generated by the span metric processor.

By adding something like that here :
[code]
so the functions p.cacheTraceID and setExemplar would be new functions that we would need to implement

What do you think ?

Thanks

[2021-09-09 21:05] stephenhong opened #5180 "Unable to use AWS Container Insights Receiver"
Hello team, I'm trying to enable AWS Container Insights Receiver but the otel collector fails to start with the following message:
`Error: cannot load configuration: unknown receivers type "awscontainerinsightreceiver" for awscontainerinsightreceiver
2021/09/09 20:54:06 collector server run finished with error: cannot load configuration: unknown receivers type "awscontainerinsightreceiver" for aws

[2021-09-09 22:02] vchirikov commented on #4343
@pmcollins any news?

[2021-09-10 07:48] mx-psi commented on #4433
Closing this, second issue was unrelated and was fixed on open-telemetry/opentelemetry-collector#3858

[2021-09-10 14:05] anne-eli commented on #5177
change proposal solution for traceId

[2021-09-10 21:25] tnevolin opened #5190 "Getting started with docker"
I am trying to run and example on https://opentelemetry.io/docs/collector/getting-started/ page:

[code]

Running Docker desktop on Windows 10. The attempt to execute last docker command results in:

[code]

The `\opentelemetry-collector-contrib\examples\demo\server\server` file indeed does not exists after clone.

[code]

[2021-09-10 21:41] Aneurysm9 commented on #4748
Yes, thi should have been addressed there.  @a-feld please reopen if this is incorrect.

[2021-09-10 21:41] #4748 closed

[2021-09-11 00:23] halayli commented on #403
If the goal of this processor is to convert  traces to a metrics, then It should focus on extraction and shouldn't do any aggregation but rather pass the metrics to a metrics processor. And as far as I can tell, in its current implementation it's ignoring the span events which are as important as span attributes.

[2021-09-12 08:24] yeya24 commented on #5177
Hi @anne-eli, I am curious about the implementation of `setExemplar`. The issue description is a little bit misleading. Do you want to add the `traceID` as a tag of the generated metrics or do you want to add `traceID` to the metric exemplar? Thank you!

[2021-09-12 14:57] anne-eli commented on #5177
Hi @yeya24 , indeed I wasn't enough clear but yes I would like to add the traceID to the metric exemplar.

[2021-09-12 20:18] rakyll opened #5187 "Unable to export metrics with awsprometheusexporter due to invalid temporality and type combination"
I am trying to scrape Go metrics available from https://pkg.go.dev/github.com/prometheus/client_golang/prometheus#NewGoCollector in a cluster and see the following output from the awsprometheusexporter with no other insights.

[code]

[2021-09-12 20:21] rakyll opened #5188 "Invalid value for "up" metric in the Prometheus receiver"
Scraping some up metrics fail for the up metrics with the following log where value is NaN.

[code]

An example of what `my-app-xvk6b` publishes:

[code]

[2021-09-12 21:01] rakyll opened #5189 "Document RBAC rules for the Prometheus Receiver on Kubernetes"
Prometheus Receiver should document the the required RBAC rules for user pods to be auto discovered and scraped. Currently, the receiver doesn't mention any of the RBAC rules.

It also doesn't mention any annotation requirements such as:

*  prometheus.io/port: int
* prometheus.io/scrape: true

[2021-09-13 08:04] bogdandrutu opened #5191 "Gosec AWS/Xray"
[/github/workspace/propagators/aws/xray/idgenerator.go:62] - G104 (CWE-703): Errors unhandled. (Confidence: HIGH, Severity: LOW)
    61: 	sid := trace.SpanID{}

    63: 	return tid, sid

[/github/workspace/propagators/aws/xray/idgenerator.go:59] - G104 (CWE-703): Errors unhandled. (Confidence: HIGH, Severity: LOW)
    58: 	copy(tid[:4], currentTime)

    60:

[/github/workspace/propagators/aws/xra

[2021-09-13 08:05] bogdandrutu commented on #5191
One more:

[/github/workspace/propagators/aws/xray/idgenerator.go:71] - G404 (CWE-338): Use of weak random number generator (math/rand instead of crypto/rand) (Confidence: MEDIUM, Severity: HIGH)
    70: 	_ = binary.Read(crand.Reader, binary.LittleEndian, &rngSeed)

    72: 	return gen

[2021-09-13 09:53] gillg opened #5192 "[prometheusexporter] / [prometheusremotewriteexporter] Support for exemplars"
**Is your feature request related to a problem? Please describe.**
Exemplars in prometheus are a very new feature but also very basic to expose and are completly consistent with the goal of OpenTelemetry.
They  are kind a ephemaral metadata attached to a metric point in OpenMetrics format (https://github.com/OpenObservability/OpenMetrics/blob/main/specification/OpenMetrics.md#exemplars)

**Describ

[2021-09-13 12:54] secat commented on #5192
There is this issue #5177 which proposes to update the [spanmetricsprocessor](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/spanmetricsprocessor) in order to inject the `TraceID` as an exemplar in the generated metrics by the span metrics processor.

[2021-09-13 13:36] gillg commented on #5192
Oh ! Exemplars are something common in otel metric model ? There is no tricks needed based on attributes ? In this case the emitter (if talks otel protocol) can set exemplars and send it in otlp ?

[2021-09-13 15:26] vchirikov commented on #3537
I'm waiting for the same thing.

Issues for tracking:
https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/1800
https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/4610

[2021-09-13 17:12] Aneurysm9 commented on #5190
@tnevolin can you try applying this patch?  I wonder if window is struggling with the use of `$PWD` to make an absolute pah for the `Dockerfile`.

[code]

[2021-09-13 17:45] tnevolin commented on #5190
It worked. At least started to download docker images.

I have checked $PWD command on Windows terminal and it has value. The only thing it uses backslash for path separator because on Windows.

[code]

[2021-09-13 19:26] skyduo opened #5226 "make otelcontribcol failed"
**Describe the bug**
i met this issue last week in my pr workspace that build failed , and i download OT contrib repo in a new workspace today and directly run `make otelcontribcol` but still failed, not sure what does this issue mean, need someone help to fix it.
[code]

**Steps to reproduce**
`make otelcontribcol`

**What did you expect to see?**
succeed

**What did you see instead?**
failed

**

[2021-09-14 00:59] opentelemetry-bot opened #5233 "Bug report for failed CircleCI build (job: loadtest-with-github-reports)"
Auto-generated report for `loadtest-with-github-reports` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/160549

#### Test Failures
-  TestIdleMode

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-09-14 03:44] dmitryax commented on #4309
Hi @sumo-drosiek, would you mind sharing the use case where you have only k8s pod name and namespace pair? Is it because you need to read logs from `/var/log/containers`?

[2021-09-14 04:37] dmitryax opened #5234 "[filterprocessor] Resource attributes matching uses logical AND on list of resource attributes"
**Describe the bug**
According to [the filter processor documentation](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/filterprocessor#filter-processor):

But in reality [**all** expressions](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/ff3c324c3eeece2e4a558d86fbe4df87a20666d0/internal/coreinternal/processor/filtermatcher/attributemat

[2021-09-14 04:53] hossain-rayhan commented on #5234
Hey @dmitryax , thanks for tagging me here. I am the owner of this change. I am not sure if I understand your requirement clearly. I believe you are expecting an option where we can choose include/exclude metrics with logical OR for multiple values for a single key. For that requirement, I think the regex matching is the best option. The approach you mentioned to above (repeating same keys again a

[2021-09-14 05:11] dmitryax commented on #5234
Hey @hossain-rayhan thanks for replying,

Yes that's what I expect, and that's what is stated in the docs.

I provided not a good example which can be easily replaced with a regex. But I have another specific use case where I want this configuration

[code]

to drop logs with `k8s.pod.annotations.splunk.com/exclude=true` or `k8s.namespace.annotations.splunk.com/exclude=true`And according to the do

[2021-09-14 05:23] hossain-rayhan commented on #5234
I see. Then I believe we are in need of a complex solution. Rather than simply changing it from logical AND to OR, we should make it configurable.

In our case, all the task and container properties are coming as resource attributes. Some customer may want to get metrics for a specific container only from a specific task. If we change this, we won't be able to support that use case anymore.

I wou

[2021-09-14 05:46] sumo-drosiek commented on #4309
It is because I read metrics from prometheus using `remoteWrite` and it provides only `pod` and `namespace` metadata

[2021-09-14 05:49] dmitryax opened #5235 "[k8sprocessor] Add an option to fetch container data"
We are trying to utilize OTel logs collection instead of fluentd in k8s env. fluentd uses [kubernetes_metadata_filter plugin](https://github.com/fabric8io/fluent-plugin-kubernetes_metadata_filter) that collects container data along with k8s metadata by default, in particular container ID and container image name.

That data is pretty valuable for our use case, so we would like to have an option to

[2021-09-14 06:20] rockb1017 commented on #5234
@dmitryax I think for workaround, you can put 2 `filter processor`, one for `k8s.pod.annotations.splunk.com/exclude=true` and another one for `k8s.namespace.annotations.splunk.com/exclude=true`. is it correct?

[2021-09-14 06:28] rockb1017 commented on #5235
can we extract those container specs using pod UID? the list of containers is in pod spec https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.22/#podspec-v1-core

[2021-09-14 07:02] dmitryax commented on #5235
Yes, we can, but we also need a container identifier along with that -- current k8s logs collection model provides us with `k8s.container.name`

[2021-09-14 07:06] dmitryax commented on #5234
@rockb1017 yes, this would work as a workaround, but we need to combine them long term

[2021-09-14 08:57] pmalek-sumo commented on #5234
I believe there are 2 potential separate issues/places for improvement: with one being the configurable operator (AND/OR) - or something else allowing to achieve what's described above - and the other being regexp filtering (in addition to `strict` mode).

I agree with what @dmitryax said (and I'd also benefit from that feature) but my use case requires filtering of a particular field - ideally if

[2021-09-14 09:15] owais commented on #5235
Sounds good to me. We can also do this for cases where the incoming data does not have any container identifying attributes but there is only one container in the pod.

[2021-09-14 11:53] pmalek-sumo commented on #5234
BTW: I've tried to quickly add the regexp filtering option in the processor and upon conducting several manual tests it seems to do the trick.

Here's a draft PR for reference: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5237

[2021-09-14 13:31] tigrannajaryan opened #5238 "Receivers that create telemetry should set Schema URL to match semconv"
Receivers that create telemetry data and use semantic conventions to set attributes must also
set the Schema URL to match the conventions used according to OTEP: https://github.com/open-telemetry/oteps/blob/main/text/0152-telemetry-schemas.md

[2021-09-15 04:17] MovieStoreGuy opened #5241 "Avoid usage of github.com/mtrmac/gpgme"
**Describe the bug**
Trying to compile the otel collector contrib on MacOs fails within missing definitions. Furthermore, depends on cgo and limits ability to create a static binary that can be shipped anywhere.

**Steps to reproduce**
On an MacOS machine / Windows run `make test`

**What did you expect to see?**
`make test` works without issue.

**What did you see instead?**
[code]

**What versio

[2021-09-15 04:29] mxiamxia commented on #5191
@willarmiros, pls help to take a look.

[2021-09-15 06:22] willarmiros commented on #5191
@bogdandrutu thanks for raising this, I believe this issue is for the https://github.com/open-telemetry/opentelemetry-go-contrib repo. I will make a PR over there :)

[2021-09-15 06:30] dmitryax commented on #5234
Thanks @pmalek-sumo! We definitely need regex support for logs as well

[2021-09-15 07:09] willarmiros commented on #5191
Regarding the last finding for using a weak number generator, we are generating random IDs in exactly the same way as the [default otel Go SDK implementation](https://github.com/open-telemetry/opentelemetry-go/blob/ec26b556da5c3a71779f40ce8e99e85830e73747/sdk/trace/id_generator.go#L74-L75). Given that trace IDs don't need to use secure random IDs, and doing so would incur a significant performance

[2021-09-15 08:06] jpkrohling commented on #5007
You are right: we either load balance based on the trace ID, or we route based on other attributes.

This is in line with how it works for traces, from what I remember. It would be my preferred soluton.

[2021-09-15 08:09] mx-psi commented on #5241
This comes from the Podman receiver.

[code]

Also, `make test` is missing `CGO_ENABLED=0` on its task definition. @MovieStoreGuy could you try and see if adding `CGO_ENABLED=0` to `make test` fixes this for you?

[2021-09-15 09:57] willarmiros commented on #5191
Similarly for the first 3 findings, they exist in the upstream OTel Go SDK as well: https://github.com/open-telemetry/opentelemetry-go/blob/ec26b556da5c3a71779f40ce8e99e85830e73747/sdk/trace/id_generator.go#L65-L67

But according to the [Golang docs](https://pkg.go.dev/math/rand#Rand.Read), it's ok to not handle errors because the `Read` function will always return a nil error. So I think all thes

[2021-09-15 11:45] owais commented on #5241
Collector itself excludes these dependencies when building as they are not actually needed for the podman receiver.

You can do the same by using the following build tags:

`containers_image_openpgp,exclude_graphdriver_btrfs,exclude_graphdriver_devicemapper`

Ref: https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/Makefile.Common#L21-L22

[2021-09-15 11:57] owais opened #5244 "Podman receiver: Replace official Podman bindings with custom REST client to monitor podman"
**Is your feature request related to a problem? Please describe.**
Podman receiver uses the official Podman library to interact with Podman daemon and extract metrics from it. The library is quite heavy and pulls in a lot of dependencies that the podman receiver does not really need. It depends on things like btrfs, gpgme, devicemapper, etc which make it inconvenient to build the collector on Linu

[2021-09-15 14:23] djaglowski commented on #4595
@edinardo Thanks for raising this. This functionality actually does exist, but unfortunately it looks like we did not document it well. We'll add documentation soon.

In the meantime, here's an example of how it can be configured: https://github.com/open-telemetry/opentelemetry-log-collection/pull/76#issuecomment-808694646

Can you clarify what you mean by the "root level"? Do you mean to the root

[2021-09-15 15:30] RoadRunnr opened #5245 "examples/tracing is broken"
**Describe the bug**

The tracing_otel-collector_1 container from examples/tracing does not start.
A log entry indicates a podman problem:

[code]

**Steps to reproduce**

in examples/tracing, do:
[code]

**What did you expect to see?**

A running instance of the tracing_backend_1 container

**What did you see instead?**

No instance of the tracing_backend_1 container

**What version did you use?*

[2021-09-15 15:37] mx-psi commented on #5245
cc @owais, related to podman receiver?

[2021-09-15 15:57] RoadRunnr commented on #5245
removing the unprivileged user from the Dockerfile solves it, But I'm not sue that this is the correct fix.

[2021-09-15 16:04] #5190 closed

[2021-09-15 16:07] tigrannajaryan commented on #5226
Try Go 1.17 and see if it helps.

[2021-09-15 16:09] skyduo commented on #5226
based on SIG meeting, need to upgrade go to 1.17

[2021-09-15 16:33] tigrannajaryan commented on #5226
This Go change is the possible reason why https://go.googlesource.com/proposal/+/master/design/draft-gobuild.md

[2021-09-15 16:34] mx-psi commented on #5226
I opened an upstream issue to report this jaegertracing/jaeger#3268 so that contrib can be built with Go 1.16 if folks want to

[2021-09-15 19:22] secat commented on #5192
From what I understand from the Otel Protocol, Yes

[2021-09-16 00:58] MovieStoreGuy commented on #5241
@mx-psi I actually had issues also running `make golint` and suspected it to be the same issue but present in a different way.

[2021-09-16 06:31] rakyll opened #5249 "Invalid "up" metric"
When I use the prometheus receiver, I often see the following error:

```2021-09-16T06:28:33.422Z	warn	internal/metricsbuilder.go:139	The 'up' metric contains invalid value	{"kind": "receiver", "name": "prometheus", "value": "NaN", "scrape_timestamp": 1631773712738, "target_labels": "map[__name__:up instance:192.168.32.58:8443 job:k8s]"}```

My Prometheus scrape config is:

[code]

I run public.ec

[2021-09-16 06:33] rakyll opened #5250 "Invalid temporality and type combination"
With the setup described at https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/5249, I see the following error message and none of my samples are exported:

[code]

[2021-09-16 06:35] rakyll opened #5251 "Not very useful log from the prometheus receiver"
With the setup described at https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/5249, I see the following error log but there is no insights about what's being unexpected and skipped.

[code]

[2021-09-16 06:43] rakyll commented on #5191
We can explicitly avoid handling the error which will suppress the gosec error:

[code]

[2021-09-16 06:45] rakyll commented on #5189
An example RBAC rule:

[code]

[2021-09-16 06:46] rakyll commented on #5249
cc @alolita @Aneurysm9 @odeke-em

[2021-09-16 06:46] rakyll commented on #5250
cc @alolita @Aneurysm9 @odeke-em

[2021-09-16 06:46] rakyll commented on #5251
cc @alolita @Aneurysm9 @odeke-em

[2021-09-16 06:57] jmacd opened #5252 "Statsd receiver incorrect handling of histogram/timer sample rate"
**Describe the bug**

The statsdreceiver has a syntax for sampled histogram and timer events. The line has metric type "h" or "ms" and an "@rate" member to indicate sampling. When this occurs, the consumer is meant to observe `1/rate` (i.e., the adjusted count) number of identical events with a certain value.

Today's code is treating the histogram/timer value like a counter, i.e., scaling the val

[2021-09-16 13:18] errordeveloper commented on #4721
I also noticed that CloudWatch and Kinesis exporters don't used `github.com/open-telemetry/opentelemetry-collector-contrib/internal/aws/awsutil`, but XRay exporter does. I suppose this might result in some inconsistencies, potentially affecting users.

[2021-09-16 13:35] piellick commented on #5245
Hey @RoadRunnr could you explain your workaround ?

[2021-09-16 14:36] RoadRunnr commented on #5245
remove these[ two lines ](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/examples/tracing/Dockerfile#L13-L14) and rebuild:

[code]

[2021-09-16 21:25] djaglowski commented on #2538
I don't believe this is a goal any longer.

[2021-09-16 21:25] #2538 closed

[2021-09-16 21:29] djaglowski commented on #3267
This functionality has now been added to the log-collection library, and will be included in the next release.

[2021-09-16 21:29] #3267 closed

[2021-09-16 21:34] jfmyers9 commented on #2353
Want to confirm that I am also seeing this issue on `v0.35.0`. I've gone ahead and opened a support ticket, but if we've found any solution, it would be good to publicize it here.

[2021-09-16 22:34] bohlander opened #5261 "[exporter/datadog] Datadog exporter incorrectly setting span name"
**Describe the bug**
The datadog exporter is incorrectly setting the span name before sending traces to datadog. The issue is here: https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/ac26625c2eea420d6703a15e9bd81d686fb5b8af/exporter/datadogexporter/translate_traces.go#L528

The python code it is based on returns name, not the kind, when instrumentation and kind are not initiali

[2021-09-17 11:00] errordeveloper opened #5266 "AWS XRay attribute conversion for deeply nested maps"
**Is your feature request related to a problem? Please describe.**

Currently AWS XRay exporter has two modes:
- `index_all_attributes` (bool)
- `index_attributes` (list of attribute keys, seems to only work for top-level keys)

It's possible to have a deeply nested map in the annotations, which the exporter currently doesn't allow to be index at all.

**Describe the solution you'd like**

It'd be

[2021-09-17 20:23] opentelemetry-bot opened #5275 "Bug report for failed CircleCI build (job: loadtest-with-github-reports)"
Auto-generated report for `loadtest-with-github-reports` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/161544

#### Test Failures
-  TestIdleMode

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-09-17 22:51] charleslin-appd opened #5276 "Build from local otel-tree resulted in "Ambiguous Import" error"
**Describe the bug**
Building using local otel tree resulted in multiple "Ambiguous Import" errors

**Steps to reproduce**
[code]

**What did you expect to see?**
A successful build results in binary file.

**What did you see instead?**
The following errors:
[code]

**What version did you use?**
Version: (0.35.0)

**What config did you use?**
Config: no change from 0.35.0

**Environment**
OS: Mac

[2021-09-18 01:54] ankitnayan opened #5278 "How to get total number of CPU cores in a K8s cluster"
Is there any receiver that gives you the total CPU cores present in the K8s cluster? I tried `kubeletstatsreceiver`, `k8sclusterreceiver` and `hostmetricsreceiver`. I could find metrics around usage and utilization per node, pod and container.

In order to show the `percentage(%)` of CPU used in a VM or k8s cluster, we need to know the total number of CPU cores available. Do we have a receiver tha

[2021-09-18 03:47] Frefreak commented on #5192
I'm also interested in using prometheusexporter as a way to generate metrics with exemplar data from `pdata.Metric`. After a brief look of the current implementation, it appears prometheusexporter generates metric with `NewConstMetric`, which currently has no way to append exemplar to it (`populateMetric` in **client_golang** has a parameter to specify the exemplar, and will use it if it is counte

[2021-09-18 09:02] pmalek-sumo opened #5279 "filterprocessor: enable logs filtering by record level attributes"
**Is your feature request related to a problem? Please describe.**

This is related to https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5237.
5237 tries to implement resource level log filtering with regexp whereas this issue aims to address filtering by record level attributes.

**Describe the solution you'd like**

~~I have a ready implementation that could be reviewed unde

[2021-09-19 22:42] gebn commented on #5245
We ran into this while attempting to upgrade from v0.34.0 to v0.35.0 using the official images. Changing only the tag:

`otel/opentelemetry-collector-contrib:0.34.0`:

[code]

`otel/opentelemetry-collector-contrib:0.35.0`:

[code]

In case it's relevant, the pod is running with a custom `serviceAccountName` to allow `k8s_tagger` to function.

[2021-09-20 08:37] #317 closed

[2021-09-20 08:37] #1305 closed

[2021-09-20 21:18] edinardo commented on #4595
@djaglowski  with "root level" I mean at the same level of the body element. This is exactly what `trace` does from your example, and it worked like a charm, thanks.

Let me know if I can help with the documentation. Best regards.

[2021-09-20 21:18] #4595 closed

[2021-09-21 06:40] dmitryax commented on #2628
@sumo-drosiek @tigrannajaryan @pmm-sumo Looks like the `run_id` part of the logs path represents [number of container restarts](https://github.com/kubernetes/kubernetes/blob/2e93b3924ae6eb2b6a2b914fe400a006bd676308/pkg/kubelet/kuberuntime/helpers.go#L169) from k8s API. I would like to suggest to call the attribute `container.restart_count`.

I want to settle a semantic convention for this attribut

[2021-09-21 06:48] sumo-drosiek commented on #2628
@dmitryax for me it sounds good. more intuitive than `instance`/ `instanceNumber`/`run_id`

[2021-09-21 06:54] dmitryax commented on #2628
Ok, I submitted a PR to add this as a semantic convention https://github.com/open-telemetry/opentelemetry-specification/pull/1945

[2021-09-21 07:37] bd-clara opened #5313 "Azure Resource Detector"
**Is your feature request related to a problem? Please describe.**
* First we have a bug with this MR #2897

Actually it generates on some of my VM an ID with localhost inside when my detector ordering are `[system, azure]` and override to false, by exemple :
`azure_resource_id:xxxxxxxxxxxxxxxxxxxxxxxxxxxx/xxxxxx-xxx-xxxx-shared-services-support-rg/microsoft.compute/virtualmachines/localhost`

Azu

[2021-09-21 07:46] mx-psi commented on #5313
@bd-clara would you mind splitting this into two issues, one for the bug and a different one for the feature request. Also @pmcollins can you have a look at the bug part?

[2021-09-21 11:26] gagansingh355 opened #5314 "Fluentforward receiver not shutting down TCP port"
**Describe the bug**

We are using WatchForUpdate() method to monitor our configuration file, and reload if any change comes in. When Fluentforward is started it creates TCP and UDP process at Listen port. But OTEL is not stopping these processes at shutdown. Therefore, when it reloads it is not able to start the receiver again as TCP process is not stopped and port is already occupied. Hence we g

[2021-09-21 13:47] rmfitzpatrick opened #5316 "ECS sidecar task container observer"
**Is your feature request related to a problem? Please describe.**
It's not currently possible to use the receiver creator with the ECS observer as it doesn't discover [container endpoints](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/v0.35.0/extension/observer/endpoints.go#L166). It was an initial aim of the observer to [add this functionality over time](https://github.c

[2021-09-21 14:32] githubcdr commented on #5245
confirmed here

[2021-09-21 15:03] #2951 closed

[2021-09-21 15:05] jacobmarble commented on #4038
@bogdandrutu please assign this to me.

[2021-09-21 15:16] agoallikmaa opened #5320 "Implement Cloud Foundry metrics receiver"
**Is your feature request related to a problem? Please describe.**
There is currently no receiver to consume metrics published from Cloud Foundry (and therefore also Tanzu Application Service).

**Describe the solution you'd like**
Cloud Foundry publishes its metrics through its RLP (Reverse Log Proxy) Gateway, which exposes an HTTP endpoint that accepts an OAuth token for authentication. The toke

[2021-09-21 15:21] jacobmarble opened #5321 "influxdbreceiver is not compatible with InfluxDB 2.0 clients"
**Is your feature request related to a problem? Please describe.**
According to https://github.com/open-telemetry/opentelemetry-collector-contrib/discussions/5269 , `influxdbreceiver` causes InfluxDB 2.0 clients to fail, due to incomplete support of the [InfluxDB 2.0 write API](https://docs.influxdata.com/influxdb/v2.0/write-data/developer-tools/api/).

**Describe the solution you'd like**
Test an

[2021-09-21 15:22] jacobmarble commented on #5321
@bogdandrutu please assign this to me and tag with `comp:influxdb`

[2021-09-21 17:02] charleslin-appd commented on #5276
Fixed the issue by removing folder opentelemetry-collector/model from core.

[2021-09-21 17:02] #5276 closed

[2021-09-21 19:08] rockb1017 opened #10284 "[pkg/stanza] file_input: reading compressed log files"
https://github.com/splunk/sck-otel/issues/66

In Azure managed cluster, by default container logs are compressed and rotated.
it would be nice to be able to read compressed files as normal files.

[2021-09-21 22:55] skyduo commented on #5226
already upgrade go to 1.17 and problem resolved, will close this issue

[2021-09-21 22:55] #5226 closed

[2021-09-21 23:32] gebn commented on #5245
This also reproduces with 0.36.0:

[code]

[2021-09-22 01:02] straussb opened #5373 "New stricter prometheusreceiver config validation breaks ecsobserver auto-discovery logic"
**Describe the bug**
A [recent commit](https://github.com/open-telemetry/opentelemetry-collector-contrib/commit/52971307182587f31cb5a0b989402596bc9a31e9#diff-c335f316da4cfd1d6feec64b950de5600d871572b350b1fadfe411c54343e073) made config validation stricter on prometheusreceiver startup.  Specifically, if using [file_sd_configs](https://prometheus.io/docs/prometheus/latest/configuration/configuratio

[2021-09-22 03:46] wangpu666 opened #5375 "Questions about opentelemetry-collector-contrib/processor/tailsamplingprocessor/"
tailsamplingprocessor When the tailsamplingprocessor is sampling, will it only mark or discard the data?

[2021-09-22 08:22] iNikem opened #5377 "Collector Contrib fails to recognise "insecure" option"
**Describe the bug**
When provided with the following simple configuration, collector-contrib fails to start:

[code]

Error:
[code]

**What version did you use?**
Docker image `otel/opentelemetry-collector-contrib:latest`, version `0.34.0`

Docker image `otel/opentelemetry-collector:latest`, version `0.34.0` works find without any error.

[2021-09-22 08:23] iNikem commented on #5377
I have just noticed, why latest docker image uses 0.34, when latest version is 0.36? But still, this does not explain the difference between core and contrib collectors

[2021-09-22 08:26] mx-psi commented on #5377
open-telemetry/opentelemetry-collector#4063 changed the way this setting is specified (it is now under the `tls` section), so probably it explains this

[2021-09-22 08:29] bogdandrutu commented on #5377
@iNikem see previous comment, that was a breaking change unfortunately.

[2021-09-22 08:35] iNikem commented on #5377
Does this mean that https://opentelemetry.io/docs/collector/configuration/#exporters and https://github.com/open-telemetry/opentelemetry-collector/blob/main/exporter/otlpexporter/README.md and related docs were left unchanged?

[2021-09-22 08:53] emilgelman opened #5378 "DataDog Exporter is exporting 0 values for histograms"
**Describe the bug**
Using the latest configuration for histograms added in v0.36.0, it seems like the `name.bucket` metric is always 0 in DataDog.

**Steps to reproduce**

Full code example:
[code]

**What did you expect to see?**
I would expect the output in DataDog to match the values I'm seeing in stdout / prometheus exporters.
Output from `stdout` exporter:
[code]

**What did you see instead?

[2021-09-22 09:12] mx-psi commented on #5378
Thanks for reporting this @emilgelman the context is really useful, I really appreciate you took the time to open the issue :) We did a recent refactor and it's possible we are not handling cumulative histograms correctly. I will have a look today.

In the meantime, can you try using v0.35.0 and check if it works correctly for you there? You will have to use the older configuration unfortunately (

[2021-09-22 09:28] iNikem commented on #5377
Also, why the difference between core and contrib images?

[2021-09-22 09:34] emilgelman commented on #5378
Thank you @mx-psi for looking into it.
I reverted to `v0.35.0` and changed the configuration to
[code]

Using the same code as before, I now get a `name.count_per_bucket` metric. However, the values are still 0, and there is only one bucket tag being reported `bucket_idx:11`

stdout exporter output:
[code]

DataDog query API output:
[code]

[2021-09-22 10:06] mx-psi commented on #5378
@emilgelman Thanks for checking with v0.35. I think I understand what is going on. Datadog's backend timeseries storage stores at most one point per second. This means that if multiple points are sent in the same second, the behavior is unspecified (in practice, probably the last datapoint that gets to the backend for a given second wins).

In your example you send an OTLP Histogram every 0.1 seco

[2021-09-22 10:40] mx-psi commented on #5378
I had misunderstood your code so the explanation above is incorrect. I have been able to verify that payloads are sent correctly to Datadog so I am digging further into this. Will keep you posted :)

[2021-09-22 12:49] leewoobin789 commented on #5377
otel collector contib with the version of 0.35.0 does not produce any type of error.
But the newest one 0.36.0 gets me in trouble with the "insecure" property.
is TLS setting not optional anymore?
Thank you in advance!

**otel/opentelemetry-collector-contrib:0.35.0**
[code]

[2021-09-22 15:15] dashpole commented on #5001
Re-linking https://github.com/open-telemetry/opentelemetry-collector/pull/3410, which is related, and the issue transfer seems to have dropped the link

[2021-09-22 15:29] dashpole commented on #5001
Discussed this at the 9/22 meeting:

The prometheus server will _also_ produce untyped metrics if you rename the metric, so we aren't necessarily out of compliance for producing untyped metrics when a metric was renamed.

Given that, to "fix" this, we just need to:
1. Make sure unknown typed metrics produced by the receiver can be correctly sent through the collector to the remote write exporter

[2021-09-22 15:57] pmalek-sumo opened #5382 "filterprocessor doesn't return an error when an invalid match_type is set in config"
**Describe the bug**

filterprocessor doesn't return an error when an invalid match_type is set in config

**Steps to reproduce**

1. Use the following config or similar with invalid config - different than `strict`/`regexp` for logs or different than `strict`/`regexp`/`expr` for metrics:

[code]

**What did you expect to see?**

Collector to fail to start because of invalid config.

**What did yo

[2021-09-22 15:57] dashpole commented on #4743
This was discussed at the prometheus WG today in the context of [additional compliance tests](https://docs.google.com/document/d/1DGdpWKEE666n8bGVBu_7upKJEDbHiaNFPuzMB6bx-cY/edit).  One of the planned tests would check that [MetricTypeUnknown](https://github.com/prometheus/prometheus/blob/39d79c3cfb86c47d6bc06a9e9317af582f1833bb/pkg/textparse/interface.go#L95) metrics, including both ones you desc

[2021-09-22 15:58] dashpole commented on #5001
I believe step 1 would be fixed by https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/4743.

[2021-09-22 16:01] pmalek-sumo commented on #5382
It seems that it's somewhat non trivial due to logs and metrics supporting different `match_type`s:

* logs: `strict`/`regexp`
* metrics: `strict`/`regexp`/`expr`

but using the same validation mechanism from https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/f2f1483d595ecc302d0842d27c811f3dd4e8e1ad/internal/coreinternal/processor/filtermatcher/attributematcher.go#L42-L81

when

[2021-09-22 16:11] dashpole commented on #4743
These are the otlp data types: https://github.com/open-telemetry/opentelemetry-proto/blob/main/opentelemetry/proto/metrics/v1/metrics.proto#L155-L181

[2021-09-22 16:19] Aneurysm9 commented on #4743
I don't think `MetricDataTypeNone` will work, it's just the zero value for that type.  There's no way to add or retrieve data with that type.

[2021-09-22 16:30] codeboten opened #5383 "Rename k8s_tagger configuration to k8sattributes"
**Is your feature request related to a problem? Please describe.**
Currently, configuration for the `k8sprocessor` is done via a `k8s_tagger`, this is not intuitive.

**Describe the solution you'd like**
Either rename the k8sprocessor to k8sattributesprocessor or rename the configuration from `k8s_tagger` to `k8s`.

[2021-09-22 16:57] mx-psi commented on #5378
Hi again, using your code we haven't been able to reproduce this, so I have some questions to help troubleshoot this further:

- Were you sending histograms before with v0.35.0 (or a previous version) without having this issue?
- Could you run your test while sending metrics to a different org (e.g. to a personal Datadog account or a different org within your company) and report the results?

[2021-09-22 19:19] flands opened #5385 "Changing `insecure` per READMEs no longer works"
See: https://github.com/open-telemetry/opentelemetry-collector/issues/4092

[2021-09-22 23:54] hyunuk commented on #5385
Hi @alolita , I'd like to work on this issue.

[2021-09-23 06:46] pingleig commented on #5316
I already mentioned this issue in (amazon's) slack channel (but seems there is no reply on github) ... I no longer work on otel collector, we need someone else  to help on this cc @Aneurysm9 @alolita

TL;DR I think it's better to create a new observer

I feel container endpoints are a bit different than the initial design of ecsobserver extension, which is running a single collector for entire clu

[2021-09-23 07:02] dmitryax opened #5388 "filelog receiver: consider leaving `SeverityText` empty instead of `Undefined`"
If user doesn't specify any severity parsing in filelog receiver, all the collected logs are coming with the following fields:
SeverityNumber: 0
SeverityText: "Undefined"

Source code: https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/internal/stanza/converter.go#L559

According to the logs data model, [both of them](https://github.com/open-telemetry/opentelemetry-specifi

[2021-09-23 07:40] emilgelman commented on #5378
1. We did not try before 0.35.0
2. Unfortunately we have a single organization, so I can't try it anywhere else. I have opened a support request for DataDog to track this.

I guess we can close this if this is a specific case.

[2021-09-23 07:51] mx-psi commented on #5378
Sounds like a good plan, I will make sure to sync with our Solutions Engineer so that they have all the context

[2021-09-23 08:01] #5383 closed

[2021-09-23 09:09] stanosamek opened #5414 "Permission denied on mkdir /rundir/libpod during startup"
We are running Collector on Openshift container platform (version 4.7). This platform is running containers on podman with some specific security context. This security context are using automatically generating uid for containers.

We are trying to use Collector in version 0.36.0. Problem is that in Dockerfile is specific userId which is not correct way from security perspective.

So, during star

[2021-09-23 09:41] owais commented on #5414
Thanks for reporting this. Moving away from the podman library (#5244) should solve such issues permanently.

[2021-09-23 10:23] opentelemetry-bot opened #5415 "Bug report for failed CircleCI build (job: loadtest-with-github-reports)"
Auto-generated report for `loadtest-with-github-reports` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/163011

#### Test Failures
-  TestMetric10kDPS
-  TestMetric10kDPS/SignalFx

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-09-23 10:28] mx-psi commented on #5378
We may have a fix so I am going to reopen this

[2021-09-23 10:56] pmalek-sumo commented on #5279
I've created a PR that adds this feature, PTAL https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5418

[2021-09-23 12:04] stanosamek commented on #5414
Do you know when can be this fixed?

[2021-09-23 12:09] owais commented on #5414
I think it'll take time to implement a solution for #5244

We can try to figure out a temporary solution for now. Could you share the security context you are using in OpenShift so we can test it locally?

Could you please also share all of the log messages from the collector before it crashes?

Does this only happen when you enable the podman receiver or does it always crash?

If it only happens

[2021-09-23 12:26] kilingzhang opened #5419 "config/configparser.go not found"
[code]
github.com/open-telemetry/opentelemetry-collector-contrib/receiver/hostmetricsreceiver@v0.36.0

go.opentelemetry.io/collector@v0.36.0

config/configparser.go not found .

https://github.com/open-telemetry/opentelemetry-collector/tree/main/config

[2021-09-23 13:39] djaglowski commented on #5388
This seems reasonable to me.

[2021-09-23 13:41] rmfitzpatrick commented on #5316
Thanks for the input, @pingleig.  I've not yet fully examined the overall extensibility but my initial impression was in line with your thoughts that since it caters to a different use case an additional observer may be beneficial.  However, I think the observer component was initially implemented for receiver creator usage and the current ECS observer is the only one that doesn't support endpoint

[2021-09-23 14:29] grzn opened #5420 "failed to send trace payload to trace edge: Post "https://trace.agent.datadoghq.com/api/v0.2/traces": context deadline exceeded"
Our collector is hitting the following error every few hours:
[code]

The collector config is as follows:
[code]

(this collector runs as deployment, receiving messages from agents running as a daemonset, and that's where the batch processing happens)

From what I understand, the datadogexporter runs with a 5 second timeout, and there's new option to change that as it does not have a timeout confi