[2022-05-11 17:05] bogdandrutu commented on #9967
@dashpole my 2 cents: we should try to produce if possible the result `prometheus(scrape + prw) == otelcollector(promrecv + prwexporter)`

[2022-05-11 17:38] pavankrish123 commented on #9808
@djaglowski - I can take this and the related issues if you don't mind?

[2022-05-11 18:03] djaglowski commented on #9808
Awesome, thanks @pavankrish123!

[2022-05-11 18:12] djaglowski commented on #8833
Closed by #9359

[2022-05-11 18:12] #8833 closed

[2022-05-11 18:12] djaglowski commented on #8827
Closed by #9234

[2022-05-11 18:12] #8827 closed

[2022-05-11 18:13] djaglowski commented on #9133
Closed by #9335

[2022-05-11 18:30] djaglowski commented on #9800
@mar4uk, I'm still learning promtail, but I see now that your proposal is a generalized integration of promtail, whereas the push use case is just a specific case. Is that right? One receiver makes sense to me then.

A couple other questions:

Am I understanding correctly that promtail can be run in process and does not require an additional executable?

What do you think about removing the `confi

[2022-05-11 18:57] TylerHelmuth commented on #8252
The metrics data model has been merged, I will get started on wiring up the processor to the metrics pipeline.

[2022-05-11 19:56] quentinmit commented on #7417
I think it's okay to keep `SlabReclaimable` and `SlabUnreclaimable` in the regular summable metric; their sum is just `Slab`. So you can include either `slab` or `slab_reclaimable` and `slab_unreclaimable` but not both. Other states are the problematic ones.

[2022-05-11 20:43] schmikei opened #9969 "[receiver/nsxt] Add support for file based authentication"
**Is your feature request related to a problem? Please describe.**

Submitting this issue for work to be not lost based off  [this comment](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/9738#discussion_r869450327): the receiver should be able to use the `basicauth` extension to achieve file based secret management in order to use the receiver in transient environments like

[2022-05-11 21:31] BinaryFissionGames commented on #9254
So, here's what I've come up with so far:

[code]

This is MOSTLY there, there are 3 issues right now that make this troublesome:
1. The metric descriptors are missing descriptions
2. The metric descriptors are missing units
3. The metrics are marked as gauges, but some of them should be sums (e.g. bucket.operation.count).

From what I'm aware of, there are no components currently in the collector

[2022-05-11 21:38] bogdandrutu commented on #9967
+ 10

[2022-05-11 21:41] bogdandrutu commented on #9967
Maybe also the `net.host.name and net.port.name, and also adds http.scheme` can be a config to enable/disable these.

[2022-05-11 21:43] bogdandrutu commented on #9888
@djaglowski please don't forget to keep this consistent with core :)

[2022-05-11 23:24] Mario-Hofstaetter commented on #9800
Would `lokireceiver` be a better name instead of `promtailreceiver` ? The push api is a loki specification, `promtail` is just one client out of many.
Afterall there is already a [lokiexporter](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/lokiexporter), not a promtailexporter.

Features of promtail other than pushapi (tailing files, windows eventlog, ...) ar

[2022-05-12 00:35] JaredTan95 commented on #9805
I would like to do this, pls assign it to me.

[2022-05-12 00:41] JaredTan95 commented on #9805
I checked the `cmd/mdatagen` and found it has been fixed, so you can close this issue.

[2022-05-12 04:34] kullu-ashish opened #9978 "Panic and SIGSEGV for the ADOT collector for CloudWatch(AWS)"
**Describe the bug**
I am getting the following issue while deploying the ADOT collector for AWS CloudWatch based on the document - https://docs.aws.amazon.com/eks/latest/userguide/configure-cw.html

kubectl logs my-collector-cloudwatch-collector-666665859f-7lrtq -n default
2022/05/12 01:17:51 AWS OTel Collector version: v0.17.0
2022/05/12 01:17:51 found no extra config, skip it, err: open /opt/aw

[2022-05-12 07:54] pmm-sumo commented on #9886
Closing via #9968

[2022-05-12 07:54] #9886 closed

[2022-05-12 11:08] #9805 closed

[2022-05-12 14:09] djaglowski commented on #9254
@dashpole, do you think any of these _should_ be handled by the prometheus receiver?

[2022-05-12 14:14] dashpole commented on #9254
It sounds like there are 3 issues:

1. Missing descriptions
2. Missing units
3. Missing types

All three indicate missing metric [metadata](https://github.com/prometheus/docs/blob/main/content/docs/instrumenting/exposition_formats.md#comments-help-text-and-type-information) on the couchbase endpoint, and should be fixed in couchbase's prometheus endpoint.  We can't fix this in the prometheus recei

[2022-05-12 14:29] #8842 closed

[2022-05-12 14:49] newly12 opened #9981 "prometheusremotewrite exporter doesn't work well with groupbyattrs processor?"
**Describe the bug**
When enable `groupbyattrs` processor in metrics pipeine and use `prometheusremotewrite` exporter, it fails during prometheus translator at [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/pkg/translator/prometheusremotewrite/metrics_to_prw.go#L64-L65) probably because flag like`pmetric.MetricAggregationTemporalityCumulative` was removed by `gr

[2022-05-12 15:05] djaglowski commented on #9254
Thanks for the clarification.

If this were just an issue of needing to add units and descriptions, I'd say we just enhance the metricstransform or transform processor. However, it's not clear to me that these processors should support data type manipulations.

Any thoughts on this @TylerHelmuth, @bogdandrutu?

[2022-05-12 16:49] #9950 closed

[2022-05-12 17:42] nirmalmano opened #9983 "Splunk HEC Exporter: Increase the max limit for max_content_length_* to match the current Splunk HEC server max of 800 MB"
The current max limit for max_content_length_metrics and max_content_length_logs is 2097152 bytes (2 MiB) for the splunk HEC exporter.  I have constantly hit this limit when I try to use batch processors.
The corresponding max content size on the Splunk HEC server  has been bumped up to 838860800 (~ 800 MB) - [https://docs.splunk.com/Documentation/Splunk/8.2.2/Admin/Limitsconf#.5Bhttp_input.5D]

I

[2022-05-12 17:45] mhausenblas opened #9984 "Prometheus scrape compatibility"
**Is your feature request related to a problem? Please describe.**
Currently, when writing `relabel_configs` in the collector config [prometheusreceiver](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/prometheusreceiver/README.md) one can not use `$` but has to use `$$`.

While I understand why this is the case today, I see that folks coming from Prometheus an

[2022-05-12 18:41] dehaansa commented on #9720
Support added in Metrics gatherer for properties file setting of SSL parameters merged in https://github.com/open-telemetry/opentelemetry-java-contrib/pull/323. Can be made available to jmxreceiver after v1.14.0 of jmx metrics gatherer is released

[2022-05-12 19:44] Mario-Hofstaetter opened #9986 "[prometheusreceiver] Scrape fails when trying to labeldrop job or instance labels in metric_relabel_configs"
**Describe the bug**

Using

[code]

or

[code]

causes `prometheusreceiver` to fail all targets. Full config example below. Log output:

[code]

Using for example label `service_instance_id` in `regex` works fine ✔ So the config is not to blame.

**Steps to reproduce**

Run otelcol with the configuration provided below, scraping `localhost:8888` will fail.

**What did you expect to see?**

This w

[2022-05-12 21:16] gurpartb opened #9989 "Error: unknown processors type "transform" for "transform""
**Describe the bug**
Otel Collector doesn't recognize Processor Transform
`Error: failed to get config: cannot unmarshal the configuration: unknown processors type "transform" for "transform" (valid values: [filter groupbyattrs groupbytrace spanmetrics experimental_metricsgeneration metricstransform resource tail_sampling resourcedetection batch memory_limiter attributes cumulativetodelta deltator

[2022-05-12 21:18] gurpartb commented on #9989
@djaglowski Hi Daniel, tagging you here since you have been working on log transform processor. Thanks

[2022-05-12 22:55] gurpartb opened #9990 "Error: unknown processors type "logstransform""
**Describe the bug**
Otel Collector doesn't recognize processor logstranform  `2022/05/12 16:48:29 proto: duplicate proto type registered: jaeger.api_v2.PostSpansResponse
Error: failed to get config: cannot unmarshal the configuration: unknown processors type "logstransform" for "logstransform" (valid values: [batch memory_limiter metricstransform probabilistic_sampler resourcedetection deltatorat

[2022-05-12 23:25] shinkle-procore commented on #9989
Same issue. The transform processor doesn't work in previous releases either.

[2022-05-13 04:52] newly12 opened #9994 "support string replace for resources/attributes names"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
resources and/or attributes key currently follows semconv, or k8s labels/annotations enriched by `k8sattrs` processor, would contains `.`, `/`, `-`, in cases the backend storage doesn't not allow such characters it will need a processor tha

[2022-05-13 07:50] ehsannm opened #9996 "Improve translating span events for datadog exporter"
This is an Enhancement to the #2338.

Basically the current translation from open telemetry span events to span tags creates a big json string which really hard to read. Since datadog pretty the tags which are segmented with dots in the tag's name i suggested to have separate tags per event. Also for backward compatibility created a new config for it.

[2022-05-13 07:52] #9996 closed

[2022-05-13 07:58] mx-psi commented on #9998
cc @dashpole @Aneurysm9

Note that this happens with v0.48.0, so before #9278

[2022-05-13 09:22] mar4uk commented on #9800
My idea was to keep under config level exact promtail config format, so user can paste promtail config as it is under config level. On the same level as config could be added additional settings, like postions_directory or something elsse

Yes, that's correct

Agree with this point. Actually promtail has features that are already implemented by filelog, journard, syslog.. Maybe adding promtail as

[2022-05-13 10:08] JaredTan95 commented on #9989
related issue：https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/9248
due to this transform not being ready and not being released in the distribution(https://github.com/open-telemetry/opentelemetry-collector-releases/blob/main/distributions/otelcol-contrib/manifest.yaml).

[2022-05-13 10:19] Mario-Hofstaetter commented on #9998
Update: Currently running `0.51.0` locally using the following config.

<details>
<summary>otelcol config yaml (CLICK ME)</summary>

[code]

</details>

Got rid of all processors (except `memory_limiter`, extensions, and the prometheus exporter). `scrape_interval: 10s` is now relatively low, otelcol is basically only logging to console and discarding all metrics.

Doing this, the process currently

[2022-05-13 11:37] mx-psi commented on #576
This is a duplicate of #8546, which was fixed by #9112

[2022-05-13 11:37] #576 closed

[2022-05-13 11:38] mx-psi commented on #1498
@pmm-sumo @sumo-drosiek can this be closed?

[2022-05-13 11:46] pmm-sumo commented on #1498
Oh, for sure! Thank you for bringing this up @mx-psi

[2022-05-13 11:46] #1498 closed

[2022-05-13 12:55] Mario-Hofstaetter commented on #9800
Currently we are using promtail `loki_push_api` as target for our .NET apps using [serilog-sinks-grafana-loki](https://github.com/serilog-contrib/serilog-sinks-grafana-loki), which is working very nice.  (Loki devs said it is discouraged to directly push to loki because promtail does buffering & retry)

OpenTelemetry Logs are not yet stable (?), but I am not entirely sure about the state of Loggin

[2022-05-13 13:14] djaglowski commented on #9989
As noted by @JaredTan95, this component is still under construction and has not yet been added to the distribution.

@TylerHelmuth, would you mind clarifying in the component's readme that it is [in development](https://github.com/open-telemetry/opentelemetry-collector-contrib#stability-levels), and therefore not yet intended to be included in distros?

[2022-05-13 13:18] TylerHelmuth commented on #9989
Yes I will get the readme updated today.

I'll be submitting a PR soon to wire metrics. When that's done I'm thinking we'll be able to promote it to alpha and add it to the distro.

[2022-05-13 14:10] mar4uk commented on #9800
@Mario-Hofstaetter

I was thinking that you can use collector as a target instead of promtail loki_push_api.
For example, let's imagine you have OpenTelemetry Collector only, and don't have promtail.
Collector has otlp receiver it can receive requests (http or grpc) on configured port. So instead of sending logs to loki_push_api target you can send logs to collector via otlp.

(There is also threa

[2022-05-13 14:27] EddieEldridge opened #10001 "Use IMDS to retrieve EC2 tag data"
**Describe the solution you'd like**
I would like to be able to use the ResourceDetection processor to retrieve tag info from my EC2 instance using IMDS and attach that tag info to my metrics, spans and logs as attributes.

I would like this process to use IMDS rather than EC2:DescribeTags to reduce the amount of DescribeTags calls my instances make.

**Describe alternatives you've considered**
I'

[2022-05-13 14:56] djaglowski commented on #8850
The initial code transfer has been completed in #9922. Further steps will be tracked in #9960.

[2022-05-13 16:00] bogdandrutu commented on #9981
@newly12 indeed this looks like a bug, but I am curious why do you need this processor in your pipeline? This does exactly opposite of what prometheus remote write protocol needs which is to "flatten" all the attributes as labels for each data point.

[2022-05-13 16:15] Mario-Hofstaetter commented on #9800
@mar4uk

Correct, but until recently `logs` was considered "alpha" in OTEL. Also I am only seeing the .NET side of things with [otel-dotnet](https://github.com/open-telemetry/opentelemetry-dotnet/) , where everything is a bit weird. Logging [uses the existing `ILogger` interface of .NET](https://github.com/open-telemetry/opentelemetry-dotnet/blob/main/src/OpenTelemetry.Api/README.md#logging-api).

[2022-05-13 17:00] govindarajvenkatesan opened #10008 "unknown processors type "k8s_tagger" for "k8s_tagger""
**Describe the bug**
Seeing error  unknown processors type "k8s_tagger" for "k8s_tagger" while doing apply for opentelemetry-collector-contrib v0.50.0
[code]

**Steps to reproduce**
opentelemetry-collector-contrib:0.50.0

[code]

**What did you expect to see?**
Expect collector pods to be up and running

**What did you see instead?**
Error as posted above while doing kubectl apply

**What version

[2022-05-13 17:12] dmitryax commented on #10008
`k8s_tagger` was renamed to `k8sattributes`. Please update your config

[2022-05-13 17:12] #10008 closed

[2022-05-13 17:13] dmitryax commented on #10001
cc @Aneurysm9

[2022-05-13 17:13] govindarajvenkatesan commented on #10008
Thanks @dmitryax , yes found it --> https://pkg.go.dev/github.com/open-telemetry/opentelemetry-collector-contrib/processor/k8sattributesprocessor#hdr-As_a_collector

Thanks

[2022-05-13 17:13] codeboten commented on #9990
@gurpartb the component is experimental and is not currently included in any release. I'll follow up with an update to the readme to clarify this.

[2022-05-13 17:14] dmitryax commented on #9994
This should be a feature request for transform processor

[2022-05-13 17:16] codeboten commented on #9984
@dashpole  @Aneurysm9 any thoughts on priority for this one?

[2022-05-13 17:17] dmitryax commented on #9983
Splunk HEC Exporter is used for Splunk Observability as well where we have different limit. So we cannot change this default

[2022-05-13 17:22] dmitryax commented on #9986
cc @Aneurysm9 @dashpole

[2022-05-13 17:24] codeboten commented on #9978
@Aneurysm9 please assign a priority to this one

[2022-05-13 17:24] dmitryax commented on #9969
@schmikei will you be working on this? Please assign if needed

[2022-05-13 17:30] #9815 closed

[2022-05-13 17:37] #9983 closed

[2022-05-13 18:00] r3h0 commented on #7905
@TomasLongo there is interest, for sure. The exporter needs a sponsor, per what jpkrohling said above. Maybe you could read through the contributing docs and see if you are a good fit.

[2022-05-13 18:23] #9955 closed

[2022-05-13 18:55] TylerHelmuth commented on #9816
I will investigate this. It is a defined failure message so it's hitting a known code path, but it really shouldn't be.

[2022-05-13 19:06] schmikei commented on #9568
Closed by #9738

[2022-05-13 19:06] #9568 closed

[2022-05-13 19:12] schmikei commented on #9969
@dmitryax Yep I plan on working on this!

[2022-05-13 19:47] dashpole commented on #9984
I think this is important.  See https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/4980.  We had said at a SIG meeting  (https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5080#issuecomment-915386522) that it would be possible to do this using config sources.  Is that possible now, and this is just a documentation issue?  Or does config sources not solve t

[2022-05-13 19:55] #9954 closed

[2022-05-13 20:41] djaglowski opened #10012 "[pkg/stanza] Reenable linters and remove custom .golangci.yml"
Followup to #9953

`pkg/stanza` will have a temporary copy of `.golangci.yml` which allows it to temporarily exclude a minimal set of linters. These linters should be reenabled and their issues addressed. Once all linters are resolved, the custom `.golangci.yml` should be removed.
- [x] errcheck
- [x] misspell
- [x] gosec
- [x] revive
- [ ] govet
- [ ] Remove `pkg/stanza/.golangci.yml`

[2022-05-13 21:26] dmitryax commented on #9795
I can sponsor this component

[2022-05-13 21:26] dmitryax commented on #9796
I can sponsor this component

[2022-05-13 21:37] #7143 closed

[2022-05-13 23:11] bogdandrutu commented on #9984
@dashpole what are all the examples in prometheus config where you use `$`?

[2022-05-13 23:50] newly12 commented on #9981
Thanks for the quick response.

We are leveraging prometheus receiver to pull cadvisor metrics and also enrich the metrics given the `namespace` and `pod`(from metrics label), currently `k8sattrs` processor only supports resource attributes, not attributes from a metric, the easiest way I can think of is using `gropubyattrs` processor to group `namespace` and `pod` so they appear in the resource a

[2022-05-14 02:53] newly12 opened #10021 "k8sattributesprocessor should not ignore hostNetwork pods for enrichment based on non IP attribute(s)"
**Is your feature request related to a problem? Please describe.**
enrichment will skipped for pods running in host network mode, this may be true if based on pod IP, but not the case if based on other attributes e.g. `pod_uid`, or a combination of multiple attributes is being addressed by #8465
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/v0.51.0/processor/k8sattributesp

[2022-05-14 06:50] newly12 opened #10023 "prometheusremotewrite doesn't honor all resource attributes"
**Is your feature request related to a problem? Please describe.**
The scenario is scraping cadvisor metrics, enrich them via `k8sattrs` processor based on certain metric labels, so eventually metrics could have additional labels e.g. deployment name, any interested labels and/or annotations.

As currently `k8sattrs` processor only supports pod association from resource attributes, `groupbyattrs`

[2022-05-14 18:28] KarstenSchnitter opened #10025 "Extend CloudFoundry receiver to support Logs"
**Is your feature request related to a problem? Please describe.**
The Cloud Foundry receiver requested in #5320 currently only supports metrics.
Cloud Foundry also supports application and request logs over the same channel.

**Describe the solution you'd like**
Extend [cloudfoundryreceiver/stream.go#L69-L78](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/9c710a37f4a20228d

[2022-05-15 22:04] bertysentry commented on #8950
@dashpole If you have time to have a look at the #10028 PR (just describing the change, before going down to the implementation)

[2022-05-16 08:26] tjiuming commented on #9796
@dmitryax  Thanks, what do I need to do ?

[2022-05-16 08:27] tjiuming commented on #9795
@dmitryax Thanks, what do I need to do ?

[2022-05-16 13:08] newly12 commented on #9981
For who may be interested, another issue with this approach #10021

[2022-05-16 13:13] dashpole commented on #9984
The examples are almost entirely inside the `replacement` section of [relabel_configs](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#relabel_config).  It is very commonly used.  It might also be used in the regex as well.

My original thinking in #4980 was that being able to reference a separate file would do the trick.  It would also enable other uses of the collector,

[2022-05-16 13:38] BinaryFissionGames commented on #9254
@TylerHelmuth @bogdandrutu - just re-pinging in case you missed this; Any thoughts on whether the transform processor will or should allow for datatype (e.g. gauge -> sum) manipulations on metrics?

[2022-05-16 13:50] dashpole commented on #9986
The first scrape of the self-obs endpoint can sometimes fail, as there is a race between the prometheus receiver starting up, and the self-obs endpoint starting up.  If it only happens once, then it probably is just that happening.

Are there any other symptoms other than the log line?

[2022-05-16 17:25] djaglowski opened #10030 "Flaky Test - hostmetricsreceiver/internal/scraper/loadscraper/TestScrape"
[code]

Observed here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6456854842?check_suite_focus=true#step:7:3948

[2022-05-16 19:38] TylerHelmuth commented on #8252
@anuraaga what functions would you like to see added in addition to `set`, `keep_keys`, `truncate_all`, and `limit`?

[2022-05-16 21:50] TylerHelmuth opened #10101 "[processor/transform] Refactor function structure"
[The transform processor currently uses reflection to call functions.](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/e2d24b5a36ce989b58effaf8ea89d6474f6795a0/processor/transformprocessor/internal/common/functions.go#L143)  Reflection is working, but is complicated to maintain and adapt when new functions are added.

This issue will track the following steps to removing ref

[2022-05-16 23:00] Mario-Hofstaetter commented on #9986
@dashpole

Every metric target fails, for real. No metrics are shown in the exporter endpoint besides the following.
I used `static_configs` and `file_sd_configs`, each and every target fails. `up` metric is zero.

Replacing the static target with `http://localhost:9182` (`windows_exporter` on my machine) does not change the behavior.

Logs see below. The `DEBUG` log prints

[code]

(using debug l

[2022-05-16 23:23] #9366 closed

[2022-05-16 23:54] MovieStoreGuy commented on #9012
Hey @ayu-programer ,

Was there any issues being logged by your Kafka cluster? Is there any data making it to your Kafka cluster?

From what I can infer from the logs is that the exporter is has made a connection to the brokers, and has started to forward data but then I need more information from Kafka? Like is your broker full? Have you had a broker died?

If you could also give us the collector

[2022-05-17 01:18] anuraaga commented on #10101
Oh missed the issue - I left some comments on the PR but will comment on the text here too.

In general, complicated to maintain is acceptable if it makes an API or user experience easier - we expect new functions to be added a lot forever, but while the reflection may not support everything yet it should reach a peak at some point where all resolvable types are implemented, but functions continue

[2022-05-17 01:19] anuraaga commented on #8252
I think `replace_wildcards` as described in the design doc would be nice too, cutting down on cardinality of data from highly generic instrumentation is an important use case and one that the other processors don't currently cover IIRC. That would probably be enough for an initial release.

[2022-05-17 02:49] TylerHelmuth commented on #10101
My overall goal with this issue/PR is to make function adding easier.  When I added the `truncate_all` and `limit` functions I was tripped up by the need to update the reflection in `NewFunctionCall`, so I went looking for a way to avoid the need to modify that function when a new function is added.

Benefits of existing reflection solution:
- encapsulates all parsing logic.  Function creators can

[2022-05-17 02:51] TylerHelmuth commented on #10101
Whether or not we keep reflection, I do think that functions.go will get too large.  How do you feel about functions.go containing only the types/funcs necessary to build functions, and then individual functions be added via their own files/modules?

[2022-05-17 02:57] TylerHelmuth commented on #8252
I'll get a PR out for `replace_wildcards` this week.

[2022-05-17 03:02] MovieStoreGuy commented on #9251
Just to give me a bit more context on the setup, you mentioned Pods, does that mean you're entire environment is running inside cube?  Do you run the collector as part of the pod or as its own deployment? Did any of your brokers restart?

I can kinda see how you could get in a scenario where collector has resolve the broker IPs but one of them restarted or the resolved IP had changed.

In this sce

[2022-05-17 03:34] anuraaga commented on #10101
The reflection only gets called when parsing the config but not during the hot path which is the telemetry pipeline. So I'd say we don't have to worry too much about the performance impact of reflection here.

Yup this sounds like a good idea to me. Thanks.

[2022-05-17 03:41] TylerHelmuth commented on #10101
Good point.

I will move forward with updating the reflection.

[2022-05-17 05:19] fatsheep9146 commented on #9749
@mx-psi exporter/carbonexporter is solved

[2022-05-17 10:52] mar4uk commented on #9800
Created draft PR just to not lose what I have developed so far https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/10109. Also it could be the place for further discussions

[2022-05-17 11:55] gouthamve commented on #9986
So I would say this is working as expected. So the way to do this is by setting the correct attributes using the https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/attributesprocessor

https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/datamodel.md#resource-attributes

https://github.com/open-telemetry/opentelemetry-spec

[2022-05-17 11:56] gouthamve commented on #9986
The receiver needs the `job` and `instance` labels for it to work, and you'll need to upsert / remove the attributes in the attributes processor rather than drop them in the receiver itself.

[2022-05-17 12:39] jvilhuber opened #10110 "loadbalancerexporter nil pointer dereference when no endpoints found"
**Describe the bug**
I can reproduce this when I have 0 backends deployed (but the hless-service is deployed). In that case I assume the list of IP Addresses is empty, and we panic with a null pointer.

This also happened on startup when I deployed in a live system. Either the DNS failed (I get the occasional i/o error from the DNS lookup) or perhaps the hless service was not yet populated (I wasn

[2022-05-17 12:45] jvilhuber commented on #10110
I'm guessing this:
[code]
`h.items` may need to  be checked for nil (sorry my go-setup is currently messed up, and can't do a PR or even compile locally).

[2022-05-17 12:53] djaglowski opened #10111 "[receiver/mongodb] Start function hangs if target is unreachable"
The start function attempts to retrieve the version of the mongodb system. If the system is unavailable, this call appears to hang forever.

This has a notable effect on the duration of `internal/components` tests, which exercise the lifecycle of components.

[2022-05-17 12:55] dashpole commented on #9986
Exactly.  The collector's Prometheus receiver _is basically a prometheus server_.  Using `honor_labels` is expected if you are scraping from a prometheus server.  The prometheus exporter is the prom equivalent of a federated Prometheus endpoint.

The issue with omitting job and instance labels from the prometheus exporter endpoint is that if you scrape more than one target (e.g. two instances of a

[2022-05-17 13:26] djaglowski opened #10113 "Flaky Test - windows-msi"
This check fails frequently, without much information. [Example](https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6438283411?check_suite_focus=true).

[code]

As far as I can tell, the operation is not typically canceled intentionally. Possibly it is due to a resource being reallocated, but otherwise this would appear to be a bug.

---

I would like to re-establish whether we

[2022-05-17 13:47] Mario-Hofstaetter commented on #9986
Thank you @dashpole, @gouthamve , [by using the resourceprocessor](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/bf5d0f658f5b71739ca540b1d200535009fbb557/processor/resourceprocessor/README.md) (not the `attributesprocessor`, that one did not work), I was able to get rid of the `job` label in prometheus exporter, by deleting the `service.name` attribute:

[code]

As someone

[2022-05-17 15:12] clouedoc opened #10115 "[Prometheus Remote Write Exporter] Forward metrics labels"
**Is your feature request related to a problem? Please describe.**
I want to be able to cluster my metrics by host in Prometheus.
On Prometheus' side, I do not get a `host` label to select:

![image](https://user-images.githubusercontent.com/13921610/168844374-eb639319-b7fa-48c5-864c-35efadf69d19.png)

I only get a `job` tag.

Previously, by using Datadog and the `otlp` exporter, I could aggregate

[2022-05-17 16:59] codeboten opened #10116 "Add status header to all components"
In an effort to make finding the state of each component easier, the README for each component should contain a table which includes:

- stability level (should be one of: [in development](https://github.com/open-telemetry/opentelemetry-collector#in-development), [alpha](https://github.com/open-telemetry/opentelemetry-collector#alpha), [beta](https://github.com/open-telemetry/opentelemetry-collect

[2022-05-17 17:17] TylerHelmuth commented on #10116
#10002 is open for transformprocessor

[2022-05-17 18:21] codeboten opened #10118 "Add status header for probabilisticsampler"

[2022-05-17 18:35] TylerHelmuth commented on #9989
I have updated the processor's read me to state it is still in development and not part of any distributions.  I think this issue can be closed.

[2022-05-17 23:08] bogdandrutu commented on #9984
I would suggest a different path. Implement a "MapConverter" (currently named `config.MapConverterFunc`) that we can use to replace "${DIGIT}" in any `receivers::prometheus[/a-z]::config::scrapers_config[x]::replacements` with "$${DIGIT}"?

[2022-05-18 07:46] perk opened #10125 "Filelogreceiver reads the same file in the loop in case there is an empty line between logs"
**Describe the bug**
Filelogreceiver reads the same file in the loop in case there is an empty line between logs

**Steps to reproduce**
Create the following `logs.txt` file to read the data from:
[code]

Apply the following configuration:
[code]

Run the otelcol:
[code]

**What did you expect to see?**
I'd expect the file to be read only once per otelcol run.

**What did you see instead?**
The fi

[2022-05-18 07:54] StuCurry opened #10126 "Is there any grafana dashboards for hostmetrics"
We plan to use hotmetrics reciver to collect host monitoring data, is there any corresponding grafana dashboards? I could not find any on grafana.net.

config.yaml:
[code]

[2022-05-18 12:13] perk opened #10127 "Filelogreceiver reads the same file twice in case there is an empty line at the beginning"
**Describe the bug**
Filelogreceiver reads the same file twice in case there is an empty line at the beginning when the `start_at: beginning` is set.

**Steps to reproduce**
Create the following `logs.txt` file to read the data from:
[code]

Apply the following configuration:
[code]

Run the otelcol:
[code]

See the following lines:
[code]

**What did you expect to see?**
I'd expect the file to be

[2022-05-18 12:21] perk opened #10128 "[receiver/filelogreceiver] Filelogreceiver doesn't read from file in case there are two or more empty lines at the beginning"
**Describe the bug**
Filelogreceiver doesn't read from file in case there are two or more empty lines at the beginning when the `start_at: beginning` is used.

**Steps to reproduce**
Create the following `logs.txt` file to read the data from:
[code]

Apply the following configuration:
[code]

Run the otelcol:
[code]

See the following lines:
[code]

Try to add anything into the file:
[code]

Nothi

[2022-05-18 13:53] dashpole commented on #9984
Ooh, fancy.  That works for me

[2022-05-18 15:14] antonblock opened #10129 "[internal/scrapertest] Add `CompareOption` to ignore resource attribute values"
**Is your feature request related to a problem? Please describe.**

I use the `CompareMetrics` function in integration tests to verify metrics from a live collection match the expected metrics. That function uses resource attributes to find matching resources between the actual and expected metrics. A problem I ran into is when one or more resource attribute is unpredictable. For example, a system

[2022-05-18 16:20] TylerHelmuth opened #10130 "[processor/transform] Add ability to change metric data type"
**Is your feature request related to a problem? Please describe.**
The transform processor is being wired up for metrics.  As a result, it is possible to do a query like

`set("metric.type", "Gauge") where "metric.type" == "Sum"

But the metrics implementation does not know how to convert from one data type to another.

**Describe the solution you'd like**

The transformprocessor should be updated

[2022-05-18 16:28] bogdandrutu commented on #10130
This should be only for "scalar/number" metrics.

[2022-05-18 18:18] TylerHelmuth commented on #8252
PRs required before "Alpha" release:

- https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/10100
- https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/10132
- https://github.com/open-telemetry/opentelemetry-collector/pull/5395
- https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/10134
- https://github.com/open-telemetry/opentelemetry-colle

[2022-05-18 18:26] gurpartb commented on #9990
Thanks for looking into it!

[2022-05-18 18:26] gurpartb commented on #9989
Thans!

[2022-05-18 18:26] #9989 closed

[2022-05-18 19:02] BinaryFissionGames commented on #9254
Discussed metric datatype manipulations at the SIG today.
The transform processor does not currently support converting between scalar metric datatypes, but support will be added and is tracked in #10130.

Once this functionality is added, we should be able to make a config, and then it becomes a question of how to distribute/contribute configs like this.

[2022-05-18 19:55] pmcollins opened #10138 "Replace Showmax/go-fqdn logic in the resourcedetection processor"
**Is your feature request related to a problem? Please describe.**
A Collector user encountered a problem when running the "dns" hostname source when using the resourcedetection processor on Windows. See #10015 for details.

**Describe the solution you'd like**

The "dns" hostname source of the system detector in the resourcedetection processor uses the [Showmax/go-fqdn](https://github.com/Showmax

[2022-05-18 20:28] TylerHelmuth opened #10139 "[processor/transform] Refactor newPathGetSetters to share similar cases"
**Is your feature request related to a problem? Please describe.**
Right now in the transform processor each signal's newPathGetSetter function has the same logic for `resource` and `instrumentation_scope`, resulting in duplicate code and unit tests.

**Describe the solution you'd like**
The access logic for `resource` and `instrumentation_scope` should be moved to the `common` package and then re

[2022-05-18 20:28] TylerHelmuth commented on #10139
My opinion on labels: priority:p3, help wanted, good first issue.

[2022-05-19 06:16] dmitryax opened #10142 "[exporter/prometheusremotewrite] Flaky test TestWALOnExporterRoundTrip"
exporter/prometheusremotewriteexporter/exporter_test.TestWALOnExporterRoundTrip is failing on Windows with the following error:

[code]

Seen in https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6445911758?check_suite_focus=true

[2022-05-19 06:22] dmitryax opened #10143 "[receiver/hostmetrics] load scraper tests are failing on Windows"
`TestStartSampling` and `TestSampleLoad` in  receiver/hostmetricsreceiver/internal/scraper/loadscraper/load_scraper_windows_test.go are causing race condition.

- https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6478751037?check_suite_focus=true
- https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6479735884?check_suite_focus=true

[2022-05-19 06:25] dmitryax opened #10144 "[scrapertest/golden] TestWriteMetrics test is failing on Windows"
internal/scrapertest.TestWriteMetrics is failing on Windows. See https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6447364598?check_suite_focus=true

[2022-05-19 06:34] dmitryax opened #10145 "[pkg/winperfcounters] Tests are failing to run concurrently"
See https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6457700874?check_suite_focus=true

[2022-05-19 06:36] dmitryax opened #10146 "[receiver/iis] Tests are failing with -race check"
See https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6480310971?check_suite_focus=true

[2022-05-19 06:38] dmitryax opened #10147 "[exporters/carbon] Test_connPool_Concurrency test is failing on Windows"
See https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6483209963?check_suite_focus=true

[2022-05-19 06:39] dmitryax opened #10148 "[receiver/prometheus] TestOpenMetricsPositive test is failing on Windows"
See https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6493945538?check_suite_focus=true

[2022-05-19 06:40] dmitryax opened #10149 "[pkg/sqlserver] Tests are failing to run concurrently"
See https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6496750070?check_suite_focus=true

[2022-05-19 06:43] dmitryax opened #10150 "[receiver/windowsperfcounters] Tests are failing with -race check"
See https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6498804958?check_suite_focus=true

[2022-05-19 06:45] dmitryax opened #10151 "[receiver/statsd] Test_statsdreceiver_EndToEnd test is failing on Windows"
[code]

See https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6499311073?check_suite_focus=true

[2022-05-19 08:54] pmm-sumo commented on #10116
A nit, but the template in the issue description seems to have a mistake. It says:

[code]

It should be:
[code]

[2022-05-19 09:26] locmai commented on #4153
Another attempt from @nabam I found in the PR list #9006 - this one also updated the `accumulateDoubleHistogram` function but doesn't include the fix for statsd receiver side in #9919

[2022-05-19 09:42] kevinat commented on #7180
+1

Same error with otel/opentelemetry-collector-contrib:0.50.0, and all metrics from this instance failed to be scraped

[2022-05-19 13:25] codeboten opened #10155 "Add status header for jaeger"

[2022-05-19 13:26] codeboten opened #10156 "Add status header for jaeger"

[2022-05-19 13:45] mar4uk commented on #9800
I will be on a long leave for a few months, and will not be able to continue working on this component. Feel free to use my draft PR if you continue working on this component

[2022-05-19 13:52] djaglowski commented on #9800
Thank you for the discussion and draft @mar4uk.

I'd like to see this component move forward in some form, but given the rather different approaches that appear to be on the table, I think it's worth discussing in the Collector SIG next week. I'll add it to the agenda.

[2022-05-19 14:11] #10111 closed

[2022-05-19 14:14] djaglowski commented on #10130
When setting the data type to a counter, I think it is also appropriate to specify the monotonicity and aggregation temporality.

[2022-05-19 14:41] TylerHelmuth commented on #10130
Agreed

[2022-05-19 14:50] TylerHelmuth commented on #9254
Sorry I missed this mention.

Setting metric description and metric name is now supported by the transform processor using the `set` function like:

`set(metric.unit, "a unit")`

If you have a way to differentiate between metrics from this receiver and other receivers you can add a condition for when to call `set`

`... where metric.name = "specific metric name, wildcards are not yet supported"

O

[2022-05-19 15:07] codeboten opened #10158 "Add status header for elasticsearch"

[2022-05-19 15:08] codeboten opened #10159 "Add status header for elasticsearch"

[2022-05-19 15:19] TylerHelmuth commented on #10116
@codeboten several PRs have been opened with the `-contrib` link, can you update the issue's description?

[2022-05-19 16:35] codeboten commented on #10116
@TylerHelmuth good point, updated 👍

[2022-05-19 16:52] gurpartb commented on #9990
Experimental feature. Closing issue for now.

[2022-05-19 16:52] #9990 closed

[2022-05-19 17:14] vise890 opened #10161 "Panic and SIGSEGV in awsecscontainermetricsreceiver"
**Describe the bug**
`awsecscontainermetricsreceiver` segfaults at `github.com/open-telemetry/opentelemetry-collector-contrib/receiver/awsecscontainermetricsreceiver@v0.45.1/internal/awsecscontainermetrics/metrics_helper.go:27` on a cgroup v2 host.
This puts the container on a restart loop on ECS.

**Steps to reproduce**
Running sidecar AWS OTEL collector on Flatcar Linux `ami-0c86b15ecbf1ecab6` w

[2022-05-19 17:52] pmm-sumo opened #10162 "Check Markdown links"
**Is your feature request related to a problem? Please describe.**

The Markdown links are currently not checked, which sometimes leads to accidental broken links ([example](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/10004#discussion_r877067937))

**Describe the solution you'd like**

Add link checking, perhaps using the [solution](https://github.com/open-telemetry/open

[2022-05-19 18:47] codeboten commented on #10161
Pinging @Aneurysm9

[2022-05-19 19:47] codeboten opened #10163 "Fix build - failing windows test"
https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6513529637?check_suite_focus=true

[2022-05-19 19:55] Mario-Hofstaetter commented on #9800
@djaglowski I was thinking about this and other components (like lokiexporter).
Could it be possible to get the grafana developers on board to maintain these? The best scenario for users would be if otelcol supports all features of promtail and replaces / superseeds it completely. Since promtail is free to use otecol does not hurt their profits, rather otelcol could drive more users to using their

[2022-05-19 20:20] djaglowski commented on #9800
@Mario-Hofstaetter, I'm glad you pointed out the AGPL license. Unfortunately, we cannot accept any dependency on code licensed under AGPL. In theory, we can consider an implementation that does not depend on copyleft-licensed source. However, given the need for clarity on this issue, I suggest that in the case such an implementation is possible, a fresh proposal should be drafted.

[2022-05-19 20:21] #10163 closed

[2022-05-19 20:27] djaglowski opened #10165 "[receiver/elasticsearch] Add integration test"
It should be possible to add a containerized integration test to this receiver.

[2022-05-19 21:34] dmitryax opened #10171 "[receiver/zookeeper] Flaky TestZookeeperMetricsScraperScrape test, fails on Windows sometimes"
[code]

See https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6514438768?check_suite_focus=true

[2022-05-19 22:23] dmitryax commented on #10171
https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6514630275?check_suite_focus=true

[2022-05-19 23:47] Frapschen commented on #10165
hi, l'd to help it, how can I start? any example?

[2022-05-20 00:05] dmitryax commented on #10113
I think this test is important enough to have. It verify full cycle of collector service on Windows. I may be a bug in the make.ps1 script that should be fixed.

Can we skip the test for now as we did we other flay tests?

[2022-05-20 01:32] dmitryax opened #10178 "[exporter/elasticsearch] TestExporter_PushEvent test is flaky on Windows"
[code]

Seen in https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6517500988?check_suite_focus=true

[2022-05-20 05:41] dmitryax commented on #4042
Looks like it still happening https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6517706438?check_suite_focus=true

[2022-05-20 07:22] djaglowski commented on #10113
Seems reasonable. I'll open a new PR that skips the job.

[2022-05-20 07:58] newly12 commented on #10023
noticed `resource_to_telemetry_conversion` config in remote write exporter which does the trick.

[2022-05-20 07:58] #10023 closed

[2022-05-20 09:09] djaglowski commented on #10125
Related to #10127 and #10128

[2022-05-20 09:10] djaglowski commented on #10127
Related to #10125 and #10128

[2022-05-20 09:10] djaglowski commented on #10128
Related to #10125 and #10127

[2022-05-20 09:27] holycheater opened #10186 "[receiver/jaeger] incompatible behavior with original jaeger receiver"
**Describe the bug**

When receiving traces through jaeger grpc protocol, span process information can be lost because jaegertranslator only inspects batch.Process and ignores span.Process completely during conversion

This is incosistent with original receiver behavior:
https://github.com/jaegertracing/jaeger/blob/v1.34.1/cmd/collector/app/handler/grpc_handler.go#L45-L49

Spans can have their own

[2022-05-20 13:25] djaglowski commented on #10171
Similar case here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6523457323?check_suite_focus=true#step:8:2301

[2022-05-20 16:42] dmitryax commented on #10171
Here again https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6528289367?check_suite_focus=true

[2022-05-20 17:06] dmitryax commented on #10178
cc @urso @faec @blakerouse as code owners

[2022-05-20 17:10] dmitryax commented on #10165
@Frapschen Ok, assigned to you

[2022-05-20 17:20] dmitryax commented on #10129
@antonblock are you going to work on this? can we assign it to you?

[2022-05-20 17:23] dmitryax commented on #10128
@djaglowski please assign accordingly if we have someone to work on this

[2022-05-20 17:23] dmitryax commented on #10127
@djaglowski please assign accordingly if we have someone to work on this

[2022-05-20 17:26] dmitryax commented on #10115
cc @Aneurysm9 as code owner

[2022-05-20 17:29] #5320 closed

[2022-05-20 17:30] dmitryax commented on #10025
@KarstenSchnitter do you want to help with this enhancement?

[2022-05-20 17:41] dashpole commented on #2730
Sorry I missed this issue.  This should be fixed by the new exporter, which relies on opentelemetry semantic conventions instead of the OpenCensus ones. See https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/blob/main/internal/resourcemapping/resourcemapping.go#L57 for the GCE (and others) mappings.

If you set host.id and cloud.availability_zone, you will be mapped to gce_instance

[2022-05-20 18:03] BinaryFissionGames commented on #10130
I'd be happy to take a stab at this.
Here's what I propose:

Two functions:
- `convert_scalar_metric_to_sum(aggregation_temporality, monotonic)`
  - Where `aggregation_temporality` is one of "delta" or "cumulative", and `monotonic` is true or false
  - If the metric is already a sum, aggregation_temporality and monotonic will be set based on the parameters.
  - If the metric is a gauge, it will be

[2022-05-20 19:02] TylerHelmuth commented on #10130
The proposal will almost be able to replace the need for the cumulativetodelta processor because once multiple conditions are allowed in the `where` clause  you'll be able to do:

`convert_scalar_metric_to_sum("delta", "true") where metric.aggregation_temporality == "Cumulative" and metric.type == "Sum" and metric.is_monotonic == "True"`

which is awesome, but also feels like the the function is d

[2022-05-20 19:21] TylerHelmuth opened #10195 "[processor/transform] Add AND and OR capability to WHERE condition"
**Is your feature request related to a problem? Please describe.**
The transform processor currently accepts a WHERE clause with a single condition:

`set(name, "test") where name != "test"`

But there are times where multiple conditions are needed in order to filter to the correct data.

**Describe the solution you'd like**
The processor's grammar should be updated to allow ANDing and ORing toget

[2022-05-20 19:22] TylerHelmuth commented on #10195
proposed labels: priority:p2, help wanted, proc: transformprocessor

[2022-05-20 19:30] BinaryFissionGames commented on #10130
I like the idea of reducing the scope a bit here, for the sake of orthogonality.

One thing that this brings up is that converting Sum -> Sum in terms of aggregation temporality is a little overloaded. I was imagining that this "conversion" would just be changing the descriptor, while keeping the original datapoint values. This would be the case for gauge -> sum, regardless of the aggregation temp

[2022-05-20 19:35] clouedoc commented on #10115
I managed to solve my specific issue by using a `prometheus` exporter and starting up a sibling Prometheus instance that scrapes `opentelemetry-collector` and writes to Grafana Cloud.
Note: I had to activate an option in the `prometheus` exporter to convert resource labels into Prometheus tags.

[2022-05-20 19:35] BinaryFissionGames commented on #10165
Hey @Frapschen, thanks for volunteering to help out.

The task is essentially to create an integration test that:
1. Starts an elasticsearch docker container
2. Initializes the elasticsearchreceiver component from it's factory
3. Scrapes metrics from the docker container
4. Validates that the expected metrics are scraped (using the [scrapertest package](https://github.com/open-telemetry/openteleme

[2022-05-20 19:37] dmitryax commented on #10115
@clouedoc is this still an issue with Prometheus Remote Write Exporter or we can close it?

[2022-05-20 20:46] TylerHelmuth commented on #10130
If Sum -> Sum aggregation temporality was only going to update the value in the data model but not convert the data itself then I definitely think we should not allow Sum -> Sum.

The [function syntax standards](https://github.com/TylerHelmuth/opentelemetry-collector/blob/update-processing-doc/docs/processing.md#function-syntax) require the function to start with a verb, so I think the names `conv

[2022-05-20 23:34] Frapschen commented on #10165
ok, I wil  check these pattern and work on the es one.

[2022-05-20 23:43] Frapschen commented on #10127
if no one work on it, i'd like help it :)

[2022-05-21 04:52] jvilhuber opened #10199 "exporter/loadbalancingexporter: make dns resolver interval and timeout configurable"
**Is your feature request related to a problem? Please describe.**
I frequently see these errors in my logs:
[code]
Seems at times the cluster may just be slow and the default 1-second (every 5 seconds) timeout is too short.

**Describe the solution you'd like**
Make the dns lookup interval and timeout configurable.

**Describe alternatives you've considered**
No alternative comes to mind. Making

[2022-05-21 05:15] jvilhuber opened #10200 "exporter/loadbalancingexporter: use hashicorp/memberlist instead of DNS to create hashring"
**Is your feature request related to a problem? Please describe.**
Doing DNS lookups every 5 seconds seems to put some strain on the infrastructure. Also scaling events that change the number of pods may change where a traceID goes, causing disruption. I've been thinking of adding an HPA for the load-balancer front-end and the tail-sampling backends, and during a load-increase, a scale-up of the b

[2022-05-22 19:19] TylerHelmuth commented on #10199
Seems like a good addition to the config. @jvilhuber is this something you plan to contribute?

[2022-05-23 02:52] jvilhuber commented on #10199
I can certainly give it a go! I'm currently waiting for my company to approve the CLA.

[2022-05-23 03:34] jamesmoessis commented on #9794
I've edited the description of the issue to include onboarding to `mdatagen` in order to align with other similar scrapers in the contrib.

[2022-05-23 11:24] clouedoc commented on #10115
@dmitryax This is still an issue with Prometheus Remote Write Exporter that should be addressed, at least in the docs.
It would be interesting to have @Aneurysm9's take on it.
You can close if it clutters the tracker; I consider my job done as long as future explorers can find this thread 😁

[2022-05-23 13:16] willarmiros commented on #8271
@mx-psi any chance this can be closed & CHANGELOG updated since the fix was merged?

[2022-05-23 13:33] mx-psi commented on #8271
Closing as completed per the comment above

[2022-05-23 13:33] #8271 closed

[2022-05-23 13:42] djaglowski opened #10205 "Flaky Test - tailsamplingprocessor/TestConcurrentTraceArrival"
[code]

Observed here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6555994409?check_suite_focus=true

[2022-05-23 14:08] #10158 closed

[2022-05-23 14:08] #10159 closed

[2022-05-23 14:28] willarmiros commented on #7781
Hi @BT-22, sorry for the delayed response and thank you for posting this. We are aware of this issue and will be addressing it as soon as we can.

[2022-05-23 14:30] willarmiros commented on #7938
@mihneastaub can we close this issue since it is a duplicate of both https://github.com/aws-observability/aws-otel-collector/issues/492 and #1646?

[2022-05-23 14:31] willarmiros commented on #4721
Is it possible to remove the `comp:aws-xray` label from this issue? It should only be a CloudWatch issue.

[2022-05-23 14:32] mihneastaub commented on #7938
@willarmiros yes you can close this issue. Thank you for the information and guidance.

[2022-05-23 14:32] #7938 closed

[2022-05-23 14:33] willarmiros commented on #2396
Hi @bogdandrutu @vikrambe can we close this as a duplicate of both https://github.com/aws-observability/aws-otel-collector/issues/492 and https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/1646?

[2022-05-23 14:36] willarmiros commented on #1590
Hi @jrcamp @bogdandrutu can we untag `aws-xray` from this feature request (or resolve if the resource detectors have been migrated)? Seems reasonable to have aws tagged, but there's nothing specific to X-Ray in this issue I can see.

[2022-05-23 14:36] djaglowski commented on #10127
I am looking into this, but don't have a solution yet. So far I have confirmed that empty lines are being omitted from fingerprints.

[2022-05-23 15:16] willarmiros commented on #1646
Hi @tmarszal thank you for chiming in. I've opened https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/10207 to address the README changes, PTAL!

Otherwise, this issue can stay open as the primary tracking issue in this repo for the X-Ray backend not supporting fully-random trace IDs. We are also tracking it downstream in https://github.com/aws-observability/aws-otel-collector/

[2022-05-23 15:18] willarmiros commented on #1411
Hi @jpkrohling do you know is this issue is still happening or can we resolve this?

[2022-05-23 18:01] antonblock commented on #10129
@dmitryax Yeah, I can take this

[2022-05-23 18:15] TylerHelmuth commented on #10101
@anuraaga I started playing around with moving functions into their own packages but quickly ran into import cycles: `functions.go` needs reference to each function and each function needs references to `expression.go` and `expression,go` needs reference to `functions.go` due to the `NewFunctionCall` call in `NewGetter`.  `conditions.go` throws in some extra complexity because it uses `NewGetter`

[2022-05-23 18:28] #9951 closed

[2022-05-23 18:28] #9952 closed

[2022-05-23 18:28] #9953 closed

[2022-05-23 19:27] djaglowski commented on #9280
[This issue](https://github.com/actions/toolkit/issues/658) sheds more light on the problem. I found this after observing another instance of this problem, by digging up what appears to be [the actual failure where the cache became corrupted](https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6560941976?check_suite_focus=true#step:13:5).

[code]

[2022-05-23 19:27] djaglowski commented on #9280
Reopening this issue in hopes that the new hint may lead to an actual solution.

[2022-05-23 21:09] rmfitzpatrick commented on #9794
Thanks @jamesmoessis for these suggestions (and your patience!). I am a supporter of all of them though I think we may want to have an opt-in/grace period using redundant fields/feature flags as possible.

This is similar to my initial implementation but I was [requested to defer to a processor](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/495#discussion_r470157779). The

[2022-05-23 21:38] TylerHelmuth commented on #10101
After working on this today I'm leaning towards leaving things flat in the common folder. Maybe all function files and their test file would be prefaced with func_ to make it easy to find the functions in common?

[2022-05-24 00:56] dmitryax commented on #3499
As @chaitanyaphalak mentioned, configuration of k8s_tagger (now k8sattributes) processor is incorrect. Please use the provided example instead

[2022-05-24 00:56] #3499 closed

[2022-05-24 00:59] dmitryax commented on #3448
`k8s_tagger` was renamed to `k8sattributes`, please update your config https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5384

[2022-05-24 00:59] #3448 closed

[2022-05-24 01:06] dmitryax commented on #4385
@gionapaolini NotReady usually means that the contatiner cannot be started. If you run `kubectl describe` on the pod, you will see what's the problem in the events list

[2022-05-24 01:08] dmitryax commented on #5377
Closing the issues since all the documentation looks updated to the new configuration interface

[2022-05-24 01:08] #5377 closed

[2022-05-24 01:37] jamesmoessis commented on #9794
Thanks @rmfitzpatrick! Yes I do agree about the op-in/grace period.

It sounds like we are on the same page. I will put some PRs in in the coming weeks to gradually implement these :)

[2022-05-24 06:24] anuraaga commented on #10101
@TylerHelmuth Ah yeah I get burned by circular imports too often. I guess one idea would be to remove `common.DefaultFunctions()` and copy-paste that into the signal factories (I think it'd work but not sure without trying the code). It's probably not worth it though - `func_` prefix seems totally fine too.

[2022-05-24 13:09] #9122 closed

[2022-05-24 13:17] fswane commented on #1507
Hi

Was this feature implemented and is it working now?

Thanks
Regards
Francois

[2022-05-24 14:20] ananthakumaran commented on #3869
This issue can be worked around using [routing](https://pkg.go.dev/github.com/open-telemetry/opentelemetry-collector-contrib/processor/routingprocessor) processor. sample below

[code]

[2022-05-24 15:26] #10162 closed

[2022-05-24 16:27] codeboten opened #10264 "Add status header for jaegerthrifthttp"

[2022-05-24 16:28] codeboten opened #10265 "Add status header for file"

[2022-05-24 16:56] #9956 closed

[2022-05-24 17:21] dmitryax opened #10268 "Update OTLP-Jaeger translation of events according to the spec"
Currently `Name` field of a span event is [mapped to a Jaeger log with `message` key](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/c2b384ed6813ea14f61770c8f141893146d1b751/pkg/translator/jaeger/traces_to_jaegerproto.go#L295-L301) which has a different meaning in OpenTracing specification: https://github.com/opentracing/specification/blob/master/semantic_conventions.md#log

[2022-05-24 17:32] djaglowski commented on #10205
Here again: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6578368988?check_suite_focus=true#step:8:2701

[2022-05-24 18:56] TylerHelmuth commented on #8252
All required PRs have been merged.  Once 0.52.0 is released I'll update the processor's status table.

[2022-05-24 19:01] djaglowski opened #10289 "[github-actions] Hanging "Cache Go" step"
Some github actions jobs are failing to complete the Cache Go step. The same "downloading" message appears repeatedly.

Example [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6579525038?check_suite_focus=true#step:8:1136).

<img width="485" alt="image" src="https://user-images.githubusercontent.com/5255616/170112173-38c63a89-9c96-4e9f-9238-09e5cfec21a9.png">

Possibl

[2022-05-24 19:04] pavankrish123 commented on #9808
cc: @mcmho

[2022-05-24 19:05] pavankrish123 commented on #9807
cc: @mcmho

[2022-05-24 19:27] jack-berg opened #10290 "[processor/transform] Disallow metric attribute transforms"
**Describe the bug**
The transform processor allows you to transform metrics attributes as follows:
[code]

However, as discussed in the [metrics sdk](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#attribute-limits), "attribute truncation or deletion could affect identity of metric time series and the topic requires further analysis", and there

[2022-05-24 20:19] dmitryax opened #10292 "[processor/resourcedetection] Flaky test - TestDetectResource_Parallel"
Seen in https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6580882988?check_suite_focus=true

[code]

[2022-05-24 21:55] pavankrish123 commented on #9578
@davidmirza408 - We  have [Redaction Process ](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/redactionprocessor)  that achieves the same affect. Please see if you can add enhancements to this processor (if it is not solving this specific use case already). The advantage doing it here is that we can use it for data received from all/any receivers.

[2022-05-24 22:02] pavankrish123 opened #10296 "[docs] Add status header to Oauth2ClientExtension"
Prior Art: https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/10116 - Adding header

[2022-05-24 22:27] TylerHelmuth commented on #10101
I like flat more so far.  Here is an example: https://github.com/TylerHelmuth/opentelemetry-collector-contrib/tree/issue-10101-refactor-functions-flat/processor/transformprocessor/internal/common

[2022-05-25 00:22] TylerHelmuth commented on #10290
@jack-berg is it only attributes or are resource attributes disallowed as well?

[2022-05-25 02:43] bputt-e opened #10300 "Add spans to clickhouse exporter"
**Is your feature request related to a problem? Please describe.**
We're interested in storing spans to clickhouse vs using something like ES or Loki/Tempo as it reduces architectural complexity and gives us more freedom with implementing wrappers around the database for visualizations within tools like grafana

**Describe the solution you'd like**
Looking to add spans as a supported option for cl

[2022-05-25 02:44] bputt-e commented on #10300
@hanjm do you have plans to implement this in the future?

[2022-05-25 04:53] hanjm commented on #10300
@bputt-e  plan but i not have much time, would you like to contrib it ? 😄

grafana-clickhouse-datasource support query clickhouse logs in explore UI. it will also be useful to search spans. https://github.com/grafana/clickhouse-datasource/issues/23

[2022-05-25 08:19] jvilhuber opened #10321 "exporter/loadbalancingexporter: won't start unless a Port is explicitly given"
**Describe the bug**
The documentation indicates that the default 4317 port is used for the DNS Resolver, in the case when no Port is given, however I have not been able to get it to work. Whenever I run without a port I get a warning:
[code]
and no traces are processed. It seems it SHOULD work, since the default port is added here: https://github.com/open-telemetry/opentelemetry-collector-contrib

[2022-05-25 08:41] jvilhuber commented on #10321
I added some temporary logs to these two methods:
[code]

When using:
[code]

and I see that the endpoint gets added and then immediately removed:
[code]

Whereas if I start with a port explicitly defined
[code]
I get:
[code]

[2022-05-25 08:48] jvilhuber commented on #10321
Ah I see the problem: When endpoints are resolved in
[code]
we create the endpoint-strings WITH the port ONLY if it was explicitly given:
[code]
In my test (which resolved to "127.0.0.1", without the explicit port, the endpoint string is "127.0.0.1".

But in
[code]
we create the endpoint string WITH the port (if it's not already set in the previous code-snippet). This leaves us with a disparity wh

[2022-05-25 08:51] Frapschen commented on #10116
miss the mezmoexporter?

[2022-05-25 08:57] jvilhuber commented on #10321
I suspect the best fix is to remove that ambiguity of "does it have a port? Or doesn't it?" by setting the default as we're talking about in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/10202
My concerns that the metrics labels may change is probably not a valid concern since it doesn't actually work without an explicit port (in which case the labels definitely have "host

[2022-05-25 10:01] Frapschen commented on #10116
I have created PRs for all exporter components, pls review :)

[2022-05-25 14:11] jack-berg commented on #10290
[Resources](https://github.com/open-telemetry/opentelemetry-specification/tree/main/specification/common#exempt-entities) are exempt from SDK attribute limits, but there's nothing special about resource attributes for metrics versus traces or logs. If the transform processor supports limiting resource attributes for traces and logs, it shouldn't be a problem to do so for metrics as well.

[2022-05-25 15:38] #10156 closed

[2022-05-25 17:01] djaglowski commented on #9958
Completed

[2022-05-25 17:01] #9958 closed

[2022-05-25 17:02] djaglowski commented on #9959
Completed

[2022-05-25 17:02] #9959 closed

[2022-05-25 17:32] dashpole opened #10348 "Remove deprecated 'gke' and 'gce' resource detectors after v0.54.0 is released"
The replacement is to use the single 'gcp' resource detector.  See https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/10347.

[2022-05-25 17:40] djaglowski commented on #10289
Here again: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6596380994?check_suite_focus=true#step:4:3787

[2022-05-25 17:42] djaglowski commented on #10289
Here too: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6595575905?check_suite_focus=true#step:8:6736

[2022-05-25 17:57] TylerHelmuth opened #10349 "[processor/transform] Improve processor's ability to handle enums"
The transform processor currently has messy support for fields that are enums in the protobufs.  Some fields, like `metric.aggregation_temporality`, use the numeric representation in some functions but a string representation in others.  Other fields are accessed using pdata representation that don't allow comparison with the query language's parse fields.  For example, the where clause `... where

[2022-05-25 17:58] TylerHelmuth commented on #10349
/cc @tigrannajaryan and @anuraaga.  I'd like your opinions on which (if any) should only be interacted with via string vs number and which should be able to be handled as both.

[2022-05-25 18:09] TylerHelmuth opened #10350 "[processor/transform] Some fields are not usable in conditions"
**Describe the bug**
The transform processor's Getters normally returns a field as the type it is represented in pdata.  This can cause problems when the field is used in a condition with a literal.  Literals are currently always interpreted as a string, int64, or float64.  Some fields are returned a uint64, int32, uint32, etc, which makes their comparisons with literals always false.

I've identi

[2022-05-25 19:14] ajsaclayan commented on #9251
Hi @MovieStoreGuy ,

This collector is running in a pod. We have some other containers running as a sidecar.

We are using an Azure event hub as an alternative to a Kafka cluster. Microsoft provides a Kafka endpoint we can target. According to the docs, brokers are fully managed by Event Hub. That being said, there may be a way to see if Event Hub exposes these restarts to us. More here https://do

[2022-05-25 19:54] tigrannajaryan commented on #10349
Here is a possible approach:
- Expose all enum fields as int64 in the language.
- Define all valid enum values as named symbolic `consts` that are injected into the execution context, i.e. referencing SEVERITY_ERROR in the language should result in int64 value of 17 used at runtime.
- Ideally substitution of const names to values happens at parsing time (have some sort of const symbol table).
- En

[2022-05-25 20:34] TylerHelmuth commented on #10349
I really like this approach.  I like the uniformity it gives across the board (all enums are int64) which will give function creators guarantees, while at the same allows the queries themselves to be human-readable.  Reviewing the parser it should be possible to add the constants to the grammar so they can be properly interpreted during parsing.

[2022-05-25 23:08] TylerHelmuth commented on #10101
I think I got all the functions flatten today.  I really like how the unit tests turned out.  Once a couple other PRs are merged I'll open one for the function flattening.  Once that is merged, I'll open a final PR to remove a bunch of duplicate unit tests.

[2022-05-26 06:34] Harnoor-se7en commented on #9251
We also faced the same error. we saw that 3 out of 5 Kafka brokers were in a pending state and after the broker's issue was fixed the error wasn't resolved in Otel-collector. Had to restart the otel-collector pods to fix it.

[2022-05-26 10:01] gr4vitonn opened #10352 "Failed to start the extension: unable to start, otelcol state is 3"
Hello there,

I'm sure it is not a bug, I'm just trying to seek help.

I got the following error: "Failed to start the extension: unable to start, otelcol state is 3".

I've tried to figure it out, but I found nothing useful here or on stackoverflow.

I have a java lambda what I'm trying to integrate with Honeycomb. I followed this guide: https://aws-otel.github.io/docs/getting-started/lambda/lamb

[2022-05-26 13:02] djaglowski commented on #9280
Another instance here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6600014305?check_suite_focus=true#step:12:184

[2022-05-26 13:36] djaglowski opened #10356 "[receiver/prometheus] Flaky Test - TestHonorTimeStampsWithFalse"
[code]

Observed here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6601904540?check_suite_focus=true#step:7:581

[2022-05-26 14:08] carlosjgp opened #10358 "[Prometheus remote-write receiver] Create a receiver to send metrics using Prometheus remote-write API"
**Is your feature request related to a problem? Please describe.**
We are trying to design an architecture where the metrics, traces and logs collectors have as a little CPU and memory footprint as possible on the K8s clusters where we deploy them
[code]

**Describe the solution you'd like**
Create a receiver that is able to expose a port compatible with [Prometheus Remote writer API](https://prom

[2022-05-26 14:14] djaglowski commented on #6927
Reopening this issue, as I've seen in several times lately. Recent examples:

https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6609655007?check_suite_focus=true#step:12:24
[code]

https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6601902083?check_suite_focus=true#step:12:32
[code]

https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/658

[2022-05-26 14:42] mrjavaguy opened #10360 "[exporter/jaeger] unable to send traces to jaeger collector"
I am guessing this is some sort of networking issue, but I have exhausted all my ideas on fixing, and I am hoping someone here can help.

I am running the OpenTelemetry collector in an EKS 1.19 cluster with the following config (secrets removed):

[code]

And the setup I have for Jaeger is

[code]

The issue is that I not seeing any traces in Jaeger for my services (logs are showing up in Splunk).

[2022-05-26 15:48] bertysentry opened #10362 "check-links check fails on pkg/stanza/docs/operators/generate_input.md"
**Describe the bug**
Build consistently fails on **check-links** check:

[code]

[2022-05-26 16:49] bertysentry commented on #10362
Actually, this has been already fixed. Closing.

[2022-05-26 17:14] jjcollinge opened #10364 "Prometheusremotewrite empty metrics error"
**Describe the bug**
When a receiver scrape returns an empty metric and the prometheusremotewrite exporter is enabled, the exporter errors instead of just dropping the metric. When retriers are enabled, these errors block valid metrics getting exported and cause our entire system to degrade. If I disable retries, the other valid metrics get through ok but then we get the error `Exporting failed: T

[2022-05-26 18:16] #8252 closed

[2022-05-26 18:19] jjcollinge commented on #10364
I tried this with codegen based receivers and get the same error when in an environment where no metrics can be recorded.

[2022-05-26 18:29] djaglowski opened #10368 "[receiver/jaeger] Flaky TestJaegerAgentUDP_ThriftCompact"
[code]
https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6614143811?check_suite_focus=true#step:7:4448

[2022-05-26 18:30] djaglowski opened #10369 "[receiver/jaeger] Flaky TestJaegerAgentUDP_ThriftBinary"
[code]
https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6614143811?check_suite_focus=true#step:7:4459

[2022-05-26 18:30] djaglowski opened #10370 "[receiver/jaeger] Flaky TestJaegerAgentUDP_ThriftBinary_PortInUse"
[code]
https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6614143811?check_suite_focus=true#step:7:4468

[2022-05-26 19:34] jkowall commented on #10116
What are the options for the “stability” header? What are the options for the "distribution" header?

Thanks!

[2022-05-26 19:40] codeboten commented on #10116
@jkowall I updated the description, please take a look

[2022-05-27 09:07] carlreid commented on #2651
@mx-psi Do you have any update to share regarding logging support from Datadog side; now that the data model is stable as earlier reported? I guess there hasn't been a meaningful update since July 2021. Also is there anything the community can do to help to get something working?

Also for anyone reading/subscribed, @mx-psi stated on related issue https://github.com/open-telemetry/opentelemetry-co

[2022-05-27 09:44] jkowall commented on #3702
Please close this out, we have fixed it a long time ago :)

[2022-05-27 13:56] #3702 closed

[2022-05-27 14:27] tim-mwangi opened #10374 "[prometheusexporter] setting resource_to_telemetry_conversion enabled config to true causes duplicate label names error on scraping attempt"
**Describe the bug**
Since in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/9115 we are now adding `job` and `instance` labels based on service name(and namespace if present) and service instance id in the resource attributes respectively, setting resource_to_telemetry_conversion enabled config to true would copy already existing `job` and `instance` resource attributes in

[2022-05-27 14:42] mx-psi commented on #2651
@carlreid I relayed this internally to the logs team and can act as a liaison here. The team shared that Datadog is committed to supporting logs on the Datadog exporter and that while they can't provide a ship date, there will be an update for the community in the coming months.

As I said on the duplicate issue, of this feature would be useful for you, please upvote it, and if we are missing some

[2022-05-27 14:47] mx-psi commented on #2375
If you want to export OTLP metrics and traces to the Datadog Agent, you can do so via OTLP ingest. You can read more details about it [here](https://docs.datadoghq.com/tracing/setup_overview/open_standards/otlp_ingest_in_the_agent/?tab=host).

I am closing this issue since we consider that this use case is supported by the OTLP ingest feature. For issues related or help with the Datadog Agent OTLP

[2022-05-27 14:47] #2375 closed

[2022-05-27 14:50] mx-psi commented on #3804
If you want to export OTLP metrics and traces to the Datadog Agent, you can now do so via OTLP ingest. You can read more details about it [here](https://docs.datadoghq.com/tracing/setup_overview/open_standards/otlp_ingest_in_the_agent/?tab=host).

I am closing this issue since this use case is supported by the OTLP ingest feature. For issues related to or help with the Datadog Agent OTLP ingest, p

[2022-05-27 14:50] #3804 closed

[2022-05-27 17:15] dmitryax commented on #10364
It looks like collector cannot reach the prometheus server. Can you confirm the exporter configured correctly and the prom server is accessible from there?

[2022-05-27 17:18] dmitryax commented on #10360
Looks like jaeger is not accessible from the collector. Can you please make sure that `simplest-collector.observability.svc.cluster.local:14250` is the right endpoint and it can accept connection from the collector pod?

[2022-05-27 17:20] dmitryax commented on #10358
cc @Aneurysm9

[2022-05-27 17:24] dmitryax commented on #10352
@gr4vitonn please share your config. it's unclear what's the problem oethrwise

[2022-05-27 18:09] rmfitzpatrick commented on #5879
@dmitryax does using `HOST_PROC_MOUNTINFO` introduced in https://github.com/shirou/gopsutil/pull/1272 provide a mechanism for this that doesn't necessarily require changes to the scraper?

[2022-05-27 18:34] dmitryax commented on #5879
Yes looks like it does. We can use it as a workaround for now. It should fix metrics that don't depend on `/proc/` in our distro. But other metrics using `/proc/self` instead of `/proc/1` will be still reporting container value instead of host. I don't remember how critical is that. Probably should be close to accurate.

[2022-05-27 18:36] dmitryax commented on #5879
Please test it in kubernetes to make sure that no errors are thrown. Thanks for looking into that!

[2022-05-27 18:36] #10012 closed

[2022-05-27 18:44] rmfitzpatrick commented on #5879
Oh my mistake, the `disk.Usage()` call will still fail since the host mount points need to still be coerced to ~`/hostfs`.

[2022-05-27 19:54] jjcollinge commented on #10364
So the error we get from the `prometheusremotewrite` exporter when running with no containers is:
[code]

[2022-05-27 20:30] mrjavaguy commented on #10360
I am not sure how I could check the connection from the opentelemetry pod to the jaeger pod. I did try to `exec` into the opentelemetry pod but it does not seem to have a shell.

I did port-forward `kubectl -n observability port-forward svc/simplest-collector 14250`

and then use grpcurl

`./grpcurl -plaintext -v localhost:14250 list`

which did return

[code]

On the Jaeger pod logs, I am seeing

[2022-05-28 04:44] #9957 closed

[2022-05-28 04:44] #9960 closed

[2022-05-29 12:43] ransoor2 opened #10420 "metricstransformprocessor - delta histograms result in empty metric descriptor and no values"
**Describe the bug**
Its not possible to use histograms with delta temporality with  metricstransformprocessor:
Internally the processor

1.  [transforms](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/processor/metricstransformprocessor/metrics_transform_processor.go#L220) all metrics to OC format (using a deprecated method)
2. process the OC metrics
3. transforms bac

[2022-05-29 13:58] #9397 closed

[2022-05-30 07:19] gouthamve commented on #8810
Hi, @jixiuf Sorry that I am only seeing this now, was away the past few weeks.

The discussion on the PR suggests that the change might not be required. Could you elaborate on the usecase so we can merge the PR?

[2022-05-30 09:50] gouthamve commented on #5842
Hi @gillg making this change would make it incompatible with how Prometheus does it unfortunately. Prometheus prioritises metric labels over `external_labels`:

https://github.com/prometheus/prometheus/blob/57f4aab27d53872b109c8513846765df6b51eb57/storage/remote/queue_manager.go#L665

and

https://github.com/prometheus/prometheus/blob/57f4aab27d53872b109c8513846765df6b51eb57/storage/remote/queue_m

[2022-05-30 11:19] mx-psi opened #10424 "[exporter/datadog] Improvements in hostname resolution"
### Overview

The Datadog exporter relies on the resourcedetection processor and k8attributes processor for supporting hostname resolution on certain environments; this has limitations when monitoring remote hosts with a single Datadog exporter. To improve the behavior on these setups, the exporter will resolve the hostname natively in all supported setups. This will cause changes in the identifie

[2022-05-30 15:04] mapno commented on #9232
Finally! Opened a PR - https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/10425. It has some things that need to be improved, but the main architecture and logic behind the processor is there. I think now it's a matter of reviewing the approach and polishing the implementation.

[2022-05-30 15:39] mx-psi opened #10428 "Create initial `telemetrygen` scaffolding"

[2022-05-30 15:39] mx-psi commented on #10428
@amenasria can I assign this to you?

[2022-05-31 00:34] JaredTan95 commented on #9232
Great works!

[2022-05-31 10:38] itaykat commented on #3121
Does this solution of exporting headers is available also in Kafka exporter? i.e if I want to set a specific attribute field in the Kafka message header.

[2022-05-31 11:52] mx-psi opened #10465 "[all] Enable `gocritic` linter on golangci-lint"

[2022-05-31 11:52] mx-psi opened #10466 "Enable `gocritic` in missing components"

[2022-05-31 13:08] jsumners opened #10467 ""Getting In Touch" references disused resource"
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/6574d2ffcbf2feb595e15eb3542c60e060136e9a/README.md?plain=1#L9

The "Getting In Touch" link in the README points to a Gitter.im channel that is clearly abandoned. That abandoned channel says to use an `#opentelemetry-collector` channel in a CNCF Slack instance. As far as I can tell, the channel in the Slack instance is actually

[2022-05-31 14:16] gbbr commented on #1698
Has there been any resolution on this issue? We have a similar problem on the `datadogexporter`, where I am responsible for APM code but I keep missing changes and PRs because of not getting notified, relying on @mx-psi to let me know, which is not a sustainable method. Any chance I could be added to the org and to CODEOWNERS to ensure I see these changes to be able to efficiently maintain this co

[2022-05-31 14:39] arun-shopify commented on #9018
I am seeing a bunch of these errors in our deployment as well, it would be good to know if these are harmless errors. I am wondering if the spans that hit this error go unprocessed. Looking at that part of the code briefly, it seems like that may be the case (correct me if I am wrong).

[2022-05-31 19:47] BinaryFissionGames opened #10475 "New component: MongoDB Atlas Alerts Receiver"
## The purpose and use-cases of the new component
The MongoDB Atlas Alerts Receiver would be used to receive alerts from MongoDB Atlas through a webhook, and emit them as log signals.
See: https://www.mongodb.com/docs/atlas/tutorial/third-party-service-integrations/ - Webhook Settings

MongoDB Atlas allows sending alerts to select third parties, but this receiver would allow the alerts to be sent

[2022-05-31 19:48] #10265 closed

[2022-05-31 20:42] rahulgupta92 opened #10476 "Defining nested Tail-based sampling policies in OpenTelemetry Collector"
When performing tail-based sampling with various services, there is a normally a need to sample traces based on a combination of policies like latency/string attribute exclusion/error status in spans etc.  These conditions can be defined using `and` / `or` conditions.

For example: Let's say we need to build tail-based sampling policies for services A and B based on below conditions:

**Policy 1**

[2022-05-31 21:38] jjcollinge commented on #10364
btw this can be reproduced easily using your latest distributions...

Using the v0.52.0 release binary and the config (I'm excluding all my running docker images to get 0 metrics):
[code]

This results in the following log:
[code]

[2022-06-01 07:59] pmm-sumo opened #10479 "Windows ARM/ARM64 support"
**Is your feature request related to a problem? Please describe.**

Windows ARM64 build currently fails with following ([per this discussion](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/9758#discussion_r886154269)):
[code]

**Describe the solution you'd like**
Provide support for ARM64 build on Windows.

[2022-06-01 10:17] LeoOdi opened #10480 "influxdbexporter tablename"
Is there any way to declare the table that the data in the bucket goes to.
My data currently all goes into a table called "prometheus", can this be changed?

[2022-06-01 10:49] take-five commented on #6944
Hi, has there been any progress on this?

[2022-06-01 11:03] take-five commented on #6944
Thank you @mx-psi , appreciate that

[2022-06-01 11:49] sumo-drosiek opened #10481 "[receiver/filelogreceiver] offset could be taken as additional factor for fingerprinting"
**Describe the bug**
We have a situation when rotated file begins the same way like the previous one (so fingerprint is the same), but new file is much behind the offset. So, while we are writing to the new file, nothing happens until we reach the offset. Such cases could be handled by filelog receiver.
There can happen if there are two same fingerprinted files being read in parallel.
My personal

[2022-06-01 16:39] BinaryFissionGames opened #10488 "[receiver/mongodbatlas] Add support for receiving alerts"
The mongodbatlas receiver currently scrapes metrics from MongoDB Atlas. This proposal would be to add the ability to receive Alerts through a webhook and emitting them as log signals. Alerts in MongoDB Atlas may be metric based, but there are also many alert types that are not metric based, for instance, backups failing, host failures, user adds, and X509 certificate expiration.

You can see more

[2022-06-01 16:39] #10475 closed

[2022-06-01 18:35] zenmoto commented on #10488
I like the last one best, but not enough to force users to change configuration. I would choose the first option of keeping the existing structure and adding the `alerts:` section.

[2022-06-01 18:44] #9816 closed

[2022-06-01 20:11] dashpole opened #10543 "New component: Google Managed service for Prometheus exporter"
## The purpose and use-cases of the new component

Public docs for the product: https://cloud.google.com/stackdriver/docs/managed-prometheus

Google Managed service for Prometheus allows ingesting metrics into Google Cloud in a specific format so that data can be queried with PromQL using the Prometheus Query API.  The recommended way to use GMP is with the GMP drop-in replacement for the Promethe

[2022-06-01 21:29] Konig-Corey opened #10544 "Give Mysql reciever ability to get metrics based off custom queries"
**Is your feature request related to a problem? Please describe.**
Datadog's mysql integration is capable of not only pulling in db metrics, but also running custom queries to gather metrics to be submitted. This would be a great addition to the current mysql receiver OR a new receiver

**Describe the solution you'd like**
The ability for Open Telemetry collection agent to gather metrics based on

[2022-06-02 00:43] junhaoyu-aws opened #10545 "awsemf exporters should include min/max for histograms when they’re available"
### **Problem Description:**

the `awsemf` exporters needs to be updated to include min/max for histograms when they’re available, these two metrics are useful.

### **Solution:**

1. Location of the code lines to be changed

In this link, code be like
[code]

2. Identify that `Max()` and `Min()` operations are supported

We can see that type `HistogramDataPoint` supports `Max()` and `Min()`. This

[2022-06-02 00:44] junhaoyu-aws commented on #10545
Hi, @Aneurysm9. Can you assign this issue to me and @alexperez52?

[2022-06-02 01:16] fatsheep9146 commented on #10466
@mx-psi please assign this to me :)

[2022-06-02 09:40] bertysentry opened #10547 "[activedirectorydsreceiver] Some metrics don't follow Otel semantic conventions"
**Describe the bug**
Some metrics don't follow [Otel semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/README.md)

**Steps to reproduce**
Nothing to reproduce. The problem lies in the specification of the receiver itself.

**What did you expect to see?**
`active_directory.ds.name_cache.hit_rate` should be a frac

[2022-06-02 09:43] bertysentry opened #10548 "[apachereceiver] Some metric units don't follow Otel semantic conventions"
**Describe the bug**
Some metrics don't follow [Otel semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/README.md)

**Steps to reproduce**
Nothing to reproduce. The problem lies in the specification of the receiver itself.

**What did you expect to see?**
`apache.current_connections` unit must be `{connections}`

[2022-06-02 09:47] bertysentry opened #10549 "[bigipreceiver] Some metric units don't follow Otel semantic conventions"
**Describe the bug**
Some metrics don't follow [Otel semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/README.md)

**Steps to reproduce**
Nothing to reproduce. The problem lies in the specification of the receiver itself.

**What did you expect to see?**
Boolean metrics to represent enums should not have unit

*

[2022-06-02 09:48] bertysentry opened #10550 "[couchdbreceiver] Some metric units don't follow Otel semantic conventions"
**Describe the bug**
Some metrics don't follow [Otel semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/README.md)

**Steps to reproduce**
Nothing to reproduce. The problem lies in the specification of the receiver itself.

**What did you expect to see?**
`couchdb.average_request_time` expressed in seconds

**Wha

[2022-06-02 09:55] bertysentry opened #10551 "[elasticsearchreceiver] Some metric units don't follow Otel semantic conventions"
**Describe the bug**
Some metrics don't follow [Otel semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/README.md)

**Steps to reproduce**
Nothing to reproduce. The problem lies in the specification of the receiver itself.

**What did you expect to see?**
`jvm.classes.loaded` should use unit {classes} (or empty)

[2022-06-02 09:58] bertysentry opened #10552 "[iisreceiver] Some metric units don't follow Otel semantic conventions"
**Describe the bug**
Some metrics don't follow [Otel semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/README.md)

**Steps to reproduce**
Nothing to reproduce. The problem lies in the specification of the receiver itself.

**What did you expect to see?**
`iis.request.queue.age.max` should be expressed in seconds

[2022-06-02 10:04] bertysentry opened #10553 "[k8sclusterreceiver] Some metric units don't follow Otel semantic conventions"
**Describe the bug**
Some metrics don't follow [Otel semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/README.md)

**Steps to reproduce**
Nothing to reproduce. The problem lies in the specification of the receiver itself.

**What did you expect to see?**
Metrics that count objects should use units with brackets

[2022-06-02 10:09] bertysentry opened #10554 "[kafkametricsreceiver] Some metric units don't follow Otel semantic conventions"
**Describe the bug**
Some metrics don't follow [Otel semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/README.md)

**Steps to reproduce**
Nothing to reproduce. The problem lies in the specification of the receiver itself.

**What did you expect to see?**
Metrics about *offset* should use an empty unit.

Example:

[2022-06-02 10:12] bertysentry opened #10555 "[kubeletstatsreceiver] Some metric units don't follow Otel semantic conventions"
**Describe the bug**
Some metrics don't follow [Otel semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/README.md)

**Steps to reproduce**
Nothing to reproduce. The problem lies in the specification of the receiver itself.

**What did you expect to see?**
Metrics that count objects should use units with brackets

[2022-06-02 10:16] bertysentry opened #10556 "[memcachedreceiver] Some metric units don't follow Otel semantic conventions"
**Describe the bug**
Some metrics don't follow [Otel semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/README.md)

**Steps to reproduce**
Nothing to reproduce. The problem lies in the specification of the receiver itself.

**What did you expect to see?**
`memcached.network` unit should be `By` (upper case `B`)
`

[2022-06-02 10:20] bertysentry opened #10557 "[mongodbatlasreceiver] Some metric units don't follow Otel semantic conventions"
**Describe the bug**
Some metrics don't follow [Otel semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/README.md)

**Steps to reproduce**
Nothing to reproduce. The problem lies in the specification of the receiver itself.

**What did you expect to see?**
All metrics should use base metrics (`By` and `s`)

**What

[2022-06-02 10:23] bertysentry opened #10558 "[mongodbreceiver] Some metric units don't follow Otel semantic conventions"
**Describe the bug**
Some metrics don't follow [Otel semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/README.md)

**Steps to reproduce**
Nothing to reproduce. The problem lies in the specification of the receiver itself.

**What did you expect to see?**
`mongodb.global_lock.time` should be expressed in seconds,

[2022-06-02 10:26] bertysentry opened #10559 "[mysqlreceiver] Some metric units don't follow Otel semantic conventions"
**Describe the bug**
Some metrics don't follow [Otel semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/README.md)

**Steps to reproduce**
Nothing to reproduce. The problem lies in the specification of the receiver itself.

**What did you expect to see?**
Metrics that count objects should use brackets (`{}`) in t

[2022-06-02 10:30] bertysentry opened #10560 "[nginxreceiver] Some metric units don't follow Otel semantic conventions"
**Describe the bug**
Some metrics don't follow [Otel semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/README.md)

**Steps to reproduce**
Nothing to reproduce. The problem lies in the specification of the receiver itself.

**What did you expect to see?**
Metrics that count objects must use brackets in their unit

[2022-06-02 10:33] bertysentry opened #10561 "[nsxtreceiver] Some metric units don't follow Otel semantic conventions"
**Describe the bug**
Some metrics don't follow [Otel semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/README.md)

**Steps to reproduce**
Nothing to reproduce. The problem lies in the specification of the receiver itself.

**What did you expect to see?**
`nsxt.node.cpu.utilization` and `nsxt.node.filesystem.util

[2022-06-02 10:36] bertysentry opened #10562 "[postgresqlreceiver] Some metric units don't follow Otel semantic conventions"
**Describe the bug**
Some metrics don't follow [Otel semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/README.md)

**Steps to reproduce**
Nothing to reproduce. The problem lies in the specification of the receiver itself.

**What did you expect to see?**
Metrics that count objects should use brackets (`{}`) in t

[2022-06-02 10:40] bertysentry opened #10563 "[redisreceiver] Some metric units don't follow Otel semantic conventions"
**Describe the bug**
Some metrics don't follow [Otel semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/README.md)

**Steps to reproduce**
Nothing to reproduce. The problem lies in the specification of the receiver itself.

**What did you expect to see?**
`redis.latest_fork` should be expressed in seconds, with u

[2022-06-02 10:43] bertysentry opened #10564 "[riakreceiver] Some metric units don't follow Otel semantic conventions"
**Describe the bug**
Some metrics don't follow [Otel semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/README.md)

**Steps to reproduce**
Nothing to reproduce. The problem lies in the specification of the receiver itself.

**What did you expect to see?**
`riak.node.operation.time.mean` should be expressed in sec

[2022-06-02 10:49] bertysentry opened #10565 "[saphanareceiver] Some metric units don't follow Otel semantic conventions"
**Describe the bug**
Some metrics don't follow [Otel semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/README.md)

**Steps to reproduce**
Nothing to reproduce. The problem lies in the specification of the receiver itself.

**What did you expect to see?**
Metrics should use brackets (`{}`) for units that count ob

[2022-06-02 10:51] bertysentry opened #10566 "[sqlserverreceiver] Some metric units don't follow Otel semantic conventions"
**Describe the bug**
Some metrics don't follow [Otel semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/README.md)

**Steps to reproduce**
Nothing to reproduce. The problem lies in the specification of the receiver itself.

**What did you expect to see?**
`sqlserver.page.buffer_cache.hit_ratio` and `sqlserver.tra

[2022-06-02 10:54] bertysentry opened #10567 "[zookeeperreceiver] Some metric units don't follow Otel semantic conventions"
**Describe the bug**
Some metrics don't follow [Otel semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/README.md)

**Steps to reproduce**
Nothing to reproduce. The problem lies in the specification of the receiver itself.

**What did you expect to see?**
`zookeeper.latency.avg`, `zookeeper.latency.max` and `zook

[2022-06-02 13:16] sunfranklin opened #10569 "[receiver/mongodbatlas] Make getProcessDatabaseMeasurementsPage() optional to reduce API calls on Atlas clusters"
The mongodbatlas receiver is consistently returning 429 due to too many requests. The reason for this is because it is polling for database stats on each poll, which is extremely expensive and makes an individual API call for every database in an Atlas cluster. The number of databases a user can have on their Atlas cluster is unbounded and the high chance of getting rate limited significantly redu

[2022-06-02 14:00] logamanig commented on #9018
Yes, @arun-shopify, the collector instance is not processing anymore traces and have to restart the collector instance to fix the error. It becomes a blocker to migrating to opentelemetry as it's breaking few time a day and to restart to fix it

[2022-06-02 15:14] mcardy opened #10572 "New component: Solace Receiver"
## The purpose and use-cases of the new component
The Solace Receiver would collect traces from a [Solace PubSub+ Event Broker](https://solace.com/products/event-broker/) using [Azure AMQP Golang client API](https://github.com/Azure/go-amqp). This component would provide message tracing capabilities for a Solace PubSub+ Event Broker. It will enable full end to end message lifecycle tracing exporta

[2022-06-02 16:05] dmitryax opened #10575 "[processor/metricstransform] Migrate the processor from OpenCensus to OTLP"
Currently the processor uses OpenCensus format internally. This causes a few problems:
1. OC <-> OTLP translation is not bidirectional and causes some metric mutations on all metrics even if they are not affected by the transform rules, e.g. any non-monothonic sum is translated to gauge if the processor is used.
2. Double conversion causes a big CPU spike

We want to replace this processor by `tra

[2022-06-02 22:39] anelson-splunk opened #10579 "Alternative Logging Option For Otel Collector Other Than Syslog"
**Is your feature request related to a problem? Please describe.**
Otel collector internal logs are not automatically available to send through a service pipeline. It's very inconvenient that there is no way for the otel collector to send it's local logs anywhere since it's sending every other log that comes in through the fluentd receiver to an exporter.

**Describe the solution you'd like**
I'd

[2022-06-03 20:56] alefcarlos opened #10586 "[exporter/dynatrace] Are resources attributes being ignored ?"
### Discussed in https://github.com/open-telemetry/opentelemetry-collector-contrib/discussions/10581

<div type='discussions-op-text'>

<sup>Originally posted by **alefcarlos** June  2, 2022</sup>
I'm testing dynatrace metrics exporter and I enriched with one agent information.

This article explains how
https://www.dynatrace.com/support/help/extend-dynatrace/extend-metrics/reference/enrich-metric

[2022-06-03 21:33] #10545 closed

[2022-06-03 21:56] codeboten commented on #10548
I opened a PR to address some of the units, any recommendations from the spec around then name of the metrics for common http server metrics (ie. requests/connections)?

[2022-06-04 00:03] #10579 closed

[2022-06-04 00:04] anelson-splunk commented on #10579
Functionality already exists, documentation wasn't immediately clear. Answer lies in https://opentelemetry.io/docs/collector/configuration/#service for the `telemetry` section.

[2022-06-04 00:48] dmitryax commented on #10575
I'm actually already done with the implementation part. just need to update the tests and will submit a PR. Given that we will need to keep the `metricstransform` processor around for some time even after it's fully replaceable by transform processor, I think it make sense to fix existing processor now and add additional functionality to the transform processor after

[2022-06-04 11:08] corentinaltepe opened #10592 "New component: AMQP/RabbitMQ receiver and exporter to move OTLP data"
## The purpose and use-cases of the new component

In case of an infrastructure where telemetry can only be tunneled through an AMQP RabbitMQ exchange, it'd be great if one could use the OPTL Collector on both ends of that tunnel to proxy (export and receive) the telemetry data. I believe this is what the [Kafka Exporter](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/

[2022-06-05 13:46] oxeye-yuval opened #10594 "Jaeger grpc receiver ignores `span.Process` attribute and only accounts for `batch.Process` when mapping to `Resource`"
**Describe the bug**
When using the `jaeger-grpc-reciever` any `batch` received has it's `serviceName` attribute extracted from the `batch.Process` attribute, this is problematic as the `jaeger-idl` specifies that the `serviceName` field inside `span.Process` should have priority.
Looking at the code of the `jaeger-grpc-reciever` it looks like the `span.Process` field is ignored.

The jaeger recei

[2022-06-05 15:39] gnozil commented on #9018
This is not only a log issue, the otel-collector instance will stop working and result traces loss. In our deployment, the otel-collector is used for extracting traces metrics and store to Prometheus, the issue broke the traces forwarding to jaeger collector.

[2022-06-06 13:52] bertysentry commented on #10548
@codeboten Apparently, the [semantic convention for HTTP metrics](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/http-metrics.md) recommends to use `{requests}` (as seen in the `http.server.active_requests` metric).

[2022-06-06 13:53] djaglowski opened #10596 "[receiver/awsxray] Flaky Test - TestSegmentsPassedToConsumer"
[code]

Observed here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6733269822?check_suite_focus=true#step:8:523

[2022-06-06 15:30] #4807 closed

[2022-06-06 15:30] #4911 closed

[2022-06-06 15:30] #5171 closed

[2022-06-06 15:30] #5233 closed

[2022-06-06 15:30] #5275 closed

[2022-06-06 15:30] #5415 closed

[2022-06-06 15:30] #5529 closed

[2022-06-06 15:30] #5566 closed

[2022-06-06 15:30] #5636 closed

[2022-06-06 15:30] #5762 closed

[2022-06-06 15:30] #5924 closed

[2022-06-06 15:30] #6119 closed

[2022-06-06 15:32] djaglowski opened #10602 "[testbed] Flaky Test - TestTraceBallast1kSPSAddAttrs"
[code]

https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6757691462?check_suite_focus=true#step:14:158

[2022-06-06 15:33] djaglowski opened #10603 "[receiver/prometheus] Flaky Test - TestExternalLabels"
[code]

Observed here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6733862750?check_suite_focus=true#step:7:926

[2022-06-06 16:46] philipcwhite opened #10607 "New component: HTTP Check"
## The purpose and use-cases of the new component

Purpose:  To monitor the availability and performance of HTTP endpoints.
Use case:  There are two main ways of monitoring if websites are up and running.  Full synthetics (i.e. Selenium) and simple HTTP checks.  These are some of the best leading indicators of application availability, and sadly, both are missing from OTel.  This proposal is for t

[2022-06-06 19:19] djaglowski opened #10808 "[receiver/filelog] Flaky test - TestStorage"
[code]

Observed here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6760041345?check_suite_focus=true#step:7:1588

[2022-06-06 19:35] BinaryFissionGames commented on #9254
@djaglowski I have a config that scrapes Couchbase now, and everything with it seems to be working fine now that #10255 is merged.

I think the final thing to do here is to contribute the config somehow. Would it be acceptable to add this as an example [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/examples)?

[2022-06-06 19:59] djaglowski commented on #9254
@BinaryFissionGames that seems reasonable to me.

[2022-06-06 20:11] #10808 closed

[2022-06-06 21:15] djaglowski commented on #10481
This is tricky. I don't think we can use the offset as _identifying_ information, since it changes over time. Possibly we can use it for secondary logic to invalidate fingerprint matches though.

I'm trying to identify an example where this could work while not actually duplicating logs in some cases as well.

Let's look at an example. (Let's say the fingerprint length is very short here, for simp

[2022-06-06 22:55] bertysentry commented on #10548
@codeboten Ah sorry!

The use of the semantic convention is strongly encouraged. In this case, the semantic convention specifies only 2 metrics for HTTP servers. So it would be logical to update this receiver accordingly:

* `apache.current_connections` ==> `http.server.active_requests`
* `apache.requests` doesn't have an equivalent specified in the semantic convention. But I guess you could propo

[2022-06-07 06:16] sumo-drosiek commented on #10481
I thought about storing hashes of first bytes of the file, e.g.: 1kb, 2kb, 4kb, 8kb, 16kb, etc
so, if file is 1kb, we compare only first hash, but if it have move than 16kb, we compare all of the hashes between 1kb and 16kb. So this is similar fingerprint algorithm, but relies on hashes and size of the file.

Downside is that this is more complex and require more resources than current solution.
A

[2022-06-07 09:52] KarstenSchnitter commented on #10025
@dmitryax any help would be greatly appreciated.

[2022-06-07 13:04] #6891 closed

[2022-06-07 13:08] djaglowski commented on #10481
I think comparing the actual first bytes is equivalent to comparing hashes as you have suggested. The same cases can be handled, but the performance is better without hashing.

[2022-06-07 14:00] sumo-drosiek commented on #10481
hashes are smaller and can cover much bigger files than first bytes, but TBH, log files should have some kind of unique identifier e.g. `timestamp`, so at the end of the day I think current solution is good enough.

It just would be nice to get some warning in case of the offset being behind the file. It would help in investigation in case someone hit the issue.

[2022-06-07 14:40] djaglowski commented on #10481
Sure, there are performance pros/cons either way, but since the issue at hand is to handle additional cases I am pointing out that I see how the proposal would do that. Maybe I am missing it though.

---

Setting aside what should be done about this, it appears some refactoring will be necessary to detect this case. As is, we are deduplicating fingerprints before offsets are available for consider

[2022-06-07 15:20] Mrod1598 opened #10824 "[receiver/prometheus] Convert Summary metric into two monotonic sums."
**Is your feature request related to a problem? Please describe.**
When collecting Vault metrics using prometheus, a `summary` metric type is collected for `vault_gcs_list`.

Example:
[code]
I would like to split the `sum` and the `count`  into two separate monotonic sums.

**Describe the solution you'd like**
Perhaps an enhancement to the `transformprocessor` to allow a change from summary to oth

[2022-06-07 15:29] pmcollins opened #10825 "`scrapertest.CompareMetrics` reports some identical metrics to be different"
**Describe the bug**
The `scrapertest.CompareMetrics` utility reports some metrics to be different even though they are identical. You can reproduce this by creating two `Metrics` instances, each with two `Metric`s having the same name but different values, and comparing both `Metrics`. In the example below, for brevity, the same `Metrics` instance is compared to itself.

**Steps to reproduce**
[c

[2022-06-07 20:54] rmfitzpatrick opened #10830 "observer.EndpointsWatcher should support multiple Notify listeners"
If a component wants to be notified of endpoints by an observer instance that is already subscribed to by another component (like a receiver creator: https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/d6042eda45ec9d8a5df1ae553388eaca67d9d16c/receiver/receivercreator/receiver.go#L109), it will silently fail as the current implementation of [`observer.EndpointsWatcher`](https://g

[2022-06-07 22:01] Vishnuvardhan-9 opened #10831 "Influxdb json format support"
Hello Team,

We tried and tested the otelcollector-contrib Influxdbreceiver and Influxdbexporter with line protocol and it is working good. Is there any work in progress to update the collector to work with JSON Format?

[2022-06-08 05:34] alexfdz opened #10832 "[processor/tailsamplingprocessor] move it to a stable component"
**Is your feature request related to a problem? Please describe.**
`tailsamplingprocessor` has been in beta for a while, is there any issue or missing feature we can help with?

It probably won't be included in distributions like aws-otel-collector if is not considered stable.

**Describe the solution you'd like**
`tailsamplingprocessor` to be considered a stable component.

**Describe alternative

[2022-06-08 11:48] yotamloe opened #10836 "New component json log exporter"
## The purpose and use-cases of the new component
This exporter lets you send log records as JSON bytes to a generic HTTP(S) endpoint.
Will be similar to [fluentbit](https://docs.fluentbit.io/manual/pipeline/outputs/http) and [fluentd](https://docs.fluentd.org/output/http) HTTP outputs.
An example use case can be forwarding logs to log management backends via logstash ([example1](https://www.elast

[2022-06-08 15:45] djaglowski commented on #10836
What defines the format used [here](https://github.com/yotamloe/opentelemetry-collector-contrib/blob/a0cfc1eb82edeac6396ce8f06b90dbc8c8f84a3f/exporter/logzioexporter/jsonlog.go#L57)?

We have an experimental spec for serializing signals to json, [here](https://github.com/open-telemetry/opentelemetry-specification/blob/main/experimental/serialization/json.md#telemetry-data-requirements). Could this

[2022-06-08 16:08] bogdandrutu commented on #10836
Should this be part of a "file exporter" that allows to export any signal in proto/json or any "marshaler" that we support? @djaglowski do we have such thing?

[2022-06-08 16:48] djaglowski opened #10837 "[internal/scrapertest] Add sortation functions that correspond to comparison function"
To handle unordered slices of resources/scopes/datapoints, we should add sortation functions to this package, which could be called before comparisons are made. The sortation likely needs to be sensitive to the same CompareOptions so that expected variables (unpredictable values, times, etc) do not influence the sort. I'll open another issue for this.

_Originally posted by @djaglowski in https://

[2022-06-08 16:50] sebastianhaeni opened #10839 "New component: Icinga Receiver"
## The purpose and use-cases of the new component

[Icinga](https://icinga.com/) monitors infrastructure based periodical checks on configured hosts. Each check produces a result, which reflects the state of a service on a host. Using an event stream provided by the Icinga API, this receiver can collect metrics with counters and gauges, as well as mapping performance data (e.g. latency and others)

[2022-06-08 16:53] djaglowski commented on #10836
Not to my knowledge. There would be a lot of overlap between exporting signals as json to a file and exporting signals as json to an endpoint. Seems like they'd share code but probably still should be separate exporters.

[2022-06-08 16:55] djaglowski commented on #9687
Closed by #9985

[2022-06-08 16:55] #9687 closed

[2022-06-08 16:56] #9686 closed

[2022-06-08 16:56] djaglowski commented on #9685
Closed by #9721

[2022-06-08 17:06] djaglowski commented on #10567
@bertysentry can you point out more specifically why the current data model for these metrics is not adherent to the semantic conventions?

I think you may be calling these out because they are not modeled in base units (`s`), but I cannot find any language in the semantic conventions suggesting that they should be.

[2022-06-08 18:06] tigrannajaryan commented on #10836
Is this some specific JSON format that is different from OTLP/JSON? If it is OTLP/JSON then I think the best place for it is `otlphttpexporter`. We can an option to this exporter to specify whether to use binary Protobuf or JSON as the format.

[2022-06-08 18:57] TylerHelmuth commented on #10101
I'll get started on the test refactoring.  The function tests have been already been added to function-specific test files, so now there are a lot of tests to remove from the signal specific `functions_test.go` files.  I think for signals that the processor tests will be the best place to test using functions with specific signals; those tests are full integration tests through all the different p

[2022-06-08 20:56] jvoravong opened #10842 "[kubeletstatsreceiver] had breaking resource label change on container metrics starting in v0.52.0"
**Describe the bug**
After PR #9744 was merged, metrics for containers running in pods running in Kubernetes had a label change. This label change is a breaking change, several default dashboards at my company stop functioning properly with this change.

The issue: In versions v0.51.0 and before the label k8s.container.name was used on container metrics. Starting in v0.52.0, the label container.na

[2022-06-08 21:03] codeboten commented on #10607
Would be happy to sponsor this. Couple of questions:

1. Is it worth including a method for the check?
2. Does make sense to make it possible to check multiple urls with the same receiver?
3. The content check may be best suited for a regex, thinking of the case where someone may need to check a status page that includes something like a date.

[2022-06-08 22:15] dmitryax commented on #10842
`k8s.container.name` is the right name because it's taken from k8s pod spec. that name is unique only within pod definition.  `container.name` is defined by container runtime engine and has different value depending on container runtime engine.

[2022-06-08 22:19] k7k0 opened #10844 "googlecloudpubsub receiver dropped support for pubsub Emulator"
**Describe the bug**
Pubsub emulator is not supported anymore by the receiver, as the `endpoint`  and `insecure` configurations were made private here https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/8391/files#diff-c3c2b69e4538d56891424468d9ffd5bd0dfb2cf4f0d7bbcfddd23b9f901d6d09

Pubsub Emulator support is crucial for automation tests and local development pipelines.

**Step

[2022-06-08 22:22] dmitryax commented on #10842
I don't think `container.name` is a good attribute for a k8s receiver. We should bring back k8s specific `k8s.container.name`

[2022-06-08 22:38] dmitryax commented on #10842
If we currently use the same value for `container.name` as was used for `k8s.container.name`, it's incorrect

[2022-06-08 22:42] TylerHelmuth commented on #10842
We do.  So the resource attribute should be updated in metadata.yaml.  @jvoravong is that something you can do?

[2022-06-09 00:26] TylerHelmuth commented on #10420
@dmitryax will your conversion to OTLP within this processor fix this issue?

[2022-06-09 00:31] TylerHelmuth commented on #10824
As discussed during the SIG call, the transform processor is the proper place to do this. @Mrod1598 are you going to work on this?

[2022-06-09 01:50] philipcwhite commented on #10607
Thank you.

1. Possibly.  I am new to Go and will most likely need assistance with this.  I'm a Python developer so I have some learning to do.  I am going to try write a stand alone app for this and request assistance integrating it correctly.  I've done some testing with builder and was able to successfully able to get a package built so fingers crossed.
2. Yes.  I figured the array in yaml (-na

[2022-06-09 03:05] ralphgj commented on #10350
Hi, `trace_state` in a condition will always be false too.  It seems being accessed as a `TraceState` struct.

[2022-06-09 03:07] dmitryax commented on #10842
I submitted a fix https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/10848

[2022-06-09 03:10] dmitryax commented on #10420
Yes, https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/10817 fixes it. @ransoor2 PTAL at the PR if you interested

[2022-06-09 03:22] TylerHelmuth commented on #10350
Thanks for letting me know, I'll take a look at that.

[2022-06-09 03:35] ralphgj opened #10849 "[processor/transform] Optimize the use of trace_state in condition"
**Is your feature request related to a problem? Please describe.**
In open-telemetry spec, `trace_state` is a key-valued struct. Now `trace_state` seems being used as a string in a condition. Maybe we can make it easier to use.

**Describe the solution you'd like**
In example, when `trace_state` having the value of `key1=val1,key2=val2` in spans, we can give a query configuration like this:
`set(s

[2022-06-09 07:41] gfierka opened #10851 "[exporters/prometheus] Prometheus exporter mTLS implementation"
**Is your feature request related to a problem? Please describe.**
Many opentelemetry exporters support TLS, but that's not the case with prometheus exporter. Implementing TLS would boost security.

**Describe the solution you'd like**
From an end user perspective, implementing a solution similar to existing ones, i.e. Jaeger exporter
[code]

[2022-06-09 13:50] dashpole commented on #9998
The benchmarking I did (admittedly, a while ago) for the prometheus receiver was ~22 MB at idle + ~6KB / series at a 60s scrape interval.  Assuming a 10s interval increases memory usage by 6x (which probably is an overestimate), that would predict ~ 1.4GB of total usage in your case, which isn't too far off.

A few things that would be helpful to try:

* get a baseline for comparison using the Pro

[2022-06-09 13:57] Mario-Hofstaetter commented on #9998
Thank you for the suggestions @dashpole

But why though? Shouldn't all previous samples be thrown away after a new successful scrape of targets? Only the most recent datapoints are exposed on the (`prometheus`-) exporter? or is there a bigger buffer interally because other exporters (!= prometheus) may export a history of last X values? 👀

Good idea.

Thats not possible / irrelevant unfortunately,

[2022-06-09 14:10] dashpole commented on #9998
Other than the batch processor, + sending queue, nothing should be holding onto multiple scrapes of metrics, so you are probably right that lowering the scrape interval shouldn't matter too much.  You could try a higher interval to see if it makes a big difference

[2022-06-09 14:49] yotamloe commented on #10836
Hi @tigrannajaryan

The format we use for logz.io single log entry is essentially a `map[string]interface{}` that includes the log record fields (`severityNumber`,`traceId`,`sapnId`, timestamp, etc.), log record attributes, and resource attributes associated with the log record. In addition, we also try to "flat" the log body if the value type is `ValueTypeMap` ([code](https://github.com/yotamloe/

[2022-06-09 15:10] djaglowski opened #10857 "[testbed] Possible race condition in agent monitoring"
A [testbed test failed](https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6803211806?check_suite_focus=true#step:14:48) with the following error:
 `cannot get process times for 1955: open /proc/1955/stat: no such file or directory`.

This potentially indicates a race condition is present in the testbed's `TestCase`, where apparently there may be an attempt to monitor a process

[2022-06-09 15:27] tigrannajaryan commented on #10836
This conversion loses data (e.g. instrumentationLibrary/Scope data is missing) and has ambiguities (what happens if I have a LogRecord attribute named "resource-attr" or named "spanId"?). I do not see the justification why this format needs to be chosen as a canonical format endorsed by Otel Collector.

IMO, if we want to have a exporter that is given a generic name "jsonexporter" then it needs to

[2022-06-09 15:42] yotamloe commented on #10836
Sure that makes sense.
I was presenting the (beta) format we use for vendor-specific preferences. I agree that this initiative should follow 1-4. Thanks for the feedback!

[2022-06-09 15:43] djaglowski commented on #10289
Issue appears to be a bug in `actions/cache@v3 `, tracked [here](https://github.com/actions/cache/issues/810).

[2022-06-09 15:44] djaglowski commented on #10289
Leaving this issue open to capture more examples, in case they are helpful for resolving the root cause.

[2022-06-09 15:44] djaglowski commented on #10289
Here again: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6815079545?check_suite_focus=true#step:4:11

[2022-06-09 16:01] Frapschen commented on #10837
I would like help it :)

[2022-06-09 16:15] djaglowski commented on #9806
Closed by #10291

[2022-06-09 16:15] #9806 closed

[2022-06-09 16:21] #10165 closed

[2022-06-09 16:22] djaglowski opened #10864 "[receiver/mongodb] Add integration test"
The task is essentially to create an integration test that:
1. Starts an mongodb docker container
2. Initializes the mongodbreceiver component from it's factory
3. Scrapes metrics from the docker container
4. Validates that the expected metrics are scraped (using the [scrapertest package](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/internal/scrapertest))

As far as

[2022-06-09 16:23] djaglowski opened #10865 "[receiver/rabbitmq] Add integration test"
The task is essentially to create an integration test that:
1. Starts an rabbitmq docker container
2. Initializes the rabbitmqreceiver component from it's factory
3. Scrapes metrics from the docker container
4. Validates that the expected metrics are scraped (using the [scrapertest package](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/internal/scrapertest))

As far a

[2022-06-09 16:30] djaglowski commented on #10837
Thanks @Frapschen. I'll assign this to you then.

[2022-06-09 17:27] #10857 closed

[2022-06-09 19:10] datsabk opened #10876 "StatsDReceiver appears to be broke"
**Describe the bug**
I am trying to use StatsD receiver and replace prom/statsd_exporter with it. However, I am noticing that the metrics that show up on StatsD Exporter on same port 8125 - Don't show up when I try the same with StatsDReceiver.

**Steps to reproduce**
1.
Configuration:
[code]

2. Start opentelemetry-collector-contrib server - `./otelcol-contrib --config stats_config.yaml`
3. Send

[2022-06-09 20:10] #10369 closed

[2022-06-09 20:10] #10370 closed

[2022-06-09 20:10] #1391 closed

[2022-06-09 20:16] djaglowski opened #10878 "[receiver/apache] Docs - scoreboard link is broken"
The link to additional details about the scoreboard is broken.

[code]

[2022-06-09 21:01] Mrod1598 commented on #10824
yes, currently working it out.

[2022-06-09 22:04] #10878 closed

[2022-06-09 23:48] Frapschen commented on #10865
hi，I can help it like the es receiver :)

[2022-06-09 23:50] Frapschen commented on #10864
I would like help it.

[2022-06-10 08:01] ymotongpoo opened #10883 "Google Cloud Exporter treats histogram instruments as metrics under "workload.googlapis.com" namespace"
**Describe the bug**

All custom metrics to Cloud Monitoring via Google Cloud Exporter should go under "custom.googleapis.com" namespace [as documented](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/googlecloudexporter) unless the developer specify their own prefix. However, when I tried to send Histogram instrument to Cloud Monitoring, it went under "workloa

[2022-06-10 08:18] Mario-Hofstaetter commented on #9998
First observations.

After updating from `0.48.0` to `0.53.0`, memory usage on our server with most metrics dropped noticeable but not by a huge amount, from `memory_rss` mean ~ 780 MiB to about 686 MiB mean, other memory metrics changed similarly.

![rss memory](https://user-images.githubusercontent.com/33002073/173022324-c1dcba47-1d0c-4a75-864d-a157e47f3cbb.png)

![working set private bytes](htt

[2022-06-10 11:11] jsuereth commented on #10883
This is working as intended, we just need to update the documentation.    We're moving custom metrics to this new domain for a variety of reasons.   Will treat this bug as a documentation issue.

[2022-06-10 12:54] ymotongpoo commented on #10883
As long as the result and the document are consistent, I believe it is all good, and handling this as documentation issue totally makes sense.

[2022-06-10 13:19] djaglowski commented on #10864
Thanks @Frapschen. I've assigned it to you

[2022-06-10 13:37] antonblock commented on #10129
Resolved by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/10828

[2022-06-10 14:18] rogercoll commented on #9013
Fix stats error: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/9411

[2022-06-10 15:24] TylerHelmuth commented on #7572
@open-telemetry/collector-contrib-approvers is it time to pull from the rotating sponsors list for this component?

[2022-06-10 15:31] thomasbaldwin opened #10887 "awscloudwatchlogsexporter exporter needs to support dynamic log stream names"
**Describe the bug**
If you are running a daemonset with a configmap that uses the awscloudwatchlogsexporter plugin as an exporter, and you have more than one node, you will have an issue in which multiple actors are trying to write to the same log stream at the same time.  This causes an issue with cloud watch in which it will say you have an invalid sequence token.

**Steps to reproduce**
If pos

[2022-06-10 16:37] codeboten opened #10890 "Add status header for syslog"

[2022-06-10 16:37] codeboten opened #10891 "Add status header for tcplog"

[2022-06-10 16:37] codeboten opened #10892 "Add status header for udplog"

[2022-06-10 17:06] djaglowski commented on #10887
@boostchicken, pinging you as code owner.

[2022-06-10 17:12] djaglowski commented on #10883
Leaving this open to track the required documentation change.

[2022-06-10 17:13] boostchicken commented on #10887
Sure let me give this a look and see if I can colme up with an LOE.

[2022-06-10 17:16] boostchicken commented on #10887
@thomasbaldwin can you provide some configs or more artifacts that cause this issue?  If I can easily reproduce it I am sure I can find a quick fix.

I am hesistant to just resolve k8s.node.name and do that for everyone.  Maybe a syntax for using any variable in the title which is a much bigger change.

@djaglowski who else should we involve in this discussion in terms of the overall direction tha

[2022-06-10 17:18] codeboten commented on #10849
@ralphgj any chance you'll be able to help with this one since you've already submitted another [trace state related PR](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/10852)?

[2022-06-10 17:19] djaglowski commented on #10844
cc: @alexvanboxel as code owner

[2022-06-10 17:26] codeboten commented on #10831
pinging @jacobmarble as code owner

[2022-06-10 17:28] djaglowski commented on #10832
cc: @jpkrohling as code owner

[2022-06-10 17:30] dmitryax commented on #10830
@rmfitzpatrick do you plan to work on this one? we are triaging issue

[2022-06-10 17:31] rmfitzpatrick commented on #10830
Yes, I've started looking at it just now.

[2022-06-10 17:48] djaglowski commented on #10887
Thanks for the quick response @boostchicken.

Looking at this a little closer, it's not clear to me that this is really an issue for this component to solve. If I'm understanding the issue correctly, the proposed idea ultimately is adding or modifying an attribute on the log record. Is that right? If so, it probably should be handled by a processor (eg `attributesprocessor` or `transformprocessor`

[2022-06-10 17:56] #10890 closed

[2022-06-10 17:56] #10891 closed

[2022-06-10 17:56] #10892 closed

[2022-06-10 18:12] djaglowski commented on #7572
An additional question was recently added to the template for proposing new questions.

[code]

@sfc-gh-rjenkins, do you mind clarifying this point?

[2022-06-10 18:14] djaglowski commented on #10839
An additional question was recently added to the template for proposing new questions.

[code]

@sebastianhaeni, do you mind clarifying this point?

[2022-06-10 18:19] datsabk commented on #10876
I was running this under localhost - But required the endpoint URL to be `0.0.0.0` to make it work.
That said, the receiver does not seem to handle `count` metric well when it comes to exporting to Prometheus via Remote write.

I'll proceed with closure of this bug and look into contributing for the support of prometheus compatible counter.

[2022-06-10 18:28] BinaryFissionGames opened #10896 "[internal/scrapertest] Add plog.Log comparison and golden functions"
The [scrapertest](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/internal/scrapertest) package contains functions for comparing metrics, which is very useful when writing tests.

We should extend this package to also include similar functions for logs (ReadLogs, WriteLogs, and CompareLogs).

This package should also be renamed to clarify that it's useful beyond testing

[2022-06-10 18:32] datsabk opened #10897 "StatsD receiver is not handling `count` attribute correctly for Prometheus Remote Write"
## The purpose and use-cases of the new component
We are trying to utilise Open Telemetry Collector for moving StatsD metrics to Prometheus. We tested and found that all the other metrics type except `count` is not going through well. It ends up with an issue as below:

[code]
## Example configuration for the component
[code]

## Telemetry data types supported
Metrics - count datatype not supporte

[2022-06-10 18:55] djaglowski commented on #9254
The example config has been added but I'd like to keep this issue open until the incomplete original implementation has been removed.

[2022-06-10 18:55] BinaryFissionGames commented on #9254
@djaglowski I believe that #10482 removed the receiver stub, so in addition with #10894 being merged, I think we should be good to close the issue now!

[2022-06-10 18:56] djaglowski commented on #9254
Ah, good call. I forgot about that. Closing this then.

[2022-06-10 18:56] #9254 closed

[2022-06-10 19:01] justindesilets opened #10898 "How to implement zookeeper server.state metrics in zookeeperreceiver?"
**Describe the bug**
Zookeeper Receiver [documentation](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/zookeeperreceiver/documentation.md) describes the resource attributes but does not show how to implement them. I am looking to enable the `server.state` metrics.

**Steps to reproduce**
If you try and use `server.state` as a metric if fails validation.

**Wha

[2022-06-10 19:34] codeboten opened #10899 "Add status header for memcached"

[2022-06-10 19:34] codeboten opened #10900 "Add status header for mongodb"

[2022-06-10 19:34] codeboten opened #10901 "Add status header for nginx"

[2022-06-10 21:23] #10899 closed

[2022-06-10 21:23] #10900 closed

[2022-06-10 21:23] #10901 closed

[2022-06-10 21:39] alexvanboxel commented on #10844
I had to remove them, but I don't remember why. We were not actively using them, so couldn't guarantee it worked. You will need to ping some main committers to make the tests run.

[2022-06-11 09:38] boostchicken commented on #10887
Upon further thought, the real issue here is there is no singleton for exporting to AWS services.  A name just might solve it.  There is a sequence counter in the API call, if its out of order it is rejected, lots of services have it.

So I think what we need to do here is find every AWS API call in Otel-contrib and funnel it through a Singleton for each AWS Service Client.  Make a factory, then s

[2022-06-11 09:42] boostchicken commented on #10887
So using a single client might fix it, but I must yield to the documented AWS solution

https://aws.amazon.com/premiumsupport/knowledge-center/cloudwatch-invalid-sequence-token/#:~:text=InvalidSequenceToken%20errors%20when%20multiple%20sources,stream%2C%20you%20receive%20an%20error.

We need to make the log streams unique.  Ill take a peak and see what the emf exporter does and if i cn make it gen

[2022-06-11 10:01] boostchicken commented on #10887
OK found the code here it is

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/0c691295193854523240b609c0c3cc06f9202b41/exporter/awsemfexporter/util.go#L92-L113

We need to refactor all of that out to the internal/aws namespace, update awsemfexporter, and then update cloudwatchlogsexporter

The change could be done quicker if we duplicate code, I doubt anyone wants to do that

[2022-06-11 10:12] boostchicken commented on #10887
Yeah this is gonna be ugly, we gotta re-do the whole exporter.  It only creates 1 Pusher because it assumes the name never changes.  The name could change on any attribute that is on a Logs.Resource().  Attributes are not in scope till translation, the pusher has already been made.  Also, since we will now have multiple pushers we are going to have to have a Map of pushers so we don't re-create th

[2022-06-11 10:24] boostchicken commented on #10887
Paging @aateeqi

Is AWS willing to pickup this work or are we on our own?

[2022-06-11 18:56] boostchicken commented on #5838
The PR is approved and all checks passed, this be done.

[2022-06-13 01:43] thomasbaldwin commented on #10887
@boostchicken thanks so much for your quick replies! is there a quick and easy way you would recommend getting it done? Even if it's a little sloppy, this is a blocker for something I'm working on, so I would be willing to run my own image until this feature request gets merged in. I would also be willing to work with you on the change but might need a little bit of help getting up and running

[2022-06-13 07:28] ralphgj commented on #10849
Of course, I will take a try.

[2022-06-13 11:25] Migueljfs opened #10912 "DataDog Exporter failed to post metrics: "Post \"https://api.datadoghq.com/api/v1/series?api_key=***************************acted&application_key=\": EOF""
**Describe the bug**
Configuring a DataDog exporter for metrics fails to post them to DataDog

**Steps to reproduce**
Start an open-telemetry collector with the config bellow and a java pod send metrics like this:
[code]

**What did you expect to see?**
Expect a success message or at least not a fail message. Also expect to see metrics in DataDog

**What did you see instead?**
See logs saying metr

[2022-06-13 13:23] Migueljfs commented on #10912
Hey @mx-psi thanks for helping!

1. Logs in debug mode from collector:
[code]

2. Yes, I'm using the code in this repo: https://github.com/open-telemetry/opentelemetry-java-docs/tree/main/javaagent with the collector config I pasted above

Also some more information: In DataDog metrcis/summary I see these metrics:
<img width="517" alt="image" src="https://user-images.githubusercontent.com/25540481

[2022-06-13 13:30] #10277 closed

[2022-06-13 13:42] djaglowski opened #10914 "[receiver/vcenter] Change enum type to bool"
This is right. Given that it's really a breaking change I would recommend doing it separately to keep clean git history. In that case we need to remove this line https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/vcenterreceiver/metadata.yaml#L39 instead

_Originally posted by @dmitryax in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/9245

[2022-06-13 13:43] djaglowski commented on #10914
@schmikei This recent change affects the vcenter receiver. It should be a simple change, but you should be aware to consider downstream effects. Do you mind taking this?

[2022-06-13 13:53] pmm-sumo opened #10915 "Support concurrent file storage extensions"
**Is your feature request related to a problem? Please describe.**
The contrib has two storage extension implementations - [dbstorage](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/extension/storage/dbstorage) and [filestorage](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/extension/storage/filestorage), for which there are several use ca

[2022-06-13 13:53] pmm-sumo commented on #10915
Bringing this to wider audience @djaglowski @tigrannajaryan

[2022-06-13 13:58] djaglowski opened #10916 "[receiver/carbon] Flaky Test - Test_Server_ListenAndServe/udp"
[code]

Observed here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6862350950?check_suite_focus=true#step:7:951

[2022-06-13 13:59] djaglowski commented on #10916
Possibly related to #1426, #10151, #10872. cc @bogdandrutu

[2022-06-13 14:34] djaglowski opened #10918 "[receiver/memcached] Dead link / missing example config"
[code]

[2022-06-13 14:39] djaglowski opened #10920 "[receiver/bigip] Dead link / missing example config.yaml"
[code]

[2022-06-13 15:05] pmm-sumo commented on #10915
On the previous behavior, I am pretty sure we should keep it at least for the intermediate period (to make the change non-breaking)

This was my understanding of what @bogdandrutu was [proposing](https://github.com/open-telemetry/opentelemetry-collector/pull/5457#discussion_r891730592) Though I am not sure if we want to deprecate it in favor of explicitly specifying the storage extension ID or we

[2022-06-13 15:18] tigrannajaryan commented on #10915
I would be in favour of this. Not only it is backwards compatible, but I think it is also a good user experience to require minimal configuration. When there is only one storage extension enable, and a component needs a storage I think it is reasonable to choose the only available extension without explicit config setting. I don't think there is anything surprising in this behavior. Of course the

[2022-06-13 15:43] djaglowski commented on #10368
Reopening, as this is still failing intermittently.

Observed here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6863664900?check_suite_focus=true#step:7:4483

[2022-06-13 16:06] jsirianni opened #10924 "Google Cloud Exporter removes attributes from log entries"
**Describe the bug**

When sending logs to Google Cloud Logging, attributes are dropped from the log entry. When using logging exporter, attributes are present.

**Steps to reproduce**

Create a configuration with `filelog` receiver and `googlecloud` exporter. The filelog receiver will create an attribute called `log.file.name`, which will be dropped by the Google exporter.

**What did you expect

[2022-06-13 16:48] #10914 closed

[2022-06-13 16:55] #10602 closed

[2022-06-13 17:27] naveenkumarthangaraj opened #11061 "Keeps Exporting the Last Value Set for Metric"
HI Team,

I am referring the examples for Python Metric from the sample from below link but it is exporting the last passed value automatically. It will stop after 8 - 10 mins.

is it problem in the python sdk or collector or exporter?

[https://github.com/open-telemetry/opentelemetry-python/tree/main/docs/examples/metrics](https://github.com/open-telemetry/opentelemetry-python/issues/url)

Packag

[2022-06-13 17:37] jainaashish opened #10927 "Exporting metdata of the collected data"
Hi

Is there a way to export metadata of the collected data from OpenTelemetry collector? Fo example, for collected metric data, I want to know what is the metric name? associated Tags? timestamp of the data? etc...

Is there already an extension which can help get this metadata? if not, is it possible to build such extension with current features? Appreciate any help or pointers in this regard.

[2022-06-13 18:24] #10844 closed

[2022-06-13 19:14] #10918 closed

[2022-06-13 19:34] djaglowski opened #10973 "[cmd/configschema] Dead links"
[code]

[2022-06-13 19:36] djaglowski opened #10974 "[exporter/awsemfexporter] Dead links"
[code]

[2022-06-13 19:37] djaglowski opened #10975 "[exporter/awsprometheusremotewrite] Dead links"
[code]

[2022-06-13 19:38] djaglowski opened #10976 "[exporter/azuremonitor] Dead links"
[code]

[2022-06-13 19:39] djaglowski opened #10978 "[exporter/loki] Dead links"
[code]

[2022-06-13 19:40] djaglowski opened #10979 "[exporter/prometheusremotewrite] Dead links"
[code]

[2022-06-13 19:47] djaglowski opened #10980 "[exporter/sapmexporter] Dead links"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.

**What did you expect to see?**
A clear and concise description of what you expected to see.

**What did you see instead?**
A clear and concise description of what you saw instead.

**What version did you use?**
Version: (e.g., `v0.4.0`, `1eb551

[2022-06-13 19:48] djaglowski opened #10981 "[exporter/signalfxexporter] Dead links"
[code]

[2022-06-13 19:48] djaglowski opened #10982 "[extension/httpforwarder] Dead links"
[code]

[2022-06-13 19:49] djaglowski opened #10983 "[extension/observer/ecstaskobserver] Dead links"
[code]

[2022-06-13 19:49] djaglowski opened #10984 "[extension/observer] Dead links"
[code]

[2022-06-13 19:50] djaglowski opened #10985 "[processor/filterprocessor] Dead links"
[code]

[2022-06-13 19:50] djaglowski opened #10986 "[processor/groupbyattrsprocessor] Dead links"
[code]

[2022-06-13 19:51] djaglowski opened #10987 "[processor/routingprocessor] Dead links"
[code]

[2022-06-13 19:51] djaglowski opened #10988 "[processor/spanprocessor] Dead links"
[code]

[2022-06-13 19:51] djaglowski opened #10989 "[processor/transformprocessor] Dead links"
[code]

[2022-06-13 19:52] djaglowski opened #10990 "[receiver/awscontainerinsightreceiver] Dead links"
[code]

[2022-06-13 19:52] djaglowski opened #10991 "[receiver/awsfirehosereceiver] Dead links"
[code]

[2022-06-13 19:53] djaglowski opened #10992 "[receiver/flinkmetricsreceiver] Dead links"
[code]

[2022-06-13 19:54] djaglowski opened #10993 "[receiver/k8sclusterreceiver] Dead links"
[code]

[2022-06-13 19:54] djaglowski opened #10994 "[receiver/nginxreceiver] Dead links"
[code]

[2022-06-13 19:55] djaglowski opened #10995 "[receiver/prometheusexecreceiver] Dead links"
[code]

[2022-06-13 19:55] djaglowski opened #10996 "[receiver/prometheusreceiver] Dead links"
[code]

[2022-06-13 19:56] djaglowski opened #10997 "[receiver/redisreceiver] Dead links"
[code]

[2022-06-13 19:56] djaglowski opened #10998 "[receiver/sqlserverreceiver] Dead links"
[code]

[2022-06-13 23:20] bryan-aguilar commented on #10990
You can assign this to me and I will take a look at updating the links.

[2022-06-13 23:26] bryan-aguilar commented on #10990
This can probably be closed, this link is not dead. @djaglowski

[2022-06-13 23:47] sfishel-splunk opened #11024 "[zipkin receiver]: invalid spans cause the entire batch to be rejected"
**Describe the bug**
When a batch of spans sent to the zipkin receiver includes an invalid span (e.g. has a negative duration), the entire batch is rejected.

**Steps to reproduce**
[code]

**What did you expect to see?**
I expected that the invalid span would be ignored but the rest of the batch would be accepted.

**What did you see instead?**
The entire batch was rejected.

**What version did y

[2022-06-14 01:36] singku opened #11025 "[receiver/redisreceiver] Instructions for contributing more metrics"
**Describe the bug**
In our project, we would like Redisreceiver to collect more metrics like role, redis_version etc. Thought we should contribute directly to redisreceiver for adding them. I noticed that we can use mdatagen to generate those missing metrics by adding definitions in metadata.yaml. But I didn't see detailed instructions on how to re-generate metrics files. Do we have it somewhere

[2022-06-14 09:28] bertysentry commented on #10567
@djaglowski I'm sorry, I can't find any reference to any requirement of using base units in Otel's semantic conventions. It's weird because I'm pretty sure saw that while working on https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/10028. I must have got confused with OpenMetrics requirements. Sorry about that, I'll close this one!

[2022-06-14 09:28] #10567 closed

[2022-06-14 09:31] bertysentry commented on #10564
No need to use base units

[2022-06-14 09:31] #10564 closed

[2022-06-14 09:31] bertysentry commented on #10563
No need to use base units

[2022-06-14 09:31] #10563 closed

[2022-06-14 09:32] bertysentry commented on #10558
No need to use base units

[2022-06-14 09:33] #10557 closed

[2022-06-14 09:34] bertysentry commented on #10552
No need to use base units

[2022-06-14 09:34] #10552 closed

[2022-06-14 09:36] #10550 closed

[2022-06-14 13:02] jsirianni commented on #10924
This may be fixed soon, see comment here: https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/issues/423

[2022-06-14 13:02] #10924 closed

[2022-06-14 13:04] damemi commented on #10924
Yup, that should be included in the next bump of GCP deps here

[2022-06-14 13:23] djaglowski commented on #10567
Thanks @bertysentry. Appreciate all the effort you've put into validating the metrics on this and many other components!

[2022-06-14 13:28] djaglowski commented on #10990
Thanks for checking it @bryan-aguilar.

I'm going to keep this issue open until we figure out how to configure/fix the tooling such that it will not falsely report an error on this.

[2022-06-14 15:20] #10994 closed

[2022-06-14 15:29] mx-psi opened #11033 "[exporter/datadog] Kubernetes node name resolution via the downward API"
**Is your feature request related to a problem? Please describe.**

The Datadog exporter needs to query the Kubernetes node name for resolving the hostname (see #10911). The exporter currently relies on the assumption that the pod name can be retrieved by calling `os.Hostname`, which is not necessarily true if, e.g., the hostname has been modified via fields like [`setHostnameAsFQDN`](https://kube

[2022-06-14 15:30] #10998 closed

[2022-06-14 15:45] codeboten commented on #11025
@singku some additional information about how to use mdatagen is available here: https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/cmd/mdatagen#metadata-generator

It would be great to information about adding metrics to CONTRIBUTING.md, can I assign this issue to you?

[2022-06-14 17:24] Vishnuvardhan-9 opened #11037 "elasticsearch exporter"
Hi Team,

I am trying to configure otelcol-contrib with elasticsearchexporter and seeing below certificate error though tls insecure set to true.  I tested with logstash/filebeat and i don't see any issue with them connecting and writing to elasticsearch.  I have attached elasticsearch exporter/logstash configs inline. Let me know if you need any more details.

Version : github.com/open-telemetry/

[2022-06-14 17:55] djaglowski commented on #10572
I'll sponsor this.

(Also, I won't make it to the SIG meeting tomorrow, so I will remove the agenda item. Feel free to readd if you have more to address at the SIG.)

[2022-06-14 19:29] djaglowski opened #11039 "[extension/filestorage] Flaky test - TestClientConcurrentCompaction"
Observed here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6886126980?check_suite_focus=true#step:8:1527

[code]

[2022-06-14 19:29] djaglowski commented on #11039
cc @pmm-sumo

[2022-06-14 20:46] #10101 closed

[2022-06-14 21:48] singku commented on #11025
@codeboten see pull/11043

[2022-06-14 22:15] tigrannajaryan commented on #10915
@pmm-sumo sounds good to me.

[2022-06-15 03:27] mdrakiburrahman opened #11048 "fluentforward does not work with k8sattributesprocessor"
I am not able to get `fluentforward` to work with `k8sattributesprocessor` - I went through the docs here:
https://pkg.go.dev/github.com/open-telemetry/opentelemetry-collector-contrib/processor/k8sattributesprocessor#hdr-Host_networking_mode

The actual Fluent logs are coming in fine, I'm just not able to enrich them with K8s labels and annotations (that's my intention with OTEL)

Tried:
* Deploye

[2022-06-15 06:18] radzikp commented on #2655
Hi guys, is there any timeline to fix this issue? I am struggling with concatenation of java stacktraces and send them to splunk hec indexer to see a whole stack trace as a one event.

[2022-06-15 07:41] arminru commented on #10586
Hi @alefcarlos! Thank you for you question.

Both data point attributes and resource attributes are available as metric dimensions in Dynatrace.
Dimensions from resource attributes are, however, not created automatically.

To have dimensions created from the resource attributes, you can do either of the following:

1. Use the [resourcetotelemetry](https://github.com/open-telemetry/opentelemetry-co

[2022-06-15 11:10] ItsLastDay commented on #9278
Since the issue is closed, does it mean the warning "The issue is currently being investigated and will be fixed in one of the new releases. More details: https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/9278." in https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/prometheusreceiver is now obsolete?

[2022-06-15 11:18] forestsword commented on #9018
This is our experience as well. This will cause the collector to stop sending the traces further in the service pipeline. The healthcheck continues to return healthy resulting in 'stuck' collectors.

This is much more than a log entry. @greut or @albertteoh the issue doesn't indicate the severity of this bug. Can we modify this issue to say that it stops processing? Or should we create a new issue

[2022-06-15 12:09] greut commented on #9018
we didn't experience any service disruption, only verbose logs.

[2022-06-15 12:11] albertteoh commented on #9018
Agree, the problem is more serious than just a high volume of logging. It involves the loss of trace data.

I haven't invested the time to root-cause this properly yet, but I suspect that the problem is the spanmetrics processor is creating the key for the metrics dimensions, caching, then quite reasonably, expecting it to still exist in the cache so that it can build the metrics with the metrics

[2022-06-15 12:42] alefcarlos commented on #10586
@arminru, Hi!

I'm using de second option now, but i will test that configuration on collector:

[code]

It would be cool to update documentation regarding that configuration.

Thank you so much for the response ;)

[2022-06-15 13:26] #10864 closed

[2022-06-15 13:27] logamanig commented on #9018
I agree with @albertteoh , it's the spanmetrics processor that's breaking the collector. Disabling spanmetrics is the only option to send traces without loss.

My environment:

Trace pipeline:
 Otlp receiver
 Spanmetrics and batch processor
 Jaeger exporter

Metric pipeline:
 Prometheus receiver that collects collector's own receives metrics
 Prometheus exporter(it is also the exporter of spanmetr

[2022-06-15 13:43] dashpole commented on #9278
Yes, we can remove that status header

[2022-06-15 14:52] #10974 closed

[2022-06-15 15:34] CatalinAdlerDF commented on #8249
Hello,

I've been playing around with this one, but i don't like that it seems to treat logs as simple text, not mapping to the gcp even log entry type.
I am pushing logs to the collector from an ASP.NET Core app, though the built-in exporter, the logs are quite rich, but they are exported to GCP as text, on the `textPayload` field, instead of the `jsonPayload` structured field.

Is there some con

[2022-06-15 15:55] CatalinAdlerDF commented on #8249
Well, i was expecting everythign to work ootb since i am using otel e2e, just connecting components.
The logs form .net code are structured, the log message is structured, has a message, a text template and replacement tokens, has nested scopes, etc....This granular structure is natively issues by the gcp operations libraries and helps tremendously in consumption.

OTEL entry in stackdriver exampl

[2022-06-15 16:35] kentquirk commented on #10195
I'm intending to start working on this one this week. I have parser experience and it feels like a place I can help fairly quickly.

[2022-06-15 19:24] codeboten commented on #11037
Pinging codeowners @urso @faec @blakerouse could you have a look and assign a priority label for this issue. Thanks!

[2022-06-15 21:20] #8127 closed

[2022-06-16 00:12] michalsteyn commented on #2651
I would argue that this should be a top priority for DataDog. OpenTelemetry has undertaken a mammoth effort to consolidate observability across the industry.

Elastic already added support for OpenTelemetry Logging very early on. And APM isn't even their core business.

We have a code base that runs both in Cloud Native environments as well as air gapped self hosted environments. For our Cloud env

[2022-06-16 06:30] hterik opened #11062 "New receiver that can tail a oltp json-file from disk"
**Is your feature request related to a problem? Please describe.**
We are running some test suites against a distributed embedded system. This test harness is mostly run offline (containerized), manually by testers. When some interesting event happens, we want to upload the results to a central database, some of these results include traces, that get uploaded to a Tempo instance consuming OLTP.

T

[2022-06-16 07:52] mx-psi commented on #10912
@Migueljfs That's helpful thanks. I think it's best if we handle this through a support case with Datadog, since I suspect the issue may be specific to your Datadog org. Could you open a ticket with [Datadog support](https://www.datadoghq.com/support/)?

[2022-06-16 07:55] mx-psi commented on #11061
Transferring this to contrib since if anything it would be an issue on the prometheus exporter. cc @dashpole and @Aneurysm9 as codeowners

[2022-06-16 07:59] mx-psi commented on #11062
Since this is about a new component, I have transferred it to contrib. Maybe #7840 is what you are looking for?

[2022-06-16 08:20] cuichenli commented on #10990
it is treated as dead due to the extra parentheses
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/16de0ab55f9b10f6704d1558fd23a84c06bff73b/receiver/awscontainerinsightreceiver/README.md?plain=1#L4
I will file a PR to fix it

[2022-06-16 08:34] JaredTan95 commented on #11037
I think the logs are already very clear about the problem:

[code]

[2022-06-16 13:42] dashpole commented on #11061
Did you leave the program running, or does it exit?  If you add 30 to a counter, the value of the counter stays 30 as long as the program continues to run.  After the program stops running, the collector will keep it around for a period of time, since it isn't sure if it:

1. Just hasn't had the latest batch of metrics pushed to it yet, or
2. The counter was (somehow) deleted while the program is

[2022-06-16 13:53] #10990 closed

[2022-06-16 14:38] alefcarlos commented on #10586
Hi, @arminru. I'm closing this issue, cause the collector now sends the resource attributes using that configuration. I just wanted to send the `dt.*` attributes to Dynatrace ;)

[2022-06-16 14:38] #10586 closed

[2022-06-16 15:36] naveenkumarthangaraj commented on #11061
Thank you. I will give try and update on the status.

Thanks,
Naveen T

[2022-06-16 16:22] hex1848 opened #11073 "googlecloudpubsubreceiver : gRPC unavailable error on response"
**Describe the bug**

We are running the open-telemetry-collector helm chart in our GKE kubernetes environment.   I added and configured the googlecloudpubsubreceiver component to pull from a gcp pubsub subscription.   It appears that authentication and the request goes through just fine, however the response always comes back with a gRPC status [unavailable](https://github.com/open-telemetry/open

[2022-06-16 16:22] hex1848 commented on #11073
@alexvanboxel  Do you have any thoughts on what might cause this?

[2022-06-16 16:54] alexvanboxel commented on #11073
This feels like an authentication issue. We're using our own charts, and we're sure that our workload identity is set up correctly. I'm not sure that the standard helm chart provides the correct settings for the workload identity.

[2022-06-16 19:54] mdrakiburrahman commented on #11048
Anyone with `k8sattrbiuteprocessor` experience that can comment? @dmitryax @pmm-sumo perhaps?

[2022-06-16 20:09] TylerHelmuth opened #11077 "[processor/transform] Add 'like' capability to WHERE condition"
**Is your feature request related to a problem? Please describe.**
The transform processor's where condition cannot handle checking if 2 string match only in specific positions.  It must check the whole string.

**Describe the solution you'd like**
For strings, a condition allows you to use the keyword `like` which will use glob matching to compare the strings.  There should also be a way to negat

[2022-06-16 20:21] djaglowski opened #11078 "[internal/k8s/k8sclient] Flaky Test - TestPodClient_NamespaceToRunningPodNum"
[code]

Observed here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6925397106?check_suite_focus=true#step:8:538

and here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6925256519?check_suite_focus=true#step:8:539

[2022-06-16 21:46] TylerHelmuth opened #11087 "[processor/transform] Add 'nil' type to the grammar"
**Is your feature request related to a problem? Please describe.**
The transform processor cannot handle the `nil` literal.  Being able to use `nil` in the language, especially in condition, would be useful.

**Describe the solution you'd like**
`nil` is added as a type in the grammar so that it can be used like other literals.

[2022-06-17 00:43] #10997 closed

[2022-06-17 02:25] hex1848 commented on #11073
I am also noticing this when running the 0.53.0 docker image locally.   That seems to rule out GKE issues.  I hadn't considered the authentication issue, but I am getting this with both the personal account and the service account.

`
docker run -v "${PWD}/otel-local-config.yaml":/otel-local-config.yaml -v ~/.config/:/etc/config  -p 55681:55681 -e GOOGLE_APPLICATION_CREDENTIALS=/etc/config/gcloud/

[2022-06-17 06:25] alexvanboxel commented on #11073
I tried it with the docker build, but can't seem to get the same error. Tried even switching to another local `gcloud auth application-defaults` (with my gmail account) and then I really get explicit permission denied. I haven't tried removing the fine graned access on the topic (as I can't remove myself).

Maybe try:
-  setting the project explicit in the config (although, for me, that was not ne

[2022-06-17 06:34] JaredTan95 commented on #11037
Maybe you can try more `tls` config as https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/elasticsearchexporter#tls-settings mentioned.

[2022-06-17 10:28] pmm-sumo commented on #11048
@mdrakiburrahman this is unfortunately not very clearly explained, but `fluentforward` receiver should follow similar approach as the native `filelog` receiver. There's an [example manifest file with otel config](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/examples/kubernetes/otel-collector.yaml).

In principle, when log file is being tailed, the information about i

[2022-06-17 12:39] mcardy commented on #10572
As part of our component, we unmarshal data into a protobuf generated model currently generated with `go generate`. To do this, we are using http://google.golang.org/protobuf/cmd/protoc-gen-go. I noticed that, as part of the workflows, `go generate` is run in all components' directories, and this is currently failing as a result. Is protoc-gen-co something we could add to the root installTools dir

[2022-06-17 13:07] djaglowski commented on #10205
Another related failure: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6928043103?check_suite_focus=true#step:7:2360

[2022-06-17 13:08] #10575 closed

[2022-06-17 13:08] #10420 closed

[2022-06-17 13:14] djaglowski commented on #10572
@bogdandrutu, do you mind weighing in on this?

[2022-06-17 13:35] djaglowski opened #11116 "[exporter/loadbalancing] Flaky Test - TestRollingUpdatesWhenConsumeLogs"
Observed here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7802139871?check_suite_focus=true#step:7:2604
[code]

[2022-06-17 13:57] #10973 closed

[2022-06-17 13:58] #10985 closed

[2022-06-17 13:58] #10986 closed

[2022-06-17 13:59] #10987 closed

[2022-06-17 14:38] TylerHelmuth commented on #11077
As discussed in [#11084](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/11084#discussion_r899655923), instead of a new operator we can introduce Regex and Glob boolean factories than can be used in conditions.

[2022-06-17 14:51] davidmirza408 opened #11118 "[processor/transform]: add replace_regex_match config setting to replace attributes/metrics based on regex pattern"
**Is your feature request related to a problem? Please describe.**
This issue relates to transformprocessor.  replace_match relies on wild cards to find a pattern to replace a string.  In some scenarios where the location of the portion of the string to replace is not clear, a regex expression may be more appropriate.  One such example would be a hostmetricsreceiver reporting command line paramete

[2022-06-17 14:58] TylerHelmuth commented on #11118
@anuraaga was just saying that as soon as we add glob matching someone will ask for regex haha 😄

Yes a `replace_regex_match` would be a good feature.  Maybe instead of a new function we can update `replace_match` and `replace_all_matches` to take a third parameter that switching the function between Glob and Regexp.  The pattern would be used to create the appropriate object in the function and t

[2022-06-17 15:41] djaglowski commented on #9761
Reopening this, as it was observed again here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6938319015?check_suite_focus=true#step:7:1137

[2022-06-17 15:48] davidmirza408 commented on #11118
@TylerHelmuth, do you think I should remove replace_all_matches and replace_match or deprecate them

[2022-06-17 15:50] #10993 closed

[2022-06-17 16:06] #10991 closed

[2022-06-17 17:08] dmitryax commented on #11073
cc @alexvanboxel as code owner

[2022-06-17 17:19] djaglowski commented on #11061
Closing this since it may be resolved. Please reopen if necessary.

[2022-06-17 17:19] #11061 closed

[2022-06-17 17:38] djaglowski commented on #10927
@jainaashish, there is not currently, and I'm not aware of any plans at this point.

One pattern you may find useful is the `metadata.yaml` file that many metric-producing components maintain. [Example](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/rabbitmqreceiver/metadata.yaml) Perhaps some automation around these files may be sufficient.

[2022-06-17 18:00] djaglowski commented on #10898
@justindesilets, all metrics that this receiver collects are enabled by default.

Since `server.state` is a resource attribute, you will find it in a different part of the same data packet. Roughly:
[code]

[2022-06-17 18:06] mdrakiburrahman commented on #11048
Hey @pmm-sumo - some context, in our setup we have thousands of FluentBit sidecars per pod - so that limitation won't apply.

I did try using the setup you shared for `filelog` - i.e.:

[code]
Unfortunately the OTEL Agent was logging blanks for each property (`pods.uid`, `pods.ip`) in this line: https://github.com/mdrakiburrahman/opentelemetry-collector-contrib/blob/17464907a41fa50d1e41fe38f4ba7e7

[2022-06-17 18:38] SergeyParamoshkin commented on #10973
HI. what we need to do with

[code]

in `extension/httpforwarder`  folder testdata does not exist.

[2022-06-17 18:42] djaglowski commented on #10973
@SergeyParamoshkin, ideally:
- create the `testdata` directory
- add `testdata/config.yaml`, which is a sample configuration file for the collector
- add a test that loads and validates the config.yaml file

[Here is an example.](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/11018/files)

[2022-06-17 18:56] StefanKurek opened #11126 "[receiver/mongodbatlasreceiver] Fix RecordMongodbatlasSystemMemoryUsageAverageDataPoint being called for the wrong metric"
**Describe the bug**
There is a typo and RecordMongodbatlasSystemMemoryUsageAverageDataPoint is currently being called for the wrong metric (MAX_SYSTEM_MEMORY_FREE).

**Steps to reproduce**
Run the collection against a good system.

**What did you expect to see?**
A metric for mongodbatlas.system.memory.usage.max

**What did you see instead?**
Duplicate metrics for mongodbatlas.system.memory.usage

[2022-06-17 19:20] SergeyParamoshkin opened #11128 "[extension/httpforwarder] Add testdata/config.yaml"
- [x]  create the `testdata` directory
- [x] `testdata/config.yaml`, which is a sample configuration file for the collector
- [ ] add a test that loads and validates the config.yaml file

[Here is an example.](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/11018/files)

_Originally posted by @djaglowski in https://github.com/open-telemetry/opentelemetry-collector-contrib/is

[2022-06-17 19:51] Vishnuvardhan-9 commented on #11037
Thanks, new tls config insecure_skip_verify helped to get rid of the certificate error. Now I am seeing a new error related to opensearch compatibility. Little background on what we are trying. We are trying to configure elasticsearch Exporter to work with Opensearch endpoint. We have enabled a special variable in opensearch to avoid compatibility issues with ingest tools and seems it is not worki

[2022-06-17 19:53] Vishnuvardhan-9 commented on #11037
I don't see opensearch exporter is available yet. So we are trying to test the configuration with elasticsearch exporter.

[2022-06-17 20:44] SergeyParamoshkin commented on #10973
@djaglowski why do you close this issue ?

I found problems in this files
- [ ]  ./processor/metricstransformprocessor/README.md
- [ ]  ./internal/buildscripts/packaging/fpm/rpm/README.md
- [ ]  ./results/TESTRESULTS.md
- [ ]  ./examples/demo/README.md
- [ ]  ./receiver/sqlserverreceiver/documentation.md
- [ ]  ./receiver/receivercreator/README.md
- [ ]  ./exporter/signalfxexporter/README.md
- [ ]

[2022-06-17 20:56] dmitryax commented on #10973
@SergeyParamoshkin This ticket is specifically for deda links in cmd/configschema which was resolved in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/11089

[2022-06-17 21:11] dmitryax commented on #11024
Hi @sfishel-splunk, this is done by design. json payload is unmarshalled altogether. If the payload is invalid, it is rejected. Adding an additional step to break down the json batch payload into individual jsons per span would significantly increase the cost. So we don't want to do that.

[2022-06-17 21:16] dmitryax commented on #11024
I would keep this open for a while if anyone else has other opinions. Or @sfishel-splunk, if you want interested to experiment and try to make this happen with a low overhead (or as an optional functionality) feel free to do so

[2022-06-17 23:10] sfishel-splunk commented on #11024
@dmitryax makes sense, if it's for performance reasons that's understandable. i'm not much of a Go programmer so i'm unlikely to try this myself :) but it's not blocking me or anything, i just filed it when i noticed it.

[2022-06-18 00:47] dmitryax commented on #7071
This is fixed by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/10817

[2022-06-18 00:47] #7071 closed

[2022-06-18 00:48] dmitryax commented on #6720
Closing as fixed in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/7001. Please reopen if it's not the case

[2022-06-18 00:49] #6720 closed

[2022-06-18 04:41] dmitryax commented on #6702
Fixed in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/7064

[2022-06-18 04:41] #6702 closed

[2022-06-18 04:45] dmitryax commented on #6504
@p120ph37 I don't think summary data points actually can be accurately aggregated. Please see https://latencytipoftheday.blogspot.com/2014/06/latencytipoftheday-you-cant-average.html

[2022-06-18 04:46] #6504 closed

[2022-06-18 04:53] dmitryax commented on #6504
This is also mentioned in https://github.com/open-telemetry/opentelemetry-specification/blob/bff2cc1365bb81b03f78a732dec822fff787e288/specification/metrics/data-model.md#summary-legacy

[2022-06-18 05:22] dmitryax commented on #5853
Hi @xp-1000.

You cannot just drop an attribute from a metric because it may result into invalid metric with duplicate data points. You need an aggregation instead. `metricstransform` processor provides a way to aggregate data points into predefined set of attributes and dropping attributes that are not defined.

For example, the following config will drop all attributes other than `label1` and `l

[2022-06-18 05:24] dmitryax commented on #4390
Fixed in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/10817

[2022-06-18 05:24] #4390 closed

[2022-06-18 05:37] dmitryax commented on #3269
Resolved by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/10817

[2022-06-18 05:37] #3269 closed

[2022-06-18 07:01] JaredTan95 opened #11144 "[tracegen/cmd] support add additional resource attributes in tracegen"
**Is your feature request related to a problem? Please describe.**
I noticed that [tracegen](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/tracegen) cmd does not support adding custom resource attributes, which I think is more important in helping users develop and debug.

**Describe the solution you'd like**
I'd love to work/add this support in `tracegen` cmd.
I thin

[2022-06-19 04:23] haarakdy opened #11155 "PushController.tick keeps GIL for the time depeding on the amount of lables and metrics"
I am using PrometheusRemoteWriteMetricsExporter and Logz.io
In my tests OpenTelemetry's tick()  keeps GIL for up to 10ms when the number of metrics is 20, and average number of labels is 6
I measure the GIL availability using a loop like in the class below. The `py-spy record ...` confirms the result.
In my application I  have a constraint for the response latency. The constraint is not very tight

[2022-06-19 13:15] djaglowski commented on #9560
Closed by #9598

[2022-06-19 13:15] #9560 closed

[2022-06-19 13:18] #10995 closed

[2022-06-19 13:20] sebastianhaeni commented on #10839
Hi @djaglowski

Yes, this is a vendor-specific component.
I am however not a representative of the vendor.

To create the upcoming PR, I oriented myself on the Icinga2 API documentation and tested against freely available Docker images from Icinga.

I'm using the Icinga receiver I already created productively and would gladly share it through the contrib collector distribution. I wouldn't mind if

[2022-06-19 14:03] justindesilets commented on #10898
Using my above configuration, I am only seeing these zookeeper based metrics being exported:
[code]
Currently I am running the `confluent-zookeeper-6.2.2-1` if that has any possible impact for these metrics. Is there anything I could be overlooking that is preventing the server state metric from being exported. I had been using a `metricstransform` but I disabled it for this test to take it out of

[2022-06-19 18:58] SergeyParamoshkin commented on #10989
Hi, @djaglowski with `processor/transformprocessor` I don't reproduce this error.
[code]

[2022-06-20 01:12] justindesilets commented on #10898
To add some additional information, here are the results of querying this specific zookeeper.
[code]

[2022-06-20 02:13] Frapschen commented on #10116
@codeboten I want to apply become a member of opentelemetry community,can you sponsored me?

[2022-06-20 08:55] Migueljfs commented on #10912
@mx-psi I will open a ticket and report back, thanks.

[2022-06-20 08:55] Migueljfs commented on #10912
Closed by accident. Reopening

[2022-06-20 09:49] gouthamve commented on #4985
@dashpole this can be closed after https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/8780

[2022-06-20 10:08] astencel-sumo commented on #10915
Hi folks,

I think my question is relevant to this issue, but please let me know if I should rather open a separate issue to discuss this:

**Question:**

How can the user disable persistence for a component that uses storage by default (like e.g. Filelog receiver)?

1. Should the component accept a special value to the `storage` property, for example `storage: none`?
2. Should the component provi

[2022-06-20 10:09] gouthamve commented on #5011
@dashpole Another issue to close.

[2022-06-20 10:22] gouthamve commented on #10115
Hi, this is now done using the `target_info` metric: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/data-model.md#resource-attributes-1

Please let us know if `target_info` is not available or doesn't work for your use-case.

[2022-06-20 11:07] #11155 closed

[2022-06-20 13:21] #11087 closed

[2022-06-20 13:34] djaglowski opened #11166 "[receiver/riak] Dead link"
[code]

[2022-06-20 14:08] djaglowski commented on #10989
Thanks for verifying this. Must have been fixed in another PR

[2022-06-20 14:08] #10989 closed

[2022-06-20 14:37] djaglowski opened #11170 "[receiver/opencensus] Flaky Test - TestExportMultiplexing"
Observed here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6959703959?check_suite_focus=true#step:7:769

[code]

[2022-06-20 14:44] djaglowski commented on #10898
To be clear, this receiver does not export a server state metric.

There is a `server.state` _resource attribute_, which you will find it in a different part of the result. Please see example [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/10898#issuecomment-1159114103).

[2022-06-20 15:30] #10865 closed

[2022-06-20 15:58] djaglowski opened #11173 "[exporter/splunkhec] Flaky Test - TestReceiveTracesBatches"
Observed here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/6969904966?check_suite_focus=true#step:7:4748

[code]

[2022-06-20 15:59] djaglowski commented on #11173
cc: codeowners @atoulme @dmitryax

[2022-06-20 16:05] atoulme commented on #11173
Thanks. It looks like the spans are out of order. I will take a quick look.

[2022-06-20 17:05] #10981 closed

[2022-06-20 17:35] #10975 closed

[2022-06-20 17:40] tigrannajaryan commented on #10915
I think this is the right way. We can use empty string and/or `null` yaml value to indicate the storage is disabled.

[2022-06-20 21:18] djaglowski commented on #10992
Closing, as this apparently is a false positive.

[2022-06-20 21:18] #10992 closed

[2022-06-20 22:19] #10978 closed

[2022-06-21 00:45] Frapschen commented on #10980
hi I can help it :)

[2022-06-21 00:45] Frapschen commented on #10982
hi I can help it :)

[2022-06-21 00:45] Frapschen commented on #10996
hi I can help it :)

[2022-06-21 03:25] atoulme commented on #11173
This is happening because of the HTTP server we use to send traces. I guess we get requests out of order.

Thinking on a fix.

[2022-06-21 09:51] #11173 closed

[2022-06-21 13:25] #4971 closed

[2022-06-21 13:26] #4985 closed

[2022-06-21 13:28] #11039 closed

[2022-06-21 14:01] haarakdy commented on #11155
The problem can be in the implementation of the `export()`
I reproduce the problem my generating random string for labels values. The memory consumption grows fast, the export() performance drops.

[2022-06-21 14:54] #10824 closed

[2022-06-21 15:59] codeboten commented on #7959
This issue has been addressed.

[2022-06-21 15:59] #7959 closed

[2022-06-21 16:08] amoscatelli opened #11438 "[exporter/prometheusremotewrite] - out of order sample"
**Describe the bug**
Under load, prometheusremotewrite (in otel/opentelemetry-collector-contrib:0.53.0 docker image) from time to time drops metrics (from different source applications) because of a "out of order sample" error.

This seems similar to :
https://github.com/open-telemetry/opentelemetry-collector/issues/2315

**Steps to reproduce**
Running otel collector docker image.
Configure the ot

[2022-06-21 18:56] #9550 closed

[2022-06-21 18:56] djaglowski opened #11426 "[chore] Rename "pkg/stanza/helper.Config" struct to pkg/stanza/helper.SeverityConfig"
The current name is apparently an inadvertent find and replace during lint cleanup. As is, the struct name is confusing, since it implies that it is _the_ config for the helper package.

[2022-06-21 20:23] djaglowski opened #11428 "[pkg/stanza/fileconsumer] Clean up encoding interface"
The `fileconsomer` package was created by extracting functionality from `pkg/stanza`'s `file_input` operator. The capability to automatically decode values based on a configuration value was one of the more difficult parts to extract. As a result, the functionality is in a temporarily split state and should be cleaned up.

[2022-06-21 20:25] djaglowski opened #11429 "[pkg/stanza] Convert file attributes setting logic to options"
As part of an effort to clean up the `fileconsumer` package, `pkg/stanza`'s `file_input` operator should simplify the `EmitFunc` that it passes to `fileconsumer`. This can be done by setting file attributes via option functions.

[2022-06-21 21:58] #3849 closed

[2022-06-22 00:43] Frapschen commented on #10116
thx,I have opend an issue and have been became a member of counmity.

[2022-06-22 05:54] kushal-ti opened #13165 "Allow using operators in otlp logs receiver"
**Is your feature request related to a problem? Please describe.**
I'm using the OTLP receiver for collecting logs into the otel collector. The body of my logs is JSON but is always parsed as a string by the receiver. I maybe able to use [json_parser operator](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/pkg/stanza/docs/operators/json_parser.md) for this purpose, but

[2022-06-22 08:48] datsabk opened #11434 "Support for accumulating Delta StatsD counter"
Ref: [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/4909)
@huyan0 - I am deploying opentelemetry-collector-contrib as a standalone agent per node in Kubernetes. These agents gather the StatsD metrics and send out to AWS AMP instance. I am also in the same standstill given that StatsD receiver metrics can't be directly consumer by Prometheus exporter. I think there

[2022-06-22 09:33] Bhogayata-Keval opened #11435 "fluentforwardreceiver : logs cannot be received due to wrong timestamp type"
**Bug Description**
Fluent Forward Receiver cannot receive logs in case the timestamp follows uint64

**Steps to reproduce**
#### Case 1 : If you use "fluent-logger" npm package and try to send logs directly to fluentreceiver endpoint (Ex. localhost:8006)

[code]
[code]
This setup does not work unless I add a uint64 case in `conversion.go > timeFromTimestamp`
[code]
#### Case 2 : If you use "fluen

[2022-06-22 10:23] ghost opened #11436 "GCP Exporter should associate logs with traces"
**Is your feature request related to a problem? Please describe.**
Logs are not integrated with Traces by the GCP Exporter

**Describe the solution you'd like**
The format of the `trace` field that is exported by the GCP exporter should follow the official guidance [here](https://cloud.google.com/trace/docs/trace-log-integration).

for eg
instead of `trace: "4bf92f3577b34da6a3ce929d0e0e4736"`
it s

[2022-06-22 10:59] mx-psi commented on #11436
@dashpole feel free to reassign to someone else in Google!

[2022-06-22 12:07] amoscatelli opened #11439 "[processor/attributes] log_severity_texts does not filter"
**Describe the bug**
log_severity_texts filter simply doesn't work
tried the example here and doesn't work either :
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/processor/attributesprocessor/testdata/config.yaml

For example :

[code]

should_exclude is added to every log instead of traces only.

**Steps to reproduce**
Use log_severity_texts to filter the attribute p

[2022-06-22 13:14] dashpole commented on #11436
Thanks @CatalinAdlerDF

cc @damemi

[2022-06-22 16:31] djaglowski opened #11442 "[CI] check-links fails due to unrelated changes"
The `check-links` job often fails on pull requests due to unrelated changes because it is comparing the branch to `origin/main`, rather than to a common ancestor with `origin/main`. This means that changes made on recently merged PRs will be picked up as part of the diff, and therefore validation will run against those files as well. ([example](https://github.com/open-telemetry/opentelemetry-colle

[2022-06-22 17:00] djaglowski opened #11445 "[receiver/windowsperfcounters] Flaky Test - Test_WindowsPerfCounterScraper"
Observed here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7008709942?check_suite_focus=true#step:7:2750

[code]

[2022-06-22 17:02] djaglowski commented on #11445
cc @dashpole as code owner, and @Mrod1598 because I think you may have last updated this test

[2022-06-22 17:47] CatherineF-dev opened #11460 "Support adding label cluster_name to trace"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Adding a cluster_name label in OTLP receiver, or adding a cluster_name label in a trace processor

**Describe alternatives you've considered**
Adding a cluster_name label in a trace exporter

**Additional context**
[Traced k8s apiserver](https://kubernetes.io/blog/2021/09/03/api-server-traci

[2022-06-22 18:59] #10979 closed

[2022-06-22 19:35] #11442 closed

[2022-06-22 19:37] damemi commented on #11436
Opened https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/pull/440 to fix this, thanks @CatalinAdlerDF for reporting it

[2022-06-22 19:48] hsmatulisgoogle opened #11447 "[receiver/hostmetrics/processscraper] Process metric start time set to system boot time"
**Describe the bug**
When using the processscraper, the start time of any data point in any metric is set to the system boot time.

**Steps to reproduce**
Use the processscraper, check the associated start time.

**What did you expect to see?**
The start time of the data point should be the creation time of the process.

**What did you see instead?**
The start time should be the creation time of t

[2022-06-22 19:52] dmitryax opened #11449 "[exporter/sapm] Dead link"
Dead link reported in https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7011170782?check_suite_focus=true

[code]

The endpoint doesn't support GET requests, so it shouldn't be checked

[2022-06-22 20:30] tcoville-coveo opened #11450 "[processor/redaction] The Redaction Processor does not honor the `allow_all_keys` configuration"
**Describe the bug**
All attributes are dropped even if `allow_all_keys` is set to true

**Steps to reproduce**
start a standalone collector with the processor enabled and send traces to it
observe that the attributes get redacted

**What did you expect to see?**
with `allow_all_keys` to true I expect all attributes to remain untouched and being sent to the exporter

**What did you see instead?**

[2022-06-22 21:08] djaglowski opened #11451 "[extension/storage/dbstorage] Flaky Test"
Observed here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7009845542?check_suite_focus=true#step:7:1415

[code]

[2022-06-22 21:11] djaglowski commented on #11451
cc code owners @dmitryax @atoulme

[2022-06-22 21:12] dmitryax commented on #11451
Yes, I also stumbled into it. looking

[2022-06-22 23:47] dmitryax opened #11454 "[extension/filestorage] Flaky test - TestClientConcurrentCompaction"
Observed here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7014384213?check_suite_focus=true

[code]

Looks like another issue started after https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/11039 was resolved

[2022-06-22 23:47] dmitryax commented on #11454
cc @pmm-sumo

[2022-06-23 02:29] dmitryax commented on #11454
Another one https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7015765035?check_suite_focus=true

[2022-06-23 03:22] bputt-e commented on #10300
@hanjm what are your thoughts on the following table schemas, ignore the fact there's no indexes or materialized columns for things like http_status

Option 1
`
CREATE TABLE spanszz
(
    `traceId` String,
    `spanId` String,
    `parentSpanId` String,
    `name` String,
    `kind` String,
    `createdTime` DateTime default now(),
    `startTime` DateTime64(9),
    `endTime` DateTime64(9),
    `R

[2022-06-23 03:26] chenhaipeng opened #11457 "Jaeger transform to otlp case high Memory, OOM"
**Describe the bug**
Use jaeger agent to collect, send to Opentelemetry Collector through port 14250, observe for a while, and find that Opentelemetry Collector OOM is triggered

**Steps to reproduce**
Use jaeger agent to collect ,send to Opentelemetry Collector through port 14250.

**What did you expect to see?**
A clear and concise description of what you expected to see.

**What did you see ins

[2022-06-23 06:57] pmm-sumo commented on #11454
FYI @swiatekm-sumo

[2022-06-23 07:06] KarstenSchnitter commented on #7905
Hi everyone, there does not seem to be much progress on #10206. We really like the feature and tested the branch successfully. What can be done, to help the integration?

[2022-06-23 07:14] CatalinAdlerDF commented on #11436
Thanks @damemi !

Hope this gets released soon!

[2022-06-23 07:47] zszia opened #11459 "Splunk multiple-metric format"
**Is your feature request related to a problem? Please describe.**
The OTEL collector currently does not support [multiple-metric format].(https://docs.splunk.com/Documentation/Splunk/9.0.0/Metrics/GetMetricsInOther#Get_metrics_in_from_clients_over_HTTP_or_HTTPS)
Each metric measurement is stored in a separate event instead.
This is not very efficient for the large number of collected events.

**D

[2022-06-23 09:25] gouthamve commented on #8265
Now that the parsing behaviour is implemented, the only thing remaining is `prometheusexporter`. @dashpole How do we want to proceed with deprecating `resource_to_telemetry_conversion`?

Can I help with the effort somehow?

[2022-06-23 10:15] albertteoh commented on #9018
PR to address this issue: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/11149/

[2022-06-23 12:45] dashpole commented on #8265
It might be good to discuss that with the wg (now that we are hopefully done with sparse histograms).  I don't think there is much urgency to get rid of it, since it is an optional, off-by-default feature.

I think its best to start with adding target_info in the prometheus exporter, and go from there.

[2022-06-23 13:28] gouthamve commented on #4986
I am fairly sure this is where it is happening:

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/351337c957d0ad8b6a614a9c233c01562747586e/exporter/prometheusexporter/accumulator.go#L143-L156

So we have an "accumulator", which stores the lastValue for each metric and then spits out the metric for conversion to Prometheus format here: https://github.com/open-telemetry/opentel

[2022-06-23 13:31] Mrod1598 commented on #11445
Looking into it.

[2022-06-23 13:39] #11449 closed

[2022-06-23 14:25] antonblock opened #11465 "[receiver/aerospikereceiver] Namespace names not parsed from response"
**Describe the bug**
The `aerospikereceiver` parses a delimited string response into a map of metric values. In the parsing of the `INFO` response, namespaces were not being added to the map. The result of this is the namespaces not being collected.

**Steps to reproduce**
- Collect from an Aerospike system with at least 1 namespace

**What did you expect to see?**
- There should be metrics collec

[2022-06-23 14:32] djaglowski commented on #11454
A different failure mode on the same test: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7025095955?check_suite_focus=true#step:8:1558

[2022-06-23 15:21] codeboten opened #11504 "[receiver/simpleprometheus] component is unmaintained"
The component has no code owner.

If you're interested in maintaining the component, please respond on this ticket and create a PR to add yourself as a code owner.

Open issues for the component:
- [ ] #7180
- [ ] #9571

[2022-06-23 15:25] codeboten commented on #11504
PR to identify the component as unmaintained
https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/11133

[2022-06-23 15:25] codeboten commented on #9571
@fatsheep9146 @raphaelauv any interest in becoming code owners for the component? It's currently unmaintained https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/11504

[2022-06-23 16:31] codeboten opened #11508 "lint failure"
After the latest update of dependencies:

[code]

[2022-06-23 17:50] djaglowski opened #11516 "[receiver/prometheus] Flaky Test - TestLabelNameLimitConfig"
Observed here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7028898187?check_suite_focus=true#step:7:663

[code]

[2022-06-23 17:51] djaglowski commented on #11516
cc codeowners @Aneurysm9, @dashpole

Also cc @bertysentry - this looks quite likely to be related to #10028

[2022-06-23 18:04] #11508 closed

[2022-06-23 20:42] ocelotl opened #11521 "Wrong OTLP gRPC receiver port in example"
[This](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/examples/demo/docker-compose.yaml#L29) port should be `4317:4317`.

[2022-06-23 21:14] #11521 closed

[2022-06-23 21:20] dwelch-spike opened #11525 "[receiver/aerospikereceiver] Proposed collaboration"
Hi, I'm an engineer from Aerospike, we recently started looking at contributing an Aerospike receiver to OpenTelemetry and found [this one](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/aerospikereceiver). We would like to collaborate on the project. Here are a few of the changes/additions we have in mind.

Expand the receiver to scrape all the metrics curren

[2022-06-23 21:36] SergeyParamoshkin commented on #10896
@djaglowski I try solve this, but I need help with tests

[2022-06-23 21:41] garry-cairns commented on #7906
I'm not sure if this is related but I'm looking to implement a sampling policy of "only retain traces that were exemplars in our generated metrics". I think I can do this by chaining collectors if the exemplars are tagged in some way that I can use for attribute sampling. Does the addition for this issue achieve this? I looked at the code but couldn't see anything obviously mutating the spans in t

[2022-06-23 22:50] fatsheep9146 commented on #9571
I do have interest in this :),  What should I do to assign me as code owner?

[2022-06-23 22:57] bertysentry commented on #11516
How do we run this test manually?

[2022-06-24 02:48] hanjm commented on #10300
@bputt-e
In my practise, I think Option 2 is prefered. the map keys and values could use bloom filter secondary index, and the query SQL is `stringAttr['key']='value'`, simply than the nested type `stringAttr.Value[indexOf(stringAttr.Key, 'key')]`.
the clickhouse map type is introduced in 2021 later, the clickhouse system logs tables has change nested type to map type . https://github.com/ClickHou

[2022-06-24 03:49] Frapschen opened #11531 "[processor/groupbytraceprocessor] how to use groupbytraceprocessor"
is there any new information for groupbytraceprocessor?  Is it ready for use？

[2022-06-24 05:57] newly12 opened #11533 "support dissect feature to convert plain text to structured data"
**Is your feature request related to a problem? Please describe.**
In elastic ecosystem, [filebeat](https://www.elastic.co/guide/en/beats/filebeat/current/dissect.html), [logstash](https://www.elastic.co/guide/en/logstash/current/plugins-filters-dissect.html), [elasticsearch](https://www.elastic.co/guide/en/elasticsearch/reference/current/dissect-processor.html) all support dissect processor to co

[2022-06-24 06:22] Frapschen commented on #11531
I notice that this processor is marked as `in development`. I used it to generate metrics, it seems to work normally. can you tell me which part of it is in development?

[2022-06-24 06:26] fscellos commented on #7906
Hello @garry-cairns : not sure to understand your use-case.
I think it is not possible to "retain traces that were examplars" as examplars are just tag of trace id on metrics.
As i know, you don't have information on trace itself about the fact that it were used for one or many metrics.
Can you explain a little bit your goal ?

(this current issue is just related to the production of examplars bas

[2022-06-24 09:21] garry-cairns commented on #7906
@fscellos So my question is whether it's possible/already happening to mutate the traces whose IDs are tagged as exemplars such that they're easily identified by subsequent pipelines.

My use-case here is for a sidecar Otel Collector to output all data to a central collector cluster, and I want to discard all traces whose IDs were not used as exemplars.

[2022-06-24 11:45] boostchicken commented on #5838
This issue can now be closed @bogdandrutu

[2022-06-24 11:49] boostchicken commented on #10887
I pretty much outlined it above, could make a quick copy paste job out of it.  I wanted to give AWS sometime to chime in, I suppose they aren't gonna support this.  If you wanna take a crack at it, go for it.  If not I think I can get to this in a couple days.

Cheers!

[2022-06-24 11:54] boostchicken commented on #10887
The only thing that makes me hesitate is the need to refactor the functions I posted above out into the internal/aws space.  It's a pretty material change and I am not sure how it might impact tests etc.

You could literally copy and paste these functions, replacing the current pusher and fix this.  That would be the ugly way which would not be of quality high enough to be considered for an OSS pr

[2022-06-24 13:19] djaglowski commented on #11516
This works for me: `go test -run ^TestLabelNameLimitConfig$ github.com/open-telemetry/opentelemetry-collector-contrib/receiver/prometheusreceiver`

[2022-06-24 13:48] BinaryFissionGames opened #11535 "[receiver/mongodbatlas] Adding the receiver to both Logs and Metrics errors"
**Describe the bug**
The collector does not properly start if it is added to both the logging and metrics pipeline.

**Steps to reproduce**
Use the following config, and run the collector:
[code]

**What did you expect to see?**
The collector starts normally (or at least errors on the lack of an API key.)

**What did you see instead?**
2022/06/24 09:44:30 collector server run finished with error:

[2022-06-24 13:52] BinaryFissionGames commented on #11535
I'll be taking on this issue.

[2022-06-24 15:39] gidesh opened #11536 "Filter processor for span does not work ?"
**Describe the bug**
We are using a relatively new feature of filter processor to drop spans released on 23rd June https://github.com/open-telemetry/opentelemetry-collector-contrib/commit/4be2219303197649342e3434057db642c8653b01

We built the otel-collector binary using https://github.com/open-telemetry/opentelemetry-collector/tree/main/cmd/builder and
`  - gomod: github.com/open-telemetry/opentel

[2022-06-24 17:02] djaglowski opened #11539 "Proposal to improve the CHANGELOG process"
## Motivation

The current changelog process causes many unnecessary code conflicts and mistakes. For example:
1. Two developers make unrelated bug fixes. Each adds a line at the end of the "Bug Fixes" section. Now there is a code conflict.
2. Someone opens a PR. Before the PR is merged, a new version of the collector is released. Now the PR is (wrongly) proposing to add to a line to previous rele

[2022-06-24 17:09] dmitryax commented on #11536
Hi @boostchicken, do you have a chance to take a look?

[2022-06-24 17:10] dmitryax commented on #11533
Hey @newly12 , what data you want to process with this? traces, metrics, logs or some attributes?