[2022-08-24 22:03] TylerHelmuth commented on #13578
This solution could be solved by using RemoveIf loops like you did in the metricstransformprocessor and then checking the return value of the function and responding accordingly.  That leaks responsibility of dropping the data to the processor itself instead of the TQL function but would ensure that when a function is dropped the remaining functions are not called and the remaining datapoints/span

[2022-08-24 22:21] dmitryax commented on #13578
Removing of an item should be responsibility of a container, not element itself. Looks like indexes are only used to get actual element, so I don't think you need to use them at all. All loops probably can be just replaced with `RemoveIf`

[2022-08-24 22:35] mwear opened #13615 "[receiver/prometheusreceiver] identify telemetry scraped by the prometheus receiver"
**Is your feature request related to a problem? Please describe.**
I would like to be able to tell which metrics are scraped by the prometheus receiver.

**Describe the solution you'd like**
Most receivers set the scope name to the receiver name (e.g. `otelcol/postgresqlreceiver`). The most straightforward solution would be to set the scope name to `otelcol/prometheusreceiver`.

**Describe alterna

[2022-08-24 22:51] TylerHelmuth commented on #13578
I was able to get drop working using RemoveIf and a lot of custom logic in the transform processor.  Not sure how I feel about the implementation yet, gonna sleep on it.

[2022-08-25 03:23] dmitryax commented on #13578
Btw have we made a decision that `transform` processor will be a replacement for filter processors or it's supposed to _translate_ only but not remove?

[2022-08-25 04:12] TylerHelmuth commented on #13578
Based on the proof of concept today I can see a world where the filter processor sticks around and takes advantage of TQL Conditions. Kinda like mentioned here: https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/13545

[2022-08-25 04:36] TylerHelmuth commented on #13578
Although I do like the concept of being able to drop data within the transform processor. Could be situations where data is manipulated and then dropped in the middle based on some condition and then manipulation continues.

[2022-08-25 07:15] kovrus commented on #13158
I thought of the `route` function here as noop because of the current TQL limitations. It also seems that we would need to use both condition and query (invocation and condition) in routing table entries. In some cases we will have to evaluate a boolean expression only, in other cases we would like to use some function to drop a routing key while routing or something like that.

[2022-08-25 08:33] willthames opened #13619 "k8sattributesprocessor doesn't get pod info for new pods"
**Describe the bug**
While k8sattributesprocessor correctly adds pod attributes to pods that exist when the collector is started, restarting a pod causes the processor to no longer add attributes

**Steps to reproduce**
Add k8sattributesprocessor with a config like that below, check that the pod attributes are coming through ok (the below has traces set to log, and collector log level set to debug

[2022-08-25 09:20] Yamakaky opened #13621 "[processor/spanmetricsprocessor] Add periodic metric reader"
**Is your feature request related to a problem? Please describe.**
Currently, a new metric value is generated every time a span is processed. With high activity, this can generate a huge amount of data.

**Describe the solution you'd like**
It would be nice to be able to configure a measurement rate, for example a new metric every 10s.

**Describe alternatives you've considered**
I don't think the

[2022-08-25 09:36] frzifus commented on #13573
Seems to still be the case in the current release.
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/v0.58.0/internal/coreinternal/processor/filterexpr/matcher.go#L124

I could work on this.

[2022-08-25 09:55] dineshg13 commented on #2651
Hi @michalsteyn , Thanks for following. Am from Datadog, and can I confirm that we started actively working on logs support. You can expect to hear from us soon.

[2022-08-25 10:57] amitvermaa3101 opened #13641 "[receiver/postgresql] Username substituted for database name in some circumstances"
Working on project to use otel-contrin collector to scrap Linux server and Postgres metrics and export the metrics to Prometheus server

Using below config.yaml file for otel-contrib agent

extensions:
  health_check:
  pprof:
    endpoint: 0.0.0.0:1777
  zpages:
    endpoint: 0.0.0.0:55679

receivers:
  postgresql:
      endpoint: localhost:5432
      username: 'XXXX'
      password: 'XXXX'

#pro

[2022-08-25 11:08] frzifus commented on #6510
I don't really think so. Just removing the components from the receiver in release v0.61.

Maybe registering the extention as a component? Is there a document that describes what exactly has to be done for this https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/13005#issuecomment-1222446496

[2022-08-25 11:11] newly12 opened #13623 "[receiver/prometheus] partial valid histogram metrics cause entire metrics being dropped"
**Is your feature request related to a problem? Please describe.**
given histogram metrics like following, where some metrics do not contain `le` labels, the validation fails and entire metrics from this scrapping are dropped
[code]

**Describe the solution you'd like**
if possible keeps all metrics

**Describe alternatives you've considered**
Allows best-effort validation for histogram metrics, i

[2022-08-25 12:45] jpkrohling commented on #13435
@boostchicken, as the code owner for the attributes processor, what do you think about this? Perhaps some parts of it could be extracted in a public package?

[2022-08-25 12:47] jpkrohling commented on #6510
Just this: https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/CONTRIBUTING.md#adding-new-components

But it's missing the step to add the component to the manifests in the releases repository: https://github.com/open-telemetry/opentelemetry-collector-releases/blob/main/distributions/otelcol-contrib/manifest.yaml

Would you be open to sending in a PR enhancing the contribut

[2022-08-25 12:58] frzifus commented on #6510
sure, do i need to create an issue first or should i link it to this one?

[2022-08-25 13:07] jpkrohling commented on #6510
Your choice. There's no need to have a dedicated issue for that, although I like to do it as it helps me keep track of my activities.

[2022-08-25 16:03] jpkrohling commented on #2529
I'll give this a try, but I believe it should be possible to have entries without body. Could you confirm which format you used for this? Was it json, or was it "body"?

[2022-08-25 16:15] jmacd opened #13626 "Support for file-logging OTLP `Metrics/Traces/LogsData` data for experimental and research purposes"
The `exporter/fileexporter` code could easily be extended to support capturing OTLP data for research purposes, as follows.

- Add an option to `exporter/fileexporter` to encode data using a protobuf stream in OTLP batch format described in https://github.com/open-telemetry/opentelemetry-proto/pull/332
- Add an option to self-rotate log files. I have found the gopkg.in/natefinch/lumberjack.v2 API

[2022-08-25 18:02] yurishkuro commented on #13626
not sure why format-preserving would be a requirement

I think the biggest challenge with exporting data for research purposes that I encountered at two large companies is privacy concerns. The guidelines I got were: obfuscated or not, any privacy-sensitive data must not be included in public data sets.

[2022-08-25 18:06] singku commented on #2568
Transformprocess support operation like:
[code]

I believe this meet our needs.

[2022-08-25 18:06] evan-bradley opened #13629 "Request for Triager role for evan-bradley"
I would like to take on a Triager role in the Collector contrib repository.

I have been joining the SIG and triage meetings nearly every week for the past two months, have been fairly active in issues, and have created PRs in the contrib repo. I would like to get more involved by helping to triage and prioritize issues.

I meet all the requirements listed in the [community guidelines](https://git

[2022-08-25 18:21] dmitryax commented on #13629
I support!

[2022-08-25 18:21] sfc-gh-aivanou opened #13630 "fileexporter produces `Permissions Denied` when executed no k8s"
**Describe the bug**
When running `fileexporter` on k8s, I am getting the following error:
[code]
The `/data` is mounted from the host fs, with the following configuration:

[code]

Container is executed in privileged mode.

**Steps to reproduce**

My k8s resources:

[code]

**What did you expect to see?**
The pod should have access to `metrics.json` file

**What did you see instead?**
The pod doe

[2022-08-25 18:23] dmitryax commented on #13629
Let's keep the issue open for couple days to see if there are any objections.

cc @open-telemetry/collector-contrib-maintainer

[2022-08-25 19:21] crobertson-conga opened #13631 "[recievers/filelog] - key_value_parser not registered"
**Describe the bug**
The key value parser from stanza was merged in response to https://github.com/open-telemetry/opentelemetry-log-collection/issues/455

However, it was never registered, so cannot be used as an operator in the filelog parser receiver.

**Steps to reproduce**
Have a operator step in a filelog receiver that uses type key_value_parser

in your filelog reciever

**What did you expec

[2022-08-25 21:50] jmacd commented on #13626
Format-preserving helps make compression results comparable.

This is likely true in most places. Even so, it would be useful to have the plugins I described so that a customer could capture data and run diagnostic tools on them while protecting their data appropriately. For example, the benchmarks here (https://github.com/lquerel/otel-arrow-adapter/tree/main/tools) could be adapted to use data fi

[2022-08-25 22:22] TylerHelmuth commented on #13578
@dmitryax draft PR for drop function/remove if implementation: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/13632

[2022-08-26 00:26] hanjm opened #13633 "loadbalancingexporter: support metrics series hash based export"
**Is your feature request related to a problem? Please describe.**

Currently, loadbalancingexporter support traces and logs, based traceid or service, does not support metrics.

**Describe the solution you'd like**

support metrics. loadbalancing with series hash( metric name + all attribute ) and service.

[2022-08-26 01:59] kamalmarhubi commented on #9588
@csmehta if you're willing to either use Honeycomb's build or build your own with the builder, take a look at https://github.com/honeycombio/opentelemetry-collector-configs/tree/main/timestampprocessor

[2022-08-26 06:22] lihaomin1010 opened #13635 "How to load balance by trace id for tail sampling?"
@jpkrohling hi, i want to use tail sampling recently. But i maybe need multiple collector instances because of too many requests count. I see that you mentioned load balancing by trace-id, and i'm interested in your specific strategy.
Could you tell me something about it? Thanks!
By the way, i think we can keep a hash table by collector number and hash trace id to it. But it seems to be difficult

[2022-08-26 06:25] habmic commented on #13635
Hi @lihaomin1010 , you can use the "loadbalancing" exporter for that:
https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/loadbalancingexporter

[2022-08-26 06:34] lihaomin1010 commented on #13635
Great! That's  what I'm interested in.
But i found i need change my config about list of ip when i change the collector instance.

In fact, i'm an user of k8s, ip changes frequently. So do you have some ideas about it?

[2022-08-26 06:38] habmic commented on #13635
Yes, you can use DNS resolver which will return a dynamic list of ips.

[2022-08-26 07:04] lihaomin1010 commented on #13635
I hope I can describe my problem clearly and my poor English won't bother you ^-^

I think i need multiple instances for tail-sampling exporter which named collectors-TS, so i also need multiple instances for load-balancing exporter which named collectors-LB. I will use a Dns for collectors-TS in collectors-LB's config.

But if i change the ip of collectors-TS, the dns results in different instanc

[2022-08-26 09:00] lihaomin1010 commented on #13635
I found i don't need two sets of collector. Only need to config receive/exporter for two pipeline. But question is similar.

[2022-08-26 09:01] frzifus commented on #13331
Sure i can have a look.

[2022-08-26 13:54] neelayu commented on #13384
I have created a [PR 5943](https://github.com/open-telemetry/opentelemetry-collector/pull/5943) in the core repo which makes use of this tool.

[2022-08-26 13:55] yong-cha opened #13638 "Prometheus normalize_name should not convert ':' into '_'"
**Describe the bug**
Prometheus metric name supports ":", but code is converting it into "_"
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/pkg/translator/prometheus/normalize_name.go#L197

Prometheus allows ":" in metric name.
https://prometheus.io/docs/concepts/data_model/#metric-names-and-labels
[a-zA-Z_:][a-zA-Z0-9_:]*.

**Steps to reproduce**
Send metric name with

[2022-08-26 15:35] Aneurysm9 commented on #13623
I don't believe this is valid.  This is a combination of a summary (no suffix, `quantile` label) and a histogram (`_bucket` suffix, `le` label) overlapping on the `_count` and `_sum` metrics.  This is not permitted by the [OpenMetrics spec](https://github.com/OpenObservability/OpenMetrics/blob/main/specification/draft-richih-opsawg-openmetrics-01.txt#L322-L323).

[2022-08-26 15:41] pirgeo opened #13639 "[transformprocessor/TQL] Instrumentation scope attributes are not accessible"
**Describe the bug**
When using TQL in the transformprocessor, `instrumentation_scope.attributes` and `instrumentation_scope.attributes[""]` are not available, since the respective mapping functions are not implemented in the TQL contexts (https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/pkg/telemetryquerylanguage/contexts)

**What did you expect to see?**
Using `instrum

[2022-08-26 17:12] TylerHelmuth commented on #13420
/cc @Aneurysm9 @dashpole

[2022-08-26 17:20] TylerHelmuth commented on #13435
@lpegoraro would the transform processor meet your needs?

[2022-08-26 17:24] TylerHelmuth commented on #13530
@yeya24 can you open a new issue that uses the New Component template for this ask?

[2022-08-26 17:32] ryepup opened #13642 "tail_sampling drops `otel.library.name` span attribute"
**Describe the bug**

Spans that pass through a `tail_sampling` processor (even `always_sample`) have their `otel.library.name` attribute removed.

**Steps to reproduce**

Create an otel-collector configured with two receivers, one that does `tail_sampling` and one that doesn't. Send a trace to each, using `go.opentelemetry.io/otel`. I've packaged this up with docker-compose in a gist.

1. downloa

[2022-08-26 17:42] lpegoraro commented on #13435
I am looking at it now @TylerHelmuth, the solution for the attributes processor I need is to add some external data (sink id or Sink endpoint and creds) into the OTLP package, so it can be used with routing processor, to pass that information to the exporter.

I am using the Otel collector in a pretty different approach, the relationship between the metrics and the exporter is one to many.

I had

[2022-08-26 17:54] lpegoraro commented on #13435
I am looking at the Set, but could I set from the context? I am thinking on passing values in it.

[2022-08-26 18:06] TylerHelmuth commented on #13435
In the TQL, all functions always take affect on the passed ins TransformContext, which can change in between function calls if you need.

[2022-08-26 19:21] yeya24 commented on #13530
@TylerHelmuth Sure, I'd love to. This issue is mainly to gather some feedbacks first as I am not sure if someone from the Otel team would love to sponsor it.

[2022-08-26 19:22] dmitryax opened #13646 "[exporter/sumologic] Exporter mutates pdata"
The exporter mutates pdata:
- Logs: https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/exporter/sumologicexporter/exporter.go#L171.
- Metrics: https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/exporter/sumologicexporter/exporter.go#L314

 In order to avoid affecting other exporters configured alongside, the exporter has to be marked as mutating da

[2022-08-26 20:21] jpkrohling opened #13649 "Split OTLP -> Loki conversion logic into its own package"
To unify the conversion logic between OTLP and Loki on the OpenTelemetry Collector and Loki, we should split this into its package, similar to what we have for the Jaeger translator. This should be done following up on #12873.

[2022-08-26 22:10] jeromeinsf commented on #13574
Hi @neyp

Thanks for logging this feature request. Could you detail what would be the routing logic based on? How do you see it configured, a mapping metric label-endpoints?

[2022-08-27 04:15] dgoscn commented on #12591
Hello again @dmitryax. I've pushed again a commit containing the iteration to come in different way. If it is possible, can you take a look?

**link to the commit** [TestProtoBatchesToInternalTrace](https://github.com/open-telemetry/opentelemetry-collector-contrib/commit/9d99b4c6db1557329ac80957a2ca53ca3a02e852)

[2022-08-27 05:57] rehanpfmr commented on #13631
Hi, Can this be assigned to me?

[2022-08-27 20:40] GCHQDeveloper638 commented on #13573
We're experiencing this as well on the latest release (0.58.0), given a similar basic filter expression as the initial reporter
`Label("name") == "expectedValue"`.

Adding some extra error handling in the `match` function (below), it seems that the return value when this error occurs is just an empty string.

[code]

[code]

Also similar to the initial reporter, we are periodically seeing index ou

[2022-08-28 02:38] mcmho opened #13657 "Add traceparent id in the Debug log for exporter"
**Is your feature request related to a problem? Please describe.**
Log messages does not have any contextual information, such as parent trace id.   It is very hard to trace and correlate log messages.

**Describe the solution you'd like**
Add traceparent id in Debug log for exporter
for example, in _otlp.go_
[code]
// add the parent trace id in the message
// so that the message becomes
// "Trace

[2022-08-28 19:26] TylerHelmuth commented on #13629
I support!

[2022-08-29 00:18] Jaskaranbir commented on #12885
Finally had the chance to try this out. Though adding the `exception.stacktrace` attribute didnt quite work, it just adds a `/stacktrace` label in UI with clipped stacktrace text (same result as issue description).

@dashpole any thoughts on the intermediate workaround (https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/12885#issuecomment-1210018097)

[2022-08-29 13:34] djaglowski commented on #13641
You shared snippets of your configuration but it's not possible to tell which is line 19. Will you please share the entire config file or indicate which is line 19?

[2022-08-29 15:29] BinaryFissionGames opened #13656 "[pkg/stanza] Add ignore_quotes option to the csv_parser"
**Is your feature request related to a problem? Please describe.**
Some log formats are not actually CSV, but are actually some variation, where quotes have no special meaning. An example of a format that is like this is [W3C](https://www.w3.org/TR/WD-logfile.html). In these cases, quotes should be ignored, but instead can cause parsing errors (opening quote with no closing quote), even if the `la

[2022-08-29 15:30] BinaryFissionGames commented on #13656
I'll be implementing this.

[2022-08-29 15:44] jpkrohling commented on #13635
Correct, you'd ideally have two layers of collectors: one for the load balancers and one for the tail sampling. You *could* in theory, make that with two pipelines per collector, but I would advise against that: on such a setup, you likely want to isolate the layers to spread the risk.

Right now, there are no consistency guarantees, as it would require a complexity that might not be warranted. Th

[2022-08-29 16:31] pcwiese commented on #3665
The reason no events were exported before was because it wasn't clear where to put them.

There is an internal issue recorded here https://github.com/microsoft/common-schema/issues/217 which talks about where to send otel span events. Sounds like agreement converged on mapping them to AI message telemetry landing in the "traces" kusto table.

That bit of information should be enough to proceed wit

[2022-08-29 17:02] jpkrohling commented on #13331
@frzifus, I think I left this comment here thinking that it was a Jaeger-related one. If you want to take a look, feel free, but this is probably on me :-)

[2022-08-29 17:04] jpkrohling commented on #13332
Despite the title, this isn't about the Loki exporter but probably a problem with the attributes processor.

[2022-08-29 17:09] jpkrohling commented on #13642
This is tricky: we are re-assembling the spans for a trace in a new ResourceSpans object, which likely came from different sources and with differing instrumentation libraries. We _could_ reorganize things in a single pdata.Traces with several ResourceSpans inside them, one for each unique Resource+InstrumentationLibrary, but I feel like this would be highly inefficient.

I'm leaving this open so

[2022-08-29 17:40] sohampachpande opened #13661 "[receiver/mongodbreceiver]: Add lock metrics"
Enhancement
Add the following metrics for the mongodbeceiver:

| Name | Description | Unit | Type | Attributes |
| ---- | ----------- | ---- | ---- | ---------- |
| **mongodb.locks.acquire_count** | Number of times the lock was acquired in the specified mode. | {count} | Sum(Int) | <ul> <li>database</li> <li>lock_type</li> <li>lock_mode</li> </ul> |
| **mongodb.locks.acquire_wait_count** | Number

[2022-08-29 18:02] sohampachpande commented on #13661
Creating PR #13662 to add this feature enhancement

[2022-08-29 18:16] bogdandrutu opened #13690 "Feedback to improve tql package"
- [x] ExprFunc, maybe Gettter.Get, Setter.Set should all return errors I believe. I am certain for ExprFunc and Setter (for invalid type) that we should do it, not 100% for Get, but it is not bad to do.
- [x] Pass `ctx context.Contex` to all these funcs? Maybe part of the TransformContext?
- [x] Look into transform the `TransformContext` interface into a struct to avoid unnecessary allocations. I

[2022-08-29 18:22] TylerHelmuth commented on #13690
See https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/10349 for some Enums decisions.  The current implementation allows the grammar to convert EnumSymbols to int64 during startup instead of during the hot path.  Not saying the current implementation is the only way to achieve that, but I think it important that we handle Enums during parsing instead of during runtime.

[2022-08-29 18:58] TylerHelmuth commented on #13690
I plan to do something like this for https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/13545. Waiting on https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/13544 before moving forward with that refactor.

[2022-08-29 19:15] mcmho commented on #13657
@bogdandrutu   what is the reasoning of moving this to /opentelemetry-collector-contrib ?

[2022-08-29 19:48] willarmiros opened #13702 "Log Group Parsing bug in awsxrayexporter"
**Describe the bug**
In the [official AWS Docs](https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/iam-access-control-overview-cwl.html#CWL_ARN_Format), there are two valid forms of a CloudWatch Log group ARN. Today, the log group ARN parser only treats the first (without a trailing `:*`) as valid, but it should be able to handle both.

**Steps to reproduce**
Attempt to translate a log group

[2022-08-29 23:29] jaxxstorm opened #13706 "Can't export otlp trace data"
I have what I believe is a fairly simple configuration:

[code]

I'm sending data that's zipkin compatible, and I can see lots of information that the data is being processed:

[code]

It never shows up in honeycomb. What am I missing?

[2022-08-30 04:44] lihaomin1010 commented on #13635
Thanks, i Got it. We decided to run this solution in production for a while. If we need to use k8s list/watch to solve problems after a while, I am glad to contribute to the community.

[2022-08-30 04:46] lihaomin1010 commented on #13635
By the way, why don‘t you advise two pipeline? The risk of it is about memory, code bug or something else?

[2022-08-30 05:11] khyatigandhi6 opened #13727 "New component: Logicmonitor exporter"
## The purpose and use-cases of the new component
Logicmonitor exporter will send trace and log data to Logicmonitor platform (https://www.logicmonitor.com/).

## Example configuration for the component
### Configuration Options
The following configuration options are supported:

`url (required)`: The address to send logs and traces\
`apitoken` : API Token of Logicmonitor\
`headers`: Headers of PO

[2022-08-30 07:35] amitvermaa3101 commented on #13641
**Below is the config file being used:-
Note: Using the below config file to scrap server metrics and postgres DB mertrics and want to use PULL approached ...**

extensions:
  health_check:
  pprof:
    endpoint: 0.0.0.0:1777
  zpages:
    endpoint: 0.0.0.0:55679
​
receivers:
  postgresql:
      endpoint: 0.0.0.0:5432
      username: XXXXX
      password: XXXXX
      collection_interval: 60s

[2022-08-30 14:10] minopolous commented on #13552
I tried to send traces to an application insights instance using the latest collector version 0.58.0 and the azuremonitorexporter, but when I turn on debug logs I can see that the data transfer fails with http 404. (Set the instrumentation key and the endpoint url as per the connection string of the app insights instance). It appears as if this exporter and the app insights service "are not made f

[2022-08-30 14:44] Dylan-M commented on #13409
I feel like MIB support should be a part of this.

[2022-08-30 15:06] jpkrohling commented on #13635
Their usage profiles are quite different. The tail-sampling processor will keep data in memory, potentially doing extra processing. The load balancing will send data to the right backend and is mostly stateless apart from the list of backends. They can scale at different paces so that I would have them at different layers.

Nothing prevents you from having two pipelines per instance though, and if

[2022-08-30 15:43] #13656 closed

[2022-08-30 16:37] #13115 closed

[2022-08-30 16:44] schmikei commented on #13447
@manjunath-batakurki I submitted a draft PR that I think might resolve this, going to be doing some more long-form testing to try and make sure it actually resolves your issue 😄

[2022-08-30 16:47] djaglowski commented on #13641
It would be much easier to help if you render your config in a [codeblock](https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/creating-and-highlighting-code-blocks#fenced-code-blocks).

The error, `"pq: database "prometheus" does not exist"`, seems to indicate that you have successfully connected to your postgresql instance but that it does not contain a data

[2022-08-30 16:52] bogdandrutu opened #13734 "Manually update github.com/tencentcloud/tencentcloud-sdk-go/tencentcloud/common to 1.0.485"
Unfortunately dependabot-pr has a problem with long PR names.

[2022-08-30 17:32] TylerHelmuth commented on #13690
We don't have a use case for this today but I'm curious if you've got one in mind.

[2022-08-30 19:52] bogdandrutu commented on #13690
Things can be retrieved from the context (maybe?)?

[2022-08-30 20:03] #13639 closed

[2022-08-30 20:12] TylerHelmuth commented on #13690
We could do this if we stopped having a TransformContext per signal and had one struct with all the functions (`GetItem`, `GetResource`, `GetInstrumentationScope`, `GetMetric`, `GetMetrics`) to access all the data in the context.  But we would be severely reducing the usability of the package anywhere outside the collector.  So much so that if we got rid of the TransformContext interface we might

[2022-08-30 20:19] #13322 closed

[2022-08-31 00:52] newly12 commented on #12520
Thanks for the info. Closing this issue can #12724 is merged.

[2022-08-31 00:52] #12520 closed

[2022-08-31 02:22] jvilhuber commented on #10199
This was recently fixed/merged.

[2022-08-31 02:22] #10199 closed

[2022-08-31 02:23] jvilhuber commented on #10110
Merged

[2022-08-31 02:23] #10110 closed

[2022-08-31 06:57] jerryguowei opened #13744 "To Access the secret of Kubernetes when using receiver-creator"
**Is your feature request related to a problem? Please describe.**
I try to use the receiver-creator to create an elasticsearch receiver on running time.  we need the password for the `elasticserach` receiver to access  `elasticsearch` cluster. But the secret is stored in the  kubernetes secret. It looks
there is no way to access those secret. As the `pod` rule only have access to labels, annotati

[2022-08-31 07:17] amitvermaa3101 commented on #13641
HI, I am also confused why it is picking Prometheus database to connect even though no DB name is mentioned.

However , using prometheus as username to connect Postgres instance.

Please suggest, also share the details to scrap host metrics ....

[2022-08-31 11:33] davidji99 opened #13748 "[receiver/elasticsearchreceiver]: Add two cluster level metrics"
### Enhancement

Add the following cluster level metrics for the `elasticsearchreceiver`:

* `elasticsearch.cluster.pending_tasks`
* `elasticsearch.cluster.in_flight_fetch`

[2022-08-31 13:25] lpegoraro commented on #13435
The transform meet my needs, I did some testing in my local MVP here, but If @boostchicken likes this Idea, this can make AttributesProcessor more versatile.
If not we can close this.
Thanks a lot @TylerHelmuth @jpkrohling !!

[2022-08-31 13:41] antonblock commented on #13429
I think this makes sense, or alternatively running `asbenchmark` to generate some load

[2022-08-31 15:16] #10915 closed

[2022-08-31 15:25] rmfitzpatrick opened #13750 "Receiver creator should support traces and logs"
Currently the [receiver creator only supports metrics](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/eee30b0437a2e187e5312c014e886635b1301575/receiver/receivercreator/factory.go#L40). It should be able to support traces and logs receivers as well.

**Describe the solution you'd like**
Ideally the solution will involve using the same underlying receiver creator instance (ca

[2022-08-31 15:27] frzifus commented on #9113
i wonder that it fails in line `83`.
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/ea97fda88d979b29b31885bd8dc9f116ef983d5e/extension/jaegerremotesampling/extension_test.go#L83

Since the port is already allocated in line `58`.
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/ea97fda88d979b29b31885bd8dc9f116ef983d5e/extension/jaegerremotesampling/exte

[2022-08-31 16:02] djaglowski commented on #13629
I support!

[2022-08-31 16:02] balintzs opened #13751 "[processor/cumulativetodelta] Heavy memory usage of histograms"
**Problem Description:**
The Cumulative to Delta processor needs to record all numerical values of cumulative datapoints in order to calculate the difference between them. Values are stored based on their identity, which contains all resource, scope and datapoint attributes.

For histograms, the sum, the count and all bucket counts are stored as separate values. This causes huge spikes of heap mem

[2022-08-31 16:18] dehaansa opened #13752 "New component: Oracle Database Receiver"
## The purpose and use-cases of the new component
The Oracle DB Receiver would collect metrics from Oracle DB monitoring views. It would leverage a pure golang [driver](https://github.com/sijms/go-ora/tree/master/v2)  and the base sql package to execute the relevant queries. In this manner it could collect metrics about memory utilization, network usage, disk/volume IO, transactions, and more.

It

[2022-08-31 16:29] balintzs commented on #13751
Link to issue requesting histogram support in Cumulative to Delta Processor: https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/12423

[2022-08-31 16:48] oppegard commented on #13583
I believe this will be addressed in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/13419.

[2022-08-31 16:53] dashpole commented on #12885
Not right now.  If we did go that route it is likely something we would have to keep around (we wouldn't risk breaking users by deprecating it), so i'd like to give it more thought before moving forward.

[2022-08-31 17:12] djaglowski commented on #13409
The receiver would useful even without this, but it could be added later.

[2022-08-31 17:13] atoulme opened #13758 "Support the stdout operator in filelog operators"
**Is your feature request related to a problem? Please describe.**
As a user of OTel native logging, it would be very helpful for debugging and user enablement, if I could use the stdout operator in the splunk otel collector to examine the entries as they pass through various filelog receiver operators. We frequently need to create custom operators to transform log entries and it is extremely diff

[2022-08-31 17:14] atoulme commented on #13758
@djaglowski for your review

[2022-08-31 17:16] djaglowski commented on #13758
@atoulme, this was recently enabled. (See https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/13397)

[2022-08-31 17:17] #13758 closed

[2022-08-31 17:20] kentquirk opened #13759 "[pkg/telemetryquerylanguage] Change NewParser signature to have a list of Options"
**Is your feature request related to a problem? Please describe.**
We expect that that Parser object will need to change over time, and we want the signature of NewParser to be stable over time, so we would like to convert the signature of NewParser to have a variadic list of ParserOptions, each of which can modify a parser. This way, new features wouldn't require existing consumers of NewParser t

[2022-08-31 18:25] TylerHelmuth opened #13761 "[extension/headerssetter] Add more options for setting headers from the context"
**Is your feature request related to a problem? Please describe.**
There are situations where the incoming telemetry needs multi-tenant support but the incoming request does not contain the headers necessary to correctly route traffic.  Instead, it is possible that the incoming telemetry itself or an external source accessed via a processor contain the information necessary to form the correct hea

[2022-08-31 19:00] jpkrohling commented on #13761
As @bogdandrutu mentioned in the call, we have precedence about this with the client package. We use that for auth data already, and we could extend this to allow processors, and potentially other components, to set values to the context.

In a previous conversation around a similar topic, I remember @tigrannajaryan saying that this could lead to a bad user experience, as it would force users to k

[2022-08-31 19:31] dmitryax commented on #13578
As discussed during the SIG meeting, we postpone adding this functionality until we introduce multi context functionality and decide if `drop` actions should be part of transform or filter processor

[2022-08-31 21:23] tigrannajaryan commented on #13761
I had a PoC that I can't find anymore where I patched generated Protobuf messages to allow carrying PdataContext in the pipeline transparently such that it works with the batch processor correctly. I don't think regular context.Context can be made to work nicely.

[2022-08-31 23:43] evantorrie opened #13765 "[processor/k8sattributes] agent passthrough, gateway k8s.pod.ip configuration broken post v0.55.0 release"
**Describe the bug**

In an agent/gateway k8s deployment, the `k8sattributes` processor no longer correctly adds k8s metadata to the Resource associated with traces emitted by a pod elsewhere in the cluster. I suspect this may have broken due to [PR #8465](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/8465)

**Steps to reproduce**

Create a daemonset agent/deployment gatew

[2022-09-01 04:50] manjunath-batakurki commented on #13447
Thank you @schmikei I will also verify from my end and get back.

[2022-09-01 06:49] perrinj3 opened #13771 "Influxdb receiver not passing optional K6 system-tags"
When using K6 to output to the Influxdb Receiver in Opentel Collector Contrib the optional system-tags are ignored by Opentel and the default system-tags are surpressed

**Steps to reproduce**
run k6 command like this
k6 run --out influxdb=http://localhost:8086 --config "d:\k6\minimal_config.json"  "D:\k6\script_5154_apache_no_tags_1_endpoint.js"  --system-tags vu,iter

**What did you expect to se

[2022-09-01 08:44] #13629 closed

[2022-09-01 11:44] jpkrohling opened #13774 "Header setter module name should contain "extension""
I should have caught this during the review for the initial version: the header setter extension is currently named "headersetter" in the module and directory name within the "extension" package. Other components do have their types as part of the name, and this is our current convention, so, we should change this. To avoid breaking current users of that extension, we should probably just copy it

[2022-09-01 11:56] #12873 closed

[2022-09-01 12:03] jpkrohling commented on #13761
I found a PR that references your PoC: https://github.com/open-telemetry/opentelemetry-collector/pull/3745

[2022-09-01 12:04] #13395 closed

[2022-09-01 12:55] hickeyma commented on #13395
Thank you @jpkrohling for sponsoring the component and all the reviews and merges.

Thank you @cedricziel @willianpc for your contributions to the component.

[2022-09-01 14:39] evan-bradley commented on #6925
The Collector releases repo now handles building all executables and releasing an MSI installer is covered there by this issue: https://github.com/open-telemetry/opentelemetry-collector-releases/issues/157. I'm closing this issue in favor of that one.

[2022-09-01 14:39] #6925 closed

[2022-09-01 15:02] #13449 closed

[2022-09-01 15:30] #12423 closed

[2022-09-01 15:30] TylerHelmuth commented on #13751
@balintzs is this something you plan to work on?

[2022-09-01 15:33] balintzs commented on #13751
@TylerHelmuth, yes we have already started working on it.

[2022-09-01 15:45] #10912 closed

[2022-09-01 16:22] schmikei opened #13811 "[receiver/postgresql] Transition To Resource Attributes"
**Is your feature request related to a problem? Please describe.**
With v0.59.0 released, it is time to follow the transition schedule lined out in https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/postgresqlreceiver#transition-schedule

and for v0.60.0 we should default to `receiver.postgresql.emitMetricsWithResourceAttributes` to be enabled by default.

**Descr

[2022-09-01 17:41] mcmho commented on #13657
Hi @bogdandrutu @mx-psi , Can I work on this?

[2022-09-01 18:12] JonathanWamsley opened #13815 "[receiver/elasticsearch] Fix disk.io units from bytes to kilobytes"
**Describe the bug**
[Elasticsearch receiver metrics](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/c516cd6d42e22801889d7686cc69a8e29cd6dbc0/receiver/elasticsearchreceiver/metadata.yaml#L188-L197) `elasticsearch.node.disk.io.read` and `elasticsearch.node.disk.io.write` description states `The total number of kilobytes` but the unit is shown in bytes. The api/json response

[2022-09-01 18:19] evan-bradley commented on #13771
Passing the `--system-tags` flag to k6 causes it to only attach the system tags specified in the flag to metrics, which is why the default system tags do not appear in that case.

When specifying other additional system tags such as `ip` or `ocsp_status` status, I do see these tags, but only on some metrics. Can you verify whether k6 is attaching these attributes to the metrics where you expect to

[2022-09-01 18:34] dehaansa commented on #13752
As oracle support was apparently added to the generic sqlqueryreceiver, I'll try to re-write my intended receiver using that, and re-open this issue if there's a reason it isn't sufficient and can't be enhanced reasonably to meet our needs.

[2022-09-01 18:34] #13752 closed

[2022-09-01 19:09] manjunath-batakurki commented on #13447
THank you. I see that issue is not seen now. I will monitor the receiver for some more time.

[2022-09-01 19:35] evan-bradley commented on #13744
I think the way to solve this would be to use the Kubernetes secret with the password to set an environment variable in the Collector pod, then [use the environment variable](https://opentelemetry.io/docs/collector/configuration/#configuration-environment-variables) in the Elasticsearch receiver config. As I understand it, the rules provided by the receiver creator are for determining when to inst

[2022-09-01 19:37] evan-bradley commented on #13727
Just to confirm, are you proposing to contribute this as a representative of the vendor?

[2022-09-01 19:46] crobertson-conga opened #13826 "[loadbalancingexporter] Not properly batching service traces"
**Describe the bug**
New loadbalancingexporter option for grouping traces by service name is sending all traces in a block every time instead of splitting up the set of traces to those that only belong to the specific export.

**Steps to reproduce**
Use new `routing_key: service` option to start splitting up the traces by service.  Have at least 2 receiving collectors.  In the receiving collectors

[2022-09-01 19:54] crobertson-conga commented on #13826
@aishyandapalli this is an FYI, I think your new feature in regards to https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12421 has a bug in it.  I think its stemming from https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/b30f3e9e5242b8f60839a05057bea9317e1caf25/exporter/loadbalancingexporter/trace_exporter.go#L121 consuming all traces instead of just the o

[2022-09-01 20:03] evan-bradley commented on #13706
I'm not familiar with Honeycomb, but if you're seeing telemetry data in the logging exporter, it does sound like your issue is with exporting to Honeycomb. Could you update your `service` config so that it includes a `telemetry` config that enables debug logging, like so:

[code]

[2022-09-01 20:46] evan-bradley commented on #13646
Closing this as resolved by #13647.

[2022-09-01 20:46] #13646 closed

[2022-09-01 20:59] evan-bradley commented on #13631
@rehanpfmr It's yours.

[2022-09-01 21:12] evan-bradley commented on #13630
@sfc-gh-aivanou Can you run this same pod configuration with an image like `busybox` and do some interactive testing to ensure the container has the correct permissions to access the file? Nothing jumps out at me as obviously wrong, but the setup here is slightly complex.

[2022-09-01 22:01] TylerHelmuth opened #13838 "[pkg/ottl] Provide Context at Metric Level instead of DataPoint Level"
**Is your feature request related to a problem? Please describe.**
The current tqlmetrics context is based on GetItem() returning a datapoint.  This is useful for interacting with datapoints, but makes certain transformations, such as metrics aggregation impossible.

**Describe the solution you'd like**
A context at the metrics level that will have access to all the datapoints of a metric.

**Addi

[2022-09-01 22:04] TylerHelmuth commented on #13838
@dmitryax I am curious if any of the metricstransform processor scenarios require individual datapoint interactions?

[2022-09-01 23:40] jerryguowei commented on #13744
That's one option that I considered, but it does not seem to solve my problem.  We have multiple tenants in k8s environment, each tenant is deployed in a separated namespace.
Each tenant would have an isolated Elasticsearch cluster and related user credential.  The tenants are created /destroyed at runtime. We can't expose the credentials via secret  to environment at runtime.

[2022-09-02 05:03] perrinj3 commented on #13771
**Ok thanks. The behaviour is confined to the use of the  vu and iter system-tags. If I use other tags like ip it behaves as expected.
I'm now using  otelcol-contrib_0.59.0windows_amd64.tar.gz and behaviour is the same.
If I use --system-tags vu,iter --test_tag=999 and put opentel into debug logging I get the following in the OpenTel debug logging**
[code]
**In this case the user defined tag appea

[2022-09-02 05:55] rehanpfmr commented on #13631
Thanks @evan-bradley

[2022-09-02 09:39] gen-xu opened #13843 "[exporter/clickhouseexporter] Clickhouse export fail due to plog.LogRecordFlags unable to convert to UInt32"
**Describe the bug**
A clear and concise description of what the bug is.
Clickhouse export fail because clickhouse-go is unable to convert plog.LogRecordFlags into UInt32

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.
Configure clickhouse exporter with default values and send logs then the error should pop out.

**What did you expect to see?**
A clear and concise

[2022-09-02 13:07] amitvermaa3101 commented on #13641
COnfig file

´´´´
extensions:
  health_check:
  pprof:
    endpoint: 0.0.0.0:1777
  zpages:
    endpoint: 0.0.0.0:55679

receivers:
  postgresql:
      endpoint: 0.0.0.0:5432
      username: prometheus
      password: XXXXX
      collection_interval: 60s
      tls:
        insecure: true

#  hostmetrics:
#    scrapers:
#      cpu:
#      disk:
#      filesystem:
#      load:
#      memory:
#

[2022-09-02 13:09] amitvermaa3101 commented on #13641
[code]

[2022-09-02 13:23] dashpole commented on #8353
Fixed by #12987

[2022-09-02 13:40] dashpole commented on #13623
I think keeping the histogram portion of the metric seems reasonable, if we can do it.

[2022-09-02 14:34] crobertson-conga commented on #13826
So doing some more testing leads me to believe it may be due to forcibly closed connections on grpc making the LB move to the next available instance.  I will close this if it turns out to be the case.

[2022-09-02 14:53] crobertson-conga commented on #13826
Okay, so this was due to my configuration which was interrupting the grpc connection regularly.  Sorry

[2022-09-02 15:33] crobertson-conga commented on #13826
Okay after removing my batching of size one, the issue reappeared.  I had two problems, one which is resolved by not allowing connections to terminate artificially.  The other is if the traces are in a batch with multiple service names, they get get sent to all target collectors with the loadbalancer processor

[2022-09-02 17:32] #13550 closed

[2022-09-02 17:49] dmitryax opened #13848 "[receiver/dockerstats] Revisit configuration for setting attributes from container labels and env vars"
1. `container_labels_to_metric_labels` and `env_vars_to_metric_labels` names are confusing. The container labels and env var key/values are added as Resource attributes not data point attributes, which is right, but configuration names are misleading.

2. `container_labels_to_metric_labels` and `env_vars_to_metric_labels` allows users to set only known predefined set of labels or env vars. For exa

[2022-09-02 18:22] awiddersheim opened #13849 "Scraped Prometheus Metric Metadata Missing"
**Describe the bug**
We use the otel-collector to scrape metrics which have metadata about them. The best example of this is metrics that come from HAProxy's Prometheus exporter. When the otel-collector ingests these and then sends them to Prometheus using the `prometheusremotewrite` exporter, the metadata doesn't seem to make it. That said, the metadata does appear when using the logging exporter

[2022-09-02 18:59] dgoscn commented on #12591
@jpkrohling up

[2022-09-02 19:48] evan-bradley commented on #13771
Thanks for that information. After looking into it further, I can reproduce the issue, though I am not sure what to do about it. However, I believe it is either an issue with k6, or the library used to parse the InfluxDB line protocol, not an issue within the receiver itself. Here is what I have found:

From what I can tell, k6 is sending the `vu` and `iter` system tags as string-typed fields on t

[2022-09-02 20:46] rooque commented on #12759
@raphaelauv I think you are looking for this

https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/metricstransformprocessor#aggregate-labels

[2022-09-02 20:52] #12491 closed

[2022-09-03 12:44] waterfeeds opened #13855 "[exporter/elasticsearch] Support Dynamic Index?"
my opentelemetry-collector version is 0.59.0

test config in file /opentelemetry-collector-contrib/exporter/elasticsearchexporter/testdata/config.yaml
exporters:
  elasticsearch:
    endpoints: [https://elastic.example.com:9200]
  elasticsearch/customname:
    endpoints: [https://elastic.example.com:9200]
    cloudid: TRNMxjXlNJEt
    timeout: 2m
    headers:
      myheader: test
    index: myinde

[2022-09-03 19:05] tobiasvdp opened #13856 "azuremonitorexporter metrics support"
**Is your feature request related to a problem? Please describe.**
No, just a question if there are plans for this.

**Describe the solution you'd like**
Currently we still have to rely on direct azuremonitor libs to send metrics over.
We would like to trow out the vendor lock for this, and make the application unaware of cloud integrator.

**Describe alternatives you've considered**
direct lib cu

[2022-09-04 05:30] pnjha commented on #13641
I am also facing the same issue, it seems like while executing methods like `retrieveDatabaseStats`, `retrieveDatabaseSize` username is being used as the database name.

[2022-09-04 18:41] atingchen commented on #13626
can I take on this issue if no one else if working on it?

[2022-09-05 03:13] #10321 closed

[2022-09-05 03:16] florian-serraille commented on #13551
The 'enable_open_metrics' property is only available since version 0.59.0, even though it appeared in the 'main' branch.

[2022-09-05 04:51] MovieStoreGuy opened #13862 "[chrony receiver] Incorrect socket type"
**Describe the bug**
When trying to connect to chronyd via the unix socket, the wrong unix socket type was used meaning that they were unable to communicate.

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.

1. Having chronyd running on the same domain
2. configure chrony reciever to read from socket
3. run receiver

**What did you expect to see?**
A clear and conci

[2022-09-05 05:16] khyatigandhi6 commented on #13727
Yes @evan-bradley

[2022-09-05 08:11] Symbianx opened #13865 "[processor/tailsampling] SpanCount sampler makes incorrect decision on high volume of spans"
**Describe the bug**
Sometimes, the SpanCount sampler makes the incorrect decision even though there's many spans coming in for the same trace id. This is more likely to happen when there's a high volume of spans and traces coming in to the processor.

After looking at the code, it seems this might be caused by the internal batching behaviour of the processor.

**What version did you use?**
v0.54.

[2022-09-05 10:05] mx-psi commented on #10912
Glad to hear this was solved :)

[2022-09-05 10:12] mx-psi commented on #13657
I assigned this to you @mcmho, but feel free to ping me here/on the CNCF Slack if you want to work together :)

[2022-09-05 10:42] mx-psi commented on #13384
How would we add further metadata? For example, how would you indicate that an option is deprecated or if its content is sensitive? These are things that we may add in the future as struct tags/type alias and it's unclear to me how we would write down this information in the YAML format.

Barring that YAML is more intuitive to me for this, but not everyone is familiar with YAML so I don't think my

[2022-09-05 13:27] jpkrohling commented on #12591
Is there a PR containing this commit?

[2022-09-05 13:28] frzifus commented on #12591
hi @dgoscn, i had a brief look and added some comments to your commit.

[2022-09-05 13:37] dansl1982 opened #13869 "New component:"
## The purpose and use-cases of the new component

If I'm not mistaken, currently, there is no way to read `client_id` and `client_secret` from the k8s secret file in the oauth2client extension configuration. As I see, there are two options,
1. To set client_id and client_secret explicitly.
2. Environment variables https://opentelemetry.io/docs/collector/configuration/#configuration-environment-va

[2022-09-05 15:14] mx-psi commented on #9016
Should be fixed now, thanks @AndersClausen :)

[2022-09-05 15:18] hwo411 commented on #10280
It'd be great to allow specifying `attributes` and `resource` as target. For our case, we want to supply attributes from the app and currently the only possible way is to copy attributes one by one from json log, which is quite cumbersome. It'd be great if we could copy the whole dictionary to attributes.

[2022-09-05 18:51] Jaskaranbir commented on #12885
Sounds good, keeping my fingers crossed for this 🤞

[2022-09-06 02:01] MovieStoreGuy opened #13898 "[awskinesisexporter] Upgrade AWS SDK Version"
**Is your feature request related to a problem? Please describe.**
To allow future fixes to vulns and keep up to date with latest features from the SDK

**Describe the solution you'd like**
Bump version but preserve existing behaviour

**Describe alternatives you've considered**
Remaining on the original SDK is viable but holds the risk of not being patched as frequently.

**Additional context**
T

[2022-09-06 05:43] mcmho commented on #13657
sounds great @mx-psi !

[2022-09-06 11:15] tomasfreund opened #13899 "[receiver/kafka] Expose kafka message headers"
We receive data from IoT devices and route them to kafka. One of the types of data we receive is telemetry in opentelemetry protobuf format. We use kafka message headers for information like tenant id, device id etc.

Currently we need a custom kafka consumer that parses the telemetry messages and adds the info from message headers (`device_id`, `tenant_id` etc.) to the telemetry - for traces (Tem

[2022-09-06 13:55] shushenghong opened #14002 "regex_parser: resource cannot be referenced without subfield"
**Describe the bug**
regex_parser: resource cannot be referenced without subfield

**Steps to reproduce**
[code]

**What did you expect to see?**
set resource.service

**What did you see instead?**
regex_parser: resource cannot be referenced without subfield

I have to set `parse_to: resource.xxx`, and the `service` will be a property of `xxx`, and i want the `service` be a property of `resource`

[2022-09-06 14:12] #13811 closed

[2022-09-06 14:17] djaglowski commented on #13748
The cluster metric and cache metrics appear to be fairly unrelated, so please submit separate PRs for those.

[2022-09-06 14:30] #13865 closed

[2022-09-06 14:31] djaglowski commented on #13641
@amitvermaa3101, thanks for posting your config.

I've asked @schmikei to look into this.

[2022-09-06 15:40] #13734 closed

[2022-09-06 16:31] evan-bradley commented on #13727
Thanks. One of the available sponsors may volunteer to sponsor the component on this issue. Otherwise, you can request for someone to sponsor at the [Collector SIG meeting](https://docs.google.com/document/d/1r2JC5MB7GupCE7N32EwGEXs9V_YIsPgoFiLP4VWVMkE/edit?usp=sharing) which is held on Wednesdays at 16:00 UTC, or a sponsor will be selected from [the rotation](https://github.com/open-telemetry/ope

[2022-09-06 17:30] schmikei opened #13905 "[processor/transform] Nil Pointer Reference Using With Prometheus Receiver"
**Describe the bug**

Was getting this bug using the transform processor with the prometheus receiver. Appears to panic on a minimum of `convert_gauge_to_sum` and `set` queries however I believe there may be more.

I have also validated that this was not an issue in v0.58.0. I also validated that latest main appears to have this issue as well.

Error happens during the processing of metrics.

Erro

[2022-09-06 17:52] StefanKurek commented on #13409
@tamir-michaeli how is the work going? I was just wondering how close you were to releasing a first PR? I now have some time to devote to this if you need any help, so please let me know. Thanks!

[2022-09-06 18:36] #13905 closed

[2022-09-06 19:59] #10467 closed

[2022-09-06 23:24] bhs opened #13919 "Rename "TQL" (telemetry query language) for better clarity while it's still painless to do so"
Not news: there's a sensible and valuable domain-specific language (DSL) built into the OTel collector that basically takes telemetry data and transforms it into other telemetry data. All good and makes sense. 👍

The "bug" here is that the DSL in question is called the "Telemetry Query Language" (aka "TQL" – see more [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/mai

[2022-09-06 23:24] bhs commented on #13919
cc @bogdandrutu :eyes:

[2022-09-07 03:46] JaredTan95 opened #13924 "[processor/probabilisticsampler] add more mterics to probabilistic sampler"
**Is your feature request related to a problem? Please describe.**
wish to expose more metrics to observe probabilistic processor stats.

**Describe the solution you'd like**
following https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/processor/tailsamplingprocessor/metrics.go#L47

I'd like to add those. pls assign it to me. :-P

[2022-09-07 03:54] #13862 closed

[2022-09-07 05:03] #9734 closed

[2022-09-07 05:21] bogdandrutu commented on #13117
@dashpole is this a correct OpenMetrics input? Or a Prometheus? Based on https://github.com/OpenObservability/OpenMetrics/blob/main/specification/OpenMetrics.md#counter-1 we should have something like:

[code]

[2022-09-07 05:38] bogdandrutu commented on #9998
I think https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/13922 would make the memory usage go to 1/3, because we no longer need the store the attributes for initial and previous.

[2022-09-07 08:29] dmitryax commented on #13838
Yes, things like attribute renaming, dropping datapoints that match attributes

[2022-09-07 09:13] mx-psi commented on #13919
cc @TylerHelmuth

[2022-09-07 11:16] mapno commented on #9232
The component has been merged — https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/13746. Closing the issue.

[2022-09-07 11:16] #9232 closed

[2022-09-07 11:41] TylerHelmuth commented on #13919
@bhs I'm interested in hearing more on this idea. Sounds like a good topic of discussion for the SIG meeting. I'll be on PTO during the meeting on the 7th, can we discuss on the 14th?

[2022-09-07 12:16] #13551 closed

[2022-09-07 13:38] tamir-michaeli commented on #13409
@StefanKurek I manage to do some work, but not as much as i wanted (some urgent stuff came in the way), so its mostly a work in progress. I wont be available to work on it for most of next week, but can continue after that.
I created a branch in my local repo, gave you permissions in case you think its a good start.

[2022-09-07 14:17] djaglowski commented on #13547
I think the general intention here makes a lot of sense. In the long term, we can save a lot of effort and prevent inconsistencies by absorbing functionality into a shared library based on the `sqlquery` receiver.

My preference would be that we pursue the second option, for a few reasons:
1. A generic sql query receiver is valuable in and of itself. Baking in technology specific usages will compl

[2022-09-07 14:19] kuriouscoder opened #13929 "tail_sampling 'and' policy with latency and service name regex invert"
**Describe the bug**
A clear and concise description of what the bug is.
In our sampling policy, we are trying to exclude latency related traces for a specific service alone and capture for the rest.
We wrote below policy

[code]

**Steps to reproduce**
otel-collector-contrib version: 0.55.0
with below config:
[code]
**What did you expect to see?**
collector starts normally and samples traces with

[2022-09-07 14:32] JonathanWamsley opened #13930 "[receiver/elasticsearchreceiver] collect elasticsearch.cluster.state_update.* metrics"
**Describe the bug**
The elasticsearch receiver is not collecting the `elasticsearch.cluster.state_update.time` and `elasticsearch.cluster.state_update.time` correctly.

The sample payload for the `elasticsearch.cluster.state_update.*` metrics are: https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/84ec43271330c6e1bfaf5c1483042de04798fd10/receiver/elasticsearchreceiver/testdata

[2022-09-07 15:18] dashpole commented on #13117
@bogdandrutu what you pasted is valid for OpenMetrics, but not valid for prometheus.  I'm not aware of a way for us to know which format (OM vs prom) the scrape was in, so we have to choose which to handle correctly:

OpenMetrics (only one valid option):
[code]

Vs Prometheus:
[code]

Note that `# TYPE envoy_cluster_upstream_rq counter` is valid in prometheus, but is strongly discouraged, as it do

[2022-09-07 15:47] dgoscn commented on #12591
Yes, here is the PR. https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/13928
@jpkrohling

[2022-09-07 16:24] BinaryFissionGames opened #13935 "Audit unit metadata for kBy vs KiBy and similar units"
[UCUM](https://ucum.org/ucum) defines kBy as 1000 bytes, and KiBy as 1024 bytes. We should audit current locations where this is used and make sure that these are consistent (kBy = 1000 bytes, and KiBy = 1024 bytes).

We should also audit for similar units elsewhere (MBy, GBy vs MiBy, GiBy)

Currently, KBy is in use in the following receivers:
- [x] vcenterreceiver (#14108)
- [ ] nsxtreceiver

KiB

[2022-09-07 16:39] ericmustin opened #13936 "Improvements to contrib issue backlog"
At the [September 7 Collector SIG mtg](https://docs.google.com/document/d/1r2JC5MB7GupCE7N32EwGEXs9V_YIsPgoFiLP4VWVMkE/edit#), @evan-bradley requested input on how to improve the growing contrib issue backlog (753 open issues at the moment).

There was some discussion about how to improve handling issues that are vendor-specific and possibly more appropriate for a vendor support ticketing system.

[2022-09-07 16:54] djaglowski commented on #13641
Closed by #13931

[2022-09-07 16:54] #13641 closed

[2022-09-07 17:10] dmitryax commented on #13547
Thanks for sharing your thoughts. It all makes sense to me. And pretty good course of action. Another thing that we should strive for is to make sure that `mdatagen` library is always utilized to provide ability to at least disable/enable particular metrics. That can become pretty complicated if we go with the first approach. So I'm good with keeping the receivers separate and gradually trying to

[2022-09-07 17:14] bhogayatakb opened #13937 "running "mdatagen": exec: "mdatagen": executable file not found in $PATH"
When running ''go generate ./..." from hostmetricsreceiver directory
getting
[code]
I already ran `make installl-tools` & `make` at root directory

[2022-09-07 17:15] dmitryax commented on #13838
This is what's happening in metrics transform. We don't have concept of context there. There is a good helper function utilized in many places for such scenarios `rangeDataPointAttributes`.

[2022-09-07 17:15] schmikei commented on #13447
Closed by #13733

[2022-09-07 17:17] dmitryax commented on #141
@povilasv I believe functionality-wise this issue can be marked as completed. https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/12936 can be handled separately. Thanks for your help!

[2022-09-07 17:17] #141 closed

[2022-09-07 17:52] djaglowski commented on #13547
100% agree

[2022-09-07 17:53] #13447 closed

[2022-09-07 18:22] crobert-1 opened #13939 "New component: Oracle DB receiver"
## The purpose and use-cases of the new component

Oracle Database is a multi-model database management system produced and marketed by Oracle Corporation. It is a database commonly used for running online transaction processing, data warehousing and mixed database workloads. [Source.](https://en.wikipedia.org/wiki/Oracle_Database)

The Oracle DB receiver would be used to connect to Oracle DB, the

[2022-09-07 18:25] bhs commented on #13919
@TylerHelmuth the collector SIG meeting, yes? I could join for the first 30m though have a hard conflict at :30...

That being said, IMO it's better if we can briefly discuss objections and/or other ideas here where (a) it's easier for the entire community to follow and contribute to the discussion, and (b) it doesn't require an additional meeting 😅. If we hit some sort of roadblock or need a deep

[2022-09-07 18:55] dmitryax commented on #13939
Why do we need to provide support for random queries in this receiver? I believe `sqlquery` receiver should be used for that purpose. This one should be used to collect a predefined set of metrics, similar to existing mysql and postgres receiver, right?

[2022-09-07 18:59] crobert-1 commented on #13939
I left it general simply because it's possible with this design, not necessarily the best way to handle it.

We do need to define what the predefined metrics and queries should be, I'm not sure if this issue or during PRs would be the better place to have that discussion.

[2022-09-07 19:07] dmitryax commented on #13939
User config interface is something that we need to discuss upfront I believe. We don't even have to use `sqlquery` receiver as a library in the initial version, but we need to stick to the interface that we choose. Exposing the same functionality in two receivers might be confusing to user, so I'd suggest remove that part from the config. Please look at the existing` mysql` and `postgres` receiver

[2022-09-07 19:25] evan-bradley commented on #13856
Hi, thanks for your question. This should be covered by https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/13552, please follow that issue to determine whether there are plans to implement it. I'm closing this for now, please let me know if that issue doesn't cover some aspect you'd like to know about, or feel free to follow up there.

[2022-09-07 19:25] #13856 closed

[2022-09-07 19:48] evan-bradley commented on #13937
Are you able to run `make generate` in the root directory?

[2022-09-07 22:05] JonathanWamsley commented on #13815
resolved with #13816

[2022-09-07 22:05] #13815 closed

[2022-09-07 22:06] JonathanWamsley commented on #13930
resolved with #13932

[2022-09-07 22:06] #13930 closed

[2022-09-07 22:12] devrimdemiroz commented on #9232
Opentelemetry collector as of today can feed any observability platform with a simplistic form of topology information. Thanks to logz and Grafana for leading the way from spanmetrics processor up to servicegraph processor level. It was one big missing pillar among five APM pillars as defined in   [APM_Conceptual_Framework.jpg](https://en.wikipedia.org/wiki/File:APM_Conceptual_Framework.jpg) by Ga

[2022-09-08 03:05] #12069 closed

[2022-09-08 03:20] bogdandrutu commented on #13117
Thanks for the explanation, is anyone in the Prometheus ecosystem that can tell us their opinion?

[2022-09-08 03:35] dmitryax commented on #13384
Sorry, I don't understand these concerns. Can you please provide a specific example?

This documentation is intended to be used for preparing a YAML config file. So anyone who is using a collector has to be familiar with YAML anyway. Having documentation in YAML format seems the most intuitive format to me.

The workflow I would like to have as a user:
1. Copy the generated YAML config with defaul

[2022-09-08 03:47] bhogayatakb commented on #13937
Yes, and after that I was also able to run ''go generate ./..." from hostmetricsreceiver directory
Thanks @evan-bradley for quick response.

[2022-09-08 03:47] #13937 closed

[2022-09-08 04:37] MovieStoreGuy commented on #13898
:jobsdone:

[2022-09-08 04:37] #13898 closed

[2022-09-08 08:29] garry-cairns commented on #13621
I'd be interested in having a go at implementing this as a first contribution. But I'm not sure I understand the problem description at present. Reading naively, I'd expect "Currently, a new metric value is generated every time a span is processed" to mean that each count metric produced would be 1, and each histogram would have exactly one value in one bucket. That doesn't match what I see when I

[2022-09-08 11:14] minopolous commented on #13552
Thanks @evan-bradley for the labels. As it concerns me, a clarification to understand if I tried something which is not meant to work, would be sufficient.

[2022-09-08 11:50] jpkrohling commented on #13929
@mottibec, would you be interested in taking a look at this one?

[2022-09-08 12:24] mottibec commented on #13929
@jpkrohling yep, I'm on it you can assign it to me.

[2022-09-08 13:40] hanikesn commented on #13119
I can confirm this issue and we had to convert back to 0.54 as probably 2/3 off our traces didn't have k8s attributes attached.

[2022-09-08 14:09] jsanant opened #13982 "[exporter/elasticsearchexporter] Unable to use elasticsearchexporter"
**Describe the bug**
When deploying OTel Collector using [helm charts](https://github.com/open-telemetry/opentelemetry-helm-charts/tree/main/charts/opentelemetry-collector), we are running into this error:
[code]

**Steps to reproduce**
Deploy the Helm template and edit the config map to use elasticsearch as a trace exporter.

**What did you expect to see?**
The OTel Collector is up and running wi

[2022-09-08 14:09] JonathanWamsley opened #13983 "[receiver/elasticsearchreceiver] Fix client request nodeStatsPath to collect supported metrics"
**Describe the bug**
When metrics where added, a mock was done correctly but the client request path were never updated.
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/db6987e83c05080891e12ef96c1b3f394d62a9ad/receiver/elasticsearchreceiver/client.go#L85-L88

`os`, `script` should be added to the `nodeStatsMetrics`
https://github.com/open-telemetry/opentelemetry-collector-co

[2022-09-08 14:11] JonathanWamsley commented on #13983
@djaglowski Is one PR good or would you prefer 3 different PR's for the `os` , `script` and `translog` separately?

[2022-09-08 14:24] Yamakaky commented on #13621
I'm not sure what the problem is exactly. The symptom is that new metrics are generated very frequently, I assume per trace or batch. The traces are batched in upstream of spanmetrics, so maybe per batch. For now I use https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/processor/spanmetricsprocessor/v0.59.0/processor/spanmetricsprocessor/testdata/config-3-pipelines.yaml but tha

[2022-09-08 14:25] JonathanWamsley opened #13984 "[receiver/elasticsearchreceiver] Prevent non-existent metrics from being emitted"
**Describe the bug**
The `elasticsearch.cluster.state_update.time` metric payload for the `unchanged` attribute has only 2 fields, `computation_time_millis` and `notification_time_millis`
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/db6987e83c05080891e12ef96c1b3f394d62a9ad/receiver/elasticsearchreceiver/testdata/sample_payloads/nodes_linux.json#L434-L459

Yet non-existent

[2022-09-08 14:30] djaglowski commented on #13983
@JonathanWamsley, separate please

[2022-09-08 15:06] dashpole commented on #13117
I'll raise it for discussion at the prometheus working group

[2022-09-08 15:27] Yamakaky commented on #13621
I understand that solution, it just adds a delay to the ingestion pipeline which is annoying when viewing traces in real time.

In the meantime, the doc could be updated to indicate that metrics are generated per batch (if that's how it works).

[2022-09-08 15:44] pcwiese commented on #13552
Currently unsupported (doesn't mean it won't be, just no ETA yet)

Sent from my iPhone

[2022-09-08 15:48] garry-cairns commented on #13621
Sorry I missed the last paragraph in your reply. I think this will likely need an experienced contributor/maintainer to opine rather than me. My initial view would be that it may not be possible to have the spans flow through the processor pipeline and on to the exporter without also releasing them from spanmetrics—in effect publishing the metrics as a result.

[2022-09-08 17:13] pmcollins opened #13991 "Create a lightweight web app to create a collector config"
**Is your feature request related to a problem? Please describe.**
Users may find creating a YAML config for the collector to be challenging and error prone. Once they create a config, it can also be challenging to visualize data flowing through the collector and troubleshoot problems.

**Describe the solution you'd like**
A lightweight web app that provides guide rails for creating a config, bein

[2022-09-08 17:42] sumo-drosiek commented on #13765
Hi @evantorrie

I made a fix based on your suggestion, but need to reproduce issue in order to confirm the solution

[2022-09-08 17:52] evantorrie commented on #13765
Do we have any existing integration tests which set up a collector in an agent/gateway deployment in a k8s cluster?

[2022-09-08 17:54] sumo-drosiek commented on #13765
I do not know about such
cc: @dmitryax

[2022-09-08 18:25] mathnogueira opened #13994 "[processor/filterprocessor] support filtering by tracestate"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to filter spans based on a value in the `tracestate` field. I tried achieve that with the filter processor, but it doesn't support it, so I had to rely on the `tail sampling` processor instead. It would be nice to be able to use the filter instead due to it being available in the `core` package.

**Describe the

[2022-09-08 18:27] mathnogueira commented on #13994
I can open a PR for this functionality later. I just want to see if there's any reason for not implementing that functionality.

[2022-09-08 19:58] bogdandrutu commented on #13919
I understand the confusion, and I think renaming is good. Not good with names though :)

[2022-09-08 19:59] dyladan commented on #13919
This also frees up the namespace "Telemetry Query Language" if we ever decide to spec one. Currently we define a data format to push telemetry data (OTLP) but in the future we may also want to be able to pull it (TQL?).

[2022-09-08 20:20] atoulme opened #13995 "[exporter/splunk_hec] Max content length should apply to compressed content, not uncompressed content."
**Describe the bug**
The Splunk HEC exporter uses the unzipped content to check the size of the payload to send, instead of the compressed content.
The max content length configuration should apply to the zipped content when compression is enabled.

**Steps to reproduce**
Run the exporter with compression enabled and a default max content length

**What did you expect to see?**
Messages sent to HE

[2022-09-08 20:35] JonathanWamsley commented on #13983
Resolved with #13985 #13986 and #13988

[2022-09-08 20:35] #13983 closed

[2022-09-08 20:41] atoulme opened #13997 "[receiver/splunk_hec] HEC receiver maps attributes to log record instead of resource"
**Describe the bug**
In https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/splunkhecreceiver/splunk_to_logdata.go#L65 we map HEC event fields to log record attributes.
This should instead map to the resource associated with the log records.
If several events have different fields, we will need to create additional resources to match this.

This is in relation to #

[2022-09-08 20:45] atoulme commented on #12747
I have filed #13997 to follow up on this last comment, @dmitryax

I believe this issue should be closed as "Won't Fix" at this time. @overmeulen please let me know if we can help any further.

[2022-09-08 22:05] evantorrie commented on #13765
@sumo-drosiek I created a repo with instructions (and appropriate files) to reliably reproduce the problem of Resources failing to get augmented with k8s metadata. Reproduction instructions demonstrate it working with opentelemetry-collector-contrib:0.54.0, but failing as soon as it's upgraded to opentelemetry-collector-contrib:0.55.0

[2022-09-08 22:30] crobert-1 commented on #13939
I'm not sure exactly what you mean by this. Is it one of these? Something else?
1. Are you saying I should define all of the metrics in this proposal that the receiver will be emitting? (Essentially defining here the contents of the `metadata.yaml` file consumed by `mdatagen`?)
2. Are you saying the config should include the option to enable/disable metrics (like the `postgres` and `mysql` receive

[2022-09-09 02:51] perrinj3 commented on #13771
Thanks for that investigation. I contacted K6 and they advised me to use the environment variable
 ``` K6_INFLUXDB_TAGS_AS_FIELDS = "" ```
This changed the iter and vu tags to numeric type and they are now accepted by the Opentelemtry collector.

[2022-09-09 02:51] #13771 closed

[2022-09-09 04:03] bhs commented on #13919
Yeah, I harbor some anxieties about increasing OTel's scope to include the analytical side of observability (slippery slope, etc), but def agree that any sort of "QL" will make people think "pull+analyze".

[2022-09-09 06:09] sumo-drosiek commented on #13765
@evantorrie It helped a lot. I confirm that after the fix, the output looks like the following way:
[code]

image is available as:

[code]

if you want to test it on your own

[2022-09-09 07:04] overmeulen commented on #12747
Thanks @atoulme I went with groupbyattr processor as proposed by @dmitryax

[2022-09-09 07:45] nguyenhoaibao commented on #9018
@albertteoh I'm using v0.59.0 but still seeing this issue.

[2022-09-09 07:59] AloisReitbauer commented on #13919
I also agree that the query name is confusing for a transformation language.

On the topic of a dedicated "query language". Given there are semantic conventions available it would be possible to define the query language. Right now access to data is a very vendor/implementation specific and provides a lot of lock in. Once you have started to use one query provide it is almost impossible to switch.

[2022-09-09 08:26] songjiayang commented on #5192
hi everyone, I use [prometheusreceiver](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/prometheusreceiver)  to scape a prometheus exporter with exempalrs metrics.

when I use  prometheusremotewriter exporter to push them to mimir (tsdb backend), I find the exemplars data had been dropped.

The Prometheus remote wirte has [SendExemplars](https://github.com/prom

[2022-09-09 09:59] satwika007 commented on #13929
We noticed that this pull request is addressing our issue - https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/11505. Can you please take a look @mottibec ?

[2022-09-09 10:01] Aanap opened #14004 "Prometheus receiver relabel config for controlling scrape targets is not working as documented"
I have set up prometheus receiver in the OTEL agent yaml where I only want to scrape pods that have pod annotation, prometheus.io/scrape: "true" set. However, if I have a pod with either the annotation set with a different value, eg prometheus.io/scrape: "false" or even where the annotation has not been applied, metrics from those pods are still being scrapped. Therefore, in essence I am unable to

[2022-09-09 10:40] gbbr opened #14005 "exporter/datadogexporter: add support for infrastructure metrics"
Currently, the infrastructure metrics are not visible in the Datadog application when using the Datadog Exporter component. This is because of an inconsistency between the host metrics attribute names and the Datadog infrastructure metrics. It would be nice if support for them could be added by mapping them correctly.

[2022-09-09 11:50] ThaiDangFr opened #14006 "sigv4auth assume_role => bad AWS credentials error"
**Describe the bug**
I followed the tutorial here (https://docs.aws.amazon.com/eks/latest/userguide/deploy-deployment.html) and it works well when the prometheus remote write is on the same account than the EKS
Now I have a separate account for EKS and Managed Prometheus, so I need to assume a role to be able to write to the prometheus remote write. I used this yaml https://raw.githubusercontent.c

[2022-09-09 12:30] albertteoh commented on #9018
Are you able to share your otel collector config and stack trace of the error please, @nguyenhoaibao

[2022-09-09 12:37] dashpole commented on #5192
What version of the collector are you using?  Unfortunately, exemplar support in the prometheus receiver was just reverted, so that will need to be reintroduced before that scenario will work.

[2022-09-09 13:21] kentquirk commented on #13919
I've been around long enough to remember when TTL stood for Transistor-Transistor Logic and was the standard for digital integrated circuits. :) But even though I'm not personally bothered by TQL, I would support the idea of renaming it to Telemetry Transformation Language (TTL) instead.

[2022-09-09 13:29] BinaryFissionGames opened #14008 "[receiver/mongodbatlas] Scraping logs fails for version 4.2 clusters"
**Describe the bug**
MongoDB Atlas supports a range of cluster versions, with the lowest version being 4.2. This version does not share the same JSON log format as the other versions; It uses an unstructured log format (see: https://www.mongodb.com/docs/v4.2/reference/log-messages/). This causes scraping to fail, as the log message cannot be parsed.

**Steps to reproduce**
Attempt to scrape any 4.

[2022-09-09 13:58] sweetxiaodai opened #14009 "Instana exporter didn't work properly."
**Describe the bug**
The collector send data to Instana backend got an error message and instana backend cannot detect the trace.
Please check the attached image.
Sender failed {kind: process, name: batch,pipeline,traces,error: failed to send a request: Post http://10.x.x.x:1444 bundle
HTTP/1.x transport connection broken: malformed HTTP response.

**Steps to reproduce**
If possible, provide a rec

[2022-09-09 14:21] evan-bradley commented on #13935
@BinaryFissionGames Do you plan to work on this?

[2022-09-09 14:32] BinaryFissionGames commented on #14008
I'll be taking a look at supporting 4.2.

[2022-09-09 14:32] evan-bradley commented on #13936
I think this would make a lot of sense. Even starting with a link to a support resource (email address, link, forum, etc.) in the README.md file for vendor-specific components could go a long way to providing users with a reliable path to resolving their issue. An automation or note in the issue templates (or both) that makes the user aware of this point of contact when opening an issue would like

[2022-09-09 14:47] dyladan commented on #13919
A PR is likely going to touch a lot of files. I think it's probably smart to settle on a name before going into that level of work.

[2022-09-09 15:07] jpkrohling commented on #14009
cc @hickeyma

[2022-09-09 15:10] frzifus commented on #10368
For me it looks like there is something wrong in this area. Unfortunately ive no emulation or windows machine in place.

@dgoscn would you like to give it a try?

https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/ed4cafc263667b8b57436e6413d83e9caf2cb2d7/internal/common/testutil/testutil.go#L42-L57

[2022-09-09 15:12] jpkrohling commented on #13991
This might be related to: https://github.com/open-telemetry/opentelemetry-collector/pull/5943

I would prefer to have a CLI tool first, to be honest.

[2022-09-09 15:14] jpkrohling commented on #13919
Given this was born as part of the transform processor to let users express how to change the incoming data points, how about something like "Transformation Expression Language"?

[2022-09-09 15:20] bboreham commented on #8353
This should be re-opened, as #12987 was reverted in #14000.

[2022-09-09 15:31] hickeyma commented on #14009
@sweetxiaodai Looks like you are using HTTP instead of HTTPS. Can you retry with HTTPS instead.

[2022-09-09 15:57] evan-bradley commented on #13982
Hello, thanks for the detailed information. The `traces_index` config key was just added two days ago in this PR: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/10180. It will not be available in a published Docker container until the next release. To use it before the next release, you will need to build an image from the `main` branch and use it in the Helm chart [like th

[2022-09-09 16:19] JonathanWamsley opened #14012 "[receiver/elasticsearchreceiver] Add metric versioning checks before emitting on newer metrics"
**Describe the bug**
Elasticsearch supports version 9.7+ but some metrics were introduced at a later version(i.e. 9.10, 9.13). The current implementation has elasticsearch emitting 0 values for these metrics even if they are not supported when ran on 9.7. I proposed 3 pr's:

- [x] a new method to get the elasticsearch version via `curl http://localhost:9200/` which would produce
[code]
- [x] a ver

[2022-09-09 16:24] evan-bradley commented on #13919
Another alternative could be "Telemetry Processing Lanugage" (or "Telemetry Processor Expression Lanugage" or similar), which covers a few [use cases](https://github.com/open-telemetry/opentelemetry-collector/blob/main/docs/processing.md#use-cases-for-processing) described in the Processor Exploration document. This could cover aspects outside transformation, including filtering, enrichment, and r

[2022-09-09 16:26] codeboten commented on #13919
OpenTelemetry Transformation Expression Language or OTEL?

[2022-09-09 16:32] dashpole commented on #14004
Make sure you escape $ with $$ in the collector config (i.e. replacement: $$1:$$2

[2022-09-09 16:50] dyladan commented on #13919
OTelTEL?

Is this language ever meant to be used outside the collector? I like Telemetry Expression Language the best so far. It also gives a good short name of "telemetry expression" to refer to a telemetry expression language snippet.

[2022-09-09 16:50] JonathanWamsley commented on #13984
Resolved with #13996

[2022-09-09 16:50] #13984 closed

[2022-09-09 16:54] evan-bradley commented on #13530
@yeya24 If you open a new issue with the New Component template, it would make it easier for potential sponsors to review your proposal and determine who might be able to sponsor it.

[2022-09-09 17:12] dashpole commented on #13548
This seems really great to do, but I'd like to understand more.  What does the return value actually do here, and why does 0 result in no caching?

[2022-09-09 17:13] evan-bradley commented on #13706
@kentquirk Could you look at this?

[2022-09-09 17:16] evantorrie commented on #13765
Yes.  Works for me!

[2022-09-09 17:19] codeboten opened #14014 "add triaged label"
The current triaging process adds various labels, but it's difficult to determine if an issue has been triaged with many labels being used. The proposal here is to add a `triaged` label to make it clear that an issue has been looked at.

[2022-09-09 17:19] codeboten opened #14015 "consolidate discussion labels"
There are currently two labels: `needs-discussion` and `discussion-needed`. These should be consolidated into one.

[2022-09-09 17:23] bryan-aguilar commented on #14006
Is the `adot-collector` service account using an an IAM Role setup using the clusters OIDC Provider? For reference see this [doc](https://aws.amazon.com/blogs/containers/cross-account-iam-roles-for-kubernetes-service-accounts/).

If IRSA is set up as linked above could you try with a collector configuration that does not use the `arn` field in the `sigv4auth` extension.

[2022-09-09 17:23] codeboten commented on #13575
Closed by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/13938

[2022-09-09 17:23] #13575 closed

[2022-09-09 17:26] evan-bradley commented on #12782
@lchopfpt It sounds like the above should resolve your issue. I'm closing this for now, if this doesn't fix your issue please re-open this.

[2022-09-09 17:26] #12782 closed

[2022-09-09 17:28] #14015 closed

[2022-09-09 17:31] dyladan commented on #12763
Glad to hear my suggestion worked. In terms of system overhead, I don't know the answer to your question but it would likely not be too hard to test. My suspicion would be that there is at least some memory overhead as I believe the pdata objects are not shared between pipelines, but the cpu overhead of running 4 modules across 2 pipelines shouldn't be too different than those same 4 modules in a

[2022-09-09 17:31] dyladan commented on #12763
@open-telemetry/collector-triagers I think this issue can likely be closed as the original problem has been solved.

[2022-09-09 17:56] austinlparker commented on #13919
I don't hate telemetry expression language. Quick google seems like we'd have pretty clear air cover in terms of defining it and ranking well.

Only real "confusing" part I could think of would be people thinking of it like regular expressions, but maybe that's not the _worst_ thing given its purpose?

[2022-09-09 18:47] dmitryax commented on #13939
If `metadata.yaml` and run `make generate`, you get all the helpers to record datapoints and configuration interface to enable/disable particular metric which is handled by the generated code

[2022-09-09 19:38] BinaryFissionGames commented on #13935
@evan-bradley Yes, you can assign me to this issue.

[2022-09-09 20:00] #12763 closed

[2022-09-09 20:23] dmitryax commented on #9001
Another one https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/8277766214?check_suite_focus=true

[2022-09-09 20:24] dmitryax commented on #3155
Another instance https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/8277763627?check_suite_focus=true

[2022-09-09 20:27] evan-bradley commented on #34
The requirements for new components are described [in the CONTRIBUTING.md file](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/CONTRIBUTING.md#adding-new-components), and existing components meet most if not all of these requirements. I'm closing this issue for now, feel free to reopen it if there's anything else that we would like to do here.

[2022-09-09 20:27] #34 closed

[2022-09-09 20:41] evan-bradley commented on #2021
Closing as resolved by #2384.

[2022-09-09 20:41] #2021 closed

[2022-09-09 20:48] dmitryax opened #14020 "[receiver/googlecloudspanner] Flaky test TestItemCardinalityFilter_Filter"
https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/8278045465?check_suite_focus=true

[code]

[2022-09-09 22:09] oppegard commented on #13417
@keep94 looks like you can close this now that #13419 is merged?

[2022-09-09 22:11] oppegard commented on #13583
@evan-bradley @bogdandrutu: this should be fixed in #13419. Can someone with permissions close this?

[2022-09-09 22:30] #13417 closed

[2022-09-09 23:06] dgoscn commented on #10368
Yes @frzifus of course. Thanks

[2022-09-09 23:29] #13583 closed

[2022-09-10 04:49] jsanant commented on #13982
Hey @evan-bradley!

Yes, we saw the PR after we raised the issue, will wait for the next release cycle. Thanks!

[2022-09-10 04:49] #13982 closed

[2022-09-10 22:26] BT-22 commented on #7781
Hi @willarmiros Just to mention that I verified the fix with the v0.21.1 AWS OTel Collector.
I recorded an exception without setting the span in error status, and the trace includes the full stack trace.

Not sure if https://aws-otel.github.io/docs/getting-started/x-ray#configuring-the-aws-x-ray-exporter can use some adjustments, because after the fix, span status no longer matters in term of capt

[2022-09-10 23:09] #14006 closed

[2022-09-11 12:10] atingchen commented on #13626
@jmacd Could you help review?Thank you.

[2022-09-11 18:04] anuragagarwal561994 opened #14026 "Inheritable Attribute"
**Is your feature request related to a problem? Please describe.**
This is somewhat related to a feature requirement as stated here:
https://github.com/open-telemetry/opentelemetry-specification/issues/1337

Sometimes we want to track spans relatable to specific business use case like `customerId`, `userId` etc.

If we would like to use `SpanMetricsProcessor` and aggregate metrics based upon these

[2022-09-12 03:05] davidji99 opened #14027 "[receiver/elasticsearchreceiver]: Add node level metric for cache count"
### Enhancement

Add the following node level metrics for the `elasticsearchreceiver`:

* `elasticsearch.node.cache.count`

This metric will have an attribute for the `query_cache_count_type`.

[2022-09-12 08:17] Aanap commented on #14004
I have tested with $$ and I am still having the same issue. Updated yaml is as below:-
[code]

[2022-09-12 09:55] mx-psi commented on #13384
Okay, you have convinced me that this makes the most sense :)

For the 'further metadata' question, I guess we can just append the info to a comment. For example, if we have an `awesomevendor` exporter with a deprecated and sensitive `token` field, we could eventually have something like this:

[code]

[2022-09-12 10:38] mx-psi commented on #14014
An alternative is to add a `needs-triage` label by default in the issue templates, and remove it once it's triaged

[2022-09-12 11:00] khyatigandhi6 commented on #13727
As per the discussion in the last SIG meeting, sponsor will be selected from rotation.

[2022-09-12 14:15] nunojca opened #14030 "FluentForward Receiver to support Secure Forward (TLS)"
We are using FluentBit to collect logs from our applications and then sending to Otel Collector via FluentForward. The problem we have today is that the OtelCollector FluentForward Receiver doesn't support Secure Forward (TLS) and this is an issue from a security perspective.

I'm opening this issue to improve the existing [OtelCollector FluentForward Receiver](https://github.com/open-telemetry/op

[2022-09-12 14:16] nunojca commented on #14030
I'm tagging @jpkrohling on this issue because we have been discussing this topics before.

[2022-09-12 14:50] #13748 closed

[2022-09-12 14:59] #14027 closed

[2022-09-12 15:29] bhs commented on #13919
So in terms of alternative names, these are the suggestions we've seen in this thread thus far:
* "Transformation Expression Language" (TEL)
* "OpenTelemetry Expression Language" (OTelEL?)
* "OpenTelemetry Transformation Expression Language" (OTelTEL)
* "OpenTelemetry Transformation Language" (OTTL)
* "Telemetry Transformation Language" (TTL)
* meta-option: do nothing / "Telemetry Query Language"

[2022-09-12 16:01] codeboten commented on #14014
@mx-psi i like this idea. This would require adding a github action to ensure all new issues receive the label (including the ones not created via a template) correct?

[2022-09-12 16:07] bryan-aguilar opened #14031 "[extension/sigv4auth] aws credential error messages are vague"
The sigv4 extension [returns](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/aa298997cb19718ee267fdc7f969573a594698f2/extension/sigv4authextension/config.go#L53) a generic error message when a step in establishing valid credentials fails. This also removes any error message that is generated by the `aws-sdk`. It would be a nice enhancement if this error message could provid

[2022-09-12 16:08] djaglowski opened #14032 "[receiver/hostmetrics/disk] When running on windows, receiver crashes collector when perf counter is unavailable"
**Describe the bug**
Running on Windows, the collector fails to start up [if the "LogicalDisk" performance counter is not available](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/aa298997cb19718ee267fdc7f969573a594698f2/receiver/hostmetricsreceiver/internal/scraper/diskscraper/disk_scraper_windows.go#L105).

**Steps to reproduce**
Run collector w/ a user that does not have

[2022-09-12 18:07] djaglowski commented on #14032
cc @dmitryax

[2022-09-12 18:37] djaglowski commented on #14002
Related to https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/10280, in which it was also suggested that this should be possible.

[2022-09-12 18:40] jpkrohling commented on #13919
I'm with @dyladan's Telemetry Transformation Language.

[2022-09-12 19:25] jpkrohling commented on #14030
@dmitryax, do you know if there's a reason for this receiver not to use the HTTP Server Settings? I understand it might support other protocols than HTTP, but perhaps the code could just ignore the other HTTP server settings based on the protocol

[2022-09-12 19:40] jspaleta opened #14084 "Enhance hostmetrics receiver process scraper to bring it closer to parity with telegraf procstat provided metrics"
**Is your feature request related to a problem? Please describe.**
Found while migrating from telegraf based collection to otelcol, several process metrics are missing in the otelcol hostmetrics process scraper.

**Describe the solution you'd like**
Implement additional metrics in the hostmetrics process scraper to bring metrics coverage closer to parity with telegraf procstat. All the missing met

[2022-09-12 19:43] jpkrohling commented on #13936
I'm sorry I'm missing something obvious, but what problem are we handling here? Is it only about the number of issues we have? If people think this repository is the best for their issue, isn't that an indication that other users would think the same?

I would rather have a bunch of open items here that can be bumped from time to time by users facing the same problem than send people to other syst

[2022-09-12 19:46] jpkrohling commented on #9001
Pinging code owners: @Aneurysm9 (1st ping), @mxiamxia (2nd ping)

[2022-09-12 23:59] songjiayang commented on #5192
@dashpole sorry replay late,  I used container with tag `0.59.0`, confirm not support yet.

[2022-09-13 01:37] #12747 closed

[2022-09-13 07:17] mx-psi commented on #14014
@codeboten I think you can just add it on the `labels` field of issue templates (e.g. alonside `bug` [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/.github/ISSUE_TEMPLATE/bug_report.md)) without using an action

[2022-09-13 09:08] aboguszewski-sumo opened #14095 "[receiver/apache] add support for more metrics"
**Is your feature request related to a problem? Please describe.**
Sumo Logic app for Apache httpd server uses metrics that are not scraped by the `apachereceiver`. The exact list of metrics can be found at the bottom of the post.

**Describe the solution you'd like**
The support for these metrics can be added by modifying `metadata.yaml` and generating code with `mdatagen` for new metrics.

**Add

[2022-09-13 13:26] djaglowski opened #14098 "[exporter/influxdb] Component is unmaintained"
See https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12794#issuecomment-1233283836

According to our plan for deprecating components, those that have [no active code owner for 6 weeks should be marked as unmaintained](https://github.com/open-telemetry/opentelemetry-collector#unmaintained).

[2022-09-13 13:28] djaglowski opened #14099 "[receiver/influxdb] Component is unmaintained"
Related to #14098

This component is owned solely by the same inactive contributor. According to our [guidelines](The corresponding receiver is also owned by the same inactive code owner, so I believe it should ), this component also does not have an active code owner and should therefore be marked as unmaintained.

[2022-09-13 14:16] evan-bradley commented on #13936
The overall goal of this issue is to collect ideas on improving the organization and turnaround time of issues in the backlog. Ideally this would also reduce the number of open issues as a side effect.

The intent behind the suggestion made by @ericmustin is to reduce the resolution time on issues with vendor-specific components. In cases where the code owners are not responsive or are not experts

[2022-09-13 14:21] jpkrohling commented on #13936
Can we start small, perhaps with just labels with vendor names on them? Like `vendor:lightstep` or `vendor:grafana`? I've seen one such issue today where this could have been applied already. If the vendor decides that it's better to create a ticket on their side, they can propose that as part of the issue and close it.

[2022-09-13 15:06] djaglowski commented on #13936
+1 to starting small. I'm all for increasing clarity and organization of the backlog, but we should first clearly articulate the problem(s) we need to solve. Then we should look for solutions within the repo's current management framework (primarily GitHub).

On the issue of vendor-specific components - do we believe that these are not being sufficiently maintained by vendors _because of a problem

[2022-09-13 15:16] TylerHelmuth commented on #13919
I'm gone for a week and miss out on all this discussion; choosing a name always brings everyone together 😄.

I am ok changing the name.  My choice would also be Telemetry Transformation Language (TTL).

With the current implementation of TQL: yes.  The package itself is designed to be usable with any Context and functions, so it does support transforming any type of data.  This was the original au

[2022-09-13 15:27] TylerHelmuth commented on #13936
We can also try to lean on our Unmaintained and Deprecated statuses? If issues are getting worked, we're supposed to be updating components accordingly.

If the vendor isn't responding to pings and we mark their component unmaintained, that feels like the "next step" of escalation.

[2022-09-13 15:53] #14099 closed

[2022-09-13 16:06] #14008 closed

[2022-09-13 16:32] #14098 closed

[2022-09-13 16:39] djaglowski commented on #14032
The load and paging scrapers also appear to error during start, if an expected counter is not available.

[2022-09-13 17:54] jmacd commented on #13626
Thank you @atingchen!

[2022-09-13 17:57] TylerHelmuth commented on #13838
I'll need to keep iterating on how to handle this then.  If we need to be able to interact with an individual DataPoint at the same time (with in the same function/group of functions) that we interact with the metric/DataPointsSlice then we'll need to do some rearchitecting.

[2022-09-13 18:06] #14031 closed

[2022-09-13 18:17] evan-bradley commented on #14084
Thanks for the detailed report. I know that metrics 6 and 7 in your list will be added in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12972.

[2022-09-13 18:57] evan-bradley commented on #4759
SHA-1 is still used in `internal/coreinternal/attraction/hasher.go`, which is used for the `hash` action by both the attributes processor and the resource processor.

[2022-09-13 19:01] dmitryax opened #14107 "[processor/filter] Add ability to filer by metric type"
### Is your feature request related to a problem? Please describe.

Currently it's impossible to filter metrics by specific type

### Describe the solution you'd like

Add MetricType support to filtering expression

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-09-13 19:40] paychex-ssmithrand commented on #13642
As a workaround, is there a processor that can access the InstrumentationScope information and set it as an attribute on each individual Span *before* the span gets to the Tail Sampling Processor? We, for example, are reliant on Instrumentation Library information in order to classify the Span in a custom exporter component we've developed.

[2022-09-13 19:43] mcmho commented on #13657
Thanks for all the slack chats @mx-psi!     @pavankrish123

Maybe I am too new to this...  I don't really understand why a simple debug message change needs to go into /opentelemetry-collector-contrib?

Does it mean there has to be a module /opentelemetry-collector-contrib/exporter/otlphttpexporter/otlp.go  just to change a log message?    that seems overkill.   i am sorry, i don't get it.

[2022-09-13 20:03] JonathanWamsley commented on #14012
resolved with #14021 and #14104

[2022-09-13 20:03] #14012 closed

[2022-09-13 21:16] rogeriospinaintelipost opened #14113 "[exporter/loki] Auto replace labels with dot to underscore"
### Is your feature request related to a problem? Please describe.

Loki doesn`t accept labels that contains dots, so I have to duplicate my attributes via processors copying the value from attribute with dot to other attribute with underscore.

Ex: ``` host.name ``` copy to -> ```host_name```

[code]

### Describe the solution you'd like

Would be nice if the str replace happens automatically by

[2022-09-13 21:51] christiandornerintelipost commented on #12645
Hi @gouthamve , did you have any feedback about this issue? Having the same problem here

[2022-09-13 22:08] #14014 closed

[2022-09-13 23:32] jspaleta opened #14117 "Enhance hostmetrics receiver filesystem scraper to bring it closer to parity with telegraf disk plugin provided metrics"
### Is your feature request related to a problem? Please describe.

Found while migrating from telegraf based collection to otelcol, several equivalent metrics are missing in the otelcol hostmetrics filesystem scraper.

### Describe the solution you'd like

Implement additional metrics in the hostmetrics filesystem scraper to bring metrics coverage closer to parity with telegraf disk plugin. All t

[2022-09-14 11:50] bvsk2022 commented on #12645
We are seeing the same issue when we use Prometheus exporter to export the metrics from otel collector. Also, when we enable resource_to_telemetry_conversion flag, we are seeing these errors described [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/10374) along with the errors mentioned above. Any help is appreciated.

[2022-09-14 12:20] tamir-michaeli commented on #13409
@StefanKurek Im available.

[2022-09-14 14:53] schmikei opened #14121 "[receiver/mongodbatlas] Retrieve Alerts Data Through Firewall"
### Is your feature request related to a problem? Please describe.

The MongoDB Atlas receiver currently can collect alerts via `webhooks`. This doesn't work for all customers as they may not be able to open a port in the firewall to accept incoming alerts.

We should add an alternative that allows us to scrape the [API for Alerts](https://www.mongodb.com/docs/atlas/reference/api/alerts-get-all-al

[2022-09-14 14:53] schmikei commented on #14121
I will be taking a look at addressing this

[2022-09-14 14:58] #13765 closed

[2022-09-14 15:46] Aneurysm9 commented on #13919
I think I would prefer `Telemetry Expression Language`.  I think it is useful for more than just transformation and the name should reflect that.

[2022-09-14 15:55] StefanKurek commented on #13409
@tamir-michaeli Hello. I have had a few things come up this week, so I am also not as far along as I would have liked, but I do currently have scalar OID metrics with attributes working. I have my work currently in a branch called `stefan-snmp-receiver` on your fork if you'd like to take a look. I also wrote up a loose plan of work that remains to be done.

I private messaged you on the Cloud Nati

[2022-09-14 15:58] bogdandrutu commented on #13919
Preference `OpenTelemetry Transformation Language (OTTL)`. @TylerHelmuth it is opentelemetry specific since it works on top of otel concepts (resource, scope, etc.)

[2022-09-14 16:14] codeboten opened #14122 "Document new rule for collector core/contrib, of not implement any specification before it gets released"
### Describe the issue you're reporting

As discussed in Sept 14th SIG call, this should be added to the contributing document.

[2022-09-14 16:15] codeboten commented on #13919
Please vote:
    "Transformation Expression Language" (TEL) 👍🏻
    "OpenTelemetry Expression Language" (OTelEL?) 🎉
    "OpenTelemetry Transformation Expression Language" (OTelTEL) 🚀
    "OpenTelemetry Transformation Language" (OTTL) 🚢
    "Telemetry Transformation Language" (TTL) 🥇
    meta-option: do nothing / "Telemetry Query Language" (TQL) 🔕

[2022-09-14 16:25] jpkrohling commented on #13642
Could you check whether the transform processor can read the instrumentation scope?

[2022-09-14 17:00] avishefi opened #14124 "Jaeger exporter marking traces with unknown sampling type"
**Describe the bug**
The OpenTelemetry Collector demo sends OTLP to the collector and from there an exporter is defined to send traces to Jaeger. Spans and traces reach to Jaeger based on debug logs and Jaeger metrics which keep increasing. However, the traces have a sampling type "unknown" in Jaeger which do not appear in the Jaeger query UI.

**What did you expect to see?**
Traces appear in Jaeg

[2022-09-14 17:02] bogdandrutu commented on #13919
@TylerHelmuth @codeboten looks like we have a winner, OTTL :)

[2022-09-14 17:03] TylerHelmuth commented on #13919
I will start the MASSIVE PR to switch the name lol

[2022-09-14 17:07] ericmustin commented on #13936
@djaglowski Not a hill i'm interested in dying on but i do genuinely feel there are gaps for effectively handling open issues that are vendor specific, and over time these gaps have led to many open issues that probably ought to be closed, which would help reduce the 756 issue backlog. There are two areas where I see this.

- One, user issues _being triaged_ in an open issue that would be better s

[2022-09-14 17:11] bogdandrutu commented on #13919
"OpenTelemetry **Transform** Language"?

[2022-09-14 18:20] #14107 closed

[2022-09-14 18:31] djaglowski commented on #13936
@ericmustin I fully agree with the general notion of improving our backlog. I mostly just want us to be specific about what we are trying to fix, so I appreciate that you've articulated some details.

Again, I'm of the mind that we need to provide vendors with _sufficient means to maintain their components responsively_, so I'm looking at these examples from that point of view. To me, I don't see

[2022-09-14 18:46] djaglowski commented on #13377
Typically, when evaluating whether or not to support a technology specific feature like this, we need to first establish whether or not the problem can be solved by configuration. In this case, I believe it can (see [example](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/b82684c196d9ecc53babdbd4f25d4424c93b3323/examples/kubernetes/otel-collector-config.yml#L22)).

Assuming

[2022-09-14 19:23] TylerHelmuth commented on #13936
I will also add that the triaging (and then working) issues for components related to a vendor product when the vendor isn't the owner of the component is one of the major reasons these components struggle to get sponsors.  Vendor specific components without a vendor sponsor struggle because users don't realize the vendor isn't supporting the component like the name might imply.  In these situatio

[2022-09-14 19:30] evan-bradley commented on #12338
@schmikei It looks like all the metrics listed in this issue have been addressed in the split-off issues. Can this be closed?

[2022-09-14 19:34] jpkrohling commented on #14124
@frzifus, can you take this one?

[2022-09-14 19:36] schmikei commented on #12338
Sure thing 👍

[2022-09-14 19:36] #12338 closed

[2022-09-14 19:46] evan-bradley commented on #12290
Closing #12290 as completed via #12637.

[2022-09-14 19:46] #12290 closed

[2022-09-14 19:58] evan-bradley commented on #12174
@djaglowski Should this issue be moved to [opentelemetry-go-build-tools](https://github.com/open-telemetry/opentelemetry-go-build-tools/) now that chloggen is hosted there?

[2022-09-14 20:04] mcmho commented on #13657
I had a discussion with Pablo @mx-psi.   He agrees that we should move this back to /opentelemetry-collector.
Who has the privilege to move it back?

[2022-09-14 20:07] evan-bradley commented on #12173
Closing #12173 as completed via #10860.

[2022-09-14 20:07] #12173 closed

[2022-09-14 20:17] dashpole commented on #11436
This was fixed by https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/pull/440

[2022-09-14 20:25] #11436 closed

[2022-09-14 20:26] #9716 closed

[2022-09-14 20:32] djaglowski commented on #12174
This one is more about automation on the repository, so I think it can stay here.

[2022-09-14 21:32] gfonseca-tc commented on #9800
Hey @jpkrohling and @djaglowski , just found this issue here. What is the status for this? I would much appreciate that feature in the collector! Is there still a license problem?

[2022-09-14 21:48] frzifus commented on #14124
Sure, but it might takes 1-2 days.

[2022-09-15 00:03] jamesmoessis opened #14130 "Support for scraping a system "uptime" metric"
### Is your feature request related to a problem? Please describe.

The problem is that there is no "uptime" metric emitted from the collector's receivers. For us, many existing systems rely on this metric being scraped, and so not having this metric blocks migration. An entirely new receiver for this seems overkill.

Other agents, such as the signalfx agent, [have scrapers](https://github.com/sig

[2022-09-15 00:46] jordanbertasso opened #14131 "[receiver/chronyreceiver] Improve context and timeout handling"
### Describe the issue you're reporting

Currently the chronyreceiver uses `net.Dial` instead of `net.Dialer.DialContext`. This means that if a timeout were to occur during dialling, then no action would be taken to abort the current job.

The chronyreceiver should use `net.Dialer.DialContext` instead of `net.Dial`.

This enhancement has been implemented in #13841.

[2022-09-15 06:06] VasuLax opened #14133 "Adding meta data fields for the Splunkhecexporter"
Unable to find way to add meta data fields to the Splunkhecexporter to be pushed to Splunk along with the metrics data.

Hi,
We are currently trying POC for ingesting Open telemetry metrics data to Splunk using Splunkhecexporter. We are able to set it up and send the data. However we are stuck at how to add any additional information via the splunkhexexporter so that we can see that tagged to the

[2022-09-15 07:00] premendrasingh opened #14135 "[exporter/pkg/translator/prometheus] colon in metric names is being replaced with underscore, even when featureGate is used"
### Is your feature request related to a problem? Please describe.

When following metrics are harvested, leading colon is removed and rest of the colons are replaced with underscore.
Using feature flag **pkg.translator.prometheus.NormalizeName** I was expecting to retain the colons.

Prometheus allows these metrics to be harvested and does not changes the metric name. Check attached screenshot of

[2022-09-15 08:44] flenoir opened #14136 "Cannot set span on conditional status"
### What happened?

[code]

but i get an error which seem to explain that the syntax should be different.  Should this code be working like so, or do i missed something ?

## Steps to Reproduce

I think just use the provided default example or use my code below

[code]

## Expected Result

Be able to have status code modified when http.status_code  value is 404

## Actual Result

i get an error me

[2022-09-15 09:26] flenoir commented on #14136
I did some modification to try using "mathc_type" like below

 span/statuscode404:
      include:
        match_type: strict
        attributes:
          - key: http.status_code
            value: 404
      status:
        code: "Error"

and it seems to be working now.

So i guess "match_type" is mandatory even to change status code.

So i come with a question : is it possible to search the value

[2022-09-15 09:54] pavolloffay commented on #12208
How much time does the rotation last?

Did you try to experiment with https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/exporter/kafkaexporter/config.go#L65?

[2022-09-15 13:11] aboguszewski-sumo opened #14138 "[receiver/mysql] add support for more metrics"
### Is your feature request related to a problem? Please describe.

[Sumo Logic MySQL app](https://help-opensource.sumologic.com/docs/integrations/databases/mysql/) uses metrics that are not scraped by the `mysqlreceiver`. The exact list of metrics needed is [here](https://help.sumologic.com/07Sumo-Logic-Apps/12Databases/MySQL/MySQL_Metrics) (some are already supported, but some, like the `perf` o

[2022-09-15 13:36] jpkrohling commented on #9800
No, @mar4uk is coming back from her license, and we should have news soon.

[2022-09-15 13:58] jonnor opened #14139 "Prometheusremotewriteexporter: Support sending to Prometheus public API"
### Is your feature request related to a problem? Please describe.

I want to send metrics to Prometheus, from a process which does not have a HTTP port available. I have a Prometheus instance already configured with API access and the remote_write feature enabled. I am typically use the Prometheus local storage for testing/development and in production I use a hosted Prometheus which does not exp

[2022-09-15 14:11] JensLederer opened #14140 "Transformprocessor: runtime error: invalid memory address or nil pointer dereference"
### What happened?

[code]

### Collector version

0.59

### Environment information

[code]

### OpenTelemetry Collector configuration

[code]

### Log output

[code]

### Additional context

[code]

[2022-09-15 15:53] #13158 closed

[2022-09-15 15:58] kovrus commented on #13158
@gfonseca-tc please take a look at https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/13636

[2022-09-15 16:22] atoulme opened #14142 "Add support for timestamp offset"
### Is your feature request related to a problem? Please describe.

When collecting data, we may need to offset timestamps because the source or destination operates in a different timezone.
In particular with HEC, since we provide the timestamp as a millisecond unix epoch value, we lose the notion of timezone.

### Describe the solution you'd like

We are looking to support adding a fixed timesta

[2022-09-15 17:17] dehaansa opened #14143 "[receiver/sqlquery] Row-based metrics support"
### Is your feature request related to a problem? Please describe.

The sql query receiver doesn't support metrics that are identified by values of a column value, differing by row. To work around this, you need to turn simple queries into ugly pivots.

For example, the `GV_$resource_limit` view in Oracle DB provides data about resource limits, with the type of resource identified in the `RESOURCE

[2022-09-15 17:21] dehaansa opened #14144 "[receiver/sqlquery] Apply attributes from single query to all metrics"
### Is your feature request related to a problem? Please describe.

There are often a handful of global attributes that would be useful to apply to all metrics, without needing them to be present in each query. For example, an Instance ID, globally unique database name, or other identifiers that would apply to all metrics in a receiver configuration.

### Describe the solution you'd like

It would

[2022-09-15 17:30] TylerHelmuth commented on #11810
@mcdoker18 do you plan to update the transform processor with the new function?

[2022-09-15 17:33] dehaansa opened #14145 "[receiver/sqlquery] Support limiting queries using last collection time"
### Is your feature request related to a problem? Please describe.

There are certain performance tables that contain timestamps identifying the time the data point was calculated or collected. It would be great to avoid duplicating data points incorrectly by filtering the metrics by only collecting when the relevant timestamp is after the previous collection time. In situations where collection f

[2022-09-15 17:35] dehaansa opened #14146 "[receiver/sqlquery] Timestamp column for a query to override collection time"
### Is your feature request related to a problem? Please describe.

Sometimes data has a timestamp column that specifies the time the data was collected/calculated/updated. The receiver currently ignores that data in favor of stamping the metrics with the current time at collection.

### Describe the solution you'd like

It would be useful to provide a query level config of `timestamp_column` or s

[2022-09-15 18:34] atoulme opened #14152 "Move kafka marshaler/unmarshaler to be reused by other components"
The Kafka marshaler and unmarshalers are useful for other components, such as the upcoming Azure event hub receiver.

Please consider moving them to a separate library so they may be reused.

[2022-09-15 19:26] BinaryFissionGames commented on #14032
I can take a look into this.

[2022-09-15 19:42] bogdandrutu commented on #14135
Where is the name format for Prometheus?

[2022-09-15 21:51] bogdandrutu commented on #14152
we have the pdata `Marshaler` and `Unmarshaler` which should be used instead of the Kafka once.

[2022-09-15 22:10] codeboten commented on #12915
This is done

[2022-09-15 22:10] #12915 closed

[2022-09-15 22:11] codeboten commented on #11815
Closing this as the resolution was to not implement anything unless the specification declares any changes.

[2022-09-15 22:11] #11815 closed

[2022-09-15 22:11] #12191 closed

[2022-09-15 22:12] #12190 closed

[2022-09-15 22:12] #12188 closed

[2022-09-15 22:12] #12187 closed

[2022-09-15 22:12] #12186 closed

[2022-09-15 22:46] premendrasingh commented on #14135
Metric name format taken from -

https://prometheus.io/docs/concepts/data_model/#metric-names-and-labels

`The metric name specifies the general feature of a system that is measured (e.g. http_requests_total - the total number of HTTP requests received). It may contain ASCII letters and digits, as well as underscores and colons. It must match the regex [a-zA-Z_:][a-zA-Z0-9_:]*`

[2022-09-15 23:11] vjsamuel commented on #14135
thank you @bogdandrutu and @Aneurysm9 for comments on slack. Per https://github.com/OpenObservability/OpenMetrics/blob/main/specification/OpenMetrics.md#text-format it is safe to assume that `:` can be a first character and a character after that. that being said, we can file a fix for the same.  @premendrasingh @newly12 can one of you please file a PR to address this?

[2022-09-16 00:06] atoulme commented on #14152
I want all the (un)marshalers: raw, zipkin, jaeger, pdata.
* https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/kafkareceiver/jaeger_unmarshaler.go
* https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/kafkareceiver/raw_unmarshaler.go
* https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/kafkareceiv

[2022-09-16 02:52] songjiayang commented on #5192
it worked after added `enable_open_metrics`,  thank @dashpole  so much .

Curious, why doesn't it default to true.

[2022-09-16 03:13] MovieStoreGuy commented on #14131
This can be closed now since it is merged in :)

[2022-09-16 03:14] suraciii commented on #8273
According to https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/http.md#status

[2022-09-16 03:15] #14131 closed

[2022-09-16 04:19] songjiayang commented on #5192
hi @dashpole

I do a test with OTel Collector ( receiver is prometheus, exporter is prometheusremotewrite) , but I found the Collector don't support exemplars yet.

here is my test code https://github.com/grafanafans/prometheus-exemplar/blob/remote_prometheus/config/otel-collector.yaml#L7

Why I use prometheus exporter rather than OTLP for my application, because I find I can't add an examplar to

[2022-09-16 06:46] songjiayang opened #14160 "prometheus receiver not support openmetrics"
### What happened?

[code]

the collector configuration like:

[code]
## Steps to Reproduce

Example curl command:

curl -H 'Accept: application/openmetrics-text; version=0.0.1' http://localhost:8889/metrics

output like:
[code]
the exemplars missed.
[code]

[2022-09-16 07:34] JensLederer commented on #14140
With release 0.60 the issue is gone

[2022-09-16 09:05] dansl1982 commented on #13869
I'm proposing to develop a new component for that. I will follow the proposal template. thanks

[2022-09-16 11:22] albertteoh commented on #9018
Hi @greut (+ others), just following up to see if you've had a chance to upgrade and if this issue still exists as @nguyenhoaibao reported? I'd like to understand if there's still further investigation required and if so, if you're able to provide your configs and the error stack trace again please.

[2022-09-16 11:42] #13869 closed

[2022-09-16 12:27] jpkrohling commented on #8273
cc @frzifus for visibility

[2022-09-16 12:27] #14135 closed

[2022-09-16 12:34] greut commented on #9018
Since going from 0.53 to 0.59 10 days ago, that error is gone from our logs.

![Screenshot 2022-09-16 at 14-33-24 Discover - OpenSearch Dashboards](https://user-images.githubusercontent.com/1388/190639619-fa8d533c-4c89-46d0-a8a5-2a56b42bd703.png)

[2022-09-16 14:22] dgoscn commented on #10368
Hi @djaglowski. How are you?

I had some trouble to replicate this error that you mentioned here. But, I made some tries. I will try to replicate here what I did and please, if what I made makes no sense, just say 🦖 thank you

---

So, what I did:

In the function **GetAvailableLocalNetworkAddress** located at `/internal/commom/testutil/testutil.go` I added the following for to check the values of

[2022-09-16 14:57] djaglowski commented on #10368
@dgoscn, thanks for looking into this. It's great that you've determined a way to reproduce the issue.

I'm not sure we can solve the problem by validating the port independently of the actual test, because some (tiny) amount of time will pass before we attempt to use it. But perhaps you are suggesting we just recover and retry the test? That may be reasonable if limited to a small number of retri

[2022-09-16 15:14] abeach-nr opened #14166 "Add additional broker metrics to kafkametricsreciever"
### Is your feature request related to a problem? Please describe.

There are additional broker metrics that can be scraped from the sarama client that is used by the kafkametricsreciever component.

https://github.com/Shopify/sarama/blob/main/broker.go#L211-L219

### Describe the solution you'd like

The kafkametricsreciever should scrape more broker metrics

### Describe alternatives you've cons

[2022-09-16 15:49] BinaryFissionGames opened #14168 "[receiver/mongodbatlas] Audit log timestamp parsing fails to parse on 4.2 clusters"
### What happened?

[code]

### Collector version

c0666b60f669993fc07369c60d3d7c13143df599

### Environment information

_No response_

### OpenTelemetry Collector configuration

_No response_

### Log output

[code]

### Additional context

_No response_

[2022-09-16 16:11] BinaryFissionGames opened #14169 "[receiver/mongodbatlas] Potential infinite loop if audit log JSON is invalid"
### What happened?

#### Description
See this for-loop:
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/c0666b60f669993fc07369c60d3d7c13143df599/receiver/mongodbatlasreceiver/logs.go#L230-L241

This for loop may continue forever; The JSON decoder may not make progress if it hits an error state (e.g. malformed json input will make the decoder terminally return the same error)

[2022-09-16 16:19] BinaryFissionGames opened #14170 "[receiver/mongodbatlas] plog.Logs is always emitted, even when there are no LogRecords"
### What happened?

[code]

### Collector version

c0666b60f669993fc07369c60d3d7c13143df599

### Environment information

_No response_

### OpenTelemetry Collector configuration

_No response_

### Log output

[code]

### Additional context

_No response_

[2022-09-16 16:20] mrjavaguy commented on #10360
It is working in a different cluster so must be an environment. Closing

[2022-09-16 16:20] #10360 closed

[2022-09-16 16:24] evan-bradley commented on #14160
From what I understand, exemplars are not yet supported in the Prometheus receiver. Please see this issue: https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/8353

[2022-09-16 17:14] evan-bradley commented on #14142
@dmitryax Could you look into this?

[2022-09-16 17:16] codeboten commented on #6973
Closing as this has been waiting for author since Jul 5

[2022-09-16 17:16] #6973 closed

[2022-09-16 17:16] dmitryax commented on #14142
It doesn't seem something that should go to the HEC exporter. It might be generally useful mutation. @TylerHelmuth do you think this potentially can be achieved with OTTL?

[2022-09-16 17:16] codeboten commented on #13398
Closing this as it's been waiting for feedback from the author since Jul 10

[2022-09-16 17:16] #13398 closed

[2022-09-16 17:17] evan-bradley commented on #11875
cc @frzifus

[2022-09-16 17:18] TylerHelmuth commented on #14142
Yes, OTTL (TQL) supports setting the timestamp field today, although probably not intelligently (you have to supply a hard coded value essentially).  But a more intelligent function could be added.

[2022-09-16 17:23] codeboten commented on #12417
Keeping what we currently have makes sense to me. Closing this issue.

[2022-09-16 17:23] #12417 closed

[2022-09-16 17:29] atoulme commented on #14133
1. you should use `host.name`, at the level of the resource. See https://github.com/open-telemetry/opentelemetry-specification/blob/27b50425454de9efc56b43e54767a581bdada71c/specification/logs/data-model.md#splunk-hec or `hec_metadata_to_otel_attrs/host` in https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/splunkhecexporter
2. See https://github.com/open-telemetry

[2022-09-16 17:31] evan-bradley commented on #11434
Closing this issue for now. If you'd like to contribute a component with this functionality in the future, please use the "new component" issue template to open a new issue detailing it. Thank you!

[2022-09-16 17:31] #11434 closed

[2022-09-16 17:37] codeboten commented on #3069
Closing this issue.

[2022-09-16 17:37] #3069 closed

[2022-09-16 17:43] djaglowski commented on #14138
Most of these appear to be reasonable to add. I don't think the query ones will work, unless they are counts of queries.

In any case, I would certainly appreciate if you'd break this into several PRs so I can process them.

[2022-09-16 18:18] alsterg opened #14175 "status.message unreachable from attributesprocessor"
### What happened?

[code]
It looks like the common span fields such as status.message are not part of the Attribute list of the span. Is there a way to reach them with a processor?

## Steps to Reproduce
Using the rule above and some input spans that set the message.status.

## Expected Result
Rule is triggered.

## Actual Result
Rule is not triggered.
[code]

### OpenTelemetry Collector configur

[2022-09-16 19:34] BinaryFissionGames opened #14177 "[receiver/mongodbatlas] Audit log model misses a lot of fields"
### What happened?

[code]

### Collector version

v0.60.0

### Environment information

_No response_

### OpenTelemetry Collector configuration

_No response_

### Log output

_No response_

### Additional context

_No response_

[2022-09-16 19:38] BinaryFissionGames opened #14178 "[receiver/mongodbatlas] Raw log message is not the actual raw log message for JSON logs"
### What happened?

[code]

### Collector version

v0.60.0

### Environment information

_No response_

### OpenTelemetry Collector configuration

_No response_

### Log output

_No response_

### Additional context

_No response_

[2022-09-16 20:05] #14168 closed

[2022-09-16 20:19] #14169 closed

[2022-09-16 20:56] atoulme commented on #3549
Yes, at very least it looks like we don't support `MetricDataTypeExponentialHistogram` in the mapping. I know that is a new experimental type, but any metric of that type will trigger this warning.

[2022-09-16 21:05] atoulme commented on #2871
Dup for https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/13997

[2022-09-16 22:59] TylerHelmuth commented on #13838
@dmitryax @bogdandrutu looking through the metricstransformprocessor's current functionality, I think it can be broken down into these 2 separate OTTL Contexts

| Operation                     | Example (based on metric `system.cpu.usage`)                                                    | OTTL Context         |
|-------------------------------|---------------------------------------------------

[2022-09-19 02:09] newly12 commented on #13377
cool, thanks for providing the example, given configuration is sufficient I agree we don't need out of the box support. Feel free to close this issue. Thanks @djaglowski !

[2022-09-19 07:55] harshit-splunk opened #14185 "New component: k8sobjectsreceiver"
### The purpose and use-cases of the new component

We need a receiver to collect the Kubernetes objects and send them as log data(similar to [fluent-plugin-kubernetes-objects](https://github.com/splunk/fluent-plugin-kubernetes-objects) fluentd plugin).
- It should collect objects in 2 ways
  - Pull: Collects all available objects at an interval by calling the list APIs.
  - Watch: Collects only t

[2022-09-19 08:07] harshit-splunk commented on #14185
@dmitryax should I add you as a sponsor?

[2022-09-19 08:16] inigohu opened #14186 "[exporter/datadog]: Failed to retrieve metadata"
### What happened?

[code]

### Collector version

v0.60.0

### Environment information

[code]

### OpenTelemetry Collector configuration

[code]

### Log output

[code]

[2022-09-19 09:30] mrblonde91 commented on #12300
Question around this bug, I think we're encountering it, in the process of upgrading to the latest contrib. Has this potential to negative impact other metrics? Cause we've noticed that things like counters in prometheus invariably seem to be 10% off so I'm wondering if they're getting swallowed as a result of this.

[2022-09-19 11:38] sarahsporck opened #14187 "[processor/servicegraphprocessor] Adjust metric names to fit documentation"
### What happened?

[code]

### Collector version

v0.60.0

### Environment information

_No response_

### OpenTelemetry Collector configuration

[code]

### Log output

_No response_

### Additional context

_No response_

[2022-09-19 12:58] #14005 closed

[2022-09-19 13:06] #13377 closed

[2022-09-19 13:19] dashpole commented on #12300
@mrblonde91 No, this shouldn't impact any other metrics.

[2022-09-19 14:22] kago-dk opened #14190 "[exporter/Loki] Attributes and Resources has a attributes_ and resources_ prefix in Loki."
### What happened?

## Description
I am trying to take advantage of the “new” Loki Exporter in OTEL collector v0.60.0. Do I include all my resources and attributes from the filelog receiver as either loki.attribute.labels or loki.resource.labels? The answer is no based on this article https://grafana.com/blog/2020/08/27/the-concise-guide-to-labels-in-loki/.

If not, how do I avoid them showing up

[2022-09-19 18:24] rogeriospinaintelipost opened #14288 "[exporter/loki] Not translating labels(from resources) correctly when multiple logRecords"
### What happened?

## Description
Converting log resources for loki labels works only for the first LogRecord.

Reading the code, I figured out that after first LogRecord process, resource attributes that were promoted to label are removed, so LogRecords #1 and #2 will not be able to convert labels.

[code]

Also could notice that a copy of resources are made, but I think that it should be inside

[2022-09-19 18:31] rogeriospinaintelipost commented on #14288
@jpkrohling

[2022-09-19 20:08] MarioAlexis opened #14311 "[receiver/hostmetrics/process] "error reading username for process ... error reading parent pid for process ... (pid 1): invalid pid 0""
### What happened?

## Description
Installing latest otel-collector version (0.60.0) receiver/hostmetrics/process complains about "invalid pid 0" on a CNF
environment. My lack of knowledge on GO does not allow me to determine if this call "parentPid, err := parentPid(handle, pid)"
block metrics exposure "per process" as documentation set out. Even if we set the parameter "mute_process_name_error"

[2022-09-19 20:16] astencel-sumo commented on #14084
Thanks @jspaleta for writing this up.

Here's the proposal to add the first metric (page faults) to the semantic conventions spec:  https://github.com/open-telemetry/opentelemetry-specification/issues/2809.

[2022-09-19 20:16] nslaughter opened #14312 "New component: SSH Receiver"
### The purpose and use-cases of the new component

Purpose: To monitor the availability and performance of SSH endpoints.
Use case: Methods of monitoring SSH host availability can either use the programs on the host or run as clients. This proposal is for monitoring as a client which can provide less information, but it doesn't require ownership of the host or any additional permissions. It perfo

[2022-09-19 20:43] kago-dk opened #14313 "[exporter/loki] Make it easier to map OpenTelemetry Severity to Loki level label"
### Is your feature request related to a problem? Please describe.

Currently, the log level is tracked as SeverityText (https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/logs/data-model.md) in v0.60.0, while the same information is tracked in the level label in Loki (https://grafana.com/docs/grafana/latest/explore/logs-integration/). It would be optimal if we c

[2022-09-19 22:09] bogdandrutu commented on #13224
@kovrus do you want to do the exporters as well?

[2022-09-19 22:35] atoulme opened #14315 "[receiver/hostmetrics] Error while fetching partitions on Windows invalidates receiving file system information"
### What happened?

## Description
The hostmetrics-> filesystems scraper is failing with this error

[code]

We do not care about metrics for this locked drive, but this error is preventing other drives from getting scraped.

The error is thrown when we tried to get the list of partitions at https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/hostmetricsreceiver/in

[2022-09-20 02:09] sweetxiaodai commented on #14009
It works, changed to https and import CA to Linux truststore

[2022-09-20 02:09] #14009 closed

[2022-09-20 03:32] tianlin opened #14318 "[receiver/kubeletstatsreceiver] Use network io as network errors"
### What happened?

[code]

### Collector version

v0.60.0

### Environment information

[code]

### OpenTelemetry Collector configuration

[code]

### Log output

_No response_

### Additional context

_No response_

[2022-09-20 03:50] atoulme commented on #14142
If you could give me an example, even just pasted here on this issue, I can help add it to the transformprocessor.
I'm not sure how the fixed hardcoded value is provided and in what unit - nanos, ms, or yet another duration.

[2022-09-20 08:25] hickeyma opened #14323 "[exporter/instana] Endpoint validation is incorrect"
### What happened?

[code]

### Collector version

v0.60

### Environment information

[code]

### OpenTelemetry Collector configuration

_No response_

### Log output

_No response_

### Additional context

_No response_

[2022-09-20 08:26] hickeyma commented on #14323
This issue was identified in #14009

[2022-09-20 08:31] hickeyma commented on #14009
@sweetxiaodai Great to hear that this is working for you now.

The documentation is correct in [Exporter configuration](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/instanaexporter#exporter-configuration) as it states that the endpoint starts with `https://serverless-`.

I have raised #14323 to improve the validation in the exporter.

[2022-09-20 09:33] mapno commented on #14187
Hi @sarahsporck, thanks for the report. This was an oversight. This [PR](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14324) addresses the problem

[2022-09-20 09:39] frzifus opened #14325 "[extension/bearertokenauthextension] support reading tokens from file"
### Is your feature request related to a problem? Please describe.

As of now, a bearer token must be provided in the extension configuration. We would like to make bearer tokens available via a k8s secret.

(token will be refreshed from time to time)

### Describe the solution you'd like

Extract the token from a file. At best not with every request, but only if the content of the file was change

[2022-09-20 09:52] astencel-sumo commented on #9415
Fixed by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12802.

[2022-09-20 09:56] kovrus commented on #13224
@bogdandrutu can do that sometime this week. BTW the processors are not finished completely. So I'll probably finish them first.

[2022-09-20 10:12] astencel-sumo opened #14327 "`[receiver/hostmetrics/processscraper]`: memory metric names do not adhere to semantic conventions"
## What happened?

### Description

The memory metrics reported by the `hostmetrics` receiver's `process` scraper do not adhere to the semantic conventions:

- [`process.memory.physical_usage`](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/v0.60.0/receiver/hostmetricsreceiver/internal/scraper/processscraper/metadata.yaml#L61) should be `process.memory.usage` according to t

[2022-09-20 10:13] sarahsporck commented on #14187
Ah, nice.
Didn't see that one.

[2022-09-20 11:36] frzifus commented on #14325
Created a proposal as pr.

[2022-09-20 12:20] astencel-sumo commented on #14130
I believe this is a reasonable request. I think a new `system` scraper could be created to provide general system information like uptime and other information (to be honest no other examples come to mind at the moment).

We would probably need a semantic convention established for the metric name. I allowed myself to create a proposal here: https://github.com/open-telemetry/opentelemetry-specific

[2022-09-20 12:47] olekgo commented on #12175
Maybe someone will find this usefull.

After playing with `resourcetotelemetry` feature (added to a forked version of the collector)  I realized that it wasn't what I needed - most of the resource attributes were junk I didn't need (eg. python lib version etc). What I needed is just a few resource attrs translated to metric attrs (-> GMP metric labels).
I was able to copy ressource attrs to metric

[2022-09-20 13:39] kovrus commented on #14288
I can take it over.

[2022-09-20 14:53] forestsword commented on #9018
A semi work-around for us was to run with 10k cache and to only process server and consumer spans using a filter (inspiration from https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/12615).

I can confirm it still fails on 0.59.0 but with the work-around it takes about a day for it to happen.

I've just removed my workarounds to reproduce it. There's no logs of an error. But

[2022-09-20 15:58] TylerHelmuth commented on #14142
@atoulme at the moment the transform processor supports setting the time like:

[code]

[2022-09-20 16:13] codeboten commented on #14312
@nslaughter thanks for proposing the component, i'm happy to sponsor it.

Instead of a separate `host`/`port` configuration, it would be more consistent w/ other receivers to use `endpoint` to include both host and port.

How does the test for sftp work? Does it require a file transfer to confirm it works?

[2022-09-20 16:49] atoulme commented on #14142
OK, this is to set the time. Can I increase or decrease the existing timestamp value?

[2022-09-20 17:06] nslaughter commented on #14312
Thanks, @codeboten.
1. I'll make the change to reference endpoint.
2. For the sftp check (beyond SSH)... I have planned to use `pwd`. I believe that either `pwd` or `ls` (aka `dir`) are appropriate for testing SFTP response as they're read only, but use remote file system access. If info only commands work then other candidates would be `help` and `version`.

[2022-09-20 17:11] TylerHelmuth commented on #14142
We have have the concept of addition or subtraction in the grammar yet, but it could be added.

[2022-09-20 17:12] atoulme commented on #14142
or subtracted (see what I did there)

[2022-09-20 19:15] ajsaclayan opened #14335 "[attributeprocessor] Support filtering on metric attributes"
### Is your feature request related to a problem? Please describe.

It would be nice to modify attributes on metrics based on a set of attribute values. This is already supported for spans and logs, but it is not supported for metrics. I think this was excluded when metrics had labels. More here https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/attributesprocess

[2022-09-20 19:18] #14032 closed

[2022-09-20 19:29] ajsaclayan commented on #14335
This is related but was never merged. https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/8395

[2022-09-21 01:24] jamesmoessis commented on #14130
@astencel-sumo I like your idea of a `systemreceiver` that scrapes general system info. I would be interested in working with anyone to create such a scraper, providing that we had support and sponsorship from a maintainer. I wonder if any maintainer has had similar thoughts and ideas.

I don't think we need to wait for something like `system.uptime` to be in the semantic convention to start work

[2022-09-21 01:35] jamesmoessis commented on #14130
I've also noticed there is an `InfoStat` struct in `gopsutils` (the same lib that `hostmetricsreceiver` uses) which exposes uptime and a bunch of other system data. I think exposing that data as a scraper in the host metrics receiver would fit in quite nicely.

Perhaps we can get some thoughts on the above from the codeowner of host metrics - @dmitryax any thoughts?

[2022-09-21 05:56] perrinj3 opened #14337 "Influxdbv2 receiver rejects JMeter output with response code 400"
### What happened?

[code]
## Steps to Reproduce
Post this payload with Fiddler to the otelHost/api/v2/write endpoint of a Otel Contrib collector configured to receive InfluxDB

## Expected Result
Response code 204

## Actual Result
Response code 400
[code]

### OpenTelemetry Collector configuration

[code]

### Log output

_No response_

### Additional context

[code]

[2022-09-21 09:18] mcdoker18 commented on #11810
@TylerHelmuth sorry for the delay, I was on vacation :)

[2022-09-21 12:03] frzifus commented on #11875
hi @blakeromano, ive a few questions. how did you deploy your Collector? Seems to be a daemonset or deployment, right? What protocol are you using to transmit data? I assume grpc? When trying `4318` did you also switch to otel/http?

Iam not an isitio expert, but the `response_code=0` makes we wonder if something is dropped.

[2022-09-21 12:19] frzifus commented on #6633
@jpkrohling can we close it?

[2022-09-21 12:20] frzifus commented on #6510
i think we can close that one too.
cc @jpkrohling

[2022-09-21 12:34] frzifus commented on #14124
hi @avishefi, just to make sure, did you try this[0] demo?

0: https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/v0.59.0/examples/demo

[2022-09-21 13:00] jcmackie opened #14342 "[exporter/awsxrayexporter] RFC: SQL segments should use span name for 'url'"
### Describe the issue you're reporting

### This is a placeholder Issue
... for a PR I have already created. The description below is a copy of the PR description. The PR is here: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/13864

**Description:** I have changed the XRay SQL segment translator to send the span name as the 'XRay segment URL' instead of the connection str

[2022-09-21 13:08] avishefi commented on #14124
@frzifus Yes, I'm using this demo client and server, but I have removed the all-in-one Jaeger in the docker compose and modified the configuration so that it exports jaeger traces to a production Jaeger instance version 1.37 with Elasticsearch.

[2022-09-21 14:44] dgoscn commented on #10205
Hi @jpkrohling this issue still open?

[2022-09-21 16:22] damemi commented on #13991
+1 for a CLI tool, but it could probably share a lot of code with the web app. Visualizations for pipelines could be really useful.

Something really fancy like a package manager for building collectors/configs would be a cool extension of this

[2022-09-21 16:43] #13919 closed

[2022-09-21 16:47] bhs commented on #13919
thank you, all! surely the least dramatic and most efficient tech-project-renaming in OSS history 🏆 :)

[2022-09-21 16:53] #14177 closed

[2022-09-21 18:07] #2334 closed

[2022-09-21 18:59] #14178 closed

[2022-09-21 21:14] atoulme commented on #12332
This is because the docker image itself used for this is quite large, and it takes a long time for it to download.

[2022-09-22 06:36] khyatigandhi6 commented on #13727
I have raised the PR (https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14182) against this issue.
Can someone please have a look at it ?

[2022-09-22 08:09] klagupl opened #16279 "[Proposal] Aws ssm config provider"
**Is your feature request related to a problem? Please describe.**
We have many lambdas running on aws that use the opentelemtry extension. With this solution we could centralize storage of the configs. Also it would be more secure.

**Describe the solution you'd like**
Create  a new config provider that will retrieve the otel collector config from aws parameter store.
The schema would be like thi

[2022-09-22 12:10] frzifus commented on #13991
Would be greate to have something like that. CLI or WebApp sounds both great.

cc @esnible

[2022-09-22 12:51] jtama opened #14401 "Lokiexporter document is misleading"
### Describe the issue you're reporting

The documentation shows the following, which is invalid.

[code]
The correct config is

[code]

I can do a pr if you like.

[2022-09-22 16:07] BinaryFissionGames opened #14443 "[pkg/winperfcounters] Improve error when a performance counter fails to scrape"
### Is your feature request related to a problem? Please describe.

When a performance counter fails to scrape, the IIS receiver logs that an error occurred, along with the error, but not with which counter the error occurred. This information is useful because it helps to understand what metric might be missing.

See:
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/b323b9f7

[2022-09-22 16:18] BinaryFissionGames opened #14448 "[receiver/iis] Emit metrics per-site with a `site` label"
### Is your feature request related to a problem? Please describe.

Currently, the IIS receiver emits aggregate metrics for the scraped performance counters, scraping the `_Total` instance or otherwise summing instance values.

While this is still useful in cases of single sites, it's not so useful in the case of multiple sites, where a user would like to know e.g. the number of requests for a giv

[2022-09-22 16:19] BinaryFissionGames commented on #14443
I'll be looking into making this change

[2022-09-22 16:19] BinaryFissionGames commented on #14448
I'll be handling this enhancement.

[2022-09-22 17:58] cpheps opened #14449 "New component: AWS Cloudwatch Logs Receiver"
### The purpose and use-cases of the new component

Collect Log Events from AWS Cloudwatch and transpose them into OTel pdata Logs. A use case for this is for users with multi-cloud environments they can export logs from AWS into their desired log platform.

### Example configuration for the component

[code]

The configuration has a `logs` sub config as cloudwatch also supports metrics. This leav

[2022-09-22 18:33] clheikes opened #14452 "k8sattributes processor - Allow metadata extractions to be null"
### Is your feature request related to a problem? Please describe.

I'd like to extract annotations and not be required to extract metadata fields as well.

[code]

### Describe the solution you'd like

Allow me to set `metadata: null` or something similar

### Describe alternatives you've considered

As a workaround I'm setting metadata to a field that my pod assocation rule is using

### Additio

[2022-09-22 20:15] rmfitzpatrick opened #14453 "[prometheusreceiver] timestamp enforcement breaks federation support"
### What happened?

## Description
When scraping a federated endpoint [built-in internal metrics](https://prometheus.io/docs/concepts/jobs_instances/#automatically-generated-labels-and-time-series) appear to conflict with the receiver maintained ones and lead to:

[code]

## Steps to Reproduce

Try to scrape a `/federate` endpoint of a prometheus server*:

[code]

## Expected Result

Successful me

[2022-09-23 08:54] MB175 opened #14455 "make docker-otelcontribcol | fails on Darwin"
### What happened?

[code]

## Expected Result

Building image

## Actual Result

Build fails

[code]
[code]

### OpenTelemetry Collector configuration

_No response_

### Log output

[code]

### Additional context

_No response_

[2022-09-23 09:06] ZackJaime opened #14456 "Duplicate/Stale metrics reported to Prometheus by load balanced collectors"
### Describe the issue you're reporting

Hi, apologies if this isn't the correct place for this question but I can't seem to find any other information on the problem I'm having with our collector deployment.

So the scenario we have is, in a Kubernetes cluster we have:
**n** nodes, **n** collector pods deployed as a daemonset, and 1 service pod that is emitting metrics via the opentelemetry .NET

[2022-09-23 10:01] edenkoveshi opened #14457 "[processor/transform] Concat function concatenates too many times"
## Description
I'm trying to change the service name to service.namespace:service.name (delimiter doesn't really matter)
To do that, I've tried the following query:

[code]

The result I'm getting is ```<namespace>:<namespace>:<namespace>:....<namespace>:<name>```
The namespace is concatenated an arbitrary number of times. Name exactly once.

I've also tried the following queries, they result in t

[2022-09-23 11:24] neelayu commented on #14455
I think the reason incompatible go version
[code]

Upon inspection [here](https://github.com/ClickHouse/ch-go/issues/160) it seems the problem is fixed in go1.18.5
Try upgrading the go version

[2022-09-23 13:08] MB175 commented on #14455
@neelayu thank you, upgrading to go1.19.1 darwin/amd64 helped, build does work now.

[2022-09-23 13:08] #14455 closed

[2022-09-23 13:58] djaglowski commented on #14449
I'll sponsor this.

[2022-09-23 17:42] TylerHelmuth commented on #14457
@edenkoveshi can you provide your entire transformprocessor config?  Are there any queries that modify `attributes[service.namespace]`?

[2022-09-23 17:54] TylerHelmuth commented on #14457
@edenkoveshi also, `attributes[service.namespace]` is incorrect syntax.  It should be `attributes["service.namespace"]`.  The processor should crash without the `""`, so I suspect that in your actual config you have them?

[2022-09-23 18:02] TylerHelmuth commented on #14457
@edenkoveshi I haven't been able to reproduce this yet, but I suspect the issue is something about different queries stepping on each other.

[2022-09-23 19:42] alejandrodnm opened #14465 "[translator/jaeger] When translating from Jaeger to OTEL Include the jaeger reference type as attribute"
### Is your feature request related to a problem? Please describe.

Jaeger supports the notion of a span with multiple parents. In Jaeger we can assign references to other spans (what in OTEL are links) and a type can be specified for each reference. Jaeger types are based on opentracing, they can take one of two values `CHILD_OF` or `FOLLOWS_FROM`.

When using the Jaeger to OTEL translation, the

[2022-09-24 05:28] atoulme commented on #14152
I didn't understand this @bogdandrutu sorry. I am going to move past this and just implement raw for azure event hubs.

[2022-09-24 05:47] atoulme opened #14467 "Log flooded with `string to non-string with op EQ`"
### What happened?

## Description
Upgraded to 0.60.0.
Using a transform processor with a clause such as:
[code]

## Steps to Reproduce
Set up a pipeline using a transform processor that uses an eq operator.

## Expected Result
The pipeline should perform correctly.
## Actual Result
Logs are flooded with:
[code]

### Collector version

0.60.0

### Environment information

## Environment
OS: (e.g.,

[2022-09-25 18:57] TylerHelmuth opened #14471 "[pkg/ottl] Add back ability to pass logger to functions"
We should probably add this case back so that functions can explicitly ask for a logger and not the entire telemetry settings struct.

_Originally posted by @TylerHelmuth in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14389#discussion_r979444035_

[2022-09-26 01:28] #14160 closed

[2022-09-26 05:21] jjmm0312 opened #14472 "[receiver/kafkareceiver] Support zipkin_json(v1)"
### Is your feature request related to a problem? Please describe.

Hello. I am using kafkareceiver with zipkin format v1 and v2.
But it supports zipkin_proto(v2), zipkin_json(v2), zipkin_thrift(v1).

### Describe the solution you'd like

I need zipkin_json(v1). Is there any reason that it doesn't support zipkin_json(v1)?
I found zipkin v1 unmarshal code as well.

https://github.com/open-telemetry

[2022-09-26 10:56] povilasv opened #14474 "[receiver/k8seventsreceiver] Support for semantic attributes"
### Describe the issue you're reporting

Would be cool to make some refactorings in k8s event receiver :)

One thing I was thinking about is parsing `involvedObject` to Kubernetes Resource Attributes using https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/resource/semantic_conventions/k8s.md

For example, this Event:
[code]

Would end up with the following Resou

[2022-09-26 11:09] povilasv opened #14475 "[processor/k8sattributes] Add support for getting metadata from Kubelet"
### Is your feature request related to a problem? Please describe.

With large Kubernetes clusters k8s attribute processor might send quite a lot of requests to the Kubernetes API Server, which can cause problems. Example reported by Fluent Bit -> https://docs.fluentbit.io/manual/pipeline/filters/kubernetes#optional-feature-using-kubelet-to-get-metadata

### Describe the solution you'd like

Simil

[2022-09-26 12:45] kovrus commented on #9381
@jpkrohling it was updated already
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/processor/routingprocessor/README.md. Can you please close it?

[2022-09-26 17:52] TylerHelmuth commented on #14467
haha in trying to help users we destroyed their logs.  Should definitely be logger.Debug.

[2022-09-26 18:31] dgoscn commented on #8843
@jpkrohling can I take this one?

[2022-09-26 18:33] jpkrohling commented on #14465
cc @frzifus and @dgoscn

[2022-09-26 18:48] dmitryax commented on #14467
@atoulme please add more context about the incoming data. I assume the data just doesn't always have the "foo" attribute? I don't think the output is incorrect in that case and we should hide all the logs. It can also hide other potential issues that user should be aware of.

I believe the expression should have an additional condition verifying that metrics have `foo` attribute. Something like th

[2022-09-26 19:08] atoulme commented on #14467
Yes, specifically set a pipeline that doesn't have this attribute set to reproduce the issue.
At the very least, this is a breaking change behavior that wasn't documented as part of the release and produces surprising output for end users, flooding their logs. I have not identified a workaround to address this behavior, please help.

[2022-09-26 19:15] bgranetzke opened #14514 "exporter/kafkaexporter: Ability to add custom Log and Metric Marshalers"
### Is your feature request related to a problem? Please describe.

There is currently no way to configure custom Log and Metric marshalers without forking the code line.

### Describe the solution you'd like

I'd like two additional additional export factory options: WithLogsMarshalers and WithMetricsMarshalers which work exactly the same as the existing WithTracesMarshalers option (except with w

[2022-09-26 19:32] kentquirk commented on #14467
OTTL does short-circuit evaluation and so something like
`set(attributes["foo"], "bar") where attributes["foo"] != nil && attributes["foo"] == "foobar"` should prevent the error for the time being.

[2022-09-26 19:36] TylerHelmuth commented on #14467
@dmitryax In this situation the [invalidComparison func](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/7497d293b31b0e85b7731acf4a030dfd5323ebd2/pkg/ottl/compare.go#L31) exists to ensure that a boolean always bubbles up based on the [comparison rules](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/pkg/ottl#comparison-rules).  We didn't want to s

[2022-09-26 19:37] jpkrohling commented on #14185
This looks interesting. While I can't commit as a sponsor, I can volunteer as a "second-in-line" approver.

[2022-09-26 19:48] jpkrohling commented on #14456
You are not being stupid, this is indeed not well-documented anywhere from what I remember. What I would recommend is using at least two types of collectors: one for receiving pull-based data, and another one for the remaining cases. The sidecar example you mentioned would fit this. Two types of deployments running side-by-side would also work if you use the OpenTelemetry Operator with the Target

[2022-09-26 19:58] jpkrohling commented on #14401
Closed by #14402

[2022-09-26 19:58] #14401 closed

[2022-09-26 20:03] #9381 closed

[2022-09-26 20:06] BinaryFissionGames commented on #14448
@djaglowski I think having these as a resource attribute makes sense, good point.

I also found out that some of these metrics aren't only per "site", but some are per "application-pool" (these are the http queue metrics), so there also will be an `iis.app_pool` resource attribute.

[2022-09-26 20:06] #13774 closed

[2022-09-26 20:08] jpkrohling commented on #10205
I believe it is! Do you want to take this one?

[2022-09-26 20:15] dmitryax commented on #14467
Just using print is not the best option. I agree that this particular error should be of debug level. But we need to bring logger there as @atoulme did.

If a user sets telemetry log level to Debug in their config, logs of all levels that are equal to debug or higher will be printed, it's everything excluding trace level

[2022-09-26 20:17] jpkrohling opened #14525 "Set the Elasticsearch exporter as Unmaintained"
### Describe the issue you're reporting

We've been pinging the code owners for the Elasticsearch exporter for almost 2 months now, with no reaction whatsoever. Following the component stability policy, I would like to start labeling Elasticsearch-related PRs and issues as "Unmaintained".

Current code owners: @urso @faec @blakerouse

An example where we asked for their feedback and didn't hear ba

[2022-09-26 20:19] #6633 closed

[2022-09-26 20:26] TylerHelmuth commented on #14467
Agreed, his PR is what we need.  @kentquirk and I have already provided feedback for next steps with that PR (member functions)

[2022-09-26 20:30] jpkrohling commented on #14313
Sounds reasonable to me! Would you like to open a PR for that?

[2022-09-26 20:49] kago-dk commented on #14313
@jpkrohling I do not have the skills to do it.

[2022-09-26 21:44] jkowall opened #14528 "Supporting schemas in Otel for logging (ECS)"
### Describe the issue you're reporting

Is your feature request related to a problem? Please describe.
When Otel ingest logs which are unrelated to other signals, there doesn't seem to be standard parsers for this data in otel. Meaning if we ingest a log from a webserver, we would want to parse the log correctly to allow us to correlate the data with application level logging for higher value. Th

[2022-09-26 22:21] dgoscn commented on #10205
Yes, can assign to me @jpkrohling

[2022-09-26 22:35] dmitryax commented on #14185
I can sponsor the component

[2022-09-26 23:55] dmitryax commented on #14185
@harshit-splunk I would recommend adopting the new Events API that was introduced in https://github.com/open-telemetry/opentelemetry-specification/pull/2676

I believe it doesn't conflict with your design doc, we just need to add `event.domain` and `event.name` as defined in https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/logs/semantic_conventions/events.md

[2022-09-27 00:22] MovieStoreGuy commented on #14472
I don't believe there is any reason why we can't add this, I think it is just an oversight.

/good-first-issue

[2022-09-27 00:22] MovieStoreGuy commented on #14472
/good-first-issue

[2022-09-27 00:29] MovieStoreGuy commented on #14514
Can I ask you to expand upon this?  What would you consider custom?

To do you mean, I can convert from one existing logging format (OTLP) to elastic schema. (Not sure if it is a real thing)

[2022-09-27 00:53] bogdandrutu commented on #11810
@TylerHelmuth qqs on this:
1. Why not using the lower letters for this? `int()`
2. Can the setter for the `int_value` be changed and do the cast in this case instead of asking user to do this?

[2022-09-27 00:54] MovieStoreGuy commented on #5879
Hey @dmitryax , it looks like the incorrect label was added here.
Could I ask you to update the component label?

[2022-09-27 01:04] TylerHelmuth commented on #11810
@bogdandrutu current naming guidelines are that Factory Functions be named with uppercase to differentiate from regular functions.

We could probably update setters to be smarter, checking the passed in value and seeing if it can be casted. That would be a more generic solution if it works.

[2022-09-27 01:44] JaredTan95 commented on #14525
@jpkrohling I am working enhancement the `elasticsearch exporter`, so I would like to be the maintainer of `elasticsearch exporter`. :-P
related PR:
- https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/10180

[2022-09-27 01:58] bgranetzke commented on #14514
Any implementation of kafkaexporter.MetricsMarshaler/LogsMarshaler cannot be added to the exporter without contributing it to otel-collector-contrib or forking the repository to modify the private functions: metricsMarshalers()/logsMarshalers().

Use cases include:
- (my use case) creating keyed kafka messages (the jager protos do, but otlp do not) related issue: https://github.com/open-telemetry/

[2022-09-27 04:37] rapphil opened #14531 "awsemfexporter is producing dimensions with null value instead of empty dimension"
### What happened?

## Description

It seems that this PR https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/13764 caused a regression in the awsemfexporter.

When the dimension rollup feature is used, it is producing dimensions with a null value instead of empty dimension.

## Steps to Reproduce

Use the collector https://github.com/open-telemetry/opentelemetry-collector-relea

[2022-09-27 05:05] atingchen opened #14535 "[otlpjsonfilereceiver] logs receive operations should use StartLogsOp/EndLogsOp"
### What happened?

## Description
 logs receive operations should use StartLogsOp/EndLogsOp, but now otlpjsonfilereceiver use StartMetricsOp/EndLogsOp

### Collector version

v0.60.0

### Environment information

## Environment
OS: (e.g., "Ubuntu 20.04")
Compiler(if manually compiled): (e.g., "go 14.2")

### OpenTelemetry Collector configuration

_No response_

### Log output

_No response_

###

[2022-09-27 05:26] newly12 commented on #11790
Closing this issue,`Split` is already added to OTTL.

[2022-09-27 05:26] #11790 closed

[2022-09-27 05:34] newly12 commented on #11533
If we implement an in house processor that does dissect or something similar in a processor, a typical use case is that we want to parse the "log"(event) timestamp from a "dissected" field and set it as the log record's time, similar to what's currently in filelog receiver, the `json_parser` and then the `timestamp` operator. However currently time parsing can only be done by `timestamp` operator

[2022-09-27 07:14] quequiere opened #14536 "Metrics filtering"
### Describe the issue you're reporting

Hi Guys ! I got metrics and I want to do a filter on "Data point attributes" in the collector. Is it possible ?
I already tried to use filter processor but this one can only filter on resource attributes.
[code]
I haven't found a filter based on data point attributes and I need to remove specifics metrics from their uri attribues. E.G:
[code]

[2022-09-27 08:41] jtama commented on #14313
I don't know if the issue is related but the opentelemtry documentation states :

What actually happens is that severityText contains the original value. If I have the following config :
[code]
And the following log :
`201 Content created`

The log entry will have "201" as `severityText` and "9" as `severity`. I would expect the `severityText` to be `info`...

[2022-09-27 08:58] jtama commented on #14313
Could be done in `help/severity.go` :
[code]

Don't know if it make sens for anyone else.

[2022-09-27 09:14] HarryEMartland commented on #13118
I am having the same error. I assume it is something to do with our Kafka brokers as if I use the bitnami kafka example I can connect.

It would be great if the logs gave a bit more info or if anyone could share how they fixed this? I imagine it is just config I need to set.

Thanks

[2022-09-27 10:11] ramdaspotale opened #14538 "[exporter/elasticsearchexporter] transaction duration missing in traces received in Elasticsearch using elasticsearchexporter"
### What happened?

## Description
I am using the latest open telemetry collector with Elasticsearch exporter to export traces to Elasticsearch instance. I previously used otlphttp exporter to export Traces to Elastic APM and consequently to Elasticsearch.  although Elasticsearch exporter is able to push Traces to ES, the exported docs do not have "transaction.duration"  or trace duration for the

[2022-09-27 14:18] djaglowski commented on #9126
@dgoscn, I've assigned it to you

[2022-09-27 14:21] bbortt opened #14541 "question/prometheusexporter: error when writing? prometheus metrics"
### Describe the issue you're reporting

hi there

I've tried exporting collected metrics for collection by Prometheus using the `exporters: prometheus:`. as far as I understand it, this will expose an endpoint which prometheus can scrape later, right?

well, this currently results in the following error:
[code]

I've also seen `error encoding and sending metric family: write tcp 10.127.91.182:809

[2022-09-27 14:22] djaglowski commented on #14525
@JaredTan95, that's great, thank you.

Will you please open a PR adding yourself as code owner of the component? The current owners should be removed.

[2022-09-27 14:25] djaglowski commented on #14525
Please also take a look through the [related issues](https://github.com/open-telemetry/opentelemetry-collector-contrib/labels/exporter%2Felasticsearch) when you have some time.

[2022-09-27 14:26] djaglowski commented on #10205
@dgoscn, assigned to you

[2022-09-27 14:57] djaglowski commented on #14528
I agree with the vision here, that if ECS is officially adopted we should provide ways for users to easily transform logs to match the format.

I believe the collector already has all the parsing and transformation capabilities necessary to process logs into ECS.

The primary issue is that predefined configurations must be developed and made available to users. We have an [examples directory](http

[2022-09-27 14:58] #14002 closed

[2022-09-27 15:03] #14535 closed

[2022-09-27 16:20] arajkumar commented on #10358
IIUC, the following works has to be done for this,

1. Add translator for [prompb.TimeSeries => pmetric.Metrics](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/pkg/translator/prometheusremotewrite) conversion
2. Add a receiver/prometheusremotewrite

May be I can give a try if nobody is actively working on this.

[2022-09-27 17:10] jpkrohling commented on #14313
Don't worry, thanks for the issue anyway. I'll assign this to me and take a look soon.

[2022-09-27 17:14] atingchen commented on #13630
Hi @sfc-gh-aivanou . Did you solve this problem?

[2022-09-27 17:25] atingchen commented on #12603
When the signal type does not match the processor‘s  signal type, should we ignore the signal instead of erroring?

[2022-09-27 17:34] jpkrohling commented on #13332
This is still on my queue, but currently, not my top priority as it seems that this is not related to Loki at all.

[2022-09-27 17:46] djaglowski commented on #12603
Yes, I think so. The challenge is to efficiently determine if the signal matches the correct type.

[2022-09-27 18:34] #14288 closed

[2022-09-27 19:06] atingchen commented on #12603
Can we try to use `tlv` format  to solve this problem?
When fileexporter exports the data in JSON format, it uses the signal type as the tag, and then writes the tag, data length and json object to the file.
Then in the receiver, we first read the tag to determine whether the signal matches.
But I think this might be a breaking change that prevents the old data from being read.

[2022-09-27 19:44] atingchen commented on #12603
pdata.JSONUnmarshaler use `jsoniter` to unmarshalls from OTLP json bytes.[#5433](https://github.com/open-telemetry/opentelemetry-collector/pull/5433).
It ignores unknown fields instead of erroring. So  if the signal doesn't matches the correct type, there will be no errors.
Or can we tell if the signal matches based on whether the struct after unmarshal is empty?

[2022-09-27 19:49] atingchen commented on #12603
This solution does not introduce breaking changes.

[2022-09-27 20:07] atoulme commented on #14467
We tried this - it appears && is not supported and should be replaced with `and`.

With `set(attributes["foo"], "bar") where attributes["foo"] != nil and attributes["foo"] == "foobar"`, the workaround works properly. Thanks!

[2022-09-27 20:18] djaglowski commented on #12603
I think any non-breaking solution is a reasonable improvement for now. If performance appears to be an issue, someone can propose an alternate strategy.

I like the `tlv` idea, but I think that only works for a more generic receiver where it can be specified as the expected format.

[2022-09-27 20:18] atoulme commented on #14467
An update further on the workaround. Upon using the workaround, the test case above complies and there are no longer any logs generated.

However, please see this example:
[code]

In this example, we make sure that the value of `attributes["foo"]` is not nil. Lo and behold, this generates logs:
[code]

[2022-09-27 21:08] dmitryax commented on #14467
Ok looks like `!= nil` is incorrect way to handle this use case. We need a `key in map` or `map has key` functionality in OTTL.

[2022-09-27 21:14] evan-bradley commented on #14536
Expressions can be used in the filter processor to exclude metrics that contain a matching data point. For example, this configuration will filter metrics that include a data point that has a `state` attribute with value `user`, `system` or `wait`:
[code]

Would this achieve what you are looking for?

[2022-09-27 21:14] mathiaz opened #14554 "Dynamic selection of log_group_name and log_stream_name in aws cloudwatch logs exporter"
### Is your feature request related to a problem? Please describe.

We are running the opentelemetry collector to send logs from our edge systems to a central opentelemetry gateway service. From the gateway we'd like to write logs to cloudwatch logs in different log groups and streams based on log resources.

### Describe the solution you'd like

We'd like to be able to set the `log_group_name` an

[2022-09-27 21:22] TylerHelmuth commented on #14467
Ya or to relax on what we consider an invalid comparison.  @kentquirk what do you think?

[2022-09-27 21:24] evan-bradley commented on #14541
To me, `write: broken pipe` indicates that the Collector endpoint is accessible, but the client is closing the connection before the Collector can respond. Does Prometheus print any logs that indicate what may be going on?

[2022-09-27 22:00] rmfitzpatrick commented on #14453
I think the issue as reported could be a bit of an edge case and this occurs when there's a minimal set of label between the federated server and the prometheus receiver. Adding a global external label to the federated server will prevent the metric group collision but I think this masks what I think I'm seeing as the underlying issue.

This may be something for https://github.com/open-telemetry/w

[2022-09-27 22:48] mcdoker18 commented on #14452
I am going to fix this bug after merging [the PR](https://github.com/open-telemetry/opentelemetry-collector/pull/6163).

[2022-09-28 01:35] sfc-gh-aivanou commented on #13630
oh, I actually stopped using it, I am just using `logging` instead. Will try to debug it further tomorrow, and report back.

[2022-09-28 01:42] bogdandrutu commented on #14531
@rapphil

Interesting backend decision to distinguish between empty and null, but good that this is fixed now.

[2022-09-28 02:14] JaredTan95 commented on #14525
okay

[2022-09-28 02:20] JaredTan95 commented on #13855
duplicated issue: https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/5854

[2022-09-28 02:24] #14531 closed

[2022-09-28 02:28] jamesmoessis commented on #9794
Update: I've raised most changes that I want to now. In the coming weeks, we will start using the featuregate-enabled scraper more heavily.

Once I'm happy with the stability of it, I will slowly:
- [] Transition the featuregate to be the default (which is the main breaking change for users)
- [] Remove the v1 scraper.
- [] Transition the component into beta.

[2022-09-28 06:57] JaredTan95 commented on #7950
`traces` export to elasticsearch supported in 0.60.0 version, https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/12069

[2022-09-28 07:13] edenkoveshi commented on #14457
It is indeed quoted

The query is actually ```set(resource.attributes["service.name"],Concat(":",attributes["k8s.namespace.name"],resource.attributes["service.name"])) ```
and it actually changes the trace name. This is probably the cause for it.
My exact configuration is:

[code]

[2022-09-28 07:48] jtama commented on #14313
Nevermind my previous comment. SeverityText should be the original one.
https://github.com/open-telemetry/opentelemetry-collector/blob/1c217b366fbdb209044d8f4c3fece079ae23bd3b/pdata/internal/data/protogen/logs/v1/logs.pb.go#L371-L372).

[2022-09-28 10:15] sweetxiaodai opened #14595 "Instana exporter get invalid response when enable https"
I attached the error message for the Instana exporter.

![502A3B06-2012-434C-9153-933A2D6E2953](https://user-images.githubusercontent.com/90817719/192753892-db89b1a4-af21-46c9-8073-cdf4872999a6.png)

can the latest version fix this issue?

[2022-09-28 11:47] quequiere commented on #14536
Yes, perfect it's working ! Thank you.

[2022-09-28 11:47] #14536 closed

[2022-09-28 12:06] kovrus commented on #13224
receivers left:
- [ ] dockerstatsreceiver
- [ ] receivercreator
- [ ] expvarreceiver
- [ ] googlecloudpubsubreceiver
- [ ] googlecloudspannerreceiver
- [ ] prometheusreceiver
- [ ] windowseventlogreceiver

[2022-09-28 12:25] edenkoveshi opened #14564 "[processor/spanmetrics] Does not recognize some dimensions"
### Description
I am using the Span Metrics processor to generate R.E.D metrics
I am using the dimensions feature to extract the following tags:
[code]
All of those attributes exist in the span scope
All the ```http.*``` dimensions are extracted as expected, but the rest aren't
I am using the 2-pipline configuration described [here](https://github.com/open-telemetry/opentelemetry-collector-contrib

[2022-09-28 12:54] gr0l0rg opened #14565 "[exporter/prometheusremotewriteexporter] ambiguous import: found package cloud.google.com/go/compute/metadata in multiple module"
### What happened?

## Description

Cannot do the `go mod tidy` command while importing the `github.com/open-telemetry/opentelemetry-collector-contrib/exporter/prometheusremotewriteexporter` module in my code

## Steps to Reproduce

1. `go get github.com/open-telemetry/opentelemetry-collector-contrib/exporter/prometheusremotewriteexporter`
2. `go mod tidy`

## Expected Result

`go mod tidy` exits

[2022-09-28 12:55] mapno commented on #14187
Can we close this issue? This [PR](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14324) fixed the problem

[2022-09-28 13:27] djaglowski opened #14567 "[receivers] Add TestLoadConfig to validate"
### Describe the issue you're reporting

Components should have at least one test that loads a configuration from `./testdata/config.yaml` and validates it. ([Example](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/575c72b474b18c788b54b264eb06e622d32973f5/receiver/bigipreceiver/config_test.go#L131)) The following receivers are missing this test:

- [ ] aerospike
- [ ] apach

[2022-09-28 13:53] djaglowski opened #14568 "[ping-codeowners] Should ping multiple sets of code owners when an issue has multiple component labels"
### Describe the issue you're reporting

I created #14567, which describes a simple change that should be applied to multiple components. Therefore, I labeled the issue with each affected component. I noticed that the ping bot does not handle this well.

This does not come up often so may not be a priority, but to capture the ideal behavior, I suggest it would:
1. Generate a ping for each componen

[2022-09-28 14:07] jpkrohling commented on #10358
@arajkumar, @kovrus will work on this one, but your help is appreciated I reviewing the PR once it's ready and in trying it out.

[2022-09-28 14:27] #14443 closed

[2022-09-28 15:07] atingchen commented on #12603
I'll think about how to implement it.

[2022-09-28 15:14] dashpole commented on #13117
Discussed at the prometheus WG today:

* We can ask for OM vs Prometheus to be passed to appenders.  Maybe in the append context? (tag RichiH, codesome)

[2022-09-28 15:30] #14525 closed

[2022-09-28 16:27] codeboten commented on #13991
from sept 28 SIG call, cc @jpkrohling

[2022-09-28 17:24] bryan-aguilar opened #14573 "[extension/sigv4authextension] Auth failed without `sts_region` field"
### What happened?

## Description
Sigv4 auth extension fails initialization inside an EKS-Anywhere cluster without `sts_region` value. The cluster is setup with IRSA and the service account is attached.
## Steps to Reproduce
1. Setup cluster
2. [Setup IRSA](https://anywhere.eks.amazonaws.com/docs/reference/clusterspec/optional/irsa/)
3. Add service account
4. Ensure service account is attached to

[2022-09-28 17:51] kentquirk commented on #14327
In the meeting today, people were talking about putting the switch behind a feature flag.

What's wrong with sending the metric under both a new name and an old one for a while, and putting the old one behind a feature flag that initially defaults to ON?

[2022-09-28 18:10] BinaryFissionGames commented on #14448
Completed by #14545

[2022-09-28 18:10] #14448 closed

[2022-09-28 18:50] BinaryFissionGames opened #14575 "[receiver/iis] `iis.request.queue.age.max`consistently fails to scrape"
### What happened?

## Description
`iis.request.queue.age.max`consistently fails to scrape. This *MAY* be because the counter that it scrapes, `\HTTP Service Request Queues(*)\MaxQueueItemAge` doesn't seem to be populated consistently (seems to be cleared if nothing is in the queue), and gives this error:

[code]

This happens on **every** scrape, which ends up filling the logs with the same warni

[2022-09-28 19:32] BinaryFissionGames opened #14577 "[processor/metrictransform] Aggregating labels drops metric description"
### What happened?

## Description
When aggregating by labels, the metric description is made empty.

See this function:
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/d5bb86ce9ec34a62a6959ed22cc5bd61a6611215/processor/metricstransformprocessor/metrics_transform_processor_otlp.go#L454-L470

The metric description is not copied over to the new metric, which causes the descri

[2022-09-28 19:35] tigrannajaryan commented on #13991
Yes, to ensure long-term maintenance and simply to make sure someone can approve the PRs. You can't review, approve and merge your own PRs :-)

[2022-09-28 20:01] TylerHelmuth commented on #14457
I see what is happening.  The issue is that the statement is setting `resource.attributes["service.name"]` but also depends on the value of `resource.attributes["service.name"]` to do that set.

For Spans this isn't a problem because a span would be set once and then the processor moves on.   But we are setting a resource, which within the Traces context is currently a "virtual". So the resource i

[2022-09-28 20:19] TylerHelmuth opened #14578 "[processor/transform] Efficiently interact with higher-scope contexts"
### Is your feature request related to a problem? Please describe.

At the moment, the transform processor only supports span, logrecord, and datapoint processing.  This works for many use cases, but not all.  There are times when transformation needs to occur on the Resource, InstrumentationScope, or Metric only, and not on the underlying telemetry.

Today this can be achieved, but not efficientl

[2022-09-28 20:20] TylerHelmuth commented on #14578
/cc @bogdandrutu @kentquirk

[2022-09-28 20:57] #11810 closed

[2022-09-28 21:42] sfc-gh-aivanou opened #14583 "Prometheus receiver does not parse labels correctly"
### What happened?

## Description
Prometheus receiver does not parse regex correctly.

## Steps to Reproduce

Run prometheus receiver with the following configuration:

[code]

## Expected Result
`__address__` should have IP address of the node
## Actual Result
The final url: `http://:9100/metrics` . This means that address is not parsed correctly

### Collector version

0.60.0

### Environment i

[2022-09-28 22:43] bryan-aguilar commented on #14583
[code]
Could this be an issue due to the relabel config requiring double dollar signs? Prom receiver readme has more info [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/prometheusreceiver#getting-started).

[2022-09-28 22:51] atoulme opened #14584 "[exporter/splunk_hec] Support Basic-Auth token authentication"
### Is your feature request related to a problem? Please describe.

The HEC receiver also supports reading the token through Basic Auth.

You can use any username (even none) with the token as the password, and it'll work! Especially handy in environments where you can't add a custom header, but where basic auth is supported. A curl one-line example:
[code]

### Describe the solution you'd like

W

[2022-09-29 00:34] MovieStoreGuy commented on #11789
Closing this ticket off since has been part of the release of the collector for some time now

[2022-09-29 00:34] #11789 closed

[2022-09-29 00:55] sfc-gh-aivanou commented on #14583
oh, this is exactly it. I somehow missed that part.. Thank you very much for pointing that line!!

[2022-09-29 00:55] #14583 closed

[2022-09-29 02:06] mattmoor opened #14587 "Start to sign image releases with cosign"
### Is your feature request related to a problem? Please describe.

I'd like to be able to verify that the images we are consuming from `otel/opentelemetry-collector-contrib` on DockerHub were produced by this repo's release automation.

### Describe the solution you'd like

I'd like to see the workflow used to publish your images use `sigstore/cosign` keyless signing to sign the published images,

[2022-09-29 02:06] mattmoor commented on #14587
If y'all are receptive to this, I'd be happy to send a PR with the above changes to the actions workflow, just let me know.

[2022-09-29 05:27] JaredTan95 commented on #6888
`elasticsearch exporter` supported `trace` with https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/10180

[2022-09-29 05:56] #14567 closed

[2022-09-29 05:58] bogdandrutu commented on #14587
The published image are in a different repository. Moving this issue there.

[2022-09-29 05:59] bogdandrutu commented on #13224
@kovrus thanks for the progress. Let me know if there is anything I can do to help.

[2022-09-29 06:27] cartermp commented on #13991
Love this effort. Another thought here is that this (or something like this) could live on the website as well, and/or be linked to from the collector docs [that get significant traffic](https://play.honeycomb.io/opentelemetry-web/datasets/opentelemetry.io/result/sHiiZF79G6s?useStackedGraphs). Although we can link to things in the interim, it's far less friction for end-users to have any web-based

[2022-09-29 06:44] carlreid commented on #2651
For those following this, the [latest release](https://github.com/open-telemetry/opentelemetry-collector-contrib/releases/tag/v0.61.0) has support for Datadog logs. Thanks @dineshg13 👏

[2022-09-29 07:36] svrnm commented on #13991
I wanted to say what @cartermp said, but he used better words, so 💯

Can we still make sure that this is also going to happen? @neelayu invested lots of effort into that, and the CLI is still the way to go for many people :-)

[2022-09-29 09:13] atingchen opened #14593 "[pkg/stanza] Support to Customize bufio.SplitFunc"
### Is your feature request related to a problem? Please describe.

Now `fileexport` support to marshal telemetry data in proto format and compress data.When using `proto` format or any kind of encoding,  encoded telemetry data is no longer written to file line by line. The size of the encoded telemetry data will be written before writing the data to the file

When we need read the telemetry data

[2022-09-29 09:23] rogercoll commented on #9013
Exclude images option:

The actual docker stats receiver allows to filter the monitored containers by their image name, to do that it uses the `excluded_images` option. In order to extend the available options to exclude a container from being monitored, we are considering to use a more generic configuration that will enable us to easily add more filtering options:

[code]

Any of the containers m

[2022-09-29 09:26] sweetxiaodai commented on #14009
@hickeyma
@evan-bradley
@hickeyma
@tmc
Hello, I got same error when I replace instana server's certificate as a self-signed certificate.
Would you mind kindly check on this issue again.
[https://github.com/open-telemetry/opentelemetry-collector-releases/issues/201](url)

[2022-09-29 09:37] hickeyma commented on #14009
@sweetxiaodai I suggest closing [https://github.com/open-telemetry/opentelemetry-collector-releases/issues/201](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/url) and opening a new issue in this repo.  When you add the error stack to the description, can you add it as text within "```console" markdown and avoid screenshot. It's difficult to read the screenshot.

[2022-09-29 10:06] sweetxiaodai commented on #14009
@hickeyma Sure, I will create a new one. BTW, I am working on a company which is using Instana, we’d like to cooperate with IBM to make this feature(Instana exporter) more stable and build a reliable support channel. If you don’t mind, is it possible that provide me an email address?

[2022-09-29 12:08] julealgon commented on #2651
Awesome to hear that. We'll be using it right away.

@carlreid / @dineshg13 any particular reason this issue wasn't associated with the work and closed?

[2022-09-29 12:37] jpkrohling commented on #14595
cc @hickeyma

[2022-09-29 13:13] jpkrohling commented on #14584
Every exporter using the default confighttp and configgrpc can be protected with any one of our authentication extensions. Isn't this exporter using confighttp/configgrpc to start the listener?

[2022-09-29 13:51] mx-psi commented on #2651
@julealgon We just forgot to close this, thanks for pointing it out, closing this now!

[2022-09-29 13:51] #2651 closed

[2022-09-29 14:06] #14187 closed

[2022-09-29 14:14] jpkrohling commented on #13991
I circulated this internally and will ping @pmcollins in case someone is interested in helping with the frontend parts.

[2022-09-29 15:20] jaronoff97 opened #14597 "Prometheus Receiver failing on using target allocator's scrape config"
### What happened?

## Description
This is an issue to track the collector changes as a part of [this bug](https://github.com/open-telemetry/opentelemetry-operator/issues/1106)

## Steps to Reproduce
Found in the above issue.

## Expected Result
The prometheus receiver's target allocator configuration populates new jobs for the collector.

## Actual Result
errors in the above version

### Collecto

[2022-09-29 16:11] djaglowski opened #14598 "[receiver/aerospike] Integration test cannot run on arm systems"
### Describe the issue you're reporting

Aerospike does not publish a docker image that is compatible with arm systems such as M1. Given that M1 is such a popular developer laptop, we really ought to have an integration test that can run on it.

[2022-09-29 16:13] djaglowski commented on #14598
@dwelch-spike, any thoughts on this?

I've noticed that there is a [related issue on the associated aerospike repo](https://github.com/aerospike/aerospike-server.docker/issues/33), but it has not been acknowledged since M1 has been in use.

[2022-09-29 16:30] dwelch-spike commented on #14598
@djaglowski we are working on arm/M1 compatibility right now, including docker images.

[2022-09-29 17:33] MarioAlexis commented on #14311
Hi

The fact that metrics per processes are missing when using `receiver/hostmetrics/process`, are we talking about a possible regression on that feature ?

Here an example of metrics that we are currently scraping.

[code]

This is not possible anymore on recent versions.
The above metrics are coming from Otel-collector-contrib version `6a1c247` or `0.42.0`

[code]

Thank you for your time.

[2022-09-29 17:59] evan-bradley commented on #14564
Can you post the exact configuration you are using? I don't see any immediately obvious reason why the non-HTTP attributes would be excluded as dimensions.

[2022-09-29 18:47] bbortt commented on #14541
@evan-bradley thanks for responding! that I would have to check with our middleware team. I am however aware of the metrics arriving in Prometheus, as I can see them in Grafana. the error does occur after some time, not right on startup. however, pod cpu and memory usage look ok to me (no peaks, not near the assigned limit).

[2022-09-29 19:02] evan-bradley commented on #14565
Can you provide any more information about your setup, such as other dependencies in your project's go.mod? Starting a new project and pulling in the Prometheus remotewrite exporter module doesn't produce any errors when I try this. My initial impression is that you are using another package with a conflicting dependency.

[2022-09-29 19:31] djaglowski commented on #14575
I recently looked into this same error and concluded that it was due to the counter rolling over. (See https://support.microfocus.com/kb/doc.php?id=7010545)

I opened https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14343 with what I think may fix a flaky integration test that occasionally showed this error. That said, if it is happening every time, I'm not sure what to make

[2022-09-29 19:39] djaglowski commented on #14593
I think something like this makes sense, though I would want to look at a PR before being sure.

The part I am struggling with is that the fileconsumer embeds `SplitterConfig` which exposes several settings to users that will be ignored when using a custom splitfunc. This is not ideal but could probably be handled through config validation and documentation. It would be a lot to untangle otherwise

[2022-09-29 19:55] BinaryFissionGames commented on #14575
Yeah, it's happening on every scrape, so that's not the problem. This counter is of type ELAPSED_TIME (see: https://learn.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2003/cc756820(v=ws.10))

The denominator being negative, in this case, seems to be just the normal behavior when nothing is in the queue. I think we just need to ignore this specific error for this specific met

[2022-09-29 20:06] #14121 closed

[2022-09-29 21:03] atoulme commented on #14584
Sorry, I'm plainly reporting a feature request. I have no insights to offer. This enhancement is open for anyone to participate.

[2022-09-29 23:50] yong-cha commented on #13638
Fixed.
https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/14135

[2022-09-29 23:50] #13638 closed

[2022-09-30 00:59] hardproblems commented on #12300
@badjware @dashpole can we close this issue now?

[2022-09-30 01:56] sweetxiaodai opened #14602 "Instana Exporter did not work properly after the server deployed a self-signed certificate."
### What happened?

## Description
Instana exporter cannot send trace to instana backend after the server side deployed a self-signed https certificate. I already put the root CA in the client CA store.

The error message displayed after I triggered a http call on my application.
[code]
## Steps to Reproduce
The client side (where the otel-collector was running) is a Centos 8 linux system. I updat

[2022-09-30 01:58] sweetxiaodai commented on #14595
closed. Merge to #14602

[2022-09-30 03:07] atingchen commented on #14593
I'd like to do it.

[2022-09-30 05:41] #67 closed

[2022-09-30 05:59] gr0l0rg commented on #14565
@evan-bradley This weird error was also being discussed in https://github.com/aws-observability/aws-otel-collector/issues/926
Somebody just stated the fix which is adding this replacement in `go.mod`
[code]
And it worked for me.

[2022-09-30 07:52] willianpc commented on #14009
Hi @sweetxiaodai I suggest you / the company who is a customer of Instana to file a ticket via https://support.instana.com/hc/en-us

This channel will be faster and you will get more information.
Also, I noticed that you shared the agent key in the issue. That kind of information is better kept in private. Maybe you may consider to edit your issue where the agent key is seen from the OTel config f

[2022-09-30 09:52] saikalyan-bhagavathula opened #14615 "[receiver/filelog] Regex is not matching with utf-16le"
**Describe the bug**
When I give the **utf16-le** encoded files to **ocb** all the log statements from the file are appending to a single line even I gave the multiline option.

**Steps to reproduce**
By just giving the **utf16-le** encoded files to **ocb** .

**What did you expect to see?**
Every Log Statement is splitting as the new one.

**What did you see instead?**
All the log statements from

[2022-09-30 10:29] hughluo commented on #14602
Thanks for reaching out, I will liaison with our support team to triage the issue.

[2022-09-30 10:45] hickeyma commented on #14009
Thanks for responding @willianpc.

@sweetxiaodai There is a response in https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/14602#issuecomment-1263398517 by @hughluo where he will lease with the support team for you.

[2022-09-30 10:46] hickeyma commented on #14602
This supersedes #14595

[2022-09-30 11:26] albertteoh commented on #14564
Yup, I agree with @evan-bradley (and thanks for responding!).

As long as the non-HTTP attributes exist at the span or resource attributes at the time the span arrives in the spanmetrics processor, I also can't see why they wouldn't be included in the metrics. Relevant code [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/processor/spanmetricsprocessor/processor.g

[2022-09-30 11:38] atingchen opened #14606 "[pkg/stanza] /docs/types/duration.md was removed"
### What happened?

## Description
/docs/types/duration.md was removed, but `file_input.md` import it.

### Collector version

v0.61.0

### Environment information

_No response_

### OpenTelemetry Collector configuration

_No response_

### Log output

_No response_

### Additional context

_No response_

[2022-09-30 11:57] sweetxiaodai commented on #14009
Thanks so much, Already done.
And changed the agent key

发自我的iPhone

[2022-09-30 11:57] sweetxiaodai commented on #14009
﻿
Thanks so much, Already done.
And changed the agent key

发自我的iPhone

[2022-09-30 12:20] albertteoh commented on #9551
@Konig-Corey if the spanmetrics processor were to insert a randomly generated collector-level ID (generated on each startup) into all metrics it emits, would that solve the problem you've described here?

[2022-09-30 13:07] amitvermaa3101 commented on #13641
how to fix the issue i didnt understand the solution however case is closed