[2022-09-30 13:42] #12300 closed

[2022-09-30 13:59] djaglowski commented on #14606
@atingchen, good catch. I thought I had removed all references to that doc, but apparently not. We definitely should remove it.

[2022-09-30 14:35] evan-bradley opened #14608 "Provide component dropdown in issue templates"
### Is your feature request related to a problem? Please describe.

Notifying component code owners currently requires manual intervention through applying the component's tag. This could be automated if there was a consistent way to specify which component an issue applies to.

### Describe the solution you'd like

Offering dropdown for selecting the component related to an issue would allow auto

[2022-09-30 15:06] schmikei opened #14610 "[receiver/mongodbatlas] Polling Scalability Concern"
### Describe the issue you're reporting

There was a concern that still is outstanding that was outlined in this comment: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14180#pullrequestreview-1125307375

What was suggested seems like a decent approach where exporters do not get overburdened by large batches of polled alerts.

[2022-09-30 16:12] neelayu opened #14616 "Rename `s3mapprovider` to `s3provider`"
### Describe the issue you're reporting

`s3mapprovider` was merged very recently. It is indeed a great addition to the repo. However, it should be renamed to `s3provider` keeping it consistent with the other providers from the core repo(ex: fileprovider, yamlprovider, envprovider, httpprovider)

[2022-09-30 16:18] gbbr opened #14618 "exporter/datadogexporter: reported memory usage incorrect in Kubernetes"
### What happened?

The memory usage reported by Datadog is incorrect in some setups (such as Kubernetes/Docker). The reported numbers are significantly different than the original hostmetrics.

This is because of hacky configuration used with the metricstransform processor. It can be fixed by manually doing the conversion.

### Collector version

0.61.0

### Environment information

_No response_

[2022-09-30 16:20] djaglowski commented on #14615
@saikalyan-bhagavathula, there is an `encoding` setting within the `multiline` block that can be used to specify the type of encoding. Your sample config does not appear to specify this, so I suspect the receiver is treating your files as the default encoding, `utf-8`.

Please try:
[code]

[2022-09-30 16:34] evan-bradley commented on #13936
Thanks everyone for your input. Based on the discussion for far, I would like to first tackle #12731, and see the results of that effort to guide where we go next. I'll leave this issue open for about another week to see if there are any more ideas.

[2022-09-30 16:35] scheler commented on #14474
@povilasv I will work on modifying the spec language to allow for this. The attribute `event.domain` is only meant to be a logical separation across different event systems, so it allows for similar looking names in different domains but with a completely different purpose. However, within each domain we don't have to have any uniqueness constraints but leave it to whatever is idiomatic to the par

[2022-09-30 16:54] tigrannajaryan opened #14620 "Implement CLP-like parser for logs"
### Is your feature request related to a problem? Please describe.

We have a number of parsers for logs that help to convert unstructured logs to structured. CLP is a novel technique for parsing and compressing logs: https://www.usenix.org/system/files/osdi21-rodrigues.pdf

### Describe the solution you'd like

It would be great to have a CLP-parser in the Collector that can extract the fields ac

[2022-09-30 16:54] tigrannajaryan commented on #14620
cc @djaglowski this may be interesting for you.

[2022-09-30 17:19] evan-bradley commented on #11126
Closing as resolved via #11127.

[2022-09-30 17:19] #11126 closed

[2022-09-30 17:23] evan-bradley commented on #10466
@mx-psi Can this issue be closed?

[2022-09-30 17:27] evan-bradley commented on #10356
Closing as resolved via #13112.

[2022-09-30 17:27] #10356 closed

[2022-09-30 17:38] mx-psi commented on #10466
[code]
These are the two components missing:
- The first one has no PR. @TylerHelmuth can you have a look? (Related to `pkg/ottl`)
- The second one has an open PR (https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12325) waiting on a review from @Aneurysm9.

[2022-09-30 17:39] TylerHelmuth commented on #10466
@mx-psi I'll take a look

[2022-09-30 18:13] djaglowski commented on #14620
Very interesting. Seems promising.

The indexing does seem potentially problematic in the context of normalizing attributes across instances of the parser. eg. the index referring to schema `task_\d+` depends on its position in each parser's config. Naming the schemas in the config would be much more consistent across instances, if managed carefully. Working with the indices of "log types" and "va

[2022-09-30 18:21] dmitryax commented on #14026
I can imagine that this is not desirable behavior for most of the use cases. So if we want this functionality it should be optional and configurable for some specific set attributes (regexp?).

A bigger problem here is that currently span processor is applied to a span at a time. `pdata.Traces` batch doesn't guarantee that all the trace spans are there. So in order to implement this, you would nee

[2022-09-30 18:32] dmitryax commented on #11875
Looks like the trace exporter cannot establish connection to the collector. make sure that collector ports are properly exposed and collector is running fine with otlp receiver enabled in the traces pipeline

[2022-09-30 18:34] makrilavy opened #14624 "GoogleCloudSpannerReceiver: Fix/surpass errors when Spanner databases are not found"
### Describe the issue you're reporting

We are running an automation script on jenkins that will fetch the current list of spanner database instances for the day and update the config file for the collector and upgrade the installation. Unfortunately, the table that contains the current list of spanner instances is only updated once a day, and throughout the day, a few of the instances may end up

[2022-09-30 19:11] #14610 closed

[2022-09-30 23:08] atoulme commented on #14467
This is now fixed in 0.61.0. Closing.

[2022-09-30 23:08] #14467 closed

[2022-10-01 00:34] sweetxiaodai commented on #14595
merged to #14602 and close this one

[2022-10-01 00:34] #14595 closed

[2022-10-01 00:56] #13924 closed

[2022-10-01 02:22] JaredTan95 commented on #14538
@ramdaspotale As far as I know,  otlp span does not contains `transaction. duration ` attributes. In your case, elastic apm received `otlp tracing` and calculated `duration` from the start and end time.

[2022-10-01 09:35] albertteoh opened #14631 "[processor/spanmetrics] Duplicate metrics sent to prometheus when deployed as a daemonset/sidecar."
### Is your feature request related to a problem? Please describe.

https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/9551 defines the problem well.

Essentially, when otel collector is deployed as a daemonset per node instance or as a sidecar with spanmetrics processor, because they can potentially receive spans from the same service, but different replica, they would gener

[2022-10-02 09:04] edenkoveshi commented on #14564
Obviously there shouldn't be any difference between the HTTP and non-HTTP attributes, but it still happens..
This is the exact configuration:
[code]

Thank you for your help

[2022-10-02 16:47] sweetxiaodai commented on #14602
Provide you with the server configuration.
There is a nginx before the instana backend. The endpoint that I use for the exporter is <endpoint>:1444, I cannot use the 443 port. It gave me a 404 error.
The certificate was deployed in instana server not in the nginx.
[code]

[2022-10-02 16:56] sweetxiaodai commented on #14602
Hi @hickeyma , is there anything I can help? If you need any information to reproduce the issue, please leave me a message here.
Thanks so much.

[2022-10-03 06:16] Sunilwali679 commented on #14186
Hi @inigohu  . I am interested to work on this could you please assign this to me ??

[2022-10-03 09:23] mar4uk commented on #9800
New PR https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14632 was created. The license is not a blocker anymore

[2022-10-03 12:56] aboguszewski-sumo opened #14635 "[receiver/elasticsearchreceiver]: add support for more metrics"
### Is your feature request related to a problem? Please describe.

[Sumo Logic app for Elasticsearch](https://help-opensource.sumologic.com/docs/integrations/databases/elasticsearch/) uses metrics that are not scraped by the `elasticsearchreceiver`. The exact list of metrics needed is at the bottom of the post - most of these metrics are the `indices` metrics.

Additionally, some of the metrics n

[2022-10-03 13:57] sweetxiaodai commented on #14602
Hi @hickeyma
I made some verification, is it possible that adding an additional configuration item in the instana exporter?

[code]

I also test the method in my computer and it work properly for golang. How ever, I am not quite familiar with golang and otel currently. Hope it is helpful. May I ask you when the issue could be fixed?
[code]

[2022-10-03 14:31] astencel-sumo commented on #14117
I believe all this information is already provided by the `hostmetrics` receiver's `filesystem` scraper, even if in not the most intuitive way:

1. Number of free inodes: `system.filesystem.inodes.usage` with the attribute `state=free`
2. Total number of inodes: you would need to sum `system.filesystem.inodes.usage{state="free"}` + `system.filesystem.inodes.usage{state="used"}`. Proof in [gopsutil

[2022-10-03 16:28] pmcollins opened #14638 "New component: File Receiver"
### The purpose and use-cases of the new component

The File Receiver reads the output of a [File Exporter](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/fileexporter) and replays it into a collector.

The intent is for this receiver to be a counterpart to the File Exporter. Like the File Exporter, it should ultimately support:
* JSON and Protobuf
* metrics,

[2022-10-03 17:16] jspaleta commented on #14117
ah sorry i missed the state attribute

[2022-10-03 18:30] BinaryFissionGames opened #14679 "[receiver/hostmetrics] Process scraper fails to read parent-process information for some processes on Windows"
### What happened?

## Description
When using the `process` scraper on windows, errors are constantly logged, indicating that some processes do not exist.
This ends up filling the logs with the same error repeatedly, which may bury other logs.

## Steps to Reproduce
Run the collector as administrator with the `process` scraper enabled.

## Expected Result
No errors are logged.

## Actual Result
Er

[2022-10-03 18:37] BinaryFissionGames opened #14681 "[receiver/hostmetrics] Scraping process metrics gives parent PID read error on Linux"
### What happened?

## Description
When scraping process metrics on linux, an error indicating that an invalid PID (0) is being read.
This fills the logs on each scrape with error logs, that may drown out other important logs.

## Steps to Reproduce
Scrape process metrics as root

## Expected Result
No error is logged

## Actual Result
Error message about error reading parent PID for systemd (PID

[2022-10-03 19:12] bogdandrutu opened #14686 "Bump go.mongodb.org/atlas from 0.16.0 to 0.17.0 in /receiver/mongodbatlasreceiver #14675"
### Describe the issue you're reporting

This needs to be manually done because of breaking changes.

[2022-10-03 19:21] hughesjj opened #14688 "Migrate fraughtful language from Redis telemetry"
### Describe the issue you're reporting

While working on getting Redis metrics in I noticed we're still using non-inclusive terminology for some of the Redis telemetry.  Redis has deprecated the use of terminology such as `slave` as of [2018](https://github.com/redis/redis/issues/5335).  I see we've been migrating such language across the project, and wanted to track the same effort for Redis.

h

[2022-10-03 20:11] jpkrohling commented on #14688
@hughesjj, would you like to submit a PR for that?

[2022-10-03 20:29] djaglowski opened #14690 "[exporter/file]"
### What happened?

## Description
`rotation` settings were added in v0.60.0. Unfortunately, they are enabled by default, which was an undeclared breaking change.

I'm opening this issue to discuss whether the previous functionality should be restored.

## Steps to Reproduce
Configure the file exporter without specifying rotation settings.

## Expected Result
File rotation is not enabled.

## Actu

[2022-10-03 20:30] djaglowski commented on #14690
@atingchen, I'm curious your thoughts on this.

[2022-10-03 20:42] jpkrohling commented on #10200
I'm closing this one, as I'm not convinced we'd be better served with hashring instead of the current solution. If @jvilhuber has new information, I'll reopen this issue.

[2022-10-03 20:42] #10200 closed

[2022-10-03 22:20] scheler commented on #14474
@jack-berg The [PR](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14603/files#diff-f4ba972b9039427bcc6b145203d6504639b9c7bc828c1b30e19c476f8e9b0ca3R80) associated with this issue is mapping the Kubernetes Event's name to `event.name`.

[2022-10-03 23:53] #14686 closed

[2022-10-04 03:17] #9720 closed

[2022-10-04 03:23] atingchen commented on #14638
Hi, there is already a otlpjsonfile receiver that may work for the json format. We should talk about how to adapt or merge with that one

[2022-10-04 03:28] dehaansa opened #14698 "[receiver/jmx] Support latest releases of jmx metrics gatherer"
### Is your feature request related to a problem? Please describe.

Latest versions of JMX metrics gatherer have not been hashed and added to the supported list.

### Describe the solution you'd like

Get them added to the list.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-10-04 03:47] atingchen commented on #14690
@djaglowski  Sorry for causing this breaking change.
When the amount of data exported by the user is small or only some data is exported each time, I think the performance of the rotation exporting a 100MB file by default is the same as before.
When the amount of data exported from user data is large or grows infinitely, the following problems may occur:
- Larger files are harder to manipulate.
-

[2022-10-04 03:58] atingchen commented on #14638
Can we import data using `fileconsume`?

[2022-10-04 06:10] neelayu commented on #14584
I believe Splunk HEC does not support basic authentication.
https://community.splunk.com/t5/Getting-Data-In/HEC-Basic-Authentication/m-p/575525

[2022-10-04 11:31] atingchen commented on #14638
Can we rename otlpjsonfile receiver to file receiver? This will cause a breaking change. @djaglowski @atoulme

[2022-10-04 12:10] garry-cairns commented on #3870
I'm intending to use the influxdbexporter in production but not the receiver. Since it's currently unmaintained I'd be keen to be the owner there but I'm not currently a contributor (and for good reason since I don't know go yet). Is there a path for me to become the owner there or should I try to help find someone more suitable?

[2022-10-04 13:03] djaglowski commented on #14638
If we can sufficiently generalize the otlpjsonfile receiver, then I think it could reasonably be "renamed". However, I think we might as well just start by copying the codebase. If this component progresses far enough, then we can probably deprecate the otlpjsonfile receiver.

[2022-10-04 13:16] bbortt commented on #14541
@evan-bradley so, I've looked a bit more into it today. it looks all good from the outside. when querying the pod with `curl` from another one, the metrics will be returned. they do also arrive in grafana, no problems at scraping. I think however, the memory limit might be a problem. it climbs and climbs and climbs until it reaches the limit (see the newly added third pod ad 15:10):

![image](http

[2022-10-04 13:25] djaglowski commented on #14690
I am in favor of having rotation disabled by default. However, if possible, we should find a way to do this that does not require a flag. My ideal would be that it behaves like this:

[code]

[2022-10-04 13:30] atingchen commented on #14690
I'll open a PR to fix this.

[2022-10-04 13:50] djaglowski commented on #14690
Thanks @atingchen

[2022-10-04 14:07] jeremyaouad opened #14701 "Compaction on rebound occuring before needed threshold is reached"
## Description
I have code emitting metrics and logs to a collector. The collector then emits to a visualizer.
I'm doing a test where I `kill -STOP` the visualizer for 10 minutes, and switch it back on, in order to test the compaction on rebound. Only after the visualizer comes back online, I expect to have compaction, and not before.
I configured compaction as follows:
[code]
Since bbolt mmaps di

[2022-10-04 14:14] willianpc commented on #14602
Hi @sweetxiaodai
Let us take a look at the data you provided and try to reproduce the issue before coming up with a solution.
But adding a new config option seems to make sense at first glance.

Best,
_ Willian

[2022-10-04 15:24] frzifus commented on #14325
Supported since #14326

[2022-10-04 15:24] #14325 closed

[2022-10-04 16:03] thmshmm opened #14706 "Possibility to set Loki tenant id from resource attributes"
### Describe the issue you're reporting

Currently the Loki exporter supports setting a dynamic tenant id based on a resource attribute using the tenant field. This field is deprecated and will be removed in v0.61.

The suggested alternative to use the "headers_setter" does not support resource attributes.

As proposed by @jpkrohling on Slack, something like a "loki.attributes.tenant" label could

[2022-10-04 16:03] jpkrohling commented on #14706
@kovrus volunteered to work on this one.

[2022-10-04 16:06] jpkrohling commented on #14706
Issue #12873 mentions the tenant header, and I think I like the name I proposed there better than what I added as a comment via Slack: `loki.tenant.` We could look it up first in the resource attributes, falling back to record attributes.

[2022-10-04 16:15] frzifus opened #14707 "[extension/jaegerremotesampling] port collision when converting old receiver settings"
### What happened?

## Description

The jaeger remote sampling extension collides when converting old jaeger receiver settings. The problem can be solved by manually switching to another port, but this leads to potentially invalid configurations for reporters.

Extension readme says:
[code]

## Expected Result

If the extension port matches the receiver port, both endpoints should be registered to

[2022-10-04 16:42] jpkrohling commented on #14707
Is it possible to use the same server on multiple components?

[2022-10-04 16:53] jpkrohling commented on #3870
A code owner is supposed to fix bugs in the code for the component. It also helps to be part of the community by having reviewed PRs and contributing with bug fixes, preferably for the components you want to become a code owner.

[2022-10-04 16:54] #10476 closed

[2022-10-04 17:30] atingchen opened #14708 "[receiver/rabbitmqreceiver] Integration test fails on TestRabbitmqIntegration"
### What happened?

## Description
Integration test fails on TestRabbitmqIntegration

## Steps to Reproduce

## Expected Result
Passed the test
## Actual Result
=== RUN   TestRabbitmqIntegration
=== RUN   TestRabbitmqIntegration/Running_rabbitmq_3.9
=== PAUSE TestRabbitmqIntegration/Running_rabbitmq_3.9
=== CONT  TestRabbitmqIntegration/Running_rabbitmq_3.9
2022/10/04 16:40:10 Starting container i

[2022-10-04 18:58] traytonwhite commented on #14584
This is a feature that's not as commonly known as using the custom authentication header, but is documented:

https://docs.splunk.com/Documentation/Splunk/9.0.1/Data/HECExamples#Example_10:_Basic_authentication

The question linked is asking about using a Splunk account to auth with HEC - which is not supported. The person posting the question does mention they can get HEC token auth to work, thou

[2022-10-04 19:00] bogdandrutu opened #14712 "Replace function interfaces with a factory"
### Describe the issue you're reporting

Right now we pass functions as interfaces, and then go over arguments using reflection, identifying some internal, etc. I think we should use a "factory" pattern similar with our components:

[code]

We will do the same "reflection" unmarshalling but for members of the `FunctionArguments`.

Here is how for example DeleteKey:

[code]

This solution does not

[2022-10-04 19:06] bogdandrutu opened #14713 "Replace "Functions" return type from ExprFunc to interface/struct"
### Describe the issue you're reporting

Currently `ExprFunc` is a concrete type `type ExprFunc[K any] func(ctx K) interface{}`. This does not allow us to extend the functionality in the future (as defined currently). Proposal is to replace this with an interface or a struct that allows us to extend the functionality/capabilities in the future.

If we use interface we can define optional interface

[2022-10-04 23:44] jack-berg commented on #14474
In those examples the Kubernetes event name is `nginx-deployment` for the first, and `nginx-deployment-68d7dcf58` for the second, correct? If so, I actually think these are not good matches for `event.name`. My interpretation of `event.name` (and I _think_ this has been the consensus based on conversations) is that along with `event.domain`, it forms an identifier for a particular class of events.

[2022-10-04 23:52] atoulme commented on #14638
The otlpjsonfile receiver was named as such because it served the purpose of reading from specific files. I don't think this is the same as this receiver, which aims to read from a file, but also replay and do more with it.
The feedback I had around otlpjsonfile was that the file exporter should be renamed otlpjsonfile, not the other way around.
In any case, that's not related to this proposal. Ma

[2022-10-05 00:56] dmitryax commented on #12332
Should be fixed by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14717

[2022-10-05 00:56] #12332 closed

[2022-10-05 02:37] bogdandrutu commented on #14471
Please provide the motivation for this? We should standardize on fewer things, hard to develop a very generic language.

[2022-10-05 02:49] MovieStoreGuy commented on #14514
Ah yes, I knew about the key partitioning but haven't scheduled any of my time to address it.

I am gonna push back on this since the collector still needs to retain the ability to send data to kafka with reasonable speed and once it is committed to Kafka, it should be simple to apply transforms to the data.

Unfortunately, this had fallen off my radar as well, I promise to get back to it working

[2022-10-05 03:52] bgranetzke commented on #14514
I tend to agree with you about having the capability to transform downstream.  Like I said, my immediate need is just to have the option to inject my own marshal behavior with the factory option.  I'm really not excited about having to create the producer interface, but I could not find another way to test the factory option properly (without involving a Kafka broker).  I'd love to rip that code o

[2022-10-05 07:06] atingchen commented on #14638
@atoulme Thanks for your opinion.
File exporter now not only exports data in json format, but also supports data in proto format and compressed data. So I think it might be inappropriate to rename the file exporter to `otlpjsonfile`.
Let's keep the parallel development of the two receivers. I think the code of `otlpjsonfile` can be reused by the new receiver, because the new receiver also needs to

[2022-10-05 08:41] inigohu commented on #14186
Hi @Sunilwali679, I have no privileges to assign this issue to you, I am not a CODEOWNER.

[2022-10-05 10:48] amitvermaa3101 opened #14725 "Unable to start the otel-collector-contrib and using 0.61 version"
### Describe the issue you're reporting

Unable to start the otel-collector-contrib and using 0.61 version

getting this error 👍

Timestamp: 2022-10-05 10:43:43.902781738 +0000 UTC
Value: 1
        {"kind": "exporter", "data_type": "metrics", "name": "logging"}
2022-10-05T10:44:43.949Z        error   scraperhelper/scrapercontroller.go:197  Error scraping metrics  {"kind": "receiver", "name": "post

[2022-10-05 12:02] pkt1583 commented on #13552
+1 I am also looking for this feature

[2022-10-05 13:02] danielgblanco commented on #4968
Looking through some of the Metrics [Data Model use cases](https://opentelemetry.io/docs/reference/specification/metrics/datamodel/#example-use-cases) in the specification, I understand any mentions of `Collector re-aggregates [e.g. 10s delta temporality exports] into 60 second resolution` would require a processor like the one mentioned in this proposal that can handle state, or a non-OTLP export

[2022-10-05 13:37] cpheps commented on #14449
@schmikei I think your proposal makes sense. I think the only way to achieve the control you described with the proposed solution is to create multiple instances of the receiver which is not user friendly. I think it makes sense to change the config to feel more natural for an Cloudwatch user.

[2022-10-05 14:07] balintzs commented on #13751
we found the cause of the memory issue and opened a PR with the fix: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14729

[2022-10-05 14:19] willianpc commented on #14602
Hello @sweetxiaodai

The implementation of the new `ca_file` config option and unit tests are nearly done.
There are still a few tests to be covered, but we should be issuing a PR soon.

I will make sure to keep you updated.

_ Willian

[2022-10-05 15:02] TylerHelmuth commented on #14712
Since ottl is now specific to the collector, I like the idea of each function getting some standard arguments.  Instead of separating `content.Context` and `component.TelemetrySettings` into their own params, how do you feel about nesting them in a single struct?

[code]

The advantage to this would be that if we want to add some other default params we can add it to the struct without needing to

[2022-10-05 15:03] #14471 closed

[2022-10-05 15:13] art-licis opened #14731 "Deprecated Elastic exporter in v0.57.2"
### Describe the issue you're reporting

I tried to upgrade OTEL Collector Contrib to version 0.57.2 because it seems it's the last version before multiple deprecated components (including Elastic APM exporter we are using) were removed. However, on startup I'm getting error:
[code]

Checking codebase for tag 0.57.2 it seems that it should be there:
https://github.com/open-telemetry/opentelemetry-

[2022-10-05 15:18] jpkrohling commented on #14731
This component was removed from the distribution on 0.57.2: https://github.com/open-telemetry/opentelemetry-collector-releases/pull/174

Here's the manifest for the contrib distribution v0.57.2: https://github.com/open-telemetry/opentelemetry-collector-releases/blob/v0.57.2/distributions/otelcol-contrib/manifest.yaml

[2022-10-05 15:18] #14731 closed

[2022-10-05 16:09] gbbr commented on #6486
I've kind of lost track of what happened here. The support for Resource Attributes that was added in [this PR](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6717) seems to have been removed without any reference. Is the conclusion that adding resource attributes required aggregating the metrics into different groups as specified in comment https://github.com/open-telemetry

[2022-10-05 17:00] djaglowski commented on #14638
If I remember correctly, the rationale was that the a receiver focused on ingesting only one specific format should be named accodingly.

What is proposed here is a receiver that would ingest all formats emitted by the corresponding `fileexporter`. I believe this would be sufficient to warrant the more generic name of `filereceiver`.

This is an important point. The replay use case makes sense in

[2022-10-05 17:28] evan-bradley commented on #14690
Closing as resolved via #14705.

[2022-10-05 17:28] #14690 closed

[2022-10-05 17:35] evan-bradley commented on #14725
Thanks for reporting this. It's a little hard to read the current formatting of your configuration file. Could you reformat your original post, or leave a comment on this issue with your configuration inside a [code block](https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/creating-and-highlighting-code-blocks)? It would also help if you could edit the issue

[2022-10-05 17:50] djaglowski commented on #14449
I generally agree with organizing streams under groups. A couple related thoughts:
1. It's all under the context of `logs` already, so can we drop `log_` from the keys?
2. When defining the groups or streams, the `prefix` and `limit` options are directly related to each other. Can these be a single struct?
3. When limiting, is there an implicit ordering? If not, do we need to provide a way to orde

[2022-10-05 18:32] schmikei commented on #14449
Agreed probably could simplify things 👍

Probably a good idea! Thinking an embedded struct that decodes consistently is probably the preference?

AFAIK the API gives you a window of start time and end time and the results are sent back with oldest entries first with no control on how to `order_by`. Here is the struct we have to work with for how to request information. https://github.com/aws/aws-s

[2022-10-05 18:46] dmitryax commented on #14474
I agree. Reason seems the best candidate for `event.name`.

Probably just comply with the the event API spec.

[2022-10-05 18:50] dmitryax commented on #14474
Also I believe we need to put the full k8s event payload into the log body. Thats my understanding from reading the new OTel Events spec.

This approach is taken in the new receiver proposed in https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/14185 which does a bit more then events collection.

If we agree on the approach, we can probably replace the k8s events receiver wit

[2022-10-05 18:50] scheler commented on #14474
I thought this is to conform the definition of Event in OpenTelemetry. If these attributes are missing, then these messages would be termed as logs. So if the backends are okay receiving Kubernetes events as logs then we can omit these attributes.

Btw, recording metadata.name for `event.name` or `k8s.event.name` is incorrect and misleading, it is the name of the object reported in the event and n

[2022-10-05 19:42] dmitryax commented on #14679
@davidmirza408 can it be caused by adding parent id attribute? If so, do you have a chance to take a look?

[2022-10-05 19:59] Aneurysm9 commented on #14474
I think this gets at the question I was trying to ask in the SIG meeting today but maybe not expressing well.  What is the purpose of the `event.name` and `event.domain` attributes?  It seems that they should be to identify the `LogRecord` as an `Event` and to allow determination of how to interpret other attributes in the `Event`.  If, instead, we're meant to already know that we're looking for k

[2022-10-05 21:07] tigrannajaryan commented on #14474
My understanding of the purpose of the `event.domain` attribute is to:
- Provide efficient means to route OTLP data by looking at the `event.domain` field only.
- Isolate the domains at the design phase, so that if producers in one domain design a poor event schema, the blast radius  of their poor choices is limited to that domain only and does not pollute someone else's domain.

[2022-10-05 21:14] evan-bradley commented on #12731
I'll look into this. I'd like to start small by implementing a flow like @djaglowski described:

1. After 60 days of inactivity, apply the `Stale` label to an issue. Exempt all issues with a `never stale` label.
2. Whenever the `Stale` label is applied, ping the code owners based on the labels applied to the issue.

This doesn't catch the case where there is activity on an issue, but there is no p

[2022-10-05 21:28] TylerHelmuth commented on #14712
I played around with this some today and I think the biggest concern I have is the amount of "boilerplate" code that each function would have to define.  If we are gonna introduce the need for these 3 items in each function

[code]

Then I want to make sure its for a good reason.  @bogdandrutu do you have some functionality in mind that we'd want to extend in the future where we'd need the interfa

[2022-10-05 22:01] dmitryax commented on #14474
The receiver actually produces events not logs. So I was thinking that having `event.domain` and `event.name` is a needed to distinguish events from log records.

[2022-10-06 00:49] Aneurysm9 commented on #13422
Based on the included error this appears to be related to a failure to retrieve tag metadata from the EC2 API.  The proposal [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/10001) to use the IMDS to retrieve the tag data may help.

[2022-10-06 01:07] Aneurysm9 commented on #14541
The prometheus exporter is stateful as requests for metrics can come at any time and the data need to be available.  It is also required so that delta-to-cumulative conversion can happen.  The exporter should purge metrics that are not seen after some period of time, but depending on your configuration there may be a substantial amount of data that needs to be retained in order to use this exporte

[2022-10-06 01:48] Aneurysm9 commented on #14026
I think that this is a generally useful feature, but I think it should probably live on the client side and needs specification and standardization of the behavior there, including cross-process propagation of such attributes.  There has been discussion of doing this before, but no concrete proposals.

[2022-10-06 01:51] Aneurysm9 commented on #10292
Is this issue in `go.opentelemetry.io/collector/pdata/internal.Map.Sort()`?  That seems to be the last collector-related invocation in each of the listed stack traces.

[2022-10-06 02:09] Aneurysm9 commented on #14456
There are not, AFAIK, any plans to add the functionality of the Operator's Target Allocator directly to the collector.

In the topology described (collectors as daemon set pods) It would probably be desirable for application pods to emit their telemetry to the collector on the local node.  This affinity would avoid the disjoint view of the metrics that can happen when pushed to a load-balanced col

[2022-10-06 02:11] TylerHelmuth commented on #14712
@bogdandrutu what DoD you have in mind for how we'd build out the Arguments interface for each function with reflection? The existing solution relies on the function definition to define the order of the parameter and performs a "1 to 1" match on the incoming order of the parsed values. How can we map the incoming params to the correct struct field in Arguments? Is the idea that the order of the f

[2022-10-06 02:11] dmitryax commented on #10292
I believe Sort() is just accessing a map from several goroutines

[2022-10-06 02:30] #12736 closed

[2022-10-06 04:06] Subhasish-Behera commented on #14472
Hello i am new here! if no one is working can i take this issue as my first issue.

[2022-10-06 06:08] bbortt commented on #14541
@Aneurysm9 I see. that could definitly be a problem! I'll give it a try with more resources for sure. anyway, I think it's something on my side I will eventually figure out.

[2022-10-06 06:08] #14541 closed

[2022-10-06 06:56] amitvermaa3101 commented on #14725
below is the config file

[code]

[2022-10-06 07:05] edenkoveshi commented on #14457
It seems to work, thanks
Let me know if you need any help implementing the resource scope attributes concat

[2022-10-06 07:05] #14457 closed

[2022-10-06 07:37] Sunilwali679 commented on #14186
@mx-psi  Could you help on this issue assignment ?

[2022-10-06 07:41] mx-psi commented on #14186
Done! Also cc @dineshg13 to review this work

[2022-10-06 08:39] edenkoveshi opened #14742 "[processor/k8sattributes] Retrieve pods at the namespace scope"
### Is your feature request related to a problem? Please describe.

I want to extract attributes from pods in a single namespace, and I don't really need a cluster role binding for that
What I want is to extract pods attributes with a namespace RoleBinding
Should be quite easy
I can help implementing this if needed

### Describe the solution you'd like

Change the Kubernetes client to fetch items

[2022-10-06 08:41] #13751 closed

[2022-10-06 09:47] Depechie opened #14746 "[exporter/Loki] Unable to make a connection from Otel to Loki"
### Describe the issue you're reporting

I'm trying out the Loki exporter.
But I keep getting the following exception in my OTEL container:
`OpenTelemetryCollector config, the OTEL/Loki exporter will give the exception: }. Err: connection error: desc = "transport: Error while dialing dial tcp: address tcp/3100/loki/api/v1/push: unknown port"	{"grpc_log": true}`

I tried several url notations in my

[2022-10-06 10:50] Depechie commented on #14746
Seems I made a type in the exporter tag.
Logs are working fine!

[2022-10-06 10:50] #14746 closed

[2022-10-06 12:17] adamkubon opened #14751 "New component: prometheus remotewrite receiver"
### The purpose and use-cases of the new component

It consumes data from prometheus remote-write protocol

### Example configuration for the component

[code]

### Telemetry data types supported

metrics

### Is this a vendor-specific component?

- [ ] This is a vendor-specific component
- [ ] If this is a vendor-specific component, I am proposing to contribute this as a representative of the ven

[2022-10-06 12:38] kovrus commented on #14751
Hi @adamkubon, here is already an issue for that https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/10358.

cc: @jpkrohling

[2022-10-06 12:44] jpkrohling commented on #14751
I'm closing this issue in favor of #10358, but the PR can be kept.

[2022-10-06 12:55] jpkrohling commented on #10358
I realized that we do not have a formal new component proposal for this. From #14751, this is the proposed configuration for this component:

[code]

@adamkubon, @Norbertwnuk, are you committed to being code maintainers for this module? If so, we just need a sponsor for this component, which would be a current approver willing to be a "backup" code owner. The process is outlined here: https://gith

[2022-10-06 13:32] cristianciutea opened #14753 "New component: Flex Metrics Receiver"
### The purpose and use-cases of the new component

### Description:
`Flex Metrics Receiver` will be an application-agnostic cross-platform receiver with which users can instrument any application that exposes metrics over a standard protocol (HTTP, file, shell) in any format (for example, JSON or plain text). The receiver will scrape and parse the data which will be transformed into OTEL metrics

[2022-10-06 14:29] djaglowski commented on #14725
This appears to be a data type mismatch.

What's interesting here is that the value is in scientific notation, which is typically meant to represent a decimal number. However, it may just be that postgresql represents a large int this way.

I think we have 3 options here:
1. Modify `mdatagen` to be able to handle such cases. This would be tricky because the value is presumably an int most of the t

[2022-10-06 14:30] tigrannajaryan commented on #14474
Events are logs (mostly) :-)

We need to be careful with extending Otel API concepts unnecessarily to the Collector. We introduced an Otel Events helper API that allows to create LogRecords with a specific shape easily (with `event.domain` and `event.name`) because users told us this is a frequent case. However, it does not automatically mean that LogRecords we want to emit in Collector needs to c

[2022-10-06 15:39] shalper2 opened #14754 "New component: Snowflake Receiver"
### The purpose and use-cases of the new component

Snowflake is a fast growing data cloud company which allows users to store, manipulate, and analyze data in a SaaS platform.  Its database functionality has found use across multiple industries and the technology is quickly becoming foundational to new and existing platforms.

The Snowflake receiver would be used to connect to snowflake and then

[2022-10-06 15:49] #12631 closed

[2022-10-06 16:07] djaglowski commented on #9113
Again here: https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3197849469/jobs/5221638347#step:8:1027

[2022-10-06 17:03] neelayu commented on #14584
Okay. Thanks for clarifying. @atoulme does the request work when the basic auth in provided in the header and the contents are base64 encoded?
For eg
[code]

[2022-10-06 17:05] atoulme commented on #14584
I think these are functionally equivalent yes.

[2022-10-06 17:12] dmitryax opened #14756 "[flaky test] [reciver/iis] Flaky test TestIisIntegration"
Seen in https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3198868093/jobs/5224152682

[code]

[2022-10-06 17:28] gabrielgiussi opened #14757 "jmxreceiver won't start in otel/opentelemetry-collector-contrib:0.61.0 docker image"
### What happened?

## Description
The collector fails trying to start the jmxreceiver because it can't create the `jxm-config-*.properties` file.

## Steps to Reproduce
You can just apply the yaml configuration in a k8s cluster and the agent container won't start.

### Collector version

otel/opentelemetry-collector-contrib:0.61.0 docker image

### Environment information

[code]

### OpenTelemet

[2022-10-06 17:40] tigrannajaryan commented on #14474
Right, but why are deciding that k8s events are more likely to be processed similar to RUM events than similar to for example K8s pod logs collected by filelog using Helm Chart (which are plain LogRecords)?

Again, I think we should not by default assume every new kind of log record becomes an event. If that is the case then we failed with defining why we needed both the Events API and the Logs AP

[2022-10-06 17:41] dmitryax opened #14759 "[exporter/elasticsearch] Flaky test TestExporter_PushTraceRecord"
Seen in https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3198868093/jobs/5224457346

[code]

[2022-10-06 17:44] pcwiese opened #14760 "[processor/tailsamplingprocessor] Late arriving spans can get different final decision from original"
### What happened?

## Description

I have a situation where spans for a trace are not sampled during the first decision point, but late arriving spans for the same trace are. This only reproduces for late arriving spans and only under certain conditions:

## Steps to Reproduce

If the sampler is configured with a mix containing at least 1 string attribute policy, with invert match = true and anot

[2022-10-06 18:55] evan-bradley commented on #14712
@bogdandrutu Could you go into more detail about this?

The problem as I understand it is that we want to be able to support passing data from a component that is utilizing the OTTL into the function factories. I like the idea of implicitly supplying every function with this data, which should be easy if we turn all OTTL function factories into methods on a struct. I could see it looking like this

[2022-10-06 19:02] #14756 closed

[2022-10-06 19:50] bigman73 commented on #1909
The `span_name_as_resource_name` property solves one problem which is the hard coded `opentelemtry.<kind>` but now the spans in Datadog have a normalized version and the non normalized as the span name, which is taking a lot of space but also not showing the resource.

Is there a plan to expose a `resource` tag? Or, is there some workaround that allows setting the resource tag manually?

[2022-10-06 20:07] gbbr commented on #1909
Hey there! It should be no issue to set the resource. You can do it by means of the `resource.name` attribute.

[2022-10-06 20:41] #14597 closed

[2022-10-06 22:45] Aneurysm9 commented on #14474
Shouldn't this be the case for every structured log record?  You need to know how to interpret the data contained in the record.  That can come from an implicit expectation that all records in a given log stream conform to a set of conventions or by an explicit indication on each record.  Why would RUM events be any different than k8s events from this perspective?

k8s events are emitted in a diff

[2022-10-06 23:12] tigrannajaryan commented on #14474
OK, looks like some clarifications and guidance is due in the Logs spec. I will try to put together something and will link from here.

[2022-10-07 05:05] atingchen opened #14766 "[pkg/stanza] remove all usage of Multiline from the fileconsumer package"
Can we remove all usage of `Multiline` from the `fileconsumer` package?

We cannot remove `Multiline` from the receivers that already depend on it. However, we may be able to have their config look like:

[code]

Then what we need to do is identify the necessary interface that allow `fileconsumer` to work the same as it did before. Essentially, we would make `fileconsumer` _always_ use "custom" sp

[2022-10-07 10:52] neelayu opened #14771 "[extension/bearertokenauth] Allow for other token auth schemes apart from Bearer"
### Describe the issue you're reporting

`bearertokenauthextension` provides client authentication with `Bearer` as the default auth scheme., ie. the request header(in case of http) consists of
[code]
It would be useful to extend this behaviour to include custom scheme names such as `Splunk` for splunkhec using tokens for authentication.
Using this, we can potentially improve the `splunkhecexporte

[2022-10-07 12:01] kovrus commented on #13224
@bogdandrutu We should have kept this issue open. There is some work that still needed to be done on exporters.

PRs to review:

https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14749
https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14773

We still have to work on the following exporters: (I can wrap it up sometime on the next week)

- [ ] logzioexporter

[2022-10-07 13:10] sathishsoundharajan opened #14776 "elasticsearch/trace "type" is not supported"
### What happened?

## Description

## Steps to Reproduce
 Just run otel-contributor-contrib image
## Expected Result
Should not throw error
## Actual Result
[code]

### Collector version

0.61.0

### Environment information

## Environment
OS: (e.g., "Ubuntu 20.04")
Compiler(if manually compiled): (e.g., "go 14.2")

### OpenTelemetry Collector configuration

[code]

### Log output

[code]

### Ad

[2022-10-07 14:45] djaglowski commented on #14615
@saikalyan-bhagavathula, my mistake. I misread how the settings were arranged in code. You had `encoding` in the correct position to begin with.

I agree this may be a bug. Just to check one last thing though, can you please provide a couple sample log statements?

[2022-10-07 15:45] pcwiese commented on #14760
@jpkrohling @fabiovn

[2022-10-07 16:51] srprash opened #14780 "X-ray not logging stack trace for .Net Exception"
### What happened?

This is an upstream issue created from this: https://github.com/aws-observability/aws-otel-collector/issues/1467

Please find all the information in the linked issue.

### Collector version

v0.21.0

### Environment information

## Environment
OS: (e.g., "Ubuntu 20.04")
Compiler(if manually compiled): (e.g., "go 14.2")

### OpenTelemetry Collector configuration

_No response_

[2022-10-07 17:03] #12939 closed

[2022-10-07 17:34] codeboten commented on #14776
according to https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/elasticsearchexporter, the elasticsearch exporter doesn't support traces.

[2022-10-07 18:25] rapphil opened #14782 "Add support to attributes with array values in processors that manipulate attributes"
### Is your feature request related to a problem? Please describe.

[The spec states](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/common/README.md#attribute) that attribute values can be "An array of primitive type values. The array MUST be homogeneous, i.e., it MUST NOT contain values of different types.".

The following processors manipulate attribute va

[2022-10-07 22:34] evantorrie commented on #12645
Same problem here. The name of the metric is the same `queueSize`, but the `InstrumentationScope` is different.

Logs from OTel Collector

[code]

[2022-10-08 06:57] #14318 closed

[2022-10-08 10:29] sathishsoundharajan commented on #14776
@codeboten if I downgrade the version to 0.60.0 I can use traces ? How can it become not supported ?

[2022-10-08 11:52] lewis262626 commented on #14449
Having a config property for start time might be useful? Sometimes you don't always want logs from the start of time and want it from say year 2020.

[2022-10-08 16:02] atingchen commented on #13626
Hi @jmacd.
I find that [feistel](https://github.com/cyrildever/feistel) may not obfuscate the data with format-preserving encryption.
I try to use it to encrypt 12 digit number '123123123123'. According to the format encryption what I should get is another 12 digit number. But what I actually get is `ZW±ªX^²[[®R' which is a string of length 12.

[2022-10-08 21:38] evantorrie commented on #12645
Some further digging revealed that the Java SDK OTLP exporter creates two metrics named `queueSize`.
One for the [batch span processor](https://github.com/open-telemetry/opentelemetry-java/blob/aa873a05be27137d276de5fa50557add5f78184c/sdk/trace/src/main/java/io/opentelemetry/sdk/trace/export/BatchSpanProcessor.java#L187-L197) and one for the [batch log processor](https://github.com/open-telemetry/

[2022-10-09 11:19] albertteoh commented on #14631
@evan-bradley I'd like to contribute to this if there are no objections to the proposal.

[2022-10-09 13:53] srikanthccv commented on #14631
Doesn't `service.instance.id` already address (or exist to address) this problem? Why introduce an additional ID?

[2022-10-09 23:38] JaredTan95 commented on #14776
yes, traces supported already,I will check and fix it soon.:-P

[2022-10-10 05:16] saikalyan-bhagavathula commented on #14615
[https://drive.google.com/file/d/1w6DqRPV3dXO7XLvz1HjHkfASwDMoeJIN/view?usp=sharing](url)

This log file is pumped to the open telemetry with above config.

[2022-10-10 05:35] newly12 commented on #11533
Hi @TylerHelmuth any comment on this?

[2022-10-10 07:25] atibdialpad opened #14787 "PrometheusRemoteWrite Exporter dropping metrics with empty label value"
### What happened?

While Prometheus supports metrics with an empty label value, it seems the otel-collector PRW exporter is dropping such metrics

https://prometheus.io/docs/concepts/data_model/#metric-names-and-labels
"_A label with an empty label value is considered equivalent to a label that does not exist._"

LOG:
[code]

For the time being I can handle this via an attribute processor but wou

[2022-10-10 10:56] atibdialpad commented on #14787
@bertysentry @djaglowski Perhaps we need to take care of this as  well in here  https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/pkg/translator/prometheus/normalize_label.go ?

[2022-10-10 11:00] msartor92 opened #14788 "Cannot run collector with nsx receiver"
### What happened?

## Description
I've run a collector via docker image 0.60.0 with nsx receiver config, but it start and crash in few seconds, mi conf seems to be pretty similar to documented example

## Steps to Reproduce
docker run \
-d \
--name opentelemetrycollector \
-p 8888:8888 \
-p 8889:8889 \
-p 4318:4318 \
-v $(pwd)/config.yaml:/etc/otelcol/config.yaml \
otel/opentelemetry-collector:0.

[2022-10-10 11:02] bertysentry commented on #14787
`normalize_label.go` handles the names of the labels only, it doesn't process their values IIRC. The issue here is about labels with empty values, and not with an empty name. `normalize_label.go` is therefore not affected by this issue. We need to look into the PRW exporter itself.

[2022-10-10 11:11] atibdialpad commented on #14787
hmm fair enough. Seems  this needs to be taken  care of  while converting OTLP metrics to Prometheus Metrics. In addition to normalising the  name, we also need to  make sure that we are compatible with the other prometheus standard. i,e. treating metric labels with  empty value as non existent labels here https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/pkg/translator/p

[2022-10-10 11:15] bertysentry commented on #14787
You're right, and actually some of the logic in `pkg/translator/prometheusremotewrite/helper.go` should be moved to `pkg/translator/prometheus`, which is common to both Prometheus exporter (**prometheusexporter** and **prometheusremotewriteexporter**). Both exporters should behave exactly the same when it comes to metrics and labels names normalization, and filtering out certain labels or not (as

[2022-10-10 11:17] bertysentry commented on #14787
Did you find where the labels with empty values were filtered out?

[2022-10-10 12:42] aboguszewski-sumo opened #14791 "[receiver/apache] send port number as an attribute"
### Is your feature request related to a problem? Please describe.

Currently, the receiver only sends the server's name (which is the hostname) as an attribute. It would be useful to send also the port (for example, Sumo Logic app for Apache uses it).
The important thing to note here is that the port can't be deduced solely from the endpoint - the default port is different when we use http (80) a

[2022-10-10 12:54] atibdialpad commented on #14787
so the prw exporter is not dropping date. Rather the PRW destination (M3 in this case) fails and returns 400. otel prw exporter does what is expected, to not retry on 400 errors and drop the date. I think we are good here.

[2022-10-10 13:40] djaglowski commented on #14449
This is a good point.

@schmikei, correct me if I'm wrong, but I think the way this should work is that logs are collected for the window between each poll interval. Basically:
[code]

---

To @lewis262626's point, it would be useful to have the ability to pull logs from earlier time windows. I would consider this an alternate mode of operation though, something that could be added later. An optio

[2022-10-10 14:08] schmikei commented on #14449
Yes I believe something like this could work something like this could work logically, however I have some reservations.

One thing I'm struggling with is how a parameter like this would look in the config? Would it be preferred to have some kind of `start_time` that would allow the user to specify a timestamp?

[code]

This doesn't seem super user friendly, we could provide a `time.Duration` as a

[2022-10-10 14:12] djaglowski commented on #14449
@schmikei, what I'm suggesting primarily is that this should be a future enhancement. I think the appropriate next step for that enhancement would be for someone to open an issue proposing a specific config format and any other relevant details about the capability.

[2022-10-10 14:45] evan-bradley commented on #14776
@sathishsoundharajan Can you provide more information on your setup? I used your config and ran the `otel/opentelemetry-collector-contrib:0.61.0` image from Docker Hub and the exporter was successfully instantiated. Trace support in the Elasticsearch exporter was [added in v0.60.0](https://github.com/open-telemetry/opentelemetry-collector-contrib/releases/tag/v0.60.0), could it be you're using an

[2022-10-10 15:20] djaglowski commented on #14615
I looked into this some more and determined that [encoding is not taken into account when creating the "splitFunc" for `line_start_pattern` or `line_end_pattern`](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/ad1c3778c43b40591b5c7a2c235f5ccccb958c04/pkg/stanza/operator/helper/multiline.go#L74-L85).

For comparison, [encoding _is_ taken into account when using the default "

[2022-10-10 15:32] evan-bradley commented on #14776
Thanks for the information. Docker doesn't update tags unless you run `docker pull` on the image tag again, so it's likely the `latest` tag on your machines simply pointed to an older version. Because of this uncertainty about the exact version that `latest` points to, it's generally recommended to use a tag for a specific version of an image.

Since it is working for you now, I'm closing this iss

[2022-10-10 15:32] #14776 closed

[2022-10-10 15:56] evan-bradley commented on #14788
Hello, thanks for reporting this. The image you are running (`otel/opentelemetry-collector`) is compiled with a [fairly minimal set of components](https://github.com/open-telemetry/opentelemetry-collector-releases/blob/main/distributions/otelcol/manifest.yaml) that doesn't include the NSX-T Receiver. It's recommended that you [build a custom Collector distribution](https://opentelemetry.io/docs/co

[2022-10-10 20:16] jpkrohling commented on #14754
Given that this is a vendor-specific component, I believe we should call the next sponsor in line.

@dmitryax, are you the next in line, or is the table outdated?

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/CONTRIBUTING.md#rotating-sponsors

[2022-10-10 20:20] dmitryax commented on #14754
That's correct. I should be the next sponsor

[2022-10-10 20:45] jpkrohling commented on #8273
@frzifus, are you able to handle this one?

[2022-10-10 21:57] frzifus commented on #8273
i will give an update by the end of tomorrow.

[2022-10-10 22:21] bertysentry commented on #14787
Thank you for the update, @atibdialpad !
If confirmed, please close this issue 😉

[2022-10-10 22:56] #14787 closed

[2022-10-10 23:50] dmitryax commented on #13727
I got another component and moved myself to the bottom of the queue. I believe this one should be taken @bogdandrutu now as the next in the list

[2022-10-11 03:53] MovieStoreGuy opened #28686 "New Component: Encoding Extension"
**Is your feature request related to a problem? Please describe.**
As one of the code owners for `awskinesisexporter`, and `kafkaexporter`, several issues get raised asking if we can support _x_ encoding standard for the messages being written to these services.

My typical response that I am happy to accept any open data format standard but for any vendor specific encoding, it would need to be mo

[2022-10-11 04:45] saikalyan-bhagavathula commented on #14615
2022-09-22 15:58:11.50 Server      Microsoft SQL Server 2019 (RTM) - 15.0.2000.5 (X64)
	Sep 24 2019 13:48:23
	Copyright (C) 2019 Microsoft Corporation
	Express Edition (64-bit) on Windows Server 2019 Standard Evaluation 10.0 <X64> (Build 17763: ) (Hypervisor)

2022-09-22 15:58:11.50 Server      UTC adjustment: 5:30
2022-09-22 15:58:11.50 Server      (c) Microsoft Corporation.
2022-09-22 15:58:11.5

[2022-10-11 06:17] aboguszewski-sumo commented on #14791
If I'm not mistaken, the next release (`0.62`) will be this Friday? Since Elasticsearch metrics have more priority for now, I will add these changes for `0.63`.

[2022-10-11 12:05] VasuLax commented on #14133
Hi,
Thanks for your response.
1. I tried adding in the hec_metadata_to_otel_attrs/host field. But it is not showing up in Splunk, it says unknown. Before raising this request as well we had tried it. So, it wasn't clear for us. Attaching the snapshot for the same.
![image](https://user-images.githubusercontent.com/88766510/195084141-3bde1974-2238-4a3c-aeda-092123db5e49.png)
![image](https://user-i

[2022-10-11 12:19] msartor92 commented on #14788
Hi evan, thanks for your reply I think that would be very usefull to have the receiver in the docker image, so user don't have to build their own version

[2022-10-11 13:27] harshit-splunk opened #14877 "[exporter/splunkhec] dropped metric event because of unsupported value: NaN"
### What happened?

## Description

splunkhec exporter  throws `unsupported value: NaN` error when `SummaryDataPoint.Sum` and `HistogramDataPoint.Sum` returns `NaN` during json marshal

## Steps to Reproduce

## Expected Result

It should marshal without any error

## Actual Result

[code]

### Collector version

v0.61.0

### Environment information

## Environment
OS: (e.g., "Ubuntu 20.04")
Compi

[2022-10-11 14:17] rajumakade opened #14878 "Not able to send correct data to metrices in aws cloudwatch in web api signalR .net core application"
### Describe the issue you're reporting

Hi,

We are able to send correct data to metrices in aws cloudwatch in web api .net core project.
When we tried same thing in web api signalR .net core application using WebSocket connection not able to send correct data.

Request you to please help on this.

**Below code snippet using for same**
this.Meter.CreateObservableCounter<double>("NoOfWebsocketConn

[2022-10-11 14:41] tigrannajaryan commented on #14474
I submitted https://github.com/open-telemetry/opentelemetry-specification/pull/2863, let's discuss.

[2022-10-11 15:29] schmikei commented on #14788
I went ahead and ended up creating this PR. https://github.com/open-telemetry/opentelemetry-collector-releases/pull/216

@msartor92  If this is merged, then it should hopefully allow you to use the nsxt receiver in the next release, however it will only be in the `otel/opentelemetry-collector-contrib` image like @evan-bradley mentioned!

[2022-10-11 16:19] #13936 closed

[2022-10-11 16:36] codeboten opened #14882 "bump prometheus from 0.38.0 to 0.39.1 causes issues"
### Describe the issue you're reporting

Updating to the latest prometheus library causes the following issue, as per the log [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3228344565/jobs/5284317876):
[code]

This needs to be addressed to allow the following PRs to move forward:
https://github.com/open-telemetry/opentelemetry-collector-contrib/pulls?q=is%3Ap

[2022-10-11 16:39] TylerHelmuth commented on #14712
@evan-bradley I like how your solution handles the providing access to the shared context and keeps the function signature simple.  Requiring the component to instantiate the structs is a downside, but maybe we could provide a helper method for ottlfunc functions.  We also pass the same values to the Parser, so it would be nice to not have to pass that information twice.

I don't think it solves t

[2022-10-11 17:01] codeboten opened #14884 "dependabot PRs (from github action) don't trigger CI"
### Describe the issue you're reporting

There's a github action that approvers/maintainers use to trigger a summary PR of all the dependabot recommendations. However, when a new PR is created by this action, the github workflows aren't queued until someone closes and reopens the PR.

This is a mild annoyance, but it would be great to fix. Unrelated to this, it would be great to automate the gener

[2022-10-11 17:07] #14788 closed

[2022-10-11 17:35] TylerHelmuth commented on #14578
Thinking about this some more, introducing the concept of the context directly into the grammar has some complex implications, but would significantly expand its capabilities.  I think thats a longer-term goal, though, and will rely on some of the other inflight ottl PRs to being flushed out before we can get to this space.

In the meantime, we can still make the specific contexts and update the t

[2022-10-11 18:01] Dylan-M opened #14885 "The transformprocessor drops an error when following the specified format"
### What happened?

## Description
Customer tried to use the logs subsection of the transform processor to set a value on a field, based on one of two specific body messages. This could very well just be an issue with the documentation not being clear enough. It was suggested to me that this might only work if what is being set is a top level field, or perhaps need to address it via dot notation s

[2022-10-11 18:22] dgoscn opened #14886 "New component: Pure Storage Receiver for FlashArray"
### The purpose and use-cases of the new component

### **Pure Storage Receiver for OpenTelemetry**

PureStorage has a product called FlashArray. Currently, we export the arrays to vendor-specific backends, but we want to provide a receiver that will allow customers to send data to their backends of choice

It is possible to see the current FlashArray OpenMetrics exporters [here](https://github.co

[2022-10-11 19:02] frzifus commented on #8273
I have tried to get everything in shape. In order for the tests to run, the signatures still need to be adjusted. Could someone roughly review the logic? Maybe it is not quite correct. I will look at it tomorrow with clearer eyes. https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12753

[2022-10-11 19:08] erichsueh3 commented on #14573
Resolved by #14630.

[2022-10-11 19:31] #14573 closed

[2022-10-11 19:33] scheler commented on #14185
@harshit-splunk @dmitryax is this supposed to include pod logs? What does `pull` of `pods` and `deployment` in your example configuration refer to?

[2022-10-11 23:54] zisom-hc commented on #13443
I wanted to mention that i'm also seeing this `failed to translate error metric` when using a different version of the prometheusexporter against metric data coming through a otlp-grpc receiver that's being provided data from an app through go.opentelemetry.io/otel/exporters/otlp/otlpgrpc

Here's an example of the error:

If there's any other details y'all may be interested in let me know.

[code]

[2022-10-12 00:09] TylerHelmuth commented on #14578
Something we'll still have to solve (although it might be a transform processor issue or it might not be needed at all) is how to provide access to the Resource's `ScopeSlice` and the scope's `[Span/LogRecord/Metric]Slice` and the ScopeMetric's `MetricsSlice`.

There are some custom functions in the transform processor that rely on access to `MetricSlice` so that they can create new metrics.  I am

[2022-10-12 00:17] jcmackie commented on #14342
The PR has been merged now so I'm going to close this issue.
Thanks @evan-bradley!

[2022-10-12 00:17] #14342 closed

[2022-10-12 00:54] newly12 commented on #13623
I am trying to figure out the solution of this, it looks a hard one to me and I might use some suggestions here.

Looking at prometheus `Appender` interface, `Append()` appends one series

[code]

It is not possible to tell the whole histogram metrics are valid or not, unless we swallow the error(missing bucket label for a histogram series) first and verify after all metrics are ingested, if we do

[2022-10-12 03:49] VasuLax commented on #14133
Hi,
Thanks for your quick response.

     _I tried adding in the hec_metadata_to_otel_attrs/host field. But it is not showing up in Splunk, it says unknown. Before raising this request as well we had tried it. So, it wasn't clear for us. Attaching the snapshot for the same._
![image](https://user-images.githubusercontent.com/88766510/195245462-dfbb1392-8426-4a84-ae7f-35690c11f7ad.png)
![image](htt

[2022-10-12 05:19] harshit-splunk commented on #14185
@scheler It doesn't collect pod logs. It collects data from Kubernetes API Server. It will be the same as `kubectl get pod <some-pod> -oyaml`

Ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/kubernetes-objects/

[2022-10-12 05:50] hpaikrao opened #14896 "OpenTelemetry configuration with Localstack (AwsCloudwatch)"
### Describe the issue you're reporting

Hi Team,

Does opentelemetry supports to log into Localstack AwsCloudwatch service?
As we would like to push logs into Localstack AwsCloudwatch service though OpenTelemetry, I didn't get any reference for the same.

We are able to push logs into AwsCloudwatch infrastructure but not on Localstack.

Please provide any reference/suggestion for the same. Appric

[2022-10-12 11:48] sherifkayad opened #14899 "[processor/servicegraphprocessor] Not included in the `v0.61.0` release image"
### What happened?

## Description
It seems like the Service Graph Processor (https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/servicegraphprocessor) isn't included in the `contrib` distro. Is that by mistake? Was that intentional?

I think it should be included as it's officially released in the contrib source code since `v0.60.0` (https://github.com/open-tele

[2022-10-12 12:23] gillg opened #14900 "[resourcetotelemetry] - Using resource_to_telemetry_conversion enabled causes broken internal otelcol_ metrics"
### What happened?

## Description
There is a prometheus exporter **error** `failed to convert metric otelcol_xxxxxxxxxxxxx: duplicate label names` if you enable
[code]

## Steps to Reproduce
Add a receiver :
[code]

and enable resource_to_telemetry_conversion at prometheus exporter level.
(I didn't tested yet with prometheusremotewriteexporter)

### Collector version

0.61.0

### Environment info

[2022-10-12 14:16] djaglowski commented on #11445
Here again: https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3234932072/jobs/5299147380#step:8:3784

@open-telemetry/collector-contrib-approvers, PTAL at #14343

[2022-10-12 14:42] gracewehner opened #14901 "[prometheusreceiver] Edge case with external labels being duplicated/added to regular labelset"
### What happened?

## Description
When external labels are added to the prometheus config in the prometheusreceiver, scrapes for certain targets will start to fail due to duplicate external labels being included. However, this only seems to happen for certain external labels and certain targets. I can repro with external labels where one is a prefix of the other such as `cluster` and `cluster_typ

[2022-10-12 15:23] dashpole commented on #14901
I think this is because the label set is re-used across scrapes: https://github.com/prometheus/prometheus/blob/ee1c8f3a25b81f70b938d6438468790c451a1678/scrape/scrape.go#L1564

[2022-10-12 15:26] evan-bradley commented on #14885
Hello, thanks for reporting this.

This is mostly correct, you will want to write it as:

[code]

The docs for the transform processor and OTTL are still a work-in-progress, but cover the majority of functionality provided by each. To find more information on how to access telemetry data, see the [Contexts section](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/process

[2022-10-12 15:31] Dylan-M commented on #14885
@evan-bradley Thank you for your quick response. I'll have my customer try this.

Perhaps add the documentation tag to this for a task to improve the documented examples to includes one such as this? That way digging through multiple links is less necessary.

[2022-10-12 15:48] dashpole commented on #14901
Or maybe that isn't the cause: https://go.dev/play/p/73agc7ZWufH

[2022-10-12 15:52] TylerHelmuth commented on #14578
@bogdandrutu what do you think about contexts for SpanEvents and SpanLinks?  Feels similar to Metrics and Datapoints, but at a smaller scale.

Kind feels like any nested object in a slice could benefit from a context.

[2022-10-12 16:12] atoulme commented on #14133
You should use a resource processor to set the value: https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/resourceprocessor
Something like:
[code]
Then make sure to add this processor to your pipeline.

[2022-10-12 16:25] dashpole commented on #13623
I think i'm missing something.  Why does the approach of returning error on invalid appends not give us what we want?

We know the type information (e.g. that the metric is a histogram).  If we get a metric that doesn't have one of the required suffixes (_count, _total, _bucket), we drop only that point.  What goes wrong in that case?

[2022-10-12 16:33] TylerHelmuth commented on #7151
I need to add a SpanEvents context (https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/14578) so that we'll have the proper access to the event names and attributes, but once that is done we should be able to add a `drop` function to the transform processor that can drop span events based on the ottl condition.

[2022-10-12 16:35] #14449 closed

[2022-10-12 16:45] codeboten opened #14903 "Update github.com/getsentry/sentry-go from 0.13.0 to 0.14.0 causes issues"
The dependency cannot be upgraded automatically, see https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3235788640

<img width="699" alt="Screen Shot 2022-10-12 at 9 43 57 AM" src="https://user-images.githubusercontent.com/223565/195401067-cd3a33ae-ae43-45f2-84c5-6e7df791919a.png">

_Originally posted by @codeboten in https://github.com/open-telemetry/opentelemetry-coll

[2022-10-12 18:22] evan-bradley commented on #14885
The Transform Processor readme does include an [examples section](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/transformprocessor#example) that showcases accessing attributes and the body within a log record. Is there another place that you would expect to see this, or an additional example that you think would help in this case?

[2022-10-12 18:25] Dylan-M commented on #14885
Just an additional example showing that this can also be combined with the "where" qualifier. Users who aren't developers might not intuit that. Or, someone like me who should have, but I was too tired when I looked at the docs the other day to catch it. Also, perhaps grouping like statements would be good. All `set` together, for example.

[2022-10-12 18:33] evan-bradley commented on #14885
Both of those sound good, thank you for that feedback. I'll create a PR to update the examples.

[2022-10-12 19:11] rmfitzpatrick opened #14909 "hostmetrics: Remove slab reclaimable from cache"
### Is your feature request related to a problem? Please describe.

Currently the library used by the hostmetrics receiver to report cached memory [includes slab reclaimable memory in its calculation](https://github.com/shirou/gopsutil/blob/0969c9436bc0d9bf190face9c4a3c4a430b98523/mem/mem_linux.go#L303) despite this not being the literal value provided by /proc/meminfo (introduced in https://githu

[2022-10-12 21:54] gillg commented on #14900
I found the reason, the duplicated label is `service.instance.id`.
Internaly the value is a random uuid, but once scrapped by prometheus receiver, the "instance" become "localhost:8888".
Then if we enable resources as attributes, the instance is converted to service.instance.id and it cause a duplicated label.

[2022-10-12 22:30] bogdandrutu commented on #14578
@TylerHelmuth they may feel similar to that, but very rarely someone needs access to individual events/links. For datapoints there are backends that have this as a first class concept ("timeseries") and lots of changes may be worth doing at datapoint level.

[2022-10-12 23:09] TylerHelmuth commented on #14578
@bogdandrutu https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/7151 is at least one situation where a context specific to SpanEvents would be useful.  Without a SpanEvents context we cannot get the same level of granularity in a condition statement that would `drop()` a SpanEvent unless we make pretty complex functions (and even then I'm not sure it'll be as advanced).  I'd

[2022-10-13 00:34] eedorenko opened #14915 "[exporter/azuremonitor]"
### Describe the issue you're reporting

Enrich Azure Monitor exporter to export metrics in addition to traces and logs.

[2022-10-13 03:53] TylerHelmuth commented on #14578
Proposal for how the transformprocessor's config can take advantage of the new contexts:

We continue to separate by traces, metrics, and logs and within each signal we allow specifying statements by context

[code]

Statements would not be required for each section.   Statements would always be processed from "top down", so for metrics it would be Resource -> InstrumentationScope -> Metric -> Dat

[2022-10-13 04:22] sodabrew commented on #1909
I might be piling onto this thread a bit, but I've been trying to track down two related problems:

1. Something changed at OTEL collector 0.55.0 that switches spans from all lowercase to allowing mixed case.
2. Maybe I should be rewriting the span names anyways so that I'm not creating Datadog dashboards and alerts and whatnot using very long names like `go.opentelemetry.io_contrib_instrumentatio

[2022-10-13 05:45] #13252 closed

[2022-10-13 06:48] lesovsky opened #14919 "Guide to create custom contrib component"
Is there any guide to create custom receiver/processor/exporter and implement it into collector?

As I know there is possible to build custom distribution, based on code generated by `ocb` tool and i saw it's possible to import custom components (like receivers, etc.). But, component's code should be written from scratch? Or maybe there is template code exists or such code could be generated?

[2022-10-13 09:06] newly12 commented on #13623
the we are returning the error to prometheus(from `Append()` method) and prometheus actually marks the scrape as error, it's like we get all metrics or nothing.

given such metrics
[code]

from the log there are only internal metrics, and up is 0
[code]

[2022-10-13 09:38] AbhiPrasad commented on #14903
This is because of https://github.com/getsentry/sentry-go/pull/444 and https://github.com/getsentry/sentry-go/issues/479#issuecomment-1269475954. Will fix and bump!

[2022-10-13 11:28] aboguszewski-sumo commented on #14791
I've created a commit for port as well, I will rebase it and create a PR as soon as #14926 gets merged.

[2022-10-13 11:38] fatsheep9146 commented on #9749
I think the task list can be updated again, almost all linters are fixed. @mx-psi

[2022-10-13 11:39] fatsheep9146 commented on #10466
I think this issue is ready to be closed. =D @mx-psi

[2022-10-13 12:03] mx-psi commented on #9749
There are only three components left. In particular:

- A PR seems to have accidentally reverted the Jaeger receiver errcheck enabling (see https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14561#discussion_r994550546 )
- Recent PRs to the elasticsearch exporter added some nolint directives. @JaredTan95, would you be able to open a PR removing those?
- https://github.com/open-

[2022-10-13 15:18] jessberg commented on #14919
With the disclaimer that I am not one of the official OpenTelemetry collector people, I had to create my own custom exporters and receivers, and I found this medium article really helpful:

https://medium.com/opentelemetry/extending-the-opentelemetry-collector-with-your-own-components-64c10cf675db

I also have an example of how I built exporters and receivers here:
https://github.com/dyn-tracing/m

[2022-10-13 15:53] TylerHelmuth commented on #14578
@bogdandrutu I played around with an implementation for `from <context>: ...` today and at the moment it feels like that idea is at odds with how we handle generics and contexts.  Today we create a Parser per context and parse statements with the context already decided before parsing starts.

If we moved the context selection to be defined from the grammar, then we have to be able to create a par

[2022-10-13 16:03] dashpole commented on #13623
Ah, I see.  Prometheus itself considers a failure to append to be fatal for the entire scrape.  I assume that is intentional from prometheus' perspective... Would a workaround be to use metric_relabel_configs to drop those metrics yourself?

[2022-10-13 16:34] mapno commented on #14899
I missed this when I first merged the processor. Thanks for reporting. Opened this PR to included in future builds: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14932

[2022-10-13 17:02] TylerHelmuth commented on #14578
/cc @kentquirk @evan-bradley

[2022-10-13 17:11] jmacd opened #14934 "OTLP testing helper improvements and advances wanted"
### Is your feature request related to a problem? Please describe.

It is difficult to test correctness in an OTel Collector exporter, receiver, or processor. There are some utilities for printing human-readability differences between `pdata` objects, but they are somewhat incomplete and/or under-tested themselves.

### Describe the solution you'd like

Would like to see improvements in testing fo

[2022-10-13 17:55] mathus13 opened #14936 "azuremonitor exporter is not available"
### What happened?

## Description
Using the docker image otel/opentelemetryconnector:0.62.0, configuring the azuremonitor exporter generates an error on startup

## Steps to Reproduce
use the following config:
[code]

## Expected Result
application starts, and exports traces to Azure

## Actual Result

2022/10/13 17:44:59 collector server run finished with error: failed to get config: cannot unma

[2022-10-13 19:23] lsampras opened #14938 "Support for extracting attributes/labels from log body"
### Is your feature request related to a problem? Please describe.

I wanna set loki labels for my logs based on a key-value pair in my JSON formatted logs,
we provide an option to set loki labels from attributes but I'm not able to extract the body value to an attribute...

E.g
assuming the logs to be something like
[code]
I wanna extract the the log_type and set it as a loki label...

Promtail s

[2022-10-13 19:53] evan-bradley commented on #14878
Could you give more details about your setup? From the information in your report, it sounds like you may be experiencing an issue with the OpenTelemetry .NET SDK. If you are having trouble with the OpenTelemetry Collector, could you post your Collector configuration and any relevant logs?

[2022-10-13 19:54] evan-bradley commented on #14886
@jpkrohling Can you confirm whether you will be sponsoring this component?

[2022-10-13 20:17] evan-bradley commented on #14936
Based on the following line, it sounds like you aren't using a Collector distribution that includes the Azure monitor exporter.

If you want to use this component, the recommended approach is to [build your own distribution](https://opentelemetry.io/docs/collector/custom-collector/), which lets you choose exactly the components you would like to use. If you want a prebuilt image that contains most

[2022-10-13 20:22] evan-bradley commented on #14919
Related:
- https://github.com/open-telemetry/opentelemetry-collector/issues/5675
- https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/12965

[2022-10-14 01:54] newly12 commented on #13623
Thanks, I think the workaround metric_relabel_configs would work, but the challenge is that we can not predict what histogram metrics could having such issue..

[2022-10-14 05:48] lesovsky commented on #14919
Thanks for answers, these could help

[2022-10-14 05:48] #14919 closed

[2022-10-14 06:51] kevinschoonover commented on #14882
This seems to also cause conflict between prometheusreceiver and lokiexporter
[code]

[code]

[2022-10-14 06:57] saikalyan-bhagavathula commented on #14615
You need to save these log lines in a file with utf-16le extension to reproduce my case.

[2022-10-14 07:58] rupeshnemade opened #14946 "[pkg/ottl] Set method should allow dynamically setting map values to attributes"
### Is your feature request related to a problem? Please describe.

While using transform processor, we tried setting set kubernetes labels to a single attribute 'labels' in a body as below.

<img width="292" alt="image" src="https://user-images.githubusercontent.com/31383439/195792617-5d53d391-285c-40cb-aca4-07888e379e2c.png">

But Set method doesn't iterate through the map of values & instead ne

[2022-10-14 10:51] saikalyan-bhagavathula commented on #14615
These are the sample log lines:

2022-09-22 15:58:11.50 Server Microsoft SQL Server 2019 (RTM) - 15.0.2000.5 (X64)
Sep 24 2019 13:48:23
Copyright (C) 2019 Microsoft Corporation
Express Edition (64-bit) on Windows Server 2019 Standard Evaluation 10.0 (Build 17763: ) (Hypervisor)

2022-09-22 15:58:11.50 Server UTC adjustment: 5:30
2022-09-22 15:58:11.50 Server (c) Microsoft Corporation.
2022-09-22 1

[2022-10-14 11:05] albertteoh commented on #14631
IIUC the `service.instance.id` attribute seems to be the semantic convention used to help uniquely identify a service instance (generated by an SDK).

If we consider a service instance's opentelemetry SDK inserts `service.instance.id` attributes into its spans say, with the value `foo`, and sends these spans to OTEL collector.
Let's say the OTEL collector is configured with the spanmetrics process

[2022-10-14 12:45] jpkrohling commented on #14886
I'm sponsoring this component.

[2022-10-14 13:44] kovrus opened #14950 "[exporter/routingprocessor] Rename OTTL `expression` configuration parameter of the routing table to `statement` to align with OTTL naming."
### Describe the issue you're reporting

## Description
Rename OTTL `expression` configuration parameter of the routing table to `statement` to align with OTTL naming.

See [OpenTelemetry Transformation Language expressions as routing conditions](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/routingprocessor#tech-preview-opentelemetry-transformation-language

[2022-10-14 14:25] schmikei opened #14952 "[receiver/awscloudwatch]"
### What happened?

## Description
validation for named configs will not work as expected as the `createDefaultConfig` creates a non-nil autodiscover config.

I think for now we should remove the validation check as it is handled later on.

## Steps to Reproduce

## Expected Result

## Actual Result

### Collector version

v0.62.0

### Environment information

## Environment
OS: Darwin
Compiler(if

[2022-10-14 14:51] kovrus commented on #13224
@bogdandrutu these two PRs should be merged to close this issue.

https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14749
https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14954

[2022-10-14 15:06] dashpole commented on #13623
I think this is a broader question about error handling.  Prometheus has taken the approach that a scape with 1 invalid metric should cause the entire scrape to fail.  We are essentially doing the same by returning the error.  The all-or-nothing approach is good in that it makes reasoning about metric presence easier: Either the up metric is 1, and I have all of the metrics on the endpoint, or the

[2022-10-14 15:11] msartor92 commented on #14788
Hi all,

issue still open, getting exact same error with docker image 0.62.0 and with 0.62.1

[2022-10-14 15:39] #14950 closed

[2022-10-14 15:54] schmikei commented on #14788
@msartor92

It works for me, be sure that you are using the correct image `otel/opentelemetry-collector-contrib:0.62.1`

[code]

[code]

[2022-10-14 16:11] jmacd opened #14956 "[receiver/statsd] Change the default for `is_monotonic_counter` to true"
### What happened?

## Description

The `is_monotonic_counter` flag is not a generally useful feature for typical OpenTelemetry users and this behavior should be enabled by default. Most statsd counters are monotonic, and very few are UpDownCounter. In a real statsd deployment, it is likely that all but a few counters are monotonic. If the modern-day statsd user wants to selectively turn some metr

[2022-10-14 16:29] mattk-ce opened #14960 "ECS resource detection processor - add tags"
### Is your feature request related to a problem? Please describe.

There is a significant disparity between the EC2 resource detection processor and ECS - EC2 supports tag metadata, ECS does not.  When creating Fargate ECS tasks, this means you're left with replicating tags as environment variables for label extraction.

### Describe the solution you'd like

It could be as simple as modifying the

[2022-10-14 17:17] BinaryFissionGames commented on #10145
The logs for this error seems to be gone (old logs purged); I think I saw this when developing some changes for IIS.

I think the problem is this function here:
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/4266fd11e9664210eb33c21a802c029d55e2f08d/pkg/winperfcounters/internal/third_party/telegraf/win_perf_counters/performance_query.go#L213-L218

The conversion to `*[1 << 2

[2022-10-14 17:55] #14903 closed

[2022-10-14 18:00] dmitryax commented on #10145
Thank you, @BinaryFissionGames . Assigning it to you

[2022-10-14 18:09] dmitryax commented on #10149
It can be reproduced by removing this line https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/sqlserverreceiver/Makefile#L6

[2022-10-14 21:27] Aneurysm9 commented on #13623
I've seen this a couple times.  I believe that Micrometer produces both a Histogram and a Summary for timer instruments.  I also yesterday had an internal customer who was manually producing a Summary and Counter with the same name as an optimization.  They were able to change the name of the Counter, but unless you've seen this before it's a pretty non-obvious problem, particularly with the detai

[2022-10-14 22:53] mterwill opened #14965 "Zipkin exporter and collector do not agree on wire representation of status codes"
### What happened?

### Description
The Zipkin exporter and collector do not agree on wire representation of status codes. And neither of which are in line with the spec. (See https://github.com/open-telemetry/opentelemetry-go/issues/3287)

The Zipkin exporter serializes status codes as `Unset`, `Error`, and `Ok`:

https://github.com/open-telemetry/opentelemetry-go/blob/5568a3072367bb8ac4d2d9e759e

[2022-10-15 00:50] dmitryax commented on #9794
@jamesmoessis JFY I created this issue some time ago https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/13848. Looks like it covers item 4 in your list.

[2022-10-15 00:51] dmitryax commented on #9794
I believe we should add warning saying that it'll be enabled by default soon so it doesn't happen unexpectedly.

[2022-10-15 01:08] jamesmoessis commented on #13848
@dmitryax For item 1, I would say `container_labels_to_resource_attributes` would be a suitable name.

I'd be happy to work on these some time soon. If I was codeowner of this component I would get pinged for stuff like this too, I'd be happy to put my hand up for that.

[2022-10-15 01:10] jamesmoessis commented on #9794
@dmitryax sounds good I commented on that issue.

I will raise a PR for this next week 👍

[2022-10-15 03:39] TylerHelmuth commented on #14946
I can think of two ways to handle this situation:

1. Update all contexts used by the transform processor to understand that wildcard (*) in a key means "all fields in a map that match that key".
2. Create a new Factory Function that knows how to take a map and a string pattern and returns a map that contains all the fields from the input map that match the pattern.  It would behave similarly to `

[2022-10-15 07:38] neelayu opened #14967 "Allow `s3provider` to load access keys form sources other than environment"
### Describe the issue you're reporting

Currently `s3provider` expects aws access keys to be set in the environment variables. However, there are other ways to set them up and aws-sdk-go provides functional options to load those configuration objects as desired.

[2022-10-15 09:14] #14616 closed

[2022-10-15 16:48] dmitryax commented on #13848
@jamesmoessis we already have a PR with a more generic approach https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14537

It would be great if we can have a consistent config interface for such use cases, in the docker receiver, k8s attributes processor and others

[2022-10-16 07:26] lalit-fgr commented on #13727
@dmitryax - any process to be followed by vendor for this?

[2022-10-16 07:29] vincentfree commented on #5192
Any idea when this support gets reintroduced? Also In which version does this get removed? I'd like to know if my application setup does work with exemplars.

[2022-10-16 19:59] dmitryax commented on #10300
Resolved by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/13442

[2022-10-16 19:59] #10300 closed

[2022-10-17 02:21] MacNale opened #15294 "Kafka Receiver stops reading the OLTP metrics from kafka once restarted"
**Describe the bug**
Kafka Receiver stops reading the OLTP metrics from kafka once restarted.

**Steps to reproduce**
1) Export metrics in OTLP format in a Kafka Topic
2) Setup the Kafka Receiver to read and export to a vendor.  Add logger as exporter as well.
3) Stop the collector
4) Restart and notice that kafka Receiver is no longer reading the metrics from the Kafka.
5) Increasing Kafka lag is

[2022-10-17 05:41] dmitryax commented on #9013
I don't understand why do we need to keep `container` grouping?

[2022-10-17 05:41] dmitryax commented on #9013
Another concern is that we have different configuration interfaces for filtering across collector's components. Here are ones that I'm aware of (there are may be others):
1. docker stats receiver has only one option `excluded_images` with list of globs or regexps.
2. filter processor has `include` and `exclude` options with a bit different syntax having the `match_type` toggle.

I don't like that

[2022-10-17 07:28] gen-xu opened #14972 "Postgresql metrics receiver has runtime error on type conversion"
### What happened?

## Description

Postgresql metrics receiver has runtime error on converting null to int64 for `write_lag`
and `checkpoint_duration_write` float64 to int64

## Steps to Reproduce

## Expected Result

## Actual Result

### Collector version

v0.62.1

### Environment information

## Environment
OS: "Ubuntu 20.04"
Compiler(if manually compiled): (e.g., "go 14.2")

### OpenTelemetry

[2022-10-17 10:51] coutouly opened #14974 "http json collector don't show trace"
### What happened?

## Description
when trying to send json trace to http:otel:4318/v1/traces the answer is {}

curl -X POST otel:4318/v1/traces -H'Content-Type: application/json' -d @trace.json

no debug

## Steps to Reproduce
conf:
`receivers:
  otlp:
    protocols:
      grpc:
      http:
exporters:
  logging:
    loglevel: debug
  elasticsearch/trace:
    endpoints: [http://elastic:9200]
    t

[2022-10-17 10:55] carlosjgp commented on #14190
I'm very interested in this too. I'm looking into reducing the resource footprint on the clusters and replacing Promtail with OTL receiver

@kago-dk Looks like from `0.59` onwards you need to map the attributes into `loki.attributes.labels` or `loki.resources.labels`
https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/lokiexporter#labels

I'll be testing this withi

[2022-10-17 11:35] mx-psi commented on #14956
What about negative counters? In the past you argued for monotonic=false because of statsd seemingly supporting negative counter values https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/1670#discussion_r543662825, what made you change your mind?

[2022-10-17 11:36] mx-psi commented on #14956
See also #1789 for previous discussion arguing the opposite

[2022-10-17 11:42] yutingcaiyt opened #14975 "Can't run the testbed"
### What happened?

## Description
After I download the source code, I try the way described in https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/testbed to run the test case, however, it shows me the error:
`yuting@yutingdeMacBook-Pro testbed % TESTS_DIR=./tests ./runtests.sh

=== RUN   TestIdleMode
2022/10/17 19:35:59 Starting Agent (/Users/yuting/Desktop/project/opente

[2022-10-17 12:58] MacNale opened #14976 "receiver/kafkareceiver - Allow user to read from latest or smallest offset"
### Is your feature request related to a problem? Please describe.

I cant specify kafka offset to configure receiver/kafkareceiver to start reading from.

### Describe the solution you'd like

support config as follows -

offset: smallest | latest

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-10-17 14:02] rupeshnemade opened #14977 "Transform processor should allow JSON structure in log body"
### Is your feature request related to a problem? Please describe.

While using Transform processor to move resource attribute at record level so that custom values can be added in logs body, the processor doesn't allows setting values under JSON object under single key.
Due to this the same key (kubernetes.<>) needs to be repeated with every field which in turn increase log size.

<img width="239

[2022-10-17 14:28] Dylan-M commented on #8390
We're encountering this currently with syslog coming from a Palo Alto firewall. Could really use this enhancement, if anyone has time to work on it.

[2022-10-17 14:34] dashpole commented on #5192
This was fixed by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14132.  It will be released next release (v0.63.0)

[2022-10-17 14:34] #5192 closed

[2022-10-17 14:46] Dylan-M commented on #8390
Would it also, while this is being worked on, be useful to implement [RFC5848](https://datatracker.ietf.org/doc/html/rfc5848)? We do encounter this from time to time as well. So far, what we've done is talk customers into changing to straight RFC5424. It would be nice not to need to do that.

[2022-10-17 15:35] #13117 closed

[2022-10-17 15:38] evan-bradley commented on #1158
Closing this issue in favor of https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/12936.

[2022-10-17 15:38] #1158 closed

[2022-10-17 15:41] cpheps commented on #8390
@djaglowski Can you assign this to me. I'll take a a stab at adding support for RFC6587.

[2022-10-17 19:25] pmcollins opened #15231 "Create a command line tool to generate configschema yaml files"
### Is your feature request related to a problem? Please describe.

Documentation generators and tools could benefit from access to the data generated by the [configschema API](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/cmd/configschema). If this data were written as YAML files to each component directory, it would be relatively straightforward for writers of tools

[2022-10-18 05:03] Chinwendu20 commented on #14919
Adding to this conversation. Component generation is one of the outreachy projects by open telemetry this year.

[2022-10-18 05:44] newly12 opened #15239 "[prometheusreceiver] `honor_labels: true` doesn't work properly"
### What happened?

## Description

`honor_labels: true` does not work properly

case 1. given metrics
[code]

got error
[code]

case 2. given metrics
[code]

got metrics

[code]

## Steps to Reproduce
provide metrics and start otel

## Expected Result
case 1
[code]

case 2
[code]

## Actual Result
see above

### Collector version

latest master branch

### Environment information

## Environment

[2022-10-18 07:41] Dongqi-Guo opened #15240 "[httpendpointexporter] Can we provide a new exporter for exporting logs to a http endpoint?"
### Is your feature request related to a problem? Please describe.

Hello guys, since I worked on app logs collect, I deployed fluentbit with my application to collect logs, then I use fluentbit's output to write logs to otel collector, I export the logs to loki, also I wanna export to my other applications which expose http service(like 'http://example:8080/collect/logs'), but I can not find any

[2022-10-18 09:45] Chinwendu20 commented on #12629
Hello @mx-psi. Could I please work on this?

[2022-10-18 09:48] Chinwendu20 commented on #10292
Hello @dmitryax @Aneurysm9. Could I please work on this?

[2022-10-18 10:00] fatsheep9146 opened #15241 "Request for Triager role for Ziqi Zhao"
### Describe the issue you're reporting

I would like to take on a Triager role in the Collector contrib repository.

I have join otel sig for about 4 months and make several contributions to collector-contrib and collector. Although I do not meet the [community guidelines](https://github.com/open-telemetry/community/blob/main/community-membership.md#triager), since the meeting time is really not

[2022-10-18 10:06] mx-psi commented on #15241
cc @open-telemetry/collector-contrib-maintainer @open-telemetry/collector-contrib-approvers

[2022-10-18 10:08] mx-psi commented on #12629
Assigned to you @Chinwendu20

[2022-10-18 10:27] markfergy opened #15242 "influxdbexporter does not support NaN and Inf produced for example by Prometheus metrics"
### Describe the issue you're reporting

I am struggling to find a solution to exporting NaN and Inf metric values to influxdb using the influxdbexporter

This is an example of the error message
`
2022-09-29T09:01:38.917Z debug influxdbexporter@v0.58.0/logger.go:33 invalid field value {"kind": "exporter", "data_type": "metrics", "name": "influxdb/2", "key": "kafka_consumer_time_between_poll_avg",

[2022-10-18 11:06] markfergy commented on #15242
To add I understand that the influxdb line protocol does not support NaN and Inf so the error message is expected. However it would be good to have some control over how this data should be processed.

For example drop the metric (without an error message) or convert the value to zero etc.

[2022-10-18 12:26] gabrielgiussi commented on #14757
Is there any other way to export jvm metrics as a workaround until this is fixed (if it is a bug as I think it is)?

I know the agent will export jvm metrics but how to configure it to only do that? Is there a way to export jvm metrics without using the agent and just using the sdk? Of course I could instantiate some observable instruments that could fetch the metrics from the mbeans but perhaps t

[2022-10-18 12:41] djaglowski commented on #15241
I support. Thanks for all your contributions @fatsheep9146.

[2022-10-18 14:46] msartor92 commented on #14788
Hi schmikei,
you are right i've got wrong image

[2022-10-18 15:43] evan-bradley commented on #14974
Hi, thanks for reporting this. Please see [this comment](https://github.com/open-telemetry/opentelemetry-collector/issues/6320#issuecomment-1279738087) for more information on why this is happening.

[2022-10-18 16:22] #14877 closed

[2022-10-18 16:30] Chinwendu20 commented on #12629
Thanks for assigning this to me @mx-psi. So I plan on creating a function for this. Would it be okay if I put this in a separate file or  this should be in the check-codeowners.sh file?

[2022-10-18 16:30] dmitryax commented on #10292
@Chinwendu20, sure. Assigned

[2022-10-18 16:32] evan-bradley commented on #14975
It looks like the docs are outdated. From what I can tell, the simplest way to run all tests locally is to run the following from the repository root:

[code]

I can update the docs on this.

[2022-10-18 16:56] evan-bradley commented on #15240
What format(s) are you looking to export logs in? Exporters handle sending telemetry data in the format used by the backend, so you will need an exporter specific to the format you are looking to use. To export to multiple backends, you can simply list multiple exporters in your telemetry pipeline configurations, [like this](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/ma

[2022-10-18 17:15] Aneurysm9 commented on #15239
I suspect this is related to the conversion of `job` and `instance` into resource attributes.  It looks like only a single resource will ever be created but we probably need one per `job`/`instance` pair.

[2022-10-18 17:22] bogdandrutu commented on #14974
Closing this, since we have a different one in core.

[2022-10-18 17:22] #14974 closed

[2022-10-18 17:27] codeboten commented on #15241
+1

[2022-10-18 17:53] #10607 closed

[2022-10-18 18:02] Aneurysm9 commented on #15241
+1

@fatsheep9146 has been a regular contributor and would be a valuable addition to the triage team.

[2022-10-18 19:54] #12731 closed

[2022-10-18 21:29] jay-annapureddy opened #15275 "azuremonitorexporter not working with Java app logging"
### Describe the issue you're reporting

Hi,

**Issue**
I found that this exporter is not working with Java app logging and log4j, could you please help here, is there any way I can send Java app logs to Azure Monitoring ?

**Requirement:** I am in a need of sending emitted telemetry data from a Java app to Azure monitor.

**Details:**
I am having a Java app instrumented with otel java agent and t

[2022-10-18 21:42] Chinwendu20 commented on #12629
Update, I am ready to push a PR just want to confirm the above, first.

[2022-10-18 22:45] ImDevinC opened #15277 "[exporter/prometheusremotewrite] Enabling WAL prevents metrics from being forwarded"
### What happened?

## Description
When using the prometheusremotewrite exporter with the WAL enabled, no metrics are sent from the collector to the remote write destination.

## Steps to Reproduce
Using the config in the config section below can reproduce this error by sending metrics to this collector. Disabling the WAL section causes all metrics to be sent properly.

## Expected Result
Promethe

[2022-10-19 00:46] #10146 closed

[2022-10-19 00:46] #10150 closed

[2022-10-19 02:19] yutingcaiyt commented on #14975
Thanks a lot, I hope these docs can be updated as soon as possible 0.0

[2022-10-19 02:32] kentquirk commented on #14578
I spoke with Tyler today at some length and came up with a syntax that has a fairly efficient implementation while still allowing for a sequence of operations at different layers of the context. It would look something like this:

[code]

Note that the outer layer of traces (and equivalently, metrics and logs) has a series of scopes. At each scope we can have a series of statements (one or more).

[2022-10-19 02:59] TylerHelmuth commented on #14578
Yes, I like this approach a lot.

[2022-10-19 03:13] Dongqi-Guo commented on #15240
@evan-bradley thx for reply, my spring web app accepts jsonarray format req to compress and dispatch to another destination. I wonder if there is a export could achieve this?

[2022-10-19 03:27] Dongqi-Guo opened #15281 "[prometheusremotewrite] invalid temporality and type combination when remote write to thanos backend"
### What happened?

## Description
I tried to use promethrus remote write to thanos backend and then display metrics on Grafana. I found there are many errors in otel collector log like "Permanent error: invalid temporality and type combination", In result, thanos lacks many metrics used in Grafana dashboard, any idea or solution about this?

## Steps to Reproduce
1. fluentbit node_metrics output

[2022-10-19 05:37] jamesmoessis commented on #5879
We are using the aforementioned workaround as well. It has a side affect that `mountpoint` on the filesystem attributes are all prefixed with `/hostfs`. That, combined with the lack of ability to do a regex-replace (`/hostfs(.*)` -> `/(.*)`) in any of the standard processors creates a problem for us.

@dmitryax is anyone currently working on this? I should have time to add the `root_path` config i

[2022-10-19 05:57] lesovsky commented on #14565
Have the similar issue when building custom collector with imported `exporter/prometheusexporter`

builder.yaml:
[code]

got (formatted by me):
[code]

After adding 'replaces' directive mentioned above, collector compiled successfully with no errors.

[2022-10-19 06:46] dmitryax commented on #5879
@jamesmoessis I don't believe that anyone is currently working on this. Feel free to take it. I'll be happy to review

[2022-10-19 07:41] mx-psi commented on #12629
@Chinwendu20 Either way works for me, just open the PR with whatever you have and we will resolve this on the PR :)

[2022-10-19 08:15] Chinwendu20 commented on #12629
Thanks @mx-psi. I have pushed it. I am unsure if this requires a changelog.

[2022-10-19 08:17] mx-psi commented on #12629
No need for a changelog entry for this.

[2022-10-19 08:19] lsampras commented on #14938
I've added a minimal version [here](#15282) which modifies `transformprocessor` for this behaviour (which satisfies my usecase),
This still is far from completion, will need more direction/consideration before we choose a solution and cover all cases from a feature standpoint...

[2022-10-19 08:41] #14754 closed

[2022-10-19 09:34] pavolloffay commented on #9012
@vinhph0906 did you try `insecure: false` and `insecure_skip_verify: false`. Insecure should not be used in prod.

[2022-10-19 11:53] balintzs commented on #2838
Hello all, I believe this is caused by a bug we found in prometheus that causes the `+Inf` bucket to be added incorrectly, which in turn results in a negative number when converting cumulative datapoints to delta: https://github.com/prometheus/client_golang/issues/1147

We faced an issue whereby New Relic dropped our datapoints because of this. The issue existed with 0.61.0 but became much worse w

[2022-10-19 11:55] balintzs commented on #2838
cc @TylerHelmuth

[2022-10-19 12:03] balintzs commented on #4975
Sorry, I should have posted this here: https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/2838#issuecomment-1283888158

[2022-10-19 12:18] balintzs commented on #4975
Actually, looking at it, it is not the same bug, but the same issue:
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/pkg/translator/prometheusremotewrite/helper.go#L350

The `+Inf` bucket should have the same value as the total count:
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/pkg/translator/prometheusremotewrite/helper.go#L306

[2022-10-19 12:28] kovrus commented on #14706
Should be closed after merging https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/15285

[2022-10-19 16:12] tigrannajaryan commented on #14753
It would be great if the configuration of operators (e.g. jq, regex) is uniform with what we do for logs operators.

[2022-10-19 16:18] #14725 closed

[2022-10-19 16:31] tigrannajaryan commented on #14753
Discussed in SIG:
- Is there a spec for the config file format, list of operators and there syntax?
- Can we get a sense on how much we would lose by not supporting a "run" command? What portion of existing flex definitions needs it?
- Can you figure out a way to consolidate the operators with filelog operators? Are there operators that do the same thing but have different names? Can we alias them

[2022-10-19 16:35] shrutich91 opened #15291 "Unable to export to Jaeger from OTEL collector"
Describe your environment
I am using the following docker compose

Jaeger Docker:
[code]

OTEL Collector Docker:
[code]

OTEL Collector Config

[code]

What is the expected behavior?
I want to export traces from collector to jaeger but getting an error

What is the actual behavior?
[code]

[2022-10-19 16:43] seankhliao opened #15290 "[receiver/statsd] add attribute for source IP"
### Is your feature request related to a problem? Please describe.

We want to enrich the metrics data we receive over the statsd protocol via the k8sattributes processor.
This requires having something to identify the source of metrics, either IP address, name, or uid.

Using the source IP address seems ideal as it doesn't require cooperation from the process producing the metrics.

### Describe

[2022-10-19 16:45] #11445 closed

[2022-10-19 16:48] jpkrohling commented on #15291
I believe this is a basic Docker networking issue, but I'm adding the Jaeger label to this one.

cc @frzifus

[2022-10-19 16:57] frzifus commented on #15291
hi @shrutich91, i agree with @jpkrohling. You should be able to fix it by adding `--network=host` to both commands and replace endpoint `jaeger:14250` by `localhost:14250`.

[2022-10-19 17:06] jpkrohling commented on #14938
cc @mar4uk and @kovrus: I think this belongs to a processor instead of to the Loki exporter, but I wonder what your opinions are.

[2022-10-19 17:19] jpkrohling commented on #13727
@bogdandrutu, it looks like you are the assigned sponsor for this one.

[2022-10-19 17:33] jpkrohling commented on #14760
Thanks for the report. I do not have time to work on this right now, but I'll add this to my queue. It would expedite fixing this if you could provide a test case or perhaps a PR.

[2022-10-19 17:56] shrutich91 opened #15293 "client has run out of available brokers while exporting from OTEL collector to kafka"
Describe your environment
I am using the following docker compose

Kafka Docker yml:

version: '3'
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.0.1
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  broker:
    image: confluentinc/cp-kafka:7.0.1
    container_name: broker
    ports:
    # To learn about configuring K

[2022-10-19 18:28] HudsonHumphries commented on #15277
+1 I am also having issues when using the WAL for the prometheusremotewrite exporter. The only way I could get it to export metrics was by setting the buffer_size to 1 and exporting 1 metric at a time is not an option

[2022-10-19 18:59] jpkrohling commented on #14190
I believe this to be a characteristic of the filelog, not Loki, but I'll take a look at this in a couple of weeks. In the meantime, would you be able to use the `logging` exporter with `debug` level? If this shows the same type of data there, we would have a confirmation that the problem isn't at the Loki exporter.

[2022-10-19 19:24] evan-bradley commented on #14977
Related issue on reading from log bodies: https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/14938. There are also some thoughts on a comprehensive approach to log processing in the OTTL in https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/9410.

cc @bogdandrutu @TylerHelmuth @kentquirk

[2022-10-19 19:43] evan-bradley commented on #15240
Are you using a custom JSON schema, or is it a standard schema type? There are no exporters that currently support writing log information to a custom schema type, though it would be possible to implement. If you are using a standard format, it would depend on whether any exporters support that format.

If your app is flexible with regards to what format you receive logs in, the [OTLP HTTP exporte

[2022-10-19 20:25] pavankrish123 opened #15295 "New component: OpAMP Configuration Provider."
### The purpose and use-cases of the new component

There has been a lot of discussions and progress to standardize the agent configuration mechanism through OTEL community driven [OpAMP specification.](https://github.com/open-telemetry/opamp-spec)

Having a provider that effectively acts like an OpAMP client makes collector receive and listen for updates over OpAMP channels from OpAMP compliant s

[2022-10-19 21:10] Aneurysm9 commented on #14565
@dashpole it looks like this might need to be solved either in Prometheus or the Google OAuth2 library.  Are you able to connect the right people on the Google side to this issue to see how it should be addressed?

[2022-10-19 22:50] pcwiese commented on #15275
Looks like there is a severity map that is used to map the incoming log record to an appinsights/azure monitor level
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/81935cf01dfe8e54045a32ee6314a81296421ce9/exporter/azuremonitorexporter/log_to_envelope.go#L26

so, in your case INFO must be Information for the current code to map it properly I guess.

@eedorenko  added this fe

[2022-10-19 22:54] parkedwards commented on #13642
@jpkrohling if i'm not mistaken, it looks like this was recently updated to have access to this scope?
https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/14892

[2022-10-19 22:58] eedorenko commented on #15275
I will look into that

[2022-10-19 23:08] Aneurysm9 commented on #13642
Isn't this precisely what the component should be doing?  If a sampler is losing information on spans that are not dropped that seems like a problem.

[2022-10-19 23:11] MacNale opened #15345 "[exporter/elastic] Support exporting infrastructure metrics"
### Is your feature request related to a problem? Please describe.

It looks like ElasticSearch Exporter can export traces and logs but no metrics

<img width="371" alt="image" src="https://user-images.githubusercontent.com/14235758/196821330-60e1d0dd-798d-4f7a-ba26-4de339121292.png">

### Describe the solution you'd like

Ability to export the metrics to ElasticSearch using expoerter

### Describ

[2022-10-20 00:14] parkedwards commented on #13642
im also wondering if this is less that the span attribute drops, and more that the telemetry loses view of the instrumentation scope itself when being tail-sampled

[2022-10-20 02:06] Dongqi-Guo commented on #15240
@evan-bradley thx, got it. one more thing, is there any plan to implement this feature which already had in fluentd? In such case, otel collector just like a "forwarder" between fluentbit and spring application accepts http request.

[2022-10-20 05:12] shrutich91 commented on #15291
Even with --network=host in both docker commands, and setting the endpoint to localhost:14250, I get the same error.

2022-10-20T05:12:06.328Z        warn    zapgrpc/zapgrpc.go:191  [core] [Channel #1 SubChannel #2] grpc: addrConn.createTransport failed to connect to {
  "Addr": "localhost:14250",
  "ServerName": "localhost:14250",
  "Attributes": null,
  "BalancerAttributes": null,
  "Type": 0,

[2022-10-20 07:25] #12629 closed

[2022-10-20 09:11] alejandrodnm opened #15350 "[translator/jaeger] When translating binary tags back to Jaeger return them as binary instead of string"
### Is your feature request related to a problem? Please describe.

When translating binary tags from Jaeger to OTEL they are based64 encoded and put as a Str attribute

https://github.com/alejandrodnm/opentelemetry-collector-contrib/blob/47870dedc479a9a6acc3a6128a5d3030240dadcc/pkg/translator/jaeger/jaegerproto_to_traces.go#L253-L254

When translating back to Jaeger no attempt is made to decode t

[2022-10-20 09:51] domasx2 opened #15351 "[exporter/loki] add support for logfmt"
### Is your feature request related to a problem? Please describe.

I have a use case for sending logfmt-formatted log records through the otelcol to Loki. But loki exporter encodes them in JSON, ending up with `{ "Body": "{{message}}" }`. This requires workarounds down the line to unwrap the JSON.
It would be great to have direct logfmt support for the Loki exporter.

### Describe the solution yo

[2022-10-20 10:53] kovrus commented on #14938
Agree, it should not be a part of the Loki exporter scope, but the processor components.

[2022-10-20 14:07] jkowall commented on #15345
Use a database which is good with time series. If you've tried to do this with elastic you'll know the pain.

[2022-10-20 14:11] JaredTan95 commented on #15345
Thx your reply, and I learned from elastic official's blog here https://www.elastic.co/blog/elasticsearch-as-a-time-series-data-store,  I don't know if it's a solution worth trying 🤔

[2022-10-20 14:46] jpkrohling commented on #15350
cc @frzifus

[2022-10-20 14:56] #14972 closed

[2022-10-20 15:00] jpkrohling commented on #13642
That's true. I'm not sure what the original engineer had in mind when this component was written, but I believe they decided to gain some performance by avoiding the extra processing of reorganizing this data.

I would be open to reviewing a PR with a proposal to change the current behavior.

[2022-10-20 15:01] jpkrohling commented on #15291
Could you please try to get it working outside of Docker first? If it works, then you know the problem is related to the network.

[2022-10-20 15:29] djaglowski commented on #14753
I think this would be quite a challenge, but I'll try to provide enough of an analysis that we can consider it further.

The first thing to note is that the filelog operators are built around a particular representation of the _log_ data model. Specifically, [`pkg/stanza/entry.Entry`](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/d6655511897061ee6c2c136bc8ca49896502443d/pk

[2022-10-20 15:37] tigrannajaryan commented on #14753
@djaglowski I think you are implying that the _implementations_ of these operators need to be shared. That's an option but not a requirement. From end user perspective it is important the _behavior_ of these operators are uniform for metrics and logs, but implementations may be done in different bits of code. Of course we need to be very careful with this approach to ensure the behaviors are truly

[2022-10-20 15:42] djaglowski commented on #14753
That's fair. It'd be possible to just share some of the more complex bits of code, such as timestamp configuration & parsing.

[2022-10-20 16:02] djaglowski commented on #13631
Resolved by #14094

[2022-10-20 16:02] #13631 closed

[2022-10-20 16:06] djaglowski commented on #3744
I believe this has been solved in spirit by [`pkg/stanza/adapter`](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/pkg/stanza/adapter).

[2022-10-20 16:06] #3744 closed

[2022-10-20 16:19] djaglowski commented on #12653
Closing this issue because there is no action to take.

[2022-10-20 16:19] #12653 closed

[2022-10-20 16:19] TylerHelmuth commented on #5679
I am currently working on an enhancement to the transform processor that will enable use to write a `drop` function that can use the OTTL's extensive condition framework, which allows access to the log's body.

[2022-10-20 16:20] djaglowski commented on #12648
Closing this as it was not reproducable.

[2022-10-20 16:20] #12648 closed

[2022-10-20 16:21] djaglowski commented on #13165
Closing this as I do not believe there is any intention to support operators in the otlp receiver.

[2022-10-20 16:21] #13165 closed

[2022-10-20 16:22] djaglowski commented on #8982
Did it work?

[2022-10-20 16:23] djaglowski commented on #12200
I will assume this suggestion solved the problem. Please reopen if you believe there is a bug.

[2022-10-20 16:23] #12200 closed

[2022-10-20 16:24] djaglowski commented on #4850
I have not observed this issue or heard of it again from anyone else. Closing this but please open a new issue if necessary.

[2022-10-20 16:24] #4850 closed

[2022-10-20 16:30] matthewmodestino commented on #8982
yep!

I used the docker.json to set the tags the way I wanted them (pipe separated for easy regex), then did something like this:

[code]

and deployed the docker image like this:

[code]

[2022-10-20 16:31] djaglowski commented on #4915
This issue is old but this is the first I've seen it so a few observations:
- The error message comes from the filelogreceiver, and mentioned the `regex_parser`, so it appears the attributes processor is not at fault.
- The error message includes a representation of the log entry that was not successfully parsed. Probably the `regex_parser` was trying to parse the body but I cannot tell since we o

[2022-10-20 16:31] #4915 closed

[2022-10-20 16:40] bigman73 opened #15353 "Prometheus exporter doesn't expose metrics of type counter"
### What happened?

## Description
A basic and simple OTEL collector is setup with metrics pipelines that export to logging (console) and Prometheus.
When sending `StatsD` metrics of type `gauge` to OTEL collector the metric is exported/exposed on the OTEL Prometheus `/metrics` page

However, with `counter` type metrics the metric is seen in OTEL collector console but doesn't get exposed on the `/

[2022-10-20 18:15] MacNale opened #15356 "[Lightstep/OTLPExporter] Does not show the metric description when exported from OpenTelemetry collector"
### What happened?

## Description
Does not show the metric description when metrics exported from OpenTelemetry collector

## Steps to Reproduce
1) Setup a opentelemetry collector with OTLP metrics exporter.
2) Grab the endpoint and token from your account in Lightstep
3) Read the metrics from using Kafka receiver. Use batch processor
4) Check the metrics in Lightstep. Metric data is seen as expe

[2022-10-20 20:53] #13391 closed

[2022-10-21 00:00] dmitryax opened #15364 "[receiver/filelog] storage config option doesn't have a default value in the docs"
`storage` config option is not marked as _Required_ and doesn't have a default value in the [README](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/filelogreceiver/README.md)

Similar with `multiline` but it's clear what's the default value

[2022-10-21 01:07] jkowall commented on #15345
It's simply not cost-effective, performant, and reasonable to use as a metric store. We've built it and created and roll-ups and other requirements, and it still was extremely costly. That's why everyone uses Prometheus and Prometheus compatible services. You simply cannot do proper metric analytics on an Elasticsearch or OpenSearch database. The next OpenSearch will connect to and handle Promethe

[2022-10-21 04:51] Chinwendu20 commented on #10292
Thanks, @dmitryax for assigning this issue to me. Please I ran this test on my computer and it works.
![image](https://user-images.githubusercontent.com/59079323/197114774-007b5032-e0b2-482f-9cbf-4e3f715810b7.png)

[2022-10-21 05:25] jamesmoessis commented on #5879
@dmitryax I started to look at this today. There's no obvious and clean way to have a `root_path` config at the top level and then have it passed down to the filesystem scraper. Did you have any ideas for that?

[2022-10-21 06:37] dmitryax opened #15365 "[exporter/loki] Flaky test TestFactory_CreateLogsExporter"
See https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3294062311/jobs/5431429685

[code]

[2022-10-21 07:04] atoulme opened #15367 "Add health endpoint to Splunk HEC receiver"
### Is your feature request related to a problem? Please describe.

The Splunk HEC endpoint usually allows to set a health endpoint, located under `/services/collector/health`, which returns 200 if the service is up, and may return other status codes such as 503 if there is a need for backpressure.

### Describe the solution you'd like

This enhancement should aim to support adding a simple health

[2022-10-21 07:16] Chinwendu20 commented on #10292
I read up more about this. I have pushed a PR

[2022-10-21 07:57] kovrus commented on #13224
@mx-psi can you please close this issue?

[2022-10-21 10:09] mx-psi opened #15372 "[pkg/batchperresourceattr] Move to `internal`"
### Describe the issue you're reporting

The `pkg/batchperresourceattr` module has only [three known (public) importers](https://pkg.go.dev/github.com/open-telemetry/opentelemetry-collector-contrib/pkg/batchperresourceattr?tab=importedby) which are all in this repository.

To reduce the public API footprint and thus the maintenance burden we should consider moving it for now to `internal`, to avoi

[2022-10-21 11:57] krupyansky commented on #15281
The problem is reproduced also with VictoriaMetrics as the backend

[2022-10-21 13:48] antonblock opened #15378 "[processor/logstransformprocessor] Processor hangs waiting for logs that were filtered out"
### What happened?

## Description

When using the `logstransformprocessor` to filter logs, the [loop](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/processor/logstransformprocessor/processor.go#L145) in `processLogs` will eventually hang waiting for the filtered out logs. `processLogs` is blocking, so the pipeline is blocked there.

## Steps to Reproduce

Using the s

[2022-10-21 17:20] dashpole commented on #14565
Based on my digging, this is because https://github.com/spf13/afero is still using golang.org/x/oauth2 v0.0.0-20210218202405-ba52d332ba99, which depends on cloud.google.com/go@v0.65.0.  It seems a bunch of things depend on that.

I don't know if there is much that cloud.google.com/go could do, as it is mostly about users updating usage beyond v0.100.2.  This seems to be made much worse by the fact

[2022-10-21 17:39] djaglowski commented on #15364
`storage` is not required and does not have a default. Are you suggesting that the doc should specify `""` as the default? I'm not sure that's helpful to the user.

[2022-10-21 18:13] gabrielgiussi commented on #14757
I guess the user 10001 doesn't have write permissions over the `/tmp` folder but I'm not familiarized with distroless images to understand how to give write permissions to that user.
Perhaps the solution is to allow [this part](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/54fcd935bb4322845774d3dadcac25b0657e0fc9/receiver/jmxreceiver/receiver.go#L78) to be configurable ins

[2022-10-22 06:06] atoulme commented on #12786
This work is now complete - marking this issue as closed.

[2022-10-22 06:06] #12786 closed

[2022-10-24 03:01] vinhph0906 commented on #9012
I have tried but it shows an error like `Failed to tls handshake with 192.168.2.107 x509: cannot validate certificate for 192.168.2.107 because it doesn't contain any IP SANs`. Maybe it's cause my self-cert is insecure.

[2022-10-24 06:15] Chinwendu20 commented on #10479
Hello @pmm-sumo and @codeboten, could I please work on this?

[2022-10-24 09:03] leewoobin789 opened #15385 "[exporter/elasticsearchexporter]: Upgrade Version to 8.4"
### Describe the issue you're reporting

elasticsearchexporter is still depending on an old version of elastic go client.
As an User, I would prefer updating the version firstly for the further feature additions (for instance, possibility to enable retry based on error type etc.)

- PR: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/15374

[2022-10-24 10:13] Jontem opened #15386 "[exporter/loki] The docs for loki.resource.labels is incorrect"
### Describe the issue you're reporting

In the [example](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/exporter/lokiexporter/example/otelcol.yaml) and [readme](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/exporter/lokiexporter/README.md) it's shown that `loki.resource.labels` should be placed under resource processor.
[code]

But i coul

[2022-10-24 10:40] carlreid opened #15387 "[exporter/datadog] Add support for custom list of `attribute` -> `tag` conversion"
### Is your feature request related to a problem? Please describe.

While it's great that the Datadog exporter is mapping from the [OpenTelemetry conventions](https://github.com/DataDog/datadog-agent/blob/main/pkg/otlp/model/attributes/attributes.go#L28), it seems that it is not possible to enrich telemetry with tags from the exporter on the collector.

### Describe the solution you'd like

An opt

[2022-10-24 11:31] mx-psi commented on #15387
Hi @carlreid, thanks for the issue, this is the right place to ask this if this is about the Datadog exporter. To help you further, I would need to know what telemetry signal is this about: is it about traces, metrics or logs? To be clear, you can probably do this already with the help of a processor, but I need a bit more info to be able to help you.

[2022-10-24 11:38] carlreid commented on #15387
Hey @mx-psi, great this is the right place then 😊

For us, we'd like anything that can be tagged, to have these tags. Though for now, this is more in focus on logs as my organization is currently only indexing logs that meet specific requirements, which includes certain non-standard (as in Datadog standard) tags.

We do already use processors ([attributes](https://github.com/open-telemetry/opentel

[2022-10-24 11:47] mx-psi commented on #15387
:+1: Thanks for details. I am going to ping @dineshg13 about this then for the logs-specific question.

As a side note and while you wait, since you have some interest about other types, I want to note that for metrics you can enable the [`metrics::resource_attributes_as_tags` option](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/66dd4e5ff32a4c7a694a069d0d0930fd2e6a8e78/ex

[2022-10-24 14:08] dineshg13 commented on #15387
@carlreid if you set a attribute `ddtags` either in (attributesprocessor)[https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/attributesprocessor] or in `filelogreciever` like this https://github.com/DataDog/opentelemetry-helm-charts/blob/92f3484f60c3d084f79a2658f14bfc06b67679ef/charts/opentelemetry-demo-datadog/otelcol-config.yaml#L91 , it would be converted to t

[2022-10-24 14:23] carlreid commented on #15387
Hey @dineshg13 🙂 I guess that could work.

Though it would likely mean we'd need to duplicate the log pipelines so that the `ddtags` attribute didn't make it to other exporters where the `dd` prefixed attributes don't make sense.

I guess I'll leave it up to you guys whether this should remain an open issue or not. I don't know enough if it should be a processor or exporter problem with this mappi

[2022-10-24 15:30] #15385 closed

[2022-10-24 16:13] codeboten commented on #10479
@Chinwendu20 all yours!

[2022-10-24 18:51] pavankrish123 commented on #15295
@jpkrohling @tigrannajaryan any suggestions on this? Let me know if there is an effort already on the way. I am more than happy to help with the items

[2022-10-24 19:30] evan-bradley commented on #15356
@codeboten Do you have any insights here?

[2022-10-24 19:40] tigrannajaryan commented on #15295
There are some limitations in the Collector that prevent implementing full-featured OpAMP management solution. Namely [ReportFatalError needs to be eliminated](https://github.com/open-telemetry/opentelemetry-collector/issues/6344) before we can start accepting remote configuration robustly.

I think we should stat with a minimal OpAMP implementation which can support the following subset of OpAMP

[2022-10-24 19:41] djaglowski commented on #15365
Here again: https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3314484447/jobs/5476073169#step:8:3353

[2022-10-24 19:42] djaglowski commented on #15365
And here: https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3314484447/jobs/5476073169

[2022-10-24 19:43] tigrannajaryan commented on #15295
Generally, here are issues that are probably blockers for full OpAMP implementation:
- https://github.com/open-telemetry/opentelemetry-collector/issues/6344
- https://github.com/open-telemetry/opentelemetry-collector/issues/6161
- https://github.com/open-telemetry/opentelemetry-collector/issues/6226

Luckily we don't have to solve all of these right now. We can still have partial OpAMP support wit

[2022-10-24 19:44] Chinwendu20 commented on #10479
Thanks a lot

[2022-10-24 19:44] amdprophet commented on #15295
@tigrannajaryan we've put our work on an OpAMP provider on hold for now. Looking forward to the changes! 👍

[2022-10-24 19:45] evan-bradley commented on #15240
The HTTP forwarder extension is probably the closest thing that exists currently, though it is unmaintained.

If you wanted to export data in the Fluent forward format in a pipeline, there would need to be a Fluent forward exporter to achieve that functionality. The reason that requests can't be simply proxied through in a pipeline is because they are deserialized from the format sent to the Colle

[2022-10-24 19:51] #378 closed

[2022-10-24 19:53] markvoll opened #15630 "New component: Intelligent span sampling with span batch filter"
### The purpose and use-cases of the new component

**Is your feature request related to a problem? Please describe.**
Currently span collection occurs until a memory limit is hit, at which point spans start being dropped. This doesn’t ensure that you are getting a diverse distribution of spans in terms of operation types. Spans that happen very frequently can drown out spans that rarely occur. So

[2022-10-24 19:53] codeboten commented on #15356
Thanks for the report @MacNale, this is currently a limitation on the Lightstep ingest side. There is work planned to address this in the near future. Closing this as it is not a bug in the otel collector.

[2022-10-24 19:53] #15356 closed

[2022-10-24 19:57] djaglowski commented on #15378
@dehaansa, @cpheps, any ideas on this one?

[2022-10-24 20:14] #8390 closed

[2022-10-24 20:35] #14606 closed

[2022-10-24 22:09] pavankrish123 commented on #15295
Thank you so much @tigrannajaryan. We can definitely help with the OpAMP support even if it is partial. Some follow up questions -

1. This is for @tigrannajaryan

Is this primarily driven through the use-cases for binary and process management?

So our most asked for use case in our organization is to remotely drive the configuration into OpenTelemetry collector and other Agents  dynamically. Bas

[2022-10-24 22:40] tigrannajaryan commented on #15295
It is currently impossible to implement remote configuration feature in a way that is reasonably robust. Any invalid configuration will result in Collector process exiting.

We need to fix https://github.com/open-telemetry/opentelemetry-collector/issues/6344 and https://github.com/open-telemetry/opentelemetry-collector/issues/6226 to make sure receiving a bad config doesn't result in the Collector

[2022-10-25 00:50] MovieStoreGuy commented on #5879
@jamesmoessis,

Is there a reason that the sub receivers need to be aware of the `RootPath` ?
Is it just to trim the prefix from any attributes that the sub receiver needs to be aware of?

The way I understood this ticket to mean is:

[code]

To make things more testable you could update the internal subconfig to:

[code]

[2022-10-25 02:59] dmitryax commented on #5879
As @MovieStoreGuy mentioned, I think `root_path` can be part of `hostmetrics` receiver, but we need to validate that all instances of hostmetrics receiver have the same `root_path` setting.

[2022-10-25 03:35] dmitryax commented on #15365
Test is skipped so the issue is not resolved yet

[2022-10-25 03:48] dmitryax commented on #15372
@mx-psi I'm curious why did you assign it to me? :)

[2022-10-25 03:49] dmitryax commented on #15372
Nvm. I see now. It's only used by all Splunk components 👍

[2022-10-25 03:50] dmitryax opened #15651 "Introduce e2e tests for kubernetes story"
## Problem statement

Kubernetes related components, especially [k8s attributes processor](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/k8sattributesprocessor) are used pretty extensively in the field. At the same time they don't have good e2e test coverage. Recently we had a significant change that introduced a few regressions. We want to make sure that su

[2022-10-25 04:08] dmitryax commented on #14759
Skipped but not resolved yet

[2022-10-25 04:30] dmitryax commented on #15651
@povilasv as we discussed, PTAL if it makes sense and if you can work on it

[2022-10-25 05:24] JaredTan95 commented on #15345
Agree with @jkowall , elasticsearch is not the proper way to store otlp/metrics

[2022-10-25 06:06] carlreid commented on #15387
An update @dineshg13. I just tried:

Edit:
[code]

Since we already use the attributes processor to enrich the resource, then we can just pull the value from there, and run the `transform/datadog` processor as part of a new `logs/datadog` pipeline.

However, although I can see my tag, all the other tags that get pulled automatically like the `kube_*` related tags, `version`, and `env` have now van

[2022-10-25 08:18] krupyansky commented on #15281
Clarification

The error occurs because https://github.com/open-telemetry/opentelemetry-go sends metrics that have 0 DataPoints

[2022-10-25 10:13] kovrus opened #15653 "[exporter/lokiexporter] Remove deprecated loki exporter configuration parameters."
### Describe the issue you're reporting

Remove deprecated in versions 0.57 and 0.59 loki exporter configuration parameters. The support of `labels.{attributes/resource}`, `labels.record`, `tenant`, and `format` configuration parameters are dropped in favor of attribute hints for configuring the exporter.

[2022-10-25 10:17] astencel-sumo opened #15654 "[docs] Add support tables for all components"
### Describe the issue you're reporting

Most of the components (exporters, extensions, processors, receivers) have a table at the top of their README files describing the stability level, supported pipeline types and distribution in which they are included. Some of them don't though. I propose that I add the tables for the components without them:

Exporters:
- https://github.com/open-telemetry/o

[2022-10-25 11:48] mar4uk commented on #14190
Tried to reproduce the issue using testfile.log and config.yaml attached. But I can't reproduce it. I don't see prefixes in loki:
<img width="1508" alt="Screenshot 2022-10-25 at 12 38 24" src="https://user-images.githubusercontent.com/2266206/197765214-fd1e8c9b-4775-4ee0-a2ba-e9a691532402.png">

Does the issue still remain?

[2022-10-25 12:31] cpheps commented on #15378
@djaglowski We've done a bit of digging and I thought it was the main [select statement](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/processor/logstransformprocessor/processor.go#L146-L159) in the `processLogs` function.

[code]

If everything is filtered out the `ltp.outputChannel` blocks forever as nothing is sent as output. I'm not sure how the core stanza loop h

[2022-10-25 15:40] dineshg13 commented on #15387
@carlreid Whats the order or `transform` & `resourcedetection` processor ? `resourcedetection` processor has to be last .

[2022-10-25 16:05] dineshg13 commented on #15387
ye. you are right. This looks like a bug in the Datadog exporter. We will patch it soon

[2022-10-25 16:16] #10292 closed

[2022-10-25 16:36] rogercoll opened #15656 "Consistent common filtering interface across receivers"
### Is your feature request related to a problem? Please describe.

The initial discussion relating to this issue was originated while defining a configuration option for the Podman receiver to exclude/include the instrumented containers based on their image. That configuration option should be as flexible as possible so we can easily add new filtering parameters in the future. So, the primary goa

[2022-10-25 18:24] TylerHelmuth commented on #14713
@bogdandrutu in this situation

[code]

can't we get away without the `Eval` function and instead do

[code]

If `Eval` is providing something that I'm missing I'd prefer to unexport `EvalFunc` so that users can't see both `Eval` and `EvalFunc` on the `Expr[K]` struct.

[2022-10-25 18:28] TylerHelmuth commented on #14713
Unxporting `ExprFunc` means functions need to create an `Expr[K]` explicitly, so it could look like

[code]

[2022-10-25 18:30] TylerHelmuth commented on #14713
Continuing to export `ExprEval` would mean function signatures could look like

[code]

[2022-10-25 18:43] TylerHelmuth commented on #14713
[code]
won't scale, so I'd opt for `ExprEval` and dropping the `Eval` function.

[2022-10-25 18:54] bogdandrutu commented on #14713
Can you summarize the proposal in one comment, hard to follow :)

[2022-10-25 18:58] TylerHelmuth commented on #14713
@bogdandrutu summarized.

[2022-10-25 19:46] jack-berg opened #15658 "[processor/cumulativetodelta] Output delta histograms include min and max when they shouldnt"
### What happened?

## Description

The cumulativetodelta processor retains the min and max from the cumulative histograms when they shouldn't. Its semantically wrong to include cumulative min and max on a resulting delta.

## Steps to Reproduce

Its quite clear in the [source code](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/processor/cumulativetodeltaprocessor/pro

[2022-10-25 20:20] nicolasgere commented on #570
no news here? We are using it in a collector way (not sidecar), we are not able to use this properly

[2022-10-25 21:35] koepalex commented on #15653
Sorry to hijack this thread, I would like to use open-telemetry collector to export to loki and it seems, that loki isn't supported out of the box anymore: `Error: failed to get config: cannot unmarshal the configuration: unknown exporters type "loki" for "loki" (valid values: [zipkin otlp otlphttp jaeger prometheus prometheusremotewrite logging file kafka opencensus])`. Is there an setting to act

[2022-10-26 00:40] jamesmoessis commented on #5879
@MovieStoreGuy @dmitryax

The ticket says:

Unless I am misunderstanding the requirements, I would expect in order for the FS scraper to achieve this it would need to know the root path.

[2022-10-26 04:24] #15345 closed

[2022-10-26 04:43] dmitryax commented on #5879
I see what you mean. I don't think it's a problem. I believe you can expose a method like `SetRootPath(string)` in each scrapers config which would be called from https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/hostmetricsreceiver/config.go . Does it make sense?

[2022-10-26 05:31] #15275 closed

[2022-10-26 05:33] dmitryax commented on #15365
Sure, it's in the issue description https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3294062311/jobs/5431429685

[2022-10-26 06:14] TylerHelmuth commented on #15658
/cc @balintzs @mistodon

[2022-10-26 06:20] TylerHelmuth commented on #15658
@dmitryax whats the best way to clear out a HistogramDataPoint's min and max? Do we need to make an empty HistogramDataPoint and copy over individual fields? Or can I add a RemoveMin/RemoveMax to pdata?

[2022-10-26 06:23] TylerHelmuth commented on #15658
@jack-berg in the meantime histogram conversion is still behind a feature gate (which will be enabled by default in 0.63.0) and can be enabled/disabled as needed.

[2022-10-26 06:50] jay-annapureddy commented on #15275
thank you @eedorenko, when will be the new release ?

https://github.com/open-telemetry/opentelemetry-collector-releases/releases

[2022-10-26 08:21] newly12 commented on #13623
this reminds me just another thing, currently scrape failure/error is logged by prometheus at debug level, the only way to understand why the scrapping failed is run collector with debug logs enabled, which is pretty inconvenient, do we have any plan to improve it, for example, be able to see the errors at error level.

[2022-10-26 08:23] newly12 commented on #13623
I've also found such ask previously for prometheus: https://github.com/prometheus/prometheus/issues/7384

[2022-10-26 08:25] mx-psi commented on #14618
This was fixed by #14619

[2022-10-26 08:25] #14618 closed

[2022-10-26 08:40] hanouard commented on #15653
hello @koepalex
you probably should use the otelcol-contrib for the linux package or otel/opentelemetry-collector-contrib for docker

[2022-10-26 10:38] mx-psi commented on #15658
If the min/max is smaller/greater than the one on the previous point then we could keep it. It would be weird for only some points in a given time series to have min/max, but it would conform to the specification and it may be useful (it would definitely be useful for the Datadog exporter for example :) ).

[2022-10-26 10:46] mx-psi commented on #15275
Releases happen every other Wednesday https://github.com/open-telemetry/opentelemetry-collector/blob/main/docs/release.md#release-schedule, there will be one today.

[2022-10-26 14:45] lalit-fgr commented on #13727
@khyatigandhi6 can you please resolve the merge conflicts
@bogdandrutu any guidance will be highly appreciated

[2022-10-26 15:14] lewis262626 opened #15667 "New component: AWS CloudWatch metrics receiver"
### The purpose and use-cases of the new component

Collect metrics from AWS Cloudwatch metrics and parse them in to OTel pmetric. Some metrics on AWS, such as Lambda memory usage etc, are  only available from CloudWatch — users may want them to be put in one platform for analysis such as Prometheus with Grafana.

### Example configuration for the component

[code]

### Telemetry data types suppor

[2022-10-26 15:22] jack-berg commented on #15658
Understood 🙂

Meaning that the change in value of min / max from one point to the next indicates that the measurement was recorded in the most recent window? I'd probably lean towards removing it in all cases for consistency / simplicity, but don't feel strongly about that.

[2022-10-26 16:11] mx-psi commented on #15658
Yes, indeed.

Thinking about it further, it would probably not affect many datapoints (since getting a new min/max on the most recent window will be rare over time), so I don't feel strongly either to be honest

[2022-10-26 16:22] TylerHelmuth commented on #14578
Final config proposed via https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/15381:

[code]

[2022-10-26 17:04] StefanKurek opened #15670 "[receiver/snmp] Indexed Attribute & Indexed Metric Datapoint Matching Improvements"
### Describe the issue you're reporting

The SNMP Receiver currently does not check if indexed based attribute or resource attribute values match up well with indexed metric values.

Indexed attribute values that obviously don't match (values might come from a SNMP response with indexes .1.1-.1.10) will currently still be attempted to match with related metrics based on configs (metric datapoint v

[2022-10-26 17:35] KevinCammarata opened #15671 "Redaction of SpanEvents"
### Is your feature request related to a problem? Please describe.

SpanEvents have the potential to leak sensitive data, particularly when exception stack traces are automatically attached.  Currently, the redaction plugin only has the ability to act upon attribute values.

### Describe the solution you'd like

I would like the ability to apply blocked value regex to span events as well.

### Des

[2022-10-26 18:02] djaglowski commented on #15670
Follow up to #15361

[2022-10-26 18:04] djaglowski opened #15673 "[receiver/snmp] Add integration test"
### Describe the issue you're reporting

This receiver does not yet have an integration test.

[2022-10-26 18:05] djaglowski commented on #15673
Followup to #15361

[2022-10-26 20:18] portertech commented on #15295
@pavankrish123 here's our initial OpAMP configuration provider POC https://github.com/sensu/sumologic-otel-collector/compare/main...feature/opamp-config-provider I'm keen to continue experimenting with both a minimal (only reporting) and fully functional OpAMP configuration provider when some of these previously mentioned changes are merged.

If it makes sense, I can strip this POC down to a minim

[2022-10-26 20:43] TylerHelmuth opened #15675 "[pkg/ottl] Add math operators to the grammar"
### Is your feature request related to a problem? Please describe.

Currently the grammar does not have a solution for combining numeric values.

### Describe the solution you'd like

Update the grammar to understand `+`, `-`, `*`, and `/`.  For now this symbols will only apply to int64 and float64, but could be made to work on other types that the grammar understands later.

### Describe alternat

[2022-10-26 21:33] disfluxly opened #15677 "[exporter/loki] New Loki Exporter format doesn't work with Grafana derived fields"
### What happened?

## Description
With the update to the new version of the Loki exporter, all additional attributes which have not been mapped to a Loki Label via "loki.attributes.labels" are added into the Log as JSON blob under the `attributes` key. Grafana is unable to derive the nested attributes as labels, which reduces usability & visibility. In previous versions of the Loki Exporter, unus

[2022-10-26 23:09] pavankrish123 commented on #15295
This is great @portertech  - Makes complete sense to me to put the minimal set of features as a starting point  and we can expand on it as we solve other gaps @tigrannajaryan pointed out.  +1 for your idea. Possibly you can put the PR collector contrib.

Another thing worth solving initially is to package providers through builder file. Do you know of any work that is happening already. To summari

[2022-10-27 01:15] MovieStoreGuy opened #15680 "[hostmetrics/fileystem] Add configuration for virtual systems"
### Is your feature request related to a problem? Please describe.

Currently, the collector explicitly drops partitions that are virtual (Don't have a physical device) which is problematic for monitoring `tmpfs` systems such as `/dev/shm` or any other virtual partitions / filesystems

### Describe the solution you'd like

Extended the configuration for the filesystem scrapper to let virtual parti

[2022-10-27 02:10] wzy531a opened #15682 "vcenter receiver has a log print content error"
### Describe the issue you're reporting

In [collect VM](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/vcenterreceiver/client.go#L121), log error print 'resource pools' like [collect resource pools](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/vcenterreceiver/client.go#L113).

[2022-10-27 05:17] jamesmoessis commented on #5879
It makes sense. I considered that method earlier but thought it might be overdoing it if I have to add `func (c *Config) SetRootPath(_ string) {}` to every scraper, even though only filesystem scraper uses root path. However if you think that's the best way, happy to do it.

[2022-10-27 05:33] sweetpotato0 opened #15683 "[[extension/bearertokenauth]] transport: authentication handshake failed: tls: first record does not look like a TLS handshake"
### Describe the issue you're reporting

Hello:
    When i use bearertokenauth authenticator, an error occur：
[code]

My config:
[code]

[2022-10-27 05:47] TylerHelmuth opened #15684 "[admin] mark-issues-as-stale.sh not grabbing enough issues"
### Describe the issue you're reporting

The new workflow to mark issues as stale worked, but I don’t think it processed enough issues since the gh command didn’t set a limit.

I think this call https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/92ad54f707a967386b764b6fdaea5a2ba4377319/.github/workflows/scripts/mark-issues-as-stale.sh#L40 needs to include a [—limit flag](https:

[2022-10-27 05:53] fatsheep9146 commented on #15683
Just for clarity, the token you use in config.yaml is 'somerandomtoken'?

[2022-10-27 06:01] sweetpotato0 commented on #15683
I use this value：somerandomtoken

[2022-10-27 06:44] neelayu commented on #15683
What is the collector version you are using?

[2022-10-27 06:48] neelayu commented on #15683
Also can you try removing `https`
[code]

[2022-10-27 07:06] sweetpotato0 commented on #15683
collector version is `0.60.1`, and same error occur

[2022-10-27 07:22] gbbr opened #15686 "processor/spanmetricsprocessor: preserve original resource and scope"
### Is your feature request related to a problem? Please describe.

The spanmetricsprocessor [does not preserve](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/75234802c667663092b85eb15b32a0aec06538dc/processor/spanmetricsprocessor/processor.go#L255-L275) the original resource and scope of [the traces](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/7

[2022-10-27 07:26] gbbr commented on #15686
Will circle back and rephrase this in a better and more descriptive name.

[2022-10-27 07:26] #15686 closed

[2022-10-27 07:40] neelayu commented on #15683
Upon closer inspection I found that the issue is not related to auth extension, but your configuration. The exporter is sending to :55691 which is also a configured as a receiver. And this receiver has no TLS enabled. So the handshake fails. You need to configure the correct exporter endpoint.

[2022-10-27 08:38] Frapschen opened #15688 "[processor/spanmetrics] getting key from cache error"
### What happened?

## Description

I get an error in my app when it sent span to a otel collector which configed a  spanmetrics processor with `defaultDimensionsCacheSize`:
[code]

I trick the error to:
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/92ad54f707a967386b764b6fdaea5a2ba4377319/processor/spanmetricsprocessor/processor.go#L335-L344

### Collector version

v0.61.

[2022-10-27 08:56] gbbr opened #15689 "New component: datadogtracemetrics"
### The purpose and use-cases of the new component

Collects pre-sampling trace stats. Users who wish to use the [probabilistic sampler](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/probabilisticsamplerprocessor) or the [tailsamplingprocessor](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/tailsamplingprocessor#tail-sa

[2022-10-27 09:20] svrnm commented on #15295
@tigrannajaryan: assuming those 3 issues would get fixed, are there any other blockers/concerns from having such an OpAMP provider added as a new component to this repo? Anything you can think of why the @open-telemetry/collector-contrib-maintainer would not accept such a contribution?

[2022-10-27 09:45] balintzs opened #15690 "[processor/metricstransform] Add support for scaling histogram metrics"
### Is your feature request related to a problem? Please describe.

We would like to convert latency histogram metrics we receive in milliseconds to seconds.

### Describe the solution you'd like

Add support for scaling histogram datapoint sums and explicit bounds in the metricstransform processor.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-10-27 10:55] gbbr opened #15693 "extension/awsproxy: stability not specified."
### Describe the issue you're reporting

Stability of [awsproxy](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/extension/awsproxy) not specified. Can we please do so? What is it?

[2022-10-27 11:14] fatsheep9146 commented on #15693
I think this is duplicate of #15654.

Should we use #15654 to track the problems? @open-telemetry/collector-contrib-approvers

[2022-10-27 11:28] perk-sumo commented on #2835
@anarwal afaik only [maintainers](https://github.com/open-telemetry/community/blob/main/community-membership.md#maintainer) can sponsor new exporters.

Information on how to become one can be found here:
https://github.com/open-telemetry/community/blob/main/community-membership.md#becoming-a-maintainer

[2022-10-27 12:08] frzifus opened #15694 "[processor/resourcedetectionprocessor] support openshift as metadata provider"
### Is your feature request related to a problem? Please describe.

I would like to be able to add [openshift infrastructure data](https://docs.openshift.com/container-platform/4.11/rest_api/config_apis/infrastructure-config-openshift-io-v1.html) to transmitted telemetry data.

### Describe the solution you'd like

Another detector:
[code]

### Describe alternatives you've considered

_No response

[2022-10-27 12:08] Chinwendu20 commented on #10479
Hello all, please I would need some help. I thought it just involved removing windows/arm64 from the exclude key in goreleaser and build-test.yml. I have tried googling the error message, but I cannot still grasp what I should actually do to bring about the support. I saw an issue on golang's github that shows go has support for window/arm64 already.I would be glad for any pointers on how to resol

[2022-10-27 12:59] ambition-consulting opened #15695 "Collector constantly breaking down"
### What happened?

**Describe the bug**
After a while the pod, on which the collector runs, stops with this error:

[code]

**Steps to reproduce**
Using opentelemetry-exporter-otlp-1.16.0.jar with grpc trace export to otel/opentelemetry-collector-contrib:0.62.1 docker image and config:

[code]

**Environment**
OS: linux docker on k8s

### Collector version

0.62.1

### Environment information

##

[2022-10-27 13:23] djaglowski commented on #14635
We can have this in addition to the max and used metrics. However, it should be disabled by default.

I think getting it from the API is better, as long as it doesn't add unreasonable load or require much additional config.

[2022-10-27 14:08] tigrannajaryan commented on #15295
@svrnm Not that I can think of, but the maintainers haven't explicitly said yes, so it is worth bringing up in the next SIG meeting to be sure.

[2022-10-27 14:20] tigrannajaryan commented on #15295
If we agree to move forward with this we need a mini design-doc to describe:
- How OpAMP client settings will be specified. Command line is fine for specifying the server endpoint but there are more options that may need to be configurable (e.g. auth headers to use, etc). A couple choices are: cram them into the command line or put them in a separate opamp.yaml config file and reference it from th

[2022-10-27 14:24] gbbr commented on #15693
I agree this is a duplicate. Let's close it, if that's ok with you.

[2022-10-27 14:24] #15693 closed

[2022-10-27 14:24] gbbr commented on #15654
I have noticed some of this myself. It would be very helpful 👍🏻 Before opening a PR, you'd have to know the actual stability levels from the authors of those components 🤞🏻

[2022-10-27 14:29] evan-bradley commented on #15684
My intent was to leave it at the default of 30 issues and run it once a week to gradually mark issues as stale to make sure nobody was hit with a ton of notifications at once, since there are roughly 500 issues eligible to be marked as stale. Issues still won't be closed for 4 months after being marked stale, so I'm also fine being more aggressive. We could turn up the issue limit, run frequency,

[2022-10-27 14:47] TylerHelmuth commented on #15684
I'd certainly put a vote towards faster processing, as many issues are super old.  But I'd like to hear all opinions.

I like the idea of extending the "add labels via comments" workflow to include component labels.  I think that would be useful for several situations.

[2022-10-27 18:12] ambition-consulting commented on #15695
Reproducible also with 0.63.0

[2022-10-27 19:09] molian6 opened #15697 "Upgrade github.com/go-redis/redis/v7 to github.com/go-redis/redis/v9"
### Is your feature request related to a problem? Please describe.

Hi to whom it may concern,

I believe nowadays, Redis 6 and Redis 7 are more commonly used. According to https://github.com/go-redis/redis#installation, we should use v8 for Redis 6, and v9 for Redis 7.

More importantly, the v9 now support map[string]interface{} command parsing [1]. This would be an important feature to have, the

[2022-10-27 19:10] #14465 closed

[2022-10-27 19:31] codeboten commented on #2835
@perk-sumo approvers and maintainers can sponsors new components https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/CONTRIBUTING.md#adding-new-components

[2022-10-27 21:33] dmitryax commented on #15651
https://github.com/open-telemetry/opentelemetry-helm-charts has some smoke tests spinning up a cluster and installing the charts, so they can be used as a starting point

[2022-10-27 22:12] portertech commented on #15295
@tigrannajaryan is there a design doc template that should be used?

[2022-10-27 23:12] tigrannajaryan commented on #15295
We don't have a template, but here is one example: https://docs.google.com/document/d/1KtH5atZQUs9Achbce6LiOaJxLbksNJenvgvyKLsJrkc/edit#

[2022-10-28 01:41] sfc-gh-aivanou opened #15699 "`experimental_match_labels` in metricstransformprocessor plugin does not work"
### What happened?

## Description
Applying `experimental_match_labels` parameter in metricstransformprocessor does not work
## Steps to Reproduce

Create metrics transform with the following configuration:

[code]

## Expected Result
I will see `some_new_metric_name`
## Actual Result
The `some_new_metric_name` does not appear, even though there is `namespace` label with value `kube-system`

### C

[2022-10-28 01:57] kago-dk commented on #14190
Using 63.0 and running the query "{example_http_status_code="500"} | json" gives me:
<img width="1717" alt="image" src="https://user-images.githubusercontent.com/49529296/198452342-cad55a88-4bec-414d-896d-5276332e7e8a.png">

[2022-10-28 02:07] sweetpotato0 commented on #15683
How disable the TLS both receiver and exporter， if i remove `https` from `endpoint: https://localhost:55691`, the same error occur

[2022-10-28 03:08] sweetpotato0 commented on #15683
I know the reson. ` bearertokenauth requires transport layer security enabled on the exporter`. tks so much

[2022-10-28 03:14] Dongqi-Guo opened #15700 "[prometheusreceiver]'le' label on histogram metric id missing or empty"
### What happened?

## Description
I have a otel collector as agent attached on my spring application which exposes '/actuator/prometheus' path to scrape, I configed prometheus receiver and I got the scrape error when collect metrics

## Steps to Reproduce

## Expected Result
export to thanos backend
## Actual Result
 "error": "'le' label on histogram metric id missing or empty"

### Collector ver

[2022-10-28 05:50] wzy531a opened #15701 "[vcenterreceiver]collects metric and still prompts x509 error when TLS.Insecure and TLS.InsecureSkipVerify is set"
### What happened?

## Description
In a local area network, a self-signed CA certificate is usually used. At this time, I want to skip the certification. Usually, TLS.Insecure and TLS.InsecureSkipVerify are set, but this seems to have no effect, and an x509-related error is still prompted when connecting to the vcenter.

When I was troubleshooting the problem, I found that in [gommomi.NewClient](h

[2022-10-28 06:05] #15683 closed

[2022-10-28 06:26] #15682 closed

[2022-10-28 07:46] wzy531a commented on #15701
I have submitted [PR](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/15704) to fix this problem.

[2022-10-28 08:10] vincentfree commented on #15345
Together with a colleague I've actually build this feature but due to what is explained in this PR by @jkowall and others we are actually in the migration to Grafana Mimir for OTLP metrics. As stated we ran into issues which are very hard to overcome and were not worth while to fix. Compared to other prometheus compatible solutions Elastic or on our case opensearch just doesn't fit the profile.

[2022-10-28 08:17] svrnm commented on #15295
Thanks, I wanted to clarify if there are any forseeable roadblockers already. Understood that this is not an "explicit yes", we will follow up on a SIG meeting eventually.

[2022-10-28 09:50] jkowall commented on #15345
@vincentfree we did the same, building rollups and other capabilities on top of Elasticsearch, and it didn't work, and we had to reverse course. It was a major mistake for us. Well, the good news is, not that it's relevant to this discussion, is that OpenSearch 2.4 (due out next week) supports Prometheus integration and PromQL. This will eventually give us a viable open-source alternative to using

[2022-10-28 10:24] ambition-consulting commented on #15695
Continuing in https://github.com/open-telemetry/opentelemetry-collector/issues/6420

[2022-10-28 11:22] sweetxiaodai commented on #14602
Any update? I just try to change a commercial certificate, it is also not working. Looks like the exporter doesn’t support https right now

[2022-10-28 11:31] willianpc commented on #14602
Hi @sweetxiaodai,

We are still working on the changes requested by the reviewer.

What do you mean by a comercial certificate and the exporter not supporting HTTPS?
I would kindly request you to provide more information on your feedback, both from a code perspective, logs/errors and Collector configuration.
Just be careful not to provide sensitive information, like the AGENT_KEY.

Once we have an

[2022-10-28 14:13] disfluxly commented on #14190
Just adding that I have put a docker-compose example that can be used to recreate the addition of the `attribute_` prefix in https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/15677#issuecomment-1293805580.

These issues may be semi-related if they both seem to be part of the logic that is used to convert OpenTelemetry attributes/resources into log entries.

[2022-10-28 17:07] illidanzen163 opened #15708 "Need event metric like span metric"
### Is your feature request related to a problem? Please describe.

I have use span metric for some time. And I found in some other platform , it provide event metric. I think it's a good idea.

### Describe the solution you'd like

Add event metric in span metric processor. Maybe just calls_total is enough, and add some event attribute to the metric.

### Describe alternatives you've considered

[2022-10-28 18:12] TylerHelmuth commented on #14713
Ended up going with a simpler approach.  opening PR shortly

[2022-10-28 18:22] sfc-gh-aivanou commented on #15699
Found interesting issue:

I have the following pipeline:

[code]

I have prometheus set up that I use to develop metrics. Prometheus adds `exported_` prefix to some of the labels at the end, which makes things very confusing. The real label is not `exported_namespace`, but `namespace` ..

[2022-10-28 18:22] #15699 closed

[2022-10-28 20:28] aanm commented on #7063
@bryan-aguilar out of curiosity, do you have an update on this?

[2022-10-28 22:55] sweetxiaodai commented on #14602
We use a certificate signed by Digicert, which is not a self-signed x509 certificate.
However, when we set the otel-collector use instana exporter, we got this error message on the console.
[code]
Same issue as same as we use self-signed certificate. We assume the golang use http to connect to the https endpoint and got this error message, not sure whether it is an issue of the instana exporter.

[2022-10-30 13:52] fatsheep9146 commented on #15700
The metrics you provides from this path maybe in the wrong format. Could you just curl you 'actuator/prometheus' and show the result here?

[2022-10-30 21:06] hriddhighosh4 commented on #4741
Recently I have been trying to implement distributed tracing. I am facing the same issue.Is there any workaround to it?

[2022-10-31 01:04] MovieStoreGuy commented on #5879
You can use some struct embedding to reduce the repeated code here if you wanted.

[2022-10-31 06:29] #1094 closed

[2022-10-31 08:38] newly12 opened #15714 "Ability to reload configs on the fly"
### Is your feature request related to a problem? Please describe.

configs could change from time to time(add, update, remove), live reload should be support instead of restarting the collector.

### Describe the solution you'd like

periodically reload configs on the disk, spawning pipelines.

### Describe alternatives you've considered

n/a

### Additional context

_No response_

[2022-10-31 10:12] leewoobin789 commented on #5854
@djaglowski i will be working on it. just telling to avoid any redundant effort.

[2022-10-31 10:45] gbbr opened #15716 "processor/resourcedetectionprocessor: add fall back method for GKE host name detection"
### Is your feature request related to a problem? Please describe.

When using [Workload Identity](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity) in GKE, the host name [resolution](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/7422ce2a06337f68a59b552b8c5a2ac125d6bae5/processor/resourcedetectionprocessor/internal/gcp/gcp.go#L74-L75) will fail, res

[2022-10-31 11:15] mx-psi commented on #15716
@dashpole We want your feedback on this. On GKE, `instance/name` seems to always return the Kubernetes node name. It would be useful to us (Datadog) if this also worked when running under Workload identity, in which case one would have to get it from either the downward API or querying the Kubernetes API server.  Is this something the gcp detector should do? If so, how should it do it?

[2022-10-31 12:15] neelayu commented on #15695
Are you compiling the binary yourself using go 1.14?

[2022-10-31 12:23] ambition-consulting commented on #403
Hey, do you have the grafana config for this available somewhere? I'm using your plugin and would like to visualize those metrcis now that I got it working.

Sweet work btw. :)

[2022-10-31 12:38] sw1136562366 opened #15717 "otlp exporter PermissionDenied"
### What happened?

## Description
1、I want to use opentelemetry skywalking-receiver and otlp-exporter report trace
2、use java to impl  [opentelemetry collector  proto](https://github.com/open-telemetry/opentelemetry-proto/blob/main/opentelemetry/proto/collector/trace/v1/trace_service.proto ) collect otel traces

`grpc:
  server:
    port: 21800
`
Registered gRPC service: opentelemetry.proto.colle

[2022-10-31 13:13] dashpole commented on #15716
Generally, I'd like the `gcp` detector to only retrieve information from gcp-specific metadata sources.

It should not query the Kubernetes API Server.  It is already possible to use the downward API today with the `env` detector to add host.name if you want.

[2022-10-31 13:49] #15717 closed

[2022-10-31 13:50] sw1136562366 commented on #15717
Java collector has other grpc auth interceptor ...

[2022-10-31 14:16] mx-psi commented on #15716
That's fair, I understand. Even if we don't do it automatically, I think it would still be helpful to at least document the limitation on Workload identity and suggest using the `env` detector on the processor's README. Does that make sense?

[2022-10-31 15:01] disfluxly commented on #14113
This is absolutely needed, especially with the change between the Legacy Exporter & the New Exporter and the way hints are now set by the Attributes Processor, whereas previously you could do dot to underscore label mapping in the Legacy Exporter.

[2022-10-31 16:35] indrekj opened #15720 "[exporter/datadogexporter] Potential memory leak in Datadog exporter"
### What happened?

We have an issue where our OpenTelemetry collector (the agent) memory usage is high.

See memory usage:
![Screenshot from 2022-10-31 18-28-03](https://user-images.githubusercontent.com/3438/199059612-262a4cf7-0261-46aa-92c0-132466ff7955.png)

When the memory usage gets high then the collector starts rejecting spans:
![Screenshot from 2022-10-31 18-29-03](https://user-images.git

[2022-10-31 18:04] Aneurysm9 commented on #15700
Second this.  We have seen this and similar errors occur when multiple metrics use the same name, i.e., a histogram and a summary both named `request_latency`.  This is invalid OpenMetrics and valid, but discouraged, Prometheus exposition.  At this time the Prometheus scrape library does not provide a mechanism to determine which format was provided by the source and thus we assume OpenMetrics as

[2022-10-31 18:20] Aneurysm9 commented on #15281
Is there an existing issue on the OTel-Go repo that can be linked here?  If not, can you create one with steps to reproduce?

[2022-10-31 18:21] krupyansky commented on #15281
Exactly

I make issue for https://github.com/open-telemetry/opentelemetry-go

https://github.com/open-telemetry/opentelemetry-go/issues/3394

[2022-10-31 22:08] dmitryax opened #15995 "[Metric builder] Add external system states to be used in metric constraints"
_Originally suggested by @djaglowski in https://github.com/open-telemetry/opentelemetry-collector/pull/6358#discussion_r1000609067_

Add ability to provide optional states of the monitored system that can be used in metric constraints like the following:

[code]

[2022-10-31 22:51] jamesmoessis commented on #5879
During my implementing, it seems there are two ways to do it:

1. Have root path in the hostmetrics receiver config, and set all the `HOST` env variables using it. Must ensure all instances of `hostmetricsreceiver` have the same `root_path`.

2. Have root path in the filesystem scraper config. Allow the user to set the environment variables themselves. No need to check for consistency because env

[2022-10-31 23:15] dmitryax commented on #5879
If it's needed only for `filesystem` scraper, I'm good with (2) as it doesn't require validation of `root_path`. @jamesmoessis can you please double check and confirm that we don't need to do any host path translations like this for other scrapers?

[2022-11-01 00:20] jamesmoessis opened #15998 "[receiver/hostmetrics] Paging scraper queries different procfs from within container"
### What happened?

## Description

The paging scraper hardcodes the file to query the swap information from. This is seen [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/eeb81351cb7763180520faa7bec5d970a5a0818e/receiver/hostmetricsreceiver/internal/scraper/pagingscraper/pagefile_linux.go#L29).

When querying from a chrooted environment (e.g. container), it does not q

[2022-11-01 00:24] Aneurysm9 commented on #13623
No, we do not presently plan to change this for the same reasons that have been discussed upstream in Prometheus.

[2022-11-01 00:33] jamesmoessis commented on #5879
@dmitryax

The `filesystem` scraper is unique because it does two coordinated calls: one to `mountinfo` to get the mountpoints, another to get the stats of those mountpoints. The mount points returned from `mountinfo` are from the host's perspective as we know. I don't believe anything like this happens for other scrapers.

I went through and verified:
- 🟢 `cpuscraper`: One call to `/proc/stat`, `

[2022-11-01 00:39] Aneurysm9 commented on #15353
[code]

Prometheus only supports cumulative, monotonic counters.  This `prometheusexporter` will attempt to convert monotonic delta counters to cumulative, but will not do so with non-monotonic counters.  If your counters are monotonic, please set `is_monotonic_counter: true` in your `statsdreceiver` config.

[2022-11-01 01:03] #15680 closed

[2022-11-01 01:20] dmitryax commented on #5879
@jamesmoessis thanks for providing the detailed summary.

I'm a bit worried about this one. I don't think that otel collector should support any configuration via env vars. I would leave `HOST_...` vars to gopsutil. Given that, I'd rather lean towards the original solution (1).

Speaking of (1)...

I don't think we need to introduce any additional env vars. The validation process should be the fol

[2022-11-01 02:14] jamesmoessis commented on #5879
Alright, that makes sense. Will go with (1) then.

[2022-11-01 09:27] gbbr commented on #15720
Hi Indrek!

Thanks for reporting this. It's quite an interesting edge-case I've never seen before. Some additional information would help in trying to reproduce this:
* A `tcpdump`
* The output of using the `fileexporter`
* Memory & CPU profile files
I realise it's asking for a lot, but otherwise it will be hard to reproduce.

[2022-11-01 09:28] gbbr commented on #15720
Additionally, for not apparent reason other than a hunch - can you try removing the `span_name_remappings` and see if that changes anything?

[2022-11-01 09:37] Frapschen opened #16000 "[servicegraphprocessor] Index out of range panic in updateDurationMetrics method"
### What happened?

## Description
Index out of range panic in updateDurationMetrics method.
## Steps to Reproduce
Startting up with servicegraphprocessor configured for a while, the collector got panic.

### Collector version

v0.63.0

### Environment information

## Environment
OS: macos 12.3.1
Compiler(if manually compiled): go 1.8

### OpenTelemetry Collector configuration

[code]

### Log out

[2022-11-01 09:37] Frapschen opened #16001 "[servicegraphprocessor] Index out of range panic in updateDurationMetrics method"
### What happened?

## Description
Index out of range panic in updateDurationMetrics method.
## Steps to Reproduce
Startting up with servicegraphprocessor configured for a while, the collector got panic.

### Collector version

v0.63.0

### Environment information

## Environment
OS: macos 12.3.1
Compiler(if manually compiled): go 1.8

### OpenTelemetry Collector configuration

[code]

### Log out

[2022-11-01 09:40] Frapschen commented on #16001
duplicate

[2022-11-01 09:40] #16001 closed

[2022-11-01 09:43] albertteoh commented on #403
@ambition-consulting you can try: https://snapshots.raintank.io/dashboard/snapshot/J1haxtp7oBF1BpgL7JBqHzZgVNxlAlWW

[2022-11-01 09:57] Frapschen opened #16002 "[servicegraphprocessor] Edge loss attributes from client-side or server-side"
### Describe the issue you're reporting

Edge attributes are set by `p.upsertDimensions()` whatever `span.kind` is client or server:
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/304196f51b12804846e24d060d0f9b9e2b6df059/processor/servicegraphprocessor/processor.go#L198-L231

it does't handle a sense that the two spans have a attribute with same name but different value, li

[2022-11-01 10:45] indrekj commented on #15720
I will start going through things one by one.

You're correct. We're building the config file using Helm and I overlooked a shared file. I've edited the original post. Only the attributes/upsert was missing.

[2022-11-01 11:39] indrekj commented on #15720
No change.

[2022-11-01 12:00] JaredTan95 commented on #16002
make sense.

[2022-11-01 12:02] indrekj commented on #15720
CPU (generated with: `go tool pprof -png "localhost:1777/debug/pprof/profile?seconds=60" > ./cpu2.png`)
[pprof.otelcol-contrib.samples.cpu.002.pb.gz](https://github.com/open-telemetry/opentelemetry-collector-contrib/files/9909521/pprof.otelcol-contrib.samples.cpu.002.pb.gz)
![cpu2](https://user-images.githubusercontent.com/3438/199227759-1512a2fb-a95f-4fd0-8819-8c81bd8e2887.png)

Memory (generated

[2022-11-01 12:25] indrekj commented on #15720
Anything specific I could look into there myself? I can currently only reproduce this easily in production environment and the tcpdump would contain sensitive information, so I'd prefer not to share it.

[2022-11-01 13:06] gbbr commented on #15720
I see. Thanks for checking. What about the output of the fileexporter? Would that also be sensitive? Would it help at all if you would send it privately instead of posting it here?

[2022-11-01 13:07] gbbr commented on #15720
I see. Thanks for checking. What about the output of the fileexporter? Would that also be sensitive? Would it help at all if you would send it privately instead of posting it here?

[2022-11-01 14:57] leewoobin789 commented on #5854
Idea:
[code]
ex) staticPrefix-myLogIndex-someNamespace
there will be no breaking changes as it is addition of optional setting.
What do you think folks? :) @djaglowski @JaredTan95

[2022-11-01 17:21] dmitryax commented on #14708
Reopened as it was seen in https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3367795815/jobs/5585640601

[2022-11-01 17:27] dashpole commented on #570
This should work now, and i'll try and provide more details.  If you use the `resourcedetection` processor, all metrics should now be associated with k8s_cluster by default (the gcp detector detects location + cluster name).

[code]

To associate it with k8s_pod, you would need to additionally add `k8s.namespace.name` and `k8s.pod.name`.  To associate it with k8s_container, you would need `k8s.con

[2022-11-01 17:46] atoulme opened #16009 "Allow k8s.container.cpu_request and k8s.container.memory_request to be exported by the SignalFx exporter"
### Is your feature request related to a problem? Please describe.

The SignalFx exporter excludes some metrics proactively. The metrics k8s.container.cpu_request and k8s.container.memory_request are currently excluded.

### Describe the solution you'd like

k8s.container.cpu_request and k8s.container.memory_request should be allowed to be exported.

### Describe alternatives you've considered

_N

[2022-11-01 19:04] dmitryax opened #16016 "[receiver/postgresql] Flaky test TestPostgreSQLIntegration/without_resource_attributes"
Flaky integration test https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3370453453/jobs/5591988496

[code]

[2022-11-01 22:05] evan-bradley commented on #16009
Closing as solved via https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/16010.

[2022-11-01 22:05] #16009 closed

[2022-11-01 22:26] evan-bradley commented on #14946
I agree, I think a function would be better for this sort of operation. In addition to keeping business logic out of the contexts I think it also provides a good pattern for doing other types of matching (regex, filtering, etc.), and makes it more explicit what is going on.

[2022-11-01 22:41] TylerHelmuth commented on #13939
@dmitryax @crobert-1 @atoulme is this receiver implemented? Is this issue ready to be closed?

[2022-11-01 22:47] dmitryax commented on #13939
It's not ready yet but the work is started so we can close the issue

[2022-11-01 22:47] #13939 closed

[2022-11-01 22:49] dmitryax commented on #15671
Hi @KevinCammarata, thanks for submitting the issue. I don't believe any of the code owners have cycles to implement this at the moment. But if you have a chance, feel free to submit a PR

[2022-11-01 22:57] #15684 closed

[2022-11-01 23:09] atoulme commented on #13939
Good to go here. I will open a separate issue with the scraper code.

[2022-11-02 02:46] perrinj3 commented on #14337
Can someone be assigned to this please? It's a significant issue for use. I can't find any workarounds

[2022-11-02 05:35] fatsheep9146 commented on #9749
@mx-psi I think the issue is ready to be closed. =D

[2022-11-02 05:42] dmitryax commented on #15697
@molian6 thanks for submitting the issue. We should migrate to the new version. I don't think code owners currently have cycles to work on this. If you have a chance, feel free to take a shot

[2022-11-02 06:11] newly12 opened #16028 "[pkg/stanza] helper.Encoding should avoid to create byte array slice every time"
### Describe the issue you're reporting

The idea is to avoid making `[]byte` every time to improve performance. In fact we had previously done benchmark against v0.52.0 and recently v0.60.0 and noticed the performance regression, give it one CPU and 40 files to be ingested, emitted logs/s reduced from ~254k/s to ~140k/s. most of cpu time is used by decoding and underlying `runtime.makeslice`.

[2022-11-02 07:19] rajumakade commented on #14878
Hi @evan-bradley,
Please find below more details
The otel collector configuration is

-----------------------------------------------------------------------------
receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
processors:
  batch:
    timeout: 30s
    send_batch_size: 10000
exporters:
  logging:
    loglevel: info
  awsemf:
    log_group_name: "log_group_name"
    lo

[2022-11-02 08:00] edenkoveshi opened #16029 "[processor/spanmetrics] Label values escaping"
### What happened?

## Description
We are using NodeJS auto instrumentation on a NodeJS application that uses PostgreSQL
The developers mistakenly wrote a query beginning with "\n" and the trace was generated with operation "pg.query:\n"
This works fine on the OpenTelemetry and Jaeger level but then the processor translates it to metrics with a label operation="pg.query:\n" and Prometheus cannot h

[2022-11-02 08:10] willianpc commented on #14602
Hi @sweetxiaodai

The fix has not yet been merged to the main branch, which is why you still see the same error.
We just pushed some requested changes into the PR and must now wait for the reviewer to take a look into it.

Once they approve the PR and the changes are merged into the main branch you should be able to use the certificate.

BR,
_ Willian

[2022-11-02 09:12] mx-psi commented on #9749
Indeed :tada: :rocket: Closing...

[2022-11-02 09:12] #9749 closed

[2022-11-02 10:02] mx-psi commented on #15689
Yes, I will be sponsoring this, but we want to make sure that this is the right choice since we would be the first vendor to have a vendor-specific processor.

[2022-11-02 11:56] spakinz commented on #7905
Currently, if we want to send our traces to OpenSearch and display them using the [Trace Analytics plugin](https://opensearch.org/docs/1.2/observability-plugin/trace/ta-dashboards/) for OpenSearch Dashboard, we need to use [OTel Collector + Data Prepper](https://opensearch.org/docs/1.2/observability-plugin/trace/get-started/). I believe data is slightly transformed by Data Prepper in order to be d

[2022-11-02 12:48] djaglowski commented on #16028
@newly12, thanks for writing this up. Are there any more details you can provide about specifically whereyou see an unnecessary allocation?

[2022-11-02 12:59] indrekj commented on #15720
That might be sensitive as well yes. I haven't tried it out to see what it exactly contains.

For the tcpdump, would `tcpdump port 443` be useful? That would only contain the requests between the collector and datadog VPC Endpoint.

Any tips on what would you look for from those files? I could try to analyze them myself but I'm not sure exactly what to look for.

[2022-11-02 13:22] djaglowski opened #16031 "[pkg/stanza/syslog] Flaky test - TestTcp"
### Describe the issue you're reporting

[code]

Possibly related to #15669

[2022-11-02 13:49] indrekj commented on #15720
What's really weird to me is that I'm unable to find who/when starts the `Concentrator`. Concentrator is part of the datadog-agent package. But I don't see anything starting it or using it in the datadogexporter. Do you know what starts it and for what it is being used?

[2022-11-02 13:59] ambition-consulting commented on #403
this looks great, but the values get hard coded on export. can I get a json with the functions being applied on the output of the spanmetricsprocessor?

[2022-11-02 14:55] austinlparker opened #16032 "[receiver/dockerstats] Dimensions not created without explicit mapping via config."
### What happened?

## Description

When enabling the docker stats receiver, metrics do not receive per-container dimensions by default. I had to add the following to get dimensions:

[code]

## Steps to Reproduce

Enable dockerstats receiver with no additional config using the opentelemetry demo app.
(Bind the Docker socket into the collector container and set user: "0:0" as well)

## Expected Re

[2022-11-02 15:13] #14608 closed

[2022-11-02 16:28] abeach-nr commented on #15231
another potential feature for this could be the metrics for each component that are emitted to the prometheus metrics for the collector. It would be useful to have this information in the metadata.yaml files.

[2022-11-02 16:30] dlvenable commented on #7905
@spakinz , When sending trace data to OpenSearch using the OTel Collector and Data Prepper, Data Prepper does perform some transformations to make the traces display correctly in the Observability plugin. It performs two sets of changes: 1. It enriches each span with overall trace data; and 2) It creates a service map which goes into a second index.

[2022-11-02 16:41] dmitryax commented on #15231
This seems like a good idea even if most of the component expose the same metrics. In order to achieve that, we need to parse the code and generate that file automatically, but this probably should wait until we switch from OpenCensus instrumentation. And this a completely different topic, @abeach-nr if you want to continue the discussion let's create an a separate issue.

[2022-11-02 17:49] dmitryax commented on #11451
Got another occurence https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3379452850/jobs/5611039833.

Looks like another module got stanza dependancy. Re-running it for now

[2022-11-02 18:05] dmitryax opened #16036 "Ability to ping code owners in PRs and discussions"
I'd be nice to be able to automatically ping code owners by adding labels in PRs and discussions, not only issues.

[2022-11-02 18:06] dmitryax commented on #16036
@evan-bradley WDYT?

[2022-11-02 18:32] evan-bradley commented on #16036
I like that idea. Code owners who are not approvers/maintainers do not get notified automatically in PRs because of how the GitHub CODEOWNERS file works, so that could simplify the process of asking for a review. Discussions could also benefit since they're like issues.

[2022-11-02 19:21] atoulme commented on #11451
The warnings seem to be related to https://github.com/mattn/go-sqlite3/issues/803

[2022-11-02 19:28] atoulme commented on #11451
@dmitryax the run you reference shows this error:
[code]

Is that correct? It doesn't seem this like this failure is related to dbstorage. What am I missing?

[2022-11-02 19:31] dmitryax commented on #11451
No, the error is the same as posted here initially
[code]

[2022-11-02 19:39] dmitryax commented on #11451
Actually you're right. I got cunfuced by the warnings. Sorry. I'll need to create another issue

[2022-11-02 19:49] dmitryax opened #16040 "[pkg/stanza] Flaky test TestRotation/NoDeletion/CopyTruncateTimestamped"
Flaky test on Windows: https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3379452850/jobs/5611039833

[code]

[2022-11-02 22:26] jamesmoessis commented on #16032
Hey @austinlparker - `container.name` should be under resource attributes. I'd be interested to see the `logging` exporter output with `loglevel: debug` to see if there are resource attributes there.

[2022-11-02 22:52] dmitryax commented on #15998
This should be also controlled by the new `root_path` option. @jamesmoessis will you have a chance to work on this issue as a follow up to https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/16026?

[2022-11-03 00:01] jamesmoessis commented on #15998
I should be able to work on it, might not be soon though. You can assign it to me and I'll get around to it.

[2022-11-03 00:11] dmitryax commented on #15998
Thanks @jamesmoessis. Assigned

[2022-11-03 01:00] atoulme opened #16043 "[receiver/oracledbreceiver] Initial implementation"
### Component(s)

receiver/oracledb

### Is your feature request related to a problem? Please describe.

Initial implementation of oracledbreceiver, after the work in #oracle

### Describe the solution you'd like

This issue captures the work of the initial implementation. It uses a scraper to access the database and query periodically.

### Describe alternatives you've considered

_No response_

[2022-11-03 01:14] twunderlich-grapl commented on #13630
I ran into a similar permission issue as well. One issue worth noting is that the official [otel collector docker container](https://hub.docker.com/r/otel/opentelemetry-collector-contrib/tags#!) is [built using `FROM scratch`](https://github.com/open-telemetry/opentelemetry-collector-releases/blob/main/distributions/otelcol-contrib/Dockerfile), which means that there's not a writable directory by

[2022-11-03 03:05] perrinj3 commented on #14337
I've done some more investigation on this. We are using a JMeter Backend Listener to output to the Influxdb receiver on the OpenTel Collector and the backend listener we are using has requestsRaw as a measurement name. This seems to be an issue for the InfluxDB receiver which appears to be expecting prometheus as a measurement name. If I hand code the measurement to be prometheus the metrics are r

[2022-11-03 03:42] Dongqi-Guo opened #16045 "[logstransform] logstransform is not in the valid processors"
### Component(s)

_No response_

### What happened?

## Description
I tried to use logstransform processor to handle log body from otel agent and then transfer to loki. I configured and started it. the console log shows it is not a valid processor
## Steps to Reproduce

## Expected Result

## Actual Result

### Collector version

v0.63

### Environment information

## Environment
OS: (e.g., "Ubunt

[2022-11-03 04:44] atingchen commented on #13630
I am glad to see a PR.

[2022-11-03 05:39] fatsheep9146 commented on #16045
seems that the logstranform is not default complied into contrib
https://github.com/open-telemetry/opentelemetry-collector-releases/blob/main/distributions/otelcol-contrib/manifest.yaml#L77-L100

is there any other processors which is able to support the function like `regex_parser `?

@djaglowski

[2022-11-03 10:36] khyatigandhi6 commented on #13727
@bogdandrutu , the ticket still has label 'Sponsor Needed'. Can you please assign the ticket to yourself or to the one who is next in the sponsor list so that the PR review process gets started.
Any guidance and help will be appreciated as I am new to this :)

[2022-11-03 11:08] gbbr commented on #15720
@indrekj it's started by `agnt.Run` in the `traces_exporter.go` file. Thanks for looking into this yourself.

To share potentially sensitive data with us, I recommend reaching out via our support. Feel free to mention my name for a faster turnaround.

[2022-11-03 13:09] austinlparker commented on #16032
@jamesmoessis I've uploaded logs to this gist: https://gist.github.com/austinlparker/934e375be652b7bf4e07ede4edbfa041

Looking at the prometheus endpoint on the collector, I only see those resource attributes in the `target_info` metric.

[2022-11-03 13:09] djaglowski commented on #14708
Here again: https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3384051562/jobs/5620655150#step:5:912

[2022-11-03 13:10] djaglowski commented on #14708
@cpheps, any ideas on this one?

[2022-11-03 14:48] indrekj commented on #15720
I'm dumb. I did a git pull against my old forked repo and that's why it didn't include that part of the code. Thanks.

I think I made some progress though. I was investigating the [Contentrator flushNow](https://github.com/DataDog/datadog-agent/blob/c110a51be2d8e17ddfec83caac986fddfff3dde3/pkg/trace/stats/concentrator.go#L196,L208) and [addNow](https://github.com/DataDog/datadog-agent/blob/c110a51

[2022-11-03 15:01] cpheps commented on #14708
@djaglowski I don't have any ideas off the top of my head. I didn't write the integration tests so I'm not as familiar with them. I can take a deeper look at some point today.

[2022-11-03 16:31] MacNale commented on #15345
https://demo.elastic.co/app/metrics/explorer?metricsExplorer=(chartOptions:(stack:!f,type:line,yAxisMode:fromZero),options:(aggregation:avg,metrics:!((aggregation:avg,color:color0,field:system.cpu.total.norm.pct),(aggregation:avg,color:color1,field:kubernetes.pod.cpu.usage.node.pct),(aggregation:avg,color:color2,field:docker.cpu.total.pct)),source:default),timerange:(from:now-1h,interval:%3E%3D10s

[2022-11-03 17:00] jkowall commented on #15345
If it's possible it doesn't mean it's a good idea. If you have a few metrics or a smaller infrastructure, then it would be fine. The queries and language (Lucene) is poor at dealing with time-series data. You will be limited by this fact alone. The bigger problem is that scaling ElasticSearch is costly, very costly. There is no notion of a roll up or handling data over time.

My company tried to b

[2022-11-03 17:07] geoffreytran opened #16058 "Crash when using fluentfowarder receiver"
### Component(s)

_No response_

### What happened?

## Description

Collector crashes every few minutes when using the fluent forwarder.

## Steps to Reproduce

Send logs fluentbit to the fluentfowarder receiver.

## Expected Result

Collector runs without crashing.

## Actual Result

Collector crashes every few minutes with the following stacktrace in the logs output.

### Collector version

0.6

[2022-11-03 17:17] #16016 closed

[2022-11-03 17:23] dineshg13 commented on #15720
Thanks @indrekj . Please us posted, would have to help to debug this further.

[2022-11-03 17:34] #14327 closed

[2022-11-03 17:52] indrekj commented on #15720
I think I figured it out: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/16062

[2022-11-03 18:28] portertech opened #16063 "[receiver/mysql] Add database resource attributes"
### Component(s)

receiver/mysql

### Is your feature request related to a problem? Please describe.

Need human-friendly identifiers of the database to be used for filtering etc.

### Describe the solution you'd like

Considering the following attributes at this time:

#### `db.cluster.name`

Name of the database cluster (configured manually by the user), it serves as a human-friendly database id

[2022-11-03 19:24] dmitryax opened #16064 "[pkg/stanza] Flaky test TestMultiCopyTruncateSlow"
See https://github.com/open-telemetry/opentelemetry-collector-contrib/actions/runs/3388250371/jobs/5630007594

[code]

[2022-11-03 20:24] TylerHelmuth commented on #15658
@dmitryax can we add a ClearMin/ClearMax to the Histogram API in pdata?

[2022-11-03 20:30] dmitryax commented on #15658
We discussed this with @bogdandrutu some time ago and decided to wait until there is a real need for ability to clear optional fields. Looks like it's the time. I'll create a separate issue where we can decide on the naming.

[2022-11-03 20:46] TylerHelmuth opened #16067 "[pkg/ottl] Support interacting with timestamps in at different precisions"
### Component(s)

pkg/ottl, processor/transform

### Is your feature request related to a problem? Please describe.

Currently, the OTTL only supports getting and setting timestamps with nanosecond precision.  While this is semantically correct with the OTLP proto, there are times when interacting at such a specific precision is unnecessary and cause un-ergonomic statements.

For example, when com