[2021-12-16 07:59] lchayoun commented on #6714
We waited for this version to test a fix done by @mx-psi

[2021-12-16 08:59] jpkrohling opened #6825 "Remove inactive members from codeowners"
@kbrockhoff and @james-bebbington are not currently participating in the project anymore, but are still listed as codeowners. Given that we use it as source of information for a couple of things, I believe they should be removed until they come back.

[2021-12-16 09:11] jpkrohling commented on #6714
Got it. Do you need a binary or a container image? For which os and platform? I can generate one for you.

We discussed this issue yesterday during the SIG meeting and @tigrannajaryan was vocal in that we shouldn't do a manual release of this. So, we have the following options if we need all assets here (as opposed to a single binary/container that I can generate for you):

- Use the builder, once

[2021-12-16 09:13] #6825 closed

[2021-12-16 09:15] jpkrohling commented on #6688
Yes, we should definitely use the same pattern there.

[2021-12-16 09:32] lchayoun commented on #6714
We are using the `otel-contrib-collector_<version>_amd64.deb` asset

So basically we just need `otel-contrib-collector_0.41.0_amd64.deb`

[2021-12-16 09:51] jpkrohling commented on #6714
Here it is, uploaded to a release on my fork: https://github.com/jpkrohling/opentelemetry-collector-contrib/releases/download/v0.41.0/otel-contrib-collector_0.41.0_amd64.deb

For those who prefer to build themselves instead of trusting someone on a GitHub issue, here are the instructions:

[code]

The package will be available under the `dist` directory.

[2021-12-16 10:05] jpkrohling commented on #6824
@Aneurysm9 @dashpole, as code owners for the receiver, are you able to answer this for the exporter as well? The exporter seems to be orphaned.

[2021-12-16 10:34] #6675 closed

[2021-12-16 10:56] jpkrohling commented on #6813
Same with s390x:

[code]

[2021-12-16 13:54] anuraaga commented on #6688
Sorry for the late chime in, I was looking for components that don't repeat the type in their folder name and think I only found a few extensions. Should we enforce repeating the type in the folder name and only use that, rather than e.g. `processor/attributesprocessor` which stutters a little?

[2021-12-16 17:56] Aneurysm9 commented on #6824
I'm not as familiar with this exporter, but I'm looking into it.  This configuration looks very similar to the [`examples/demo` configuration](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/examples/demo/otel-collector-config.yaml), which does receive metrics via OTLP and export them via Prometheus and the logging exporter.  That example appears to work, so I would exp

[2021-12-16 18:37] jpkrohling commented on #6714
I'm reopening, as this wasn't solved yet.

[2021-12-16 18:40] djaglowski opened #6828 "[receiver/postgresql] Generated "name" is inconsistent with other scrapers (nit)"
Scraper `metadata.yaml` files contain a `name` key which is used to generate a few values in various scraper files. The postgresql receiver is the only one that omits the `receiver` suffix. This should be added in order to maintain consistency across scrapers.

[2021-12-16 19:13] sethAmazon commented on #6808
This is merged and should be available in release 42

[2021-12-16 19:15] NathanielRN commented on #6808
Thanks for your work @sethAmazon ! 🙂 I think if you edit your #6821 PR Description to say "Fixes #6808" then this issue will be "linked" to that PR so people in the future can confirm that the fix has been merged/released ?

Otherwise I would agree that we are good to close this issue 👍

[2021-12-16 19:17] sethAmazon commented on #6808
@NathanielRN it is linked. I just made the commit message to large so it was wrapped into the description.

[2021-12-16 19:21] NathanielRN commented on #6808
@sethAmazon Sorry I don't mean just adding a URL link, I meant [the GitHub feature which scans the PR description for specific keywords like "Closes" and "Fixes"](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword) to "link" the issue to the PR.

It's not required since you can find the PR in the lo

[2021-12-16 19:46] BinaryFissionGames opened #6830 "[CI] `lint` step sometimes gives incorrect instructions to fix"
**Describe the bug**
When the lint step is run from `build-and-test.yml`, and `make goporto` hasn't been run (and creates a diff), the following message will be output into CI:
`Generated code is out of date, please run "make generate" and commit the changes in this PR.`

**Steps to reproduce**
Have code in a state such that `make goporto` creates a diff; Execute CI

**What did you expect to see?*

[2021-12-16 19:49] BinaryFissionGames commented on #6830
https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/6498 Is the same issue, closing this one

[2021-12-16 19:49] #6830 closed

[2021-12-16 22:03] djaglowski opened #6881 "[receiver/memcached] Units need revisiting"
Particularly, [memcached.cpu.usage](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/4fedae5d026f52dc0cbf26b2a619e7105c0eac9e/receiver/memcachedreceiver/metadata.yaml#L95) appears to be wrong. This should be a unit of time.

Most of the other units should use the `"{things}"` notation.

[2021-12-16 23:50] #6637 closed

[2021-12-17 01:45] o11ydemo opened #6883 "AttributesProcessor (or a better suited processor) to support changing span.kind"
**Is your feature request related to a problem? Please describe.**
I have a need to change some span's span.kind to another kind. As far as I can tell this isn't supported with the AttributesProcessor, SpanProcessor, etc.

**Describe the solution you'd like**
Ideally this is just another item that can be changed.

**Describe alternatives you've considered**
I've thought about forcing this change i

[2021-12-17 03:14] slernersplunk opened #6884 "Add otel collector sample in doc page"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-12-17 04:27] imrenagi commented on #6824
No error I observed from the collector. I can see the prometheus exporter started there.
[code]

If I access the prometheus endpoint on the collector, it also shows no data. Here is the result when calling the prometheus endpoint:

[code]

[2021-12-17 07:18] dmitryax opened #6886 "[receiver/memcached] Revisit metric types"
The following metrics reported as double values but exposed as int stats by memcached:
- `threads` memcached stat -> `memcached.threads` metric (Number of threads used by the memcached instance)
- `curr_items` memcached stat -> `memcached.current_items` metric (Number of items currently stored in the cache)

[2021-12-17 07:18] dmitryax commented on #6881
Submitted another issue for memcached scraper https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/6886

[2021-12-17 08:01] emilgelman commented on #5378
Thank you @mx-psi for the thorough explanation.

[2021-12-17 08:01] #5378 closed

[2021-12-17 08:03] emilgelman commented on #6129
My bad @mx-psi . Setting WithCollectPeriod does produce points, thank you for your help!

[2021-12-17 08:03] #6129 closed

[2021-12-17 09:41] jpkrohling commented on #6808
I'm closing this as the linked PR was merged. If this isn't accurate, feel free to reopen.

[2021-12-17 09:41] #6808 closed

[2021-12-17 10:08] jpkrohling commented on #6883
cc @boostchicken

[2021-12-17 10:10] jpkrohling commented on #6884
Which doc page do you mean? Won't the ones from the following page do it?

https://opentelemetry.io/docs/collector/configuration/

[2021-12-17 10:30] Roronoa-Z3r0 opened #6888 "[Receiver:elasticsearch] Support trace and [Exporter:elaticsearch] Support trace"
**Is your feature request related to a problem? Please describe.**
I found that the elasticsearch receiver only supports the reception of metrics, but does not support trace and log. Elasticsearch's exporter only supports log, but does not support trace and metrics.

**Describe the solution you'd like**
The elasticsearch receiver supports the reception of metrics and logs. The exporter of elastics

[2021-12-17 10:48] jpkrohling commented on #6888
I don't think that's the intended goal for the receiver. From what I understand, it supports scraping metrics out of an Elasticsearch instance, not metrics/logs/traces stored in Elasticsearch. But code owners should be able to confirm that.

[2021-12-17 12:22] slernersplunk commented on #6884
sorry let me be more specific- on this page- the issue file didn't link the page...
here: https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/mongodbatlasreceiver

there is an example of the receiver, but not the pipeline which should be:

service:
  pipelines:
    metrics:
      receivers: [mongodbatlas]

make sense? that is missing from:

https://github.com/open-

[2021-12-17 12:56] jpkrohling commented on #6884
While I'm a fan of providing fully functional examples, configuring the pipeline is something that should be explained somewhere else in the collector documentation.

cc @zenmoto

[2021-12-17 13:43] slernersplunk commented on #6884
fair enough- but I work with otel users every day and they stumble quickly when all info needed is not provided... how about simple narrative text:

"Ensure when configuring this receiver that the `mongodbatlas` receiver pipeline is present"

???

[2021-12-17 14:07] jpkrohling commented on #6884
@MovieStoreGuy, do you think should become a recommendation for component developers? To provide a full example with nop components?

[2021-12-17 14:11] djaglowski opened #6890 "[internal/scrapertest] Add CompareMetrics(expected, actual pdata.Metrics)"
I'm wondering if we should have `scrapertest.CompareMetrics(expected, got pdata.Metrics)` helper as well?

_Originally posted by @dmitryax in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6537#discussion_r771112944_

[2021-12-17 14:11] BinaryFissionGames commented on #6888
Yes, the (currently being developed) Elasticsearch receiver's purpose is to scrape metrics about an Elasticsearch cluster (e.g. cluster health, number of nodes, etc), not to retrieve data stored in it.

[2021-12-17 14:24] jpkrohling commented on #6888
I'm closing this issue, but if you think this should be reopened, let me know.

[2021-12-17 14:24] #6888 closed

[2021-12-17 14:34] djaglowski opened #6891 "[internal/scrapertest] Document typical usage of writing and reading expected results"
There are complementary functions for reading and writing these files in the scrapertest package. Typical dev pattern for adding a new test would be:

1. Write test as you would otherwise, to the point where you have "actual" result:
[code]

2. Use scrapertest to write a new file:
[code]

3. Review the new file to ensure it is expected result
4. Replace `WriteExpected` with `ReadExpected`, and add

[2021-12-17 14:38] djaglowski commented on #6828
Resolved by #6829

[2021-12-17 14:38] #6828 closed

[2021-12-17 16:16] abhide commented on #6429
@dmitryax I would like to work on `networkscraper` receiver.

[2021-12-17 18:38] zenmoto commented on #6884
It seems a bit redundant to explain how the collector works in every component, but as I was looking at what we do in other receivers, I came across the example [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/windowsperfcountersreceiver#scraping-at-different-frequencies), and I agree that it gives a bit more context.  @slernersplunk does #6893 satisfy yo

[2021-12-17 19:03] JonathanWamsley opened #6896 "Metadata autogenerate creates invalid name when metrics attributes has a period"
**Describe the bug**
Unable to successfully autogenerate valid metadata using the `//go:generate mdatagen --experimental-gen metadata.yaml` tag in a codegen.go file. An invalid string name is created when a metrics attributes has a period within it (i.e. attributes: [ http.method ]) in the metadata.yaml file.

**Steps to reproduce**
Add a metric with an attribute with a period in a metadata.yaml f

[2021-12-17 19:05] JonathanWamsley commented on #6896
@dmitryax I noticed this while responding to your comment on my pr https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6878#pullrequestreview-834841287

[2021-12-17 19:34] slernersplunk commented on #6884
@zenmoto yes it would... remember that the user of otelcol don't have the same experience with it as the creators- every single line of help we give will increase adoption... thanks!

[2021-12-17 21:24] morigs opened #6900 "prometheus receiver: more info about scrape error"
**Is your feature request related to a problem? Please describe.**
Currently, prometheusreceiver in case of error reports the following in the logs:
[code]
It would be awesome to have more information about what really went wrong for debugging purposes.

**Describe the solution you'd like**
Perhaps it's possible to log http request errors. For example, `socket hang up`, `timeout exceeded` or `resp

[2021-12-18 00:47] atoulme commented on #2835
That is great to hear! I'll try and stick to the approach of creating the component structure first. @jpkrohling please see here: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6903

[2021-12-19 03:59] dmitryax commented on #6896
Hi @JonathanWamsley, thank for reporting. Nice catch! Let me fix the builder

[2021-12-19 14:33] hanjm commented on #2320
I am very interesting to implement it.

[2021-12-19 15:29] mottibec commented on #6802
I implemented this internally in our distro (i called it `combined` policy). If no one is working on this already, I'd love to upstream it to this repository.

[2021-12-20 02:27] MovieStoreGuy commented on #6884
Potentially, though as you mentioned, it should be explained in further detail within the higher level collector docs.

Thinking about this a little more, we could adopt the idea of a configuration builder that would spit a partial built configuration file ready to use. Things like secrets are fine to replace manually.

[2021-12-20 02:31] MovieStoreGuy commented on #6884
I do like the idea that a developer should provide a min required configuration to be able to use said component of the collector, which could be resolved with having a set template for components so that 3am adopter doesn't need to look through the weeds to understand how to use said component.

I would say both a reasonable ways to progress forward.

[2021-12-20 05:55] MovieStoreGuy opened #6908 "Rate Limit Receiver Extension"
**Is your feature request related to a problem? Please describe.**
There is two scenarios that I would like to see some amount of rate limiting happening:

1) Running the collector in a gateway deployment style (many stateless collectors running as deployment) can be accepting 3x traffic from Service A which can impact delivery of service B sending <1x scale.

2) Running the collector as a stand a

[2021-12-20 05:57] MovieStoreGuy commented on #6908
@tigrannajaryan , @jpkrohling , @bogdandrutu ,

This is a large potential piece of work and I was wondering if it could be brought up for discussion for the next Collector SIG?

Within Atlassian, we've built an internal version of this that works for our own needs however, I am convinced that we can contribute back to an extension that could be used by all adopters of the collector.

[2021-12-20 09:17] 56KBs commented on #6796
I think this issue can be closed - I am able to run the tracing example without an issue.

The `otel-collector` is binding on the same port as the zipkin service, but this is within separate containers so does not cause a clash - It is however likely unnecessarily being exposed on an ephemeral port.

The configuration file does include the `jaeger-thrift` exporter, which has not been removed, see

[2021-12-20 10:37] jpkrohling commented on #6796
Would you mind sending in a PR to remove that exporter?

[2021-12-20 10:39] jpkrohling commented on #6802
I think it would be a good idea to have a discussion during the next SIG call, to coordinate the work around this.

[2021-12-20 10:46] jpkrohling commented on #6900
cc @Aneurysm9 @dashpole

[2021-12-20 11:01] #6896 closed

[2021-12-20 13:50] dashpole commented on #6900
See https://github.com/open-telemetry/opentelemetry-collector/issues/2364#issuecomment-785303139.  Scraping happens in the prometheus server code, and is a debug log line.  You can enable debug logging with `--log-level=DEBUG`

[2021-12-20 14:50] morigs commented on #6900
@dashpole Thank you!
It's kinda strange that error is on the debug level

[2021-12-20 14:50] #6900 closed

[2021-12-20 17:18] tigrannajaryan commented on #6908
Could rate limiter be implemented as an `auth` extension? Alternatively, perhaps it could be a processor if the processor has access to the data that is needed to make a rate limiting decision.

What do you mean by "correctly rate limited"? Are you for example looking for rate limiting traces by dropping spans from one trace?

Definitely worth discussing in the SIG.

[2021-12-20 18:00] Aneurysm9 commented on #6908
I'd second the suggestion to model rate limiting as an auth extension, that should provide the clearest path to integrating it with as many receivers as possible as early in the pipeline as possible.  I think using a processor might be insufficient as all the work of the receiver has been performed at that point, reducing the amount of work that can be avoided on rate-limited requests.

In the pas

[2021-12-20 18:52] #6689 closed

[2021-12-20 18:54] #6814 closed

[2021-12-20 20:34] Apollorion opened #6919 "otel/opentelemetry-collector-contrib:0.41.0 missing in dockerhub"
https://hub.docker.com/r/otel/opentelemetry-collector-contrib/tags
There is no 0.41.0 tag, although it's been released on this repo.

[2021-12-20 20:55] Apollorion opened #6920 "Issue with routing processor"
**Describe the bug**
Processor says exporter is not found for `default_exporters`.

**Steps to reproduce**
Create an OpenTelemetryCollector resource with the following config:
[code]

**What did you expect to see?**
Successfully created container

**What did you see instead?**
Crashlooping container

[code]

**What version did you use?**
0.40.0

**Environment**
EKS bottlerocket k8s 1.20

Also, I _

[2021-12-20 22:37] MovieStoreGuy commented on #6908
I would need to double check the interface for Auth extensions, but I thought it would be a nice addition if any `receiver` could be wrapped by it so that it is one thing that we can extract out from each of those components.

How we had done it internally is that we created a new receiver that wrapped the default otlp http receiver due. It wasn't the cleanest solution but it meant that we could t

[2021-12-21 08:26] rgl commented on #6001
Indeed, without this, the loki exporter is pretty much DOA :-(

[2021-12-21 09:03] mx-psi commented on #6919
This is a duplicate of #6714, let's continue the discussion there

[2021-12-21 09:03] #6919 closed

[2021-12-21 09:14] jpkrohling commented on #6920
I'll take a look at this.

[2021-12-21 09:20] jpkrohling opened #6924 "Reduce the probability of a conflict for changelog entries"
The issue #6689 discussed adding a new check to require changelog entries for each PR. Some contributors expressed concern that the way it is implemented is fine for the core repository, but that it might generate a lot of conflicts in the contrib repository. This issue here is to track suggestions and a possible fix for it.

cc @codeboten, @bogdandrutu, @anuraaga, @mx-psi

https://github.com/open

[2021-12-21 09:32] bkabrda opened #6925 "Released MSIs have version 0.0.1 since v0.39.0"
**Describe the bug**
It seems that since v0.39.0, the MSIs attached to the releases have version 0.0.1, see e.g. https://github.com/open-telemetry/opentelemetry-collector-contrib/releases/tag/v0.39.0 - `otel-contrib-collector-0.0.1-amd64.msi`.

**Steps to reproduce**
Go to https://github.com/open-telemetry/opentelemetry-collector-contrib/releases/tag/v0.39.0

**What did you expect to see?**
`otel-

[2021-12-21 09:32] jpkrohling commented on #6001
I added some (most? all?) of those to the record as part of #6619 (tracked in #6618). This will be available as part of v0.42.0. Do you think this is sufficient, or do you still need anything else there?

[2021-12-21 09:37] jpkrohling commented on #6925
Is it wrong only in the file name? In any case, we are moving the building of the assets to the -releases repository. The bad news is that MSI builds are not part of it yet.

@alolita, you mentioned earlier this year that you might have people available to help with that? I don't have the skills or the resources to work on MSI packages.

[2021-12-21 09:58] #5316 closed

[2021-12-21 10:03] #6881 closed

[2021-12-21 10:03] #6886 closed

[2021-12-21 12:03] bkabrda commented on #6925
Yeah, I think the problem really is just the filename.

[2021-12-21 13:15] jpkrohling opened #6927 "Flaky test - TestBallastMemory/ballast-size-100"
TestBallastMemory/ballast-size-100 is failing intermittently, like here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4594999189?check_suite_focus=true

[code]

[2021-12-21 13:23] jpkrohling commented on #6925
I'll assign this to myself to work on fixing the file name, but it's possible that we'll just not have an MSI package for 0.42.0 anymore until someone helps by adding support for it at the -releases repo.

[2021-12-21 13:30] jpkrohling commented on #6908
The auth capabilities were also a processor at first, but for security-related tasks, and I would include this one in the mix, it's better to accept/reject a request before much processing has been done. So, something that runs at the same level as authenticators would certainly make sense. I don't think an authenticator is the solution either, as there can only be one authenticator per receiver.

[2021-12-21 14:57] rgl commented on #6001
It seems it will "only" convert all of them to the tempo log message and we will not be able to index (put into a tempo label) any of them?

If so, does it make sense to have some kind of way to (only) index/label some of them? like we do with the `attributes` map?

Or maybe, promote those oltp log record to attributes by prepending the `otel.` prefix (maybe this is even reserved for otel itself)?

[2021-12-21 15:58] rgl commented on #6001
Oh, yes, sorry! I wanted to write Loki.

Aren't we doing that with `attributes` and `resource`? That is, we are choosing what to index. Why is it different than `TraceID` et all?

[2021-12-21 17:04] tigrannajaryan opened #6929 "Make log collection library ready for basic logs support"
This milestone https://github.com/open-telemetry/opentelemetry-log-collection/milestone/1 captures issues that we want to resolve in the log collection library as part of the [Basic Logs Support In Collector](https://github.com/open-telemetry/opentelemetry-collector-contrib/milestone/8) in this repo.

Resolve this issue once https://github.com/open-telemetry/opentelemetry-log-collection/milestone/

[2021-12-21 18:17] dmitryax commented on #2628
I think we can close this issue since all the attributes now added to the OTel conventions cc @tigrannajaryan @djaglowski

[2021-12-21 18:38] tigrannajaryan commented on #2628
Closing. Feel free to reopen if there is anything else to be done or create a new issue.

[2021-12-21 18:38] #2628 closed

[2021-12-21 19:37] dashpole opened #6931 "Prometheus metrics are merged when they differ by trimmable suffixes"
**Describe the bug**
The prometheus receiver is renaming metrics if they differ from another metric by a trimmable suffix, and associating them with the wrong metric metadata.

**Steps to reproduce**

With the metrics:

[code]

The `my_metric_total` metric is renamed to my_metric, and the gauge metadata is used.  This is because with the current logic, we [checked for a trimmed metric name](https:

[2021-12-21 19:57] dashpole commented on #6931
cc @gracewehner @Aneurysm9

[2021-12-21 22:16] dashpole commented on #5663
# metric relabel configs + job

## With prometheus config:

[code]

## The collector outputs:
[code]

## The prometheus server shows

From (/api/v1/targets/metadata) it the metric with the old metadata:

[code]

But in the query UI, I can see:

[code]

# metric relabel configs + instance

## With prometheus config:

[code]

## The collector outputs:
[code]

## The prometheus server shows

From (/a

[2021-12-22 01:30] MovieStoreGuy commented on #6908
If it makes it easier, I can limit the scope of the initial feature to be on receivers that accept a http / RPC instead of all receivers.

We can look resolving the issue for host / pull based receivers in a future issue if that would help?

[2021-12-22 12:19] albertteoh opened #6935 "[prometheus exporter] Metric value overflow on metrics_expiration"
**Describe the bug**
When a metric expires, the value for the metric appears to overflow the max int64 value: `9223372036854775808`.

**Steps to reproduce**
1. Start otel collector with provided config below.
2. Start HotROD example: `docker run   --rm --network="host" --env JAEGER_AGENT_HOST=localhost  --env JAEGER_AGENT_PORT=6835   -p8080-8083:8080-8083   jaegertracing/example-hotrod:latest   al

[2021-12-23 06:53] dmitryax opened #6942 "Revisit redis receiver metrics"
The following issues found with the redis receiver metrics:
- [ ] Many metrics miss unit field.
- [ ] Some metrics can be combined with an additional attribute, e.g. different metrics for memory -> one metrics + "state" attribute.
- [x] Start timestamp is inconsistent between sum and gauge metrics.
- [ ] CPU metrics reported inconsistently, only 3 of 8 redis metrics reported:
   - used_cpu_sys ->

[2021-12-23 17:54] Aneurysm9 commented on #6908
It doesn't feel like a misuse to me.  I view rate limits as an authorization rule.  Once a requestor has exceeded their quota they are no longer authorized to have further requests processed until their quota is again positive.

[2021-12-23 18:57] fabiovianadotcom opened #6944 "[exporter/datadog] add compression"
Data sent from OpenTelemetry collector is not compressed and enabling gzip compression would improve bandwidth usage.

**Describe the solution you'd like**
Similar to what was done in this PR: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/1747

[2021-12-23 23:14] MovieStoreGuy commented on #6908
I had honestly never thought about Rate Limiting like @Aneurysm9 , but yeah, that makes sense

[2021-12-24 03:02] XiaoWeiKIN commented on #4758
it's just what I need

[2021-12-24 07:05] vikrambe commented on #4758
https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/4958 -> This is already merged. Use Composite Tailsampling Policy.

[2021-12-24 09:44] mx-psi commented on #3654
We now have more detailed docs on the mapping here: https://docs.datadoghq.com/metrics/otlp. I am closing this since I was keeping this open until we documented it.

[2021-12-24 09:44] #3654 closed

[2021-12-24 09:45] mx-psi commented on #6944
Thanks for opening the issue! This is in our internal issue tracker too

[2021-12-25 19:06] grzn opened #6947 "container image for v.0.41.0 is missing on docker hub"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.

**What did you expect to see?**
A clear and concise description of what you expected to see.

**What did you see instead?**
A clear and concise description of what you saw instead.

**What version did you use?**
Version: (e.g., `v0.4.0`, `1eb551

[2021-12-26 19:24] emilgelman opened #6948 "datadogexporter is ignoring metricstransform 'update_label' action"
**Describe the bug**
After upgrading the collector to version 0.41.0, metrics exported to Datadog have wrong tag values when using the `metricstransform` processor.
We are using `add_label` to add a default value, and `update_label` to allow overrides. The override is not taken into account.

For example, when reporting the following metric using the Go SDK:
[code]
The exported metric should have

[2021-12-27 09:21] jpkrohling commented on #6947
This is a duplicate of #6714.

[2021-12-27 09:21] #6947 closed

[2021-12-27 09:30] jpkrohling commented on #6001
I understand that Loki recommends keeping the indexed labels to a minimum, with the high-cardinality ones being only "detected fields", which is what we are doing with the trace ID in the PR mentioned earlier.

I'm still not completely up to speed with how Loki works, if you think my understanding is wrong, let me know and I can get advice from a Loki expert.

[2021-12-27 09:59] jpkrohling commented on #2320
@open-telemetry/collector-contrib-approvers, do we have volunteers to sponsor this component? A sponsor is an approver that is willing to be responsible for reviewing PRs related to this component and will act as the second code owner.

[2021-12-27 10:03] jpkrohling commented on #6935
@gouthamve, is this something you can help with?

[2021-12-27 10:04] jpkrohling commented on #6948
cc @KSerrania @mx-psi @gbbr @knusbaum

[2021-12-27 10:40] jpkrohling commented on #6908
Perhaps we need `authorization` in addition to `authentication`? While we can have only one authenticator, we could have multiple authorizers.

[2021-12-27 13:55] lchayoun commented on #6944
@mx-psi Do you have any estimate for this feature?

[2021-12-27 14:39] KSerrania commented on #6948
Hi @emilgelman,

Thanks for reporting this issue!

I've tried reproducing your issue with the following setup:

<details>

<summary>main.go</summary>

[code]
</details>

<details>

<summary>go.mod</summary>

[code]

</details>

<details>

<summary>OTel collector config</summary>

[code]

</details>

but I haven't been able to, the metrics I get have the correct tag:

![image](https://user-images.g

[2021-12-27 19:12] emilgelman commented on #6948
Hi @KSerrania
Thank you for checking this.

Below is a complete example:
<details>
  <summary>main.go</summary>

[code]
</details>

<details>
  <summary>go.mod</summary>

[code]
</details>
<details>
  <summary>OTel collector config</summary>

[code]
</details>

It looks like in version `0.41.0` I'm getting `override.service` as a standalone tag.

In addition, running this with collector version `0

[2021-12-28 06:07] rabollin opened #6970 "Difference between otel/opentelemetry-collector-contrib vs otel/opentelemetry-collector"
We are using OTEL libraries for generating Traces, logs & metrics. There are two sets of docker images - one under otel/opentelemetry-collector-contrib  and the other is-   otel/opentelemetry-collector.   What is the difference between these 2, what is recommended for what scenarios?

Is this component GAed already? if not what is the timeline for GA.

[2021-12-28 10:28] albertteoh commented on #6935
Thanks @jpkrohling. I have more evidence to suggest this is a bug in `prometheusremotewrite` exporter (I've updated the issue description with this exporter name) because I ran a local prometheus server off the same pipeline but scraping the prometheus exporter's data and it looks fine:

**prometheus exporter**

Looks fine, the data is `null` after 21:04:30.

<img width="1718" alt="Screen Shot 202

[2021-12-28 11:58] KSerrania commented on #6948
Hey @emilgelman,

Thanks for the details! To get more data, would you mind setting the collector log level to debug (by adding this to the collector configuration:
[code]

in both the `v0.40.0` and `v0.41.0` test applications you made, and send us the full collector output for both (including what the logging exporter outputs, and without sensitive data)?

Thanks!

[2021-12-28 18:49] corey-cole opened #6973 "Container Insights unit mismatch"
**Describe the bug**
The CPU utilization and reservation metrics units don't match the official Container Insights units.

**Steps to reproduce**
1. Enable Container Insights on an ECS Fargate cluster
2. Launch a workload into the cluster
3. Observe the CpuReserved and CpuUtilized metrics
4. Disable Container Insights
5. Launch an OpenTelemetry sidecar using configuration from here:  https://aws-o

[2021-12-28 20:01] Aneurysm9 commented on #6935
I'm confused.  The issue title says "prometheusremotewrite", but the sample config uses the `promethus` exporter.  The `prometheusremotewrite` exporter does not have the referenced `metric_expiration` configuration option.

It looks like what is happening here is that the data flow is something like `spanmetrics->promexp->promrecv->log`.  The `prometheus` exporter is correctly expiring the metrics

[2021-12-28 23:08] Aneurysm9 commented on #6935
@albertteoh can you try building a collector from [this branch](https://github.com/Aneurysm9/opentelemetry-collector-contrib/tree/receiver/prometheus%2FstaleMarker) and let me know if the issue persists?

[2021-12-29 05:46] albertteoh commented on #6935
Ah, sorry, silly mistake on my part. I had originally titled it with `promethus` exporter, but I jumped to an incorrect conclusion in [my comment](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/6935#issuecomment-1001997775) especially given the logs are in the same export group as the `prometheusremotewrite` exporter. 🤦🏼‍♂️  I've reverted the title name change for posteri

[2021-12-30 03:31] MovieStoreGuy opened #6978 "Carbon Receiver panics after life cycle tests are completed"
**Describe the bug**
From what I understand, the Carbon receiver being tested within https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6974 doesn't not block on shutdown, meaning any error that uses host error reporter during the shutdown of the server will cause a panic outside the scope of the test.

**Steps to reproduce**
using https://github.com/open-telemetry/opentelemetr

[2021-12-30 14:00] vnmnm opened #10282 "[pkg/stanza] Convert a string value to formatted JSON"
This is not an issue. This is more of a guidance that I need.

I have a .NET Core Application that uses Serilog Compact JSON formatter for logging and emits logs in JSON format. A sample log captured from the Kubernetes pod (from the node's /var//log/pods path) looks as below. I then use the `filelog receiver` to read these pod logs within my OTEL Collector YAML file.

[code]

The value of `log` p

[2021-12-30 18:09] DiptoChakrabarty commented on #6480
@jpkrohling @rmfitzpatrick I would like to work on this.

[2021-12-30 22:40] MovieStoreGuy opened #6979 "Zookeeper receiver panic with default config"
**Describe the bug**
After testing all the receivers, using the default configuration for zookeeper, on shutdown the zookeeper receiver will panic due to a nil reference being used.

**Steps to reproduce**
Allow life cycle testing on this change https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6974

**What did you expect to see?**
The zookeeper receiver should return an error

[2021-12-31 11:25] emilgelman commented on #6948
Hi @KSerrania, sorry for the delay.
After running additional tests, I was able to narrow down the problem. The previous configuration I've provided is missing some details (I apologize for that, got confused myself), so I'll try to provide as much information as I can now.

Our issue started when we upgraded from collector version `0.36.0` to `0.41.0`. We skipped the versions in between because of

[2022-01-01 12:00] hanjm opened #6981 "`deltatorateprocessor` ignore int64 counter."
**Describe the bug**
The `detatorateprocessor` does not support int value type. always produce 0.
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/processor/deltatorateprocessor/processor.go#L77

**Steps to reproduce**
Client report a int64 counter.

**What did you expect to see?**

**What did you see instead?**

**What version did you use?**
Version:
0.41.0
**What confi

[2022-01-01 14:28] vmihailenco opened #6983 "Status of mysqlreceiver (and postgresqlreceiver)"
mysqlreceiver got intergration tests in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6916. Can it be added to internal/components/components.go? I've tried to enable it locally and everything seems to work fine. I could send a PR if that is the only problem...

Same applies to postgresqlreceiver.

[2022-01-03 09:27] jpkrohling commented on #6973
@anuraaga, could you take a look as the code owner?

[2022-01-03 09:28] #6314 closed

[2022-01-03 09:39] jpkrohling commented on #6978
@pjanotti, you are listed as the code owner for this component. Would you be able to address this?

[2022-01-03 09:42] jpkrohling commented on #6480
Go for it, @DiptoChakrabarty

[2022-01-03 09:44] jpkrohling commented on #6979
@djaglowski, as the code owner, could you please take a look at this one?

[2022-01-03 10:03] #6506 closed

[2022-01-03 10:10] jpkrohling opened #6986 "Flaky test - k8sclusterreceiver - TestFactory"
Seen here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4689582202?check_suite_focus=true

[code]

This was seen right in a commit that touched this component: https://github.com/open-telemetry/opentelemetry-collector-contrib/commit/d202af20407be117499b86939924a85fb957d6db

@secustor, as the author of that PR (#6436), would you be able to take a look and see if that cause

[2022-01-03 10:19] jpkrohling commented on #6981
cc @hossain-rayhan, as the original author of this component

[2022-01-03 10:23] jpkrohling commented on #6983
Could you take a look at the PRs that introduced them and see if they are complete/ready to be used? If the only thing missing is tying them there, go ahead. Don't forget to add it to the -releases repository as well, in the contrib distribution. Here's a similar PR there: https://github.com/open-telemetry/opentelemetry-collector-releases/pull/50

[2022-01-03 10:39] KSerrania commented on #6948
Hey @emilgelman,

Thanks for the additional context! Before investigating more, I'd like to confirm something with you. I reproduced the new setup you've sent with v0.41.0 of the collector, and the logging exporter is telling me that it receives the following metric:

[code]

Could you confirm that you are getting something similar on your side? In particular, are the `Resource labels` and `Data p

[2022-01-03 11:11] emilgelman commented on #6948
Hi @KSerrania,

I can confirm it looks identical to your output:
[code]

Here is what we think happens: since `StatsD` does not support `Resource` level attributes, the [dogstatsd exporter](go.opentelemetry.io/contrib/exporters/metric/dogstatsd) exports resource attributes as data point attributes.

When these get to the Collector, our `metrictransformer` adds a tag of `service:override` to the da

[2022-01-03 11:56] secustor commented on #6986
Yes, I will look into this.

[2022-01-03 14:12] KSerrania commented on #6948
Yes, I believe that is the case, and this explains what's been happening in this issue.

The `resource_attributes_as_tags` option is powered by the `resourcetotelemetry` OTel helper (see [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/2f11be4a8f16a8262470ea6d66ab14d406780ff6/exporter/datadogexporter/factory.go#L170-L171)).

The `resourcetotelemetry` helper adds resour

[2022-01-03 17:53] iNikem commented on #4754
Fixed by #5886

[2022-01-03 17:53] #4754 closed

[2022-01-03 18:08] pmalek-sumo commented on #3746
@maxsivkov 👋

Haven't https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5694 and https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5869 covered what you've described above?

[2022-01-03 18:25] aateeqi opened #6991 "Combine `awsemfexporter` and `awscloudwatchlogsexporter`"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently, the `awscloudwatchlogsexporter` lacks some core functionality such as automatically creating log/group stream in cloudwatch.
Based on
https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/4714
https://github.c

[2022-01-03 23:56] #5875 closed

[2022-01-04 00:14] dmitryax commented on #5875
@pmm-sumo thanks for fixing it!

[2022-01-04 02:28] anuraaga commented on #6991
I think the title is something like "Share logs pushing logic between emf and logs exporter". Combining would leave us with only one exporter component, which is not the goal

[2022-01-04 08:20] jpkrohling commented on #3537
It's being added to the contrib distribution as part of https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6002 and https://github.com/open-telemetry/opentelemetry-collector-releases/pull/50

[2022-01-04 08:49] anuraaga opened #6997 "Lint fails on CI when passing locally for import group count"
In https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4688228948?check_suite_focus=true

Lint fails with this

[code]

This is despite when I do this
[code]

it succeeds. More tediously, `make fmt` also isn't able to fix the trivial import grouping problem. Could something in lint / fmt be misconfigured to cause this situation?

[2022-01-04 10:43] xp-1000 opened #6998 "Add ip address to host metadata"
**Is your feature request related to a problem? Please describe.**
not a problem of course but it could be useful to collect the ip address as host metadata.
in my case, I write a program to manage instances in a load balancer.
to determine if a host is alive and should be in the pool, I check alerts on metrics retrieved by otel collector.
without this information I need create a mapping between i

[2022-01-04 15:02] #6981 closed

[2022-01-04 15:26] jpkrohling opened #7002 "`prometheusreceiver`: Flaky test - TestStaleNaNs"
Seen on #6630 (test run: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4701378458?check_suite_focus=true)

[code]

[2022-01-04 15:26] jpkrohling commented on #7002
cc @Aneurysm9 @dashpole

[2022-01-04 16:09] xp-1000 commented on #6998
Hello @jpkrohling if you think this issue is relevant so I can try to make the PR

[2022-01-04 16:47] atoulme opened #7005 "Add docs for filestorage"
**Is your feature request related to a problem? Please describe.**
It looks like the filestorage extension doesn't document its default settings.

There is a 1s timeout by default, and different folders depending on OS by default, from what it looks like.

**Describe the solution you'd like**
Add doc for defaults.

[2022-01-04 16:51] jpkrohling commented on #6986
Another failure:

[code]

Seen here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4704428527?check_suite_focus=true

[2022-01-04 16:58] jpkrohling commented on #3870
@djaglowski, should we add you as the owner for the storage extension, or perhaps just file storage extension?

[2022-01-04 17:18] bogdandrutu commented on #6480
@jpkrohling can you track to ensure we do the same in the core repo?

[2022-01-04 19:33] djaglowski commented on #3870
I'm happy to be code owner on filestorage. The storage interface is defined as [experimental in the core collector](https://github.com/open-telemetry/opentelemetry-collector/tree/main/extension/experimental/storage), and just duplicated here, so not sure it needs an owner really. If it does, I can take it as long as it's clear that I'm not necessarily owner on other storage extensions that may be

[2022-01-04 20:13] djaglowski commented on #6979
I've opened a PR to address the panic, but just a nit on this point - we don't want scrapers to error on start in such a scenario. It's fairly common that the monitored application is only unavailable for a short period of time, after which scraping will succeed. (e.g. collector and application processes started by host w/o concern for ordering, intermittent network issues, etc).

[2022-01-04 22:28] codeboten opened #7023 "[build] docker stats receiver test fails"
The following error occurs in `TestDefaultReceivers` in the [collector repo](https://github.com/open-telemetry/opentelemetry-collector/runs/4707910613?check_suite_focus=true):

[code]

[2022-01-04 23:18] #7005 closed

[2022-01-04 23:18] #6979 closed

[2022-01-04 23:47] dmitryax commented on #6813
I was able to reproduce it with otel builder. Will submit a PR shortly

[2022-01-05 03:41] anuraaga commented on #6997
I noticed another detail - it seems `make fmt` often actually introduces another import group when formatting, it seems to be more interested in order rather than the groups. I'm still not sure why `make lint` would pass locally in this situation though, more important to fix that, but ideally `make fmt` could do the grouping correctly too.

[2022-01-05 08:04] emilgelman commented on #6948
Thank you @KSerrania for the thorough explanation. We will raise an issue in the helper transformer.

[2022-01-05 08:04] #6948 closed

[2022-01-05 09:01] jpkrohling commented on #6480
@codeboten beat me to it, thanks!

[2022-01-05 09:14] yok789456 opened #7049 "Permanent error: failed to convert OTLP metric to line protocol"
Got error when insert spanmetric into **influx** but metric can(data from kafka).

opentelemetry-collector-contrib: v0.40.0

diagram:
`service -> opentelemetry-collector-contrib(metric, spanmetric) -> kafka -> opentelemetry-collector-contrib(consumer) -> influx`

config(from kafka to influx)
[code]

[2022-01-05 09:18] jpkrohling commented on #7023
@rmfitzpatrick, as the code owner, could you take a look?

[2022-01-05 09:31] jpkrohling commented on #7049
Is this working with other exporters?

[2022-01-05 09:33] yok789456 commented on #7049
@jpkrohling
work fine on prometheus.

[2022-01-05 09:36] jpkrohling commented on #7049
cc @jacobmarble @8none1, could you take a look at this one?

[2022-01-05 12:58] mottibec opened #7050 "[tailsamplingprocessor] Processor removes Instrumentation library"
**Describe the bug**
all traces ingested by the tail-sampling-processor have no Instrumentation library

**Steps to reproduce**
run a collector with the tail-sampling-processor

**What version did you use?**
Version: v0.40

**Additional context**
Looks like the code [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/514a904e0732a740002a28f5cf267cb6db563090/processor/tail

[2022-01-05 13:02] mapno opened #7051 "loadbalancingexporter: lazy DNS resolution at start"
**Is your feature request related to a problem? Please describe.**

Context: In the [Grafana Agent](https://github.com/grafana/agent), we're layering two collectors for load balancing traces. The first layer uses the [loadbalancing](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/loadbalancingexporter) exporter to group all spans for the same trace in the secon

[2022-01-05 15:18] jpkrohling commented on #7050
I'll take a look, but I believe this happens because we might receive spans coming from different services, which would likely have different instrumentation libraries.

[2022-01-05 15:21] jpkrohling commented on #7051
One thing I had in mind since the beginning but was just looking for a concrete user is to implement a Kubernetes/etcd resolution. This way, we would watch for events related to the target deployment and update the ring when the available replicas changed.

Do you think this would be a better solution?

[2022-01-05 17:23] jpkrohling commented on #6802
From the SIG call: we are moving forward with this. In the future, we will consider using the libraries created as part of the new transform processor to provide a consistent way to express the filter.

[2022-01-05 19:12] #6931 closed

[2022-01-05 19:27] alolita commented on #6805
Resolved. Closing issue.

[2022-01-05 19:27] #6805 closed

[2022-01-05 20:20] codeboten opened #7055 "Automate go.mod `replace` statements"
Currently the replace statements for dependencies local to this repository is done manually, it would be great to automate this, as it has caused pain in the past.

This was originally suggested in the discussion below:

@codeboten not sure if the replace statements were manually added, but would be great if the tool that updates the version for these local deps also add the replacements 🗡️

_Orig

[2022-01-05 21:02] bogdandrutu commented on #7055
@Aneurysm9 you own the `go modules` tool, can that be done automatically?

[2022-01-05 21:41] rmfitzpatrick commented on #7023
Attempted to address this in https://github.com/open-telemetry/opentelemetry-collector/pull/4643 but potentially hit diminishing returns. Opened https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/7056.

[2022-01-05 23:09] Aneurysm9 commented on #7055
There is a separate tool used by the Go API/SDK that maintains replace directives everywhere, though it currently creates replaces for all modules in all modules, regardless whether they're actually used.  So, yes, it's possible and there's a tool that can help, but it could use some improvement.

[2022-01-06 02:06] bogdandrutu opened #7063 "Try the k8s prow bot to configure per component owners with merge rights"
I think we should try for at least few months the k8s [bot](https://github.com/kubernetes/test-infra/tree/master/prow) that offers support for [OWNERS](https://github.com/kubernetes/community/blob/master/contributors/guide/owners.md).

I believe that we don't need the full functionality of the praw bot, but definitely we need the support for OWNERS files and automation to merge PRs based on OWNERS

[2022-01-06 03:41] codeboten commented on #7063
I looked briefly at praw, would be happy to try it out and see how it can help our workflows.

[2022-01-06 16:12] ransoor2 opened #7065 "[exporter/datadog] Histograms metrics are showing wrong values in Datadog"
**Describe the bug**
When reporting histograms, we see wrong values as Datadog Distributions.
In this example, we created a histogram with boundaries of `{1000, 10000, 100000}` and reported multiple times the values `{500,5000,50000}`

**What did you expect to see?**
I expected to see the same bucket values in Datadog as I see in the  collector's logging exporter:
Three series of points,  with val

[2022-01-06 16:24] #6376 closed

[2022-01-06 16:24] #6935 closed

[2022-01-06 17:31] djaglowski commented on #6804
Resolved by #6916

[2022-01-06 17:31] #6804 closed

[2022-01-06 17:34] sethAmazon commented on #2307
@pxaws is this completed?

[2022-01-06 17:35] sethAmazon commented on #2388
@alolita should we close this ticket?

[2022-01-06 17:45] sethAmazon commented on #6973
@alolita can I take up this issue?

[2022-01-06 18:06] pxaws commented on #2307
It is completed. Let's close it.

[2022-01-06 18:06] #2307 closed

[2022-01-06 18:58] #6813 closed

[2022-01-06 19:29] #4756 closed

[2022-01-06 19:46] dashpole commented on #570
If using the collector as a sidecar, i'd recommend using the plain [resourceprocessor](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/resourceprocessor) combined with the downward API to fill in container name, pod name, and namespace name.  The resourcedetection processor can take care of the rest.

[code]

Then in the pod spec:
[code]

The only issue after

[2022-01-06 20:27] alolita commented on #7055
@Aneurysm9 do you need additional help on making these improvements?

[2022-01-06 20:42] bogdandrutu commented on #7065
@mx-psi can you look into this?

[2022-01-06 20:50] bogdandrutu commented on #6924
I am fixing the CHANGELOG conflicts if that is the only thing left. If there are more conflicts is hard, especially the go[mod|sum].

[2022-01-06 20:50] Aneurysm9 commented on #7055
Probably.  I know @bryan-aguilar had expressed an interest in learning more about Go and this might be a good first project.

[2022-01-06 20:51] codeboten opened #7070 "[tests] TestStaleNaNs failing"
Failing tests, see https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4731466863?check_suite_focus=true

[code]

[2022-01-06 20:53] codeboten commented on #7070
@Aneurysm9 any chance this is related to https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/7043? I'm not sure why the tests didn't fail during the CI checks for the PR though.

[2022-01-06 21:01] chenluo1234 opened #7071 "[MetricsTransformProcessor] experimental_match_labels didn't work with update operation"
**Describe the bug**
I am trying to use `experimental_match_labels` to add a new label only to those timeseries with matched label {service: "banana"}. The config looks like the following:
[code]
However, those timeseries with label {service: "banana"} didn't get new label "tier" added.

**Steps to reproduce**
You can easily reproduce this using a unit test.
[code]

**What did you expect to see?**

[2022-01-06 21:45] tigrannajaryan commented on #7063
I don't mind trying. It may be worth listing exactly what we expect the bot to do, which subset of functionality we will use.

[2022-01-06 22:31] bogdandrutu commented on #7063
@tigrannajaryan I definitely want to be able to do have the same experience as https://github.com/kubernetes/community/blob/master/contributors/guide/owners.md#code-review-using-owners-files. We don't need to use praw jobs for our CI/CD.

[2022-01-06 22:35] Aneurysm9 commented on #7070
I don't think so.  Seems to be the same issue as https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/7002.

[2022-01-07 00:40] codeboten commented on #7070
Ah, i missed that one, thanks!

[2022-01-07 00:40] #7070 closed

[2022-01-07 03:33] buptubuntu opened #7076 "promethues receiver get unknown error when scrape a target with same metricname and different type(histogram/counter)"
**Describe the bug**
promethues receiver get unknown error when scrape a target with same metricname and different type(histogram/counter)

target exporter data as below:
[code]

**Steps to reproduce**
* start an expoter to expose data as above(http://localhost:9199/metrics)
* start otel collector to use promethues receiver to get the data from http://localhost:9199/metrics,config file as below:
[

[2022-01-07 04:00] Aneurysm9 commented on #7076
Version: 0.38.0
Not sure if it is fixed in latest version

Can you please confirm with the current HEAD or the v0.42.0 release that will happen later today/tomorrow.  There have been changes to how metric families are handled.

[2022-01-07 04:40] alolita commented on #7063
Hi @tigrannajaryan @codeboten @jpkrohling - I discussed enabling this bot for contrib component owners w Bogdan.
Are you good with us enabling this on contrib?

I'd like to setup and evaluate this tool to see if it helps improve velocity on reviews, ownership responsibilities, and help enable automated merges. I would like to see this run for a trial run for a couple of months.

[2022-01-07 07:30] anuraaga commented on #2388
Yup there aren't int histograms in OTel anymore

[2022-01-07 07:30] #2388 closed

[2022-01-07 08:52] vmihailenco commented on #6983
@jpkrohling I've tried to enable both receivers locally and everything rungs smoothly. postgresqlreceiver has only 6 metrics and half of them are not that useful, but it is still better than nothing I guess...

[2022-01-07 09:44] buptubuntu commented on #7076
Confirmed, the current HEAD also have the problem

And I checked the code, the metricBuilder cached the metricFamily by metricName, that is the root cause.

Also I am not quite sure wether it is by designed(exporter should not expose the same metric with different types) or a bug in collector!

[code]

[2022-01-07 15:11] tigrannajaryan commented on #7063
Works for me.

[2022-01-07 16:06] sethAmazon commented on #6973
I have tested using the steps above and confirmed the bug will follow up with ecs team.

[2022-01-07 16:50] JamesGuthrie opened #7080 "Add docker image for tracegen tool"
**Is your feature request related to a problem? Please describe.**

It would be greatly convenient if you could package tracegen as a docker image. I know that I can make one myself, but I don't really want to do that.

[2022-01-07 16:51] codeboten commented on #7063
Yup, happy to try it

[2022-01-07 17:18] djaglowski opened #7081 "Scrapers - Capture host and port of monitored endpoint as resource attributes"
Metric scrapers typically pull data from a known host and port. The metrics produced by a scraper would be more useful if placed in the context of the resource they describe. Therefore, scrapers should capture these values as resource attributes, when possible.

The semantic conventions define the attributes `net.host.name` and `net.host.port` [here](https://github.com/open-telemetry/opentelemetry

[2022-01-07 17:20] djaglowski commented on #7081
@Aneurysm9, @dashpole, as code owners of the `prometheusreceiver`, do you have an opinion on this?

[2022-01-07 18:38] dashpole commented on #7081
Are the `net` semantic conventions only for tracing, since they are in the trace directory?

`host.name` and `net.host.name` seem identical.  Are there other scraping receivers in the collector that we can follow?

[2022-01-07 20:26] djaglowski commented on #7081
This is a good point. I don't think we are necessarily beholden to them in the context of metrics. My assumption is that we should align across signal types wherever reasonable though.

I'm not aware of any others.

[2022-01-07 20:37] #3337 closed

[2022-01-07 20:41] aateeqi commented on #4296
Hey @robbie-unlikelyai, did you have success with the upgrade?

[2022-01-07 21:54] Aneurysm9 commented on #7081
Resource attributes should be common to all signal types, I would think, as they describe the resource that produced the signal.  I'm not sure that the [`host.name`](https://github.com/open-telemetry/opentelemetry-specification/blob/main/semantic_conventions/resource/host.yaml#L12) resource attribute is correct, since it is an address from the caller's perspective and may not relate to the hostnam

[2022-01-07 23:07] djaglowski commented on #7081
That's true, but I think it would often be correct. When it's not, I would think it's still the closest we can get to meaningfully identifying the resource from which the metrics was pulled. To speculate a bit - is this why prometheus uses the more generic term `instance`, to allow for a degree of uncertainty?

[2022-01-08 01:22] atoulme opened #7114 "[new component] Database storage"
**Is your feature request related to a problem? Please describe.**
The collector allows to use a filestorage extension that stores data to the file system in a file during execution.

We want to use a relational database for monitoring and managing state of the collector, using the paradigm of twelve factor applications, especially the [6th tenet on stateless processes](https://12factor.net/proces

[2022-01-08 12:51] vincentfree commented on #3537
In my experience it doesn't start when you use something like metrics instead of logs or traces.

I am going to contribute with a colleague to this exporter in the future since we could really use the metrics functionality with elastic search.

Could you describe what is missing so we could take a look into it and help out?
@urso

[2022-01-08 12:53] vincentfree commented on #3537
I was not aware of the exporter not being ready for prime time. One of my goals was adding metrics to the elasticsearch exporter but if more is needed I can also take a look into getting it production ready.

[2022-01-09 22:22] robbie-unlikelyai commented on #4296
@aateeqi - unfortunately the swap from `DoubleValueRecorder` to async `DoubleGaugeBuilder` is not straightforward within our codebase, and as a result I've not been able to prioritise doing this work. - sorry! However, having had a look at the latest version of the metrics API, it certainly looks like it will work. I'm happy for this and https://github.com/open-telemetry/opentelemetry-collector-co

[2022-01-09 22:22] #4296 closed

[2022-01-09 22:22] robbie-unlikelyai commented on #6342
Closing based on https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/4296#issuecomment-1008435466 - thanks @aateeqi

[2022-01-09 22:23] #6342 closed

[2022-01-10 03:33] MovieStoreGuy commented on #6908
@jpkrohling , pining you here to help get some ideas flowing :)

[2022-01-10 06:38] buptubuntu commented on #7076
@Aneurysm9 is it a bug or by design

[2022-01-10 10:11] mx-psi commented on #6924
In my experience a tool like the one mentioned here https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6093#issuecomment-973940497 works well with a lot of contributors. We would probably want to write something custom to support Markdown but it shouldn't be super complex.

[2022-01-10 13:39] jpkrohling commented on #7071
@punya, can you take a look at this one as the code owner?

[2022-01-10 13:46] jpkrohling commented on #7080
Would you like to send us a PR with a proposal?

[2022-01-10 13:48] jpkrohling commented on #7063
Me too, but don't we need a machine to host this tool? Who's going to maintain our prow instance?

[2022-01-10 13:54] sincejune commented on #6796
QQ: Is now a good timing to remove the `jaegerthrifthttpexporter`. I saw that was restored two months ago. ref: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5666

[2022-01-10 14:10] jpkrohling commented on #6796
I don't think we'll remove this exporter soon. I believe we should keep it there for legacy purposes.

[2022-01-10 14:23] jsuereth commented on #7081
They're actually used for [HTTP metrics](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/http-metrics.md#attributes) as well.

In this instance, `net.peer.ip` and `net.peer.port` are more representative of what's going on (pulling from a remote process/server).

[2022-01-10 14:25] sincejune commented on #6796
Oh, I got it. So you meant to remove the exporter in the config file. I just tried the config is working well so I think we can just close this ticket :)

[2022-01-10 14:29] jpkrohling commented on #6908
How about something like this:

[code]

[2022-01-10 14:41] jpkrohling commented on #6998
I think it's definitely useful to have this information, but I have a few comments:

1. perhaps the process that provisions the collector should set this? In the config, you could use the attributes processor to add a new attribute, and the attribute value can be an env var, which is set by the process manager (Kubernetes, wrapper script called by systemd, ...)
2. if the collector is indeed the be

[2022-01-10 15:13] jpkrohling commented on #7080
We can publish it to GitHub's container registry, which should be easier to integrate.

[2022-01-10 15:29] dashpole commented on #7081
Ah, perfect.  Then I think those conventions should apply to the prometheus receiver.

I would agree if this were a metric about the prometheus receiver itself, but i'm not sure it makes sense for metrics scraped from an application.

If the collector is doing resource detection on a metric produced by an application, I think attributes should be detected from the perspective of the application, r

[2022-01-10 17:30] jpkrohling commented on #7002
Happened again here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4764766709?check_suite_focus=true

[2022-01-10 17:37] jpkrohling opened #7118 "Flaky test - mysqlreceiver - TestMySqlIntegration"
Seen here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4716454123?check_suite_focus=true

[code]

[2022-01-10 17:37] jpkrohling commented on #7118
@djaglowski, could you take a look at this one?

[2022-01-10 17:45] hossain-rayhan commented on #6973
I believe there is slight difference between `CpuReservation` vs `CpuReserved`. Same for `CpuUtilization` vs `CpuUtilized`. This were discussed with ECS Insights team member Chi for clarification.

In the Container Insights dashboard, I believe we only show reservede and utilized metrics, and the unit should be Percentage and vCpu. Can you pull the reference with which you are matching?

[2022-01-10 18:10] bogdandrutu commented on #7063
@jpkrohling I think you are correct, @dashpole I think we may need a GCP machine for this (not sure works in a different cloud) correct? @dashpole would you be able to help us with maintain/getting a resource?

[2022-01-10 18:10] #6303 closed

[2022-01-10 19:06] dashpole commented on #7063
Prow works on any kubernetes cluster, so it isn't GCP-specific.  If we aren't using prow to run tests, I don't think we need any other integrations (log storage can integrate with gcs or azure, but I don't think we need it).  @SergeyKanzhelev might know what a process is for getting a kubernetes cluster to run prow would be.

If it is just as a brief experiment, I can spin something up for a week

[2022-01-10 19:10] jpkrohling commented on #7063
It shouldn't be hard to get a Kubernetes cluster sponsored by the CNCF. My main concerns right now are around maintaining that cluster. The engineering costs might be just too high for the benefits... Aren't there other tools that would be more suited for this, if all we are looking is to automate/customize assigning issues and PRs to folks? I think mergify had a good solution in the past, but I h

[2022-01-10 19:19] bryan-aguilar commented on #7063
Hi all, I am new to the AWS team and haven't had a chance to introduce myself in any SIG meetings yet. @alolita pointed me to this issue and I volunteered to take a look at it. I haven't had a chance to dig into it too deep yet but @jpkrohling is right and we would need a sponsored cluster.

I also had initial questions about maintainability requirements in the future. I would be happy to look int

[2022-01-10 19:25] jpkrohling commented on #7063
Would you be interested in doing some research on the topic and presenting your findings during the SIG meeting?

[2022-01-10 19:28] bryan-aguilar commented on #7063
Yup, not a problem.

[2022-01-10 19:39] alolita commented on #4716
@aateeqi can you take a look at this?

[2022-01-10 19:39] Aneurysm9 commented on #7002
I think #7123 will stop this from being flaky, though I'm open to suggestions if anyone has better ideas for how to do it.

[2022-01-10 19:40] alolita commented on #2977
@aateeqi can you take a look at this issue?

[2022-01-11 00:20] Neustradamus commented on #5009
It has been added here, time to close this PR ^^
- https://github.com/open-telemetry/opentelemetry-collector/pull/2503

[2022-01-11 00:50] quentinmit commented on #7081
If the canonical labels are `net.host` and `net.port`, how would you annotate metrics retrieved from a Unix socket? The socket path in `net.host` and no port specified?

[2022-01-11 05:49] jamesmoessis opened #7128 "[processor/spanmetrics] Inaccurate timestamps on metrics."
**Describe the bug**
The processor uses the time since it started up for the start time of all metrics, and this is not very accurate. For delta metrics it is particularly inaccurate. For example here: https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/v0.42.0/processor/spanmetricsprocessor/processor.go#L125

**What did you expect to see?**
Each metric should probably keep trac

[2022-01-11 05:49] jamesmoessis commented on #7128
I am happy to work on this in a week or two's time.

[2022-01-11 09:10] gillg commented on #4974
This problem seems have disapear with the latest otel collector contrib (v0.42.0 as today).
Not sure how, but my initial guess was once the scapper was converted to internal otel metrics instead of opencensus.

Can be closed for now :)

[2022-01-11 09:10] #4974 closed

[2022-01-11 09:15] gillg commented on #4916
@locmai can you confirm but this problem seems having disapear in recent otel collector contrib versions.
I was making an auto restart once or twice a day before but it seems not useful anymore.

[2022-01-11 09:23] locmai commented on #4916
I haven't tried the latest one since then yet, I figured out that the problem was that the ./metrics endpoint is not being called (if I called it via Prometheus or some other clients) it would drop the memory. (Just on those Windows boxes btw)
So my workarounds were:
- Either auto restart like you did
- Make the call to the endpoint probably (I set the Prometheus endpoint incorrectly which led to

[2022-01-11 12:30] mx-psi commented on #6944
@lchayoun apologies for the delay, I was on vacation :)

For most of the payloads we send, adding compression depends on us updating the internal library used for interacting with the backend. Both the internal library update and adding compression are in our roadmap, and I have written down that we have customers interested on this so that we can prioritize accordingly.

[2022-01-11 12:42] #5009 closed

[2022-01-11 13:35] khanhntd commented on #4716
Hey @alolita, will talk with @aateeqi and look at this issue with him.

[2022-01-11 15:33] #3278 closed

[2022-01-11 16:25] #6427 closed

[2022-01-11 19:32] dashpole opened #7132 "[exporter/googlecloud] Re-write exporter to remove opencensus translation and add integration testing"
**Current state**

The current googlecloud exporter converts OTLP metrics to opencensus, before sending them using the [opencensus stackdriver exporter](https://github.com/census-ecosystem/opencensus-go-exporter-stackdriver).  The exporter only has unit tests.

**Requirements**

* The exporter does not rely on opencensus libraries or APIs, except for self-observability metrics.
* The exporter is t

[2022-01-11 22:06] Aneurysm9 commented on #7076
It seems like a bug. I'll investigate.

[2022-01-11 22:26] dashpole opened #7134 "Processor: Splitting summary metrics into timeseries."
**Is your feature request related to a problem? Please describe.**

In the googlecloud exporter, we currently split a summary metric into multiple time series before sending it, since Google Cloud Monitoring does not support summaries:

* a count timeseries
* a sum timeseries
* one quantile timeseries for each quantile

An unfortunate consequence of this is that one summary data point can become a

[2022-01-11 23:10] bogdandrutu commented on #7063
@jpkrohling I am not attached to prow bot, but I think they have the best workflow, so we should have the same workflow and capabilities.

[2022-01-11 23:31] SergeyKanzhelev commented on #7063
I would be interested to see how experiment will go. It is a big disappointment that the built-in `CODEOWNERS` doesn't provide enough features to effectively represent the components maintainership.

[2022-01-11 23:58] abhide commented on #6429
@dmitryax I would like to work on filesystemscraper receiver.

[2022-01-12 00:15] anuraaga commented on #7063
FYI this GitHub-based approach looks like it could be a simple way to get the chat-ops functionality

https://github.com/jpmcb/prow-github-actions

[2022-01-12 00:20] SergeyKanzhelev commented on #7063
Do you know if it supports ONWERS file and PRs spanning across multiple components of owners files? I quickly scanned it and didn't find this support. The need for many chatops capabilities like applying labels may be solved by extending the triagers group (less spam from those comments :-))

[2022-01-12 00:27] bryan-aguilar commented on #7063
I also stumbled across this tool and no it doesn't which is one of the main drawbacks.

[2022-01-12 01:37] dmitryax commented on #6429
@abhide sounds good, thanks!

[2022-01-12 01:44] dmitryax opened #7135 "Migrate apachereceiver to the new Metrics Builder"

[2022-01-12 01:44] dmitryax opened #7136 "Migrate hostmetrics / filesystemscraper to the new Metrics Builder"
receiver/hostmetricsreceiver/internal/scraper/filesystemscraper

[2022-01-12 01:48] dmitryax commented on #7136
This is being worked on by @abhide

[2022-01-12 01:50] dmitryax opened #7137 "receiver/hostmetricsreceiver/internal/scraper/loadscraper"

[2022-01-12 01:52] dmitryax opened #7138 "Migrate hostmetrics / memoryscraper to the new Metrics Builder"
receiver/hostmetricsreceiver/internal/scraper/memoryscraper

[2022-01-12 01:54] dmitryax opened #7139 "Migrate hostmetrics / pagingscraper to the new Metrics Builder"
receiver/hostmetricsreceiver/internal/scraper/pagingscraper

[2022-01-12 01:54] dmitryax opened #7140 "Migrate hostmetrics / processesscraper to the new Metrics Builder"
receiver/hostmetricsreceiver/internal/scraper/processesscraper

[2022-01-12 01:55] dmitryax opened #7141 "receiver/hostmetricsreceiver/internal/scraper/processscraper"

[2022-01-12 01:56] dmitryax opened #7142 "Migrate kafkametricsreceiver to the new Metrics Builder"

[2022-01-12 01:58] dmitryax opened #7143 "Migrate kubeletstatsreceiver to the new Metrics Builder"

[2022-01-12 02:01] dmitryax opened #7144 "Migrate memcachedreceiver to the new Metrics Builder"

[2022-01-12 02:02] dmitryax opened #7145 "Migrate mongodbatlasreceiver to the new Metrics Builder"

[2022-01-12 02:02] dmitryax opened #7146 "Migrate mysqlreceiver to the new Metrics Builder"

[2022-01-12 02:03] dmitryax opened #7147 "Migrate nginxreceiver to the new Metrics Builder"

[2022-01-12 02:03] dmitryax opened #7148 "Migrate postgresqlreceiver to the new Metrics Builder"

[2022-01-12 03:48] buptubuntu commented on #7134
It seems the route cause is that the underlying timeseries database do not support summary and quatile metric friendly,so it is actually the exporter that should be responsible for splitting the metric, or maybe in the future the underlying timeseries storage support summary metric friendly , the exporter will just send the summary metric in one batch naturally.

For now,maybe we should first inve

[2022-01-12 05:15] MovieStoreGuy commented on #6908
I really like the structure of that configuration file, I think it works well for what as an example authorizer.

[2022-01-12 08:37] jinxin-fu opened #7150 "How to use the receiver/prometheus to collect the metric from prometheus instances"
I want to use opentelemtry to collect the metric from a prometheus instance and process , then put data to other backend.
How can I collect the data from prometheus use receiver/prometheus.
[code]

[2022-01-12 10:34] mx-psi commented on #7065
Hi @ransoor2, thanks for the code to reproduce and for your patience while I was out.

The default mode for histograms, distributions, compresses the data in a way that may cause some deviation from the true value sent. This is specially visible in small-scale examples with very few datapoints. If you have a more realistic example where the values don't make sense, please post it here.

It's on ou

[2022-01-12 13:08] albertteoh opened #7149 "[exporter/prometheusremotewrite] Collector crashes after metrics expiry"
Relates to https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/6935

**Describe the bug**
When metrics expire, opentelemetry-collector crashes.

**Steps to reproduce**
1. Start otel collector with provided config below.
2. Start HotROD example: `docker run   --rm --network="host" --env JAEGER_AGENT_HOST=localhost  --env JAEGER_AGENT_PORT=6835   -p8080-8083:8080-8083   jaegertr

[2022-01-12 13:09] #7150 closed

[2022-01-12 15:57] JamieDanielson opened #7151 "New component: Span Event Filter Processor"
**Is your feature request related to a problem? Please describe.**

While [span events](https://opentelemetry.io/docs/instrumentation/go/manual/#events) can be useful in some circumstances, other times they can be noisy or undesired. Some things like service meshes (Envoy, Istio) and auto-instrumentation (gRPC) attach a lot of span events, and there is currently no way to filter them out of traces

[2022-01-12 16:00] djaglowski commented on #7081
+1. I think this supports the original proposal of using `net.host.name` and `net.host.port`?

I would be in favor of setting `net.host.name` from [os.Hostname](https://pkg.go.dev/os#Hostname), and also capturing the socket path in an appropriately specific attribute. [Trace semantic conventions suggest](https://github.com/open-telemetry/opentelemetry-specification/blob/1dc24efb2fed4ad5b90277c8d79

[2022-01-12 16:32] aateeqi commented on #2977
@alolita At this stage, this might not be able to be done and we may have to rely on our current check.

My original idea was to use instance metadata to detect if we're running on AWS but this may not be possible since metadata is not available in fargate.

In the current state, we assume that the customer only include `eks` in their config if their running on AWS which may be a fair assumption.

[2022-01-12 17:53] dashpole commented on #7132
Notes from 10/12 collector sig:

* We should wait until dependencies are stable (1.0+) until we take an external dependency on it.
* pdata contains logs, which cannot be made stable for a long time.
* We (Google) will begin development on the re-written exporter out-of-tree, and will write integration tests against GCM apis.
* @tigrannajaryan is going to raise pdata stability at the logging sig.

[2022-01-12 17:53] dashpole commented on #7132
@codeboten can you link to the breaking change that is planned for pdata?

[2022-01-12 18:03] bryan-aguilar commented on #7063
Notes from 1/12/22 collector sig meeting:

Initial research [doc](https://docs.google.com/document/d/152Rmww_oXqf-7dz0SVLIsek1DYei6eitZOP2VIaCgWY/edit?usp=sharing)

 - Prow is powerful but looking for volunteers to maintain CI is a big ask.
 - Explore mergify deeper and perform short term test.
 - Evaluate after ~30d to see if mergify increases productivity in PR workflow.

[2022-01-12 18:37] rockb1017 commented on #2333
is it for windows event log?

[2022-01-12 18:40] djaglowski commented on #2333
Yes, and there is already an operator in otel-log-collection: https://github.com/open-telemetry/opentelemetry-log-collection/tree/main/operator/builtin/input/windows

[2022-01-12 21:59] jpkrohling commented on #6908
@MovieStoreGuy do you think you have the necessary information to get started with this? If so, we might need a change or two as part of the core before implementing the first authorizer here in the contrib, in which case, we need to get clearance from @bogdandrutu and/or @tigrannajaryan.

[2022-01-12 22:07] jpkrohling commented on #7151
Is this related to #6341 as well?

[2022-01-12 22:08] jpkrohling commented on #7151
In time: we had some discussions about this in the PR I linked earlier but it wouldn't solve the service mesh or auto-instrumentation scenarios you linked. The problem is that we'd need to remap the parent span ID when removing a span, so that the child spans won't hold references to non-existing spans, which could result in broken traces.

[2022-01-12 22:29] jefchien commented on #6997
So from what I understand, `goimports` doesn't combine the separate groups and then reorder/split them. It seems to run against each individual existing group. So, it will never decrease the number of groups that exist even if it should. There's an issue filed: https://github.com/golang/go/issues/20818

`make lint` is fine with the imports. It's `make impi` that fails. If you run `make impi` with

[2022-01-12 22:48] #7114 closed

[2022-01-12 23:29] bryan-aguilar commented on #7063
Shortly after the SIG meeting I discovered https://www.pullapprove.com/ . Another SaaS product but which is more focused on the PR assignment workflow. I believe that this provides stronger rule based functionality than mergify and should be experimented with first. I will work on a proof of concept that can be presented to the larger group for feedback/approval.

[2022-01-12 23:50] MovieStoreGuy commented on #6908
Yeah, i think I have enough of an idea on how to get started.

My thoughts on this was to do the following:
- Initial Draft Authorizer interface with an nop type within the core repo
- Update the configuration types as needed
- Add in some harness testing for future Authorizer's following the existing life cycle pattern
- Add an in memory rate limiter as the initial rate limter

In the mean time,

[2022-01-12 23:55] anuraaga commented on #6997
Thanks @jefchien - I hadn't noticed the separate `make impi` command. Since linting is linting, should `make lint` also call the imports check?

[2022-01-12 23:59] jefchien commented on #6997
I think it should. People typically expect the `make lint` command to be comprehensive. The workflows will need to be slightly adjusted though.

[2022-01-13 09:54] albertteoh commented on #7149
Sorry, I'd forgotten to include the `prometheusremotewrite` exporter in the description's config; this is fixed now.

[2022-01-13 11:09] jpkrohling commented on #7150
You can certainly point the Prometheus receiver to multiple Prometheus instances. OpenTelemetry Collector can also expose metrics with the Prometheus exporter, but I'd say that using a remote write would be advisable in this case.

cc @gouthamve

[2022-01-13 11:10] jpkrohling opened #7157 "Provide an example of extending the db storage with other drivers"
As discussed in the linked issue, we need an example demonstrating how to add other drivers to the db extension.

_Originally posted by @jpkrohling in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/7061#discussion_r783500710_

[2022-01-13 11:36] mx-psi opened #7158 "Review public API for `k8sattributesprocessor`"

[2022-01-13 13:42] vmihailenco commented on #6983
Should be fully done once https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/7079 is merged

[2022-01-13 13:42] #6983 closed

[2022-01-13 15:33] ransoor2 commented on #7065
Thank you for your response Pablo
We hope this behavior will be more stable in the future.
We're still having hard time understanding the OTLP Histograms --> Datadog Distributions
I am closing this issue

Thanks,
Ran

[2022-01-13 15:33] #7065 closed

[2022-01-13 15:35] JamieDanielson commented on #7151
That PR does have behavior desired by many (ability to drop an individual span regardless of potential "missing" spans within traces); I did allude to it here as a potential alternative if it existed... though it does not fulfill the true use case, which is to drop span events and keep the span.

[2022-01-13 16:37] pavankrish123 opened #7162 "[prometheusreceiver] Update Prometheus libraries to latest versions in prometheus receivers."
**Is your feature request related to a problem? Please describe.**

The current prometheus receiver imports a very old version of prometheus libraries ( `github.com/prometheus/prometheus v1.8.2-0.20210621150501-ff58416a0b02` )  and many important features (some features include tls configurations, https2 support) and bug fixes has gone into them ever since. We need to update to latest version  (2.

[2022-01-13 17:49] bputt-e commented on #6001
Would be helpful if we could add a http header that utilizes information from the auth extension so that we can dynamically support multi-tenants

[2022-01-13 17:56] jpkrohling commented on #6908
You'll also need to hook up the authorizers with the authenticators. You might want to do that from the configauth package. The extensios receive a component.Host where you can get a list of extensions, from which you can extract which authorizers are enabled based on the configuration. We have a similar routine for the authenticators, here:

https://github.com/open-telemetry/opentelemetry-collect

[2022-01-13 17:57] jpkrohling commented on #6001
@bputt-e, can you give a concrete example? We might have all the pieces together, I'd just need to write how to tie them all together.

[2022-01-13 18:06] bputt-e commented on #6001
Does the below info help?

We're looking to provide grafana (loki, prometheus, tempo) as an internal service for any number of teams. We're going to provide each team with their own org in grafana for separation of concerns/multi-tenancy. We WILL be bucketing all of the traces into one bucket so that we can show the ecosystem in a holistic view while limiting information in loki/prometheus to each

[2022-01-13 18:45] Aneurysm9 commented on #7162
Can be fixed by #7115.

[2022-01-13 18:52] pavankrish123 commented on #7162
Yes! Thank you!!!

[2022-01-13 19:02] bputt-e commented on #6908
It would be interesting to see a rate limiter per "tenant" defined as different subjects for authentication. Additionally, allowing rates of qps and bps (bytes per second) would be beneficial. This may be out of scope for this, but an option to limit a tenant to 10m spans / day or 100Gb / day ingested would be helpful

[Related issue](https://github.com/open-telemetry/opentelemetry-collector/issue

[2022-01-13 19:12] bputt-e commented on #4917
Related to #6079

[2022-01-13 19:22] jpkrohling commented on #7151
Thanks, I did miss the part that this is about events in the span, not the whole span.

[2022-01-13 19:45] jpkrohling commented on #6001
It does help, thank you! We have a few loose ends, but you can probably achieve what you want by using the routing processor. The transform processor should also include support for adding auth info to spans (cc @anuraaga, @bogdandrutu).

[2022-01-13 20:28] locmai commented on #4153
I'm re-opening this since my last fix was off the spec of statsd receiver, re-trying with the hope of fixing this one at the prometheusexporter end.

[2022-01-13 23:21] codeboten opened #7169 "lint job is failing"
The lint check is failing. An example can be seen [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4807121084?check_suite_focus=true#step:8:439)

The error message is the following:
[code]

[2022-01-14 00:14] vjsamuel opened #7171 "[spanmetricsprocessor] Ability to either statefully route or aggregate span metrics across collectors"
**Is your feature request related to a problem? Please describe.**
The span metrics processor along with its examples provide documentation on how we can generate RED metrics and expose it against a prometheus endpoint that can be shipped to Prometheus like systems via remote write exporter. Based on high level experiments what we have observed is that if we are doing RED metric generation at a se

[2022-01-14 06:51] jinxin-fu commented on #7150
![image](https://user-images.githubusercontent.com/52962500/149463596-380a7818-a067-48e2-8066-6a0efffc652e.png)
In my project，Because of the one-way access of the network access restriction, I  want  multiple Prometheus instances take the initiative to write the metrics data to opentelemetry collector.

[2022-01-14 06:53] anuraaga commented on #7151
@jpkrohling Thanks for pointing out, indeed we would probably add a function for this to the transform processor once the initial framework gets settled in

[2022-01-14 10:31] timberhill commented on #6920
Same issue here. This is also happening if you remove `default_exporters`, but the error then points to the top exporter in `table` (would be `otlp/dev` in this example).

[2022-01-14 10:58] timberhill commented on #6920
For reference, here is the config we are testing with two Prometheus instances, hope this helps.

[code]

Log output, including the error:
[code]

[2022-01-14 12:09] jpkrohling commented on #7171
cc @albertteoh

[2022-01-14 14:04] pellared commented on #6714
It would be good to publish the assets as we have some bug in `0.42.0` and it would be faster to check where the issue has been introduced.

[2022-01-14 14:49] xp-1000 commented on #6998
Hello @jpkrohling
thanks for your answer.

1. It is definitively a solution but the goal of this issue was to bring an automatic and easy way to achieve this.
2. sorry I was probably not clear enough in my first message. what I proposed was to bring the list of all ip addresses (except loopback which seems not relevant)
3. yes you are right, adding dimension could have undesirable side effect

do

[2022-01-14 17:20] Aneurysm9 commented on #7150
The collector does not presently have a Prometheus remote-write receiver.  Are you able to run a collector that can scrape the sources on their side of the one-way network and use OTLP push to a collector on the other side?

[2022-01-14 17:45] secustor commented on #6986
I can not reproduce the issue neither on my fork, locally or on my draft PR.  Do you still this issue?

[2022-01-14 20:07] #7169 closed

[2022-01-14 20:25] jpkrohling commented on #6714
Which bug are you experiencing? Which asset do you need specifically?

[2022-01-14 20:29] jpkrohling commented on #6998
@open-telemetry/collector-contrib-approvers, what do you think about this? I feel like this belongs to the instrumentation layer, not the collector, especially because the collector's IP typically won't be the same as the workload's, except for local agents/sidecars. Most of this can be achieved already with the attributes processor, but automatically detecting the IP address is missing, I believe

[2022-01-14 20:37] jpkrohling commented on #6986
Let's keep this open and see if it happens again.

[2022-01-14 21:17] aabmass commented on #7134
I think this proposal would also solve the batching issue https://github.com/open-telemetry/opentelemetry-collector/issues/4646. See point 4:

[2022-01-16 00:20] albertteoh commented on #7171
Thanks @vjsamuel, yes, this is definitely something that's been on my mind for a while.

I actually think this is worth exploring and having a discussion over; the main advantage being its simplicity in implementation and configuration (it could just be a simple "addHostAttribute/Dimension" boolean config). As you rightly point out, it does come at a cost of multiplying the number of metrics by N

[2022-01-17 00:19] chenzhihao commented on #7128
Can I ask for clarification for a delta temporality timestamps case?

1. Let's say the processor emits two metrics `mts_a` and `mts_b` at the time point`t0`. The `StartTimeUnixNano` and `TimeUnixNano` time range for both of them is `(processor_start_time, t0]`.
2. The processor emits `mts_b` at `t1`, `(t0, t1]` is the time range.
3. The processor emits `mts_a` at `t2`. Should its time range be  `(

[2022-01-17 01:38] jinxin-fu opened #7180 "How to use simple_prometheus receiver"
the otel configured as follow:
[code]
Error: cannot load configuration: unknown receivers type "prometheus_simple" for prometheus_simple
2022/01/17 01:27:33 collector server run finished with error: cannot load configuration: unknown receivers type "prometheus_simple" for prometheus_simple

How to use the receiver in opentelemetry-collector-contrib such as prometheus_simple

[2022-01-17 02:04] jinxin-fu commented on #7150
I find the prometheus_simple receiver in  opentelemetry-collector-contrib repository , which can scrape metrics data from prometheus server. Can this receiver be used in my project.

[2022-01-17 02:11] buptubuntu commented on #7076
Any progress?maybe I can help

[2022-01-17 02:53] anuraaga commented on #7063
Thanks for looking into this everyone. Just wondering if we could start by listing out the features that we want? I see the table in the attached doc but it's still not quite clear what the actual features needed are - I guess it's just having a list of reviewers that get auto assigned, and detect comments with `/` commands, check the originator against that list, and execute them, but just a gues

[2022-01-17 03:42] MovieStoreGuy commented on #6908
@bputt-e , this is 100% something that Atlassian would need as well since some services need higher levels of throughput compared to one that interacts with Slack as an example.

I would like spar on this on a seperate PR once we've got approval to go ahead with a trivial implementation of the rate limit authorizer.

[2022-01-17 04:06] dmitryax opened #7181 "Flaky test - jaegerreceiver - TestJaegerAgentUDP_ThriftBinary"
https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4824866102

[2022-01-17 07:24] dmitryax opened #7183 "Running golangci-lint on ./cmd/configschema takes up to 10 minutes in `make golint`"
Running `make -C ./cmd/configschema lint` in `build-and-lint / lint` GH Actions job usually takes 8-10 minutes . Sometimes golangci-lint goes above 10 minutes limit causing CI job to fail. Failed jobs examples:
- https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4808267691
- https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4808122709
- https://github.com/

[2022-01-17 11:49] pellared opened #7184 "Misleading source of the 0.42.0 container image"
I have list quite a lot of time to understand why executing `make docker-otelcontribcol` created something different than I got when pulling `otel/opentelemetry-collector-contrib:0.42.0`.

I find it misleading that the `Dockerfile` and Make targets still exist in this repo while it looks like starting from `0.42.0` the artifacts are released via https://github.com/open-telemetry/opentelemetry-coll

[2022-01-17 11:50] pellared commented on #6714
@jpkrohling

@Kielek found what caused the issue. We were relying on the `config.yaml` path used in the container image entry-point which changed from `/etc/otelcol/config.yaml` to `/etc/otelcol-contrib/config.yaml`.  I have created an issue here https://github.com/open-telemetry/opentelemetry-collector-releases/issues/59

I have also lost a lot of time not understanding why executing `make docker

[2022-01-17 12:11] jpkrohling commented on #7184
Thank you for pointing this out. We are still in process of removing the parts that are not necessary anymore in contrib after we started creating the distribution as part of the -releases repository. Would you be interested in helping us by removing the mentioned resources, as well as improving our documentation?

[2022-01-17 12:13] jpkrohling commented on #6714
I'm closing this, as we are likely not going to publish 0.41.0 given that 0.42.0 was successfully published. If you feel differently, let me know and I'll reopen this.

[2022-01-17 12:13] #6714 closed

[2022-01-17 12:21] pellared commented on #7184
Sorry, but I have no time to work on it. However, thank you for asking.

[2022-01-17 12:43] jpkrohling commented on #6920
I haven't forgotten about this, hopefully I'll be able to get to it this week.

[2022-01-17 13:21] jpkrohling commented on #7171
Indeed, and for that purpose, we have the load balancing exporter, which routes spans to backing instances based on their trace IDs: https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/loadbalancingexporter#trace-id-aware-load-balancing-exporter

[2022-01-17 16:59] djaglowski commented on #7118
Reopening, as this was seen again [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4843283814?check_suite_focus=true#step:7:629)

[2022-01-17 20:47] #7162 closed

[2022-01-17 23:38] dmitryax commented on #6318
Another case: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4847009995?check_suite_focus=true

[2022-01-18 00:56] cpheps opened #7238 "Makefile.Common contains no rule for "checkdoc""
**Describe the bug**
When running `make common` from [Makefile.common](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/Makefile.Common#L40-L41) there is a rule called `checkdoc` though this rule does not exist in the `Makefile.Common` but rather in root [Makefile](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/Makefile#L274-L276). I'm not su

[2022-01-18 11:43] gouthamve commented on #7180
Hi, what version and docker image for the collector are you using? `prometheus_simple` exists in otecolcontrib and not the main otel collector. Do you see it when using this image? `otel/opentelemetry-collector-contrib:0.42.0`

[2022-01-18 12:00] gouthamve commented on #6824
Hi, I am trying to reproduce this and I cannot. I've added an otlp exporter and am sending data to both otlp and Prometheus and I'm seeing the metrics in the Prometheus exporter.

I'm using `v0.42.0`. Can you share which version you're running and what the metrics you're ingesting look like?

[2022-01-18 13:35] cpheps opened #7241 "New Component: RabbitMQ Metric Receiver"
## The purpose and use-cases of the new component
The RabbitMQ Metric Receiver would pull KPI stats from a node with the [RabbitMQ Management Plugin API](https://www.rabbitmq.com/management.html). It will generate metrics on queue messages (delivered, published, etc.).

Targeting version 3.8 and 3.9 of RabbitMQ as they are the [currently supported](https://www.rabbitmq.com/versions.html) versions

[2022-01-18 13:36] cpheps commented on #7241
Created per request of @mx-psi for PR #7239

[2022-01-18 14:06] jpkrohling opened #7242 "Use Jaeger gRPC instead of Thrift in the example"
The tracing example is currently using Jaeger Thrift, which is not encouraged. The main Jaeger exporter should be used, with gRPC instead.

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/examples/tracing/otel-collector-config.yml

[2022-01-18 14:13] jpkrohling commented on #6318
cc  @ydrozhdzhal @asukhyy @khospodarysko @architjugran

[2022-01-18 16:13] #7118 closed

[2022-01-18 18:39] #7242 closed

[2022-01-18 19:53] bogdandrutu commented on #7063
@anuraaga we discussed this in the SIG meeting. Essentially we want the features that OWENRS in k8s gives https://github.com/kubernetes/community/blob/master/contributors/guide/owners.md. Here is a nice description of the workflow https://github.com/kubernetes/community/blob/master/contributors/guide/owners.md#the-code-review-process

[2022-01-18 20:18] djaglowski commented on #7241
I am willing to sponsor this.

[2022-01-19 00:20] Tenaria opened #7250 "[processor/spanmetrics] Possibility to acces index out of range and crash"
**Describe the bug**
It is possible for the span metrics processor to access an index out of range hence causing the collector to crash.

The bug occurs on [this line](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/v0.42.0/processor/spanmetricsprocessor/processor.go#L385) and can happen as the `latencyInMilliseconds` value is searched for in the slice p.latencyBounds. Howev

[2022-01-19 00:39] codeboten opened #7251 "Flaky test: Trace10kSPS/Zipkin"
[code]

See here for full log:
https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4858352423?check_suite_focus=true

Original comment below:

I am aware that load-tests are failing for my PR, but when I look at the failures, it appears that the Trace10kSPS/Zipkin test is failing.  I don't see how this failure is connected to the code that I added.  Could it be a flaky test?

_O

[2022-01-19 02:31] imrenagi commented on #6824
@gouthamve `v0.42.0` is the version of opentelemetry-collector, right?

Im currently using `otel/opentelemetry-collector:0.38.0` docker image.

Im not sure about how the metrics look like. What I know is that Im using otlp receiver and export it to new relic otlp exporter and prometheus exporter. I can see the RED metrics on newrelic, but not able to see it on prometheus exporter. is there somethi

[2022-01-19 11:25] Ashmita152 commented on #2838
Hello everyone,
We're facing the same issue, were you able to find any workaround for this problem ?

[2022-01-19 14:15] jpkrohling commented on #7250
cc @albertteoh

[2022-01-19 16:11] djaglowski opened #7277 "[receiver/zookeeper] Revisit metrics"
Similar to #6942

The following issues found with the zookeeper receiver metrics:
- [ ] Some metrics have incorrect units.
- [ ] Some metrics should be combined with an additional attribute.

[2022-01-19 16:25] cpheps commented on #7277
@djaglowski I'll volunteer to create a PR with changes to address this.

[2022-01-19 19:52] gavindoudou commented on #6973
When using ECS container insights, I checked `CPU Utilization` and `Memory Utilization` metrics, the unit for them is `Percent`. It matches when using the sidecar solution: the doc here https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/awsecscontainermetricsreceiver:  `ecs.task.cpu.utilized | container.cpu.utilized | Percent`. Can you be more specific about what

[2022-01-19 20:12] Aneurysm9 commented on #7076
We discussed this in the OTel/Prometheus working group and this presents some complications.  Using the same metric name for different types is permissible, but discouraged, in the legacy prometheus text format, but it is not permissible in the OpenMetrics exposition format.  It's not currently clear to me whether we have a good way of handling this differently for the different exposition formats

[2022-01-19 20:21] gavindoudou commented on #6973
Talked with Seth, are trying to reproduce the sidecar solution.

[2022-01-19 22:06] anna-tran opened #7285 "Prometheus COUNTER metric exported as Gauge and Sum data types"
**Describe the bug**
I'm trying to scrape Prometheus metrics from Cortex and exporting to CloudWatch via the OTEL Collector.
According to the [proposed specification](https://github.com/open-telemetry/opentelemetry-specification/pull/2266/commits/b27b024048135bdeece32a632ef2387965b2436a) for Prometheus to OTEL data type conversion, Prometheus Counter becomes an OTLP Sum.

However that Counter metr

[2022-01-19 22:07] anna-tran commented on #7285
@alolita for reference

[2022-01-20 01:04] abhide commented on #7141
@dmitryax I would like to work on this issue.

[2022-01-20 01:05] dmitryax commented on #7141
@abhide sounds good, thanks!

[2022-01-20 01:15] Tenaria commented on #403
Agree with @halayli's comment above that the span metrics processor shouldn't aggregate but simply extract the metrics for the trace and forward. I feel like the span metrics processor is becoming a bit convoluted due to the added layer of complexity introduced by aggregation that is further complicated as we add in more features.

In my opinion if aggregation is desired, that can be a part of a s

[2022-01-20 07:01] abhide commented on #7137
@dmitryax Working on this migrating this scraper. https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/7288 is ready for review.

[2022-01-20 09:16] suddendust opened #7291 "Attribute Processor Not Deleting Tag With a Particular Key"
**Describe the bug**

We have the following OTEL config to scrub PII data in spans:
[code]
While there are no spans containing tag `authorization`, we see that we have spans with tag `x-someheader-jwt`.  For some reasons, these spans are not getting processed. We also tried:
[code]
But this didn't work as well. The tag is still present.

**Steps to reproduce**
Add this to your OTEL config and hit

[2022-01-20 13:14] jpkrohling commented on #7285
cc @Aneurysm9 @dashpole @gouthamve

[2022-01-20 13:22] jpkrohling commented on #7291
cc @boostchicken

[2022-01-20 14:27] djaglowski opened #10281 "[pkg/stanza] Recombine - When exceeding max_sources, combine entries before flushing"
It would be nice if we combined entries for each source before flushing.

_Originally posted by @djaglowski in https://github.com/open-telemetry/opentelemetry-log-collection/pull/341#discussion_r788812682_

[2022-01-20 15:59] jvoravong opened #7293 "ec2 resourcedetectionprocessor: Improve detection logging for debugging"
**Is your feature request related to a problem? Please describe.**
The current ec2 resource detection code uses the `available` method to check if the metadata server is available. The code does not log any messages when the metadata server is unavailable, this can make it hard for a user to debug why the metadata server is missing.
https://github.com/open-telemetry/opentelemetry-collector-contrib

[2022-01-20 16:17] sethAmazon commented on #6210
@alolita please close this ticket.

[2022-01-20 16:28] codeboten opened #7294 "Review public methods of prometheus remote write exporter"
When updating the code for https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/7283 I noticed the prometheus remote write exporter appears to be exposing more methods than other exporters. Is this necessary? if not I propose make the following private:

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/b37ee4c1b1b6d3515625a107f39a855517f3b2b6/exporter/promet

[2022-01-20 17:07] jpkrohling commented on #7294
cc @gouthamve

[2022-01-20 17:08] #6210 closed

[2022-01-20 17:08] #7277 closed

[2022-01-20 17:09] jpkrohling commented on #7293
cc @jrcamp @pmm-sumo @anuraaga @dashpole

[2022-01-20 17:18] Aneurysm9 commented on #7285
I've been working with @anna-tran on this and we have observed that the metric from some instances is consistently received as a sum and for others consistently received as a gauge.  We have not been able to identify differences between the instances that would account for this and the exposition coming from each for this metric is identical.

[2022-01-20 17:26] sethAmazon commented on #4716
You should be able to get this from the tags.

[2022-01-20 17:28] sethAmazon commented on #4716
<img width="1226" alt="Screen Shot 2022-01-20 at 12 26 22 PM" src="https://user-images.githubusercontent.com/81644108/150390306-49d73358-5839-4c2b-add6-5f70e18a27ee.png">
What you can do is add the name of the launch template as part of the tags in the launch template

[2022-01-20 17:29] sethAmazon commented on #4716
<img width="842" alt="Screen Shot 2022-01-20 at 12 29 04 PM" src="https://user-images.githubusercontent.com/81644108/150390756-b6b4f93e-ef98-4c5e-aa82-cb0c30523086.png">

[2022-01-20 17:30] sethAmazon commented on #4716
@Konig-Corey is this enough of a workaround or do you want this feature to still be added?

[2022-01-20 17:40] alolita commented on #7294
@codeboten we (my team) had built this exporter and will take a look at its design. Please add @Aneurysm9 as the owner for this review.

[2022-01-20 17:49] Aneurysm9 commented on #7294
It looks safe to change the visibility of these methods.  The AWS PRW exporter only relies on `Config` and `NewFactory()`.  I'll get a PR up shortly if the full test suite passes.

[2022-01-20 18:12] gregoryfranklin commented on #3129
Has there been any more discussion on this?

I'm looking at the journald input, which currently dumps everything into the body.  The only thing it pulls out is the timestamp.

Ideally (IMHO), the body would be a string containing MESSAGE and all the other fields stored as attributes.  Additionally, the priority would be converted to an OpenTelemetry severity.  Given journald has a well defined lis

[2022-01-20 18:53] djaglowski commented on #3129
Yes, very recently actually. There's been a lot of progress towards stabilizing the data model, so this is being revisited as a next step. [This doc ](https://docs.google.com/document/d/1jlWJIgdgCsc7Mp-Mpz6NKOVeaqX9RJFpMr19MrqoywM/edit?usp=sharing) includes some proposed changes. The doc is preliminary, so anything there will be written up as an issue against this repo before implementation.

In r

[2022-01-20 19:34] alolita commented on #6226
Hi @yotamloe we're taking a look at this and assessing feasibility. Stay tuned.

[2022-01-20 20:51] jefchien commented on #7293
@alolita can I take a look?

[2022-01-20 20:58] tonychoe commented on #403
I agree that we better keep this processor to generating span-metrics only. I prefer to do aggregation via the metrics backend or other otelcol processor.

[2022-01-20 22:03] djaglowski opened #7298 "journald - Consider parsing more known fields from logs"
...

I'm looking at the journald input, which currently dumps everything into the body.  The only thing it pulls out is the timestamp.

Ideally (IMHO), the body would be a string containing MESSAGE and all the other fields stored as attributes.  Additionally, the priority would be converted to an OpenTelemetry severity.  Given journald has a well defined list of fields [1], many of them could be c

[2022-01-20 22:44] bogdandrutu commented on #7063
@anuraaga as a summary, if you give me something that I can do at least Phase 0,1,2 and Phase 3 is optional from https://github.com/kubernetes/community/blob/master/contributors/guide/owners.md#the-code-review-process I think we can enable it :D

[2022-01-21 00:22] dmitryax commented on #7298
I would like to see journald logs to be parsed right OOTB. I don't know why it shouldn't be done right at the source without any additional operator or processor. Maybe we can provide an option to keep the raw message instead of parsing if user wants that?

[2022-01-21 03:17] #4298 closed

[2022-01-21 04:31] djaglowski commented on #7298
I support that the operator ought to do further parsing as well. We already do this in `syslog_input` to an extent. Some users may prefer the collector to do less parsing, but unless someone is asking for it, I think it's reasonable to add "don't parse" controls later as necessary.

Mapping from priority to severity, the body being only the MESSAGE string, and everything else going to attributes m

[2022-01-21 05:14] dmitryax commented on #7298
I fully agree on the first two paragraphs.

I see your point, but from the other hand we can cause additional breaking changes to the attributes that the library emit if our best effort doesn't survive the semantic debate. I would go with semantic conventions first, or in parallel, to make sure that once the change to the library is released at least attribute names are not going to change.

[2022-01-21 07:04] anuraaga commented on #7063
Thanks @bogdandrutu that makes the requirements very clear. We will look into a solution, hopefully without any extra infrastructure than GitHub

[2022-01-21 07:09] dmitryax opened #7301 "Scrapers: separate resource attributes in metadata.yaml"
## Problem

Currently `attributes` fields in metadata.yaml sometimes are used for both metric and resource attributes. Some scrapers don't specify resource attributes in metadata.yaml, but use resource attribute "hardcoded" in scraper code instead. We need to establish an approach and probably separate the resource attributes from other metric attributes.

## Proposal

We can introduce another fie

[2022-01-21 07:11] dmitryax commented on #7301
@djaglowski @bogdandrutu please let me know what do you think

[2022-01-21 09:44] albertteoh commented on #403
Thanks @Tenaria for bringing up this topic again.

+1 to separating the span to metrics translation from the metrics aggregation concern.

Reading over the comments again, I think I've got a better appreciation of @halayli's the suggestion (although I'm still not sure what span events refer to). I noticed in the last few PRs that there was a fair bit of discussion around locking, concurrency and p

[2022-01-21 11:30] gregoryfranklin commented on #7298
I'll start with a PR that moves all the fields to attributes instead of body and sets the severity.

So, it will change from this
[code]
to this
[code]

Some of the fields are also clearly resource attributes rather than log attributes, but I think that is linked to the semantic conventions discussion so will leave for a later PR.

I agree it makes sense to wait for the discussion on semantic conv

[2022-01-21 14:57] tigrannajaryan commented on #403
I support the idea of separating the concerns of extracting metric values from spans (which can be this specialized processor) vs aggregating the extracted metrics (which can be a generic metric aggregation processor).

However if we are doing breaking change I suggest that we first announce it before start making changes (in Slack and in SIG meeting), put together a 1-pager that describes how the

[2022-01-21 15:21] djaglowski commented on #7301
This all makes sense to me.

One nit - I would support `description` being required unless `semconv` is specified.

[2022-01-21 15:35] Konig-Corey commented on #4716
Hello, Yes I am sorry I should have closed this ticket. We are using exactly what you suggested above to pull the ASG as it will also be present on an instance that is a member of an ASG. Just for anyone else who sees this item. We were able to accomplish this with the resourcedetection receiver and the following configurations.

[code]

Thank you @sethAmazon

[2022-01-21 15:35] #4716 closed

[2022-01-21 17:18] bryan-aguilar commented on #7063
Hi all, just wanted to provide an update that I am still looking into this. Thank you @bogdandrutu for the explicit requirements. I already did a first pass at examining what a PullApprove workflow would look like but the doc should be touched up before sharing. Next, I'll need to do some research based on @anuraaga comments to see the viability of creating our own workflow using GitHub actions. I

[2022-01-21 17:37] sethAmazon commented on #4716
I spoke with @Konig-Corey on slack and @alolita this can be closed.

[2022-01-21 18:28] codeboten opened #7302 "MSI check failure is difficult to troubleshoot"
Currently, build failures for the MSI check don't give developers any idea as to what is causing the problem. See example: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4888218835?check_suite_focus=true

The failure was caused by an error on startup from the collector, this information would have greatly helped troubleshoot the problem. My ask of this issue is to somehow c

[2022-01-21 18:48] dyladan commented on #7063
@bryan-aguilar would be great if you or someone from this SIG could present what you come up with to the maintainer meeting. I know myself and i'm sure the other maintainers would love to be able to spread ownership around contrib a little more easily.

[2022-01-21 22:44] gavindoudou commented on #6973
Reproduced the issue. This is a bug. The CPU utilized metric is different (around 100 times) when using ECS container insights and Sidecar solution. I spoke with Rayhan and we agreed to change on our side (ADOT) rather than on the CW console side. I will investigate further to see how can we fix that.

[2022-01-23 23:59] jamesmoessis commented on #403
@tigrannajaryan it seems the `metrictransformprocessor` has aggregation functionalities, albeit it looks a little outdated from first glance. Is there still interest in a completely new and separate `metricsaggregatorprocessor`?

[2022-01-24 02:30] jinxin-fu commented on #7180
Thanks，I change the image to otel/opentelemetry-collector-contrib:latest  and meet the follow error:
2022-01-24T02:29:25.033Z        warn    internal/metricsbuilder.go:125  Failed to scrape Prometheus endpoint    {"kind": "receiver", "name": "prometheus_simple", "scrape_timestamp": 1642991364948, "target_labels": "map[__name__:up instance:prometheus-kube-prometheus-hypermoni:9090 job:prometheus_si

[2022-01-24 03:21] pavankrish123 opened #7308 "[TraceGen] Add support to pass in custom headers for the oltp calls made via tracegen"
Tracegen is very invaluable  in our load testing. It would be even helpful if we can pass in test/basic-auth headers along with http/grpc export calls. Otel Go SDK already supports an option to add headers to export calls, so it is a matter of reading `map[string]string` via tracegen command line  as  config and passing them on

something like will do.

[code]

[2022-01-24 03:41] pavankrish123 commented on #7308
Please assign this to me. Issued a PR #7309 already

[2022-01-24 08:45] jinxin-fu commented on #6900
Hi. I am a green hand in this project . I want to ask where to add the debug logging flag `--log-level=DEBUG`  for image "otel/opentelemetry-collector-contrib". Looking forward to your reply  Thanks.

[2022-01-24 09:51] morigs commented on #6900
@jinxin-fu usually, you specify arguments after image name, if you use docker. For exanple,
[code]
However, it looks like `--log-level` flag has been deprecated and removed in [v0.38.0](https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.38.0)

From now on you should use config file instead. Use `service.telemetry.logs.level`

[code]

[2022-01-24 13:58] jpkrohling commented on #7302
Should the packaging steps be removed from the CI of this repository? We do not produce MSI/deb/rpm as part of this anymore.

[2022-01-24 15:34] CatherineF-dev commented on #7134
Agree on `summaryadapter` proposal.

A CUJ is to rename Summary metrics:

- Now: for a Summary metrics go_gc_duration_seconds, it will have  go_gc_duration_seconds_summary_percentile after googlecloud exporter processing it.
- Expected: use metrics name go_gc_duration_seconds_percentile instead of go_gc_duration_seconds_summary_percentile

It's hard to add a `metrics_rename processor` after `googl

[2022-01-24 16:08] sethAmazon commented on #4739
@alolita I would like to look into this bug

[2022-01-24 17:29] NathanielRN commented on #4739
@sethAmazon No sorry. From the issue description above I explain that although _yes_ metrics without dimensions are normally being published to CW, **if I use the `awsemfs`'s metric filter (to include) metrics without dimensions they won't appear in CW**. I explain in the issue that this is because the exporter looks at the labels to decide if the filter finds a match, but without labels the filte

[2022-01-24 17:58] #7158 closed

[2022-01-24 18:39] cpheps opened #7358 "[receiver/jmx] Add support for Additional Jars in Classpath"
**Is your feature request related to a problem? Please describe.**

Add support for adding additional jars to the classpath when running the JMX Metric Gatherer. My company is working on adding an Apache Wildfly JMX Metric Receiver to the java-contrib repo and we found in order to do so you need to include a Wildfly (jboss) specific jar in the class path. Details in JBoss docs [here](https://docs.

[2022-01-24 18:46] cpheps commented on #7358
@rmfitzpatrick Looks like you're the owner of the receiver do you mind taking a look at the proposal?

[2022-01-24 20:02] jmacd commented on #403
What I'd like to see in the future / it would be cool if a span exporter would use an OpenTelemetry metrics API `MeterProvider` configured to use a private instance of an OTel-Go Metrics SDK configured to output to a metrics receiver.

There's a 1:1 correspondence between Spans arriving and `Meter(library_name).Counter(span_name).Add(adjusted_count)` API events, so the span receiver would be extre

[2022-01-24 20:17] rmfitzpatrick commented on #7358
This sounds useful overall and the only concerns I'd have would be slightly security minded. Would setting `CLASSPATH` be acceptable over `-cp`? If not, there'd need to be some assurances that arbitrary execution isn't possible (along the lines of https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/8dbbf09ca8056e215b06728b0a324913af7379dd/receiver/jmxreceiver/integration_test.go

[2022-01-24 20:33] jessberg opened #7377 "Google Cloud PubSub traces do not show up"
**Describe the bug**
I have set up the extension for Google PubSub.  No traces appear in the PubSub topic despite enabling the PubSub exporter.

**Steps to reproduce**
I ran this using the application in cloud-ops-sandbox [Online Boutique](https://github.com/GoogleCloudPlatform/cloud-ops-sandbox).  I edited the manifests to deploy the collector in two ways:
1. I changed the version of the agent's

[2022-01-24 20:40] jpkrohling commented on #7377
cc @alexvanboxel

[2022-01-24 20:54] #7241 closed

[2022-01-24 21:20] cpheps commented on #7358
You mean setting the CLASSPATH env on the subprocess? That should be fine. I think the same config will work we'll just create the ENV on the subprocess config rather than injecting it into the Java command.

[2022-01-25 00:12] tigrannajaryan commented on #403
It will likely not have the best performance due to extra conversions and (de)serialization. For better performance we need to stay in `pdata` space.

[2022-01-25 03:14] MovieStoreGuy commented on #403
Did someone say generics? :trollface:

But I agree, moving towards a scoped meter that can remain in pdata space sounds like the best solution for this.

[2022-01-25 05:52] MovieStoreGuy opened #8495 "Support for Semantic Convention schema migrations"
**Is your feature request related to a problem? Please describe.**
As means of supporting varies versions of the semantic convention, it would be nice to emit only one version of the semantic convention and migrate anyone using an older version to target X.

**Describe the solution you'd like**
The collector has the ability to be configured to emit a given version of the semantic convention and tr

[2022-01-25 12:37] jpkrohling commented on #6908
@MovieStoreGuy, should we close this one in favor of open-telemetry/opentelemetry-collector#4438, which would be a more generic approach to this?

[2022-01-25 14:18] gouthamve opened #7380 "Prometheus compliance tests fail due to removed flag"
**Describe the bug**

In recent PRs, the Prometheus compliance tests fail. The compliance suite [runs with a flag `--metrics-addr=:0`](https://github.com/prometheus/compliance/blob/main/remote_write_sender/targets/otel.go#L46) which has been removed in this commit: https://github.com/open-telemetry/opentelemetry-collector-contrib/commit/21273c624252f6981e316dbb4c6d37499e4bdf40 (found via git bisec

[2022-01-25 14:50] straussb commented on #5373
Don't think so, looks like the problematic code is still there.

[2022-01-25 15:03] rmfitzpatrick opened #7381 "Receiver creator provides unsupported endpoint config field"
**Describe the bug**
Not all receivers support `endpoint` and the receiver creator assumes this isn't the case. Adding it to the discovered config will lead to unmarshalling errors:

[code]

[2022-01-25 15:05] rmfitzpatrick commented on #7381
fwiw I will try to resolve this issue when next free.

[2022-01-25 16:10] muneernet opened #7384 "Signing the assembly"
We want to sign otelcontribcol.exe file on windows machine as it can go through if it is not signed . Any inputs on how we can accomplish any tweak we can do in go language git hub repo code

[2022-01-25 16:28] jkowall commented on #7384
You can always sign it with your own certificate or CA to get around this. With open source projects it's a bit more complex to get things signed.

https://www.anse.de/programming/code-signing-for-open-source-executable

[2022-01-25 18:06] Aneurysm9 commented on #6908
I don't see how that would solve this issue.  This issue is about rate limiting in receivers, on the server side.  That is about adding custom `RoundTripper` implementations to the client side.

[2022-01-25 18:08] jpkrohling commented on #7384
I think @alolita mentioned a few months ago that we could get some help from one of their engineers, as they are doing that elsewhere already. @alolita, is the offer still up? :)

[2022-01-25 18:11] sethAmazon commented on #4036
@HashemTaheriSonos can this issue be closed?

[2022-01-25 18:19] #4036 closed

[2022-01-25 18:46] jpkrohling commented on #6908
What I had in mind before is that the rate limiters could be implemented as interceptors, to be executed after the authentication phase, as an "authorizer". What did you have in mind?

[2022-01-25 19:09] Aneurysm9 commented on #6908
That sounds similar to what I would expect.  My concern was that the linked issue related to client interception and not server interception.

I also think that there may be some concerns particular to AuthZ that should be explicitly handled with an authorization framework and not simply free-form attachment of middleware.  For instance, if multiple AuthZ handlers are configured what are the requi

[2022-01-25 19:09] dmitryax opened #7386 "[k8scluster receiver] Don't use deprecated batch/v1beta1 and autoscaling/v2beta1 Kubernetes API"
Need to upgrade the k8scluster receiver code to use latest Kubernetes API to avoid warnings:

[code]

[2022-01-25 20:05] templarfelix opened #7387 "panic: runtime error: invalid memory address or nil pointer dereference ON github.com/open-telemetry/opentelemetry-collector-contrib/receiver/prometheusreceiver/internal.(*MetricsAdjusterPdata).adjustMetricHistogram"
**Describe the bug**
on run with many prometheus scrabes cause memory leaks

**Steps to reproduce**
run on k8s with many prometheus scrabes.

**What version did you use?**
Version: v0.42.0

**What config did you use?**
Config:

[code]

**Environment**
OS: (e.g., "Ubuntu 20.04")
Compiler(if manually compiled): (e.g., "go 14.2")

**Additional context**

[code]

[2022-01-25 20:16] jpkrohling commented on #6908
Sorry, my bad. I mixed the two, they should certainly be treated separately.

[2022-01-25 20:52] Aneurysm9 commented on #7387
Thanks for the report.  Are you able to reproduce this consistently? If so, can you see if you are able to reproduce after adding `--feature-gates=+receiver.prometheus.OTLPDirect` to the collector's CLI flags?  That will enable a different metrics appender that is becoming the default in the release that is about to happen.  I'm interested whether this also happens with that pipeline.

It looks li

[2022-01-25 22:05] templarfelix commented on #7387
@Aneurysm9 i try and receive same error:

`
   otc-container:                                                                                                                                                                                                                                                                                  │
│     Container ID:  docker://11f907302e89f04b0e33731d94bec87fc

[2022-01-25 22:35] Aneurysm9 commented on #7387
The argument is backward.  It must be `--feature-gates=+receiver.prometheus.OTLPDirect`.  Using `--feature-gates=-receiver.prometheus.OTLPDirect` as you have there is the default state in `v0.42.0` and changed nothing.

[2022-01-25 23:00] templarfelix commented on #7387
same problem

[code]

[code]

[2022-01-26 00:50] tonychoe commented on #7291
@suddendust how the attribute you're trying to delete was added?

What I have experienced is the attribute processor was not able to edit/delete the tag added as "process" by the jaeger tracer library. For example, I wanted to rename "host.name" to "hostname" but it didn't work.

[2022-01-26 12:37] harri-omarBish opened #7390 "Set the log level for awsemfexporter"
**Is your feature request related to a problem? Please describe.**
currently, the default logging level is set to info. and I want to change the log level to warn in a production environment. and I wasn't able to find anything in the documentation that mentions how I can do this.

**Describe the solution you'd like**
if there can be a parameter in the awsemf exporter that can help in setting the l

[2022-01-26 15:18] shree007 commented on #7386
I have bandwidth to work on it. @jpkrohling you may assign to me.

[2022-01-26 16:08] vvydier commented on #7386
I am interested in collaborating to fix this as well, thanks

[2022-01-26 16:40] jpkrohling commented on #7386
I'll ping you on another issue, if you don't mind.

[2022-01-26 16:41] #6671 closed

[2022-01-26 16:43] jpkrohling commented on #7184
@vvydier, would you be interested in helping out with this one here?

[2022-01-26 16:55] #7380 closed

[2022-01-26 17:02] vvydier commented on #7184
yes, I can take this one. Thanks @jpkrohling !
From the issue opened by @pellared, it seems like the latest build output of otel-collector using `make docker-otelcontribcol` is not matching with the version number in the release notes. Any time, there is a new release we are not updating the release notes or doc links appropriately?

[2022-01-26 17:14] jpkrohling commented on #6908
We talked about this during today's SIG and agreed to give this a try after GA.

[2022-01-26 17:36] #7080 closed

[2022-01-26 18:07] jpkrohling commented on #7390
It's the other way around: instead of changing the level as part of the individual component, you change the level of the collector. If you have the collector's log-level set to INFO, you should get all the INFO log entries emitted by this component.

[2022-01-26 18:08] jpkrohling commented on #7390
I'm closing this, but feel free to reopen if you think you need more information.

[2022-01-26 18:08] #7390 closed

[2022-01-26 18:12] matthewmodestino opened #7396 "Provide a "SED-like" mechanism to "find and replace" characters in a log record."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

As an OTel native logging user, I need a way to "find and replace" characters that may exist in the original log record that I don't want/need in the logging backend. This can be useful to anonymize info, but also to make log records more

[2022-01-26 18:20] dmitryax commented on #2320
I'd like to be a sponsor for this component

[2022-01-26 18:23] jpkrohling commented on #7184
That might be the cause, but I'm not quite sure. Can you do an investigation and check this is the case?

[2022-01-26 18:25] jpkrohling commented on #7396
@bogdandrutu, @anuraaga, is this something the transform processor should take care of?

[2022-01-26 18:25] jvoravong opened #7397 "ec2 resourcedetectionprocessor: Support configuring the http client used"
**Is your feature request related to a problem? Please describe.**
The resource detection processors don't support configuring the http client they use while other exporters and receivers do. This is an issue when you want to configure settings like the http client timeout for processors.

**Describe the solution you'd like**
In the long run, we should make all the resource detection processor htt

[2022-01-26 18:39] yimipeng opened #7398 "Dive deep adot collector state when CPU throttled"
Hi OpenTelemetry community,

Appreciate your time in advance. This is from a customer of opentelemetry. Reach out here per @sethAmazon suggestion to dive deep one AWS Distro For OpenTelemetry resource consumption logic:

if CPU is throttled in instance, what's the expected adot collector status? Will it enter in idle or other state. And what's the expected resource consumption(Mem etc.) from adot

[2022-01-26 18:44] bogdandrutu commented on #2320
@morigs now that a sponsor is identified please provide the issue for new components using the template we have.

[2022-01-26 19:11] bogdandrutu commented on #2320
Closing this, and will wait for the issue for new components to be sent.

[2022-01-26 19:11] #2320 closed

[2022-01-26 20:04] Aneurysm9 commented on #7398
@yimipeng this question applies to the OTel Collector generally, correct?  I'm not sure that there would be anything specific to the ADOT Collector distribution with regard to behavior under CPU-limited conditions.

[2022-01-26 20:11] sethAmazon commented on #7398
@Aneurysm9 yes this the otel collector generally not the adot distribution

[2022-01-26 20:49] codeboten opened #7399 "`publish-stable` no longer creates a github release"
The `publish-stable` step in the build-and-test workflow used to create a github release automatically after the docker image was published. A change to no longer publish the docker image from this repo broke the workflow by removing the step that created the output variable used by the publish-stable to determine whether to create a new release or not.

[2022-01-26 22:22] MovieStoreGuy commented on #6908
@jpkrohling could I ask you to add the label for `after-ga` or something in that vein?

[2022-01-27 00:14] woshifudayun opened #7402 "[exporter/datadog] datadog exporter should fail fast if api key validation fail"
**Describe the bug**
Currently, if datadog exporter failed to validate api key, it would only give some warning logs as below:
[code]
Opentelemetry collector can still get started even if datadog exported was failed to get started. And metrics `send_failed_metric_points`, `send_failed_spans`  will not count the metrics failed to be sent to datadog if datadog exporter was not started properly. Basi

[2022-01-27 00:50] #7399 closed

[2022-01-27 00:56] Aneurysm9 commented on #7387
That is a different problem.  This time it is in the PRW exporter, not the receiver.  Here it seems that the stale marker has been correctly handled by the receiver but the exporter is having an issue reconstructing the `le=+Inf` bucket.  I should be able to get a fix for that prepared fairly quickly.

[2022-01-27 01:31] Aneurysm9 commented on #7387
Looks like there's [already a PR](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/7306) looking to fix the PRW exporter issue.

[2022-01-27 06:51] 163a opened #7404 "Kubernetes example always uses default configuration even if supplied config is different"
**Describe the bug**
Newer releases ignore custom configuration when launched on Kubernetes.

**Steps to reproduce**
1. Clone repo and use https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/examples/kubernetes
2. Change the ConfigMap in kubernetes to another config content within otel-collector.yaml
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/mai

[2022-01-27 07:33] jinxin-fu opened #7405 "prometheus_simple receiver scrape prometheus /federate api get no metrics data"
image version：
docker.io/otel/opentelemetry-collector-contrib:latest
otel config :
[code]
Enable the debug log:
[code]
I want to scrape use opentelemtry-collector to scrape a prometheus instance to get metric and write the data to thanos-receiver. The config and logs as above. There is no error shows in otelconrib but I can't get the target metric in Thanos. Whether this scheme can work to collect

[2022-01-27 08:35] #7405 closed

[2022-01-27 16:43] muneernet commented on #7384
Hey  jpkrohling  could you please let us know any update on the above

[2022-01-27 16:43] jpkrohling commented on #7402
cc @KSerrania @mx-psi @gbbr @knusbaum

[2022-01-27 16:44] #7149 closed

[2022-01-27 16:45] jpkrohling commented on #7384
I don't have any updates.

[2022-01-27 16:49] pmalek-sumo opened #7407 "routingprocessor: add an option to drop the attribute used for routing"
**Is your feature request related to a problem? Please describe.**

Sometimes, due to routingprocessor's limitations (like routing only on one key) a routing key has to be created specifically for this issue.
Because of that users might want to drop this from being sent through the exporter to prevent having "polluted" data in the system that consumes data.
Since routingprocessor has to be placed

[2022-01-27 16:52] jpkrohling commented on #7407
I think this makes sense, but for the future, the cleanest would be for us to support getting attributes from the context. We should now have all the pieces in place for that.

[2022-01-27 16:52] mx-psi commented on #7402
Hey there! Thanks for taking the time to open the issue :) I think this would be a nice addition, provided we only fail when we are able to verify the API key is invalid. We need to be careful about backwards compatibility, but off the top of my head I think it's doable. I will add this to our backlog (and of course PRs are welcome!)

[2022-01-27 16:53] mx-psi commented on #7402
Also, I changed this from a bug to an enhancement, but feel free to disagree with me if you think bug is more appropriate

[2022-01-27 16:55] pmalek-sumo commented on #7407
I haven't personally used context since most of the routing logic I've needed to write was based on resource attributes (sometimes record attributes but I could leverage [`groupbyattrsprocessor`](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/groupbyattrsprocessor) to work around that)

Is there a mechanism to bridge context with resource attributes somehow t

[2022-01-27 16:59] jpkrohling commented on #7404
This is happening because we recently changed the default location for the contrib's config:

https://github.com/open-telemetry/opentelemetry-collector-releases/blob/cf510332fc9934df95bb3938a1eacddde40d3b48/distributions/otelcol-contrib/Dockerfile#L17

The following line needs to be changed to match the above:

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/3792405967ad61b3

[2022-01-27 17:13] jpkrohling commented on #7407
No, sorry, I was under the impression that you added things to the resources because of the routing mechanism. In that case, you could have sent an HTTP header instead, which is only sent once per connection. Those headers may now end up in the context as part of `client.Info`, and we should be able to get access to that in the routing processor.

[2022-01-27 17:18] shree007 commented on #7404
@jpkrohling I may work on it.

[2022-01-27 17:19] jpkrohling commented on #7404
You are on fire, @shree007! Go for it!

[2022-01-27 17:28] pmalek-sumo commented on #7407
That's exactly what I meant and what I am using as of now. Hence the need to remove it in routingprocessor :)

[2022-01-27 17:41] jpkrohling commented on #7407
Then you can certainly make use of the feature I mentioned in the future :-) Once we have support for getting info from the context, you can add HTTP headers to your exporters instead of adding resource attributes.

[2022-01-27 17:45] pmalek-sumo commented on #7407
How far in the future that is :excited: ? And do we want to wait for that or work on my suggested feature?

[2022-01-27 17:54] jpkrohling commented on #7407
Apparently, we had that in mind already:
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/4ccaabd802fa420684884b78716e43f099251f12/processor/routingprocessor/extract.go#L54-L77

We might just need to change this to use the `client.Info` instead, which does include gRPC in addition to HTTP metadata.

If you are willing to change your instrumented clients to use this new featur

[2022-01-27 18:03] Sprakhar97 commented on #6079
Hi @alolita I can work on this issue if no one else is working on it.

[2022-01-27 18:06] pmalek-sumo commented on #7407
Hm we might be talking about a different use case. What I'm looking for is to route logs/metrics based on the attributes added by k8s processor. So there's really no notion of HTTP headers in my setup but only resource attributes.

[2022-01-27 18:33] #5047 closed

[2022-01-27 18:36] jpkrohling opened #7408 "Convert Kubernetes events to traces"
PR #6885 added a Kubernetes events receiver, converting events into logs. It should also be possible to convert them into traces, as seen in the `kspan` project: https://github.com/weaveworks-experiments/kspan

cc @dmitryax, @hprajapati-splunk

[2022-01-27 18:48] jpkrohling commented on #5859
Happened again: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4969118880?check_suite_focus=true#logs

[2022-01-27 18:48] jpkrohling commented on #5859
cc @dmitryax

[2022-01-27 19:22] jessberg commented on #7377
I may be interpreting this wrong but I think the reason it is not in the main release is because it is missing from the main release config here:

https://github.com/open-telemetry/opentelemetry-collector-releases/blob/main/distributions/otelcol-contrib/manifest.yaml

[2022-01-27 19:23] jpkrohling commented on #7377
Do you see startup errors? If so, the original description is missing that.

[2022-01-27 19:33] jpkrohling commented on #6920
Was this fixed by this PR already? https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6984

I ran both examples from this issue against the current main branch and they both worked. I'm closing this, but feel free to reopen if this is not fixed in 0.43.0.

[2022-01-27 19:49] #7404 closed

[2022-01-27 20:12] jpkrohling opened #7410 "Jaeger receiver issues a warning on default config"
The default config for the Jaeger receiver yields a warning, as reported via open-telemetry/opentelemetry-collector#4747. Doing a `git bisect` shows that the commit https://github.com/open-telemetry/opentelemetry-collector-contrib/commit/bc723350687233d47067e6a08961066f30ed8490 is the culprit:

[code]

[2022-01-27 20:37] dashpole opened #7411 "Prometheus receiver should not use process_start_time_seconds to set start time."
**The Problem**

Support for `process_start_time_seconds` was added in https://github.com/open-telemetry/opentelemetry-collector/pull/394 in order to simplify setting start time for prometheus metrics.  However, as pointed out in https://github.com/open-telemetry/opentelemetry-specification/pull/2266#pullrequestreview-863768574, this isn't correct in the general case.

**Describe the solution you'

[2022-01-27 21:27] alexvanboxel commented on #7377
the implementation can be found here (the implementation is not merged in)
https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/1802

[2022-01-28 01:46] hanjm opened #7413 "[feature request] performance: otlp http json support jsoniter/sonic for better performance"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I foud collector (which use otlp http json) cpu profile cost largely in [json unmarshal](https://github.com/open-telemetry/opentelemetry-collector/blob/main/model/otlp/json_marshaler.go#L42), I know protobuf have better preformance but json

[2022-01-28 02:19] dmitryax commented on #7408
It sounds interesting!

[2022-01-28 03:20] austindrenski opened #7414 "Datadog exporter sending EC2 hostname for containers in AWS ECS Fargate"
**Describe the bug**

Datadog is showing an ECS Fargate container running the OTel Collector (contrib) as a normal host with an EC2 hostname, rather than displaying it like other containers in our cloud infrastructure that are running/deployed with the Datadog Agent.

I think this might be caused by an ordinal string comparison between the OTel convention's `fargate` and the ECS task metadata's `F

[2022-01-28 05:05] sethAmazon opened #7415 "How to get full PodName from EKS in EMF metrics?"
Copy request from https://github.com/aws-observability/aws-otel-collector/issues/852

[2022-01-28 07:12] goto1134 opened #7416 "Add elastic json encoding to kafka log exporter"
**Is your feature request related to a problem? Please describe.**
In my infrastructure we use kafka to collect logs in elastic json format.

**Describe the solution you'd like**
I would like to configure elastic marshaller for kafka log exporter and send logs in elastic format.

[2022-01-28 09:23] suddendust commented on #7291
@tonychoe

Didn't get this, can you explain a bit more? Thanks!

[2022-01-28 09:38] timberhill commented on #6920
The PR seems to have only made changes to the readme.
There seem to be two separate issues here - one in the example and the other somewhere in the routing processor, so the error still appears :(

Did you run the [`config_metrics.yaml`](processor/routingprocessor/testdata/config_metrics.yaml) example to test it? It uses logging exporter there, would that be handled differently from metrics?

I ca

[2022-01-28 11:11] rogercoll opened #7417 "Add available memory state for hostmetrics receiver"
The current Linux memory states provided by the `hostmetricsreceiver` might be not the most appropriate ones for an end user. The available memory states for Linux are:

`[buffered, cached, free, slab_reclaimable, slab_unreclaimable, used] `

All of those values are retrieved with gopsutil, which gets them from `/proc/meminfo` file.

A user might think that the `free` value represents the amount o

[2022-01-28 11:55] templarfelix commented on #7387
thanks for help @Aneurysm9

[2022-01-28 11:55] #7387 closed

[2022-01-28 13:25] jpkrohling commented on #6920
That would be very helpful. I did run both examples from this issue against the current main branch, which is very similar to v0.43.0. If you could reproduce it with v0.43.0, it would help me a lot.

[2022-01-28 13:54] reneverdugo-sir opened #7418 "Verdugo"
Pay

[2022-01-28 13:57] jpkrohling commented on #7418
Would a maintainer please remove this? I'm reporting this user.

[2022-01-28 13:57] #7418 closed

[2022-01-28 14:42] djaglowski commented on #6890
Closed by #7400

[2022-01-28 14:42] #6890 closed

[2022-01-28 14:43] djaglowski commented on #6493
Closed by #6519

[2022-01-28 14:43] #6493 closed

[2022-01-28 15:09] rogercoll commented on #6429
@dmitryax I would like to work on the `memoryscraper` receiver.

[2022-01-28 15:50] sethAmazon commented on #7293
@jefchien can this be closed?

[2022-01-28 15:54] sethAmazon commented on #2846
@alolita should we tag this with splunk?

[2022-01-28 16:12] timberhill commented on #6920
Thanks! The minimal-ish example with two prometheus instances is here: https://github.com/timberhill/otel-routing-demo. To figure it out, we started with [this demo](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/examples/demo) and (crudely) modified the server to emit a metrics with a label that determines which prometheus it is going to.

[2022-01-28 16:13] jefchien commented on #7293
It can.

[2022-01-28 16:44] #7293 closed

[2022-01-28 16:57] jessberg commented on #7377
That makes sense.  I just built a custom collector with that implementation included.  It now finds the exporter;  I can see in the logs it says
[code]
And I believe the following log implies that it is trying to export to Pub/Sub:
[code]
But I still don't see any traces in the Pub/Sub topic.  Do you have any pointers on how to debug this?

[2022-01-28 17:53] jpkrohling commented on #6920
I got to reproduce it, thank you! The problem is that happening when there are two pipelines. In your case, you have one for traces and one for metrics. When removing the traces pipeline, it seems to work.

[2022-01-28 18:22] #7358 closed

[2022-01-28 19:08] jpkrohling commented on #7414
Not sure where the problem is, so, I'm copying AWS and Datadog folks: @anuraaga, @KSerrania @mx-psi @gbbr @knusbaum

[2022-01-28 19:09] jpkrohling commented on #7415
cc @Aneurysm9 @pxaws

[2022-01-28 19:12] jpkrohling commented on #7417
cc @dmitryax

[2022-01-28 19:14] jpkrohling commented on #2846
cc @pjanotti @dmitryax, is this yours? The version numbers are suspiciously low...

[2022-01-28 19:19] AchimGrolimund commented on #2846
This is an old one from me. Sorry this was an issue on the otel-collector-contrib.

i moved to splunk-otel-collector 0.43.0 and it works.

this issue can be closed.

best regards

[2022-01-28 19:25] #2846 closed

[2022-01-28 19:36] #7415 closed

[2022-01-28 20:57] jpkrohling commented on #7410
I don't seem to be able to reproduce it with v0.43.0 anymore:

[code]

This is the config file I used:

[code]

@mplachter, can you try it out as well?

[2022-01-28 21:33] jefchien commented on #2977
@aateeqi Can this be closed?

[2022-01-28 22:17] jessberg commented on #7377
I figured it out.  Thanks for your help!

[2022-01-28 22:17] #7377 closed

[2022-01-28 23:03] #2977 closed

[2022-01-29 03:01] jkowall commented on #7416
@goto1134 Can you explain the flow? I assume you log to Kafka, and then you want the collector to take the logs from Kafka and write them to ElasticSearch?

[2022-01-29 06:30] brianpham commented on #7387
Do you know how long before this is in the next release? I am encountering this on one of our deployments.

[2022-01-29 08:16] alexvanboxel commented on #7377
Could you say what you did wrong, I could add a troubleshooting section with things that could go wrong. I also saw the insecure flag, but I would expect more errors.

Keep me posted on the experience or give feedback.

[2022-01-29 15:14] sincejune commented on #1958
I tried `otel/opentelemetry-collector-contrib:0.43.0` and I can see `otelcol_receiver_accepted_spans` with metrics port.

@tigrannajaryan Seems that it's already been fixed?

[2022-01-30 09:18] lchayoun commented on #6714
@jpkrohling It happened again with the latest version (0.43.0)

[2022-01-30 10:01] KingJ commented on #6714
@lchayoun Looking over the [0.43.0 build output](https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4957206437?check_suite_focus=true), the Publish Github Release step was skipped. I think this has already been identified in https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/7399 and fixed in https://github.com/open-telemetry/opentelemetry-collector-contri

[2022-01-31 08:27] sumo-drosiek commented on #5674
Closing issue as PR has been merged

[2022-01-31 08:27] #5674 closed

[2022-01-31 08:44] mx-psi commented on #6714
Hey all, I believe starting on this releases artifacts will be available on the [`opentelemetry-collector-releases` repo](https://github.com/open-telemetry/opentelemetry-collector-releases). For example, you can find the assets for 0.43 [here](https://github.com/open-telemetry/opentelemetry-collector-releases/releases/tag/v0.43.0). If I am not mistaken, all future assets will be available there.

[2022-01-31 08:52] lchayoun commented on #6714
Thanks @mx-psi!

[2022-01-31 15:30] mx-psi commented on #7414
Thanks for opening the issue @austindrenski and thanks for the ping @jpkrohling.

It looks like the `awsecscontainermetrics` uses a non-standard attribute name for the launchtype. [`aws.ecs.task.launch_type`](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/d38704ef5f786fa0edb87befa2a8c0bf619cbb0c/receiver/awsecscontainermetricsreceiver/internal/awsecscontainermetrics/constan

[2022-01-31 16:04] mx-psi commented on #7414
Opened #7425 to add the semantic conventions on `awsecscontainermetricsreceiver`.

[2022-01-31 16:10] punya commented on #5887
My apologies for not working on this issue. However, in light of @anuraaga's work on a generic transform processor ([design doc](https://github.com/open-telemetry/opentelemetry-collector/blob/main/docs/processing.md), [WIP implementation](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/transformprocessor)), I believe this evaluation is no longer necessary.

[2022-01-31 16:10] #5887 closed

[2022-01-31 16:36] sethAmazon commented on #7413
I think this code is owned by the upstream collector. https://github.com/open-telemetry/opentelemetry-collector/tree/main/receiver/otlpreceiver

[2022-01-31 16:51] sethAmazon commented on #7413
We use a custom jsonpb.Marshaler. I'm not sure how this work but if you want to take a look go here. https://github.com/sethAmazon/opentelemetry-collector/blob/main/receiver/otlpreceiver/internal/marshal_jsonpb.go

[2022-01-31 17:29] Aneurysm9 commented on #7387
We attempt to ship a release every two weeks.  I would expect that this will be included in the `v0.44.0` release that should happen next week.

[2022-01-31 17:30] sethAmazon commented on #7397
@Aneurysm9 @anuraaga would this config be added to the resource detection config or just the ec2 config?

[2022-01-31 17:30] sethAmazon commented on #7397
@alolita can you please assign this ticket to me

[2022-01-31 17:34] brianpham commented on #7387
Thanks @Aneurysm9 😄

[2022-01-31 18:03] Aneurysm9 commented on #7397
This should probably be added to the `resourcedetectionprocessor.Config` struct.  Adding it here, even if it is initially only used in the EC2 detector, prevents a situation where we'd need to break user configs to move it later once other detector implementations used it.  It'll also lay some of the groundwork, simplifying later implementations.

[2022-01-31 18:28] jessberg commented on #7377
Sure! A lot of my problems were because I wasn't familiar with building the collector in general and unrelated to this extension in particular.  But here are some of the problems I ran into and how I fixed them:

1. First obviously I tried using the default image, but that doesn't have pub/sub in it.  I just saw it in the repo and assumed it was in the default image.  I then tried to make my own i

[2022-01-31 20:03] djaglowski opened #7498 "[receiver/postgresql] Add integration test"
Generally, scrapers can and should include an [integration test](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/mysqlreceiver/integration_test.go) that exercises the client or library used to gather metrics.

[2022-01-31 20:03] djaglowski opened #7499 "[receiver/postgresql] Update metadata.yaml to v2 format"
The new metadata format brings several advantages over the old format. The receiver should be updated to use the newer version.

[2022-01-31 20:05] djaglowski opened #7500 "[receiver/postgresql] Failed scrape should not return any data points"
The receiver currently performs some initialization of metrics at the beginning of the `scrape` function. If a major failure is encountered, it returns these empty metrics. Instead, it should return an empty result in this case.

[2022-01-31 21:44] djaglowski opened #7504 "[receiver/mysql] Update metadata.yaml to v2 format"
The new metadata format brings several advantages over the old format. The receiver should be updated to use the newer version.

[2022-01-31 23:16] dmitryax commented on #7504
Duplicates https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/7146

[2022-01-31 23:41] AustinWentz opened #7508 "AWS X-Ray Exporter PutTraceSegmentsInput error response is being eaten"
**Describe the bug**
[The debug logging](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/exporter/awsxrayexporter/awsxray.go#L69) for request and response is not giving me anything in the Collector logs.

This is making it incredibly hard for me to debug why the PutTraceSegmentsInput API call is failing when trying to export my traces.

**Steps to reproduce**
1) Incorre

[2022-02-01 00:17] Aneurysm9 commented on #7508
This looks like the custom logging from the ADOT collector.  There was an error in the configuration of that logging that resulted in losing additional context such as the error information you're looking for here.  That was fixed in https://github.com/aws-observability/aws-otel-collector/pull/849 and will be in the `v0.16.0` release that is currently being prepared.

In the interim, the logs outp

[2022-02-01 00:20] AustinWentz commented on #7508
Thanks for the fast reply. I'll take a look at STDOUT. Looking forward to v0.16.0!

[2022-02-01 00:42] AustinWentz commented on #7508
Hmm. After checking /var/log/amazon/aws-otel-collector, still nothing. What am I missing?

[2022-02-01 07:21] sanjaygopinath89 opened #7509 "Documentation of googlecloudpubsubexporter doesn't give service account and user agent details"
**Describe the bug**
Documentation of googlecloudpubsubexporter  does not give details on how to give service account in configuration to access the pub/sub.

In the document https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/googlecloudpubsubexporter  it has given  "The Google Cloud Pubsub export doesn't automatic create topics, it expects the topic to be created

[2022-02-01 14:04] djaglowski opened #7511 "[receiver/mysql] Data model issues"
Several metrics appear to have minor data modeling problems. Notably:
- `buffer_pool_pages` and `buffer_pool_size` have enumerated labels that include "total" and subtotals. The totals should be separate metrics.
- `buffer_pool_pages`, `buffer_pool_size`, and `threads` are modeled as doubles, though the values appear to be ints.

[2022-02-01 14:27] #7504 closed

[2022-02-01 14:55] #7499 closed

[2022-02-01 15:04] djaglowski opened #7512 "[receiver/mysql] Use scrapererror package to report collection issues"
This receiver currently logs errors instead of aggregating them with "scrapererror.AddPartial".

[2022-02-01 15:41] djaglowski opened #7514 "[receiver/nginx] Update integration test to use scrapertest"
The `nginxreceiver`'s integration test predates the `scrapertest` package. It should be updated to ensure more thorough validation, and to standardize the layout of the test.

[2022-02-01 16:46] rahjesh-vunet commented on #3159
This is not fixed yet. Tried all these workarounds. Still I am unable to make it work.

My docker-compose looks like.
[code]

tracing-server       | 2022-02-01T16:43:55.368Z	info	service/service.go:143	Starting extensions...
tracing-server       | 2022-02-01T16:43:55.368Z	info	service/service.go:188	Starting exporters...
tracing-server       | 2022-02-01T16:43:55.368Z	info	builder/exporters_builde

[2022-02-01 18:51] jkowall commented on #7416
You can already do this with the Kafka exporter found here: https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/kafkaexporter

As far as what "elastic json format" is I am not sure what you mean. The collector will work with JSON in OLTP format, but it doesn't know the "elastic json format" specifically.

[2022-02-01 21:07] sethAmazon commented on #7285
@Aneurysm9 what do you mean by instance in this context. Are more than 1 pod of the collector being deployed? @anna-tran can you please show me output of kubectl get pods -A

[2022-02-01 21:38] Aneurysm9 commented on #7285
Not more than one collector pod, more than one metric source pods.  When the collector scrapes pod A it consistently treats this as a gauge and when it scrapes pod B it consistently treats it as a sum.

[2022-02-01 21:40] sethAmazon commented on #7285
So there are multiple instances of cortex running?

[2022-02-01 22:16] Aneurysm9 commented on #7285
Multiple instances of the Cortex ingester service, yes.  In this case the Cortex ingester service is a service being monitored, not (necessarily) a target for the metric data.

[2022-02-01 23:16] #7500 closed

[2022-02-01 23:27] dmitryax opened #7522 "Resource detection processor sets uppercase values in os.type attribute"
According to [semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/3a326da59fbf8ecee5cbb44f2a7080cd5c4fe72c/specification/resource/semantic_conventions/os.md) `os.type` resource attribute has to contain one of the predefined values, all of them are written in lowercase. Resource detection processor sets them in uppercase. It should be changed to lowercase accord

[2022-02-02 06:26] rahulbandariSensei opened #7524 "Add Apache Druid Metric Receiver"
**Is your feature request related to a problem? Please describe.**
Metric Receiver for Apache Druid.
**Describe the solution you'd like**
I would like to scrape the metrics from Apache Druid.

[2022-02-02 06:27] rahulbandariSensei commented on #7524
I would like to work on this feature and contribute here.

[2022-02-02 10:22] mx-psi commented on #7522
Looks like this changed on open-telemetry/opentelemetry-specification#1598

[2022-02-02 10:22] mx-psi commented on #7522
Also note that `ZOS` becomes `z_os`

[2022-02-02 10:25] mx-psi commented on #7522
This amounts to changing this function https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/36623bcdc41f9663c99e247e63b43d6735c0ba27/processor/resourcedetectionprocessor/internal/resourcedetection.go#L218-L224 to do the mapping between `GOOS` and the spec values.

[2022-02-02 10:31] mx-psi opened #7525 "[pkg/resourcetotelemetry] Support for ExponentialHistogram"
**Describe the bug**

Similar to #7523, we need to add support for ExponentialHistogram.

**Steps to reproduce**

Send an ExponentialHistogram to a pipeline that uses the `pkg/resourcetotelemetry`.

**What did you expect to see?**

Datapoints should have resource-level attributes as datapoint-level attributes.

**What did you see instead?**

Datapoints are kept as is.

**What version did you use?*

[2022-02-02 14:51] omamoo opened #7527 "Datadog Exporter Duplicates service.version Tag without Clearing Old Tag"
**Describe the bug**
When configuring Datadog exporter as below:
[code]
And looking on incoming span's tags, we can see that the version is duplicated as two different tags: `version` and `service.version`.

**Steps to reproduce**
Copy & Paste the following Otel collector config file (fill the relevant API key and env) deploy to K8S cluster and generate spans.

**What did you expect to see?**
Only

[2022-02-02 16:07] mx-psi commented on #7527
Hey @omamoo, thanks for the detailed issue, I will forward this internally to our APM team which will get back to you

[2022-02-02 16:12] kmotupalli-tc opened #7528 "[exporter/datadog] - Add debug flag to print payload data sent to Datadog API"
**Is your feature request related to a problem? Please describe.**

When sending prometheus metrics to Datadog, some of the host metadata, labels and metrics are missing on Datadog.

**Describe the solution you'd like**

Logging payload data will help debugging this issue.

**Describe alternatives you've considered**
1. Log in stdout
2. Send it to DD logs instead of stdout
3. Log to file

[2022-02-02 16:13] mx-psi commented on #7524
@rahulbandariSensei can you open an issue following the 'New component proposal ' template
![new component](https://user-images.githubusercontent.com/5502710/152192510-3c8208ab-eed0-449c-9c5c-5aa2e9f0a1e0.png)
?

[2022-02-02 16:24] mx-psi commented on #5668
@jfmyers9 #7185 should have addressed this and will be out in the next release: now attributes are mapped even when `resource_attributes_as_tags` is set to `true`.

I am closing this since we believe it to be fixed, but if you have any comments about this, please let us know!

[2022-02-02 16:24] #5668 closed

[2022-02-02 16:51] jfmyers9 commented on #5668
Thanks for the information @mx-psi. Look forward to trying the new functionality out.

[2022-02-02 16:54] djaglowski opened #7529 "CI: build-and-test / build-package (rpm) fails due to CentOS 8 EOL"
CentOS 8 has reached EOL and [has been made unavailable at the previously used url](https://forums.centos.org/viewtopic.php?f=54&t=78708#p330689). This is causing failures when creating the RPM package.

[code]

I'm not very familiar with our release process and am unsure the overall implications & requirements for switching distributions, but I opened #7526 to test whether switching to `rockylinu

[2022-02-02 17:09] djaglowski commented on #7529
Discussed in SIG - the usage of centos 8 is really a general test meant to represent whether RPMs can be successfully built. Based on this, changing to a different distro does not have implications on our artifacts.

[2022-02-02 17:13] dashpole commented on #7411
During alpha: we should log a warning.

[2022-02-02 17:38] djaglowski opened #7531 "Flaky test: Metric10kDPS/Carbon"
[code]

Full log: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5023359532?check_suite_focus=true

[2022-02-02 17:40] djaglowski commented on #7531
@pjanotti tagging you as the component owner.

[2022-02-02 18:07] kmotupalli-tc commented on #7528
0.37.1 version had similar debug logging which got removed in later releases. Want to add similar feature which can be enabled as flag if needed. https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5856

[2022-02-02 18:14] djaglowski commented on #7529
Closed via #7526

[2022-02-02 18:14] #7529 closed

[2022-02-02 18:26] #7251 closed

[2022-02-02 18:36] #7146 closed

[2022-02-02 19:00] mplachter commented on #7410
I am still getting this error in `0.43.0`

2022-02-02T18:59:38.777Z	warn	zapgrpc/zapgrpc.go:191	[core] grpc: Server.Serve failed to create ServerTransport:  connection error: desc = "transport: http2Server.HandleStreams failed to receive the preface from client: read tcp 192.168.3.139:14250->192.168.1.168:3864: read: connection reset by peer"	{"grpc_log": true}
2022-02-02T18:59:38.801Z	warn	zapgrp

[2022-02-02 19:50] Aneurysm9 opened #7532 "Check for coverage of all metric types"
Some functions and processors that operate on metrics may not correctly operate on all metric types.  We have observed at least the `resourcetotelemetry` helper not accounting for Summary and Exponential Histogram metrics.  A survey should be undertaken to check for similar failures.

_Originally posted by @bogdandrutu in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/7523#

[2022-02-02 22:51] erichsueh3 opened #7533 "New component: Sigv4 Authenticator Extension"
## The purpose and use-cases of the new component
This extension provides the Sigv4 process of adding authentication information to AWS API requests to HTTP based exporters for AWS services. This extension implements the `configauth.ClientAuthenticator` interface. For more information on the Sigv4 process, refer [here](https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html).

For e

[2022-02-02 23:02] djaglowski commented on #5859
Again here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5042487663?check_suite_focus=true#step:8:16309

[2022-02-03 05:56] rahulbandariSensei commented on #7524
sure, @mx-psi.

[2022-02-03 06:50] steven-aerts commented on #7533
Hi @erichsueh3,

nice extension, would it also be possible to use this extension to use the `elasticsearch` exporter with AWS elastic/opensearch?

So we can specify something like this:
[code]

Or is this too far fetched?

Thanks

[2022-02-03 08:31] mx-psi commented on #7532
The exhaustive linter from golangci-lint seems to be able to do this: https://github.com/nishanths/exhaustive

[2022-02-03 08:59] foxlegend opened #7534 "New component: OpenTSDB Receiver"
## The purpose and use-cases of the new component
[OpenTSDB](http://opentsdb.net/) Receiver supports OpenTSDB [HTTP API](http://opentsdb.net/docs/build/html/api_http/index.html) and [Telnet API](http://opentsdb.net/docs/build/html/api_telnet/index.html) for metrics sent by the [TCollector](http://opentsdb.net/docs/build/html/user_guide/utilities/tcollector.html) component.

For information, I alre

[2022-02-03 09:07] foxlegend opened #7535 "New component: OpenTSDB Exporter"
## The purpose and use-cases of the new component
OpenTSDB Exporter sends data to an [OpenTSDB](http://opentsdb.net/) time series database via the OpenTSDB [HTTP API](http://opentsdb.net/docs/build/html/api_http/index.html).

For information, this is complementary of New component proposal #7534. I already started to develop this component here: https://github.com/foxlegend/opentelemetry-collector

[2022-02-03 10:27] KSerrania commented on #6485
We're going to close this issue. We believe the issue comes from the old `LongValueRecorder` java instrument not sending summary counters and timestamps that match the spec, causing our exporter to reset the counters after each point it receives. The `LongValueRecorder` instrument has been removed in the `1.5.0` release of the java SDK, so this issue shouldn't happen on the latest java SDK version

[2022-02-03 10:31] #6485 closed

[2022-02-03 13:10] jpkrohling commented on #7509
cc @alexvanboxel

[2022-02-03 13:40] djaglowski opened #7537 "Flaky Test: TestMetric10kDPS/TestMetricsFromFile"
[code]

Examples:
https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5046360176?check_suite_focus=true#step:14:110
https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5044466308?check_suite_focus=true#step:14:109
https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5044517528?check_suite_focus=true#step:14:106

[2022-02-03 14:28] jpkrohling commented on #7528
cc @KSerrania @mx-psi @gbbr @knusbaum

[2022-02-03 14:31] #7525 closed

[2022-02-03 14:32] #7498 closed

[2022-02-03 14:46] mx-psi commented on #7528
Sorry, I tagged this but didn't say anything :) We are tracking this internally, I removed the debugging because it was unintended and I want to avoid spammy logs by default, but it may be a good idea to add something like this behind a flag

[2022-02-03 15:46] djaglowski commented on #7531
Failed again here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5053790092?check_suite_focus=true#step:14:138

[2022-02-03 16:50] #7537 closed

[2022-02-03 16:53] muneernet opened #7539 "Open telemetry Dlls are not signed"
As I See both dot net  OpenTelemetry.Dll , OpenTelemetry.Api.Dll are not signed. Is there any possibility in the near future ? As that becomes a concern to move any production kind of environment ?

[2022-02-03 16:57] muneernet opened #7540 "Surpass activity creation on OpenTelemetry.Sql.Client.Dll and Open.Teletry.Contrib.WCF"
How can we enable and disable activities on OpenTelemetry.Instrumentation.SqlClient.dll , OpenTelemetry.Contrib.Instrumentation.Wcf.dll  and custom activities in C# . Is there a way to deal with asynchronous calls too ? . The Idea is we want to enable and disable telemetry based on the user configuration might be during initialization or on runtime.

[2022-02-03 17:22] bogdandrutu commented on #7417
/cc @dashpole I think you are using this as well

[2022-02-03 17:38] dmitryax commented on #6221
Since all the utilization metrics are derived from existing ones, let's add them as optional (with `enabled: false`) in order to avoid flooding backends that don't expect them to come. Support of optional metrics provided by the [new metrics builder](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/6429). So before adding optional metrics we need to make sure that the scrap

[2022-02-03 18:00] #7531 closed

[2022-02-03 19:06] #7148 closed

[2022-02-03 19:16] Aneurysm9 commented on #7533
Yes, enabling such additional uses is the goal of creating this extension.  I don't know whether the `elasticsearch` extension currently can make use of the client authenticator extensions, but if not it should be possible to update it to do so at which point it could use this authenticator.

[2022-02-03 19:21] djaglowski commented on #5859
https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5056740168?check_suite_focus=true#step:8:16313

[2022-02-03 19:24] alexvanboxel commented on #7509
1 and 2 are valid feedback for the documentation, and I can pick this up after PR is merged... although this comment would be the same for all Google Cloud-related connectors/exporters.

On 3, the proto is already described in the documentation and has nothing todo with CloudEvents, this is only related to the headers. The proto's as payload are described here: https://github.com/open-telemetry/op

[2022-02-03 19:28] dmitryax commented on #5859
I will take a look later this week

[2022-02-03 19:38] dashpole opened #7546 "[prometheusreceiver] should handle histograms without sums"
According to the [OpenMetrics specification for histograms](https://github.com/OpenObservability/OpenMetrics/blob/main/specification/OpenMetrics.md#histogram), `_sum` metrics are not be produced by prometheus clients when there are negative observations.  ~~We should handle this case by calculating the sum of all buckets.~~ That isn't possible.  We should handle this case by leaving the sum field

[2022-02-03 19:50] #7522 closed

[2022-02-03 20:32] dashpole opened #7547 "[prometheusremotewriteexporter] exporter can send duplicate label keys on metrics"
In the PRW translation package, we keep a map of label keys to PRW labels.  However, the label key in the map [is not sanitized](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/pkg/translator/prometheusremotewrite/helper.go#L172).  Sanitization replaces invalid characters with `_`.  As a result, the following labels keys would both be sent with the PRW exporter: `host.n

[2022-02-03 20:45] #7512 closed

[2022-02-03 20:47] okashansky-mdsol opened #7548 "SumoLogic exporter panics"
**Describe the bug**
SumoLogic exporter panicked processing malformed histogram.

**Steps to reproduce**
Run a collector with the attached configuration file providing a target that exposes histogram metrics. Wait 1 minute, then stop the target.

**What did you expect to see?**
The collector is working, (optionally) SumoLogic exporter puts an error message in the log.

**What did you see instead?*

[2022-02-03 21:17] tigrannajaryan opened #7551 "Remove usage of LogRecord Name field in alibabacloudlogserviceexporter"
The LogRecord Name field [is removed](https://github.com/open-telemetry/opentelemetry-specification/pull/2271) from the specification and is [going to be removed](https://github.com/open-telemetry/opentelemetry-proto/pull/357) from the OTLP.

Please remove usage of this field in the component.

[2022-02-03 22:32] quentinmit commented on #7417
I don't think either of those proposals improves the problem with the values not adding up. I'd like to add proposal 3, fixing the set of states to exactly cover the memory on the system. If there are states that double-count memory, they should be separate metrics. Here are the non-overlapping states from Munin and how they [calculate](https://github.com/munin-monitoring/munin/blob/master/plugins

[2022-02-03 22:32] erichsueh3 commented on #7533
Design document for those interested:

https://docs.google.com/document/d/1GCT3miT8w00rOrIORgR-Etw2rrr3z5hwdqEusM8vmP0/edit?usp=sharing

[2022-02-03 23:05] william-tran commented on #7407
On second thought, the approach gave above feels like a misuse of the Resource concept. A Resource represents the thing that generated the spans, and I want those spans of the same resource to be routed to different exporters, which means creating a Resource for each destination, and this artificial resource no longer represents the thing that generated the spans.

[2022-02-03 23:19] sethAmazon commented on #7285
I'm under the assumption cortex_ingester_memory_series_removed_total is created by cortex and not a metric that is being sent to cortex then to the collector.

[2022-02-03 23:19] sethAmazon commented on #7285
Are there any flags I have to turn on in cortex to get it to emit this metric?

[2022-02-03 23:25] tigrannajaryan opened #7554 "Remove usage of LogRecord Name field in awscloudwatchlogsexporter"
The LogRecord Name field [is removed](https://github.com/open-telemetry/opentelemetry-specification/pull/2271) from the specification and is [going to be removed](https://github.com/open-telemetry/opentelemetry-proto/pull/357) from the OTLP.

Please remove usage of this field in the component.

[2022-02-03 23:25] tigrannajaryan commented on #7551
@shabicheng @kongluoxing @qiansheng91 can you help?

[2022-02-03 23:26] tigrannajaryan commented on #7554
@boostchicken can you help?

[2022-02-03 23:28] tigrannajaryan opened #7555 "Remove usage of LogRecord Name field in lokiexporter"
The LogRecord Name field [is removed](https://github.com/open-telemetry/opentelemetry-specification/pull/2271) from the specification and is [going to be removed](https://github.com/open-telemetry/opentelemetry-proto/pull/357) from the OTLP.

Please remove usage of this field in the component.

[2022-02-03 23:28] tigrannajaryan commented on #7555
@gramidt @jpkrohling can you help?

[2022-02-03 23:29] tigrannajaryan opened #7556 "Remove usage of LogRecord Name field in newrelicexporter"
The LogRecord Name field [is removed](https://github.com/open-telemetry/opentelemetry-specification/pull/2271) from the specification and is [going to be removed](https://github.com/open-telemetry/opentelemetry-proto/pull/357) from the OTLP.

Please remove usage of this field in the component.

[2022-02-03 23:29] tigrannajaryan commented on #7556
@alanwest @jack-berg @nrcventura can you help?

[2022-02-03 23:32] tigrannajaryan opened #7557 "Remove usage of LogRecord Name field in skywalkingexporter"
The LogRecord Name field [is removed](https://github.com/open-telemetry/opentelemetry-specification/pull/2271) from the specification and is [going to be removed](https://github.com/open-telemetry/opentelemetry-proto/pull/357) from the OTLP.

Please remove usage of this field in the component.

[2022-02-03 23:33] tigrannajaryan commented on #7557
@liqiangz can you help?

[2022-02-03 23:33] tigrannajaryan opened #7558 "Remove usage of LogRecord Name field in tencentcloudlogserviceexporter"
The LogRecord Name field [is removed](https://github.com/open-telemetry/opentelemetry-specification/pull/2271) from the specification and is [going to be removed](https://github.com/open-telemetry/opentelemetry-proto/pull/357) from the OTLP.

Please remove usage of this field in the component.

[2022-02-03 23:33] tigrannajaryan commented on #7558
@wgliang @yiyang5055 can you help?

[2022-02-03 23:34] tigrannajaryan opened #7559 "Remove usage of LogRecord Name field in elasticsearchexporter"
The LogRecord Name field [is removed](https://github.com/open-telemetry/opentelemetry-specification/pull/2271) from the specification and is [going to be removed](https://github.com/open-telemetry/opentelemetry-proto/pull/357) from the OTLP.

Please remove usage of this field in the component.

[2022-02-03 23:35] tigrannajaryan commented on #7559
@urso @faec @blakerouse can you help?

[2022-02-03 23:59] william-tran opened #7561 "Feature Request: include/exclude rules based matching for RoutingProcessor"
**Is your feature request related to a problem? Please describe.**

I want to route logs/metrics/spans to different exporters. The [matching](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/v0.43.0/processor/attributesprocessor#includeexclude-filtering) support for each of these types is expressive enough, but the current routing processor can only use http headers and resou

[2022-02-04 00:24] andyzhangdialpad opened #7562 "Regex support for renaming label value in metrictransformprocessor"
**Is your feature request related to a problem? Please describe.**
We are using otel-collector in our metric pipeline to Prometheus. We are trying to reduce country code label cardinality. Two operations we would like to do: 1. Turn all country codes to lower case. 2. Set some unpopular country codes to "other". It makes sense to use the [metricstransformprocessor](https://github.com/open-telemetr

[2022-02-04 07:34] gbbr commented on #7527
Hi there 👋🏻

In the screenshot you've added, I see two tags: `service.version` and `service.instance.version`. None of these are Datadog specific tags.

However, based on the code snippet you've pasted, I'll assume that you are referring to the fact that `service.version` is duplicated as `version`. I believe this is intentional because `version` is the standard version tag for Datadog, whereas `s

[2022-02-04 08:42] pmalek-sumo commented on #7407
Well I'm not sure if you've seen that but you can do just that with `attribute_source: resource`. For that matter we do that in [here](https://github.com/SumoLogic/sumologic-kubernetes-collection/blob/a7f9d26ba535b3ddd5f04ab346103ce9cf7d6adc/deploy/helm/sumologic/values.yaml#L3635-L3677)

I do agree on that.

[2022-02-04 11:14] jpkrohling commented on #7534
You made my day, thank you :-)

[2022-02-04 11:18] jpkrohling commented on #7539
Is this related to #7384?

[2022-02-04 11:20] jpkrohling commented on #7540
This is probably not the right repository for this request. It should go into one of the dotnet instrumentation repositories, like:

https://github.com/open-telemetry/opentelemetry-dotnet
https://github.com/open-telemetry/opentelemetry-dotnet-contrib

[2022-02-04 11:20] #7540 closed

[2022-02-04 11:21] jpkrohling commented on #7539
Given that this is about DLLs and not the binary, it seems like this is not the right repository for this issue. The dotnet instrumentation library repositories are:

https://github.com/open-telemetry/opentelemetry-dotnet
https://github.com/open-telemetry/opentelemetry-dotnet-contrib

[2022-02-04 11:21] #7539 closed

[2022-02-04 11:31] jpkrohling commented on #7548
cc @pmm-sumo @sumo-drosiek

[2022-02-04 11:35] #7147 closed

[2022-02-04 11:40] #7556 closed

[2022-02-04 11:43] jpkrohling commented on #7562
cc @punya

[2022-02-04 11:59] pmm-sumo commented on #7548
Many thanks for reporting and investigating it @okashansky-mdsol

@jpkrohling can you assign it to me?

[2022-02-04 13:53] jpkrohling commented on #7561
The reason for using resource attributes as the sole source of information to base the routing decision is that we assume that all related signals will share a resource attribute (service name, tenant name, ...) Span/Log/Metric attributes are specific to the data point, without relation to other data signals (otherwise, it would be more efficient to send it via resource attribute).

That said, can

[2022-02-04 13:59] jpkrohling commented on #7407
You might have the same application code deployed in two different settings, one for each tenant. The data points generated by this application are the same, except for a `tenant` set as a resource attribute. It does make sense to me to route data based on the `tenant` resource attribute.

[2022-02-04 14:44] jpkrohling commented on #7410
Can you provide me the full configuration? I still can't seem to be able to reproduce it anymore:

[code]

And this is the full config I'm using:

[code]

[2022-02-04 14:49] #7555 closed

[2022-02-04 15:17] qgervacio opened #7566 "exporter/dynatrace has invalid keys: insecure_skip_verify"
**Describe the bug**
The doc mentioned field `insecure_skip_verify` in https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/dynatraceexporter but when used the following error is thrown

[code]

**Steps to reproduce**
create a config with `insecure_skip_verify`

[code]

**What did you expect to see?**
Expected the minimal config to pass

**What did you see instead?*

[2022-02-04 15:46] jpkrohling commented on #7566
cc @dyladan @arminru

[2022-02-04 15:52] dyladan commented on #7566
I'm out until Monday but I've put this on my list

[2022-02-04 16:01] arminru commented on #7566
Thanks for reporting this @qgervacio!

The collector-wide HTTP/TLS config struct was restructured a while ago but apparently it was forgotten to reflect this in the docs.
We'll make sure to update them.

In recent version you need to nest the flag in a `tls:` section like this:
[code]
More details can be found here: https://github.com/open-telemetry/opentelemetry-collector/blob/main/config/configt

[2022-02-04 16:07] qgervacio commented on #7566
thanks all! i was about to send a PR.
https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/7567

[2022-02-04 16:15] jpkrohling commented on #6001
I'm back at this issue and there are two things here:

- the original issue about adding Severity as Loki log labels
- add client.Info.Auth metadata to data points (attributes/resources attributes)

I'm working on the first, but the second should really be part of a different issue.

[2022-02-04 16:29] anna-tran commented on #7285
Yes, "cortex_ingester_memory_series_removed_total" is a metric [emitted by Cortex](https://github.com/cortexproject/cortex/blob/master/pkg/ingester/metrics.go#L16) which the collector scrapes from our Prometheus `/metrics` endpoint. This metric should be available without needing to turn on any flags.

I'm working with @sethAmazon to try to reproduce the same setup for further debugging.

[2022-02-04 16:50] william-tran commented on #7561
We encode the service and operation name of the root span as baggage and copy that to span tags. This is done at the client by implementing wrappers against an `io.opentracing.Tracer`. There's better APIs for this in Otel, e.g. we could use a few bits of `tracestate` for a QoS value instead of baggage, and use SpanProcessor to copy that to an attribute.  But having `trace.origin.service` and `trac

[2022-02-04 17:13] jpkrohling commented on #6001
@ndrwrbgs, could you please check the linked PR (#7569) and see if that matches what you had in mind?

[2022-02-04 17:50] Aneurysm9 commented on #7562
One complication I can foresee with this is that changing a metric value may require re-aggregation.  When many country codes are reduced to `other` then the values for those metrics would need to be combined.  Since you mention Prometheus I expect that these metrics have cumulative temporality, in which case counters and histograms would need to be added together to avoid having inconsistent beha

[2022-02-04 18:08] jefchien opened #7571 "New component: AWS Kinesis Data Firehose Receiver"
## The purpose and use-cases of the new component

The receiver provides a way to ingest data from AWS Kinesis Data Firehose. AWS Kinesis Data Firehose can send just about anything given to it through the API (see [PutRecordBatch](https://docs.aws.amazon.com/firehose/latest/APIReference/API_PutRecordBatch.html)) and can be configured with a custom HTTP endpoint as the destination (see [documentati

[2022-02-04 18:30] sfc-gh-rjenkins opened #7572 "FoundationDB Trace Receiver"
## The purpose and use-cases of the new component

The [FoundationDB](https://www.foundationdb.org/) Trace Receiver will receive and process traces from FoundationDB. [FoundationDB traces](https://github.com/apple/foundationdb/blob/main/documentation/sphinx/source/request-tracing.rst) observe database transactions. A single transactions involves many steps, and traverses several RPC endpoints and

[2022-02-04 19:27] sethAmazon commented on #7285
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/datamodel.md we should always see sum as the value according to the docs since we are only seeing counter metric type for this metric

[2022-02-04 19:32] sethAmazon commented on #7285
When it is a gauge it is a delta for removed metric else it is sum of all removed

[2022-02-04 20:02] djaglowski opened #7574 "[cmd/mdatagen] Support for parsing and associated error handling"
A somewhat common pattern in scrapers involves parsing a numeric value from a string. When doing so, one should check whether the parsing operation succeeded. If it did, then a data point can be recorded. Otherwise, a partial error should be captured.

A very useful construct, `MetricsBuilder`, has recently been added to the `mdatagen` package. This has done a lot to standardize scraper code but w

[2022-02-04 20:27] sethAmazon commented on #7547
@dashpole would you recommend removing the duplicate labels or use a sanitization algo that will give a unique output?

[2022-02-04 20:29] djaglowski commented on #7574
cc: @dmitryax

[2022-02-04 20:45] dashpole commented on #7547
I'm still trying to think through it.  You can see the discussion here: https://github.com/open-telemetry/opentelemetry-specification/pull/2266#discussion_r796901839

[2022-02-04 22:09] dmitryax commented on #7574
I like the general idea.

Q about Generalized parsing:

Do we have any scrapers where we don't know a metric value type? It would mean that value is actually coming with `interface{}` type, right? Having this generalized parsing approach introduces some computational overhead, so I'm trying to understand if it's really needed.

[2022-02-04 22:25] ikhan-tc opened #7578 "[exporter/datadog] DD Exporter not registering Otel tags for all targets in prometheus scrape config"
**Describe the bug**
DD Exporter not sending host metadata for all hosts configured in prometheus receiver.

**Steps to reproduce**
1. Configure prometheus receiver scrape config with multiple static hosts.
2. Add custom tag like `app:opentelemetry` in otel-collector-config `tags` section.
3. Filter the hosts in Datadog UI with tag `app:opentelemetry`

**What did you expect to see?**
Datadog UI sh

[2022-02-04 22:47] william-tran commented on #7407
Whoops my mistake, I was looking at a private fork of opentelemetry-collector-contrib which is a bit behind.

[2022-02-05 00:59] punya commented on #7562
@Aneurysm9 you mean a metric _attribute_ value, right?

[2022-02-05 01:34] andyzhangdialpad commented on #7562
Thank you all for commenting! Really appreciate it.

@Aneurysm9  My understanding of otel collector internal is still limited so I will leave others to discuss the re-aggregation. However, I saw that rename label value is supported. https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/metricstransformprocessor#rename-label-values
[code]
Let's say I have a configura

[2022-02-05 19:38] DanTulovsky opened #7580 "metricstransformprocessor: rename metric via string substitution"
**Is your feature request related to a problem? Please describe.**
I would like to rename metrics that look like:  a.b.c to metrics that look like a_b_c.  Essentially, I need to get rid of all the periods in metric names before sending them on.

**Describe the solution you'd like**
Ability to do a string replacement on metric names.  In my case, I want to replace "." with "_".

**Describe alternat

[2022-02-06 10:18] roybh1 opened #7583 "AttributeProcessor 'from_context' does not extract from gRPC metadata"
**Describe the bug**
Extracting a field from gRPC metadata to add to spans attributes using AttributeProcessor's 'from_context' does not work

**Steps to reproduce**
Using metadata.set as described [here](https://github.com/open-telemetry/opentelemetry-js/tree/main/packages/exporter-trace-otlp-grpc)

[code]

and sending to a collector (gRPC) of the latest commit with config:
[code]

**What did you

[2022-02-06 17:02] rcrowe commented on #5847
Noticed https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5264 was raised by @Frefreak but went stale.

Does that PR satisfy the needs of this issue & worth revising? If not, what would the implementation of a `keyed producer` look like so that others can contribute?

[2022-02-06 17:49] yimipeng commented on #7398
May I ask is there any update? It has been there for a while. Appreciate inputs in advance. 😊

[2022-02-06 22:31] sethAmazon commented on #7398
You want want to post the question to https://github.com/open-telemetry/opentelemetry-collector also

[2022-02-06 23:46] yimipeng commented on #7398
Done. https://github.com/open-telemetry/opentelemetry-collector/issues/4812

[2022-02-07 00:50] Frefreak commented on #5847
Here a configurable "properties" to be keyed is wanted, but my PR only keyed the message by traceID though (intended to be used with tail-based sampling). Maybe that PR can be generalized (or make a new one) to support a pre-defined list/enum of attributes to be keyed.

[2022-02-07 01:56] liqiangz commented on #7557
Ok,  I'll deal with it in these two days.

[2022-02-07 07:32] jpkrohling commented on #7566
Just main, we don't use this anywhere to auto-generate docs at the moment.

[2022-02-07 08:56] dharmaplay opened #7585 "Different topic names for Metrics,Logs and Traces instead of default topic names"
Would like to send the telemetry data to different configured topics instead of default topic names  like default = otlp_spans for traces, otlp_metrics for metrics, otlp_logs for logs, Could you help me to send the telemetry data to configured topic names.

Thanks
Dharma

[2022-02-07 09:04] jpkrohling commented on #7580
cc @punya

[2022-02-07 09:12] jpkrohling commented on #7583
On your receiver, make sure to specify that you do want to propagate the metadata down the pipeline within the context:

[code]

https://github.com/open-telemetry/opentelemetry-collector/blob/7dcc512f268a67c0482c0fb69d82c565a0480a50/config/configgrpc/configgrpc.go#L157-L159

Feel free to reopen if this doesn't solve your problem.

[2022-02-07 09:12] #7583 closed

[2022-02-07 09:17] #6480 closed

[2022-02-07 09:18] #7566 closed

[2022-02-07 09:19] jpkrohling commented on #7585
Is this about the Kafka exporter?

[2022-02-07 09:39] dharmaplay commented on #7585
Yes

[2022-02-07 09:52] jpkrohling commented on #7585
cc @pavolloffay @MovieStoreGuy

[2022-02-07 09:57] jpkrohling commented on #7561
It makes sense, thanks for sharing that. That said, why not use those values as part of the tail-sampling decision? When it sees spans with interesting `trace.origin.service`, it automatically samples the span.

[2022-02-07 10:23] pavolloffay commented on #7585
hi @dharmaplay, did you read the configuration and tried to set the topic name?

https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/kafkaexporter#kafka-exporter

[2022-02-07 11:04] dharmaplay commented on #7585
Hi @pavolloffay , Yes gone through,  but If I want to send Metrics , Logs and traces to different topics, then don't have parameters to separate them,Example, If I want the Metrics to go Metrics-Test kafka topic , Logs to Logs-Test kafka topic and Traces to Taces-Test kafka topic, so this type of capability it does not contain. so Could you help me is my understanding is right?

[2022-02-07 11:12] xp-1000 opened #7586 "The `scrape_timeout` option is mandatory for `prometheus_exec`"
**Describe the bug**
Since https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6159 merged, the new `scrape_timeout` is available. However, it is mandatory so it breaks any existing configuration (which obviously do not define this field which did not exist before).
I think it concerns versions >= 0.42.0 but I did not see this breaking change in release notes: https://github.com

[2022-02-07 11:58] gfonseca-tc opened #7588 "Monitor message flow in kafka"
**Is your feature request related to a problem? Please describe.**
Monitoring event driven environments can be tricky. Besides the system aspects, that can be monitored using existing tools, there is also the business aspects that need more logic to be monitored. How can we follow the track of a message that goes through lots of applications and topics? How can we alert on a missing part of an eve

[2022-02-07 12:15] jpkrohling commented on #7588
@fangyi-zhou, I think you might be able to help here :-)

[2022-02-07 13:04] pavolloffay commented on #7585
I would like to hear your use case as well, why you want to override the default name.

You could achieve your requirement by defining multiple (for metrics and logs) kafka exporters and use them for in pipelines. Something like this should work:

[code]

[2022-02-07 13:15] fangyi-zhou commented on #7588
Hi :wave:

I'm a PhD student at Imperial College London, we're investigating how to OpenTelemetry and Multiparty Session Types for monitoring protocol conformance. Currently there's only a primitive prototype, but you can have a look at some [slides](https://fangyi.io/assets/slides/TelemetryWG2021.pdf) or a (possibly outdated) [writeup](https://fangyi-zhou.medium.com/checking-protocol-conformance-

[2022-02-07 14:22] gfonseca-tc commented on #7588
Wow! Pretty cool what you are doing @fangyi-zhou! I'll give a better look but it seems to cover more complex cases than what I imagined. I was thinking in a pretty straightforward approach, something like setting pairs of topics to listen and a common key to verify. The "observer" would then listen for the messages and keep track of the IDs to check if the message that passed through A reached B i

[2022-02-07 14:27] SquidDev opened #7589 "[processor/tailsampling] and policy does not work outside of composite blocks"
**Describe the bug**
I just updated to the latest commit with the intent of playing with the tailsampler's new AND polity (#6802). However, it appears the sampler is only supported within a composite sampler. From what I can tell, the `And` case only appears within the composite parser: https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/e182f5222c42cd35103ff4699706f2f641fe5b9b/

[2022-02-07 14:30] SquidDev commented on #7589
As an aside, it might be nice if the test suite also tried to create a processor with the testdata config (rather than just checking the config parses), but I'm not sure how viable that is - afraid I'm not very familiar with the codebase! :).

[2022-02-07 14:30] mplachter commented on #7410
@jpkrohling I'm going to try to get this to reproduce locally and share the config. Sorry for the delayed responses.

[2022-02-07 14:59] mplachter commented on #7410
So i tested this without the Jaeger\Zipkin receivers and now i'm getting it for `4317`...

[code]

Here is the config
[code]

[2022-02-07 15:40] gautam-nutalapati opened #7591 "Filter processor fails to omit http_client_duration metric"
**Describe the bug**
I would like to omit http metrics generated by auto-instrumentation java agent.
I am using filter to omit these metric names being pushed to prometheus.
HTTP metrics generated by java agent are not filtered as expected.

**Steps to reproduce**
- Run web application using java agent auto instrumentation (for testing, I publish a user defined metric as well)
- Run otel collector

[2022-02-07 15:46] mottibec commented on #7589
it looks like there is a test that creates the processor in `factory_test.go`, however, I'm not sure how to load the testdata, @jpkrohling any idea how that can be achieved? I'm not very familiar with the testing/config API.

[2022-02-07 16:01] dharmaplay commented on #7585
We have some standards to create topic names and already these topic names are being used by some other team, So wanted to create different topics names for each of these Metrics , Logs and Traces.
I tried below configuration but started throwing below error
`employee-service_1  | [otel.javaagent 2022-02-07 15:10:32:244 +0000] [OkHttp http://otel-collector:4317/...] ERROR io.opentelemetry.exporter

[2022-02-07 16:23] william-tran commented on #7561
Tail sampling could do it, but its a lot more resource intensive to setup [loadbalancingexporter](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/loadbalancingexporter) -> [groupbytraceprocessor](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/groupbytraceprocessor) -> [tailsamplingprocessor](https://github.com/open-telemet

[2022-02-07 16:44] pavolloffay commented on #7585
The error message seems from the Java agent. Make sure the java agent can talk to `otel-collector` hostname.

[2022-02-07 16:50] jpkrohling commented on #7591
[code]

Something doesn't add up :-)

In any case, I'm pinging the code owner: cc @boostchicken

[2022-02-07 16:54] jpkrohling commented on #7561
Indeed. I'm not against this, I think I'm actually convinced that this is a good thing to have. I'm just not sure this is the right way to go (includes/excludes). Would you be able to join the next SIG Collector meeting to discuss this with a larger crowd? I'll add this as a topic for this week's.

[2022-02-07 17:31] gurpartb opened #7593 "Filelog Receiver Blocking File Rotation"
**Describe the bug**
Otel Collector Preventing Services From File Rotation

**Steps to reproduce**
Try manually deleting a log file that Otel Collector is actively reading from.

**What did you expect to see?**
In between `poll_intervals` File Log Receiver should release the file resource and not prevent other services from deleting/ rotating files.

**What did you see instead?**
![image](https://

[2022-02-07 17:47] codeboten opened #7595 "Failing test: TestStatsReaders_Read/Interval_stats_reader_without_backfill_with_corrupted_metadata"
The following test appears to be failing, may be flaky: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5097104076?check_suite_focus=true

[code]

[2022-02-07 17:58] sukrit007wawa opened #7596 "Ability to strip headers for AWS Proxy"
**Is your feature request related to a problem? Please describe.**
If we deploy a istio (envoy) proxy in front of the collector,  the signing process fails because proxy sets x-forwarded-proto to 'http' causing a mismatch in the signing process.

Similar to aws-sig4-proxy,  we need the ability to strip out or exclude headers from signing.  See https://github.com/awslabs/aws-sigv4-proxy#examples

*

[2022-02-07 18:08] Aneurysm9 commented on #7562
Yes, an attribute value.

I'm not sure that is a valid configuration or that its results are semantically valid even if it does not fail the processor's config validation.  It's certainly possible that I'm missing something that this processor does to ensure dimension reduction and attribute value rewriting is handled correctly, but I'd want to see a design doc detailing how it is handled.  For so