[2021-03-02 16:43] gramidt commented on #2463
Thank you for reporting this, @joshuali925! I'm sorry to hear that you're experiencing issues with the example.

Could you provide the version of Docker that you're using?

[2021-03-02 16:44] gramidt commented on #2463
@bogdandrutu @tigrannajaryan - Could either of you assign this issue to me?

[2021-03-02 17:44] gillg opened #2529 "lokiexporter: Empty logs sended from otel collector"
**Describe the bug**
Otel Collector receive logs from fluent-bit, process them as batch, and export them to console + loki.
On console everything seems good, but on loki they are "empty"

![image](https://user-images.githubusercontent.com/5639241/109688772-f1596800-7b84-11eb-8c71-ea6338d0ccb2.png)
All my logs have no "body" or any attributes.

Console exporter output :
[code]

**Steps to reproduce

[2021-03-02 18:10] gillg commented on #2529
Maybe we should reuse the mechanism inspired from fluentd loki plugin.
https://github.com/grafana/loki/blob/master/cmd/fluentd/lib/fluent/plugin/out_loki.rb#L151

I have the feeling than otel doesn't sends any "OTEL Attributes" to loki.

[2021-03-02 22:02] asuresh4 opened #2532 "loadbalancingexporter: Race in unit test"
[code]

[2021-03-02 22:02] asuresh4 commented on #2532
Ran into this [here](https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/10443/workflows/b7f833d7-0ebc-47af-8d3d-ddfa756a0b54/jobs/87575).

[2021-03-02 22:46] gillg commented on #2529
Hum... I understand, FluentForward protocol seems not have a "raw" log body.
It contains only attributes, but an attribute **can** be "message" and containing the raw log.
OTEL collector take this assumption during the collect : https://github.com/open-telemetry/opentelemetry-collector/blob/73db88faef0a99dfb3317227052fea5299d52ec5/receiver/fluentforwardreceiver/conversion.go#L164

In my case, I us

[2021-03-02 23:14] rockb1017 commented on #2266
@pmm-sumo Hello, Will you be working on logging helm chart support right away? I will have some bandwidth around next week. Let me know if you would like me to take on this task.

[2021-03-03 00:22] tigrannajaryan opened #2536 "Enable k8s log collection in Otel Helm Chart."
Some requirements which I believe are important:
- Make sure documentation is updated at https://github.com/open-telemetry/opentelemetry-helm-charts/tree/main/charts/opentelemetry-collector to describe how logs work.
- Make sure the option to include/exclude Collector's own logs is clearly explained with a warning about log amplification.
- Run a perf test on a real K8s cluster with a node and som

[2021-03-03 00:23] tigrannajaryan opened #2537 "Add OTLP/JSON-format file log collection support."
This requires writing a spec for the format. See https://github.com/open-telemetry/opentelemetry-specification/issues/1443

[2021-03-03 00:24] tigrannajaryan opened #2538 "Move log receivers from contrib to core Collector repo and add to the core build."
This is to prepare declaring logging "alpha" instead of "experimental".

[2021-03-03 00:25] owais commented on #2455
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/87679

#### Test Failures
-  TestTrace10kSPS
-  TestTrace10kSPS/OTLP

[2021-03-03 00:27] tigrannajaryan commented on #2264
Let's use a milestone to track: https://github.com/open-telemetry/opentelemetry-collector-contrib/milestone/8
Closing the issue since it is no longer needed.

[2021-03-03 00:27] #2264 closed

[2021-03-03 08:59] gillg opened #14718 "fluentforward: Log body empty with some input plugins, because too arbitrary rule in place in OTEL receiver"
**Describe the bug**
FluentForward protocol seems not have a "raw" log body.
It contains only attributes, but an attribute **can** be "message" by convention in some input plugins, and containing the raw log.
OTEL collector take this assumption during the collect : https://github.com/open-telemetry/opentelemetry-collector/blob/73db88faef0a99dfb3317227052fea5299d52ec5/receiver/fluentforwardreceiver

[2021-03-03 09:01] gillg commented on #2529
FluentReceiver related issue here : https://github.com/open-telemetry/opentelemetry-collector/issues/2588

[2021-03-03 10:28] fpaparoni commented on #2476
Unfortunately I cannot use the gRPC exporter (project problems...) so the only way to connect to our Jaeger istance is to use the Thrift exporter

The problem isn't related to the exporter but to the receiver, because we have the connection problem with our client application that is trying to connect to the collector

[2021-03-03 13:29] jpkrohling commented on #2476
This sounds strange, but I'll take a look in the next few days.

[2021-03-03 15:42] pmm-sumo commented on #2266
@rockb1017 @tigrannajaryan we've been preparing to tackle #2536 with @sumo-drosiek (and we have a quite large [Helm chart we already manage](https://github.com/SumoLogic/sumologic-kubernetes-collection)) Will be more than happy to cooperate too, or do the review and focus on something else :)

[2021-03-03 19:04] joshuali925 commented on #2463
Hi @gramidt , I'm using `Docker version 20.10.2, build 2291f61`, thanks

[2021-03-03 19:10] tigrannajaryan commented on #2536
@pmm-sumo @sumo-drosiek @rockb1017 please decide who is running this and whether you will want to split this into separate tasks for several people to contribute.

[2021-03-03 19:12] tigrannajaryan commented on #2266
Notes from the SIG meeting:
1. Let's make sure we have a reliable way to exclude our own logs.
2. It would be great to put the log record in the Body as a string, instead of putting it inside a map with "log" property.

[2021-03-03 19:14] #2326 closed

[2021-03-03 19:51] rockb1017 commented on #2536
I am happy to cooperate but I will only have availability around next week. I don't want to be hindering the progress. Maybe I should take perf test task?

[2021-03-03 21:16] gramidt commented on #2463
Thank you, @joshuali925!

Upon recreating the example a fresh environment, I ran into an issue with the collector memory limiter configuration that prevented the collector from starting up. This could cause the issue that you are seeing. Could you try pulling the changes from https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/2547/files  and re-testing the example?

[2021-03-03 21:41] gramidt commented on #2529
Thank you for filing this issue, @gillg!

I can't speak to the 'fluentforwardreceiver', but I will find someone who can.

I was torn on this when implementing the exporter. Based on the collector design, it is the responsibility of the receiver to properly format the data into the format collector pipelines understand. In this particular case, we're relying on the 'fluentforwarderreceiver' to ensu

[2021-03-03 22:05] gillg commented on #2529
@gramidt Thanks for your answer, I tried to workaround at fluentbit side... But after a long battle I abandoned and decide to learn Go to make my PR ^^
In fact, there is no way to serialize all Fluent fields in one field. And the case of windows eventlog exporter is a good case of well structured log. The "log" is the serialization of all fields if we compare it with a classic text entry.
In term

[2021-03-03 22:12] gillg commented on #2290
Hello, I'm pretty according with you it could be an non default option.
But we should at least define some WhiteListed patterns to prevent missconfigs.
How do you imagine the config structure ?

Maybe it can be also a workaround for another bug I faced with lokiexporters and attributes with uppercase chars impossible to whitelist (more details here : https://github.com/open-telemetry/opentelemetry

[2021-03-03 22:28] gramidt commented on #2529
Thank you for the prompt followup, @gillg!

Hmm..I'm going to need to think through this a bit more. At this time, I feel that if manipulation is being performed to properly fill the log data it must be done within the corresponding receiver or maybe even a processor. There are cases where it would make sense to do certain transformations on the exporter side, but only when it's a requirement of t

[2021-03-03 22:29] gramidt commented on #2529
@bogdandrutu @tigrannajaryan - Could you assign this to me?

[2021-03-03 22:40] gillg commented on #2529
I'm pretty aggree, but if we consider OTEL Collector as a data pipeline, it's acceptable to have a different log to export, between the receiver and the exporter. OTEL logs are defined here : https://github.com/open-telemetry/opentelemetry-collector/blob/2a743aaa117f911976049628a926a6efead5e417/internal/data/protogen/logs/v1/logs.pb.go#L268, In my opinion, if the target (after the exporter) can ha

[2021-03-04 01:20] joshuali925 commented on #2463
Just tried it, I'm able to see logs in grafana now. Thanks a lot!

One more question on elasticsearchexporter. I tried to use the same setup for Loki logs, and here is what I got
[code]

Seems to be an issue with elasticsearchexporter itself, but I'm not very familiar with docker so I might have messed up the config somewhere. I already added the exporter to otel binary, and here is what I changed

[2021-03-04 01:50] gramidt commented on #2463
Glad you that worked for you, @joshuali925! I will have that PR merged into 'main' now.

As for the Elasticsearch exporter, I haven't used it before; however, I did notice that in your collector configuration, you're using HTTPS and I believe that the default Elasticsearch docker image uses HTTP by default. Maybe worth giving a try? If it doesn't work let's open a new issue, so that it can be easi

[2021-03-04 15:49] pmm-sumo commented on #2536
No worries. :-) @rockb1017 I think it's fine if you start it and then when @sumo-drosiek comes back from sick leave (hopefully early next week) you could cooperate. We need to enable filelog receiver and add some small improvements there before anyway (I am working on it right now)

[2021-03-04 18:44] pmalek-sumo commented on #2330
I'd be willing to work on this but I'll need some guidance on the desired direction of this.

My understanding is that there is a [`func Convert(obsLog *entry.Entry) pdata.Logs`](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/078648896a9ad5e841d6770c5333cfc095cbca9b/internal/stanza/converter.go#L25-L61)
which does the actual conversion.

If we'd like to somehow make this no

[2021-03-04 19:16] rockb1017 commented on #2536
okay sure then, i will start on it later!

[2021-03-04 20:25] BinaryHexer commented on #2375
Just as a sidenote, another way to solve the key management issue is to run two tiers of collectors (one in each namespace) and then one in a common namespace.

The tier 1 collectors can export using OTLP protocol to tier 2 collectors. And tier 2 collectors can export to datadog using datadogexporter. This way you only need to manage keys to tier 2 collectors.

[2021-03-04 20:41] #2390 closed

[2021-03-04 21:09] owais commented on #2455
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/88691

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

[2021-03-05 02:37] owais commented on #2455
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/88810

#### Test Failures
-  TestTrace10kSPS
-  TestTrace10kSPS/OTLP
-  TestTrace10kSPS/SAPM

[2021-03-05 15:05] sumo-drosiek commented on #2266
PR with performance test (more complex by now) is ready (#2564). Should I add rest of the tests to the testbed or we are fine with the more complex.
I am going to add `README.md`, example and more tests eventually in another PR, as I want to unblock helm chart development

[2021-03-05 15:19] sumo-drosiek commented on #2536
With this commit (https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/2564/commits/fb9660aaa87511ad9966dbc96f26090d503556b6) we should be fine with scraping k8s container logs

I need to make more research around using journactl in otc to scrape systemd logs

[2021-03-05 15:20] djaglowski commented on #2266
I would support adding the other scenarios as well. Since we understand there to be significant performance differences between the scenarios, it will be quite helpful for validating potential solutions. (e.g. [this issue](https://github.com/open-telemetry/opentelemetry-log-collection/issues/41))

Perhaps later we would reduce the number of tests once significant performance gaps between scenarios

[2021-03-05 15:24] tigrannajaryan commented on #2266
There is one more thing that I [listed above ](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/2266#issuecomment-785116111)that I think is very important to have:

This will be a correctness test, not a performance test.

Ideally all our k8s tests should use the same configuration (the correctness test and the performance test).

[2021-03-05 15:25] tigrannajaryan commented on #2266
I think the worst case perf test is sufficient for now, no need to add other cases.

Great, please do!

[2021-03-05 15:26] tigrannajaryan commented on #2266
Oh, I see @djaglowski wants to see perf tests for other cases as well. I don't mind if you want to do it.

[2021-03-05 15:40] owais opened #2565 "Bug report for failed CircleCI build (job: loadtest)"
Auto-generated report for `loadtest` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/88971

#### Test Failures
-  TestTrace10kSPS
-  TestTrace10kSPS/OTLP

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-03-05 16:11] jatan28 opened #2566 "StatsdReceiver: Add support for timers and histograms"
What is the timeline on adding support for timers to statsd_receiver. Also currently it seems like is in Beta, what is the timeline on getting it to a stable release?

[2021-03-05 19:26] owais commented on #2565
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/89065

#### Test Failures
-  TestTrace10kSPS
-  TestTrace10kSPS/OTLP

[2021-03-05 22:04] owais commented on #2565
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/89133

#### Test Failures
-  TestTrace10kSPS
-  TestTrace10kSPS/OTLP

[2021-03-05 23:21] owais commented on #2565
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/89173

#### Test Failures
-  TestTrace10kSPS
-  TestTrace10kSPS/OTLP

[2021-03-06 00:10] seanhoughton opened #2568 "[metricstransform] Add resource attribute to label support"
**Is your feature request related to a problem? Please describe.**
Resource attributes are not applied as labels to metrics (at least not for the prometheus or stackdriver exporters). Examples include node name, username, pod name, k8s namespace, and other common resource attributes which users may wish to differentiate in metrics analysis tools.

**Describe the solution you'd like**

I would like

[2021-03-08 16:47] WPH95 commented on #2528
Progress Update
1. some working https://github.com/WPH95/opentelemetry-collector-contrib/pull/216, wait for #2482 merged
2. syslog tcp test is fine, btw udp test met some trouble(performance 80%cpu/4000+ req, 50%cpu/10000 with other test). I'm working on to find reason (perhaps syslog_input udp_server have some problem

[code]

[2021-03-08 17:19] owais opened #2610 "Bug report for failed CircleCI build (job: loadtest)"
Auto-generated report for `loadtest` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/89865

#### Test Failures
-  TestTrace10kSPS
-  TestTrace10kSPS/SAPM

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-03-08 19:01] owais commented on #2610
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/90210

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/filelog

[2021-03-09 05:20] F21 opened #2621 "[exporter/newrelic] instrumentation.provider attribute is missing"
**Describe the bug**
According to the opentelemetry spec for new relic, there should be an `instrumentation.provider` attribute:https://github.com/newrelic/newrelic-exporter-specs/blob/master/opentelemetry/OpenTelemetry-Spans.md

This appears to be missing in the exporter and spans sent to new relic are missing this attribute.

**Steps to reproduce**
1. Instrument an app (I used the Go SDK)
2. Poi

[2021-03-09 13:27] sumo-drosiek commented on #2332
@WPH95 Do you need some help?

I made some research around using `journald_input` and this plugin requires `journalctl` binary to work. As this was my major concern I prepared Dockerfile which includes journalctl. This is made on the top of debian and `make docker-otelcontribcol`

[code]

I believe this can be useful

[2021-03-09 15:28] mx-psi commented on #570
Hi, are there any updates on this issue?

[2021-03-09 16:13] owais commented on #2610
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/91099

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

[2021-03-09 16:19] jpkrohling commented on #2476
I got to reproduce the error message you got but turns out, it's indeed what I mentioned before:

Changing the `url` in your example to include `/api/traces` made it work for me. Here's my YAML:

[code]

I used the [opentelemetry-generate-span-java](https://github.com/observatorium/opentelemetry-generate-span-java) example, changing from the OTLP exporter to Jaeger. Jaeger was then started with: `

[2021-03-09 16:19] #2476 closed

[2021-03-09 16:20] jpkrohling commented on #2476
Feel free to reopen if adding the path to the URL does not solve your problem.

[2021-03-09 20:12] rockb1017 commented on #2536
oh cool. thanks for sharing your work!

I have a general question. Should logging be in the same daemonset with traces and metrics or should it deploy another daemonset ? Reasons and benefits of splitting them are:
* logging daemonset need to be run as root user.
* it must be daemonset, it can't be standalone deployment.
* any failures in logging pod doesn't hinder collection of the metrics and tr

[2021-03-09 21:30] dashpole commented on #2536
I'm not very familiar with the current state of the helm chart, but i'd probably combine them, as long as the collector is being run as a daemonset.  If it isn't, then you'd have to separate them.

[2021-03-09 21:43] pmm-sumo commented on #2536
Thank you @dashpole!
My feeling is that maybe we should start with the simplest (which I believe is single daemonset for all 3 signals) and if that's not sufficient split it

[2021-03-09 21:46] rockb1017 commented on #2536
I will first implement it in combined method. maybe later we can separate them if needed.

I have another question.
Why are we mapping hostPorts by default?  https://github.com/open-telemetry/opentelemetry-helm-charts/blob/4e7490331219a5561834b59ba3de7ac9c70bd0bf/charts/opentelemetry-collector/values.yaml#L105
these ports can be accessed via Service IP address from all pods. I think it shouldn't u

[2021-03-10 02:05] WPH95 commented on #2332
Thank you for your helpful message. I'm waiting for the Syslog receiver to finish and start doing the journal, and this tip is very useful for me.

by the way, I'm thinking about opentelemetry-log-collection use `journalctl` binary directly maybe is not a good way, maybe use https://github.com/coreos/go-systemd/ is a good way. (will discuss it in opentelemetry-log-collection

[2021-03-10 07:53] rockb1017 commented on #2536
Users need to apply different multiline concat configuration `line_start_pattern` for each container.
Can I get some help? documentation is not clear. it seems i need to define a new file to tail in order to apply multiline concatenation.
https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/filelogreceiver
https://github.com/open-telemetry/opentelemetry-log-collecti

[2021-03-10 08:21] sumo-drosiek opened #2628 "Clarify kubernetes logs attributes names"
There are some attributes for kubernetes container logs, which can be useful (or not) and doesn't have naming convention so far:
 - stream (either stdout or stderr) which can be used for example for keeping only stderr logs
 - run_id - I don't know proper name of this attribute. This is run number of container (pods? maybe) (starts from 0 and it's increased with every container restart). This is n

[2021-03-10 08:25] sumo-drosiek commented on #2536
@rockb1017 you can use main branch or `0.22.0`docker image: https://hub.docker.com/layers/otel/opentelemetry-collector-contrib/0.22.0/images/sha256-8f92c311a3b330d74de0628df2600d97d4c890e49fd260341a6c3320e2b89a37?context=explore

[2021-03-10 17:17] rockb1017 commented on #2536
`k8s_metadata_decorator` operator is not working?
[code]

I added this operator at `receiver.filelog.operators`
[code]

[2021-03-10 18:22] sumo-drosiek commented on #2536
@rockb1017
I meant, this is already merged in current main. I have not been investigating why it is not working for you

I suppose we should use otelcol processor for metadata enrichment. Thats why I didn't add it to the PR. WDYT?

[2021-03-10 20:10] rockb1017 commented on #2536
You mean this https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/k8sprocessor
but not this ? https://github.com/open-telemetry/opentelemetry-log-collection/blob/main/docs/operators/k8s_metadata_decorator.md

is there any reference of using the otelcol processor for metadata enrichment?

[2021-03-10 20:15] gavindoudou commented on #2566
I am working on it now. The counter and gauge are already stable.

[2021-03-10 20:20] gavindoudou commented on #2566
We plan to finish in May this year.

[2021-03-10 20:53] pmm-sumo commented on #2536
I think a good start might be looking at the [sample config.yaml](
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/processor/k8sprocessor/testdata/config.yaml). More details on the [package docs site](https://pkg.go.dev/github.com/open-telemetry/opentelemetry-collector-contrib/processor/k8sprocessor)

One caveat - the processor expects that attributes (such ad pod UID)

[2021-03-10 21:23] rockb1017 commented on #2536
Can i get some guide on this as well?

[2021-03-11 00:11] rockb1017 commented on #2536
@sumo-drosiek @pmm-sumo
I looked at otelcol processor for metadata enrichment. it doesn't seem to have any caching implemented. It will end up causing too many API calls to k8s_apiserver pod, and it end up harming k8s cluster.
Can we just use `k8s_metadata_decorator` from stanza?
https://github.com/open-telemetry/opentelemetry-log-collection/blob/main/docs/operators/k8s_metadata_decorator.md

[2021-03-11 07:03] pmm-sumo commented on #2536
Each Pod update/create/delete event results in handling an event which actually [updates the cache](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/processor/k8sprocessor/kube/client.go#L115-L147) within the k8s processor

Additionally, when ran as a DaemonSet, [node filtering](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/processor/k8sproc

[2021-03-11 07:05] pmm-sumo commented on #2536
That's a good question. My feeling is we should aim at having one way achieve given goal. The `k8sprocessor` could also be shared with traces and metrics

[2021-03-11 07:06] sumo-drosiek commented on #2536
I see one issue with using multiline: logs in container logs are with additional information like `date, `stream`, so for given printed logs:

[code]

the log file will have following content
[code]

So, because of that it would be nice to perform multiline detection after parsing log lines. I don't know if this is possible with current capabilities.

I would focus on simple (no multiline, no merg

[2021-03-11 07:42] rockb1017 commented on #2536
@sumo-drosiek
agree that it is best to handle that with separate issues/PR
@pmm-sumo oh so caching IS implemented. okay then I no longer have problem using `k8sprocesser` Thanks!

[2021-03-11 08:01] pmm-sumo commented on #2536
BTW, we have a [bummer](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/2635) on `groupbyattrsprocessor` - it was merged into wrong branch previously and in effect it's not part of the build yet (nor part of v0.22.0)

[2021-03-11 10:27] BinaryHexer opened #2636 "tailsampling processor: Add support for logs"
**Is your feature request related to a problem? Please describe.**
Allow logs to be sampled based on the same logic as traces (grouping by traceID) to enable tail sampling for distributed logs for requests spanning multiple services.

**Describe the solution you'd like**
Add implementation for the `component.LogsProcessor` interface to the existing `tailsamplingprocessor`.

**Describe alternatives

[2021-03-11 12:43] #955 closed

[2021-03-11 16:39] owais commented on #2610
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/91991

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

[2021-03-11 17:04] lchayoun opened #2651 "[exporter/datadog] Log exporter support"
What are the plans for exporting logs to DataDog?

[2021-03-11 17:42] rockb1017 opened #2653 "SplunkHecExporter: ability to set fields from data for source, sourcetype, and index"
**Is your feature request related to a problem? Please describe.**
In a situation where user is ingesting container logs from k8s, user would like to set a dynamic `source`, `sourcetype`, and `index` from record itself. But the `SplunkHecExporter` only accept static value for these fields.
https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/splunkhecexporter
A lot

[2021-03-11 18:03] bonclay7 opened #2654 "AWS prometheus metrics exports to cross account destinations"
**Is your feature request related to a problem? Please describe.**
Right now, the collector can not send metrics to AWS resources in another account.

**Describe the solution you'd like**
Provide the ability to specify a role which could be in the same or another account. The collector would assume the role, provided enough local permissions and send metrics with those assumed credentials.

**Desc

[2021-03-11 18:36] rockb1017 opened #2655 "Log: multiline concatnation"
**Is your feature request related to a problem? Please describe.**
When a user is ingesting k8s container logs, user would need to specify multiline concat rules (either `startline_regex` or `endline_regex`) for each container differently.
example of java stacktrace is here:
[code]
but in a container runtime, it would be something like this: (ie docker json log)
[code]
It is much easier for users

[2021-03-11 21:05] tigrannajaryan commented on #2566
Collector maintainers are focused on making the [GA release](https://github.com/open-telemetry/opentelemetry-collector/blob/main/docs/ga-roadmap.md). However if there is an easy to read PR that does not require a lot of time to review we will review it.

[2021-03-11 21:18] pmalek-sumo commented on #2330
I've prepared something that might address this issue in https://github.com/SumoLogic/opentelemetry-collector-contrib/tree/issue-2330-improved-logs-translation

Compare across forks: https://github.com/open-telemetry/opentelemetry-collector-contrib/compare/main...SumoLogic:issue-2330-improved-logs-translation

@djaglowski  If this is more or less the direction we'd like to this in I can add some t

[2021-03-12 03:11] rockb1017 commented on #2536
I am implementing k8s enrichment into pipeline.
this is the entire generated configmap.
[code]

but my pod fails with this message
[code]
can i get some help?

[2021-03-12 03:48] rockb1017 commented on #2536
When i disable enrichment and just try to send data to splunk, I am getting this error
[code]

Same thing when i try `/services/collector/event` endpoint
[code]

When i do curl from the same node, it works
[code]

[2021-03-12 06:15] rockb1017 commented on #2536
anyways, here is my progress so far. couldn't get it to successfully ingest to splunk.
https://github.com/rockb1017/opentelemetry-helm-charts/commit/30094a5fe90d4c0e1b912795ce2649bdfbfbc840

[2021-03-12 15:01] djaglowski commented on #2330
@pmalek-sumo This is more or less what I was expecting. Looks like a great start.

[2021-03-12 17:03] neplooho opened #2674 "Elasticsearchexporter not working"
**Describe the bug**
_**if enabled**_, elasticsearchexporter fails on method pushLogsData
**Steps to reproduce**
add elasticsearchexporter to components and configure pipeline with i.e. filelog receiver and elasticsearch as exporter, (logging exporter optional)
**What did you expect to see?**
I expected elasticsearchexporter to push data it received from filelog receiver into elastic
**What did yo

[2021-03-12 18:50] pcwiese commented on #1163
@LouisStAmour have you made progress on these? Anything to share?

[2021-03-12 19:03] ericmustin opened #2676 "[exporter/datadog] 413 payload too large errors"
**Describe the bug**

We've noticed that bc there is no truncation of span attributes (or datadog tags) at the collector-contrib datadogexporter, occasionally payloads get rejected for being excessively large. It would make sense to apply the same truncation logic/limits that occurs in the datadog-agent repository: https://github.com/DataDog/datadog-agent/blob/e081bed84866686eeab56a98da5ff9b4b9f03

[2021-03-12 19:31] ericmustin commented on #2651
@lchayoun 👋 Hey, thanks for asking about this. Datadog 100% plans to support OpenTelemetry Logging, and in general all the telemetry from OpenTelemetry. Currently, OpenTelemetry Logs and the Log Data Model are marked as `experimental` according to the specification, https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/logs/data-model.md and, as far as I know, subje

[2021-03-12 19:32] ericmustin commented on #2353
@dustyhorizon one more ping here, any chance you've been able to review the above?

[2021-03-12 19:33] ericmustin commented on #2375
@BinaryHexer indeed, ty for highlighting that. And for anyone who may find this thread, we suggest this approach for k8s environments: https://docs.datadoghq.com/tracing/setup_overview/open_standards/#kubernetes

[2021-03-12 19:41] ericmustin commented on #1852
@boostchicken i apologize for the delay here. This fell through the cracks for me, as a few other more urgent issues arose this quarter. i'm sorry about the drop in communication though, that's just a mistake on my part.

Circling back, unfortunately at this time I don't believe we plan to prioritise contributing or maintaining a receiver in the opentelemetry-collector. I believe our next focus wi

[2021-03-12 20:51] LouisStAmour commented on #1163
I've used my branch of the collector successfully for telemetry, but haven't updated it yet from 0.13 to a more modern codebase. Also I don't yet have tests written for the new functionality.

I'm not yet using the Go client so it's harder to integrate usage testing for metrics and logging but I've plans over the next month or two to expand internal usage of metrics and log reporting.

But my bran

[2021-03-12 21:03] LouisStAmour commented on #1163
@pcwiese Silly me, I forgot to share a link. It's at https://github.com/LouisStAmour/opentelemetry-collector-contrib/tree/azure-events-v0.13.x or https://github.com/users/LouisStAmour/packages/container/opentelemetry-collector-contrib%2Fotelcontribcol/354909 as a Docker image, but expects a 0.13 config file.

[2021-03-12 23:32] breedx-splk opened #2685 "SplunkHecExporter: Add support for LogFormat.name field"
The [Splunk HEC Exporter](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/splunkhecexporter) supports logs, but conversion of `pdata.LogRecord` into the `splunk.Event` does not pass along the `name` field.  Right now, it appears that `LogRecord.name` is just dropped on the floor.

This field is optional in the spec, but if a user provides one it's probably need

[2021-03-13 00:27] owais commented on #2610
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/92818

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

[2021-03-15 13:02] astencel-sumo commented on #2536
Folks, here's my update on https://github.com/open-telemetry/opentelemetry-helm-charts/pull/36:

- Switched to setting `agentCollector.containerLogs.enabled` to `false` by default,
- Switched back to using core collector image in the chart,
- Added docs on how to enable container log collection,
- Added docs on the warning of looping logs from exporter back into receiver,
- Changed `file` exporter

[2021-03-15 14:11] morigs commented on #1797
Talking about sampling logic. How does `attributesamplingprocessor` relate to the existing `filterprocessor` (except this one doen't support traces yet)?
I believe `filterprocessor` sound better in terms of sampling decision logic because it allows to use `expr` expressions. This is very flexible way in opposite to `numeric_attribute` and `string_attribute`. It allows to describe complex logic whi

[2021-03-15 14:51] pmalek-sumo commented on #2330
I've created https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/2694 as a proposal for this issue.

Current implementation allows configuration via 2 knobs:
* `flush_trigger_count` - amount of entries aggregated so far in current batch. If this is exceeded then a flush of (all aggregated) log entries will be scheduled
* `flush_interval` - an interval at which flushes will be sc

[2021-03-15 15:08] owais commented on #2610
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/93313

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

[2021-03-15 16:01] jpkrohling commented on #1797
Sounds like a good contender as well!

[2021-03-15 16:44] bonclay7 commented on #2654
Closing this as the associated PR has been merged

[2021-03-15 16:44] #2654 closed

[2021-03-16 06:24] morigs commented on #1797
I would like to suggest splitting this roadmap into multiple issues with a detailed and definite description of the implementation. This would allow engaging more contributors

[2021-03-16 08:21] jpkrohling commented on #1797
I think the main problem right now is that we don't have a clear answer on whether multiple processors will provide a similar performance when compared to the current solution. I *think* it might, and I'm running some tests to assess it: https://github.com/jpkrohling/groupbytrace-tailbasedsampling-perf-comparison . Rigth now, I'm waiting on https://github.com/cncf/cluster/issues/167 to get more re

[2021-03-16 10:49] morigs commented on #1797
Okay, now I better understand the idea. Indeed `cascadingfilterprocessor` as well as existing `tailsamplingprocessor` are too complex and not very flexible at the same time. I believe the composition of multiple processors like @tigrannajaryan mentioned is a better way. The only question here is how to perform rate-limiting similarly to the `cascadingfilterprocessor` proposal. When you need to app

[2021-03-16 15:49] tigrannajaryan commented on #2651
@ericmustin correct, logs are not ready for production use. However we encourage people to try logs and give us feedback. Implementing a log exporter is a good way to validate if the data model works for DataDog and if not what you want to be different.

[2021-03-16 15:56] kisieland opened #2710 "Missing `host.name` label in googlecloud exporter"
**Describe the bug**
When using a googlecloud exporter as a time series sink the `host.name` label is lost.

**What did you expect to see?**
A `host.name` label in metrics exported to the Google Cloud.

**What did you see instead?**
The metrics were exported without the said label, rendering them unusable.

**What version did you use?**
0.22.0

[2021-03-16 16:00] tigrannajaryan commented on #2536
I agree. @rockb1017 if you have additional improvement suggestions please make them in https://github.com/open-telemetry/opentelemetry-helm-charts/pull/36 or alternatively you can create a new PR on top of https://github.com/open-telemetry/opentelemetry-helm-charts/pull/36 (the later is probably preferable to avoid delaying the first PR).

[2021-03-16 16:43] rockb1017 commented on #2536
oh i see. I will create PR on top of #36.

[2021-03-16 16:45] hansh0801 commented on #141
I am currently using this processor to map deployment data from istio's sidecar trace data. I would be very happy if it supports statefulset and daemonset other than deployment.

[2021-03-16 17:07] pmm-sumo commented on #141
What we ended up with (at least for now), was having a custom changeset that provides some of this capabilities (and few others) on top of existing processor. It's not the highest priority, but we would like to move some of those changes back to the main version (the scope of the changes was not accepted previously, so we would need to redo it in a more efficient way). But, if that helps, you coul

[2021-03-16 18:07] #2331 closed

[2021-03-16 18:31] tigrannajaryan commented on #2628
Note that names like `stream` and `run_id` are not compliant with Otel spec recommendations: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/common/attribute-and-label-naming.md

We need to put them in some reasonable namespaces, I don't think they can be top-level fields.

[2021-03-16 20:06] tonglil commented on #2353
We noticed this issue today when running the collector locally.

Will try to gather some data and post back.

[2021-03-16 20:11] ericmustin commented on #2353
@tonglil thanks Tony, that would be super appreciated. If there is the potential for sensitive PII in any info please feel free to share via a support ticket w/ support@datadoghq.com, and mention this issue+me on the ticket, then share the ticket number here ( im also on the cncf slack).

[2021-03-16 21:28] rockb1017 opened #2718 "SplunkExporter- can't get it to ingest logs. context deadline timeout"
**Describe the bug**
I am tailing k8s logs and trying to ingest them to splunk.

**Steps to reproduce**
build image from `main` branch.
deploy daemonset with below config:
[code]
**What did you expect to see?**
See data in Splunk

**What did you see instead?**
No data but this error messages
[code]
This is pod's whole log message
[code]
**What version did you use?**
0.22.0

**What config did you u

[2021-03-16 21:29] rockb1017 commented on #2718
testing the splunk hec itself works well.
[code]

[2021-03-16 21:40] rockb1017 opened #2719 "k8sprocessor: cannot parse config `* '' has invalid keys: pod_association`"
**Describe the bug**
the agent fails to parse configuration for k8s processor.

**Steps to reproduce**
run collector with below config.

**What did you expect to see?**
for it to work.

**What did you see instead?**
pod fails with this error message
[code]

**What version did you use?**
0.22.0

**What config did you use?**
Config:
[code]
**Environment**
docker
compiler: go version go1.15.5 darwin/

[2021-03-16 21:41] rockb1017 commented on #2536
Created a bug report on `k8s_tagger`
https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/2719

[2021-03-17 09:08] pmatyjasek-sumo commented on #2719
Hey @rockb1017 I've checked your scenario on versions `0.22.0` and `0.21.0`. Version `0.22.0` worked properly.
On `0.21.0` I've got this error:
[code]
It is caused that `pod_association` config key was introduced in `0.22.0`. Could you please double check version of collector in your container?

[2021-03-17 10:34] hossain-rayhan opened #2722 "Design: proposing new metricsgenerationprocessor"
**This project supports an important requirement for EKS Fargate Container Insights metrics**

**Doc update history**
Issue Created: 03/17
1st update: 04/28
2nd update: 05/05

**SIG meeting discussion**
1st discussion: SIG meeting 03/17
- Initial design review and the proposal was welcomed!
- Told to explore Prometheus Recording rules

2nt discussion: SIG meeting 03/24
- Prometheus recording rules

[2021-03-17 12:29] lchayoun commented on #2651
@ericmustin Thank you for the response!
The reason I proposed it is in order to start and test it at scale and provide feedback.
I'll be more than happy to try it even at an early stage.

We are currently working with the collector and DataDog exporter at large scale for metrics and traces.

[2021-03-17 13:37] tigrannajaryan opened #2725 "filelog: Allow placing attributes into Resource instead of LogRecord"
All attributes extracted/parsed by filelog receiver currently go into LogRecord. It would be nice to be able to specify that some attributes should be populated into Resource.

This can be useful for example for k8s log collection where we want to put k8s attributes such as k8s.pod.name into the Resource. See e.g. https://github.com/open-telemetry/opentelemetry-helm-charts/pull/38#discussion_r5959

[2021-03-17 13:38] tigrannajaryan commented on #2725
@djaglowski FYI, this would be a useful addition to filelog.

[2021-03-17 13:51] #2536 closed

[2021-03-17 14:46] MacNale opened #2726 "ElasticExporter README does not mention TYPE of telemetry supported"
**Describe the bug**
ReadMe does not mention whether exporter support - Metrics/Traces/Logs or all.

**Steps to reproduce**
NA

**What did you expect to see?**
A clear documentation

**What did you see instead?**
Ambiguous mention of APM.

[2021-03-17 17:01] owais opened #2728 "Bug report for failed CircleCI build (job: loadtest)"
Auto-generated report for `loadtest` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/94325

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-03-17 17:15] tigrannajaryan commented on #2628
Seems like `run_id` can belong to `container.*` Otel semantic conventions namespace.

[2021-03-17 18:10] seanhoughton opened #2730 "[googlecloud] Unable to map host.name resource labels to google resource labels"
**Describe the bug**

The `host.name` resource attribute is automatically removed from the set of resource labels and is therefore not available for mapping. Multiple Google resource types require a `node_id` label to be populated and the `host.name` attribute is a prime candidate for mapping here.

**Steps to reproduce**

Create a `googlecloud` exporter with the following configuration and send m

[2021-03-17 19:26] tigrannajaryan commented on #2628
I can't find the concept of run id in K8s docs. Does anyone have a link?

[2021-03-17 19:30] tigrannajaryan commented on #2266
I believe this is now done. Any additional requests can be filed as new issues. Closing this.

[2021-03-17 19:30] #2266 closed

[2021-03-17 19:59] djaglowski commented on #2725
This should be possible today, if my understanding is correct.

The [Entry](https://github.com/open-telemetry/opentelemetry-log-collection/blob/eb3a760bcf631b101c266fa0505c47a4d24d156b/entry/entry.go#L44) struct in `log-collection` has both a `Resource` and an `Attributes` map. The intention, as I understand it, is to translate [Resource into Resource](https://github.com/open-telemetry/opentelemet

[2021-03-18 00:14] gavindoudou opened #2732 "Change OpenCensus type to OpenTelemetry type in StatsD receiver"
**Is your feature request related to a problem? Please describe.**
StatsD receiver is using OpenCensus data type, we need to migrate to OpenTelemetry data type.

**Describe the solution you'd like**
Use OpenTelemetry data type.

[2021-03-18 03:15] scumpah opened #2735 "lokiexporter container failing to start"
Pulling otel-collector (otelcontribcol:latest)...
           **ERROR: pull access denied for otelcontribcol, repository does not exist or may require 'docker login': denied: requested
           access to the resource is denied**

Update:
              Found **otel/opentelemetry-collector-contrib:latest**  and is working fine so I am guessing maybe the example image is not updated to the latest??

[2021-03-18 03:16] scumpah commented on #2735
Config:

Docker version 20.10.3
Macbook Pro M1

[2021-03-18 03:26] scumpah commented on #2735
Update: Docker build failed as well

 => ERROR [build 4/4] RUN make otelcontribcol                                                                                                                        218.2s
------

#14 94.31 GO111MODULE=on CGO_ENABLED=0 go build -o ./bin/otelcontribcol_linux_arm64 \
#14 94.31       -ldflags "-X github.com/open-telemetry/opentelemetry-collector-contrib/internal/v

[2021-03-18 06:38] sumo-drosiek commented on #2628
I did some research around it and see some references in code as `instance number` [link](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.pb.go#L1091) or `container instance` [link](https://github.com/kubernetes/kubernetes/blob/master/vendor/github.com/google/cadvisor/container/crio/handler.go#L123)

Didn't find anything useful in documentati

[2021-03-18 12:25] georlav commented on #2327
@kisieland i think you referenced this issue by mistake  ?

[2021-03-18 15:32] sumo-drosiek commented on #2628
Also, we won't be able to ensure that container_id taken by enrichment is truly the container id related to container instance (as container can be restarted meantime)

[2021-03-19 00:33] #2732 closed

[2021-03-19 07:18] hansh0801 commented on #141
Thank you very much ! When will the code (https://github.com/SumoLogic/opentelemetry-collector-contrib/tree/main/processor/k8sprocessor) be upstreamed to otel-contrib main code?

[2021-03-19 08:17] pmm-sumo commented on #141
Thanks @hansh0801 This is a bit complex, you can refer to the [original discussion](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/142#issuecomment-614586154) on that for context.

We started working on a [reimplementation](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/1167) using a more lightweight approach, but hit several issues, such lack of agr

[2021-03-19 11:45] albertteoh opened #2772 "Error: "http.method" is not a valid label name for metric"
**Describe the bug**

Running Otel-collector from v0.22.0 with `spanmetrics` processor enabled in a trace pipeline results in errors and no metrics exported.

**Steps to reproduce**
Run Otel-collector with `spanmetrics` processor in a trace pipeline, then send traces containing span tags with periods `.` in them like `span.kind` or `http.method`.

**What did you expect to see?**
No error.

**What

[2021-03-19 13:11] mx-psi opened #2773 "System resource detection on containerized Collector"
**Is your feature request related to a problem? Please describe.**

When running the containerized OpenTelemetry Collector, it is useful to have visibility into the host machine information, both for infrastructure monitoring and for enriching metadata on telemetry signals. The existing general-purpose system resource detector does not cover this use case since it only provide information about th

[2021-03-19 14:50] tigrannajaryan commented on #2287
See discussion about a suggested approach here https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/2716#issuecomment-800598560

@djaglowski since adding the storage to the core can take some time, I suggest that we implement the centralized generic storage as an extension first. We will iron out the interface and the desired functionality on this extension and once we are certai

[2021-03-19 14:57] djaglowski commented on #2287
I think this makes a lot of sense.

I should have a design doc ready on Monday, and will begin implementing the extension from there.

[2021-03-19 16:20] tigrannajaryan commented on #2332
Yes, preferably we should not have a dependency on an external binary. (Is `journalctl` guaranteed to be available on any system that uses journald?)

However, we need to consider whether https://github.com/coreos/go-systemd/ is mature enough and how much more work it would be to use it instead of the existing opentelemetry-log-collection solution.

[2021-03-19 16:24] rockb1017 commented on #2719
So it should work when i build the docker image from `main` branch, yeah?
using `make docker-otelcontribcol`

[2021-03-19 16:24] rockb1017 commented on #2718
it turns out that i don't have access to internet from my container. closing this.

[2021-03-19 16:24] #2718 closed

[2021-03-19 19:49] djaglowski opened #2791 "Flaky Test - sumologicexporter.TestPushFailedBatch"
Failing in CI, example [here](https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/95575?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link)

[code]

[2021-03-19 19:53] djaglowski opened #2792 "Flaky Test - awsemfexporter.TestIntDataPointSliceAt"
Failing in CI, example [here](https://app.circleci.com/pipelines/github/SumoLogic/opentelemetry-collector-contrib/1582/workflows/376f9b5f-6477-4f6e-bc77-2547379d66f3/jobs/13227)

[code]

[2021-03-19 22:48] albertteoh opened #2796 "[spanmetricsprocessor] Default latency buckets to include timeout periods"
**Is your feature request related to a problem? Please describe.**
Based on [IETF's document on HTTP timeouts](https://tools.ietf.org/id/draft-thomson-hybi-http-timeout-00.html), timeouts are typically implemented with a range of 30-120s.

As such, to avoid situations where latencies fall into the "everything else" bucket of a couple of hundred years, I think it would make sense to support timeout

[2021-03-19 23:52] rockb1017 commented on #2725
@djaglowski Do you mean something like this in the operators?
[code]

[2021-03-20 00:10] owais commented on #2728
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/96028

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

[2021-03-20 01:44] #2470 closed

[2021-03-20 01:53] owais commented on #2728
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/96100

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

[2021-03-20 12:12] djaglowski commented on #2725
@rockb1017 Yes, that's the general idea.

For the specific case mentioned by Tigran, I believe the important part would be:

[code]

[2021-03-22 04:13] rockb1017 commented on #2719
yea it works now. Thank you!

[2021-03-22 04:13] #2719 closed

[2021-03-22 04:21] rockb1017 opened #2799 "SplunkHecExporter doesn't ingest Resources"
**Describe the bug**
ResourceLog's Resource labels are not ingested but only Attributes.
I am ingesting this log
[code]
**Steps to reproduce**
read container logs using `fileread` and enrich it with `k8s_tagger` then export using SplunkHecExporter

**What did you expect to see?**
See log data with both attributes and resource labels.

**What did you see instead?**
![image](https://user-images.gith

[2021-03-22 15:30] #2710 closed

[2021-03-22 15:39] owais opened #2816 "Bug report for failed CircleCI build (job: loadtest)"
Auto-generated report for `loadtest` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/96440

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-03-22 15:58] tigrannajaryan commented on #2792
@anuraaga @shaochengwang @mxiamxia can you please have a look as codeowners? It is causing CI build failures.

[2021-03-22 19:38] owais commented on #2816
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/96584

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

[2021-03-22 19:49] djaglowski commented on #2287
@tigrannajaryan I've compiled our discussion and a small number of additional details into a [design doc](https://docs.google.com/document/d/1So5TGoLBRcukUWtpS8dN-K7_Y6DvBychzewUkfbKw2w/edit?usp=sharing).

There are a few areas which likely still need more input, but I think we have enough clarity that I can get started on an initial implementation tomorrow.

[2021-03-22 20:26] rockb1017 commented on #2725
yea I confirm that it is working for preping data for k8sprocessor. I was able to get it enriched with label data.

[code]

[2021-03-22 20:28] djaglowski commented on #2725
Thanks for confirming @rockb1017.

Closing this.

[2021-03-22 20:28] #2725 closed

[2021-03-23 06:19] albertteoh opened #2829 "[spanmetricsprocessor] Counter metrics missing _total suffix"
**Describe the bug**
Previously, `spanmetrics` processor would output the "calls" metrics with the name: `calls_total` to follow the [metrics naming convention used by Prometheus](https://prometheus.io/docs/practices/naming/#metric-names).

However, we have recently discovered this is no longer the case and the metric name is now `calls` instead.

**Steps to reproduce**
Run otel-collector-contrib

[2021-03-23 14:00] #2792 closed

[2021-03-23 14:08] owais commented on #2816
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/97116

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

[2021-03-23 17:44] tigrannajaryan commented on #2287
@djaglowski the design LGTM. Can you please circulate it more widely and ask for comments/reviews?

[2021-03-23 20:45] tigrannajaryan commented on #2799
This requires converting Resource attributes to HEC fields somewhere here https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/fef5054d8c4cf82e1dfe0525894f24312687e921/exporter/splunkhecexporter/logdata_to_splunk.go#L32

[2021-03-23 23:14] rakyll opened #2835 "Add an S3 exporter"
Various Otel users want to export raw telemetry data for long-term storage and analysis. We should add an S3 exporter that exports the incoming OTLP data points to sharded S3 objects in a bucket. Sharding can be done per telemetry type (metrics, traces, logs) and time (window to be configured by the user). Also we can consider serializing into Ion at the collector optionally.

(You can assign this

[2021-03-23 23:27] yeya24 commented on #2772
Haven't tested but has this issue fixed by https://github.com/open-telemetry/opentelemetry-collector/pull/2707?

[2021-03-24 00:27] anuraaga commented on #2835
@rakyll What format are you thinking for storage? There's some discussion on https://github.com/open-telemetry/opentelemetry-specification/issues/1443 but I don't think we have a good format defined for stored traces yet.

[2021-03-24 00:30] yeya24 commented on #2829
Hi, I am trying to help fix this issue but I am a little bit lost.
Do we just want to handle the remote write exporter case?  If we set `IsMonotic=true`, then `_total` suffix will be added to that metric when exporter is `prometheusremotewrite`. However, the `prometheus` exporter still just exports `calls` instead of `calls_total`.

Do we want the naming to be consistent here? If we want, we still

[2021-03-24 00:39] bogdandrutu commented on #2835
This can also be a plugin for fileexporter correct? It is just that you write into a remote "file".

[2021-03-24 00:45] albertteoh commented on #2829
Thanks for working on this @yeya24. Yes you're right. I think we ought to also rename `calls` to `calls_total` in `spanmetrics` processor to follow the naming convention and so the prometheus exporter will also expose a consistent metric name.

[2021-03-24 01:30] yeya24 commented on #2829
Thanks @albertteoh! It would be good if you can help review #2837 :smiley:

[2021-03-24 03:18] yeya24 opened #2838 "[spanmetricsprocessor] lacenty_bucket histogram +Inf label inconsistency"
**Describe the bug**
A clear and concise description of what the bug is.

When using `spanmetricsprocessor`, if the output exporter is `prometheus`, then the `lantency_bucket` metrics have a bucket for +Inf and Math.MaxFloat64.

![Screenshot from 2021-03-23 23-16-14](https://user-images.githubusercontent.com/25150124/112249263-d0d57880-8c2d-11eb-8257-e799178de249.png)

If the output exporter is `p

[2021-03-24 05:06] albertteoh commented on #2772
@yeya24 Thanks for the heads up on https://github.com/open-telemetry/opentelemetry-collector/pull/2707 and good catch on the duplicate labels issue.

I think we should check for the default reserved _sanitized_ labels like `service_name`, `span_kind` and `status_code`, etc. on startup and report an error if these exist, warning the user that these are reserved labels and preventing startup of the

[2021-03-24 10:04] bogdansandu commented on #2838
It is reproducing for me also in spanmetricsprocessor v0.21.0.

[2021-03-24 14:23] valeraf23 opened #2840 "An Example how to configure multiline in filelog reciver"
I want to display multiline logs like
"ConsoleApplication1.MyCustomException: some message .... ---> System.Exception: Oh noes!
   at ConsoleApplication1.SomeObject.OtherMethod() in C:\ConsoleApplication1\SomeObject.cs:line 24
   at ConsoleApplication1.SomeObject..ctor() in C:\ConsoleApplication1\SomeObject.cs:line 14
   --- End of inner exception stack trace ---
   at ConsoleApplication1.SomeObje

[2021-03-24 14:24] #2840 closed

[2021-03-24 15:12] owais commented on #2816
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/97756

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

[2021-03-24 15:13] owais commented on #2816
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/97761

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

[2021-03-24 15:17] yeya24 commented on #2829
#2837 was merged. Can we close this issue now?

[2021-03-24 15:22] yeya24 commented on #2772
Yes I think this makes to me. But for overlapping non-reserved dimensions, I think we should check them on startup and throw error as well?

[2021-03-24 17:37] dashpole commented on #2307
Some notes from the meeting earlier today:

* a generic cadvisor receiver would be useful to have, for example to enable metrics that kubernetes has disabled.
* It should be possible to have a "wrapper" around it to add the aws-specific bits that you need.
* Note: running an extra instance of cAdvisor (the one in the kubelet plus this one) is expensive and duplicates work

[2021-03-24 21:15] #2829 closed

[2021-03-24 21:23] albertteoh commented on #2772
@yeya24 yes, good idea. Did you still want to work on this PR?

[2021-03-25 01:07] yeya24 commented on #2772
@albertteoh Yes, pr opened https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/2844. Please take a look when you have time.

[2021-03-25 01:09] owais commented on #2816
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/98081

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

[2021-03-25 03:00] jrcamp commented on #1590
I looked into this as part of adding EKS and GKE. There are some differences between detectors in go-contrib and here. e.g. they add container.id because they can determine what container the app is running in. If we were to include container.id we would put in the collector's own container id. You could configure the processor not to override existing attributes but it's also just not clear if co

[2021-03-25 05:08] rakyll commented on #2835
Once https://github.com/open-telemetry/opentelemetry-specification/issues/1443 is addressed, we should follow the specification there. Otherwise, the format needs discussion/proposal.

@bogdandrutu It's a good idea. Given it's vendor-specific, my initial suggestion was a standalone exporter. But, we can ask other vendors to implement support for their services and provide the functionality as a pa

[2021-03-25 14:28] AchimGrolimund opened #2846 "Missing Metrics (cpu.utilization_per_core) after upgrade from 0.10.0 to 0.19.0"
**Describe the bug**
We do not receive data (cpu.utilization_per_core) on SignalFX anymore since version 0.19.0

**Steps to reproduce**
SignalFX-Agent Monitor:
[code]

With the Version 0.10.0 we recive the Metrics `cpu.utilization_per_core`.
after update to version 0.19.0 we lost some metrics on SignalFX as example this `cpu.utilization_per_core`

**What did you expect to see?**

Metric about `cpu

[2021-03-25 16:58] rockb1017 opened #2851 "K8s filelog collection: put the log record in the Body as a string"
**Describe the bug**
https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/2266#issuecomment-789986345
log record is wrapped in a json with key `log`. it should be just plain string.

**Steps to reproduce**
Read files using filelog

**What did you expect to see?**
"EPS: 98"
**What did you see instead?**
{"log":"EPS: 98\n"}
![image](https://user-images.githubusercontent.com/12387

[2021-03-25 17:23] tigrannajaryan commented on #2851
@pmm-sumo @djaglowski this is the bug that I mentioned about when were looking at k8s collection. Can one you take this?

[2021-03-25 17:26] tigrannajaryan commented on #2791
@pmm-sumo @sumo-drosiek Can you take this?

[2021-03-25 17:40] owais commented on #2816
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/98540

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

[2021-03-25 18:01] #2463 closed

[2021-03-25 18:10] owais commented on #2816
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/98699

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

[2021-03-25 18:15] pmm-sumo commented on #2791
Of course, working on it, thank you!

[2021-03-25 19:13] jrcamp opened #2870 "fluentforwarder doesn't set resource attributes"
See https://github.com/open-telemetry/opentelemetry-collector/issues/2805

The component doesn't use resource attributes at all but puts host, etc. into the log attributes. This means that if you use something like the resourcedetection processor it updates the resource attributes but the fluentforwarder may have put host.name in the log attributes.

[2021-03-25 19:14] jrcamp opened #2871 "splunkhecreceiver doesn't set resource attributes"
See https://github.com/open-telemetry/opentelemetry-collector/issues/2805

The component doesn't use resource attributes at all but puts host, etc. into the log attributes. This means that if you use something like the resourcedetection processor it updates the resource attributes but the splunkhecreceiver may have put host.name in the log attributes.

[2021-03-25 19:18] jrcamp opened #2872 "signalfxreceiver doesn't set resource attributes"
See https://github.com/open-telemetry/opentelemetry-collector/issues/2805

The component doesn't use resource attributes at all but puts host, etc. into the labels map. This means that if you use something like the resourcedetection processor it updates the resource attributes but the signalfxreceiver may have put host.name in the metric labels.

[2021-03-25 19:23] djaglowski commented on #2851
@sumo-drosiek would you be able to validate #2873?

[2021-03-25 19:53] pmm-sumo commented on #2851
@djaglowski what do you think, should we be good with just using #2873 or perhaps it would be better to make a deeper change in the source code?

[2021-03-25 20:32] djaglowski commented on #2851
@pmm-sumo There are probably some things we can do to improve the usability of the parsing operations, but I think you are maybe referring to whether or not we should need the `"log"` field in the first place? There is a specific reason it exists in this case - it's because there are other values that need to be parsed, and those values temporarily exist alongside `"log"` until they are parsed.

#

[2021-03-25 21:00] owais commented on #2816
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/99032

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

[2021-03-25 22:43] owais commented on #2816
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/99345

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

[2021-03-25 23:37] #2772 closed

[2021-03-26 10:11] pmalek-sumo commented on #2791
@tigrannajaryan @pmm-sumo Please take a look at https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/2887.

This should resolve the above mentioned data race issue.

[2021-03-26 11:53] albertteoh opened #2888 "[spanmetricsprocessor] Default value incorrectly reused if unset"
**Describe the bug**
If the `default` value is unset for additional `dimensions` in config, and the span tag does not exist, the previous dimension's value is (incorrectly) used.

**Steps to reproduce**
Run otel collector with the config below.

**What did you expect to see?**
The dimension should be omitted from the metric altogether:
[code]

**What did you see instead?**
The dimension without th

[2021-03-26 16:35] tigrannajaryan commented on #2851
@djaglowski a slightly different approach that possibly could work is for regex operator to extract value directly into "attributes" and also have an option to specify which extracted value becomes the new value of the "record" (or "Body" in otel terminology). For example:

[code]
Now once this is applied the data will look like this:
[code]

I don't know how feasible this, just an idea.

[2021-03-26 17:07] akirn opened #4992 "Prometheusreceiver throws SIGSEGV in MetricsAdjuster"
**Describe the bug**
Prometheusreceiver segfaults and forces a restart of the Collector when `initial.GetSummaryValue().Count.GetValue()` returns nil.

**Steps to reproduce**
I'm not sure of the exact steps to reproduce the issue, other than having `initial.GetSummaryValue().Count.GetValue()` return nil.

**What did you expect to see?**
A graceful recovery (drop the current metric) without a force

[2021-03-26 17:35] owais commented on #2816
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/99776

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

[2021-03-26 17:36] djaglowski commented on #2851
I think when you consider a wider set of log parsing cases, you end up needing the ability to parse into an arbitrary object that you can then manipulate as needed. You might need to parse further. You might keep or discard any field at all.

This isn't really a regex specific problem either - it's a general question of how parsing operations should behave. To me, the primary action you are taking

[2021-03-27 11:36] gunturaf commented on #2621
I came across this issue too, this causes my Traces to only visible on the "Distributed Tracing" page in the One UI APM page, while not being visible as Transactions in the APM.

Firstly I came across this code in the `newrelic/opentelemetry-exporter-go` repo. https://github.com/newrelic/opentelemetry-exporter-go/blob/e563425c51c9e256b329c37e72192baac0396aca/newrelic/internal/transform/span.go#L63

[2021-03-27 19:16] pavankrish123 opened #2901 "[metricstransformprocessor] Configuration driven simple arithmetic to manipulate values of metric data points"
**Is your feature request related to a problem? Please describe.**
Data point values in metrics from collector sometimes require a bit of (basic) simple arithmetic manipulation to produce a new series.

**Describe the solution you'd like**
A feature in metricstransform processor that can provide configuration driven basic arithmetic operation on data point values.

[code]

**Additional context**
[

[2021-03-28 02:28] gunturaf commented on #2565
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/100215
Test Failures

- TestLog10kDPS
- TestLog10kDPS/OTLP

[2021-03-29 00:42] pkositsyn commented on #1710
jumphash works with 8-byte input. Cannot really take responsibility for adjusting it for 16-byte input. I'm not a real specialist in hashes to be 100% sure that I can get correct hash function

[2021-03-29 05:23] WPH95 opened #2903 "Change import go.opentelemetry.io/collector/config/configmodels to config"
**Describe the bug**
https://github.com/open-telemetry/opentelemetry-collector/pull/2808
opentelemetry-collector change configmodels move to config
a lot of code needs to upgrade
e.g. https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/master/exporter/awsemfexporter/factory.go#L21

[2021-03-29 05:44] WPH95 opened #2906 "update for cloud semantic conventions"
**Describe the bug**
Opentelemetry-collector update the cloud semantic conventions, some code needs an upgrade
[code]

https://github.com/open-telemetry/opentelemetry-collector/pull/2809

some need to change code.
e.g. https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/4cc0d2bd04849078f44f6e2e5ceefa5f05c57f35/exporter/datadogexporter/metadata/gcp/gcp.go#L50

[2021-03-29 13:11] #2906 closed

[2021-03-29 13:11] WPH95 commented on #2906
found fix it #2886 closed

[2021-03-29 14:24] jpkrohling commented on #1710
This isn't a security function, there's no problem in using only 8 bytes out of the 16 :-)

[2021-03-29 17:03] pmm-sumo commented on #2851
I concur with @tigrannajaryan note on using `attributes`. Looking at the [data model](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/logs/data-model.md#field-body), I feel we might be having too many nesting levels right now. My understanding is that this is an outcome of mapping Stanza's original model into OpenTelemetry model, but I think it could evolve to

[2021-03-29 17:24] tigrannajaryan commented on #2528
@WPH95 https://github.com/open-telemetry/opentelemetry-collector/pull/2633 is now merged.

[2021-03-29 19:04] owais opened #2927 "Bug report for failed CircleCI build (job: loadtest)"
Auto-generated report for `loadtest` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/100629

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-03-29 19:04] owais commented on #2927
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/100626

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

[2021-03-29 19:29] owais commented on #2927
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/100734

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

[2021-03-29 19:48] hossain-rayhan commented on #2722
In addition to the above mentioned approach, I was exploring to see if we can support expressions like Prometheus [Recording Rules](https://prometheus.io/docs/prometheus/latest/configuration/recording_rules/#recording-rules). Recording rules and pretty generic and roubust. However, considering the complexity and amount of effort required to make something generic like this, I prefer not to go for

[2021-03-29 20:21] bogdandrutu commented on #2903
https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/2899

[2021-03-29 20:21] #2903 closed

[2021-03-29 22:29] jrcamp commented on #2722
@hossain-rayhan Maybe take a look at how we (@dmitryax) did something similar inside the signalfxexporter. It operates on our own datapoints instead of OTLP so can't really be reused but might provide some inspiration:

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/exporter/signalfxexporter/translation/constants.go

I think it was discussed but I've already forgotten

[2021-03-29 22:51] hossain-rayhan commented on #2722
@jrcamp thanks, I will look into the signalfxexporter implementation.

I added this in the Open Question section in the description. Thanks. We discussed this in our SIG meeting. @bogdandrutu suggested to create this feature as a new processor. The existing metricstransformprocessor works with old OpenCensusu metrics types. We have a plan to rewrite the whole thing and don't want to more code on t

[2021-03-30 00:30] bogdandrutu opened #2940 "awsxrayexporter: wrong usage of `tracetranslator.HTTPStatusCodeFromOCStatus`"
`tracetranslator.HTTPStatusCodeFromOCStatus` was useful when the status code followed the google rpc codes, but that is no longer the case for the otel status.

[2021-03-30 00:52] owais commented on #2927
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/101411

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

[2021-03-30 03:23] jmacd commented on #2722
Thanks for following up, here. The proposal indeed looks simple and well justified, given how much more powerful and free-form the Prometheus recording rules.

[2021-03-30 08:03] pkositsyn commented on #1710
Since it's not cryptographic itself, no one already cares about security. The thing is about making hash having good properties for sharding, which could be lost if a bad combine function for two 8-byte hashes is used. Using only 8 bytes of TraceID seems not great for me, because it produces the same value for those traces, having zeros in other bytes. Jaeger allows setting only 8 low bytes, some

[2021-03-30 14:03] keitwb opened #5004 "Jaeger Receiver Should Honor TLS Settings"
The jaeger receiver accepts `tls_settings` under the thrift http server config but  does not honor it.  It seems to always create a plain HTTP listener per https://github.com/open-telemetry/opentelemetry-collector/blob/main/receiver/jaegerreceiver/trace_receiver.go#L467.

The config used is like the following:

[code]

Expected behavior is that a TLS-backed HTTP server is created that uses the con

[2021-03-30 14:47] bogdandrutu commented on #2940
/cc @kbrockhoff @mxiamxia

[2021-03-30 15:08] vishiy opened #4981 "Prometheus receiver - Telemetry"
**Describe the solution you'd like**
It would be great for the prometheus receiver to publish the below metrics-
* number of scrape targets
* Scrape duration for targets
* Number of datapoints scrapped per target

[2021-03-30 15:24] vishiy opened #4982 "Cumulative Counters - Prometheus receiver- Magnitude of the metrics is lost"
In using prometheus receiver, i see prometheus counters are being re-calculated from the first data point, which loses the actual value/magnitude of the metric. Is there a way to pass on the initial value in the pipeline so that it can be added back before ingesting to backends like prometheus ?

Also tracking this on proto - https://github.com/open-telemetry/opentelemetry-proto/issues/289
Related

[2021-03-30 15:54] MacNale opened #2943 "Documentation: Misleading documentation for LokiExporter README and Example"
**Describe the bug**
README of the lokiexporter suggests that, the exporter supports "logs" pipline. However, the example (https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/exporter/lokiexporter/testdata/config.yaml) talks about "metrics" pipeline.
[code]

**What did you expect to see?**
A clear and concise description how to export logs to loki using loki exporter.

**Wh

[2021-03-30 17:29] hossain-rayhan commented on #2722
@jrcamp , I looked into signalFx [code](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/exporter/signalfxexporter/translation/constants.go#L348-L353) (following example). I like their idea about naming the metrics like `operand1_metric`and `operand1_metric`. However, I think our one is also clear and declarative. But their code will give us some idea.

[code]

[2021-03-30 17:30] hossain-rayhan commented on #2901
Please look into #2722

[2021-03-30 18:50] alanbrent opened #2944 "signalfxexporter: Prometheus Summary Type Not Implemented"
**Describe the bug**

The Prometheus Metric [Summary](https://prometheus.io/docs/concepts/metric_types/#summary) type is not implemented in the `signalfxexporter`.

See [`converter.go`](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/exporter/signalfxexporter/translation/converter.go#L100-L114) for proof of the missing type.

**Steps to reproduce**

1. Setup `otelcol-co

[2021-03-30 20:30] jpkrohling commented on #1710
Great point. I'm fine using a fast hashing algorithm. I think I'm using one in the load balancer, here:

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/acea466180779eac5f9cad7331ddeb04fe93cfa1/exporter/loadbalancingexporter/consistent_hashing.go#L53-L56

I did test different approaches back then and found that this was the most performant, but feel free to suggest an improv

[2021-03-30 20:39] pkositsyn commented on #1710
You know, it is the most important point to have different hashes for different components! Otherwise we can end up with imbalance for workers. I would even recommend to mention this point somewhere

[2021-03-30 20:41] pkositsyn commented on #1710
Nevertheless, I'll take a look at crc performance. It doesn't seem to be the best. Can we use external dependency or not? I believe that xxhash should be very performant

[2021-03-30 20:48] jpkrohling commented on #1710
Not sure I follow. The load balancer would not typically run in the same collector instance as groupbytrace, but even if they do, the hashes have different purposes. But I'm sure I'm missing something.

Give us some data, and we can discuss it :-) If we are talking about orders of magnitude better, then I think we can think about using it.

[2021-03-30 21:47] pkositsyn commented on #1710
According to these benchmarks https://play.golang.org/p/R8S8cMt8IDz the results are like this
[code]

Cheat is actually a cheat, using go:linkname
[code]
Dave Cheney repeated like 20 times in 5min, that this trick should never be used, so I tend to believe him (but still we use it for our workload in storage, yolo :) )

[2021-03-30 21:52] pkositsyn commented on #1710
For our workload we use a loadbalancingexporter on agents and groupbytrace on collectors, so this really matters in our case. Since there is a situation there different hashes are important, I think it is a blocker for using same hashes. They are not the bottleneck according to pprof on real environment, so I would go safe here. We can switch from crc32 to fnv64 in loadbalancingexporter anyway. Se

[2021-03-30 22:25] rockb1017 opened #2945 "[FileReader] Collector doesn't use more than 700m CPU"
**Describe the bug**
I generated ~9710 EPS of load total from 2 log generator containers.
the collector's CPU and memory usage was around 650.
The calculated EPS on Splunk was ~9750.
it ingested 99% of data (some data loss).

Then I doubled the load. total 18112 EPS from 4 log generator containers.
the collector's CPU and memory utilization was at 700m.
The calculated EPS on Splunk was ~9900.
It l

[2021-03-30 22:26] rockb1017 commented on #2945
@djaglowski
Would appreciate your review.

[2021-03-31 01:35] ericmustin commented on #2651
@lchayoun Thanks for the additional context. That's super useful to know, i will update here when there's a timeline for this!

[2021-03-31 02:34] rockb1017 opened #2946 "FileReader - Data loss when tailing symlink file with log rotation (k8s container logs)"
**Describe the bug**
When I do performance test, I see 98~99% ingest rate.
with log generator EPS 5000, i see 98.6% ingest rate.
with EPS 3300, I see 99.3%
with EPS 2500, I see 99.1%
So even though I reduce EPS significantly (from 5000 to 2500), I still see some data loss.
So I looked into data loss pattern.

![image](https://user-images.githubusercontent.com/12387289/113081316-522c8e00-918d-11eb-

[2021-03-31 03:44] rockb1017 opened #2947 "[FileReader] Upon restart, it ingests already ingested logs."
**Describe the bug**
When I upgrade otel helm chart, it recreates collector pod, then I have duplicate of logs.
So the file checkpointing is not working properly.

[2021-03-31 03:48] rockb1017 commented on #2945
Actually I was able to make the utilization to go up to 1500m CPU and get 31,000 EPS.
Let me do more testing

[2021-03-31 04:32] #2945 closed

[2021-03-31 04:32] rockb1017 commented on #2945
I had debug print on, so i think it was more of disk IO bottle necked. closing.

[2021-03-31 07:09] BinaryHexer commented on #2636
@jpkrohling
Sorry for mentioning you here, but I just saw https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/1797.
Considering the context of the above issue, what would be best strategy to proceed if support for sampling for logs is to be considered?

[2021-03-31 13:42] tigrannajaryan commented on #2947
@rockb1017 Checkpoint saving is not implemented yet, see https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/2287. Also, show your config to make reproduction easier.

@djaglowski is it expected that for now on restart we will re-read already read files or that we will completely skip them?

[2021-03-31 14:31] djaglowski commented on #2851
@pmm-sumo You make some really good points here. Differentiating between the structured and other types of log sources is very useful. Following what you've laid out, I think there are some additional design points to clarify:
- `opentelemery-log-collection` needs to be enhanced such that `resource` and `attributes` support arbitrary data. Both are currently `map[string]string`. In the current for

[2021-03-31 14:47] #2528 closed

[2021-03-31 14:58] pmm-sumo commented on #2851
Thank you @djaglowski

One quick note:

Technically we can use a collection of key values, where the latter are of [AnyValue](https://github.com/open-telemetry/opentelemetry-specification/blob/4bd839b41bf1122513f887a4814ca405f4e28404/specification/common/common.md#attributes) type

You are right, I forgot it became part of the model. I was trying to illustrate there are some attributes that should

[2021-03-31 15:50] sirianni commented on #2835
Should it be a design goal to pick a format (Parquet, ORC, etc.) (or have a pluggable format) that allows for the data to be queried "in-place" by a system like AWS Athena?

[2021-03-31 16:25] djaglowski commented on #2851
I think we may be talking about OTel vs "stanza" [Entry](https://github.com/open-telemetry/opentelemetry-log-collection/blob/0f6b1a9dbec823eb196edffe9e745c21e1ff0d94/entry/entry.go#L48) format here. My note on this point was basically just acknowledging that we need to update the old stanza format to support AnyValue.

[2021-03-31 18:13] djaglowski commented on #2947
As Tigran mentioned, checkpoints depend on #2287, which is in progress.

In the absence of a checkpoint, the behavior is controlled by the `start_at` configuration parameter, documented [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/filelogreceiver#configuration).

[2021-03-31 22:31] jacobmarble opened #2951 "Telegraf exporter and receiver"
**Is your feature request related to a problem? Please describe.**
I would like to use Telegraf agents and OpenTelemetry Collector agents together. I would like the translation to be consistent between implementations.

**Describe the solution you'd like**
OpenTelemetry Collector and Telegraf are both implemented in golang. Rather than let the two communities create their own mappings OTLP<->line-

[2021-03-31 23:28] odeke-em opened #2953 "exporter/awsprometheusremotewriteexporter: signingRoundTripper leaks and does not close http.Request body"
**Describe the bug**
Noticed while auditing the aws remote write exporter to start fixing the out of order bug, and I saw this code
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/d50d10a41e57f946777128daf9c4591ce342c14a/exporter/awsprometheusremotewriteexporter/auth.go#L42-L71

No where is there a reqBody.Close

**Steps to reproduce**
. This test should exhibits the problem

[2021-04-01 12:54] LukeMathWalker opened #2972 "Tail-sampling processor: drop spans matching an attribute"
It is currently possible to prescribe that spans matching a certain condition are always sampled.
As far as I can see, there is no mechanism to do the opposite (even in other processors): how do I instruct the collector to always drop spans matching a certain condition?

E.g. drop all spans where the HTTP path is `/health_check`.

Looking at the source, it would be fairly simple to add this functi

[2021-04-01 13:20] bogdansandu commented on #2838
Any updates on this issue?

[2021-04-01 17:34] gavindoudou opened #2974 "opentelemetry-collector-contrib/internal/splunk.test sees failures in unit tests and lint"
**Describe the bug**
Window test and unit test:
![image](https://user-images.githubusercontent.com/31523962/113331988-772c1880-92d5-11eb-8cd9-a8ebbe60c24e.png)
Lint:
![image](https://user-images.githubusercontent.com/31523962/113332085-93c85080-92d5-11eb-9afd-22f8af4b6bd2.png)

**Steps to reproduce**
New PR cannot build successfully.

[2021-04-01 18:38] #2974 closed

[2021-04-01 21:35] jrcamp opened #2977 "[processor/resourcedetection] eks detector does not check if it's running on AWS"
The eks detector in resourcedetection only checks if it's on k8s and does not verify that it is on AWS.

[2021-04-02 16:54] #2940 closed

[2021-04-02 21:25] #2953 closed

[2021-04-02 22:18] owais opened #2994 "Bug report for failed CircleCI build (job: loadtest)"
Auto-generated report for `loadtest` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/102509

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-04-02 22:37] F21 commented on #2621
Fixed in #2900

[2021-04-02 22:37] #2621 closed

[2021-04-05 04:26] scumpah commented on #2735
Update:

Replace image with otel/opentelemetry-collector-contrib:latest and it'll work fine. Docs need to be updated

[2021-04-05 15:48] gramidt commented on #2943
Thank you for finding this, @MacNale! I'll update this now.

For a better example, I would look at the exporter/lokiexporter/example folder.

[2021-04-05 15:57] gramidt commented on #2735
I apologize for the dealy, @scumpah!

I'm glad you were able to resolve this issue. I would expect that once a few other key tasks are completed within collector project, I'll be able to finish the multi-platform contain image build that would include ARM64, so that you don't have to use the gist that I created. I'll update the gist now so that others don't run into the same issue if they use it b

[2021-04-05 16:24] gramidt commented on #2529
For tracking / reference: Similar issues and potential improvements discussed to the log receivers to help address the empty log/message field:

https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/2851

[2021-04-05 17:11] gramidt opened #3000 "f5cloudexporter: switch to gRPC endpoint"
**Is your feature request related to a problem? Please describe.**
The latest F5 OTLP endpoint uses gRPC. The exporter should only support gRPC for the immediate future.

**Describe the solution you'd like**
Since the exporter is considered beta, update the exporter to use gRPC instead of HTTP.

**Describe alternatives you've considered**
- Create a new F5 Cloud exporter that is gRPC; however, thi

[2021-04-05 17:12] gramidt commented on #3000
@tigrannajaryan @bogdandrutu - Could either of you assign this to me please?

[2021-04-05 21:22] fuleow opened #3002 "Elastic receiver"
We have a mixed tracing environment running a combination of Zipkin, OpenTelemetry and Elastic APM. Using the OpenTelemetry collector configured with an Elastic exporter we can export our Zipkin and OpenTelemetry traces to the Elastic APM server to give us a complete trace.

We also export from our OpenTelemetry collector to Jaeger, but we can't see the traces created by our services running the E

[2021-04-06 07:38] gillg commented on #2851
Related discussion here : https://github.com/open-telemetry/opentelemetry-collector/issues/2588

[2021-04-06 12:55] #2799 closed

[2021-04-06 13:23] anuprout opened #3004 "[DataDog Collector] Not able to send traces to DataDog using an HTTPS proxy"
**Describe the bug**
Hi, I have set up a DataDog collector with an HTTPS proxy and  I am sending the Otel traces from my application to this collector on port 55680 over gRPC.  I get the below certificate error in the collector log.

`failed to send trace stats        {"component_kind": "exporter", "component_type": "datadog", "component_name": "datadog/api", "error": "failed to send stats payload

[2021-04-06 14:41] owais commented on #2994
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/102990

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

[2021-04-06 15:08] jrcamp commented on #2532
https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/12062/workflows/80c6df4f-ef9d-4710-856c-89210e276727/jobs/102997

[2021-04-06 21:15] rockb1017 opened #3015 "SplunkHecExporter. Add option to provide certificates for SSL verification"
**Is your feature request related to a problem? Please describe.**
Feature Request
SplunkHecExporter doesn't receive any certificates for SSL verification to HEC endpoint.

Need additional TLSConfig from here
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/520d7619f2ba4a00e84d90603d7db3534be8e1bb/exporter/splunkhecexporter/exporter.go#L97

[2021-04-06 23:51] yeya24 commented on #2838
@bogdansandu I am not sure but I think no one is working on it right now. Feel free to take it or we can discuss ways to fix this problem.

[2021-04-07 12:05] jpkrohling commented on #1710
`fnv` looks good here. Interesting, I'm quite sure I used fnv and crc for my tests when developing this feature and got better results with crc.

LOL

I still don't see the conflict here. We were talking about sharding per trace ID, and if we have a different number of shards between the load balancer and the groupbytrace, the ring will look very different... Each shard should be at least 100 poin

[2021-04-07 13:14] heruv1m opened #3016 "Can't build image for loadbalancingexporter"
There is a build log
`opentelemetry-collector-contrib/exporter/loadbalancingexporter$ docker build -t otelcontribcol example/
Sending build context to Docker daemon  9.728kB
Step 1/13 : FROM golang:1.16 AS build
 ---> 0debfc3e0c9e
Step 2/13 : WORKDIR /src
 ---> Using cache
 ---> 78737b61e091
Step 3/13 : ADD . /src
 ---> Using cache
 ---> 4efbc7201390
Step 4/13 : RUN make otelcontribcol
 ---> Runni

[2021-04-07 15:28] pkositsyn commented on #1710
It is very easy to have big problems with hashes. For example, one can forget about the fact that if there are 100 collectors, each one gets the trace ID modulo 100, then collector 100 will always get its traces go to 0th (out of 10) shard of groupbytrace. Really easy to miss such things, so it's probably safer to go with orthogonal hashes

[2021-04-07 16:17] ericmustin commented on #3004
👋 Hey @anuprout , I would suggest directly opening a support ticket with `support@datadoghq.com` for this, i'm not sure what the issue is here but that would be the best way to get this addressed. Your configuration seems fine to me so I suspect it's an issue specific to your proxy and the datadog trace stats intake endpoint

[2021-04-07 16:47] anuprout commented on #3004
thanks.

[2021-04-07 16:47] #3004 closed

[2021-04-07 18:51] tigrannajaryan commented on #2851
Fixed by https://github.com/open-telemetry/opentelemetry-helm-charts/pull/43

[2021-04-07 18:51] #2851 closed

[2021-04-08 05:02] felix commented on #1217
Correct, I require the following:
[code]

[2021-04-08 05:52] alanbrent commented on #2944
Closing after confirming functionality in the v0.24.0 release, which contains the changes in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/2998.

Thanks for the fix, we were able to clear out some tech debt today because of it!

[2021-04-08 05:52] #2944 closed

[2021-04-08 13:40] jpkrohling commented on #2636
It's still not clear to me what's the future of the current tail-sampling. I have it in my queue to run some performance tests and assess whether we should deprecate it in favor of a more granular set of processors. Until a decision is made, I would not invest much time in a prototype for tail-based sampling for logs.

[2021-04-08 14:02] jpkrohling commented on #1710
Is that an edge case, or do you think this would be common enough? We should also then have metrics per shard, so that users can detect this case.

[2021-04-08 14:38] pkositsyn commented on #1710
Very hard to predict such cases. I believe that metrics and traces pipelines are totally independent, so I see no big trouble in using the same hash for them

[2021-04-08 14:43] Xitric opened #3021 "Exporter for Humio"
**Is your feature request related to a problem? Please describe.**
We wish to use the OpenTelemetry collector to export traces and logs to the log aggregation tool Humio.

**Describe the solution you'd like**
We wish to develop an exporter for the Humio log aggregation platform. Specifically, we wish to support traces and logs, but metrics can also be supported in the future.

**Describe alternati

[2021-04-08 23:06] rockb1017 opened #3031 "k8s-tagger doesn't fetch namespace annotation & labels"
**Describe the bug**
as title says.
I get this
[code]

[code]

Config:
[code]

[2021-04-09 18:06] owais commented on #2994
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/104111

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

[2021-04-09 18:06] owais commented on #2994
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/104107

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/syslog-udp

[2021-04-09 20:55] tigrannajaryan opened #3033 "TestAllConvertedEntriesAreSentAndReceivedWithinAnExpectedTimeDuration is unstable"
The test failed on CI: https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/12175/workflows/d114550a-0824-40cd-ac3f-eb4a77852044/jobs/104163

[code]

[2021-04-09 20:55] tigrannajaryan commented on #3033
@pmalek-sumo can you please have a look, I believe you are the author of the test.

[2021-04-09 20:57] tigrannajaryan opened #3034 "TestZookeeperMetricsScraperScrape is unstable"
Test failed on CI: https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/12168/workflows/ac4bf3ff-deb7-4381-89c1-0126236828f3/jobs/104093

[code]

[2021-04-09 20:57] tigrannajaryan commented on #3034
@asuresh4 can you please have a look? I believe you are the author of the test.

[2021-04-09 22:52] emeraldbay commented on #2835
Given the various data formats we have, can we first start build a few popular format like Parquet/ORC/JSON?

[2021-04-10 08:25] pmalek-sumo opened #3037 "No error saying that fluent-bit is missing from system's PATH in testbed tests"
**Describe the bug**
When `fluent-bit` is missing from system's PATH there's no error reported mentioning this in testbed tests.

**Steps to reproduce**
[code]

**What did you expect to see?**
An error saying that there's no fluent-bit in the system.

**What did you see instead?**

[code]

**What version did you use?**
Version: f1ee616c4d90c4726cb73e4a4e6b4268e382cf66

**What config did you use?**

[2021-04-10 08:35] pmalek-sumo commented on #3037
One approach of tackling this is https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/3038 which returns an error in `FluentBitFileLogWriter`'s `Start()` func. The problem with this approach is that the user will still need to wait the full test duration because this error [is not propagated to the caller](https://github.com/open-telemetry/opentelemetry-collector/blob/main/testbe

[2021-04-10 08:48] pmalek-sumo commented on #3033
I've created this to relax the test conditions https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/3039.

I can see that this only fails on Windows right? Perhaps difference in scheduling causes these failured.

[2021-04-11 07:27] yorikya opened #3154 "DataDog exporter doesn't export `ValueRecorder` metrics"
It seems that the DataDog exporter doesn't export `ValueRecorder` metrics

Topology:
service: (OTEL-SDK) --> host: (OTEL Agent) --> storage:(Datadog)

We are using the opentelelmtry-sdk to send the metrics from our services to the host `otelcontrib` agent, then the otel-agent using `Datadog` exporter to send the metrics to the DataDog, when we are using some of the types of `ValueRecorder` the met

[2021-04-12 08:40] pmalek-sumo opened #3069 "testbed's `make install-tools` fails to install tools with `go1.16`"
**Describe the bug**

testbed's `make install-tools` fails to install tools with `go1.16`

**Steps to reproduce**

1. Use `go1.16`
2. `cd testbed`
3. `make install-tools`

**What did you expect to see?**

No error, tools (`github.com/jstemmer/go-junit-report`) installed.

**What did you see instead?**

[code]

**What version did you use?**

Version: `f1ee616c4d90c4726cb73e4a4e6b4268e382cf66`

**Wh

[2021-04-12 10:46] pmalek-sumo commented on #2329
@djaglowski I've pushed this change: https://github.com/open-telemetry/opentelemetry-log-collection/pull/97

Let me know if I've missed anything. Testing this in contrib with [opentelemetry-log-collection@v0.17.0](https://github.com/open-telemetry/opentelemetry-log-collection/releases/tag/v0.17.0)+this patch worked for me.

[2021-04-12 14:00] heruv1m commented on #3016
@BinaryHexer Can you help with it?

[2021-04-12 14:28] cyrille-leclerc commented on #2305
As Elastic APM is now exposing an OTLP intake that is intended to replace the Otel Collector Exporter for Elastic, this issue is now tracked on https://github.com/elastic/apm-server/issues/4715

[2021-04-12 15:02] djaglowski commented on #2329
Leaving this open until the dependency is on `main`.

[2021-04-12 15:40] gramidt commented on #2943
@bogdandrutu @tigrannajaryan - Please close this issues as it was resolved with #2997. I forgot to put "fixes #2943" in the description.

[2021-04-12 16:10] gramidt opened #3071 "Transform logs to spans (PR WIP - #3003)"
**Is your feature request related to a problem? Please describe.**
Some systems such as load balancers, proxies, or IoT devices may not have native trace support at this time, but have the capabilities to generate the necessary data to populate a span. These systems also may not allow importing external libraries, so directly adding in an OTel library may not be an option, such as in my use case.

[2021-04-12 16:14] gramidt commented on #3071
@bogdandrutu @tigrannajaryan - Please assign to me and add labels.

[2021-04-12 18:12] urso commented on #2674
Currently only the `elastic` exporter is available for the Elastic stack. The elastic exporter only supports metrics and traces, and requires Elastic APM Server to be available.

A separate Elasticsearch exporter for publishing logs (and later metrics) directly to Elasticsearch is still in development. The exporter is not registered with the otel collector contrib distribution yet (it is not compi

[2021-04-12 18:34] owais opened #3076 "Bug report for failed CircleCI build (job: loadtest)"
Auto-generated report for `loadtest` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/104829

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/syslog-udp

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-04-12 19:18] #2943 closed

[2021-04-12 21:40] owais commented on #3076
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/105216

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/syslog-udp

[2021-04-12 22:21] #3033 closed

[2021-04-12 22:32] owais commented on #3076
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/105245

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/syslog-udp

[2021-04-13 05:19] BinaryHexer commented on #3016
Can you give the output of the following commands?
- `docker build -t otelcontribcol . -f exporter/loadbalancingexporter/example/Dockerfile`
  - Please run it from the root of this repo.
- `cd exporter/loadbalancing/exporter; docker-compose up`

[2021-04-13 09:40] jpkrohling commented on #1710
I meant to add metrics to observe this component itself, so that we know how many traces per shard the processor has seen.

[2021-04-13 11:07] heruv1m commented on #3016
It works! Thank you.
May be you should update readme to make it more clearly

[2021-04-13 11:07] #3016 closed

[2021-04-13 13:10] gillg commented on #2529
Hello, I can't reopen my PR, but we always need to find a solution for this issue.

[2021-04-13 13:30] gillg opened #3090 "Loki exporter : Lot of out of order errors"
**Describe the bug**
When a use Loki exporter with a unique set of labels I get a lot of out of order dropped messages (resulting in a full OTEL collector queue).
My labels are correct accross logs to be uniques by main producers processes (but I can't seriously introduce thread ID as label).

Is there a workarond for now ?

**Steps to reproduce**
Create an app which sends logs through OTLP to a c

[2021-04-13 13:52] gillg commented on #3090
I tried to remove the batch processor in hope to bypass the queue and maybe skip faster out of order logs to avoid losing too musch next messages. But it seems worse.

[2021-04-13 16:06] dmitryax opened #3092 "Collector fails to start when `system` detector cannot obtain FQDN of the host"
**Problem description**
If we have OTel Collector with `system` detector enabled (resource detection processor), running on a VM that cannot provide fully qualified domain name for a reason, the collector is failing to start. The detector tries to set FQDN to `host.name` resource attribute, but  [OTel conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specificatio

[2021-04-13 16:52] tigrannajaryan commented on #3092
This sounds right to me given that Otel conventions say:

Regarding your second point:

Yes, we can do it in the future if necessary. For now I would suggest to go with option 1.

[2021-04-13 17:24] gbanasiak opened #3093 "translate messaging conventions to Elastic destination fields in Elastic exporter"
**Is your feature request related to a problem? Please describe.**

https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/671 introduced translation of `http.*` and `db.*` semantic conventions into Elastic equivalent, i.e. `span.destination.*` fields. The missing bit are `messaging.*` [conventions ](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specificat

[2021-04-13 17:31] gramidt commented on #3090
Thank you for opening this, @gillg! I too have ran into this and have started having conversations with other users to come up with a solution. This sounds like a an excellent use case for a buffer/ordering processor that can be reused amongst exporters. Would you like to take a stab at creating this processor? We should bring this constraint up in the Slack channels too.

[2021-04-13 17:37] gramidt commented on #3090
The other main issue is when you have multiple exporters receiving logs. Even with local buffering and ordering, you would still run into this issue, until there is only one collector per label set. Which in my opinion also has issues and failure conditions to think through.

[2021-04-13 17:48] gramidt commented on #3090
I just messaged the Loki creator to get their thoughts on this issue.

[2021-04-13 18:26] gillg commented on #3090
This issue is definitely blocking to adopt OpenTelemetry and Loki.
I would help but I'm really not comfortable in Go. I can make some minor changes but not write a full processor with a sort algorithm :/
I can try something but this kind of processor is really complex to write to avoid performance issues.

I put my hopes in Loki team and the issue I linked. It's one of their top priority subject..

[2021-04-13 19:12] tigrannajaryan commented on #1093
Failed again: https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/12215/workflows/b31e4f5f-5810-4ded-b464-5db5b9e0a750/jobs/104614

@owais can you help fix this since you are the author?

[2021-04-13 19:15] tigrannajaryan opened #3095 "Potential data loss in Syslog receiver"
The test TestLog10kDPS/syslog-udp failed here https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/12185/workflows/91e98ed2-ff5b-437e-abff-a478224b8919/jobs/104285 and the number of received items does not match the number of sent items:

[code]

[2021-04-13 19:18] tigrannajaryan commented on #3095
There is also a ton of errors in the logs:
[code]

We need to fix the data loss and make sure we don't flood the logs with error messages.

[2021-04-13 19:19] tigrannajaryan commented on #3095
@djaglowski @WPH95 will you be able to have a look at this?

[2021-04-13 19:20] tigrannajaryan commented on #2330
@pmalek-sumo @djaglowski do we expect more improvements or we consider done with this?

[2021-04-13 19:34] pmalek-sumo commented on #2330
I'd like to propose a variant of https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/2949 for consideration as design improvement.

The only concern I have about this not being accepted though is that it increases the cpu consumption by a few percent.
If there's will to take a look at it ( a rebased, cleaned up version of https://github.com/open-telemetry/opentelemetry-collector

[2021-04-13 20:01] pranavmarla opened #3097 "Default collector config is not created on startup"
**Describe the bug**
As per the [collector documentation](https://opentelemetry.io/docs/collector/getting-started/), when the agent is installed on a Linux machine, it should automatically create a default config file:

...
By default, the otel-collector systemd service will be started with the --config=/etc/otel-collector/config.yaml option after installation.

However, when I tried that out on a

[2021-04-13 20:46] gramidt commented on #3090
I was talking with Ed (Loki lead) and he said it was near the top of their list as you mentioned. Here's the document with solutions that Owen from Grafana starting thinking about ( https://github.com/grafana/loki/blob/master/docs/sources/design-documents/2021-01-Ordering-Constraint-Removal.md ). The downside is that this work has not been started and does not have a definitive date when it will b

[2021-04-13 20:52] gramidt commented on #3090
@bogdandrutu @tigrannajaryan - Please assign to me.

[2021-04-13 20:55] gillg commented on #3090
Yeah I saw this document and I proposed a solution to Ed just before seeing it https://github.com/grafana/loki/issues/1544#issuecomment-788693943

I have hope on their team but I'm not fan to wait for... weeks ? months ? :/
Anyway, the processor needs some design to be efficient and buffer correctly logs (trace + metrics also ?). So I don't know what could be faster.

The last workaround is intrus

[2021-04-13 21:10] gramidt commented on #3090
Agreed. I know there's a small group that have been thinking through buffering (in-memory and persistent options), but I haven't heard any updates on this recently. This processor should re-use shared components created by this group. This approach could still be months away if significant work hasn't already been started.

I really DISLIKE the last workaround and agree it's too intrusive for my t

[2021-04-13 21:18] gramidt commented on #2735
@tigrannajaryan @bogdandrutu - Please close this issue.

[2021-04-13 21:52] #2735 closed

[2021-04-14 06:14] gillg commented on #3090
I integrated it yesterday ! So after that I would complete my previous PR about raw log + attributes merging and add resources merging (with the same ability to map them to labels).

I think in my case I will use an homemade version with the forced timestamp.
We could improve the public exporter with attributes and resources in a final json message for Loki (or another format ?)

[2021-04-14 06:29] marcdejonge opened #4991 "Prometheus receiver throws error on parsing metrics with multiple similar summary values"
**Describe the bug**
We're using micrometer with Ktor for our services and by default it creates a prometheus summary type output for each endpoint with several quantiles. Parsing this gives us the error: "given metricType has no BucketLabel or QuantileLabel" in the output.

**Steps to reproduce**
We have an output like this:

[code]

**What did you expect to see?**
I expected this to parse correc

[2021-04-14 07:42] cyrille-leclerc commented on #3093
Thanks @gbanasiak .

As Elastic Observability is adding native support for the OpenTelemetry Protocol (OTLP) with the purpose of removing the need for the OpenTelemetry Collector exporter for Elastic, we will solve this problem directly in Elastic APM Server.

I have recopied your issue on https://github.com/elastic/apm-server/issues/5094.

[2021-04-14 08:05] cyrille-leclerc commented on #1961
Hello @bhupesh-sf , friendly ping, can you provide more details as @axw asked?

[2021-04-14 08:43] mx-psi commented on #3092
I opened #3099 to fix this using option 1, PTAL

[2021-04-14 12:44] djaglowski commented on #2330
@pmalek-sumo If you are ok with it, I would like to consider this issue done.

We can open a new issue to track further proposed changes.

cc @tigrannajaryan

[2021-04-14 14:52] tigrannajaryan commented on #2330
Sounds good. I am closing this issue. We can continue looking at https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/2949

[2021-04-14 14:52] #2330 closed

[2021-04-14 17:53] owais commented on #3076
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/106201

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/syslog-udp

[2021-04-14 18:19] owais commented on #3076
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/106275

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/syslog-udp

[2021-04-14 19:30] #3092 closed

[2021-04-14 21:49] cyrille-leclerc commented on #3002
Hello @fuleow .
Thank you very much for using Elastic.
It should be possible to create a receiver for the Elastic APM protocol but we unfortunately have not prioritised this task.
Our focus at Elastic for the moment is to improve our native support for the OpenTelemetry protocol directly on Elastic Observability.

Could you please share with us your use case so we better understand?

[2021-04-15 07:59] jean opened #3121 "Loki exporter: handle multi-tenant use cases"
**Is your feature request related to a problem? Please describe.**

The [lokiexporter](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/lokiexporter) has a `tenant_id` parameter that can set the `X-Scope-OrgID` HTTP header, but this sets a single static tenant.
We will have logs from 1000s of orgs coming in, and we were assuming that client devices would be sett

[2021-04-15 09:43] Jammicus commented on #3097
Inspecting the deb it seems that the /etc/ directory is missing

[code]

Suspect this this the same for the RPM as well, I've raised the following to fix this: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/3122

[2021-04-15 12:34] gillg commented on #3121
This dynamic tenant ID could be based on log attributes ?
It seems a good attributes usage (standard in OTLP), then with a config like `tenant_id_from` rule pointing on an OTLP attribute name, if could make the job.

[2021-04-15 14:40] tigrannajaryan opened #3128 "TestAllConvertedEntriesAreSentAndReceived is unstable"
The test failed on CI: https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/12446/workflows/0703fc17-7b2a-404e-926b-60d85e76935d/jobs/106913

[code]

[2021-04-15 14:41] tigrannajaryan commented on #3128
@pmalek-sumo you are the author of the test, can you please have a look?

[2021-04-15 14:54] tigrannajaryan opened #3129 "Clarify the input/output expectations of parsers"
In discussion [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/2851#issuecomment-808358396) we discovered the need to review/rethink the decision about what LogRecord fields are the input and output of the parsers.

Today most parsers use Body string as the input and put the results into Body as nested fields. The question is whether this is the right and desirable a

[2021-04-15 14:57] tigrannajaryan commented on #3129
@djaglowski assigning this to you as agreed.

[2021-04-15 15:40] pmalek-sumo commented on #3128
@tigrannajaryan #3130 should help with this test bothering us

[2021-04-15 16:11] tigrannajaryan commented on #3095
Failed again: https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/12453/workflows/2f9fef7c-e91b-4622-af59-6ff953a3af67/jobs/106996

[code]

[2021-04-15 16:14] gramidt commented on #3121
Thank you so much for creating this issue and referencing our Slack conversation, @jean! Much appreciated.

Could we also split this issue into two? One for mutli-tenant based on attribute and the other for adding Span support to the exporter? The Span support is more complex and will likely have some long discussions on the best path for implementation.

[2021-04-15 16:57] owais opened #3131 "Bug report for failed CircleCI build (job: loadtest)"
Auto-generated report for `loadtest` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/107020

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-04-15 17:09] owais commented on #3131
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/107035

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/syslog-udp

[2021-04-15 20:53] pranavmarla opened #3143 "Systemd environment file and config are missing"
**Describe the bug**
Similar to issue #3097, an out of the box collector feature that is mentioned in the documentation is present in the _core_ collector, but missing in the _contrib_ collector.

Specifically, as per the [collector documentation](https://opentelemetry.io/docs/collector/getting-started/), when the agent is installed on a Linux machine, it should create a systemd environment file w

[2021-04-15 21:00] #3128 closed

[2021-04-15 21:01] pranavmarla commented on #3143
FYI @Jammicus @jchengsfx

[2021-04-15 23:02] fuleow commented on #3002
Thanks for reaching out @cyrille-leclerc. I am glad to see Elastic's commitment to OpenTelemetry and new features such as the ability to use the native OTLP exporter with the latest APM Server 7.12.

Our early distributed tracing efforts began with using the Elastic APM Agent since OpenTelemetry was not stable yet. With the Elastic agent we ran into some [scaling problems with high volume services

[2021-04-15 23:46] #2685 closed

[2021-04-16 00:58] WPH95 commented on #3095
I'm working on it.

[2021-04-16 08:43] cyrille-leclerc commented on #3002
Hello @fuleow,
Thank you very much for your feedback and for your kind words regarding our support of OpenTelemetry.

First, regarding the scalability challenges you reported back in Oct 2020, we are happy to confirm you that the solutions to solve your problems are in progress. We work both on a new persistence model we referred to as "Metric based storage of transaction data" and  and on tail ba

[2021-04-16 11:11] jkowall commented on #3002
Another company similar to the new relic announcement who says they support otel with their agents but only support taking data from otel.

I hope these vendors build OTLP interfaces in the future but I'm not holding my breath for that to happen. If you want to use otel youll have to use otel instrumentation. Sad truth as evidenced here.

[2021-04-16 13:21] djaglowski opened #3148 "File storage extension - invalid file name characters must be encoded"
The invalid characters need to be encoded using valid ones. I guess something like urlencode/QueryEscape (https://golang.org/pkg/net/url/#QueryEscape) should work. You will need to check that it escape the correct set of characters (it needs to be a superset of what we need). I am not aware of a precise function that does this for path names.

_Originally posted by @tigrannajaryan in https://githu

[2021-04-16 13:22] djaglowski opened #3149 "File storage extension - Garbage collect old data files"
For the future: here we have an opportunity to to garbage collect files that don't have clients (I am not sure we have a good place to do it at startup).

_Originally posted by @tigrannajaryan in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/3087#discussion_r613648981_

[2021-04-16 13:24] djaglowski opened #3150 "File storage extension - Optimize or replace bbolt database dependency"
_Originally posted by @tigrannajaryan in https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/3087#issuecomment-820865375_

[2021-04-16 13:34] Jammicus commented on #3143
Will do as part of https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/3123

[2021-04-16 13:57] strangeminds opened #3151 "newrelicexporter - A value is required for "name""
In New Relic `NrIntegrationError` events we're seeing an error when pushing traces to New Relic using the exporter.

[code]

We've been using the `opentelemetry-collector` for weeks now and it just started to show up on April 6th.  I'm not sure if this is something that changed on New Relic's API.

This is our ConfigMap for the exporter.

[code]

Thank you.

[2021-04-16 15:05] djaglowski opened #3152 "File storage extension - Update Client interface to use config.ComponentID"
_Originally posted by @bogdandrutu in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/2883#discussion_r605951497_

[2021-04-16 16:50] #3002 closed

[2021-04-16 20:12] tigrannajaryan opened #3155 "TestIntegration/zookeeper is unstable"
Failure: https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/12540/workflows/2a52be43-4755-4bb0-a759-20f9bffb59ae/jobs/107888

[code]

[2021-04-16 20:12] tigrannajaryan commented on #3155
@asuresh4 you are the author of the test, can you help?

[2021-04-16 21:39] djaglowski opened #3157 "File storage extension - Add test that validates filelogreceiver checkpoint storage"
_Originally posted by @tigrannajaryan in https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/3087#issuecomment-821534158_

[2021-04-16 22:05] #2287 closed

[2021-04-17 16:05] 5idu opened #3159 "error creating file exporter: open ./filename.json: permission denied"
**Describe the bug**
1. my config.yml
[code]

2. my docker-compose.yml
[code]

3. my .env file
[code]

**What did you expect to see?**
application started success.

**What did you see instead?**
when i run `docker logs`, then i see:
[code]

[2021-04-17 19:34] rakyll opened #3162 "AWS PRW Exporter should default to workspace region for SigV4"
Currently, users have to manually select a region in the configuration, but we should identify the region automatically from the workspace URL.

Today the config looks like below:
[code]

With the improvement, it will look like:

[code]

I'm already working on it, please don't duplicate the work.

[2021-04-17 20:11] rakyll opened #3163 "Reflect queue removal changes from PRW exporter to AWS PRW exporter"
Follow up with README changes after https://github.com/open-telemetry/opentelemetry-collector/pull/2951 is merged.

[2021-04-18 00:53] hanjm opened #3164 "Add pulsar exporter and receiver"
**Is your feature request related to a problem? Please describe.**
Export metrics, traces, logs data to pulsar.
Receive metrics, traces, logs data from pulsar.

opentelemetry-collector has kafkaexporter and kafkareceiver, [Apache Pulsar](https://pulsar.apache.org/) is a cloud-native, distributed messaging and streaming platform.

I am implementing pulsarexporter and  pulsarreceiver.

[2021-04-18 08:47] yorikya commented on #3154
Versions:

go.opentelemetry.io/otel v0.19.0
go.opentelemetry.io/otel/exporters/otlp v0.19.0
go.opentelemetry.io/otel/metric v0.19.0
go.opentelemetry.io/otel/sdk v0.19.0
go.opentelemetry.io/otel/sdk/export/metric v0.19.0
go.opentelemetry.io/otel/sdk/metric v0.19.0
go.opentelemetry.io/otel/trace v0.19.0

[2021-04-19 05:04] jean opened #3166 "Handle spans in the Loki exporter"
**Is your feature request related to a problem? Please describe.**

- We want to instrument code using the web SDK (PWA running on edge devices).
- We'd like to add spans for something that we'll call e.g. "task logs".
- We'd like to route the "task log" spans to Loki for long-term storage and display to clients (each client getting to see logs from their org, which may be coming from many devices

[2021-04-19 05:06] jean commented on #3121
Hi @gramidt, I've split out span support to this issue: https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/3166, and updated this issue's description accordingly.

[2021-04-19 07:33] intonet opened #3169 "Elasticexporter - retry_on_failure not working (and other exporterhelper features)"
**Describe the bug**
exporterhelper features not working with elastic exporter https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/exporterhelper

**Steps to reproduce**
add retry_on_failure to configuration

**What did you expect to see?**

**What did you see instead?**
[code]
**What version did you use?**
Version: image: otel/opentelemetry-collector-contrib:0.24.0

**Wha

[2021-04-20 04:35] #2305 closed

[2021-04-20 04:45] LouisStAmour commented on #1163
As an update, I've rebased the commits on the main branch of Otel Collector at https://github.com/LouisStAmour/opentelemetry-collector-contrib/tree/azure-events-v0.25.pre but I've yet to add tests or test it myself. About to build a new Docker image.

[2021-04-20 14:36] flands opened #3179 "Exporting docker_events in `splunk_hec` to Splunk Enterprise results in 400 Bad Request"
**Describe the bug**
Exporting in `splunk_hec` to Splunk Enterprise results in 400 Bad Request

**Steps to reproduce**
- Deploy a fluent-bit Docker container with input docker_events and output forward
- Configure OTelCol 0.24.0 to receive `fluentforward` and export `splunk_hec` to Splunk Enteprise 8.1.4

**What did you expect to see?**
Data in Splunk Enterprise

**What did you see instead?**
400

[2021-04-20 14:37] flands opened #3180 "Exporting cpu/mem in splunk_hec to Splunk Enterprise results in 400 Bad Request"
**Describe the bug**
Exporting in `splunk_hec` to Splunk Enterprise results in 400 Bad Request

**Steps to reproduce**
- Deploy a fluent-bit Docker container with input cpu (or mem) and output forward
- Configure OTelCol 0.24.0 to receive `fluentforward` and export `splunk_hec` to Splunk Enteprise 8.1.4

**What did you expect to see?**
Data in Splunk Enterprise

**What did you see instead?**
400 B

[2021-04-20 15:01] dmitryax commented on #3179
The 0.24.0 has a known bug fixed here https://github.com/open-telemetry/opentelemetry-collector-contrib/commit/f1ee616c4d90c4726cb73e4a4e6b4268e382cf66
Can you try the latest build instead?

[2021-04-20 20:55] bogdandrutu opened #3184 "Data race in groupbytraceprocessor"
[code]

[2021-04-21 00:28] pingleig opened #3188 "aws: Move duplicated ECS metadata clients into internal/aws"
**Is your feature request related to a problem? Please describe.**

Currently there are two places using ECS metadata endpoint to get info like cluster name

- `resourcedetectionprocessor/internal/aws/ecs`
- `awsecscontainermetricsreceiver`

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/88782b0cbdf9f3f7f4f3c15900ba153e3cb7bf56/processor/resourcedetectionprocessor/internal/

[2021-04-21 05:47] sincejune opened #3189 "Proposal: Route event"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-04-21 06:33] #3189 closed

[2021-04-21 06:38] sincejune opened #5007 "Proposal: Route `LogRecord` to different exporters"
### **Is your feature request related to a problem? Please describe.**
We can have multiple `LogRecords` in an `ExportLogsServiceRequest` object and each `LogRecord` can have its own attributes. Now I have no way to send these `LogRecords` to different exporters according to their own attributes.

Assuming I have two `LogRecords` inside one `ResouceLog` of an `ExportLogServiceRequest`, LogRecord-A

[2021-04-21 06:38] sincejune commented on #3189
Moved to https://github.com/open-telemetry/opentelemetry-collector/issues/2972

[2021-04-21 17:03] pxaws commented on #2307
We have hosted the relevant code here: https://github.com/aws-observability/aws-otel-collector/tree/main/internal temporarily and will work to migrate the code to `opentelemetry-collector-contrib`.

[2021-04-21 18:48] owais opened #3199 "Bug report for failed CircleCI build (job: loadtest)"
Auto-generated report for `loadtest` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/109081

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/syslog-udp

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-04-21 22:20] #3163 closed

[2021-04-21 22:31] owais commented on #3199
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/109266

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/syslog-udp

[2021-04-23 14:22] djaglowski commented on #3129
@tigrannajaryan, @pmm-sumo, @gillg: I've compiled some thoughts on this and related discussions in [this doc](https://docs.google.com/document/d/1TIWkzQqMYL9cnS_wAvWbBCXkvHJ7aKwwYG_lb3cc3Ww/edit?usp=sharing). I attempt to rationalize several aspects of the current design, and propose a number changes. Looking forward to hearing your thoughts on this.

[2021-04-23 18:30] nrcventura commented on #3151
New Relic currently expects "name" to be populated on span events. However, it looks like the Jaeger  receiver [does not always populate that field](https://github.com/open-telemetry/opentelemetry-collector/blob/main/translator/trace/jaeger/jaegerthrift_to_traces.go#L167-L170) on the span event when translating from Jaeger Logs. This will result in New Relic dropping the span events (and generatin

[2021-04-23 18:35] pranavmarla opened #3216 "Datadog Exporter: 'running' metric for traces does not have 'otel' prefix"
**Describe the bug**
As per pull request #2308, both the _running_ metrics (i.e. the metrics generated by the Datadog Exporter itself to let Datadog know it's running properly) should be prefixed with the string _otel_. Instead, only the _running_ metric for _metrics_ has the _otel_ prefix -- the one for _traces_ does not.
i.e. I see `otel.datadog_exporter.metrics.running` for metrics as expected,

[2021-04-24 03:48] rakyll opened #4983 "Prometheus Remote Write Exporter should shard by scrape"
Soon, Prometheus will require remote write requests from a single scrape to arrive together. We should find a way to propagate a scraping identifier (it could be a unique identifier generated for every prometheusreciever.internal.transaction) from the receiver to the exporters and shard the outgoing requests by scrape and send them in a single write request.

[2021-04-25 02:23] rakyll opened #4984 "Discuss to deprecate Prometheus remote write exporter external labels support"
Prometheus remote write exporter (https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/prometheusremotewriteexporter) supports `external_labels` to allow users to attach a set of labels to every outgoing sample. Similar functionality in Prometheus is provided by the Prometheus config by `global.external_labels` and the labels are attached to scraped samples.

To be able to

[2021-04-25 16:16] Jammicus commented on #3159
This appears to be an issue in the opentracing-collector rather than the contrib as thats where the exporter lives. This is affecting both contrib and normal collector versions when trying to run in docker compose.

Cause is that the process is trying to create filename.json in the root of the docker-compose environment without the correct permissions.

A way to get around this, is create a local

[2021-04-25 17:08] Jammicus commented on #2467
The project imports the opentelemetry-collector in the main go.mod files in the root of the project.

As far as I can see, in this [file](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/cmd/otelcontribcol/components.go#L85), it calls the default components method from the [collector](https://github.com/open-telemetry/opentelemetry-collector/blob/main/service/defaultcomp

[2021-04-26 01:17] 5idu commented on #3159
@Jammicus Thank you very much for your help, the problem has been solved.

[2021-04-26 01:17] #3159 closed

[2021-04-26 17:46] #3162 closed

[2021-04-26 23:31] ericmustin commented on #3216
👋  Hey @pranavmarla , thanks for reporting. That's some unexpected behavior. Let me see if I can reproduce this on my end, i'll sync with my colleague @mx-psi here and followup when we have next steps.

[2021-04-26 23:36] pranavmarla commented on #3216
Great, thanks @ericmustin !

[2021-04-27 16:52] chaitanyaphalak commented on #3015
Addresses - https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/3204

[2021-04-27 17:11] chaitanyaphalak opened #3259 "Add telemetry information for Splunk Hec Exporter"
**Describe the solution you'd like**
Splunk Hec Exporter currently does not set HEC telemetry fields such as "__splunk_app_name" and "__splunk_app_version"

**Additional context**
Currently the fluentd splunk hec plugin supports that and we need it for feature parity - https://github.com/splunk/fluent-plugin-splunk-hec/blob/develop/lib/fluent/plugin/out_splunk_hec.rb#L93

[2021-04-27 23:13] chaitanyaphalak commented on #3015
The PR was merged @tigrannajaryan this can be closed :)

[2021-04-28 13:52] tigrannajaryan opened #3267 "Support byte stream log collection"
Logs are today assumed to be UTF text, which is split into records using some delimiter pattern. In some cases it is useful to treat the logs files simply as byte streams with unspecified encoding. It would be useful to have this capability added.

To enable it we need the following:
1. Support binary data type (byte slice). It needs to be added to OTLP as one of the data types for AnyValue.
1. Fo

[2021-04-28 13:53] tigrannajaryan commented on #3267
@djaglowski what do you think, are requirements 2 and 3 possible to implement?

[2021-04-28 14:35] tigrannajaryan commented on #3015
Done via https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/3204

[2021-04-28 14:35] #3015 closed

[2021-04-28 17:04] hossain-rayhan opened #3269 "metricstransformprocessor: for filtering with label use OTLP metric type instead of OpenCensus type"
**Description**

This issue is for tracking an upcoming refactoring.

Metrics transform processor using OpenCensus metric type. The community is planning to rewrite the whole plugin to use OTLP metric type instead of OpenCensusu metric type. @hossain-rayhan added a new feature on that processor which enables to filter metrics matching metric name as well as label values. As Rayhan is approaching h

[2021-04-28 17:05] hossain-rayhan commented on #3269
@alolita can you assign this to me. Thanks.

[2021-04-28 19:32] asuresh4 commented on #3034
@tigrannajaryan - I'm unable to reproduce this locally so far. But I believe the increased timeout in the PR attached should help to avoid premature assertions.

[2021-04-29 01:01] dhruv-vora opened #3277 "Suggestions for Collector name in BuildInfo"
The `ApplicationStartInfo` (which will be renamed to `BuildInfo`) does not currently contain a field to store the full name of the Collector. I wanted to add this field for using it in the awsprometheusremotewriteexporter and wanted suggestions for the full name to use for the Collector and also for changing the ExeName from `otelcontribcol`.

1 suggestion would be to use the same names as being u

[2021-04-29 01:02] dhruv-vora commented on #3277
@bogdandrutu @alolita @Aneurysm9

[2021-04-29 10:02] girishgrover2008 opened #4990 "Open-telemetry collector panic crash with Prometheus"
**Describe the bug**
I am using opentelemetry collector to collect data from Prometheus which is monitoring our kubernetes cluster. Idea is open telemetry  collector can collect data from Prometheus and report it to our API. While doing so collector is getting panicked and crashing with segmentation fault.

**Steps to reproduce**
Attaching yaml file for the config that i am using and monitoring th

[2021-04-29 11:28] ocervell commented on #570
@james-bebbington any updates here ? Really needed for OT to work properly on GKE :/

[2021-04-29 12:19] james-bebbington commented on #570
It looks like an initial GKE detector was added recently by @jrcamp.

See the docs here: https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/resourcedetectionprocessor

I don't think this collects all the fields needed to export data under the [k8s_* Cloud Monitoring resource types](https://cloud.google.com/monitoring/api/resources#tag_k8s_container) though.

@das

[2021-04-29 13:18] tmodelsk opened #3278 "Particular hostmetrics export failure: The start time must be before the end time"
**Describe the bug**
Particular metrics (sum metrics) that are from [hostmetrics receiver](https://github.com/open-telemetry/opentelemetry-collector/tree/main/receiver/hostmetricsreceiver) cannot be exported to google monitoring api.
The error message is: "The start time must be before the end time"
Affected hostmetrics are:
- process.memory.physical_usage
- process.memory.virtual_usage
- system.d

[2021-04-29 14:00] strangeminds commented on #3151
Thank you @nrcventura I'm working with New Relic on the issue with dropped names in spans.

[2021-04-29 14:00] #3151 closed

[2021-04-29 14:27] andreas-ahman opened #3279 "sapmexporter crashing the otel-collector when passing the signalfx access token"
**Describe the bug**

When passing the `com.splunk.signalfx.access_token` using either the splunk-otel-java or official agent the sapm exporter crashes the collector.

**Steps to reproduce**

I built this package https://github.com/spring-projects/spring-petclinic and use the splunk-otel-java and also https://github.com/open-telemetry/opentelemetry-java-instrumentation both produces the same resul

[2021-04-29 15:16] Aneurysm9 commented on #3277
Why would these names need to change?  `otelcontribcol` and `OpenTelemetry Collector Contrib` seem fine and reasonable to me.

[2021-04-29 15:22] RSoodAMAT opened #4977 "Metrices : Value Recorder and Observer not being exported to Prometheus via Otel Collector."
**Describe the bug**
Unable to view the the observer and value recorder metrices in Prometheus.

**Steps to reproduce**
1. Start the otel colltector along with jaeger and prometheus.
2. Add the metrices for counter, recorder and observer in application
3. Unable to view recorder and observer in prometheus.
4. Configuration used for docker-compose for otel -collector :
See Example in the end.

**Wh

[2021-04-29 16:47] dhruv-vora commented on #3277
The discussion with @alolita was that since people can also contribute to the core OpenTelemetry Collector, adding Contrib to this Collector does not make sense. So that is why I suggested to use the same name as the core Collector, or something different such as Add-ons or Extensions or Plugins.

[2021-04-30 10:23] mx-psi commented on #3216
Thanks for the report, I opened #3286 which should fix this :)

[2021-04-30 17:05] #3034 closed

[2021-04-30 19:11] atoulme opened #3289 "Map metric type to field of Splunk HEC metric"
**Is your feature request related to a problem? Please describe.**
When a metric is converted to Splunk HEC, some metadata information is lost. In particular, the type of metric is not passed on (counter, gauge, histogram, summary).

**Describe the solution you'd like**
Add a `metric_type` field to the Splunk HEC metric event that maps to the type of metric being ingested.

**Describe alternatives

[2021-04-30 20:13] tonglil commented on #2375
I would like to reduce the reliance on datadog agents and avoid exporting to them.

[2021-04-30 20:13] asuresh4 commented on #3155
I have been trying to reproduce this error locally but no luck yet. At this point, I'm not sure what's causing the tests to fail. I'll keep this in the back burner for now but please let me know if you run into this again.

[2021-04-30 21:46] tonglil opened #3293 "Datadog: host.name attribute from apps are being set for otel.datadog_exporter.metrics.running"
**Describe the bug**
`otel.datadog_exporter.metrics.running` should only show `host` tags for the hosts running the collector.

However, the `host` tags from OTel instrumented apps are showing up in this metric in Datadog.

**Steps to reproduce**
Run the collector for datadog on host A.
Send a metric from host B.
Look in /metric/summary?filter=otel.&metric=otel.datadog_exporter.metrics.running and

[2021-04-30 22:42] bogdandrutu commented on #3278
@jsuereth what do you think about this?

[2021-04-30 22:57] bogdandrutu commented on #3279
@andreas-ahman thanks for reporting this issue, the PR to fix this is up for review, and will be included in v0.26.0

[2021-05-01 18:40] #3279 closed

[2021-05-03 15:48] gramidt commented on #3121
Thank you, @jean!

[2021-05-03 15:58] jacobmarble commented on #2951
@tigrannajaryan this is a simple tracking issue, you may assign it to me.

[2021-05-03 17:40] djaglowski commented on #3267
@tigrannajaryan This should be possible.

👍 `entry.Entry.Body`is of type `interface{}`, so will be ready once OTLP is updated.

`encoding=nop` is currently the default, so we need to be clear on whether this will be an additive change, a change to default behavior, or even a removal of current behavior. I think the current default behavior (including newline splitting) is the best for new users be

[2021-05-03 17:50] djaglowski commented on #2947
I believe this is resolved, now that the [file_storage extension](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/extension/storage/filestorage) is available. Note that a `file_storage` extension needs to be configured in order for this to work.

[2021-05-03 17:57] tigrannajaryan commented on #3267
@djaglowski  Great, thanks for validating the idea.

What happens currently when `encoding=nop` and if the file contains a byte sequence that is not a valid UTF8? Do we just put the bytes as is in the Body's `StringValue`? If so I think it is not a correct approach since Protobuf requires strings to be UTF8. So, we may need to rethink this anyway. Perhaps make UTF8 the default? What does `encoding

[2021-05-04 00:18] chengtangzheng2021 opened #3315 "batchprocessor/batch_processor.go:209 Sender failed {"kind": "processor", "name": "batch","
**Describe the bug**
using otel javaagent send otlp metrics with basic level to otel collector with otlp receiver and newrelic exporter, got this error message:

2021-05-03T19:52:52.923-0400    warn    batchprocessor/batch_processor.go:209   Sender failed   {"kind": "processor", "name": "batch", "error": "[unsupported metric processedSpans (IntSum); unsupported metric runtime.jvm.memory.pool (IntS

[2021-05-04 17:41] bogdandrutu commented on #3315
/cc @alanwest @a-feld @jack-berg @nrcventura

[2021-05-04 17:43] a-feld commented on #3315
Thanks @bogdandrutu !

Hi @chengtangzheng2021 - we do not support cumulative type metrics in the New Relic exporter. This is detailed [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/3091#issue-614477670).

[2021-05-04 18:03] atoulme opened #3319 "Splunk HEC metrics mapping misses support for summaries"
The Splunk HEC metrics mapping takes OpenTelemetry native metrics and transfers them into domain objects to be serialized to JSON to be sent to Splunk.
The hec mapping is in the metricdata_to_splunk.go file. The mapping lists explicitly each of the supported metric types.

The summary metric type is currently not mapped, and therefore those metrics are not sent to Splunk.
The collector logs a warn

[2021-05-04 18:05] bogdandrutu commented on #3315
@a-feld I would suggest that for cumulative you better export them as Gauges then at least 🗡️

[2021-05-04 18:06] a-feld commented on #3315
Ah good idea @bogdandrutu !

[2021-05-04 19:46] a-feld commented on #3315
@chengtangzheng2021 we're working on #3322 for you!

[2021-05-04 21:17] #3315 closed

[2021-05-04 21:25] a-feld commented on #3315
Hi @chengtangzheng2021 - this fix is merged and the edit has been rolled out to our [OTLP endpoint](https://forms.gle/fa2pWcQxgVQYMggEA). If you're interested in trying out the behavior, feel free to direct your traffic to our OTLP endpoint via an OTLP exporter!

[2021-05-05 14:36] #2888 closed

[2021-05-05 16:56] lubingfeng commented on #2722
@bogdandrutu can you review and approve this?

[2021-05-05 18:02] hossain-rayhan commented on #2722
05/05 Collector SIG meeting discussion notes:
- Rayhan will update the GitHub design proposal explainging the use case and how its different from existing metricstransformprocessor.
- If community decides not to have this processor in the contrib, we will prefix the type/name with `experimental_`. Like `experimental_resourcegeneration` processor. We discussed this earlier and Bogdan mentioned toda

[2021-05-05 19:07] bogdandrutu commented on #2722
Questions that are not answered:
1. Combine multiple metrics in `metricstransform` seems to do 70% of what you are doing. At least based on the name.
2. There is a PR https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/3177 that adds scaling which is similar with unit change. Where should that functionality live?
3. "Another use case us, we need to change the metric values to ma

[2021-05-05 19:36] hossain-rayhan commented on #2722
Thanks @bogdandrutu . Here are my thoughts-

It does not do specifc calculation on selected metrics. For example, we need to define exact two specific metrics for calculating the `pod.memory.utilization` and it should be defined which one is numerator and which one is denominator. Also, it can perform only on aggregation type (sum, min, max, mean). To to other operation like- multiply, divide, and

[2021-05-05 20:33] deki commented on #1646
Just hit the same issue with opentelemetry-php. https://github.com/open-telemetry/opentelemetry-php/blob/main/sdk/Trace/RandomIdGenerator.php needs to be replaced with an XRay generator. However this is currently blocked by https://github.com/open-telemetry/opentelemetry-php/issues/281.

[2021-05-05 20:54] odeke-em opened #4976 "exporter/prometheusremotewrite: convert "up" OTLP gauge metric into a PrometheusProto Up metric"
After PR https://github.com/open-telemetry/opentelemetry-collector/pull/2918 is merged, we shall need to convert the "up" gauge generated from the receiver/prometheus into an explicit PrometheusProto Up metric.

[2021-05-06 01:47] bogdandrutu opened #3334 "Expired test certificate for SAPM"
[code]

[2021-05-06 07:34] anuraaga opened #3337 "Remove anuraaga from approvers"
Currently, there are four ways I get added to PRs

- Automatically assigned
- Implicit review request via the approvers team
- Explicit review request (didn't know this was happening until just noticed it now)
- at-mention

In particular, the implicit review request via the approvers team makes it very difficult which PRs I'm supposed to focus on, especially when there are also explicit review req

[2021-05-06 07:35] anuraaga commented on #3337
Note discussed alternatives in https://github.com/open-telemetry/opentelemetry-collector-contrib/discussions/2736 but doesn't seem to be. I think it's ok, approvers doesn't mean merge rights anyways so doesn't seem to be a huge benefit in me being there.

[2021-05-06 09:06] gillg opened #4974 "Prometheus Receiver - Some counter metrics dropped for unknown reason"
**Describe the bug**
Analyzing an opentelemetry collector setup and trying to create dashboards with collected metrics, I discovered some droped metrics for an unknown reason.
I have a bunch of "dropped" metrics without any logs or traces.
Eventualy,
I have some logs `info    internal/metrics_adjuster.go:357        Adjust - skipping unexpected point      {"kind": "receiver", "name": "prometheus",

[2021-05-06 14:29] mx-psi commented on #3293
Hi @tonglil, thanks for reporting this!

I agree that, given the name and description, one would expect that it would report only the Collector where the Datadog exporter was running, and I am sorry about the confusion. This was indeed the original meaning of the metric, but we later changed it to include any host that was reported through the exporter, to account for cases like having several Col

[2021-05-06 15:45] #3334 closed

[2021-05-06 16:30] verysonglaa commented on #1958
Any progress here? I also have the same issue in v0.26.0

[2021-05-06 23:53] maxgolov commented on #3267
I like the proposal of `encoding=raw` or `encoding=bytes` . Would there be a practical limit on how big the data should be, i.e. `max_log_size` - does it impose an upper boundary? Can this boundary be at least `64KB` and preferably within megabytes range? For bigger-sized blobs the clients should probably use some form of alternate blob storage / blob collector...

[2021-05-07 00:22] arul-jegadish commented on #2835
Will be a very useful feature. For tracing, when this is available, one could even skip setting up a backend like Jaeger or Zipkin and directly query the data from S3 using a service like Athena.

[2021-05-07 14:44] #3157 closed

[2021-05-08 12:47] albertteoh opened #4975 "Inconsistent results between prometheusexporter and prometheusremotewrite"
**Describe the bug**
When using prometheusremotewrite to export metrics to M3, I'm getting latencies that are over 200 years when queried from M3.

However, when scraping these metrics from prometheus, the latencies look correct.

Am I configuring something incorrectly?

**Steps to reproduce**
1. Run opentelemetry-collector-contrib with the config attached in this issue.
2. Send spans to the colle

[2021-05-10 14:55] #2327 closed

[2021-05-10 16:15] opentelemetry-bot opened #3361 "Bug report for failed CircleCI build (job: loadtest)"
Auto-generated report for `loadtest` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/116067

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-05-10 19:40] odeke-em opened #4892 "receiver/prometheus: remove Prometheus->OpenCensusProto->OTLP Pdata, to use Prometheus->OTLP Pdata"
This is an issue tracking the upcoming removal of the Prometheus receiver's long roundtrip of Prometheus->OpenCensusProto->OTLP Pdata to instead convert from Prometheus->OTLP Pdata directly.

[2021-05-11 10:10] kisieland commented on #2327
Yes, sorry about that

[2021-05-11 14:23] djaglowski commented on #3150
I believe this was resolved to a satisfactory degree in #3087, by disabling fsync for each write. If feedback warrants, we can revisit.

[2021-05-11 14:23] #3150 closed

[2021-05-11 15:14] jsuereth commented on #3278
Sorry I missed this comment.   The OpenTelemetry GCP metrics exporter for Go *does* do the suggested fix, but the current collector exporter is based on OpenCensus where that was unnecessary.  This should be considered a bug against the Google Cloud exporters in the collector.

[2021-05-11 15:15] dashpole commented on #3278
I think this should be fixed by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/3360

[2021-05-11 22:13] #3259 closed

[2021-05-12 04:31] kiahmed opened #3375 "failed to scrape Prometheus endpoint"
**Describe the bug**
So, I am trying get pulse from a prometheus instrumented application that spits on port 12100 in a container. After configuring Prometheus as receive on target host when I run I get this error . Any idea ? Also receiver config below:

 `
"target_labels": "map[instance:127.0.0.1:12100 job:node-collector]"}
go.opentelemetry.io/collector/receiver/prometheusreceiver/internal.(*met

[2021-05-12 07:11] kiahmed commented on #3375
found the issue it was a docker port thing , had to connect internally

[2021-05-12 07:11] #3375 closed

[2021-05-12 13:57] djaglowski opened #3376 "nginxreceiver - Integration Test"
**Is your feature request related to a problem? Please describe.**
`nginxreceiver` does not contain any integration tests.

**Describe the solution you'd like**
A simple integration test, similar in style to [jmxreceiver](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/jmxreceiver/integration_test.go)

[2021-05-12 17:25] #3376 closed

[2021-05-12 19:18] djaglowski commented on #3095
@WPH95, this issue came up again today. Do you still think you'll be able to solve this?

[2021-05-12 20:08] kiahmed opened #4971 "Scrape Commit failed from prometheus receiver"
**Describe the bug**
did anyone see this or have a working example of prometheus receiver against a static_target ?

ERROR scrape/scrape.go:1088 Scrape commit failed {"kind": "receiver", "name": "prometheus", "scrape_pool": "node-collector", "target": "http://relay-node:12798/metrics", "err": "Permanent error: [Permanent error: invalid temporality and type combination; Permanent error: invalid tem

[2021-05-13 10:22] boostchicken commented on #1852
@ericmustin No worries! We ended up having to put this on the backburner, but now we are picking it up again.  Would love some eyes on from any of your engineers if they can for a code-review

https://github.com/boostchicken/opentelemetry-collector-contrib/tree/datadog-receiver/receiver/datadogreceiver

The code is functional complete with all APIs, just needs unit-tests finished, integration test

[2021-05-13 13:41] pmalek-sumo commented on #1093
I've pushed my attempt at fixing this issue: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/3380

PTAL

[2021-05-13 15:13] #1093 closed

[2021-05-13 16:26] #3216 closed

[2021-05-13 16:28] #2773 closed

[2021-05-13 17:07] #3319 closed

[2021-05-13 17:07] bogdandrutu commented on #3293
@mx-psi can this be closed?

[2021-05-13 17:21] bogdandrutu commented on #2386
We are not going to do this since they are changing their license and we cannot depend on that

[2021-05-13 17:21] #2386 closed

[2021-05-13 17:37] gramidt opened #3382 "Remove Loki exporter due to incompatible license changes (Apache 2 -> AGPLv3)"
**Is your feature request related to a problem? Please describe.**
Grafana Labs recently re-licensed Grafana, Loki, and Tempo to AGPLv3 which is incompatible with CNCF license guidelines.

https://grafana.com/blog/2021/04/20/grafana-loki-tempo-relicensing-to-agplv3/

**Describe the solution you'd like**
Remove the Loki exporter that I contributed.

Notes:

- For those interested in using it, feel

[2021-05-13 17:37] gramidt commented on #3382
@bogdandrutu - Per our conversations. I will tag the community members I know this may impact.

[2021-05-13 17:41] gramidt commented on #3382
cc @jean @gillg @joshuali925 @scumpah @MacNale

[2021-05-13 17:57] gillg commented on #3382
Noooooo ! 😭
I understand the cncf guidelines and I'm not really enthousiast to their license change.
But what is the relationship with the exporter itself ? Elasticsearch is in the same case, and datadog, new relic are pure non open source solutions. So what is the problem to format logs in an expected format for Loki ?

[2021-05-13 18:12] slim-bean commented on #3382
I don't believe the license change should have any affect here, the client code and libraries within Loki remain Apache 2

[2021-05-13 18:18] gramidt commented on #3382
This is great news, @slim-bean! Will that client code be split out into a new repository?

[2021-05-13 18:21] slim-bean commented on #3382
No plans at the moment to split this out, however the [Licensing Doc](https://github.com/grafana/loki/blob/main/LICENSING.md) gives some more details here on what areas of the project will remain Apache2.

We did attempt to consolidate the Apache2 and client code as much as possible to make it easier to consume, we are considering a separate go mod file for the client code as well (however this co

[2021-05-13 18:32] gramidt commented on #3382
Thank you for the details, @slim-bean! One thing to take into account is that many projects use automated tools for tracking licenses of components, so ensuring the final solution of the client code works with these automated scans would be great.

[2021-05-13 18:34] gramidt commented on #3382
@bogdandrutu - Do you foresee any CNCF challenges with the current way they have detailed the areas that will remain Apache 2?

[2021-05-13 22:27] bogdandrutu commented on #3382
@gillg it is not about being open-source it is about the license under what they release the "client" code that we depend on. If that license forces us to have a dependency that will affect our customers we will not maintain that dependency.

@alolita @lizthegrey is it ok to depend on the sub-part of the project that says it is apache2? Can you check with someone from CNCF?

[2021-05-13 22:36] lizthegrey commented on #3382
https://github.com/cncf/foundation/blob/master/agpl-recommendations.md

[code]

Apply to the governing board, it seems like a slam dunk.

[2021-05-14 01:25] bogdandrutu commented on #3382
@caniszczyk can you tell me how I can apply for an "exception" (I think is more like a sanity check)? The part of code that we need is in https://github.com/grafana/loki/tree/main/pkg/logproto which seems to be apache-2 based on their [license doc](https://github.com/grafana/loki/blob/main/LICENSING.md).

[2021-05-14 01:27] lizthegrey commented on #3382
Does checking out the code in that module also place AGPL code on the filesystem? I remember Google had a policy against even downloading any AGPL code, even if it was unused.

[2021-05-14 01:32] bogdandrutu commented on #3382
We actually copied the code from there (here https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/lokiexporter/internal/third_party/loki/logproto), so we don't download that modules.

[2021-05-14 07:58] mx-psi commented on #3293
Closing since the docs were updated

[2021-05-14 07:58] #3293 closed

[2021-05-14 15:19] djaglowski opened #3390 "nginxreceiver: Group connection gauges into a single metric"
**Is your feature request related to a problem? Please describe.**
This receiver produces four individual instruments that are closely related. These instruments should follow similar [conventions](https://github.com/open-telemetry/opentelemetry-specification/tree/main/specification/metrics/semantic_conventions#instrument-naming) to those established for `usage`, `time`, and `io`, where a label is

[2021-05-14 15:31] caniszczyk commented on #3382
This is a bit of a strange case of logoproto has that LICENSE_APACHE2 file but the copyright headers don't specify any specific license (which is way it's always nice to have copyright/license headers in each source file)

The simple solution here could be to copy those files before the AGPL license change and reference them at that point.

I'm reaching out to Grafana to get clarity, my assumption

[2021-05-14 15:37] gramidt commented on #3382
@caniszczyk  - To help out, @slim-bean is the maintainer of Loki at Grafana Labs and he commented above on their intention.

[2021-05-14 15:40] gramidt commented on #3382
cc @tomwilkie - Is there anything else we should know that we may have missed?

[2021-05-14 15:41] caniszczyk commented on #3382
ideally I'd love Grafana to add license/copyright headers to those source files that indicate the Apache 2.0 license, should be a simple PR

[2021-05-14 15:43] gramidt commented on #3382
@slim-bean @tomwilkie - Do you foresee any issue adding the license/copyright headers to the source files per @caniszczyk suggestion?

[2021-05-14 16:08] RichiH commented on #3382
(@slim-bean summoned me)

@caniszczyk : The best course of action seems to be to add [SPDX IDs](https://spdx.dev/ids/) to the files in question to make the information machine readable and thus lintable. If you agree, I can propose this to the team leads.

[2021-05-14 16:51] lizthegrey commented on #3382
I think from my end concerns are resolved with SPDX IDs and ensuring the files are either hand-copied into our project, or are available to go import from a repo that doesn't intermix apache2 and agpl code.

(I remember this was a problem with elasticsearch where the commingling of the Free and non-Free components in one repo checkout made it challenging to build a pure Free distribution)

[2021-05-15 08:31] paulgrav commented on #3093
@cyrille-leclerc Do you recommend that users continue to use the Elastic exporter? Does this mean that improvements to the Elastic exporter will cease?

[2021-05-16 14:21] boostchicken commented on #1852
@ericmustin I changed the datadogexporter to treat span names correctly, also I updated the resourceName generation to work with your libraries

[2021-05-16 18:48] ericmustin commented on #1852
@boostchicken This is great work and I think it's a great start. It sounds like this is being used by your organization already in production?

- I can find some time this week to review your branch this week/sprint and offer some feedback. I did a quick pass, seems like a reasonable implementation. I generally think, if this is working for you on your branch, while there's a few bits getting drop

[2021-05-17 04:19] boostchicken commented on #1852
@ericmustin quick question, why do you always generate the span name in the datadogexporter, if one is provided why not just use it?

Also yes, I am willing to maintain this, also I am working on getting hooked in with the group.

[2021-05-17 08:40] cyrille-leclerc commented on #3093
@paulgrav we are working hard at making the native support for OTLP on Elastic Observability / Elastic APM Server generally available as soon as possible. Once it's done, we will deprecate the Otel Collector for Elastic and users will be able to keep the same architecture with the same OpenTelemetry Collector replacing the elastic exporter by an OTLP exporter. It will also be possible to have Otel

[2021-05-17 09:54] paulgrav commented on #3093
@cyrille-leclerc That makes complete sense. Thanks for the update.

[2021-05-17 13:34] ericmustin commented on #1852
@boostchicken There are a few reasons, [this thread](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/1909) is about a slightly different subject but has some overlap you may find relevant. That being said, I'm not 100% sure what the answer is because you're describing a currently unsupported use case and I haven't reviewed your fork (like i said, scheduling time for that 😄

[2021-05-17 15:43] eroteme opened #3405 "[lokiexporter]: Allow resource level attributes to be added to loki labels"
**Is your feature request related to a problem? Please describe.**
Currently the loki exporter is able to add logrecord attributes to loki labels. Resource attributes could also be added as labels to assist with filtering of loki data.

**Describe the solution you'd like**
Resources can be  taken from the ResourceLogs and their attributes added in a similar way to the logrecord attributes already

[2021-05-17 16:04] WPH95 commented on #3095
I will look into it this week。The problem at the moment still seems to be that the udpreceiver is prone to problems with large data sizes.

[2021-05-17 17:48] eunice98k commented on #1077
Hi, I would like to work on this!

cc @alolita

[2021-05-17 21:58] eroteme commented on #3405
Example config to specify the resource attributes for loki labels

[code]

Not sure in the example above which severity label should be used (from the resource or from the log record) and how we decide

[2021-05-18 14:10] WPH95 commented on #3095
I guess this problem caused by two-part.
1. perf test create some mock data. it's not a Standard RFC5424 (it's fixed)
2. golang UDP server no health-check/Ready check. it means need manual wait a few seconds to waiting for UDP server to start

now 1 is fixed. and 2 maybe still exists (#3419 add some logic before send data to udp server, waiting 2 second)

if after #3419 merged still have the probl

[2021-05-18 15:04] mx-psi commented on #1339
@bogdandrutu Could we give a try to the Github feature that @jpkrohling commented about in https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/1339#issuecomment-718766716 ?

The auto assign Github Action we use seems to have some issues (e.g. PR assignment is not balanced across approvers and it is sometimes a bit slow) and it could help fix this issue

[2021-05-18 16:48] pxaws opened #3424 "Need a common utils to call k8s api server"
**Is your feature request related to a problem? Please describe.**
Existing otel components contain some duplicate functionalities for calling the kubernetes api server:
* Kubernetes Cluster Receiver: https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/k8sclusterreceiver
  * `watcher` use kubernetes `informers.SharedInformerFactory` to listen for resources changes

[2021-05-18 16:49] pxaws commented on #3424
@alolita @mxiamxia

[2021-05-18 20:43] bputt-e opened #4917 "Add compression options for kafka exporter"
**Is your feature request related to a problem? Please describe.**
We're storing traces into kafka for downstream processing and we're using quite a bit of disk space. According to the kafka producer docs, there is no compression by default.

**Describe the solution you'd like**
Update the kafka exporter to accept a compression codec and the level of compression, ex:
[code]

**Describe alternative

[2021-05-19 02:03] rakyll opened #4996 "Allow partitioning in fileexporter"
fileexporter currently doesn't partition and exports to a single destination. This strategy is not going to work in production under heavy load. Have a partitioning mechanism where users can partition by the following:

* date/time
* telemetry type

The the collector can take a template like the following example to generate the paths.

[code]

[2021-05-19 06:52] shabicheng opened #3429 "[AlibabaCloudLogServiceExporter] metric exporter contains special character"
**Describe the bug**

OpenTelemetry metric's labels contains '.' or others none Letter or Digit characters, the alibabacloudlogserviceexporter do not replace these characters, so promQL will cause errors like "promql error: 1:33: parse error: unexpected character inside braces: '.'"

According to opentelemetry collector prometheus exporter, we can replace any none Letter or Digit characters with '

[2021-05-19 06:52] shabicheng commented on #3429
I will fix this issuce soon.

[2021-05-19 10:59] awsiv commented on #1562
Would be cool to get some traction on this - The ability to dynamically increase the sample ratio during an incident (currently using X-ray) is very useful.

FWIW, xray-receiver seems to be using the proxy server to achieve this: https://aws-otel.github.io/docs/components/x-ray-receiver#set-x-ray-reciever-configurations-related-to-the-local-tcp-proxy-server

[2021-05-19 16:40] chaitanyaphalak opened #3430 "Add the ability to add namespace metadata, labels and annotations to k8s-tagger processor"
**Is your feature request related to a problem? Please describe.**
We need a feature to add namespace-related metadata, labels, and annotations to our logs. The current feature set offered by the k8s-tagger processor only supports adding of pod-related metadata, labels, and annotations.

**Describe the solution you'd like**
It would be awesome if K8s tagger could add functionality to add namespace

[2021-05-19 16:41] jrcamp commented on #3424
See also https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/extension/observer/k8sobserver

[2021-05-19 19:10] jatan28 opened #3431 "Metric tags are being dropped when using ObserverType: summary"
Currently, the statsd receiver supports the conversion of timings to either gauge/summary. While using gauge we can see that the tags of the original incoming metric are correctly translated to output metric labels but this does not happen when using summary which is seen https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/statsdreceiver/protocol/metric_translator.

[2021-05-19 19:14] gavindoudou commented on #3431
Thanks! The summary part does not have tags. I will add.

[2021-05-19 23:44] gavindoudou commented on #3431
Are working on a fix, will have the PR tomorrow.

[2021-05-20 16:36] humivo opened #3436 "Change obsreport helpers for receiver to use the new pattern created in Collector"
Changes were made to change the calling pattern for the Receiver obsreport helpers in the Collector repo [Issue #2649](https://github.com/open-telemetry/opentelemetry-collector/issues/2649).  The PR was merged with deprecated functions to align with the contrib repo ([PR](https://github.com/open-telemetry/opentelemetry-collector/pull/3227)).

This issue calls for the obsreport helpers for Receiver

[2021-05-20 17:14] pavankrish123 opened #3438 "Update components using configgrpc.ToDialOptions and confighttp.ToClient to the new interfaces."
**Is your feature request related to a problem? Please describe.**

https://github.com/open-telemetry/opentelemetry-collector/pull/3128 in the core introduces changes to ToDialOptions and ToClient methods to use configuration from extensions to get hold of authentication configuration for clients.

**Describe the solution you'd like**
- Fix the clients to use new interfaces
- Fix the corresponding

[2021-05-20 18:05] gramidt commented on #3438
@pavankrish123 - Are you taking this or should I?

[2021-05-20 18:14] gramidt commented on #3438
Starting now.

[2021-05-20 18:23] opentelemetry-bot opened #3441 "Bug report for failed CircleCI build (job: loadtest-with-github-reports)"
Auto-generated report for `loadtest-with-github-reports` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/120031

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/syslog-udp

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-05-21 02:15] gramidt commented on #3438
The final list of components:

- lokiexporter
- httpforwarderextension
- dynatraceexporter
- sumologicexporter
- influxdbexporter
- signalfxexporter
- f5cloudexporter
- awsprometheusremotewriteexporter
- humioexporter
- uptraceexporter
- nginxreceiver

[2021-05-21 03:46] gramidt commented on #3438
@pavankrish123 - Could we change the title to "Update components with Client Auth Extension changes" or something of that sort? This work impacted receivers, extensions, and exporters in this contrib repo.

[2021-05-21 05:45] pavankrish123 commented on #3438
Done @gramidt - Let me know

[2021-05-21 12:12] mx-psi opened #3445 "Enable Dependabot for Github Actions"
Dependabot has support for updating the Github Actions we use on our CI. Since we are moving most of our CI to Github Actions it can be useful to enable it for this too.

_Originally posted by @mx-psi in https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/3432#issuecomment-845860777_

[2021-05-21 15:19] gillg opened #4916 "Prometheus receiver may not be honouring the memory limiting and seems to have a memory leak"
**Describe the bug**
As discussed here https://cloud-native.slack.com/archives/C01N6P7KR6W/p1621329415004800 the memory limiter drop lot of scrapped datapoints after some times (minutes/hours) runing.
@tigrannajaryan suspects that prometheus receiver doesn't honor the memory limit.

After some minutes I have lot of errors like "Memory usage is above soft limit. Dropping data." if my scraped target

[2021-05-21 17:23] LouisStAmour opened #3447 "Exporting trace-derived metrics and logs for Grafana/Loki"
**Is your feature request related to a problem? Please describe.**
Grafana is the first company I'm aware of to not automatically derive metrics and logs from traces sent via OTLP to Tempo.

I believe this is a valid use case for Collector to handle, but I'm open also to a new Grafana exporter that merges Prometheus publishing with Loki publishing and OTLP publishing. That said, it's also possible

[2021-05-21 20:26] deepakkhetwal opened #3448 "cannot load configuration: unknown processors type "k8s_tagger" for k8s_tagger"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.

**What did you expect to see?**
k8_tagger part as a processor. I am using collector operator in kubernetes. below is collector config deployed in kubernetes environment

**What did you see instead?**
cannot load configuration: unknown processors

[2021-05-21 20:42] Saber-W commented on #1305
Hi, I would like to pick up this one.
cc @alolita

[2021-05-24 17:17] opentelemetry-bot opened #3495 "Bug report for failed CircleCI build (job: loadtest-with-github-reports)"
Auto-generated report for `loadtest-with-github-reports` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/121907

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/syslog-udp
-  TestMetric10kDPS
-  TestMetric10kDPS/SignalFx

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as com

[2021-05-24 20:06] deepakkhetwal opened #3499 "k8s_tagger not working"
**Describe the bug**
I have added k8s_tagger as a processor before my otlp receiver logs could be exported to jaeger/zipking and kafka. I am expecting processor to add kubernetes host/pod information before being exported to destinations. But it's not happening. Please advise if I am missing anything and what's the best way to debug this processor to see what it is doing.

**Steps to reproduce**
I

[2021-05-24 20:16] sethAmazon opened #3500 "Open Telemetry Collector Removed testutil.LimitedWriter"
Open Telemetry Collector Removed testutil.LimitedWriter thus limited writer must be added to Open Telemetry Collector Contrib tests. Link to ticket https://github.com/open-telemetry/opentelemetry-collector/issues/3225

[2021-05-24 21:13] #3500 closed

[2021-05-24 21:58] andresbeckruiz commented on #3445
I'd like to take on this issue.

cc: @alolita

[2021-05-24 22:40] gramidt opened #3507 "Prepare components for the Client Authentication Extensions"
**Is your feature request related to a problem? Please describe.**
open-telemetry/opentelemetry-collector#3128 in the core introduces changes to ToDialOptions and ToClient methods to use configuration from extensions to get hold of authentication configuration for clients. However, this commit has recently been rolled back to reduce the changes needed for an individual PR in contrib ( see #3442 ).

[2021-05-24 23:20] bogdandrutu commented on #3277
@alolita please add more details about this, I am not sure I understand from @dhruv-vora comment what is wrong with this.

[2021-05-24 23:41] gramidt commented on #3507
@bogdandrutu - I have split the PRs based on your feedback on #3442.

cc @jpkrohling @tigrannajaryan @pavankrish123

[2021-05-24 23:57] hoffoo opened #3519 "elasticexporter does not seem to support the insecure option"
**Describe the bug**
Docs specify that elasticexporter should have an insecure flag, does not seem to work and I dont see it in the code

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.
[code]

**What did you expect to see?**
Be able to write to apm server

**What did you see instead?**
2021-05-24T23:48:41.127Z	warn	batchprocessor/batch_processor.go:184	S": "process

[2021-05-25 00:45] andresbeckruiz commented on #3131
Hi! I am currently working on #3445 and I've seen that there are several issues surrounding failed CircleCI builds. I read in #3432 that we are migrating the CircleCI workflow to GitHub Actions, so I was wondering why the CircleCI build is still running when GitHub actions is running elsewhere.

[2021-05-25 02:27] andresbeckruiz commented on #3445
Quick question: in order to enable Dependabot for GitHub actions, I have to edit the dependabot.yml file. There is a comment on the top of the file that says "File generated by 'make gendependabot'; DO NOT EDIT." Is it okay to edit this file just for this issue?

[2021-05-25 07:09] mx-psi commented on #3445
No, you should modify the `make gendependabot` task to add this (and do so also on the `opentelemetry-collector` repo!)

Since this should be rather easy to change I would just pick whichever frequency you think it's best (maybe weekly?) and we can discuss it on the PR

[2021-05-25 07:55] SkrPaoWang opened #4970 "can opentelemetry collector collect data directly from thanos?"
as title

[2021-05-25 08:25] jpkrohling commented on #1339
Folks, it's becoming really hard to keep the sanity while working with OpenTelemetry. Right now, I have 148 notifications in my queue for opentelemetry-collector and opentelemetry-collector-contrib, and it's been only one business day since I had my queue cleared. I doubt they are all relevant. In fact, I doubt even 20 of them are relevant to me.

![image](https://user-images.githubusercontent.com

[2021-05-25 09:08] mx-psi commented on #1339
I echo the concerns above, it is very time-consuming to go through the notifications even for some one who is an approver only for the contrib repo.  It should be easy to at least try the "Code review assignment" feature so that we are able to manage this better.

[2021-05-25 09:17] anuraaga commented on #1339
I'd appreciate if we could try out the code review assignment technique too, if it works can close #3337 without doing anything as it would probably solve my current notification overload issue.

[2021-05-25 16:54] muneernet opened #3524 "Data dog open telemetry exporter not sending traces and logs to data dog"
Hi Team,

I Have used the attached configuration
[config.yaml.txt](https://github.com/open-telemetry/opentelemetry-collector-contrib/files/6540993/config.yaml.txt)
  Am using a console application and adding the instrumentation

Program.cs
========
using log4net;
using log4net.Config;
using System;
using System.Collections.Generic;
using System.Diagnostics;
using System.Linq;
using System.Text;
us

[2021-05-25 17:49] atoulme opened #4915 "Attributes processor is not identified when regex does not match"
**Describe the bug**
When a regular expression doesn't match a log line, it fails, but is not identified in the error message, making it hard for the developer to understand which processor entry is failing.

**Steps to reproduce**
Define a pipeline with two different processors such as:
[code]
Add those 2 processors to the same pipeline.

Run the pipeline.

**What did you expect to see?**
I expec

[2021-05-25 19:19] straussb opened #3526 "A couple unit tests fail when run on EC2 instance development environment"
**Describe the bug**
My developer desktop is an EC2 instance.  There are a couple unit tests that make assumptions about the EC2 Instance Metadata Service, specifically that it is not accessible at test time.  This causes `go test` to fail on my desktop.

I have fixed the tests locally, will send a couple PRs soon.

**Steps to reproduce**
(I have redacted my actual instance ID and hostname in the

[2021-05-25 23:21] lrouker opened #3534 "filelogreceiver fails to compile with opentelemetry-collector-builder"
**Describe the bug**
I'm currently working on building a custom opentelemetry collector using [opentelemetry-collector-builder](https://github.com/open-telemetry/opentelemetry-collector-builder).  I would like to add the filelogreceiver module to the collector, but at compile time, I am receiving an error about `attMap.InitEmptyWithCapacity undefined`

**Steps to reproduce**
Similar to opentelemet

[2021-05-25 23:34] alanwest opened #3535 "[dotnetdiagnosticsreceiver] Errors and shuts down after running for a few seconds"
**Describe the bug**

The [dotnetdiagnosticsreceiver](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/dotnetdiagnosticsreceiver) errors and shuts down after running for a few seconds.

I've seen a couple different errors occur:

[code]

[code]

**Steps to reproduce**

1. Create and run a .NET app

[code]

2. Start the collector using the following config - repl

[2021-05-25 23:37] alanwest commented on #3535
The receiver's readme states:

I haven't had a chance to try different versions of .NET, but one theory is that it could be that I'm running a .NET 5 app on macOS.

[2021-05-26 01:56] pmcollins commented on #3535
Thanks for the submission. I'll see if I can reproduce the issue on Mac w/ .NET 5.

[2021-05-26 03:08] pmcollins commented on #3535
So I tried getting System.Runtime metrics from a long-running, simple application on macOS using .NET 5 and that works.

Any tips on how to reproduce?

Also, can you add the following to your dotnetdiagnostics receiver config and re-run?

    local_debug_dir: /tmp/dotnetdebug
    max_local_debug_files: 100

(Actual directory and max files at your discretion :-)

That should write the raw messages

[2021-05-26 03:21] PCDiver opened #3537 "error in contrib collector 0.27: unknown exporters type "elasticsearch""
**Describe the bug**
I downloaded release 0.27 from the contrib collector (windows version).  When I start the collector I get the error: cannot load configuration: unknown exporters type "elasticsearch" for elasticsearch.  Is the elasticsearch exporter for logs already in this release?  If not, when will it be?

**Steps to reproduce**
run: .\otelcontribcol_windows_amd64.exe --config=config.yaml

[2021-05-26 07:23] mx-psi commented on #3524
@ericmustin since this is related to traces can you take a look?

[2021-05-26 15:43] pjanotti commented on #3535
FWIW, I couldn't repro it on either in a macOS with SDK `5.0.203` not `5.0.103` not sure if that could be the difference.

[2021-05-26 17:58] alanwest commented on #3535
Hmm, good thought on upgrading the SDK, though I'm still hitting the issue after installing the latest `5.0.300`. I'm not sure what other factors may be at play here... when I have a moment, I can try and debug the receiver myself and see if anything else jumps out to me.

Here's the debug output [dotnetdebug.tar.gz](https://github.com/open-telemetry/opentelemetry-collector-contrib/files/6548727/d

[2021-05-26 18:13] #3436 closed

[2021-05-26 19:15] lrouker commented on #3534
Figured out what I was doing wrong.  For other folks who stumble on this, when configuring this receiver you also have to replace the stanza and extension/storage modules.  Correct yaml:

`receivers:
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/receiver/filelogreceiver v0.27.0"
replaces:
  - github.com/open-telemetry/opentelemetry-collector-contrib/internal/stanza => githu

[2021-05-26 19:15] #3534 closed

[2021-05-26 21:32] atoulme commented on #3180
Can you post more context, for example the yaml used?

[2021-05-26 21:33] atoulme commented on #3179
Is this a dup of #3180?

[2021-05-26 21:38] atoulme opened #3549 "Splunk HEC exporter warning about empty metrics"
**Describe the bug**
Set up a collector to listen to a cadvisor container's Prometheus metrics.
You will see Otel Collector logs fill with:
[code]
Instead, we should be able to discard such metrics or get better understanding of the issue here.

**What version did you use?**
Version: Splunk distro, 0.26.0

[2021-05-27 00:35] tonglil opened #3654 "[datadog exporter] not aggregate counter values properly"
**Describe the bug**
The value recorded by Datadog does not align with the metrics that are being collected by the collector.
It seems to under count/ingest the metric values that are being sent to the collector.

Here is an example (but it is actually also happening elsewhere):

Our app is sending a metric that should have a count of 2 for `visibility: cluster-internal`, however Datadog is only r

[2021-05-27 00:52] pjanotti commented on #3535
I tried a repro on Ubuntu 20.04 and no luck but noticed two issues:

If I attach the receiver to the ASP.NET process and send CTRL+C to the ASP.NET process I get an error logged that perhaps should be logged with a different message and as info:

[code]

In the case above the collector is still working and didn't crash only logged the error message.

If instead, I attach the receiver to the dotnet

[2021-05-27 07:43] jpkrohling commented on #1339
Yesterday before leaving for the day, I had no notifications. This morning:

![image](https://user-images.githubusercontent.com/13387/119785925-f867ec00-becf-11eb-89ab-fbe0418d1274.png)

[2021-05-27 08:09] muneernet opened #3656 "Open Telemetry Issue in asp.net core"
I Have installed the opentelemetry-collector-contrib as windows service here is the configuration file .

# # receivers:
  # # otlp:
    # # protocols:
      # # grpc:
      # # http:

# # processors:
  # # batch:

# # exporters:
  # # otlp:
    # # endpoint: otelcol:55680
  # # datadog:
     # # service: SampleDataDog.exe
     # # api:
       # # key: "6ca8109dcba5f9420f0ec55c342fc0df"

# # exten

[2021-05-27 12:03] ericmustin commented on #3656
hi @muneernet this sounds like an issue with your dotnet instrumentation, i would ask over in https://github.com/open-telemetry/opentelemetry-dotnet . Can you confirm traces are reaching the collector? If you add a `logging` exporter to your pipeline you can verify this.

One thing that stands out is you should confirm  whether `"http://localhost:55680"` is the right endpoint here, and not 4317.

[2021-05-27 14:00] opentelemetry-bot opened #3657 "Bug report for failed CircleCI build (job: loadtest-with-github-reports)"
Auto-generated report for `loadtest-with-github-reports` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/126328

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/OTLP

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-05-28 09:50] seanyu4296 commented on #2353
i also face this right now

[2021-05-28 16:09] ericmustin commented on #3524
Hello, this appears to be a duplicate of https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/3656#issuecomment-849574898 but my comments on there apply here. can we close this?

[2021-05-28 19:43] tonglil commented on #3654
Thanks, I'll give it a try.

Just to let you know, I don't really understand the explanation or the documentation.
It still seems like a weird thing I have to config for, and don't know the implications of this elsewhere.

Perhaps you can help by elaborating on which metrics this is "working as intended", or where this setting makes a difference..

[2021-05-28 20:09] #3507 closed

[2021-05-28 22:11] alanwest commented on #3535
Ok so, bear with my silliness here... not sure this'll provide any clues, but I've been futzing around in nonsensical ways.

I changed:
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/f8c550fe19262199463401ac5c3fdce44130a31b/receiver/dotnetdiagnosticsreceiver/network/reader.go#L77-L83

to print out each byte being read, like so:
[code]

Of course, this is kinda silly since d

[2021-05-29 11:50] #3524 closed

[2021-05-30 11:38] ovidiubuligan opened #3665 "Open telemetry events are not exported by azure monitor"
**Describe the bug**
When exporting traces with attached events , only traces are exported. Events are not sent.
Using the jaeger-all-in-one as a sync I can see the  events attached.
**Steps to reproduce**

Any hello world app that does a trace with an event attached sent via any otel grpc protocol.

**What did you expect to see?**
Events showing up in azure monitor .

**What did you see instead?*

[2021-05-30 14:23] gramidt commented on #3665
@pcwiese - Thoughts on this?

[2021-05-31 03:41] emeraldbay commented on #2835
Initial proposal for the S3 exporter design requirements:

**Exporter feature:**
1). support metrics exporter as start, support log and traces later

**File output format related feature:**
1). Use snappy as basic coding format
2). Support parquet and compressed json format as start, support ORC later
3). Output file format is configurable through exporter config
4). Output schema is configurable

[2021-05-31 12:42] cyrille-leclerc commented on #3093
FYI we are progressing on this topic, see https://github.com/elastic/apm-server/issues/5094

[2021-06-01 05:35] MovieStoreGuy commented on #1305
Hi @Saber-W , my team and I have been working on this issue for some time now.

I am more than happy to share what our intentions are and work with you if you like?

[2021-06-01 05:46] MovieStoreGuy commented on #1305
Hey @bogdandrutu , could I please get assigned to this?

I want to get my team's work contributed back into the contrib if possible.

[2021-06-01 09:55] cyrille-leclerc commented on #3519
Hello @hoffoo . Sorry for the delay.
Can you please consider migrating to the native OpenTelemetry Protocol support that was GA in Elastic 7.13?
Please see our documentation https://www.elastic.co/guide/en/apm/get-started/current/open-telemetry-elastic.html .
You would have to
* Upgrade Elastic (APM Server, Elasticsearch, Kibana) to v7.13
* Replace on you OpenTelemetry Collector the Elastic Export

[2021-06-01 09:56] cyrille-leclerc commented on #3169
Hello @intonet . Sorry for the delay.

**Can you please consider migrating to the native OpenTelemetry Protocol support that was GA in Elastic 7.13?**

Please see our documentation https://www.elastic.co/guide/en/apm/get-started/current/open-telemetry-elastic.html .
You would have to
* Upgrade Elastic (APM Server, Elasticsearch, Kibana) to v7.13
* Replace on you OpenTelemetry Collector the Elastic

[2021-06-01 10:51] tmodelsk opened #3676 "GoogleCloudExporter: retry_on_failure on single metric failure : whole batch is exported again"
**Describe the bug**
Using GoogleCloudExporter to export metrics with retry_on_failure enabled :
When single metric containing single datapoint in a batch is rejected by GPC monitoring _(ex: because one metric has [too many labels](https://cloud.google.com/monitoring/quotas), but there are many reasons why metric could be rejected)_,
 **whole batch exporting is repeated even when all other metrics

[2021-06-01 11:24] tmodelsk opened #3677 "GoogleCloudExporter: Metric with too many labels should be dropped, not exported & retried"
**Describe the bug**
GPC Monitoring has limit for number of labels for metric = [max 10 labels per metric descriptor](https://cloud.google.com/monitoring/quotas).
GoogleCloudExporter is trying to :
- unnecessarily export such metrics (always rejected by GCP monitoring api)
- retries exporting of previously failed metrics with too many labels (if retry_on_failure is enabled)

This can lead to v. hi

[2021-06-01 11:52] anuraaga commented on #3337
#1339 hasn't had any action. Can @bogdandrutu or @tigrannajaryan go ahead and make the change to the GitHub team? I'm still in CODEOWNERS for folders that I need to focus on so hope to still help - conversely, I can't actually focus on those given the current settings.

[2021-06-01 13:40] mottibec commented on #1305
Hey @MovieStoreGuy, we at [aspecto](http://aspecto.io) have a lot of interest in this. What are your plans for merging the changes from your fork into contrib?

[2021-06-01 15:15] Saber-W commented on #1305
Hi @MovieStoreGuy, I'm not working on this one, sorry for the misleading info. I tried to resolve this, then I see your couple of PRs related to this issue. So I thought it would be best to work on others.

[2021-06-01 15:39] Saber-W commented on #3289
Hi, I want to give this one a try.
cc @alolita

[2021-06-01 18:08] #3154 closed

[2021-06-02 00:15] anuraaga opened #3684 "X-Ray exporter doesn't set isThrottled"
Looks like it was accidentally removed in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/1489 (which I should have reviewed closer).

[2021-06-02 02:42] MovieStoreGuy commented on #1305
Hey @mottibec,

The current plan is to migrate the current exporter to a function helper that in future can by dynamically set by the user. (Ref: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/3655)

Once that is sorted, I would like to replace the current kinesis exporter that allows for protobuf types (not a byte array) to be passed in with a partitioner function (since I

[2021-06-02 02:43] MovieStoreGuy commented on #1305
@Saber-W , Please feel free to join in. I am in the slack CNCF workspace if you wanted to chat further.

[2021-06-02 14:24] straussb commented on #3526
Thank you!

[2021-06-02 15:16] gramidt opened #3692 "Configure components for the Client Authentication Extensions (2/2)"
**Is your feature request related to a problem? Please describe.**
This is a continuation of #3507 and includes the final changes needed from Core ( https://github.com/open-telemetry/opentelemetry-collector/pull/3340 ).

**Describe the solution you'd like**
- Update Core Collector modules.
- Update components so that they pass in the extensions configuration where applicable.

[2021-06-02 21:38] rakyll opened #3697 "Consider merging awsemfexporter and awscloudwatchlogsexporter"
**Is your feature request related to a problem? Please describe.**
As of today, Cloud Watch metrics export is available via the awsemfexporter, and we are working on a Cloud Watch logs exporter (https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/3453). This is confusing to our users not just because they are split exporters but also "EMF" is not very well recognized and not eve

[2021-06-02 21:38] rakyll commented on #3697
cc @alolita @mxiamxia

[2021-06-03 00:16] #2901 closed

[2021-06-03 14:25] tigrannajaryan commented on #1339
@jpkrohling sorry, just saw your proposal above about auto-assigment. So, instead of assigning all approvers to each PR which will round-robin PRs?

[2021-06-03 14:30] jpkrohling commented on #1339
It can use round-robin or load balancing so that folks with an already big review queue won't keep getting new items to review.

https://docs.github.com/en/organizations/organizing-members-into-teams/managing-code-review-assignment-for-your-team

[2021-06-03 14:31] tigrannajaryan commented on #1339
@jpkrohling does that also stop the notifications?

[2021-06-03 14:35] bogdandrutu commented on #1339
I did this in the collector (not contrib) for the moment to test it.

<img width="923" alt="Screen Shot 2021-06-03 at 7 34 25 AM" src="https://user-images.githubusercontent.com/1373887/120662765-4172ef80-c43e-11eb-8475-e5c111769ba5.png">

[2021-06-03 14:42] jpkrohling commented on #1339
My understanding is that the notifications are sent because the group is assigned to review the PR. If the assignee is now an individual, the notification should stop as well.

[2021-06-03 15:01] bogdandrutu commented on #1339
Change contrib as well, we need to make a decision about the auto-assignment script, which runs in parallel and may assign a different person as `Assignees`.

[2021-06-03 15:02] ericmustin commented on #1852
@boostchicken hey, just circling back as I still owe you a review here. Sorry for the delay 😓 , bandwidth has been stretched a bit thinner than i anticipated. That branch you linked to still good to leave comments on?

[2021-06-03 18:36] tonglil commented on #3654
Something just doesn't seem "right" with the data, in either way.

This is the before and after of making that change:
<img width="1637" alt="image" src="https://user-images.githubusercontent.com/3250776/120694340-eef5fb00-c45e-11eb-9fbf-d405f5a9ede5.png">

You can see before, it was reporting a constant value of 1.

After, for some reason Datadog is reporting that the max values include halves an

[2021-06-03 20:10] tigrannajaryan commented on #1391
Failed again https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/15021/workflows/d6a47bbc-2da6-494c-a414-ea3c9acbcb22/jobs/129909

[2021-06-03 23:35] #3438 closed

[2021-06-04 01:03] gavindoudou commented on #3431
Fixed by that PR 3440.

[2021-06-04 07:58] jpkrohling commented on #1339
I just looked at a recently opened PR (https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/3701) and noticed that it got assigned to the team, instead of to an individual. The interesting part is this:

![image](https://user-images.githubusercontent.com/13387/120767167-3b9f0c00-c51b-11eb-98b4-f8cbf2b3b965.png)

Clicking on "code owners" led me to this:

https://github.com/open-t

[2021-06-04 07:59] jpkrohling commented on #1339
I see the assigned person as the one responsible for making sure the PR is moving (reviewed, up to date, merged). I wouldn't mind being assigned to issues in addition to get review assignments.

[2021-06-04 09:52] itsif opened #3702 "Permission denied on mkdir /tmp"
**Steps to reproduce**
docker run --privileged -p 7276:7276 -p 8888:8888 -p 9943:9943 -p 55679:55679 -p 55680:55680 -p 9411:9411 -v $(pwd)/config.yaml:/etc/otel-contrib-collector/config.yaml --name logzio-collector otel/opentelemetry-collector-contrib:latest --config /etc/otel-contrib-collector/config.yaml

2021-06-04T09:29:49.778Z	info	service/application.go:277	Starting otelcontribcol...	{"Versi

[2021-06-04 13:33] mx-psi commented on #3654
👋 , sorry for the delay, let me try to clarify this a little to see if we are on the same page.

In your case, the OpenTelemetry Go SDK is mapping the Counter instrument to an IntSum that has cumulative aggregation and is monotonically increasing. As you can see in [the spec](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.3.0/specification/metrics/datamodel.md#sums) this mea

[2021-06-04 22:15] #3692 closed

[2021-06-05 04:27] LouisStAmour commented on #3090
I was thinking of making a ring buffer that used insertion sort to sort these logs, and it would output the stable part of the ring at regular intervals.

But then I realized that it might be more efficient to group the logs by stream first, and then use a sorted circular queue/ring buffer for each stream, as there would be fewer log entries to sort once split out like that. The downside of course

[2021-06-07 07:26] jpkrohling commented on #3361
And here: https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/15031/workflows/94dc841f-f96c-4d53-af1b-83e1122ae438/jobs/130025

[2021-06-07 07:45] opentelemetry-bot opened #3730 "Bug report for failed CircleCI build (job: loadtest-with-github-reports)"
Auto-generated report for `loadtest-with-github-reports` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/130545

#### Test Failures
-  TestLog10kDPS
-  TestLog10kDPS/udp

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2021-06-07 08:02] LouisStAmour commented on #3090
https://questdb.io/blog/2021/05/10/questdb-release-6-0-tsbs-benchmark/ highlights that receiving data "out-of-order" is often a problem solved within databases. I'm tempted to suggest that any sorting logic be added to the Loki exporter or to a hypothetical Cortex/Prometheus exporter until we can point to another exporter with similar limitations...

[2021-06-07 08:40] #3445 closed

[2021-06-07 09:25] #3684 closed

[2021-06-07 12:02] tmodelsk commented on #3677
I've made simple fix on our fork with additional config setting: labels_limit .
It works fine, if labels_limit is set (ex 10) it will drop such metrics from batch.
https://github.com/SabreOSS/opentelemetry-collector-contrib/commit/8201531c81fe29297c98f1b6b4ab569c1fb7a3be
IMO its missing one feature: to report dropped metrics as otelcol_exporter_send_failed_metrics_points (increment this with each

[2021-06-07 14:30] bogdandrutu opened #6416 "Add makefile command to re-generate pict files for goldendataset"
@kbrockhoff can you help with this? I think you added the tests so probably you know how to do this.

[2021-06-07 17:21] gillg commented on #3090
Interesting analysis. For now on my side I prefer "lose" the order and not logs themselves so I made a timestamp override to now(), hard coded in a custom branch...
If really need, in my structured log entry I have the original timestamp (set by the emitter, not by my override).
It could be a Loki exporter option but definitely not ideal.

Another thing that could be studied, is the Thanos receive

[2021-06-07 22:37] ajsaclayan opened #5031 "Fix/support process level metrics from host metrics receiver"
Hi OpenTelemetry community! 😄 👋

**Is your feature request related to a problem? Please describe.**
Related to this issue: https://github.com/open-telemetry/opentelemetry-collector/issues/3004

**Describe the solution you'd like**
As part of the current roadmap, I would like the defect fixed for the host metrics receiver. This was tested on both a Linux (Ubuntu 16.04) and Windows (Windows 10 1909)

[2021-06-08 08:11] astencel-sumo commented on #2536
Folks, here's a document describing the performance tests that @sumo-drosiek and I have run for the Otel Helm chart: https://docs.google.com/document/d/1cEgAt5vBGzFZKooIIdQ3OHh9CEWBnVft_pmYVNlYAh4.

Please comment on the document. I would like to chat about it in the next Log SIG's [meeting](https://docs.google.com/document/d/1cX5fWXyWqVVzYHSFUymYUfWxUK5hT97gc23w595LmdM) (is this the correct SIG t

[2021-06-08 10:09] yotamloe opened #3736 "Logzio exporter mkdir /tmp: permission denied"
We have an issue with our logzio exporter users are getting errors using it from opentelemetry-collector-contrib image version >= 0.24
[code]
The exporter works fine with version <=0.23.

**Steps to reproduce**
* Run opentelemetry-collector-contrib docker image version >= 0.24 with logzio [exporter](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/logzioexporter

[2021-06-08 11:44] ovidiubuligan commented on #3665
@gramidt  @pcwiese  .  I added some basic event exporting functionality  . (I am not a go developer )

[2021-06-08 12:50] yotamloe commented on #3702
Hey, @itsif we at logz.io are aware of this issue and working rapidly to solve it. In the meantime, you can use any other image with version <= 0.23. We are still investigating what is the root cause, the assumption is that it caused by changes in this [PR](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/2925/files).