[2019-07-03 22:05] flands opened #5 "receiver/kafka: Add support"

[2019-07-03 22:17] flands opened #4 "exporter/datadog: doesn't support metrics and does not log this fact"
For more details see: https://github.com/census-instrumentation/opencensus-service/issues/454

[2019-07-03 22:18] flands opened #3 "exporter/stackdriver: allow configuration for buffer, delay, etc."
See: https://github.com/census-instrumentation/opencensus-service/issues/474

[2019-07-11 18:44] tigrannajaryan opened #2 "Give approvers/maintainers permissions"
Please give service-approvers Write access and service-maintainers Admin access to this repository (this will mirror the permissions we already have for opentelemetry-service repo).

[2019-07-16 16:10] songy23 commented on #3
Also we need to allow default metric labels/trace attributes to be configured: https://github.com/census-ecosystem/opencensus-go-exporter-stackdriver/blob/09504ed717c748c8fd802ba78924d6ca322c27d8/stackdriver.go#L208-L228, so that the default "task" label can be overridden.

/cc @dinooliva @rghetia

[2019-07-17 00:00] songy23 opened #6 "exporter/stackdriver: move code and configs here."

[2019-07-17 17:06] songy23 opened #8 "Set up continuous integration."

[2019-07-17 17:07] songy23 commented on #8
@bogdandrutu can you help set up Travis? I think only you can access the repo settings :)

[2019-07-17 18:25] #6 closed

[2019-08-02 17:57] majelbstoat opened #30155 "Allow denylisting in the string-attribute-filter"
Currently, the string-attribute-filter in OpenCensus collector allows spans to be exported if they match specified strings, i.e. whitelisted. It is, however, currently not possible to create a blacklist.

One specific use-case for this is to exclude traces for `grpc.health.v1.HealthCheck`, which are a standard way of adding liveness and readiness endpoints to GRPC servers, but which add lots of no

[2019-08-26 22:54] ccaraman opened #4966 "Performance Benchmarking of Attributes processor"
Investigate using Integers instead of strings for Actions during attributes logic application to a span. The investigation would do a comparison between string value comp  and integer value comp to determine if the current implementation is a bottle neck.

[2019-09-04 20:47] bogdandrutu commented on #8
I will enable circleCI is that ok?

[2019-09-04 20:49] songy23 commented on #8
Sure I'll add circle ci config in a minute.

[2019-09-04 21:56] #8 closed

[2019-09-13 14:16] pjanotti opened #17 "Create an example of service build with custom set of receivers/processors/exporters and extensions"
We need to make clear how to build a custom instance of the service that supports exactly the desired set of receivers/processors/exporters and extensions.

[2019-09-25 16:42] songy23 commented on #17
As discussed today, we probably want to add a custom cmd/main that includes core + all the contrib components.

[2019-09-30 14:30] tigrannajaryan opened #21 "Update import paths to github.com/open-telemetry/opentelemetry-collector"
OpenTelemetry Collector repo name is changed to github.com/open-telemetry/opentelemetry-collector

Import paths in this repo need to be changed correspondingly.

[2019-09-30 18:09] #21 closed

[2019-10-03 15:34] pjanotti commented on #2
ping @bogdandrutu

[2019-10-03 15:36] pjanotti opened #23 "Rename repo to openetelemetry-collector-contrib"
This is the last task mentioned in https://github.com/open-telemetry/opentelemetry-collector/issues/352 but right now we don't have the rights to do that (tracked in #2).

[2019-10-05 03:24] #23 closed

[2019-10-11 21:00] bogdandrutu opened #26 "Add all the owners from collector to codeowners"
Please keep the files in sync.

[2019-10-16 23:32] pjanotti opened #28 "Style: organize imports for current sources"
The imports statements are not consistent across the repo. This is important specially taking into account that others can use the implementations here as starting point for their own.

[2019-10-17 20:07] #26 closed

[2019-10-21 10:20] vikrambe opened #4758 "Tail-Based Sampling - Scalability Issues"
I like the idea of tail based sampling. I would like to enhance tail based sampling in 2 ways:

Consider a case where we are tail-sampling based on span->http.status_code=500.
1. I would want to sample 100% of all http.status_code "500"s and 10% of http.status_code "200"s. I would like to create a new sampler that combines string_tag_filter and probabilistic sampler.
2. What would happen when Span

[2019-11-07 19:44] pjanotti opened #34 "Specify requirements for components to be added to the repo"
We intend to build distribution of the contrib repo with all components present. In order to ensure that quality of this build we should define a minimum set of requirements (test, documentation, etc) for all components available in the repo.

[2019-11-08 13:31] owais opened #35 "Add ability to build multiple binaries from this repo"
We should be able to build multiple binaries of OpenTelemetry Contrib Collector from this repository. The binaries would bundle a different set of components, use different libraries or protocols etc.

In future, we could even have a form on the OpenTelemetry website that would allow users to check which components they want and generate a custom build for them. For now we just need the ability to

[2019-11-08 17:36] #17 closed

[2019-11-11 18:50] pjanotti opened #36 "Move Makefile common targets to Makefile.Common"
There is some redundancy between the Makefile that builds the contrib executable and the Makefile.Common that is used to build individual components. We should have a single source for the "common" targets to keep the convenience of quick builds and custom targets for components while avoiding divergence of targets between Makefile and Makefile.common. /cc @owais

[2019-11-11 19:55] tigrannajaryan commented on #36
@pjanotti perhaps we can remove makefiles from individual component directories? Are they needed if there is a full build now?

[2019-11-11 20:00] owais commented on #36
I agree. We should remove the individual ones. If the components need some special targets, we can add them to root makefile and have an argument that allows users to run targets against a component. Something like `make test-component COMPONENT='receiver/zipkin'`

[2019-11-11 20:03] pjanotti commented on #36
This is a convenience in order to avoid full build as the number of components increases, it can be replaced by adding targets but it seems simpler to simply factor out the common parts and have Makefile using some of the same targets from common.

[2019-11-11 20:07] pjanotti commented on #36
I think my initial description gave the impression about keeping them in sync, that was not my intention: the intention is to have a single source for the common targets.

[2019-11-11 20:12] pjanotti commented on #36
Edited the initial description.

[2019-11-26 14:24] #28 closed

[2019-12-04 07:33] annanay25 opened #1500 "tailsamplingprocessor: Sampling decision from OnDroppedSpans() is not honoured"
In the tail sampling processor, the following lines of code delete the trace from memory without honouring the sampling decision from `OnDroppedSpans()` for the given policies.

https://github.com/open-telemetry/opentelemetry-collector/blob/fe3782c76de259c34c381e7e2d0a732c014a87fc/processor/samplingprocessor/tailsamplingprocessor/processor.go#L341-L346

We could either -
- Modify the `OnDroppedSpa

[2019-12-04 23:01] tigrannajaryan opened #47 "Fix build for go 1.13"
Attempting to build this repo with go 1.13 currently fails. Here is the output of `make test`:
[code]
It appears the behavior of `go list` in go 1.13 is different. It prints the warning "outside main module" which then causes the problem when makefile attempts to parse that output.

Tested on Mac OS X, `go1.13 darwin/amd64`

-------

Likely caused by https://github.com/golang/go/commit/b9edee32e15

[2019-12-09 16:34] #36 closed

[2019-12-12 14:37] #2 closed

[2019-12-13 21:41] rghetia opened #67 "Merge coverage report each module into a single coverage report"
After #65 test is run for each module in its own sub-directory. The raw coverage report for each module is is separate. These reports can be merged with following bash script.
[code]
The merged report can then be converted to html format using.
[code]
The issue with merging is that it doesn't work for the module which is new. Following error occurs for the new module
[code]
Not sure what the root

[2019-12-13 21:52] #47 closed

[2019-12-16 21:19] tigrannajaryan opened #70 "Build fails after merging Add AWS X-Ray Exporter (#41)"
See https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/tree/master

[2019-12-16 21:23] tigrannajaryan commented on #70
Reverting ` Add AWS X-Ray Exporter (#41)` fixes the build locally.

[2019-12-16 21:34] tigrannajaryan commented on #70
This is blocking other work. Trying reverting.

[2019-12-16 21:39] tigrannajaryan commented on #70
@kbrockhoff The commit 2b856d9c your authored broke master build (for some reason it passed PR build). I am reverting the commit and assigning this issue to you as the author of the component.

[2019-12-16 21:40] tigrannajaryan commented on #70
For some reason Github doesn't allow me to assign this issue to you. Please have a look.

[2019-12-16 21:42] #70 closed

[2019-12-16 21:48] tigrannajaryan commented on #70
Reverting fixed the build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/239

[2019-12-16 23:42] kbrockhoff commented on #70
I will look into this.

[2019-12-17 19:40] dinooliva opened #77 "Stackdriver exporter - insecure connections not working"
Insecure connections for the Stackdriver exporter are currently broken because the underlying library creating the connections is explicitly creating a secure connection.

[2019-12-27 18:41] songy23 commented on #77
Fixed in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/76.

[2019-12-27 18:41] #77 closed

[2020-01-03 22:27] pjanotti opened #89 "Perf test: TestTrace10kSPS/OpenCensus CPU consumption is 40.3%, max expected is 35%"
CI failure for PR #88
[code]

[2020-01-06 17:14] tigrannajaryan commented on #89
Obviously the PR made unrelated changes. The failure is most likely due to variance of performance of the machine where the build is executed. Since the build is not done in a controlled environment this is not unexpected.

We may need to address this by having a machine in a controlled environment with predictable and stable resource and running performance tests only in this controlled env. Howe

[2020-01-16 17:36] owais opened #97 "K8S processor: Add detailed user documentation"
Add a README file to k8sprocessor container user documentations. In addition to documenting all the config options and what they do, we should also mention recommended deployment scenarios and configurations.

[2020-02-12 19:15] joe-elliott opened #125 "Add Support for Jaeger Kafka Exporter"
As discussed here:  https://github.com/open-telemetry/opentelemetry-collector/issues/500

Jaeger Kafka exporter support should be added to the collector through the contrib repo.

[2020-02-12 19:48] yurishkuro commented on #125
What is the mechanism used to pull contrib code into the main binary?

[2020-02-12 19:53] tigrannajaryan commented on #125
@yurishkuro by adding a factory here: https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/master/cmd/otelcontribcol/components.go

[2020-02-13 15:27] pavolloffay commented on #125
As an experiment, I have built https://github.com/jaegertracing/jaeger-opentelemetry-collector. At the moment it only includes Jaeger Elasticsearch exporter and the set of the default components. It might be easier to directly build the OTEL collector in the main Jaeger repository - it does not have to be hosted separately.

We should decide where Jaeger storage exporters will live. It depends if

[2020-02-13 15:28] joe-elliott commented on #125
@pavolloffay
I am working on sampling strategies now to resolve this issue: https://github.com/open-telemetry/opentelemetry-collector/issues/500

[2020-02-13 15:28] yurishkuro commented on #125
+1

[2020-02-13 15:38] tigrannajaryan commented on #125
@yurishkuro @pavolloffay I am happy to see you are building on top of OpenTelemetry Collector. Do you mind sharing a bit more about what you plan to do? It would be great to know how the Collector is used by Jaeger.

[2020-02-21 16:31] joe-elliott commented on #125
Per discussions with Jaeger this functionality is being implemented in https://github.com/jaegertracing/jaeger-opentelemetry-collector and probably does not make sense to implement here as well.

@ledor473, I believe that once jaeger-opentelemetry-collector is up to date with master (for the sampling json) and they add the Kafka exporter this project will meet your needs.

cc @pavolloffay

[2020-02-24 13:45] pavolloffay commented on #125
+1 on what @joe-elliott said. I will just add that in Jaeger we are considering supporting OTEL proto as a first-class citizen. Therefore the contrib repository could provide kafka exporter and in the Jaeger collector there will be an importer for kafka in OT proto format.

[2020-02-24 14:22] tigrannajaryan commented on #125
Closing this issue as there is nothing else needed to be done in this repo.

[2020-02-24 14:22] #125 closed

[2020-03-16 23:42] bogdandrutu opened #4978 "What to do with InstrumentationLibrary when converting from otlp to oc"
This issue is just to make sure we not ignore the InstrumentationLibrary info when converting from otlp to oc.

This needs to be fixed in `[trace|metrics]/otlp_to_oc.go`.

[2020-03-21 12:36] pmm-sumo opened #141 "K8S Processor: Include more tags"
Currently, the processor supports following tags:

- namespace
- podName
- deployment
- cluster
- node
- startTime

It would be great to include more tags, such as:

- hostName
- containerName
- daemonSetName
- serviceName
- statefulSetName

Additionally, it would be good to have an ability to include all labels and annotations

[2020-03-23 02:29] bogdandrutu commented on #141
I like having them at least as options for the config, not always on :)

[2020-03-28 15:47] bogdandrutu opened #4759 "Re-evaluate gosec error about using "weak cryptographic primitive""
`crypto/sha1` is imported in processor/processorhelper/hasher.go and some tests, and we suppress the warning from Gosec about it being a weak cryptographic primitive. We should document why SHA1 is appropriate (e.g. it's part of an external specification), or switch to something else.

[code]

[2020-03-30 21:15] paulosman opened #156 "exporter/honeycomb: Collector crashes if Node.ServiceInfo not set on TraceData."
Zipkin and Jaeger clients support sending trace data without populating `Node.ServiceInfo` on `TraceData` instances. This will currently cause the collector to crash if the honeycomb exporter is configured as part of a pipeline exporting those traces. We should check that the field is not nil before trying to set it as an attribute.

[2020-03-30 21:19] seh commented on #156
[A copy of the panic and stack trace](https://honeycombpollinators.slack.com/archives/CNQ943Q75/p1585430836019800?thread_ts=1585342471.007700&cid=CNQ943Q75) is available in the "discuss-opentelemetry-beta" channel of the "Honeycomb Pollinators" Slack team, reproduced here:
<details>
   <summary>Go panic</summary>

[code]

</details>

[2020-03-30 23:14] naseemkullah opened #227 "helm chart"
Hello,

I am aware of a k8s operator to deploy the collector but would like to propose providing a helm chart. If so  we could have a repo such as `open-telemetry/helm-charts`

[2020-04-02 00:05] #156 closed

[2020-04-09 07:09] james-bebbington opened #171 "Host Metrics Receiver"
Add a receiver to generate Host Metrics about the machine the collector is running on. Initially this will be for Windows only, but extendable so that the same receiver can be used to collect Linux metrics when implemented

[2020-04-09 13:36] jrcamp commented on #171
This [Host Metrics](https://docs.google.com/document/d/1i-QG-TxkIWVbdx86UM2GXcFvpeCV7zSBsPmMyMkOEBk/edit?usp=sharing) document captures the metrics we intend to collect.

[2020-04-13 17:37] jrcamp commented on #171
According to @flands @bogdandrutu @tigrannajaryan this can go into core.

[2020-04-15 13:51] Jammicus opened #177 "Example RBAC configuration for k8sprocessor"
Hi everyone,

We're currently trying to implement the K8s processor in our agent pods, but seem to have hit a hurdle.  When checking the logs to the pods we are seeing the following:

`pkg/mod/k8s.io/client-go@v0.0.0-20190620085101-78d2af792bab/tools/cache/reflector.go:98: Failed to list *v1.Pod: Get "https://172.20.0.1:443/api/v1/pods?limit=500&resourceVersion=0": Forbidden`

Adding the following

[2020-04-17 15:53] jrcamp opened #178 "How to handle receiver start errors in receiver_creator at runtime"
It's currently unclear how to appropriately handle start errors for receivers started in receiver_creator. This includes errors returned by `Start()` as well as errors reported through `ReportFatalError`. The existing methods are built around the assumption that start errors always occur at process start or shortly thereafter.

See discussion in https://github.com/open-telemetry/opentelemetry-coll

[2020-04-20 01:56] #171 closed

[2020-04-20 01:56] james-bebbington commented on #171
Moved issue to collector core repo: https://github.com/open-telemetry/opentelemetry-collector/issues/847

[2020-04-20 16:26] asuresh4 opened #180 "Add ability to sync metadata to SignalFx from Kubernetes"
This issue relates to https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/175. The `k8scluster` receiver currently is capable of syncing metrics representing the state of a Kubernetes cluster. Apart from these metrics, services like SignalFx are also interested in cluster state information in the form of metadata ([properties](https://docs.signalfx.com/en/latest/metrics-metadata

[2020-04-21 07:54] yoann-ls opened #181 "LightStep exporter missing parentid"
When the otel collector is configured to receive Zipkin spans and export them into Lightstep and Zipkin, it sounds like the parentId is not propagated with the LightStep exporter.

In LightStep, the spans are then not linked, so all traces are unique to the service operation and not fully assembled as they are with the Zipkin exporter. The expected behavior is that the traces are fully assembled i

[2020-04-24 14:09] youngbupark opened #187 "[azuremonitorexporter] ai.cloud.role and ai.cloud.roleinstance are not populated"
## Collector and SDK version

* Collector version: v0.3.0 (otel/opentelemetry-collector-contrib:0.3.0)
* SDK: Go SDK 0.4.2

## Problem

azuremonitorexporter does not populate servicename to cloudRole and cloudRoleInstance properties into the envelope, so that application map shows incorrect service name.

The exporter [code](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/73

[2020-04-24 19:59] asuresh4 opened #188 "Effectively handle Kubernetes container spec name in naming convention"
Kubernetes has a notion of "container spec name". This is different from the actual name of the running container. The latter is a construct of the container engine, whereas the former seems specific to Kubernetes.

Container spec name is exposed via the Pod spec: https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#podspec-v1-core and this not the same as the name of the running c

[2020-04-24 20:07] asuresh4 opened #189 "Finalize whether container status should be a metric or part of resource metadata"
Relates to https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/175

Kubernetes exposes 3 container statuses, `Running`, `Waiting` and `Terminated`. The `k8s_cluster` receiver for now collects this information as part of resource metadata. But this information could also be captured as metric time series. This issue will be used to finalize the approach used to gather this inform

[2020-04-24 20:33] asuresh4 opened #190 "Revisit association of workloads and pods in k8s_cluster receiver"
Relates to https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/175

The `k8s_receiver` currently associates Pods with its workloads using `k8s.workload.name` and `k8s.workload.kind`. For example, if a `Pod` is spawned by a `CronJob` called `foo`, the created Pod will have labels like `k8s.workload.kind:cronjob` and `k8s.workload.name:foo`. This applies to workloads of other type

[2020-05-05 21:49] youngbupark commented on #187
I tried to use `opentelemetry-go otlp exporter` + `opentelemetry collector`. The result is same.

[code]

[2020-05-11 17:42] owais opened #225 "Product docs refer to wrong OpenTelemetry example config file."
APM product docs link to the core OpenTelemetry collector config file which uses the core collector instead of contrib. Core collector does not support SAPM components which is required by APMv2.

We should update the product docs to show example k8s config inline or on our documentation website.

Product docs section: https://docs.signalfx.com/en/latest/apm2/apm2-getting-started/apm2-opentelemetr

[2020-05-11 17:50] #225 closed

[2020-05-15 00:50] dmitryax commented on #227
I can take this task

[2020-05-15 14:29] anuraaga opened #236 "Add a Dockerfile that can build the binary too"
Currently, it seems that there is a Dockerfile that can create an image from a binary built on the host machine. It would be nice to have a Dockerfile that can actually build the binary too, for example this one - https://github.com/anuraaga/opentelemetry-collector-contrib/blob/custom/Dockerfile

This way, it's easy to locally build a docker image for master without worrying about tooling using so

[2020-05-16 00:58] bogdandrutu commented on #187
This issue seems to be completed.

[2020-05-16 00:58] #187 closed

[2020-05-16 00:58] bogdandrutu commented on #89
No longer an issue.

[2020-05-16 00:58] #89 closed

[2020-05-18 22:08] atoulme opened #243 "Add Splunk HEC exporter"
Splunk HTTP Event Collector can digest traces and events as event data, and data points as metrics data.

Add support to send to Splunk HEC, along with configuration items.

[2020-05-19 03:46] ZachGoldberg opened #244 "Missing README for how to use stackdriver exporter"

[2020-05-20 03:49] anuraaga commented on #236
@bogdandrutu @trask Sorry for bugging, wondering if you have any thoughts on this? I'm having to maintain a branch to keep the Dockerfile since it really helps me with integration work between many services and the collector, and think it could help others. Building / running the code from master is how I find bugs :)

In case it helps, here's where I'm using it, and wish it was just the upstream

[2020-05-21 02:21] flands commented on #4
N/A to otel at this time so closing

[2020-05-21 02:21] #4 closed

[2020-05-21 02:22] flands commented on #3
@mtwo is this still applicable? can it be closed?

[2020-05-21 14:08] flands commented on #236
@anuraaga sounds good -- put up a PR for review

[2020-05-21 16:55] mtwo commented on #3
Closing

[2020-05-21 16:55] #3 closed

[2020-05-26 22:33] tigrannajaryan opened #261 "Add to this repo the same coverage checks as we have in core repo"
We have this in the core:

![image](https://user-images.githubusercontent.com/4194920/82956689-54c3c300-9f7f-11ea-8381-371fb31c419b.png)

[2020-05-27 16:26] pmm-sumo opened #262 "K8S Processor Passthrough mode not working with Jaeger"
Among changes in internal data format is [removal of SourceFormat attribute](https://github.com/open-telemetry/opentelemetry-collector/commit/e44607a8045f327d4e98dcb60d689f4d184c9115#diff-0e6ca11168918e81d990fd9005b9671cL356), which was used by the [processor logic in certain cases](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/master/processor/k8sprocessor/processor.go#L1

[2020-05-27 17:26] tigrannajaryan commented on #262
@owais can you take a look?

[2020-05-27 17:44] owais commented on #262
Yes, this would break passthrough mode for Jaeger. I've seen zipkin libraries do the same. I'll confirm what OC libs do and if they have the same behavior or at least not conflicting behavior, may be we can remove the jaeger check and rely on the IP tag as a fallback in all cases.

[2020-05-28 14:31] #236 closed

[2020-05-28 14:35] tigrannajaryan commented on #262
@owais k8sprocessor also still uses old interfaces, right? If you are spending time on this perhaps also migrate it to new interfaces (if you have time).

[2020-05-29 17:39] tigrannajaryan commented on #243
Done via https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/246

[2020-05-29 17:39] #243 closed

[2020-05-31 17:18] tensorchen opened #268 "Add kafka exporter"
Export metrics, traces, logs data to kafka

[2020-06-02 17:03] tigrannajaryan opened #272 "honeycombexporter.TestEmptyNode() is unstable"
See https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/991/workflows/3099dddd-0525-46c2-b781-aef9b0d88bc5/jobs/1932/steps
[code]

[2020-06-02 17:05] paulosman commented on #272
You can assign this to me if you'd like - I'll take a look at it soon.

[2020-06-03 00:27] tigrannajaryan commented on #272
Thanks for looking @paulosman

[2020-06-03 12:56] owais opened #275 "[TEST ISSUE. IGNORE] Automated issue for commit: ${{ CIRCLE_BUILD_NUM }}"
## THIS IS A TEST. PLEASE IGNORE.

This issue was automatically created by a failed stability test: ${{ CIRCLE_BUILD_URL }}.

[2020-06-03 12:56] #275 closed

[2020-06-03 13:33] owais opened #276 "[TEST ISSUE. IGNORE] Automated issue for commit: 103"
## THIS IS A TEST. PLEASE IGNORE.

This issue was automatically created by a failed stability test: https://circleci.com/gh/owais/ci-tests/103.

[2020-06-03 13:34] #276 closed

[2020-06-03 19:04] tigrannajaryan opened #279 "lightstepexporter.TestPushTraceData is unstable"
See https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/1022/workflows/47cd3683-538f-4cce-bddd-6b1c1d4f88a9/jobs/2066/steps
[code]

[2020-06-03 19:06] tigrannajaryan commented on #279
@jmacd can you please have a look?

[2020-06-03 23:48] owais opened #280 "[TEST ISSUE. IGNORE] Automated issue for commit: 2157"
## THIS IS A TEST. PLEASE IGNORE.

This issue was automatically created by a failed stability test: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/2157.

[2020-06-03 23:52] #280 closed

[2020-06-04 00:23] owais opened #281 "[TEST ISSUE. IGNORE] Automated issue for commit: 2163"
## THIS IS A TEST. PLEASE IGNORE.

This issue was automatically created by a failed stability test: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/2163.

[2020-06-04 00:27] #281 closed

[2020-06-06 00:39] sonofachamp opened #290 "Add StatsD receiver"
Add a receiver that listens for incoming DogStatsD messages and translates them into OT Metrics.

[2020-06-06 00:39] sonofachamp commented on #290
I'm interested in picking this up.

[2020-06-06 04:32] hanjm commented on #261
hi，i am a newcomer，i want to work on this isue :)

[2020-06-09 02:13] nilebox opened #294 "Publish tags for subdirectories with Go modules"
See official documentation: https://github.com/golang/go/wiki/Modules#publishing-a-release (look for the ___prefix___ part specifically).

Currently we only tag root Go module, e.g. [v0.3.0](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/v0.3.0)

According to Go modules documentation, for multi-module repos, we need to tag each module subdirectory separately, e.g. we should

[2020-06-09 14:19] owais opened #295 "Stability tests failed in branch master for commit ab093e2048814de81b94766019fd01e9192d2d5e"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/2528.

[2020-06-09 14:34] owais opened #296 "Stability tests failed in branch master for commit 863ab4c8c636e00e5d7515045f75eb72367f843f"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/2540.

[2020-06-09 15:58] owais opened #298 "Stability tests failed in branch master for commit 93585128f9e348205e1b21ff4607d20dd8965360"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/2559.

[2020-06-09 17:24] owais opened #302 "Stability tests failed in branch master for commit 863ab4c8c636e00e5d7515045f75eb72367f843f"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/2576.

[2020-06-09 17:35] #295 closed

[2020-06-09 17:35] #296 closed

[2020-06-09 17:35] #298 closed

[2020-06-09 17:35] #302 closed

[2020-06-09 17:37] owais commented on #294
Are you planning to work on this @nilebox? If not, I'll assign to myself.

[2020-06-09 17:42] tigrannajaryan commented on #272
@paulosman This failed again and is causing trouble for the build: https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/1120/workflows/8beab1d1-0ae1-4f85-9ec6-b36b4eaba774/jobs/2600/steps

Please have a look, otherwise we will have to disable either test or the component.

[2020-06-09 17:46] sonofachamp commented on #290
I have the skeleton of a `dogstatsdreceiver` plugin put together, but I'm having issues importing the official DataDog agent code as a library. I opened an [issue](https://github.com/DataDog/datadog-agent/issues/5693) to track it.

@jmacd do you have any thoughts regarding implementation strategy here? Should we look to leverage the official DataDog implementation for the DogStatsD server?

[2020-06-09 18:02] #261 closed

[2020-06-09 18:37] jmacd commented on #290
We should talk about what we're trying to achieve, first. I don't know the DD agent code well enough to know if it's meant for re-use in this way.

I'm assuming there are at least two ways this will be used.

1. Users may want to receive DogStatsD data, convert into the common representation used in the otel-collector, then take advantage of the OTel collector's facilities such as filtering and re

[2020-06-09 18:38] jmacd commented on #290
By the way, is there a branch with your skeleton that I could look at? Thanks!

[2020-06-09 19:01] sonofachamp commented on #290
Here's the [branch](https://github.com/sonofachamp/opentelemetry-collector-contrib/tree/dogstatsd/receiver/dogstatsdreceiver). There's nothing useful in there regarding DogStatsD, this was more me getting familiar with OT. It builds and I can enable it via config file, but it doesn't do anything yet :smile:

That's a good point about the existing code being built in a reusable way, I'm not familia

[2020-06-09 19:06] jmacd commented on #290
I'm glad you're more interested in (1)! I think that DataDog should get involved if they're interested in exporting from otel-collector into their system (@mikezvi take note).

UDP is great. I am familiar with uses of the datadog agent that use UNIX socketpairs, but that can be addressed later if needed (it's trivial). I've seen documentation about statstd-over-TCP but never seen it used with DD.

[2020-06-09 19:12] sonofachamp commented on #290
Sounds good, thanks for the help. I'll take a swing at listening on the a UDP port and processing incoming data in DogStatsD format out to OT Metrics.

[2020-06-09 19:32] paulosman commented on #272
@tigrannajaryan Suggest we disable for now to stop problems with the build - I'll continue to debug the underlying data race issue. PR here: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/305

[2020-06-09 19:40] jrcamp commented on #290
@sonofachamp I don't think we want to import the entire datadog agent. Either statsd should be separated out into its own library that multiple agents use or we implement from scratch. (btw, can it just be called statsdreceiver but have an option to support dd-style tags?).

A number of others are interested in having statsd support as well. May be easier to have a high level design doc to work ou

[2020-06-09 20:09] sonofachamp commented on #290
That makes sense.

Should DogStatsD be supported through a "mode" of a more generic `statsdreceiver`? It seems DogStatsD brings [more than just tag functionality](https://docs.datadoghq.com/developers/dogstatsd/?tab=hostagent#dive-into-dogstatsd)? I'm not sure what implications that has on determining if it should be a modal plugin versus separate plugins. I need to dig more to get a better unders

[2020-06-09 20:28] jrcamp commented on #290
Ah, yeah if you plan on doing their whole protocol rather than just a slightly enhanced statsd it probably makes sense to make a dd-specific receiver.

You could start here with what the config file would look like and any other high level decisions that need to be made.

[2020-06-09 21:55] jmacd commented on #290
I don't believe anyone is asking for the "Additional" features that DataDog has implemented. I would strongly support a "statsdreceiver" that recognizes DataDog-style tags. I think we should also support the "d"-type statsd message that DataDog has added to indicate a distribution.

@jrcamp What did you mean about the "whole protocol"? We're talking about statds protocols, not the protocol DD uses

[2020-06-09 21:58] jmacd commented on #290
Related note: I implemented the OTel-Go contrib dogstatsd exporter, which does not take a dependency on the DD-go statsd client. It's a lot faster.

[2020-06-09 22:15] paulosman commented on #272
Actually, I was able to fix it in the exporter with help from @keitwb. I'll still look at making the dependency safe from data races, but merging that PR should unblock future build issues.

[2020-06-09 22:32] nilebox commented on #294
@owais I don't plan to work on this, but happy to review.

[2020-06-09 23:12] jrcamp commented on #290
That's originally what I thought what we were talking about which is why I suggested making it a generic statsd receiver with DD tag support. However @sonofachamp linked to https://docs.datadoghq.com/developers/dogstatsd/?tab=hostagent#dive-into-dogstatsd which includes things like events and service checks.

[2020-06-09 23:17] nilebox commented on #294
Might be useful as an example for automation script: https://github.com/open-telemetry/opentelemetry-go/blob/ba0203a2084e97ba7daaeec7ae1da255db031f52/tag.sh#L76-L82

[2020-06-09 23:35] sonofachamp commented on #290
We're primarily interested in the Tagging aspects DogStatsD provides, and if we think it's fine to support the tagging functionality under a `statsdreceiver` then I'm good with that. I was assuming any DogStatsD specific functionality should go under a `dogstatsdreceiver`, but it sounds like the tagging functionality as well as the "d"-type StatsD messages @jmacd has referenced above are more wide

[2020-06-11 17:57] pmcollins opened #311 "Add support for ServiceAccount auth in kubeletstats receiver"
The kubeletstats receiver only supports TLS auth at the moment.

[2020-06-11 17:58] pmcollins commented on #311
I have already coded this, but need to test more before submitting a PR. This can be assigned to me.

[2020-06-11 18:11] #262 closed

[2020-06-11 19:41] asuresh4 opened #312 "Add READMEs for Carbon exporter and receiver"

[2020-06-11 19:42] asuresh4 opened #313 "Add README for jaeger_legacy receiver"

[2020-06-11 19:43] asuresh4 opened #314 "Add README for wavefront receiver"

[2020-06-11 19:43] asuresh4 opened #315 "Add README for zipkin-scribe receiver"

[2020-06-11 19:44] asuresh4 opened #316 "Add README for azuremonitor exporter"

[2020-06-11 19:45] asuresh4 opened #317 "Add README for kinesis exporter"
https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/master/exporter/kinesisexporter is missing a README.md.

[2020-06-11 19:45] asuresh4 opened #318 "Add README for stackdriver exporter"

[2020-06-12 19:30] JingboWangGoogle opened #332 "Metrics Transform Processor Proposal"
## Metrics Transform Processor
  - The first version of aggregation would only support single-batch processing on metrics to avoid conflicts of different batches with the same time-series ([more description of this corner case](https://github.com/open-telemetry/opentelemetry-collector/issues/1118#issuecomment-643780972)).

### Objectives
The objective of this metrics transform processor is to give

[2020-06-15 18:22] sonofachamp commented on #290
I'm thinking something as simple as:
[code]

From an implementation standpoint it seems we can simply parse the incoming StatsD messages directly out to the relevant OpenTelemetry metric types. I can't see any immediate value in interpreting the incoming messages as StatsD types and then mapping StatsD types to OpenTelemetry metrics.

From the [Metrics spec](https://github.com/open-telemetry/opent

[2020-06-15 20:52] bsherrod commented on #290
Do you think that OT Histogram (https://github.com/open-telemetry/opentelemetry-proto/blob/master/opentelemetry/proto/metrics/v1/metrics.proto#L295) can be used for Datadog Histograms?  There may be some data conversion necessary depending on how the counts and Exemplar.value are interpreted, but it seems like a pretty close fit.

[2020-06-15 21:10] sonofachamp commented on #290
Oh yeah, great point @bsherrod, thanks! I'm a bit confused about the relationship between `HistogramDataPoint`, `Bucket`, and `Exemplar`. Is the receiver plugin going to have to be stateful to collect multiple data points, manage counts, and populate the `Bucket`s, or will the receiver plugin in this case just publish `HistogramDataPoint`s one to one with DogStatsD Histogram metrics?

[2020-06-16 04:43] jmacd commented on #290
@sonofachamp You're running into some issues that are currently under review in the metrics SIG. I'm working on a document that will address the correct default translation to and from dogstatsd. I think it would be best if you focused for now on the receiver configuration and the basic code path. I will have a document on the topic of standard translation to-and-from both dogstatds and prometheus

[2020-06-16 04:43] jmacd commented on #290
The config stanza above looks great!

[2020-06-16 06:05] jmacd commented on #290
reference: https://github.com/open-telemetry/opentelemetry-specification/issues/636

[2020-06-16 17:20] hencrice opened #329 "New receiver to ingest segments (i.e. spans) from the existing X-Ray SDK"
**Is your feature request related to a problem? Please describe.**
Not exactly a problem but the existing X-Ray SDK generates segments (i.e. spans) in a [proprietary format](https://docs.aws.amazon.com/xray/latest/devguide/xray-api-segmentdocuments.html), so it will be nice if OT collector can ingest such telemetry.

**Describe the solution you'd like**
As for implementation, the tentative plan is

[2020-06-16 17:20] hencrice commented on #329
I'm going to start working on this

[2020-06-16 19:07] owais opened #330 "K8S processer observability unit test fails randomly"
https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/1356/workflows/3f27459b-bf16-4352-ae64-4395fcdfde75/jobs/4063

[2020-06-16 19:16] ayusheesingh opened #331 "Running Docker Image Failed"
**Describe the bug**
After pulling the docker image linked in the README.md of this repo, I am unable to successfully run it.

**Steps to reproduce**
docker pull otel/opentelemetry-collector-contrib
docker run -it otel/opentelemetry-collector-contrib:latest bash

**What did you expect to see?**
Built image.

**What did you see instead?**
{"level":"info","ts":1592333331.6485825,"caller":"service/se

[2020-06-16 20:45] owais opened #333 "Release CI job should publish Windows builds"
Currently we only publish Linux builds to Github release artifacts. We should also publish at least Windows builds.

[2020-06-16 22:00] jrcamp commented on #331
You need to provide a config file. See Docker example in the docs: https://opentelemetry.io/docs/collector/about/#docker

[2020-06-16 22:03] hencrice opened #335 "Port a subset of the existing X-Ray Daemon configurations into the OT X-Ray receiver"
Not all the X-Ray daemon [configurations](https://docs.aws.amazon.com/xray/latest/devguide/xray-daemon-configuration.html#xray-daemon-configuration-configfile) make sense for the OT X-Ray receiver. We will only port a selected subset.

[2020-06-16 22:04] hencrice commented on #335
I'm working on this

[2020-06-17 01:01] flands commented on #331
PR to fix https://github.com/open-telemetry/opentelemetry.io/pull/202

[2020-06-17 01:44] #331 closed

[2020-06-17 15:17] #294 closed

[2020-06-17 15:23] #311 closed

[2020-06-17 16:18] tigrannajaryan commented on #330
Failed again https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/1382/workflows/598536d8-8b0d-4b8b-ac74-3caa622d48a4/jobs/4226/steps

[2020-06-17 19:58] JingboWangGoogle commented on #332
As a record to our conclusion from our meeting, we have decided to keep it as one processor, but this processor will stay in the contrib repo for now.

[2020-06-17 21:43] #272 closed

[2020-06-18 04:05] nilebox opened #342 "v0.4.0 modules have a non-release Collector dependency"
**Describe the bug**
All `v0.4.0` Contrib tags have and outdated Collector dependency, e.g.
see https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/6b1462efb5e704404ebcf9342c4ca3164e758f80/exporter/stackdriverexporter/go.mod#L11

This is because the tags were created for https://github.com/open-telemetry/opentelemetry-collector-contrib/commit/6b1462efb5e704404ebcf9342c4ca3164e75

[2020-06-18 07:45] owais commented on #342
These are technically outdated but in practice provide the same "software" but yes contrib release should depend on the corresponding core release numbers. I've added it to list release the process steps that we'll be adding to the repos soon.

[2020-06-18 07:46] owais commented on #342
Is this causing you any problems? If so, we could release v0.4.1 to fix this.

[2020-06-18 08:04] nilebox commented on #342
No, but would be nice to fix in the next release.

[2020-06-18 08:06] owais commented on #342
Noted.

[2020-06-18 08:06] #342 closed

[2020-06-18 09:32] jmacd commented on #290
Here it the above-mentioned document: https://github.com/open-telemetry/oteps/pull/118

[2020-06-18 15:20] pavolloffay opened #4761 "Add size in bytes to batch processor"
**Is your feature request related to a problem? Please describe.**

The Bulk processor controls the batch size via `send_batch_size` which is the number of spans or metrics. However the spans can vary in size and therefore it would be useful to instruct the batch processor to send the batch once a size in bytes is reached.

**Describe the solution you'd like**

Add `send_batch_size_bytes` to the B

[2020-06-18 17:58] #330 closed

[2020-06-19 04:39] flands opened #344 "jaeger_legacy receiver results in panic"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce**
Configure jaeger_legacy receiver

**What did you expect to see?**
Jaeger_legacy receiver working

**What did you see instead?**
panic: interface conversion: *jaegerlegacyreceiver.Factory is not component.ReceiverFactoryOld: missing method CreateMetricsReceiver

**What version did you use?**
v0.4.0

**W

[2020-06-19 13:22] flands opened #345 "signalfx receiver should default to 9943"
signalfx receiver requires that the endpoint be specified -- it should default to port `9943`. In addition, the documentation should be updated so it does not look like `sapm` and `signalfx` use the same port.

[2020-06-19 13:24] flands opened #346 "carbon and wavefront docs should say both cannot be used by default"
Both the `carbon` and `wavefront` receivers default to port `2003`. As such, the readme should be updated to state by default both cannot by enabled without changing the port.

[2020-06-22 13:26] disfluxly opened #348 "New Relic Exporter Throws Panic With Zipkin Receiver"
**Describe the bug**
Using the opentelemetry-collector-contrib:0.4 docker image, setting up a Zipkin Receiver and a New Relic Exporter results in the New Relic Exporter throwing a Go Panic.

**Steps to reproduce**

- ./docker-compose.yml
- ./otel-collector-config.yml

**docker-compose.yml**

[code]

**otel-collector-config.yml**

[code]

**Sample Zipkin Data**
[code]

**Commands**

[code]

**What

[2020-06-22 16:08] #180 closed

[2020-06-23 17:30] jmacd commented on #332
In #290 we are discussing how to incorporate a (dog)statsd receiver into the collector. One of the features of statsd data is that it arrives unaggregated, as point data. Feeding statsd data directly into the collector is probably not what users want. I think what users do want is to configure which aggregations are applied to the data. This could be implemented specifically inside a statsd receiv

[2020-06-23 17:35] quentinmit commented on #332
It sounds quite reasonable to me, though can you clarify what you mean by "point data"?

We're initially targeting aggregation-across-dimensions with this processor, and not aggregation-across-time. So if you get e.g. 5 separate points in a minute and want an output of "5" that would be aggregation-across-time. We definitely want to support that but it's more complicated so it's not likely to be i

[2020-06-23 17:47] jmacd commented on #332
For example, when statsd sends histogram data, it sends one value at a time (with an "h" designation) and the receiver is expected to build the histogram. We could have a statsd receiver emit raw data points into the OTLP representation, but I wouldn't expect the exporters to transform data back into a suitable format. For example, I would not expect a Prometheus exporter to have to compute a hist

[2020-06-23 17:50] jmacd commented on #332
The "Across time" part is indeed trickier. The OTel metric clients are already doing similar things, so I understand why this is hard. You'd have to buffer a window of data (SDK term for this: an Accumulator) before applying temporal aggregations.

The statsd receiver could be configured with a small buffer of time, to work around this matter. It would accumulate 10 seconds of data as a single OTL

[2020-06-23 22:48] owais opened #354 "Stability tests failed in branch master for commit a00790dc6f9a15929459fbf5b88c644ba6a1f03a"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/4730.

[2020-06-24 02:07] jmacd commented on #332
After reading through this proposal again, it appears to be another form of the Views API in disguise.

https://github.com/open-telemetry/oteps/pull/89

It seems like we could try to find a common configuration language for describing views here.

[2020-06-24 09:57] wtc-hf opened #355 "Metrics are exposed by default in localhost:8888"
**Describe the bug**
In version `0.4.0`, we have a bug that the metrics are exposed in the `localhost` instead to listen on `0.0.0.0`.

**Steps to reproduce**
Just deploy the version using the default flag.

**What did you expect to see?**
Like the previous version, the default address was ` :8888`

[code]

**What did you see instead?**
[code]

**What version did you use?**
Version: (`"Version": "

[2020-06-24 14:51] draffensperger commented on #332
Hi @jmacd that's a good point about this being related to views. @JingboWangGoogle is a Google intern working on this over the summer and our hope is that we can get a basic version of this that doesn't do across-time aggregations but that only does single-batch renames/aggregations.

I think since it's in contrib it wouldn't be viewed as final and should be refactored to better conform to the vie

[2020-06-24 16:00] sonofachamp commented on #290
Here's a summary of my takeaways from yesterdays discussion @jmacd, please correct me if I misunderstood anything.

There are a couple of potential routes we could take regarding aggregation:
1. We can bake aggregation into the receiver plugin and expose some configuration to the user to be able override some aggregation defaults for the supported StatsD metric types. I believe this type of config

[2020-06-24 16:42] jmacd commented on #290
See also https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/332
This is mostly related to point (2) above.
There _is_ support for raw data points in the current OTLP protocol, but there are a few ambiguities remaining. We'll discuss this in tomorrows Metrics SIG.

[2020-06-25 10:56] objectiser opened #16162 "Separate out aggregation capability from tail based sampling processor"
**Is your feature request related to a problem? Please describe.**
Currently the tail-based sampling processor performs two functions, it aggregates spans for a trace, and then applies sampling policies. However other processors may benefit from being able to process complete traces, before they are subject to a sampling decision.

**Describe the solution you'd like**
I would like to see the aggre

[2020-06-25 21:16] #355 closed

[2020-06-26 14:54] jrcamp opened #368 "Add ability to discover services in k8s_observer"
**Is your feature request related to a problem? Please describe.**
After installing https://github.com/helm/charts/tree/master/stable/prometheus-node-exporter I discovered that it assumes you will scrape the prometheus metrics through a service (instead of a pod) since that's what it attached the prometheus.io/scrape annotations to. This is kind of odd given that if you have multiple pods behind a

[2020-06-26 17:59] owais opened #369 "Stability tests failed in branch master for commit c72b1c53c5699d0254f403c83ed9b7be3f9bce83"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/5362.

[2020-06-28 06:58] darwhs opened #372 "To create load test case the exporter must have a matching receiver"
**Describe the bug**
Right now I can see that if someone wants to make use of the testbed and create a load tests, for some exporter it is mandatory to have a receiver to mack the backend and receive the traces or data while the work of the mocked backend is to just receive the data and count the number of spans

**Steps to reproduce**
create simple testcase using awsxray exporter and the otlp rec

[2020-06-29 13:44] darwhs commented on #372
Do we have any update on this?

[2020-06-29 18:11] tigrannajaryan commented on #372
This is by design and is the intended way to use the testbed. It may be possible to improve the testbed to make it easier to add support for new exporters but it is not a roadmap item for maintainers and we do not plan to work on this.

I am closing this issue, please feel free to reopen if you would like to contribute an improvement yourself or know a contributor who may want to work on this.

[2020-06-29 18:11] #372 closed

[2020-06-29 18:24] tigrannajaryan commented on #354
Duplicate of https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/369 ?

[2020-06-30 14:53] atrauzzi opened #433 "Azure Monitor Exporting/Forwarding"
Has there been any engagement from Microsoft or Azure about making the otel collector able to forward to their Azure Monitor service?

Understandably, this sounds like an Azure feature request, but I figured it might be worth putting a note about it here as well.  Particularly due to Microsoft's participation in OpenTelemetry and CNCF :smile:

This seems like something that could unblock a lot of

[2020-07-01 04:36] backjo opened #378 "Support for namespace labels as attributes in K8S Processor"
**Is your feature request related to a problem? Please describe.**
At Intuit, we run a fleet of multi-tenant K8S clusters, with each K8S namespace having several labels containing important metadata. This metadata would be useful to have as a resource attribute - for analysis, correlation etc.
**Describe the solution you'd like**
The K8S processor should support extraction of labels and annotation

[2020-07-02 15:46] owais opened #386 "resourcedetectionprocessor: Unit tests failing with race condition detected"
https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/1595/workflows/c96a5595-1ff4-4757-ac31-f7fafa3338cf/jobs/5818

[2020-07-02 15:47] owais opened #387 "k8sprocessor: observability test can fail if CI is too slow to export metrics in time. Probably should increase the timeout."
https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/1595/workflows/adfe6fa8-3d48-43ba-ac2d-97f5a2ea1b07/jobs/5820

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/1595/workflows/76baf0c0-35d9-4ab3-bbf1-68a38049a847/jobs/5807

[2020-07-02 15:48] owais opened #388 "signalfxreceiver: test can fail under some conditions."
Example failure: https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/1595/workflows/b828863e-2c7e-4665-8de1-d29c6d577f71/jobs/5817

[2020-07-02 15:52] owais commented on #388
@jrcamp assigning to you for visibility. Feel free to re-assign to the correct person.

[2020-07-02 15:53] owais commented on #386
@james-bebbington FYI ^

[2020-07-03 03:17] ymotongpoo opened #392 "Support for GPU (CUDA) metrics"
**Is your feature request related to a problem? Please describe.**
GPU monitoring is always left alone and requires their own hacks or dedicated tools. Having the OT integration with CUDA helps GPU users.

**Describe the solution you'd like**
Add the receiver that integrates with CUDA (NVML) and fetch metrics available from `nvidia-smi`

**Additional context**
I had researched how GPU users monito

[2020-07-05 04:09] anuraaga opened #396 "Flaky test: carbonexporter"
**Describe the bug**
A test sometimes times out on CI, causing failed builds for unrelated PRs.

[code]

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/1629/workflows/d2507113-df0d-4296-993e-a1561c89176b/jobs/6073

**Steps to reproduce**

Can't since it's flaky :)

[2020-07-06 19:04] dmitryax opened #400 "Possible memory leak observed in the stability tests"
**Describe the bug**
Recently we introduced long-running stability tests https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/master/testbed/stabilitytests to catch performance issues in long running scenarios. Ideally we need to compare resources utilization based on initial measures, and verify that CPU and memory utilization doesn't grow more than values observed within fist c

[2020-07-07 04:13] ashwinidulams opened #403 "Proposal: Span Stats processor"
## Span Statistics Proposal

A processor for aggregating spans to derive RED (Request, Error, Distribution) metrics across a set of dimensions (dynamic or otherwise) and exporting the results to a metrics sink (prometheus endpoint, stream etc).

## Motivation

A trace contains end-to-end data about the service call chain in the context of a request/transaction. This data can be mined to derive con

[2020-07-07 17:34] #369 closed

[2020-07-07 17:34] #354 closed

[2020-07-08 02:16] owais opened #407 "Stability tests failed in branch master for commit 04c2ab5d12cc6258b12b4169d54593baac2ef77b"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/6560.

[2020-07-08 04:01] nilebox opened #409 "Update to Thrift v0.13.0 (fix scribe-go)"
**Is your feature request related to a problem? Please describe.**
Updating to the latest core fails due to a breaking change in Thrift v0.13.0:
[code]

Go types in https://github.com/Omnition/scribe-go were generated using old Thrift binaries (v0.9.3).

**Describe the solution you'd like**
Update `scribe-go` to Thrift v0.13.0 to unblock the update, and update its dependency in this repo.

**Descr

[2020-07-08 04:06] bogdandrutu commented on #409
https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/410

[2020-07-08 04:36] #409 closed

[2020-07-08 05:11] owais opened #413 "Stability tests failed in branch master for commit 86c8ef5fd321affeb772a82226e7f8c8891dc1af"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/6632.

[2020-07-08 07:00] darwhs commented on #372
you can assign it to me, I am working on it.

[2020-07-09 00:39] owais opened #421 "Stability tests failed in branch master for commit 00d90778e8a139df6e1b4e19f3fb9d6773fa93d7"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/6917.

[2020-07-09 03:17] owais opened #423 "Stability tests failed in branch master for commit 15e709d46ec3ed05dfe5ab961595d46d40f50d56"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/6990.

[2020-07-09 03:33] owais opened #424 "Stability tests failed in branch master for commit 15e709d46ec3ed05dfe5ab961595d46d40f50d56"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/6990.

[2020-07-10 14:37] pplavetzki commented on #316
Is there any work towards this?  I'm trying to implement the azure monitor exporter in my service, but the lack of any example is making it very difficult.

[2020-07-12 04:19] pcwiese commented on #396
This component is causing continuous issues for everyone submitting PRs. Please prioritize this or remove the failing test.

[2020-07-12 14:51] #407 closed

[2020-07-12 15:04] #413 closed

[2020-07-12 15:04] #424 closed

[2020-07-12 15:04] #423 closed

[2020-07-12 15:04] #421 closed

[2020-07-13 17:28] hencrice opened #430 "Port X-Ray segments ingestion via UDP"
To support the use of the existing X-Ray SDK, the new receiver needs to be able to ingest X-Ray segments through an UDP port.

[2020-07-13 17:29] hencrice commented on #430
I'm implementing this

[2020-07-14 16:24] vinsce opened #438 "Add service environment configuration to elastic exporter"
Based on the [Kibana documentation](https://www.elastic.co/guide/en/kibana/current/filters.html#environment-selector), the special field `service.environment` is used to identify the environment of the service. If the variable is not specified, the environment associated with the service is _Not defined_.

![image](https://user-images.githubusercontent.com/5099266/87449258-3b450c00-c5fd-11ea-9a80-

[2020-07-14 16:53] JingboWangGoogle commented on #332
Regarding the feature brought up by @jmacd , we have agreed to move this to a later version, specifically after https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/417, which concludes the MVP for this proposed processor.

[2020-07-14 18:38] owais opened #439 "Stability tests failed in branch master for commit af695ce8dfad860102dca65fd8cf2c560522bca9"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/7684.

[2020-07-14 20:55] owais opened #442 "Stability tests failed in branch master for commit af695ce8dfad860102dca65fd8cf2c560522bca9"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/7714.

[2020-07-14 22:20] owais opened #446 "Stability tests failed in branch master for commit af695ce8dfad860102dca65fd8cf2c560522bca9"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/7762.

[2020-07-14 23:02] owais opened #447 "Stability tests failed in branch master for commit e7454fdaa2c420c1fd203e9e9caf9eb7638e5046"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/7787.

[2020-07-14 23:04] owais opened #448 "Stability tests failed in branch master for commit a26b7a4c2363f28fae910fea00e02affaa4de28f"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/7788.

[2020-07-15 05:12] owais opened #449 "Stability tests failed in branch master for commit 6a25486bb3ab80e41889ecab9ae37f34a192709f"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/7801.

[2020-07-15 07:22] #386 closed

[2020-07-15 16:59] hossain-rayhan opened #457 "New receiver to collect metrics from Amazon ECS Task Metadata Endpoint"
**Is your feature request related to a problem? Please describe.**
Not exactly. It's a new feature request. The Amazon ECS container agent provides a method to retrieve various task metadata and Docker stats. This is referred to as the [task metadata endpoint](https://docs.aws.amazon.com/AmazonECS/latest/developerguide/task-metadata-endpoint.html). It would be great if we write an OT receiver to c

[2020-07-15 16:59] hossain-rayhan commented on #457
I am working on this.

[2020-07-15 17:07] hossain-rayhan opened #458 "AWS ECS container metrics receiver: create receiver skeleton"
The Amazon ECS container agent provides a method to retrieve various task metadata and Docker stats. This is referred to as the [task metadata endpoint](https://docs.aws.amazon.com/AmazonECS/latest/developerguide/task-metadata-endpoint.html) . As the first part of implementation, design a skeleton for the receiver following the standard guidelines. The receiver should implement a configuration opt

[2020-07-15 18:30] owais opened #459 "Stability tests failed in branch release/v0.6.x for commit 45379bf5a200c60c3d884d6709d6f4bd5475d270"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/7966.

[2020-07-15 18:42] owais opened #460 "Stability tests failed in branch master for commit 77dfcbad24864a0f897af75d19f3b1f760686ebf"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/7980.

[2020-07-15 18:52] owais opened #461 "Stability tests failed in branch release/v0.6.x for commit 45379bf5a200c60c3d884d6709d6f4bd5475d270"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/7988.

[2020-07-15 19:04] owais opened #462 "Stability tests failed in branch master for commit 77dfcbad24864a0f897af75d19f3b1f760686ebf"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/7994.

[2020-07-15 21:36] #439 closed

[2020-07-15 21:37] owais opened #464 "Stability tests failed in branch release/v0.6.x for commit 45379bf5a200c60c3d884d6709d6f4bd5475d270"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/8026.

[2020-07-15 23:45] #345 closed

[2020-07-15 23:50] #446 closed

[2020-07-15 23:50] #447 closed

[2020-07-15 23:50] #448 closed

[2020-07-15 23:50] #449 closed

[2020-07-15 23:50] #459 closed

[2020-07-15 23:50] #460 closed

[2020-07-15 23:51] #461 closed

[2020-07-15 23:51] #462 closed

[2020-07-15 23:51] #464 closed

[2020-07-15 23:51] #442 closed

[2020-07-16 09:37] owais opened #467 "Stability tests failed in branch release/v0.6.x for commit 45379bf5a200c60c3d884d6709d6f4bd5475d270"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/8146.

[2020-07-16 13:40] keitwb commented on #344
Jaeger legacy receiver no longer exists so this should be closed.

[2020-07-16 13:43] #344 closed

[2020-07-16 18:33] #335 closed

[2020-07-17 15:38] morigs opened #470 "Fix readme notice about alpha stage"
The readme file says

But actually the collector is in Beta stage already and the APIs seem to be relatively stable. Perhaps readme should be updated

[2020-07-17 17:12] lizthegrey opened #471 "Create dependabot.yml here as well"
See https://github.com/open-telemetry/opentelemetry-collector/issues/1246

The only notable complexity is that this project is more than one go module so it'll be necessary to specify more than one path.

[2020-07-19 15:33] marcantoine-bibeau opened #472 "Log flooded with "received rss len""
**Describe the bug**
otel-collector-contrib flooded with this following INFO log. Roughly ~1000 per minute
[code]

**Steps to reproduce**
Nothing special, just having the collector running...

**What did you expect to see?**
Not having the logs flooded

**What version did you use?**
v0.4.0

[2020-07-20 09:45] verysonglaa commented on #316
The following config was working for me, just replace $AI_INSTRUMENT_KEY with your instrument key

`---
apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-conf
  namespace: crt-otel
  labels:
    app: opentelemetry
    component: otel-collector-conf
data:
  otel-collector-config: |
    receivers:
      zipkin:
        endpoint: "0.0.0.0:9411"
    processors:
      queued_retry:

[2020-07-20 21:23] hencrice opened #478 "Enhance the observability of the OT X-Ray receiver"
Leverage existing observability constructs to make the inner working of the X-Ray receiver more transparent

[2020-07-20 21:23] hencrice commented on #478
I'm taking this

[2020-07-20 23:23] #472 closed

[2020-07-21 18:53] CeeBeeCee opened #481 "Honeycomb exporter not mapping traceid and id fields"
I'm testing the Honeycomb exporter using the OpenTelemetry collector with a couple of web services.  I'm sending traces in Zipkin format to the OpenTelemetry Collector and exporting to a local Jaeger server and also to Honeycomb. I'm able to see the traces in my Jaeger instance correctly but the traces in Honeycomb appear to be missing the id and traceID fields when compared to other traces that w

[2020-07-21 18:53] #470 closed

[2020-07-21 19:06] CeeBeeCee opened #482 "AWS XRay Exporter - UnprocessedTraceSegments errors on valid traces"
I'm testing the XRay exporter using the OpenTelemetry collector with a couple of web services. I'm sending traces in Zipkin format to the OpenTelemetry Collector and exporting to a local Jaeger server and also to XRay. I'm able to see the traces in my Jaeger instance correctly but the XRay exporter is throwing "UnprocessedTraceSegments" errors.

**What version did you use?**
otel/opentelemetry-col

[2020-07-22 16:59] ocervell opened #490 "StackdriverExporter is broken"
**Describe the bug**
Deployed on Kubernetes using the following setup:
[OT SDK + OpenCensusMetricsExporter] --> [OT Collector + Cloud Monitoring Exporter] --> Cloud Monitoring API

**Steps to reproduce**
https://github.com/ocervell/gunicorn-opentelemetry-poc
Deploy the `custom-metrics-example/` and the OT agent in `ops/opentelemetry` on GKE. No need to deploy the whole Flask application.

**What d

[2020-07-22 19:28] #481 closed

[2020-07-22 19:28] CeeBeeCee commented on #481
This is not an issue. All I had to do is create a new dataset.

[2020-07-22 19:33] lizthegrey commented on #481
yeah, I suspect the traceid and spanid fields might be differently named than your other dataset. Hopefully we were able to auto-detect correctly with the new dataset.

[2020-07-23 16:40] aabmass commented on #490
@ocervell, I took a look at the Python `OpenCensusMetricsExporter` and I think the bug may lie there. It is not setting the `start_timestamp` [here](https://github.com/open-telemetry/opentelemetry-python/blob/5ff9600a62f9c82fc120b03e5729a53341465626/ext/opentelemetry-ext-opencensusexporter/src/opentelemetry/ext/opencensusexporter/metrics_exporter/__init__.py#L124-L126). I think that is why your st

[2020-07-23 17:01] aabmass commented on #490
@ocervell can you try using the package from my branch https://github.com/aabmass/opentelemetry-python/tree/fix-oc-exporter and see if that fixes it? It will log the whole metric proto it is sending for debugging, including the new `start_timestamp`.

[code]

[2020-07-23 17:57] hencrice opened #496 "AWS X-Ray receiver uses both UDP and TCP endpoint"
**Describe the bug**
Recent [commit](https://github.com/open-telemetry/opentelemetry-collector-contrib/commit/10f7771ece0d71d747ad9a936c11a348d66471d6#diff-81f0b44105ac4e4debfbca2c90a0da2b) incorrectly changed the UDP endpoint to `TCPAddr`. It also left out the TCP address in the `proxy_server` section.

**Steps to reproduce**
N/A

**What did you expect to see?**
N/A

**What did you see instead?**

[2020-07-23 17:58] hencrice commented on #496
I'm fixing this

[2020-07-23 22:41] #496 closed

[2020-07-24 03:04] owais opened #505 "Stability tests failed in branch master for commit 12be56426f583c03b5eb0a9b189d4c75f3c0d344"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9796.

[2020-07-24 03:04] owais opened #506 "Stability tests failed in branch master for commit 12be56426f583c03b5eb0a9b189d4c75f3c0d344"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9796.

[2020-07-24 03:04] owais opened #507 "Stability tests failed in branch master for commit 12be56426f583c03b5eb0a9b189d4c75f3c0d344"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9796.

[2020-07-24 03:04] owais opened #508 "Stability tests failed in branch master for commit 12be56426f583c03b5eb0a9b189d4c75f3c0d344"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9796.

[2020-07-24 03:04] owais opened #509 "Stability tests failed in branch master for commit 12be56426f583c03b5eb0a9b189d4c75f3c0d344"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9796.

[2020-07-24 03:04] owais opened #510 "Stability tests failed in branch master for commit 12be56426f583c03b5eb0a9b189d4c75f3c0d344"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9796.

[2020-07-24 03:04] owais opened #511 "Stability tests failed in branch master for commit 12be56426f583c03b5eb0a9b189d4c75f3c0d344"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9796.

[2020-07-24 03:05] owais opened #512 "Stability tests failed in branch master for commit 12be56426f583c03b5eb0a9b189d4c75f3c0d344"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9796.

[2020-07-24 03:05] owais opened #513 "Stability tests failed in branch master for commit 12be56426f583c03b5eb0a9b189d4c75f3c0d344"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9796.

[2020-07-24 10:15] ocervell commented on #490
Sure, will try this and let you know !

[2020-07-24 12:40] ocervell commented on #490
@aabmass it's working with the custom-metrics-example now ! Your fix is working, no more errors in writing timeseries to the API.

I've tried it after with the Flask application but it's not sending any metrics to the collector for some reason. When I use CloudMonitoringMetricsExporter the same code is working (see [branch](https://github.com/ocervell/gunicorn-opentelemetry-poc/tree/fix-opencensus

[2020-07-24 16:44] aabmass commented on #490
@ocervell I took a look, the issue is the `pid` label you are passing is an int, but the exporter is expecting strings (also don't think you need `pid` at all if you are using the unique identifier option). The OT python SDK is also only expecting strings for label values, but I do think it is reasonable for the exporter to try and do this conversion for you, if not the SDK.

Since these are all p

[2020-07-24 17:01] #490 closed

[2020-07-24 17:18] owais opened #514 "Stability tests failed in branch master for commit 2820d97b7a0a9cfdd43c28c9850a511a70afbd7a"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9868.

[2020-07-24 17:19] owais opened #515 "Stability tests failed in branch master for commit 2820d97b7a0a9cfdd43c28c9850a511a70afbd7a"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9868.

[2020-07-24 17:19] owais opened #516 "Stability tests failed in branch master for commit 2820d97b7a0a9cfdd43c28c9850a511a70afbd7a"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9868.

[2020-07-24 17:19] owais opened #517 "Stability tests failed in branch master for commit 2820d97b7a0a9cfdd43c28c9850a511a70afbd7a"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9868.

[2020-07-24 17:19] owais opened #518 "Stability tests failed in branch master for commit 2820d97b7a0a9cfdd43c28c9850a511a70afbd7a"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9868.

[2020-07-24 17:19] owais opened #519 "Stability tests failed in branch master for commit 2820d97b7a0a9cfdd43c28c9850a511a70afbd7a"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9868.

[2020-07-24 17:19] owais opened #520 "Stability tests failed in branch master for commit 2820d97b7a0a9cfdd43c28c9850a511a70afbd7a"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9868.

[2020-07-24 17:19] owais opened #521 "Stability tests failed in branch master for commit 2820d97b7a0a9cfdd43c28c9850a511a70afbd7a"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9868.

[2020-07-24 17:20] owais opened #522 "Stability tests failed in branch master for commit 2820d97b7a0a9cfdd43c28c9850a511a70afbd7a"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9868.

[2020-07-24 18:42] #522 closed

[2020-07-24 18:42] #521 closed

[2020-07-24 18:42] #520 closed

[2020-07-24 18:42] #519 closed

[2020-07-24 18:42] #518 closed

[2020-07-24 18:43] #517 closed

[2020-07-24 18:43] #516 closed

[2020-07-24 18:43] #515 closed

[2020-07-24 18:43] #514 closed

[2020-07-24 18:43] #513 closed

[2020-07-24 18:43] #512 closed

[2020-07-24 18:43] #511 closed

[2020-07-24 18:43] #510 closed

[2020-07-24 18:43] #509 closed

[2020-07-24 18:43] #508 closed

[2020-07-24 18:43] #507 closed

[2020-07-24 18:43] #506 closed

[2020-07-24 18:43] #505 closed

[2020-07-24 19:10] owais opened #525 "Stability tests failed in branch master for commit 7b6c4b690d0f4e33f96e9306466538bb7e600b01"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9947.

[2020-07-24 19:10] owais opened #526 "Stability tests failed in branch master for commit 7b6c4b690d0f4e33f96e9306466538bb7e600b01"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9947.

[2020-07-24 19:10] owais opened #527 "Stability tests failed in branch master for commit 7b6c4b690d0f4e33f96e9306466538bb7e600b01"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9947.

[2020-07-24 19:10] owais opened #528 "Stability tests failed in branch master for commit 7b6c4b690d0f4e33f96e9306466538bb7e600b01"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9947.

[2020-07-24 19:10] owais opened #529 "Stability tests failed in branch master for commit 7b6c4b690d0f4e33f96e9306466538bb7e600b01"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9947.

[2020-07-24 19:10] owais opened #530 "Stability tests failed in branch master for commit 7b6c4b690d0f4e33f96e9306466538bb7e600b01"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9947.

[2020-07-24 19:10] owais opened #531 "Stability tests failed in branch master for commit 7b6c4b690d0f4e33f96e9306466538bb7e600b01"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9947.

[2020-07-24 19:11] owais opened #532 "Stability tests failed in branch master for commit 7b6c4b690d0f4e33f96e9306466538bb7e600b01"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9947.

[2020-07-24 19:11] owais opened #533 "Stability tests failed in branch master for commit 7b6c4b690d0f4e33f96e9306466538bb7e600b01"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9947.

[2020-07-24 19:13] owais opened #534 "Stability tests failed in branch master for commit 9764b90142561c1724e550ed81bb7f9d5a2acd64"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9949.

[2020-07-24 19:13] owais opened #535 "Stability tests failed in branch master for commit 9764b90142561c1724e550ed81bb7f9d5a2acd64"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9949.

[2020-07-24 19:13] owais opened #536 "Stability tests failed in branch master for commit 9764b90142561c1724e550ed81bb7f9d5a2acd64"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9949.

[2020-07-24 19:13] owais opened #537 "Stability tests failed in branch master for commit 9764b90142561c1724e550ed81bb7f9d5a2acd64"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9949.

[2020-07-24 19:13] owais opened #538 "Stability tests failed in branch master for commit 9764b90142561c1724e550ed81bb7f9d5a2acd64"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9949.

[2020-07-24 19:13] owais opened #539 "Stability tests failed in branch master for commit 9764b90142561c1724e550ed81bb7f9d5a2acd64"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9949.

[2020-07-24 19:13] owais opened #540 "Stability tests failed in branch master for commit 9764b90142561c1724e550ed81bb7f9d5a2acd64"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9949.

[2020-07-24 19:14] owais opened #541 "Stability tests failed in branch master for commit 9764b90142561c1724e550ed81bb7f9d5a2acd64"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9949.

[2020-07-24 19:14] owais opened #542 "Stability tests failed in branch master for commit 9764b90142561c1724e550ed81bb7f9d5a2acd64"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/9949.

[2020-07-24 19:26] #526 closed

[2020-07-24 19:26] #527 closed

[2020-07-24 19:26] #528 closed

[2020-07-24 19:26] #529 closed

[2020-07-24 19:26] #530 closed

[2020-07-24 19:26] #531 closed

[2020-07-24 19:26] #532 closed

[2020-07-24 19:26] #533 closed

[2020-07-24 19:26] #534 closed

[2020-07-24 19:26] #535 closed

[2020-07-24 19:26] #537 closed

[2020-07-24 19:26] #538 closed

[2020-07-24 19:26] #539 closed

[2020-07-24 19:26] #541 closed

[2020-07-24 19:26] #542 closed

[2020-07-24 21:00] owais opened #545 "Stability tests failed in branch master for commit 4fe8114ad69ef6abe5fe7ed9d8ffc75241a142fb"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/10046.

[2020-07-24 21:00] owais opened #546 "Stability tests failed in branch master for commit 4fe8114ad69ef6abe5fe7ed9d8ffc75241a142fb"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/10046.

[2020-07-24 21:00] owais opened #547 "Stability tests failed in branch master for commit 4fe8114ad69ef6abe5fe7ed9d8ffc75241a142fb"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/10046.

[2020-07-24 21:00] owais opened #548 "Stability tests failed in branch master for commit 4fe8114ad69ef6abe5fe7ed9d8ffc75241a142fb"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/10046.

[2020-07-24 21:01] owais opened #549 "Stability tests failed in branch master for commit 4fe8114ad69ef6abe5fe7ed9d8ffc75241a142fb"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/10046.

[2020-07-24 21:01] owais opened #550 "Stability tests failed in branch master for commit 4fe8114ad69ef6abe5fe7ed9d8ffc75241a142fb"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/10046.

[2020-07-24 21:02] owais opened #551 "Stability tests failed in branch master for commit 4fe8114ad69ef6abe5fe7ed9d8ffc75241a142fb"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/10046.

[2020-07-24 21:02] owais opened #552 "Stability tests failed in branch master for commit 4fe8114ad69ef6abe5fe7ed9d8ffc75241a142fb"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/10046.

[2020-07-24 21:02] owais opened #553 "Stability tests failed in branch master for commit 4fe8114ad69ef6abe5fe7ed9d8ffc75241a142fb"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/10046.

[2020-07-24 22:12] owais opened #555 "Stability tests failed in branch master for commit c8eea78c8e69e4d12814b6ad1e846b426240dab6"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/10095.

[2020-07-24 22:12] owais opened #556 "Stability tests failed in branch master for commit c8eea78c8e69e4d12814b6ad1e846b426240dab6"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/10095.

[2020-07-24 22:13] owais opened #557 "Stability tests failed in branch master for commit c8eea78c8e69e4d12814b6ad1e846b426240dab6"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/10095.

[2020-07-24 22:13] owais opened #558 "Stability tests failed in branch master for commit c8eea78c8e69e4d12814b6ad1e846b426240dab6"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/10095.

[2020-07-24 22:13] owais opened #559 "Stability tests failed in branch master for commit c8eea78c8e69e4d12814b6ad1e846b426240dab6"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/10095.

[2020-07-24 22:13] owais opened #560 "Stability tests failed in branch master for commit c8eea78c8e69e4d12814b6ad1e846b426240dab6"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/10095.

[2020-07-24 22:13] owais opened #561 "Stability tests failed in branch master for commit c8eea78c8e69e4d12814b6ad1e846b426240dab6"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/10095.

[2020-07-24 22:13] owais opened #562 "Stability tests failed in branch master for commit c8eea78c8e69e4d12814b6ad1e846b426240dab6"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/10095.

[2020-07-24 22:13] owais opened #563 "Stability tests failed in branch master for commit c8eea78c8e69e4d12814b6ad1e846b426240dab6"
Link to failed job: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/10095.

[2020-07-24 22:49] #467 closed

[2020-07-24 22:49] #525 closed

[2020-07-24 22:49] #545 closed

[2020-07-24 22:49] #546 closed

[2020-07-24 22:49] #547 closed

[2020-07-24 22:49] #548 closed

[2020-07-24 22:49] #549 closed

[2020-07-24 22:49] #550 closed

[2020-07-24 22:49] #551 closed

[2020-07-24 22:49] #553 closed

[2020-07-24 22:49] #555 closed

[2020-07-24 22:49] #557 closed

[2020-07-24 22:49] #558 closed

[2020-07-24 22:49] #559 closed

[2020-07-24 22:49] #560 closed

[2020-07-24 22:49] #561 closed

[2020-07-24 22:49] #562 closed

[2020-07-24 22:49] #563 closed

[2020-07-24 22:56] #536 closed

[2020-07-24 22:56] #540 closed

[2020-07-24 22:56] #552 closed

[2020-07-24 22:56] #556 closed

[2020-07-27 20:32] #388 closed

[2020-07-27 20:34] #316 closed

[2020-07-28 13:09] ocervell opened #570 "ResourceDetectionProcessor: Support GKE resource labels"
When running on GKE, it would be great to have automatic labeling for the metrics going through the collector, like we have with the `ResourceDetectionProcessor` on GCE.

Using the `stackdriverexporter`, the resource type is set is `global`. The GCE detector from the `k8sprocessor` is changing the resource type to `compute_instance`, but on GKE we should set the resource to `k8s_cluster`, `k8s_nod

[2020-07-29 01:30] bogdandrutu commented on #5
This will be done soon in core.

[2020-07-29 01:30] #5 closed

[2020-07-29 03:08] bogdandrutu opened #576 "Add CircleCI check that all modules depends on the same collector version"
**Is your feature request related to a problem? Please describe.**
When merging new PRs they can have a different version for the collector which causes inconsistencies.

**Describe the solution you'd like**
A small script that ensures all versions of the collector are the same.

**Additional context**
Discovered during merging old PRs.

[2020-07-29 14:34] #268 closed

[2020-07-30 21:34] tigrannajaryan commented on #97
Done, see https://pkg.go.dev/github.com/open-telemetry/opentelemetry-collector-contrib/processor/k8sprocessor?tab=doc

[2020-07-30 21:34] #97 closed

[2020-07-30 21:41] tigrannajaryan commented on #279
Closing, didn't see any failures recently.

[2020-07-30 21:41] #279 closed

[2020-07-30 22:07] jrcamp commented on #438
@axw looks like you added the initial elastic implementation, can you take a look at this?

[2020-07-30 22:11] jrcamp commented on #403
Just so it's not lost, @jmacd wrote in the original issue:

[2020-07-30 22:11] hencrice opened #585 "Implement X-Ray segments -> OT tracing data model conversion"
After the X-Ray receiver ingests "segments" generated by the existing X-Ray SDK, it needs to convert them into OT internal trace format.

[2020-07-30 22:12] hencrice commented on #585
I'm implementing this

[2020-07-30 22:17] jrcamp commented on #348
@MrAlias looks like you added the initial implementation so assigning to you to triage

[2020-07-30 22:20] jrcamp commented on #333
This appears to be resolved in latest release.

[2020-07-30 22:20] #333 closed

[2020-07-30 22:32] jrcamp commented on #318
https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/master/exporter/stackdriverexporter is currently missing a README.md.

[2020-07-30 22:47] jrcamp commented on #332
@JingboWangGoogle is there any more work that needs to be done to close out this issue given the above PRs have been merged?

[2020-07-30 22:56] jrcamp commented on #570
@james-bebbington can you take a look?

[2020-07-30 23:49] anuraaga commented on #482
@CeeBeeCee Can you confirm that you are not seeing the traces in the X-Ray console? I don't believe the `UnprocessedTraceSegments` is actually an error here since it's an empty array and there is no `ErrorCode`.

[2020-07-31 01:11] axw commented on #438
Thanks for the ping @jrcamp, will do.

[2020-07-31 01:17] JingboWangGoogle commented on #332
@jrcamp Based on the content in this proposal and the features implemented in the merged PRs, this proposal issue can be closed as all the proposals here are realized in the PRs. Also @draffensperger @quentinmit just for transparency.

[2020-07-31 01:30] axw commented on #438
We can certainly look for `service.environment` as requested, but I wonder if we should be using [service.namespace](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/resource/semantic_conventions/README.md#service) instead. That would be nice in that it's a defined attribute, and an environment _is_ a kind of namespace; but not all namespaces may be considere

[2020-07-31 01:44] #332 closed

[2020-07-31 09:30] james-bebbington commented on #570
Interesting - I hadn't actually looked at the k8s processor before.

@nilebox recently added https://github.com/open-telemetry/opentelemetry-collector/pull/1462/files to ensure that when converting from an OT resource that uses OT semantic conventions, the legacy OC type is set correctly so that any exporters still dependent on OC conventions will work correctly.

That won't solve this case though

[2020-07-31 10:48] cyrille-leclerc commented on #438
FYI, after discussing with @axw , we have created https://github.com/open-telemetry/opentelemetry-specification/issues/752

[2020-07-31 13:15] CeeBeeCee commented on #482
@anuraaga : I dont see the traces in Xray searching by trace id. There is also mention of missing parent id in the logs.

Jul 31 13:08:46  {"level":"debug","ts":1596200926.8846846,"caller":"awsxrayexporter/awsxray.go:93","msg":"response: {  UnprocessedTraceSegments: [{      ErrorCode: "MissingParentId",      Id: "b2995b1c2dda50f1",      Message: "Invalid subsegment. ErrorCode: MissingParentId, Cau

[2020-07-31 13:34] anuraaga commented on #482
Thanks that's very helpful! Also could you clarify what instrumentation you are using. You mentioned Zipkin, so is it Java + Brave?

[2020-07-31 13:53] nilebox commented on #570
@james-bebbington I think what @ocervell is requesting is to add support for GKE auto-detection similar to existing [GCE detection](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/master/processor/resourcedetectionprocessor/internal/gcp/gce/gce.go) that you've implemented in the Resource Detection Processor.

e.g. if collector is running as a sidecar agent mode, it may injec

[2020-07-31 14:00] CeeBeeCee commented on #482
Sorry, I had a copy paste error earlier. I'm using a [Jaeger exporter](https://pypi.org/project/opentelemetry-ext-jaeger/) (not  Zipkin) with OpenTelemetry to send traces to a collector running on an EC2 instance. This is how the collector is configured with one receiver and two exporters. The Jaeger exporter works just fine. Its the Xray exporter that is throwing errors.

receivers:
  jaeger:

[2020-07-31 14:24] anuraaga commented on #482
Thanks for the detail, this is definitely a case that should work so will look into it. Seems like enough information to repro the bug but might come back if I need something else. Just one idea is if you are instrumenting with OTel, have you tried to use the OTLP exporter? It's currently what we've tested the most (again, that doesn't mean we won't fix issues with other protocols).

[2020-07-31 14:35] CeeBeeCee commented on #482
That was the first thought I had i.e try OTLP. I tried it and got the same error. Here is the span that comes out using OTLP. If we can get OTLP traces to Xray, I'm okay switching from Jaeger to OTLP.

_```
InstrumentationLibrarySpans #0
Span #0
    Trace ID       : 8d8c7ce4c2f23018055b85aa99c1a561
    Parent ID      :
    ID             : ef612d9d17ded8b9
    Name           : ApplicationLaunch

[2020-08-01 08:46] anuraaga commented on #482
Thanks for this information - so the trace in the first comment, https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/482#issue-663242141 seems to be valid, and hence we didn't see errors in the logs.

This one we're not handling properly right now since we're currently expecting the root of a trace to be a server span. I don't think this has to be the case though, so I'll look

[2020-08-02 05:49] #471 closed

[2020-08-02 07:44] owais opened #637 "Bug report for failed CircleCI build (job: run-stability-tests)"
Auto-generated report for `run-stability-tests` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/12000

#### Test Failures
-  TestStabilityTracesZipkin

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-08-03 19:11] CeeBeeCee commented on #482
Hi Anurag,

I will post a query to the opentelemetry-python repo asking about the root being INTERNAL.
Meanwhile, I looked for span where the root is SERVER and here is one. It throws the same error and I do not see the trace in XRay. If it is easier to troubleshoot realtime, I'm open to a Zoom session at a time convenient to you. Please let me know.

`2020-08-03T19:02:04.121Z        DEBUG   loggi

[2020-08-03 20:26] owais commented on #637
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/12852

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-03 21:39] CeeBeeCee commented on #482
Hello Anurag,

You were on point! I looked at some other traces which had span.kind=SERVER and they are making it to XRay. Looks like the error message was benign. However, I did notice that the resource attributes (in bold) are not being sent to XRay. Is this under process for development? If it is easier for you to troubleshoot real time, I'm available for an online meeting at any time convenien

[2020-08-03 23:04] ymotongpoo commented on #392
Let us discuss the suggestion to have the dedicated repository for GPU metrics extractor binary as suggested in this pull request (https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/393)

In this comment (https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/393#issuecomment-662777421), @tigrannajaryan suggested to create an independent binary to extract GPU me

[2020-08-03 23:09] anuraaga commented on #482
@CeeBeeCee Great!

Yeah passing arbitrary resource attributes is currently being worked, we currently have a specific mapping for some fields into the X-Ray data model. `service.name` would generally be used to name the segment, but it should be set `service.name`, not `service_name` as per the spec here

https://github.com/open-telemetry/opentelemetry-specification/tree/master/specification/resou

[2020-08-03 23:13] SergeyKanzhelev commented on #392
@ymotongpoo do we need a separate SIG/WG or simply a repo to host code? Can one of existing SIGs own it?

[2020-08-03 23:21] ymotongpoo commented on #392
Thank you @SergeyKanzhelev for the reaction and I appreciate your support! Because this is a complement feature for the Collector, WG for Collector SIG makes sense to me. Otherwise, just a simple repo should work of course.

[2020-08-04 13:37] danielbang907 opened #643 "Splunk HEC Exporter TestReceiveMetrics in client_test.go invokes runTraceExport"
Very trivial bug, but the current version of TestReceiveMetrics() in the client_test.go file calls runTraceExport() instead of what it should presumable call: runMetricsExport(). https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/master/exporter/splunkhecexporter/client_test.go line 204

[2020-08-04 17:19] hossain-rayhan opened #646 "Bug report: CircleCi Build fails for Loadtest"
**Describe the bug**
After rebasing with master the CircleCi build fails for Loadtest.

Failed Test: `TestTrace10kSPS/OpenCensus`

Link to failed build report:
https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/2405/workflows/e215ef4f-2af8-4e51-8074-493257602c0c/jobs/12982/parallel-runs/0/steps/0-104

[2020-08-04 18:29] hossain-rayhan commented on #646
**Update:**
After a second try, it passed automatically. I didn't change anything from my side.

[2020-08-05 04:29] owais commented on #637
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/13219

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-05 20:58] owais commented on #637
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/13473

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-06 17:41] owais commented on #637
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/13823

#### Test Failures
-  TestStabilityTracesOTLP

[2020-08-06 17:58] CeeBeeCee commented on #482
@anuraaga : Changing service_name to service.name resolved me issue! Thanks so much for your help. The only outstanding request now is to process the resource attributes as XRay annotations and send them to Xray.

[2020-08-06 18:29] owais commented on #637
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/13857

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-07 16:37] owais commented on #637
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/14109

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-07 19:33] owais commented on #637
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/14183

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-07 23:39] owais commented on #637
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/14288

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-08 03:48] dengliming commented on #637
[code]

[2020-08-10 19:44] #430 closed

[2020-08-10 21:13] #643 closed

[2020-08-10 21:19] owais commented on #637
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/14768

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-10 21:20] owais commented on #637
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/14774

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-10 21:24] owais commented on #637
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/14777

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-10 21:26] owais commented on #637
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/14776

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-10 22:01] owais commented on #637
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/14779

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-10 22:23] owais commented on #637
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/14780

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-10 22:24] owais commented on #637
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/14781

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-10 22:38] owais commented on #637
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/14782

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-10 23:11] owais commented on #637
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/14783

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-10 23:27] owais commented on #637
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/14836

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-11 10:53] yyyogev opened #686 "Add Exporter for Logz.io"
Logz.io is an ELK based observability platform. I'm interested in creating an OT exporter for it to forward logs, metrics and traces to Logz.io

[2020-08-11 11:08] ocervell commented on #570
@nilebox just to follow up on the second issue, should we make sure the `k8sprocessor` works with OT SDKs ? i.e: if running on K8S, should the OT SDKs add the originating Pod IP address automatically so that it's compatible ?

[2020-08-11 11:40] serathius opened #688 "Implement alternative authorization for Stackdriver"
**Is your feature request related to a problem? Please describe.**
Stackdriver exporter allows for using exporting to selected project, but only can use GCE default token.

This is a problem in tenant setups monitoring data is sent do different projects. In such case GCE default service account would need to be authorized to write to different project, which is not great due security.

**Describe

[2020-08-11 13:08] nilebox commented on #570
Pod IP address is not defined in [Pod resource's semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/resource/semantic_conventions/k8s.md#pod), so we can't expect SDKs to add `k8s.pod.ip` resource attribute unless we add it to semantic conventions spec. We may add it as an optional attribute.

/cc @owais @bogdandrutu

[2020-08-11 13:10] nilebox commented on #570
On a second thought adding `k8s.pod.ip` to Pod semantic convention doesn't probably make sense since it would be alternative to `k8s.pod.name` rather than additional attribute for the purpose of `k8sprocessor`.

[2020-08-11 13:18] ocervell commented on #570
@nilebox got it, how about using `k8s.pod.name` in the `k8sprocessor` instead of `k8s.pod.ip` so that we don't have to change the SDKs at all ? Not sure how feasible this is but it would solve our issue.

[2020-08-11 13:31] nilebox commented on #570
Actually sorry, it seems that `host.hostname` is expected to be set to Pod IP in the Kubernetes environment according to https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/9dbf0fd6ef6707324fbf6fc5d0fbc307304746ea/processor/k8sprocessor/processor.go#L196-L199

which is part of the Host resource: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specificat

[2020-08-11 13:45] ocervell commented on #177
The following config has worked for me:

[code]

[2020-08-11 14:59] ocervell commented on #570
@nilebox so I've checked and here are the resource attributes we set by default with the Python SDK (no custom resource, simply default OpenCensus Exporter configured):

[code]

The `host.hostname` attribute is set to the name of the pod, not it's IP, and the `k8sprocessor` fails to tag the metrics because of this.

[2020-08-11 15:15] #188 closed

[2020-08-11 18:40] owais commented on #637
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/14939

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-11 18:52] owais commented on #637
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/14959

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-11 18:53] owais commented on #637
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/14967

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-11 19:57] owais commented on #637
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/15017

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-11 22:47] owais commented on #637
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/15116

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-12 00:36] owais commented on #637
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/15165

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-12 01:35] owais commented on #637
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/15271

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-12 20:29] hencrice opened #699 "Shared X-Ray segment data model for both the X-ray receiver and exporter"
**Is your feature request related to a problem? Please describe.**
Both the X-ray receiver and exporter require an X-Ray segment data model.

**Describe the solution you'd like**
Add an data model go module under `internal/common/awsxray`

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2020-08-12 20:29] hencrice commented on #699
I'm implementing this

[2020-08-13 02:00] dmitryax opened #703 "Avoid unnecessary loop in kubeletstats receiver runner"
For more details: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/701#discussion_r469636781

[2020-08-13 05:55] owais commented on #637
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/15584

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-13 17:58] owais commented on #637
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/15643

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-13 18:18] #458 closed

[2020-08-13 19:53] ocervell opened #709 "Resource 'global' with Prometheus receiver and Stackdriver exporter"
Here is the OTEL agent config:
[code]

I'm receiving the error from the Stackdriver exporter, which fails to convert the resource 'global' to 'k8s_container':
[code]

I think we might need a way to turn metric labels into resource labels in the Stackdriver exporter.

[2020-08-13 20:18] owais commented on #637
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/15754

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-13 23:26] owais commented on #637
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/15826

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-15 10:09] perljusback opened #717 "Azure Monitor Exporter Questions"
Hey, I got some questions surronding the Azure Monitor Exporter and some inconsistency that i've noticed.

First of all it works great we've mapped OpenTelemetry from node, web and go into the collector and it all gets sent to application insights.

Now when using the OpenTelemetry SDKs we set the resources:
service.name
service.namespace
service.instance.id
that gives:
**namespace.name**

Now whe

[2020-08-17 01:36] owais commented on #637
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/16314

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-17 09:23] olagacek opened #738 "Stackdriver exporter doesn't expose timeout flag"
**Is your feature request related to a problem? Please describe.**

Currently StackDriver exporter has a 5s timeout for calls to StackDriver Monitoring API (default value in an underlying OpenCensus implementation). From time to time my agent, which uses Open Telemetry StackDriver exporter receives deadline exceeded errors from StackDriver Monitoring API. With timeout bigger than 5s number of thos

[2020-08-17 15:56] owais commented on #637
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/16739

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-18 00:06] hencrice opened #750 "Enable centralized sampling in X-Ray receiver"
Port the existing TCP proxy server from the X-Ray daemon into the X-Ray receiver in order to support centralized sampling

[2020-08-18 00:17] hencrice commented on #750
I'm implementing this

[2020-08-18 22:10] owais opened #764 "Bug report for failed CircleCI build (job: run-stability-tests)"
Auto-generated report for `run-stability-tests` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/18085

#### Test Failures
-  TestStabilityTracesZipkin

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-08-18 22:24] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/18085

#### Test Failures
-  TestStabilityMetricsCarbon

[2020-08-18 23:30] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/18106

#### Test Failures
-  TestStabilityMetricsCarbon

[2020-08-19 00:24] hencrice opened #765 "Split the bloated internal/common module"
For now the `internal/common` module contains vendor-specific dependencies. It will be nice to split them into individual modules.

_Originally posted by @bogdandrutu in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/702#pullrequestreview-469908995

[2020-08-19 05:54] #699 closed

[2020-08-19 07:03] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/18159

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-19 14:56] #703 closed

[2020-08-19 16:07] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/18284

#### Test Failures
-  TestStabilityMetricsCarbon

[2020-08-19 16:14] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/18288

#### Test Failures
-  TestStabilityMetricsCarbon

[2020-08-19 20:46] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/18587

#### Test Failures
-  TestStabilityTracesOpenCensus

[2020-08-19 21:32] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/18587

#### Test Failures
-  TestStabilityMetricsCarbon

[2020-08-19 21:42] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/18587

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-19 23:50] MrAlias commented on #348
Thanks for the awesome detail in this issue @disfluxly, sorry I haven't gotten to it sooner. I was able to reproduce the error with the steps you gave.

I also tested against the v0.8.0 release of the collector and received the same panic.

Based on the location of the panic:

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/23dfc784deb8348246dca10161c1280ec1bdda97/exporter/n

[2020-08-20 01:47] #348 closed

[2020-08-20 16:56] jmacd commented on #403
There is a related discussion https://github.com/open-telemetry/opentelemetry-specification/pull/739.

Also https://github.com/open-telemetry/opentelemetry-specification/issues/381.

This is a great thing and we should have such a processor. I would expect this processor to output OTLP metrics into a metrics pipeline, which I believe is implied by the config snippet above. :+1:

[2020-08-20 21:50] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/18980

#### Test Failures
-  TestStabilityMetricsCarbon

[2020-08-20 22:24] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/19091

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-20 23:02] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/19091

#### Test Failures
-  TestStabilityMetricsCarbon

[2020-08-24 01:02] axw commented on #438
https://github.com/open-telemetry/opentelemetry-specification/pull/606 was recently merged, adding the `destination.environment` attribute. We should translate from that to `service.environment` ECS/Elastic APM field, which has the same semantics.

[2020-08-24 14:17] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/19512

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-24 17:58] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/19688

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-24 18:07] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/19688

#### Test Failures
-  TestStabilityMetricsCarbon

[2020-08-24 18:08] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/19689

#### Test Failures
-  TestStabilityMetricsCarbon

[2020-08-24 19:16] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/19833

#### Test Failures
-  TestStabilityMetricsCarbon

[2020-08-24 19:17] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/19831

#### Test Failures
-  TestStabilityMetricsCarbon

[2020-08-24 19:18] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/19832

#### Test Failures
-  TestStabilityMetricsCarbon

[2020-08-24 19:21] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/19834

#### Test Failures
-  TestStabilityMetricsCarbon

[2020-08-24 19:24] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/19834

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-24 20:12] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/19836

#### Test Failures
-  TestStabilityMetricsCarbon

[2020-08-24 20:13] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/19836

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-24 20:42] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/19891

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-24 20:44] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/19891

#### Test Failures
-  TestStabilityMetricsCarbon

[2020-08-24 21:20] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/19917

#### Test Failures
-  TestStabilityMetricsCarbon

[2020-08-24 21:24] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/19925

#### Test Failures
-  TestStabilityMetricsCarbon

[2020-08-24 21:24] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/19917

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-24 22:10] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/19998

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-24 22:14] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/19998

#### Test Failures
-  TestStabilityMetricsCarbon

[2020-08-24 22:31] #585 closed

[2020-08-24 22:31] #478 closed

[2020-08-24 22:47] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/20097

#### Test Failures
-  TestStabilityMetricsCarbon

[2020-08-24 22:48] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/20092

#### Test Failures
-  TestStabilityMetricsCarbon

[2020-08-24 23:47] shengxil opened #807 "AWS X-Ray Exporter - Support and default to convert span attributes to X-Ray metadata"
The X-Ray exporter now [converts all span attributes to X-Ray annotations](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/master/exporter/awsxrayexporter/translator/segment.go#L93). X-Ray annotation is an indexed k-v data type and has a 50 annotations per trace limit. It also has less valid characters than OTel, hence [OTel has to fix the key name](https://github.com/open-t

[2020-08-25 03:01] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/20292

#### Test Failures
-  TestStabilityMetricsCarbon

[2020-08-25 04:23] naseemkullah commented on #227
Please let me know if you need any help @dmitryax, [this chart](https://github.com/fluent/helm-charts/tree/master/charts/fluent-bit/templates) is great example of a chart that can be deployed as a deployment or a daemonset

[2020-08-25 15:08] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/20384

#### Test Failures
-  TestStabilityMetricsCarbon

[2020-08-25 18:47] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/20480

#### Test Failures
-  TestStabilityMetricsCarbon

[2020-08-25 18:48] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/20479

#### Test Failures
-  TestStabilityMetricsCarbon

[2020-08-25 19:27] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/20514

#### Test Failures
-  TestStabilityMetricsCarbon

[2020-08-25 21:37] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/20605

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-26 19:05] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/20930

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-26 20:02] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/21004

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-26 22:53] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/21177

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-26 22:54] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/21181

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-26 23:45] #807 closed

[2020-08-27 05:20] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/21318

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-27 16:00] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/21457

#### Test Failures
-  TestStabilityTracesOTLP

[2020-08-27 17:26] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/21488

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-28 00:41] hencrice commented on #329
One possible remaining work is to add e2e tests that covers X-Ray receiver -> mock processor -. X-Ray exporter. Resolving for now since the main implementation is done.

[2020-08-28 00:41] #329 closed

[2020-08-28 04:12] #738 closed

[2020-08-28 18:21] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/21920

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-28 20:24] pauldraper commented on #403
What are the metrics? `span.count` and `span.duration`?

Does it make sense to allow attributes as metrics (e.g. response.bytes).

[2020-08-28 20:42] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/21949

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-29 18:22] bogdandrutu opened #868 "TestSegmentsPassedToConsumer fails on macos"
[code]

[2020-08-29 19:31] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/22373

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-29 19:31] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/22327

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-29 19:43] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/22369

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-29 19:59] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/22370

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-30 20:38] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/22486

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-30 21:18] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/22487

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-31 09:17] ckanner opened #4985 "Prometheus file-based service discovery failed"
I use prometheus as a metrics receiver, and use file-based service discovery. But it scrape failed. The error message is
`2020-08-31T17:06:34.178+0800    INFO    scrape/scrape.go:972            {"component_kind": "receiver", "component_type": "prometheus", "component_name": "prometheus", "level": "debug", "scrape_pool": "dummy", "target": "http://192.168.100.162:8079/metrics", "msg": "Append faile

[2020-08-31 16:05] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/22564

#### Test Failures
-  TestStabilityTracesZipkin

[2020-08-31 16:09] djaglowski opened #873 "Add Tooling for Experimental Builds"
An experimental build would allow for distribution of an extended set of components, and is necessary for the integration path proposed in [#1639](https://github.com/open-telemetry/opentelemetry-collector/pull/1639).

Likely Requirements:
- Provide a mechanism to mark components as experimental
- Add experimental build command(s) to Makefile
- Add experimental build job to CircleCI config

[2020-08-31 23:23] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/22649

#### Test Failures
-  TestStabilityTracesZipkin

[2020-09-01 19:19] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/22903

#### Test Failures
-  TestStabilityTracesZipkin

[2020-09-01 20:05] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/23059

#### Test Failures
-  TestStabilityTracesZipkin

[2020-09-01 20:37] bogdandrutu commented on #717
@reyang can you answer?

[2020-09-01 20:40] bogdandrutu commented on #396
I think this was fixed in the meantime

[2020-09-01 20:41] #318 closed

[2020-09-01 20:41] bogdandrutu commented on #315
This was removed

[2020-09-01 20:41] #315 closed

[2020-09-01 20:41] #314 closed

[2020-09-01 20:43] #244 closed

[2020-09-01 20:43] bogdandrutu commented on #181
Lightstep exporter was removed.

[2020-09-01 20:43] #181 closed

[2020-09-01 21:37] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/23228

#### Test Failures
-  TestStabilityTracesZipkin

[2020-09-01 22:07] reyang commented on #717
Related to #684. Check https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/433#issuecomment-655200895.
@bogdandrutu given the Azure Monitor Exporter for OpenTelemetry Collector is not officially sponsored by Microsoft, I think we can close these issues.

@pcwiese

[2020-09-01 22:08] reyang commented on #717
@bogdandrutu it seems I don't have permission to close the issue, need your help here. Thanks.

[2020-09-01 22:42] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/23312

#### Test Failures
-  TestStabilityTracesZipkin

[2020-09-01 23:49] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/23387

#### Test Failures
-  TestStabilityTracesZipkin

[2020-09-02 00:10] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/23414

#### Test Failures
-  TestStabilityTracesZipkin

[2020-09-02 01:20] axw commented on #438
Quick update: there's ongoing discussion about the new convention at https://github.com/open-telemetry/opentelemetry-specification/pull/851. Once that is resolved, I'll update the Elastic exporter.

[2020-09-02 02:39] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/23561

#### Test Failures
-  TestStabilityTracesZipkin

[2020-09-02 13:58] tigrannajaryan commented on #637
Expected to be mitigated by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/899

[2020-09-02 13:58] #637 closed

[2020-09-03 01:41] maciejqantas commented on #482
@anuraaga
I'm facing a similar issue. `service_name` doesn't apply to me, but my first span is also INTERNAL.

Some data is sent to XRay - I see a trace that contains
[code]
as raw data.

I'm running `otel/opentelemetry-collector-contrib:0.9.0`

My config is:
[code]

My collector logs are:
[code]

[2020-09-03 07:40] anuraaga commented on #482
@maciejqantas Thanks for the report - the data looks good as it has a `SERVER` span at the root (the span without a parent ID). Unfortunately, a fix for a critical bug did not make the 0.9.0 cut so the aws exporter is broken in the latest release.

https://github.com/open-telemetry/opentelemetry-collector-contrib/commit/cb45b36c8afb1c2cf17312ca1badbf1ed62758e9

Can you try using `otel/opentelemetr

[2020-09-03 17:45] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/23942

#### Test Failures
-  TestStabilityMetricsSignalFx

[2020-09-03 20:07] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/24320

#### Test Failures
-  TestStabilityMetricsSignalFx

[2020-09-03 20:42] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/24461

#### Test Failures
-  TestStabilityMetricsSignalFx

[2020-09-03 21:58] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/24564

#### Test Failures
-  TestStabilityMetricsSignalFx

[2020-09-03 22:41] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/24651

#### Test Failures
-  TestStabilityMetricsSignalFx

[2020-09-03 22:42] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/24652

#### Test Failures
-  TestStabilityMetricsSignalFx

[2020-09-03 23:12] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/24688

#### Test Failures
-  TestStabilityMetricsSignalFx

[2020-09-03 23:48] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/24711

#### Test Failures
-  TestStabilityMetricsSignalFx

[2020-09-04 07:13] dmitryax commented on #227
Hi @naseemkullah , sorry for the delay. I'll prepare a PR next week in this repo to start with. Eventually I think we need a separate repo with it's own CI pipeline. And we would need a helm repository to host releases. Let me know if you have any other suggestions

[2020-09-04 08:27] jpkrohling opened #955 "Create a tracegen utility"
**Is your feature request related to a problem? Please describe.**
For Jaeger, we have an application that is used when we need to generate traces, called [`tracegen`](https://github.com/jaegertracing/jaeger/tree/master/cmd/tracegen). This is useful when we need to get data for a quick demonstration or test, as well as for more complex scenarios, like to [demonstrate Kubernetes autoscaling](https:

[2020-09-04 08:46] naseemkullah commented on #227
💯

Seeing that GA is approaching and I'm not sure how distributing the chart from this repo would work I suggest we go straight ahead and create `open-telemetry/helm-charts` and follow https://github.com/helm/charts-repo-actions-demo (to the T pretty much) to setup CI and release hosting.

As for the chart itself what I would do, at least to get started is:
1) `helm create opentelemetry-collector`

[2020-09-04 19:53] pavankrish123 opened #957 "Docker Stats Receiver is not enabled"
**Describe the bug**
This is related to PR #495. It looks like docker stats receiver is not enabled in cmd/components.go . I am not sure if it was intentional or we missed the the below logic by accident. Please enable the receiver.

[code]

**Steps to reproduce**

The build from the latest commit when loaded with the below config
`./otelcontribcol --config otel-config.yml`

throws the following e

[2020-09-04 20:01] rmfitzpatrick commented on #957
@pavankrish123 thank you for your report.  The docker stats receiver is being delivered in stages, and a PR with the final dynamic functionality and component addition will be opened shortly.  I apologize for not adding a caveat to its readme explaining that it is still in active development, and only the current changelog details this: https://github.com/open-telemetry/opentelemetry-collector-con

[2020-09-05 05:39] scottrigby commented on #227
This all makes sense. A number of projects now provide both a Helm chart and operator for installing on k8s, which is helpful depending on specific user needs and preference 👍

[2020-09-05 21:46] pavankrish123 commented on #957
Thanks @rmfitzpatrick - I am closing this issue.

[2020-09-05 21:46] #957 closed

[2020-09-06 23:54] maciejqantas commented on #482
@anuraaga
Thanks for that! I've grabbed `otel/opentelemetry-collector-contrib-dev:31c0d95d7cf9e1b2a1601bbdca6889d7e43ddd11` and that seems to have done the trick - I can now see traces in XRay.

I do however see an error in the response:
[code]
Is that something I should worry about?

[2020-09-06 23:57] maciejqantas commented on #482
Also, @anuraaga, I notice that my service is represented as `AWS::ElasticBeanstalk::Environment`. Missing config on my end or a hardcoded string somewhere in the exporter?

[2020-09-07 07:48] pmm-sumo opened #964 "NewRelic exporter fails when no service name is provided"
**Describe the bug**
User [report](https://gitter.im/open-telemetry/opentelemetry-service?at=5f549815d4f0f55ebb05e480) on gitter indicated that NewRelic exporter fails. The quick investigation suggests this might happen when [Service Name is not provided](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/master/exporter/newrelicexporter/newrelic.go#L88).

**Steps to reproduce*

[2020-09-07 07:52] pmm-sumo commented on #964
@MrAlias saw this on Gitter recently and filled a report to aid with fixing :)

[2020-09-07 07:52] nebffa opened #965 "Default timestamps for splunkhecexporter"
**Is your feature request related to a problem? Please describe.**
Metrics sent to the Splunk HEC in some cases have a timestamp of 0 - Splunk accepts these timestamps without modification and consequently it is impossible to analyse these metrics meaningfully.

**Describe the solution you'd like**
In the case of metrics that have a 'zero' timestamp (i.e. beginning of Unix Epoch time), omit the ti

[2020-09-07 22:02] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/25023

#### Test Failures
-  TestStabilityMetricsSignalFx

[2020-09-07 22:03] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/25023

#### Test Failures
-  TestStabilityMetricsOpenCensus

[2020-09-08 14:56] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/25103

#### Test Failures
-  TestStabilityMetricsSignalFx

[2020-09-08 14:58] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/25108

#### Test Failures
-  TestStabilityMetricsSignalFx

[2020-09-08 16:32] MrAlias commented on #964
Thanks @pmm-sumo !

[2020-09-08 18:55] #964 closed

[2020-09-08 19:12] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/25266

#### Test Failures
-  TestStabilityMetricsSignalFx

[2020-09-08 19:14] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/25267

#### Test Failures
-  TestStabilityMetricsSignalFx

[2020-09-08 21:36] dmitryax opened #973 "Allow k8sobserver to watch the whole cluster"
**Is your feature request related to a problem? Please describe.**
Currently k8sobserver assumes that it's running as an agent one every node, and it requires `node` configuration to be provided. If the `node` configuration is not provided, k8sobserver silently doesn't do anything.

**Describe the solution you'd like**
Have another way to run `k8sobserver` as 1-replica deployment watching for upda

[2020-09-09 15:18] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/25427

#### Test Failures
-  TestStabilityTracesOTLP

[2020-09-09 15:22] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/25419

#### Test Failures
-  TestStabilityTracesOTLP

[2020-09-09 17:17] owais commented on #764
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/25492

#### Test Failures
-  TestStabilityTracesOTLP

[2020-09-11 16:57] asuresh4 opened #1011 "Fix flaky Carbon exporter tests"
**Describe the bug**

Carbon exporter tests are flaky.

See -

* https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/3851/workflows/de24a2be-db5f-4dde-a40e-2798f52e1d89/jobs/26403
* https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/3794/workflows/fb9803ec-917c-4c7d-8a2b-d83e752ac386/jobs/25821

cc: @pjanotti

[2020-09-11 18:58] owais opened #1012 "Bug report for failed CircleCI build (job: run-stability-tests)"
Auto-generated report for `run-stability-tests` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/26813

#### Test Failures
-  TestStabilityMetricsOpenCensus

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-09-11 20:45] #1011 closed

[2020-09-14 08:47] arpitjindal97 opened #4986 "Prometheus Receiver: scraping metrics from multiple targets that emits metrics of the same name and label keys"
Reopen of open-telemetry/opentelemetry-collector#1076

This issue is not resolved and can be seen in latest version

@liamawhite

[2020-09-15 03:33] dmitryax opened #1031 "Move MetadataExporter interface from k8s cluster receiver to a common module"
**Is your feature request related to a problem? Please describe.**
The MetadataExporter interface defined in receiver/k8sclusterreceiver/collection/metadata.go is shared with signalfx exporter module.

**Describe the solution you'd like**
Move the interface and related logic to a common module that can be used by receiver/k8sclusterreceiver, exporter/signalfxexporter and any other modules if neede

[2020-09-17 00:38] lubingfeng commented on #290
@jmacd  @bogdandrutu  I discussed with the team and also checked other receivers (signalFX), which is similar to StatsD receiver (getting metrics in certain format). We did not see the aggregation.
1. The long term solution is to leave aggregation in OT Processor, which is intended to handle the aggregation / batch / filter part.
2. For short term, we are thinking of accumulating metrics type: cou

[2020-09-17 15:17] tigrannajaryan commented on #396
Failed again https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/4053/workflows/7870fef6-1126-488c-ad21-5bb10ab06a8d/jobs/28351

[2020-09-17 15:24] #438 closed

[2020-09-17 23:35] tigrannajaryan opened #1049 "k8sclusterreceiver unit test fails"
Test fails with the following (see https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/4063/workflows/bd3d5f91-9f94-4749-acdf-df16fcf264c9/jobs/28477):
[code]

[2020-09-17 23:36] tigrannajaryan commented on #1049
@asuresh4 can you please have a look?

[2020-09-18 02:54] asuresh4 commented on #1049
@tigrannajaryan - I believe this was caused by this line https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/master/receiver/k8sclusterreceiver/watcher.go#L103, where `ctx.Done()` returns `nil`. I was not able to reproduce this as is though. I passed in `nil` to the above line and was able to get the same stack trace. Based on go docs `ctx.Done` returns `nil` only when ctx can n

[2020-09-18 13:43] tigrannajaryan commented on #1049
No, I don't.

[2020-09-20 13:10] Jammicus commented on #177
Apologies for not updating this. The cause was eventually diagnosed  as network issue rather than the K8s processor.

[2020-09-20 13:10] #177 closed

[2020-09-21 01:15] lefelys opened #1053 "go.mod files are misconfigured. "go get" command fails with error"
**Describe the bug**
go.mod files are misconfigured. `go get` command fails with error:

`invalid version: unknown revision 000000000000`

**Steps to reproduce**
`go get -u  github.com/open-telemetry/opentelemetry-collector-contrib`

**What did you expect to see?**
installed package

**What did you see instead?**
[code]

**What version did you use?**
v0.10.0
v0.9.0

v0.8.0 is ok

**What config did

[2020-09-21 12:45] pmm-sumo opened #1077 "K8S Processor: configure the list of ignored pod names"
**Is your feature request related to a problem? Please describe.**

Currently, the names of pods that should be ignored while tagging (typically denoting agents) are [hardcoded and noted as TODO](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/master/processor/k8sprocessor/kube/kube.go#L38-L42)

**Describe the solution you'd like**

Provide extra configuration entry:
* `igno

[2020-09-21 13:35] owais commented on #1077
Makes sense to me but I'd create separate issues (and PRs) for these.

[2020-09-21 13:46] pmm-sumo opened #1078 "K8S Processor: configure ip extraction using incoming connection source IP"
**Is your feature request related to a problem? Please describe.**

It would be nice to have the ability for enabling/disabling tagging using the incoming connection source IP (from context, if available). E.g. when resource is missing information about source IP and records are coming through an intermediate agent (another OpenTelemetry Collector instance, `fluentd`, etc.), tagging using connecti

[2020-09-21 13:50] pmm-sumo opened #1079 "K8S Processor: configure tag name with source of the IP address"
**Is your feature request related to a problem? Please describe.**

It would be good to introduce some flexibility into name of the tag which includes source IP. Currently, following tags are being considered:
* `k8s.pod.ip` - typically added when passthrough mode is employed
* `ip` - legacy passthrough mode tag, also used by some clients (e.g. Jaeger)
* `host.hostname` - used by some metrics sour

[2020-09-21 14:01] pmm-sumo opened #1080 "K8S Processor: record-level tagging"
**Is your feature request related to a problem? Please describe.**
For some sources (e.g. logs coming via `fluentforward` protocol) it is common that attributes are present at record-level only. Those attributes can include important information used for K8s tagging, such as the IP address of the source that yielded the record. Perhaps the processor could be enhanced with capability to do tagging

[2020-09-21 14:01] pmm-sumo commented on #1077
Sure, edited the issue and put the other fields into https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/1079 , https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/1078 and https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/1080

[2020-09-21 14:13] owais commented on #1079
We currently support all three of these in some form. Are there other examples users might want to add? If the list is well-known, may be we can support them out of the box without a config option?

[2020-09-21 14:23] pmm-sumo commented on #1079
My thinking is that especially in case of logs there might be some custom tags containing the source IP address (and to make things more complex, at a [record level](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/1080))

On the other hand, it might be premature to solve this problem now and we should get a set of real-life examples before starting working on this one

[2020-09-21 22:32] bogdandrutu commented on #1053
Can you elaborate on this?

[2020-09-21 23:06] owais commented on #1012
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/29334

#### Test Failures
-  TestStabilityMetricsOpenCensus

[2020-09-22 03:28] charles-bluett opened #1087 "stackdriver exporter: Metrics are sent to Cloud Operations as Custom which has a limited quota"
There are separate quotas for external and custom metrics endpoints. Metrics from Prometheus are sent to Google as external.googleapis.com, but openTelemetry sends them as custom.googleapis.com.

Custom has a limit of 500 descriptors.
External has a limit of 10,000

https://cloud.google.com/monitoring/quotas

[2020-09-22 04:24] james-bebbington opened #1088 "Add Windows Performance Counters Receiver"
## Windows Performance Counters Receiver Proposal

This receiver, for Windows only, will capture any system, application, or custom performance counter data from the Windows registry. This receiver will use the [PDH interface](https://docs.microsoft.com/en-us/windows/win32/perfctrs/using-the-pdh-functions-to-consume-counter-data) to capture this data.

Note there are multiple ways to consume count

[2020-09-22 14:51] tigrannajaryan opened #1093 "TestMetrics in observability_test fails"
The test seems unstable:
[code]

See https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/4074/workflows/992b2641-acb8-497e-a4e2-0e31e2d19306/jobs/28575

[2020-09-22 15:46] owais commented on #1012
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/29759

#### Test Failures
-  TestStabilityTracesZipkin

[2020-09-22 15:59] sumo-drosiek opened #1094 "Add processor to tag fluent-bit logs with metadata using k8sprocessor"
**Is your feature request related to a problem? Please describe.**

Pod logs on the k8s node are named using four attributes:
- `pod_name`
- `namespace`
- `container_name`
- `docker_id`

The name of the log is passed as part of the `fluent.tag` by the [fluentforwarderreceiver](https://github.com/open-telemetry/opentelemetry-collector/tree/master/receiver/fluentforwardreceiver).

Unfortunately ther

[2020-09-22 17:03] lubingfeng commented on #290
@jmacd @bogdandrutu  any comments on this?

[2020-09-22 17:23] owais commented on #1012
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/29842

#### Test Failures
-  TestStabilityMetricsOpenCensus

[2020-09-22 18:22] owais commented on #1012
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/29842

#### Test Failures
-  TestStabilityTracesZipkin

[2020-09-22 22:15] lefelys commented on #1053
Having multiple go modules under the same project makes sense if you want these modules to have a different lifecycle.
In this project it is not the case - modules cross-referenced locally with `replace` directive and it makes it impossible to use `go get` on them. So why not have single go.mod in root?

[2020-09-23 06:24] dmitryax commented on #227
I have a draft PR for the helm chart https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/1026.
I'll test it more and polish this week. Any feedback would be appreciated.

Also submitted a ticket to have helm github repo from the start first https://github.com/open-telemetry/community/issues/504

[2020-09-23 15:30] jrcamp commented on #1088
Do you think IIS would have its own dedicated receiver in the future (that wraps or leverages this one)? That way once we have docs, etc. it'll show up there? Or were you thinking of just supporting it (and the other performance counter ones) via configuration? I think the best user experience is to have a dedicated receiver for it which doesn't rely user having to add lots of special stuff to the

[2020-09-23 16:29] dmitryax opened #1098 "kubelet receiver panics with a cryptic message when kubelet API is not reachable"
**Describe the bug**
When collector with kubelet receiver is running in an environment where it cannot access kubelet API for some reason it panics with this message:
[code]

**Steps to reproduce**
Run otel-collector with kubeletstats receiver on Mac OS with minikube and hyperkit as vm.

**What did you expect to see?**
A warning message that Kubelet API cannot be reached, and kubelet receiver does

[2020-09-23 18:28] dmitryax opened #1099 "Consistent way to specify metric source"
**Is your feature request related to a problem? Please describe.**
It would be great to have a consistent way to specify a source (receiver) of collected metrics. For example, kubeletstats receiver uses "receiver" resource label for that https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/master/receiver/kubeletstatsreceiver/kubelet/metrics.go#L51 . But I don't see any other rec

[2020-09-23 21:00] jrcamp commented on #1099
As far as I can tell we're not setting instrumentation library name or version for metrics that we're emitting from the collector (ie hostmetricsreceiver, redis, etc. vs metrics passing through that were generated in some other source). Perhaps these should set instr. library name and version? Are there any conventions around the name? Didn't see any in the [spec](https://github.com/open-telemetry

[2020-09-23 21:08] owais commented on #1012
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/30447

#### Test Failures
-  TestStabilityMetricsOpenCensus

[2020-09-23 21:48] james-bebbington commented on #1088
I don't have any plans to add a receiver for IIS, etc, specifically. Dor us specifying this in config is fine. If you think that would be useful, it could easily be added later though.

As another alternative, it could be worth investigating how config works so that we can split up config to make this tidier, rather than having one giant config file, e.g.

[code]
[code]
[code]

I looked into this

[2020-09-23 22:00] jrcamp commented on #1088
One thing I've been thinking about for a while is a concept of "scoped processors". I think sometimes it's confusing to have to do filtering or renaming in a separate processor section away from the receiver that's collecting it. What if any receiver could configure processors within it? For example (calling option #3):

[code]

I don't think this is as good in terms of UX as Option #1 but better

[2020-09-23 22:28] dmitryax commented on #1099
I agree with @jrcamp . I makes sense to keep that info in metrics instrumentationLibrary. @bogdandrutu @tigrannajaryan do you have any thoughts on this?

[2020-09-23 22:32] owais commented on #1012
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/30526

#### Test Failures
-  TestStabilityMetricsOpenCensus

[2020-09-23 23:53] owais commented on #1012
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/30604

#### Test Failures
-  TestStabilityMetricsOpenCensus

[2020-09-24 00:50] owais commented on #1012
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/30623

#### Test Failures
-  TestStabilityMetricsOpenCensus

[2020-09-24 17:33] owais commented on #1012
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/30736

#### Test Failures
-  TestStabilityTracesOTLP

[2020-09-24 18:37] tigrannajaryan commented on #1099
Is this about Collector's self metrics? I am not sure I understand.
Any justification on why we need this?

[2020-09-24 22:48] hossain-rayhan opened #1122 "Use `pdata.Metrics` instead of OpenCensus Metrics in `awsecscontainermetricsreceiver`"
**Is your feature request related to a problem? Please describe.**
Right now, we are using OpenCensus metrics format internally and before sending the data to next consumer we use `internaldata.OCToMetrics(md)` to convert our metrics to `pdata.Metrics` (OTel format).

We need to make code changes to use `pdata.Metrics` in all places.

**Describe the solution you'd like**
Make code changes to use `

[2020-09-24 22:49] hossain-rayhan commented on #1122
@anuraaga , I (@hossain-rayhan) will work on this.

[2020-09-24 23:08] owais commented on #1012
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/30915

#### Test Failures
-  TestStabilityTracesOTLP

[2020-09-25 06:12] owais commented on #1012
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/31023

#### Test Failures
-  TestStabilityMetricsOpenCensus

[2020-09-25 10:14] james-bebbington commented on #1088
That is an interesting proposal. Note I updated my example above to include processors as well to show that they can still be described in the same block / file as the related receiver.

Having processors "scoped" to a receiver doesn't seem all that different from having a separate pipeline for each receiver, so I feel that (2) & (3) are quite similar. But being able to separate a giant config acr

[2020-09-25 13:46] jrcamp commented on #1099
It can be helpful for support purposes to know who the emitter of the metrics are and what version of it is sending. Maybe you have redis metrics coming from a Prometheus exporter that have been renamed to be the same as the redis metrics from the redis receiver you might want to be able to differentiate between them. Or for just metrics coming from the redis receiver maybe there was a bug in 1.1

[2020-09-25 15:58] pmm-sumo commented on #1094
This is going to be possible very soon with `attributes` processor (see [here](https://github.com/open-telemetry/opentelemetry-collector/pull/1830#issuecomment-698597003))

I.e. for following config:
[code]

We can extract attributes like following:
[code]

[2020-09-25 16:00] sumo-drosiek commented on #1094
perfecto, still the question is how to get metadata using k8sprocessor without pod ip

[2020-09-25 17:00] pmm-sumo commented on #1094
I am [leaning](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/1079#issuecomment-696149457) towards using `podName`. Working on a proposal, should have it early next week

[2020-09-26 14:49] owais commented on #1012
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/31463

#### Test Failures
-  TestStabilityMetricsOpenCensus

[2020-09-28 19:11] pmm-sumo opened #1146 "K8s Processor: add ability to associate metadata tags using pod UID rather than just IP"
**Is your feature request related to a problem? Please describe.**
The logs coming through `fluentforward` receiver can have `pod_uid` associated with them and no information about the IP address of the pod. This could be easily leveraged by adding capability to associate pod with the record using either IP address (as it is now) or Pod UID.

**Describe the solution you'd like**
Let the Kubernetes

[2020-09-28 19:12] owais opened #1147 "Bug report for failed CircleCI build (job: run-stability-tests)"
Auto-generated report for `run-stability-tests` job build.

Link to failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/31822

#### Test Failures
-  TestStabilityTracesOTLP

**Note**: Information about any subsequent build failures that happen while
this issue is open, will be added as comments with more information to this issue.

[2020-09-28 19:16] pmm-sumo commented on #1079
I have prepared a doc with my research and some context into this: https://docs.google.com/document/d/1QlFbXz0eQUaKXK1WrnEs3VqRkcPD2RAdXJdJMjnOSd8/edit# - also #1146 contains some alternative proposal of the config entry

[2020-09-28 21:27] owais commented on #1147
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/32119

#### Test Failures
-  TestStabilityTracesZipkin

[2020-09-28 21:33] rmfitzpatrick opened #1149 "AWS EMF Exporter failing test"
**Describe the bug**
For some reason I've not dived in to fully diagnose, when running on mac os a [recently introduced test](https://github.com/open-telemetry/opentelemetry-collector-contrib/commit/434bfdaacd43af8791704f65c65273db42f8e453#diff-62696b712af68a46d758e5e68db36277R59) is consistently failing (@shaochengwang).

**Steps to reproduce**
[code]

**What did you expect to see?**
Passing test

[2020-09-28 21:47] jmacd commented on #290
Hi @lubingfeng, sorry for the long delay.

I am interested in helping you unblock this. As you may know, I'm interested in using the OTel-Go SDK to act as a processing pipeline component inside the OTel-Collector. To that end, I drafted a PR that would add "transient descriptor" support to the SDK. This support is not required for the API or SDK specification, but would be an added benefit for use

[2020-09-29 04:38] dmitryax commented on #227
The initial version of the helm chart is released in this repo https://github.com/open-telemetry/opentelemetry-helm-charts . Closing the ticked

[2020-09-29 04:39] #227 closed

[2020-09-29 05:17] wyTrivail commented on #290
@jmacd Thank you for the helps!

so basically we need to make changes on statsd receiver to do two things, correct me if i'm wrong.
1.   use the otel go sdk otlp exporter to create otlp metric.
2.  batch metrics every one second and then send them to pipeline.

base on this i have several questions if you don't mind.

1.  if i understand correctly the counter/gauge metric will be accumulated withi

[2020-09-29 07:25] jmacd commented on #290
Yes, with the "transient descriptor" support that I mentioned.

This would be determined by the push controller in `opentelemetry-go/sdk/metric/controller/push`.

This would be handled automatically by the SDK (as well as for any other built-in aggregators).

Yes.

Yes. This seems like it could be a significant win. Ideally this could be done as a general-purpose OTel-Collector pipeline stage, but

[2020-09-29 16:25] tigrannajaryan commented on #1149
@shaochengwang as an author of the test please fix it.

[2020-09-29 16:27] tigrannajaryan commented on #1098
@pmcollins please have a look.

[2020-09-29 16:55] pmcollins commented on #1098
Will do.

[2020-09-29 17:30] rmfitzpatrick commented on #1149
For context the error that is expected by the test but not raised locally is:

[code]

- from https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/4477/workflows/03afdd10-8afd-4db0-a15b-ebaa19dabe93/jobs/32280

[2020-09-30 14:26] pmalek-sumo opened #1158 "k8processor: Too broad regex used to extract deployment name"
**Describe the bug**
When using k8processor to add deployment tag via [`ExtractionRules.Deployment`](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/d9e18f825cd2f2d57501adfd649d3d7744e163d5/processor/k8sprocessor/kube/kube.go#L105) it sometimes incorrectly extracts an incorrect value by using regex which is too broadly defined:

https://github.com/open-telemetry/opentelemetr

[2020-09-30 17:32] pmm-sumo commented on #1080
A better solution is to use: https://github.com/open-telemetry/opentelemetry-collector/issues/1884

[2020-09-30 17:32] #1080 closed

[2020-09-30 17:48] dashpole commented on #1146
Note that the pod name is not unique in a kubernetes cluster, as two pods in different namespaces can have the same name.  I would suggest either:

1. Use pod name + pod namespace
2. Use pod uid (available in the `/var/log/pods/namespace_podname_poduid/containername/restartcount.log` kubernetes log path.

One more thing to note is that (1) does not uniquely identify a pod across time, but (2) does

[2020-09-30 18:03] pmm-sumo commented on #1146
That's a very fair argument. I think we should be able to extract `pod UID` from the CRI path, gonna check how the config looks like for it

[2020-09-30 19:12] tigrannajaryan commented on #1146
@owais FYI.

[2020-09-30 21:24] LarsAndreasEk opened #1163 "RecordException event not visible in Azure Monitor"
Hi,

I tried using this to record exceptions onto activities in dotnet (otel sdk): **Tracer.CurrentSpan.RecordException(e);**

As I understand, this is recorded as an event onto the existing span, but it does not end up in Azure Monitor it seems.

Is that by design, a missing feature, or me not getting it?

Best regards,
Lars Andreas Ek

Related: https://github.com/open-telemetry/opentelemetry-dot

[2020-10-01 00:18] nebffa opened #1164 "Windows installers do not update an existing installation."
**Describe the bug**
Windows installers do not update an existing installation.

**Steps to reproduce**
For example, if you install version 0.10.0 and then version 0.11.0, Windows treats them as two separate known installations.

**What did you expect to see?**
Only one version of OpenTelemetry installed in the "Uninstall Applications" window.

**What did you see instead?**
Two versions of OpenTel

[2020-10-01 14:01] keitwb commented on #965
@nebffa When you say you are ingesting into Splunk, do you mean you are using the splunk HEC exporter?

[2020-10-01 14:49] #346 closed

[2020-10-01 18:42] tigrannajaryan commented on #1149
@shaochengwang will you be able to work on this?

[2020-10-01 22:16] nebffa commented on #965
@keitwb yep - I am using the splunk HEC exporter

[2020-10-01 22:30] tigrannajaryan commented on #1149
@kbrockhoff @anuraaga do you know anyone from AWS who can help with this?

[2020-10-01 23:36] anuraaga commented on #1149
Will take a look, sorry for the trouble

[2020-10-02 10:20] anuraaga opened #1177 "Improve tests for EMF exporter"
**Is your feature request related to a problem? Please describe.**
Currently, we have tests like this one

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/master/exporter/awsemfexporter/emf_exporter_test.go#L114

All it does is verify that a credentials error is raised when calling this code. Is this the intended test case? If so, the name of the test needs to be renamed.

@

[2020-10-02 10:33] owais commented on #1078
If we implement a slightly modified version of #1079, we probably don't need this.

[2020-10-02 10:34] owais commented on #1077
Thanks for updating. This sounds good to me. Perhaps we can support regexes here or do you think it'd be overkill?

[2020-10-02 10:35] owais commented on #1077
Actually, let's not support regex in the first version. It'd be easy to add down the line if we feel the need but removing might break things for users.

[2020-10-02 10:57] owais commented on #1146
This sounds good to me. I like the "streamlined" config option more than adding 3 different options that may or may not work together. Can we do something like this:

[code]

This will allow users to provide custom lookup order so they can chose to match by source/client IP first and then fallback on the labels if they want but not sure if it's worth the extra complexity such config options might

[2020-10-02 14:13] tigrannajaryan commented on #1149
@anuraaga thank you.

[2020-10-02 14:43] #1149 closed

[2020-10-02 17:08] pmm-sumo commented on #1146
This are great ideas @owais. I like the simplicity of those approaches. One another variation might be e.g.:

[code]

Alternatively (and I think this is pretty much what the third example you brought is doing), this could be perhaps even more simplified into a single list and whatever is found in the field being matched as either `uid` or `ip` (since the space for possible values is quite differen

[2020-10-02 17:29] owais commented on #1146
Yes, sounds good to me but I'm wondering if connection_source should be treated as a special case. The reason I tried to make it a list instead of map was that it allows users to control the order of lookups. So user can say look for `ip` label first, then look for pod_uid label, then some value from incoming HTTP header (hypothetical), then connection IP. I know connectio n IP will probably alway

[2020-10-02 17:57] pmm-sumo commented on #1146
Valid points @owais And solved by your third proposal. I am just wondering if it could be made less verbose (don't have any good idea yet). Also, for source IP it seems that `name` doesn't seem to have any meaning, though this is probably not really a concern

So I am leaning towards implementing it along your third proposal as the best option on the table. Will be happy to do that starting next w

[2020-10-02 18:27] owais commented on #1146
Right but in future we could extract more things from connection like HTTP/gRPC headers (e.g, `X-Forwarded-For`). May be we can make `ip` the default so it doesn't need to be mentioned.

👍

[2020-10-02 21:58] #1164 closed

[2020-10-02 22:45] hossain-rayhan commented on #457
Codes are merged. Closing this.

[2020-10-02 22:45] #457 closed

[2020-10-02 23:08] owais commented on #1147
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/33250

#### Test Failures
-  TestStabilityMetricsSignalFx

[2020-10-02 23:15] owais commented on #1147
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/33277

#### Test Failures
-  TestStabilityMetricsSignalFx

[2020-10-05 03:54] Noremac201 commented on #1087
From what I can tell this is configurable by the `Prefix` config value.

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/master/exporter/stackdriverexporter/config.go#L27

[2020-10-05 04:30] charles-bluett commented on #1087
Thanks.

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/master/exporter/stackdriverexporter/README.md
Refers to the metric prefix as `metric_prefix (optional): MetricPrefix overrides the prefix of a Stackdriver metric names. `

Which is a bit confusing.
https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.metricDescriptors#MetricDescriptor
Implies that what you a

[2020-10-05 18:40] owais commented on #1147
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/33965

#### Test Failures
-  TestStabilityMetricsSignalFx

[2020-10-06 17:22] owais commented on #1147
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/34416

#### Test Failures
-  TestStabilityTracesOTLP

[2020-10-07 00:12] lubingfeng commented on #290
@jmacd I would like to have a meeting with you this Thursday 10/8 or Friday 10/9 to discuss what's next.

[2020-10-07 18:46] mxiamxia opened #1217 "Unable to consume modules via external distributions"
**Is your feature request related to a problem? Please describe.**
I cannot only import `awsxrayexporter` module alone in my custom Otel-Collector go.mod without importing the full OTel-Collector-Contrib module. Otherwise, it shows errors  `github.com/open-telemetry/opentelemetry-collector-contrib/internal/awsxray@v0.0.0-00010101000000-000000000000: invalid version: unknown revision 000000000000
`

[2020-10-08 03:12] anuraaga commented on #1217
Left some details in my comment here

https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/1219#issuecomment-705303444

It would be nice if we can solve this issue in our go.mod files to make it easier to depend on the components in redistributions.

[2020-10-08 07:23] Oberon00 commented on #141
hostName should be supported by host.name (https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/resource/semantic_conventions/host.md) and containerName by container.name (https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/resource/semantic_conventions/container.md)

[2020-10-08 19:09] owais commented on #1147
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/34974

#### Test Failures
-  TestStabilityMetricsSignalFx

[2020-10-08 19:21] owais commented on #1147
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/34960

#### Test Failures
-  TestStabilityMetricsSignalFx

[2020-10-08 20:23] owais commented on #1147
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/34976

#### Test Failures
-  TestStabilityMetricsSignalFx

[2020-10-08 23:00] owais commented on #1147
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/35053

#### Test Failures
-  TestStabilityMetricsSignalFx

[2020-10-08 23:01] owais commented on #1147
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/35022

#### Test Failures
-  TestStabilityMetricsSignalFx

[2020-10-08 23:10] owais commented on #1147
Link to latest failed build: https://circleci.com/gh/open-telemetry/opentelemetry-collector-contrib/35054

#### Test Failures
-  TestStabilityMetricsSignalFx

[2020-10-09 02:33] LouisStAmour commented on #1163
It's currently a missing feature. In fact, a cursory glance showed that  Independent of Microsoft, I've been noodling away at a PR that would add more support for events in spans, as well as exception events, metrics and logs.

A quick search through the existing codebase for contrib for SpanEvent showed that maybe only AWS X-Ray, Google Stackdriver and Honeycomb have explicit support in their exp

[2020-10-09 02:42] LouisStAmour commented on #717
@perljusback If the community were to suggest a PR with changes, what exactly would you suggest changing with respect to the way the current Application Insights exporter works?

I'm not affiliated in any way with Microsoft but I'm looking at making a PR to add additional support for span events, metrics and logs, now that Application Insights can work with Log Workspaces.

But I haven't played en

[2020-10-09 02:45] LouisStAmour commented on #433
@bogdandrutu Unless I'm misreading this, we could probably close this issue given there is basic support for Azure now? Either folks are happy with the current Azure exporter, or they'd like to improve it, or they want Microsoft to step up and support it, but ... this issue doesn't appear to encourage any of the above on its own? We already have tickets for Azure exporter improvements: #1163 and #

[2020-10-09 13:33] djaglowski opened #1232 "SignalFX exporter unit test failure (TestTranslateDataPoints)"
**Describe the bug**
This unit test fails intermittently.

**Steps to reproduce**
The failure does not occur every time. However, running `make do-unit-tests-with-cover` several times should generate the error eventually.

**Additional context**
[code]

[2020-10-09 14:12] jpkrohling opened #1235 "Split traces from batch"
**Is your feature request related to a problem? Please describe.**

A new OpenTelemetry Collector might be needed to be placed before the load balancer (#1231), as it expects all spans in a batch to belong to the same trace. We have the groupbytrace processor which has a similar purpose, but it holds items in memory releasing all at once. This here is a variant of that, and will release the batch

[2020-10-09 14:51] chris-smith-zocdoc commented on #1235
If the `splitByTrace` function from groupbytrace was exposed as a utility function, implementing this would be straightforward. I actually am using approach in our build of the collector for this exact use case

[2020-10-12 07:01] james-bebbington commented on #1088
Based on feedback, I went with Option 2. We could extend this to Option 3 in the future if desired, but I will leave that as possible future work.

---

So the next question is how to best implement the `combine` operation in the Metrics transform processor? My initial thought was to configure this as described in the issue description, but that config is very specific to this operation.

A better

[2020-10-12 13:02] perljusback commented on #717
@LouisStAmour for us the main question is around the "special" fields that Application Insights have that can be used to correlate a span as i mentioned the ai.* style span information, and what to map between OpenTelemetry <> AI Envelope since even if we add any of these ai.* to a span it will be added as custom metrics.

I would say that the fields that would make the most difference to us is:
a

[2020-10-13 04:08] wyTrivail opened #1255 "[AWSXRayExporter] it generates a new trace id when receiving a invalid trace id, which hide the true issues."
**Describe the bug**
XRayExporter generates a new trace id if the incoming trace id is a invalid XRay format, it hide the true issues in some cases.

For example, we can see the trace data in XRay console, however the trace id is different with the one emitted by SDK.

**Steps to reproduce**

We can send trace data with ids which are not the xray format.

**What did you expect to see?**

I'd like

[2020-10-13 06:23] anuraaga commented on #1255
I agree that since the chance of the trace ID conversion working correctly (trace doesn't cross a seconds boundary) is fairly limited, it's a worse bandaid than the problem. @kbrockhoff do you happen to rely on this behavior? If not, let's remove it.

[2020-10-13 12:22] kbrockhoff commented on #1255
We do not rely on this behavior. The original objective was to no lose info if an originating application was generating non X-Ray compatible IDs. The missing span would tell us which component needed a traceID generation fix.

[2020-10-13 14:42] atrauzzi commented on #433
I think so long as I can set up a collector in my network and instruct that collector to forward everything it receives to Azure Monitor, things should be good.  The most important thing is that my application code not require any Azure-specific libraries and that setting up the collector be a matter of configuring it, not authoring any custom code.

[2020-10-13 17:00] hossain-rayhan opened #1259 "`awsecscontainermetrics` receiver throws null pointer exception if ECS Agent version is below 1.44.0"
**Describe the bug**
`awsecscontainermetrics` receiver works fine for the latest version of AWS ECS Agent. However, if customer uses an older version than 1.44.0, it throws an null pointer exception.

**Steps to reproduce**
Run your ECS task with an older ECS Agent.

**What did you expect to see?**
No exception.

[2020-10-13 17:00] hossain-rayhan commented on #1259
I am working to fix it.

[2020-10-13 17:18] objectiser commented on #1235
@jpkrohling Would it be clearer to name the processor `batchPerTrace` or something like that? `splitbatch` doesn't clearly convey criteria it is using to determine the split.

[2020-10-13 19:11] jpkrohling commented on #1235
I was struggling to find a good name, and I think you just found one. `batchPerTrace` sounds good to me.

[2020-10-13 19:29] genebean opened #4987 "Provide /targets and /service-discovery web ui pages for Prometheus"
**Is your feature request related to a problem? Please describe.**

I would like to use the OTel collector for scraping Prometheus metrics and sending them to Grafana Cloud aka remote write to Coretex but am not willing to lose the visibility that the `/targets` and `/service-discovery` of a stock Prometheus server provide. These pages are indispensable for troubleshooting. I imagine the same argu

[2020-10-14 10:11] jpkrohling commented on #1217
I think this might actually be a build problem: the resourcedetectionprocessor also has a similar setup, and fails for the same reason. The release process should be bumping all dependencies to the contrib modules to the version being released.

For instance, here:
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/85ad20caefb81ba28f0db35b229e55d44e203c4e/processor/resourcedete

[2020-10-14 14:16] #1259 closed

[2020-10-14 17:26] cyrille-leclerc opened #1269 "Elastic Exporter: "400 Bad Request" exception"
**Describe the bug**

On OpenTelemetry Collector Contrib 0.12.0

Some messages sent by the OpenTelemetry Collector Elastic Exporter to Elastic APM Server are rejected with a "400 Bad Request" exception : the `transaction.name` length must be <= 1024, but got 1300".

This message seems has been received by the collector from a Java application instrumented with otel-java-agent 0.8.0.

This unexpect

[2020-10-14 17:26] cyrille-leclerc commented on #1269
cc @axw

[2020-10-15 01:54] axw commented on #1269
This is coming from the span name, and so far we've been using the span name as-is.

We should at least be truncating the name to avoid this error, but ideally the name wouldn't be that long in the first place. The Elastic APM agents create a summary of SQL queries. In this particular case I think we would just call it "SELECT".

We could do the same when translating OTel database spans, when the

[2020-10-15 09:06] cyrille-leclerc commented on #1269
Understood, I didn't have in mind that the OpenTelemetry `span.name` could have reused the sql statement.

Maybe truncating the span name could help. I'm wondering if we could also raise the point to the otel-java-instrumentation project as reusing the entire SQL request in the span.name does not sound aligned with the specification statement:

Note that I found this specification clarification ht

[2020-10-15 10:10] mx-psi opened #1270 "CircleCI windows-tests is missing gcc"
**Describe the bug**

The Windows test suite recently added on PR #1228 can't install dependencies that use `cgo` since the `win/default` CircleCI image does not have the `gcc` compiler installed by default.

**Steps to reproduce**
Check the CI on `master`, which is failing because of a datadogexporter dependency:

[code]

**What did you expect to see?**
The test suite should be able to run

**Wha

[2020-10-15 13:12] tigrannajaryan commented on #1270
We do not allow cgo in Collector. This has been discussed in the past and decided against.

[2020-10-15 13:29] mx-psi commented on #1270
Thanks for the reply. As I stated in #1271 we have a workaround for disabling the offending parts on Windows. I am closing this and we will open a new PR with the alternative fix.

[2020-10-15 13:29] #1270 closed

[2020-10-15 13:33] #1079 closed

[2020-10-15 16:22] cyrille-leclerc commented on #438
@vinsce here is a sample to define the `deployment.environment` on your OpenTelemetry instrumentation and get it mapped to the `service.environment` in Elastic APM. It requires to use the version 0.11+ of the OpenTelemetry Collector:

[code]

[2020-10-15 16:45] cyrille-leclerc opened #1275 "Elastic Exporter: Otel Collector appears as the service "unknown" in Elastic APM (services inventory & service map)"
**Describe the bug**

When reporting metrics from the collector (e.g. `hostmetrics`), the OpenTelemetry Collector appears in Elastic APM as "unknown" with zero transaction reported.

![image](https://user-images.githubusercontent.com/459691/96160035-b4624100-0f15-11eb-9a59-10af56663969.png)

![image](https://user-images.githubusercontent.com/459691/96160149-dcea3b00-0f15-11eb-9469-8be34b0ebef7.png

[2020-10-15 16:45] cyrille-leclerc commented on #1275
cc @axw

[2020-10-15 17:15] vinsce commented on #438
Tested with the OpenTelemetry Collector 0.11. Thank you
![kibana_envs](https://user-images.githubusercontent.com/5099266/96163815-aa8f0c80-0f1a-11eb-88a6-67038c8fb809.png)

[2020-10-15 20:19] cyrille-leclerc opened #1277 "Elastic Exporter: Elastic APM service graph "Time spent by span type" is empty"
**Describe the bug**

Elastic APM service graph "Time spent by span type" is empty with a message "No data within this time range." when using the OpenTelemetry Java instrumentation. On the other side, when using the Elastic APM Java agent with the same application, the graph is properly filled.

![image](https://user-images.githubusercontent.com/459691/96180883-6c521700-0f33-11eb-8b8f-bf4cf6b7970

[2020-10-15 20:19] cyrille-leclerc commented on #1277
cc @axw

[2020-10-16 02:36] hossain-rayhan opened #1281 "[awsecscontainermetrics] add task/container metadata as metric labels"
Earlier we decided to add task and container metadata as resource attributes. However, CloudWatch EMF exporter reads dimensions only from metric labels. As this exporter is major target for this receiver, we need to add these metadata as metric labels. I discussed this in our OTel Metric SIG meeting and internally in our team.

[2020-10-16 02:36] hossain-rayhan commented on #1281
Working on it.

[2020-10-16 02:39] hossain-rayhan opened #1282 "[awsecscontainermetrics] update CpuUtilized metric calculation to report them in Percentage"
We had our internal discussion and we decided to report `CpuUtilized` metric in Percentage. We studied our new calculation and verified with domain expert. Need to update the calculation part.

[2020-10-16 02:39] hossain-rayhan commented on #1282
Working on it.

[2020-10-16 06:00] axw commented on #1277
Indeed, this is a known limitation. The Elastic APM agents calculate the "Time spent by span type" metrics; it is impractical to calculate them once the spans have left the agent, as it depends on knowledge of the span hierarchy. To support this feature, I believe we would need to implement language-specific span processors for each OpenTelemetry SDK.

[2020-10-16 06:05] axw commented on #1275
Yeah, this isn't great. This is an artefact of passing the metrics through the APM Server's API, which essentially treats all metrics as application (service) metrics. Thus, the presence of the metrics manifests a service in APM.

Really they're infrastructure metrics, and should not have a `service.name` associated. I don't think we can reasonably solve this until/unless we ingest OTLP directly i

[2020-10-16 11:32] jkowall commented on #1277
We are considering building an aggregated metric calculator pipeline in the Otel collector which we would use to export metrics off spans. There are some challenges with the current SDK in running two pipelines (exporting traces and metrics) from a single trace input, but we are considering this. It will be discussed on the Jaeger community call today.

[2020-10-17 08:51] axw commented on #1277
That sounds like a useful feature!

A span metrics pipeline might work but would have to aggregate complete traces (a la tail-based sampling), as the referenced metrics take into account time spent in nested spans. A more apt name for the metrics/graph might be "Time spent by span type, excluding any time spent in children of spans of that type."

[2020-10-19 07:43] XSAM opened #16161 "Support more tail-sampling scenarios"
**Is your feature request related to a problem? Please describe.**
Current tail-sampling policies can only support simple scenarios, for instance:

[code]

It means if a tracing data matches one of these policies, it will be marked as sampled.

I think it should support complicated policies to obtain more benefits from tail-sampling. Here is the scenario.

I wouldn't say I like to use a global sam

[2020-10-19 13:55] mx-psi opened #1292 "[resourcedetectionprocessor] Add OS detector to gather metadata like OS hostname"
**Is your feature request related to a problem? Please describe.**

Datadog telemetry data is usually identified with a given host identified by its OS hostname, cloud provider instance id or a user-set name. The "Resource Detection Processor" helps in this aim by allowing to add cloud provider or user set resoruces. This processor however does not gather info from the OS or network.

**Describe t

[2020-10-19 16:56] tigrannajaryan commented on #764
Closing, stability tests are disabled for now.

[2020-10-19 16:56] #764 closed

[2020-10-19 19:08] #1282 closed

[2020-10-19 19:22] hossain-rayhan opened #1297 "[metricstransformprocessor] convert resource attributes to metric labels"
**Is your feature request related to a problem? Please describe.**
When we gather metrics in the receiver, we set some resource attributes as well as metric labels based on the data definition. While sending these metrics to destination (AWS CloudWatch), some of the resource attributes should be converted to metric dimensions. However, it's not common that all exporters will read resource attribut

[2020-10-20 01:04] MovieStoreGuy opened #1302 "Add audit abilities to receivers"
**Is your feature request related to a problem? Please describe.**
As part of our ability to debug, detect security issues or being replicate ingestion bugs, I would like a means to log the incoming request by providing information such as src ip, user agent, and request headers.

**Describe the solution you'd like**
I'd like to add some configurable means that allows for the request information t

[2020-10-20 02:15] Excaleo opened #1305 "[kinesisexporter] Support publishing of multiple data types in the kinesis exporter."
**Is your feature request related to a problem? Please describe.**
Leverage the kinesisexporter to export otlp protobuff to kinesis streams. Currently, the format is fixed to the jaegar/zipkin format. In a more general sense, we would like support for format-agnostic, where specific data formats can be published by implementing marshaller classes.

**Describe the solution you'd like**
Use the mars

[2020-10-20 03:02] bogdandrutu commented on #1305
@Excaleo that exporter needs a lot of love. It uses an old opencensus exporter as a base exporter, etc.

Happy to see that exporter refactored using OTLP.

[2020-10-20 04:03] Excaleo commented on #1305
@bogdandrutu awesome. @irisgve has drafted a PR, perhaps we could move the discussion there? Also I see @owais as the reviewer for the exporter, should we add him as the reviewer?

[2020-10-20 04:12] bogdandrutu commented on #1305
Make it non-draft automation should trigger everything (adding reviewers etc.)

[2020-10-20 04:27] bogdandrutu commented on #1305
Also by chance we maintain this. If interested to maintain this, after the PR gets merged consider to add your name as one of the owners to the list :)

[2020-10-20 08:31] james-bebbington commented on #1292
This seems like it would be a great addition to me

[2020-10-20 10:26] ocervell commented on #570
@nilebox do we have any updates on this ? This has been a major blocker for some of my customers trying to migrate to OT.

[2020-10-20 14:16] jpkrohling commented on #1217
The `k8sprocessor` has the same problem.

[2020-10-20 14:48] mx-psi commented on #1292
Awesome, I will do some initial work in the near future to address this then :)

[2020-10-20 21:48] jrcamp opened #1331 "[signalfxexporter] non-crashing panic when logs & metrics are not both enabled"
**Describe the bug**
When using the signalfxexporter, which supports logs and metrics, if only one of those types is used but you sent it telemetry for the other type the corresponding consumer isn't available. This seems due to the endpoints being registered in a non-conditional way https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/8710f29783d024f8d84760ff5353c0ca1e43cd3e/rec

[2020-10-20 22:18] #1331 closed

[2020-10-21 03:37] dustyhorizon opened #1336 "datadog exporter not recognized"
**Describe the bug**
Attempting to configure datadog as an exporter but keeps getting an error complaining that it is an `unknown exporters type`

**Steps to reproduce**
Add datadog as an exporter and start otel collector using the docker image from docker hub

**What did you expect to see?**
The collector running with no issues

**What did you see instead?**
The collector fatally exiting with `ap

[2020-10-21 07:55] jpkrohling opened #1339 "Approvers are receiving GitHub notifications for every PR"
Even with the inclusion of the bot that auto assigns people as reviewers, everyone in the approvers group is receiving a notification to review all the issues. Example:

Notifications page:
![image](https://user-images.githubusercontent.com/13387/96689653-fad6f600-1382-11eb-8b02-a865581c2d4d.png)

PR page:
![image](https://user-images.githubusercontent.com/13387/96690134-99635700-1383-11eb-87f2-3c

[2020-10-21 13:38] #1235 closed

[2020-10-21 18:45] hossain-rayhan opened #1342 "[metricstransformprocessor] Enable batch operation (all_metrics) for processor operations"
**Is your feature request related to a problem? Please describe.**
`metricstransformprocessor` introduces a new batch operation for `convert_resource_attributes_to_metric_labels` (#1337). When customer put `metric_name=all_metrics`, it converts all the resource attributes to metric labels and it applies to all the metric data points. This batch operation would be helpful for other operations (e.g.

[2020-10-21 18:53] hossain-rayhan opened #1343 "[metricstransformprocessor] Select specific resource attributes to convert them to metric labels"
**Is your feature request related to a problem? Please describe.**
`metricstransformprocessor` introduces a new batch operation- `convert_resource_attributes_to_metric_labels` (#1337). This operation converts all the resource attributes to metric labels by default. We need a feature to select specific resource attributes to convert them to metric labels.

[2020-10-22 04:11] nebffa opened #1346 "[splunkhecexporter] Tests are occasionally exceeding the 30s limit"
**Describe the bug**

The `splunkhecexporter` test runs are floating close to, and are sometimes exceeding, the 30s limit, which fails the build - an example is here - https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/5366/workflows/e82caba0-41f2-46e6-944c-4b27ce0666e3/jobs/40493.

Either the limit needs to be upped or these tests need to be optimised. It may

[2020-10-22 10:52] mx-psi commented on #1336
Hi, thanks for reporting this. The Datadog exporter is not yet added to the binary so you can't enable it yet, we hope to do that soon; I will keep you posted about this.

[2020-10-22 11:02] mx-psi opened #1347 "Allow access to version constant by components"
**Is your feature request related to a problem? Please describe.**

The `Version` constant of the Collector lives inside the [`internal/version` package](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/master/internal/version) of the main module and it is not accessible  by components (since this would create dependency cycles between the main module and the component module

[2020-10-22 14:21] tigrannajaryan commented on #1232
Closing since #1251 is supposed to fix it, will reopen if we see it again.

[2020-10-22 14:21] #1232 closed

[2020-10-22 14:22] tigrannajaryan commented on #1098
Fixed in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/1326

[2020-10-22 14:22] #1098 closed

[2020-10-22 15:03] tigrannajaryan commented on #1093
Again: https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/5355/workflows/03070cb8-1734-4d07-a2f7-8998e4a83bf6/jobs/40363

[2020-10-22 16:52] tigrannajaryan commented on #1297
Related to or a duplicate of https://github.com/open-telemetry/opentelemetry-collector/issues/1892

[2020-10-22 19:19] willarmiros opened #1355 "[resourcedetectionprocessor] Add Amazon ECS resource detector"
**Describe the solution you'd like**
I would like to have a resource detection module for Amazon Elastic Container Service (ECS) that automatically records metadata about the ECS task and environment. Similar detectors already exist for AWS EC2 and GCP Compute Engine.

**Additional context**
I'm planning on contributing such a feature in the near future.

[2020-10-23 00:34] hossain-rayhan opened #1359 "[feature request] [exporter] resource_attributes_to_metric_labels - common utility for all Non-OTLP exporters"
**Is your feature request related to a problem? Please describe.**
Customer needs to convert resource attributes to metric labels and its a pretty common use case. In Wednesdays (10/22) OpenTelemetry Metrics SIG meeting, we took a decision to implement a common utility for all Non-OTLP exporters which will convert all resource attributes to metric labels by default. If customers need to exclude an

[2020-10-23 00:36] hossain-rayhan commented on #1359
@bogdandrutu would you add your recommendation (we discussed in the SIG meeting) here?

[2020-10-23 08:05] mx-psi commented on #1336
Hi again, the exporter will be available in the next release or in the `dev` builds like `otel/opentelemetry-collector-contrib-dev:latest`

[2020-10-23 08:08] albertteoh commented on #403
I'd like to take on this task if no one's put their hand up yet.

@jmacd, this suggestion makes a lot of sense, as I've [recently learned](https://github.com/jaegertracing/jaeger/issues/2574#issuecomment-713473271) from @jpkrohling. As I'm new to OTEL, what do you suggest would be the best approach to achieving this? I haven't put too much thought into it, but my initial thinking is to copy the OT

[2020-10-23 15:14] lubingfeng commented on #1359
@bogdandrutu  We would like to get this completed by middle November. Appreciate your help in advance.

[2020-10-23 16:58] bogdandrutu commented on #1359
So we have 2 problems if I understand correctly:
1. Manipulating the `Resource.attributes`
    * which can already be done by the [resourceprocessor](https://github.com/open-telemetry/opentelemetry-collector/tree/master/processor/resourceprocessor).
2. Some of the exporters need to convert `Resources` into labels.
    * I suggest we implement a `consumer.[Trace|Metrics|Logs]Consumer` (for traces w

[2020-10-25 19:14] ekarlso opened #1367 "prometheus_simple metrics not ending up in prometheus exporter"
**Describe the bug**
Metrics that are collected by a prometheus_simple receiver and routed to a prometheus exporter is not showing up in the prometheus' exporters endpoint.

**Steps to reproduce**
Having a application with a /metrics endpoint point this config to it and you will see the metrics coming up in the logs but not in the exported metrics.

**What did you expect to see?**
Metrics should b

[2020-10-26 13:38] mx-psi commented on #1347
Closing; the preferred way of doing this is to access the `ApplicationStartInfo` struct passed to the component a creation time.

[2020-10-26 13:38] #1347 closed

[2020-10-26 14:44] #686 closed

[2020-10-26 15:26] ericmustin opened #1374 "Flaky k8sprocessor/observability Test in CI"
**Describe the bug**
This test is flaking in the build pipeline

[code]

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/5476/workflows/d658ff15-6d5b-4854-b4fd-05ae4647b696/jobs/41623

**Steps to reproduce**
see https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/5476/workflows/d658ff15-6d5b-4854-b4fd-05ae4647b696/jobs/4

[2020-10-26 15:55] tigrannajaryan commented on #290
Statsdrevever exists now, closing.

[2020-10-26 15:55] #290 closed

[2020-10-26 17:04] #1355 closed

[2020-10-26 17:17] wyTrivail commented on #1255
maybe i can close this issue since it's merged?

[2020-10-26 17:34] #1255 closed

[2020-10-26 17:39] hossain-rayhan commented on #1359
Hi @bogdandrutu , thanks for the quick suggestions. If I understand correctly, you described two different approaches. I am exploring them. Do you have any preference between these two?

Also, I saw a comment from @tigrannajaryan in gitter, regarding converting all the resource attributes to labels (to many labels). Are we still on plan to convert all the resource attributes to labels by default.

[2020-10-26 21:43] tigrannajaryan commented on #1359
@bogdandrutu To add to this. I think all exporters that do not use a format that natively supports a Resource-equivalent concept have to do this. I wonder if my assertion is correct or there need to be exceptions or this behavior needs to be configurable per exporter.

[2020-10-26 22:48] bogdandrutu commented on #1359
OTLP and Jaeger don't need this (Jaeger has process tags). But in general yes all of them except these two.

[2020-10-27 09:26] mx-psi opened #1379 "[exporter/datadog] Unify duplicate EC2 code in Datadog exporter and resource detection processor"
**Problem description**

The Datadog exporter needs to send all the possible host names of the host machine in a special payload to ensure that telemetry data from that host is correctly unified (see #1351). This currently includes the EC2 hostname and instance id. This information is already gathered by the resource detection processor so there is some duplicate code as a result in the `exporter/

[2020-10-27 09:28] jpkrohling opened #1380 "Flaky test TestTrace10kSPS/AwsXray"
Occurred for #1348 here:

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/5497/workflows/72c18d36-43b0-40ec-ae52-1066cd309e3e/jobs/41879

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/5514/workflows/72a3a765-14bf-447a-a710-31de95350478/jobs/42016

https://app.circleci.com/pipelines/github/open-telemetry/opentelemet

[2020-10-27 09:28] jpkrohling opened #1381 "Flaky test TestSendingStdinIntegration"
Occurred for #1348 here:

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/5514/workflows/72a3a765-14bf-447a-a710-31de95350478/jobs/42005

[code]

cc  @rmfitzpatrick

[2020-10-27 09:28] jpkrohling opened #1382 "Flaky test TestReadRotatingFiles/MoveCreateTimestamped"
Occurred for #1348 here:

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/5514/workflows/72a3a765-14bf-447a-a710-31de95350478/jobs/41996

[code]

cc @djaglowski

[2020-10-27 15:22] tigrannajaryan commented on #1382
@djaglowski also failing TestReadRotatingFiles/CopyTruncateSequential and TestReadRotatingFiles/CopyTruncateTimestamped, see https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/5531/workflows/0f13b749-d13c-4d69-9e25-1716c98cf061/jobs/42181
[code]

[2020-10-27 15:30] tigrannajaryan opened #1389 "SAPM exporter: sending_queue is not enabled"
The  sending_queue doesn't seem to be enabled for SAPM exporter: https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/2d1a6e6beffb93ef12b7c8df3fe44e8c8e8752bc/exporter/sapmexporter/exporter.go#L80

Trying to send using this config doesn't enable the queue:
[code]

[2020-10-27 15:46] djaglowski commented on #1382
#1384 should address this, but it is waiting on #1380

[2020-10-27 16:09] tigrannajaryan opened #1391 "Test_carbonreceiver_EndToEnd is unstable"
See https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/5536/workflows/dac796c8-4e59-4cc3-9364-7e7cb4314f06/jobs/42228

[code]

[2020-10-27 16:09] tigrannajaryan commented on #1391
@pjanotti will you be able to look into this?

[2020-10-27 19:23] kohrapha opened #1395 "[Feature Request] [Extension] ECS Service Discovery for Prometheus"
**Is your feature request related to a problem? Please describe.**
Customers might want to perform ECS Service Discovery for Prometheus metric scraping in their pipeline. Currently, there is no option to perform this functionality.

**Describe the solution you'd like**
Our proposal is to create a new extension that performs this ECS Service Discovery logic for the Prometheus receiver. This extensi

[2020-10-27 19:28] #1389 closed

[2020-10-27 20:21] jpkrohling opened #1398 "Flaky test - TestJMXIntegration/TestJMXMetricViaOTLPReceiverIntegration"
Occurred for #1348 here:

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/5567/workflows/e8f68b3a-7145-4938-a2ac-0f12b4db947d/jobs/42552

[code]

cc  @rmfitzpatrick

[2020-10-27 21:22] ekarlso commented on #1367
![image](https://user-images.githubusercontent.com/574258/97363189-7ca6b200-18a2-11eb-85bb-6645e8487024.png)

So it seems that the /metrics are empty to to there being no "Collector" present when the https://github.com/prometheus/client_golang/blob/master/prometheus/promhttp/http.go#L126 is run when you see the picture above.

[2020-10-27 21:49] ekarlso commented on #1367
So it seems that when a metric is added and the ConsumeMetrics calls down into the other methods the underlying error is actually not propagated upwards
The methods below returns errors but they are not propagated through ConsumeMetrics nor logged giving no indication of what's wrong.

https://github.com/orijtech/prometheus-go-metrics-exporter/blob/master/prometheus.go#L169
https://github.com/orij

[2020-10-28 06:56] ekarlso commented on #1367
Error nailed down to errorous label being in config
[code]

"another label" here causes the error mentioned above with full error string

[code]

[2020-10-28 08:33] anuraaga commented on #1380
@darwhs Do you mind taking a look at this?

[2020-10-28 15:16] hossain-rayhan commented on #1359
working on this.

[2020-10-28 15:57] tigrannajaryan commented on #1339
+1 on the idea. @bogdandrutu what was the problem that required all approvers to be listed for all directories?

[2020-10-28 19:12] #1269 closed

[2020-10-28 20:45] vikrambe opened #1410 "Tailsampling - Support for composite policy"
**Is your feature request related to a problem? Please describe.**
Design Doc - Added support for composite policy in tailsampling processor. This would help in grouping sampling policies and rate limiting them. https://docs.google.com/document/d/10wpIv3TtXgOik05smHm3nYeBX48Bj76TCMxPy8e1NZw/edit#heading=h.ecy5l2puwtp4
This is a split. Refer PR https://github.com/open-telemetry/opentelemetry-collec

[2020-10-28 20:46] vikrambe commented on #1410
@jpkrohling FYI... I will be submitting a PR shortly

[2020-10-28 20:48] jpkrohling opened #1411 "Flaky test - awsxrayreceiver / TestSocketReadIrrecoverableNetError"
Occurred for #1349 here:

https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/5638/workflows/1b481416-6335-418c-9d8e-5c84616e462b/jobs/43336

[code]

[2020-10-29 10:56] darjanbogdan commented on #1336
Hi, is there a way to enable Datadog exporter outside of collector's binary? Will try the `dev` build you mentioned, thx.

[2020-10-29 13:51] jpkrohling commented on #1339
I didn't know about this until right now, but GitHub does have a feature that automatically assigns people as reviewers and has the ability to *not* notify the whole group:

![image](https://user-images.githubusercontent.com/13387/97582563-33677700-19f6-11eb-9b94-230a5df7282f.png)

Doc about this feature: https://docs.github.com/en/free-pro-team@latest/github/setting-up-and-managing-organizations-

[2020-10-29 14:03] mx-psi commented on #1336
Hi @darjanbogdan!

I am not sure what you mean by this. Do you want to use the Datadog exporter without using the OpenTelemetry Collector? What is the use case?

[2020-10-29 15:24] darjanbogdan commented on #1336
Ah sorry I was a bit unclear. It sounds strange to me that each new exporter must be first added to binary in order for collector to support it. But that's probably due to limited understanding of Go language and eco system.

It is working with the latest build indeed, and thank you for that.

[2020-10-29 18:34] mxiamxia commented on #1359
I think we should make it configurable. In CloudWatch Metrics Exporter, we only need to add resource labels for ECS Metrics (@hossain-rayhan is working on in this thread) but for the other use cases like customer application metrics, we don't want to enable it by default. CloudWatch only allows maximum 10 dimensions/labels for each metric. We like it to be able to be configured for combining. :)

[2020-10-29 18:35] tigrannajaryan commented on #1382
@djaglowski It failed again: https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-collector-contrib/5663/workflows/da080a18-0c5e-43de-9c71-e78b9563f0c8/jobs/43566

Can you have a look? We need a robust solution that is not timing or machine performance dependent.

[2020-10-29 18:42] tigrannajaryan commented on #1359
Given that the limitations are specific to destinations we likely need this to be a user-definable configuration option for exporters, possibly also maximum limits enforced by each exporter where such limits exist.

[2020-10-29 19:55] djaglowski commented on #1382
@tigrannajaryan I'll have another PR shortly.

This test is something of a performance test, so I think that perhaps it does not really belong here.

However, there are correctness aspects that I think can be preserved by substantially slowing down file rotation and reducing the number of lines written. This should still demonstrate the capability of handling file rotation correctly while also bei