[2022-06-24 17:11] dmitryax commented on #11531
cc @jpkrohling as code owner

[2022-06-24 17:12] dmitryax commented on #11531
@Frapschen please feel free to play with it and file any issues that you find. If it's working fine I believe we can update the status

[2022-06-24 17:23] dmitryax commented on #11516
Setting Priority to 1 until it's disabled at least

[2022-06-24 17:25] #11465 closed

[2022-06-24 17:27] dmitryax commented on #11457
cc @jpkrohling as code owner

[2022-06-24 17:30] dmitryax commented on #11450
Hi @leonsp-ai, do you have a chance to take a look?

[2022-06-24 17:34] dmitryax commented on #11439
Hey @zeitlinger, I see you added the logs support to the attributes processor. Do you have a chance to take a look at the issue?

[2022-06-24 18:05] dyladan commented on #11450
@dmitryax seemed like a reasonable newbie issue so I took a crack at it

[2022-06-24 18:30] boostchicken commented on #11536
Sure do

[2022-06-24 18:30] boostchicken commented on #11536
Weird all the unit tests are passing, this will take some digging, I will have to write some integration tests for this one

[2022-06-24 18:33] boostchicken commented on #11536
Hey @gidesh I dontn see a reference to hoff.api.platform-apps in your logging output? Is it a tag (service.name)? or where is it set on your Span?

[2022-06-24 18:34] djaglowski commented on #11516
Here again: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7046173714?check_suite_focus=true#step:7:664

I will open a PR to disable this for now

[2022-06-24 19:06] BinaryFissionGames commented on #11535
Taking a closer look, I was using an out of date build.

In version v0.54.0 of the collector, this constraint was removed.

[2022-06-24 19:06] #11535 closed

[2022-06-24 19:20] yk-47 commented on #11536
@boostchicken I'm working with @gidesh on this.
Not sure why the service.name isn't there maybe we didnt set it on our app.

We orignally tried dropping the span for all /healthz urls but that was also unsucessful.
[code]

[2022-06-24 19:22] yk-47 commented on #11536
We did set it with  env var `OTEL_SERVICE_NAME: "hoff-api.platform-apps"`

[2022-06-24 20:15] #11428 closed

[2022-06-24 20:55] djaglowski commented on #11525
Hi @dwelch-spike. First of all, it's great that there's an opportunity for collaboration here. I think it will make sense to have a single aerospike receiver. Adding more metrics and more robust configuration seems like a natural next step too.

One area we'll need to work out is naming. OpenTelemetry has its own semantic conventions and naming guidelines, to which we will typically need to adhere

[2022-06-24 22:37] dwelch-spike commented on #11525
Hi @djaglowski. That all sounds good to me. The first PR we want to do is a performance change. Changing the `collect_cluster_metrics` mode to request info from nodes in parallel instead of sequentially. The goal is to reduce the total scrape and emit time for large clusters. This won't change anything user facing. Changes will probably include adding another client object that satisfies the `aero

[2022-06-24 22:44] dmitryax commented on #9571
@fatsheep9146 can you please pick up this issue to get familiar with the receiver since you are going to be a code owner

[2022-06-24 23:05] dmitryax commented on #8121
Hey @jvaesteves, we currently don't support extracting regexp groups into attribute values. This exporter will be eventually replaced by `transform` processor. So we don't want to add any new functionality here, but if you are interested, feel free to submit a PR.

[2022-06-24 23:06] dmitryax commented on #9746
This issue looks like a duplicate of https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/8121. @howardyoo feel free to reopen if I'm wrong

[2022-06-24 23:06] #9746 closed

[2022-06-24 23:21] boostchicken commented on #11536
This wont work, its not a regex, please change it to strict.

[2022-06-24 23:21] dmitryax commented on #11450
@dyladan, awesome! Thanks

[2022-06-24 23:22] boostchicken commented on #11536
Please make sure it is working, the code looks for a service.name attribute to drop it, I don't see one here, I can't drop it if the metadata is not in the span.

[2022-06-24 23:32] #11450 closed

[2022-06-25 00:58] newly12 commented on #11533
@dmitryax in my use case, it's log line.

[2022-06-25 01:02] mjallday commented on #5838
@boostchicken I’ve been following this pr for months. This is awesome !

[2022-06-25 01:29] dmitryax commented on #11533
@TylerHelmuth this is something that will be possible to do with transform processor, right?

[2022-06-25 02:08] fatsheep9146 commented on #9571
Absolutely, I will resolve this ASAP

[2022-06-25 03:31] dmitryax commented on #11516
Thanks @djaglowski. I lowered the issue priority

[2022-06-25 06:21] yk-47 commented on #11536
Changing it to the following made no difference.
[code]

[2022-06-25 11:06] djaglowski commented on #11525
@dwelch-spike, excellent. This sounds great.

Please do it this way so we can track and discuss changes individually.

[2022-06-25 18:52] davidgargti20 opened #11549 "Processor to sample Logs"
Sampling of logs is as important as sampling of traces. We do have processors to sample traces Is there any way in which we can sample logs ( preferably tail based sampling ) . One scenario like grouping logs by traceid and sampling then based on the if those group of logs have a log that has severity error.

[2022-06-26 23:47] jamesmoessis commented on #9794
@rmfitzpatrick another thing I recently noticed about this receiver is that it records memory metrics as gauges, while the otel spec says to record these as sums. As I'm unsure how heavily this receiver is used, how much of a pain would that be to change? Ideally they are sums.

[2022-06-27 07:44] pmm-sumo commented on #11536
@gidesh your traces pipeline is missing the processor; you have:

[code]

While it should have been:

[code]

[2022-06-27 09:02] gidesh commented on #11536
Thanks @pmm-sumo, apologies we missed that part :man_facepalming:

[2022-06-27 10:18] suninuni opened #11554 "Failed to receive skywalking trace data from envoy"
**Describe the bug**

I'm trying to use opentelemetry to process skywalking trace data from envoy in istio, but I got these errors:

[code]

**Steps to reproduce**

- enable skywalking providers in istio https://github.com/istio/istio/pull/32588#issuecomment-862002263:

[code]

- deploy opentelemetry-collector 0.54.0

[code]

[2022-06-27 10:19] suninuni commented on #11554
@JaredTan95 please take a look

[2022-06-27 10:34] #11504 closed

[2022-06-27 10:44] davidgargti20 opened #11555 "Can't use traceID in transform processor because it returns struct"
trace_id: Currently accessed as a TraceID struct so does not work in conditions.
The transform processor's Getters normally returns a field as the type it is represented in pdata. This can cause problems when the field is used in set expression. I cannot use traceId as it is returned as struct.

[2022-06-27 11:09] swiatekm-sumo commented on #11454
I'll try to reproduce this locally, see if it's a test artifact or something more serious.

[2022-06-27 14:11] djaglowski opened #11557 "[CI] Run `golangci-lint` with alternate build tags"
_Originally posted by @mx-psi in https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/11440#issuecomment-1163129216_

[2022-06-27 14:38] gokulkrish21 opened #11558 "InfluxDB Line Protocol format into Clickhouse"
We are retrieving some of the metrics using Open Telemetry in InfluxDB Line Protocol format. We are trying to store those metrics data in InfluxDB line format into Clickhouse database. Currently we do not seem to have functionality in Clickhouse Exporter available in Github. Can you include the Influx DB line format also into the solution while developing Clickhouse Exporter for metrics data as me

[2022-06-27 15:35] codeboten commented on #9549
@antonblock @djaglowski Can this issue be closed with #9961 having merged?

[2022-06-27 17:15] djaglowski commented on #9549
Yes, thanks @codeboten

[2022-06-27 17:49] dwelch-spike opened #11563 "[receiver/aerospikereceiver] Send info requests in parallel"
**Is your feature request related to a problem? Please describe.**
Currently the aerospike receiver makes info requests to nodes sequentially when running in collect-cluster-metrics mode. For large clusters this could take a while, especially if nodes are timing out.

**Describe the solution you'd like**
By implementing a second client type that sends info commands to all nodes in parallel, the ne

[2022-06-27 17:51] codeboten commented on #4758
Closing the issue as per the comment above

[2022-06-27 17:51] #4758 closed

[2022-06-27 17:55] gidesh commented on #11536
Happy to close the issue, as it was a mistake from our side

[2022-06-27 17:55] #11536 closed

[2022-06-27 18:00] TylerHelmuth commented on #11555
@davidgargti20 I believe this issue (and all other similar pdata issues sans enums) have been handled in this issue: https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/10350.  Collector Contrib 0.54.0 should have the fixes you need.

[2022-06-27 18:03] codeboten commented on #7574
@djaglowski can this be closed w/ #8986 having merged?

[2022-06-27 18:20] #11025 closed

[2022-06-27 18:24] codeboten commented on #3429
@shabicheng has this issue been fixed?

[2022-06-27 18:33] Nighttraveler opened #11727 "[exporter/datadog] Services view operation name do not match with Traces view operation names"
**Describe the bug**
 Services view operation name do not match with Traces view operation names. It looks to be sanitized in one place but not in the other.

**What did you expect to see?**
We expected to see the same operation name in both views, without it the traces list in Service view is useless.
If you click "view in traces" it searches for "operation_name:Web:/foo" and does not show any re

[2022-06-27 18:44] TylerHelmuth opened #11751 "Extract Telemetry Query Language into a package"
The transform processor currently implements the Telemetry Query Language within its `internal/common` package.  In order to expose the TQL so it can be used by anyone, it should be moved to `pkg/telemetryquerylanguage`.

The TQL would be usable without any of the transform processor's signal contexts or functions, but it wouldn't be very useful.  The processor's contexts should also be moved into

[2022-06-27 18:48] jsirianni opened #11752 "Elasticsearch exporter does not set Timestamp (logs)"
**Describe the bug**

When using the Elasticsearch exporter, log timestamp is omitted unless set by an operator.

**Steps to reproduce**

Use the filelog receiver without any parsing (do not parse a timestamp to the log entry). When viewing in Kibana, logs will show up in year 1970 (Zero value for timestamp).

**What did you expect to see?**

The [log data model](https://github.com/open-telemetry/

[2022-06-27 18:50] dmitryax opened #11753 "[receiver/prometheus] Flaky test TestLabelValueLimitConfig"
[code]

Seen in https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7058818357?check_suite_focus=true

[2022-06-27 19:09] codeboten commented on #3169
Closing this issue as the `elasticexporter` has been deprecated. Pinging code owners  @axw @simitt @jalvz, please re-open if you still want to address this issue

[2022-06-27 19:09] #3169 closed

[2022-06-27 19:12] codeboten commented on #1800
The logs exporter is currently shipped as part of the contrib distribution: https://github.com/open-telemetry/opentelemetry-collector-releases/blob/main/distributions/otelcol-contrib/manifest.yaml

Closing the original issue. If there are additional enhancement requests, please open separate items for them.

[2022-06-27 19:12] #1800 closed

[2022-06-27 19:15] #7574 closed

[2022-06-27 19:35] codeboten commented on #3656
Closing this issue as there has been no response from the author. If the issue persist, please re-open with the additional information requested

[2022-06-27 19:35] #3656 closed

[2022-06-27 19:45] davidgargti20 commented on #11555
@TylerHelmuth but I don't think it has been handled for get it still returning struct for set traceid it has been handled

[2022-06-27 19:55] TylerHelmuth commented on #11555
@davidgargti20 trace_id, span_id, and parent_span_id are all returned as a pcommon.TraceID or pcommon.SpanID struct and should be interacted with via the TraceID/SpanID Factory functions.

The syntax looks like:

`set(span_id, SpanID(0x0807060504030201)) where span_id == SpanID(0x0000000000000000)`
`set(trace_id, TraceID(0x0102030405060708090a0b0c0d0e0f10)) where trace_id == TraceID(0x000000000000

[2022-06-27 20:37] codeboten commented on #3537
The initial issue has been addressed as the component is now part of the contrib distribution. Please open follow up items for any additional issues.

[2022-06-27 20:37] #3537 closed

[2022-06-27 20:45] #1479 closed

[2022-06-27 20:45] #2728 closed

[2022-06-27 20:45] #2816 closed

[2022-06-27 20:45] #3199 closed

[2022-06-27 20:46] davidgargti20 commented on #11555
@TylerHelmuth but this way it actually underperform its use
I basically want to do
set(attributes["traceId"],trace_id)
but it doesn't work as it return struct
if we return it as string or bytes we can do this as well as comaprison

[2022-06-27 20:47] codeboten commented on #4322
This issue is fixed https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/9e257a3b8d3c56ce3f87ab0f506bdea593ce2b58/receiver/zookeeperreceiver/metadata.yaml#L59. Please re-open if additional fields should be modified.

[2022-06-27 20:47] #4322 closed

[2022-06-27 21:20] TylerHelmuth commented on #11555
Yes I would agree that use case will not work, and I think thats probably a good thing.  I would _strongly_ recommend never setting an attribute value to be a trace id or span id as the cardinality will be off the charts.

That said, supporting trace and span IDs as strings at some point in the future was discussed in the PR where we added the TraceID and SpanID factories.  We could add that capab

[2022-06-27 21:50] TylerHelmuth commented on #11555
High cardinality attributes are not necessarily bad, but can come with unwanted consequences.  In general, high cardinality is expensive, both from a performance perspective when you want to use the data but also from a cost perspective.

The higher the cardinality on an attribute the more aggregating that needs to happen when using the data and/or the more data that needs to be returned when quer

[2022-06-27 22:07] davidgargti20 commented on #11555
So can a String() factory be included in the transform processor?
It will definitely be helpful in some scenarios.

[2022-06-27 22:18] davidgargti20 opened #11770 "Extend groupbytrace processors to logs"
Currently groupbytrace processor works for traces only. It will be a good use if we can extend it to grouping logs based on traceId.

[2022-06-27 22:20] davidgargti20 commented on #11770
@dmitryax

[2022-06-27 22:51] codeboten commented on #11539
I'm 100% in favour of finding a way to automate the changelog process as it's currently pretty painful. Curious about your thoughts on using a tool that already exist, maybe something like https://github.com/release-lab/whatchanged? I haven't spent a lot of time looking into tools, but a quick search makes me think this already exists.

[2022-06-27 23:06] anuraaga commented on #6505
Seems to be fine for me too, thanks

[2022-06-27 23:06] #6505 closed

[2022-06-28 01:02] jamesmoessis commented on #9592
This is now complete and in the contrib build

[2022-06-28 01:02] #9592 closed

[2022-06-28 02:25] anuraaga opened #11772 "New component: wasmprocessor"
## The purpose and use-cases of the new component

`wasmprocessor` can load WebAssembly binaries at runtime which include processing logic. This allows users to write custom transformation logic without needing to recompile an entire collector distro. The `transformprocessor` can capture common use cases through generic queries but it can never support every transformation out there. `wasmprocesso

[2022-06-28 02:54] #11429 closed

[2022-06-28 05:28] davidgargti20 commented on #11555
Sure

[2022-06-28 06:37] joshendriks commented on #5721
I encountered the same issue where my browser sends the following to the otel-collector (no parent span id because it is the root):
[code]
{"event_id":"8c17d53c33d14c39a48889ff13045daf","sent_at":"2022-06-28T06:10:22.211419517Z"}
{"type":"transaction","length":645}
{
   "contexts":{
      "trace":{
         "trace_id":"74fd66c526af2a377b1da71c1268524b",
         "span_id":"d0ff09ee7d4e3432",

[2022-06-28 07:12] CatalinAdlerDF commented on #11555
@TylerHelmuth is there an official way to implement tail-based sampling for all the telemetry data part of a trace: logs, traces and metrics?
Basically "collect everything about a trace, and sample it if some condition is true".

I am referring to individual log entries that have the trace_id and span_id set correctly.

[2022-06-28 07:54] #11144 closed

[2022-06-28 08:06] gbbr commented on #11727
Hi @Nighttraveler! This should not be an issue once we merge https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/9693, which will happen this week I am hoping. Let's wait and confirm before closing the issue though!

[2022-06-28 09:28] mx-psi commented on #8109
Closing this since it was clarified that vendor-specific exporters like Datadog's are not available on the ADOT lambda distro.

[2022-06-28 09:28] #8109 closed

[2022-06-28 13:15] djaglowski commented on #11454
Closing this based on #11776

[2022-06-28 13:15] #11454 closed

[2022-06-28 14:22] TylerHelmuth commented on #11555
I don't think so.

[2022-06-28 14:38] djaglowski commented on #11539
Typically I would agree, but I think this problem is simple enough that depending on another tool may be a greater pain than rolling our own.

There's not much that another tool would solve for us here. I think we'd still be on the hook for writing and maintaining:
- A template file for the changelog
- CI checks
- Documentation for how we expect it to be used
- (If possible) a set of fields we wan

[2022-06-28 14:56] ItsLastDay opened #11780 "healthcheckextension "check_collector_pipeline" is always healthy, even when exporter is failing"
**Describe the bug**
I'm trying to use "check_collector_pipeline" function of [healthcheckextension](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/extension/healthcheckextension). However, the health check always  returns status code 200 to me. Even when my exporter is failing, health check is still OK.
In "additional context" section I break down the technical aspect

[2022-06-28 15:25] thomasbaldwin opened #11781 "Timestamp not being picked up on logs"
Hey all, not sure if this is possible already, but currently it doesn't look like the timestamp is being picked up on the logs I'm ingesting. There is a `time` field in the `body.stringValue` that's present (`"time\":\"2022-06-28T14:58:10.449259849Z\"`), but the `observedTimeUnixNano` is what ends up being added as a key. Is this because the field needs to be named `timestamp` and not `time`?

Her

[2022-06-28 15:47] amoscatelli opened #11782 "[processor/spanmetrics + exporter/prometheusremotewrite] latency_bucket's are empty"
**Describe the bug**
As long as I understand, by using spanmetrics, a couple of metrics should be exported :

calls_total
latency_bucket

I am using AGGREGATION_TEMPORALITY_DELTA and exporting to prometheus with an OTEL Collector configuration very similar to this one from testdata :
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/processor/spanmetricsprocessor/testdata

[2022-06-28 15:54] #11781 closed

[2022-06-28 16:10] #11077 closed

[2022-06-28 17:41] jack-berg opened #11784 "[processor/spanmetrics] Span metrics produces histograms with incorrect bucket counts"
**Describe the bug**
Given a set of N bucket boundaries, the spanmetrics processor produces N bucket counts, where it should produce N+1.

**Steps to reproduce**
Send some spans through the processor and export the data with the logging exporter. Notice data that looks like:
[code]

**What did you expect to see?**
8 buckets counts for the 7 bucket boundaries, as described in the [histogram proto](

[2022-06-28 17:54] rmfitzpatrick commented on #9794
@jamesmoessis I'm not 100% on the spec but I think the difference between gauges and non-monotic sums/UpDownCounters is the implicit validity of adding their values across attributes, so I think there would be few if any side effects: https://github.com/open-telemetry/opentelemetry-specification/blob/bff2cc1365bb81b03f78a732dec822fff787e288/specification/metrics/supplementary-guidelines.md#guideli

[2022-06-28 19:12] TylerHelmuth commented on #11784
pinging @albertteoh as code owner

[2022-06-28 22:02] dmitryax commented on #11770
I'm curious what's the use case? What will you do with the logs grouped by trace id?

[2022-06-29 02:18] JaredTan95 commented on #11554
@suninuni do you have spec envoy or istio version?

[2022-06-29 03:26] suninuni commented on #11554
envoy  version: a971bfa7fddce41c1795fe2ce279735131c08878/1.21.0/Clean/RELEASE/BoringSSL
istio version: 1.13.1

P.S. I can receive these data correctly using skywalking-oap 8.9.1+

[2022-06-29 05:07] dmitryax commented on #11539
I like the approach. It makes a lot of sense to me.

Couple more improvements that we can achieve with this approach:
- Sort the list changes within each group.
- Aggregate changes made per specific component to avoid repeating them, e.g.:
[code]

[2022-06-29 05:26] davidgargti20 commented on #11770
By grouping logs by traceID I will use them to apply tail based sampling to logs.

[2022-06-29 05:38] dmitryax commented on #11770
Ok, I think this might be helpful. Feel free to add the this capability to `groupbytrace` processor

[2022-06-29 06:40] MovieStoreGuy opened #11789 "New component: Chrony Receiver"
## The purpose and use-cases of the new component

The chrony receiver would report the statistics that would be captured by the c binary `chronyc tracking`. This would allow service operators to understand if there is any issues trying to sync host clocks with `chronyd` that would potentially impact any security / telemetry related problems.

An out of sync host clock would result in failed secur

[2022-06-29 07:28] newly12 opened #11790 "Support split string into arrays for a log attribute"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
For example, I have a log line like this
[code]
with filelog receiver and its json_parser, I am able to access `flag` field, and I would like to split `A|B|C` by `|` so it will be an array, possible use cases are 1) filter the array element

[2022-06-29 08:56] mx-psi opened #11791 "[processor/resourcedetection], [receiver/dockerstats] Collector cannot query Docker socket in official contrib images"
**Describe the bug**

The [docker detector](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/resourcedetectionprocessor#docker-metadata) from the resource detection processor and the [dockerstats receiver](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/dockerstatsreceiver) do not work on official opentelemetry-collector-con

[2022-06-29 08:59] mx-psi commented on #11791
@open-telemetry/collector-contrib-maintainer I assume we want to keep running under a non-root user. If we don't find a solution that works when not running as root, should the docker detector be deprecated and eventually removed? This would still be useful on downstream distros that run as root, but I don't know if that is a common case.

[2022-06-29 09:30] omkar-ti opened #11792 "Excluding logs using filtering by regex, but want to include some of those logs."
### Discussed in https://github.com/open-telemetry/opentelemetry-collector-contrib/discussions/11786

<div type='discussions-op-text'>

<sup>Originally posted by **omkar-ti** June 29, 2022</sup>
I want to achieve something like this using the filter processor for logs in the otel collector config

Exclude all logs having `attributes[sample_key] = prefix.*` (regex)
BUT
don't exclude logs having `at

[2022-06-29 10:25] djaglowski commented on #11539
Yes, already doing this in the proposed implementation actually.

I like this idea. The challenge currently is that we aren't enumerating the components, so there will be some fragmentation due to minor variations in the way people specify the field. This is something that can be added later though.

[2022-06-29 14:17] djaglowski opened #11800 "[receiver/rabbitmq] Scraper test does not actually pass"
The result of `scrapertest.Compare` is either an error or nil, but is not checked. This was unnoticed because the `errcheck` linter was not being used.

[2022-06-29 14:26] Frapschen commented on #11800
sorry, I fix it

[2022-06-29 14:28] Frapschen commented on #11800
I notice some receiver also miss check the resoult of `scrapertest.CompareMetrics`, like mysqlreceiver, nginx receiver...

[2022-06-29 14:30] djaglowski commented on #11800
No worries. I've already created #11801 for this one and am working through the rest

[2022-06-29 14:41] djaglowski commented on #10289
Closing this issue, as it has been all but confirmed to be an upstream problem. (See https://github.com/actions/cache/issues/810)

The issue still occurs frequently, but will hopefully be resolved upstream.

[2022-06-29 15:08] #11800 closed

[2022-06-29 15:50] #10544 closed

[2022-06-29 16:03] Mrod1598 opened #11810 "[processor/transform] Add support for toggling scalar value types"
**Is your feature request related to a problem? Please describe.**
When collecting from prometheus, a `value_type` is assigned and sometimes incorrectly. Using this processor, it should be possible to toggle from double to int or the other way around in this processor.

**Describe the solution you'd like**
implementation of either the ability to use the set function to change it, or a new function

[2022-06-29 16:26] dmitryax commented on #10358
We discussed adding prometheus remote write capabilities to the receiver on the SIG meeting today. Everyone agrees that we need it. It should be implemented as another receiver called `prometheusremotewrite`. No one of the active OTel contributors has plans to work on it at this point. So any help would be appreciated. cc @bogdandrutu @Aneurysm9

[2022-06-29 17:32] codeboten opened #11815 "Remove usage of `direction` attribute"
Follow-up to the change in specification: https://github.com/open-telemetry/opentelemetry-specification/pull/2617

The following actions are needed:
- [x] #11816
- [x] #11817
- [x] #11818
- [x] #11819
- [ ] #12191
- [ ] #12190
- [x] #12189
- [ ] #12188
- [x] #12164
- [x] #12165
- [ ] #12187
- [ ] #12186
- [x] #12185
- [x] #12184

[2022-06-29 17:33] codeboten opened #11816 "`[receiver/hostmetrics/diskscraper]`: remove `direction` attribute"

[2022-06-29 17:33] codeboten opened #11817 "`[receiver/hostmetrics/networkscraper]`: remove `direction` attribute"

[2022-06-29 17:33] codeboten opened #11818 "`[receiver/hostmetrics/pagingscraper]`: remove `direction` attribute"

[2022-06-29 17:33] codeboten opened #11819 "`[receiver/hostmetrics/processscraper]`: remove `direction` attribute"

[2022-06-29 19:09] TylerHelmuth commented on #11810
@Mrod1598 the metrics context allows accessing (Get and Set) of a scalar value using `value_double` and `value_int`.  You can update a NumberDataPoint's value using set.  I added this test locally in `metrics/processor_test.go` and it passed

[code]

[2022-06-29 19:25] TylerHelmuth opened #11823 "[processor/transform] Add ability to delete entries from a map."
**Is your feature request related to a problem? Please describe.**
The transform processor has no way to delete entries from a map.  If an attribute needs to be delete the only solution right now is `keep_keys`, which is unrealistic.

**Describe the solution you'd like**
Add a `delete_key` and `delete_all_matching_keys` functions.

**Additional context**
[Deleting capability is outlined in the pro

[2022-06-29 21:35] Mrod1598 commented on #11810
Got it thanks! is that documented somewhere that I missed?

[2022-06-29 22:07] TylerHelmuth commented on #11810
I think this is an instance where the README's statement of "everything can be accessed using the OTLP protobuf names" isn't completely honest.  To handle how pdata represents the protobuf's requirements of value for NumberDataPoint the TQL had to make up a accessor and `value_double` and `value_int` were chosen.  There are some other scenarios like that that should be improved in the README.  In

[2022-06-29 22:09] TylerHelmuth commented on #11810
I think we need a new Factory function that lets you cast to a Int.  then we could do

[code]

[2022-06-30 00:51] newly12 commented on #9998
We also observed memory leak from prometheus receiver. For example, following dashboard is for one instance that's pulling the kube state metrics for a k8s cluster, metrics pipeline are configured as this

[code]

![image](https://user-images.githubusercontent.com/14903757/176569581-6fb008a7-4f6f-4492-a9d8-d1000369b726.png)

here are the heap profiles taken for running for 6 hours and ~1day.

<img

[2022-06-30 07:06] alanhe opened #11827 "Loki Exporter - lokiexporter.convertLogBodyToEntry fails to quote value when there are whitespace characters"
**Describe the bug**
For the unit test: https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/exporter/lokiexporter/exporter_test.go#L294-L308,

If I replace line 301,
[code]
with
[code]

Then, it converts to:
[code]

When running the LogQL, `{...} | logfmt`, Loki is not able to treat `new world` as a unit.

**What did you expect to see?**
I think `new world` should be quoted

[2022-06-30 08:37] matianjun1 opened #11829 "[internal/coreinternal/processor/filterset/regexp] LRU cache is not safe for concurrent access"
**Describe the bug**
The processor/filterprocessor with a regexp cache may happens to `fatal error: concurrent map read and map write`

**Steps to reproduce**
Concurrent to filter metrics by filterprocessor with a regexp and a lru cache

**What did you expect to see?**
concurrent safe to use regexp filterset with a lru cache

**What did you see instead?**
[code]

**What version did you use?**
Vers

[2022-06-30 08:44] ag-ramachandran opened #11830 "New component - Azure Data Explorer"
## The purpose and use-cases of the new component

### Azure Data Explorer Exporter

This exporter sends metrics, logs and trace data to [Azure Data Explorer](https://azure.microsoft.com/en-us/services/data-explorer/).

## Example configuration for the component

## Configuration

The following settings are required:

- `cluster_uri` (no default): The cluster name of the provisioned ADX cluster to

[2022-06-30 11:11] mx-psi commented on #11830
@ag-ramachandran are you a representative of Microsoft?

[2022-06-30 11:30] mx-psi opened #11836 "[exporter/datadog] Flaky TestTraceExporter"
**Describe the bug**

The `TestTraceExporter` is flaky.

**Steps to reproduce**

Be unlucky and hit this on CI :)

**What did you expect to see?**

Test pass reliably

**What did you see instead?**

Test sometimes fails depending on timing:

[code]

**Additional context**

@gbbr will work on solving this

[2022-06-30 12:22] gbbr commented on #11836
I can add a private config field once https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/11468 is merged, and that will allow me to control the test randomness much better.

[2022-06-30 15:06] mx-psi commented on #11830
Nothing else needed on that front, just someone that volunteers to maintain this (which could be you?). Also, if you don't have a sponsor the next one on the list should be @codeboten

[2022-06-30 15:17] ag-ramachandran commented on #11830
Thank you , we could create a DL for maintaining the component. For now it could be me.

[2022-06-30 16:42] TylerHelmuth commented on #10195
@kentquirk how are things coming along? Are you still able to work on this?

[2022-06-30 16:49] kentquirk commented on #10195
Yes. I apologize -- I had forgotten I was away all of last week. I expect to be able to work on it starting Friday.

[2022-06-30 16:49] djaglowski opened #11841 "[cmd/chloggen] Update CI process"
The process should work as follows:
- Require that CHANGELOG.md is unchanged
- Require one new `.yaml` file in `./unreleased/`
- Require zero modified, deleted, etc changes in `./unreleased/`
- Require that `make chlog-validate` passes
- Render the new release section of the changelog and run `markdown-link-check` against it (not a skippable step)
- If any of the above fail, explain where to read

[2022-06-30 16:52] djaglowski opened #11842 "[cmd/chloggen] Chore - migrate "Unreleased" section of CHANGELOG.md to yaml files"
This should happen after #11841 is in merged

[2022-06-30 16:56] djaglowski opened #11843 "[cmd/chloggen] Update release process to including generation of changelog updates"
The release process should include running `chloggen update -version v...` and committing the result.

[2022-06-30 17:08] djaglowski commented on #11539
Since this issue is the actual proposal, I want to call out another part of the process that I am suggesting here, which was included and discussed on the implementation PR (#11540).

In short, I suggested that we document issue #'s in the changelog, rather than PR #'s. This solves another painpoint in the process, where developers were required to open a PR, and push another commit to add the PR

[2022-06-30 17:09] #11426 closed

[2022-06-30 17:45] djaglowski opened #11844 "[pkg/stanza] Export fileconsumer package"
This package was recently isolated from the `file_input` operator, with the intent being that it would be useful functionality for other components, such as in #7840. The package was initialized as an internal package so that some additional refactoring could take place before exporting it. That refactoring has been completed and the package should now be exported.

[2022-06-30 18:22] curlyromania opened #11846 "azure eventhub kafka exporter"
Hi,

I am trying to configure the otel-collector in k8s to export to azure eventhub which is kafka enabled.

My configuration looks like this: (Azure requires the username to be exactly $ConnectionString so starting with $ sign)

******
    exporters:
      logging:
      kafka:
        brokers:
          - eventhub-namespace.servicebus.windows.net:9093
        auth:
          sasl:

[2022-06-30 19:44] #11817 closed

[2022-06-30 21:13] TylerHelmuth commented on #11549
@jpkrohling would the tailsampling processor handle this?  The transform processor is decidedly not going to do any transformations that require state.

[2022-06-30 21:20] TylerHelmuth commented on #11790
I think the transform processor could be updated to handle this. I am not very familiar with the filelog receiver or the logs-collection library, where does the `flag` field end up?  Is it an attribute of the LogRecord?  If `flag` is an attribute, is the goal to transform the attribute's value from `"A|B|C"` to `["A", "B", "C"]`?

[2022-06-30 21:22] TylerHelmuth commented on #11790
@djaglowski would a better place for this be right in the logs-collection package?

[2022-06-30 21:27] djaglowski commented on #11790
I believe you can already do this with the `csv_parser` but setting a custom `delimiter`. Docs are [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/pkg/stanza/docs/operators/csv_parser.md#configuration-fields).

[2022-06-30 21:32] TylerHelmuth commented on #11792
Pinging @boostchicken @pmm-sumo as code owners

[2022-06-30 21:36] TylerHelmuth commented on #10290
We decided to continue to allow the transform processor to modify metrics in ways that could be potentially dangerous.  To warn users of the potential risk we have added a new [Warnings Section to the README](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/11052).  Other components in the collector have similar risks, so this Warnings section may become a standard in our new

[2022-06-30 21:36] #10290 closed

[2022-06-30 21:37] TylerHelmuth commented on #10116
@codeboten should we update this issue to include the [Warning Section](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/11052) situation?

[2022-06-30 22:12] TylerHelmuth commented on #10139
With the plan to move the contexts to their own packages (#11751), for now I think its best if each context handled its entire context on its own.  This will keep the contexts completely independent from one another.

[2022-06-30 22:12] #10139 closed

[2022-06-30 22:12] #11118 closed

[2022-06-30 22:23] TylerHelmuth opened #11852 "[processor/transform] Add option to define OTTL with declarative syntax"
**Is your feature request related to a problem? Please describe.**
  Currently the only way to interact with the OpenTelemetry Transformation Language is to use the language's SQL-style syntax:

[code]

This works great for the transform processor since it is a new component with no new users and no existing patterns, but for other components this may be a barrier of entry.

With the OTTL being mo

[2022-06-30 22:23] TylerHelmuth commented on #11852
@anuraaga any thoughts?

[2022-06-30 22:49] davidmirza408 commented on #8976
Another possible solution is to include uptime in the metrics so that it can be filtered out by a processor if needed.  Please advise as to what is the preferable solution to this.

[2022-06-30 23:06] dmitryax commented on #8976
I don't see a clean and safe way to include uptime in the metric. Adding it as an attribute will result in a new timeseries per each datapoint unless the attribute is removed

Let's add this as a configuration parameter for the receiver. Please suggest the configuration interface in this issue.

[2022-06-30 23:29] dmitryax commented on #8976
Maybe...
[code]

[2022-06-30 23:58] newly12 commented on #11790
Thanks.

yes.

@djaglowski while looking at the `csv_parser` doc, it appears header or header_attribute must be set to get key value pairs, it looks like it has to be fixed total elements? for example, it seems not work if given few lines of the log to be something like
[code]
please correct me if anything.

[2022-07-01 00:48] #9571 closed

[2022-07-01 05:48] dmitryax commented on #10115
@clouedoc @gouthamve do we still need any doc updates to highlight this config option or the ticket can be closed?

[2022-07-01 09:32] klubi opened #11859 "[processor/transform] Unable to rename operation field"
Hi

I'm having an issue renaming operation field.
My simplified environment setup:

[code]

API Gateway sends data in Zipkin format.
In my setup, there are plenty of subdomains and I'd like operation related field to be more generic, so in jaeger they won't be listed as separate operations, but rather be grouped.

I tried using `transform` processor, but wasn't able to make it work...

[code]

[2022-07-01 10:02] clouedoc commented on #10115
Hello @dmitryax, I proposed a doc update via #11860.

[2022-07-01 10:20] mx-psi commented on #11859
cc @TylerHelmuth maybe you can help?

[2022-07-01 11:31] balintzs commented on #7128
We are seeing the same issue. We expect metrics with delta temporality to move the start timestamp forward as metrics are emitted. However, when we send our metrics to New Relic, they are being logged at the timestamp of when the collector started at `t0` (see [docs](https://docs.newrelic.com/docs/more-integrations/open-source-telemetry-integrations/opentelemetry/best-practices/opentelemetry-best-

[2022-07-01 11:57] #11841 closed

[2022-07-01 12:36] djaglowski opened #11863 "[cmd/chloggen] Support arbitrary subtext"
Changelog entries sometimes warrant extended documentation. Examples:

[code]

[code]

In these cases, the first line of text conforms to the typical pattern, so we just need a way to specify arbitrary additional lines of text.

Adding an optional `subtext` field would enable this. The comment in the template will make it clear that these lines will be inserted directly under the primary entry tex

[2022-07-01 12:50] nlamirault commented on #10358
Nice feature ! With this one we could use the whole Prometheus Operator stack and OpenTelemetry together.

[2022-07-01 14:21] TylerHelmuth commented on #11859
@klubi the `replace_match` function will substitute the entire string value with the replacement value if the value matches the glob pattern.  So if your string is `something.domain.com` then the value after your `repalce_match` will be exactly `.{subdomain}.domain.com`.  If you wanted to only replace the part that matches you should use `replace_pattern`.  The results of `replace_pattern` would b

[2022-07-01 14:28] klubi commented on #11859
I'm on latest versions of collector and jaeger.

I can setup docker-compose example over weekend to demonstrate the issue.

But i guess my question boils down to: "how to reference and alter field used by jaeger to display operation name".
Using "name" and "operationName" was just a guess from my side".

[2022-07-01 14:33] ItsLastDay commented on #8276
I report the same issue in https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/11780, with more technical details (e.g. explaining why initially HC serves status 500, but after a minute revert to 200).

[2022-07-01 14:33] TylerHelmuth commented on #11859
I'm not familiar with jaeger so I won't be much help with the data once it is there.

For debugging the collector, though, enabling a logging exporter with logLevel set to Debug is a very useful way to inspect the data that would get exported to a backend.  With the configuration you posted, assuming the transform processor is also added to the traces pipeline, I would expect it to be modifying al

[2022-07-01 14:38] TylerHelmuth commented on #11782
pinging @albertteoh as code owner

[2022-07-01 14:55] pmm-sumo commented on #11792
Filter processor is very simple and if something cannot be expressed by re2, I think it won't be able to solve this one. However, you can consider extracting the post-prefix attribute part and then making filtering decision on it. This could be achieved via `extract` of `attributesprocessor` and perhaps also through [transformprocessor](https://github.com/open-telemetry/opentelemetry-collector-con

[2022-07-01 15:06] TylerHelmuth commented on #11859
Yes, you can do

[code]

[2022-07-01 15:10] klubi commented on #11859
Perfect!! That worked like a charm!
Thanks a bunch.

[2022-07-01 15:14] #11859 closed

[2022-07-01 16:01] mx-psi opened #11867 "Use OpenTelemetry Collector Builder for local and CI builds"
We currently rely on a custom [main.go](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/cmd/otelcontribcol/main.go) file to make Collector builds on CI and locally (if someone e.g. runs `make otelcontribcol`).

For consistency with the core repository we could keep a manifest and use the [OpenTelemetry Collector Builder](https://github.com/open-telemetry/opentelemetry-c

[2022-07-01 17:18] TylerHelmuth commented on #11829
pinging @boostchicken @pmm-sumo as code owners of the filterprocessor

[2022-07-01 17:21] TylerHelmuth commented on #11827
pinging @gramidt @jpkrohling as code owners

[2022-07-01 17:26] TylerHelmuth commented on #11791
pinging @jrcamp @pmm-sumo @Aneurysm9 @dashpole as code owners

[2022-07-01 17:28] TylerHelmuth commented on #11789
@MovieStoreGuy you can be a code owner for this receiver if it is accepted but you will also need a sponsor from [this list.](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/CONTRIBUTING.md#rotating-sponsors)

[2022-07-01 17:51] douglasbgray opened #11870 "[exporter/prometheusexporter] Support for delta metrics from multiple sources"
**Is your feature request related to a problem? Please describe.**

I would like to support exporting metrics sent by mobile devices. I am unable to use cumulative metrics because there are millions of devices sending metrics, and each metric would need to be labelled by device ID to avoid contention. This is not scalable. I need to use delta metrics.

This PR mostly has the feature I need, but it

[2022-07-01 17:53] TylerHelmuth commented on #11752
pinging @urso @faec @blakerouse as code owners

[2022-07-01 17:55] TylerHelmuth commented on #11563
pinging @djaglowski @antonblock as code owners

[2022-07-01 17:55] TylerHelmuth commented on #11558
pinging @hanjm @dmitryax as code owners

[2022-07-01 18:15] dyladan commented on #11846
@curlyromania try using double dollar signs like `"$$ConnectionString"`. The dollar sign is used to expand environment variables in configs.

@TylerHelmuth this is not specific to the kafka exporter but best I can tell this is an undocumented feature. Code for the `$$` escaping here https://github.com/open-telemetry/opentelemetry-collector/blob/0bc2777111d1f9b385d4776742c5cf5acc8fb3c1/config/inter

[2022-07-01 18:15] djaglowski commented on #11563
Is it necessary to keep the original client?

[2022-07-01 18:33] davidgargti20 commented on #11770
@dmitryax should I simply implement or need to give some proposal or something here

[2022-07-01 18:39] antonblock commented on #11563
Yeah I'm also not sure if the `metricsBuilder` is safe with Goroutines, which is why I didn't try to fanout with goroutines.

I don't see an issue with this, but like @djaglowski I'm wondering if this could simply replace the current client?

[2022-07-01 18:43] gyliu513 opened #11873 "The build was hard code to amd64 for docker build"
**Describe the bug**
A clear and concise description of what the bug is.

After I run `make docker-otelcontribcol` on my mac, I found the binary name was `otelcontribcol_linux_amd64`, seems the makefile is hardcoding the GOARCH as amd64 https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/Makefile#L241 , any reason why? Thanks!

**Steps to reproduce**
If possible, provide a

[2022-07-01 19:23] #10115 closed

[2022-07-01 19:23] dmitryax commented on #10115
Thanks @clouedoc

[2022-07-01 19:27] dmitryax commented on #10358
We are still looking for contributors to implement this. @nlamirault @carlosjgp let us know if you are interested in doing it

[2022-07-01 19:44] blakeromano opened #11875 "Otel unable to recieve data with Istio Service Mesh from instrumentated services"
I am trying to get the Open Telemetry Collector to recieve traces for a Node Express application, I added debug logging on and I see the following error. This is on a kubernetes cluster with an Istio service mesh. I have attempted to use the 4317 and 4318 ports but I continually see the same errors and no data going to the otel collector.
[code]
and this in the istio proxy log
[code]
I have tried

[2022-07-01 19:49] dmitryax commented on #11558
@gokulkrish21 can you please provide more details about the InfluxDB Line Protocol format.

Also feel free to suggest an approach and configuration interface first. I don't think this issue will be taken by someone else. So you need to start proposing and implementing it yourself if you need it.

[2022-07-01 19:55] dmitryax commented on #11770
I believe you need to start with adding logs support to https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/tailsamplingprocessor. Feel free to start with submitting another issue with detailed proposal for that change

[2022-07-01 20:34] davidgargti20 commented on #11770
@dmitryax I currently just have idea in which I can have implemented one two policies of tailsamplingprocessor for logs. I would love some help from your side.

[2022-07-01 20:43] dmitryax commented on #11770
@davidgargti20 I can help with reviewing your PRs

[2022-07-01 20:47] davidgargti20 commented on #11770
@dmitryax that would be a great help too thanks

[2022-07-01 21:52] davidmirza408 commented on #8976
I like scrape_process_delay: 0s.  I can do the implementation for this issue

[2022-07-01 23:56] dwelch-spike commented on #11563
@djaglowski @antonblock I ended up pretty much replacing the client like you mentioned.

[2022-07-02 01:13] JaredTan95 commented on #9786
@forest003 This is caused by skywalking traceid convert to otlp trace id bug. with https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/11562 fixed. You can try it again.

As latest result as follows:

- otelcol-configs:
[code]

- jaeger ui shows:
<img width="1425" alt="image" src="https://user-images.githubusercontent.com/12468337/176981206-03c4f235-5d72-4dcb-bd4a-699e6ad33aa6.p

[2022-07-02 08:43] hanjm commented on #11558
OpenTelemetry exporter amis to export Opentelemetry Line Protocol, not for InfluxDB Line Protocol format directly. You need to use [influxdb receiver](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/influxdbreceiver) component to convert to OTLP firstly.

[2022-07-02 12:59] GrahamLea commented on #2835
Hi @pdelewski.

I'm interested in the work you're doing here on the S3 exporter.
I'm wondering if you could help me understand a small detail. (I checked your README and couldn't find the answer.)

Considering that an OTel trace exporter is usually receiving batches of `ResourceSpan`s (I think?), not correlated traces, does your S3 exporter do anything in the way it stores telemetry to attempt to

[2022-07-02 13:17] GrahamLea commented on #2835
Re: correlation question ☝️, I think I found the answer in the code. It looks like the S3 key is partly based on the current time when the Object is written to S3. I guess that would mean related spans _may_ share a folder, if saved at around the same time, but may not, and there's no attempt at traceId-based correlation that I could see.

https://github.com/pdelewski/s3-exporter/blob/df7ffe6ecc73

[2022-07-02 18:14] #11842 closed

[2022-07-02 18:28] dmitryax opened #11881 "[pkg/stanza] Flaky Windows test - TestEncodings"
Seen in https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7163631539?check_suite_focus=true

[code]

[2022-07-03 04:22] albertteoh commented on #11784
Thanks for reporting this @jack-berg (and for the ping @TylerHelmuth 😄 ).

I've created the following PR to address this bug. I hope I've understood the bug correctly; please let me know if not: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/11884.

[2022-07-03 13:51] fatsheep9146 commented on #7180
Can you share your configuration file ? @kevinat

[2022-07-04 01:38] fatsheep9146 commented on #9749
@mx-psi add processors part are resolved.

[2022-07-04 02:30] matianjun1 commented on #11829
@TylerHelmuth The problem seems to be `internal/coreinternal/processor/filterset/regexp` used a package `github.com/golang/groupcache/lru.Cache` which is not concurrent safe

[2022-07-04 03:34] davidgargti20 commented on #11770
@dmitryax I am looking to add support of logs to groupbytrace processor as it solves the purpose of mine.

[2022-07-04 04:07] dmitryax commented on #11770
What purpose? Don't you need sampling?

[2022-07-04 05:38] sumo-drosiek opened #11886 "Supports pattern for delete and hash attractions"
**Is your feature request related to a problem? Please describe.**
I cannot use regexes to remove attributes

**Describe the solution you'd like**
I would like to use regexes to remove attributes

**Describe alternatives you've considered**
I don't really see any alternatives

**Additional context**
N/A

[2022-07-04 05:39] sumo-drosiek commented on #11886
Solved by #10822

[2022-07-04 06:02] deepto98 commented on #11867
Can I pick this up?

[2022-07-04 06:03] deepto98 commented on #11810
Can I pick this up?

[2022-07-04 06:12] davidgargti20 commented on #11770
@dmitryax groupbytrace solves the major sampling task of grouping. After grouping I can just use filter processor for sampling that's why i consider It's better to have groupbbytrace support for logs.

[2022-07-04 06:57] pdelewski commented on #2835
Yes, You are correct. I'm not doing correlation right now except writing them to folder according to time. The idea was to start with something small and get some feedback for user needs and improvements

[2022-07-04 07:45] #11886 closed

[2022-07-04 08:27] mx-psi commented on #9749
Thanks, I have tried to update the list with the components that have been addressed so far :)

[2022-07-04 09:29] mx-psi opened #11887 "[cmd/chloggen] `make chlog-new` doesn't work if branch name has '/'"
**Describe the bug**

The `make chlog-new` task does not work if running on a branch that has a `/` on it.

**Steps to reproduce**

Create a new branch with a `/` on it:

[code]

Run `make chlog-new`

**What did you expect to see?**

A new file is created under the `unreleased` folder

**What did you see instead?**

[code]

**What version did you use?**

Reproducible as of 9a4ab07e8a6f4a7f755ea57b

[2022-07-04 10:42] amoscatelli commented on #11782
I confirm the issue is related to the using of AGGREGATION_TEMPORALITY_DELTA.
If I use CUMULATIVE I can see metrics on prometheus :

![image](https://user-images.githubusercontent.com/16684470/177138826-af3a466f-43f1-4eb9-8df2-019bcc6f154a.png)

[2022-07-04 11:03] davidgargti20 opened #11888 "Longer traces does not get sampled using tailsamplingprocessor"
While using tailsamplingprocessor longer traces get sampled this may be due to decision_wait . Does traces have something that indicate that trace has ended we can use that instead of decision wait and persist traces unless trace is ended.

[2022-07-04 12:12] bogdanov1609 commented on #10186
@dmitryax friendly reminder

[2022-07-04 12:18] balintzs commented on #7128
@albertteoh, could you help out on this one as well?

[2022-07-04 14:05] TylerHelmuth commented on #11810
@deepto98 It's yours

[2022-07-04 16:23] mx-psi opened #11893 "[exporter/datadog] Incorrect preview hostname on GKE"
**Describe the bug**

The hostname on Google Kubernetes Engine when using the `exporter.datadog.hostname.preview` feature gate should be the same as in Google Cloud Engine VMs, but it is the Kubernetes hostname. This causes the hostname to not match the one reported by other Datadog products in Google Cloud.

**Steps to reproduce**

Run the OpenTelemetry Collector with the Datadog exporter on a GK

[2022-07-04 17:26] a06953 opened #11895 "[exporter/loki] Getting error message ->"error": "Permanent error: failed to transform logs into Loki log streams""
**Describe the bug**
I am trying to use the **Loki exporter** along with the **windowseventlog** receiver to capture the system logs of a windows VM on Grafana. But while running the \cmd\otelcontribcol\main.exe, I am getting the error message {"error": "Permanent error: failed to transform logs into Loki log streams"}. I am also logging it in in a json file and able to view the logs over there

*

[2022-07-04 17:26] pmm-sumo commented on #11888
Trace is constituted out of collection of spans which have parent-child relationship. There is currently no mechanism to tell that span has no children other than simply not observing those. One of the purposes of `decision_wait` is to collect enough "evidence" before making a decision. Also, currently there is no mechanism in tailsamplingprocessor to make decision earlier on some condition (howev

[2022-07-04 17:34] pmm-sumo commented on #11829
I think we could switch to `github.com/hashicorp/golang-lru` (which is also used by many other components) which as I understand is [using locks and is threadsafe](https://github.com/hashicorp/golang-lru/blob/master/doc.go#L19-L20)

[2022-07-04 17:34] gouthamve commented on #11870
Hi, this looks like a violation of the "Single Writer" principle: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/data-model.md#single-writer

Having said that, I do see the validity of the use-case, and I am not sure how to deal with it.

[2022-07-04 22:39] dmitryax commented on #11770
How will you filter grouped logs with filter attribute? It doesn't support filtering by trace ID.

[2022-07-04 23:07] dmitryax commented on #10186
Hey @bogdanov1609 unfortunately I don't have time to work on this at point. May be will take it in August. If you are interested, feel free to submit a PR.

[2022-07-05 00:13] newly12 commented on #11790
@djaglowski thanks for confirmation.

An open question, does it make sense to have this as an operator in `filelog` receiver, or will such use case be general enough to be built in `transform` processor, but I am guessing just `logs` telemetry data will have such case like this?

[2022-07-05 00:15] #4309 closed

[2022-07-05 02:27] JaredTan95 opened #12069 "[exporter/elasticsearch] support sending otlp tracing to Elasticsearch"
**Is your feature request related to a problem? Please describe.**
elasticsearch is a commonly used text retrieval engine, so many users will choose elasticsearch as storage for their tracing systems. So, elasticsearch exporter's ability to support traces exports will be more convenient.

[2022-07-05 05:01] davidgargti20 opened #12072 "Unable to export logs using google cloud exporter"
While sending logs to google cloud platform using google cloud exporter the exporter stops sending logs after few time. This generally happens with a memory spike. I am still able to see logs using the logging exporter.

the unusal thing that I noticed in logs is
``` info	zapgrpc/zapgrpc.go:174	[transport] transport: loopyWriter.run returning. connection error: desc = "transport is closing"	{"grpc

[2022-07-05 05:03] davidgargti20 commented on #11770
@dmitryax I have added traceId to attributes using the transform processor.

[2022-07-05 05:26] dmitryax commented on #11770
To the log record attributes or resource attributes?

[2022-07-05 05:54] alexvanboxel commented on #1802
This was released in v0.53

[2022-07-05 05:54] #1802 closed

[2022-07-05 05:55] davidgargti20 commented on #11770
@dmitryax  to the log record attributes and then grouping them using groupbyattrs

[2022-07-05 05:55] alexvanboxel commented on #11073
@hex1848 can we close this? I can't reproduce your issue.

[2022-07-05 08:10] CatalinAdlerDF commented on #2835
Would be nice if this would also cover logs export to object storage.

[2022-07-05 10:50] joaopgrassi opened #12077 "[processor/resourceprocessor] Missing link to Attributes Processor in the documentation"
The documentation for [Resource Processor](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/processor/resourceprocessor/README.md) says to read the Attributes Processor for more details on how to use them together, but there's no actual link readers can click to open it. Instead, readers have to manually look for the file.

**Describe the solution you'd like**
There's an

[2022-07-05 11:59] jpkrohling commented on #10832
I'm aware of a potential minimal leak I found while putting this under extreme pressure. Unfortunately, I wasn't able to find the cause of this potential leak. Despite that, I think we can indeed move it to stable, as I'm aware of people using it in production and haven't experienced this potential problem.

[2022-07-05 12:17] marcusjsford opened #12078 "[exporter/influxdb] Allow overriding of Measurename when using telegraf-prometheus-v2 in the Influxdb Exporter."
I would like to stream OTLP metrics to Influxdb in `metrics_schema: telegraf-prometheus-v2` format. Unfortunately the measurement name is hardcoded to "prometheus". https://github.com/influxdata/influxdb-observability/blob/main/common/common.go#L18.  And so has a single measurement written to influx.

**Describe the solution you'd like**
I would like to be able to override the measurement name wit

[2022-07-05 12:17] gouthamve opened #12079 "[exp/prometheusremotewrite] Exporting "target" instead of "target_info""
**Describe the bug**

When pushing data through Prometheus Remote Write, we should expose the Resource Attributes using the `target_info` metric, but we are currently pushing a `target` metric.

**Steps to reproduce**
Run a simple collector deployment with the following config:
[code]

**What did you expect to see?**
`target_info` in Prometheus.

**What did you see instead?**
`target`

**What vers

[2022-07-05 13:08] djaglowski commented on #11790
The long term plan is to re-implement all log parsing and transformation capabilities in the transform processor, so I think it makes sense to add this functionality directly there.

[2022-07-05 14:20] pdelewski commented on #2835
@CatalinAdlerDF object storage is out of scope for now. Regarding path scheme, currently logs as well as traces will land in the same location (metrics are out of scope for now). We can consider splitting content to different locations

[2022-07-05 14:43] JKashyap96 opened #12082 "New component: receiver/mysqlrecordsreceiver"
## The purpose and use-cases of the new component
This receiver queries MySQL for database records and creates a log record for each database record.
## Use Cases
### 'BasicAuth' Password Authentication Mode Use Case:
- The receiver supports basic username and password authentication for a database user
### 'BasicAuth' Password Encryption Use Case:
- The receiver supports password encryption for '

[2022-07-05 14:49] antonblock opened #12083 "[receiver/aerospikereceiver] Typo in metric name, not being collected"
**Describe the bug**
Aerospike metric `aeropsike.namespace.transaction.count` should be `aerospike.namespace.transaction.count`. Additionally,

**Steps to reproduce**
Run collection on a typical Aerospike system

**What did you expect to see?**
Correctly named metrics about transactions on namespaces

**What did you see instead?**
Mislabeled and not collected metrics

**What version did you use?**

[2022-07-05 14:50] swiatekm-sumo opened #12084 "[receiver/filelog] Log lines are reordered during file rotation"
**Describe the bug**
When a file is rotated, filelog receiver may read lines from the new file before exhausting the old one, leading to log lines being reordered. This is a problem especially when using recombine to stitch multipart or multiline logs back together.

**Steps to reproduce**
Set a large interval length (5s for example), then rotate a file close to the end of it.

**What did you expe

[2022-07-05 15:00] #11893 closed

[2022-07-05 15:13] dmitryax commented on #11770
cool, why do you need `groupbytrace` then if you can use `groupbyattrs` instead?

[2022-07-05 15:28] davidgargti20 commented on #11770
@dmitryax because groupbyattrs doesn't wait for traces like groupbytrace does

[2022-07-05 15:47] dmitryax commented on #11770
I see. ok, sounds reasonable

[2022-07-05 16:15] #12077 closed

[2022-07-05 16:20] joaopgrassi opened #12087 "Define which type of changes require the addition of a changelog entry"
**Is your feature request related to a problem? Please describe.**

When sending a contribution, it's not clear which type of change requires the addition of a changelog entry. In `CONTRIBUTING` there is no mention of when/when not one is required, just that one is needed.

**Describe the solution you'd like**
Maybe in `CONTRIBUTING` we can give some guidance on when a changelog entry is necessary

[2022-07-05 16:27] swiatekm-sumo commented on #12084
Fixed in #11889

[2022-07-05 16:27] #12084 closed

[2022-07-05 16:34] jpkrohling commented on #3121
@itaykat, if you didn't have an answer yet, it might be better to open a new issue with your question. I'll then tag the Kafka exporter code owners.

@otaviocarvalho, do you have an status on this one?

[2022-07-05 16:34] codeboten commented on #3665
@pcwiese please have a look

[2022-07-05 16:34] codeboten commented on #1647
@pcwiese please have a look

[2022-07-05 16:40] codeboten commented on #12078
@marcusjsford there is an input plugin for OTLP to telegraf: https://github.com/influxdata/telegraf/tree/master/plugins/inputs/opentelemetry, will that work for your purpose?

Regarding the original issue, pinging @jacobmarble

[2022-07-05 16:41] douglasbgray commented on #11870
Yes, it would be a violation of the single writer principle. What I have done in the past is

1. Custom REST servlet and payload ->
2. Kafka ->
3. Flink (performs aggregation) ->
4. Metrics storage.

I was trying to see if I could use OTEL to eliminate most of that infrastructure.

Besides the single writer violation, my other concern would be the scalability of the accumulator in the Prometheus e

[2022-07-05 17:38] codeboten commented on #11873
I think the docker make target is intended specifically to build a collector to run inside a container, `make otelcontribcol` is the target used to compile locally.

[2022-07-05 17:39] djaglowski commented on #12083
Closed by #12085

[2022-07-05 17:39] #12083 closed

[2022-07-05 18:06] #11863 closed

[2022-07-05 18:20] povilasv commented on #12079
Based on OTEL spec  https://opentelemetry.io/docs/reference/specification/metrics/datamodel/#resource-attributes-1

I believe the metric should named "target"?

Note the quotes around the word target?

[2022-07-05 18:26] gouthamve commented on #12079
Yes, but Info type metrics should have an `_info` appended to them according to OpenMetrics spec: https://github.com/OpenObservability/OpenMetrics/blob/main/specification/OpenMetrics.md#info-1

[2022-07-05 18:52] povilasv commented on #12079
Agree, I believe we need to fix the otel spec first before merging your change

[2022-07-05 18:59] djaglowski commented on #12087
I think the very high-level rule of thumb should be that a changelog entry is required when a change is "user-facing".

That said, we arguably have at least four groups who we might consider "users" of this repository:
1. Those who are consuming the telemetry emitted (directly or transitively) from the collector.
2. Those who are deploying or otherwise managing the collector executable.
3. Those w

[2022-07-05 19:15] djaglowski commented on #9800
I may have misunderstood, but when I looked into this I concluded that the proposal was dependent on AGPL licensed code.

Taking another look at [@mar4uk's draft PR](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/10109/files), I still reach the same conclusion, as it depends on packages from [`github.com/grafana/loki`](https://github.com/grafana/loki) which [appears to be l

[2022-07-05 19:19] #11818 closed

[2022-07-05 19:24] gyliu513 commented on #11873
Thanks @codeboten , but still have a question: why hardcoding docker build to amd64? With docker build, it should also support multi-arch as well.

[2022-07-05 19:25] jpkrohling commented on #10200
The load balancer was made with extensibility in mind. While the initial implementation had static members, an update to the component brought DNS lookups as an alternative resolver. Wouldn't gossip be a good third resolver, or do you anticipate deeper changes to the component?

[2022-07-05 19:29] jpkrohling commented on #10352
I'm closing this as there hasn't been any further feedback from @gr4vitonn. Feel free to reopen if you have new information.

[2022-07-05 19:29] #10352 closed

[2022-07-05 19:47] jpkrohling commented on #10467
@jsumners, how do you feel about sending a PR with the change?

[2022-07-05 19:51] jpkrohling commented on #10476
And's are supported, Or's aren't. I believe @mottibec talked about Or's in the past, but I don't remember from the top of my head why we don't have them.

[2022-07-05 19:53] jpkrohling commented on #10594
I think this is just a simple oversight, but I need more time to look into this.

[2022-07-05 20:02] jpkrohling commented on #11457
@dmitryax, did you have a chance to look at it? Should I add this to my queue?

[2022-07-05 20:02] #5838 closed

[2022-07-05 20:13] gouthamve commented on #12079
I think the OTEL Spec is correct already imo. The metric family for `target_info` is `target`.

Just that when exporting a metric called `target` of the `info` type in OpenMetrics, we should append `_info` to the end.

[2022-07-05 20:27] jpkrohling commented on #9998
First of all: when @Mario-Hofstaetter says there's a memory leak, I pay attention. I still have nightmares about https://github.com/jaegertracing/jaeger/issues/2638

Reading through this, I'm not sure yet there's a leak: apparently, the memory usage increases up to the threshold of the memory limiter, and stabilizes there. I have seen something similar in Jaeger in the past and found out that Go w

[2022-07-05 20:37] schmikei opened #12092 "[receiver/mongodb] TLS Settings Ignored in certain circumstances"
**Describe the bug**
Did some digging and noticed the alpha `receiver/mongodbreceiver` was checking for a non-nil error from `configtls.LoadTLSConfig()` before inputting into the `mongo-go-driver`

**Steps to reproduce**
Set up a mongodb 4.4 instance with these settings:

[code]

And the mongod logs indicate a problem from the client:
[code]

**What did you expect to see?**
Before:
[code]

After:

[2022-07-05 20:42] Mario-Hofstaetter commented on #9998
@jpkrohling sorry for letting this issue go stale.

From what I have seen so far, it does not entirely look like a memory leak, as memory usage does not increase indefinitely, or the memory limiter component is preventing the leak by its hard limit (?).

I have not yet tested prometheus in agent mode as "baseline" for memory usage for our metrics environment.

At the moment I barely have any time

[2022-07-05 20:45] codeboten commented on #11873
It's a good question, based on git blame it looks like the decision was made over 2 years ago. I'm not sure why

[2022-07-05 20:48] jpkrohling commented on #11827
This seems to be a good first issue. I'm adding this to my queue, but if someone wants to grab it, just do it.

[2022-07-05 20:49] djaglowski commented on #11539
Glad to hear it. I wanted to see it in action for a bit before we called it complete. Today I saw a couple PRs go through smoothly, so I think we can close this now.

[2022-07-05 20:52] jpkrohling commented on #11888
You said it all, @pmm-sumo. At most, we need to document this, as I just answered the same elsewhere, but there's nothing we can do in this case other than log a metric (which I think we are already doing).

[2022-07-05 20:58] jpkrohling commented on #11895
Would you be able to share the log file that is exported? I don't have a Windows machine available for testing, the output from the file exporter might help me reproduce the issue.

[2022-07-05 21:01] jpkrohling commented on #11770
Pinging @pmm-sumo, as he has more experience with the groupbyattrs. Wouldn't it work to just use the batch processor, followed by the groupbyattrs?

[2022-07-05 21:05] jpkrohling commented on #12087
Sounds quite right to me. Should this be added to the contribution guidelines?

[2022-07-05 22:03] dmitryax commented on #11457
@jpkrohling I don't have enough cycles to take a look into this this month. Feel free to take it if you can pick it up sooner

[2022-07-05 22:33] #11819 closed

[2022-07-05 22:38] codeboten opened #12095 "Add status header for kafka"

[2022-07-05 22:40] codeboten opened #12097 "Add status header for kubeletstats"

[2022-07-05 22:52] Aneurysm9 commented on #7955
We've investigated and found that the AWS SDK for Go does not refresh these credentials when they expire and instead treats them as static.  We are exploring options for improving the user experience when temporary shared credentials are used.

[2022-07-06 00:40] jamesmoessis commented on #11789
I am happy to become a code owner and review each PR. I'm not on that list though.

[2022-07-06 00:43] MovieStoreGuy commented on #11789
@bogdandrutu , @dmitryax ,

Would either you be interested in sponsoring this component?
It would be a good replacement for `collectd/chrony` receiver that was part of the SignalFx Smart Agent which is being deprecated.

[2022-07-06 01:04] #12097 closed

[2022-07-06 01:13] dmitryax commented on #11789
I can be the sponsor but I'm busy til August and unlikely be able to review big PRs.

[2022-07-06 01:35] dmitryax commented on #11815
@codeboten I'm not sure several feature gates for hostmetrics receiver provides a good user experience. Maybe we should have one feature gate for all host metrics with a single documentation?

Also I would like to have all of them aligned to the same release schedule. So if we cannot resolve https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/11816 by tomorrow's release, I wou

[2022-07-06 01:38] #10021 closed

[2022-07-06 02:24] dmitryax commented on #11789
I still cannot guarantee a quick review :) Use my sponsorship as a fallback if no one else is interested

[2022-07-06 02:50] #11843 closed

[2022-07-06 02:51] MovieStoreGuy commented on #11789
I may have had these ready...

[2022-07-06 03:11] newly12 commented on #11790
@djaglowski Thanks for the clarification. Was there any timeline at this point, if we'd like to contribute to some of the log parsing or transformation implementation in `transform` processor, any suggestion on how we should jump into this?

[2022-07-06 04:18] dmitryax commented on #11815
I will submit a PR for ^ by tomorrow

[2022-07-06 06:28] codeboten opened #12104 "Stability level undefined"
**Describe the bug**

With the current code in main, the following message is displayed for all components that are passing a stability level as an option to the factory.

[code]

This may surprise users upgrading to this version. Some ways we could mitigate this:
1. change the log level to debug (or not log at all) for `undefined` stability level, until the next release
2. apply a stability level

[2022-07-06 07:13] #12095 closed

[2022-07-06 07:17] CatalinAdlerDF commented on #11888
Do spans also miss having a `end` marker?

If so, how could this be achieved?
In practice we do know and control the boundaries of traces that we care about; can be inbound requests on the main load balancers, or who knows; to each its own.
Do you guys see a way to simulate the end marker, maybe observe something from a span event, or a log entry, to trigger the rules for the sampler?

[2022-07-06 07:35] #4986 closed

[2022-07-06 07:49] amoscatelli commented on #9018
We have the same issue, I have to reboot otel collector everyday ...

[2022-07-06 10:52] mx-psi commented on #11836
#11468 has been merged, this is now unblocked

[2022-07-06 10:59] marcusjsford commented on #12078
Thanks @codeboten, The renaming works as expected in that plugin but does not fully serve my purpose.

I apologise, I should have been more verbose with my requirement. I want to be able push metrics to kafka in OTLP format from many services and then consume the metrics and send them into influxdb in prometheus-v2 format.
Instead of having 50 services under a single "prometheus" measure i'd like

[2022-07-06 11:32] jpkrohling commented on #11457
I'll add this to my queue, which is already quite lengthy, so, I might not be able to work on it right away.

[2022-07-06 11:40] jpkrohling commented on #12104
Option 2 would be my preferred solution, but given that we have a release right around the corner, it might be safer to do option 1.

[2022-07-06 11:48] jpkrohling commented on #11888
There's no such thing as an "end" marker: service A might call parallel calls to service B and service C. So, neither spans from service B nor service C can contain this marker. There have been a few experiments and research around mapping traces (and their spans) as workflows defined in an external location. In that case, you could have a custom processor that compares the trace structure with th

[2022-07-06 11:53] CatalinAdlerDF commented on #11888
Must say it is weird.
If we consider a web app; the span boundaries are clear cut: the http request itself defines them.
In your example, i'd expect to be able to express that span_A start and end deterministically, and it has 2 child spans, span_B, span_C, that start and end deterministically respectively.

I think the nuance is `deterministic` and the benefit of a explicit marker is the flows it

[2022-07-06 12:34] pmm-sumo commented on #11888
@CatalinAdlerDF there are few more things

Even if you could use some sort of marker you have no guarantees on when all the spans will arrive to the collector (due to buffering and such). In effect, there would need to be a very strong assumption that a very specific number of spans is always anticipated to consider trace finished. I believe it is really a fairly narrow case that gives a little be

[2022-07-06 12:37] bilbof opened #12114 "[receiver/elasticapm] New component: Elastic APM Receiver"
## The purpose and use-cases of the new component

The Elastic APM receiver would receive [Elastic APM events](https://www.elastic.co/guide/en/apm/guide/current/api-events.html).

This was previously requested at https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/3002#issuecomment-821021777.

This would enable applications instrumented with an Elastic APM Agent to use other t

[2022-07-06 12:40] pmm-sumo commented on #11770
Interesting, moving the trace_id to attribute and then using batch + groupbyattrs would pretty much have the same outcome as groupbytrace processor. Good point @jpkrohling

[2022-07-06 12:47] pmm-sumo commented on #11531
I was just experimenting with it a bit but haven't used it extensively. I don't have any objections against setting the status to "beta"

[2022-07-06 12:48] gbbr commented on #11836
Thanks! Opened https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12115

[2022-07-06 13:31] #11887 closed

[2022-07-06 13:37] djaglowski commented on #11790
I don't believe there's any specific timeline yet. A contribution would likely be the fastest way.

@TylerHelmuth owns the `transformprocessor`, so I'd defer to him, but I think the next step would be to propose a specific function that would be added to that processor.

[2022-07-06 13:47] CatalinAdlerDF commented on #11888
I understand your perspective @jpkrohling but it still feels like the simple use case should be allowed, wo restoring to building custom processors: I have a web server, nothing more, i wanna take action when a trace ends.

To paint the complete picture, the business use case i and my whole org would like to have is: "log a trace if it has a failure"; this is mostly to control cost, bc most of the

[2022-07-06 13:49] djaglowski commented on #9800
Got it. I missed the carve outs. I see they are listed [here](https://github.com/grafana/loki/blob/main/LICENSING.md#apache-20) as well.

[2022-07-06 14:06] djaglowski commented on #12087
Sure, I'll make a PR.

[2022-07-06 14:15] schmikei opened #12117 "[receiver/mongodbatlas] cert generation points to wrong directory"
Ahh good catch, also noticed a typo in the Makefile or directory structure for mongodbatlas:

`receiver/mongodbatlasreceiver/testdata/alerts/certs` should be => `receiver/mongodbatlasreceiver/testdata/alerts/cert`

_Originally posted by @schmikei in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12093#discussion_r914874559_

Minor typo in Makefile for the directory of certs

[2022-07-06 14:24] tigrannajaryan commented on #12104
Let's go with option 1.

[2022-07-06 14:42] ItsLastDay commented on #11780
I digged deeper into this, and here are the issues I've found:

- exporter can only be healthchecked if it uses [obsreport](https://github.com/open-telemetry/opentelemetry-collector/blob/d63aea3c5ba214020b7602f4d46d168c7c0c6b92/internal/obsreportconfig/obsmetrics/obs_exporter.go). For example, this can be achieved by using [exporterhelper](https://github.com/open-telemetry/opentelemetry-collector/

[2022-07-06 15:22] dirceumaranhaopn opened #12120 "Statsd Receiver missing metric when one of the metrics tag has colon ( ":" ) in its value"
Statsd Receiver missing metric when one of the metrics tag has colon ( ":" ) in its value

It can be reproduced when publish a metric like this:
`echo "test.dnazareth.metric:42|c|#svc_addr:0.0.0.0:443" | nc -w 1 -u localhost 8125`

The expectation would be the metric go through and be publish

Instead, the metric would be considered not well parsed and got in this if statement
[code]

**What versi

[2022-07-06 16:14] tigrannajaryan commented on #12082
Quick comment on the state management: to persist the state make sure to use the existing `storage` extension concept: https://github.com/open-telemetry/opentelemetry-collector/tree/main/extension/experimental/storage

[2022-07-06 16:25] Aneurysm9 commented on #12114
Without commitment from Elastic to maintain this I think we would need a maintainer/approver to act as sponsor.

[2022-07-06 16:53] #12117 closed

[2022-07-06 16:59] dmitryax opened #12126 "[receiver\prometheus] Flaky Windows test TestEmptyLabelValues"
[code]

Seen in https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7218945997?check_suite_focus=true

[2022-07-06 17:20] #12087 closed

[2022-07-06 17:32] djaglowski opened #12127 "[Makefile] Target to delete coverage files"
**Is your feature request related to a problem? Please describe.**
Some make targets generate code coverage files. These files are git ignored, but they tend to stick around indefinitely.

I sometimes grep the repo directory and get a bunch of duplicate/false hits in these coverage files.

**Describe the solution you'd like**
I'd like a trivial way to clean these files up. I suggest adding a simpl

[2022-07-06 18:08] punya commented on #12072
I believe @damemi is already looking into this as part of https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/issues/449.

[2022-07-06 18:10] codeboten opened #12131 "Add status header for schema"

[2022-07-06 18:12] damemi commented on #12072
Yeah, as @punya mentioned I was hoping to get more details about this in the linked issue (@davidgargti20 are these related?)

@codeboten you can assign me, thanks

[2022-07-06 18:16] codeboten commented on #7837
This is done

[2022-07-06 18:16] #7837 closed

[2022-07-06 18:20] davidgargti20 commented on #12072
@damemi yes there are related

[2022-07-06 18:32] damemi commented on #12072
@davidgargti20 thanks for clarifying, we'll track this in the other repo since that's closer to the functionality.

[2022-07-06 18:33] djaglowski opened #12133 "[exporter/skywalking] Flaky test - TestSwExporter"
Observed here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7220219646?check_suite_focus=true#step:7:4595

[code]

[2022-07-06 18:50] #11881 closed

[2022-07-06 19:12] AkselAllas commented on #4758
I have a question though.

Is there a way of making loadbalancerexporter collector layer highly available to ensure no traces get lost due to downtime in availability? 🤔

[2022-07-06 20:39] crobert-1 opened #12137 "[receiver/sqlquery] Add Oracle DB Support"
**Is your feature request related to a problem? Please describe.**
There is currently no support in the collector to receiver Oracle DB metrics. This request is to support querying an Oracle DB instance to generate metrics.

**Describe the solution you'd like**
The solution would to simply add another driver to the existing sqlqueryreceiver.

**Describe alternatives you've considered**
The possibi

[2022-07-07 02:00] dmitryax commented on #11434
@TylerHelmuth Did we discuss use cases like and whether they should be part of transform processor during one of SIG meetings? I don't remember what was the decision.

[2022-07-07 02:51] datsabk commented on #11434
@TylerHelmuth How is the cumulative to delta processing working then? They have a tracker that tracks these values. I think we can do it similarly here.

I honestly feel it is not too much work to make this possible.

[2022-07-07 03:05] TylerHelmuth commented on #11790
@newly12 to add this functionality to the transform processor you would add a new function to the telemetry query language. I think the new function would be added generically (able to be used in all signals) and would convert a string attribute to an array of strings using a passed in delimiter. [Checkout the processor contributing guide if you'd like to add the functionality yourself](https://gi

[2022-07-07 03:10] Frapschen commented on #10982
I run the `make checklinks`,but don't get this error

[2022-07-07 03:16] TylerHelmuth commented on #11434
@datsabk The cumulativetodelta processor does exactly what you said; it tracks the incoming metrics to do the transformation. This makes it [stateful](https://github.com/open-telemetry/opentelemetry-collector/blob/main/docs/standard-warnings.md#statefulness) which isn't bad but is complicated. A deltatocumulative processor would be stateful in the same way.

I'm not saying a processor like that is

[2022-07-07 03:21] Frapschen commented on #10980
the line contain `https://ingest.us0.signalfx.com/v2/trace` has marked by ``, the error probably has resolved.

[2022-07-07 03:44] Frapschen commented on #10116
fluentbit extension's status header has added.

[2022-07-07 03:44] dmitryax commented on #11434
@datsabk if you need the this capability sooner, I'd probably suggest reusing existing https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/cumulativetodeltaprocessor. Later we can replace it with another processor that uses TQL as @TylerHelmuth mentioned.

cc @open-telemetry/collector-contrib-approvers and @TylerHelmuth as code owner

[2022-07-07 04:59] TylerHelmuth commented on #11434
Yes, reusing cumulativetodelta's logic would be the fastest solution. We could add the functionality to the existing processor as a config option but it would likely be hard for a user to discover. A temporality conversion processor could be created from the cumulativetodelta processor; it's core logic is going to need to be moved to a package anyways for the TQL. But might be nice just to start m

[2022-07-07 12:55] djaglowski opened #12149 "[CI] Changelog should compare to common ancestor"
Similar issue to #11442.

See [#12124(comment)](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12124#issuecomment-1176961447)

[2022-07-07 13:16] djaglowski commented on #12149
I was able to reproduce the issue locally by running the check commands against a branch that was created prior to the CHANGELOG.md being updated on main.

[code]

[2022-07-07 13:18] dirceumaranhaopn commented on #12120
Code was merged, and waiting for the release to close the issue.

[2022-07-07 13:50] djaglowski commented on #10982
Ok, I'll close this. Somehow my local setup produces some errors that others do not see, so it it likely a false positive. Thank you for checking.

[2022-07-07 15:39] mx-psi opened #12160 "[exporter/datadog] Improve logs related to source provider"
Some logs related to `exporter.datadog.hostname.preview` are confusing:

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/32e7175248e4e1a8392484188c1fc6e2d3bf06fa/exporter/datadogexporter/internal/metadata/provider/provider.go#L41

Here the provider name is logged twice, with the 'source' key. The provider should be under the 'provider' key and the actual source under the 'so

[2022-07-07 15:57] mike-kingsbury opened #12162 "rpm-package make target is broken in v0.55.0 release"
**Describe the bug**
rpm-package make target is broken in v0.55.0 release.

**Steps to reproduce**
```make rpm-package```

**What did you expect to see?**
A generated RPM pacakge.

**What did you see instead?**

[code]

**What version did you use?**
v0.55.0

**What config did you use?**
Config: (e.g. the yaml config file)
default.

**Environment**
Fedora 36

**Additional context**
n/a

[2022-07-07 16:52] hardproblems commented on #11434
@TylerHelmuth since we need it rather soon, our best course in the short term to would be 1. contribute to the existing cumulativetodelta processor  or 2. implement something like this internally. Then after the stateful processor lands we can replace our usage with it?

[2022-07-07 16:59] djaglowski commented on #7572
Thanks for clarifying this @sfc-gh-rjenkins.

@open-telemetry/collector-contrib-approvers, any volunteers to sponsor this component?

[2022-07-07 17:00] #12149 closed

[2022-07-07 17:17] TylerHelmuth commented on #11434
@datsabk agreed, the tracker logic could be moved into either `pkg` so it could be reused.

[2022-07-07 17:32] codeboten opened #12165 "`[receiver/memcached]`: remove `direction` attribute"

[2022-07-07 18:49] falken opened #12168 "[exporter/prometheusremotewriteexporter] Go Panic when transmitting Histogram with no buckets"
While testing the sending of metric data through a pipeline of

Java Application -> Micrometer -> Micrometer Otlp -> Otel Collector Otlp receiver -> PrometheusRemoteWriter exporter

We found that one of the Histograms was incorrectly being sent, causing the remote write exporter to crash.

Our expectation was that this metric would be dropped.

Instead Collector crashes with a Go Panic. Because th

[2022-07-07 19:19] #12160 closed

[2022-07-07 20:49] dmitryax commented on #11815
Looks like https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12134 was prepared before https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12105 got merged. So we still have another kind of changelog race condition :)

I'll submit a PR to update the generated changelog and release notes

[2022-07-07 20:54] amoscatelli opened #12180 "[processor/jwtparser] Processor able to parse a Json Web Token from an attribute"
**Is your feature request related to a problem? Please describe.**
As far as I understand OTEL Collector already support OIDC Authentication :
https://github.com/open-telemetry/opentelemetry-collector/blob/36351380c02c2364250ce265565275de7cb7ac8c/config/configauth/README.md

But, It seems to me that simply parsing a standard oidc JWT token, only when present, is not supported.
I have many web appl

[2022-07-07 21:03] dmitryax commented on #11815
Submitted https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/11815#issuecomment-1178204310

[2022-07-07 21:20] keep94 opened #12173 "[tanzuobservabilityexporter] Enhance accuracy of exponential delta histograms when sending to wavefront"
Improve the way we handle translating exponential delta histograms to wavefront histograms.

[2022-07-07 21:30] dmitryax opened #12174 "[cmd/chloggen] Ensure changelog generation with release alignment"
Changelog generation is a one time operation which is not forced to be aligned with the release process. A PR to generate changelog can be prepared and merged with some delay during which we can get another merges.

One occurrence was fixed in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12171

[2022-07-07 21:30] dmitryax opened #14172 "[cmd/chloggen] Ensure changelog generation alignment with release"
Changelog generation is a one time operation which is not forced to be aligned with the release process. A PR to generate changelog can be prepared and merged with some delay during which we can get another merges.

One occurrence was fixed in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12171

[2022-07-07 21:34] dmitryax commented on #12174
I was thinking if we should make the procedure idempotent.

Instead of `/unreleased/`, we can have `/changelog/0.55.0/`, `/changelog/0.56.0/` etc with all the yaml files that are never removed. `cmd/chloggen` can be run as many times as needed, and CI can always validate `/changelog/**.yaml` files against `CHANGELOG.md` even on the main branch as a prerequisite step before the release.

@djaglowsk

[2022-07-07 21:40] dmitryax commented on #12174
I realized that this proposal ^ brings back the old problem when changed merged after the release goes to a wrong version.

[2022-07-08 01:01] olekgo opened #12175 "[googlemanagedprometheusexporter] Include resource labels"
**Is your feature request related to a problem? Please describe.**

In my use case, most of the labels are resource labels and they are ignored by the exporter, which leads to collisions  ( "duplicate timeseries enountered" errors).  I could be wrong, but I believe this issue is solved in prometheus and prometheusremotewrite exporters using [resourcetotelemetry](https://github.com/open-telemetry/o

[2022-07-08 02:27] #12127 closed

[2022-07-08 03:02] TylerHelmuth commented on #11772
@anuraaga are there any security risks with this concept?

[2022-07-08 03:15] TylerHelmuth commented on #11873
@gyliu513 Are you free to update the docker-otelcontribcol target to support more architectures?

[2022-07-08 03:29] anuraaga commented on #11772
@TylerHelmuth Naturally there wouldn't be anything if the wasm binary is trusted (e.g., a collector operator also builds the plugin) :)

For multi-tenant scenarios or anything where the wasm binary is not trusted, the wasm sandbox does not have any ability to access memory outside the sandbox directly. It calls into host-provided functions to operate on telemetry in a way controlled by the host. T

[2022-07-08 07:16] mx-psi commented on #11727
@Nighttraveler v0.55 is out and it includes #9693, it would be great if you can try it out and give us feedback :)

[2022-07-08 07:41] #12131 closed

[2022-07-08 07:59] sunnycalsoft opened #12178 "When using receiver as fileLog and exporter as otlp/elastic getting following error:-"
COnfiguration:-
receivers:
      filelog:
        include:
          - /path/varlogs/*.log
        start_at: beginning

exporters:
      logging:
        loglevel: debug
      otlp/elastic:
        endpoint: "http://ip:port"
        tls:
          insecure: true
          insecure_skip_verify: true

Error:-
error   exporterhelper/queued_retry.go:183      Exporting failed. The error is not retryabl

[2022-07-08 08:37] anuraaga commented on #11772
@TylerHelmuth Reworked POC to check host references passed from wasm, theoretically there is no risk of a wasm processor accessing data it should not have available to it, even in a multi-tenant scenario. As with any multi-tenant scenario, this does need proper verification :)

[2022-07-08 09:16] newly12 commented on #9998
I had [changes](https://github.com/open-telemetry/opentelemetry-collector-contrib/compare/main...newly12:opentelemetry-collector-contrib:prom_receiver_mem) to disable the [metrics adjuster](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/prometheusreceiver/internal/otlp_metrics_adjuster.go), the metrics adjuster basically sets the startTimestamp for metrics, in

[2022-07-08 09:19] Mario-Hofstaetter commented on #9998
@newly12 That's the memory usage of otelcol?! 👀
How many metric series are scraped on that instance?

[2022-07-08 09:24] newly12 commented on #9998
@Mario-Hofstaetter ~5M metrics, prometheus agent consumes ~25G memory as well.

[2022-07-08 10:56] boostchicken commented on #8551
I do believe you can already do this with the regexp matching type.  Please check the docs.

[2022-07-08 10:59] mx-psi commented on #6924
I think this can be closed after the introduction of chloggen, right?

[2022-07-08 11:45] boostchicken commented on #10887
Hey @thomasbaldwin give this a go https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12179

[2022-07-08 12:53] #6924 closed

[2022-07-08 13:05] djaglowski commented on #12174
Could we generate & commit the changelog automatically during a late step in the release process?

[2022-07-08 13:18] gyliu513 commented on #11873
@TylerHelmuth Yes, glad to help. Will fix early next week.

[2022-07-08 13:27] jpkrohling commented on #11531
Done in #12170

[2022-07-08 13:56] StefanSa commented on #7905
Hi there, @TomasLongo
thanks for this important exporter #10206.
General question about this OpenSearch exporter.
Which pipelines are supported ?
I hope to logs also metrics, because we want to send metrics to opensearch.

[2022-07-08 14:08] codeforaliving opened #12181 "Outbound HTTP Request Span Metrics Name is Too Generic"
**Describe the bug**
We are using the span metrics processor to generate metrics for trace spans.  Inbound HTTP requests are working as expected, but outbound/downstream HTTP requests are being sent with a name/operation that is just "HTTP {method}".  I would expect the name to have the url path and look similar to inbound HTTP request span metrics.

**Steps to reproduce**
Use auto-instrumentation

[2022-07-08 15:15] codeboten opened #12184 "`[receiver/zookeeper]`: remove `direction` attribute"

[2022-07-08 15:15] codeboten opened #12185 "`[receiver/vcenter]`: remove `direction` attribute"

[2022-07-08 15:15] codeboten opened #12186 "`[receiver/nsxt]`: remove `direction` attribute"

[2022-07-08 15:15] codeboten opened #12187 "`[receiver/mongodbatlas]`: remove `direction` attribute"

[2022-07-08 15:15] codeboten opened #12188 "`[receiver/iis]`: remove `direction` attribute"

[2022-07-08 15:15] codeboten opened #12189 "`[receiver/elasticsearch]`: remove `direction` attribute"

[2022-07-08 15:15] codeboten opened #12190 "`[receiver/bigip]`: remove `direction` attribute"

[2022-07-08 15:15] codeboten opened #12191 "`[receiver/activedirectoryds]`: remove `direction` attribute"

[2022-07-08 15:21] mx-psi commented on #7527
After internal discussion, while we agree that this can be confusing, we think the alternative is more confusing in other cases, where the user sets attributes with one name but sees a different one on the backend, so we don't have plans to fix this.

[2022-07-08 15:22] mx-psi commented on #7414
I am going to close this issue since the original problem was fixed. The feature request still remains and is tracked internally; if you want to track this publicly too please open a new issue for this, thanks!

[2022-07-08 15:25] mx-psi commented on #5261
AIUI this is a duplicate of #1909, so let's keep further discussion there. The default behavior can be overriden by using the `traces::span_name_as_resource_name` option https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/4d5ee4a1b9ec41b182cd4bd6990e3e26a6ebb535/exporter/datadogexporter/example/config.yaml#L217-L222

[2022-07-08 15:25] #5261 closed

[2022-07-08 15:32] TylerHelmuth opened #12193 "[processor/transform] The `set` function cannot set a field to `nil`"
**Describe the bug**
The Telemetry Query Language has the concept of `nil`, but the set function doesn't understand it.  You cannot do `set(attribute["test"], nil)`.  This is because of the [nil check in the set function](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/4d5ee4a1b9ec41b182cd4bd6990e3e26a6ebb535/processor/transformprocessor/internal/common/func_set.go#L20) and

[2022-07-08 15:33] djaglowski opened #12194 "[CI] changelog check falsely concludes that an entry was added"
Observed here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7254063803?check_suite_focus=true#step:6:14

[2022-07-08 15:42] codeboten opened #12196 "[chore] ping code owners when adding component label"
It would be awesome to automatically ping code owners or even assign issues to them when a component label is set on an issue/PR

[2022-07-08 16:16] #12194 closed

[2022-07-08 16:21] #11555 closed

[2022-07-08 16:58] zeitlinger commented on #11439
@dmitryax found the issue and submitted a PR

[2022-07-08 17:06] codeboten commented on #12181
@codeforaliving this is consistent with the opentelemetry semantic conventions, see https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/http.md#name.

[2022-07-08 17:08] codeboten commented on #12178
It looks like the problem is the backend doesn't support logging, could the endpoint be configured incorrectly?

[2022-07-08 17:10] codeboten commented on #12173
@keep94 can I assign this one to you?

[2022-07-08 17:16] TylerHelmuth commented on #11772
@anuraaga we'll discuss this component at the next SIG meeting

[2022-07-08 17:20] codeboten commented on #12120
@dirceumaranhaopn we close issues as the fixes for them are merged, closing this one. Thanks for the contribution!

[2022-07-08 17:20] #12120 closed

[2022-07-08 17:23] codeboten commented on #12104
This is fixed, closing

[2022-07-08 17:23] #12104 closed

[2022-07-08 17:27] newly12 commented on #11790
Thanks for the guidance! I will check and get back here.

[2022-07-08 17:28] codeboten commented on #12079
@Aneurysm9 please take a look at this issue

[2022-07-08 17:33] codeboten commented on #11830
Happy to sponsor 👍🏻

[2022-07-08 17:33] dmitryax commented on #12174
That's what I was thinking as well. Even if it cannot be merged, a PR can be triggered automatically right after a tag push similar to one we have for dependabot updates

[2022-07-08 18:23] #11531 closed

[2022-07-08 18:40] #12185 closed

[2022-07-08 19:23] githubsands opened #13398 "Collector w/ prometheus receiver on reports that scraping was succesful when there is no component to scrape"
**Describe the bug**
Collector w/ prometheus receiver reports metrics and that scraping is successful when component that is suppose to emit metrics does not exist
**Steps to reproduce**
Run collector with prometheus receiver with no active component
**What did you expect to see?**
No metrics being reported and logs that indicate that.
**What did you see instead?**
Scraped metrics and explicit sta

[2022-07-08 20:59] rlex opened #12200 "Fail to parse containerd time string"
**Describe the bug**
With logging enabled and loki exporter added otel-collector fails to parse date in containerd log files

**Steps to reproduce**
k3s 1.24.2, otel-collector from helm-chart

**What did you expect to see?**
Logs arriving to loki

**What did you see instead?**
[code]

Looks like date format is a bit different:
[code]

**What version did you use?**
[code]

**What config did you use

[2022-07-08 21:00] rlex commented on #12200
Sample messages from containerd in k3s:
[code]

[2022-07-08 23:50] #12137 closed

[2022-07-09 01:50] ag-ramachandran commented on #11830
Thanks a lot @codeboten, what do you suggest as next steps. We've been doing some dev around the exporter and are in the process of internal reviews

[2022-07-09 04:29] dmitryax opened #12202 "[receiver/sqlquery] Flaky Test - TestOracleDBIntegration"
Seen in https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7260768208?check_suite_focus=true

[code]

[2022-07-09 05:02] #8976 closed

[2022-07-09 10:09] corvaglia-alessio opened #12206 "Filter processor crashes the collector"
**Describe the bug**
I'm using the lambda layer for instrumenting a python lambda function. Everything works as expected, even using other processors, but when I enable the filter processor, the collector crashes with the following error:
[code]

**What version did you use?**
OpenTelemetry collector v0.54

**What config did you use?**
The collector config file is the following:

[code]
I do not kn

[2022-07-09 14:51] sunnycalsoft commented on #12178
EndPoint is configured correctly because i am receiving the metrics properly, it is the issue only with logs

[2022-07-09 16:50] gurpartb opened #12207 "[processors/attributes] include match_type: regexp log_bodies not working"
**Describe the bug**
Expected `match_type: regexp` to only `include` logs with `log_bodies` that match the pattern `^log 0$` and add `attribute` `body-match: true`, but the processor matches all logs.

**Steps to reproduce**
Add two log entries below to a simple.log file
[code]

Use [fluentd](https://www.fluentd.org/download) to send data to Otel Collector  using td-agent.conf below
[code]

Use Ot

[2022-07-09 18:43] Harnoor-se7en opened #12208 "Spans keep getting dropped after Kafka Nodes are rotated."
Hi Folks.

**Describe the bug**
We are using Kafka Exporter for Otel-collector. We have observed that whenever Kafka nodes are rotated, Otel-Collector keeps dropping spans even after Kafka nodes are rotated successfully. We have to restart the collector pods, after which spans are processed successfully by the collector. Logs we can see simultaneously are `Dropping data because sending_queue is fu

[2022-07-09 20:05] jkowall commented on #12208
What is "rotated" are you taking them down?

[2022-07-09 23:39] davidgargti20 commented on #11770
@pmm-sumo @jpkrohling  batch + groupbyattrs will not be same as groupbytrace
as batch just group logs regardless of trace

[2022-07-09 23:39] davidgargti20 commented on #11770
@jpkrohling @dmitryax created a pull request

[2022-07-09 23:42] gurpartb commented on #12207
I solved my use case with `processors` `transform`
[code]

[2022-07-10 06:52] dmitryax opened #12210 "[processor/metricstransform] Do not produce empty metrics"
Some operations, e.g. `remove_label_values`, can leave metric without data points. That kind of metrics can be considered invalid and should be removed

[2022-07-10 15:50] #6824 closed

[2022-07-11 03:03] #11439 closed

[2022-07-11 03:06] lostwong commented on #11895
Hi, I think I'm seeing the exact same error while using otelcol-contrib 0.55.0.  I'm using opentelemetry-cpp v1.4.1 to generate logs and traces.  I hope this is just a silly configuration error on my part...

Here's the console output when I used both logger and loki as exporters:
[code]

And here's my configuration:
[code]

[2022-07-11 03:08] jvilhuber commented on #10321
I think this bug is what this PR is about: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/10124

[2022-07-11 03:13] jvilhuber commented on #10200
I haven't thought that deeply about it, nor do I know how grafana/tempo uses the hashring in great details, so I'm honestly not sure.
I wondered if the hashring isn't more than just a resolver: it determines which 'backend' instance is responsible for the trace. I.e. the resolver merely finds the IP addresses of the backends, and then some internal hashing (based on the number of backends) determi

[2022-07-11 12:01] dashpole commented on #9998
@newly12 Thats quite a dramatic difference.  I'm definitely supportive of being able to disable start time tracking in that case. cc @Aneurysm9.

Given that, I think we should consider disabling it by default in the future, or moving it to a separate processor or to exporterhelper.  Speaking from Google's perspective, we've had to [reimplement start time tracking]](https://github.com/GoogleCloudPl

[2022-07-11 12:50] dashpole commented on #9998
send_timestamps probably won't have an impact.  Lowering metric_expiration might have an impact, but make sure it is at least as high as your scrape interval (preferably at least twice your scrape interval).

[2022-07-11 13:19] djaglowski commented on #10839
Hi @sebastianhaeni. In order to accept a component, the component must either have a sponsor (approver or maintainer on this repo who has sufficient time and commitment to maintain the component) or be contributed by the vendor of the relevant technology. In this case, it appears you will need to find a sponsor.

Right now we have a number of proposed components looking for sponsors, so we've put

[2022-07-11 13:23] #11823 closed

[2022-07-11 13:42] #8781 closed

[2022-07-11 13:42] #8783 closed

[2022-07-11 13:42] #8845 closed

[2022-07-11 13:42] #9016 closed

[2022-07-11 13:42] #8396 closed

[2022-07-11 13:42] #8489 closed

[2022-07-11 14:03] #12202 closed

[2022-07-11 14:49] jpkrohling commented on #10200
This is indeed the case.

Not sure how so. Any changes to the number of backends will require the backend allocation to be rebalanced, no matter how the changes were detected (DNS, gossip, static file changes, etcd, ...)

On the hashing algorithm itself, we are currently using Karger et al, which should be the most stable algorithm for this problem, impacting only about 30% of the hash spectrum on

[2022-07-11 14:54] julealgon commented on #2651
@michalsteyn can you elaborate how you setup Vector as an intermediate in your scenario?

I tried using DD agent for this purpose but the agent just pushes raw OTEL-formatted Json log batches as-is to Datadog which is not really what I wanted:
- https://github.com/DataDog/datadog-agent/discussions/12701

Does your integration with Vector properly generate all individual log events in Datadog as if

[2022-07-11 15:14] anuraaga commented on #11772
Thanks @TylerHelmuth but no worries

[2022-07-11 15:14] #11772 closed

[2022-07-11 15:30] jpkrohling commented on #10321
Looks like those are different problems.

[2022-07-11 15:44] jpkrohling commented on #11895
Can you set tls.insecure to true within the Loki exporter? The default is false, but given you are using a local Loki under HTTP, you should change it:

[code]

[2022-07-11 15:59] #11784 closed

[2022-07-11 16:59] dashpole commented on #11791
Using the docker socket is a really high level of privilege generally, and I agree with it not being the recommended configuration.  Mounting individual files (e.g. /etc/hostname) seems like a better way to get some of the information you are interested in than fetching it from docker.  I haven't looked into it at all, but I wonder if the system detector with a few files mounted readonly would wor

[2022-07-11 17:29] lostwong commented on #11895
I just gave it a try and received the same results.  I also verified that my loki installation is currently alright through a separate test application that pushes directly to the http://localhost:3100/loki/api/v1/push endpoint.

Based on the error message, is the problem related to mapping resources / attributes between otelcol and loki?  I have very little experience with Go and I'm still learni

[2022-07-11 17:43] TylerHelmuth commented on #12206
pinging  @boostchicken @pmm-sumo as code owners

[2022-07-11 17:43] jpkrohling commented on #10186
This sounds indeed like a bug, or oversight in the original implementation. The godoc for the model.Batch is very clear about this:

[code]

I'm working on a fix for this, but I think @pmm-sumo has faced something similar before, or mentioned the need to group things by resourcespans before. Just to make sure I'm not missing anything, would you be able to review my plan, @pmm-sumo? Here's the outl

[2022-07-11 18:13] #3071 closed

[2022-07-11 18:18] davidmirza408 opened #12290 "[receiver/hostmetricsreceiver] add parent PID to hostmetricsreceiver process metrics"
**Is your feature request related to a problem? Please describe.**
when using hostmetricsreceiver to report process metrics, a user may not want to see the noise of all child processes that are running.  This request involves reporting parent PID so that a processor can be used to aggregate the child process metrics into the parent process.

**Describe the solution you'd like**
Report parent PID o

[2022-07-11 18:18] #9106 closed

[2022-07-11 18:20] davidmirza408 commented on #9106
Sorry, I accidentally closed this as completed.  This story is not completed, I meant to delete the request.

[2022-07-11 18:23] dmitryax commented on #12290
I believe adding resource attribute for parent PID makes sense

[2022-07-11 18:23] dmitryax commented on #12290
@davidmirza408 will you work on this?

[2022-07-11 18:33] jpkrohling commented on #11895
@lostwong, are you able to come up with a curl call that would trigger this problem? Or provide a client code that I can run to reproduce it.

[2022-07-11 18:45] davidmirza408 commented on #12290
@dmitryax, yes I can take this up

[2022-07-11 19:16] lostwong commented on #11895
Sure, I'll see about putting together as small a docker image as possible with the client code / build so that you can give it a whirl.

[2022-07-11 19:18] michalsteyn commented on #2651
@julealgon: Ahh, I see how my comment was confusing. Just to clarify:
* I'm basically using two agents running parallel (and not interconnected): OTEL for Tracing and Metrics, and Vector for Logging.
* I'm not using OTEL at all for logging, not from the client application side, nor from the Open Telemetry Receiver point of view.
* So Logging is totally running in a non-OTEL silo at the moment.

Ob

[2022-07-11 20:10] jpkrohling commented on #10186
I just opened a PR addressing this issue.

[2022-07-11 20:23] #12210 closed

[2022-07-11 20:54] jpkrohling commented on #11895
I was able to get the same error on a simple setup with journald receiver:

[code]

My initial investigation shows that the problem is that the incoming data points (ie, log entries) do not have any attributes or resource attributes, causing them to be dropped.

I'll get in touch with the Loki team here at Grafana Labs to see what's the behavior of Promtail, so that we can align them. I'll post up

[2022-07-11 21:33] julealgon commented on #2651
It absolutely does, thanks @michalsteyn .

I'm now in the process of seeing what options I have to make sure I don't need to setup DD directly on every application. Tried a few different approaches but without much success thus far... the log events that do arrive are _really_ cumbersome to handle.

If I find a workable solution that gives me proper correlated entries in DD I'll update here with t

[2022-07-11 21:42] adriangb commented on #2651
FWIW, the way I set this up is:
- DataDog Agent as the only collector. Traces come via OLTP ingest (supported in the latest version), logs come via stdout/stderr scraping.
- I made a little (maybe like 100LOC) library (internal for now) that hooks into Python's logging API and emits structured logs that conform to the OTEL log data model and inject trace/span information into every log message emi

[2022-07-11 21:54] badjware opened #12300 "[exporter/prometheusremotewrite] "target" metric causes out-of-order samples errors on load balanced collector deployment"
**Describe the bug**
We operate a cluster of multiple opentelemetry-collector configured to be load balanced and autoscaled. We recently updated from 0.35 to 0.49. This update caused our backend to start complaining about out-of-order samples on the "target" metric:
[code]

We think the issue stems from how the timestamp of the "target" metric is generated. The timestamp of the sample is generated

[2022-07-11 22:43] dmitryax commented on #12290
Also please update the issue header :)

[2022-07-12 00:10] lostwong commented on #11895
Thanks for putting in so much time into this already!  If there's anything I can do to help further, please let me know.

[2022-07-12 02:10] lostwong commented on #11895
@jpkrohling based on your feedback about the missing resources/attributes, I was able to get my system up and running by adjusting my client code and my otelcol configuration.

After re-reading the [README.md](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/exporter/lokiexporter/README.md), I can see where I went wrong and, in my case specifically, this isn't a bug.  It

[2022-07-12 02:48] tuyula opened #12318 "could kafka export hash parittion"
**Is your feature request related to a problem? Please describe.**
feature: we need kafka has hash parition use TraceId Key so that we can support mutiple consumer use tail_sampling

**Describe the solution you'd like**
cause consumer use tail_sampling,  so the same traceId must consumer in the same collector

**Describe alternatives you've considered**
add some config for kafka product, add hash_

[2022-07-12 02:54] luozenglin opened #12319 "Filter spans by duration."
**Is your feature request related to a problem? Please describe.**
Our system generates a lot of spans per trace, but we only care about the longer duration spans.

**Describe the solution you'd like**
 ~~I know we can use filterprocessor to filter spans by SpanNames and tailsamplingprocessor to filter traces by duration. But how can we filter spans by duration or percentage of trace duration?~~

[2022-07-12 04:59] jvilhuber commented on #10321
Yea maybe I'm misremembering the various items I have pending (waiting on the CLA to really make progress; sorry about that)

[2022-07-12 07:09] davidgargti20 opened #12321 "Logs gets missing in collector"
I am exporting logs from java app using otel agent to collector but I am not able to see some logs in output. used file,logging,googlecloud exporter all doesn't show some logs. Sometimes some logs are visble  in googlecloud but are missing in logs exported by logging.

[2022-07-12 09:06] TomasLongo commented on #7905
Hey @StefanSa,

nice to see that there is interest in our contribution. We would be more than happy to provide the functionality you requested. Feel free to create an issue for the signals you want the exporter to support.

We can start working on them as soon, as #10206 got merged.

[2022-07-12 09:41] StefanSa opened #12323 "OpenSearch exporter enhancements"
**Is your feature request related to a problem? Please describe.**
Currently the OpenSearch exporter is made #10206, many thanks for that.
However, only with support for pipeline type `logs`.

**Describe the solution you'd like**
Since `opensearch` released the `observability plugin`, it would be great if the `OpenSearch exporter` would also
`support pipelines for metrics, logs and traces`.

**Des

[2022-07-12 09:43] StefanSa commented on #7905
Hi @TomasLongo
done with #12323

[2022-07-12 10:19] boostchicken commented on #12206
@TylerHelmuth please close

[2022-07-12 11:22] boostchicken commented on #6883
techincally this is not an attribute, so it should live in the SpanProcessor

[2022-07-12 11:22] jpkrohling commented on #11895
Glad to hear it's working! I'm still investigating what can be done for sources we don't control, such as journald or logs in files.

[2022-07-12 11:28] mx-psi commented on #5883
I believe this should not happen anymore, our dependency tree only has gopsutil v3 now. It's a good idea to have some list of known build issues, or at the very least a label for this

[2022-07-12 11:28] #5883 closed

[2022-07-12 11:56] boostchicken commented on #6883
PR is out there for this.

[2022-07-12 12:09] boostchicken commented on #5573
@jpkrohling please close

[2022-07-12 12:11] boostchicken commented on #7291
@jpkrohling never got a notification about this one.  I think we can close out this issue though.

[2022-07-12 12:13] boostchicken commented on #8551
@jpkrohling can we get a close on this.  Solved by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/10822

[2022-07-12 12:13] natfly opened #12326 "New component - Resource detection processor support for Oracle OCI"
## The purpose and use-cases of the new component
Query the instance metadata service ([IMDS](https://docs.oracle.com/en-us/iaas/Content/Compute/Tasks/gettingmetadata.htm)) to provide information about a running instance in OCI

## Example configuration for the component
Configuration showing default available attributes
[code]

Configuration showing custom attributes using jpath to reference IMDS

[2022-07-12 12:22] boostchicken commented on #12326
Are you suggesting pulling free-form / defined tags from IMDSv2 (http://169.254.169.254/opc/v2/instance/)? If so that is not really Kube specific

[2022-07-12 13:09] NareshChinnusamy opened #12329 "Failed to create stream token"
### Failed to create stream token

1. I have been trying to use the open telemetry collector in **Aws Ecs - Ec2 mode**.
2. I'm running the open telemetry collector using java agent with collector config of "--config=/etc/ecs/ecs-default-config.yaml".
3. aws-otel-collector was successfully started and came to the stage of "Everything is ready. Begin running and processing data.".
4. After that, It

[2022-07-12 13:14] boostchicken commented on #12329
I am going to assume a client timeout means a routing / security group issue.  The request is sent but never gets a response.  Check to make sure your EC2 instances either have outbound to 0.0.0.0/0, or you have a vpcEndpoint configured for logs.us-east-1.amazonaws.com (recommended)

[2022-07-12 13:17] boostchicken commented on #12319
This maybe possible to add to the SpanProcessor, thats where it should probably belong or maybe enhance the tailsamplingprocessor.  I don't know much about the later.

[2022-07-12 13:23] corvaglia-alessio commented on #12206
Oh sorry, my mistake! Thanks for the clarification @boostchicken

[2022-07-12 13:23] #12206 closed

[2022-07-12 13:26] jparal opened #12330 "k8sattributes: setting tag_name using captured group from key_regex fails for extracting labels"
**Describe the bug**
I am trying to extract k8s labels matching `key_regex` as per documentation and capture the `tag_name` following the steps here:
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/4cf86dee2359683a4cf0bf71668e00018e76202b/processor/k8sattributesprocessor/config.go#L116

I assume the `name` field is a typo and should be in fact `tag_name`.

**Steps to reprodu

[2022-07-12 13:31] #10349 closed

[2022-07-12 13:35] jparal commented on #12330
@newly12 do you have an idea what is going on? Thx.

[2022-07-12 13:55] #8551 closed

[2022-07-12 13:57] NareshChinnusamy commented on #12329
Hi @boostchicken, I checked the outbound rule. It's all good. I'm able to send the collector metrics using the Fargate approach(same security group) without any request time-out issues.

[2022-07-12 14:04] thomasbaldwin commented on #10887
sounds good @boostchicken ! will check it out and post back!

[2022-07-12 14:26] newly12 commented on #12330
You probably have to use $$1, first $ is needed to escape the env var subsitution done by otel collector. Could you give it a try?

[2022-07-12 15:00] NareshChinnusamy commented on #12329
Hi @boostchicken, Otel collector via Ec2 Approach is successfully able to push metrics to cloud watch after configuring the VPC endpoint for logs.us-east-1.amazonaws.com and creating an inbound rule in sg with 443 port. Thanks, @boostchicken.

[2022-07-12 15:01] codeboten opened #12332 "[sqlqueryreceiver] TestOracleDBIntegration test times out"
See an example here:

https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7303422652?check_suite_focus=true#step:5:1016

[2022-07-12 15:01] #12329 closed

[2022-07-12 15:53] djaglowski opened #12334 "[github-actions] Required check is skipped if prerequisite job fails"
@djaglowski this is another example where I could merge even if lint is failing:

![imagen](https://user-images.githubusercontent.com/5502710/178331319-c0a42852-39c1-4ae3-b08e-912608d66793.png)

_Originally posted by @mx-psi in https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/12215#issuecomment-1180721087_

[2022-07-12 15:55] tigrannajaryan commented on #6929
https://github.com/open-telemetry/opentelemetry-log-collection/milestone/1 is done. This issue is now resolved.

[2022-07-12 15:55] #6929 closed

[2022-07-12 16:22] jpkrohling commented on #7291
@suddendust, if you have more information, such as a cURL that can be used to reproduce this problem, let us know. Until then, I'm closing this.

[2022-07-12 16:22] #7291 closed

[2022-07-12 16:31] davidgargti20 commented on #12321
could you please give more detail by curl call you mean ?

[2022-07-12 16:33] jpkrohling commented on #12321
The Java app is sending data via OTLP to the collector by making an HTTP call (or gRPC). If you are able to reproduce this call, it would help us reproduce the problem. If you can't, try to provide a sample java project that reproduces the problem. The goal is to help us reproduce the problem you are reporting.

[2022-07-12 16:49] natfly commented on #12326
Yes, while IMDS isn't just for kube it does contain kube info in the metadata block when called from a pod. I have looked into the k8sattribute processor but it doesn't look like I can pull labels from the node where the metadata is, just pods. Is this correct?

[2022-07-12 17:07] NareshChinnusamy commented on #12329
@boostchicken Are there any options without using the VPC end point for cloudwatch logs?

[2022-07-12 17:57] boostchicken commented on #12326
I am not super educated on the k8sprocessor, so I can't comment on that.  I just brought up that point because if an IMDSv2  processor is made for OCI, it should probably be generic to all OCI managed services.

[2022-07-12 18:17] julealgon commented on #2651
@adriangb unless you have an extremely simplistic deployment scenario, I don't see how that could be the case. When you have multiple service instances, some serverless, how would you even tap into their output streams? You'd both need an agent per application (dramatically ramping up maintenance costs and complexity) and a way to even be able to read the outputs from services like Azure Functions

[2022-07-12 18:19] schmikei opened #12338 "[receiver/postgresql] PostgreSQL Component Enhancements"
**Is your feature request related to a problem? Please describe.**

The current component currently does not use any of the newer features like `resource_attributes` and does not collect in such a matter that `EmitForResource()` works nicely.

Along with this I feel like the current receiver is missing the following metrics

[code]

**Describe the solution you'd like**
I'd like to bring the compon

[2022-07-12 18:45] dashpole commented on #12175
Just curious: which receiver are you using?

The GMP exporter relies primarily on [service.name, service.namespace, and service.instance.id(https://github.com/open-telemetry/opentelemetry-specification/tree/main/specification/resource/semantic_conventions#service) (mapped to `job` and `instance` in the [`prometheus_target`](https://cloud.google.com/monitoring/api/resources#tag_prometheus_target)).

[2022-07-12 18:58] #4153 closed

[2022-07-12 19:31] julealgon opened #12341 "Missing "Support Status" section on Azure Monitor exporter documentation"
**Describe the bug**
The documentation for the AzureMonitor exporter is lacking the standard table describing what status the plugin is in (dev, alpha, beta, etc), supported pipelines and distributions.

**Steps to reproduce**
Access the exporter page and check readme:
- https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/azuremonitorexporter

**What did you expect

[2022-07-12 19:59] schmikei opened #12342 "[receiver/vcenter] vcenter.vm.disk.utilization was inproperly calculated"
**Describe the bug**
- Metric was improperly calculated like this:

when it should be calculated like

**Steps to reproduce**
Looking at a live environment in Google Cloud noticed the value was incorrect.

<img width="1305" alt="image" src="https://user-images.githubusercontent.com/32067685/178582042-3a351328-4f91-46f8-b32f-c1082904b75b.png">

**What did you expect to see?**

For our example stora

[2022-07-12 20:25] djaglowski commented on #6927
Reopening this again. I believe it is occurring substantially less often, but still appears to be an issue.

https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7309452907?check_suite_focus=true#step:14:41

At this point, I believe it would be reasonable to accept that we may observe the ballast in memory, and therefore we should accept results where either 1) the observed memor

[2022-07-12 21:40] TylerHelmuth commented on #12196
@codeboten maybe a periodically run workflow?

[2022-07-13 00:03] olekgo commented on #12175
Interesting.. I am using [otlp receiver](https://github.com/open-telemetry/opentelemetry-collector/tree/main/receiver/otlpreceiver) together with `resourcedetection` processor (same as in the [doc](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/googlemanagedprometheusexporter#example-configuration)). Out of all labels listed [here](https://cloud.google.com/mon

[2022-07-13 00:15] jamesmoessis commented on #9794
After working on the receiver for a decent amount of time, here is an updated list of further (possibly breaking)  changes I want to make.

* Change various units so they more accurately represent the measurements
* Change the blockIO metrics so the operation is an attribute, and so we can divide the number of those metrics by 6. This simplifies the code, and greatly reduces the amount of generate

[2022-07-13 01:19] cpheps opened #12347 "[receiver/mongodbatlas] Add support for consuming logs"
This would be a Logging addition to the current [MongoDB Atlas Receiver](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/mongodbatlasreceiver). To monitor logs for MongoDB Atlas you need to pull from the [Logging API](https://www.mongodb.com/docs/atlas/reference/api/logs/) which returns a gzip of a log file. The SDK that is currently used in the receiver provid

[2022-07-13 01:24] ymotongpoo commented on #10883
Closing the issue as it is fixed.

[2022-07-13 01:24] #10883 closed

[2022-07-13 03:20] JonnyDeep opened #12349 "metricstransformprocess cannot apply to my project"
i use opentelemetry collector to collect host metrics。 the receiver I choosed was otlp and hostmetrics，the process was batch and metricstransformprocess。but i cannot start the project by docker compose。it has below error
`2022/07/13 03:17:08 collector server run finished with error: failed to get config: cannot unmarshal the configuration: unknown processors type "metricstransform" for "metricstra

[2022-07-13 03:24] NareshChinnusamy commented on #12329
@boostchicken  Got it man thank you...

[2022-07-13 04:18] JonnyDeep commented on #12349
i use opentelemetry collector to collect host metrics。 the receiver I choosed was otlp and hostmetrics，the process was batch and metricstransformprocess。but i cannot start the project by docker compose。it has below error
`2022/07/13 03:17:08 collector server run finished with error: failed to get config: cannot unmarshal the configuration: unknown processors type "metricstransform" for "metricstra

[2022-07-13 06:07] adilhusain-s opened #12350 "add ppc64le linux/ppc64le arch in CI"
Hi there,
I've successfully built and tested the collector-contrib on ppc64le VM.

- rasing PR for the same.
[PR link](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12166)

[2022-07-13 07:46] CoderPoet commented on #5081
+1

[2022-07-13 08:05] Mario-Hofstaetter commented on #9998
Updated to the fresh `0.55.0` release on both servers after it came at and made some more config changes.
Did not seem to matter.

It looks like if the metrics of our application change (due to activity == new series because new label variants and/or application restart), memory may make a jump.

So at this point it seems useless to try more, and maybe wait for #12215

Current plan is to use minim

[2022-07-13 09:23] Mario-Hofstaetter commented on #9998
@RalphSu maybe on the weekend, gotta learn how to build a go app / otelcol first 🙈

[2022-07-13 10:24] mx-psi opened #12354 "[processor/resourcedetection] instance hostname missing on GKE with new detector"
**Describe the bug**

Before #10347, someone using the `gke` and `gce` detectors would have the instance hostname on GKE. After this change, the new `gcp` detector would not add this attribute. This is a regression on v0.55.0, and also makes it difficult for people to transition to the new detector.

Datadog needs this attribute in order to correctly correlate telemetry reported by the Collector w

[2022-07-13 10:52] ag-ramachandran commented on #11830
Hello Alex! Is there a specific structure for the review since this is a new component?
We have largely followed the code structure for other exporters. If there is a specific sequence/structure to the PR's we can start with that.
@codeboten

[2022-07-13 10:52] mx-psi commented on #12349
What's the image name? Is it possible you are not using the contrib image (https://hub.docker.com/r/otel/opentelemetry-collector-contrib)?

[2022-07-13 11:42] JonnyDeep commented on #12349
@mx-psi thank you so much，the probem was solved when i change image to [https://hub.docker.com/r/otel/opentelemetry-collector-contrib]().

[2022-07-13 11:42] #12349 closed

[2022-07-13 12:39] #8994 closed

[2022-07-13 12:43] #12330 closed

[2022-07-13 12:55] dashpole commented on #12079
@gouthamve is correct.  For other metric types (e.g. histograms), suffixes are appended when translating from pdata to PRW.  For example, [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/pkg/translator/prometheusremotewrite/helper.go#L298) we add `_sum` to the histogram sum sample.  But since this series is manufactured from the resource, rather than from a pdata

[2022-07-13 12:58] delanym commented on #5377
Just got burnt by this again because I forget that
https://hub.docker.com/r/otel/opentelemetry-collector/tags?page=1&name=latest
isn't updated anymore

[2022-07-13 13:01] #11816 closed

[2022-07-13 13:09] djaglowski commented on #12334
Reopening due to #12353

[2022-07-13 13:17] dashpole commented on #12175
Can you paste your resources from the file exporter?

[2022-07-13 13:34] mx-psi commented on #5377
This is tracked at open-telemetry/opentelemetry-collector-releases/issues/73, please upvote the issue there if fixing this would have helped you

[2022-07-13 13:43] #12350 closed

[2022-07-13 13:49] djaglowski commented on #12342
There appear to be three unrelated changes here, so an issue for the cpu metric, and another for the resource label.

[2022-07-13 13:50] schmikei commented on #12342
Alright I'll separate them out 👍

[2022-07-13 13:52] cpheps commented on #12347
@BinaryFissionGames

You're right I missed this. I'll update the proposal to reflect that. I still think it's possible to have alerts and logs active at the same time as long as the logs generated don't overlap/conflict. I don't think this is a real concern though.

I wanted to avoid specifying a polling interval in logging as I thought it would conflict with the overall scraper interval. The API

[2022-07-13 13:52] cpheps commented on #12347
@zenmoto Pinging you as code owner if you have any objections to this.

[2022-07-13 14:02] schmikei opened #12357 "[receiver/vcenter] Add `vcenter.cluster.name` resource attribute to `vcenter.datastore` metrics"
**Is your feature request related to a problem? Please describe.**
Datastores can be utilized by multiple clusters. The metrics are sourced from a cluster level so this label should be enough identification to identify the datastore.

**Describe the solution you'd like**
Adds an existing `vcenter.cluster.name` to the `vcenter.datastore` metrics

**Describe alternatives you've considered**

**Addit

[2022-07-13 14:03] schmikei opened #12358 "[receiver/vcenter] docs should remove metric thats not collected `vcenter.vm.cpu.utilization`"
Metric is not collected so documentation should not be present for the metric `vcenter.vm.cpu.utilization`

[2022-07-13 14:17] schmikei commented on #12342
@djaglowski I think this should work but let me know if anything needs changes!

- https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12343
- https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12359
- https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12360

[2022-07-13 14:38] #12342 closed

[2022-07-13 14:39] luozenglin commented on #12319
Is it possible to filter spans by duration? Will we consider supporting this feature in the future?

[2022-07-13 14:42] codeboten commented on #12196
I'm thinking of triggering from the `issues.labeled` event. The thinking being that triagers can apply a label and an action will add a comment to the issue pinging code owners.

[2022-07-13 15:04] BinaryFissionGames opened #12406 "[exporter/observiq] Remove the observiqexporter"
As mentioned in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/10977, the exporter should be removed for v0.56.0, as the cloud platform it exports to sunset.

[2022-07-13 15:21] TylerHelmuth commented on #12196
Nice, I wasn't aware we could trigger a workflow like that

[2022-07-13 16:25] a06953 commented on #11895
Thanks, this issue is fixed now. But currently I am not able to view the full logs in Grafana. Can I just see the message  anyhow?

**Exporter:**
exporters:
  loki:
    endpoint: "https://234372:(APIKEY)@logs-prod3.grafana.net/loki/api/v1/push"
    labels:
     attributes:
        log.file.name: "MyLogFile"
        level : "level"
    tls:
      insecure: true
    format: "body"

**Grafana expecte

[2022-07-13 16:26] halcyondude commented on #10836
+1, in particular it's critical that using the json exporter retains full data fidelity and is [lossless](https://en.wikipedia.org/wiki/Lossless_compression)

[2022-07-13 16:46] zenmoto commented on #12347
This looks great to me.

[2022-07-13 17:07] djaglowski commented on #12347
Regarding the `exclude_clusters` option - should we anticipate that some users may have very large projects in which this would not be sufficient? It seems we could easily support a mutually exclusive `include_clusters` option which would allow clusters to be opted-in.

[2022-07-13 17:21] #12162 closed

[2022-07-13 17:29] codeboten commented on #7835
This was done in #7914

[2022-07-13 17:30] evan-bradley commented on #12193
Could this be assigned to me?

[2022-07-13 17:30] codeboten commented on #7845
This was done in #7936

[2022-07-13 17:30] #7845 closed

[2022-07-13 17:32] cpheps commented on #12347
@djaglowski

Thinking through this if you have an empty `include_clusters` nothing is collected? I'm not apposed to this, I do want to make sure whatever the configuration is that it's easy for a customer. I'm working on trying to figure out the size of a typical environment. If a typical environment is large, meaning a lot of clusters, then I would say `include_clusters` makes sense. If it's smal

[2022-07-13 17:49] djaglowski commented on #12347
I would expect it to work like this:
- Both `include` and `exclude` are unspecified (the default) => Collect all clusters
- Only `include` is specified => Only collect the named clusters
- Only `exclude` is specified => Collect all but the named clusters
- Both `include` and `exclude` are specified => Config error

[2022-07-13 17:50] TylerHelmuth commented on #12193
@evan-bradley its yours.

One thing to think about is that the current implementation allows `set(attributes["test"], resource.attributes["test"])` to not update `attributes["test"]` if `resource.attributes["test"]`  does not exist.  This saves the need for a where clause but is kind of an obscure outcome.

To do this change you'll probably have to change the `set` function so that the above scena

[2022-07-13 18:04] cpheps commented on #12347
@djaglowski Makes sense. I prefer one `exclude` list due to simplicity of configuration. It's usually easier to turn things off you don't want than figure out what you do want on. Also, code wise a single list is easier to filter on but it isn't hard either way just less "moving parts" code wise.

I'm curious if there is a standard (or pattern) of exclude list, include list, or both across receive

[2022-07-13 18:13] cpheps commented on #12347
I'll update the config proposal to include both `include` and `exclude` but I'll change if turns out this conflicts with a standard in other components..

[2022-07-13 18:57] blakeromano opened #12412 "Otel Collector Prometheus writing to Metrics Endpoint Wire Type error"
### What did you do?

I added a remoteWrite section to the Prometheus CRD that sends Metrics from Prometheus to the HTTP port of an Otel Collector. I added the url and a name as configuration parameters.

### What did you expect to see?

I expected to see metrics successfully going through the remoteWrite from Prometheus to OpenTelemetry Collector's Metrics endpoint.

### What did you see instead?

[2022-07-13 19:13] TylerHelmuth opened #12413 "[chore] Allow code owners to add specific labels"
Labels like "Help Wanted" and "Good First Issue" are very useful for contributors looking to get started, but they don't often get applied unless the code owner is also a triager, approver, or maintainer.  It would be great if code owners could add certain labels as part of triaging/addressing an issue for a component they own.

I think we can accomplish this with a workflow triggered by the [issu

[2022-07-13 19:24] gabrielqs opened #12414 "[exporter/datadog] api key needs to be provided as a plain value, instead of stored in a secret"
**Is your feature request related to a problem? Please describe.**
When configuring the datadog exporter a plain API key is required. From a security perspective this is a quite big risk i'd like to avoid.

**Describe the solution you'd like**
Similar to the [datadog agent configuration](https://github.com/DataDog/helm-charts/blob/main/examples/datadog/agent_basic_values.yaml#L8), I would like to

[2022-07-13 20:43] natfly commented on #12326
Yeah, that makes sense.

[2022-07-13 21:02] jpkrohling commented on #10832
We are currently having discussions on what it means to be "stable". Given that "stable" might mean strict rules on the configuration properties, we might not want to move this to stable.

[2022-07-13 21:11] jvoravong opened #12416 "[processor/filter] Refactor the (expression) expr match_type to support resource attributes"
**Is your feature request related to a problem? Please describe.**
Currently in the filter processor, you can only use expression matching with metric names, label names, and label values. It would be excellent if we also supported attributes names and values when using expression matching in the filter processor.

**Describe the solution you'd like**
I would like to be able to use filter[ express

[2022-07-13 21:17] djaglowski opened #12417 "[Changelog] Determine requirements for denoting PR and/or Issue #'s"
Changelog entries have historically denoted the PR # with which they are associated. Recently, with the introduction of the `chloggen` tool, contributors are asked to associate each entry with one or more Issue #'s.

This change was questioned and discussed in today's SIG. Several alternative approaches were suggested, but no decision was reached. As best I recall, the following options were discu

[2022-07-13 21:17] djaglowski commented on #12417
cc @Aneurysm9 @TylerHelmuth @codeboten

[2022-07-13 22:19] WenheLI commented on #8823
@pmm-sumo - How's the Exporter component going? We have implemented a workable prototype of Azure Blob exporter. I think it would be great if we can commit some of our work into this thread.

[2022-07-14 00:21] pmm-sumo commented on #8823
@WenheLI there's a work in progress by @pdelewski. Actually the [initial PR](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/9979) is waiting for approval by other approvers right now and the [second one](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/10000) is also waiting in the pipeline

[2022-07-14 08:52] mistodon opened #12423 "[processor/cumulativetodelta] Convert cumulative Histograms to delta temporality"
**Is your feature request related to a problem? Please describe.**
It seems that cumulative-to-delta at the moment only processes Sums, and just skips over other data types. This is a problem for us, as we have Histograms in our pipeline with cumulative temporality that we want to convert.

**Describe the solution you'd like**
Rather than bypass Histogram metrics, have the cumulative-to-delta proc

[2022-07-14 09:58] sumo-drosiek opened #12424 "[logstransformprocessor] Cannot use processor in multiple pipelines with storage extension"
**Describe the bug**
Cannot use logstransformprocessor in multiple pipelines as the second instance hangs trying to get access to storage

**Steps to reproduce**

use configuration from configuration section

**What did you expect to see?**
I want to see working collector

**What did you see instead?**
[code]

**What version did you use?**
`v0.55.0`

**What config did you use?**
[code]

**Environm

[2022-07-14 10:00] sumo-drosiek commented on #12424
@djaglowski

Is there any usecase when the storage is required for this processor to work?

We are using this processor in order to filter logs by body as `transformprocessor` does not support it yet.

[2022-07-14 10:57] djaglowski commented on #12424
I'm not aware of a need for it in processors.

[2022-07-14 11:44] boostchicken commented on #12319
I am one of the owners of the the filterprocessor, we could add it there. How do you want to filter it? Just greater than or less than?  Previously when I wrote code that dropped spans it was semi-frowned upon because it does break traces and we make no effort to fix it via updating parent_id.

I am cc'ing @pmm-sumo on this as the other owner.  I think the code would be trivial.  I just want to co

[2022-07-14 12:24] gouthamve opened #12426 "[prometheusremotewriteexporter] Use StartTimeUnixNano to export _created"
We currently do not create `{name}_created` metric for counters and histograms. We should after https://github.com/open-telemetry/opentelemetry-specification/pull/2645

[2022-07-14 12:49] albertteoh commented on #9018
@gnozil this was merged 2 days ago.

[2022-07-14 12:51] gouthamve opened #12428 "[prometheusreceiver] Use _created to set StartTimeUnixNano"
Currently we're using [`MetricsAdjuster`](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/prometheusreceiver/internal/otlp_metrics_adjuster.go) to set the `StartTimeUnixNano` for the metrics. But when `{name}_created` is available we should use that.

See: https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/12426

[2022-07-14 13:06] djaglowski opened #12429 "[receiver/elasticsearch] disk_usage_state attribute is unused"
The `disk_usage_state` is defined in the receiver's `metadata.yaml` file but is entirely unused otherwise. I believe it should be removed.

[2022-07-14 13:19] dashpole opened #12430 "Need a label for exporter/prometheus"
Looks like during the addition of per-component labels, we missed the prometheus exporter :)

[2022-07-14 13:21] gouthamve commented on #4989
@dashpole / @tigrannajaryan Is this something we want to do? If yes, I'll do it, else, can we close this?

[2022-07-14 13:21] ivanrusanov opened #12431 "Add connection timeout to client example"
**Describe the bug**
I'm trying to run `examples/demo/client/main.go` but it is stuck at `otlptrace.New(ctx, traceClient)`.

**Steps to reproduce**
I have no idea how to emulate such connection problems

**What did you expect to see?**
I expect to get connection timeout error.

**What did you see instead?**
It freezes

**What version did you use?**
Version: `v0.55.0`

**What config did you use?**

[2022-07-14 13:24] fatsheep9146 commented on #12431
Do you start the otel-collector ?

[2022-07-14 13:45] gouthamve commented on #5188
This is closed by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/9253

[2022-07-14 14:06] gouthamve commented on #6360
@PaurushGarg Can this be closed as it looks like #6696 fixes it?

[2022-07-14 14:17] BinaryFissionGames commented on #12406
Closed by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12408

[2022-07-14 14:33] pmm-sumo commented on #12319
Filtering spans might cause effects not anticipated by the users, like breaking the trace (and I believe this is why we were hesitant in adding it). Having said that, we have eventually included some span filtering capabilities, so I believe we can extend if further. Perhaps the README.md should come with some warning on using it

I also think there's a space for "trace-reshape" processor or so, w

[2022-07-14 14:54] PaurushGarg commented on #6360
Yes. This issue has been fixed and can be closed now. cc @Aneurysm9

[2022-07-14 14:54] #6360 closed

[2022-07-14 14:56] #10195 closed

[2022-07-14 15:28] boostchicken commented on #12319
I don't think its possible to have the length a trace in any context where we could do that.  A trace doesn't have an end time, its just a compiliation of spans that can come in out of order, so a single batching being processed might not have all of a trace.

[2022-07-14 15:39] luozenglin commented on #12319
Can we take the duration of the root span as the total time? This might be a bit like how the tailsamplingprocessor is implemented.

[2022-07-14 15:44] boostchicken commented on #12319
hmmm? the duration of the root span wont be the duration of the trace

[2022-07-14 15:47] codeboten opened #12474 "[tracegen] should be under `cmd/` for consistency"
`tracegen` is a command that really should be under `cmd/`

[2022-07-14 15:50] boostchicken commented on #12319
I am curious how we would do this.  Would we keep a rolling cache of every span we drop and if that id comes up we attach it the parent_id of the d ropped span? This won't help with out of order spans or spans in a different transaction than the one dropped (unless we start storing stuff in memory for a while).

What do you think @pmm-sumo

[2022-07-14 15:51] TylerHelmuth commented on #12417
I think my favorite solution is one where we can use the PR in the changelog to address the CON `Navigating from the changelog to the PR that introduced the actual change is more complicated and less reliable.` and also at the same time keep the PRO `Contributors do not need to push an additional change immediately after opening every PR.`

Maybe there is a way to templatize the changelog entry an

[2022-07-14 15:59] #12406 closed

[2022-07-14 16:06] TylerHelmuth opened #12476 "[processor/transform] Add ability to concat strings"
**Is your feature request related to a problem? Please describe.**
There are situations where a user might need to combine existing fields to be used as an argument in an Invocation.  [Here is an example.](https://cloud-native.slack.com/archives/C01N6P7KR6W/p1657799193277499).  At the moment the TQL has no build-in capability to do this and the transform processor has not function that can do it.

[2022-07-14 16:07] TylerHelmuth commented on #12476
@kentquirk what do you think?  If we go anywhere near option 2 it needs to wait on #11751 lol

[2022-07-14 16:09] EddieEldridge opened #12477 "[attributesprocessor]: Field "pattern" contains at least one unnamed matcher group at the 0-th actions"
**Describe the bug**
I’m trying to use the example outlined here https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/processor/attributesprocessor/testdata/config.yaml#L24

[code]

I'm just copy pasting the whole example as it does exactly what I want but it's throwing this error.

**Steps to reproduce**
Use the example provided and try to start the Collector

**What did yo

[2022-07-14 16:58] #6345 closed

[2022-07-14 18:14] olekgo commented on #12175
Thanks, it worked. A small note - I had to specify `action` eg:
[code]

Looking forward to `resourcetotelemetry` support!

[2022-07-14 19:00] samanthawalter opened #12479 "[processor/filter] enable expr evaluation on non-string type metric labels"
**Is your feature request related to a problem? Please describe.**
As of v0.64.0, expr in the filter processor cannot properly evaluate metric labels that are not string type.

**Describe the solution you'd like**
I would like to filter based non-string metric labels. For example:

[code]

Changes would be centered around the [Label method for the env of the expr filter matcher](https://github.com

[2022-07-14 20:56] TylerHelmuth commented on #12476
Updated Issue description.

[2022-07-14 20:57] TylerHelmuth commented on #12423
Yes I would love for this capability to exist.  Is it something you plan to work on?

[2022-07-14 21:13] TylerHelmuth commented on #12417
you're probably not wrong.

I'll be honest, if we do this I'll probably always add an issue because I don't like doing the immediate update with the PR number lol I am consistent with linking my PRs and Issues, but what does it say if an approver always does the opposite of the preferred method.

[2022-07-14 21:40] TylerHelmuth commented on #12474
I _think_ `tracegen` is being replaced by `telemetrygen` which is under command.  Not sure of the status of that work.

[2022-07-15 04:03] dgcom opened #12482 "[hostmetricsreceiver] Add important per-process counters"
**Is your feature request related to a problem? Please describe.**
There are several very important per-process metrics which are not yet collected by host metrics receiver, for example:
- process thread count
- process open handles count
- process open file descriptor count

These can be considered process golden metrics and are needed for most troubleshooting and trend analysis to make sure ther

[2022-07-15 04:41] fatsheep9146 commented on #12412
What's your configuration of otel-collector?

[2022-07-15 07:20] mx-psi commented on #7931
@ofirshmuel I think this is still happening, do you have any updates?

[2022-07-15 08:53] boostchicken commented on #12319
@luozenglin so just greater than or less than is fine?  Can you edit your issue to clearly request this feature

[2022-07-15 09:37] gouthamve opened #12484 "Triager role request for @gouthamve"
Formal request to grant triager scope to @gouthamve.

Reason for request: I am a Prometheus maintainer with with the focus on making all this Prometheus work seamlessly inside OTel and the Collector. I would like to help @dashpole close/tag and act on the Prometheus related issues. I've been contributing to the Collector since Januaray.

I participate in the Prometheus WG and fulfill [the requirem

[2022-07-15 09:44] gouthamve commented on #12484
I am also happy to expand the scope to all of collector issues as well (not just Prometheus), but I am not fully confident about the other areas.

Please let me know if this is something you'd like me to work towards.

[2022-07-15 10:07] StefanSa opened #12485 "[syslogreceiver] Add support for tcp framing"
**Describe the bug**
We try to send from our Friewalls syslog data to the syslogreceiver via tcp - udp / rfc5424, but without success.
The following error message is generated.

udp:
[code]

tcp:
[code]

**Steps to reproduce**
As soon as syslog data is sent / received this error occurs.

**What did you expect to see?**
Receive Syslog UDP data without any problem.

**What did you see instead?**
Err

[2022-07-15 10:28] mx-psi commented on #12414
👋 You can pass the API key through an environment variable; this is documented here: https://opentelemetry.io/docs/collector/configuration/#configuration-environment-variables

This is the recommended way of passing secrets on the configuration per [this document](https://github.com/open-telemetry/opentelemetry-collector/blob/main/docs/security.md#configuration):

Does this answer your question?

[2022-07-15 10:29] mx-psi commented on #12474
That's the plan, yes. We have an engineer from Datadog who will work on this, but the work has been delayed.

[2022-07-15 10:36] EddieEldridge commented on #12477
**Update:** Using the RegEx `^(?P<http_protocol>.*):\/\/(?P<http_domain>.*)\/(?P<http_path>.*)` seems to have worked. I think there is something off with the final part `(\?|\&)(?P<http_query_params>.*)` but it's beyond my understanding.

[2022-07-15 11:02] luozenglin commented on #12319
I've updated the issue, do I need to provide more?

[2022-07-15 11:07] gouthamve commented on #12412
Hi, we don't have a `prometheusremotewritereceiver` yet. You can only write to OTel collector using the `/v1/metrics` endpoint via OTLP and not Prometheus Remote Write.

You can on the other hand use the opentelemetry operator: https://github.com/open-telemetry/opentelemetry-operator/blob/main/docs/api.md#opentelemetrycollectorspectargetallocator to scrape the metrics directly into the Collector u

[2022-07-15 11:48] keisku opened #12486 "[datadogexporter] Add host tags to metrics on serverless env"
**Is your feature request related to a problem? Please describe.**

Host metadata tags are missing on serverless environments.

**Describe the solution you'd like**

Add [HostMetadataConfig.Tags](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/632ac141f29310858637ced4645498d474253ebd/exporter/datadogexporter/config.go#L305-L308) to series/sketches in [consumer.All()](https:/

[2022-07-15 11:54] #12334 closed

[2022-07-15 11:59] gouthamve opened #12488 "[datadogexporter] TestNaNMetrics fails on M1 Macbook"
[code]

This failure happens consistently on a M1 Macbook on 632ac141f29310858637ced4645498d474253ebd

cc @mx-psi

[2022-07-15 12:01] mx-psi commented on #12488
Thanks, assigned to me

[2022-07-15 12:58] #12196 closed

[2022-07-15 13:06] codeboten commented on #12430
Label added https://github.com/open-telemetry/opentelemetry-collector-contrib/labels/exporter%2Fprometheus

[2022-07-15 13:06] #12430 closed

[2022-07-15 13:08] codeboten commented on #12429
Fixed by #12472

[2022-07-15 13:08] #12429 closed

[2022-07-15 13:12] codeboten commented on #12474
@TylerHelmuth correct, I figured in the meantime there's no reason for `tracegen` not to also live in `cmd/` :)

[2022-07-15 13:47] kentquirk opened #12491 "[pkg/telemetryquerylanguage] Add ordering inequalities to comparisons"
**Is your feature request related to a problem? Please describe.**
Currently, TQL supports strict equality ('==') and inequality ('!='). It would be useful to support ordering comparisons as well -- specifically, ('<'), ('>'), ('<='), and ('>=').

Adding them to the grammar is pretty simple, but it's slightly trickier to extend the expression evaluators.

**Describe the solution you'd like**
We ne

[2022-07-15 13:47] kentquirk commented on #12491
@TylerHelmuth ^ thoughts?

[2022-07-15 14:12] TylerHelmuth commented on #12423
Sounds great

[2022-07-15 15:13] gabrielqs commented on #12414
Oh my god, i am sorry. it does. i actually went through the process of creating an init container to inject the env vars into the config, I should have read the manual first. thank you so much!

[2022-07-15 15:13] #12414 closed

[2022-07-15 15:27] blakeromano commented on #12412
@gouthamve Is there a reason none of the helm charts allow the usage of the CRD? I would have never known that was even an option with the helm chart for Operator or Collector...

[2022-07-15 15:29] mx-psi commented on #12414
No worries, glad to have helped :)

[2022-07-15 15:30] TylerHelmuth commented on #12491
Also, I think "Missing" is the same as the literal "nil" case.  If a Getter returns nil it should be treated the same as nil.  I don't think we should assume `0`, or `0.0` for instance, I think comparison with nil would be false always.

[2022-07-15 17:10] TylerHelmuth commented on #12484
Hello @gouthamve, a good start towards being added to this role would be attending the Weekly Collector triage meeting on Fridays at 10am PT.  [You can find a link to the meeting in the public calendar.](https://github.com/open-telemetry/community#calendar).  Let us know if the meeting's time does not work.

[2022-07-15 17:13] TylerHelmuth commented on #12482
@dgcom is this something you plan to work on?  If so I will assign the issue to you.

[2022-07-15 17:15] dgcom commented on #12482
I would love to, but I don't have enough time and skills in Go currently to contribute...

[2022-07-15 17:30] TylerHelmuth commented on #12424
Closed based on linked PR.  Let us know if it should be reopened.

[2022-07-15 17:30] #12424 closed

[2022-07-15 17:47] TylerHelmuth commented on #12482
@evan-bradley it's yours.

[2022-07-15 18:11] seankhliao commented on #12477
`(\?|\&)` is an unnamed group, it should probably be uncaptured with `(?:\?|\&)`

[2022-07-15 19:07] StefanSa commented on #12485
hi there,
sorry for the noise here.
So if you look at the specification of rfc5424, the syslog receiver behaves correctly.
![seq-syslog-rfc-5424-example](https://user-images.githubusercontent.com/6105075/179289369-2ec8d62d-45a0-473d-9205-fdaa55ed7530.png)

- `HEADER`
   - `PRI` — or "priority", is a number calculated from Facility (what kind of message) code and Severity (how urgent is the message

[2022-07-15 19:59] gouthamve commented on #12484
I've added the meeting to my calendar and didn't know about this. I live in Europe and 7PM on Fridays is a little tough sell tbh. Having said that, I will try my best to attend these and hopefully I'll see you in the next one!

[2022-07-15 20:10] TylerHelmuth commented on #12484
Ya thats a rough time slot.  Are you able to attend the Collector SIG meetings on Wednesday at 10am? @dashpole do you nominate @gouthamve?

In the mean time it would be a huge help if while you are triaging issues you can pinging @open-telemetry/collector-contrib-approvers with the labels that should be added.

Thanks for being interested in this role! We desperately need triagers.

[2022-07-16 02:19] newly12 opened #12498 "[prometheusreceiver] should not validate combined metrics timestamp for type like gauge, counter"
**Is your feature request related to a problem? Please describe.**
Failed to scrape cadvisor metrics due to timestamp validation of the combined metrics, however `container_cpu_load_average_10s` is `gauge`
[code]

help text for `container_cpu_load_average_10s` metric
[code]

**Describe the solution you'd like**
If histogram and summary points are required to have consistent timestamp(if I read #93

[2022-07-16 05:55] TylerHelmuth commented on #12207
Closing this as it seems A solution has been found. Let me know if it should be reopened.

[2022-07-16 05:55] #12207 closed

[2022-07-16 06:02] TylerHelmuth commented on #12323
@StefanSa is the OpenSearch exporter you're referring to still housed in Contrib?

[2022-07-16 06:15] #2726 closed

[2022-07-16 06:15] TylerHelmuth commented on #2726
The readme has been update.

[2022-07-16 12:23] StefanSa commented on #12323
Hi @TylerHelmuth
Yes, this is just created by this PR #10206 of @Tomaslongo.
If I'm not mistaken, this is based on the elasticserach-exporter and this currently only supports `logs`, it would be great if `metrics and traces were also supported here`.

[2022-07-16 17:59] atoulme opened #12516 "Changelog build fails to run"
**Describe the bug**
Changelog build fails to run

**Steps to reproduce**
Run against github CI

**What did you expect to see?**
No issue with build

**What did you see instead?**
Changelog fails to run with this error:
See https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7369495488?check_suite_focus=true
[code]

**What version did you use?**
Latest main

[2022-07-16 18:46] dmitryax opened #12518 "[exporter/pulsar] Tests are failing on Windows with -race check"
[code]

https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7330465915?check_suite_focus=true

[2022-07-16 18:51] dmitryax commented on #12518
Hey @tjiuming, I created an issue for the race issue for pulsar exporter. This means that it cause race conditions on Windows. Do you have a chance to take this ticket and investigate it further?

[2022-07-16 20:19] #12516 closed

[2022-07-18 01:22] newly12 opened #12520 "prometheus translator: multiple target metric might be emitted if gropubyattrs processor is involved"
**Describe the bug**
A clear and concise description of what the bug is.
Given a metrics pipeline like `prometheus` receiver -> `groupbyattrs` processor -> `prometheusremotewrite` exporter, since groupbyattrs sort of splits the `pmetric.Metrics` to multiple `pmetric.Metrics` and in `prometheusremotewrite` exporter, the translator [adds](https://github.com/open-telemetry/opentelemetry-collector-con

[2022-07-18 01:22] newly12 commented on #12520
should target metric be generated by receiver instead of the exporter? it seems to be the only way to prevent from this happening?

[2022-07-18 07:31] boostchicken commented on #12416
I looked at the code, all HasLabel and Label are doing is parsing attributes.  Have you tried it out?

[2022-07-18 07:46] VineethReddy02 commented on #12412
@blakeromano [here](https://github.com/open-telemetry/opentelemetry-operator/tree/main/cmd/otel-allocator#target-allocator) are some details on targetallocator, this is an optional configuration in operator, so isn't enabled by default. I agree that this feature needs documentation and positioning on the top level of Otel-Operator.

[2022-07-18 09:10] #10424 closed

[2022-07-18 10:55] mx-psi commented on #12488
We need DataDog/datadog-agent/pull/12779, after that we will just remove this test from the codebase, since this part of the code is moving to a library outside of this repository.

[2022-07-18 11:03] mx-psi commented on #8372
All steps are done.

[2022-07-18 11:03] #8372 closed

[2022-07-18 11:37] seankhliao commented on #12477
`^(?P<http_protocol>.*):\/\/(?P<http_domain>.*)\/(?P<http_path>.*)\?(?P<http_query_params>.*)` is probably enough

[2022-07-18 13:15] #12474 closed

[2022-07-18 13:27] dashpole commented on #12300
also cc @Aneurysm9

[2022-07-18 13:50] djaglowski commented on #12485
The syslog receiver relies on [influxdata/go-syslog](https://github.com/influxdata/go-syslog) for parsing rules. It looks like [the module provides some handling of framing](https://github.com/influxdata/go-syslog/blob/ac565dc76ba6bb17b47140fb74355d1de7f19307/README.md#message-transfer), though we are not currently utilizing it. Do you think these capabilities can be used to address your suggestio

[2022-07-18 13:56] dashpole commented on #12428
We will also need to make some changes to the [prom specification](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/data-model.md#prometheus-compatibility) to support this:

* Prometheus exporters (including language + collector) SHOULD produce `_created` series for cumulative types, but this can be turned off.
* The prometheus receiver MUST drop the _c

[2022-07-18 14:16] djaglowski commented on #12200
It's not clear to me where the `2006-01-02T15:04:05.000000000-07:00` time format is defined, but I believe it would work if the subsecond part was changed to `9`'s. ie: `2006-01-02T15:04:05.999999999-07:00`. [Further explanation.](https://stackoverflow.com/questions/53837975/time-parse-in-go-with-varying-fractional-second-length)

[2022-07-18 14:28] StefanSa commented on #12485
Hi Daniel @djaglowski
I think this would work.
TCP_Framing knows two options `traditional` or `octet-counted` [default traditional] [TCP_Framing](https://www.rsyslog.com/doc/v8-stable/configuration/modules/omfwd.html#tcp-framing).
You could add a flag / option `tcp_framing` in the exporter with these two options.
[code]
For example, if the octet-counted option is enabled, the prefix must be evalua

[2022-07-18 15:01] EddieEldridge commented on #12477
[code]

Thank you @seankhliao 🧙

[2022-07-18 15:11] djaglowski opened #12558 "[tracegen] CI job fails due to changed path"
#12475 moved the `tracegen` package under the `cmd` directory. It appears the `tracegen` job still expects the old path.

[Failure observed here](https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7390924758?check_suite_focus=true#step:4:104)

[2022-07-18 16:01] mistodon commented on #12423
There's definitely some things that could be refactored in the above PR, but I want to make sure people are happy with the general approach before I do that.

[2022-07-18 16:07] #9795 closed

[2022-07-18 18:16] codeboten opened #12566 "[ci] ReadHeaderTimeout is not configured lint failures"
Lint failures such as the one below are causing build failures

[code]

[2022-07-18 19:33] #10128 closed

[2022-07-18 19:58] #10186 closed

[2022-07-18 21:01] #3121 closed

[2022-07-18 21:08] codeboten commented on #8553
This has been done

[2022-07-18 21:08] #8553 closed

[2022-07-18 21:46] dmitryax opened #12591 "[pkg/translator/jaeger] Flaky test TestProtoBatchesToInternalTraces"
Seen in https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7398286593?check_suite_focus=true

[code]

[2022-07-18 22:18] dwelch-spike commented on #11563
Hi @djaglowski PR is ready for review. Please let me know if I need to do anything else. https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/11877

[2022-07-19 00:25] codeboten commented on #12165
Fixed by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12404

[2022-07-19 00:25] #12165 closed

[2022-07-19 02:01] newly12 commented on #12498
@dashpole I missed one part in the config while reproducing this error, I can reproduce the error if I add such config in prometheus receiver config,

[code]

given metrics like this
[code]

their `groupKey` will be the same as `id` label is dropped thus the `metricGroup` will be the same, as each of them have a different timestamp tagged, we got the `inconsistent timestamps` error.

[2022-07-19 02:54] #12484 closed

[2022-07-19 13:09] Mario-Hofstaetter commented on #9998
I ran some more tests (with `0.55.0`) after realizing what actions cause new metric series which then cause memory increase.

Within 30 minutes otelcol process goes from **<400 MiB to > 2 GiB of memory** (see below).
After restarting otelcol, memory is again below 400 MiB.

I could provid `pprof` dumps of the different states, if anyone would be interessed, or wait until #12215 is merged or I get

[2022-07-19 13:33] dashpole commented on #9998
pprof dumps would be useful with or without disable start time set.  Thanks for your investigation!

[2022-07-19 14:15] jpkrohling commented on #11549
The tail-sampling does not currently handle this, and I'd prefer to have the current problems with the tail-samping to be solved before we expand it in this direction. The issue @atoulme linked seems doable, though.

[2022-07-19 14:15] jpkrohling commented on #11549
I'm closing this in favor of #9117 as proposed.

[2022-07-19 14:15] #11549 closed

[2022-07-19 14:25] dashpole commented on #12498
Hmmm... OK.  I think only doing timestamp checks for histograms and summaries is a good idea.  But it does mean that if you cause two metric streams to collide for a histogram using `labeldrop`, you can still hit this problem (e.g. if `container_cpu_load_average_10s` was actually a histogram`), since it will try and merge the two histograms into one histogram.

[2022-07-19 14:47] jsumners commented on #10467
@MalaSundaramoorthy thank you.

@jpkrohling sorry, this got lost in my pile. Is the information I wrote above even correct?

[2022-07-19 14:53] dashpole commented on #12300
I think we are probably doing the right thing in the prometheus receiver... The `labels` config is supposed to add a label to every metric series.  If there was an incoming `target_info` metric, it should add the label to that before it is converted to a resource attribute.  https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/9967#issuecomment-1124318434 is also related, but I

[2022-07-19 15:00] MalaSundaramoorthy commented on #10467
Yes, I see "Getting In Touch" link has wrong URL. I will update the link with right Github channel in the README file page.

[2022-07-19 15:13] Mario-Hofstaetter commented on #9998
@dashpole for disable_start_time I would need assistence regarding <https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/9998#issuecomment-1189033814>

I have repeated my test running `pprof` in default settings and saved everything I found 3 times:

- (1) After restarting our app and otelcol (collector @ ~ 400 MiB)
- Generated new metric series in our app..
- (2) pprof dumps w

[2022-07-19 16:07] #12488 closed

[2022-07-19 16:08] rahuldimri commented on #12591
Can I work on this ?.

[2022-07-19 16:36] TylerHelmuth commented on #12591
Another instance: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/7413367896?check_suite_focus=true

[2022-07-19 16:36] TylerHelmuth commented on #12591
@rahuldimri its yours

[2022-07-19 17:08] dmitryax commented on #12591
@rahuldimri thanks for offering the help. It seems like an ordering issue when an expected and an actual list comes with items in different order

[2022-07-19 17:29] jpkrohling commented on #9998
@dashpole, will you look into this, or should I put it on my queue?

[2022-07-19 17:43] hardproblems commented on #12300
opt-out for generating target_info also works since prometheusreceiver already generates `up` metric which should have the same purpose as `target`. 🙇

[2022-07-19 17:55] dashpole commented on #9998
If you have time, you are welcome to look into it.  I have a strange dev setup, and was having trouble opening the pprof profiles earlier

[2022-07-19 18:45] jpkrohling commented on #9998
I have a few other items on my queue, but I think this might take precedence. Given that this seems related to the metrics part, you (or @gouthamve?) would probably find the problem faster than me, but if you can't, I can give it a try.

[2022-07-19 19:07] jpkrohling commented on #10594
I believe this got fixed by #12297. If this is not the case, let me know and I'll reopen e re-evaluate this.

[2022-07-19 19:07] #10594 closed

[2022-07-20 07:54] ivanrusanov commented on #12431
@fatsheep9146 yes. But after starting collector, example client and server nothing new appears in collector log after `Everything is ready. Begin running and processing data.`.

[2022-07-20 11:20] povilasv opened #12601 "[exporter/coralogixexporter] Add support for logs"
**Is your feature request related to a problem? Please describe.**

Use OpenTelemetry Collector to send Log data to coralogix.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other

[2022-07-20 11:21] newly12 opened #12602 "hostmetrics receiver: question about system.cpu.utilization"
unit of system.cpu.utilization seems to be 1 instead of percentage(see [document](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/hostmetricsreceiver/internal/scraper/cpuscraper/documentation.md
)), according to  https://pkg.go.dev/github.com/shirou/gopsutil@v3.21.11+incompatible/cpu#TimesStat

and cpuscraper code [here](https://github.com/open-telemetry/opente

[2022-07-20 11:27] newly12 commented on #12498
I guess it is hard to tell what should be the right behavior, I do have #12522 to skip the validation for counter & gauge, but as you mentioned, it could run into issues for histogram & summary, I am not sure if prometheus has such enforcement(haven't tested it), maybe we should align with prometheus and remain the same behavior, or maybe have an option for user to disable the validation even thou

[2022-07-20 11:53] newly12 commented on #9998
@Mario-Hofstaetter please try this builder config.

[code]

[2022-07-20 13:28] Mario-Hofstaetter commented on #9998
## TL;DR: Using `disable_start_time: true` looks promising

Memory stayed < 400 MiB while running the actions in our application which caused new metrics. Memory usage of otelcol is now below prometheus in agent mode.

Memory footprint could also be especially low because of the custom build only containing used components? Will re-run the test with the custom binary but `disable_start_time` on fa

[2022-07-20 13:39] djaglowski opened #12603 "[receiver/otlpjsonfile] Excessive errors created when consuming multi-signal files"
This receiver can consume a file containing multiple signal types. However, each signal type will process all other signal types as errors.

[2022-07-20 14:03] holograph commented on #9998
Woohoo! Looking forward to seeing this released...

[2022-07-20 16:32] dmitryax commented on #8466
I can sponsor this component. I have experience with Druid

[2022-07-20 16:37] codeboten commented on #9593
@MovieStoreGuy thanks for proposing the component. Could this receiver become a scraper in hostmetrics receiver or do you think it's specific enough that it should be a separate receiver?

[2022-07-20 17:46] dmitryax opened #12607 "CodeQL action is frequently failing on main branch"
[code]

[2022-07-20 17:47] dmitryax commented on #12607
It seems like a timeout issue but not 100% sure

[2022-07-20 18:41] dmitryax opened #12616 "Prepare contrib release v0.56.0"

[2022-07-20 18:41] dmitryax opened #12617 "Tag and release contrib v0.56.0"

[2022-07-20 18:59] davidmirza408 commented on #12290
@dmitryax all attributes that hostmetricsreceiver sets are defined here https://github.com/open-telemetry/opentelemetry-collector/blob/semconv/v0.55.0/semconv/v1.6.1/generated_resource.go#L689.  When adding parent PID, is it a requirement that we add the attribute to the semantic conventions constants?  Do you have a preference for the name?  Does process.ppid work for you?

[2022-07-20 19:16] boddushiva opened #12610 "[processor/transform] support for modifying dimension names and values for specified metrics"
usecase: Clone dimension and modify dimension values based on conditions for specified metrics

[2022-07-20 19:17] rooque opened #12611 "[processor/metricstransform] aggregate_labels inconsistent results"
**Describe the bug**

Trying to aggregate a histogram using metricstransform (aggregate_labels) produce inconsistent results.

**Steps to reproduce**

Use a prometheus recivier to scrape a histogram that have multiple values like this:

<details><summary>METRICS</summary>
<p>

[code]

</p>
</details>

and after that export it to prometheus using metricstransform processors (aggregate_labels, label

[2022-07-20 19:21] dmitryax commented on #12607
Increasing github actions timeout didn't help

[2022-07-20 19:52] jpkrohling commented on #12607
This actually looks like a problem with GHA's infra. This happens from time to time and is typically fixed within a couple of hours. It's awful that it's happening on our release day, though :-/

[2022-07-20 19:57] dmitryax commented on #12607
I also think that the process is might be killed due to excessive CPU/memory utilization. Maybe we should play with CodeQL config and tune it

[2022-07-20 19:58] evan-bradley commented on #12193
Looking for some guidance here: [the specification for attributes](https://opentelemetry.io/docs/reference/specification/common/#attribute) says that it is undefined behavior to set an attribute value to `null`, and most language SDKs implement it as a no-op, similar to how the `set` function currently works. I don't see any obvious fields accessible to the transform processor where `nil` would be

[2022-07-20 20:01] TylerHelmuth commented on #12193
Good find.  For attributes then it should continue to do nothing.

It does bring up the question of whether or not issue is really valid.  Should we let users set anything to `nil` ?  I can't really think of a field in traces, metrics, or logs, where `nil` is a valid value.

[2022-07-20 20:10] kwiesmueller commented on #9998
One other observation we've made is regarding windows.
We're still collecting profiles etc. but it looks like our collector running on windows consistently uses more memory that on linux.
We're running in K8s so the current theory as profiles don't show significant differences is that memory reporting in windows is different as we see the memory use growing over time and then level out which looks

[2022-07-20 20:13] evan-bradley commented on #12193
I agree, I don't think there are any code changes necessary. One follow-up could be to document the motivation for this behavior.

[2022-07-20 20:19] TylerHelmuth commented on #12193
Ya good idea.  Can you update the `set` function entry to explain setting anything to `nil` is no-op

[2022-07-20 21:07] tbbream opened #12615 "Filter on Span Kind"
**Is your feature request related to a problem? Please describe.**
Filter on span kind

**Describe the solution you'd like**
Only capture spans for certain kind, (like consumer and server). This way, can get spanmetrics for just the entry points to each task.

**Describe alternatives you've considered**
Tried to use transform to add an attribute by matching on kind, but it doesn't appear to work o

[2022-07-20 21:47] dmitryax commented on #12290
@davidmirza408 yes, lets start with a PR to specification. Maybe `process.parent_pid`?

[2022-07-20 21:52] #12616 closed

[2022-07-20 23:50] #12617 closed

[2022-07-21 04:53] TylerHelmuth commented on #12610
The processor has the ability to update attributes on metric data points and the associated resource   Is that what you are looking to do?

[2022-07-21 04:56] TylerHelmuth commented on #12615
@tbbream When using the transform processor did you interact with kind using an int? The field is returned as an int64 bc it is an Enum.

With 0.56.0 that was released today you can now interact with the field via the Enum symbol from the traces protobuf instead of an int if you'd like.

[2022-07-21 04:57] TylerHelmuth commented on #12615
What processor were you hoping to use to filter? The filter processor? Or where you hoping to configure the spanmetrics processor to only generate metrics for certain span kinds?

[2022-07-21 05:18] nanorobocop opened #12621 "[exporter/kafka] Logs with custom schema"
**Is your feature request related to a problem? Please describe.**
We want to send logs to Kafka using our custom schema.
[Kafka exporter](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/kafkaexporter) sends logs in defined [LogsData](https://github.com/open-telemetry/opentelemetry-proto/blob/main/opentelemetry/proto/logs/v1/logs.proto#L44) format.
In our case

[2022-07-21 07:33] KarstenSchnitter commented on #7905
@jpkrohling we would really like to integrate this exported into the codebase. #10206 was provided from a fork we used internally. Can you assists @TomasLongo in finding a sponsor for this issue? Maybe @dmitryax would be a possibility, since he already gave a lot of comments to #10206? If necessary, we can create another issue, as you suggested using https://github.com/open-telemetry/opentelemetry

[2022-07-21 09:02] Harnoor-se7en commented on #12208
By 'rotating' I meant 'rolling deployment of K8s pods'. will add this in the description too.

[2022-07-21 09:53] #12486 closed

[2022-07-21 11:08] mx-psi commented on #9382
Fixed by #10323

[2022-07-21 11:08] #9382 closed

[2022-07-21 11:16] nanorobocop opened #12623 "[exporter/kafka] Send individual LogRecords"
**Is your feature request related to a problem? Please describe.**
Current implementation of of Kafka exporter sends complete ResourceLogs, which consists of ScopeLogs, which consists of LogRecords.
So instead of sending individual LogRecords, it sents structure of 3 nested levels.
It requires storage behind Kafka to store such complex structure.

**Describe the solution you'd like**
This proposal

[2022-07-21 11:19] jpkrohling commented on #9800
@djaglowski, apparently, I forgot to set this to "accepted" component. Could you please confirm your understanding is also that this component has been accepted?

[2022-07-21 11:20] mx-psi commented on #9123
Sounds like this can be closed?

[2022-07-21 11:21] mx-psi commented on #9380
Fixed by #10325

[2022-07-21 11:21] #9380 closed

[2022-07-21 12:13] mx-psi opened #12629 "[check-codeowners.sh] Validate entries in ALLOWLIST are not owned"
The `.github/scripts/check-codeowners.sh` script is useful to validate that components have an owner by checking that all entries on CODEOWNERS are valid and are not in the ALLOWLIST file.

It would be useful to also validate that the ALLOWLIST file does not have any entries that actually have an owner, so that it accurately reflects the orphaned components.

[2022-07-21 12:43] jpkrohling commented on #9123
I believe so!

[2022-07-21 12:43] #9123 closed

[2022-07-21 12:51] jpkrohling commented on #9370
I think this would be a question for both @dmitryax and @bogdandrutu, but my feeling is that it indeed makes sense to have it as part of a processor.

[2022-07-21 13:04] tbbream commented on #12615
I was thinking that the spanmetrics would not need to change, but using a filter in front of it to reduce the number of traces going into that processor.

[2022-07-21 13:06] tbbream commented on #12615
@TylerHelmuth I was trying to use transform to set an attribute matching on the kind. I was using the integers. Here is the config I was using:
[code]

Here is the outputted trace.
[code]

[2022-07-21 13:30] EddieEldridge opened #12631 "[processor/transform]: Allow transformation of Trace attribute keys"
**Is your feature request related to a problem? Please describe.**
I want to able to rename Trace attribute keys with the transform processor.

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
None as I know of no other alternatives.

**Additional context**
Regex named capture groups don't allow for `.` characters in the capture group and I want my attribute

[2022-07-21 13:51] #5876 closed

[2022-07-21 14:20] TylerHelmuth commented on #12631
Instead of changing key names you should be able to use the "set" function to create a new attribute with the existing attribute and then use the "delete" function to remove the old attribute.

[2022-07-21 15:04] TylerHelmuth commented on #12615
@tbbream what version of the collector did you use?

[2022-07-21 15:06] tbbream commented on #12615
@TylerHelmuth `image: ghcr.io/open-telemetry/opentelemetry-collector-releases/opentelemetry-collector-contrib:0.55.0`

[2022-07-21 15:07] TylerHelmuth commented on #12631
Oh but I see that you want to change potentially all the keys, not specific ones.  Ya I don't think we support that yet.

[2022-07-21 15:08] TylerHelmuth commented on #12631
Are you referring to the attributes processor with this comment?  This is why you can't do `pattern: ^(?P<prefix.http.protocol>.*):\/\/(?P<prefix.http.domain>.*)\/(?P<prefix.http.path>.*)`

[2022-07-21 15:13] TylerHelmuth commented on #12631
If it is only those three you could do

[code]

But I agree that we cannot currently change keys dynamically.  I'm not sure if we would support that via a new path accessor (`attributes.keys`) or a specific function.

[2022-07-21 15:38] EddieEldridge commented on #12631
Yes that's correct.

I would still like to see the functionality to dynamically change keys without having to call `set` on every attribute but what you suggested is perfect and seems to be working well for now :)

**Final Working Solution**
[code]

[2022-07-21 15:42] TylerHelmuth commented on #12615
I got ahead of myself,  the [defect with accessing `kind` in a where clause](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/10349) wasn't fixed until 0.56.0.  [Once this issue is closed](https://github.com/open-telemetry/opentelemetry-collector-releases/issues/166), you should be able to use 0.56.0 and your setup should work.

You'll also be able to switch from ints to [e

[2022-07-21 15:49] boddushiva commented on #12610
Hi Tyler,
Can you provide some examples how to do that?
my usecase:
I have a metric(metric.test1, metric.test2) for which I need to clone
existing dimension to new dimension (‘status’ to ‘error’) and then update
dimension value on few conditions(if ‘Success’ update to ‘true’ and if
‘Failure’ update to ‘false’)

I want to perform this at transform processor, not at
metrictransformprocessor.
If abov

[2022-07-21 16:15] TylerHelmuth commented on #12610
You could try:

[code]

[2022-07-21 17:16] natfly commented on #12326
I've updated this to be more generic for OCI support. What can I do to get a sponsor?

[2022-07-21 17:33] boddushiva commented on #12610
Hi I want new attribute cloned from another attribute only for 2 metrics,
not all metrics

Thanks
Shiva

On Thu, Jul 21, 2022 at 9:15 AM Tyler Helmuth ***@***.***>
wrote:

--
Shiva Boddu

[2022-07-21 18:01] TylerHelmuth commented on #12610
not all metrics

Then you can add a Where Clause to filter down to the 2 metrics you have in mind, but you need to be able to identify them.  Which 2 metrics do you want to apply these transformations to?

[2022-07-21 18:12] djaglowski commented on #11062
Closed by #7840

[2022-07-21 18:12] #11062 closed

[2022-07-21 18:12] djaglowski commented on #11166
Closed by #11167

[2022-07-21 18:12] #11166 closed

[2022-07-21 18:13] vasireddy99 opened #12638 "Pod metrics are not collected in containerd runtime."
**Describe the bug**
When using Bottlerocket in EKS, otel-collector can not collect Pod metrics.
Log is bellow.

2022-03-20T14:04:42.986Z	warn	cadvisor/container_info_processor.go:93	No pod metric collected	{"kind": "receiver", "name": "awscontainerinsightreceiver", "metrics count": 27}
Steps to reproduce

Create cluster with Bottlerocket
Set aws-otel-collector with aws-otel-collector/deployment-t

[2022-07-21 20:03] pmcollins opened #12639 "cmd/configschema/docsgen only knows about core components"
The docsgen command (cmd/configschema/docsgen) used to live in the core repo but got moved into contrib so it needs to be updated to load all components, not just the ones in core.

[2022-07-21 22:01] djaglowski commented on #9800
@jpkrohling, I am still will to sponsor this so we can call it accepted.

[2022-07-21 23:01] crobert-1 commented on #11815
[exporter/signalfx] - Another place that needs updated

The signalfxexporter has functionality that "translates" input metrics into output metrics, and the default translation functionality references the direction attributes. These references should be updated for the new metric format.

Let me know if I should open a new issue for this instead of simply adding another TODO item here!

[2022-07-21 23:26] crobert-1 opened #12641 "[exporter/signalfx] Remove direction references from metric translations"
This is a subtask of issue https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/11815

The signalfxexporter has functionality that "translates" input metrics into output metrics, and the default translation functionality references the direction attributes. These references should be updated for the new metric format.

[2022-07-22 00:17] crobert-1 commented on #12641
One thing that should be noted: Metrics can't be identically matched to previous form.

Originally, one metric (`system.disk.io` for example) might have many datapoints associated with it, both of read and write directions. After doing a sum aggregation without the `direction` and `device` attribute/dimension, all datapoints would be merged into a single datapoint, with the metric name `system.dis

[2022-07-22 01:21] nanorobocop commented on #12621
This is probably depends on https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/12623
Custom schema should be applied to individual records, not set of records.

[2022-07-22 07:40] #12193 closed

[2022-07-22 08:00] amoscatelli opened #12644 "[spanmetricsprocessor] panic when using spanmetric with v0.56"
**Describe the bug**
using v0.56 and spanmetricsprocessor causes panic and otel collector contrib crash with using spanmetric processor and of course becames totally unusable and unresponsive

**Steps to reproduce**
dunno, probably just using spanmetric ?
for me it usually happens in a bunch of minutes after starting the server

**What did you expect to see?**
no crash, no panic, no errors

**What

[2022-07-22 08:27] amoscatelli opened #12645 "[prometheusexporter] error gathering queueSize metrics"
**Describe the bug**
I see a strange error, it seems a sort of collision when collecting queueSize metrics

**Steps to reproduce**
I really don't know, I'll attach my configuration below.
This seems to happen regularly every ten minutes.

**What did you expect to see?**
No error ?

**What did you see instead?**
[code]

**What version did you use?**
This happens with both 0.55 or 0.56 otel collecto

[2022-07-22 13:18] EddieEldridge opened #12647 "[receiver/filelog] Field 'body' is not assumed as expected"
**Describe the bug**
_If a field does not start with resource, attributes, or body, then body is assumed. For example, my_value is equivalent to body.my_value_

**Steps to reproduce**
[code]

**What did you expect to see?**
I would expect `body.log` to be removed from my log after the json parsing has occured.

**What did you see instead?**
The Collector failed to start with the following error

`

[2022-07-22 14:38] EddieEldridge opened #12648 "[receiver/filelog] Unable to remove attribute 'log'"
**Describe the bug**
I am able to perform operations on all the other attributes on the same level as the `log` attribute but not the actual `log` attribute itself.

**Steps to reproduce**
[code]

**What did you expect to see?**
I would expect the `log` attribute to be removed just like `test_field_1` as they are on the same 'level'.

**What did you see instead?**
The `log` attribute was not remov

[2022-07-22 15:20] TylerHelmuth opened #12649 "[processor/transform] Improve function errror handling"
Something to be dealt with in a different PR but... should we error out on this case instead? Silently failing to do what the user asks does not seem like great UX, and if the spec ever changes in this regard, we can't change this without potentially breaking users unless we return an error.

_Originally posted by @mx-psi in https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/

[2022-07-22 15:30] TylerHelmuth commented on #12476
Great idea.  The grammar knows how to accept string arrays so this is just as straight forward as 2 strings.

I'm not following what you mean here.

[2022-07-22 15:38] #12354 closed

[2022-07-22 15:41] tbbream commented on #12615
Just tried on the new version and the transform is working to assign an attribute matching on a span kind. This meets my needs and I am closing this.

[2022-07-22 15:41] #12615 closed

[2022-07-22 16:05] dashpole commented on #12428
I just noticed https://github.com/open-telemetry/opentelemetry-specification/pull/2645, so no spec change is needed

[2022-07-22 16:57] evan-bradley commented on #12476
Using Go templates could look like the following:

[code]

The data provided to fill the template would just come from the signal fields.

Looking at this now, I think just providing a list to the `Concat` function will work fine, since it will be more straightforward to implement and arguably reads better.

[2022-07-22 17:01] TylerHelmuth commented on #12476
I agree.  Especially because templating looks the same as building concat directly into the language: `set(name, name + attributes["book_genre"])`.  But I think language-aware concat can come later.

[2022-07-22 17:12] TylerHelmuth commented on #12644
@amoscatelli are you able to reproduce this error in 0.55.0 or before?

[2022-07-22 17:25] TylerHelmuth commented on #12601
Closing based on merged PR.  Let me know if it needs reopened for any reason.

[2022-07-22 17:25] #12601 closed

[2022-07-22 17:43] evan-bradley commented on #12476
Agreed. Please assign this to me, I should be able to implement the factory relatively quickly.

[2022-07-22 18:19] amoscatelli commented on #12644
@TylerHelmuth I can confirm 100% this issue is reproducible only with 0.56.0
I rolled back to 0.55.0 and it's working like before.
Maybe this issue is caused by the fix for #11149

[2022-07-22 18:21] aishyandapalli opened #12652 "[exporter/loadbalancingexporter] Service name based routing for traces"
**Is your feature request related to a problem? Please describe.**
We are currently using spanmetrics processor to generate red metrics and ingest into prometheus. these metrics are in the scope of a service+operation context. so if we either generate red metrics on a single tiered collector or 2 tiers with a load balancing exporter, each of the collectors would generate metrics for the service+op

[2022-07-22 19:32] dashpole commented on #12520
That is one option.  That would essentially mean disabling the parsing of target_info into resource.  But then i'm not sure

What are you planning to do with the additional resource attributes?  IIUC your use-case, you want to add them back to PRW somehow, right?

Another option would be to have a way to do the reverse of `groupbyattrs`, where we could undo the split that happened in groupbyattrs,

[2022-07-22 21:08] thomasbaldwin opened #12653 "Filelog Receiver formatting logs"
I'm using the file log receiver, but I'm unsure of how to get the logs to be in the format I'd like. Here is my current config:

[code]

and here is what is exported:

[code]

This is what I'd ideally like, is my logs to be formatted like:

[code]

is something like this possible?

[2022-07-23 01:32] nanorobocop commented on #12623
As far as I can see, other exporters also extract individual LogRecords and send it: [clickhouseexporter](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/exporter/clickhouseexporter/exporter.go#L66-L110), [elasticsearchexporter](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/exporter/elasticsearchexporter/exporter.go#L99-L121), [lokiexporter

[2022-07-23 12:16] albertteoh commented on #12644
It appears to be a race condition in `Map.Get`:
[code]

where the error `index out of range [0] with length 0` suggests there was 1 element detected in the slice, enters the loop and, while attempting to access the first element, finds the slice is empty.

I suspect this is because the metrics are computed in a separate goroutine from the trace "stream":

[code]

I'll see if I can reproduce the pa

[2022-07-23 15:59] TylerHelmuth commented on #12644
Would making a copy of the trace data to use in aggregateMetrics solve this issue?

[2022-07-23 21:58] albertteoh commented on #12644
I think so 😄

The following seems to reproduce the race condition via unit tests, with some hacks:

1. Simulate mutation of the span's attributes in downstream trace consumers by modifying `spanmetricsprocessor.ConsumeTraces` to sleep for a short period of time after the goroutine, then clearing every span's attributes. Why short sleep? Because we want the spanmetrics processor to think that nothi

[2022-07-25 07:18] MovieStoreGuy opened #12667 "New component: Splunk Enterprise Receiver"
## The purpose and use-cases of the new component
For those using self host splunk (Splunk Enterprise), there is a few endpoints being exposed by the indexer cluster that can be captured and help monitor the platform.

## Example configuration for the component
[code]

## Telemetry data types supported
Metrics

## Is this a vendor-specific component? If so, are you proposing to contribute this as

[2022-07-25 07:23] MovieStoreGuy commented on #9593
That sounds like a reasonable way forward, I don't intend for it to do much more than what is described here:

https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-Agent-network-performance.html

However, I wanted it to be adoptable by any infrastructure vendor

[2022-07-25 07:29] MovieStoreGuy commented on #9251
Sorry for the delay, trying to get notifications from Github has been an ongoing struggle for me.

Let me look into this because this sounds the kafka exporter has a stale state within it that needs to be kicked.

[2022-07-25 07:37] MovieStoreGuy commented on #12621
I think this warrants a further discussion than just applying to the KafkaExporter since this could also apply to the Kinesis Exporter, FileExporter and I am sure more in future.

I need to think more about this because it also comes with a performance impact as well

[2022-07-25 07:51] neelayu opened #12668 "[extension/healthcheck] Make use of HTTPServerSettings to leverage inbuild TLS"
**Is your feature request related to a problem? Please describe.**
For secure healthcheck probes, TLS is handy. Currently healthcheck extension doesn't use TLS.

**Describe the solution you'd like**
Make the extension implement `confighttp.HTTPServerSettings`

[2022-07-25 07:51] neelayu commented on #12668
/assign me

[2022-07-25 07:52] neelayu commented on #12668
Ref: #10853

[2022-07-25 08:13] jamesmoessis commented on #9593
Having it as a scraper in the hostmetrics receiver could make sense. It would be linux-only, but everything that ethool queries I believe is kernel-level, so it seems general enough.