[2022-02-07 18:46] william-tran commented on #7407
@pmalek-sumo thanks for the feature you contributed to enable the use of resource attributes directly. I'll see how far I get with it for my use QoS use case described in https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/7561. If you have any feedback on that feature I'd appreciate it, it could be a more direct approach for your routing use case as well, without using resour

[2022-02-07 19:22] gautam-nutalapati commented on #7591
Thanks for looking, Nice catch.. 0.16.0 was from https://github.com/aws-observability/aws-otel-collector
I reproduced it with collector version is 0.43.0.

[2022-02-07 19:39] leonsp-ai commented on #4914
@puckpuck I'm contributing a new redaction processor that's designed for this use case. Right now I'm looking for an existing contributor to sponsor the PR: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6495

[2022-02-07 21:12] sethAmazon commented on #7547
This is on our road map and will be prioritized when available. Sorry I can't give you any more information.

[2022-02-07 22:58] sodabrew commented on #7402
I would ask that this be an across-the-board decision for the collector and all exporters. If you configure multiple exporters and 1 out of 3 has an expired API key, fail? Start with 2 that work and log the error? Ensure that at least 1 configured exporter is working else bomb out?

Here's my suggestion, which I hope would illustrate why I think it should be an across-the-board decision:
[code]

[2022-02-08 01:44] dharmaplay commented on #7585
If I configure the collector in the below manner by specifying single topic then I am getting below json ( Not sure is Agent is sending all 3 componenets data to Single Topic ) but If I configure separate topics for each SPANS, LOGS and METRICS a separate topics then I will get above error.
[code]
{
	"resourceSpans": [{
		"resource": {
			"attributes": [{
				"key": "host.arch",
				"value": {

[2022-02-08 06:12] yiyang5055 commented on #7558
@tigrannajaryan ok

[2022-02-08 08:42] jpkrohling commented on #7002
Looks like it didn't :-/ I've just seen this in a couple of PRs, including this:

https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5096959006?check_suite_focus=true

[2022-02-08 09:16] jpkrohling commented on #7595
cc @ydrozhdzhal @asukhyy @khospodarysko @architjugran

[2022-02-08 09:17] jpkrohling commented on #7593
cc @djaglowski

[2022-02-08 09:18] jpkrohling commented on #7596
cc @anuraaga @Aneurysm9 @mxiamxia

[2022-02-08 09:19] roybh1 commented on #7583
It did. Thanks!

[2022-02-08 09:34] #7589 closed

[2022-02-08 10:03] SquidDev commented on #7589
Thank you all for the incredibly speedy fix!

[2022-02-08 10:40] jpkrohling commented on #7002
And again: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5096959006?check_suite_focus=true

[2022-02-08 11:00] jpkrohling commented on #7410
Can you get me a minimal configuration that demonstrates the problem? I reduced it to the following but still couldn't reproduce the problem. What does your setup look like? Do you have proxies between the components? Perhaps you are running this on Kubernetes? Do you see the messes during the boot, or when data reaches the collector?

[code]

[2022-02-08 12:56] jpkrohling commented on #4758
@vikrambe, do you think there's still something to do here?

[2022-02-08 13:02] jpkrohling commented on #5007
I believe this has been implemented already. If you think there's still something missing, feel free to reopen.

[2022-02-08 13:02] #5007 closed

[2022-02-08 13:03] jpkrohling commented on #5874
Do you have any news about this, @rmfitzpatrick?

[2022-02-08 13:05] jpkrohling commented on #6371
I haven't seen this in a while, it might have been fixed by a transitive dependency somewhere. Please reopen if this is seen again.

[2022-02-08 13:05] #6371 closed

[2022-02-08 13:09] jpkrohling commented on #6491
Closing this, as we now generate the contrib via releases, which doesn't seem to be affected by this.

[2022-02-08 13:09] #6491 closed

[2022-02-08 13:11] jpkrohling commented on #6668
This has been done already.

[2022-02-08 13:11] #6668 closed

[2022-02-08 13:15] pmalek-sumo commented on #7407
Hmm I believe this is a slightly different problem as I wasn't really aiming at tailsampling or QoS (but maybe I'm mistaken).

In general I'd like to see more flexible routing to be available for the users. This issue tracks one of the pain points of routingprocessor (i.e. leaving stuff behind - like routing keys that were solely used for routing).

[2022-02-08 13:16] vikrambe commented on #4758
@jpkrohling I think we have all the pieces here to solve this problem at scale now.
1. groupByTraceProcessor
2. loadbalancingexporter
3. tailSampler with composite policy, With latest changes we can also add AND clause to the policy

We can close this issue. We should put all these pieces together in a document/blog ? Please suggest ?

[2022-02-08 13:44] jpkrohling commented on #6690
Closing, as this has been done already and present in the guidelines.

[2022-02-08 13:44] #6690 closed

[2022-02-08 16:25] william-tran commented on #7407
@pmalek-sumo If you'd like to continue the conversation about the need for more flexible routing, take a look at what I've been able to get with current functionality in https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/7561#issuecomment-1032795704. Maybe there's a use case that truly requires a more flexible mechanism, but after playing around with these configs I'm not see

[2022-02-08 16:47] vikrambe commented on #4758
Sure @jpkrohling I would be happy to write a blog on this topic, but i would definitely need your review and suggestions. I will start working on the draft and share it soon.

[2022-02-08 16:50] tigrannajaryan opened #7755 "MatchProperties.Libraries must match AT LEAST one"
MatchProperties.Libraries is supposed to be a match if at least one item in the Libraries list matches. This is not currently the case. The code written attempts to match all entires which is wrong: https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/3a8ba25ffc593858690829c01f43c1811b1633dc/internal/coreinternal/processor/filtermatcher/filtermatcher.go#L90

**Steps to reproduce*

[2022-02-08 16:57] tigrannajaryan opened #7756 "MatchProperties.Resources incorrectly says that it matches at least one"
MatchProperties.Resources is supposed to be a match if at least one item in the Libraries list matches. This is not currently the case. The code written attempts to match all entires: https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/3a8ba25ffc593858690829c01f43c1811b1633dc/internal/coreinternal/processor/filtermatcher/attributematcher.go#L96

It is not clear what is the right

[2022-02-08 17:01] djaglowski commented on #7574
My intention with the generalized parsing suggestion was to reduce complexity for scraper developers, with the idea being that they can throw a variety of types into this function. (i.e. not necessarily that they have an `interface{}` that they want to parse.) I'm not aware of any cases that would require this kind of functionality, so based on your point about the performance overhead, this proba

[2022-02-08 17:37] matthewmodestino opened #7758 "`splunk_hec/platform_metrics` dropping data due to "Client.Timeout exceeded while awaiting headers""
**Describe the bug**
A clear and concise description of what the bug is.

I am seeing the OTel collector drop metric data when sending k8s metrics to Splunk Cloud using `splunk_hec/platform_metrics`

[code]

The issue is constant and retries do not succeed leading me to assume the payload is not batched or is too big.

[code]

![image](https://user-images.githubusercontent.com/31549209/153041296-1

[2022-02-08 17:42] Aneurysm9 commented on #7002
Encore! https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/7759

[2022-02-08 19:19] #7002 closed

[2022-02-08 19:52] #7135 closed

[2022-02-08 19:56] rmfitzpatrick commented on #5874
I've not had a chance to switch back to this in some time and closed the improvement PR https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5429. I've been asked to work on unrelated projects in the interim. It's my hope that I or potentially someone in my place will be able to devote more attention to it in the next couple weeks.

[2022-02-08 19:59] sethAmazon commented on #7596
Can you please put your collector config and logs

[2022-02-08 21:02] quentinmit commented on #7411
This config option is important for correctly interpreting counter metrics, but it can't be enabled by default because some counters might be coming from outside the process being scraped.

Why does the fact that it's not always the right thing to do mean the option needs to be removed entirely? It is useful and correct for the typical use case of scraping a user process exposing in-process counte

[2022-02-08 21:34] Aneurysm9 commented on #7411
It's not necessarily correct for in-process counters as new counters can be created after the process start time.

[2022-02-08 21:36] djaglowski opened #7761 "[receiver/jmx] Update integration tests to cover recent versions of JMX Metric Gatherer"
**Is your feature request related to a problem? Please describe.**
The `jmxreceiver`'s integration tests must be kept up to date with [releases of the JMX Metric Gatherer](https://repo1.maven.org/maven2/io/opentelemetry/contrib/opentelemetry-jmx-metrics/) on which it depends. Currently, the integration tests cover the two oldest releases but none of the latest five releases.

**Describe the soluti

[2022-02-08 21:58] quentinmit commented on #7411
The process start time is still correct for those counters; a counter that doesn't exist yet hasn't counted any events, so it's valid to count the time between the process start time and the counter's creation as part of the time interval. A counter point with a time interval of `[start,end]` is reporting the count of events that happened in the window `[start,end]`. The correct value is the same

[2022-02-09 09:20] jpkrohling commented on #5874
Sounds good, thanks for the update!

[2022-02-09 09:24] jpkrohling commented on #7761
Is this expected to help fix #5874?

[2022-02-09 09:33] mx-psi commented on #7578
Hi @ikhan-tc thanks for taking the time to open the issue.

As I briefly commented (https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/7570#pullrequestreview-877127151) on your PR, the `tags` field in the Datadog exporter is sent in a different payload from the timeseries of a metric. I believe the problem here is that this payload that sends the tags is being sent after the ti

[2022-02-09 10:18] sumo-drosiek opened #7766 "[extensions/file_storage] Add database files compaction on start to file_storage extension"

[2022-02-09 10:57] jpkrohling commented on #7050
Sorry for taking so long to come back to this. This is basically happening because we group spans based on their trace IDs, here:

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/b18f924eaaf29a0f9923ad7d4a9eb08017ba17ea/processor/tailsamplingprocessor/processor.go#L299-L312

In short: we get only the spans from the resource spans/instrumentation library spans, get them on a

[2022-02-09 11:34] jpkrohling commented on #7766
Transferred.

[2022-02-09 12:43] mx-psi commented on #7578
Another possibility here is that some of your targets have a different hostname. In that case, the configuration above should help too.

[2022-02-09 14:23] djaglowski commented on #7761
Yes, thanks for pointing this out @jpkrohling. I've added this to the checklist on this issue.

[2022-02-09 15:04] ikhan-tc commented on #7578
Thanks @mx-psi . Problem is the payload that sends tags is not sending tags for all targets in scrape config. Here is the startup logs of config with 3 targets.
[code]

[2022-02-09 15:05] vvydier commented on #7386
yes, please.. Thanks

[2022-02-09 15:17] jpkrohling commented on #6669
I believe this has been done already.

[2022-02-09 15:17] #6669 closed

[2022-02-09 15:19] jpkrohling commented on #6641
@vvydier, this one is  also up for grabs, in case you are interested.

[2022-02-09 15:28] gouthamve commented on #6722
Hi, @jpkrohling asked me to take a look at this, and I came up with two other privilege escalations that have not been covered here:

1. If a user cannot edit the configuration file, but if they can edit the executable, then they can make the collector run arbitrary code. For example: `exec: ./run_exporter.sh` is a valid configuration for the receiver. If the user can edit or replace `run_exporter

[2022-02-09 15:36] #7548 closed

[2022-02-09 15:41] architjugran commented on #7595
I will look into this prioritize fixing this bug by next week. I hope that's okay? Or is this blocking any development?

[2022-02-09 15:51] djaglowski commented on #7593
Thanks for writing this up @gurpartb.

The filelog receiver has some known limitations when it comes to file rotation on Windows via the "Move/Create" strategy. At some point we [decided not to guarantee support for this combination](https://github.com/open-telemetry/opentelemetry-log-collection/blob/main/operator/builtin/input/file/rotation_test.go#L38:L41), though it does actually work most of t

[2022-02-09 15:58] vvydier commented on #6801
yes, definitely! Thanks

[2022-02-09 16:13] dashpole commented on #7411
We discussed this at the workgroup today.  We should not remove this functionality, as it does work in some use-cases.  As is the case today, it should be disabled by default.  We should update documentation with a warning to highlight cases where it doesn't work correctly.

[2022-02-09 16:14] bertysentry commented on #6722
Hi, as @tigrannajaryan mentioned, if a non-privileged user can edit `./run_exporter.sh` and have a privileged user execute it, it's not the fault of the OpenTelemetry Collector and **prometheusexecreceiver**: it's really just a poorly secured system.

Like if a non-privileged user can edit the collector binary file (with some x64 asm knowledge), we're screwed anyway ;-)

If you guys decide to drop

[2022-02-09 16:21] #7558 closed

[2022-02-09 16:22] jpkrohling commented on #6801
It doesn't have to, but I just assigned it to you.

[2022-02-09 16:25] jpkrohling commented on #6722
I'm in favor of not having any of those components as part of any official binaries. It's easy to build a small binary that exposes an OpenMetrics endpoint or sends OTLP to a collector somewhere, getting it managed via systemd or some other orchestrator. If people need an example on how to do it, we can certainly provide it.

[2022-02-09 16:34] DiptoChakrabarty commented on #7551
@tigrannajaryan can I take this up please

[2022-02-09 16:51] jeromeinsf commented on #7285
@sethAmazon Any luck reproducing on your side?

[2022-02-09 16:57] #6688 closed

[2022-02-09 17:08] #5873 closed

[2022-02-09 17:31] djaglowski commented on #5673
Another failure [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/4399565136?check_suite_focus=true#step:14:313)
`Log10kDPS/kubernetes_containers         |FAIL  |      9s|    93.3|   103.0|         53|         87|     91200|         89100|CPU consumption is 103.0%, max expected is 100%`

The CPU limitation on this test seems to be slightly too tight. I don't think this

[2022-02-09 18:04] pmm-sumo commented on #3870
I can help with following, if still available:

 - exporter/fileexporter
 - exporter/zipkinexporter
 - processor/attributesprocessor
 - processor/filterprocessor
 - processor/spanprocessor
 - receiver/journaldreceiver
 - receiver/zipkinreceiver

[2022-02-09 18:14] codeboten commented on #3870
Thanks @pmm-sumo, please review https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/7774

[2022-02-09 18:23] sethAmazon commented on #6973
https://github.com/aws-observability/aws-otel-collector/blob/main/config/ecs/container-insights/otel-task-metrics-config.yaml is what I'm using

[2022-02-09 18:24] #6235 closed

[2022-02-09 20:08] sethAmazon commented on #7285
I have not been able to reproduce in my own instance. I have looked into @anna-tran eks cluster and I can see the issue. I do not have access to that cluster since it owned by another team.

[2022-02-09 20:18] sethAmazon commented on #7554
@alolita @tigrannajaryan I can look at this

[2022-02-09 20:41] jmacd commented on #7411
I was able to attend part of this discussion. There are other refinements that can be pursued, if users are truly interested. In the https://github.com/lightstep/opentelemetry-prometheus-sidecar I faced a similar question, and we can refine the answer based on whether you've seen the series reset or not.

1. The first time you see a target produce a series, use the process start time as the start

[2022-02-09 22:32] Aneurysm9 commented on #7411
The receiver performs this calculation by default currently.  The issue in question here is the alternative mechanism it has for determining metric start time, which is using a gauge value from a metric in the scrape, named `process_start_time_seconds` by default but configurable to use any metric matching a provided regex.

As for staleness, the Prometheus scrape manager handles that for us and t

[2022-02-09 23:30] gautam-nutalapati opened #7781 "AWS X-Ray Exporter is not recording error message"
**Describe the bug**
I have [sample app](https://github.com/prisidio/opentelemetry-demo-app) that produces an exception, which is wrapped in otel custom span.
[code]
In AWS XRay, I do not see this error log for respective trace.

**Steps to reproduce**
- Create a custom span, and record an exception.
- Use awsxray exporter and check the specific trace data in XRay console
I created a sample app th

[2022-02-10 01:00] quentinmit commented on #7411
This calculation as described is not correct. You can never use the process start time as the start time of a point unless specifically requested, because the counter might come from outside the process (as discussed upthread). The best you can do is "now" (the same as what happens when a value is seen to decrease), but you need to make sure that you also subtract the observed value for that point

[2022-02-10 01:35] #5673 closed

[2022-02-10 05:36] anuraaga opened #7784 "make lint spams console with huge message"
Just tried running `make lint` with latest code and found it distractingly spams a huge message when running

[code]

and more and more and more.

[2022-02-10 06:24] jmacd commented on #7411
@quentinmit By the way, see https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/datamodel.md#cumulative-streams-handling-unknown-start-time for a description of the following.

The data model contradicts that statement.  It's saying that at time 5 the value was 5, and the observation window also started at time 5. The contribution to the rate by this point

[2022-02-10 10:39] #7551 closed

[2022-02-10 11:25] mx-psi commented on #7414
@austindrenski did you have a chance to try out v0.44 and/or the resourcedetection processor?

[2022-02-10 13:44] jpkrohling commented on #6721
As discussed during the SIG meeting yesterday, the code owners are expected to present a design for making this component secure. If none is provided by 0.46.0, we'll place this component behind a feature gate, eventually removing it.

@bogdandrutu also mentioned that, for the short-term, it might make sense to add a log entry when this component is constructed, stating that this component is unde

[2022-02-10 17:23] brianpham opened #7789 "Support write_relabel_configs for prometheusremotewrite exporter"
**Is your feature request related to a problem? Please describe.**
We are seeing high cardinality for the instance label when using the kubernetes_sd_config. Instead of relabeling it, we want to just drop the label completely. We aren't able to do that in the relabel_configs as part of the scrape config, so we wanted to drop it before it pushes to prometheus in the pipeline.

**Describe the soluti

[2022-02-10 18:05] #7554 closed

[2022-02-10 18:24] Aneurysm9 commented on #7789
Does dropping a label not result in duplicate/out-of-order points for the series with the reduced dimensionality?  This is probably something better handled earlier in a collector pipeline, though I'm not sure we have a great way of handling it.  The [`metricstransformprocessor`](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/metricstransformprocessor) can be

[2022-02-10 19:19] bogdandrutu opened #7791 "Cleanup internal modules in order to have translator packages without core collector dependency."
Right now the translator packages (jaeger, zipkin, pwr, opencensus, etc.) depend on `coreinternal` which mostly depend on `pdata` but it also has other dependencies.

The proposal is to cleanup the internal packages (which by definition should be internal, which means external users should not depend on them) in:
1. Current `common` package becomes a package of utils that do not have any significa

[2022-02-10 20:00] dmitryax commented on #6750
I meant fluentbit extension that doesn't have a code owner. This one does have a code owner. I will sync with him

[2022-02-10 22:30] brianpham commented on #5249
I am seeing the same issue here. Any thing we need to worry about here?

```2022-02-10T22:29:17.863Z	warn	internal/otlp_metricsbuilder.go:163	The 'up' metric contains invalid value	{"kind": "receiver", "name": "prometheus", "value": "NaN", "scrape_timestamp": 1644532124864, "target_labels": "map[__name__:up container:otel-agent instance:otel-agent job:otel-pods namespace:monitoring]"}```

[2022-02-11 00:21] quentinmit commented on #7411
It's possible to interpret from a `[start=5,end=5] 5` point as "zero rate", but it's impossible to reliably interpret a subsequent `[start=5,end=10] 10` point without having state from the "zero rate" point - the spec you linked covers this as

This isn't just something that happens in exceptional conditions; any setup with load balancing can process a subset of the points through different paths

[2022-02-11 01:34] #7784 closed

[2022-02-11 13:39] pmalek-sumo commented on #7407
So that approach seems to be something similar to what we're using in our setup but as I said it seems to be a different problem.

Thanks for letting me know though.

[2022-02-11 15:16] rtorres33 opened #7831 "Unable to set resource service.name while scraping kubernetes pods"
Prometheus receiver defaults to the scrape_configs job_name as the metric service.name.

**Steps to reproduce**

1. Create OpenTelemetryCollector with the following configuration:

[code]

 2. Open the collector console and you will see the following metrics:

[code]

**What did you expect to see?**

[code]

**What version did you use?**
Version: 0.41.0

**What config did you use?**
Config: see ab

[2022-02-11 16:02] mx-psi commented on #7065
After #7830 is merged, Datadog distributions produced from histograms will have the exact value for sum, count and average.

[2022-02-11 16:38] sethAmazon commented on #7781
Can you tuen on the debug logs and post them.

[2022-02-11 16:58] codeboten opened #7835 "[exporter/awskinesis] Ensure Validate implementation does the right thing"
This [change](https://github.com/open-telemetry/opentelemetry-collector/commit/48c402dbfafd6c53686a7aad193beb1aa47a4b7c) in the collector core added a `Validate` method to `QueueSettings` which caused ambiguity with the `ExporterSettings`’ `Validate` method. As a result, I’ve added a Validate method to this exporter and an issue to ensure it was doing the right thing.

Here is an example of the va

[2022-02-11 16:58] codeboten opened #7836 "[exporter/dynatrace] Ensure Validate implementation does the right thing"
This [change](https://github.com/open-telemetry/opentelemetry-collector/commit/48c402dbfafd6c53686a7aad193beb1aa47a4b7c) in the collector core added a `Validate` method to `QueueSettings` which caused ambiguity with the `ExporterSettings`’ `Validate` method. As a result, I’ve added a Validate method to this exporter and an issue to ensure it was doing the right thing.

Here is an example of the va

[2022-02-11 16:59] codeboten opened #7837 "[exporter/googlecloud] Ensure Validate implementation does the right thing"
This [change](https://github.com/open-telemetry/opentelemetry-collector/commit/48c402dbfafd6c53686a7aad193beb1aa47a4b7c) in the collector core added a `Validate` method to `QueueSettings` which caused ambiguity with the `ExporterSettings`’ `Validate` method. As a result, I’ve added a Validate method to this exporter and an issue to ensure it was doing the right thing.

Here is an example of the va

[2022-02-11 17:00] codeboten opened #7838 "[exporter/honeycomb] Ensure Validate implementation does the right thing"
This [change](https://github.com/open-telemetry/opentelemetry-collector/commit/48c402dbfafd6c53686a7aad193beb1aa47a4b7c) in the collector core added a `Validate` method to `QueueSettings` which caused ambiguity with the `ExporterSettings`’ `Validate` method. As a result, I’ve added a Validate method to this exporter and an issue to ensure it was doing the right thing.

Here is an example of the va

[2022-02-11 17:00] codeboten opened #7839 "[exporter/influxdb] Ensure Validate implementation does the right thing"
This [change](https://github.com/open-telemetry/opentelemetry-collector/commit/48c402dbfafd6c53686a7aad193beb1aa47a4b7c) in the collector core added a `Validate` method to `QueueSettings` which caused ambiguity with the `ExporterSettings`’ `Validate` method. As a result, I’ve added a Validate method to this exporter and an issue to ensure it was doing the right thing.

Here is an example of the va

[2022-02-11 17:00] codeboten opened #7841 "[exporter/loki] Ensure Validate implementation does the right thing"
This [change](https://github.com/open-telemetry/opentelemetry-collector/commit/48c402dbfafd6c53686a7aad193beb1aa47a4b7c) in the collector core added a `Validate` method to `QueueSettings` which caused ambiguity with the `ExporterSettings`’ `Validate` method. As a result, I’ve added a Validate method to this exporter and an issue to ensure it was doing the right thing.

Here is an example of the va

[2022-02-11 17:01] codeboten opened #7842 "[exporter/sapm] Ensure Validate implementation does the right thing"
This [change](https://github.com/open-telemetry/opentelemetry-collector/commit/48c402dbfafd6c53686a7aad193beb1aa47a4b7c) in the collector core added a `Validate` method to `QueueSettings` which caused ambiguity with the `ExporterSettings`’ `Validate` method. As a result, I’ve added a Validate method to this exporter and an issue to ensure it was doing the right thing.

Here is an example of the va

[2022-02-11 17:01] codeboten opened #7843 "[exporter/signalfx] Ensure Validate implementation does the right thing"
This [change](https://github.com/open-telemetry/opentelemetry-collector/commit/48c402dbfafd6c53686a7aad193beb1aa47a4b7c) in the collector core added a `Validate` method to `QueueSettings` which caused ambiguity with the `ExporterSettings`’ `Validate` method. As a result, I’ve added a Validate method to this exporter and an issue to ensure it was doing the right thing.

Here is an example of the va

[2022-02-11 17:01] codeboten opened #7844 "[exporter/splunkhec] Ensure Validate implementation does the right thing"
This [change](https://github.com/open-telemetry/opentelemetry-collector/commit/48c402dbfafd6c53686a7aad193beb1aa47a4b7c) in the collector core added a `Validate` method to `QueueSettings` which caused ambiguity with the `ExporterSettings`’ `Validate` method. As a result, I’ve added a Validate method to this exporter and an issue to ensure it was doing the right thing.

Here is an example of the va

[2022-02-11 17:02] codeboten opened #7845 "[exporter/sumologic] Ensure Validate implementation does the right thing"
This [change](https://github.com/open-telemetry/opentelemetry-collector/commit/48c402dbfafd6c53686a7aad193beb1aa47a4b7c) in the collector core added a `Validate` method to `QueueSettings` which caused ambiguity with the `ExporterSettings`’ `Validate` method. As a result, I’ve added a Validate method to this exporter and an issue to ensure it was doing the right thing.

Here is an example of the va

[2022-02-11 17:16] codeboten commented on #7595
Thanks @architjugran, I've assigned it to you

[2022-02-11 17:30] jmacd commented on #7411
@quentinmit Thanks for adding depth. You're right, I stand corrected.

The distinction that I was maybe reaching for without saying so, is that it depends whether the processor is a "single-writer" or not. Inserting true reset points can't be done in a multi-path collection infrastructure without breaking the single-writer principle.

If process or timeseries resets can happen, and if a single-wri

[2022-02-11 17:35] kmotupalli-tc commented on #7578
Hi @mx-psi. Did you check the above logs ? Do you have any updates on this ?

[2022-02-11 17:58] shree007 commented on #7841
@codeboten I may work on it.

[2022-02-11 18:35] atoulme commented on #2835
Folks, https://github.com/open-telemetry/opentelemetry-proto/pull/346 is ready for review. It is coming together. It is not a final Parquet mapping by any means but it gets us to a suitable support to experiment.

[2022-02-11 18:49] dmitryax commented on #7791
It makes sense to me

[2022-02-11 18:55] mx-psi commented on #7578
I briefly talked to @ikhan-tc in private. The `metricstransform` configuration in https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/7578#issuecomment-1033553813 should be a valid workaround

[2022-02-11 19:37] gautam-nutalapati commented on #7781
Below are the debug logs from aws-otel-collector:
[code]

[2022-02-11 19:37] dashpole opened #7878 "Prometheus Remote write exporter replaces non-string attributes with the empty string"
**Describe the bug**
When converting metric attributes to prometheus labels, we currently use the AsString() method on attribues:
 https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/pkg/translator/prometheusremotewrite/helper.go#L164

We should convert non-string attributes to an appropriate string representation instead.

[2022-02-11 20:26] sanjaygopinath89 commented on #7509
@alexvanboxel

Thanks for the response .

In document its given that "The message published on the topic are [CloudEvent](https://cloudevents.io/) compliance and uses the binary content mode defined in the [Google Cloud Pub/Sub Protocol Binding for CloudEvents](https://github.com/google/knative-gcp/blob/main/docs/spec/pubsub-protocol-binding.md#31-binary-content-mode) ." . This makes me think that

[2022-02-11 20:37] sethAmazon commented on #7781
Can you add logging exporter please.

[2022-02-11 20:56] gautam-nutalapati commented on #7781
Thanks for following up on this. Below are the aws-otel-collector logs with loggingexporter in trace pipeline:
[code]

[2022-02-11 20:58] sethAmazon commented on #7781
Okay so it seems the exporter is getting the trace exception so the issue must be either exporter or backend

[2022-02-11 21:18] codeboten commented on #7841
thanks @shree007!

[2022-02-11 23:43] austindrenski commented on #7414
@mx-psi Thanks for getting this patched and released so quickly!

_note: I'm linking various Datadog pages below to clarify where I am or am not seeing things behind the auth wall. Recognize that no one else is going to be able to see what I'm seeing, but figure the page links might help to repro on your end._

I was able to update to `v0.44` today and run deploy a couple of tests this week with v

[2022-02-11 23:47] bogdandrutu opened #7903 "dedup internal/aws/metrics and internal/common/ttlmap"
Both modules/packages seem to offer a TTL map implementation. Someone needs to investigate and dedup the code if duplicate exists.

[2022-02-12 18:03] thmshmm opened #7905 "OpenSearch exporter support"
**Is your feature request related to a problem? Please describe.**
The existing elasticsearch exporter can not be used with OpenSearch as the used elasticsearch client library checks if the target backend is Elasticsearch. The support for OpenSearch should be introduced.

**Describe the solution you'd like**
The OpenSearch client could be integrated into the existing elasticsearch exporter and a c

[2022-02-13 07:30] Gentoli commented on #7051
I had the same issue with a set of collector taking traces from services and doing load load balancing to themselves.

Here is a simple patch I had to allow the headless service to be empty https://github.com/Gentoli/opentelemetry-collector-contrib/commit/846f77ef016f308fb9876251622d93a3abbb88f9

[2022-02-13 12:08] fscellos opened #7906 "Support of exemplars/trace id in Prometheus exporter for metrics produced with spanmetric processor"
Goal of this feature is too add trace id examplars in prometheus exporter.
It could be nice if we have trace id information set in prometheus exporter as they are already present in spanmetrics processor.
This feature is already supported by prometheus write exporter.

I would like to have trace_id as examplars produced by a pipeline spanmetrics --> prometheus exporter to be able to see examplars

[2022-02-13 12:19] alexvanboxel commented on #7509
CloudEvent "binary-content" mode pushes all CloudEvent attributes to the message attribute leaving the content (or Body) to the native OTLP proto format (not wrapped in another proto)

[2022-02-13 19:08] quentinmit commented on #7411
I am confused a bit by your distinction. I think inserting true reset points is something that *must* be done at the beginning of the pipeline, where it is still single-writer, before those points are sent downstream to a multi-path collection infrastructure. Once you're processing points in a multi-path scenario, you can no longer insert true reset points or properly interpret values that did not

[2022-02-14 01:55] MovieStoreGuy commented on #5847
I am to start simple and make it more complex as we need :)

I was thinking that a user could configure a `keyby` by using some combination of `name`, `time`, `resources`, `libraryname` and perhaps `attributes`
so you can do something like:

[code]

[2022-02-14 03:24] william-tran commented on #7561
Summary from collector SIG meeting: routing processor may be superseded by https://github.com/open-telemetry/opentelemetry-collector/issues/2336, so let's avoid adding more features to routing processor.

My own opinion: https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/7407 is a small enough enhancement to go with, which cleans up the current implementation without investin

[2022-02-14 03:24] #7561 closed

[2022-02-14 10:30] mx-psi commented on #7414
Hi @austindrenski,

It's great to see that the patch worked for you and your immediate issue is solved :) Thanks for the screenshots and information on the missing feature. I am not familiar with this part of our product and it's possible that the OpenTelemetry Collector Datadog exporter does not support this today: on some aspects the Datadog Agent and the Datadog exporter do not have feature par

[2022-02-14 13:17] nasushkov opened #7910 "loadbalancing exporter is not sending span data to the back-end in a docker-compose setup"
**Describe the bug**

I'm trying to make a proof of concept for a tail-based sampling solution, which is somewhat described [here](https://github.com/open-telemetry/opentelemetry-collector/issues/1724). I've built two distributions and placed each in a separate Docker image. One is built with the [load-balancing exporter](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/

[2022-02-14 15:11] #7557 closed

[2022-02-14 15:11] djaglowski commented on #7511
Capturing some findings here on `buffer_pool_pages` and `buffer_pool_size`.

#### `buffer_pool_pages`

Currently modeled as:
[code]

There are several problems with the six labels:
1. It's clear that `total` should not be included in the same set as other values, which would presumably be subtotals.
2. In the definition of [misc](https://dev.mysql.com/doc/refman/8.0/en/server-status-variables.html

[2022-02-14 15:22] sethAmazon commented on #7781
Looking at the trace segment request it does not have the exception

[2022-02-14 15:36] sethAmazon commented on #7781
It looks like the status code is STATUS_CODE_UNSET which will not add an exception. https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/exporter/awsxrayexporter/internal/translator/cause.go#L35-L40
I'm not sure if the issue is in the receiver or in the sdk. @willarmiros can you please take a look.

[2022-02-14 15:39] mplachter commented on #7410
I can only reproduce this running on `Kubernetes`, (AKS v1.21.7) but the weird thing is it produces wither its going through a Service LoadBalancer or directly to the POD IP over a NodePort. I can use the collector up till 0.40.0 without these errors producing so something must have changed after 0.40.0 that started to generate these `grpc` log messages.

No messages on startup indicating any issu

[2022-02-14 16:07] Yadumathur opened #7912 "K8sattribute processor documentation need updates"
**Describe the bug**
We have a set up with OtelC as Daemon set and we wanted to send K8 meta data along with Application logs, While going through the whole exercise and available documentation https://pkg.go.dev/github.com/open-telemetry/opentelemetry-collector-contrib/processor/k8sattributesprocessor
We observed that the documentation does not cover below points clearly
1. daemonset set up and e

[2022-02-14 16:57] jmacd commented on #7411
@quentinmit

I realize that I thought you were arguing a different position here, and now I'd recommend that you bring this discussion to the larger group.

Please file an issue in the specification repository, https://github.com/open-telemetry/opentelemetry-specification/issues.

It would be **Great** IMO to specify a resource attribute that carries the start time, and there are several ways it c

[2022-02-14 16:58] jmacd commented on #7411
I believe we are discussing a scenario where the container reports a start time when the container is created, but there's a process inside it that can crash and restart w/o restarting the container. Then you're likely to see counters reset w/o changing the process_start_time.

[2022-02-14 17:12] djaglowski opened #7916 "Flaky Tests - Metric10kDPS/OTLP-HTTP and Log10kDPS/OTLP-HTTP"
This appears to be a slight violation of the max CPU constraint.

Observed on #7915. [Direct link to logs](https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5187493079?check_suite_focus=true#step:14:138).

[2022-02-14 17:44] dmitryax commented on #7912
What is your goal of using k8sattribute processor? Do you want to enrich logs with k8s attributes? You don't necessary need `k8s.pod.ip` right? `k8s.pod.ip` is used to find out which pods ending traces data from HTTP client context. If you use filelog receiver to collect logs, association is done by `k8s.pod.uid`, not pod IP. Look at how it's configured in this example https://github.com/open-tele

[2022-02-14 19:17] rmfitzpatrick commented on #6750
@Aneurysm9 @jpkrohling off the cuff I don't believe it is ever possible to provide 100% assurances that an exec-calling process will avoid arbitrary code execution, so the following may be moot suggestions.

The subprocess manager and the wrapped config for the JMX receiver were initially written not to knowingly accept arbitrary shell arguments: https://github.com/open-telemetry/opentelemetry-col

[2022-02-14 19:18] djaglowski commented on #7916
Log10kDPS/OTLP-HTTP failure observed on #7925. [Direct link to logs](https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5188988725?check_suite_focus=true#step:14:318).

[2022-02-14 19:34] rmfitzpatrick commented on #6750
The `JAVA_TOOL_OPTIONS` env var would also need to be stripped from the executing environment to avoid eased agent injection: https://docs.oracle.com/javase/8/docs/technotes/guides/troubleshoot/envvars002.html.  `LD_PRELOAD` seems like a good candidate too.

[2022-02-14 21:05] quentinmit commented on #7411
I'll work on that.

I think these are both solving different problems (both worthy problems to solve, but I don't think they're directly applicable to the issue at hand). A separate stream doesn't help because there's no guarantee that separate metrics are kept together in a multi-path environment, and as noted above the process start time is not necessarily the correct start time for a metric. A

[2022-02-14 23:47] panthamm opened #7927 "Collector agent executable not signed"
**Describe the bug**
Currently, the otelcontribcol_windows_amd64.exe distributed in releases are not having File Description, File version, Product name, Product version, copyright information, and not signed.

**Steps to reproduce**
Download the otelcontribcol_windows_amd64.exe from the release

**What did you expect to see?**
We should see otelcontribcol_windows_amd64.exe have metadata like File

[2022-02-15 01:17] MovieStoreGuy commented on #7585
Hey @dharmaplay ,

looking at this specific error here:
[code]

It looks like the `otel-collector` wasn't available for your java client to communicate with? I suspect this potentially might be a start up ordering error if you're running in something like docker-compose or kube.

Is this still an issue that is impacting you as well?

[2022-02-15 03:58] anuraaga commented on #6147
Don't think we've seen this flake in a while but let's reopen if it does

[2022-02-15 03:58] #6147 closed

[2022-02-15 04:05] tonychoe opened #7928 "[processor/spanmetrics] Remove leading zeros in a Traceid"
**Describe the bug**
When you visualize the exemplars generated from the spanmetrics processor, you see leading zeros. It's difficult to read the traceid. Can we remove the zeros?

**Steps to reproduce**
1. Configure the opentelemetry collector with spanmetrics processor, prometheus exporter, and prometheusremotewrite exporter.
2. Search and visualize the resulting metrics in Grafana e.g.
```histo

[2022-02-15 06:41] Yadumathur commented on #7912
You are right we need to enrich data using k8sattributes, I have tried the above configuration and it fails as parse_from from the filepath not necessarily have all the same details on our deployments, now while the case is to add metadata while deployed as daemonset and when I looked into more details I found that the daemonset, can `spec.containers.env` should use the downward API ( set in the e

[2022-02-15 08:54] jpkrohling commented on #7831
cc @Aneurysm9 @dashpole

[2022-02-15 09:36] pmm-sumo commented on #6232
Resolved via https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6248

[2022-02-15 09:36] #6232 closed

[2022-02-15 09:38] jpkrohling commented on #7836
cc @dyladan @arminru

[2022-02-15 09:38] jpkrohling commented on #7837
cc @aabmass @dashpole @jsuereth @punya @tbarker25

[2022-02-15 09:39] jpkrohling commented on #7838
cc @paulosman @lizthegrey @MikeGoldsmith

[2022-02-15 09:40] jpkrohling commented on #7839
cc @jacobmarble @8none1

[2022-02-15 09:41] jpkrohling commented on #7842
cc @owais @dmitryax

[2022-02-15 09:41] jpkrohling commented on #7843
cc @pmcollins @asuresh4 @dmitryax

[2022-02-15 09:42] jpkrohling commented on #7844
cc @atoulme @dmitryax

[2022-02-15 09:42] jpkrohling commented on #7845
cc @pmm-sumo @sumo-drosiek

[2022-02-15 09:44] jpkrohling commented on #7791
Was this completed already? Should it be closed, or are there missing pieces?

[2022-02-15 09:50] 06kellyjac opened #7931 "version command prints jaeger errors"
**Describe the bug**

version command prints jaeger errors

[code]

**Steps to reproduce**

build v0.44.0 and run `--version`

**What did you expect to see?**

no warnings

[2022-02-15 09:51] jpkrohling commented on #7051
@Gentoli, that looks good! Could you send that as a PR? @mapno, would you be able to review/test it, once @Gentoli opens the PR?

[2022-02-15 09:56] jpkrohling commented on #7906
cc @albertteoh @gouthamve

[2022-02-15 10:02] jpkrohling commented on #6920
This should be part of 0.45.0, due either tomorrow or next week.

[2022-02-15 10:06] jpkrohling commented on #7910
Can you eliminate Docker from the equation? Most of the networking issues involving Docker are related to Docker itself, so, eliminating it would help ensure the problem is on the collector side.

You can use this as a reference: https://github.com/jpkrohling/opentelemetry-collector-deployment-patterns/tree/main/pattern-4-load-balancing

[2022-02-15 10:15] jpkrohling commented on #7410
We did have some changes to how we log gRPC-related messages, but we should not log any warnings when using the default config. Having those warnings when data hits and the endpoint isn't available for some reason is indeed a valid scenario.

[2022-02-15 10:24] jpkrohling commented on #7927
How is it done? Can it be invoked during our CI process?

[2022-02-15 10:28] jpkrohling commented on #7928
I'm afraid the leading zeros cannot be removed from there easily, as we aren't dealing with a number type, but rather a byte[] type. It just so happens that the first bytes are zeroes in this particular case.

cc @albertteoh

[2022-02-15 10:30] #7916 closed

[2022-02-15 10:39] mx-psi commented on #7578
Hi, still discussing this internally. If the workaround above does not work for you, please let me know so that we can prioritize accordingly

[2022-02-15 12:15] lancerdima opened #7933 "[dynatraceexporter] Failure sending prometheus metrics with value NaN"
**Describe the bug**
Failure sending prometheus metrics with value NaN

**Steps to reproduce**
* Collect metrics with prometheus receiver. Metric must be Gauge and has NaN value. (metric on the service is exposed by jmx-prometheus-exporter)
* Use collector to deliver metrics to dynatrace, using dynatraceexporter

**What did you expect to see?**
Metric is delivered to dynatrace

**What did you see

[2022-02-15 12:19] lancerdima opened #7934 "[elasticsearchexporter] Crash when using elasticsearch exporter with batch processor"
**Describe the bug**
ElasticSearch exporter crash, when combined with the batch processor.

**Steps to reproduce**
* Collect logs with OTEL receiver;
* Apply batch processor to reduce the amount of outbound calls
* Push log records to elasticsearch.

**What did you expect to see?**
Logs are delivered to elasticsearch.

**What did you see instead?**
Error message:
[code]

**What version did you use

[2022-02-15 14:04] jpkrohling commented on #7933
cc @dyladan @arminru

[2022-02-15 14:04] jpkrohling commented on #7934
cc @urso @faec @blakerouse

[2022-02-15 14:50] dashpole commented on #7831
You should be able to accomplish this using relabeling if you want.  For example, to use the `app.kubernetes.io/name` label, you could add:
[code]

I believe this is working as intended in this case.  Feel free to offer suggestions if you think there is a better way to do this.

[2022-02-15 14:52] pmm-sumo commented on #7912
There's an [OTEPS](https://github.com/open-telemetry/oteps/pull/195) on using downward API for injecting various metadata, which is somewhat following the use-case here. I think it's a valid one. Especially for first-party application logs

Could you add more details? Did[this expression](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/examples/kubernetes/otel-collector

[2022-02-15 15:10] Yadumathur commented on #7912
Yes , @pmm-sumo  this expression failed and hence I was trying to figure out how I can get pod uuid for the association. The best way seems to me is by using downward apis.

[2022-02-15 15:22] mapno commented on #7051
Hey, sorry I missed the initial response! :( I'll be glad to review it and test it in our environments.

FWIW, since opening this issue, we've been using as a workaround `publishNotReadyAddresses=true` to set up the k8s service. This allows for pods to get registered before they're ready. This can result in exporting traces to pods that are not ready yet, which is not ideal. A more long term solut

[2022-02-15 15:42] rtorres33 commented on #7831
@dashpole When I add the lines you recommended, the collector does not output any metrics.

The new configuration looks like:

[code]

However, when I replace `job` with any other word, like `test`, the collector outputs and adds the new label to the output:

[code]

It seems like `job` cannot be replaced.

[2022-02-15 15:45] dashpole commented on #7831
Ah, right.  We need to fix that (https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/5663).  We should definitely ensure it is possible to customize the service name.

[2022-02-15 15:47] jpkrohling commented on #6750
True. For the record, I'm more concerned about this (and similar) component being used in an exploit where the vulnerability itself is in a different component.

Agree, even though it would fall on the case I mentioned: a vulnerability in the file exporter could mean that the JAR is overridden by attackers.

Absolutely, this would certainly ensure that the code being executed is what we expect it

[2022-02-15 16:25] panthamm commented on #7927
Yes, We can invoke through the CI process but we need to know File metadata information (File version, Product name, Product version, Copyright) and Trusted certificate to sign the executable.

[2022-02-15 16:36] sethAmazon commented on #7285
This is from the slack channel. The issue was with the config of prometheus. As far as getting delta values this is as designed to match cw agent. I spoke with @Aneurysm9 and we are not sure at this point if we will support sending raw to emf instead of calculated delta. If we do support it, we do not know if it should be boolean flag driven and metric selector driven.

[2022-02-15 16:46] Yadumathur commented on #7912
@pmm-sumo  I see you have suggested in past for using pod uid https://docs.google.com/document/d/1QlFbXz0eQUaKXK1WrnEs3VqRkcPD2RAdXJdJMjnOSd8/edit#
after going through , I see still not a straight way to get K8sattribute processor tag the meta based on association apart from IP and uid.
both information need to be served back by any possible way ( through file path , cri or something to be explore

[2022-02-15 17:05] pmm-sumo commented on #7912
I believe [CRI](https://github.com/kubernetes/kubernetes/pull/74441) (so the file path) is a common way to pull this information. Hence I'm wondering why the regex I mentioned earlier did not work. There is perhaps something wrong with it. If you have more data on the file path on which it failed, we could perhaps investigate and fix it

[2022-02-15 17:12] Yadumathur commented on #7912
Example log file path : otel-collector-hkhqj_logging_otel-collector-2768bd6d70c9ac40b17f477ac1a8427e2f4144771cba61fd3aae405e950f98aa.log
My regex which works with it is : '(?P<pod_name>^.+?)_(?P<namespace>.+?)_(?P<container>.*)-(?P<runid>.+?).log$'

This could be related more how the K8s are set up in my org to mount the file , but I need to verify that

[2022-02-15 17:15] Aneurysm9 commented on #7285
The specific configuration issue was the use of a relabeling rule that could result in duplicate `instance` labels:

[code]

Because the source here was a `StatefulSet` it was possible for multiple pods to be scheduled on the same node, resulting in a duplicate `instance` label confusing the target metadata resolution logic.  It is not clear to me that there is a way to detect or respond to this m

[2022-02-15 17:40] pkositsyn commented on #7050
To my mind, it's not about what's worth having and not - it's just a bug, because exported traces simply lack information about instrumentation library after this processor. Yes, memory consumption will be higher, but much more important that everything is correct. Still, any solution in the linked issue about compacting traces should be enough to fix any memory issues

[2022-02-16 04:37] tonychoe commented on #7928
if removal is not possible, do you guys think it's a good idea for Grafana UI to display traceid without the leading zeros?

[2022-02-16 05:23] MovieStoreGuy commented on #7416
A reference to expected format would help here @goto1134 and I happy to consider it, but I will warn you that adding json exported types to the collector requires a lot more resources compared to consuming protobuf; hence the otlp-json encoding is not recommended for production use.

[2022-02-16 05:31] MovieStoreGuy commented on #5908
Hey @rushirg ,

Apologies for the delay in investigating this, I was wondering if I can grab some more details off you just to help clarify this if that is alright?

- Could you tell me what version you're running of the collector?
- Is this still currently impacting you?
- By chance, did you perform an upgrade on the collector during this time period?
- Are you able to recreate this?

My suspicio

[2022-02-16 05:36] MovieStoreGuy commented on #3870
If it would help, I am happy to be assigned additional components. I more than likely haven't worked on it, but I do keep a high standard of ensuring it will continue working.

[2022-02-16 06:23] MovieStoreGuy commented on #7588
@gfonseca-tc ,

This is a really interesting topic and it is something my team has been thinking about. I imagine our use cases are more or less aligned in this so I am happy to share what our thoughts are on this.

I imagine a lot of your desire is to be able to confidently set SLO/SLIs on your ability to process incoming telemetry data and track the error rate of undelivered messages?

I really

[2022-02-16 07:49] mottibec commented on #6094
Is anyone working on this? If not, I would like to.
I was thinking about using an existing lib for the KPL aggregation. It looks like aws don't have an official client to support this in go, but I ran into https://github.com/a8m/kinesis-producer.

[2022-02-16 09:10] thmshmm commented on #7934
i think this could be the problem. The loop var should be j not i from the outer loop.
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/667626c636f4150f0a1010c22473004613652f1e/exporter/elasticsearchexporter/exporter.go#L106

[2022-02-16 09:46] mihneastaub opened #7938 "EKS awsxray exporter don't work as expected"
**Describe the bug**
Hello Guys,

I'm using `opentelemetry-collector` version 0.44.0  in EKS Cluster with the receiver `opencensus` and exporter `awsxray`. The problem is that I don't see anything in the AWS X-RAY console and also I don't see any errors in the logs related to the exporter.

I want to highlight that the receiver is receiving data from the workloads, but the problem is when they are

[2022-02-16 10:27] jpkrohling commented on #7050
Agree. One other aspect to consider is that it would inherently be worse in terms of CPU performance. This might be acceptable, I just need to make sure to run some benchmarks. Or perhaps engage someone who'd be open to run such benchmarks ;-)

[2022-02-16 11:44] jpkrohling commented on #6094
It's yours, @mottibec. Not sure about the library: if really necessary, we can certainly consider it, but it will make the dep tree more complex.

cc @anuraaga

[2022-02-16 11:49] jpkrohling commented on #7928
I asked internally at Grafana Labs and there have been a few ideas from @bboreham. Also, @connorlindsey might be able to give some insights about the Grafana UI part.

[2022-02-16 11:51] #7136 closed

[2022-02-16 11:52] jpkrohling commented on #7938
cc @anuraaga

[2022-02-16 12:10] jpkrohling commented on #7910
Yes, you can use something like this in your configuration file, close to where the pipelines are defined:

[code]

[2022-02-16 13:14] MovieStoreGuy commented on #6094
Hey @mottibec,

I had purposely avoided using that library for a few reasons:
- The error handling path was problematic since the async sender would make dropped data harder to replay / retry
- The Partition key is the same for an entire batch, so the chances of successful writes became problematic on smaller stream sizes but with high batching sizes.
- Not entirely sure it supported compression

[2022-02-16 13:24] nasushkov commented on #7910
@jpkrohling awesome, now it works. I managed to test my setup without docker and the problem is gone. So you are right, there is an issue with that. What I have on my mind is that docker-compose does not really wait for a real readiness of the service in _depends_on_ it just starts services in an order provided. Can it be an issue or maybe you have some ideas what can go wrong?

Besides that, I ha

[2022-02-16 13:33] pichlermarc commented on #7836
I would like to pick this one up :)

[2022-02-16 13:41] mottibec commented on #6094
@MovieStoreGuy So, if I understand you correctly, you suggest not using KPL aggregation at all and sending batch requests with the current exporter?

The primary motivation for us at aspecto to use the KPL is for computability with other components in our pipeline. At the moment, we are stuck on an old version of the collector with the kinesis exporter that supports KPL aggregation. But if it won'

[2022-02-16 13:47] MovieStoreGuy opened #7942 "New component: LaunchDarkly Component Wrapper"
## The purpose and use-cases of the new component

To allow for organisations to take advantage of existing feature flag practices in order to experiment with new means of trial out processors, receivers, or exporters that can be use in tandem with their currently existing o11y pipeline.

## Example configuration for the component

[code]

A few things of note is that the definition of the exporte

[2022-02-16 13:57] MovieStoreGuy commented on #6094
Not exactly, more saying that the reference library is something that we at Atlassian spiked and found problematic hence making the custom client in the collector today.

KPL aggregation can be completely possible, just requires a bit of effort to achieve since the exporter will attempt to write the smallest atomic representation of the telemetry per given record; it can be done, and I encourage d

[2022-02-16 14:01] jpkrohling commented on #7910
Yes. For highly elastic services, you might have consistency problems: one load balancer might have a different list of backends until it refreshes it again. The result is that trace IDs might end up on different backends for a short period of time. If this is critical to you, keep the TTL low. If that's still not acceptable, let me know.

gRPC is the default transport for OTLP. I don't see it as

[2022-02-16 14:06] jpkrohling commented on #7836
It's yours.

[2022-02-16 14:39] connorlindsey commented on #7928
Could something like what the jaeger client does be used here to remove the leading zeros? https://github.com/jaegertracing/jaeger-client-go/blob/8d8e8fcfd04de42b8482476abac6a902fca47c18/span_context.go#L368-L373

If not, let's get an issue opened in the grafana repo and we can edit the UI

[2022-02-16 15:37] nasushkov commented on #7910
So, it means that I can schedule 2 or more LB-s and it will work except that I can have some temporary problems when scaling up/down, right?

We prefer UDP over TCP as a transport protocol for telemetry (at least we use UDP on our agents). In particular, we had some hard times in the past with TCP due to its overhead and HOL blocking. However, as far as I understand _otlp_ does not support UDP at

[2022-02-16 17:43] bogdandrutu commented on #7791
Not yet.

[2022-02-16 18:25] secustor opened #7944 "[prometheusreceiver] allow to pull Prometheus jobs from `/job` endpoint of the OpenTelemetryOperator-TargetAllocator"
**Is your feature request related to a problem? Please describe.**
The TargetAllocator is component of a Collector deployment which allows to shard Prometheus targets on multiple Collector instances.

To allow the Collector to dynamically discover new jobs the `/jobs` [endpoint](https://github.com/open-telemetry/opentelemetry-operator/blob/0a429a74a2895ba379fde5dfe2d67955e508e878/cmd/otel-allocato

[2022-02-16 20:10] Aneurysm9 commented on #7944
@secustor do you plan to work on this or should I look for someone with bandwidth to take it on?

[2022-02-16 20:57] foxlegend opened #7945 "[prometheusremotewriteexporter] multi-tenancy support based on labels"
**Is your feature request related to a problem? Please describe.**

Cortex and Thanos support multitenancy using a HTTP header (such as "X-Scope-OrgID") or maybe a query parameter (I am thinking about Thanos, but I am not 100% sure about that)..
From my understanding, with the current implementation of the prometheusremotewrite exporter, we should configure an exporter per tenant (by setting the h

[2022-02-16 21:08] secustor commented on #7944
Yes, I plan to implement this myself

[2022-02-16 23:23] bogdandrutu opened #7947 "Jaeger exporter & sapm exporter are dropping the entire batch if one span has a zero id"
In case of one span with an invalid (all zero) id, we should not error and drop the entire batch as we do right now when exporting to Jaeger or Sapm, and let the backend deal with this. If important for some backends to not get invalid IDs we can build a processor to remove spans with zero ids.

As a rule of thumb during a conversion between types we should not make data validation like ids not be

[2022-02-17 05:39] rockb1017 opened #7949 "splunkhecexporter: Log record attributes ignored"
**Describe the bug**
I cannot see the metadata (log record's attributes) when log is ingested to Splunk
I have logging exporter set up to cross check and I indeed see attributes.

(Stdout print from logging exporter)
[code]
(screenshot of what I see on Splunk)
![image](https://user-images.githubusercontent.com/12387289/154411366-bfd3e56a-b49c-4287-8ebe-7a3cafc06dbb.png)

**Steps to reproduce**
[co

[2022-02-17 06:22] zhangjiabin1010 opened #7950 "[elasticsearchexporter] Crash when using elasticsearch exporter with traces data"
**Describe the bug**
ElasticSearch exporter crash, when combined with the batch processor.I expect to export traces data into elasticsearch.

**Steps to reproduce**
Collect traces data with OTEL receiver;
Push traces records to elasticsearch.

**What did you expect to see?**
I expect to export traces data into elasticsearch.

**What did you see instead?**
Error: cannot build exporters: pipeline "t

[2022-02-17 09:25] jpkrohling commented on #1797
From time to time, we get questions from people involving this issue. Some of them are concerned about using this only to have it removed in the future.

Despite the title of this issue, don't let this prevent you from using this processor! It's still quite useful and we are not going to replace it without giving you an upgrade path. If you use this today and we decide to move forward with the dep

[2022-02-17 09:39] jpkrohling commented on #7928
I think we shouldn't mess with the trace ID in the internals, handling only the way it's presented to users.

[2022-02-17 09:42] jpkrohling commented on #7910
Correct

That's not supported with OTLP. You can have your load balancers be configured to accept data via UDP with the Jaeger receiver, for instance, but the communication between the load balancers and the backing collectors are doing to use either HTTP or gRPC, as only the OTLP exporter is supported.

[2022-02-17 09:55] angelluismula opened #7951 "unknown receivers type "k8s_events" error in v0.45.0"
**Describe the bug**
K8s_events receiver doesn't work in v0.44.0 or v0.45.0

**Steps to reproduce**
Run docker image otel/opentelemetry-collector-contrib:0.45.0 with provided config.

**What did you expect to see?**
K8s events logs collected with k8s_events receiver

**What did you see instead?**
`
Error: failed to get config: cannot unmarshal the configuration: unknown receivers type "k8s_events"

[2022-02-17 09:57] jpkrohling commented on #7951
Looks like this component isn't on the contrib manifest:

https://github.com/open-telemetry/opentelemetry-collector-releases/blob/beffc4362ba0ed802f023aec44306c6a3219f963/distributions/otelcol-contrib/manifest.yaml#L116-L119

cc @dmitryax

[2022-02-17 09:59] jpkrohling opened #7952 "Flaky test - k8seventsreceiver - TestNewReceiver"
Seen here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5209488349?check_suite_focus=true

[code]

cc @dmitryax

[2022-02-17 10:03] jpkrohling commented on #7410
I'm closing this, as I'm not sure this is still happening nor that this is a problem at all. If you have new information about this, please do reopen this issue.

[2022-02-17 10:03] #7410 closed

[2022-02-17 10:07] jpkrohling commented on #7945
cc @Aneurysm9, @gouthamve

[2022-02-17 10:13] jpkrohling commented on #7949
cc @atoulme @dmitryax

[2022-02-17 10:14] jpkrohling commented on #7950
cc @urso @faec @blakerouse

[2022-02-17 10:19] JaredTan95 commented on #7950
Did you try following configs for elasticsearch endpoints?
[code]

ref https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/exporter/elasticsearchexporter/testdata/config.yaml#L9

[2022-02-17 10:32] #7910 closed

[2022-02-17 11:10] jpkrohling commented on #7910
If you get into concrete problems, do open an issue and we can certainly discuss it!

[2022-02-17 12:28] RicardoLinck commented on #6920
I'm still experiencing a similar issue regarding this (after upgrading to `v0.45.0`). This time it is with an exporter that is not the default:

[code]

These are the logs:
[code]

If I change my metrics pipelines to include both exporters like this, it works:
[code]

Logs:
[code]

[2022-02-17 12:54] JaredTan95 opened #7954 "New skywalking receiver for tracing data"
## The purpose and use-cases of the new component

Add this new receiver, we can receive the `apache/skywalking`'s tracing data, and convert it into `otlp` trace.

## Example configuration for the component

[code]

## Telemetry data types supported

support traces data first

## Sponsor (Optional)
no Sponsor for now.

[2022-02-17 13:01] rafaelpereyra opened #7955 "awsprometheusremotewrite sign request with expired credentials"
**Describe the bug**
When credentials are managed by an external process (i.e. using env AWS_SHARED_CREDENTIALS_FILE), RoundTripper implementation for AWS Prometheus Remote Write is using expired credentials to sign the Sigv4 request, producing a constant server response of 403 and dropping packages until the collector is restarted and credential file is read again.

**Steps to reproduce**
- Creat

[2022-02-17 13:10] jpkrohling commented on #7954
I'm open to being a sponsor for this component.

[2022-02-17 13:11] jpkrohling commented on #7955
cc @anuraaga @Aneurysm9 @alolita

[2022-02-17 13:15] jpkrohling commented on #7051
I'm closing this, as I believe this has been done as part of #7935

[2022-02-17 13:15] #7051 closed

[2022-02-17 13:17] dyladan commented on #7933
Please assign me

[2022-02-17 13:18] JaredTan95 commented on #7954
Thanks, I will implement this `skywalking` receiver ASAP.

[2022-02-17 13:25] jpkrohling commented on #7588
I too cannot think of a way to do that without a centralized system. The problem is that each individual event is sent by the originating service, which might be batched with different parameters from other similar services. So, "operation-1" span might reach the storage after its child, "operation-2", even if they are synchronous operations.

That's basically how the "group by trace" processor do

[2022-02-17 13:34] #7934 closed

[2022-02-17 14:18] connorlindsey commented on #7928
Sounds good to me. @tonychoe can you open an issue in the grafana repo and reference it here when closing this issue? Thanks

[2022-02-17 16:23] mx-psi commented on #3870
@MovieStoreGuy feel free to open a PR with the components for which you want to be added as a CODEOWNER!

[2022-02-17 19:01] codeboten opened #7959 "v0.45.0 release caused dependencies issues in go.mod"
The version for some packages have been missed as part of the v0.45.0 release:

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/exporter/awsprometheusremotewriteexporter/go.mod#L7

As a result of the fix here, we should have a mechanism to detect a regression, a CI check would be ideal.

[2022-02-17 19:03] bogdandrutu commented on #7959
I don't think that is a "downgrade" the `v0.0.0-00010101000000-000000000000` does not exists and users will need a `replace` entry for all of these deps.

Anyway, we need a fix for this.

[2022-02-17 19:06] Aneurysm9 commented on #7959
This was masked in the release build by [replace statements](https://github.com/open-telemetry/opentelemetry-collector-releases/blob/main/distributions/otelcol-contrib/manifest.yaml#L144-L151) that should probably not exist there.

[2022-02-17 20:00] codeboten commented on #7959
Right, I've updated the issue name and description. You're right that this is just the behaviour of go mod when it fails to find a version.

[2022-02-17 20:16] jmacd opened #7962 "Inject OTel tracestate when power-of-two probability sampling"
**Proposal**

I propose to modify the [probabilistic sampling processor](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/probabilisticsamplerprocessor) to emit an OTel tracestate corresponding with the sampling probability in use, which is well defined in the current specification when the sampling probability is a power of two.

Specifically, if the sampling

[2022-02-17 20:24] tigrannajaryan commented on #7959
Yes, otherwise it is hard to catch this manually with hundreds of files touched in the release commit.

[2022-02-17 22:44] Aneurysm9 commented on #7945
This seems reasonable to me.  We should probably include warnings about the risk of trusting user-provided labels for routing/billing purposes, but I assume that most people configuring this would be doing it in a context where they're operating a Cortex instance for multiple teams in their org and have the ability to hunt down and apply a clue-by-four to offenders :)  Just a note that this is not

[2022-02-18 04:38] DiptoChakrabarty commented on #7839
Hi @jpkrohling @codeboten can I take this up please

[2022-02-18 05:32] tonychoe commented on #7928
Thanks. I've opened the grafana/grafana#45576. Closing this.

[2022-02-18 05:32] #7928 closed

[2022-02-18 06:21] Yadumathur commented on #7912
So I tried using K8 uid from filepath to pull the meta from k8s processor , @pmm-sumo I don't see that is working as well. For me K8s processor only able to work with pod ip.
I am using 0.40 version , Do I need to upgrade the version ?

[2022-02-18 06:52] oertl commented on #7962
I think it would be better not to mix the information of consistent and inconsistent sampling decisions. If the sampling decision is not based on the `r`-value, it should not touch the `p`-value. Maybe, it is better to add some extra field (e.g. `t` for trace) for the sampling probability (or corresponding adjusted count) that was applied to the entire trace independently of `r`.

[2022-02-18 09:49] jpkrohling commented on #7839
It's yours, @DiptoChakrabarty. Ping @jacobmarble and @8none1 to review your PR once it's ready.

[2022-02-18 11:41] Yadumathur commented on #7912
@pmm-sumo , I think the main issue is around auth type
const (
	// [AuthType](https://pkg.go.dev/github.com/open-telemetry/opentelemetry-collector-contrib/internal/k8sconfig#AuthType)None means no auth is required
	[AuthType](https://pkg.go.dev/github.com/open-telemetry/opentelemetry-collector-contrib/internal/k8sconfig#AuthType)None [AuthType](https://pkg.go.dev/github.com/open-telemetry/opentele

[2022-02-18 12:07] pmm-sumo commented on #7912
@Yadumathur OK, so the issue is not with the regex parsing but with ability to query the API server in your setting as the default service account does not have enough privileges?

I think we might use updating the documentation, similar as it is the case for `k8seventsreceiver` (there's a section on [setting up service account and RBAC](https://github.com/open-telemetry/opentelemetry-collector-co

[2022-02-18 12:18] Yadumathur commented on #7912
@pmm-sumo I was able to get the regex part fixed by appending uuid and extracting it in metadata attributes. Then I could see that only local agent k8 meta it can read even with IP , not much information is in debug logs ( enabled them at telemetry level )
I have a service user which has privileges and it is running the daemonset , But I dont think it Otel C is using that service user in setting o

[2022-02-18 13:49] jpkrohling opened #8018 "OnLateArrivingSpans should accept a ResourceSpans"
While working on #7771, I realized that the OnLateArrivingSpans for most policies aren't using the spans in any way. So, instead of receiving a list of spans, it should receive a ResourceSpan and iterate if necessary. This will directly impact that PR.

[2022-02-18 15:05] jpkrohling commented on #7959
v0.45.1 was released just now. Do we need binaries and container images? I assume that @Aneurysm9's problems are related only to contrib, not the actual binaries/container images.

[2022-02-18 16:26] djaglowski commented on #7593
@crobertson-conga, I'm aiming to cut a release and update contrib by the middle of next week. We're very close to wrapping up [this milestone](https://github.com/open-telemetry/opentelemetry-log-collection/milestone/2), and will cut a release as soon as that is done, so possibly will be Monday or Tuesday.

[2022-02-18 16:39] mplachter commented on #7410
New information added to https://github.com/open-telemetry/opentelemetry-collector/issues/4747#issuecomment-1044805710 as this is not a issue with the contrib specifically.

[2022-02-18 17:14] #8018 closed

[2022-02-18 17:51] #7947 closed

[2022-02-18 18:06] jdgeisler commented on #6920
I am also running into this same error when trying to use an exporter thats not default. We have multiple pipelines and are only using the routing processor for one of them.

@jpkrohling would we be able to resolve this by expanding the error handling in your [PR](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/7423) to also ignore the `errExporterNotFound` error?

[2022-02-18 18:07] abhide commented on #7138
@dmitryax / @jpkrohling
I think we can close this issue.

[2022-02-18 18:13] #7836 closed

[2022-02-18 19:07] Aneurysm9 commented on #7959
I believe that having the fixed `go.mod` files tagged will address the issue we had with the ADOT distribution.  It may still be good to have a binary/container image release as there are other changes from v0.45.0.

[2022-02-19 00:00] #7138 closed

[2022-02-19 00:36] dmitryax commented on #7756
Seems like it's the same issue as reported previously https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/5234

Currently supposed and documented behavior it to match all the attributes. @tigrannajaryan do you see where it's documented otherwise?

We probably should have another configuration option that controls this behavior

[2022-02-19 11:26] Xunzhuo commented on #3870
Hi, I am new here, I am experienced with telemetry and also one of the maintainers in istio, contributing to Extension and Telemetry in Istio. I want to know that if I want to help forks and to be some components` code owner, what requirements should I meet? Should I become OpenTelemetry member first or something else, need some guidelines, thanks!

[2022-02-20 05:23] dmitryax commented on #7952
Seems like the same error as https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/6986

It's very hard to debug because the panic is recovered and the original stack trace is lost. I'll take another look later.

Please post any new occurrences here. We can disable the test if it becomes annoying.

[2022-02-20 14:38] MikeGoldsmith commented on #7838
Thanks for the ping @jpkrohling - well take a look soon 👍🏻

[2022-02-20 19:17] #7843 closed

[2022-02-21 08:55] mx-psi commented on #3870
@Xunzhuo you need to make some contributions to the project before becoming a CODEOWNER of any component. I don't think being an OpenTelemetry member is _required_ for being an owner, but I would recommend it in any case (see [here](https://github.com/open-telemetry/community/blob/main/community-membership.md) for details).

[2022-02-21 11:21] midnightexigent opened #8045 "Kafka Exporter/Receiver fix docs"
In the [current docs](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/522073aec34305beb7b4e2f8f9bc3510178252e9/exporter/kafkaexporter#kafka-exporter), it says that `auth.tls.insecure` maps to `tls.InsecureSkipVerify` which is [not true](https://github.com/open-telemetry/opentelemetry-collector/blob/v0.45.0/config/configtls/configtls.go#L70)

What you want is `auth.tls.insecu

[2022-02-21 15:16] djaglowski commented on #6986
Another occurrence here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5275916920?check_suite_focus=true#step:8:15765

[2022-02-21 19:39] beegmon opened #8053 "Panic and SIGSEGV"
I opened this bug report over on aws otel repo, but it might belong here instead I am not sure to be honest

https://github.com/aws-observability/aws-otel-collector/issues/982

Issue Details:

Describe the bug
A Panic SIGSEGV is produced during normal operation

Steps to reproduce
During the normal process of operation, a SEGFAULT and panic is produce causes the OTEL agent to crash. Collector is d

[2022-02-21 21:33] Aneurysm9 commented on #8053
This looks similar to the original issue in #7387 that we thought was addressed by using the direct OTLP conversion path.  Since this report comes from the use of that path it is apparently not addressed.  I believe I know how to prevent this from recurring.

[2022-02-22 10:26] mx-psi commented on #7414
Hey again @austindrenski,

Thanks for your patience while I figured this out internally. This is not currently supported by the OpenTelemetry Collector Datadog exporter; on the Datadog Agent it is a feature of our process agent, while here we currently support metrics, traces and infrastructure monitoring.

To make this more visible, I would suggest closing this issue since the hostname issue was

[2022-02-22 12:26] object opened #8059 "Spans that belong to the same distributed transaction are not consolidated in Elastic APM"
Since this problem is specific to Elastic APM, I am not sure this is the right place to report it. On the other hand, since this project contains elasticsearchexporter, I decided to register an issue here.

**Problem description**
To test OpenTelemetry distributed tracing, I created a trial account and exported telemetry data from 3 applications:

- Web client
- Web service
- RabbitMQ message cons

[2022-02-22 12:39] arcosx commented on #7954
Hi @JaredTan95 , Is the implementation in progress?

( 😃 Just a friendly ping ~ ,  I've been trying to pair open-telemetry with skywalking.)

[2022-02-22 12:48] JaredTan95 commented on #7954
yes, work in progress

[2022-02-22 13:03] JaredTan95 commented on #7954
Did you already have a complete implementation?

[2022-02-22 13:08] CoderPoet opened #8060 "prometheusreceiver upsert job to service.name"
**Describe the bug**
When using prometheusreceiver, if the user has declared service.name in resource attributes, it will be overridden by the job

**Steps to reproduce**

1. exporter some metrics with service.name resource attributes
![image](https://user-images.githubusercontent.com/19374680/155134660-bafa7dcf-4eb0-4018-ad65-8776cbe91fe2.png)

![image](https://user-images.githubusercontent.com/1

[2022-02-22 14:40] tigrannajaryan commented on #7756
@dmitryax The MatchProperties settings [comments](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/522073aec34305beb7b4e2f8f9bc3510178252e9/internal/coreinternal/processor/filterconfig/config.go#L101) say:

[2022-02-22 15:41] djaglowski opened #10280 "[pkg/stanza] Field syntax behavior when "attributes" or "resource" are specified"
`entry.Entry.Attributes` and `entry.Entry.Resource` have been migrated from `map[string]string` to `map[string]interface{}` (See open-telemetry/opentelemetry-log-collection#190). Correspondingly, "field syntax" has been enhanced such that users are able to refer to all fields contained within arbitrarily deep Attributes and Resource objects.

For the most part, interacting with Attributes and Reso

[2022-02-22 16:35] dmitryax commented on #7756
Yeah looks these comments need to be updated. I changed few others [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5280) but missed this

[2022-02-22 16:48] Aneurysm9 commented on #8060
Setting the `job` label's value as `service.name` is [required by the specification](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/datamodel.md#resource-attributes).  The prometheus exporter to prometheus receiver pipeline cannot maintain the information that `service.name` (or any other resource attribute) was set as a resource attribute because the

[2022-02-22 17:31] djaglowski commented on #7593
@gurpartb, @crobertson-conga, the fix has been merged to contrib's main branch. I'm closing this issue but please let me know if you see anything remaining problems.

[2022-02-22 17:31] #7593 closed

[2022-02-22 17:46] #8053 closed

[2022-02-22 18:18] #7511 closed

[2022-02-22 19:20] #7139 closed

[2022-02-22 20:46] gurpartb commented on #7593
For now we are using FluentD to read the logs files into the Otel Collector. You may try that solution.

[2022-02-22 20:46] gurpartb commented on #7593
Thank you!

[2022-02-22 20:48] gurpartb commented on #7593
Thank you!

[2022-02-22 22:21] PeterF778 commented on #7962
Continuing with the idea of an extra field, why don't we reconsider already discussed explicit adjusted count **c**, but now taking precedence over **p**. The effective adjusted count would be
- the value of c, if c is present
- 2**p, if c is not present

Thus, a probabilistic sampling processor could generate the c-values from p-values and its own sampling probability. Furthermore, if we allow no

[2022-02-22 23:21] oertl commented on #7962
When there are multiple sampling stages, such as when consistent probability samplers are combined with this probabilistic sampling processor, each making sampling decisions independently (based on different random/hash values), it is generally important to know which sampling probability (or corresponding adjusted count) was used at which stage in order to have the chance to get the statistics ri

[2022-02-23 00:56] tigrannajaryan commented on #7756
So what do you think is the right approach? Do we want AT LEAST one, or ALL? I am not sure myself.

[2022-02-23 01:39] rockb1017 commented on #7949
I did a test just in case with a different splunk environment. And i was able to see all metadata.
![image](https://user-images.githubusercontent.com/12387289/155248523-123c170c-c7e8-4d7d-a473-631fc6391684.png)
Thank you, Closing.

[2022-02-23 01:39] #7949 closed

[2022-02-23 03:31] #7842 closed

[2022-02-23 03:36] CoderPoet commented on #8060
Thank you very much for your reply! But I'm thinking, since otel has opened up the prom way to expose the metrics, then this problem must exist and need to be solved, right? Is it necessary to rethink the [specification](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/datamodel.md#resource-attributes)?

[2022-02-23 03:41] CoderPoet commented on #8060
And my question is: prometheusreceiver set the value of the job to `service.name`, according to the specification should actually be the user-configured service name or target belongs to the service, right?
<img width="815" alt="image" src="https://user-images.githubusercontent.com/19374680/155258166-4add6baf-d7fc-4af0-bab9-5d5f1ff10a71.png">

[2022-02-23 06:43] abhide commented on #7142
@dmitryax I would like to work on this issue. Could you please assign this to me?

[2022-02-23 10:51] Yadumathur commented on #7912
This issue is fixed by the PR above , Thanks
I am closing the issue

[2022-02-23 10:51] #7912 closed

[2022-02-23 16:08] TriQuach opened #8109 "[exported/datadog] Failed to get config: cannot unmarshal the configuration: unknown exporters type "datadog" for "datadog""
**Describe the bug**
When adding `datadog` as an exporter in the config file and deploying with our serverless app, it raised:

**Steps to reproduce**
In the AWS lambda that we want to deploy:
1. Set the `Layers` to: `arn:aws:lambda:us-east-1:901920570463:layer:aws-otel-python38-amd64-ver-1-9-1:1`
2. Set these two Environment variables for the lambda
 - `AWS_LAMBDA_EXEC_WRAPPER: /opt/otel-instrume

[2022-02-23 16:39] dmitryax commented on #7142
@abhide done. Thanks!

[2022-02-23 19:26] dustin-bingham opened #8110 "PrometheusReceiver - if no metadata supplied, metric is dropped"
If no type hint is supplied for an MTS, then the metric gets dropped (instead of defaulting to gauge as per the doc).

**Steps to reproduce**
The quickest way to reproduce is to use the go tests under prometheusreceiver.  Supply a metric series without any metadata.  For example, under metrics_receiver test, make a target page with just a couple of bare gauges and call TestEndToEnd.

**What versio

[2022-02-23 19:38] Aneurysm9 commented on #8110
Can you please verify with v0.45?  Significant changes to the metrics conversion pipeline have happened since v0.36.

I am unable to reproduce this with the suggested steps to reproduce on the `main` branch.  Removing the comments from the gauge at https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/prometheusreceiver/metrics_receiver_test.go#L34-L36 results in no

[2022-02-24 02:15] makefriend8 opened #8112 "[elasticsearchexporter] can't start"
**Describe the bug**

Error: failed to get config: cannot unmarshal the configuration: error reading exporters configuration for "elasticsearch": 1 error(s) decoding:

**Steps to reproduce**
`
otelcol-contrib_0.45.0_windows_amd64>otelcol-contrib.exe --config=otel-collector.yaml
`

**What did you expect to see?**
start successful

**What did you see instead?**
`
2022/02/24 09:37:25 proto: duplicate

[2022-02-24 02:25] makefriend8 commented on #8112
sorry it's my fault.
endpoints is ok.

[2022-02-24 02:25] #8112 closed

[2022-02-24 10:08] mx-psi commented on #8109
Per the

line, I would say you are not using the ADOT distro since there are [quite a few exporters](https://github.com/aws-observability/aws-otel-collector#adot-collector-built-in-components) that are supported by ADOT but not present in that list. Are you maybe using the AWS 'OpenTelemetry Collector Lambda Extension'?

I am not familiar with the Lambda extension, maybe @Aneurysm9 or @alolita can

[2022-02-24 15:35] TriQuach commented on #8109
Thanks for your support. According to [AWS Distro for OpenTelemetry Lambda Support For Python](https://aws-otel.github.io/docs/getting-started/lambda/lambda-python), the lambda layer we are using contains:
1. [OpenTelemetry Python v1.9.1](https://github.com/open-telemetry/opentelemetry-python/releases/tag/v1.9.1) with the [AWS Python Extension v2.0.1](https://github.com/open-telemetry/opentelemetr

[2022-02-24 16:48] jvoravong opened #8115 "[receiver/k8sclusterreceiver] Some k8s node and container cpu metrics are not being reported properly"
**Describe the bug**
The otel collector k8sclusterreceiver was meant to have 1:1 functionality with the signalfx agent kubernetes cluster receiver so that signalfx users could migrate to the otel collector without issue. Some users have reported metric reporting discrepancies between the otel collector k8sclusterreceiver and  signalfx agent kubernetes cluster receiver which is blocking them from m

[2022-02-24 16:56] jvoravong commented on #8115
I would like to work on this ticket if it is accepted.

[2022-02-24 17:00] Aneurysm9 commented on #8109
I looks like I can only transfer this issue to another repository in the OpenTelemetry organization.

The OTel Lambda layer collector has a [small set of supported components](https://github.com/open-telemetry/opentelemetry-lambda/blob/main/collector/lambdacomponents/default.go#L44-L49) to minimize the footprint of the layer in consideration of the size constraints on overall size of Lambda functi

[2022-02-25 07:13] dmitryax commented on #7756
According to @hossain-rayhan as mentioned in [this issue](https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/5234) it was designed to be ALL. I don't have strong opinion. Probably we can keep it ALL (with docs fixed) and add an option to reconfigure the behavior.

[2022-02-25 08:21] albertteoh commented on #7906
Adding reference to comment referencing PRs adding exemplars to both spanmetrics processor and prometheusremotewrite exporter: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/5263#issuecomment-1024203109

[2022-02-25 16:08] #7838 closed

[2022-02-25 18:02] bogdandrutu commented on #7063
@alolita you told me that you have updates on this... can you please update this issue? Would like to enable this to make the repo more self service

[2022-02-25 18:13] jvaesteves opened #8121 "[metricstransformprocessor] Regex group interpolation not working on add_label"
**Describe the bug**
In the **metricstransformprocessor**, I am trying to use the add_label operation to add the label **application** with one of the matching groups of metric regexp, but I every time I do it, it adds the label value as the regex interpolation itself

**Steps to reproduce**
[code]

**What did you expect to see?**
[code]

**What did you see instead?**
[code]

**What config did you

[2022-02-25 22:53] TriQuach commented on #8109
Thanks for the response. I guess we were a bit confused because this issue #1336 says that the datadog exporter should be available in the collector

[2022-02-28 02:47] FuyuanChu commented on #7381
Any updates?

[2022-02-28 04:26] dmitryax opened #8127 "[Metrics builder] Allow attribute values of any types"
Currently the experimental mdata generator can generate code for recording metrics with attributes values of string type only. We need to add support for recording other attribute value types in the attributes definition section of metadata.yaml. `attributes.<attrinbute_name>` section should get another optional argument `type` with default value string.

[code]

If `type` value is specified to an

[2022-02-28 06:03] abhide commented on #8127
@dmitryax I would like to work on this issue.

[2022-02-28 08:44] mx-psi commented on #8109
There are different [distributions](https://opentelemetry.io/docs/collector/distributions/) of the OpenTelemetry Collector, for example, to name a few mentioned on this issue:
- [core opentelemetry-collector distro](https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.45.0), which has a reduced set of core components.
- [opentelemetry-collector-contrib distro](https://github.c

[2022-02-28 14:58] tigrannajaryan commented on #7756
I am fine with ALL.

[2022-02-28 15:04] hossain-rayhan commented on #7756
Requesting some time here. I would love to take a look this week.

[2022-02-28 15:12] mihneastaub commented on #7938
Hello Guys,

Any update on this issue? Thank you!

[2022-02-28 15:34] jpkrohling commented on #8059
cc @axw @simitt @jalvz

[2022-02-28 15:55] #7839 closed

[2022-02-28 18:46] alolita commented on #5757
@dashpole are you looking at this issue? We can also help so let me know.

[2022-02-28 18:53] dashpole commented on #5757
I am not currently working on it, but am happy to help if someone else wants to take it on

[2022-02-28 19:56] Aneurysm9 commented on #5757
AFAICT, the issue is that the metric metadata is associated only with target labels, prior to merging them with individual metric labels, and the receiver, when it is given a metric to append, doesn't have access to the original value of `instance` and `job` if they have been overridden by labels in the exposition that are honored.

I think we might be able to do something with automatically appen

[2022-02-28 20:40] dashpole commented on #5757
There is a different google project that uses a fork of the prometheus server.  They dealt with this by [embedding a metadata fetcher](https://github.com/GoogleCloudPlatform/prometheus/commit/655bb3301b9a93d8bc4490c345ecd81135fc5e50#diff-4535d6172e0a9ab4e0879d71ef67ab69023f6eda9b44100343a6afa04fc8925fR299) in the context passed to Appender ([which be here in the prom receiver](https://github.com/o

[2022-03-01 01:12] crobertson-conga commented on #8060
I just ran into this.  It doesn't make sense that the service doing the scraping gets to rename the service if it is already set.  Especially if the endpoint is an aggregation of multiple services.  My specific use case is using the [Span Metrics Processor](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/v0.45.0/processor/spanmetricsprocessor) to set up timing for multiple s

[2022-03-01 02:18] tonglil opened #8185 "Docker image "lastest" not up to date"
I noticed today and confirmed that the `latest` image on Docker Hub is not being updated.

https://hub.docker.com/r/otel/opentelemetry-collector-contrib/tags

<img width="1271" alt="image" src="https://user-images.githubusercontent.com/3250776/156092194-21551082-2dc2-41e3-be8c-c63e32dda419.png">

Also:

[2022-03-01 03:12] tonglil commented on #8185
Also there seem to be some quirks between the images that were built by `opentelemetrybot` and @bogdandrutu.

The `latest` image (which is actually https://github.com/open-telemetry/opentelemetry-collector-contrib/commit/6a1c2471092b7f62ad1a37f62cbb7b0179676d01) and `0.42.0` images are strange to reason about, given they are suppose to be the same (0.42.0 == 6a1c247).

[code]

[code]

However, if

[2022-03-01 09:15] CoderPoet commented on #8060
Yes, I also feel that not all metrics need the `servce.name` attribute, so can the prometheusreceiver consider not setting it?

[2022-03-01 10:54] #6920 closed

[2022-03-01 10:54] jpkrohling commented on #6920
I'm sorry for taking so long to give some feedback, but you got the right spirit by sending a PR! Thank you for that, you are the hero!

[2022-03-01 11:04] jpkrohling commented on #8121
cc @punya

[2022-03-01 11:31] #7878 closed

[2022-03-01 11:43] jpkrohling commented on #8185
I'm closing this in favor of https://github.com/open-telemetry/opentelemetry-collector-releases/issues/73. We basically switched the way we build the images, and they are now being published via the -releases repo. What you are seeing is likely a different difference in behavior (or bug), not related to how the images are being built.

Please, open a new issue with the mTLS problems you are facing

[2022-03-01 11:43] #8185 closed

[2022-03-01 14:34] jdgeisler commented on #6920
No problem at all, it was my pleasure!

[2022-03-01 16:19] atye opened #8187 "Zipkin exporter doesn't retain the recorded error of a otlp span"
**Describe the bug**
The zipkin exporter does not retain the recorded error of a span from the otlp receiver. This could be an issue with https://github.com/open-telemetry/opentelemetry-go but I'm trying here first.

**Steps to reproduce**
Run Zipkin instance.
Run Collector configured to receive otlp via http or grpc and export to Zipkin instance.
Create a OTLP client and create a span with a reco

[2022-03-01 16:24] jpkrohling commented on #8187
cc @pmm-sumo

[2022-03-01 16:24] #7951 closed

[2022-03-01 18:11] davidmirza408 opened #8188 "Enhanced process filtering for HostMetricsReceiver"
When scraping metrics for processes using HostMetricsReceiver, the amount and size of data can be very large because there is no way to filter out the set of processes monitored.  In addition to this scraping metrics for all processes is more data than most users of the receiver need.

I would like to propose that we provide the ability to allow users to filter based on the attributes being report

[2022-03-01 20:14] davidmirza408 opened #8242 "selective attribute appending for resourcedetectionprocessor"
ResourceDetectionProcessor adds several attributes to identify the host machine.  There are scenarios where all of the attributes are not desired.

I would like to propose that we add a config setting to allow the user to specify that only a subset of the available attributes be appended.

For example, the AWS EC2 resource detection processor adds the following attributes by default:
 * cloud.prov

[2022-03-01 20:51] crobertson-conga commented on #8060
Note, I did use the method that Aneurysm9 suggested (hooking up the pipelines via otlp) and that seems to work rather well for my use case.

[2022-03-01 21:30] dashpole opened #8243 "Prometheus dependency is really old"
**Description**

We [are on](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/prometheusreceiver/go.mod#L11) version v1.8.2 of prometheus, which is from 2017.  We may see better performance, etc. if we update.

[2022-03-01 21:30] dashpole commented on #8243
cc @Aneurysm9

[2022-03-01 23:25] tonglil commented on #8185
Thanks.

I realized the mTLS issue was a red herring for the image's entrypoint and cmd being changed from
https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/317d2056d6f26aa39b26bf0f05a2f1e0068add5d/cmd/otelcontribcol/Dockerfile#L14-L15

To
https://github.com/open-telemetry/opentelemetry-collector-releases/blob/694055d71c7c5bd7c61ab1015be8f56f5575192a/distributions/otelcol-cont

[2022-03-02 09:28] jpkrohling commented on #8243
I thought @gouthamve changed this already?

[2022-03-02 10:01] jpkrohling commented on #8188
cc @dmitryax

[2022-03-02 10:02] jpkrohling commented on #8242
@jrcamp, are you still a code owner of this component?

[2022-03-02 10:25] pmm-sumo commented on #8242
BTW, as a workaround one could use [resource](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/resourceprocessor) processor and delete unwanted attributes

[2022-03-02 11:43] jpkrohling commented on #7962
Could you please expand on the use-cases for this? Is this so that users can analyze this data later and extrapolate based on the probability? And just to confirm: we are talking only about root spans here, right?

Would you also be open to providing concrete examples of input and output?

[2022-03-02 11:55] mx-psi commented on #8243
We are not using v1.8.2, we are pinning this commit: prometheus/prometheus@4855a0c067e2 from Jan 17th 2022. `v1.8.2-0.20220117154355-4855a0c067e2` is a [pseudo-version](https://go.dev/ref/mod#pseudo-versions). We can't use an actual version because of prometheus/prometheus#8852

[2022-03-02 13:15] kwiesmueller commented on #8243
That's interesting.
I updated Prometheus yesterday for our 0.37.0 fork and there I had to make a few changes to imports to make it possible.
Maybe that was before you changed your pinned commit.

[2022-03-02 13:43] #8243 closed

[2022-03-02 14:54] StefanKurek opened #8249 "Add Logging to Google Cloud Exporter Component"
**Is your feature request related to a problem? Please describe.**
Google Cloud has built in capability to store/view/receive logs, so we should make use of this in the googlecloudexporter (rather than only have it work with traces/metrics)

**Describe the solution you'd like**
Add in the functionality for the existing googlecloudexporter component to handle logs. It should reuse as much of the ex

[2022-03-02 15:04] jpkrohling commented on #8249
cc @aabmass @dashpole @jsuereth @punya @tbarker25

[2022-03-02 15:27] mx-psi commented on #8242
What are the benefits of having this on the resourcedetection processor vs. using a resource processor (or the transform processor in the future)?

[2022-03-02 15:36] dashpole commented on #8249
cc @[damemi](https://github.com/damemi)

[2022-03-02 15:50] dashpole commented on #8249
Hey @StefanKurek, just a heads up that your PR will need to change after https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/7177.  We are keeping the conversion code from Pdata -> GCP in https://github.com/GoogleCloudPlatform/opentelemetry-operations-go so that we can run integration tests against GCP's apis.

Do you have your PR ready somewhere?

I believe there was also inter

[2022-03-02 17:04] pmm-sumo commented on #8242
I think

I think reduced memory pressure and some cpu cycles, though I believe the difference is not going to be anywhere substantial. Also, a simpler configuration

[2022-03-02 17:54] StefanKurek commented on #8249
@dashpole Hello. I see now how there would be an entirely new set of configs. The new library that you're using for OTEL to Google formats, does that include logs? Or is that only for metrics/traces? I do have a PR ready to go, but it was not expecting the config changes (and is using the old set of configs). I do have a PR ready right now which is based off of the stanza googlecloud exporter code

[2022-03-02 18:18] dashpole commented on #8249
It doesn't include logs.  We are planning to add logs to that new library, and then include them here.

The config is still ~mostly intact (some fields moved around).  It just lives in the other repo as well now.

[2022-03-02 18:37] dashpole commented on #8249
This description might help a bit: https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/pull/279#issue-1100796832.  For logs, we would want to add `NewGoogleCloudLogsExporter()`, which returns a LogsExporter.  LogsExporter has the following public methods: `LogsExporter.PushLogs()`, and `LogsExporter.Shutdown()`.

[2022-03-02 20:56] omamoo commented on #2274
Can someone attach the RBAC he uses?

[2022-03-02 23:48] PeterF778 commented on #7962
Probabilistic sampling processor would typically live in a collector. Its role would be to further reduce the volume of data (spans), if for whatever reason it decides that it is too high.
On input, it receives spans which have been already sampled by a tracer, more specifically, here we assume that consistent probability samplers were used (see https://github.com/open-telemetry/opentelemetry-spec

[2022-03-03 08:07] anuraaga opened #8252 "[transform] Implementation of transform processing"
The transform processor currently supports transformation of traces. This issue tracks next steps

- [x] Make function invocation logic generic for use across signals
- [x] Add metrics data model
- [x] Add logs data model
- [ ] Add an initial set of transformation functions on top of initial set and keep_keys

[2022-03-03 09:21] mx-psi commented on #8242
That's a good point. I think you have convinced me that this is worth having :)

[2022-03-03 11:38] pmm-sumo commented on #5859
Still happening: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5405959324?check_suite_focus=true

[2022-03-03 16:30] tigrannajaryan commented on #7559
Resolved by https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/7829

[2022-03-03 16:31] #7559 closed

[2022-03-03 18:14] crobertson-conga commented on #7593
Thanks a bunch, we will be trying this out soon.

[2022-03-03 21:36] kmotupalli-tc commented on #7578
@mx-psi We tried the above suggested but it didn’t worked for us. We definitely need help here.

[2022-03-04 08:31] mx-psi commented on #7578
I am sorry about that. Could you open a support case with us (see [here](https://www.datadoghq.com/support/)?

It will be useful to have:
- Your full config (after removing sensitive details)
- Any relevant logs from your Collector.
- If you can, add a [logging exporter](https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/loggingexporter#logging-exporter) with debug log le

[2022-03-04 14:19] damemi commented on #8249
Would this be easier to discuss directly in the PR review? I would like to see the changes you have @StefanKurek and I'm happy to help review if I can

[2022-03-04 15:18] StefanKurek commented on #8249
Alright, I can throw up the PR if you want to get a preview of it. Ultimately I'll wait until 7177 is merged in so that I can make the necessary modifications (and not only work in legacy mode).

[2022-03-04 21:29] Mrod1598 opened #8259 "[receiver/windowsperfcountersreceiver] Update Windows performance counter to be able to better define metrics."
**Is your feature request related to a problem? Please describe.**
The windows performance counter receiver doesn't give much control over the metrics that are defined to be pulled from the defined counters.

**Describe the solution you'd like**
Update the existing receiver to give more in depth configuration.

an example of what a new configuration could be:
[code]

**Describe alternatives you've

[2022-03-04 21:59] #7132 closed

[2022-03-04 22:47] rockb1017 opened #8260 "Logging CI Improvements"
There are some improvements we can do for logging tests.
* using dedicated host for performance sensitive tests.
* Adding new stability test cases

Please take a look at this doc and let's discuss.
https://docs.google.com/document/d/167J-jkqwIG_H7qq8iTrYFikVF-ULJb1xit0IecG0FCY/edit#heading=h.fqrcxtvpgibe

[2022-03-05 01:46] dashpole opened #8264 "[prometheusreceiver]/[prometheusremotewriteexporter] Update resource attributes to reflect the updated prom spec"
After https://github.com/open-telemetry/opentelemetry-specification/pull/2381, we should generate the following resource attributes in the prometheus receiver, and prometheus remote write exporter

Changed:
* `instance` -> `service.instance.id`
* `host.name` -> `net.host.name`
* `port` -> `net.host.port`
* `scheme` -> `http.scheme`

Removed: `job`

Additionally, when reconstructing `job` in promet

[2022-03-05 01:54] dashpole opened #8265 "[prometheus components] Translate the "target" info metric to/from resource attributes"
The spec was updated in https://github.com/open-telemetry/opentelemetry-specification/pull/2381 to require the prometheus receiver to convert the "target" info metric to resource attributes, and to recommend converting resource attributes to the "target" info metric when exporting.

See https://github.com/OpenObservability/OpenMetrics/blob/main/specification/OpenMetrics.md#supporting-target-metada

[2022-03-06 12:48] lchayoun opened #8267 "[receiver/hostmetricsreceiver] wrong 5m and 15m normalized load - using 1m normalized load and normalizing it again"
**Describe the bug**
When using the `cpu_average` option introduced in [6999](https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6999) the 5 minute load and 15 minute load are using the normalized 1 minute load and normalizing it again

**Steps to reproduce**
Run the agent with `hostmetricsreceiver` and `cpu_average` set to tru

**What did you expect to see?**
The 5m and 15m no

[2022-03-06 18:28] dmitryax commented on #8188
Host metrics receiver -> disk scraper has include/exclude capabilities. I suggest to apply similar approach to the processes scraper

[2022-03-07 12:44] mkielar opened #8271 "SIGSEGV in awsxray receiver"
**Describe the bug**
OpenTelemetry

**Steps to reproduce**
1. We have an AWS ECS FARGATE Service, running `otel` sidecar, `envoy` sidecar (for AppMesh) and a .NET Application.
2. We've ran the application and it worked correctly for ~1h, after which it started failing with SIGSEGV error from `awsxray` receiver.
3. The ECS Tried to start new tasks, which were failing in a similar way after some tim

[2022-03-07 13:06] ecourreges opened #8273 "jaeger span is in error if tag error=false AND http.status_code >=400"
**Describe the bug**
If I have a tag http.status_code >=400 _and_ a tag error=false on my Span, a tag error=true gets added (so I now have two attributes error with one true and one false) and the overall status of the span switches to error with a tag otel.status_code = ERROR
Short story: In my app, I don't want client errors to popup as span errors, I want that only for server errors, so I set t

[2022-03-07 13:27] mkielar opened #8274 "Add "aws.ecs.task.id" detection to "resourcedetection" processor"
**Is your feature request related to a problem? Please describe.**
I'm using OTEL as a sidecar with ECS Services. I use it to parse and filter StatsD Metrics, that AppMesh/Envoy produces, and then I use `emfexporter` to put the metrics to Cloudwatch via Cloudwatch Log Stream. This mostly works. However, when my ECS Service scales to multiple instances, I often see following error in my logs:
[code

[2022-03-07 13:35] lorelei-rupp-imprivata commented on #4739
I think this is related to the same issue I am facing as well. We have a bunch of metrics that have no labels/dimensions that we cannot seem to get into Cloud Watch either. I linked my ticket, trying to get confirmation if it is indeed the same issue.
Is there any update on this? Any potential ETA?

[2022-03-07 14:50] ecourreges commented on #8273
Note that the double "error" attribute is only when viewed on jaeger, not in the logging span of the collector:

[code]
![image](https://user-images.githubusercontent.com/2752411/157057209-54dbadd0-1cfa-47bb-9a19-9d9bb8cd1043.png)

[2022-03-07 17:22] william-tran opened #8276 "Health check extension returns 200 status code during errors"
**Describe the bug**
When I simulate exporter errors and use health check with `check_collector_pipeline` enabled, I get a response like

[code]

**Steps to reproduce**

run v0.46.0 with this config.yaml

[code]

And with this python script test.py:

[code]

and requirements.txt

[code]

[code]

execute in a loop until you see errors:

[code]

**What did you expect to see?**
Health check eventuall

[2022-03-07 17:26] codeboten opened #8277 "re-enable auto-merge feature for this repo"
This accelerates merging of PRs that have been approved and pass all the checks. This was disabled some time ago due to a permissions issue.

[2022-03-07 17:27] codeboten commented on #8277
This was re-enabled today and tested w/ @djaglowski.

[2022-03-07 17:27] #8277 closed

[2022-03-07 17:28] jpkrohling commented on #8276
I'm assigning this to myself as I'm the code owner, but I believe we didn't implement yet the reporting of the state of individual components.

[2022-03-07 17:39] djaglowski commented on #5679
I haven't found enough time to become very familiar with how we're approaching filtering in processors yet, but I'll point out a couple things that may help narrow the scope of what we need to support:

1. Somewhat recently, the logs data model was updated to specify that [the body _should_ be a string in all first party applications](https://github.com/open-telemetry/opentelemetry-specification/b

[2022-03-07 17:56] william-tran commented on #8276
More context: when running a traces exporter like otlp or kafka, sometimes the TCP connection dies, but there is no built-in connection restart, so the exporter queue starts filling up. I want to restart otel-collector to reestablish connections. Ideally this would be done before data loss occurs when you hit exporter queue capacity. Exposing this as a metric in https://github.com/open-telemetry/o

[2022-03-07 18:16] jpkrohling commented on #8259
cc @dashpole

[2022-03-07 18:21] jpkrohling commented on #8260
For this, we can probably use CNCF's pool of bare metal servers at Equinix.

[2022-03-07 18:30] jpkrohling commented on #8267
cc @dmitryax

[2022-03-07 18:33] #7844 closed

[2022-03-07 18:36] jpkrohling commented on #8271
cc @anuraaga

[2022-03-07 18:42] jpkrohling commented on #8274
cc @jrcamp @pmm-sumo @anuraaga @dashpole

[2022-03-07 18:44] jpkrohling commented on #8273
I've assigned this to me, but I also don't have time over the next couple of weeks to work on this. If we have volunteers, feel free to grab this.

[2022-03-07 19:15] #4751 closed

[2022-03-07 19:23] dmitryax commented on #8267
@lchayoun that for reporting the this

[2022-03-07 21:02] codeboten opened #8335 "update `opentelemetry-operations-go/exporter/collector` library"
The error in the library is causing `make update-otel` to fail. This will need to be resolved before the next release.

Related: https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/issues/329

[2022-03-07 21:05] dashpole commented on #8335
Let me know if you would like me to handle this as well (bogdan asked me to bump after https://github.com/open-telemetry/opentelemetry-collector/pull/4914).  I've been working in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/8316, but if you want to tackle it, thats also fine.

[2022-03-07 21:06] codeboten commented on #8335
happy to re-assign and review :)

[2022-03-07 22:37] willarmiros commented on #7938
Hi @mihneastaub,

Sorry for the delayed response. Does the `opencensus` receiver convert trace data to OTLP format before it is passed to the exporters? The configuration that the X-Ray destination supports is the `otlp` receiver with `awsxray` exporter: https://aws-otel.github.io/docs/getting-started/x-ray#configuring-the-otlp-receiver

If it's translated, it *should* work the same but maybe some

[2022-03-07 23:36] #8335 closed

[2022-03-08 00:08] MovieStoreGuy commented on #4752
Hey @snowsword ,

I have a few questions on this just to help figure out what would be an acceptable failure case(s) if that is okay?

- If the domain name is unresolvable, what would you want happen?
- If Kafka is unavailable during the start of the collector, what would you want to happen?
- While kafka is unavailable during the runtime of the collector, what should the exporter do?

[2022-03-08 07:08] mihneastaub commented on #7938
Hello @willarmiros,

Thank you for your answer. From what I know the OpenTelemetry is backward compatible with OpenCensus/OpenTracing and for this reasons I suspect that this setup should work.

Please see the logs below:
[code]

[2022-03-08 12:40] yankay commented on #7903
HI @bogdandrutu ,
The ”internal/common/ttlmap“  is the more common one. And can be used more widely.
Can we use the ”internal/common/ttlmap“  and remove the ”internal/aws/metrics“ ?

[2022-03-08 13:57] jpkrohling opened #8342 "Flaky test - Test_PushMetrics/WAL/unmatchedBoundBucketHist_case"
Seen here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5460547254?check_suite_focus=true

[code]

cc @Aneurysm9

[2022-03-08 16:47] Aneurysm9 commented on #8271
This appears to result from a [missing label or path in a stack trace frame](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/awsxrayreceiver/internal/translator/cause.go#L103).  We should add defaults for those fields when they are nil.

[2022-03-08 17:33] djaglowski commented on #8259
I think this points out a necessary change. It's not acceptable in the longer term that this receiver would produce metrics in such a generic and often inaccurate way.

The proposal overall makes sense to me. A few observations / points of feedback:
1. Overall, this appears to be an additive change. `metrics` is new, and the individual `counters` have a couple new fields. I'm not sure it's strictl

[2022-03-08 18:02] pureklkl commented on #8252
Just tried this processor, is there a way to check whether an attribute exists? like `where attr["name"] != nil`

[2022-03-08 19:36] djaglowski opened #10279 "[pkg/stanza] Should journald, WEL, or syslog set a scope name?"
This raises a question for me. In the context of logs, what value(s), if any, would reasonably be used as the scope, other than a logger name? Perhaps the log file name or similar? We could consider each input operator separately.

If in the context of Logs, logger name is really the only sensible scope, then I would prefer to leave it as LoggerName to encourage use of only that specific value.

I

[2022-03-08 21:17] jlegoff commented on #6221
I think all PRs were merged - closing this issue. Thanks everyone!

[2022-03-08 21:17] #6221 closed

[2022-03-08 22:27] mwear opened #8347 "[receiver/jmxreceiver] Duplicate metric definition warnings"
**Describe the bug**
I configured the JMX receiver with kafka as the target system and I see warnings in the logs for `duplicate metric definition`. These appear to happen on each export. Here is a stacktrace:

[code]

**Steps to reproduce**
Setup the JMX exporter with target system of Kafka and observe the logs. I have [an example](https://github.com/mwear/otel-collector-examples/tree/main/jmx-re

[2022-03-09 01:47] mwear opened #8349 "[receiver/kafkametricsreceiver] collector crashes if Kafka is unavailable at startup"
**Describe the bug**
If Kafka is not available when the kafka metrics receiver attempts to start, the collector fails to start.

**Steps to reproduce**
Configure the kafka metrics receiver and start the collector without a running Kafka instance. Alternatively, you can use [this docker-compose example](https://github.com/mwear/otel-collector-examples/tree/main/kafka-metrics-receiver)

If using the

[2022-03-09 08:18] 991216982 commented on #7950
Looking forward to

[2022-03-09 11:44] mx-psi commented on #2353
I am closing this since we believe it to be fixed by the change above and there have been no new reports for a while. If you still see this issue, increase the value of `timeout` to a higher value. If the issue persists, please comment here so that we can reopen the issue. Thanks!

[2022-03-09 11:44] #2353 closed

[2022-03-09 12:05] jpkrohling commented on #8347
cc @rmfitzpatrick

[2022-03-09 12:07] #8342 closed

[2022-03-09 14:54] jpkrohling commented on #8349
I believe this is a duplicate of #4752 and I'm therefore closing this one. If you don't think this is the same issue, feel free to reopen.

[2022-03-09 15:31] dashpole opened #8351 "[prometheusremotewriteexporter] TraceID and SpanID must be added as exemplar attributes."
**Description**
In the [code converting exemplars for PRW](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/488e70172c662f1c32a9ef4e6245c9e650e57327/pkg/translator/prometheusremotewrite/helper.go#L342), we don't do anything with the attached trace ID or span ID

As described in the [prometheus conversion spec](https://github.com/open-telemetry/opentelemetry-specification/blob

[2022-03-09 15:38] dashpole opened #8352 "[prometheusremotewriteexporter] exemplars can exceed the maximum number of allowed characters."
**Describe the bug**
As described in the [OpenMetrics Specification for Exemplars](https://github.com/OpenObservability/OpenMetrics/blob/main/specification/OpenMetrics.md#exemplars):

The [OpenTelemetry Prometheus conversion Specification](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification%2Fmetrics%2Fdatamodel.md#exemplars-2) requires:

We currently accept all f

[2022-03-09 15:43] dashpole commented on #5192
For the prometheusexporter, the way to convert OpenTelemetry exemplars to prometheus is now [described in the specification](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification%2Fmetrics%2Fdatamodel.md#exemplars-2):

[2022-03-09 15:49] dashpole opened #8353 "[prometheusreceiver] Support exemplars from Prometheus"
**Is your feature request related to a problem? Please describe.**
Currently, the prometheus receiver drops prometheus exemplars: https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/5cd8dd90659779c0d6f99873de71144a2d5235d1/receiver/prometheusreceiver/internal/otlp_transaction.go#L103-L105

**Describe the solution you'd like**
As described in the [prometheus conversion specificat

[2022-03-09 16:00] JonathanWamsley opened #8354 "New component: Varnish Metric Receiver"
## The purpose and use-cases of the new component

This Varnish Cache Metric Receiver will collects metrics using the [varnishstat](https://varnish-cache.org/docs/7.0/reference/varnishstat.html#varnishstat-1) command. It will generate backend, cache, thread and session metrics.

This Varnish Cache receiver will collect metrics for [supported versions](https://varnish-cache.org/releases/) 6.0.10+ -

[2022-03-09 16:20] dashpole opened #8355 "[prometheusexporter] Add job and instance labels to match federated prometheus"
**Description**
As described in the [OpenTelemetry -> prometheus conversion specification](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification%2Fmetrics%2Fdatamodel.md#resource-attributes-1), prometheus exporters must add job and instance labels to exported metrics in the collector:

This allows a user to scrape the prometheuxexporter's endpoint with `honor_labels

[2022-03-09 16:34] djaglowski commented on #8354
Can you elaborate on the usage of `executable_dir`? If not specified, is there a default, or does the executable need to be in the path?

[2022-03-09 16:59] djaglowski commented on #8354
It looks like `varnishstat` can operator as a long or short running process (short running if using `-1`) flag.

@jpkrohling, not sure if you agree, but IMO, if this is a scraper that runs an executable that is not expected to run indefinitely, then I think it probably does not need to be managed by an extension.

Either way, this is an important detail to note here. @JonathanWamsley, can you clar

[2022-03-09 17:14] djaglowski commented on #8354
Discussed in the Collector SIG today.

The primary concern is security related. It was decided a few weeks back that any existing components that run a subprocess will be made as secure as possible. Once that has been done, it will be evaluated whether or not subprocesses can be secured in a generic way, such as discussed in #6467.

[2022-03-09 17:19] dmitryax opened #8358 "[Metrics builder] Generate whole pdata.Metrics object"
`NewMetricData` method was added in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/8255 but we can avoid exposing it and create pdata.Metrics internally by the first call to Record...DataPoint. Emit signature should be changed to:

[code]

Originally posted: https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/8255#discussion_r821014408

[2022-03-09 17:25] JonathanWamsley commented on #8354
When the `varnishstat` is not in the user's path then an executable directory can be specified.
`/executable/path/varnishstat -n` statement can be used to collect the metrics. I don't think it is safe to assume that 'varnishstat' would always be in the user's path.

[2022-03-09 17:46] mwear commented on #8349
These issues are for different components. #4752 appears to be an issued filed on the [Kafka Exporter](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/kafkaexporter). This report is for the [Kafka Metrics Reciever](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/kafkametricsreceiver).

[2022-03-09 18:18] willarmiros commented on #8271
Thanks for bringing this to our attention! We will prioritize a fix to the receiver as soon as we can. Curious @mkielar, how did you generate your X-Ray trace data? Was it with the X-Ray .NET Agent, X-Ray .NET SDK, or something else?

[2022-03-09 18:19] dmitryax commented on #8259
I'm not familiar with this receiver yet. Is there any issues to migrate it to metrics builder? I believe doing that already resolves a part of this issue. And to cover remaining parts of this issue, we can probably extend metrics builder functionality

[2022-03-09 18:37] codeboten opened #8360 "Flakey test: Test_PushMetrics/WAL/staleNaNDoubleGauge_case"
As seen here: https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5484352499?check_suite_focus=true

[code]

[2022-03-09 18:41] djaglowski commented on #8259
I don't think this receiver could use metrics builder because it does not collect predefined metrics. It is up to the user to specify which performance counters should be collected. Correspondingly, this change suggests that the user should be able to articulate the characteristics of the metric into which the counter is converted.

[2022-03-09 18:54] gillg commented on #5192
Great! Thanks @dashpole for all your recents clarifications in the doc !

______
Out of current scope
I love especially the concept of target metric I was starting to define internal guidelines for devs to have two metrics "build_infos" with static labels like all resources attributes, and "runtime_infos" with some standard attributes as labels like some application context specific metadata.
Do y

[2022-03-09 18:57] dashpole commented on #5192
https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/8265 tracks using `target_info` in the collector

[2022-03-09 19:00] jpkrohling commented on #8360
cc @Aneurysm9

[2022-03-09 19:27] codeboten opened #8362 "Consistent instrumentation name"
Many components are inserting the instrumentation name manually currently. It would be better to use a common method like the metric builder to be consistent across all components. This issue proposes changing the instances of the code that are currently setting these manually to use `NewMetricData` introduced in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/8255

Eventual

[2022-03-09 19:27] codeboten opened #8363 "update receiver/apache to use NewMetricData"

[2022-03-09 19:57] armstrmi opened #8364 "New component: Riak Metric Receiver"
## The purpose and use-cases of the new component
Riak metrics will be collected through the REST API using the [/stats](https://docs.riak.com/riak/kv/2.2.3/developing/api/http/status.1.html) endpoint.

This Riak receiver will collect metrics for [3.x](https://github.com/basho/riak/releases)

## Example configuration for the component

The following configuration settings are required:

* `usernam

[2022-03-09 20:27] dmitryax commented on #8259
But isn't the set of performance counters limited? Potentially we can define all of them as optional metrics, right?

I thinking if this is something that can be covered by additional features of the metrics builder

[2022-03-09 20:34] dmitryax opened #8365 "Flaky Test - prometheusexporter.TestEndToEndSummarySupport"
Seen [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5486441940).

[code]

[2022-03-09 20:34] dmitryax commented on #6228
It seems to be failing again with another message: https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/8365

[2022-03-09 20:37] dmitryax commented on #8360
Seen here as well https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5486181565?check_suite_focus=true

[2022-03-09 20:50] djaglowski commented on #8259
I'm not a Windows expert but my understanding is that Windows Performance Counters are basically a metrics framework, akin to MBeans.

There are many standard counters for Windows itself and many more for common applications like SQL Server. However, I'm not sure it's reasonable to try to describe all of them (though I certainly could be wrong).

More importantly, I think Windows application devel

[2022-03-09 21:49] dmitryax commented on #8259
Ok makes sense. In that case we can apply the approach that you suggested. I'd say metadata API is stable enough for this. There are still may be small changes and additions to it tho

[2022-03-09 22:00] codeboten opened #8367 "update receiver/couchdb to use NewMetricData"

[2022-03-09 22:42] codeboten commented on #8360
I couldn't repro locally, but happened again here https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5487568583?check_suite_focus=true

[2022-03-09 23:14] Aneurysm9 commented on #8360
I was able to repro locally by running the tests in a debugger with `-test.count=100` and a breakpoint looking for `prwe.wal == nil` just before reading from it.  The changes in #8368 to check the stop channel in addition to the context prevented recurrence, but I added an explicit error on a `nil` WAL pointer just to be safe.

[2022-03-09 23:51] #8360 closed

[2022-03-10 01:50] aunshc commented on #8252
@anuraaga does the transform processor support using wildcards for operations with attributes through queries?
For example, set(attributes["http.*"], "/foo")

[2022-03-10 01:50] aunshc commented on #8252
@anuraaga does the transform processor support using wildcards for operations with attributes through queries?
For example, `set(attributes["http.*"], "/foo")`

[2022-03-10 01:56] Mrod1598 opened #8370 "New component: IIS Metric Receiver"
## The purpose and use-cases of the new component

The IIS Metric Receiver would pull KPI stats from windows performance counters using the `windowsperfcountersreceiver` as a base to build off of.

Targeted versions would be IIS 8+ because IIS 7- are [EOL](https://docs.microsoft.com/en-us/lifecycle/products/internet-information-services-iis)

## Example configuration for the component

`collection

[2022-03-10 03:20] #8363 closed

[2022-03-10 03:41] hossain-rayhan commented on #7756
Thanks @tigrannajaryan and @dmitryax for looking into this. Let's keep the functionalities same (match all) and update the doc/comment. As @dmitryax mentioned we have different use cases. We can add an option/flag for configurability without breaking our existing customer experience.

[2022-03-10 03:55] #8367 closed

[2022-03-10 08:22] anuraaga commented on #8252
@pureklkl Thanks for the suggestion! `nil` being a supported literal did come up, we didn't add it in the first version but will try to get that in soon as it does seem important.

@aunshc Wildcards in the path expressions is not currently supported. Could you describe your use case for wildcards? Is it to remove attributes for entire namespaces?

[2022-03-10 08:24] mkielar commented on #8271
@willarmiros, the setup in the ECS Service in question was as follows:
1. Envoy Sidecar configured with `ENABLE_ENVOY_XRAY_TRACING=1` (this should make Envoy write trace segments to `localhost:2000`)
2. OTEL Sidecar configured as shown above
3. A .NET Application using X-Ray SDK.

The ECS Service was accessed like this:
[code]
A lot of there requests were completed fine, and we can see traces in X

[2022-03-10 11:10] mx-psi opened #8372 "[exporter/datadog] Upcoming breaking changes to configuration"
We will be making some breaking changes to the Datadog exporter configuration for improving consistency and usability, including renaming some keys, reducing duplicated functionality and polishing the public Go API. All current end-user functionality will continue to be supported, either within the Datadog exporter or with the help of a suitable processor, language library or Collector option.

Th

[2022-03-10 11:10] mx-psi opened #8373 "[exporter/datadog] Move `Config` structs to main package and reduce API"

[2022-03-10 12:23] syamalaids opened #8374 "Exporting failed: span tag key/value cannot be blank"
**Describe the bug**
I have instrumented my application with open telemetry. Once in a while I get the following error. Puzzling thing is it does not give me a clue which span is causing the issue. Could you guide me how I can find that out or get more details on the error?

I am using TanzuObservabilityExporter.

![image](https://user-images.githubusercontent.com/54188587/157660944-e87b5629-1091-

[2022-03-10 13:32] jpkrohling commented on #8374
cc  @oppegard @thepeterstone @keep94

This message seems to be coming from a dependency of the Tanzu Observability Exporter:

[code]

[2022-03-10 14:50] schmikei opened #8377 "New component: vcenterreceiver"
## The purpose and use-cases of the new component

I'd like to contribute a vcenter server receiver that monitors the different levels of resources and logs. This receiver should be capable of monitoring ESXi hosts, virtual machines, cluster, resource pool, and datacenter levels of metrics. Along with this receiver it should be able to support both SAN and vSAN storage metrics.

Along with this, I

[2022-03-10 16:51] andyzhangdialpad commented on #4968
Thanks for this amazing proposal! @alolita was there any progress on the implementation. We are considering contributing to this. Don't want to reinvent the wheel of course.

[2022-03-10 17:01] dmitryax commented on #7756
@hossain-rayhan sounds good. Do you have a chance to update all the comments?

[2022-03-10 17:56] #7547 closed

[2022-03-10 18:22] dashpole commented on #7546
While trying to implement this, i've realized that there isn't a way to compute the sum from the buckets.  The buckets have the count in each bucket, which is insufficient to produce a sum.  I'll need to make an adjustment to the spec.

[2022-03-10 18:29] dashpole commented on #7546
One other observation is that the current behavior for the prometheus reciever + prometheusremotewrite exporter will add an additional metric for the sum that is always 0, which isn't correct.

[2022-03-10 18:33] thepeterstone commented on #8374
Thanks @syamalaids for the detailed report and @jpkrohling for the triage! I'll get a fix prioritized.

[2022-03-10 18:51] djaglowski commented on #8364
I'll sponsor this.

[2022-03-10 19:39] djaglowski commented on #8370
I would like to sponsor this.

@open-telemetry/collector-contrib-maintainer, any reservations about adding a component that depends on another like this? Technically, the collector already supports the ability to collect whatever metrics this one would, but having them predefined in a turnkey solution is a huge value to users. My understanding is that the collector is [designed to support this](ht

[2022-03-10 19:49] codeboten commented on #8370
I think there's already precedent for this in the collector, for example the `simpleprometheusreceiver` exposes a subset of the `prometheusreceiver`. I think this component would be fine.

[2022-03-10 19:52] AustinWentz commented on #7955
Hi, we are facing a similar issue when exporting with X-Ray. Temporary shared credentials are expired and refreshed, but they are not picked up by the Collector. Restarting the System D service refreshes the credentials, but obviously this is untenable for anyone using short term credentials. The SDK should be doing this automatically. Any updates?

[2022-03-10 20:14] djaglowski commented on #8377
Is there anything special about the syslogs e.g. additional content that can be parsed because we know it is coming from vmware? If not, I don't think this receiver needs to support logs. (syslogreceiver can be used directly)

I'm curious to hear more about that, but if this component were to support logs, I think that instead of using opentelemetry-log-collection, it would be more appropriate to

[2022-03-10 20:53] schmikei commented on #8377
As far as what we've seen in the past for vCenter forwarded logs, not all messages  generally inputted as raw tcp input i.e
[code]

note the leading extra ID (23) prefixed with it which breaks the `rfc5424` format. I can look more into when these show up to see if it is something else configurable with vCenter logs. Definitely something that may need some

As far as what actually will be used, yes

[2022-03-10 21:50] rmfitzpatrick commented on #8347
@mwear thanks for the report and reproducing environment. I think this is likely a duplicate of https://github.com/open-telemetry/opentelemetry-java-contrib/issues/222 and not an issue w/ the jmx receiver as a collector component. Issues w/ the jmx metric gatherer itself should be reported to the java contrib project.

[2022-03-10 21:55] luistilingue commented on #4975
@albertteoh I have a similar issue, but using Prometheus.

spanMetricsProcessor is creating such bucket `le="9.223372036854775e+12"`:

[code]

I guess the code of spanMetricsProcessor need to deal with golang number conversion when using float64.

Please have a look at these lines https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/processor/spanmetricsprocessor/processor.g

[2022-03-10 22:35] djaglowski commented on #8377
I see. You want to receive the logs and, possibly clean them up a bit, and then feed them through the syslog parser. Roughly the same consideration would apply. I think you should use the `tcplog` receiver, rather than using the log-collection library's `tcp_input` directly.

Does vcenter necessarily send logs via tcp though? Could it be udp?

I think the mixed config is messy and should be split

[2022-03-10 22:43] djaglowski commented on #8377
How will integration testing work? It looks like `govmomi` provides a [simulated API](https://github.com/vmware/govmomi/tree/master/vcsim). Can we run that in a container and run meaningful tests against it?

[2022-03-11 03:14] mwear commented on #8347
Thanks for looking at this @rmfitzpatrick. I wasn't sure if the core issue was with the receiver or the metric gatherer. Since it appears to be the latter I'll go ahead and close this.

[2022-03-11 03:14] #8347 closed

[2022-03-11 04:09] ankitnayan commented on #4975
@luistilingue I upgraded to `v0.43.0` and it seems to have been fixed. Which version are you using?

[2022-03-11 06:42] steven-aerts commented on #8271
We are also seeing this for traces send from a java app with aws xray integration to the AWS OTel Collector version: v0.16.1 and v0.17.0.

We have opened an internal support case with AWS (9741719221) where we provide debug traces with examples of traces which which trigger this issue.  So it can easily be reproduced.  The content is just a little too sensitive to put here in the open.  But feel f

[2022-03-11 09:31] jinxin-fu opened #8385 "prometheus receiver scrape kubelet 10250/metrics/cadvisor fail"
otel config as follow
[code]
I have config the kubelet-config to enable anonymous
the error log:
[code]

I can't find more logs to fix the error ,  am I miss some config to scrape kubelet cadvisor metrics by otel receiver

[2022-03-11 09:33] jinxin-fu commented on #8385
by the way, i can get the metrics from my local computer in the same LAN
![image](https://user-images.githubusercontent.com/52962500/157840690-f6459a2d-c048-400c-bcc0-e24a2bd2eb11.png)

[2022-03-11 10:12] luistilingue commented on #4975
@ankitnayan I was using 0.40.0 and I upgraded all my stack (otel collector to 0.46.0, prometheus to 2.33.5, and javaagent to 1.11.1), but the issue still occurs.

[2022-03-11 16:33] codeboten opened #8386 "update receiver/mysql to use NewMetricData"

[2022-03-11 16:42] codeboten opened #8388 "update receiver/zookeeper to use NewMetricData"

[2022-03-11 17:49] #8386 closed

[2022-03-11 18:05] jpkrohling commented on #8385
cc @Aneurysm9 @dashpole

[2022-03-11 18:12] #8388 closed

[2022-03-11 18:26] #7081 closed

[2022-03-11 18:26] #8264 closed

[2022-03-11 19:07] Aneurysm9 commented on #8385
That error is produced when the `up` metric is observed to have a `0` value.  That happens when the scraper is unable to retrieve data from the scrape target.

If that IP is accessible from your local computer it may not be accessible from the pod running the collector.  Are you able to reach it from an `alpine` pod using `curl` or some other mechanism?

[2022-03-11 21:22] jacobmarble commented on #5582
Duplicate of #6506
Fixed in #6530

This issue can be closed.

[2022-03-11 21:46] jacobmarble commented on #7049
The [InfluxDB exporter follows](https://github.com/influxdata/influxdb-observability/blob/14db1a7807e294fd3fea47c084818cdb42f07710/otel2influx/metrics_telegraf_prometheus_v2.go#L186-L189) the [OTLP protocol description](https://github.com/open-telemetry/opentelemetry-proto/blob/main/opentelemetry/proto/metrics/v1/metrics.proto#L464-L471):

[code]

The OTel [Metrics Data Model doc](https://github.c

[2022-03-11 21:50] jacobmarble commented on #7049
Or, @yok789456 can you provide some kind of dump of this Histogram metric? Perhaps via `loggingexporter`?

[2022-03-11 23:46] geoffreytran opened #8390 "[receivers/syslog] Support RFC6587 for message framing"
**Is your feature request related to a problem? Please describe.**

When using TCP, messages can be framed in a variety of ways. Historically, servers have accepted messages terminated with a newline, carriage return, newline and carriage return, or nul. More fully-featured syslog servers also support a more transparent framing method, where each message is prefixed with its length. This 'octet-co

[2022-03-12 02:45] oppegard commented on #8374
@syamalaids we're going to improve the error message, but also check if there are empty span tags and drop them, so that the rest of the span can be exported to Wavefront.

In the meantime, I see you've enabled the Collector's logging exporter with debug level. You can search for `STRING()` in the log output and identify which span attributes/tags are empty. Once you've done that, you can use the

[2022-03-12 19:37] shree007 commented on #8273
@jpkrohling Please assign me, I may work on it.

[2022-03-12 19:41] shree007 commented on #8267
@dmitryax I am willing to look into it.

[2022-03-12 22:50] dmitryax commented on #8267
@shree007 thanks. It just needs two lines to be corrected and tests written to validate the fix

[2022-03-12 23:13] jsirianni opened #10278 "[pkg/stanza] Logger uses wrong case for severity"
While running the contrib collector against a local build of log-collection, I noticed that the log-collection logger uses `info` while the logging exporter is using INFO.
[code]

Not a big deal, but it does look funny when both are logging next too each other.

[2022-03-13 08:35] shree007 commented on #8267
Ok, I will have a look into it.
Thanks

On Sun, 13 Mar, 2022, 4:21 am Dmitrii Anoshin, ***@***.***>
wrote:

[2022-03-13 15:48] cyrille-leclerc commented on #7416
Hello @goto1134 . Elastic v8.0 offers native support for OpenTelemetry logs on the Elastic OTLP intake.

**Would this solve your problem?**

The architecture would be:
[code]

More details on the Elastic native support for OpenTelemetry on https://www.elastic.co/guide/en/apm/guide/current/open-telemetry.html

[2022-03-13 18:30] #7308 closed

[2022-03-13 19:27] pmm-sumo opened #8393 "[processor/attributes] Metric tests are broken"
**Describe the bug**
[generateMetricData](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/processor/attributesprocessor/attributes_metric_test.go#L52) function does not generate actual data points. When it is fixed to generate some data points, the tests fail

**What version did you use?**
The bug was introduced in [#8111](https://github.com/open-telemetry/opentelemetry

[2022-03-14 01:03] axw commented on #8059
Apologies for the delay in responding, I've been away from my computer for the past couple of weeks.

@object can you please try with the OTLP exporter, sending directly to Elastic APM Server? See https://www.elastic.co/guide/en/apm/guide/current/open-telemetry.html for example opentelemetry-collector config.

If that doesn't help, please use the opentelemetry-collector logging exporter to dump th

[2022-03-14 02:14] jinxin-fu commented on #8385
I have  running a busybox pod
![image](https://user-images.githubusercontent.com/52962500/158093072-555305b5-a576-4f75-93ae-54093f1213c0.png)
And I can get the metrics data in the pod
![image](https://user-images.githubusercontent.com/52962500/158093244-77ae859f-c549-4afa-a3db-3d896cb028a1.png)

[2022-03-14 02:20] jinxin-fu commented on #8385
I Start a nginx pod to test, I shows the metrics data can be scrape in the nginx pod
![image](https://user-images.githubusercontent.com/52962500/158093708-253a197e-3fd3-4d62-933c-6bbbb55feed7.png)

[2022-03-14 03:52] anuraaga opened #8394 "Reenable codecov integration"
Lately I've seen a couple of bug fixes of obvious code issues like #8392.

A while ago codecov was disabled in this repository in light of its security incident but I think it is appropriate to reenable it as the CI has been migrated to GHA which has a lower vulnerability surface than Circle did (the step will only have secrets passed explicitly). Or even more strict would be to only enable for PR

[2022-03-14 06:00] newly12 commented on #4309
I have a similar use case that requires such feature, any progress has been made on the implementation so far?

[2022-03-14 08:56] object commented on #8059
@axw You suggest sending traces directly to Elastic APM Server. But am I not doing it already?

Here's the part of my .NET app setup for OpenTelemetry:

[code]

Isn't this equivalent to what's described in a document you refer to? If not, can you please give me a hint of how I should change it?

[2022-03-14 09:22] axw commented on #8059
@object ah sorry, it is indeed. I wrongly assumed from the description that you were using opentelemetry-collector-contrib with the elastic exporter. In that case, if you can send to opentelemetry-collector using the logging exporter, that would be most helpful.

[2022-03-14 09:28] object commented on #8059
Alright, then I will send you more traces today.

[2022-03-14 10:03] goto1134 commented on #7416
Hello!

The format I am looking for is a json
[code]

with the ability to add custom fields at any level of this object. We use [logback-logstash-encoder](https://github.com/logfellow/logstash-logback-encoder) to use this json log format.

[2022-03-14 10:07] goto1134 commented on #7416
@cyrille-leclerc , as for the possible integration, we are using a third-party proprietary logging system, that supports only the mentioned logstash format, and the only way to send the logs there is via Kafka.

[2022-03-14 11:03] object commented on #8059
@axw I just tried to generate more traces, same problem as before. I had to extend my trial (didn't use organizational ES account) so my deployment URL is now https://f340d99a3a0c44cfa164be5628e051b5.apm.us-central1.gcp.cloud.es.io:443.

When I look at spans sent to Honeycomb I see that all spans are included in a single transaction. In Elastic APM I get one transaction per service.

In case you n

[2022-03-14 11:12] object commented on #8059
Hmm, actually it's more complicated than that. When look at transactions at OTel_WebApp (which is Web service in the middle, between OTel_WebClient and OTel_QueueConsumer), I can see that individual transactions includes both spans from OTel_WebApp and OTel_QueueConsumer (but no OTel_WebClient). But if I choose Service Map tab, I get a map of not connected 3 services, and if I choose either of the

[2022-03-14 12:26] mx-psi opened #8396 "[exporter/datadog] Remove builtin support for environment variable detection"
### What will change?

The Datadog exporter currently detects some `DD_` prefixed environment variables and sets the value of some configuration settings from its value automatically. For example, if you set your API key on the `DD_API_KEY` environment variable, the exporter will use it automatically.

To be consistent with the rest of Collectors components, support for this automatic detection is

[2022-03-14 14:30] #5582 closed

[2022-03-14 14:31] jpkrohling commented on #8390
cc @djaglowski

[2022-03-14 15:00] StefanKurek opened #8398 "New component: SQL Server Receiver"
## The purpose and use-cases of the new component
The SQL Server Metric Receiver would pull KPI stats from windows performance counters using the `windowsperfcountersreceiver` as a base to build off of.

Targeted versions would be Microsoft SQL Server 2012+ as this is the oldest version with any support [EOL](https://www.mssqltips.com/sqlservertutorial/9217/sql-server-release-dates-and-lifecycle/)

[2022-03-14 15:19] #6632 closed

[2022-03-14 15:21] codeboten opened #8399 "update receiver/rabbitmq to use NewMetricData"

[2022-03-14 15:36] codeboten commented on #8398
Thanks for proposing the new component @StefanKurek! I haven't interacted with SQL server in some time, so apologies if my questions are naive.

Are there any metrics that would not be available through the windows performance counters and would require connecting to the SQL server directly? What would the configuration on the SQL server look like for users?

It looks like the [telegraf plugin](ht

[2022-03-14 16:42] StefanKurek commented on #8398
@codeboten Hello. Those are good questions for sure. Most of the commonly used metrics are available in the windows performance counters (which matches up more or less with the sys.dm_os_performance_counters view of SQL Server). There are other metrics that can be collected through the querying of different views or stored procedures. And yes, to collect them would require a different set of confi

[2022-03-14 16:47] mwear commented on #8349
After looking into this further there are two solutions that I see (and there may be others).

**Background**

The [kafkametricsreceiver](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/kafkametricsreceiver) defines three scrapers ([broker scraper](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/kafkametricsreceiver/broker_s

[2022-03-14 17:09] #8399 closed

[2022-03-14 17:14] djaglowski commented on #8398
I'd like to sponsor this.

Direction connection can provide more information, but this approach does provide a lot of value for very little effort on the user's part.

I agree w/ @StefanKurek that direct connection functionality could be added later too. The main challenge there could be in managing overlap between metrics, if querying `sys.dm_os_performance_counters` gives slightly different valu

[2022-03-14 17:17] djaglowski commented on #8390
This makes sense to me. We should aim to eventually support all common use cases for syslog.

I don't anticipate that I'll have time to work on this in the near future, but I'm happy to review a PR. Presumably, [log-collection's syslog_input operator](https://github.com/open-telemetry/opentelemetry-log-collection/blob/main/operator/input/syslog/syslog.go) would need enhancement, to provide special

[2022-03-14 18:45] megelatim opened #8460 "New component - Google SAP Metrics Receiver"
## The purpose and use-cases of the new component
Google SAP Metrics Receiver (googlesapreceiver) reads configuration data and SAP application states from [Google Compute Engine](https://cloud.google.com/compute) VMs.  This receiver will enable metrics that will give greater visibility of SAP workloads on Google Cloud.

This receiver will make use of the [Compute Engine API](https://cloud.google.c

[2022-03-14 21:10] jacobmarble commented on #7049
I don't have a sample of the offending input, but it looks like many other exporters simply allow the infinity bucket to be missing. The Prometheus exporter is one of these. I also confirmed that this exporter's two schemas (both of them follow Prometheus exposition/text convention) do not make use of the infinity bucket, so it is possible (and likely) that @yok789456 's input simply does not emit

[2022-03-14 22:23] TylerHelmuth commented on #8242
What would happen if someone added a string in the attributes section that doesn't make sense for the detector type?  For example, if the detector is only `system` but attributes includes `cloud.region`?

[2022-03-15 02:25] axw commented on #8059
What I need is a dump of the OTLP payload, using https://github.com/open-telemetry/opentelemetry-collector/blob/main/exporter/loggingexporter/README.md

I can probably do it myself some time, but may not get to it for some time. If you're able to, that will speed things up.

[2022-03-15 04:49] qgervacio opened #8463 "awscontainerinsightreceiver using Opentelemetry Operator returns "failed to initialize NodeCapacity""
**Describe the bug**
Using the receiver `awscontainerinsightreceiver` using Opentelemetry Operator returns `failed to initialize NodeCapacity`

**Steps to reproduce**
I'm using a basic operator crd setup as discussed in `https://github.com/open-telemetry/opentelemetry-operator` configured to use `open-telemetry/opentelemetry-operator/opentelemetry-operator:v0.45.0 `

The collector is configured li

[2022-03-15 06:42] bochengC opened #8464 "opentelemetry-collector-contrib/exporter/googlecloudexporter/README misleading"
**Describe the bug**
googlecloudexporter turtorial error

**Steps to reproduce**
I finish every steps in [readme](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/googlecloudexporter), and make a request to my application. It shows `SEVERE [io.ope.exp.otl.int.grp.DefaultGrpcExporter] (grpc-default-executor-18) Failed to export spans. Server is UNAVAILABLE. Make

[2022-03-15 06:52] jinxin-fu commented on #8385
This is the running stack：
[code]

[2022-03-15 07:05] bochengC commented on #8464
And using the enpoint:  0.0.0.0:4317

[2022-03-15 07:47] syamalaids commented on #8374
@oppegard  Thank you I was able to find the culprit by searching for STRING(). I no longer see this error.

[2022-03-15 07:48] sumo-drosiek commented on #4309
@newly12
I recreated PR with my proposed solution, which is to allow to use multiple attributes in order to enrich and store metadata

[2022-03-15 07:57] #7524 closed

[2022-03-15 08:06] rahulbandariSensei opened #8466 "New component: Add Apache Druid Metric Receiver"
## The purpose and use-cases of the new component
Apache Druid Receiver(`apachedruid`) listens on for the metrics emitted by the apache druid endpoint as mentioned in [metrics page](https://druid.apache.org/docs/latest/operations/metrics.html) and generates all the metrics related to different sub-components of a druid cluster.
## Example configuration for the component

[code]

## Telemetry data

[2022-03-15 09:38] goto1134 commented on #7416
Yes, of course, but the provider does not plan to implement this.

[2022-03-15 10:41] gouthamve commented on #8355
Hi, I am working on this issue. Just to make sure there are not others working on it as well :)

[2022-03-15 12:41] ofirshmuel commented on #7931
Hi @jpkrohling , we are investigating this issue.

[2022-03-15 13:15] #8352 closed

[2022-03-15 13:18] jpkrohling commented on #8463
cc @Aneurysm9 @pxaws

[2022-03-15 14:28] gouthamve commented on #5757
I've run into this while trying to test my fix for https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/8355 and sent an upstream PR: https://github.com/prometheus/prometheus/pull/10450

If the upstream PR is merged it should remove a lot of complexity from the collector codebase :)

[2022-03-15 15:59] mx-psi opened #8489 "[exporter/datadog] Rename `metrics::send_monotonic_counter` to `metrics::sums::cumulative_monotonic_mode`"
### What will change?

The `metrics::send_monotonic_counter` setting from the Datadog exporter will be renamed to `metrics::sums::cumulative_monotonic_mode`, which will hold an enum. The setting name was taken from the Datadog OpenMetrics integration, but its meaning is confusing and it's not in a dedicated section for the metric name.

### Who is affected?

You are affected if you explicitly set

[2022-03-15 16:23] TylerHelmuth commented on #8242
So in my `cloud.region` example, would the fact that cloud.region exist in the list be ignored in the filter process and what would the result be?  If `cloud.region` is the only attribute configured, should the result be no attributes get added, effectively configuring the processor into uselessness, or should we go back to using the full default list?

And if the list includes both a valid and in

[2022-03-15 16:25] object commented on #8059
@axw I couldn't use the LoggingExporter with my samples because it's writting in Go and I couldn't set up my .NET applications to use it. However I made another attempt using .NET Console exporter and it does seem to do the job. I am able to trace spans across all 3 applications.

For example:

First app: WebClient

Activity.Id:          00-45afddb76e661b54c8ec735e1d3bb8fd-eae67457154988ba-01
Acti

[2022-03-15 17:11] #8351 closed

[2022-03-15 17:48] Aneurysm9 commented on #8385
I see that you are using `curl -k` to query these metrics.  Does the target not have a TLS cert that is accepted by the scraper?  If so, you may need to provide appropriate TLS configuration to the scrape manager through the `scrape_configs`.

[2022-03-15 20:39] Aneurysm9 commented on #8242
I would view the list of attributes as an allowlist.  The user is indicating that the will accept only these attributes and that all others should be rejected.  Alternately, it could be made more flexible by having inclusion/exclusion lists:

[code]

The exclusion here would be redundant since inclusion should take precedence and any attributes not explicitly included should be excluded, but I inc

[2022-03-15 20:56] TylerHelmuth commented on #8242
Ok, treating it as an allowlist seems simple enough.  I will move forward with that approach. I do like the idea of validating the allowlist to help stop customers from hurting themselves by listing invalid attributes, but maybe thats a future enhancement.

[2022-03-15 22:13] jmcarp commented on #2835
Is the idea that the stub parquet exporter in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6903 would eventually learn more formats and destinations, as in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6903#discussion_r805486291? Or would it be simpler to have one exporter to export text files to disk, another to export parquet files to disk, anot

[2022-03-16 00:15] gracewehner opened #8492 "[prometheusreceiver] Staleness Markers for histogram buckets and summary quantiles"
**Describe the bug**
Querying the histogram buckets or summary quantiles for a metric displays incorrectly due to those samples not having the stale NaNs set as their value. For example `<histogram_name>_bucket` displays the same value for 5 minutes instead of cutting off when stale whereas `<histrogram_name>_sum` and `<histogram_name>_count` (and the +Inf bucket) display correctly. The 5 minutes

[2022-03-16 00:18] dashpole commented on #7546
Good news.  Once we update the opentelemetry-proto to include https://github.com/open-telemetry/opentelemetry-proto/pull/366 (should be in 0.15.0, once it is released), we will be able to leave the field unset, which will fix the extra _sum metric described above.

[2022-03-16 01:06] jinxin-fu commented on #8385
thanks ,I have solved this problem yesterday,  the scrape_config need to be add tls config to skip  verify:
[code]

[2022-03-16 01:14] Aneurysm9 commented on #8492
I don't believe that we can set the stale `NaN` value for bucket counts as those are `int64` values that cannot hold a `NaN`.  The same applies to the `count` field.  It ends up treated as a very large integer value, which is probably even worse than the receiving end carrying the last known value.

Would it work to set just the bucket bounds but no values?  Summary quantile values might be more p

[2022-03-16 01:39] #8385 closed

[2022-03-16 04:23] qgervacio commented on #8463
Hi team, i think i may have found it. the non-operator model im currently using have these...

[code]

[2022-03-16 05:36] MovieStoreGuy commented on #7416
Hey @goto1134 ,

Would a custom worker that just translates from otlp to the elastic json format from one topic to another?
(There is a risk that it would at least double the number of bytes stored within the kafka cluster).

[2022-03-16 06:17] MovieStoreGuy commented on #7416
Alright, here is my thoughts on what has been said so far.

A vendor specific encoding goes against the spirit of open telemetry trying to develop an ecosystem of adopting non vendor specific standard; any currently open components should only adopt open standards that multiple vendors / platforms can consume from.

Having said this, extending the open to be optimised for the vendor specific platf

[2022-03-16 06:33] suddendust commented on #7291
@jpkrohling Any update on this? Thanks!

[2022-03-16 11:03] mx-psi commented on #8489
After internal discussion, we have decided to rename to `cumulative_monotonic_mode` instead of `mode` to be explicit. I have updated the name and description accordingly

[2022-03-16 12:11] jpkrohling commented on #8495
Done!

[2022-03-16 12:23] jkowall commented on #7416
@goto1134  Can we call out the provider so others can apply pressure for them to evolve their thinking? I am happy to speak to them and explain why this important.

[2022-03-16 12:42] jpkrohling commented on #8463
I'll transfer this to the operator repo

[2022-03-16 12:52] jpkrohling commented on #7416
Just throwing ideas around: how about having someting similar to the auth extensions, where encoders are extensions and this exporter would then hold a reference to the encoder to use? This way, we can ship with open standards, while people can build their own distributions embedding their vendor-specific ~~lock-in~~ encoder if they want.

[2022-03-16 13:19] pmm-sumo commented on #7291
@jpkrohling sure thing, will start with an attempt to replicate it first

[2022-03-16 16:28] dashpole opened #8516 "[prometheusreceiver] Convert Info and StateSet metrics to non-monotonic sums"
As described in the prometheus specification after https://github.com/open-telemetry/opentelemetry-specification/pull/2380, we should convert Info and StateSet metrics to non-monotonic sums instead of dropping them.

[2022-03-16 17:14] #8464 closed

[2022-03-16 18:39] damemi opened #8517 "Various panics when running filelogreceiver in container"
**Describe the bug**
When trying to run a collector configured to use the filelogreceiver, it fails with varying panics that all seem centered around calls to [`connectNodes()`](https://github.com/open-telemetry/opentelemetry-log-collection/blob/cf3f22b0248816f694a2b6d99ea875ba1b63f6f9/pipeline/directed.go#L124-L143) from https://github.com/open-telemetry/opentelemetry-log-collection.

I know this

[2022-03-16 18:39] damemi commented on #8517
/cc @dashpole @djaglowski

[2022-03-16 19:04] djaglowski commented on #8517
Thanks for capturing this. Looking into it.

[2022-03-16 19:28] djaglowski commented on #8517
I suspect it is due to [this bug](https://github.com/gonum/gonum/issues/1775) in `gonum/graph`, which apparently has appeared in go 1.18.

Are you using 1.18 by chance?

[2022-03-16 20:04] djaglowski commented on #8517
The fix appears to have been rolled out in a [release](https://github.com/gonum/gonum/releases/tag/v0.11.0) just hours ago.

[2022-03-16 22:32] TylerHelmuth commented on #8242
Should have a PR for this tomorrow.

[2022-03-16 22:52] MovieStoreGuy commented on #7416
This would be a cool idea, also if we can add in compression as well since that is kinda tossed around a lot in each repo.
I can at least speak for the kafka, kinesis exporters, were we'd really only need to something like:

[code]
(Don't mind me practicing my go 1.18, we'll get there.)

It could just exist as a package that those exporter who can emit any encoding, can use. I don't even think it

[2022-03-17 03:02] anuraaga opened #8541 "Replace usage of dependabot with go get"
Go has built in support for updating `go.mod` files in a reasonable way so there doesn't seem to be that much value in dependabot. Since dependabot generates a single PR per dependency update, it spams notifications for everyone that watches this repository, a problem for maintainers and external contributors alike. It seems like it should be simple enough to remove dependabot and run `go get` jus

[2022-03-17 09:08] hashemmm96 opened #8542 "[receiver/dockerstatsreceiver] Exported metrics are not labeled with configured labels"
**Describe the bug**
`dockerstatsreceiver` doesn't add labels from `container_labels_to_metric_labels` and `env_vars_to_metric_labels` config options to exported metrics.

**Steps to reproduce**
1. Modify otelcontribcol docker image (`cmd/otelcontribcol/Dockerfile`) to use USER_UID=0.
2. `make docker-otelcontribcol`
3. `export OTELCOL_IMG=otelcontribcol`
4. Run docker-compose in `examples/demo` bu

[2022-03-17 09:39] #8517 closed

[2022-03-17 09:40] #7049 closed

[2022-03-17 11:36] mx-psi opened #8544 "[CI] Build on 386 architecture"
We don't build on 386 architecture on CI, but we do release 386 binaries for this distro. This means that if there is an issue like https://github.com/open-telemetry/opentelemetry-collector/issues/5013#issuecomment-1070762107, we don't detect it until potentially the very last step of the release.

We can add builds for Windows 386 and Linux 386 to CI on this repository to catch these build errors

[2022-03-17 12:24] pmm-sumo commented on #8542
As discussed in the PR, I think this is not the right solution to the problem. `dockerstats` receiver already puts the attributes at the [resource](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/dockerstatsreceiver/metrics.go#L49) level.

I don't know [prometheus exporter](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/pro

[2022-03-17 12:29] hashemmm96 commented on #8542
Thanks a lot for the help, there was much confusion on my part. I will close the PR as well.

[2022-03-17 12:29] #8542 closed

[2022-03-17 12:50] mx-psi opened #8546 "[CI] Check consistent version usage of core collector dependencies"
A common issue (e.g. most recently found on the v0.47.0 release cycle) is for individual components that are not yet added to the main build to require a Collector version lower than the one on the main `go.mod` file. This makes it more difficult to bump the Collector version since, when we do that, it uncovers hidden issues.

We can build a small Go tool using the [modfile](https://pkg.go.dev/gol

[2022-03-17 14:45] mx-psi commented on #8541
How would `go get` be run? A periodic Github Action?

[2022-03-17 17:27] jpkrohling commented on #7416
Extensions can be queried when the component is being built, as they are part of the `component.Host`. Otherwise, we'd need a global registry, which doesn't work well in cases where the collector can be embedded into other binaries.

[2022-03-17 17:35] jpkrohling commented on #8541
Just to make it clear: you are suggesting to remove dependabot only for the management of Go dependencies, right? I agree that dependabot doesn't help us in its current state. What I do like about it though is that it comes with the changelog for each change, so that we can how risky a specific change is.

I'd be interested in seeing how it works on a daily basis. Judging from my experience in oth

[2022-03-17 22:54] MovieStoreGuy commented on #8495
Love your work @jpkrohling <3

[2022-03-17 23:45] anuraaga commented on #8541
I was thinking there would be a script that is run manually by the releaser before releasing

Yeah only for Go dependencies, not GHA. The note about getting the release notes conveniently is definitely a good point, but the dependabot notifications are quite a drag. If those came daily, even if it's smaller volume per day it'd still be pretty distracting at least for me...

[2022-03-18 02:05] MovieStoreGuy commented on #7416
That would be a fun project to add in the collector, and remove potentially a lot of duplicated code I imagine.

Worth separating out into a different issue @jpkrohling ?

[2022-03-18 02:51] jinxin-fu commented on #8385
Thanks for reminding, at this stage, we just verify some feasibility and will fix the tls configure in the future.

[2022-03-18 13:09] jpkrohling commented on #8541
We are trying to go the other direction, leaving as few things as possible to resolve during the release time. We definitely want to sort out dependency problems before we start a release. (cc @mx-psi and @codeboten).

For some reason, I think Go workspaces might somehow become the answer to our problems, as a bump in a dependency that is being used by 10 modules will cause 10 PRs, when it could v

[2022-03-18 13:10] jpkrohling commented on #7416
If you want to work on that, do prepare a design doc and circulate it among the approvers/maintainers. It's not the first time we thought about this, but I think we just didn't have enough engineering power to pursue it.

[2022-03-18 18:02] #7533 closed

[2022-03-18 19:28] TylerHelmuth commented on #8188
I'd like to take a shot at this.

[2022-03-18 19:32] TylerHelmuth commented on #8188
It looks like the disk scraper only allows strict and regex match.  The proposal for processes also includes wildcard.  Are you saying we should drop the wildcard requirement?  I do like the idea of using `include` and `exclude` like the other scrapers.

[2022-03-18 19:41] dmitryax commented on #8188
I believe our standard include/exclude configuration allow using regex matching. We should use that instead of wildcards

[2022-03-18 19:57] TylerHelmuth commented on #8188
The filesystem scraper separates its different includes/excludes into different config sections.  Should we have an include/exclude for each of pid, executable_name, executable_path, command, command_line, and owner?

Also, I believe the disk scraper gives precedence to excludes, meaning that if both an include rule and exclude rule match the same device the device is excluded.  Should we keep tha

[2022-03-18 20:17] chris-pinola-rf opened #8551 "Enable attributesprocessor to delete dynamically named attributes"
**Is your feature request related to a problem? Please describe.**
There are several applications at my organization that encode epoch timestamps into attribute names (e.g. `started_at_1647633980`). This causes our downstream trace storage system to need to ingest hundreds-of-thousands of different attribute dimensions which is causing serious performance issues. Patching this problematic behavior

[2022-03-18 20:51] codeboten opened #8553 "Update branch protection"
As per the description in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/8550:

Assigning @bogdandrutu as I don't know if any other maintainers have access to update branch protection.

[2022-03-18 21:39] dmitryax commented on #8188
We should pick the ones that have less overlap.

@davidmirza408 we are going to introduce filtering by attribute name for consistency with other scrapers. I don't think we need filters for all of them since most of them are overlaping. Let us know which attribute you want to filter by to solve your problem.

I think adding a filter for the following attributes should be enough:
- `process.command_

[2022-03-18 22:56] aunshc commented on #8252
The use case is to perform actions like insert, update, delete listed for the attributesprocessor https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/attributesprocessor for all attributes within a namespace. Would that be in the scope of this processor?

[2022-03-18 22:57] aunshc commented on #8252
@anuraaga The use case is to perform actions like insert, update, delete listed for the attributesprocessor https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/attributesprocessor for all attributes within a namespace with wildcards (eg.`db.*, http.*`). Would that be in the scope of this processor?

[2022-03-19 04:10] sakthiraam opened #8554 "Unknown extensions type "jaegerremotesampling""
**Describe the bug**
I'm using the latest version of otel collector contrib and getting Unknown extensions type "jaegerremotesampling"

**Steps to reproduce**
run the otel collector contrib executable with the below yaml configuration.

**What did you expect to see?**
otel collector to start with jaegerremotesampling extension listening of gRPC and http port number defined in the config

**What di

[2022-03-20 13:00] omamoo opened #8556 "[exporter/datadog] Doesn't Exports AggregationTemporality.Cumulative Metrics to Backend"
**Describe the bug**
While configuring the Open Telemetry metrics at Asp.Net web (based on .NET6 )application as above:
[code]

The metrics are been collected by open telemetry exporter and sent to the open telemetry collector. **But** only the first's metrics measurement are been sent to datadog backend, and the following measurements does not sent to datadog backend.

**However**:
 when configur

[2022-03-20 15:02] DiptoChakrabarty commented on #7837
Hi @dashpole @jpkrohling @codeboten if its fine can I make the required changes and push a PR

[2022-03-20 21:45] chalin opened #8558 "Add link to opentelemetry.io under About section"
Under the **About** section of this repo (which you can access from the main repo page -- click the gear icon next to the About title):

- Under **Website**, add https://opentelemetry.io

We're looking to do this uniformly for all OTel org repos.

For example:

[2022-03-21 08:57] mihneastaub commented on #7938
Hi @willarmiros ,

Any update on this issue?

[2022-03-21 11:15] luistilingue commented on #2838
I think it is related to that issue as well. https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/4975

[2022-03-21 11:30] bogdandrutu commented on #8558
Done.

[2022-03-21 11:30] #8558 closed

[2022-03-21 11:50] jpkrohling commented on #8554
The Jaeger Remote Sampling extension isn't functional yet, and because of that, it hasn't been added to the distribution. See #6510 to keep an eye on the progress.

[2022-03-21 11:50] #8554 closed

[2022-03-21 11:51] mx-psi commented on #8541
Agree that we want to automate as much as possible, although right now the role of Dependabot is more as a 'notify when updates are available' than a true automation, because it doesn't work well with multiple Go modules.

This is getting off-track but: one simple way of reducing spam is to bump to aws-sdk-go-v2, since v1 releases updates at an absurdly high frequency (several per week). About ~40

[2022-03-21 12:02] mx-psi commented on #8556
Hi @omamoo, thanks for your issue.

As described in [the official documentation](https://docs.datadoghq.com/metrics/otlp/?tab=sum), cumulative types are supported, and the behavior is to calculate the delta between points and report the difference. Note that **the first point for cumulative metrics is not currently reported**, to avoid spikes on the backend.

You should see the same values as with

[2022-03-21 12:13] jpkrohling commented on #7837
Sure, go ahead.

[2022-03-21 12:20] jpkrohling commented on #8541
I believe @codeboten has a script to open a PR with all the currently available updates. Perhaps we can have that script be executed as a scheduled action here, once or twice a week?

[2022-03-21 12:37] omamoo commented on #8556
@mx-psi
I'll configure logging exporter on debug level, and will paste here the data points. However I'll do it ASAP (currently AFK).

Thanks.

[2022-03-21 13:44] hanjm opened #8560 "[processor/attributes] add metrics process self metrics"
**Is your feature request related to a problem? Please describe.**

The `attributesprocessor` and `resourceprocessor` are very useful to operator telemetry attributes, it seems no self metrics currently, like how many spans delete/update attributes are affected.

**Describe the solution you'd like**
Add some self metrics.
**Describe alternatives you've considered**

**Additional context**
Add any

[2022-03-21 13:51] jpkrohling commented on #8560
There are some prerequisites for this. See https://github.com/open-telemetry/opentelemetry-collector/issues/4198

[2022-03-21 14:43] #7954 closed

[2022-03-21 15:19] damemi commented on #8517
Update -- works now, thanks again for the quick fix

[2022-03-21 16:17] willarmiros commented on #7938
Hi @mihneastaub, sorry for not getting back this completely slipped my mind. It seems the problem is that because you are using `opencensus` to instrument your code, it is producing traces with fully randomized trace IDs. Unfortunately this makes the traces incompatible with the X-Ray backend, because the X-Ray trace IDs expect are expected to contain a hex timestamp as part of them. We are workin

[2022-03-21 17:37] davidmirza408 commented on #8188
@dmitryax I think it would also be helpful to filter by process owner and PID.  I have an implementation that I am working on here https://github.com/davidmirza408/opentelemetry-collector-contrib/pull/1

[2022-03-21 17:40] davidmirza408 commented on #8188
Upon further thought I think we should drop the wildcard as well.

[2022-03-21 17:48] simitt commented on #8059
@object would you mind also sharing the documents that end up in Elasticsearch for these transactions? As you mentioned, the `id` / `parent.id` connection looks right, therefore I'd like to take a look at the discrepancy after indexing into Elasticsearch.

[2022-03-21 20:12] TylerHelmuth commented on #8188
@dmitryax since @davidmirza408 is working on an implementation can you assign him to this issue?  I'll work on something else.

[2022-03-21 20:31] TylerHelmuth commented on #5877
I'd like to take a look at this issue.  @open-telemetry/collector-contrib-approvers what is the appetite for removing the metric name configuration entirely vs regex support?

[2022-03-21 21:33] dmitryax commented on #8188
Sounds good. reassigned

[2022-03-22 03:17] tbthanh90 commented on #7250
I am facing the same issue too, do we have plan to fix it soon ? Thanks

[2022-03-22 04:17] anuraaga commented on #8541
We recently tried aws-sdk-go-v2 in the prometheus remote write auth extension and it seems to work well and better than v1, it is appropriate to upgrade modules now I think.

That being said, I don't think this would be a solution to the dependabot spam as there are other global dependencies (e.g. testify) and there will be more components / dependencies over time, this is a problem that can only

[2022-03-22 04:21] anuraaga commented on #8541
Oops just realized I have absolutely no way to opt out of the spam - dependabot will assign me based on CODEOWNERS! At least it will be fewer items but it's definitely unfortunate to have this little control over my feed...

[2022-03-22 07:15] transadm312 opened #8779 "Authenticator - Sigv4 - unknown extensions type - release-0.47.0"
**Describe the bug**
unknown extensions type "sigv4auth" for "sigv4auth"

**Steps to reproduce**

**What did you expect to see?**
OTEL to export prom metrics to AWS

**What did you see instead?**

[code]
**What version did you use?**
v0.47.0

**What config did you use?**
[code]

**Environment**
EKS

**Additional context**
Add any other context about the problem here.

[2022-03-22 07:51] sumo-drosiek opened #10277 "[pkg/stanza] helper/multiline: add "integration" tests"
Multiline helper started to be logically complicated and it would be nice to have tests which helps to understand usecase with force flushing logs.

This comes from the open-telemetry/opentelemetry-log-collection#434

[link to comment](https://github.com/open-telemetry/opentelemetry-log-collection/pull/434#pullrequestreview-916099415)

How unit tests work now ([link to comment](https://github.com/

[2022-03-22 12:16] mx-psi opened #8781 "[exporter/datadog] Remove `service` setting"
### What will change?

The `service` setting from the Datadog exporter will be removed in favor of using the [`service.name` semantic convention](https://github.com/open-telemetry/opentelemetry-specification/tree/v1.9.0/specification/resource/semantic_conventions#service), which is a required convention.

### Who is affected?

You are affected if you use the `service` setting from the exporter. If

[2022-03-22 12:19] mx-psi opened #8783 "[exporter/datadog] Remove `version` setting"
### What will change?

The `version` setting from the Datadog exporter will be removed in favor of using the [`service.version` semantic convention](https://github.com/open-telemetry/opentelemetry-specification/tree/v1.9.0/specification/resource/semantic_conventions#service).

### Who is affected?

You are affected if you use the `version` setting from the exporter. If you are affected, a warning

[2022-03-22 12:42] jpkrohling commented on #5877
I'll defer to @bogdandrutu and @codeboten, but just make sure that if we decide to change this, we do in stages, so that current users of this processor have a chance of migrating without being caught by surprise.

[2022-03-22 12:56] jpkrohling commented on #8541
I hear you. I gave up on trying to fine-tune my notifications for the core and contrib repositories :-(

That said, I do think @codeboten's script would be a good temporary replacement for dependabot.

[2022-03-22 12:59] jpkrohling commented on #8779
This extension didn't make it for v0.47.0, but should be available starting from v0.48.0.

https://github.com/open-telemetry/opentelemetry-collector-releases/blob/fe8f76161c06c42d62024cd3b512bfe14d3a7fd1/distributions/otelcol-contrib/manifest.yaml#L9-L27

[2022-03-22 12:59] #8779 closed

[2022-03-22 13:01] dharmaplay opened #8785 "Error: failed to get config: cannot unmarshal the configuration: unknown exporters type "googlecloudpubsub""
**Describe the bug**
When I am using the GCP pubsub as exporter, I am getting ` Error: failed to get config: cannot unmarshal the configuration: unknown exporters type "googlecloudpubsub" for "googlecloudpubsub/test" (valid values: [clickhouse coralogix otlphttp sapm awsemf azuremonitor jaeger awsprometheusremotewrite elastic logging newrelic opencensus signalfx dynatrace carbon jaeger_thrift logz

[2022-03-22 14:19] dharmaplay opened #8786 "Error: failed to get config: cannot unmarshal the configuration: unknown exporters type "googlecloudpubsub" for "googlecloudpubsub/test""
Hi Team,
When I configure to send the telemetry data to googlecloudpubsub as per the documentation provided by https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/googlecloudpubsubexporter) , I am getting below error

`
Error: failed to get config: cannot unmarshal the configuration: unknown exporters type "googlecloudpubsub" for "googlecloudpubsub/test" (valid val

[2022-03-22 15:36] omamoo commented on #8556
@mx-psi
I'll describe the code, configuration and tests I did including pictures. Hope it will be informative enough..

Let's start with the OpenTelemetryConfiguration at the Web application:
[code]

Open Telemetry Collector Config file:
[code]

The code which suppose to generate the measurements:
[code]

Well, the fuction GenerateReportAsync is called via API end-point which I executing with Curl

[2022-03-22 15:37] politician opened #8787 "[Docker build] Tag "latest" is not up to date"
**Describe the bug**

The tag "latest" does not correspond to the latest version
https://hub.docker.com/r/otel/opentelemetry-collector-contrib/tags

cc @bogdandrutu because I see you are the one pushing the other tags on Docker Hub

[2022-03-22 16:41] djaglowski opened #10276 "[pkg/stanza] csv_parser: "header_attribute" should be replaced with "header_field""
The [header_attribute](https://github.com/open-telemetry/opentelemetry-log-collection/blob/6bc7c94635ce03bf6182d56aec7ef43bba798cf7/operator/parser/csv/csv.go#L47) configuration setting is unusually restricted in that it may only refer to an attribute. This will soon become an even more unusual restriction, when attributes may be structured.

[2022-03-22 16:48] djaglowski opened #10275 "[pkg/stanza] csv_input operator"

[2022-03-22 16:57] codeboten commented on #8787
@politician this issue is tracked in the collector release repo: https://github.com/open-telemetry/opentelemetry-collector-releases/issues/73. Please see the discussion there.

[2022-03-22 16:57] #8787 closed

[2022-03-22 20:15] tigrannajaryan commented on #8553
I don't see build-and-test / unittest (1.18) and build-and-test / unittest (1.17) in the available github actions to add:
![image](https://user-images.githubusercontent.com/4194920/159567933-570bc452-a9c6-4ced-ad03-e1798a4f6ea6.png)

Are they supposed to be available now or only after https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/8550 is merged?

[2022-03-22 21:30] codeboten commented on #8553
🤔 I would have expected them to be available after the tests were run in that PR. See https://github.com/open-telemetry/opentelemetry-collector-contrib/runs/5607180104?check_suite_focus=true

[2022-03-22 21:51] Aneurysm9 commented on #8546
The [`multimod sync` command](https://github.com/open-telemetry/opentelemetry-go-build-tools/blob/main/multimod/cmd/sync.go) should be able to handle this.  We use it in the [go-contrib repo](https://github.com/open-telemetry/opentelemetry-go-contrib/blob/main/Makefile#L209-L213) for this same purpose.

[2022-03-22 22:44] tigrannajaryan commented on #8553
They are not in the dropdown list. I can check again after the PR is merged.

[2022-03-23 00:19] nauticalmike commented on #433
Has been there any updates on this?
I'm trying to use the azuremonitorexporter (0.40.0) and when using an httpmole to sniff traffic out I can see the exporter does send data out, but when I use my app insights endpoint instead along with the instrumentation key, I don't see any trace data on the Azure UI's traces.
Any ideas?

[2022-03-23 06:10] jixiuf opened #8810 "make "/metrics" for `prometheusexporter` configurable"
**Is your feature request related to a problem? Please describe.**
make "/metrics" for  `prometheusexporter`  configurable in https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/exporter/prometheusexporter/prometheus.go#L75

[2022-03-23 12:11] hickeyma commented on #8546
Does Dependabot pickup the version change? Or am I missing the something?

[2022-03-23 13:23] architjugran commented on #7595
Verified that test is flaky. However, locally it is failing once in 100 runs.

Has it been a big problem for open telemetry dev? If yes, I can create a PR to disable the test temporarily, while I root-cause the issue.

[2022-03-23 13:36] jpkrohling commented on #8810
cc @Aneurysm9

[2022-03-23 13:45] jpkrohling opened #8811 "Add pmm-sumo to auto-assign"
@pmm-sumo has been recently made an approver but hasn't been added to the auto-assign file:

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/8c0ebe6f08d09f2c70a3d52f62b6203b6706ebe1/.github/auto_assign.yml#L11-L24

[2022-03-23 15:00] #8811 closed

[2022-03-23 15:57] #8187 closed

[2022-03-23 17:38] dmitryax opened #8815 "[receiver/hostmetrics/process_scraper] Rename metadata conflicting with the metrics package name"
The local variable name `metadata` conflicts with the generated package name and makes this less readable.

Originally posted by @djaglowski in https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/8555#discussion_r833274896

[2022-03-23 18:16] mx-psi commented on #8546
This would ideally happen at the PR level: if someone develops a new component, its `go.mod` file won't be considered by Dependabot since it won't be on the main branch. And even in the main branch, Dependabot does not immediately pick up new versions nor does it work with pseudoversions, so it wouldn't work most of the time.

[2022-03-23 18:29] hickeyma commented on #8546
Thanks for feedback @mx-psi.

I can take a look at `multimod sync command` as used in `go-contrib` if that's ok?

[2022-03-23 18:35] mx-psi commented on #8546
I am not familiar with the `multimod sync` command but I think it's worth giving it a try, and probably @Aneurysm9 can help with any questions

[2022-03-23 18:40] mwear opened #8816 "Scrape based receiver startup behavior"
**Background**
I started looking into this issue when I noticed that the kafkametricsreceiver crashes the collector if kafka is not available during startup. I originally started a discussion on #8349, but have found that this issue is more widespread, and that many receivers exhibit the same behavior if the service they monitor is not up at start time.

As a brief recap of the discussion on #8349

[2022-03-23 19:52] Aneurysm9 commented on #8546
Thinking about this again, isn't this covered by the [`make update-otel`](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/Makefile#L247-L248) target?  The [default version](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/Makefile#L5) for that is `main` and would cover the cases where we need to ensure the latest core is used between releases.

[2022-03-23 20:44] ericmustin opened #8819 "[attribute processor] `EXTRACT` action's "pattern" regex doesn't support creating attributes w/ period(`.`) separator that adhere to OTEL semconv format"
Hello.

Attempting to write a resource processor which extract from an attribute according to a pattern just like in the configuration

https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/313873df8c672548ba7afbc1d9208b5e18ac5707/processor/attributesprocessor/testdata/config.yaml#L39-L41

The attribute that it creates is specified by a named capture group in the golang regex. Thi

[2022-03-23 22:41] #433 closed

[2022-03-23 22:48] TylerHelmuth commented on #6484
@jpkrohling can this issue be closed?

[2022-03-23 22:51] nauticalmike commented on #433
Did you got it to work?

On Wed, Mar 23, 2022 at 6:41 PM Alexander Trauzzi ***@***.***>
wrote:

--
________________________________
Michael Acostamadiedo
(203)900-7850
********************************************
[image: Please consider the environment before printing]

[2022-03-23 23:27] TylerHelmuth commented on #5877
If the solution is to use regex instead of converting all metrics, how does everyone feel about providing an "opt-in" and "opt-out" approach?  There may also be times when it is easier to specify which metrics should not be converted.  Regex could be supported for both option.  The config could look something like:

[code]

[2022-03-23 23:33] jamesmoessis commented on #6484
Closing this as it's done.

[2022-03-23 23:33] #6484 closed

[2022-03-23 23:38] eedorenko opened #8823 "New component: Azure Blob Exporter"
## The purpose and use-cases of the new component

This exporter saves logs and traces to [Azure Blob Storage](https://azure.microsoft.com/services/storage/blobs/).

## Example configuration for the component
The following settings are required:

- `connection_string` (no default): Azure Blob Storage connection key, which can be found in the Azure Blob Storage resource on the Azure Portal.

The fo

[2022-03-24 01:59] dehaansa opened #8827 "New component: SAP HANA Receiver"
## The purpose and use-cases of the new component
The SAP HANA Receiver would collect metrics from SAP HANA Monitoring & Statistics views. It would leverage the golang [driver](https://github.com/SAP/go-hdb) written by SAP and the base sql package to execute the relevant queries. In this manner it could collect metrics about memory utilization, network usage, disk/volume IO, transactions, replicat

[2022-03-24 11:12] mx-psi commented on #8556
Thanks for the info and the logs, this is helpful. So,

- For `ReportController.OfirCounterTest`, we always have `Value: 20`; this means that (from 15:01 UTC to 15:29 UTC) there was no increase of the counter: the total sum stays the same. The  expected behavior of the Datadog exporter in this case is to report a value of 0 for all these points (since the delta, `20-20`, is zero). This is similar

[2022-03-24 11:38] mx-psi commented on #8819
@anuraaga, would the transform processor have the same limitation?

[2022-03-24 13:07] cpheps opened #8831 "[receiver/mongodbatlas] Duplicate Metrics"
**Describe the bug**
For metrics that have several datapoints identified by attributes, like [mongodbatlas.process.asserts](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/mongodbatlasreceiver/metadata.yaml#L140-L147), the datapoints are spread across duplicate metrics rather than all bundled under a single metric. This is causing an issue specifically in the g

[2022-03-24 13:59] ericmustin commented on #8819
Is the transform processor usable currently for trace data? i saw it's been kinda WIP / in flight so have been hesitant to touch it.

[2022-03-24 14:16] BinaryFissionGames opened #8833 "New component: Active Directory Domain Services Receiver"
## The purpose and use-cases of the new component
The Active Directory Domain Services Receiver would collect performance metrics relating to an [Active Directory Domain Services](https://docs.microsoft.com/en-us/windows-server/identity/ad-ds/get-started/virtual-dc/active-directory-domain-services-overview) instance.

Similar to the proposed [IIS](https://github.com/open-telemetry/opentelemetry-co

[2022-03-24 14:26] hickeyma commented on #8546
@Aneurysm9 I'll take a look.

[2022-03-24 15:30] carlosalberto commented on #8816
What errors would be included? I can only think of actually bad configuration (one that totally prevents the receiver to be started, ever).

[2022-03-24 16:04] dmitryax commented on #7145
@cpheps Sounds good. Thanks for your help

[2022-03-24 16:11] droonee commented on #2328
Are there any updates around collection of compressed .gz files and processing that data to be readable?

[2022-03-24 16:31] djaglowski commented on #2328
This is definitely a feature that needs to be added, but the priority has been on stabilizing the log data model and reworking the internals of this library to reflect the latest data model.

My best guess, barring a contribution from someone else, is that this will be completed in the next quarter.

[2022-03-24 17:32] jpkrohling commented on #8831
cc @zenmoto

[2022-03-24 17:41] jpkrohling commented on #8816
I think connections should be *attempted* at `Start`. If all components can be started without errors, we can mark the collector as healthy (in the health check extension). If anything fails, we can either wrap in a permanent error (we have such error in the code base), or in recoverable (not sure we have this). We can then either fail (permanent errors), or assume that the component will attempt

[2022-03-24 18:00] cpheps commented on #8831
Can someone assign this to me. I'm assigned to #7145 which I think will solve this issue also.

[2022-03-24 18:05] jpkrohling commented on #8831
Assigned, it would still be good to get an ack and review from the code owner for this component (@zenmoto).

[2022-03-24 18:55] eedorenko opened #8834 "New component: Azure Blob Receiver"
## The purpose and use-cases of the new component
This receiver reads logs and traces from [Azure Blob Storage](https://azure.microsoft.com/services/storage/blobs/).

Correlates with #8823

## Example configuration for the component
The following settings are required:

- `connection_string` (no default): Azure Blob Storage connection key, which can be found in the Azure Blob Storage resource on t

[2022-03-24 18:58] pmm-sumo commented on #8819
As far as I understand this is a limitation of the regex library. As a workaround, one can use a name without dots and then `update` action of the attributes processor (optionally followed by delete).

If we want to make it nice, we have at least several options:

* rename dots within capture group names to something else when compiling the regular expression (hacky)
* add another config option wi

[2022-03-24 19:17] pmm-sumo commented on #8827
I can volunteer as a sponsor :)

[2022-03-24 21:37] #8358 closed

[2022-03-24 22:09] hickeyma opened #8837 "[CI] 'update-otel' make target fails with 'go-chi' dependency issue"
**Describe the bug**
[opentelemetry-collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib) has a dependency on `gopkg.in/DataDog/dd-trace-go.v1 v1.37.0`. `gopkg.in/DataDog/dd-trace-go.v1 v1.37.0` has a dependency on `github.com/go-chi/chi v4.0.0-rc1`. However, the tag has been removed from the repository for `v4.0.0-rc1`.

This means then that the `update-otel` targe

[2022-03-24 22:13] hickeyma commented on #8546
Yes, they seem to get updated appropriately. Here is example of output from running the `update-otel` target:

[code]

Wrt symlink to `Makefile.common`, I checked as follows:

[code]

It have ascertained that line count of 0, 1, or 2 should be just link to `Makefile.common`. In other words: line without linefeed, one line or one line with an additional empty line. The following `Makefile` differed

[2022-03-24 22:16] hickeyma commented on #8546
I have opened #8837 as the `update-otel` target is failing because of the `go-chi` dependency issue. I pushed a PR to fix it for the time being until the dependency issue is resolved.

[2022-03-24 22:21] dmitryax opened #8840 "Add sem ver support in metadata.yaml"

[2022-03-24 22:33] dmitryax opened #8841 "[Metrics builder] Define resource schema in metadata.yaml and automatically set it in InstrumentationLibrary"
Schema should be defined as part of `resource` in metadata.yaml. The filed should be required

[code]

Doing that makes `wrapBySchemaURLSetterConsumer` function redundant, but it cannot be removed until processes scraper is migrated to the new metrics builder https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/7140.

[2022-03-24 22:41] dmitryax opened #8842 "[Metrics builder] Remove generation of Attribute constants"
After merging https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/8555, generation of Attributes is not needed anymore.

The only part of attributes that is still needed is attribute enum values. They should be replaced with `iota` constants which is tracked in https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/9595

[2022-03-25 00:04] davidmirza408 commented on #8188
@dmitryax In a previous PR you mentioned you would like to see filtering closer to what is being done in filesystem or disk.  What do you think of the below format
`receivers:
  hostmetrics:
    collection_interval: 10s
    scrapers:
      process:
        filters:
          -
            include_executable_name:
                match_type: string
                executable_name: [otel-collector,

[2022-03-25 00:30] dmitryax commented on #8188
So all rules within a filter are applied with AND operation, but filters themselves are applied with OR operation, right?

[2022-03-25 02:34] davidmirza408 commented on #8188
Yes, that's what I had in mind.  Thanks for the feedback.

[2022-03-25 06:41] ralphgj opened #8843 "loadbalancing exporter blocking the process of consume traces when loadbalancer backends change"
**Describe the bug**
Hi, we found the loadbalancing exporter sometimes would block all the request of upload trace data. So we add some logs and found the endpoint exporters that should be removed spent a long time.

In https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/exporter/loadbalancingexporter/loadbalancer.go#L121,
[code]
when loadbalancer backends changed, `lb.remo

[2022-03-25 09:02] pmalek-sumo commented on #7407
@jpkrohling Just wanted to ping this. Would you accept a PR adding this feature?

[2022-03-25 09:59] newly12 opened #8844 "[k8sattrprocessor] Allow to set namespace/pod annotations/labels to keys without prefix when using key_regex"
**Is your feature request related to a problem? Please describe.**
in cases we are interested in all the labels of a pod, which currently can be extracted via key_regex(`.*`), thus all labels are set to attribute `k8s.pod.labels.<key>`, there is no way to trim the prefix `k8s.pod.labels` either as defined in k8sattrprocessor nor resource/attributes processor, as they need keys to be defined explic

[2022-03-25 10:08] mx-psi opened #8845 "[exporter/datadog] Rename `metrics::report_quantiles` to `metrics::summaries::mode`"
### What will change?

The `metrics::report_quantiles` setting from the Datadog exporter will be renamed to `metrics::summaries::mode`, which will hold an enum. The setting name was taken from the Datadog OpenMetrics integration, but it limits future modes and it's not in a dedicated section for the metric type.

### Who is affected?

You are affected if you explicitly set `metrics::report_quantil

[2022-03-25 10:56] pmm-sumo commented on #8844
Although `k8s.pod.labels.*` are not specified in the [semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/resource/semantic_conventions/k8s.md) they follow the other Kubernetes attributes. If we want to enable non-prefixed labels, we might add a configuration parameter for the prefix, which might default to `k8s.pod.labels.`

I think replacin

[2022-03-25 14:59] mx-psi commented on #8553
The PR can't be merged (except if it's force-merged) since the name of the `unittest` job changed, so it is forever waiting:

![image](https://user-images.githubusercontent.com/5502710/160145856-c4a9ee57-13f2-47ed-965f-55f379b29756.png)